[2021-03-05 03:04] Romi-776 commented on #4636
@bpmcneilly, I checked the search result of the page who's link is given above.

I found out that on some pages there are small images of books listed below this line "n editions in n languages -- n previewable". These images of books have an empty alt attribute and doesn't have a title attribute.

**Example image:**
![Screenshot from 2021-03-05 08-23-17](https://user-images.githubusercontent.com/

[2021-03-05 03:04] Romi-776 commented on #4636
@bpmcneilly, I checked the search result of the page who's link is given above.

I found out that on some pages there are small images of books listed below this line "n editions in n languages -- n previewable". These images of books have an empty alt attribute and doesn't have a title attribute.

**Example image:**
![Screenshot from 2021-03-05 08-23-17](https://user-images.githubusercontent.com/

[2021-03-05 03:59] cdrini opened #4728 "Barcodescanner should have a "Add to list" button"
Since you can scan multiple books using the barcode scanner, there should be an option to add the books to a list or reading log. Maybe we can re-use the "Want to read" button html, and change it so that all the scanned books are added to the list or reading log?

### Describe the problem that you'd like solved

### Proposal & Constraints

Whoever picks this up, please take inspiration from https:

[2021-03-05 04:00] cdrini commented on #4708
Created an issue for that here: #4728

[2021-03-05 04:59] cdrini commented on #3399
All images should now be CORS-able 🎉

[2021-03-05 04:59] #3399 closed

[2021-03-05 11:05] cclauss opened #4733 "Intermittent build bug in node_modules/@vue ... entry-wc.js"
### Evidence / Screenshot (if possible)

Run `docker build -t openlibrary/olbase:latest -f docker/Dockerfile.olbase .` on an M1 Mac generates the errors below.  _Rerunning the same command succeeds._  This happened on ol-home0 [deploy-2021-03-04](https://github.com/internetarchive/openlibrary/releases) and also on my local M1 Mac afterwards.

___You may need an appropriate loader to handle this fi

[2021-03-05 11:23] nynaalekhya commented on #4636
@Romi-776,
I'm working on this issue.

[2021-03-05 11:26] nynaalekhya commented on #4636
![wave_books](https://user-images.githubusercontent.com/50094420/110109466-574f1680-7d62-11eb-91af-387ebf3d419a.JPG)
There are nine img without alt attribute in preview covers section

[2021-03-05 11:37] nynaalekhya commented on #4638
@bpmcneilly,
Thank you for asking! There are two img missing alt attributes, one in loading indicator section and another in donation info @Romi-776 mentioned.

[2021-03-05 11:37] nynaalekhya commented on #4638
![wave_book](https://user-images.githubusercontent.com/50094420/110110764-2a9bfe80-7d64-11eb-9e76-804e38618330.JPG)

[2021-03-05 12:26] seabelis commented on #3084
I would be fine with the field being called 'Responsibility'. Ideally there would also be a way to label the role as author, editor, etc.

This does come up occasionally via patron services requests when editors personally ask to have their role appropriately labeled.

[2021-03-05 13:56] cdrini commented on #4733
Ahhhh, I think I know what's happening! Looks like this build flow can't run `--mode {} ::: development production` in parallel! It tries to edit the same file. I'm just going to remove the `development` mode entirely; haven't found it that useful anyways.

[2021-03-05 16:05] lephemere opened #4738 "Checkbox near dropdown button in top navigation bar"
Presence of checkbox in the top navigation bar near `Browse`, `More` and user avatar (When logged in) on dev.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/73437497/110138154-f6f7bd80-7dd1-11eb-8c28-3347c2031ded.png)

### Relevant url?

### Steps to Reproduce

* Actual: Visible checkbox
* Expected: None or hidden checkbox

### Details

- **Logged in (Y

[2021-03-05 16:10] cclauss commented on #4671
@rmtobin There are two new [sets of dumps](https://archive.org/details/ol_exports?sort=-publicdate) from 02-26 (Python 3) and 02-28 (Python 2) that I will start to look into next week.  Please let me know your thoughts if you have time.  Thx!

[2021-03-05 18:24] melissa-tan10 commented on #4521
I can work on Edit Profile Page Images for Accessibility #4646

[2021-03-05 18:36] melissa-tan10 commented on #4640
The alt attribute is labeled inconsistently.

Here it is labeled as "Internet Archive logo":
![image](https://user-images.githubusercontent.com/69818577/110158720-b7bc7300-7db7-11eb-9c21-1937d3d451bb.png)

In the rest of the file it is null:
![image](https://user-images.githubusercontent.com/69818577/110158634-9eb3c200-7db7-11eb-8ca6-e69b037fc402.png)

[2021-03-05 18:42] melissa-tan10 opened #4740 "Testing Library Explorer Images for Accessibility #4640"
The alt attribute is labeled inconsistently.

Here it is labeled as "Internet Archive logo":
![image](https://user-images.githubusercontent.com/69818577/110159302-85f7dc00-7db8-11eb-85cf-3e8b98441f32.png)

In the rest of the file it is null:
![image](https://user-images.githubusercontent.com/69818577/110159350-96a85200-7db8-11eb-9d40-1813835e7053.png)

[2021-03-05 18:43] #4740 closed

[2021-03-05 23:24] cdrini commented on #4704
We can now set `sort=random.hourly`! Updated in description.

[2021-03-06 00:50] #2815 closed

[2021-03-06 02:58] ruddi10 commented on #4728
Hey @cdrini I am new to this org and would like to contribute starting with this issue can you assign this issue to me.

[2021-03-06 10:39] ArunTeltia commented on #4474
Just Curios about this PR, Would not it will be messier if all the js file will be put inside one file, Though I want to help in one of the fie as well, can I work on covers folder

[2021-03-06 16:59] #4638 closed

[2021-03-06 17:09] #4636 closed

[2021-03-06 17:29] #3896 closed

[2021-03-06 17:46] jdlrobson opened #4746 "Fix svgo and minify SVG assets"
when running `npm run svg-min` i get:

[code]

This should be fixed and we should minify all existing SVGs in the repo.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Con

[2021-03-06 18:34] jdlrobson commented on #4474
The motivation is to get all the javascript in one place to make us less confident making changes there. Having code in one place also allows us to reuse and refactor our code.

In javascript we can import JavaScript so the intention is for large blocks of JavaScript they will live in their own file and be imported asynchronously where needed.

[2021-03-06 20:11] khabdrick opened #4747 "Add video tutorial for contributing"
### Summary
I thought about this issue because, I am aware there are some people who have a hard time going through the documentation and all, and coming from a self-thought background I can understand that, we always looked to video tutorials to learn new things. The screencast/video tutorial will be just to help newcomers have an easy time contributing instead of overwhelming themselves with the

[2021-03-06 20:42] #2490 closed

[2021-03-06 21:01] #4733 closed

[2021-03-06 21:41] khabdrick commented on #2777
Hello @mekarpeles , this issue has been open for a while, is it still available to be worked on, or there's no need to work on it anymore?

[2021-03-07 00:01] cclauss commented on #4747
Five videos:
* Four videos: https://github.com/internetarchive/openlibrary/blob/master/CONTRIBUTING.md
* One video: https://github.com/internetarchive/openlibrary/wiki/Deployment-Guide

[2021-03-07 04:12] Yashs911 opened #4752 "Same Readers Stats for all editions of a Book"
Same Readers Stats for all editions of a book. When we give a rating the value is passed to all other editions of that book. Same with Want to Read, Currently Reading, Have Read
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/64412143/110228693-210fc380-7f29-11eb-9966-357f87680c63.png)
![image](https://user-images.githubusercontent.com/64412143/110228701-

[2021-03-07 17:25] khabdrick commented on #4747
Ohhh, yeah
wasn't aware

[2021-03-07 17:25] #4747 closed

[2021-03-08 05:03] Yashs911 commented on #4634
@bpmcneilly  For this page, I guess it's better to just add alt to the image without merging both links

[2021-03-08 06:59] khabdrick opened #4771 "Typo"
### Relevant url?
https://github.com/khabdrick/openlibrary#developers-guide

### Steps to Reproduce

1. Go to the link above

* Actual: it says "...refer the Developer's Quickstart Guide."
* Expected: instead of  "...refer to the Developer's Quickstart Guide."

### Details
Updating the readme file

[2021-03-08 08:39] seabelis opened #4773 "Occasional errors when using sync button"
Occasionally, when using the sync button on an Open Library record, an error will be displayed.
### Evidence / Screenshot (if possible)

### Relevant url?
 https://openlibrary.org/books/OL32014169M/Black_Women%27s_History_Theory_and_Practice

### Steps to Reproduce

1. Go to ... https://openlibrary.org/books/OL32014169M/Black_Women%27s_History_Theory_and_Practice
2. Do ... Use Sync button

* Actua

[2021-03-08 14:09] seabelis opened #4774 "Add name and 'best way to contact you' fields to contact form"
Per request by Liz R. in Patron Services, please add two additional fields to contact form as this is a primary way for donors to reach out.
Add the following as optional:

1. patron name
2. best way to contact you

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context
https://openlibrary.org/contact

### Stakeholders

[2021-03-08 16:11] #4771 closed

[2021-03-08 16:31] nynaalekhya commented on #4708
@mekarpeles Could I work on this issue

[2021-03-08 17:42] #4657 closed

[2021-03-08 17:51] mekarpeles commented on #4383
@cclauss can we move

to a separate issue (as we'll probably not attack it in the near-ish future, that way we can close this monolith and prioritize the new issue accordingly

[2021-03-08 17:52] mekarpeles opened #4775 "Move ol-home / ol-www ipstats cron job + ol-home solr to ol-home0"
_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/issues/4383#issuecomment-792948485_

Related:
* https://github.com/internetarchive/openlibrary/issues/5144

* [ ] sitemap rsync should run on ol-home0 [Slack thread](https://internetarchive.slack.com/archives/C075DJ6G1/p1614111981011600) <details>The sitemaps are generated on ol-home0 and copied over to ol-www1 whe

[2021-03-08 18:00] #3667 closed

[2021-03-08 18:05] mekarpeles opened #4776 "Cleaning up Python 2"
Continuation of #4384
- [x] Infogami
    - [x] Add mypy to Continuous Integration using `setup.cfg` to log exclusions internetarchive/infogami#155
    - [x] Get GitHub Actions to pass all tests that Travis CI passed internetarchive/infogami#154
    - [x] Remove Travis-CI internetarchive/infogami#158
    - [x] Add more [flake8 tests](https://github.com/internetarchive/infogami/blob/master/.github/w

[2021-03-08 18:06] mekarpeles commented on #4384
This can be closed, the remaining tasks have been moved to #4776. We have a bit more work to do re: ol-dumps cron, but we've already made our docker instances Py2-only, and so we accept the risk that breaking py2 changes could occur on remaining ol-home crons.

[2021-03-08 18:06] #4384 closed

[2021-03-09 14:43] #4722 closed

[2021-03-09 14:56] dcapillae commented on #4773
The same thing happens to me. For example, with [this book](https://openlibrary.org/books/OL32025022M) or [this one](https://openlibrary.org/books/OL32005319M). I have tried other books on the Internet Archive not uploaded by me and the same thing happens.

[2021-03-09 15:09] cclauss commented on #3038
Closed because all files have been fixed or deleted.

[2021-03-09 15:09] #3038 closed

[2021-03-09 15:16] #4383 closed

[2021-03-09 15:44] cclauss commented on #2970
@user404d Can this issue be closed?  The underlying issues were closed and Docker Desktop is now on [v3.2.1](https://docs.docker.com/docker-for-windows/release-notes).

[2021-03-09 16:44] cclauss commented on #4396
@jdlrobson @jamesachamp This is the continuation of #4011...  What are the next steps?

[2021-03-09 17:44] jdlrobson commented on #4396
@cclauss someone needs to analyse what this entails.

I guess we'd need to find some upgrade notes for jumping from 0.8.3 to 4.2.1 given that's several major versions. We're going to need to change the underlying JS that uses the library.

If not trivial, we may want to take the opportunity to reconsider our graphing library as part of this.

[2021-03-09 17:52] seabelis commented on #4562
This seems to have been a one-off. I'm closing for now.

[2021-03-09 17:52] #4562 closed

[2021-03-09 18:37] user404d commented on #2970
Yes it can be closed.

On Tue, Mar 9, 2021, 09:44 Christian Clauss <notifications@github.com>
wrote:

[2021-03-09 19:22] mekarpeles commented on #4708
I believe @Sabreen-Parveen was interested in trying this issue (Sabreen, can you confirm here on this thread so the UI will let me assign the issue to you?) -- @nynaalekhya there's another improvement to the barcode scanner #4728 which we'd love your help with, if you're willing!

[2021-03-09 20:10] Sabreen-Parveen commented on #4708
Yes @mekarpeles, I am interested in working on this issue, it would be great if you would assign this to me :)

[2021-03-09 20:37] jamesachamp opened #4781 "Improve book notes modal"
The current book notes modal lacks styling and contains an overwhelming amount of content:

![current_modal](https://user-images.githubusercontent.com/28732543/110534024-9aa3df00-80ec-11eb-8302-8a70c609ea59.png)

It is also unclear to patrons that they need not answer every question in the form before submitting.

### Describe the problem that you'd like solved

### Proposal & Constraints

1. Redu

[2021-03-09 21:12] BrittanyBunk opened #4783 "Add book subtitles to lists"
Problem:
right now, putting subtitles into the subtitle box doesn't work out for titles that have the same name, as they all look the same in lists - due to the subtitles not showing up in lists. This forces people to write what should be in the subtitles in the titles and is just a mess and overall hard to read and disorganized.

Solution:
Add subtitles to lists, so that subtitles can be written

[2021-03-10 02:52] Yashs911 commented on #4783
@BrittanyBunk I would like to work on this issue.

[2021-03-10 03:10] BrittanyBunk commented on #4783
@Yashs911 thanks, but I can't assign anything to anyone.

[2021-03-10 04:28] #2316 closed

[2021-03-10 05:57] mekarpeles commented on #4752
Closing this is a non-issue -- these Reading Log stats are computed at a work level (not an edition level) so aggregate totals are reflected e.g. across editions. Otherwise, the data becomes too fragmented in many cases to be useful.

[2021-03-10 05:57] #4752 closed

[2021-03-10 06:09] Yashs911 commented on #4646
@bpmcneilly Any update on this

[2021-03-10 06:10] nynaalekhya commented on #4708
Hi @mekarpeles 😄
I have completed working on this issue since the issue has not been claimed on this thread.

[2021-03-10 06:14] Yashs911 commented on #4640
@melissa-tan10 According to https://github.com/internetarchive/openlibrary/issues/4521#issuecomment-772730099 the empty alt attr for the logo is fine.
@bpmcneilly Alt attr is missing from the book covers present on this page.

[2021-03-10 10:07] ArunTeltia commented on #4746
Can I work on this issue @jdlrobson

[2021-03-10 10:30] ArunTeltia opened #4786 "Subject are barely readable by users when someone came to check the book"
### Describe the problem that you'd like solved

The subject section when a reader opens a book is not user friendly or i mean to say readable (See Image)
![afdewew](https://user-images.githubusercontent.com/43555219/110615322-503c6400-81b9-11eb-8b09-c89712cc4d9a.PNG)

Url in this image:

### Proposal & Constraints

We can add some padding between each subjects to make it more readable

### Additi

[2021-03-10 10:43] ArunTeltia opened #4787 "in /subjects can we put the title for the subject in the same line as of sub titles"
### Describe the problem that you'd like solved

See the picture
![ui changes](https://user-images.githubusercontent.com/43555219/110616875-11a7a900-81bb-11eb-8daa-bf87eb2c70c6.PNG)

Suggestion: Can we sort the title in alphabetic order

### Stakeholders

@mekarpeles @jdlrobson

[2021-03-10 11:08] ArunTeltia opened #4788 "Hamburger sign in the home page in mobile view"
### Evidence / Screenshot (if possible)
![hamburger sign](https://user-images.githubusercontent.com/43555219/110619553-f68a6880-81bd-11eb-84de-e9199ce1e8c5.PNG)

### Relevant url?

home url
### Steps to Reproduce

1. Go to openlibrary.org view it in the mobile screen and click on the hamburger sign and more sign

* Actual: The hamburger sign is not really needed in the website the "more" in the na

[2021-03-10 14:58] ArunTeltia commented on #4788
Hmm I think the extra can be deleted or Login and Logout can simply be added to more option.

[2021-03-10 15:52] ArunTeltia opened #4789 "In the /subjects there are some input inbox box at every navbar and also the hamburger icon on expand overlap with browse"
### Evidence / Screenshot (if possible)
![subjects](https://user-images.githubusercontent.com/43555219/110655327-f782c080-81e4-11eb-8b4d-181f4e66cf39.PNG)
![subject2](https://user-images.githubusercontent.com/43555219/110655536-25680500-81e5-11eb-8102-1a5bf0b6462c.PNG)

### Relevant url?

https://openlibrary.org/subjects

### Steps to Reproduce

1. Go to https://openlibrary.org/subjects

* Actual:

[2021-03-10 16:02] Yashs911 commented on #4789
@ArunTeltia can't reproduce this error on Microsoft edge

[2021-03-10 16:51] ArunTeltia commented on #4789
Here Check it out
https://user-images.githubusercontent.com/43555219/110665444-644e8880-81ee-11eb-9c9d-ac5fec72a935.mp4

In google Chrome
![Screenshot (59)](https://user-images.githubusercontent.com/43555219/110666060-fa82ae80-81ee-11eb-9045-c279386f2444.png)

[2021-03-10 18:03] jdlrobson commented on #4789
this is a caching issue. Please run `make css`.

[2021-03-10 18:03] #4789 closed

[2021-03-10 19:49] #4611 closed

[2021-03-10 21:18] mekarpeles opened #4791 "Create a json endpoint for the /account/loans page"
### Describe the problem that you'd like solved

using core.lending ia_lending_api in plugins.upstream.accounts.py to display loans as json

[code]

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-03-11 00:05] jdlrobson commented on #1708
I believe this is fixed. Please reopen if not.

[2021-03-11 00:07] jdlrobson commented on #4788
the hamburger is a well established UX pattern. If we're getting rid of either I would suggest removing the more menu, but please don't jump into writing a patch just yet. A lot of the UI could do with an overhaul.

I think actually what we'd want to do is make sure the user login link and hamburger links is always present (on desktop and mobile) and drop the more menu completely.

[2021-03-11 02:47] jamesachamp opened #4792 "Updating book notes fails due to KeyError"
All attempts to update an existing book note cause a KeyError and fail.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to a book page and open the book notes modal
2. Submit a book note
3. Navigate back to the page from the `/notes.json` page
4. Reopen the modal and submit an updated note

* Actual: Error screen is displayed and trace stack in logs refer

[2021-03-11 05:30] Yashs911 opened #4794 "Bad UI of User Lists + Minor design improvement of Lists Page"
The content of My lists is not aligned properly. + Minor design improvement on the Lists page.
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/64412143/110740194-a57b8280-8258-11eb-8d17-6e5a56ff0208.png)
### Relevant url?

https://openlibrary.org/people/yashs911
https://openlibrary.org/lists
### Steps to Reproduce

For lists page
* Actual:
![image](https:

[2021-03-11 05:32] Yashs911 commented on #4794
I was also wondering can we remove the **No description** text because the majority of lists don't have description.

[2021-03-11 05:42] Yashs911 opened #4795 "Add "Import and Export Options" to My Profile"
### Describe the problem that you'd like solved

Being an OL member for the past 5 months I was not aware exactly where this option was until today I found it in Settings.
I believe this feature should be added to the More menu / My profile so that more users will come to know about this.

### Stakeholders

@mekarpeles

[2021-03-11 05:52] Yashs911 opened #4796 "Add more data to Reading Log Export Option"
I exported my reading log and the data I got:
![image](https://user-images.githubusercontent.com/64412143/110741929-7adef900-825b-11eb-8e7c-7df19ccc793b.png)

While I did a similar export from Goodreads and the data I got:
![image](https://user-images.githubusercontent.com/64412143/110742033-a82ba700-825b-11eb-9a52-3b65adce5199.png)

### Describe the problem that you'd like solved

So I believe we

[2021-03-11 18:47] ps364279 commented on #4794
Should I do it

[2021-03-11 21:18] sharur7 commented on #4795
Can I work on this isssue?
@Yashs911

[2021-03-12 10:58] bitnapper opened #4797 "Adding the Klingon Language"
I know it may sound stupid for some but there are books written in Klingon like The little Prince (Ta' puq mach) and klingon dictionaries. But there is no entry for the Klingon language. Would be nice to be able to set the language to klingon for thos works.

[2021-03-12 11:14] Yashs911 commented on #4794
@ps364279 Yeah you can go ahead and create a PR. If you need any help just ping me.

[2021-03-12 11:16] Yashs911 commented on #4795
@sharur7 I would suggest you to wait. Once it's finalized where we want to add the option then you can create a PR.

[2021-03-12 13:44] Sabreen-Parveen commented on #4728
@mekarpeles @cdrini I would like to work on this issue.

[2021-03-12 15:55] cclauss commented on #4796
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/upstream/account.py#L884 would be a good starting point.

[2021-03-12 15:58] sharur7 commented on #4795
Cools!

[2021-03-12 16:21] seabelis commented on #4797
I've run into this as well. I had to use 'Multiple Languages' because Klingon is not available.

[2021-03-12 16:28] seabelis commented on #357
Yes, this can be closed for re-evaluation.

[2021-03-12 16:28] #357 closed

[2021-03-12 17:08] cclauss commented on #4797
https://openlibrary.org/books/OL6805303M/The_Klingon_Hamlet

[2021-03-12 18:04] tfmorris commented on #4797
I can certainly see why people would think it's stupid, but the Library of Congress assigned a [language code](https://www.loc.gov/marc/languages/language_code.html) `tlh`, so it's easy enough to include. It's got the same code in ISO 639-2. https://www.loc.gov/standards/iso639-2/php/code_list.php

[2021-03-12 19:43] tfmorris opened #4799 "Author names with composed diacritics don't autocomplete"
This author name cut & paste directly from WorldCat doesn't autocomplete, even though the record exists: Hildegard Höhr
Manually changing the spelling to use a letter with precomposed diacritic allows the autocomplete to find the correct record. This will cause duplicate author records to be created.

### Evidence / Screenshot (if possible)
![Screen Shot 2021-03-12 at 2 37 31 PM](https://user-ima

[2021-03-12 19:46] tfmorris opened #4800 "Author names with embedded dashes don't autocomplete"
Author names with embedded dashes (e.g. hyphenated last name) don't autocomplete. This will cause contributors to unwittingly create duplicate author records if they don't realize they need to manually remove hyphens before attempting autocomplete.

### Evidence / Screenshot (if possible)
![Screen Shot 2021-03-12 at 2 34 30 PM](https://user-images.githubusercontent.com/82178/110990481-62490e80-834

[2021-03-13 07:09] ikhichar commented on #3523
I'll work on this issue if nobody else is already. May I be assigned this issue?

[2021-03-13 10:23] PawelBorkar commented on #4492
@jdlrobson I would like to work on this issue if @sukhpreet-singh1 is no longer working on it and if @jayantchaudhary002 has no problem with it then will you please assign it to me?

[2021-03-13 10:35] Yashs911 commented on #4492
@PawelBorkar As there is no activity for the past 14 days. I would suggest you to go ahead and create a PR.

[2021-03-13 10:37] Yashs911 commented on #3523
@ikhichar If you know how to fix it then please submit a PR. Waiting is not required.

[2021-03-13 10:38] PawelBorkar commented on #4492
Thanks.

[2021-03-13 10:58] nynaalekhya commented on #3523
@ikhichar  I have already linked a PR,

[2021-03-13 11:00] Codain commented on #3523
Note that there are already 3 PR on this issue.

[2021-03-13 12:12] Dinesh101041 commented on #4800
Can i work on this issue can you fully elaborate the issue and

[2021-03-15 01:29] jamesachamp opened #4801 "Create tables for patron observations"
### Describe the problem that you'd like solved

Observations submitted by patrons via the book notes modal are persisted in The Best Book On database.  Storing this data in Open Library's database instead will make some book notes features more performant and easier to implement.

### Proposal & Constraints

Create three new tables in Open Library's database:
1. `observation_types` will contain a

[2021-03-15 01:44] jamesachamp opened #4802 "Complete basic CRUD functionality for book notes modals"
### Describe the problem that you'd like solved

When a patron submits observations for a work and later opens the book notes modal for the same work, the previously submitted values should be checked in the form.  Patrons should be able to update their observations by resubmitting the form.

### Proposal & Constraints

### Additional context

This will require new observations tables in Open Libr

[2021-03-15 05:37] hornc opened #4804 "Borrow redirects contain utf8 in the header location: field, causing gunicorn error"
From
https://sentry.archive.org/sentry/ol-web/issues/10505/
mentioned in #4092

example:
[code]

The sentry logs show this occurring in borrow redirects, maybe `type/redirects` do the correct URL encoding.

Looks like gunicorn is has a hard coded latin-1 as a character set for HTTP headers:

https://github.com/benoitc/gunicorn/blob/b83448bfb42184f43adf155f86bcd2a570a1139d/gunicorn/http/wsgi.py#L32

[2021-03-15 11:26] Priyaraj17 commented on #4492
Is this issue open? I would like to contribute to it.

[2021-03-15 16:36] mekarpeles opened #4806 "On deploy, limit docker to 3 images"
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-03-15 17:28] mekarpeles commented on #4797
Language is language -- let's make works as easy as possible for people to discover and as useful as possible. Especially if there are contributors interested in adding translations. The standard steps should apply re: setting up a `tlh` directory within i18n.

@bitnapper would you like to own this one? And do you have any questions?

https://openlibrary.org/i18n

[2021-03-15 17:40] mekarpeles opened #4807 "Fixing daisy lock icon (incorrect img path)"
I think we may have an incorrect image path which you can see in the editions table beneath the borrow button:
`/images/icons/icon-encrypto-sm.png` should be `/static/images/icons/icon-encrypto-sm.png`

### Evidence / Screenshot (if possible)

see:
http://staging.openlibrary.org/books/OL9240710M/Understanding_Comics

![staging openlibrary org_books_OL9240710M_Understanding_Comics](https://user-ima

[2021-03-15 19:21] cdrini opened #4810 "Import API failing with "startswith first arg must be bytes or a tuple of bytes, not str""
Saw a spike in sentry ( https://sentry.archive.org/sentry/ol-web/issues/16149 ) when ImportBot BWB import was running. Don't know what specific datum caused the issue, but the endpoint was a POST https://openlibrary.org/api/import . The error was `startswith first arg must be bytes or a tuple of bytes, not str` in https://github.com/internetarchive/openlibrary/blob/c8b602677e95ab70d05524f19c6870d4

[2021-03-15 19:38] #4810 closed

[2021-03-15 22:07] #4704 closed

[2021-03-16 00:08] cdrini commented on #4797
@seabelis You should have perms to create this here: https://openlibrary.org/languages/tlh.yml?m=edit ; you might want to copy https://openlibrary.org/languages/eng.yml?m=edit as a template.

[2021-03-16 02:35] #4807 closed

[2021-03-16 02:56] #4634 closed

[2021-03-16 03:13] jdlrobson opened #4815 "Bump css-loader from 3.6.0 to 5.x.x #4765"
IN #4765 Dependabot tried to upgrade our version of css-loader to 5.1.1

Unfortunately, this upgrade breaks the loading of static image and font assets which now resolved differently.

* Expected:

- [ ] css-loader is upgraded to the latest version (5.x.x)
- [ ] make css works without error
- [ ] make js works without error
- [ ] static asset URLs are not resolved - we do not want to embed fonts a

[2021-03-16 05:21] Yashs911 commented on #3493
@tabshaikh @jdlrobson Any update on this.

[2021-03-16 06:12] cclauss commented on #4797
We already have a label for **Internationalization (i18n)** but now do we need to add a new label for **Intergalactization (i16n)**? ;-)

[2021-03-16 08:22] Yashs911 commented on #4492
@PawelBorkar Are you working on this issue? If not @Priyaraj17 you can go ahead and create a PR

[2021-03-16 08:31] PawelBorkar commented on #4492
I have almost set-up the dev environment but unable to run it on localhost:8080 i'm troubleshooting it whereas I have no problem with @Priyaraj17 delivering the PR earlier if possible.

[2021-03-16 08:34] PawelBorkar commented on #4492
@Priyaraj17 If in case you haven't read it [good place to start](https://github.com/internetarchive/openlibrary/issues/4492#issuecomment-771316209)

[2021-03-16 08:34] Yashs911 commented on #4492
@PawelBorkar If you need any help regarding you can ask on Gitter (https://gitter.im/theopenlibrary/Lobby) or ping me.

[2021-03-16 09:47] cclauss opened #4827 "Our pytests fail when upgrading to isbnlib 3.10.6"
Fixed in #4825

### Evidence / Screenshot (if possible)
See the failing pytests in #4825

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2021-03-16 10:05] Priyaraj17 commented on #4492
@Yashs911 Thank you, I will get to work.

[2021-03-16 10:06] Priyaraj17 commented on #4492
@PawelBorkar  Thank you.

[2021-03-16 10:22] #2970 closed

[2021-03-16 13:26] cclauss opened #4830 "Enable deployment roll back to a previous Docker image"
Relates to #4806

As a deployment operator, how can I smoothly roll back to a previous Docker image when a deployment has issues?

### Describe the problem that you'd like solved

I do a deployment and I see there are issues that require me to roll back to a previous Docker image.

% `cat rollback_oldev.sh`
[code]
Issues:
1. `docker tag` needs an image `TAG`, not an `IMAGE ID`.
2. Docker image TAG

[2021-03-16 15:12] drakene commented on #4474
Now that covers is done, I can move to work on the admins folder next @jdlrobson. I don't think I see anyone who has jumped on it yet.

[2021-03-16 15:48] bitnapper commented on #4797
@mekarpeles I'm not sure what you're asking. I don't think translating the interface into Klingon is a good idea (I don't think its a bad idea in general but I don't know any Klingon ... ). For now I'd be happy if an editions language can be set to Klingon.

[2021-03-16 17:06] seabelis opened #4832 "Save_many fails for specific set of work IDs"
When using colab to migrate these work editions OL15037366W,OL15037371W,OL16056627W into OL73087W
an error is thrown.

### Evidence / Screenshot (if possible)

### Relevant url?
https://colab.research.google.com/drive/1OdyL5nPf4PEaWavuxCDYs9q2C4JKrP90#scrollTo=oODoBD3kHk6v&line=1&uniqifier=1
### Steps to Reproduce

1. Go to ... https://colab.research.google.com/drive/1OdyL5nPf4PEaWavuxCDYs9q2C4JKr

[2021-03-16 17:28] saketsarin commented on #4492
Hey there. Just wanted to check if @sukhpreet-singh1 or @Priyaraj17 are still working on this or can I hop in and help fixing it :D

[2021-03-16 17:44] seabelis commented on #4151
Patrons are reporting these asking for removal.

[2021-03-16 18:00] #4827 closed

[2021-03-16 18:13] jdlrobson commented on #4492
Please can I ask that people stop commenting on this ticket requesting to work on the task? I am getting an email notification every time that happens and it's getting annoying.

If you want to work on this task, provided nobody has submitted a pull request please simply submit a patch.

Please only comment if you have a comment about the implementation of the task.

[2021-03-16 22:18] jdlrobson commented on #4578
Please consider using  https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share and supporting whatever the user has installed on their phone and replacing these icons with a single unbiased-towards-a-single-platform share button.

[2021-03-16 22:21] jdlrobson commented on #4474
@yashs911  @nynaalekhya how are you  getting on with your parts of this task?

[2021-03-17 04:34] cdrini commented on #4797
Ok, I created the language! Hello Klingon :)

![image](https://user-images.githubusercontent.com/6251786/111415504-703bbe00-86b8-11eb-902d-278d88f580dc.png)

[2021-03-17 04:34] #4797 closed

[2021-03-17 06:48] cclauss commented on #4797
majQa'.

[2021-03-17 11:58] seabelis opened #4838 "ebook terminology confusing to patrons"
Patrons sometimes write in saying they use the ebook filter with unexpected results. Most people unfamiliar with how the term 'ebook' is used on Open Library expect to see a list of editions available in an ebook format, unrelated to the lending library.

### Proposal & Constraints

Update terminology so that there is some clear distinction between an ebook format and editions available inlibrary

[2021-03-17 12:26] shrey27tri01 commented on #4746
Any updates on this issue? Can I work on this?

Also, how should I go about fixing this? As far as I can see, I am unable to see an issue with the existing [svgo](https://github.com/svg/svgo) package in the repository. Also, I found [this](https://github.com/internetarchive/openlibrary/issues/1368) issue which implemented svg minification. Any pointers as to how to fix this would be helpful :sweat

[2021-03-17 12:35] Yashs911 opened #4839 "npm run lint error"
npm version 7.5.4
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/64412143/111468074-2d76f600-874b-11eb-99e5-fbcf3983ec16.png)

### Stakeholders

[2021-03-17 17:43] cclauss commented on #4839
https://www.npmjs.com/package/mkdirp seems to be missing.

Our GitHub Actions successfully [run that test](https://github.com/internetarchive/openlibrary/runs/2132970269#step:5:10) on every pull request.

Did you try with [npm v7.6.3](https://www.npmjs.com/package/npm)?

[2021-03-17 17:53] cclauss commented on #4839
Perhaps see 4852 https://github.com/internetarchive/openlibrary/pulls

[2021-03-17 18:04] cclauss commented on #4839
@cdrini on #3408 say:

[2021-03-17 19:18] Swapnil-2001 opened #4859 "Request guidance on IAUX for GSOC 2021"
Hello,

My apologies if this is not the right place, but I would be very grateful for some assistance with this year's [GSOC project ideas](https://docs.google.com/document/d/1qt1dfk6rNE3yzMJXbriDjpeDrn6LQeiXviREvnXP6bE/edit#heading=h.5qhlrygrim5x).

I've tried to reach out to potential mentors via the emails provided but haven't received a reply yet. I've also sent in a few PRs and opened issues

[2021-03-17 20:18] shrey27tri01 commented on #4796
Can I work on this issue?

[2021-03-17 20:35] cclauss commented on #4796
@shrey27tri01  Thanks for your interest.  You do not need to wait for permission.  If you feel like you can fix this issue then please submit a pull request.  Let us know if you need any help.

[2021-03-17 21:43] hornc commented on #4621
@mekarpeles @cclauss

I just got burned by this issue when downloading the Feb dumps from https://archive.org/download/ol_dump_2021-02-28

I was looking to update the orphaned edition counts, that data shows 4M, which is double the last proper count. That gave me a scare :)

The data looks like it is simply out of date, the most recent last modified date in the editions dump is `2019-03`, which ma

[2021-03-18 02:39] jamesachamp commented on #2777
@b-thebest Sorry for the delay!  Are you still interested in working on this?

[2021-03-18 04:30] Ayushsunny commented on #4815
I would like to work on this issue

[2021-03-18 06:43] Yashs911 commented on #4839
@cclauss Installing `mkdirp` doesn't solve the problem.
Same error with npm version 7.6.3

[2021-03-18 20:55] cclauss commented on #4859
Can you please be clear about what guidance you are interested in?

Also please provide links to your previous PRs and issues because
https://github.com/internetarchive/openlibrary/pulls?q=author%3ASwapnil-2001 shows no PRs and
https://github.com/internetarchive/openlibrary/issues?q=author%3ASwapnil-2001 shows only this issue.

[2021-03-19 06:20] Ayushsunny commented on #4815
Hello @jdlrobson actually I'm new to this open-source, so can you explain bit more like what exactly I have to do and where is the code base of this issue so I can easily find out and work.

[2021-03-19 08:30] #4804 closed

[2021-03-19 08:32] #4781 closed

[2021-03-19 08:47] #4792 closed

[2021-03-19 13:55] Yashs911 commented on #4815
@Ayushsunny First you need to set up the local env. After that install the latest version of css-loader (https://www.npmjs.com/package/css-loader) using `@latest`. Run `make css` and `make js` and send a PR.
Although I don't know what needs to be done for the 4th checkpoint (`static asset URLs are not resolved`)

[2021-03-19 14:04] Yashs911 commented on #4474
@jdlrobson sorry for the late reply. How should I go about removing this:
`<script type="text/json+graph" id="graph-json-chartPubHistory">$:json_encode(page.publishing_history)</script>`

[2021-03-19 14:58] Swapnil-2001 commented on #4859
I would like to work on the **Archive.org Front-end Web Components (IAUX)** project as listed in the [ideas](https://docs.google.com/document/d/1qt1dfk6rNE3yzMJXbriDjpeDrn6LQeiXviREvnXP6bE/edit#) page. I understand that the relevant repository is [iaux](https://github.com/internetarchive/iaux) and I've created a few PRs and issues there.

Issues:
[Selected quick search entry doesn't show up in inp

[2021-03-19 15:11] LeadSongDog commented on #741
@cdrini you flagged this as Blocked, but as seems to be usual there is nothing saying what the blocker is. How then is one to know the blocker needs priority?

[2021-03-19 15:32] cdrini commented on #741
My bad! Forgot to comment. Blocked by (1) moving the solrbuilder job off OJF (#OJF), (2) updating to solr 8 (#3317). Progress towards both of those is in #4337 . I was able to get works, authors successfully indexed into solr 8 last week \o/ need to work on orphans and subjects now, as well as a small bug. Hope is to have a solr 8 running adjacent to our current solr start of April, and transition

[2021-03-19 17:30] LeadSongDog commented on #4555
Looking at the edition json, it seems possible that the title:"Kelebihan Amalan Bulan Rejab, Sya\u2019ban & Ramadhan" is somehow problematic. The author name containing "Alias" is also suggestive, but not all the works by that author show the error.

[2021-03-19 18:03] cclauss commented on #4555
https://openlibrary.org/works/OL24171550W/Kelebihan_Amalan_Bulan_Rejab_Sya%E2%80%99ban_Ramadhan?debug=true  Looking down into the URL with `?debug=true` this looks to be `covers` related...

[2021-03-19 20:11] LeadSongDog commented on #4555
I notice that see the covers error only when logged in, but see the widgets error twice, whether logged in or out.

[2021-03-19 21:07] jdlrobson commented on #4474
There is no need to remove this. This id not inline Javascript. Inline JSON is fine.

[2021-03-20 11:00] lephemere commented on #4774
@seabelis: For the `best way to contact you` field, do you expect patron to request an answer per phone or even per post?
The email address is already requested at the top of the form for the support team to be able to reply.
Wouldn't it be better to add a small paragraph like:

or is a particular field required to ease the request management for the support team?

[2021-03-20 15:14] jamesachamp opened #4867 "Create aggregate observation statistics component for book pages"
### Describe the problem that you'd like solved

The observations survey in the book notes modal form was designed to gather information that would be useful for readers who are searching for a book that meets certain criteria.  Currently, observations that are submitted are not being shared with other patrons at all.  This is a missed opportunity.

### Proposal & Constraints

Create a new "Reader

[2021-03-20 15:16] jamesachamp commented on #4867
A PR for this is ready, and will be opened once #4803 is merged.

[2021-03-20 15:31] jimchamp opened #4868 "Create page where all of a patron's book notes are listed"
### Describe the problem that you'd like solved

All logged in patrons should be able to view all of the notes and observations that they have submitted on a single page.

### Proposal & Constraints

The new consolidated book notes page will have a similar layout to the reading log page.  The page will have a paginated view containing a list of book notes entries.  Each entry will contain the book

[2021-03-21 07:07] LeadSongDog commented on #891
@hornc Mind stating where the blocker is, please?

[2021-03-21 10:30] TheBestPessimist opened #4869 "Internal Server Error - Add Book with Unicode characters"
### Evidence / Screenshot (if possible)
![add a book -   Internal Server Error](https://user-images.githubusercontent.com/4482210/111901357-48de4b80-8a40-11eb-8a76-05efea119b25.gif)

### Relevant url?
https://openlibrary.org/books/add

### Steps to Reproduce
Try to ad d the following book:
- title: `Doi galoşi`
- author: `Camelia Leonte`
- publisher: `Junimea`
- Published: `1988`
- isbn: none
- go

[2021-03-21 20:47] tfmorris commented on #4867
This describes a solution, not a problem. What is the problem that is being solved? Have readers been asking "How fast-paced is this book?" I'm having a hard time envisioning the use case for this additional clutter in the UI, which is already in dramatic need of simplification and streamlining.

[2021-03-22 00:00] cclauss commented on #4869
Dup of #4311

[2021-03-22 02:55] jamesachamp commented on #4867
I've updated the problem description.

The point of the component is give patrons an idea of what other readers thought of a work, based on thirteen different aspects (DB entries for each are found [here](https://github.com/internetarchive/openlibrary/blob/410489b27523cd10b2e743961e932974a8b2e8fa/openlibrary/core/schema.sql#L100-#L296)).

[2021-03-22 05:57] Yashs911 commented on #4786
We can design them like Github labels or tags on different websites.
![subjects tags](https://user-images.githubusercontent.com/64412143/111946307-409a1500-8b01-11eb-809a-e137156c5745.JPG)
![subjects page](https://user-images.githubusercontent.com/64412143/111946314-4263d880-8b01-11eb-8d5e-40d3c5020c14.JPG)
I would like to create a PR for this.

[2021-03-22 13:08] lizrosenberg commented on #4774
@lephemere For the "best way to contact you" field I would expect either an email or a phone number to contact the patron. You could add that paragraph instead since email is already provided. The required field should be Patron Name as this is what we're using to connect these submissions with donation shipments received with just a name/return address on the label. Thanks for your help!

[2021-03-22 19:07] hornc commented on #891
@leadsongdog I'm not sure of the current state, but when I added the blocked tag 2 years ago I believe we had decided that attempting to fix individual Solr indexing issues needed to wait until we had upgraded to a modern version and put some better logging / debugging in place.

I think you have a good point that (one?) Author name should likely not be indexed with the work. This issue should be

[2021-03-22 19:12] mekarpeles commented on #4738
@lephemere is this issue still occurring for you? If not, can we close it? If it is, I'm making `Priority: 1`

[2021-03-22 19:16] mekarpeles commented on #4353
More relevant for scholar.archive.org and archive.org -- Open Library is for the time being sticking to books (though some serials may indeed present a challenge). Right now we have technical limitations which make it hard to implement FRBR faithfully (it's hard to link multiple instances of IA items to the same edition in a way which the backend system can leverage). I think the original question

[2021-03-22 19:16] #4353 closed

[2021-03-22 19:40] mekarpeles commented on #4564
Let's chat about this during this week's 1:1
- deploy solr 8
- all types search?

[2021-03-22 21:03] LeadSongDog commented on #891
@hornc So then the blockers include #3317?

[2021-03-22 21:09] BrittanyBunk commented on #4353
@mekarpeles I asked it because a lot of books are in PDF form, which is a 'document'. Those still should count to be a book right?

[2021-03-23 04:55] hornc opened #4874 "Librarian tools for fixing Orphaned editions"
Re-enable the 'Orphaned Editions'  orange indicator that was on this page:

![image](https://user-images.githubusercontent.com/905545/112094271-dddb7300-8bff-11eb-8857-a245f81f29be.png)

+ New feature:

Display in librarian only orange any extra hidden or deleted authors,
e.g. https://openlibrary.org/books/OL12885070M/Fire_in_Boomtown  has 2 authors in its metadata,
https://openlibrary.org/books/O

[2021-03-23 05:34] hornc commented on #891
This looks like recent info on the Solr status: https://coda.io/d/Search-Planning-Notes_dO8sGM90quA/Epics-in-Progress_su1I2#_luBNR which I found next to the 'Improving Search' project https://github.com/internetarchive/openlibrary/projects

[2021-03-23 05:40] hornc commented on #4555
Hmm, this looks like it is the same Infogami `Nothing` I struggled with here https://github.com/internetarchive/infogami/issues/148
It doesn't quite behave like `None` , and a list of results containing it _looks_ empty like `[]` , but is not equal to `[]`

[2021-03-23 07:53] navneetsaluja commented on #4738
@/mek
Pretty sure this is the cache issue, duplicate of #4789. @/lephemere run `make css`

[2021-03-23 18:55] LeadSongDog commented on #412
@BrittanyBunk Sorry, I misspoke when I said “we can’t build...”: I should have said “we would be foolish to build...”. The system should be designed to work for all cases, not just for special cases. It is wonderful to capture that information in the few cases it is available, but when the information is not available, the system should still function sensibly. Putting the information in edition n

[2021-03-23 19:54] mekarpeles opened #4875 "De-identifying patrons upon request"
### Describe the problem that you'd like solved

Process for de-identifying an account upon patron request
see: similar; block and revert all edits code

Process is broadly:
1. removing email
2. /people/identifier (needs to be cleared), people/identifier/preferences+usergroup+permission+verify+etc, /account/people/verify
3. same with version control for these pages, e.g. /people/identifier
4. remo

[2021-03-23 20:03] mekarpeles commented on #850
Onboarding entails 2 sets of flows:

## Pre-registration

Decorating the homepage with dismiss able-cards which alert partons of new features, onboarding tips, blog posts, etc.

On Robinhood mobile app, there are cards you can dismiss
![Screenshot_20210324-033117](https://user-images.githubusercontent.com/978325/112209868-32b6c380-8bd7-11eb-9685-6cc51a73af14.png)

## Registration

When a patron si

[2021-03-23 20:07] mekarpeles commented on #850
cc: @Sabreen-Parveen, @Yashs911, @ArunTeltia, @finnless, this isn't a claimable issue as it's a planning `Type: Epic`, though I thought you may wish to be aware of its existence and be interested in participating from the process or following its progress. :)

[2021-03-23 23:55] cdrini commented on #3317
From current reindex (based on an old dump; I forget which one exactly):

| Type | # in postgres dump | # in solr | diff |
| -- | -- | -- | -- |
| Works | ... | 21,956,868 | ... |
| Orphans | ... | 2,314,615 | ... |
| Authors | ... | 8,357,946 | ... |
| Subjects | ... | ... | ... |

[2021-03-24 08:58] seabelis opened #4876 "Images require refresh when added"
Images do not display once added. Browser refresh is needed.

### Evidence / Screenshot (if possible)
<img width="866" alt="Screenshot 2021-03-24 at 09 54 12" src="https://user-images.githubusercontent.com/17739465/112282026-fe024500-8c86-11eb-9bca-72043633d6c5.png">

### Relevant url?

### Steps to Reproduce

1. Go to ...any record that needs an image. For example, https://openlibrary.org/books/O

[2021-03-24 14:46] RayBB commented on #2380
@tmcw I would like to work on this.
I think I'll make a small PR to address the `<a>` underline by the chart first.

I can make a separate ticket, but I also think it would be nice to center align the charts to match the text below.
Here you can see the top row is what it looks like with chart centered. Below that is what it currently looks like with charts left aligned.
![image](https://user-imag

[2021-03-24 16:52] RayBB opened #4878 "Clicking search results shoes different language edition, likely due to sort order"
### Evidence / Screenshot (if possible)
I don't think a screenshot is needed.

### Relevant url?
See steps to reproduce

### Steps to Reproduce

1. Search for "Clean Architecture", like [this](https://openlibrary.org/search?q=clean+architecture&mode=everything)
2. Notice that the first result is the English edition and the title is "Clean Architecture"
3. Click the first result, it takes you [here

[2021-03-24 21:27] cdrini commented on #4738
Ahhh, I missed as this was on the local environment. Marking as closed; a `docker-compose run --rm home make css` should fix it :+1:

[2021-03-24 21:27] #4738 closed

[2021-03-24 22:45] LeadSongDog commented on #4876
@seabelis Did you refresh your browser? I see the image you added.

[2021-03-25 04:14] hornc opened #4883 "Structured data for book name improvement"
Structured data validation on authors page shows Book `name` is a URL

![image](https://user-images.githubusercontent.com/905545/112417102-c16c4180-8d8b-11eb-855c-af4eae8d5e5e.png)

test URL: https://search.google.com/structured-data/testing-tool/u/0/#url=https%3A%2F%2Fopenlibrary.org%2Fauthors%2FOL7235073A%2FGurney_Seed_Nursery_Co

Suggestion to fix:
[code]

I can't figure out how to make the Aut

[2021-03-25 04:49] Yashs911 commented on #4883
Hi, @hornc I would like to work on this issue.
For Author @type we can use:
[code]

[2021-03-25 05:08] hornc commented on #4883
@Yashs911 go for it, thanks!

I tried that `itemscope` and it kinda worked, but lost the url:
![image](https://user-images.githubusercontent.com/905545/112421970-ffba2e80-8d94-11eb-9037-e496b9216959.png)

It's on the right track though, you might be able to figure it out :)

[2021-03-25 05:27] RayBB commented on #4876
@LeadSongDog the original post says a refresh is need for the image to appear. This is about an issue with the uploading experience. Not a problem of the file actually getting saved.

I'll also note that if you switch to the "manage" tab on book cover the covers won't show up until the refresh.
This would probably be good to fix at the same time.

[2021-03-25 05:42] Yashs911 commented on #4883
@hornc the URL for both author and book have domain search.google.com instead of openlibrary.org
![image](https://user-images.githubusercontent.com/64412143/112424592-b6e58400-8d5a-11eb-99d4-29d685011541.png)

[2021-03-25 12:14] LeadSongDog commented on #4876
Arrgh! <auto-trout>

[2021-03-25 18:24] cclauss commented on #3562
@aasifkhan7 Is this still a problem?  Did you try running this command with `sudo`?
* `sudo docker build -t olbase:latest -f docker/Dockerfile.olbase .`

[2021-03-25 19:09] cclauss commented on #4572
@mekarpeles Can we delete akismet?

[2021-03-25 20:24] hornc commented on #4311
The error messages look like the issue I fixed on borrow redirects in #4861 -- that PR does not fix this, but somewhere a redirect is occurring with a non-URL-encoded URL with Unicode characters in the redirect header `location:` field  -- gunicorn does not like that.

[2021-03-25 22:05] RayBB opened #4888 "Sponsorship page error: `SponsorCarousel failed with error: name 'get_cached_sponsorable_editions' is not defined`"
Seems to be an error on the sponsorship page. Or at least some odd text.
[code]

### Evidence / Screenshot (if possible)
<details>
  <summary>screenshot</summary>

 ![image](https://user-images.githubusercontent.com/921217/112548857-fadb8780-8d60-11eb-9187-81a0c40dc62c.png)

</details>

### Relevant url?
https://openlibrary.org/sponsorship

Last seen working Jan 21, 2021: https://web.archive.org/w

[2021-03-25 22:52] #4746 closed

[2021-03-25 23:22] RayBB opened #4889 "Cover upload modal: Finished button partially blocks links"
When you upload a book cover with a long url the url wraps behind the button, which doesn't look great.

Additionally, the div around that button makes more than half of the "Add Another Image?" link unclickable. (see second screenshot)

### Evidence / Screenshot (if possible)

<details>
  <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/921217/112555520-768f0180-

[2021-03-26 03:41] #4883 closed

[2021-03-26 12:38] prakashaditya369 opened #4893 "Community Guidance for GSOC'21 proposal [Openlibrary]"
I wanted some guidance regarding my GSOC proposal but the provided email doesn't seem to work.
Should I give my proposal draft link here?

[2021-03-26 14:03] cclauss commented on #2032
@hornc @cdrini @mekarpeles What is the status of this issue?

[2021-03-26 15:23] RayBB commented on #4893
@prakashaditya369 I am not a maintainer, but unless your draft has information you don't want public it should be fine to share here. I am curious to see what it is.

[2021-03-26 15:40] cclauss commented on #4796
How is this effort going?  Any blockers?

[2021-03-26 15:46] RayBB commented on #3746
Following. It has been pretty disruptive to editing when search results are no longer valid and author pages show books that aren't assigned to them anymore.

[2021-03-26 15:54] Yashs911 commented on #4796
@cclauss I also tried to solve this issue but the function `get_users_logged_books` doesn't return any information apart from `work_id (int) - the Open Library work ID as an int (e.g. OL123W becomes 123)` so I was wondering how can we use the work_id to extract info regarding title, author, YOP e.t.c

Am I on the right track?

I also thought of using this function but was getting some kind of erro

[2021-03-26 15:58] Yashs911 commented on #4893
@prakashaditya369 I would advise you to join the slack channel. https://openlibrary.org/volunteer

[2021-03-26 16:24] cclauss commented on #4796
At the [url provided above](https://github.com/internetarchive/openlibrary/issues/4796#issuecomment-797580393) you should see `for book in books:` where I believe that each book will be a Python dict so you should be able to `print(list(book.keys))` to see what fields are available.  You can then add `book["supercool_key"]` to `row` and see if that value shows up.

[2021-03-26 16:35] LeadSongDog commented on #2625
@hornc As of this hour, Cleanup bot is still putting author IDs in edition records that duplicate those in the linked work records: https://openlibrary.org/books/OL32094071M.json

[2021-03-26 17:43] mekarpeles commented on #850
Also, see: https://github.com/internetarchive/openlibrary/issues/2599

[2021-03-26 20:27] hornc commented on #2625
@LeadSongDog , Editions can have an Optional Author field according to the schema: https://github.com/internetarchive/openlibrary-client/blob/master/olclient/schemata/edition.schema.json#L28

Open Library core code is adding the author field to the editions as part of the standard MARC import process. The bot is only providing the MARC records to the import API, OL is processing them in its standa

[2021-03-26 21:38] cdrini commented on #3317
Ok, bit the bullet and just implemented subjects indexing. It actually works super fast! Indexing all the subjects took <5min!

Here are the numbers::

| Subject Type | Count in old Solr | Count in Solr8 |
| ------------ | ----------------- | -------------- |
| subject      | 512,972           | 1,856,864      |
| person       | 536,971           | 741,915        |
| place        | 232,213

[2021-03-26 22:21] hornc commented on #2625
To clarify my position, I think edititions SHOULD have authors. It makes sense for an edition to have different authors, A, B, and C (perhaps with different roles, which the data model supports, but is not really being used) and the work has only author A.

If an edition has no author, that is missing data, but in most cases it'll be safe to assume the author is the work author (unless bad data).

[2021-03-26 22:27] bpmcneilly opened #4897 "Test Interactive Elements for Accessibility"
Help us make sure all of the Open Library images are accessible to our users!

For this task, we want you to take a look through the interactive elements on Open Library & make sure they will be usable from the keyboard alone.

### Steps

1. Go through each of the pages under the 'Pages to Test' heading
    1. If you can't take on every page, no worries! Just add a comment here & let us know what

[2021-03-26 22:59] bpmcneilly opened #4898 "Test Home Page Interactive Elements for Accessibility"
# Page to Test:

Home  - https://openlibrary.org/

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close this issue.

[2021-03-26 22:59] bpmcneilly opened #4899 "Test Subjects Page Interactive Elements for Accessibility"
# Page to Test:

Subjects - https://openlibrary.org/subjects/

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close th

[2021-03-26 23:00] bpmcneilly opened #4900 "Test Individual Subject Page Interactive Elements for Accessibility"
# Page to Test:

Individual Subject - https://openlibrary.org/subjects/architecture

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bu

[2021-03-26 23:01] bpmcneilly opened #4901 "Test Lists Page Interactive Elements for Accessibility"
# Page to Test:

Lists - https://openlibrary.org/lists

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close this issu

[2021-03-26 23:01] bpmcneilly opened #4902 "Test Individual List Page Interactive Elements for Accessibility"
# Page to Test:

Individual List - https://openlibrary.org/people/mekBot/lists/OL103955L/Childhood_Favorites

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page

[2021-03-26 23:02] bpmcneilly opened #4903 "Test Advanced Search Page Interactive Elements for Accessibility"
# Page to Test:

Advanced Search - https://openlibrary.org/advancedsearch

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are fou

[2021-03-26 23:02] bpmcneilly opened #4904 "Test Search Results Page Interactive Elements for Accessibility"
# Page to Test:

Search Results - https://openlibrary.org/search?q=The+Crucible&mode=ebooks&has_fulltext=true

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the pag

[2021-03-26 23:03] bpmcneilly opened #4905 "Test Search Inside Results Page Interactive Elements for Accessibility"
# Page to Test:

Search Inside Results - https://openlibrary.org/search/inside?q=The+Crucible&mode=ebooks&has_fulltext=true

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

[2021-03-26 23:04] bpmcneilly opened #4906 "Test Book Page Page Interactive Elements for Accessibility"
# Page to Test:

Book Page - https://openlibrary.org/works/OL66347W/The_Crucible

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs

[2021-03-26 23:04] bpmcneilly opened #4907 "Test Help Page Interactive Elements for Accessibility"
# Page to Test:

Help Page - https://openlibrary.org/help/faq/about

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, cl

[2021-03-26 23:05] bpmcneilly opened #4908 "Test Library Explorer Page Interactive Elements for Accessibility"
# Page to Test:

Library Explorer - https://openlibrary.org/explore

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, cl

[2021-03-26 23:05] bpmcneilly opened #4909 "Test Log In Page Interactive Elements for Accessibility"
# Page to Test:

Log In - https://openlibrary.org/account/login

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close

[2021-03-26 23:06] bpmcneilly opened #4910 "Test Loans Page Interactive Elements for Accessibility"
# Page to Test:

Loans - https://openlibrary.org/account/loans

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close t

[2021-03-26 23:06] bpmcneilly opened #4911 "Test Want To Read Page Interactive Elements for Accessibility"
# Page to Test:

Want To Read - https://openlibrary.org/people/bpmcneilly/books/want-to-read

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested

[2021-03-26 23:07] bpmcneilly opened #4912 "Test Want To Read 'Stats' Page Interactive Elements for Accessibility"
# Page to Test:

Want To Read 'Stats' - https://openlibrary.org/people/bpmcneilly/books/want-to-read/stats

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page h

[2021-03-26 23:07] bpmcneilly opened #4913 "Test Privacy Settings Page Interactive Elements for Accessibility"
# Page to Test:

Privacy Settings - https://openlibrary.org/account/privacy

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are f

[2021-03-26 23:08] bpmcneilly opened #4914 "Test Edit Profile Page Interactive Elements for Accessibility"
# Page to Test:

Edit Profile - https://openlibrary.org/people/bpmcneilly?m=edit

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs

[2021-03-26 23:09] bpmcneilly opened #4915 "Test Report a Problem Page Interactive Elements for Accessibility"
# Page to Test:

Report a Problem - https://openlibrary.org/contact?path=/people/bpmcneilly

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested

[2021-03-26 23:09] bpmcneilly opened #4916 "Test Recent Changes Page Interactive Elements for Accessibility"
# Page to Test:

Recent Changes - https://openlibrary.org/recentchanges

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found

[2021-03-26 23:10] bpmcneilly opened #4917 "Test Add a Book Page Interactive Elements for Accessibility"
# Page to Test:

Add a Book - https://openlibrary.org/books/add

# Steps

Steps for this task are outlined in #4897

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close

[2021-03-27 01:24] LeadSongDog commented on #2625
@hornc Sorry, but I can’t see how that could be viable, given the mess of duplicated and conflated authors that we still have to be cleaned up. Given that a work is attributed to the wrong author, albeit often with a similar name, replicating those wrong author IDs in editions and even cover records is entirely unmanageable. We have to be able to fix them just once at the work level without having

[2021-03-27 06:16] RayBB commented on #2034
Just wanted to add that there is also this guide for bulk uploading that hasn't been updated since 2013: https://openlibrary.org/data

Could be part of updating the docs

[2021-03-27 07:27] hornc commented on #2625
Not sure I understand which part is not viable, I'm saying change nothing and close this issue as there is no action to take.

1. above was meant to be hypothetical, ("if there is a currently active process that adds editions without authors, it should be fixed to add them.") , but I think the UI does not copy the author across from the work. There are plenty of issues with the UI add book, mostly

[2021-03-27 09:08] mitchell-frost commented on #4269
If it is still open, can I work on it? The last update seems to be a quite some time ago

[2021-03-27 13:15] LeadSongDog commented on #2625
Consider https://openlibrary.org/books/OL9955824M/Psychology_With_Practice_Test which is part of a massive steaming pile of textbooks imported from AMZ with only surnames for the authors: Wade, Tavris. With a little detective work I found they are Carole Wade and Carol Tavris and edited the work https://openlibrary.org/works/OL24284202W accordingly to link to the correct author records. Because th

[2021-03-27 15:54] Yashs911 commented on #4839
Closing this issue. I was not running npm run lint inside the docker bash 😅 .
Sorry for the inconvenience caused

[2021-03-27 15:54] #4839 closed

[2021-03-27 18:20] bpmcneilly commented on #4914
@Sabreen-Parveen all yours!

[2021-03-27 18:23] Sabreen-Parveen commented on #4911
@bpmcneilly I would like on this page.

[2021-03-27 18:24] Sabreen-Parveen commented on #4916
@bpmcneilly I would like on this page.

[2021-03-27 18:25] Sabreen-Parveen commented on #4915
@bpmcneilly I would like on this page.

[2021-03-27 18:26] Sabreen-Parveen commented on #4909
@bpmcneilly I would like on this page.

[2021-03-27 18:26] Sabreen-Parveen commented on #4904
@bpmcneilly I would like on this page.

[2021-03-27 18:29] Sabreen-Parveen commented on #4906
@bpmcneilly I would like on this page.

[2021-03-27 18:29] Sabreen-Parveen commented on #4917
@bpmcneilly I would like on this page.

[2021-03-27 18:58] ArunTeltia commented on #2599
I have been working on my gsoc proposal and was looking for the carousal , and as discussed in the meeting that we are looking for some kind of carousal library like slider.js we can also have a look at owl carousal
https://owlcarousel2.github.io/

Here is the image of it
![carousal](https://user-images.githubusercontent.com/43555219/112731319-79504900-8f5c-11eb-8824-e98f49672b1c.PNG)

Please have

[2021-03-27 22:27] jamesachamp commented on #4269
@mitchell-frost Yes, go for it.

[2021-03-28 00:18] #4815 closed

[2021-03-28 01:44] nitahieb commented on #4800
I've been working on this issue trying to figure it out, from what I've seen it seems like it has to do with how solr is configured to deal with punctuation, the same issue happens with something like Dr. Seuss. I've been trying to fix this, an issue is that I don't know how to edit the solr schema. The version of solr in place is old enough where the api doesn't work but any kind of change I do t

[2021-03-28 04:24] Yashs911 commented on #4898
@bpmcneilly I am working on this.

[2021-03-28 04:34] ma8642 commented on #4899
@bpmcneilly I will work on this!

[2021-03-28 04:45] RayBB commented on #4902
@bpmcneilly I will take on this page. I am not experienced in accessibility testing and would welcome someone checking my work.

[2021-03-28 15:22] #4625 closed

[2021-03-28 15:28] #4783 closed

[2021-03-28 15:31] mekarpeles commented on #4795
Adding a link to the Profile menu, similar to as @Yashs911 describes, seems alright with me:

![openlibrary org_ (11)](https://user-images.githubusercontent.com/978325/112757745-ef29d400-8f9f-11eb-8c34-5ad60302df96.png)

[2021-03-28 15:57] bitnapper opened #4924 "CSS zindex issue on mobile with top menu due to CSS transform"
Cover image overlaps menues. Same as issue #4718

### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/2772669/112758395-7dc54200-8fee-11eb-82ee-3d7c75a058df.jpeg)

![image](https://user-images.githubusercontent.com/2772669/112758532-41461600-8fef-11eb-8ebe-3d20108f94d5.jpeg)

### Relevant url?

https://openlibrary.org/books/OL32134402M/

### Steps to Reprodu

[2021-03-28 16:28] Yashs911 commented on #4924
@bitnapper I am unable to reproduce the error on my (Android + Chrome)

[2021-03-28 18:44] navneetsaluja commented on #4924
Same, I'm unable to reproduce it as well. Try clearing the cache and trying again.

[2021-03-28 21:25] RayBB commented on #4924
Unable to reproduce iPad with firefox 33.0 (4119). Are you still seeing this issue? Is it on all works?

[2021-03-28 21:58] navneetsaluja opened #4925 "Extra information about graph gets overlapped by div"
When we hover over the graphs, it shows us the exact number of the said quantity. However, we aren't able to see this since its overlapped by the main div. Refer to the screenshots to understand more clearly.
### Evidence / Screenshot (if possible)
![grapph](https://user-images.githubusercontent.com/54721958/112769402-6b72f480-903e-11eb-94e0-414149b8b984.png)
![graph2](https://user-images.githubus

[2021-03-29 04:25] RayBB opened #4927 "Error on isbn page: `AssertionError("key DUP/works/OL1075003W-DUP does not start with '/'")`"
Getting a strange error on the isbn page.

Note: The there is a different error if you just search the isbn in the search bar:
https://openlibrary.org/search?q=9789353336516&mode=everything

### Evidence / Screenshot (if possible)

<details>
  <summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/921217/112786807-c41ca000-8ff2-11eb-8189-47b91ecc85d8.png)

</details>

##

[2021-03-29 04:31] RayBB opened #4928 "Error on isbn page: `TypeError("'NoneType' object is not iterable")`"
This google https://www.google.com/search?q=%22https%3A%2F%2Fopenlibrary.org%2Fisbn%2F%22

Leads to https://openlibrary.org/isbn/9833782239
Which has an error message: `TypeError("'NoneType' object is not iterable")`

### Evidence / Screenshot (if possible)
<details>
  <summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/921217/112787064-62a90100-8ff3-11eb-94fe-7d9ccf4

[2021-03-29 04:32] bitnapper commented on #4924
In all cases the latest Version. Can't reproduce on iPas Pro either but similar effects in latest Safari and Chrome on iPhone:

**Firefox after clearing**
![image](https://user-images.githubusercontent.com/2772669/112787162-40959a00-9058-11eb-9810-10308991fa9c.jpeg)

**Safari**
![image](https://user-images.githubusercontent.com/2772669/112787214-586d1e00-9058-11eb-818d-452c6b1ecc7b.jpeg)

**Chrome

[2021-03-29 04:34] bitnapper commented on #4924
Also not limited to only one book. Heres another example from latest Safari, iOS, logged in:![image](https://user-images.githubusercontent.com/2772669/112787460-da5d4700-9058-11eb-8acb-c4846a1f1a07.jpeg)

[2021-03-29 04:38] bitnapper commented on #4924
iOS: 14.4.2 (18D70), iPhone 11 Pro

Firefox Daylight 33.0 (4119)
Chrome 87.0.4280.77

[2021-03-29 04:39] Yashs911 commented on #4927
@RayBB I guess both errors are same. (https://openlibrary.org/search?q=9789353336516&mode=everything) & (https://openlibrary.org/isbn/9789353336516)
![image](https://user-images.githubusercontent.com/64412143/112787746-e35d1100-9076-11eb-9ce2-d7f65d808f34.png)

[2021-03-29 04:46] Yashs911 commented on #4928
https://openlibrary.org/search?q=9833782239&mode=everything&debug=true
Might help debug this issue.

[2021-03-29 08:27] ahmedbilal commented on #4928
The problem is with the following code

[code]

In my opinion, it should raise something like `raise ValueError("%s is not a valid ISBN 10" % isbn)` instead of return `None`

[2021-03-29 08:48] ArunTeltia commented on #4924
@bitnapper I checked this on my iphone this is definately an issue
The behaviour of the bug
when we click on one of the dropdown it hide behind the image but after we click on different dropdown we dont see that behaviour again

[2021-03-29 09:25] ArunTeltia commented on #4925
There are 2 things that we can do, we can delete the hover effect that is behind the chart div or we can make it appear above the chart
but we have title that is appearing on the hover so i dont think there is a need of the inside hover we can simply delete the hover effect
I like to work on this

[2021-03-29 09:46] ArunTeltia commented on #4897
As Navbar is present in all the pages I have tested for the navbar and commenting here for avoiding spamming in each issue seperately
In navbar, instead of drop down all the elements are accessible by the keyboard
dropdown have a hidden  checkbox: https://github.com/internetarchive/openlibrary/issues/4789(Here have a look)
For making a checkbox keyboard accessible we check this https://www.a11ywit

[2021-03-29 09:48] ArunTeltia opened #4929 "making the navbar in OL keyboard accessible"
As per the https://github.com/internetarchive/openlibrary/issues/4897#issuecomment-809239463 ,

we need to make navbar keyboard accessible
### Stakeholders

@bpmcneilly

[2021-03-29 09:49] ArunTeltia commented on #4897
I created an issue for the navbar

[2021-03-29 09:57] ArunTeltia commented on #4898
You can have a look at this @Yashs911 , I tested this page,
I dont find any problem with this I tested the accessibility of the homepage by going through each and every element of the page by going from top to bottom and bottom to top I dont found any issues, Only the navbar issues are there which i have created a new issue separately

[2021-03-29 14:14] ArunTeltia commented on #4889
What if instead of showing the url we can just put the name ``` $_("Book Cover URL") ``` and wrap the text with the url, that will look much more cleaner according to me

[2021-03-29 14:31] ArunTeltia commented on #4907
I tested every element in the https://openlibrary.org/help/faq/about page ,every element is keyboard accessible
Tested by going from top to bottom and bottom to top.

There is one problem with the keyboard accessibility that I can think is the radio buttons are not accessible by keyboard this is the same issue over and over again,
In the /help/faq/about page when worked on the history of the page

[2021-03-29 15:33] RayBB commented on #4928
Ah an interesting thing.

It turns out that first ISBN just has the 978 cutoff and would be 9789833782239
But the isbn 10 is 983378223X. At least according to [worldcat](https://www.worldcat.org/title/memoir-abdullah-cd-bahagian-ii-penaja-dan-pemimpin-rejimen-ke-10/oclc/848099445).

[2021-03-29 15:39] mekarpeles commented on #4893
Howdy, an Open Library maintainer here. Feel free to email mek@archive.org w/ your request for comments. We can followup on slack. You can also use the link @Yashs911 offers above :)

Marking this Question as resolved

[2021-03-29 15:53] mekarpeles commented on #4254
@mhucka sincere apologies for the poor choice of background music. Feedback noted and will be considered for future videos (mea culpa). In this specific case, that video was done on my own hours and I don't have easy access to simply disable an audio layer without recording the entire video again (which I don't plan to do, but welcome the community to do -- and will happily replace my video with t

[2021-03-29 15:53] #4254 closed

[2021-03-29 15:54] mekarpeles commented on #4791
Not quite P2 (in my mind) but a partner requested this feature, it was easy to create, and seems of value to land, if there are no major issues; see #4808.

[2021-03-29 15:57] mekarpeles commented on #4275
I think this proposed improvement, tagging @tabshaikh (as I don't think he has bandwidth to lead, but he's a valuable resource as one of the primary original implementers).

I'm also tagging this issue as `help wanted` to motivate the community to jump in and marking as P3

[2021-03-29 15:57] cclauss commented on #4671
This issue was fixed in https://archive.org/download/ol_dump_2021-03-19 but let's leave it until the April 1st dump.

[2021-03-29 15:57] cclauss commented on #4621
This issue was fixed in https://archive.org/download/ol_dump_2021-03-19 but let's leave it until the April 1st dump.

[2021-03-29 15:58] mekarpeles commented on #4275
@jamesachamp not expecting you to work on this one -- just thought it may be a good addition to Front-end menu, in case folks are looking for a good first issue. For PR review, feel free to punt over to me, I'm happy to invest the time!

[2021-03-29 16:01] mekarpeles commented on #4774
@seabelis can you please drive prioritization of this one and let us know during some community call what the desired approach is? Struggling to find the bandwidth to include this in my usual triage.

[2021-03-29 16:08] RayBB opened #4930 "Book read button in search results leads to error and no read button on book page"
Search result says a "Read" button that doesn't work.

Interestingly, on the book page it says "Not in Library"

### Evidence / Screenshot (if possible)

<details>
  <summary>Screenshots</summary>

![image](https://user-images.githubusercontent.com/921217/112865930-f828ad00-9054-11eb-8367-84c5b020b780.png)
![image](https://user-images.githubusercontent.com/921217/112865961-ffe85180-9054-11eb-910e-

[2021-03-29 16:21] mheiman opened #4931 "Bug in bookshelves.py add method when changing edition"
When calling the add method in openlibrary/core/bookshelves.py (e.g. POSTing to bookshelves.json) with a specific edition_id, the result is not as expected if another edition of the same work already exists on the user's bookshelves.

### Steps to Reproduce
Submit a POST to bookshelves.json in a work context (e.g. https://openlibrary.org/works/OL460810W/bookshelves.json) with an add action and a s

[2021-03-29 19:05] mekarpeles opened #4933 "Log In + Sign Up link styling broken on Book pages"
@Yashs911 reported 14 days ago:
CSS for Log In and Sign Up seems to be missing from the Books Page (http://staging.openlibrary.org/works/OL6384123W/Self-knowledge and now on production https://openlibrary.org/works/OL6384123W/Self-knowledge)

### Evidence / Screenshot (if possible)
![openlibrary org_works_OL6384123W_Self-knowledge](https://user-images.githubusercontent.com/978325/112886514-e3650d0

[2021-03-29 19:22] jdlrobson commented on #4933
The problem is `components/buttonsAndLinks.less` and the file `components/buttonBtn.less` which it imports have both been marked as legacy CSS (by inclusion inside static/css/legacy.less), yet it's now needed on a page which is not using legacy CSS (books page)

The following should be added to static/css/page-book.less :

 `@import "components/buttonBtn.less";`

Longer-term, let's remember not to

[2021-03-29 19:27] mekarpeles commented on #4543
Closing as resolved; some sources are still being blocked due to high volume or abuse. Please write to us if you feel like this is being done in error and we will do our best to accommodate!

[2021-03-29 19:27] #4543 closed

[2021-03-29 19:31] #4555 closed

[2021-03-29 19:31] cdrini commented on #4927
How odd :/ Note I did confirm that it's not all ISBNs that are erroring: https://openlibrary.org/isbn/9780316316125

[2021-03-29 19:55] #4791 closed

[2021-03-29 20:05] cclauss opened #4934 "Reduce our images with Docker multi-stage builds"
I am frustrated when doing a deployment that our Docker images are 2.5GB and they take a long time to copy to multiple servers.  We currently build production images on `ol-home0` and then copy them to `ol-covers1', `ol-web1`, and `ol-web2`.  The size of our images slows this process.

### Describe the problem that you'd like solved

Reduce the size of our Docker images and transfer them more effi

[2021-03-29 20:12] cdrini commented on #4933
Dipping priority since we've evaluated it and it looks impact is constrained to these buttons.

[2021-03-29 20:20] mekarpeles opened #4935 "Create Reddit bot equivalent of our twitter @borrowbot"
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-03-29 20:53] bpmcneilly commented on #4907
Hey @ArunTeltia - thanks for checking this page! I can see what you mean about the radio buttons. Currently these are working as we'd expect from a set of radio buttons coded this way, but the exact use case is definitely unique & the interaction via the keyboard isn't intuitive.

If you want to tackle this issue, feel free to create one & start working on it! Looking at the radio buttons, one thi

[2021-03-29 21:02] cdrini commented on #4927
Hmm, on https://openlibrary.org/search?q=9789353336516&mode=everything&debug=true , the edition it matches on is `/books/OL32160415M`, but https://openlibrary.org/books/OL32160415M says this doesn't exist...?

[2021-03-29 21:07] cdrini commented on #4927
Or no, that's unrelated. It looks like it's trying to create the record, and when it looks for candidate works to attach the edition to, it gets a bunch of odd looking keys back from the... db?!?

[2021-03-29 21:08] cdrini commented on #4927
Oh my goodness.....

- http://openlibrary.org/query.json?key=/works/OL1075003W&*=
- http://openlibrary.org/query.json?key=DUP/works/OL1075003W-DUP&*=

These both state that their key is /works/OL1075003W 😟

cc @hornc

[2021-03-29 21:27] cdrini commented on #4927
Ok, I think at some point something went very wrong with the database, resulting in a number of records were loaded with the same `key`. To fix these, someone in the past changed the key to `DUP/...-DUP`.

This author seems to have a few. Here are some examples:

`['DUP/works/OL1075003W-DUP',  'DUP/works/OL1075004W-DUP',  'DUP/works/OL1075005W-DUP',  'DUP/works/OL1075006W-DUP',  'DUP/works/OL10750

[2021-03-29 21:36] cdrini commented on #4927
This might be related:

https://github.com/internetarchive/openlibrary/commit/359a597406e24fb8190f91f6f1374be388939541#diff-19d3d9f329b874a5a4895b085dab331bf96baad0cb1d4e35be37fad83cf70ec9

[2021-03-29 21:39] cdrini commented on #4502
Have you noticed this again recently, @seabelis ?

[2021-03-29 21:56] cdrini commented on #4262
Great idea! Updated description with a spec. This would be a great first issue :)

[2021-03-29 21:57] ArunTeltia commented on #4907
Definately I will like to work on this
For the record I researched and got to know that we can also make radiobuttons keyboard accessible by some css work if I remeber correctly if that will be alright I would want to work on it

[2021-03-29 22:17] cdrini commented on #4800
This code looks suspect to me: https://github.com/internetarchive/openlibrary/blob/bb6f90e5be90508514cc04d0f1288e5b2331f355/openlibrary/plugins/upstream/addbook.py#L960-L967

When I query solr directly with `name:(Jon Kabat\-Zinn*) OR alternate_names:(Jon Kabat\-Zinn*)`, it seems to work: http://localhost:8983/solr/select/?q=name%3A%28Jon+Kabat%5C-Zinn*%29+OR+alternate_names%3A%28Jon+Kabat%5C-Zinn

[2021-03-30 00:49] bpmcneilly commented on #4646
Hi Yash, for these, we're going to flag these issues against the WMD repository, rather than openlibrary directly. We'll likely end up closing them out over there, but for now I think it makes sense to focus on testing & remediating issues that are directly caused by the openlibrary directly. I think we can close this if there's no other issues.

[2021-03-30 00:49] #4646 closed

[2021-03-30 01:15] bpmcneilly opened #4938 "Library Explorer Covers do not have alt attributes"
The covers of books in the library explorer do not include `alt` attributes. Currently, the `img` elements have `title` attributes with the book's name.

This issue was uncovered as a part of #4640

### Evidence / Screenshot (if possible)
![The library explorer with Firefox's dev tools open & displaying a lack of alt attribute on book cover img elements](https://user-images.githubusercontent.com/3

[2021-03-30 01:15] #4640 closed

[2021-03-30 02:49] RayBB opened #4939 "Tab order on Individual List Page is incorrect"
I am testing accessibility of the individual list page per #4902.

Per the [WebAIM Keyboard Accessibility guidelines](https://webaim.org/techniques/keyboard/#navigation):

After the header is tabbed through and we reach the content of the page this guideline is immediately broken.
The tab order goes from right to left and bottom to top for the first five tabs. It goes: Edit > User > History > User

[2021-03-30 03:05] Yashs911 commented on #4938
@bpmcneilly I would like to work on this issue.

[2021-03-30 03:07] RayBB opened #4940 "Obscured focus indicators on Individual List Page"
I am testing accessibility of the individual list page per #4902.

All of the resources on the main ticket talk about making sure the focus is clearly visible.

Per the [Bureau of Internet Accessibility](https://www.boia.org/blog/what-you-need-to-know-about-visual-focus-and-accessibility):

Several elements on the list page currently have obscured focus indicators including:
1. The edit button
2.

[2021-03-30 03:20] Yashs911 commented on #4940
@bpmcneilly Other pages also have this issue so I think we should add this in the desc for all the issues.

[2021-03-30 05:50] hornc commented on #4621
@cclauss , did you see my comments in slack that this latest dump has some old versions of some items?
Checking for orphaned editions shows that there are 300K more orphans than the last dump, but I think this is due to bad data in the dump.

An example is this edition, currently at a `v=2` since 2009, but is in the dump with latest version `v=1`
e.g. https://openlibrary.org/books/OL10003370M/Disc

[2021-03-30 05:56] hornc commented on #4927
This is a problem for many bulk MARC imports, I have a large list of these that are blocking partner imports. I think I've mentioned on an old issue previously, but no one recognised the DUP/ work id format.

The query URL is useful to get info on what these are supposed to be. I think deleting them is the way to go, however that is best done.

[2021-03-30 06:32] prakashaditya369 commented on #4893
Thanks @RayBB @Yashs911 @mekarpeles .

@mekarpeles I had already mailed to mek@archive.org regarding comments on 16th March. But I got no reply. Then I mailed a follow-up email, still got no reply.
I also mailed for Slack invite, but got no reply.
Should I mail again??

[2021-03-30 07:27] seabelis commented on #4502
Not this specific issue, but see https://github.com/internetarchive/openlibrary/issues/4876

[2021-03-30 07:40] seabelis commented on #4151
From a patron:

_This author has 2600 works published this year: https://openlibrary.org/authors/OL7546458A/Gerardus_Blokdyk

However, if you look at their profile on amazon the books are there too with high prices. Some have reviews that are totally fake.
https://www.amazon.com/s?i=stripbooks&rh=p_27%3AGerardus+Blokdyk&s=review-count-rank&qid=1616733962&text=Gerardus+Blokdyk&ref=sr_st_review-coun

[2021-03-30 11:42] cclauss opened #4941 "Make a systematic analysis of Python bytes/str conversions"
I am frustrated by [Python bytes vs. string](https://github.com/internetarchive/openlibrary/issues?q=label%3A%22Python+3%3A+bytes+vs.+str%22+) bugs and sometimes related [Unicode](https://github.com/internetarchive/openlibrary/issues?q=label%3A%22Theme%3A+Unicode) bugs.

### Describe the problem that you'd like solved

We should make a systematic analysis of where we do these conversions to find e

[2021-03-30 13:25] drakene opened #4942 "Blog posts unavailable on local build, causing failure to fetch web pages"
On the local build, an error occurred upon connecting to the server which caused the blog posts to not be retrieved and the thus prevented the rest of the web pages to load. Upon further investigation, it was just a single line change which fixed the issue.
### Evidence / Screenshot (if possible)
![issue_absPathOnElement](https://user-images.githubusercontent.com/46735016/112989967-86736080-9133-1

[2021-03-30 13:31] SwapnilSoni1999 commented on #686
None replies to email nor anyone checks PRs, What is happening?

[2021-03-30 14:20] LeadSongDog commented on #4151
@seabelis
This came up on Reddit last year too.

Ugh! Cliffnotes for cheating on professional
certification tests, likely outsourced to an ´author’ farm to produce a ´book’ per hour. Dangerous at best, possibly illegal.

Same outfit in 2008, different spelling: https://openlibrary.org/authors/OL3765576A/Gerard_Blokdijk

Publisher "Art of Service" and variations for many of these.

[2021-03-30 15:22] RayBB commented on #4889
Currently, as soon as you hit "submit" your image is uploaded and saved.
The "finish" button, as far as I can tell, doesn't do anything other than close the window.

Given that the image is already uploaded and being used for the book, I agree that maybe we don't need to show the image in the modal. However, it would be nice to have #4502 fixed first so the user can see the image without having to

[2021-03-30 15:25] bpmcneilly commented on #4940
@Yashs911 - I agree, feel free to tag this issue number in any other page where you notice it & that we we can track where else this occurs & that our fix applies everywhere we need it.

@RayBB - do you want to tackle fixing this issue? If so I'm happy to assign this issue to you! Happy to help brainstorm solutions here as well if you'd like.

[2021-03-30 16:04] seabelis commented on #2187
No longer an issue.

[2021-03-30 16:04] #2187 closed

[2021-03-30 22:12] navneetsaluja commented on #4935
I am working on this.

[2021-03-31 01:34] RayBB commented on #4940
@bpmcneilly I don't want to commit just yet. But if some solutions are brainstormed that seem doable then I'll take it on.

[2021-03-31 02:08] RayBB opened #4949 "[Discussion] accessibility changes to breadcrumbs"
### Question

What, if any, changes should be made to breadcrumbs to improve accessibility?

### Additional context
I am currently working on #4902 (accessibility for the [individual list page](https://openlibrary.org/people/mekBot/lists/OL103955L/Childhood_Favorites)).

When using the screenreader (which is not something I normally do), realized that there is a possibility for the username portio

[2021-03-31 02:33] RayBB opened #4950 "history heading should not be an unordered list - on Individual list and more"
I am testing accessibility of the individual list page per #4902.

Currently, at the bottom of the individual list page (and any other page with a history section) the history headings are put in an unordered list. Because of this, when using a screen reader it will say: "link, 22 revisions list 2 items"
However, there really isn't a list of anything it is just "Created November 8, 2016" and "22 r

[2021-03-31 02:37] RayBB commented on #4889
I meant it would be nice to have #4876 fixed first.

[2021-03-31 06:03] nitahieb commented on #4800
@cdrini There are two issues here that I've noticed. The one mentioned in this issue. The q.op that's used(AND) doesn't work, your example works http://localhost:8983/solr/select/?q=name%3A%28Jon+Kabat%5C-Zinn*%29+OR+alternate_names%3A%28Jon+Kabat%5C-Zinn*%29&version=2.2&start=0&rows=10&indent=on but if you change the OR to AND http://localhost:8983/solr/select/?q=name%3A%28Jon+Kabat%5C-Zinn*%29+A

[2021-03-31 16:12] bpmcneilly commented on #4940
@RayBB - in this instance, the focus indicators are likely being clipped due to some CSS `overflow: hidden` declarations.

Doing some quick checking I saw the following in the final CSS:

- `div#editInfo { float: right; overflow: hidden; }`
- `div#editTools { overflow: hidden; padding: 0 0 1rem; }`
- `.searchResultItem .bookcover { width: 100%; margin: 10px 10px 0 5px; text-align: center; overflow

[2021-03-31 22:01] Sabreen-Parveen opened #4952 "Add april collection to homepage"
### Describe the problem that you'd like solved

For monthly reads, add april collection to home page.

### Stakeholders

@cdrini

[2021-04-01 03:56] #3749 closed

[2021-04-01 04:00] RayBB opened #4954 "Home page won't load after following docker setup instructions"
I followed the docker setup instructions, they were pretty easy.

However, after actually starting everything the home page won't load (though things like search do work).

The error I'm getting is this:

[code]

On the home page the error is simply:
[code]

Here is the related error html file: https://jsfiddle.net/c6rpdsa3/

### Steps to Reproduce

1. Follow docker setup instructions
2. Go to hom

[2021-04-01 04:15] #4942 closed

[2021-04-01 04:17] cdrini commented on #4954
Thanks for the report @RayBB ! Looks like a duplicate of #4942 . I just merged @drakene 's fix, so let me know if it's working now!

[2021-04-01 04:17] #4954 closed

[2021-04-01 04:19] #4952 closed

[2021-04-01 04:52] RayBB opened #4955 "Add a npm command for quicker CSS development"
We currently have #2298 to monitor JS files for changes and automatically build them.
I would like the same thing but for the LESS/CSS.

### Describe the problem that you'd like solved
Every time I make a change to CSS I need to run `docker-compose exec web make css js` or was it `docker-compose run --rm home npm run-script build-assets`. One is in frontend guide and one is in the docker guide. I'

[2021-04-01 05:18] Yashs911 commented on #4898
@bpmcneilly

1. Due to `opacity: 0;` used for hiding the selected option on select dropdown one can't see the outline and hence can't use the spacebar to open `select` dropdown.
![image](https://user-images.githubusercontent.com/64412143/113246977-ac396a80-92d7-11eb-8316-e60a77d3a5d0.png)
![image](https://user-images.githubusercontent.com/64412143/113247013-bbb8b380-92d7-11eb-98b7-84329f35d7db.png

[2021-04-01 07:28] Yashs911 commented on #4900
@bpmcneilly I would like to work on this.

[2021-04-01 07:28] Yashs911 commented on #4901
@bpmcneilly I would like to work on this.

[2021-04-01 07:36] Yashs911 commented on #4900
The search button does not have visual focus so I am thinking of adding a `:focus` selector with `border: 2px solid @green;`
![image](https://user-images.githubusercontent.com/64412143/113259687-098ae700-92eb-11eb-8e61-3402105eb253.png)

[2021-04-01 13:55] Yashs911 commented on #2016
@mekarpeles I would like to work on this issue.

[2021-04-01 22:44] RayBB commented on #4906
This may be related to #1963

[2021-04-02 15:57] bpmcneilly commented on #4900
@Yashs911 - By default, most buttons should receive a visual indication of keyboard focus by default, so if this doesn't have one, my first guess would be to look for our existing CSS rules to see if we're doing anything to stop the indicator.

Most browsers use the `outline` property on focus to create the focus indicator, so declarations like `outline: 0` or `outline: none` will prevent focus in

[2021-04-02 16:03] Yashs911 commented on #4900
@bpmcneilly no other issues according to me. As you rightly pointed out there is `outline: 0;` declaration.
![image](https://user-images.githubusercontent.com/64412143/113432466-10088400-93fb-11eb-905f-cd2785dfaa36.png)

[2021-04-02 16:19] Yashs911 commented on #4901
No issues. Tested both http://staging.openlibrary.org/lists & https://openlibrary.org/lists

[2021-04-02 16:47] bpmcneilly commented on #4900
Ok, awesome. Looking at that selector (just all `button` elements on the site), getting a PR that removes this will do a lot for other elements on the site!

[2021-04-02 18:53] shrey27tri01 opened #4971 "Import and export options page design is not responsive"
On visiting the [Import and Export Options](https://openlibrary.org/account/import) page after logging in on a mobile device, the "Import from Goodreads" option and "Export your Reading Log" option occur side-by-side (like how they would look on a desktop) instead of a responsive layout.

### Evidence / Screenshot (if possible)
![2021-04-03](https://user-images.githubusercontent.com/52366674/11344

[2021-04-02 19:06] shrey27tri01 commented on #4796
@cclauss Sorry for the dumb question, but I'm unable to print anything on the console using `print(list(book))` inside the loop `for book in books:` after clicking on the "Download" button. I also tried printing just `books` after the `books` variable is initialized, but I still don't get any output. On the other hand, using the print statement inside another function, say the [`import_books():`](

[2021-04-02 19:23] cclauss commented on #4796
Try `print(list(book), file=web.debug)`

[2021-04-02 20:17] cclauss commented on #4796
Did that work?

[2021-04-03 00:01] RayBB opened #4974 "Long string in list description doesn't wrap"
Long strings are making the mobile view (and sometimes desktop) of lists expand beyond where they should.

### Evidence / Screenshot (if possible)
<details>
  <summary>Spoiler</summary>

![image](https://user-images.githubusercontent.com/921217/113461958-7a4d0480-93ba-11eb-8b68-0ffd483eb2dd.png)

![image](https://user-images.githubusercontent.com/921217/113461944-6dc8ac00-93ba-11eb-9d88-9ffd6b6e6b

[2021-04-03 04:13] Yashs911 commented on #4971
@shrey27tri01 I would like to work on this.

[2021-04-03 05:08] jdlrobson commented on #4924
can somebody summarize which browsers this a problem on? Is it just Safari?

I can replicate this on safari when I hover over the cover, so i'm pretty sure this relates to the CSS transforms on `.editionCover .cover-animation`.

Let's make sure when fixing this we don't descend into more z-index madness.

[2021-04-03 05:14] shrey27tri01 commented on #4796
@cclaus Yes, that worked, thank you very much!
Printing `list(book)` gives me the following keys: `['username', 'work_id', 'bookshelf_id', 'edition_id', 'updated', 'created']`
Now can I use this information to look up book name, author, title, isbn etc. using `readlog.get_works(key, page=i.page)` like the way it is used in [this](https://github.com/internetarchive/openlibrary/blob/master/openlibra

[2021-04-03 05:24] ArunTeltia commented on #4924
I checked it on I phone 11 safari @jdlrobson and I got the issue the thing about this issue
Once you go to that page and press for drop down it was showing as the image is stating but after we click on somewhere else or scroll and after the scroll of we reclick on it the behaviour is no longer been seen and the behaviour of the drop down is as same as expected

[2021-04-03 11:50] StoppingBuck commented on #2021
Hi @mekarpeles , I think I am experiencing this. I am trying to edit a book, but unable to save because "Recaptcha solution was incorrect". However, as you can see from the attached, I get no recaptcha where others seem to do so:
![image](https://user-images.githubusercontent.com/8426548/113477619-7afd9d80-9483-11eb-8d1d-bb7e0345ed26.png)

I have tried in Mozilla Firefox, Chrome and even Microsoft

[2021-04-03 12:45] shrey27tri01 commented on #4925
I think this issue can be solved by adding `z-index: 100;` to the labels on hover so that they are visible over the chart if we hover over them. I have created a PR [here](https://github.com/internetarchive/openlibrary/pull/4976) for this. @jamesachamp could you please review it?

[2021-04-03 17:50] #4901 closed

[2021-04-03 18:05] #4633 closed

[2021-04-05 03:09] RayBB commented on #4889
It seems this can also be an issue when uploading an image without a URL as well.

![image](https://user-images.githubusercontent.com/921217/113532821-051f3200-9568-11eb-97ef-a1e72f475cc1.png)

One possible solution is to use `display: flex` and have the image and the text next to each other like so:
![image](https://user-images.githubusercontent.com/921217/113532993-75c64e80-9568-11eb-95e7-a6f39d

[2021-04-05 05:31] RayBB opened #4986 "Multiple contiguous * asterisks break books page formatting"
Not sure why, but maybe there was something in the description that caused the rest of the page to look funny?

### Evidence / Screenshot (if possible)

<details>
  <summary>long image spoiler</summary>

  ![image](https://user-images.githubusercontent.com/921217/113540593-28ec7300-957c-11eb-8895-87dc3aba8871.png)

</details>

### Relevant url?
https://openlibrary.org/works/OL20308733W/N64_Magazin

[2021-04-05 05:35] RayBB opened #4987 "Add to list button is too big on page of orphaned book"
The add to list button is very big on this page with an orphaned book. Probably related to #3561

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/921217/113540899-c9429780-957c-11eb-86fd-37a55124c165.png)

### Relevant url?
https://openlibrary.org/books/OL9475434M/Pokemon_The_First_Movie_Animation_Comics?edition=

### Steps to Reproduce

1. Go to the page

[2021-04-06 04:42] shrey27tri01 opened #4989 "Accessing My Reading Logs in development version gives KeyError"
Trying to access My Reading Logs in development version gives the error `<class 'KeyError'> at /people/openlibrary/books/want-to-read`

### Traceback:
[code]

### Evidence / Screenshot (if possible)
![2021-04-03 (2)](https://user-images.githubusercontent.com/52366674/113658243-4e34ca80-96bd-11eb-8934-4ccec8175967.png)

On adding `?debug=true` at the end of the url:

![2021-04-03 (3)](https://user-

[2021-04-06 16:21] seabelis opened #4991 "Work subtitles do not appear at top of page"
Subtitles for works do not appear at the top of the page.

### Evidence / Screenshot (if possible)

<img width="412" alt="Screenshot 2021-04-06 at 18 16 54" src="https://user-images.githubusercontent.com/17739465/113743747-4d735700-9704-11eb-8df0-a9a90ce31605.png">
### Relevant url?
For example, https://openlibrary.org/works/OL38479W/King_of_the_Vagabonds?edition=

### Steps to Reproduce

1. Go to

[2021-04-06 16:24] Yashs911 commented on #4991
@seabelis PR https://github.com/internetarchive/openlibrary/pull/4960 Fixed this issue.

[2021-04-06 16:28] seabelis opened #4992 "No direct way to view/edit work covers"
Since the new book page launch, work covers have only been editable by appending the work url.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/books/OL24211805M/King_of_the_Vagabonds/edit
https://openlibrary.org/works/OL38479W/King_of_the_Vagabonds/manage-covers
https://openlibrary.org/works/OL38479W/King_of_the_Vagabonds/add-cover

### Steps to Reproduce

1. Go

[2021-04-06 16:36] seabelis opened #4993 "Editor should be returned to same URL they started from after saving edit(s)."
Since the new book page launch, after saving an edit, the editor is always returned to an edition URL rather than the original URL they started from.
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...any work url, for example https://openlibrary.org/works/OL20745722W/Raybearer
2. Do ...Click edit. Save.

* Actual: You are returned to an edition url.
*

[2021-04-06 19:09] mekarpeles commented on #4935
@navneetsaluja do you mind updating this issue w/ some of the details you sent me over slack? Thank you!

[2021-04-06 20:06] cdrini commented on #4671
Looks like a duplicate of #4621 ; closing in favour of that since it has more discussion.

(Status update: We're still working on it :/ )

[2021-04-06 20:06] #4671 closed

[2021-04-06 21:06] #4991 closed

[2021-04-07 03:20] RayBB commented on #4928
On a related note today I was searching for this "isbn" listed on an ebay listing: 0133923612

It gets what appears to be the same error because the isbn isn't valid.

However, it is because the ebay poster posted part if the isbn 13 "978-0133923612" and the real isbn 10 is "0133923614".

Checking if the isbn prepended with 978 is valid would be nice. Some sites like gettextbooks.com do this.

[2021-04-07 03:31] navneetsaluja commented on #4935
Right, so we are aiming to create a Reddit bot for OpenLibrary. We have a couple of ways of going about this:
- we create a custom bot of openlibrary similar to https://www.reddit.com/user/goodreads-bot
- we partner with an existing bot, namely https://www.reddit.com/user/Reddit-Book-Bot/ since its the most popular, except that it only gives pdfs of the ebooks it has in its catalogue and not infor

[2021-04-07 05:13] SaravgiYash commented on #4913
@bpmcneilly I would like to work on this issue.

[2021-04-07 05:14] Yashs911 commented on #4912
@bpmcneilly I would like to work on this issue.

[2021-04-07 05:14] Yashs911 commented on #4910
@bpmcneilly I would like to work on this issue.

[2021-04-07 08:52] cclauss opened #4994 "Can we merge requirement*.txt files from three down to two?"
I am always frustrated when I am looking to update a Python dependency that I need to look at three requirements files instead of just two.

### Describe the problem that you'd like solved

This repo currently has:
1. requirements.txt
2. requirements_common.txt
3. requirements_test.txt

Would it be a good idea to simplify and merge requirements so that we just have:
1. requirements.txt
2. requirem

[2021-04-07 11:30] waldenn opened #4995 "Search API requests for "readable ebooks only" may also return unreadable books."
Search API requests for "readable ebooks only" may also return unreadable books.

### Evidence / Screenshot (if possible)

Example 1:
-   https://openlibrary.org/works/OL16992247W/The_genius_of_Teddy_Wilson (not readable)
-   https://openlibrary.org/search.json?has_fulltext=true&mode=ebooks&q=%22The%20genius%20of%20Teddy%20Wilson%22& (has_fulltext is true, and the subject and text fields both disp

[2021-04-07 11:49] waldenn opened #4996 "Search API language-filtering does not work currently"
The web interface is able to do language filtering, but the search API is currently not.

As the search API documentation implies you can just add ".json" to the search end-point, combined with the fact that language-filtering is important for many readers, I marked this a bug (instead of a feature request / enhancement).

**Evidence / Screenshot (if possible)**

Example 1:

https://openlibrary.or

[2021-04-07 12:08] waldenn opened #4997 "add some important sort-options for search-inside API"
### Describe the problem that you'd like solved

The search-inside API currently has no way to sort the results, which is possible in the search API.

Note: sorting is also not yet possible in the search-inside web interface:
  - https://openlibrary.org/search?q=water&mode=ebooks&has_fulltext=true

### Proposal & Constraints

I would like to see some basic sort-options, the most important of which

[2021-04-07 14:00] waldenn opened #4999 "Is there a way to limit the page-size of search API requests?"
### Question
Is there a way to limit the page-size of search API requests?

The default Search-API page-size is 100 items: http://openlibrary.org/search.json?q=the+lord+of+the+rings

I would like to reduce the page-size (limit) for Search API calls, since the user can just 'page' through the results if he/she wants. Fetching more results also requires more processing on the client-side.

Side note

[2021-04-07 14:13] #4774 closed

[2021-04-07 15:11] cdrini commented on #3317
Status update: Tried to run on the latest dump, but the dump was missing records :( Blocked by #4621 .

[2021-04-07 15:12] cdrini commented on #741
Heads up trying to keep a running log of my progress on #3317 , if that's useful.

[2021-04-07 15:20] cdrini commented on #4999
`limit=1` will set the page size for both of them. It looks like there is a bug with /search/inside ; it's erroring when limit is set!

[2021-04-07 16:55] RayBB commented on #4994
@cclauss
Have you considered the `extras_require` field in setup.py?
I'm not familiar with our build/setup process but I've seen this used for dev dependencies on other projects and it seems to work fine. Not sure if there is any downside to it.

[code]

Here's a SO link giving an example: https://stackoverflow.com/a/28842733/620699

[2021-04-07 17:01] cclauss commented on #4994
Thanks, @RayBB but I like the explicit nature of requirements files instead of hiding those details in `setup.py`.  With requirements files, we can install our dependencies separate from performing other setup tasks.

[2021-04-07 17:34] waldenn commented on #4999
Ah sorry, I overlooked applying "limit" to the Search-api, as I did not see it documented.

Thanks for looking into the inside-search issue too!

[2021-04-07 17:58] tfmorris commented on #4621
Is the Dec 2020 dump known to be complete? When is the last known good dump?

[2021-04-07 18:40] bpmcneilly opened #5003 "HTML autocomplete on Known User Info (Sign Up & Login Forms)"
WCAG 2.1 added the success criterion [1.3.5 Identify Input Purpose](https://www.w3.org/WAI/WCAG21/Understanding/identify-input-purpose) which, effectively requires the use of the html `autocomplete` attribute on certain form fields.

The [full list of fields requiring this attribute](https://www.w3.org/TR/WCAG21/#input-purposes) is available in the WCAG docs & the [html spec describing the attribu

[2021-04-07 18:41] Priyanshujha11 commented on #5003
Can you assign this to me

[2021-04-07 18:42] Priyanshujha11 commented on #4997
assign this to me

[2021-04-07 19:47] cdrini commented on #4621
Yes, that's the last known correct dump.

[2021-04-07 19:51] cclauss commented on #4621
I will have time to work on this again in my morning based on what we discovered in our last discussion.

[2021-04-07 20:03] cdrini commented on #4621
Awesome! Thank you, @cclauss !

[2021-04-07 20:43] #4999 closed

[2021-04-08 03:30] RayBB opened #5004 "Lists page uses header levels out of order"
In working on #4902 I noticed that we are not using headers in an accessible way.

Per [webaim](https://webaim.org/techniques/semanticstructure/#headings)

Per [yale accessibility guidelines](https://usability.yale.edu/web-accessibility/articles/headings)

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/921217/113963875-21b8a580-97c6-11eb-8823-79ce64a5dfd

[2021-04-08 05:28] dhruvmanila commented on #4994
Here's what I found out:
[code]
- `setup.py` has its dependencies listed out in the file itself, so its not relying on any of the said requirements file.
- `requirements_common.txt` as the name suggests, is a list of common dependencies for testing and development purposes.
- `requirements.txt` is never used, atleast internally. It might be used for the developer to install the necessary dependenc

[2021-04-08 05:44] cclauss commented on #4994
Nice.  I believe that `setup.py` Is also never used.  Open Library is not a package on PyPI and we never do or recommend doing `pip install openlibrary`.  Based on your findings above, a sane, phased approach would be:
1. Remove `requirements.txt`, test and the do a weekly deployment to ensure nothing breaks.
2. Rename `requirements_common.txt` to `requirements.txt`, test and do a weekly deploymen

[2021-04-08 12:49] cclauss opened #5007 "Docker-compose unsupported config: profiles"
Related to  #4936 which added Docker `profiles` -- Our server versions of `docker-compose` do not yet support `profiles`.

ol-home0% `docker-compose --version`
docker-compose version 1.25.0, build unknown

https://forums.docker.com/t/unsupported-config-option-for-services-profiles/103767

### Evidence / Screenshot (if possible)

![Screenshot 2021-04-08 at 14 45 04](https://user-images.githubuserco

[2021-04-08 13:41] cclauss commented on #5007
We updated docker-compose via https://docs.docker.com/compose/install/#upgrading

[2021-04-08 13:41] #5007 closed

[2021-04-08 16:18] #4938 closed

[2021-04-08 17:58] cdrini commented on #4229
Final action was to remove the old dev server, and switch to staging.

[2021-04-08 17:58] #4229 closed

[2021-04-08 18:11] bpmcneilly opened #5012 "Add Skip Links to Bypass Blocks of Navigation"
WCAG 2.1 [2.4.1 Bypass Blocks](https://www.w3.org/WAI/WCAG21/Understanding/bypass-blocks) includes requirements that users are able to easily skip past repeated blocks of content on the site.

This, generally, means a link that allows users to quickly skip to the main section of the page (or at least past the navigation). A good [skip link example can be found on the WebAIM site](https://webaim.or

[2021-04-08 18:38] bpmcneilly opened #5013 "Page Language is Not Declared Accurately During Internationalization"
The default language of Open Library is declared on the main `html` element. While the displayed language can be changed the the options in the footer (beneath `id="footer-locale-menu"`), this does not programmatically change the language declared in the HTML element. This content consistently declares the page language as English (via `lang="en"`).

### Evidence / Screenshot
![Two open library sc

[2021-04-08 19:18] cdrini opened #5014 "Ability to Rename user"
Potential subtask of #4875

Getting user requests via email about ability to change screen name.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-04-08 19:25] bpmcneilly opened #5015 "Passages of Text Must Have Their Language Explicitly Declared"
In addition to ensuring that we accurately declare the page language ( #5013 ), we have to ensure that the languages of individual passages of text are accurately be declared.

For some passages of text, such as those in the language links in the footer (beneath `id="footer-locale-menu"`), this will be fairly easy to set (e.g. we know that the contents of the link "Čeština (cs)" are in Czech). How

[2021-04-08 22:22] RayBB opened #5016 "Unable to add book: "Internal Server Error""
I tried to add a book with the following details:
* Title: `He Huli ʻUlaʻula: A Study in Scarlet`
* Author: `Fevronia H Watkins`
* Publisher: `Independently Published`
* Published: `November 25, 2020`
* ISBN 13: `9798589760521`

When I do I just get "Internal Server Error"

### Evidence / Screenshot (if possible)
<img width="988" alt="Screen Shot 2021-04-08 at 12 16 57 PM" src="https://user-images

[2021-04-09 03:22] Yashs911 commented on #5013
@bpmcneilly I would like to work on this issue.

[2021-04-09 10:27] cclauss commented on #5016
Closing as duplicate of #4869

[2021-04-09 10:27] #5016 closed

[2021-04-09 12:08] dhruvmanila commented on #4994
Taking further look at the dependencies and as mentioned in my previous comment, the `requirements.txt` file is never used to install any dependencies.

So, I looked into the Docker environment about which `pip` packages were being installed (using `requirements_test.txt`) and found out this:

<details>
<summary><code>pip</code> packages inside Docker web service:</summary>

[code]
</details>

Tak

[2021-04-09 13:43] cdrini commented on #4994
That sounds perfect; great find! I confirmed I can find no references whatsoever to `requirements.txt` in our codebase.

[2021-04-09 13:44] cdrini commented on #4994
Note setup.py is used only for `cython`izing certain files during the solrbuilder flow ; it's not used for installing dependencies (those should be removed from that file).

[2021-04-09 14:09] cclauss commented on #4994
Please make sure there is ___a comment___ near the top of `setup.py` to explain when and how that file is used.

[2021-04-09 21:12] navneetsaluja opened #5022 "Graphs broken on homepage"
### Evidence / Screenshot (if possible)
![graph3](https://user-images.githubusercontent.com/54721958/114241054-2fc51c80-99a6-11eb-8590-4a3a2549b972.png)

### Relevant url?
https://openlibrary.org/

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** Firefox 87.0
- **Operating system?** Windows
- **Environment (prod/dev/local)?** prod

### Stakeholders

@cdrini

[2021-04-10 05:30] dwaipayan05 commented on #5022
Duplicate of #3924

[2021-04-10 10:39] STAMATIOSL commented on #5022
Hi, I am a new contributor. I downloaded the Docker and I want to contribute to an open issue. What's the process for this?

[2021-04-10 10:43] STAMATIOSL commented on #4492
Hi , I am a new contributor. How I can contribute to this specific issue becasue I am in a little confusion?

[2021-04-10 10:50] Evazisouli commented on #4267
Hello! I'm a new contributor, should I try to contribute in this issue?

[2021-04-10 13:51] cclauss commented on #4992
Is there another URL that exhibits this problem?  For me, this page has a cover and works as expected.

[2021-04-10 14:23] Yashs911 commented on #4910
@bpmcneilly No issues.

[2021-04-10 14:41] Yashs911 commented on #4912
@bpmcneilly No issues.

[2021-04-10 14:44] SaravgiYash commented on #4913
@bpmcneilly No focus on Save Button due to `outline: 0;`
Should I create a separate PR for all the minor HTML, CSS changes so that it can get merged?
For e.g: Fix order of Header HTML, Button outline CSS, and Search by focus?

[2021-04-10 14:49] Yashs911 commented on #4903
@bpmcneilly, No issues

[2021-04-10 14:53] SaravgiYash commented on #4905
@bpmcneilly I would like to work on this issue

[2021-04-10 15:05] Yashs911 commented on #4905
1. When the user tab through both Search Inside and Search Result Page it opens the search-dropdown and it can not be collapsed so my suggestion was as we already have the input in a second search bar we can just remove the input from the top search bar.
2. Also need the focus outline for bookcovers
![image](https://user-images.githubusercontent.com/64412143/114274487-330ae780-9a3c-11eb-90f6-c8433

[2021-04-10 21:49] RayBB opened #5031 "Are book covers "Decorative Images" for accessibility purposes when they go to the same place as the next link?"
### Question

Are book covers "Decorative Images" for accessibility purposes when they go to the same place as the next link?

### Additional context

I'm working on #4940 as part of the bigger accessibility work here #4897. I realized that perhaps the focus indicator doesn't need to be fixed since we may not need it at all. I first thought this because eBay and Amazon do not focus on pictures of

[2021-04-10 21:50] RayBB commented on #4940
@bpmcneilly I think that the FireFox focus indicators can be a separate issue. It will apply to many pages and we may want to check across many browsers since it is browser specific.

Regarding the issue of the focus indicator for the book cover being obscured:
I created #5031 to talk about an issue that may make the focus indicator irrelevant.

[2021-04-10 22:55] RayBB commented on #2021
I am not experience this in production. But when developing locally instance I am experiencing this on FF/Chrome/Brave regardless of what extensions I turn on or off.

[2021-04-11 02:29] RayBB commented on #710
Adding wikidata ids to works is blocked by #1797

[2021-04-11 02:38] RayBB commented on #3430
Pretty sure this is a duplicate of #1797

[2021-04-11 04:44] ma8642 opened #5032 "Subjects Page: interactive elements skipped on Firefox and Safari"
Issue related to #4899

## Requirement:
### 2.ii.(a)

## Observations:
1. :x: Only the search bar and search button receive focus.  Right after the search button, the next focused item is the browser reload button (Firefox).
2. :x: Only the search bar receives focus.  Right after the search button, the next focused item is the browser url field (Safari).
### Evidence / Screenshot
![subjects-page-i

[2021-04-11 04:55] ma8642 opened #5033 "Subjects Page: search field missing descriptive label"
Issue related to #4899

## Requirement:
### 2.iv.(b)

## Observations:
1. :x: Search bar is missing a label/entry placeholder
![subjects-page-search-bar-missing-label](https://user-images.githubusercontent.com/13713037/114292922-01a41300-9a60-11eb-9433-e57dfaabdc24.png)

### Relevant url
`https://openlibrary.org/subjects`

### Steps to Reproduce

1. Go to https://openlibrary.org/subjects.
2. Look

[2021-04-11 04:58] ma8642 commented on #4899
@bpmcneilly I have filed issue tickets for all the bugs I found on this page.

[2021-04-11 06:21] Yashs911 commented on #5032
1. Can't reproduce this error (Firefox).
![image](https://user-images.githubusercontent.com/64412143/114294342-98ea8400-9abb-11eb-98a5-f8a614ee21da.png)
But I believe the default focus outline is very thin and due to low color contrast, it is not visible.
2. Current Order of focus is `Edit>User>History` but it should be `User>History>Edit`
![image](https://user-images.githubusercontent.com/6441214

[2021-04-11 06:26] Yashs911 commented on #5031
@RayBB I don't know if this is useful but according to this comment https://github.com/internetarchive/openlibrary/issues/4633#issuecomment-783681715
We combined the links for cover and text (Lists Page). But I don't think that solution will work for all the pages.

[2021-04-11 06:36] RayBB commented on #5031
@Yashs911 this is very helpful context thank you for linking. I'm not sure if there are any major advantages to combining to one link vs just making the tabbing skip over covers. Perhaps it depends on the case. I look forward to hearing what others think.

[2021-04-11 07:52] seabelis commented on #4992
@cclauss I've added one more step to reproduce. You must go to the Work Details tab.

[2021-04-11 11:22] dwaipayan05 commented on #5022
@STAMATIOSL Please go through this [document](https://github.com/internetarchive/openlibrary/blob/master/CONTRIBUTING.md).

[2021-04-11 13:12] STAMATIOSL commented on #5022
@dwaipayan05 I read it but I can't connect the Docker with the OpenLibrary. As I understood, I must do this in order to see the changes in the OpenLibrary. Am I right?

[2021-04-11 13:38] dwaipayan05 commented on #5022
If you're talking about setting up docker environment for OL Installation, here's a proper [video tutorial](https://archive.org/embed/openlibrary-developer-docs/openlibrary-docker-set-up.mp4).

If you're stuck at any specific phase of the docker installation, you can ask for clarifications with proper error outputs, screenshots on [gitter](https://gitter.im/theopenlibrary/Lobby)

[2021-04-11 14:36] LeadSongDog commented on #3430
@RayBB Not quite, that #1797 is just Wikidata IDs, but there are multiple work ID types just as there are multiple edition IDs. There are also multiple work classification IDs (see #897) for which we will still need to provide a distinct UI.

[2021-04-11 14:46] LeadSongDog commented on #3433
@BrittanyBunk Can this be closed now? I looks to me to have been completed. The three tabs you crossed out are now replaced by a single link to the work edit page.

[2021-04-11 19:14] tfmorris commented on #2103
What's blocking the importing of MARC 100$q fields? It's seems straightforward, bordering on trivial.

Skipping them means that the archive.org display has more information than the OpenLibrary display
https://archive.org/details/legionofmarching00blaciala
https://openlibrary.org/books/OL7058654M

Also, ignoring the additional information that's included in the MARC record:
https://openlibrary.org

[2021-04-12 07:32] dhruvmanila commented on #4941
Another idea I got today was:
1. Analyze and list out all the functions and methods which uses either of the conversion (encoding/decoding)
2. Start putting type hints for those functions/methods one at a time.

The process itself will tell us more information regarding what the function is doing and why are we encoding/decoding and at the end we could conclude if we even need to do the conversion

[2021-04-12 10:39] Yashs911 commented on #4939
@RayBB I would like to work on this issue.

[2021-04-12 10:40] lephemere opened #5034 "Library Explorer accessibility: Wrong keyboard focus order on bookshelf"
In the Library Explorer, keyboard focus goes first to the `shelf-carousel` section before the above `shelf-label` section.

Parent issue #4908.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/73437497/114380677-9e62cf80-9b8a-11eb-911b-283b5d112078.png)

### Relevant url?

https://openlibrary.org/explore

### Steps to Reproduce

### Details

- **Logged in

[2021-04-12 10:50] Yashs911 commented on #4939
@RayBB for tablet view EDIT button is shifted to the left and after fixing the alignment issues(I will create a PR).
The order looks correct:
![image](https://user-images.githubusercontent.com/64412143/114383092-c5c99480-9baa-11eb-9947-4c84e7c50859.png)
So I was a little confused but according to me we should give priority to destop

[2021-04-12 11:44] lephemere opened #5037 "Library Explorer accessibility: No keyboard focus on floating controls"
In the Library Explorer, it is not possible to focus the `floating-controls` section with the keyboard.

Parent issue #4908.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/73437497/114388600-31ecce00-9b94-11eb-822e-8739dd10b3c0.png)

### Relevant url?

https://openlibrary.org/explore

### Steps to Reproduce

### Details

- **Logged in (Y/N)?** N
- **Bro

[2021-04-12 12:12] lephemere opened #5038 "Feature/Go to next shelf link in Library Explorer"
In the [Library Explorer](https://openlibrary.org/explore), when navigating with the keyboard only, we have to press `tab` up to 26 times (For a shelf filled with the maximum 20 books) to reach the next shelf.

Parent issue #4908

### Describe the problem that you'd like solved

It would greatly improve keyboard navigation if a link was available in each shelf to go to the next shelf (In the `shel

[2021-04-12 12:51] cdrini commented on #5037
`<div class="chunky-icon">` should be change to a `<button>` :+1:

[2021-04-12 17:57] mekarpeles commented on #5022
I don't believe this is a duplicate of:
https://github.com/internetarchive/openlibrary/issues/5022#issuecomment-817082160

I think this issue is occurring because staff recently changed our backend stats cron-jobs from python2 on `ol-home` + `ol-www1` to python3 `ol-home0` + `ol-www0`

[2021-04-12 17:59] BrittanyBunk commented on #3433
@LeadSongDog yes. It...looks...awesome! Thank you everyone!

[2021-04-12 17:59] #3433 closed

[2021-04-12 19:37] mekarpeles commented on #4935
@navneetsaluja is there a certain place we should be looking for this PR? Is this in https://github.com/internetarchive/openlibrary-bots?

[2021-04-12 19:58] mekarpeles commented on #4986
This is happening because of the description markdown (unclosed italics is leaking out causing the rest of the page to break). @cdrini suspects this may be a duplicate issue?

[2021-04-12 20:01] mekarpeles commented on #4995
This is happening because some books are print-disabled only (i.e. only available to print disabled patrons).

I believe you'd like the search API to only return works which have borrowable or readable copies and this is not something we can easily do without completely changing how we index works and editions and their availability within solr.

[2021-04-12 20:45] waldenn commented on #4995
Yes. Ok, thanks for the info.

What about adding a "text"-field string to indicate a "disabled-print-only" book? Then one could just filter these books out of the results on client side. The total results would not be correct with the displayed results, but that's a minor issue that could be worked around.

[2021-04-12 20:46] mekarpeles opened #5039 "Issue with local developer environment (pyenv + web_1)"
### Evidence / Screenshot (if possible)

Patrons reporting issues with pyenv and docker-compose encountering an issue with `web_1`.

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

[2021-04-12 20:51] cdrini opened #5040 "Announcement: We updated python in the olbase image; build + pull to fix your local environments"
You might be getting an error in your local environment complaining about `3.9.4 not installed` or `3.9.2 not installed`. To fix, run go get latest master and run `docker-compose build --pull web`. That should pull the latest olbase image (which has the right version of python).

### Stakeholders
@cclauss

[2021-04-12 20:52] #5040 closed

[2021-04-12 20:58] cdrini commented on #5039
Perhaps try #5040

[2021-04-12 23:42] cdrini commented on #4621
Status update: With the PR above merged, the split records @cclauss ran on the 03-19 dump do look to be the correct size! Or very similar anyways:

[code]

Going to try running the full flow to see if it works!

[code]

And now we wait...

[2021-04-13 03:36] dhruvmanila commented on #5039
As mentioned by @cdrini, doing a `docker-compose build --pull web` will upgrade the local image to the latest. Another thing to keep in mind is to not be in a virtual environment created by you when you are doing `docker-compose up` as that will alter the `PYENV_VERSION` environment variable which is used to set the correct Python version to run in the docker container.

[2021-04-13 04:54] Yashs911 commented on #4795
@sharur7 Are you still interested in solving this issue?

[2021-04-13 07:15] lephemere commented on #4996
I tested other filters available in the search web interface and the following didn't work with the search API as well:
- author_key
- subject_facet
- person_facet
- place_facet
- time_facet
- first_publish_year
- publisher_facet

[2021-04-13 10:32] Evazisouli commented on #5039
Hello, I've followed the instructions but I' m getting an error for solr-updater_1. I' m attaching a screenshot, if it helps.
![Screenshot_3](https://user-images.githubusercontent.com/56540005/114538958-a0955e80-9c5c-11eb-88b8-fbbd82ca9c04.jpg)

[2021-04-13 11:03] dhruvmanila commented on #5039
That would probably be the case if you don't have the `infogami` submodule. Try running the following command:
[code]

[2021-04-13 11:28] Evazisouli commented on #5039
Should I run this command in directory openlibrary or inside docker directory?

[2021-04-13 12:29] lephemere opened #5042 "Library Explorer: Other languages list filter"
In the Library Explorer, the other languages filter list is partially hidden.
Moreover, when navigating with keyboard arrows, going up select the item below the selected one and going down select the item above, which is counterintuitive.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/73437497/114535585-7f2e7580-9c50-11eb-87e2-44381e477a66.png)

### Rel

[2021-04-13 14:58] navneetsaluja commented on #4935
@mekarpeles Apologies, I have not pushed the PR yet. I'll push it tomorrow after refining the code a bit.

[2021-04-13 15:08] cdrini commented on #4621
Failed because the fix hadn't been deployed -\_- . Also it tried to save to `ol_dump_--archive` for some ridiculous reason? Let's try again.

I think `%` is a special character in a cron file, which doesn't work in native bash; tweaked the date command to work. Trying this now:
[code]

Wait once more...

[2021-04-13 15:14] dhruvmanila commented on #5039
In the root of the project.

[2021-04-13 15:34] Evazisouli commented on #5039
Okay, thank you! However I get the same errors as earlier... It's like it can't have access to infogami regarding its location.

[2021-04-13 16:44] dhruvmanila commented on #5039
Can you provide me with some more details? Like what steps did you take until this error occurred? I won't be able to help without some context.

[2021-04-13 17:11] #4910 closed

[2021-04-13 17:11] #4912 closed

[2021-04-13 17:12] #4903 closed

[2021-04-13 17:21] Evazisouli commented on #5039
Yes, of course. I have built the images in docker following the tutorial video and I have upstreamed my repo with the latest master and run the docker-compose build --pull web command. Then, I ran the command you provided for infogami and after that I ran the docker-compose up command and I still got the same errors as the screenshot I have provided earlier, so I don't have access to the localhost

[2021-04-13 17:34] Yashs911 commented on #5031
@RayBB I would suggest you make separate issue/PR for each page because for example:
Combining links for the Lists Page didn't change the design.
But for Subjects Page:
![image](https://user-images.githubusercontent.com/64412143/114595895-871c0300-9cac-11eb-9fc1-ed83e08073e9.png)

[2021-04-13 17:54] RayBB commented on #4939
@Yashs911 please do work on this if you're interested :)

I agree that the desktop view should take preference for tab order.

In my opinion we should keep the edit button consistent to have it in once place across different views as much as possible. But perhaps that's a different issue.

[2021-04-13 23:02] cdrini commented on #5039
Hi @Evazisouli ! Here are some things that might help:

(1) Did you follow the symlink instructions for Windows folks in the Troubleshooting section here: https://github.com/internetarchive/openlibrary/blob/master/docker/README.md#for-windows-users-only . That might cause some issues like this.

(2) Try resetting your docker environment following the instructions here: https://github.com/interneta

[2021-04-14 08:31] mekarpeles commented on #3296
Hi all, I don't see anyone currently assigned to this issue, so if you'd like to proceed, feel free to try opening a **draft** PR.

Whatever solution we come up with will need to go through a community review (e.g. get feedback on one of our Tuesday community calls) and ultimately get cleared by staff, so I'd try not to invest too much time before getting feedback.

[2021-04-14 13:43] BrittanyBunk commented on #3296
@mekarpeles thanks for warning us

[2021-04-14 17:56] mekarpeles opened #5046 "Book Widget fails for Redirects after books merged"
When a book is merged, iframes which reference the pre-merged work show the entire open library books page rather than the widget view.

https://openlibrary.org/works/OL1063339W/How_to_win_friends_and_influence_people/widget

Should look like this:
![openlibrary org_books_OL21094918M_How_to_win_friends_and_influence_people_widget](https://user-images.githubusercontent.com/978325/114756688-dcd5c700

[2021-04-14 19:36] cdrini commented on #4621
Ok! Done; they look about the right size again; uploading failed because I forgot to set the hostname :/

[code]

Here's the commands I used to re-upload. Note Hank had to delete the failed runs in order for the IDs to be available

[code]

They should show up at https://archive.org/details/ol_dump_2021-04-12 and https://archive.org/details/ol_cdump_2021-04-12 once it's done.

[2021-04-14 19:43] cclauss commented on #4621
Thanks MASSIVELY!!!

[2021-04-14 20:16] cdrini commented on #4621
Aaand upload complete! If folks want to take a look to verify: https://archive.org/details/ol_dump_2021-04-12 and https://archive.org/details/ol_cdump_2021-04-12 .

I'll close this issue after my solr run is complete—that'll spit out some errors if references are missing.

[2021-04-14 21:07] #4994 closed

[2021-04-14 21:28] #4925 closed

[2021-04-14 21:47] #5034 closed

[2021-04-15 01:10] cdrini commented on #3317
Status Update: Merged the first batch of PRs (including the jumbo #4937 !). Extracted the next 2 PRs from #4337 .

Started the full reindex on solr1; waiting for it to finish to see if the data dump fixes worked. There's still the bug that `text_general` has converted everything to multiValued (eg author_name is now multiValued). Will see if I can fix and run another full reindex later. Determinin

[2021-04-15 22:26] RayBB opened #5055 "<Nothing> in empty fields"
Just noticed that many pages are showing `<Nothing>` in empty fields and edit pages too.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/921217/114945727-8c309d80-9de5-11eb-9321-d50272a87a42.png)
![image](https://user-images.githubusercontent.com/921217/114945761-9ce11380-9de5-11eb-8d61-351ca51be032.png)
![image](https://user-images.githubusercontent.com

[2021-04-15 22:40] RayBB commented on #5055
Looks like it is fixed now

[2021-04-15 22:40] #5055 closed

[2021-04-15 23:02] #4867 closed

[2021-04-16 00:01] cdrini commented on #4621
Stats from latest dump:

Type | count
-- | --
/type/about | 1
/type/author | 8426018
/type/backreference | 7
/type/collection | 3
/type/delete | 1235931
/type/doc | 9
/type/edition | 30100361
/type/home | 11
/type/i18n | 966
/type/i18n_page | 15
/type/language | 467
/type/library | 325
/type/local_id | 7
/type/macro | 126
/type/object | 3
/type/page | 274
/type/permission | 10
/type/place | 1
/typ

[2021-04-16 00:01] #4621 closed

[2021-04-16 00:08] cdrini commented on #3317
Completed without a hitch!

Type | # in postgres dump | # in solr | diff
-- | -- | -- | --
Works | 22,127,655 | 22,127,654 | -1
Orphans | 2,310,485 | 2,310,478 | -7
Authors | 8,426,018 | 8,425,773 | -245
Subjects | NA |   | NA

Cause of missing authors is unclear; no errors were logged.

Orphans had 1 error:

[code]

And many warnings about author redirects.

Works had 1 error, many warning about

[2021-04-16 00:21] cdrini commented on #3317
Next steps:

- [ ] Spin up a new solr-updater that points to ol-solr1 so we can see how it handles updates
- [ ] Point staging to ol-solr1
- [ ] Fix bug with `text_general`

[2021-04-16 13:34] lephemere commented on #4690
This PR #5054 should resolve the issue about search giving a last empty page.
Results page count calculation was giving +1 empty page for search with multiple of 20 results.

[2021-04-16 21:30] cdrini commented on #3317
Note I uploaded the data to IA, so if you want to try loading it on your computer, see https://archive.org/details/olsolr8-2021-04-12 . You'll need ~25GB of hard disk space :+1:

[2021-04-17 01:16] mekarpeles commented on #5022
Before resolving, also followup here: https://news.ycombinator.com/item?id=26840794

[2021-04-17 09:46] Evazisouli commented on #5039
Hi @cdrini! Thank you so much for your help! It finally worked and I managed to get access to the localhost!

[2021-04-19 10:05] lephemere commented on #4474
@jdlrobson, I'll have a look at `openlibrary/templates/work_search.html`.

[2021-04-19 14:09] lephemere opened #5064 "Search filters in Zoom in area can display empty list when messing around with more/less button"
On the search page, when displaying all available items for a filter with the `more` button, and reducing this item list to the minimum with the `less` button, we end up with an empty list.

The example given below shows the behaviour for the author list only, but this issue affects all filter with more than five items (Thus enabling the `more`/`less` button option).

### Evidence / Screenshot (if

[2021-04-19 16:43] STAMATIOSL commented on #5046
Can I take this issue?

[2021-04-19 16:45] Evazisouli commented on #2777
Hello! Could I work on this issue?

[2021-04-19 16:51] cdrini commented on #5039
Wonderful! I'm glad it worked :) Would you mind sharing what did the trick? Us windows users tend to have a number of issues with docker, so it might help someone else :)

[2021-04-19 17:00] b-thebest commented on #2777
Yes, I am interested. Please assign this issue to me

[2021-04-19 19:47] mekarpeles commented on #5039
@Evazisouli when you get a chance, can you please update this issue with which step fixed your problem?

And then we will close this issue :)

[2021-04-19 20:06] Evazisouli commented on #5039
Hello! Yes of course! The issue I had was linked with the `infogami` submodule, as I understood.

So, I run the command `git submodule update --init` at first.

Then, I followed the steps @cdrini suggested and I think that the ones that fixed my problem and therefore gave me access in the localhost were the following commands:

`git submodule init`
`git submodule sync`
`git submodule update`

[2021-04-19 20:13] Evazisouli commented on #4673
Hi @cdrini! Is this a good issue to contribute in as a new contributor?

[2021-04-19 20:19] mekarpeles commented on #4060
The remaining issues are as follows, which are being moved to a followup issue:
- [ ] Remove infobase ol-home:7000 -> ol-home0:7000 reverse proxy
    - [ ] remove ol-home proxypass to ol-home0 for infobase + update config
- [ ] Can we dump stats-solr and move from ol-home to ol-home0?
    - [ ] #4426 Can we remove it?
- [ ] can we reclaim 4gb of RAM from ol-home (until we can decommission)
- [ ] I

[2021-04-19 20:19] #4060 closed

[2021-04-19 20:19] mekarpeles opened #5066 "ol-home cleanup: todo create separate issues"
The remaining issues are as follows, which are being moved to a followup issue:
- [ ] Remove infobase ol-home:7000 -> ol-home0:7000 reverse proxy
    - [ ] remove ol-home proxypass to ol-home0 for infobase + update config
- [ ] Can we dump stats-solr and move from ol-home to ol-home0?
    - [ ] #4426 Can we remove it?
- [ ] can we reclaim 4gb of RAM from ol-home (until we can decommission)
- [ ] I

[2021-04-19 21:20] cdrini commented on #5039
Awesome, thank you @Evazisouli !

[2021-04-19 21:20] #5039 closed

[2021-04-20 09:00] lephemere commented on #4673
@evazisouli, as a new contributor you should probably check issues tagged [Good First Issue](https://github.com/internetarchive/openlibrary/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22) for a starter.

[2021-04-20 09:05] lephemere commented on #4673
If you are interested in this issue, here below are some information I gathered, as I already had some thoughts on this matter:
- Current version of Apache Solr is 3.6.2.
- As per [Solr 4.0.0 Release Note](https://solr.apache.org/docs/4_0_0/changes/Changes.html), it seems that query sort options were quite limited before version 4.
- Currently, issue #3317 is in progress to upgrade Solr to version

[2021-04-20 11:03] mekarpeles opened #5069 "#5058 (Merged) html/python po i18n breaks /lists"
I think @Yashs911 correctly spotted an error within this block which is resulting in erroneous behavior on http://staging.openlibrary.org/lists
![staging openlibrary org_lists](https://user-images.githubusercontent.com/978325/115385711-4b41db80-a18d-11eb-982f-41b10314c429.png)

_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/pull/5058#r616577567_

[2021-04-20 12:16] Evazisouli commented on #4267
@jamesachamp could you give me some guidelines please?

[2021-04-20 16:55] cdrini opened #5072 "Issues in 2021-04-15 Deploy"
### Summary

Breaking the usual template, because this wasn't really one thing that went wrong, but a number of things.
- **What went wrong?** Logging in wasn't working for ~20min. due to last deploy.

- **What caused it?** Bug in infogami code.

- **What fixed it?** Hotfix in infogami, patchd deployed to web1/web2.

- **Followup actions:**

  - Logging in wasn't working!
      - We didn’t test lo

[2021-04-20 18:52] #5072 closed

[2021-04-20 19:59] #5069 closed

[2021-04-20 22:20] cdrini opened #5076 "Make staging for master"
We want to be able to have a pre-deploy server. We currently have staging.openlibrary.org , but we use that mainly to test PRs. So, we will:

- [x] Set up automatic staging deploy on master merge (set up on staging.openlibrary.org:9090 )
- [x] Add DNS for testing.openlibrary.org
- [x] Ping folks to switch to testing.openlibrary.org
- [ ] Add banner on staging.openlibrary.org telling people they sh

[2021-04-21 03:14] Yashs911 commented on #5003
@bpmcneilly I think we also need to add (https://openlibrary.org/contact?path=/help)

- Name
- Email

[2021-04-21 03:50] BrittanyBunk opened #5078 "add discussion tab on github"
Problem:
The issue with putting discussions in the issue section is that the 'issue' gets closed by others. This halts discussions before it gets to where it needs to go.

Solution:
Add a discussion tab, so that people can freely talk about what they need to. People shouldn't have to wait until the community meeting to get out what they have to say and brainstorm.

[2021-04-21 15:23] mekarpeles opened #5080 "My Books (Reading Log) add Search & Filter capability"
### Describe the problem that you'd like solved

(What it would take to) add search capabilities to the Reading Log page.

### Proposal & Constraints

Please note, that currently, this proposal will not work because book titles, authors, and the other data we'd like to search for are not kept in our ReadingLog db table, only the OL identifiers. We may be able to achieve this with solr in the futur

[2021-04-21 15:25] mekarpeles commented on #4267
Howdy @Evazisouli, this could be a good one!

# Working with Reading Log

A mini-tutorial.

## Overview

The html template for the reading log code is here:
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/account/books.html

This is what the rendered page looks like:
https://openlibrary.org/people/mekBot/books/want-to-read

The template is rendered by a view method

[2021-04-21 17:35] #4859 closed

[2021-04-21 17:35] mekarpeles commented on #4859
Duplicate of https://github.com/internetarchive/iaux/issues/543

[2021-04-21 18:33] bpmcneilly commented on #5003
@Priyanshujha11 - how's this going? Got any questions of issues with it on your end?

Also, good spot @Yashs911 - we should definitely include those two in any upcoming PR

[2021-04-21 20:51] Evazisouli commented on #4267
Thanks @mekarpeles! I would really like to work it!

[2021-04-22 03:39] RayBB opened #5083 "Remove last traces of code.openlibrary.org"
code.openlibrary.org points to an old read the docs site that hasn't been updated in years.
The last mention of sphinx (which was used to build the site) was in  https://github.com/internetarchive/openlibrary/pull/986 and the ticket to move docs to github was https://github.com/internetarchive/openlibrary/issues/473.

Lets remove the last pieces make to our documentation clearer.

# Migrating cont

[2021-04-22 04:04] RayBB commented on #5078
None of the repos I've seen lately have discussions turned on so I don't have experience with it but it looks handy.

There are docs about it here for those who are curious:
https://docs.github.com/en/discussions

There communities that use it though are: https://github.com/gatsbyjs/gatsby/discussions and https://github.com/nodejs/node/discussions

Some of the features of it that are nice at first

[2021-04-22 06:16] RayBB commented on #5031
@bpmcneilly I'm trying to handle some of the more complicated cases first such as list and search result.

I looked at the example Yash mentioned about the lists page and how it works using `float: left`. That seems to work fine for that example. I'm currently struggling to get this working on something like the list or search result page.

Two problems that come up right away:
* These pages are r

[2021-04-22 12:41] Evazisouli commented on #4673
@lephemere thanks for your advice! I'll start with another issue first, in order to get familiar with the whole process.

[2021-04-22 16:33] BrittanyBunk commented on #5078
@RayBB thanks for looking into it.

- The ones that should be a discussion are issues that the OL staff don't want to work on that get closed because they are half-baked ideas that need to be thought out through more and shouldn't be closed.
- I'm not worried about categories. As it grows, it's not hard to group everything, but I prefer not to categorize it. Just treat it like the issues for now -

[2021-04-22 18:53] mekarpeles opened #5088 "Upgrade Reading Log: add "Check-ins""
### Describe the problem that you'd like solved

Add a readinglog_checkins table with a Reading Log ID foreign key, a page number, and a date... Or, store this information in the Reading Log table as json (probably better as it avoids joins)

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-04-23 19:04] #5004 closed

[2021-04-23 19:05] #4632 closed

[2021-04-23 20:10] #4996 closed

[2021-04-23 20:33] #4314 closed

[2021-04-24 00:39] RayBB commented on #853
Here is the code for how this currently works with editions:
https://github.com/internetarchive/openlibrary/blob/eddaa125d1ace42805ea1bc32fcd11d8aeff7603/openlibrary/templates/books/edit/edition.html#L443-L515

This is the file to edit to add the new code: https://github.com/internetarchive/openlibrary/blob/eddaa125d1ace42805ea1bc32fcd11d8aeff7603/openlibrary/templates/type/author/edit.html

I'm t

[2021-04-24 12:48] STAMATIOSL commented on #5046
The code linked with the issue is in the https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/lists/widget.html ? @mekarpeles

[2021-04-25 07:57] RayBB commented on #4474
I'll take `openlibrary/templates/type/user/edit.html`

[2021-04-26 03:25] RayBB opened #5094 "Search for "The Bomber Mafia" doesn't show any results in prod"
The Bomber Mafia is a book coming out Tuesday. I tried searching for in OL and got no result.
When entering the ISBN directly the book is in OL and was imported a month ago.

I tried looking for relevant tickets with the label `Theme: Search` but if there is a ticket related to this I missed it.

### Relevant url
* https://openlibrary.org/books/OL32050644M/The_Bomber_Mafia
* https://openlibrary.or

[2021-04-26 04:40] RayBB opened #5097 "Add OpenSearch so that open library can easily be searched from FireFox"
### Describe the problem that you'd like solved
Right now, chrome automatically adds open library as a search engine using it's [tab search](https://www.chromium.org/tab-to-search) feature.

I like to use Firefox and right now it does not detect search on openlibrary and as such doesn't offer to add OL as a search engine.

### Proposal & Constraints
I propose that we follow [these docs](https://de

[2021-04-26 04:52] #4371 closed

[2021-04-26 05:13] #4971 closed

[2021-04-26 06:53] faisalsayed10 opened #5098 "API route for collections?"
### Question

Why is there no api route for collections of reads for each months?

### Additional context

If I navigate to `/collections/april.json` I hoped to return me the books in that collection but it didn't?

### Issue resolution criteria

### Stakeholders

[2021-04-26 16:28] BrittanyBunk opened #5099 "line up titles with their sub-content"
Problem:
Titles don't start at the top of columns. It's kind of unreadable
![image](https://user-images.githubusercontent.com/55302685/116117918-a2eeb400-a671-11eb-814e-30e1a7363229.png)

Solution:
move titles to top of column

[2021-04-26 16:52] RayBB commented on #5094
Looks like it it showing up now (perhaps after authors were merged)

[2021-04-26 16:52] #5094 closed

[2021-04-26 17:20] lephemere commented on #5099
Duplicate of #4787

[2021-04-26 20:53] #5099 closed

[2021-04-26 20:53] mekarpeles commented on #5078
Not intended to use discussions tab yet / for now. Closing as will not fix :)

[2021-04-26 20:53] #5078 closed

[2021-04-26 20:56] mekarpeles commented on #5097
Go for it, if you'd like to try!!

[2021-04-26 21:00] mekarpeles opened #5100 "Unbreak Cron Jobs (ol-home1)"
Related to #5022 I don't think our crons are actually running :sweat_smile:

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholder

[2021-04-26 21:05] BrittanyBunk commented on #4787
this looks really easy. How do we get this done?

[2021-04-26 23:14] cdrini commented on #3317
Status update: code for solr-updater mods merged (Namely #5056, #5101); Cleanup to some solrbuilder code merged: #5048 . Away tomorrow, but planning to do a deploy Wendesday which will put the solr-updater bound to solr8 up and running!

[2021-04-27 06:21] faisalsayed10 opened #5102 "net::ERROR_NAME_NOT_RESOLVED while fetching images for the books"
Hi, I'm fetching works data from the API and while I'm trying to fetch its respective images from `covers.openlibrary.org`, 30% of the images won't load and will throw ERROR_NAME_NOT_RESOLVED in the console.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/36627266/116194489-8c6a5a80-a74e-11eb-920b-d9beab600c2e.png)

### Relevant url?

### Steps to Reprod

[2021-04-27 16:43] #4974 closed

[2021-04-27 16:56] seabelis opened #5103 ""Thank you very much for improving that record" message causes content on page to shift"
"Thank you very much for improving that record" message causes content on page to shift on page. This is like Lucy pulling the football away just as Charlie Brown is going to kick it; just as one goes to click on something, the target moves.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...any work or edition record.
2. Do ...save an edit.

* Actual:

[2021-04-27 20:44] #4931 closed

[2021-04-27 20:46] #4715 closed

[2021-04-27 20:56] #4898 closed

[2021-04-27 21:01] #4794 closed

[2021-04-27 21:30] #3630 closed

[2021-04-28 02:37] BrittanyBunk commented on #2245
This is not resolved. Only the description is collapsible, the table of contents is not.  See https://openlibrary.org/books/OL32246478M/Visions_of_Arcadia . It looks hard to read. I hope this gets reopened, as I can't be creating new issues for closed ones.

[2021-04-28 02:39] BrittanyBunk commented on #686
@SwapnilSoni1999 idk either - it's so strange - I never got invited in. I remember a long time ago Mek was travelling, so maybe it's that delay? caitlin@archive.org is the one I talked to about this that can help

[2021-04-28 10:13] Yashs911 commented on #5013
@mekarpeles I guess we can close this issue.

[2021-04-28 20:46] #5013 closed

[2021-04-28 22:36] RayBB commented on #5103
I would take a look. However, I can't reproduce or try to fix it since I can't edit a work on my local environment due to a recaptcha issue (related to https://github.com/internetarchive/openlibrary/issues/2021#issuecomment-817213073).

If anyone can help me get around the recaptcha issue I'll work on this issue.

[2021-04-29 02:04] cdrini commented on #3317
2 above done! New bug found:

- [x] solr8-updater throwing error about content-type missing
- [ ] All search results sometimes empty?

[2021-04-29 04:55] Yashs911 commented on #5103
@seabelis Will this work:

https://user-images.githubusercontent.com/64412143/116504017-0fb5b880-a8d5-11eb-90ff-32e4bba5ea56.mp4

I think using `position: absolute;` will solve the problem

[2021-04-29 07:14] seabelis commented on #5103
@RayBB Are you signed in as an admin? I _think_ that should remove the recaptcha.
Username: openlibrary@example.com
Password: admin123

@Yashs911 I think so. There's a flicker in the video that makes it a little difficult to see what's happening right at that moment.

Thank you both!

[2021-04-29 16:57] seabelis opened #5108 "Lists flash on book page when page loads"
Following the deployment on 28 April 2021, I noticed my lists flash up onto the page and then disappear when page loads. If that edition is on my list, the relevant list name remains.

Page load also seems slower than usual.

### Evidence / Screenshot (if possible)

https://user-images.githubusercontent.com/17739465/116588577-03a11980-a91c-11eb-838c-47585d3f6d6c.mov

### Relevant url?

Any edition

[2021-04-30 05:33] ma8642 commented on #2380
Just created a PR to address part of this issue:  the little tail at the bottom of the charts.

[2021-04-30 14:01] Sabreen-Parveen opened #5111 "Add may collection to home page"
Add may collection's carousel to home page.
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

@cdrini

[2021-04-30 19:12] RayBB commented on #5103
seabelis I am logged in with that account but it still had the recaptcha.

But if @Yashs911 is taking this on then I won't worry about it for now.

[2021-05-01 07:13] RayBB commented on #2050
For anyone who didn't have luck clearing the cookies and restarting the service as mentioned in the workaround. Resetting the database fixed the issue for me. You can find the command here https://github.com/internetarchive/openlibrary/blob/master/docker/README.md

[code]

[2021-05-01 07:37] RayBB commented on #395
This can be fixed by adding something as simple as:
[code]

However, before that happens, I believe the inline js should be moved from `openlibrary/templates/books/edit/edition.html` per #4474.

Additionally, if #5093 is merged then it would probably make sense to use that component and do validation in Vue.

[2021-05-01 18:34] jdlrobson commented on #4474
@Yashs911 how are you getting on with the subjects page?

Is anyone interested in tackling the other files? We are closing in on our goal of one JavaScript entry point to rule them all :) !

[2021-05-01 18:38] jdlrobson commented on #395
Yep doing that first would be great (and that would include removal of the jsdef). It would also allow us to add a unit test. Is that something you'd be willing to help out with?

[2021-05-02 10:37] lephemere commented on #4474
I'll have a look at `openlibrary/templates/books/edit/web.html`.

[2021-05-02 12:59] ESKehler commented on #333
If this is such a good first issue, why has it taken 5 years to close it out? Gonna try to tackle it anyways. Wish me luck~

[2021-05-02 17:33] lephemere commented on #4474
I'll continue on the books edit templates: `openlibrary/templates/books/edit/addfield.html`

[2021-05-02 22:39] RayBB commented on #4474
I am working on `openlibrary/templates/books/edit/edition.html` as part of #395

[2021-05-03 16:33] cdrini opened #5128 "Remove Python 3.8"
Now that we're on 3.9, we can remove 3.8 entirely 🎉

### Summary of Requirements
- [x] No refs to Python 3.8 #5146
- [ ] Anywhere Python 3.9 is explicitly referenced can be removed (since it's the default)
    - [ ] Can/should we remove the `.python-version` file?
- [ ] Remove [`from typing import List, Set`](https://github.com/internetarchive/openlibrary/search?q=typing), etc. because [PEP 585](h

[2021-05-03 16:45] #5037 closed

[2021-05-03 18:44] #5111 closed

[2021-05-03 18:49] cdrini commented on #3317
Drats! Some nasty bugs :(

- [ ] Search results are sometimes empty because it's handling stop words weirdly. A query that contains stop words (like "of" or "the") seems to no longer match. eg http://testing.openlibrary.org/search?q=%22mark+of+the+crown%22&mode=everything vs http://testing.openlibrary.org/search?q=title%3Amark+crown&mode=everything
- [ ] This syntax seems to not work anymore for s

[2021-05-03 19:23] cdrini opened #5130 "Partner Data Import Bot (ol-home0 Docker Service)"
Part of #2034

### Evidence / Screenshot (if possible)

### Proposal & Constraints

### Related files

### Stakeholders
@BharatKalluri

[2021-05-03 19:25] cdrini opened #5131 "Add cron job to run BWB imports automatically to ol-home0"
Part of #2034 .

Add cron job to our normal ol-home0 cron jobs to run the imports. Likely blocked by #5100 .

### Stakeholders
@cdrini @cclauss @dhruvmanila

[2021-05-03 19:27] cdrini commented on #3971
This is entangled with solr8 stuff, but the last 3 trial runs of solr8+solrbuilder ran entirely on ol-solr1, and I don't forsee us running a solr3 solrbuilder anytime ever.

[2021-05-03 19:27] #3971 closed

[2021-05-03 19:33] cdrini opened #5132 "Delete junk "Notebook" records"
There are a lot of junk records for Notebooks created that need to be deleted. It might be a good idea to work off one of the old monthly data dumps (or OL search) to come up with a short list of candidates which we can then try to manually review. Note: fixing the source would be part of #4151 , this is fixing the damage that's already done.

### Stakeholders
@seabelis

[2021-05-03 19:39] cdrini commented on #4564
Done did

[2021-05-03 19:39] #4564 closed

[2021-05-03 19:39] cdrini commented on #4565
Just created 3 subtask issues for next steps for imports.

[2021-05-03 19:39] #4565 closed

[2021-05-03 20:00] cdrini opened #5133 "Add numeric fields to solr"
Part of #2728 . Blocked by solr 8 deploy.

eg Counts (Reading Log, Lists, Stars), List membership, Do-We-Want-It, Partner collections. Exact list to be determined.

[2021-05-03 20:04] cdrini opened #5134 "Improvements to i18n flow"
We want to have support for 10 languages on OL, but our flow right now is a little clunky. Main fixes we need:

- [x] Add some basic sanity checks for `%s` or html to avoid UI errors
- [ ] Updating a language shouldn't update all the languages; this makes it really difficult to run the update step because you'd have to proofread/check all languages
- [ ] TODO

[2021-05-03 20:10] cdrini commented on #4361
@robertIanClarkson what's the latest on this one?

[2021-05-03 20:22] cdrini commented on #4426
@mekarpeles Says these might be being used by the stats pages openlibrary.org/stats and the stats on the homepage. Investigation needed.

[2021-05-03 20:25] cdrini commented on #4830
Fixed by `OLBASE_IMAGE` environment variable.

[2021-05-03 20:25] #4830 closed

[2021-05-03 20:28] cdrini opened #5135 "Limit OCAID editing to librarians"
This is largely currently the case, but there are some loophole where people can OCAIDs.

### Stakeholders
@seabelis @mekarpeles

[2021-05-03 20:36] mekarpeles commented on #2599
@RayBB is there any chance you may be willing to spec some of this out with me and @cdrini? I'm going to be annoying and add you as a placeholder assignee :D

[2021-05-03 21:40] robertIanClarkson commented on #4361
@cdrini Still plan on finishing the bot. Right now it is working pretty well though. I just need to clean it up a bit.
Sorry, I've been MIA because I had a contract job and had to move apartments.
Should have time this week to finish it up.

[2021-05-04 00:31] RayBB commented on #2599
@mekarpeles I may be able to help out with this but have a few questions for everyone.

* How do we know this? (is it bounce rate or patron messages or ?)
* Do we know where these folks are coming from?
* How would we measure success with this feature?

Based on the original post it seems that this ticket may be narrowly focused on first time visitors to the site. Basically a way to show them the

[2021-05-04 04:11] dhruvmanila commented on #5128
Awesome! I'll get on it right away!

[2021-05-04 08:00] cclauss commented on #5128
Released yesterday https://www.python.org/downloads/release/python-395/

[2021-05-04 15:28] cdrini commented on #5076
Planning to complete the migration by end of week.

[2021-05-04 16:11] cdrini opened #5141 "Update to Python 3.9.5"
Released May 3, 2020. https://www.python.org/downloads/release/python-395/ --> pyenv/pyenv#1892

Blocked for 1 week to see if there's a big bug in it (like there was in 3.9.3).

### Stakeholders
@dhruvmanila @cclauss

[2021-05-04 16:11] cdrini commented on #5128
Moving 3.9.5 upgrade out; that would better be done separately: #5141

[2021-05-04 16:12] cdrini commented on #5128
If we can remove the python-version file, I'm down to do so!

[2021-05-04 16:31] dhruvmanila commented on #5128
These are where we would remove the 3.8 reference:
[code]

Actually, I do think we don't need the `.python-version` file as we're already generating it with the global command. Also, as we're moving to one Python version, we should not need it.
https://github.com/internetarchive/openlibrary/blob/707606e1c9c3ddf706f0df450c6f3946843c1fff/docker/Dockerfile.olbase#L55-L60

[2021-05-04 16:53] cdrini commented on #5128
Sg! You might want to do a search for `3.8` alone as well; can't imagine that should appear anywhere outside of a python context :P

Yep! Removing all those 3.8 installs will speed up olbase building a ton :)

[2021-05-04 16:58] mekarpeles commented on #4935
hi @navneetsaluja I think this issue has gone cold so I wanted to throw some heat on it and see if the PR you worked on is ready for a pair of eyes or if it may make more sense for someone else to give it a shot :)

[2021-05-04 18:09] dhruvmanila commented on #5128
I did do that and these were the only ones relevant to our issue :)
Same for 3.9

[2021-05-04 19:07] cclauss commented on #5128
https://github.com/internetarchive/openlibrary/blob/master/.github/workflows/python_tests.yml#L12

[2021-05-04 22:03] lephemere commented on #791
Some thoughts on i18n:
- Could be interesting to have an overview of translation coverage for each available language (translated_msgstr/all_msgstr)
- Do we have some stats on page default display language from OL users web browser?

[2021-05-04 22:15] mekarpeles opened #5142 "LoanStatus Hotfixes"
This small epic should update LoanStatus to solve the following 4 problems:

1. [x] The #4716 PR logic now needs to be updated so we can search inside restricted books w/o forcing us to borrow the book `macros.BookSearchInside`; i.e. should behave differently for Readable v. Restricted materials
2. [ ] Show Donate Button on eligible titles (investigate why more books show `Not In Library`)
3. [ ]

[2021-05-05 15:01] chaos300 commented on #5142
- [ ]

1. ###

- **__**

[2021-05-05 22:55] mekarpeles commented on #2481
We need our new Crons on `ol-home0` to run or trigger the following via ssh on `ol-www1`:

```source /opt/openlibrary/venv/bin/activate;sudo /opt/openlibrary/venv/bin/python /opt/openlibrary/openlibrary/scripts/ipstats.py  /opt/openlibrary/olsystem/etc/openlibrary.yml from ol-www1```

[2021-05-05 22:55] cdrini opened #5143 "Remove infobase ol-home:7000 -> ol-home0:7000 reverse proxy"
Our old ol-home server has an nginx running that proxies to ol-home0. We likely don't need this anymore? But if I recall correctly, when we tried to update all our docker containers to point to ol-home0, something didn't work. Investigation needed.

### Stakeholders

@mekarpeles

[2021-05-05 22:55] mekarpeles opened #5144 "New `ol-home0` Crons need to run/trigger ol-www1 ipstats"
We need our new Crons on `ol-home0` to run or trigger the following via ssh on `ol-www1`:

```source /opt/openlibrary/venv/bin/activate;sudo /opt/openlibrary/venv/bin/python /opt/openlibrary/openlibrary/scripts/ipstats.py  /opt/openlibrary/olsystem/etc/openlibrary.yml from ol-www1```

_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/issues/2481#issuecomment-83310

[2021-05-05 22:56] cdrini commented on #5066
Closing in favour of #5143 and #4426.

[2021-05-05 22:56] #5066 closed

[2021-05-05 22:58] mekarpeles commented on #5022
https://github.com/internetarchive/openlibrary/issues/2481#issuecomment-833100823

[2021-05-05 23:09] mekarpeles opened #5145 "Homepage Stats Broken (Cron)"
### Summary

- **What is wrong?**

Homepage stats charts / graphs failed to populate

- **What caused it?**

within the last quarter we moved crons from ol-home to ol-home0 docker

- **What fixed it?**

Fix is still pending
https://github.com/internetarchive/openlibrary/issues/2481#issuecomment-833100823

- **Followup actions:**

Update ol-home0 cron as per:
https://github.com/internetarchive/open

[2021-05-06 22:26] cdrini commented on #3317
Ok, figured out the stop words issue. Using the solr analysis tool, we see:

http://localhost:8983/solr/#/openlibrary/analysis?analysis.fieldvalue=The%20Mark%20of%20the%20Crown&analysis.fieldname=title&verbose_output=0&analysis.query=the%20mark%20of%20the%20crown

Note that the last rows are not the same!

![image](https://user-images.githubusercontent.com/6251786/117372418-7ae42980-ae97-11eb-83f7

[2021-05-07 16:59] RayBB opened #5153 "Donate button not aligned on Firefox"
The donate button is not vertically centered in Firefox. Doesn't seem to be an issue on chrome or safari.

### Evidence / Screenshot (if possible)
| Firefox      | Chrome |
| ----------- | ----------- |
| <img width="276" alt="image" src="https://user-images.githubusercontent.com/921217/117482659-61c39300-af00-11eb-99af-3f664fea4894.png">      | <img width="276" alt="image" src="https://user-image

[2021-05-07 23:51] mekarpeles opened #5154 "Adding Downtime Reporting for Archive.org Imports"
### Describe the problem that you'd like solved

https://openlibrary.org/admin/imports needs some sort of tracking to determine when archive.org imports are not running.

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-05-08 01:08] mekarpeles opened #5155 "`manage-imports.py` Archive.org ImportBot failing with `import-retro` mode"
### Evidence / Screenshot (if possible)

Running
[code]

Results in error:

[code]

### Related files

`scripts/manage-imports.py`

### Stakeholders

@cdrini, @hornc

[2021-05-08 01:14] mekarpeles commented on #5155
The file that we want seems to be in `/opt/olsystem/etc/olrc-importbot`

[2021-05-08 01:17] mekarpeles commented on #5145
The fix was https://github.com/internetarchive/openlibrary/pull/5147 and also https://github.com/internetarchive/olsystem/pull/124

[2021-05-08 01:17] #5145 closed

[2021-05-08 01:34] mekarpeles commented on #5155
![openlibrary org_admin_imports (2)](https://user-images.githubusercontent.com/978325/117521484-e515d080-af62-11eb-9e07-df6dec358a20.png)

Success!

[2021-05-08 01:34] #5155 closed

[2021-05-08 07:09] tirkarthi opened #5156 "Python 3.10 : Threading related deprecations"
### Proposal & Constraints

Ref : python/cpython#25174

Camelcase aliases have been deprecated and raise deprecation warning.

getName -> access name directly
currentThread -> current_thread

### Related files

[code]

### Stakeholders

[2021-05-09 06:27] mekarpeles commented on #5144
I re-ran `crontab /etc/cron.d/openlibrary` on `ol-www1` and it looks like the latest up-to-date ol-www1 cron may now be running.

[2021-05-09 21:41] robertIanClarkson commented on #4361
@cdrini I have finished my v1 refactor of the code. It should behave as we expect.

You can tweet the bot directly with an isbn or amazon link
You can comment an `@borrowbot` on a thread that has an isbn or link (Note: this will only look 1 level up at the parent tweet, no deeper)
The bot will ignore replies that do not have an isbn or link

Here is the code: https://github.com/robertIanClarkson/o

[2021-05-10 12:02] dwaipayan05 opened #5169 "Vulnerability CWE-79 found in patron-metadata/index.js"
**Source of Vulnerability**
https://github.com/internetarchive/openlibrary/blob/133ee89ae2bbb290d4a805b2be4763906aa06765/openlibrary/plugins/openlibrary/js/patron-metadata/index.js#L104

https://github.com/internetarchive/openlibrary/blob/133ee89ae2bbb290d4a805b2be4763906aa06765/openlibrary/plugins/openlibrary/js/patron-metadata/index.js#L43

**Vulnerability Description :** Unsanitized input from

[2021-05-10 19:41] cdrini commented on #5154
Thoughts: We don't have any transparency on the crons at all. We don't know if they're running, when they did run, if they errored, or anything.

Potential improvements: Jenkins?

Imports specifically:
- Graphite ping for every book-related import action. Something like: `stats.ol.importbot.{created,matched,failed}`

^^ This seems like the best approach for now.

[2021-05-10 20:01] cdrini commented on #4252
Potential problems:

- ol-www1 crons: Sitemaps, ipstats
- Log strategy: log rotation, where to store; need them to live a long time.
- Messy rebase

[2021-05-10 20:38] #4323 closed

[2021-05-10 20:42] cdrini commented on #5076
Migration completed :+1: The https stuff will need more work.

[2021-05-10 20:59] cdrini commented on #1197
See also: https://github.com/internetarchive/openlibrary/issues/2050#issuecomment-830569331

[2021-05-10 22:29] jamesachamp commented on #5169
Data used to generate the HTML is coming from Open Library servers.  Is there any reason to treat this as an untrusted source?

Regardless of the answer, I don't think that there is a compelling reason to generate the form on the client side now that observations live in OL servers.  This code can be moved to [UserMetadata.html](https://github.com/internetarchive/openlibrary/blob/master/openlibrar

[2021-05-10 23:43] cdrini commented on #3317
Next problem: all search not working with `mark of the crown`, but working for `mark crown`

This is the request made to solr:

[code]

The issue is because `title` and `text` now have stopwords! Here's the parsed query in solr 3.6:

[code]
+(DisjunctionMaxQuery(((author_name:the)^5.0)) DisjunctionMaxQuery(((author_name:mark)^5.0 | text:mark | (title:mark)^50.0)) DisjunctionMaxQuery(((author_name:

[2021-05-11 19:16] #5097 closed

[2021-05-11 21:12] Miksier opened #5173 "Get lists of authors filtered by name"
Hello

### Question
I want to get list of authors. Lets say I have a string "tol" and I want to get something like:
S. A. Tolstai︠a︡
Alex Van Tol
Tol Yun
Etc.

a link like this is working:
https://openlibrary.org/search/authors?q=tol&mode=everything
From what I've read adding .json search should return me a json but no.
https://openlibrary.org/search.json/authors?q=tol&mode=everything

So how do I

[2021-05-11 21:31] cdrini commented on #5173
This should do the trick: https://openlibrary.org/search/authors.json?q=tol&mode=everything ; the .json need to be at the end :+1: Hope that helps!

[2021-05-11 21:33] Miksier commented on #5173
Oh my GOD. Thank You :D

[2021-05-11 21:51] cdrini commented on #5173
Not your fault! I'll add an authors example :+1: That'll make it clearer :)

[2021-05-11 23:34] #5156 closed

[2021-05-12 05:18] Yashs911 commented on #5042
@lephemere I would like to work on this issue.
I think the keyboard arrows behavior is due to the `flex-direction: column-reverse;` to solve this, we can use `flex-direction: column` and arrange the list in the order we want.

[2021-05-12 15:20] #4909 closed

[2021-05-12 15:20] #4917 closed

[2021-05-12 23:09] #4939 closed

[2021-05-13 04:37] Yashs911 commented on #5153
@RayBB I think the issue here is how `align-items: center;` works for different browsers. Firefox vs. Chrome has a different way of calculating the center.
I am not sure what should be the ideal solution.
This might help https://stackoverflow.com/questions/26385334/css-displayflex-align-itemsbaseline-not-working-in-firefox

https://user-images.githubusercontent.com/64412143/118077073-0a766480-b3d1

[2021-05-13 11:38] Yashs911 commented on #4987
@RayBB I would like to work on this issue.

[2021-05-13 15:02] RayBB commented on #4987
@Yashs911 sounds good

[2021-05-13 15:51] chaos300 opened #5175 "Mr"
/storage/emulated/0/com.moomoo.[]()![Adobe Scan May 03, 2021.jpg](https://user-images.githubusercontent.com/83453135/118151572-5fb67400-b3d9-11eb-894f-dfdef2518372- - [ ] # [ ] .jpg)**I@**trade_KcSdk- [ ] /files/sk_g.dat
run

[2021-05-14 01:56] #5175 closed

[2021-05-14 16:07] #4662 closed

[2021-05-14 22:04] mheiman commented on #4262
I have a working proof of concept for this feature. Does anyone have an opinion about what data the API should return besides the basic key, title, author, etc.? Parallel the search.json results? The APIs that return book data are all over the place in terms of their result sets.

[2021-05-14 22:27] #1732 closed

[2021-05-14 22:46] #4492 closed

[2021-05-14 23:08] jdlrobson commented on #2468
FYI am not working on this so this is open to anyone who wants an interesting challenge :)

[2021-05-15 08:21] seabelis commented on #4051
Still a problem on some records. https://openlibrary.org/books/OL16161815M/History_of_Chinese_literature.?debug=true

[2021-05-15 09:20] seabelis opened #5180 "Delete dumpbins"
Dumpbins are retail displays, not books. These are too many to delete manually. https://openlibrary.org/search?mode=everything&q=title%3A+%22dumpbin%22&sort=editions

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/search?mode=everything&q=title%3A+%22dumpbin%22&sort=editions

### Steps to Reproduce

1. Go to ... https://openlibrary.org/search?mode=everything&q=t

[2021-05-16 01:22] cloudguruab commented on #2777
I would like to contribute and work on this issue, is that possible?

[2021-05-16 02:10] mheiman commented on #4262
@brianmcdonald and @owensco — do you have preferences for what data is returned by this API? If I don't hear from anyone I'll just submit it with a basic set to meet my needs, and more fields can be added later.

What I have at this point looks like:

[code]

[2021-05-16 09:30] Miksier opened #5184 "Search editions by keyword without knowing work id?"
Hello,

I... need Your help again.
### Question

How to get a list of (if I understand correctly)  editions with a cover, author etc. by a key word?

### Additional context

I try to query every book/edition that contains a word. So lets use book 'Fantastic Mr. Fox' as an example.
For now Im a French guy, I speak no english at all. I try to search for my book 'Fantastique Maitre'.
I go to or query

[2021-05-16 09:32] seabelis opened #5185 "Unable to connect to infobase server"
Editing [this](https://openlibrary.org/books/OL22829413M/Wuthering_Heights./edit) orphan throws error, "Unable to connect to infobase server"
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/books/OL22829413M/Wuthering_Heights./edit

### Steps to Reproduce

1. Go to ...https://openlibrary.org/books/OL22829413M/Wuthering_Heights./edit
2. Do ...try to save an edit

[2021-05-16 20:11] RayBB commented on #4474
I'll also take on `openlibrary/templates/books/author-autocomplete.html` since it's related to work I did for the edition edit page. But I'll wait until I get some feedback on the above three PRs.

[2021-05-16 21:20] jdlrobson commented on #4474
Thanks for pushing on this one!

[2021-05-17 05:41] RayBB opened #5189 "First published year doesn't account for outliers"
The first published year shown on search results (and probably used elsewhere) shows the lowest year of all editions as expected.

However, it doesn't account for outliers so if a work has 100s of editions that show a certain year but one that has year 0001 then it will always show 0001.

### Evidence / Screenshot (if possible)
<img width="712" alt="image" src="https://user-images.githubuserconten

[2021-05-17 14:56] tfmorris commented on #5189
Any algorithmic bandaid developed for the app could be just as easily applied to a data cleaning job to fix the actual data and benefit users of both the API and data dumps.

Data quality can't be ignored forever -- or at least it **shouldn't** be.

[2021-05-17 19:20] cdrini commented on #3317
Ok, deciding to remove stopword detection for now (our solr 3.6 didn't have stopwords). We can figure it out at a later date. Without stopword:

Query | Before | After Disabling stopwrads
-- | -- | --
title:The Mark of the Crown | ✅ | ✅
title:"The Mark of the Crown" | ❌ | ✅
"The Mark of the Crown" | ❌ | ✅
The Mark of the Crown | ❌ | ✅

[2021-05-17 19:59] cdrini commented on #3317
Gaaah! `key:/works/OL19446266W` isn't working because it's being parsed as a RegExp 😱 This was added in Solr 4, and queries with `/.../` are treated as regex :(

Solr 8:
http://localhost:8983/solr/openlibrary/select?q=key:/works/OL19446266W&debugQuery=on
[code]

[2021-05-17 22:08] #853 closed

[2021-05-18 14:28] mekarpeles commented on #5014
I was able to successfully do this for a patron. It was a lot of pain. Here's what it looked like:

Assume we have a {patron} who wants to change their url to {patron2}

# `store` table psql

## Update the `key`

The following keys in the `store` table will need to be updated to reflect the desired new key `{patron2}`:

* `account/{patron}` → `account/{patron2}`
* `account/{patron}/verify` → `acco

[2021-05-18 15:29] mekarpeles commented on #4875
Loosely related to #5014

[2021-05-18 16:34] mekarpeles commented on #5184
There isn't a way to go directly from a keyword to a specific edition. At best, you can use the search.json API to find works and edition info about those works:

https://openlibrary.org/search.json?q=Fantastique+Maitre

There isn't edition level granularity (e.g. about language, availability, etc). Two API calls need to be made. We'd love to fix this but it's currently a limitation of our system

[2021-05-18 16:34] #5184 closed

[2021-05-19 00:51] cdrini commented on #3317
The multiValued bug turned out to be easy; turns out I can add `multiValued="false"` and it doesn't complain! 🎉

[2021-05-19 01:42] cdrini commented on #3317
Aaaand, just escaped the `/` from the python for the regex issue :P #5192 .

Just kicked off another (hopefully final before production deploy!) full reindex!

[2021-05-19 04:23] LeadSongDog commented on #5189
Some obvious edition date tests:
1. Editions can’t be older than their authors (or publishers)
2. Editions with valid ISBNs can’t be older than 1965 (9 digit SBNs from the first few years later gained a prefix zero)
3. Century years are usually bogus, e.g. from converting 18XX to 1800
4. Jan 1st is usually bogus (publishers rarely work holidays) and rarely useful
No such edition date should be use

[2021-05-19 04:36] LeadSongDog commented on #5180
Prior discussion at #2691.

[2021-05-19 05:33] RayBB opened #5193 "Translated from languages on edition edit page doesn't use `setup_multi_input_autocomplete` correctly"
Summary: the issue has no impact on user but if we ever supported multiple translated from languages it would be an issue.

This is an issue to track Drini's concern which he pointed out [here](https://github.com/internetarchive/openlibrary/pull/5136/files#r633776956) that was caused by #5136.

### Overview
The PR made it so that both the languages and translated from languages booth pass `render_

[2021-05-22 09:27] STAMATIOSL opened #5194 "Dropdown "More" menu appears behind the Search bar"
When navigating in the openlibrary.org site and clicking the "More" menu button, it seems that the dropdown menu appears behind the Search bar. This problem only occurs when the screen is at 960 px and larger.

### Evidence / Screenshot (if possible)
![Στιγμιότυπο οθόνης 2021-05-22 115009](https://user-images.githubusercontent.com/56514193/119220569-e2cf7c80-baf3-11eb-8fb9-95a5131dd5fd.png)

### R

[2021-05-22 11:53] Yashs911 commented on #5194
As a part of simplifying the z-indexes, a negative z-index was added to navigation-component (Browse and More Menu).[#4687 PR](https://github.com/internetarchive/openlibrary/pull/4687/files#diff-c355ff5643b7a44647e6138040dea4f0159304509aaa8ae452ad26d9d3452c70L177-R180)
At that time we were using the hover effect so increasing the distance between the dropdown and button was not a good idea. https:

[2021-05-23 14:26] lephemere commented on #4474
I started working on `openlibrary/templates/books/edit.html`.

[2021-05-23 16:06] Yashs911 commented on #4474
I am working on `openlibrary/templates/site/stats.html`

[2021-05-23 17:29] jdlrobson opened #5198 "Do not use jQuery shorthand event methods in jQuery"
Throughout our JavaScript codebase, a lot of code makes use of jQuery methods that according to TypeScript hinting aredeprecated in 3.3.

We should replace all these with `on` or `trigger` as appropriate.

For example

[code]
becomes

[code]

Methods to fix:
- []  click
- [] mouseover
- [] mouseout
- [] mouseup
- [] submit

### Evidence / Screenshot (if possible)

<img width="796" alt="Screen Shot

[2021-05-23 17:40] #5064 closed

[2021-05-24 06:00] Yashs911 commented on #5198
I would like to work on this. If someone else also wants to work we can divide the work. :)

[2021-05-25 03:48] ma8642 opened #5205 "Two books not showing: TypeError: '>' not supported between instances of 'Nothing' and 'int' (falling back to default template)"
I get this error:
`TypeError: '>' not supported between instances of 'Nothing' and 'int' (falling back to default template)`
when trying to view the following two books:
- https://openlibrary.org/books/OL2216788M/Out_of_Africa_and_Shadows_on_the_grass
- https://openlibrary.org/books/OL7275436M/Tao_Te_Ching

### Evidence / Screenshot (if possible)
<img width="1018" alt="Screen Shot 2021-05-24 at 11

[2021-05-25 03:54] Yashs911 commented on #5205
Related to https://github.com/internetarchive/openlibrary/issues/4603, @cdrini might be able to fix this.

[2021-05-25 07:02] seabelis opened #5206 "<class 'AttributeError'> at /works/OL471576W 'str' object has no attribute 'key'"
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/works/OL471576W?debug=true

### Steps to Reproduce

1. Go to ...https://openlibrary.org/works/OL471576W
2. Do ...observe error

* Actual: "Hmm...
Sorry. There seems to be a problem with what you were just looking at.

We've noted the error 2021-05-25/070057688265 and will look into it as soon as possible. Head for h

[2021-05-25 14:11] seabelis commented on #5180
This could be achieved more easily if 1) all 682 works could be merged in one go AND 2) more than 50 editions could be deleted at a time using a script.

[2021-05-25 16:36] LeadSongDog opened #5207 "NASA ocaids are not being imported to OL"
With 272,532 NASA ocaids available, only 317 ebooks show on searching OL for “NASA" (and many of these 317 are for names or titles containing Nasa as a substring, such as Nasar).
Something is clearly broken in OL imports.

### Relevant url?

https://archive.org/details/texts?query=NASA&sin=

https://openlibrary.org/search?q=NASA&mode=ebooks&has_fulltext=

### Details

- **Logged in (Y/N)?**
- **Br

[2021-05-25 18:49] cdrini commented on #5206
I fixed this specific work by reverting it back to a good state. Clean up Bot looks like it associated new editions with a redirect :/ https://openlibrary.org/works/OL471576W/Asesinato_En_El_Orient_Murder_on_the_Orient_Express This should likely be merged.

[2021-05-25 18:51] cdrini commented on #5206
Grrr, it looks like there are a lot of these :/ http://openlibrary.org/query.json?type=/type/redirect&subjects~=*&limit=100

[2021-05-26 01:47] cdrini commented on #3317
Grumble. After a bunch of failure and a ton of fixes to solrbuilder, finally got a successful run:

Type | # in postgres dump | # in solr | diff
-- | -- | -- | --
Works | 22,264,179 | 22,264,178 | -1
Orphans | 2,307,941 | 2,307,934 | -7
Authors | 8,487,789 | 8,487,543 | -246
Subjects | NA | 2,957,272 | NA

Looking good. Starting off the "catchup"

[2021-05-26 03:16] cdrini commented on #3317
Reading for another batch of testing on http://testing.openlibrary.org !

[2021-05-26 20:17] lephemere opened #5210 "Textarea resize beyond page border"
Resizing `textarea` can lead to part of the page go beyond the page "border".

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/73437497/119720577-6d083f80-be6a-11eb-8d88-771eb22ab46a.png)

### Relevant url?

Screenshot from [books/edit](https://openlibrary.org/books/OL6906429M/The_description_of_Greece/edit)

Issue also on pages:
 - [admin/block](https://

[2021-05-27 03:50] Yashs911 commented on #5210
@lephemere I would like to work on this issue. I think using `resize: vertical;` should fix the problem.

[2021-05-27 16:46] lephemere opened #5212 "Library Explorer Access"
### Describe the problem that you'd like solved

I don't see any links from the OL home page to reach the [Library Explorer](https://openlibrary.org/explore) page.
Would be great to have a link somewhere to reach this page (and not type `explore` in my browser search bar each time as I do right now...).
Will also improve visibility of this feature to OL users.

### Proposal & Constraints

Add a li

[2021-05-27 17:09] lephemere commented on #4474
I'll have a look at `openlibrary/templates/type/author/view.html`.

[2021-05-27 17:19] cdrini opened #5213 "Refactor: Dissolve jquery.customFade.js"
This file looks like it was added for backwards compatibility with IE7 🙃 We no longer need it.

### Summary of Requirements
- [ ] Delete the file
- [ ] Delete any references to the file
- [ ] Replace all occurrences of customFadeOut and customFadeIn with the default jquery functions

### Stakeholders
@jdlrobson

[2021-05-27 19:53] cdrini commented on #4257
Notes from a chate with Mek on PWAs:

- This PR is probably a good base: https://github.com/internetarchive/openlibrary/pull/3817
- Need to read best practices (LINK)
- Phase 0:
    - Create service Worker for basic things like the logo, CSS, yadda yadda (maybe entire homepage?)
    - Might need to make some small design tweaks; like making header sticky (or other improvements)
    - Trusted Web A

[2021-05-27 23:48] dcapillae opened #5215 "Export list in json format does not work"
The option to export list in json format does not work.

### Evidence / Screenshot
![screenshot](https://user-images.githubusercontent.com/7125952/119910099-ab7b2880-bf56-11eb-8bbc-2d34ed37c602.png)

### Steps to Reproduce
1. Go to any list (e.g. [Rif War](https://openlibrary.org/people/dcapillae/lists/OL197248L))
2. Select option to export as json

* Actual: You receive an error message like this

[2021-05-28 06:36] seabelis opened #5217 "Add cover thumbnails have gone from small to miniscule."
Adding a cover to a work opens a preview of available covers. Since deployment on 27-05-2021, these thumbnails are too small to be of much use. Prior to this they were larger, but only the left half could be seen. Prior to the new books page the covers were fully displayed.
### Evidence / Screenshot (if possible)
<img width="812" alt="Screenshot 2021-05-28 at 08 29 28" src="https://user-images.git

[2021-05-28 08:15] Evazisouli commented on #4989
Hello! I get the exact same error when trying to access "My Reading Log".  Could I do anything to resolve it?

[2021-05-28 09:33] Evazisouli commented on #2954
Hello! I have already made 21 lists myself but I cannot see the problem mentioned.

[2021-05-28 09:52] Evazisouli commented on #2796
@BrittanyBunk, @jdlrobson could I work on this issue?

[2021-05-28 15:31] seabelis opened #5218 "Edition table should order works by greatest to least availability"
The edition table frequently uses a print-disabled-only or "not in library" edition as the default even when readable and borrowable editions exist.

### Evidence / Screenshot (if possible)
<img width="1097" alt="Screenshot 2021-05-28 at 17 26 42" src="https://user-images.githubusercontent.com/17739465/120007211-f1c59b80-bfd9-11eb-8c78-e5eaee2f4712.png">

### Relevant url?
https://openlibrary.org/

[2021-05-28 16:42] seabelis opened #5219 "Adding an edition fails"
Since the deploy on 27-05-2021 adding an edition fails with error "Hmm...
Sorry. There seems to be a problem with what you were just looking at.
We’ve noted the error 2021-05-28/054532635131 and will look into it as soon as possible. Head for home?"
### Evidence / Screenshot (if possible)
<img width="1134" alt="Screenshot 2021-05-28 at 18 01 40" src="https://user-images.githubusercontent.com/17739

[2021-05-28 17:32] cdrini commented on #4989
@Evazisouli as a work around, you could try editing the `get_sponsored_editions` function in `openlibrary/core/sponshorships.py` and force it to return `[]` instead of calling `get_sponsorships_by_contact_id`. That should sidestep the error.

[2021-05-28 17:40] cdrini commented on #3317
testing.openlibrary.org went well (1 fix: #5209); deployed to one of our web nodes yesterday. Performance/load times seem to be looking good! Edits are still showing up within <2min in search results \o/ . Going to try deploying to both our web nodes to see if the new solr can handle that level of traffic.

[2021-05-28 18:51] LeadSongDog commented on #5218
It seems the subtitled edition record was sorted differently. This edit fixed the issue:
https://openlibrary.org/books/OL17226960M/The_Celery_Stalks_at_Midnight?_compare=Compare&b=13&a=12&m=diff

[2021-05-28 19:12] cdrini commented on #5219
Here's the exact error:

![image](https://user-images.githubusercontent.com/6251786/120031676-1cf2bf80-bfc7-11eb-859b-b96ea8e5a648.png)

[2021-05-28 20:42] #4269 closed

[2021-05-29 07:48] Evazisouli commented on #4989
@cdrini it worked for me! Thank you so much!!

[2021-05-29 21:42] jdlrobson opened #5238 "Eslint: Add eslint eqeqeq rule"
We have various type-unsafe equality if statements in our codebase now.

There are about 80 instances of this in our codebase.

### Evidence / Screenshot (if possible)

[] Introduce the eqeqeq rule https://eslint.org/docs/rules/eqeqeq
[] Confirm running `npm run lint:js` shows errors.
[] Fix errors

### Stakeholders
@jdlrobson

[2021-05-29 21:51] jdlrobson opened #5239 "Eslint: Add eslint-plugin-jsdoc to enforce documentation"
Many of you JavaScript functions are not documented or tested, which means whenever we do work on them, we spend unnecessary time understanding what they do.

To fix this I recommend we introduce eslint-plugin-jsdoc

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce
[] Install eslint-plugin-jsdoc, make sure the version is pinned.
[] Add ` "require-jsdoc": "error",`

[2021-05-29 22:25] #5213 closed

[2021-05-29 23:06] jdlrobson opened #5241 "Bump jest from 26.6.3 to 27.0.3"
@dependabot failed to upgrade jest in https://github.com/internetarchive/openlibrary/pull/5240

Errors include `    ReferenceError: localStorage is not defined` and issues relating to jQuery (TypeError: $.extend is not a function and  `    jQuery requires a window with a document`

Someone should manually upgrade this library and make the required adjustments to the existing tests  to keep them ru

[2021-05-30 03:35] jdlrobson commented on #5194
@mekarpeles is there any reason we couldn't make the hamburger icon always show, and get rid of the more menu?  The hamburger menu can be shown on non-mobile screens and appears to duplicate this menu. It would save us some space and likely be easier to maintain rather than having to remember the menus change depending on resolution.

<img width="306" alt="Screen Shot 2021-05-29 at 8 33 46 PM" src

[2021-05-30 03:42] jdlrobson commented on #2796
@Evazisouli I'm currently trying to focus on tasks with priority 0, 1 or 2. Would gladly provide review for any of the following:
https://github.com/internetarchive/openlibrary/issues?q=is%3Aopen+label%3A%22Lead%3A+%40jdlrobson%22+-label%3A%22Priority%3A+3%22++-label%3A%22Priority%3A+4%22+

[2021-05-30 03:42] jdlrobson commented on #5194
(See #4788)

[2021-05-30 03:43] jdlrobson commented on #4955
I think this would speed up development and is worth pursuing. Ideally, we'd use webpack for everything here, using a plugin to pull out a CSS only bundle, I just haven't had time to explore how yet.

[2021-05-30 03:45] jdlrobson commented on #4986
Looks like it. I'm a bit concerned this hints at a possible vulnerability given user-generated content can spill out into the content area, so I think we should probably consider this higher priority than 4.

<img width="1439" alt="Screen Shot 2021-05-29 at 8 44 45 PM" src="https://user-images.githubusercontent.com/148752/120091311-b650cd00-c0be-11eb-92a0-a6b22e4cbd95.png">

[2021-05-30 09:25] Yashs911 commented on #4906
@Sabreen-Parveen Can I work on this issue?

[2021-05-30 09:27] Sabreen-Parveen commented on #4906
Actually I am half way on it and will soon create a PR for it.

[2021-05-30 10:45] lukan23 commented on #5238
Hi @jdlrobson , I am a beginner to open source and would love to work on this. Can I try?

[2021-05-30 11:59] seabelis opened #5243 "Undo Bad author merge (old)"
These are all different people. https://openlibrary.org/recentchanges/2012/01/26/merge-authors/45578827
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/recentchanges/2012/01/26/merge-authors/45578827

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **E

[2021-05-31 04:16] #5198 closed

[2021-05-31 04:20] jdlrobson commented on #5238
@lukan23 that would be great! Go for it!