[2019-04-27 20:44] #27 closed

[2019-04-29 03:06] hornc commented on #1565
Using the https://github.com/internetarchive/openlibrary-client to re-import this item, a duplicate work + edition is matched:

[code]

The work + edition found when I run the above were added in 2008, the edition from this issue was imported by ImportBot in May 2017 -- this suggests to me that the existing work matching has improved since 2017, which is reassuring. The subjects and publisher deta

[2019-04-29 15:06] brad2014 commented on #1194
@tabshaikh This is marked WIP in 2018.  Is it still in progress?

[2019-04-29 16:09] brad2014 commented on #2074
What remaining review does this need?  @jdlrobson, if no further review is needed, can you remove the label?

[2019-04-29 16:14] glatteis commented on #1194
@brad2014 my very personal opinion is that client-side validation of ISBNs is a bad idea, because it's just too complex.
I would suggest be with closing this issue (maybe someone can re-open it once they have a good solution to this, which doesn't seem to be the case right now).

[2019-04-29 16:21] brad2014 commented on #2087
(@jdlrobson I'm using "refactor" for cleanup, "bug" for features that implemented but broken)

[2019-04-29 17:01] brad2014 commented on #1741
@jdlrobson This issue is already closed - did you have some specific additional review in mind?

[2019-04-30 00:01] hornc commented on #2073
@tfmorris good question, I may have used "Harry Olson" to maximise my chances of finding the correct author by hoping to see all "Harry Olson"s , and if there was more than one, I'd pick the one with F. or Ferdinand.  If I try again though, tying or pasting "Harry F. Olson"  shows
"Harry Ferdinand Olson" as the first option, followed by "Harry F. Olson"

[2019-04-30 02:04] jdlrobson commented on #1194
Works for me. Let's close this in lieu of a concrete solution.

[2019-04-30 02:04] #1194 closed

[2019-04-30 02:06] jdlrobson commented on #2074
This is merged now and resolved. The awaiting review tag can safely be ignored on any closed issues (is there an automated way we could do that?)

[2019-04-30 05:40] hornc opened #2102 "templates/site/neck.html unicode error"
## Description

/openlibrary/openlibrary/templates/site/neck.html: error in processing template: UnicodeEncodeError: 'ascii' codec can't encode character u'\u0332' in position 28: ordinal not in range(128) (falling back to default template)

is the error message on visiting local dev
http://0.0.0.0:8080/authors/OL4A/Kamala_Das

I think this can occur in production too, but I have not yet found an

[2019-04-30 06:38] hornc opened #2103 "Import alternate author names from MARC $q subfield"
from #1530

In MARC21, some fields have a $q subfield which can store a single "Fuller form of name"

relevant code:
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/marc/parse.py#L276

in `read_author_person()`

Fuller form of names `$q`:
https://www.loc.gov/marc/bibliographic/bd100.html
https://www.loc.gov/marc/bibliographic/bd700.html

and
https://www.loc.gov/marc/

[2019-04-30 06:49] hornc commented on #1530
@tfmorris I have just retested this and added a unit test to cover this case in the PR #2101 . It looks solved, and the test should prove and protect the functionality.

None of the existing code looks for the $q subfield for any author, so I have raised it as a separate issue to be done for 100, and 700s , and pointed to where the relevant code is rather than adding the feature in with the tests

[2019-04-30 22:03] DanHues commented on #1283
Hey I saw this post and recreated the design I made as a svg. If you need any different designs let me know.

[openlibrary.zip](https://github.com/internetarchive/openlibrary/files/3133281/openlibrary.zip)

[2019-05-01 12:30] brad2014 commented on #2028
- [x] Migrate and merge "Type:" labels
- [x] Migrate and merge "Priority:" labels
- [x] Migrate and merge "Needs:" labels
- [x] Migrate and merge "Closed:" labels
- [x] Migrate and merge "State:" labels
- [ ] Migrate and merge "Data:" labels (work with @hornc)
- [ ] Migrate and merge "Affects:" labels (work with @mekarpeles)
- [ ] Migrate and merge "Module:" labels
- [ ] Migrate and merge "Theme:"

[2019-05-01 12:33] brad2014 commented on #2028
@mek, I think the above breakdown is complete.  Is there anything you want to add?

[2019-05-01 12:47] brad2014 commented on #1283
Is it just me, or does the flat open book at the bottom look more like open legs and a derriere (vaguely pornographic)?  (Sorry to go there)  Maybe rotate the book a tiny bit toward the reader, so the page surface comes into view a bit.

[2019-05-01 14:59] mekarpeles commented on #1283
@brad2014 don't see it personally

[2019-05-01 17:21] mekarpeles commented on #686
Hi @mercy254 slack access is currently only for active contributors to the open library project :)

[2019-05-01 18:20] mekarpeles commented on #2035
I'm having trouble reproducing. I created an account `mek+test_unverified@archive.org` (from openlibrary) and did not activate. I then went to login and was presented with a sensible error message: `Please verify your Internet Archive account before logging in`

[2019-05-01 18:37] #2035 closed

[2019-05-01 22:35] tfmorris commented on #2040
Is there more information on what the problematic change was so that we can avoid it in the future?

Can you (or @hornc) expand on this? Is the theory that different clients were operating with different memcached server lists, giving them inconsistent world views or something else?

I can definitely see a scenario where 2 cache servers with 50% of the cached entries each could continue to serve s

[2019-05-02 15:42] seabelis opened #2105 "Incorrect title displayed on list of works"
## Description
Title of work was spammed on 19 April. It was changed back to the proper title the same day, but the incorrect title is displayed on the author's list of works.

## Evidence / Screenshot (if possible)
![Fullscreen capture 522019 53820 PM bmp](https://user-images.githubusercontent.com/17739465/57087995-92fd9d00-6d01-11e9-84ef-3332695b5a1b.jpg)

## Relevant url?
https://openlibrary.or

[2019-05-02 21:12] mekarpeles commented on #1875
Fixed by #2104 (in progress)! No results are being returned either because the subjects are not specific enough or the author resolution was failing (possibly because 3 (first middle last) names

[2019-05-02 22:10] LeadSongDog commented on #1194
@glatteis @jdlrobson I don’t get it. How does closing an issue help find a solution??

[2019-05-03 05:54] brad2014 commented on #1194
Since the issue reported is "ISBN inputs should not allow text", and the research is "ISBN should allow text", I'm marking this "Close: Not an Issue".

[2019-05-03 14:24] #1530 closed

[2019-05-03 14:24] #1565 closed

[2019-05-03 15:25] seabelis opened #2106 "Script needed to remove "Overdrive" from subject tags"
## Is your feature request related to a problem? Please describe.
"Overdrive" appears frequently in subject tags but is no longer needed as OL does not use Overdrive for lending.

## Describe the solution you'd like
I can remove these manually as I encounter them, but a script to eliminate all of them would be appreciated.

## Proposal & Constraints

## Additional context

[2019-05-03 17:11] tfmorris commented on #2106
We should identify and remove all the non-subject "subjects" in a single pass rather than doing them one at a time.

I know we've discussed this in the past, but don't immediately see a relevant issue.

[2019-05-03 21:14] brad2014 commented on #1861
I reproduced this today.

[2019-05-03 21:26] brad2014 commented on #2021
I'll note (as a firefox user) that recent firefox has several settings related to blocking trackers, 3rd party items, and per-user and per-site blocking of cookies.  Any or all of these might affect either presentation or verification of captcha.  If we are unable to reproduce it, I'd guess it is likely to be related to customized anti-tracking settings or plugins.

[2019-05-03 21:34] brad2014 commented on #93
@mekarpeles , I recommend we close.

[2019-05-03 21:41] brad2014 commented on #31
Based on this, I'm going to mark it closed.

[2019-05-03 21:41] #31 closed

[2019-05-03 21:51] brad2014 commented on #609
Is the fix going to be to (a) create a proper isbn normalization function (that accommodates isbn's with text in them, etc, as noted in #1194), (b) on setting an isbn, first normalizes it before storing it, and (c) on search, first normalizes it before searching?

If so, then we can close #49 as a duplicate.  If we don't solve the normalization issue, neither issue is resolved, and if we do, both

[2019-05-03 21:56] brad2014 commented on #2106
Any objection to retitling this issue "Remove Overdrive and other non-subject subject tags"

[2019-05-03 21:57] brad2014 commented on #49
(Recommend marking this a duplicate of retitled #609)

[2019-05-03 21:59] brad2014 commented on #65
@hornc , could you please opine as to the appropriate priority of this, by setting a label?

[2019-05-03 22:03] brad2014 commented on #82
I'm going to mark this as a feature, since it sounds like an enhancement.

[2019-05-03 22:09] brad2014 commented on #145
@hornc, I'll leave you to decide the priority of this.

[2019-05-03 22:14] brad2014 commented on #146
@mekarpeles : Since #656 was closed as stale, should this one also be?

[2019-05-03 22:16] brad2014 commented on #114
@hornc do you know if this is still an issue?  Is it a bug or a feature?

[2019-05-03 23:42] cdrini commented on #2106
Yes; let's keep this specific to overdrive for now. If we expand to "other non-subject subject tags" it'll take forever to complete and require investigation and community consensus.

[2019-05-03 23:49] cdrini commented on #609
The root cause of #49 might be this, but I have no clue what LC Bot is/does, so not certain.

The fix would basically be to update our solr config and do a full reindex, but we don't have a flow for a full reindex at the moment (that's what #1843 is working on). I'll rename it to "Solr should normalize ISBNs".

[2019-05-04 04:32] LeadSongDog commented on #1194
@brad2014 Perhaps we are talking past each other here. ISBN inputs, like any other inputs, will vary in form, accuracy, validity etc. That does not mean we should store the variations: the stored form should be as good as we can manage to achieve.

Either strip out the superfluous hyphens or ensure they are always present. Either choose 10 digits, 13, or both.l for storage. Always ensure the numbe

[2019-05-04 06:06] brad2014 commented on #2086
In the absence of comprehensive testing, I'd suggest we not make issues involving widespread changes "good first issue", since it is costly to review them to make sure they don't break anything.

An alternative approach would be to simply update eslint (for the various JS consistency issues #2085, #2086, #2087), and set the policy that all new javascript will be lint free.  Then, separately, legac

[2019-05-04 13:37] jdlrobson commented on #2086
I'd agree with you but this one can be fixed by automated well tested and widely used software and may uncover bugs so I consider it useful and important even without those tests!

[2019-05-04 14:41] jdlrobson commented on #1194
@LeadSongDog let's create a more specific issue capturing the new requirements to avoid confusion. We obviously want to allow text, so a more specific bug would be "ISBN inputs should always be in a valid format". Sound good?

[2019-05-05 02:21] LeadSongDog commented on #1194
@jdlrobson is that saying to reject input in other formats, or to rework them to an agreed single format?

[2019-05-05 02:28] jdlrobson commented on #1194
Whatever you think best. My original proposal was a little poorly thought  out as I thought just having numbers was enough.. so I'm sorry for creating a lot of confusion on this issue. I think a new issue will clear up that confusion by rescoping the problem.

[2019-05-05 05:02] tfmorris commented on #2021
The div with the icon of a red triangle with the exclamation point (!) in the tweet is supposed to contain an error message. The fact that it doesn't indicates a separate bug which will make debugging this one difficult.

[2019-05-05 05:10] tfmorris commented on #49
@brad2014 Did you see my Apr 2018 comment?

I'm not sure whether advocating only for normalization in the search index and not on import or something else.

[2019-05-05 05:14] tfmorris commented on #65
George's query returns 0 results (problem solved? :) )

The general problem is that subjects need to be objects, not string, and have aliases, associated metadata, etc.

[2019-05-05 05:24] tfmorris commented on #146
Simple question - does the stats page on the developer instance work currently if the total is zero?

[2019-05-05 06:03] hornc commented on #65
Yes, I think this can be closed. #322 is a more specific and current issue that can be dealt with independently. Any other current Subject related issues should be raised separately with current examples.

[2019-05-05 06:28] hornc commented on #44
Two more examples from #44:
http://openlibrary.org/works/OL3536507W/Hong_lou_meng?v=20
https://openlibrary.org/works/OL16252229W/Kinder_des_weltalls?v=4

[2019-05-05 06:28] hornc commented on #88
closing as duplicate of #44

[2019-05-05 06:28] #88 closed

[2019-05-05 07:11] hornc commented on #114
Pretty sure this can be closed as #99 has already been closed.

[2019-05-05 07:11] #114 closed

[2019-05-05 07:12] #26 closed

[2019-05-05 07:24] hornc commented on #2105
Fixed by forcing a manual solr reindex of the work.

[2019-05-05 07:24] #2105 closed

[2019-05-05 07:28] hornc commented on #1194
I'm just seeing this thread now, it seems to relate to an issue I opened recently where previously existing js client side ISBN and other validation has dropped off:  #2090

[2019-05-05 09:32] hornc commented on #2090
This is possibly related to UI / javascript form submission of #2026

[2019-05-05 09:51] hornc commented on #333
This is the search query URL from the original report:
https://openlibrary.org/search/subjects?q=business+economics&mode=everything

[2019-05-05 09:53] hornc commented on #333
The other subjects linked to from this page are correctly formed or escaped:
https://openlibrary.org/subjects/business_&_economics__industries__transportation

[2019-05-05 09:57] hornc commented on #727
Also, the works page links in the subjects heading are not escaped: e.g. https://openlibrary.org/works/OL149210W/Thinner

However the "related subjects" on a subjects page are: https://openlibrary.org/subjects/fiction__thrillers

[2019-05-05 10:09] hornc commented on #269
Add this question and answer to the FAQ editing page: https://openlibrary.org/help/faq/editing and close.

[2019-05-05 19:26] tfmorris commented on #65
I think this is still a valid issue. Although George's original query is broken due to a different bug (#322), the problem she reported isn't fixed. The queries that @hornc posted here in 2017: https://github.com/internetarchive/openlibrary/issues/65#issuecomment-340944840 still demonstrate the problem.

The first three hits:

resolve to only 2 uniq URLs which differ only be a single trailing peri

[2019-05-06 00:41] tfmorris commented on #114
Although we still don't have editions indexed, this is obsolete and can stay closed. Also, the original motivation, retiring CouchDB, no longer applies.

Some notes for the record:
* editions are *not* indexed currently (unless they're orphans without an associated work, in which case they are indexed as a work). See this comment:
https://github.com/internetarchive/openlibrary/blob/d3f63c1d6f8864d

[2019-05-06 01:08] tfmorris commented on #333
This is the line that needs adjusting:

https://github.com/internetarchive/openlibrary/blob/22da07aef6f8aa83571d43a89e5ab22fda28a438/openlibrary/templates/search/subjects.html#L46

Exactly how is left as an exercise to the reader.

If there are still problems with publishers, let's create a separate issue for that.

[2019-05-06 01:11] tfmorris commented on #727
Closing as a duplicate of #333.

The problem that @hornc just reported:

Should get its own separate issue.

[2019-05-06 01:11] #727 closed

[2019-05-06 01:14] tfmorris commented on #2090
The "flash error", or whatever it's called, pane at the top of pages is broken as well, which may be related (or may be the same thing - I don't think I've ever seen the ISBN validation errors).

It renders with just the red triangle and no associated error message.

[2019-05-06 01:27] tfmorris commented on #2106
Totals 66K works https://openlibrary.org/subjects/overdrive

We should also remove the `id_overdrive` field from the Solr schema and any uses of it.

[2019-05-06 01:39] tfmorris opened #2107 "Remove fake subjects from Works"
## Description

Three of the top five "subjects" are not subjects at all:
* `Accessible book` - 2.5 million
* `Protected DAISY` - 1.2 million
* `In library` - 0.5 million

The are also some lower frequency noise terms like `Lending library` and `Internet Archive Wishlist` but the three above represent the bulk of the noise.

## Expectation

The subject list should contain things which are actually

[2019-05-06 01:40] tfmorris commented on #2106
I've created #2107 for the removal of the rest of the fake subjects (which are much more frequent than `Overdrive`)

[2019-05-06 01:47] tfmorris commented on #146
Actually this was already addressed in the Mar 22 comment. This page doesn't exist in the current system. Closing.

Apologies to the OP for ignoring it for so long.

[2019-05-06 01:47] #146 closed

[2019-05-06 15:08] ermenauta commented on #2088
A common solution to this problem is to keep the carousels hidden before initialization, and it can be completely done in CSS.

[code]
I can check if the class _carousel_ is used in another elements than the slick carousel to avoid problems and submit a PR to address the issue.

Here is an example, simulating a very slow network.

**Before**
![ezgif-5-01cf33e8596e](https://user-images.githubuserco

[2019-05-06 15:43] mekarpeles commented on #870
@cdrini any idea where we stand / left off on this issue?

[2019-05-06 16:10] brad2014 commented on #690
@mek, does this need further breakdown or assessment?

[2019-05-07 00:26] jdlrobson commented on #2088
What if the JS fails to completely load due to a dropped connection? The carousel is very usable without JS so I think a solution which reserves the required space for the arrows would be better.

[2019-05-07 01:38] cdrini opened #2108 "Consolidate mulitple MockSite"
We currently have multiple definitions of `MockSite` used throughout our tests; these should be consolidated where appropriate. Here are the occurrences:

**add me...**

[2019-05-07 02:14] LeadSongDog commented on #2106
Hang on a bit. Is the overdrive tag and identifier not useful to users borrowing the edition from other libraries? Most books with isbns are not available for OL loans, but we certainly keep those identifiers.

[2019-05-07 06:59] cdrini opened #2109 "Local environment much slower than usual"
## Description
The local environment takes forever (~80s) to load a single page lately. I think there's a regression with the carousels based on `_profile` output. Has anyone else been experiencing this?

## Evidence / Screenshot (if possible)
[code]

## Relevant url?
http://192.168.99.100:8080/books/OL24218235M/Remix?_profile=true (or localhost)

## Expectation
It should take WAY less than that.

[2019-05-07 09:37] brad2014 commented on #2062
@hornc To close this, there needs to be a script and a cron job deployed, right?

[2019-05-07 09:59] brad2014 commented on #111
@mek, @hornc, is this issue stale?  Is celery no longer crunchy?

[2019-05-07 14:17] tfmorris commented on #34
@mekarpeles @brad2014 Do you have access to this blog? Can you move any relevant posts somewhere accessible?

[2019-05-07 14:25] tfmorris commented on #111
I think this can be safely closed. Celery was removed in 2014 b202f040fa79ac8a23ddb33db84e0e3ce3a69d05. If I had to guess I'd say Work Finder is
https://github.com/internetarchive/openlibrary/blob/22da07aef6f8aa83571d43a89e5ab22fda28a438/openlibrary/catalog/works/find_works.py#L3
or perhaps that entire subdirectory.

Reviewing the commit history for that directory, it looks like the last functiona

[2019-05-07 14:25] #111 closed

[2019-05-07 14:42] DanHues commented on #1283
@mekarpeles when do you plan on producing the shirts? I would love to get one haha

[2019-05-07 20:12] LeadSongDog commented on #2095
Ah, it seems similar issues are already known, with an identified fix: https://github.com/jsonform/jsonform/issues/197

[2019-05-07 20:25] cdrini commented on #2095
To clarify, we need to add `step="0.01"` to all our number inputs where we except decimal values.

[2019-05-07 21:57] cdrini opened #2111 "Moving an edition to a work with a subtitle creates orphans"
## Description
Moving an edition to a work with a subtitle creates orphans. This is a frontend issue. When selecting a work from the autocomplete list, it sets the input's value to be `$title: $subtitle`. This triggers another query, which doesn't return any results (since we're only searching by title). Related to #961, #730.

## Details
- **Logged in (Y/N)?** Y
- **Browser type/version?** Firefo

[2019-05-08 02:47] hornc commented on #1933
I have updated the production config to remove the article: https://openlibrary.org/config/edition
Here is an example edition with a classification now displayed as "Regensburger Verbundklassifikation":

https://openlibrary.org/books/OL758259M/Relativna_re%C4%8Denica

[2019-05-08 02:47] #1933 closed

[2019-05-08 02:52] mekarpeles opened #2114 "Librarian API to merge duplicate editions"
## Is your feature request related to a problem? Please describe.

Subtask of #690

Proposing an API endpoint (available to users in the `librarian` usergroup) for dealing with duplicate editions (by deleting one and turning it into a redirect to the other

## Describe the solution you'd like

Something like:
`/books/OL...M/slug-title/merge?duplicate=OL...M`

Which then calls `openlibrary-client`

[2019-05-08 03:12] cdrini opened #2115 "Separate coverstore into separate docker-compose service"
Subtask of #1071

[2019-05-08 03:45] hornc commented on #701
The relevant code is here: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/marc/parse.py#L166

Looks like $p "Name of part/section of a work" is considered, but not $n "Number of part/section of a work"

There does not appear to be any current test MARC records that have a 245$n to test against.

MARC title subfields reference:
https://www.loc.gov/marc/bibliographic/

[2019-05-08 03:51] hornc commented on #2060
Barcode source field 919:

[2019-05-08 05:33] cdrini opened #2117 "Consolidate autocomplete searchbard and work autocomplete"
## Description
These things perform virtually identical functions; they should shared their code.

## Evidence / Screenshot (if possible)

| Search box | Work select autocomplete |
|-------------|-------------------------------|
| ![image](https://user-images.githubusercontent.com/6251786/57351753-115aa480-7131-11e9-926d-93c3721749fa.png) | ![image](https://user-images.githubusercontent.com/625178

[2019-05-08 10:48] hornc commented on #1163
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/upstream/addbook.py#L116

path = /books/add , is the UI add book page.

vs.

https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/code.py#L193

path = /addbook  Looks like it deliberately redirects to /books/add -- what does it add?

[code]

[2019-05-08 15:34] LeadSongDog commented on #2107
@tfmoorris Perhaps these tags should be supplanted by a new entry under _The Physical Object_ / _Format_ prior to deletion, or is there a better way?

[2019-05-08 17:14] #2111 closed

[2019-05-09 13:54] brad2014 commented on #2094
@mek I believe you are the owner of this.  Is its priority correct?

[2019-05-09 15:23] mekarpeles commented on #2094
https://github.com/kenwheeler/slick/issues/3750

[2019-05-09 15:25] mekarpeles commented on #2094
Potential work-around? https://github.com/kenwheeler/slick/issues/2505#issuecomment-246222669

[2019-05-09 15:26] mekarpeles commented on #2094
Potential work-around: https://github.com/kenwheeler/slick/issues/2505#issuecomment-269343127

`-ms-touch-action: pan-y; touch-action: pan-y;`

But note:

[2019-05-09 16:45] brad2014 commented on #2109
@cdrini - this sounds like a dev configuration issue perhaps?  Is it only in dev?  Is the dev environment missing some service (looking at socket.py suggesting a network timeout)?

If this affects production, it's probably very high priority, and owned by @mek.
If it only affects dev, i'd ask, @cdrini, if you'd be willing to identify the cause of the delay.

I'll make @mek the owner right now, for

[2019-05-09 17:29] brad2014 commented on #62
Perhaps @hornc wants to decide on a priority for this, and whether the fix for this issue is both fixing the bot and cleaning up the data, or whether there should be a separate issue to do one or the other.

[2019-05-09 18:36] LeadSongDog opened #2119 "Data Cleanup: Populate blank publisher fields from ISBN prefix when known"
Many edition records have no publisher shown, but do have an ISBN. Previous discussion at #895 shows how to get an official spelling of the publisher from the ISBN.

[2019-05-09 20:32] cdrini commented on #2109
It's only the local Dev environment; I can take ownership for now.

[2019-05-10 07:39] brad2014 commented on #1367
Note: analytics.archive.org link is 404 Not Found.  Did it move?

[2019-05-10 07:43] brad2014 commented on #1367
Note: Log analysis (fetches of static from same IP within 6-24 hour window) would show if this would have an effect on performance, and perhaps give an idea what rational settings would be, if one wanted to improve on the 24h number.

[2019-05-10 07:46] brad2014 commented on #1367
(note for labelers:  if this were in response to a user complaint, it would be `Type: Bug`.  if it were in response to server overload, it would be `Type: Refactor/Clean-up`.  Since the issue is focused on improving user experience, its a `Type: Feature`)

[2019-05-10 07:53] brad2014 commented on #314
No, PR #1238 was abandoned, with a note by @hornc  or @mekarpeles  that "this should be resolved within infogami".

I'm removing the "Good First Issue", and adding "Module: Infogami", and assigning to @mekarpeles (for now).

[2019-05-10 08:02] brad2014 commented on #2009
@jdlrobson I'm putting this on your plate for tracking, and you and @mekarpeles can decide if/when/who, or to backlog it.

[2019-05-10 08:40] brad2014 commented on #2117
Assigned to cdrini for tracking, if that's cool

[2019-05-10 08:52] brad2014 commented on #97
@mekarpeles, is this stale?  Still an issue?

[2019-05-10 10:29] brad2014 commented on #107
Old browser errors may be impossible to reproduce.  I'll leave the disposition of this to @mekarpeles

[2019-05-10 10:32] brad2014 commented on #131
I am presuming these dumps are either for reference or for disaster recovery, yes?

[2019-05-10 10:43] brad2014 commented on #1439
Assigned to @hornc for tracking, since he has #476, but reassign as appropriate.

[2019-05-10 10:44] brad2014 commented on #476
Is this still an issue?  Let's use this issue to track missing or broken dumps, and #1439 for the issue of adding size to the download page.

[2019-05-10 17:30] cdrini opened #2120 "copydocs should support OLID with version"
## Is your feature request related to a problem? Please describe.
Our `copydocs.py` script can currently only import the latest version of a thing.

## Describe the solution you'd like
Our `copydocs.py` script should support parameters like `/books/OL1M?v=2` to get a specific version of a thing.

[2019-05-10 22:30] mekarpeles commented on #68
Seems to still occasionally happen (documenting here)
[code]

[2019-05-11 07:20] jdlrobson commented on #1367
I think this one lies more in the realms of sys admin.

Would Charles know what needs to be done here?

[2019-05-11 07:21] jdlrobson commented on #2009
Garbage in garbage out is my current assessment.

[2019-05-11 13:48] brad2014 commented on #1367
@mekarpeles  or @hornc, should one of you own this?

[2019-05-11 13:56] #1888 closed

[2019-05-11 13:57] seabelis commented on #1888
I see this has been fixed.

[2019-05-11 14:03] seabelis commented on #1737
This is no longer an issue.

[2019-05-11 14:03] #1737 closed

[2019-05-11 14:32] #1630 closed

[2019-05-11 14:35] seabelis commented on #1596
Should this be closed. When encountering such an edition, I will usually create a "real" record. Hopefully this does not have any adverse effects.

[2019-05-12 17:22] Coloradohusky opened #2121 "docker-compose up: driver failed programming external connectivity"
## Description
Trying to start the Open Library development Docker to create a bot, all commands worked fine until `docker-compose up`. Don't know what went wrong. Provided `docker-compose --verbose up` output below, to better help you all figure out what went wrong.

## Command Line Output
[code]
## Expectation
Docker should be starting the app, according to the ReadMe.

## Details
Currently usin

[2019-05-12 23:48] cdrini commented on #2121
Hi! Thanks for opening the issue.

Did you restart your computer after installing docker? Your version of Windows supports Hyper-V, so I think you might need to do a restart.

Otherwise, does this help?

[2019-05-12 23:49] cdrini commented on #2121
Otherwise does this help? https://github.com/docker/for-win/issues/573#issuecomment-301513210

You should be able to restart docker from the GUI. What terminal are you using? (PowerShell, git bash, mingw, CMD, etc.)

[2019-05-12 23:53] hornc commented on #2060
Example imported item found by urn search: https://openlibrary.org/api/books.json?bibkeys=local_id:urn:phillips:31867007229706

[2019-05-13 02:47] cdrini commented on #2121
Yeah, judging from https://github.com/docker/for-win/issues/573 , it looks like this is a known docker issue. Restarting docker will fix it temporarily. It looks like this is the full fix: https://github.com/docker/for-win/issues/1038#issuecomment-385889065 . If you don't want to do that, you can use Docker Toolbox. I'm using Docker Toolbox because my OS (Win 10 Home) doesn't support Hyper-V, so I

[2019-05-13 06:39] hornc commented on #131
I think this relates to #102 although I'm not sure of the end goal. With the custom tag I have just added to these two I have been trying to consolidate all of the archive.org / Open Library synchronisation tasks and figure out the current higher level synchronisation requirements, and then split out some specific issues.

[2019-05-13 07:01] tfmorris commented on #68
Reopened.
@mekarpeles Do you have information on which URL(s) triggered this? Any idea of the frequency?

[2019-05-13 07:34] hornc commented on #1439
Done, see: https://openlibrary.org/developers/dumps?b=10&a=8&_compare=Compare&m=diff

[2019-05-13 07:34] #1439 closed

[2019-05-13 07:44] hornc commented on #1596
@seabelis I think this can be closed. The risk is you will be creating a duplicate, but I think the 'fake' id will redirect correctly if there already is an edition with the identifier, so the fact that you even end up on one of these records means something is missing.

If there are  a lot of these, it raises the question of how they were left un-synchronised, and that would fall under what I'm t

[2019-05-13 07:58] #1596 closed

[2019-05-13 14:18] mekarpeles commented on #2121
Thanks @cdrini, closing for now (@Coloradohusky feel free to re-open if this doesn't solve your issue)

[2019-05-13 14:18] #2121 closed

[2019-05-13 14:52] LeadSongDog commented on #2090
@hornc
There are two edition records for the same edition: OL9246553M and OL7291848M. The only difference I see is that OL9246553M also shows the borrowable IA link, to kissingwitch00emma, so both show the same ISBN10 and ISBN13. Possibly this could be triggering a validation error on non-uniqueness. OL7291848M should be deleted as a duplicate and redirected to OL9246553M.

It was long thought (mi

[2019-05-13 15:45] LeadSongDog commented on #1891
@seabelis
Looking down one of your list: https://openlibrary.org/search?q=title%3A+%22at+home%22+author%3A+%22Bill+Bryson%22&sort=old&mode=everything shows many instances where orphan editions are duplicates of non-orphan editions. For one instance, OL24050119M is duplicated by OL24478391M.

@cdrini
The problem here is that we are not seeing a useful diagnostic when that duplication is detected, j

[2019-05-13 18:13] brad2014 commented on #2081
+1 for assuring the dev environment is the same as the prod environment, except for those things you are explicitly testing prior to moving them to prod.

[2019-05-13 18:15] brad2014 commented on #2081
@cdrini, can you take on wrangling the consensus among the commenters and stakeholders so you can resolve this issue?

[2019-05-13 18:18] brad2014 commented on #2077
This might require someone to wrangle the branch owners in order to get them closed.  @cdrini, I'm going to put this on your plate for the moment - it probably requires some research to figure out what branches are associated with what owners, yes?

[2019-05-13 18:24] brad2014 commented on #2073
@hornc if this is not a bug, can you describe what needs to be done to close the issue?

[2019-05-13 18:26] brad2014 commented on #2068
I'm not sure if @mekarpeles should own this (because we need to decide how to schedule it) or @jdlrobson (because it affects the UI).  Either of you want to opine on its priority?

[2019-05-13 18:38] brad2014 commented on #163
@koderjoker, let me know if you are still working on this.

[2019-05-13 22:47] tfmorris commented on #2077
I've deleted a few more branches which were strictly behind master. Most of the remaining ones have commits by @mekarpeles which aren't fully merged, so probably need his attention to close out.

[2019-05-14 05:04] cdrini commented on #2001
Here's another case: https://openlibrary.org/search?q=title%3A+%22beyblade%22&mode=everything&debug=true

This seems to affect any search. In this case, one of the works has an invalid OCAID, so `availability = 'error'`, which is why the `.get` fails. We should say no edition available if we get an availability error.

[2019-05-14 08:23] brad2014 commented on #1016
@mekarpeles I'm going to assign this to you on the hypothesis that it's related to your carousel work, but feel free to reassign as appropriate.

[2019-05-14 13:55] tfmorris commented on #2001
Both cases appear to be due to illegal Internet Archive uploads which subsequently got DMCAed/banned. It's likely to be pretty rare, but also easy to fix.

[2019-05-14 15:22] cdrini commented on #1891
@LeadSongDog moving to [OL15202586W](https://openlibrary.org/works/OL15202586W/Pre%CC%81cis_de_l'art_de_la_guerre) created an orphan because the work has a subtitle. It'll be fixed once we have a deploy (this Thursday) and #2112 goes to production.

[2019-05-14 15:35] cdrini commented on #2077
I think most of the remaining branches are valid branches, but they shouldn't really be on the main openlibrary repo. Do you have a fork for development, @mekarpeles ? I feel like most of the remaining branches could be moved to your personal fork.

[2019-05-14 17:47] cdrini opened #2122 "Cannot login when using 1 worker with gunicorn"
## Description
Pressing "login" doesn't work in the dev environment when starting the site with only 1 worker (i.e. when using the debugger) in `ol-docker-start.sh`.

## Details
- **Logged in (Y/N)?** N
- **Browser type/version?** Firefox 66.0.4
- **Operating system?** Windows 10 Home

[2019-05-14 18:16] koderjoker commented on #163
@brad2014 since I'm not in the middle of working on it and will pick it up most likely after 2-3 weeks, feel free to un-assign me in case a newcomer wants to work on it.

[2019-05-14 19:21] hornc commented on #2057
(Discussed in a group on community call 2019-05-14) -- no one has noticed any data problems from when we had memcache issues in production. There is not a reliable way to detect data corruption from this specific period. It was agreed on the call to close this issue. The problems seemed to be restricted a specific short period, and we noticed bad examples as they occurred. Agreement was to close t

[2019-05-14 19:21] #2057 closed

[2019-05-14 20:19] cdrini opened #2123 "solr-updater error on invalid character"
The main error is: `ValueError: All strings must be XML compatible: Unicode or ASCII, no NULL bytes or control characters`.

Here are some more specific cases:

http://openlibrary.org/works/OL23125901M

[code]

http://openlibrary.org/works/OL18362971M

[code]

https://openlibrary.org/works/OL13706004W (references https://openlibrary.org/books/OL22912784M )

[code]

[2019-05-14 20:41] mekarpeles opened #2124 ""Join Waitlist" button broken on Authors Page"
## Description

`Join Waitlist` button not working on Authors pages:
e.g. https://openlibrary.org/authors/OL2674263A/Muriel_Jensen

Reported by @JeffKaplan

[2019-05-14 22:40] hornc commented on #2123
The Work example in the error message above on the text: "Reproduction of Thompson and West\x1b$1\x7f \x19\x1b(Bs History of Sacramento County, California. With Illustrations" associated with the work /works/OL13706004W is actually in the edition: https://openlibrary.org/books/OL22912784M (I found this by searching the db dump for an edition with that work reference)

[2019-05-14 22:44] cdrini commented on #2123
Thanks! Added to the description. This also works: https://openlibrary.org/works/OL13706004W/editions.json

[2019-05-15 10:16] brad2014 commented on #2039
Fodder for thought:
Question:  Does a given field accept *any* EDTF date representation, or only a subset?  Should our UI, especially on user input, steer the user away from certain types of degradation (to keep data quality high)?  If you allow the user to enter any type of degraded date, you'll get 'em.

Question:  What is the localized presentation of degraded dates?  If we're doing a big cutov

[2019-05-15 15:32] #730 closed

[2019-05-15 15:32] #961 closed

[2019-05-15 15:32] #1891 closed

[2019-05-15 16:04] brad2014 commented on #163
I'll leave it as is, no rush! When you pick it up, set the "State: Work In Progress" label.

[2019-05-15 17:11] #2124 closed

[2019-05-15 20:58] Coloradohusky commented on #2121
It works now! Thanks y'all!

[2019-05-16 14:59] jdlrobson commented on #1963
Found a little more guidance on this issue.

"CSS Flexbox can create a disconnect between the DOM order and visual presentation of content, causing keyboard navigation to break. For this reason, the CSS Flexible Box Layout module warns against resequencing content logic, but asking authors not to use flexbox in this way seems illogical in itself."

https://developer.mozilla.org/en-US/docs/Web/CSS/

[2019-05-16 19:04] tfmorris opened #2128 "Empty author for new works created from Author page "Add another" link"
## Description

New works added by using the link from "Add another?" on the author page create works with an empty author field.

Author: https://openlibrary.org/authors/OL2720361A/Alex_Hutchinson
link: https://openlibrary.org/books/add?author=/authors/OL2720361A
work: https://openlibrary.org/works/OL19677694W/Endure?v=1

The form is correctly pre-populated with the author name, but the correspon

[2019-05-16 20:13] tfmorris commented on #1896
it's been a few days since I looked at this, so the details are a little fuzzy, but I'm pretty sure I came to the same conclusion and that subjects are not being indexed as part of the standard solr updater

[2019-05-16 20:38] mekarpeles commented on #777
@LeadSongDog does that mean this issue may be closed?

[2019-05-16 21:36] LeadSongDog commented on #1716
@jdlrobson
The original bug seems to have been addressed. The form autopopulates.

[2019-05-16 21:49] tfmorris commented on #1716
Yes, the form autopopulates now, but the author field doesn't get saved in the record. See #2128

[2019-05-16 22:13] LeadSongDog commented on #777
@mekarpeles
No, I don't think it has been fixed yet. Viewing:
https://openlibrary.org/books/OL17015085M/The_story_of_Sir_Galahad

the reader should be, but is not, displayed the text from the by_statement:
"retold from Le morte d'Arthur of Sir Thomas Malory and the original stories by Mary Blackwell Sterling; illustrations by William Ernest Chapman"

[2019-05-17 01:04] cdrini opened #2129 "Make dev.openlibrary.org visually distinct from production openlibrary"
## Is your feature request related to a problem? Please describe.
We use dev a lot for testing, and it's currently **super** easy to forget whether you're in dev or production. Let's make the dev site more obviously different.

## Stakeholders
@hornc

[2019-05-17 01:06] cdrini commented on #2129
Idea No1:
![image](https://user-images.githubusercontent.com/6251786/57896361-557b3280-781e-11e9-8cb0-eb7943d08f96.png)
`background: repeating-linear-gradient(-45deg, #e2dcc5 10px 40px, #e2dcc5b3 10px 50px)`

[2019-05-17 16:51] seabelis opened #2130 "Edit UI for Author Autocomplete Failure"
## Description
Editing certain editions throws error: `/opt/openlibrary/deploys/openlibrary/811fbbf/openlibrary/templates/books/author-autocomplete.html`: error in processing template: AttributeError: 'str' object has no attribute 'name' (falling back to default template)

## Relevant url?
https://openlibrary.org/books/OL22449759M/The_handmaid's_tale
https://openlibrary.org/books/OL20930937M/The_h

[2019-05-17 16:55] mekarpeles commented on #2130
cc: @hornc, it may be bad data, can you give us any info about how common this case is?

[2019-05-17 17:00] cdrini commented on #2130
Lots of weirdness here. This _isn't_ an orphan, but it's displayed as an orphan in the UI, and it has an `authors` field (despite not being an orphan).

[2019-05-17 17:04] mekarpeles commented on #2130
@cdrini writes:

[2019-05-17 17:18] cdrini commented on #2130
Actually all editions are supposed to have authors; my bad

[2019-05-19 11:10] seabelis opened #2131 "Merged works break on lists"
## Description
When a work that has been added to a user's list has been merged, the link from the list breaks and becomes useless to the user. The appearance provides no information to the user about what the work was nor does it redirect to the new work, i.e. /works/OL151925W unknown - 0 works

## Evidence / Screenshot (if possible)
![Fullscreen capture 5192019 124810 PM bmp](https://user-images

[2019-05-20 03:59] cdrini opened #2132 "No visual indicator when selecting a cover when editing work"
## Description
Go to an edition page which lists more than 1 edition - it should show 3 ways to upload a cover.

Select a cover from the "Pick one from the existing covers" list when editing a work. Clicking the cover shows no visual indicator that it's been selected. I just assumed it wasn't working.

## Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/625178

[2019-05-20 04:52] cdrini opened #2133 "Styling of author edit page has regressed"
## Description
It looks like some CSS is not being applied that should be. For example, most of the inputs should be full width. The author's image (I think) used to be near the top, not at the bottom.

## Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/57997126-07259800-7a99-11e9-9df2-0c4c4aadb3be.png)

## Relevant url?
Any author, but for example: h

[2019-05-20 05:14] tfmorris commented on #2130
That's contrary to my understanding. I thought the authors were only on works.

If they're allowed on editions, which takes precedence between works and editions?

[2019-05-20 06:13] hornc commented on #2130
Editions can optionally have authors in their metadata, which is potentially useful, but currently the UI does not display any of them and work authors _always_ take precedence.

Having authors on editions is currently super helpful in fixing up editions without works, so stripping authors from editions is not something we can do now, but could be a goal for later, if we decide we want to simplify

[2019-05-20 08:08] seabelis commented on #2132
This is working normally for me.

[2019-05-20 08:10] seabelis commented on #2132
Although I think there used to be better visual indicators for choosing a cover. Maybe it was highlighted in some way.

[2019-05-20 12:45] cdrini commented on #2132
Ahhh, I think you're right. It looks like some CSS that used to run isn't running. There's no visual indicator after clicking the cover that it's been selected.

[2019-05-20 13:04] cdrini commented on #2131
I thought there might be something like this :( Looking through the history, it looks like we've hit on this before: #501 . I guess I'll close this as a duplicate.

[2019-05-20 13:04] #2131 closed

[2019-05-20 15:10] tfmorris commented on #2130
I phrased that badly.

I understand that the data model (and some of our data) supports authors on editions and I see the value in edition specific metadata, but what we need to avoid is having data that is displayed (or worse used for operations like merge, but not displayed) and which is not editable. That's a data quality black hole and a very unsatisfying user experience.

If the current editi

[2019-05-20 17:08] seabelis opened #2134 "Make Page Edit Accessible to Librarians"
## Is your feature request related to a problem? Please describe.
Pages should be editable for consolidation and updates of librarian-related documentation.

## Describe the solution you'd like

## Proposal & Constraints

## Additional context

[2019-05-21 08:41] seabelis opened #2137 "Make it possible to copy record."
## Is your feature request related to a problem? Please describe.
Frequently there are cases where I want to add an edition that is almost an exact copy of an existing edition record. It would be useful to have the ability to make an instant duplicate of a record so that one can copy the details and simply modify the differences.

## Describe the solution you'd like
Ideally, a button "Make Copy" w

[2019-05-21 08:50] seabelis opened #2138 "Create work independent of edition"
## Description
Changing title in "What work is this an edition of?" no longer creates new work. And since it is not possible to create a new work without an actual edition to associate with it, it is not possible to move incorrectly associated editions if the work does not already exist.

## Evidence / Screenshot (if possible)

## Relevant url?
https://openlibrary.org/books/OL1889320M/The_book_of_

[2019-05-21 13:21] tfmorris commented on #2137
We might want this feature restricted to certain sets of users since, in general, we're trying to eliminate duplicates as opposed to create them.

In this particular use case, it seems like a better solution might be an "Import from IA" function. Of course, ideally, it shouldn't require user intervention to get OL records created for IA books.

[2019-05-21 13:59] seabelis commented on #2137
Yes. It should only be used in special cases. A restriction would be appropriate.

[2019-05-21 16:28] tfmorris commented on #701
Here's another example: https://openlibrary.org/books/OL26605397M
All 400+ volumes of the National Union Catalog are missing the most obvious distinguishing feature, the volume number.

This should be straightforward for a first timer who wants to focus on backend / import stuff to address. A failing test needs to be written and then the 245$p code pattern can be repeated for 245$n.

[2019-05-21 16:32] tfmorris commented on #500
I think this is overly ambitious given our current resources. Typically MARC records are acquired in batches, so we don't even have a link back to an online searchable source. At scale we'd also run into the problem of resolving edit conflicts and trying to figure out which edits were "best" by some metric.

[2019-05-21 16:55] tfmorris commented on #458
This is not something that I have the bandwidth to tackle, but I'd be happy to help figure out a good strategy (incremental by module, by subdirectory, all at once, by cleanup type, etc).

I'll also note that some of this was likely improved as part of our Python 3 port cleanup (which is higher priority since we only have 7 months left before the deadline).

[2019-05-21 17:00] tfmorris commented on #1008
This seems straightforward to implement once we make a decision. Does anyone else want to vote which way we go?

[2019-05-21 18:35] mekarpeles commented on #2138
@cdrini do you mind taking a look at this? Is this related to recent changes we've made?

[2019-05-21 18:37] mekarpeles commented on #2137
I think the goal here is there are some editions with multiple `ocaid`s which we want to support

[2019-05-21 18:54] mekarpeles commented on #2033
May be residual related to edge case special "show edition as work" page when work only has 1 edition.

One work page, EDIT should always edit work (url)

[2019-05-21 18:56] mekarpeles commented on #2138
Feature requires move edition drop-down to have "change work" should have a create new

Fact that this used to work was a bug (or undocumented feature).

[2019-05-21 19:54] LeadSongDog commented on #2138
As currently on prod, this does seem to function better than previously. That said, when the merged work ID is inserted, there is only a brief appearance of the work title. Once the user clicks on the title, it returns to showing just the work id. It would be better if _both_ the ID _and_ the work title were visible.  A similar thing could be said about edits to the author field. Once the suggesti

[2019-05-21 20:08] tfmorris commented on #1620
@hornc Who controls ImportBot and where does its code live?

[2019-05-21 20:12] seabelis commented on #2026
Caught one! https://openlibrary.org/books/OL23278082M/Harry_Potter_and_the_Sorcerer's_Stone?a=19&b=18&_compare=Compare&m=diff
In this case I'd removed an incorrect ISBN10 and added the correct ISBNs 10/13. After save, neither ISBN was present.

[2019-05-21 22:39] cdrini opened #2139 "Work redirects don't make their way into solr"
## Description
Converting a `Work` into a `Redirect` doesn't seem to delete the record from solr. This work https://openlibrary.org/works/OL16515792W has passed through solr _three times_ since it was redirected, and still shows up in search results.

## Relevant url?
- https://openlibrary.org/works/OL16515792W
- https://openlibrary.org/search?q=title%3A+%22The+Thinking+Woman%27s+Guide+to+a+Better

[2019-05-22 03:39] cdrini opened #2141 "Availability consistently appears wrong for some works in search results"
## Description
Regardless of refresh, the works always show "No ebook available" when in the search results, but viewing them directly shows they are publicly available or borrowable.

## Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/58140304-af0fa280-7c0c-11e9-9846-66c2eb000480.png)

## Relevant url?
- https://openlibrary.org/works/OL16312108W (use

[2019-05-22 16:51] JeffKaplan opened #2142 "TOC cannot handle archive.org page URL parameters"
trying to create links in OL TOC it seems that it cannot handle the URL parameter on archive.org. e.g. [](https://openlibrary.org/books/OL26885410M/Behind_The_Mask) chapter one is at [](https://archive.org/stream/behnd_the_mask#page/n11) but using n11 in OL does not create a link.

[2019-05-22 22:11] cdrini opened #2143 "Add pages visual to edition book covers"
## Describe the solution you'd like
I've always liked the way actual books also communicate their length to you when you're holding them. Adding a page length visual similar to that of real books is (for me) pleasant, slightly nostalgic/emotional, and actually useful (in that it indicates page length). We should add such a visual to the edition page (e.g. https://openlibrary.org/books/OL26435280M

[2019-05-22 22:57] cdrini opened #2144 "Book covers appear fuzzy on high res displays"
## Description
Covers on the works/books pages look fuzzy on high res displays. They're getting rendered at 180px and are exactly 180px.

## Evidence / Screenshot (if possible)
<img src="https://user-images.githubusercontent.com/6251786/58214113-96fa5a80-7cc2-11e9-94ad-3523e5f1c350.png" width="300px">

## Relevant url?
e.g. https://openlibrary.org/books/OL45985M/From_Sundials_to_Atomic_Clocks

##

[2019-05-23 01:04] hornc commented on #2060
Completed! ~60K items updated.

[2019-05-23 01:04] #2060 closed

[2019-05-23 07:48] seabelis commented on #2144
I have noticed this and I think it might have to do with the images themselves. I think when the images are imported they tend to be lower quality. When I replace these with actual scans of the book covers, whether from IA copies or personally scanned images, they look much better. It's also something I've noticed on Goodreads.
This is from my own scan; is it also fuzzy? https://openlibrary.org/bo

[2019-05-23 15:21] mekarpeles commented on #2033
It is as @cdrini and @seabelis expected -- in `openlibrary/macros/databarView.html` there is a block of code that (legacy) checks whether we're on a work with only 1 edition, and makes the EDIT button use the edition's edit url (in this case) instead of the work. Removing the following line(s) should resolve the issue:

[code]

[2019-05-23 19:15] cdrini commented on #2144
Yeah, it's still fuzzy. For reference, here's how my laptop (which has a 1.25x display) displays the image:

| Using `-M.jpg` | Using `-L.jpg` |
|---|---|
| ![using -M.jpg](https://user-images.githubusercontent.com/6251786/58279852-6ae7e380-7d6d-11e9-8914-3618d8c741af.png) | ![using -L.jpg](https://user-images.githubusercontent.com/6251786/58279897-8521c180-7d6d-11e9-958c-c7929381e6bc.png) |

[2019-05-23 19:56] seabelis commented on #2144
Yes. I see.

[2019-05-23 21:33] #2076 closed

[2019-05-23 21:35] #2139 closed

[2019-05-24 01:20] LeadSongDog opened #2146 "Fix missing widget on mobile"
## Description

The arrow widgets for increment/decrement of numeric values are missing on mobile but present on desktop.

## Evidence / Screenshot (if possible)

## Details

- **Logged in (Y/N)?** yes
- **Browser type/version?** chrome
- **Operating system?**  iOS

[2019-05-24 12:42] cdrini opened #2147 "ImportBot importing titlepage instead of cover"
## Description
ImportBot does not seem to be choosing covers correctly from archive.org. It seems to be using the title page even when a good cover. I wonder if this is happening in:

https://github.com/internetarchive/openlibrary/blob/02990e2138ed756d16c4f1eb66da70b53fe08bae/openlibrary/plugins/importapi/code.py#L247

 This is using:

https://github.com/internetarchive/openlibrary/blob/02990e2138

[2019-05-24 12:45] cdrini commented on #2147
@mekarpeles @hornc Is there anything special that needs to be done to deploy this, or do we just have to fix the line above?

[2019-05-24 13:30] tfmorris commented on #2147
Note also that for your example, https://archive.org/download/greatdebatesback0000unse/page/title.jpg (the current form) doesn't resolve at all, but in that case the title page would arguably be better than a plain blank green cover.

In addition to fixing the current code, we'll also need to figure out which editions need to have their covers fixed.

[2019-05-24 16:01] LeadSongDog commented on #2147
It seems that there are three conflated issues here.

First, both the cover and the title page should be captured into the coverstore, not just one or the other. Capturing TP verso would also be helpful.

Second, the better of the two (by some metric) should be presented in search results and carousels. I would argue that when there is not a minimum amount of legible text on the cover (to identify

[2019-05-24 16:40] cdrini commented on #2147
@tfmorris could you create a new issue (probably on https://github.com/internetarchive/openlibrary-client ) for cleaning up the incorrect covers?

@LeadSongDog Trying to keep the scope of this issue small. Baby steps :)
1. That would require a redesign of the way we store covers. We currently don't store any extra semantic data with the images; it's just a list of pictures labelled `covers`. This

[2019-05-24 20:09] cdrini opened #2148 "Remove new-solr-updater --monkeypatch deadcode option"
## Description
This isn't being used on production, and it errors when run locally, so let's axe it. It makes this already messy code even harder to understand. Also remove the corresponding `monkeypatch` logic in update_works if it's unused.

## Evidence / Screenshot (if possible)
[code]

[2019-05-24 20:13] cdrini opened #2149 "Dev environment should use supervisord for prod-parity"
## Description
Prod is using supervisord to manage running solrupdater, infobase, and importbot. We should have a copy of their conf files in the repo and use them on our Docker dev instance.

## Stakeholders
@mekarpeles

[2019-05-24 20:16] cdrini commented on #2149
@mekarpeles could you provide the `.conf` files for those (and any other) supervisord sevices?

[2019-05-25 02:12] cdrini commented on #2015
For simplicity, I think the bare minimum solution to this should ensure the page numbers appear directly after the results list—that's the bug. So either a) just placing the page numbers above the facets and leaving the facets alone, or b) placing the facets at the top behind a toggle, fixes the bug. A link wouldn't fix the issue (unless (a) is also done).

[2019-05-25 02:23] cdrini opened #2151 "Reduce number of search results per page"
## Is your feature request related to a problem? Please describe.
We currently show 100 results per page; this is more than most sites. I think 20 is a good balance. ~Blocked by #2015 .~

| Site | Results per page |
| --- | --- |
| Amazon | 16 |
| GoodReads | 20 |
| Wikipedia | 20 |
| Indigo | 12 |
| LibraryThing | 70 |
| Google Books | 10 |

[2019-05-25 03:48] cdrini opened #2152 "Redesign search result items on mobile"
## Is your feature request related to a problem? Please describe.
Search result items are very large on mobile. You can only see ~1.5 books a screen; scrolling through results takes forever.

<img src="https://user-images.githubusercontent.com/6251786/58363497-f7c89500-7e72-11e9-9d9e-08bd32dee437.png" width="300">

## Describe the solution you'd like
Better use of screen real-estate.

## Proposal

[2019-05-25 23:49] cdrini commented on #479
This should no longer be an issue with the new docker flow.

[2019-05-25 23:49] #479 closed

[2019-05-25 23:50] cdrini commented on #373
No longer an issue

[2019-05-25 23:50] #373 closed

[2019-05-27 15:42] LeadSongDog commented on #2095
The missing mobile widget is separately addressed at #2146

[2019-05-28 07:26] seabelis commented on #2128
Received a user inquiry about this today.

[2019-05-28 21:47] mekarpeles commented on #1935
Let's reserve priority 0 for "multiple users are complaining, mek needs to get out of bed and fix this now"

[2019-05-29 06:02] hornc commented on #2061
copydocs.py Commands to test SFPL `local_id` locally:

[code]

[2019-05-29 08:06] #2120 closed

[2019-05-29 08:19] hornc commented on #2130
The edition has a work that is a redirect: https://openlibrary.org/works/OL675783W.json
which has the author in an odd format

[2019-05-29 08:28] hornc commented on #2130
I corrected the redirect by adding the title and a correct format author field, and was then able to shift the editions to the correct work https://openlibrary.org/works/OL15836807W/The_Handmaid's_Tale using the UI. Looks like this was a data issue on https://openlibrary.org/works/OL675783W?m=history

[2019-05-29 14:53] mekarpeles commented on #2152
I like the idea and the design, adding it to backlog for now (2019 roadmap is close to saturation and we have ~60 Priority 1 issues

[2019-05-29 14:58] mekarpeles commented on #2146
@LeadSongDog can you please provide a screenshot, a url, or additional information on reproducing the issue? It's unclear what page this is for, how it looks, and how it's supposed to look.

I don't see `Arrow Widgets` referenced anywhere in our https://github.com/internetarchive/openlibrary/wiki/Frontend-Guide

@koderjoker -- once @LeadSongDog clarifies what's broken, could you make sure it's doc

[2019-05-29 15:08] mekarpeles commented on #2149
@cdrini -- yes; these should probably be moved **out** of olsystem and into openlibrary. Punting on "moving out of olsystem" as a short term goal (hopefully we'll be able to just deprecate olsystem instead of doing surgery): let's make sure they're in openlibrary

Notice that configs in `olsystem` are often referenced in the scripts below.

**openlibrary.conf**
[code]

**solr-updater.conf**
[code]

[2019-05-29 15:14] #2001 closed

[2019-05-29 15:45] #2015 closed

[2019-05-29 16:11] LeadSongDog opened #2156 "Investigate distinct cover store schema in order to handle title pages too"
@cdrini
See also #2147

A cover is not a title page. Information on the tp and verso can be key to distinguishing editions (or volumes) and should not be lost.

Covers are wanted, not only for their cosmetic attractions to readers but because they help users in recognition/recollection of the physical item. Often, though, covers have little or no distinguishing detail: sometimes they just show a p

[2019-05-29 16:22] LeadSongDog commented on #2147
@cdrini
1. Done.
2. Understood, but how often do the scanners make that distinction?
3. I take your point, but is seeing no cover at all really better than another-edition-so-annotated? Of course we should not be deceptive: other sites indicate this with "Other editions" or "Similar items"
4. Good to know. Perhaps a more informative name, to more accurately match the scope? Say, "IAImportBot" perh

[2019-05-29 21:01] mekarpeles commented on #2134
@jdlrobson or @cdrini I'm hearing from @hornc that this seems to happen on the front-end and isn't a backend-issue. If you have any context on this issue (what fix we should pursue) please do post

[2019-05-29 21:02] mekarpeles commented on #2026
@jdlrobson or @cdrini I'm hearing from @hornc that this seems to happen on the front-end and isn't a backend-issue. If you have any context on this issue (what fix we should pursue) please do post

[2019-05-30 11:45] jdlrobson commented on #2026
@hornc do you know what's missing in the request?
Any clear replication steps I can try out locally?

[2019-05-30 11:53] jdlrobson commented on #1879
This can be closed. Shane's patch was merged in b9e44b8 (but annoyingly it looks like it was squashed somehow into 402e3b3d45f44dcd8e785064e81972a00386b9a4 without attribution - is there some way we can fix that?)

[2019-05-30 11:53] #1879 closed

[2019-05-30 12:08] jdlrobson commented on #2100
Unable to replicate this for table of contents on https://openlibrary.org/books/OL24982896M/Pioneers/edit 👎
![Screen Shot 2019-05-30 at 2 02 00 PM](https://user-images.githubusercontent.com/148752/58631663-8ad65480-82e3-11e9-8adf-9abc31f2bc53.png)

I am seeing an issue with IDs and classifications

![Screen Shot 2019-05-30 at 2 04 10 PM](https://user-images.githubusercontent.com/148752/58631760-d7

[2019-05-30 12:26] jdlrobson commented on #2009
Please reopen if you don't agree with https://github.com/internetarchive/openlibrary/issues/2009#issuecomment-491487284

[2019-05-30 12:26] #2009 closed

[2019-05-30 12:28] jdlrobson commented on #2146
I'm pretty sure this is browser specific and these do not show on mobile and there is nothing we can do here. The arrows are provided by the browser when hints are present.

Suggested "Close: Will not fix"

[2019-05-30 12:32] jdlrobson commented on #2095
While working on this I noticed some UI problems with the fields.
Before:
![Screen Shot 2019-05-30 at 2 31 51 PM](https://user-images.githubusercontent.com/148752/58633078-ba875b80-82e7-11e9-8474-534bd9b528c1.png)

After:
![Screen Shot 2019-05-30 at 2 04 10 PM](https://user-images.githubusercontent.com/148752/58633041-9f1c5080-82e7-11e9-9da4-3f607eb4438d.png)
![Screen Shot 2019-05-30 at 2 24 06 PM

[2019-05-30 13:12] jdlrobson opened #2160 "Collect data on whether carousel pattern is useful to users"
## Is your feature request related to a problem? Please describe.
OpenLibrary makes heavy use of the carousel UI pattern but it's not clear whether our users engage with these. They have accessibility problems ([e.g](https://www.creativebloq.com/accessibility-expert-warns-stop-using-carousels-7133778) and many designers advise more effective alternatives ([e.g.](https://www.justinmind.com/blog/bui

[2019-05-30 13:13] jdlrobson commented on #2088
I took some time to look into this today and it seems the issue is an inline style added by the slick library to the element with class category-item carousel__item slick-slide slick-current slick-active

This is thus a problem in the library - inline styles like this don't bode well with this kind of thing.

This is not worth further investigation in my opinion and I'd like more data on #2160 bef

[2019-05-30 13:13] #2088 closed

[2019-05-30 13:25] jdlrobson commented on #2134
I'm going to need some a lot more context on this one if my help is needed!

[2019-05-30 18:20] LeadSongDog commented on #2100
@jdlrobson
You could not replicate there because you were using a mobile browser, for which the edit windows do not show any resizing handle in the bottom right corner. Perhaps this could be seen to argue that independent resizing of the edit windows is an unnecessary feature, but I often find the scrolling within an edit window on mobile to be somewhat dysfunctional, particularly when trying to s

[2019-05-30 18:37] jdlrobson commented on #2100
Is the screenshot up to date? I was actually using desktop browser with mobile resolution.

I'm now not sure what issue you are referring to.. the textareas you have circled are all resizable to me and all non-multiline are not.

Maybe autoresizing would be most useful for both mobile and desktop? Is the issue that you want to avoid scrolling text areas with lots of text?

[2019-05-30 18:43] mekarpeles commented on #2033
Here's the solution if anyone wants to open a PR (my development branch is a bit of a mess at the moment):
[code]

[2019-05-30 19:16] mekarpeles commented on #2134
@hornc and I explored what would need to be done to make this possible (from openlibrary repo, trying not to touch infogami)

There's a few entry points and considerations:

First, in `plugins/upstream/addbook.py`

`class edit(core.edit)` extends infogami and determines what happens when a user makes a `GET` edit request. This presumably also has to be extended to handle the `core.edit.POST` (if t

[2019-05-30 22:28] hornc commented on #2130
I just ran into another problem importing caused by the same thing, a redirect with an invalid format author ... to answer the question on how many: there are apparently only **26** works (all redirects) with this problem.

Downloading the `redirects` dump from https://archive.org/download/ol_dump_2019-04-30/
[code]
26

[code]

[2019-05-30 23:09] hornc commented on #2130
fixed those by reverting the redirect changes. They seem to have a lot of associated editions still. Looks like the original cause was me attempting to merge works by redirecting without tidying up all of the linked editions. :worried:

[2019-05-30 23:09] #2130 closed

[2019-05-31 08:15] tabshaikh opened #2162 "Add [Sponsor this eBook] button"
Adding **Sponsor this eBook** button to Books Page, Search Results Page and Works Editions table(where there is no ebook available)

The design to be tried for the button is below:
![Screenshot from 2019-05-31 13-38-50](https://user-images.githubusercontent.com/31198893/58691441-98561200-83a9-11e9-8a41-047ad5a18b4f.png)

**Update**: The design after viewing on dev does not look like a clickable bu

[2019-05-31 08:49] seabelis commented on #2130
@hornc These are still broken. Different issue? https://openlibrary.org/people/seabelis/lists/OL129155L/broken

[2019-05-31 08:53] seabelis commented on #1445
The issue with the error messages has been resolved, but the issue making edits to the works above still exists.

[2019-05-31 09:02] tabshaikh opened #2163 "Create Database of Book Sponsorships"
Creating a database for recording book sponsorships which would be later used to display book sponsorship information on the accounts page and creating a leaderboard of Sponsorships.

The steps needed to be done are:
- [ ] Design database schema sql
- [ ] Write models (see: Reading Log & User Follows examples)

We can use to database via the Policy Check API to see `Has book already been sponsored

[2019-05-31 09:06] tabshaikh commented on #2163
@mek we would need to discuss about the attributes in the database too :)

[2019-05-31 09:23] tabshaikh opened #2164 "Book Sponsorship Design Flow"
The modal would open up once the user clicks `Sponsor this eBook` button and would include things like the `cost breakdown`, `terms and conditions`, etc. which needs to be still decided and designed before implementing them.

Items in this page would only be required to redesign and put into the modal:
![Screenshot from 2019-05-31 14-51-57](https://user-images.githubusercontent.com/31198893/586956

[2019-05-31 09:25] tabshaikh commented on #2164
@bfalling could you add some more details if i have missed some :)

[2019-05-31 10:15] tabshaikh opened #2165 "Instrument basic analytics tracking"
We would like to have analytics tracking on our buttons and a campaign/flow so that we can track where there's a drop-off at different parts of the conversion funnel. For instrumentation(ie. log button impressions and button clicking we could use navigator.sendBeacon and google analytics.
A rough plan would be like:
 - [ ] Determining how we can instrument? We would want to send events somewhere w

[2019-05-31 10:28] tabshaikh opened #2166 "Redirecting the users to archive.org/donate for payment"
How will we redirect to archive.org for payment? What URL endpoint + parameters?
Patrons are sent (via a `GET` param) to archive.org/donate which only shows checkout flow, giving user option of payment type

How can we tell which Open Library users have sponsored a book?
Presumably a privileged archive.org item with encrypted metadata?

Things needed to be done in this are:
- [x] Integrating the p

[2019-05-31 10:32] tabshaikh opened #2167 "Thank you page + email receipt"
After the payment, the user will be redirected to a thank you page and will also receive an email receipt of the payment whose design and contents are yet to be decided.

Tasks to be done are:
- [ ] Design and implementation.
- [ ] For testing, getting feedback, merging of pr.

[2019-05-31 10:37] tabshaikh opened #2168 "View My Sponsored Books page"
## Is your feature request related to a problem? Please describe.

How does a patron keep track of the books they're sponsoring?

## Describe the solution you'd like

https://openlibrary.org/account UI will need to be edited to also show “Your Sponsored Books” *if* the user is in the sponsorship usergroup (edited)

The URL we’ll probably want is: https://openlibrary.org/account/books/sponsorship
W

[2019-05-31 10:46] tabshaikh opened #2169 "Leaderboard of book sponsorships /sponsors"
Creating a leaderboard for top sponsors of the book-sponsorship-program

Tasks to be done:
- [ ] Designing the basic format of our leaderboard
- [ ] Testing, getting feedback, merging of pr.

Then once the basic leader-board is set up coming up with a design that we are proud of :)

[2019-05-31 10:51] tabshaikh opened #2170 "Add "Sponsor Me" carousel on the Homepage."
Adding carousel on the homepage which showcases all the books available for sponsorship after passing the Policy Check API.

Tasks to be done:
- [ ] Implementation.
- [ ] Testing and merging.

[2019-05-31 13:58] LeadSongDog commented on #2100
@jdlrobson It was current when posted. I’ll revisit later today.

[2019-05-31 14:00] #2100 closed

[2019-05-31 14:00] #2095 closed

[2019-05-31 14:01] #2148 closed

[2019-05-31 16:19] LeadSongDog commented on #2146
@jdlrobson
1. What does "when hints are present" mean? Is there something OL is not telling the browser?
2. Those widgets aren't just missing in one browser: both Safari and Chrome show the same problem on iOS. I'm not sure what Android users see, but it's likely the same. The Firefox and Chrome browsers do present the widgets on Win7 Pro, but IE does not.
3. How are mobile users supposed to edit

[2019-05-31 16:56] cdrini commented on #2146
@LeadSongDog They can be edited by clicking on them and using the keyboard? Does the keyboard not appear when you tap on the input box?

This is controlled by the OS. On desktop operating systems, the up/down buttons appear. On e.g. Android, those buttons would be too small to press, so instead the OS opens the keyboard in number-pad mode:

<img src="https://user-images.githubusercontent.com/62517

[2019-05-31 17:08] cdrini commented on #2160
What's the difference between a carousel and a scrollable horizontal div?

[2019-05-31 17:15] LeadSongDog commented on #2146
Chrome on iOS gives a general keyboard when the user clicks in the box. If the user gives extra digits, such as 19.01 cm, it shows the easily-missed error bubble “Enter a valid value” without saying what is wrong. The invalid number error prevents saving the page.

[2019-05-31 18:17] cdrini commented on #2146
Ah, that error is because of #2095 . The fix for that should be on production after our Thursday deploy.
Unfortunately there isn't much we can do to force Chrome to display the numpad when we specify `type="number"` :/

[2019-05-31 19:12] LeadSongDog commented on #2146
@cdrini I still see the error on dev too, but if the code is fixed and in the queue, that's great. Thank you for clarifying.

[2019-06-01 18:31] jdlrobson commented on #2160
Not much but seemed like a good starting point. The question would be "Is a JavaScript heavy interactive carousel more engaging to users then a horizontal scrolling DIV that's made entirely from HTML and no JavaScript. I'd guess the answer would be yes, but by how much is not clear to me.

Imagine if the front page was an infinite scrollable list of images? e.g. like this: http://trending.wmflabs.

[2019-06-01 22:34] cdrini commented on #2026
@seabelis What were the correct ISBNs you were trying to add?

[2019-06-01 22:35] cdrini commented on #2026
Ah, never mind; I see you were able to add them in a future edit.

[2019-06-01 22:50] cdrini commented on #2026
Ok, I think the issue is with the `[x]` buttons. I think they sometimes delete the wrong identifier. So this is an issue when you remove/add identifiers in the same edit :/

[2019-06-01 23:08] cdrini commented on #2026
To reproduce:

1. `copydocs.py /books/OL23278082M?v=18 -r`
2. Edit the book as follows:
  a. Add amazon: `059035342X`
  b. Add google: `fo4rzdaHDAwC`
  c. Remove goodreads
  d. Add goodreads: `44415839`
3. Save

Expected: `google` id set.
Actual: `google` not set.

[2019-06-01 23:28] cdrini commented on #2026
Actually, it doesn't look like it's the `[x]` buttons; it looks like the `identifier--$index` values are wrong (this is after step 2 of repro):
![image](https://user-images.githubusercontent.com/6251786/58754624-77bdb300-84a2-11e9-88e9-56e65ec2747d.png)

This `onRemove` method should probably be updating the identifier indices:
https://github.com/internetarchive/openlibrary/blob/b7fefd63db2b73fdc6

[2019-06-01 23:39] cdrini commented on #2026
This seems like it would be down your alley, @jdlrobson ; feel free to assign to yourself if you want to take it on.

[2019-06-02 02:29] cdrini commented on #2134
This is a thing that exists:
1. https://openlibrary.org/permission/librarians
2. http://openlibrary.org/admin/permissions

Editing the first permission is _theoretically_ what we need to do? But I'm not sure how.

This endpoint might do the trick. Maybe if we run a POST command to `http://openlibrary.org/admin/permissions?perm_pages=/permission/librarians`, we should get it to change the permissio

[2019-06-02 06:13] jdlrobson commented on #2026
Thanks for the debug steps!

[2019-06-04 01:56] hornc commented on #2134
@seabelis this should be fixed now with configuration changes, can you test and let me know whether you can make the edits you wanted?

[2019-06-04 02:31] #1915 closed

[2019-06-04 02:40] hornc commented on #340
all of the above merges appear to have since been undone

[2019-06-04 02:40] #340 closed

[2019-06-04 06:01] hornc commented on #1998
I added the extra author to a manual solr reindex, and it has been cleared up. I think this is another case of records dropping off the standard solr update process when there is a problem with an earlier item. Being addressed in current WIP Solr updates and switch over to a newer version.

[2019-06-04 06:01] #1998 closed

[2019-06-04 06:02] #795 closed

[2019-06-04 12:48] ericnam commented on #2141
I'm unable to reproduce the errors via the links provided - is there a specific book in the list that is displaying the incorrect availability?

[2019-06-04 14:51] seabelis commented on #2134
I have some planning to do before I make any actual edits, but yes I now have access. Thank you.

[2019-06-04 16:55] LeadSongDog commented on #795
Sorry @tfmorris, I missed your Nov 22 question.  I think the introduction of elastic search has mooted the question: the trailing period no longer changes the hit count.

[2019-06-04 17:06] mekarpeles commented on #2167
@bfalling, we're under the impression that we can just use Archive.org donate's thank you page -- is there a way we can easily see the design or flow for these steps by making a test payment?

[2019-06-04 17:10] mekarpeles commented on #2163
@bfalling it seems like this data may actually be stored on Archive.org and we'll need to use the XAuthn API (using Open Library patrons s3 keys) to fetch the information we need:

- sponsorship per user
- leaderboard of sponsors

Will this be coming from an Archive.org database?

[2019-06-04 19:07] #2134 closed

[2019-06-04 19:20] cdrini commented on #2134
As we discussed on slack, the "Create a page" button is missing, but with the new permissions you can visit i.e. https://openlibrary.org/foobar?m=edit to create the page `foobar`.

[2019-06-04 20:21] hornc commented on #2073
I think there are two possible fixes for this issue:
* Tidy up the reported error message to be more human readable
  OR (clearly better)
* Filter results to ensure only direct author records are presented in the dropdown

(best)
Longer term root cause fix is to ensure solr index is up to date and reflects the current state of all author records

[2019-06-04 20:27] hornc commented on #363
@mekarpeles is this still an issue? My experience is that this is working as expected now. There is a cookie expiry, but I think it's a month or more?

[2019-06-04 20:33] hornc commented on #2026
Thanks @cdrini, I had a feeling it was something like this but wasn't able to task switch sufficiently to get into the js and follow it through all the way! Really appreciate your debugging skills on this! :)

[2019-06-04 20:36] hornc commented on #116
This usergroup exists: https://openlibrary.org/usergroup/beta-testers

[2019-06-04 20:36] #116 closed

[2019-06-04 20:41] hornc commented on #62
Importing an existing book now correctly distinguishes whether it is new:
**import new book**

and when it is importing new data for an existing work:
**import existing book**
https://openlibrary.org/books/OL3119688M/Philosophie_und_Religion?b=5&m=history

[2019-06-04 20:41] #62 closed

[2019-06-04 20:45] hornc commented on #102
Unsure why this is needed, no reason provided. Availability API exists to provide this information, which I am guessing is what this data was to be used for?

[2019-06-04 20:45] #102 closed

[2019-06-04 20:48] hornc commented on #131
closing in tandem with #102 , unsure of the end requirement. Availability API mechanism now exists to provide this information dynamically, and we are deprecating the "subject as tags" mechanism which used to reflect the availability and IA collection info, see #2107

[2019-06-04 20:49] #131 closed

[2019-06-04 23:32] hornc commented on #947
Here is a recent example of a work created by my bot from a MARC record using the built-in existing work code that is triggered by the `/api/import/ia` endpoint:

https://openlibrary.org/works/OL19710848W/Hellboy

Why did it not match the existing https://openlibrary.org/works/OL8383177W/Hellboy ?

**Ans**, which I figured out while typing this up: because the imported book has a subtitle: "Into t

[2019-06-04 23:46] hornc commented on #1904
Unfortunately in this case there is only one edition and multiple works.

This specific edition was an existing orphaned edition, and it looks like there were two identical MARC records in a row that were processed sequentially. The first import found that the edition had no work, and created. When the subsequent passes happened, the search index hadn't updated to reflect the recent change so anot

[2019-06-05 14:57] todrobbins opened #2177 "Author view renders without editions"
## Description
I'm running into a blank list of editions on author pages. I tried testing as a logged in user and incognito, and this is what I see:

## Evidence / Screenshot

http://recordit.co/iuzpFAYPk2

It looks like the markup is missing and the rendering is just white space 🤷🏻‍♂️

![Screen Shot 2019-06-05 at 8 55 11 AM](https://user-images.githubusercontent.com/158590/58966518-aae89680-876f-

[2019-06-05 17:25] cdrini commented on #2177
(Recordit is like the coolest thing I've ever seen. Thank you for taking the time to do that!)

Ah, I think I know what the issue is. The "ebook" toggle is enabled by default, and it looks like there are no ebooks for this author so it displays empty :/

![image](https://user-images.githubusercontent.com/6251786/58976114-b39f9380-8794-11e9-8ccb-bcab79693585.png)

I think this is a UX problem. Show

[2019-06-05 17:44] cdrini commented on #2177
Or maybe it could always be displayed; maybe something at the top like:

[2019-06-05 19:12] mekarpeles opened #2178 "View My Sponsored Books page"
Child of #659

## Is your feature request related to a problem? Please describe.

How does a patron keep track of the books they're sponsoring?

## Describe the solution you'd like

https://openlibrary.org/account UI will need to be edited to also show “Your Sponsored Books” *if* the user is in the sponsorship usergroup (edited)

The URL we’ll probably want is: https://openlibrary.org/account/book

[2019-06-06 22:55] brad2014 commented on #2141
I'm marking this `affects: server` on the assumption that the server is reporting incorrectly that no ebooks are available.

[2019-06-06 23:21] brad2014 commented on #2156
In the name of making this a closable bug, I'm going to rephrase the title in terms of a feature request.

[2019-06-06 23:38] brad2014 commented on #1990
@jdlrobson consider retitling to make this bug closable. For example, "Reduce load time of edition edit page".  I'll add `Needs: Assessment`, so we can identify the current load time, a goal load time (I'm interested in @seabelis's opinion), and what we might change to get us there.

[2019-06-06 23:44] brad2014 commented on #1963
@koderjoker , I assigned this to you since I see you are doing assessment.  Feel free to work with @jdlrobson to change assignment as needed.

[2019-06-07 00:04] brad2014 commented on #1958
@seabelis, can you do me a favor and check if the bug is "Deleting contributor is broken" (you perform the deletion but upon refresh the contributor is still there), or is it "Deleting contributor works unless the contributor is Testing"?

@cdrini, could this be a caching problem?  (we've seen a few bugs like something is deleted, but still hanging out in the cache)

[2019-06-07 00:11] brad2014 commented on #1955
Hi, @Batey96, are you still seeing this?  Do you know if this is an issue in your development environment only, or is it an issue in production?

[2019-06-07 00:17] brad2014 commented on #1951
Note to self and @jdlrobson - if there is another issue related to refactoring classes into macros (fixing that will fix this), then refer to it here and close this one.  Or, retitle this one to "Replace cta-btn class with macro", and label it `type: refactor`.

[2019-06-07 00:19] brad2014 commented on #1949
@shreyansh23 can you chat with @jdlrobson about if/how to proceed?

[2019-06-07 00:53] brad2014 commented on #2141
Is this related to #1929?

[2019-06-07 01:06] brad2014 commented on #1964
@mek do you want to wrangle the community toward a decision on how to proceed with this?  I'm not clear on how this issue gets closed (or morphed into specific tracking issues).

[2019-06-07 01:08] brad2014 commented on #1965
@mek Do you want to wrangle the community toward a decision on how to proceed with this?

[2019-06-07 01:18] brad2014 commented on #1917
For ref: The code was committed by @anandology in 2011.

[2019-06-07 01:24] brad2014 commented on #1892
- It sounds like this is a regression.
- I'm going to ask @hornc if he can assess or reproduce this.

[2019-06-07 01:34] brad2014 commented on #1938
Perhaps related to #1890 ?

[2019-06-07 01:38] brad2014 commented on #1833
@jdlrobson, @feat7, would it be reasonable to have a 30 minute chat to identify a plan of action to make some progress on this (e.g. an initial setup and some tests?)

[2019-06-07 01:45] brad2014 commented on #1848
@tfmorris, does this affect the production system at all, or is it only an issue in development?

[2019-06-07 01:57] brad2014 commented on #1742
@jdlrobson , who do you think would be a good person to review this?

[2019-06-07 02:03] cdrini commented on #1917
Pycharm found no references to this file (except for its test cases). The docstring also says this was for the dev env. Not sure if this means dev.openlibrary.org or the actual local dev environment. If it's for the local, then we can delete it. What do we use to launch dev.openlibrary.org, @mekarpeles ?

https://github.com/internetarchive/openlibrary/blob/058c6ce374d4eb2c3ff514ef2e5420794a2ff1ee/

[2019-06-07 02:07] cdrini commented on #2141
@ericnam You have to search for one of the works. For example, https://openlibrary.org/search?q=wind+in+the+willows&mode=everything

@brad2014 possibly related? I'm not too sure. I might assess this, but not any time soon, so someone else can take a crack at it if they like :P

[2019-06-07 02:19] cdrini commented on #1958
I don't think this is a caching issue; that's usually the case when deleting Things (i.e. works/authors/books/etc). This is about deleting a field on a thing.

[2019-06-07 02:28] cdrini commented on #2156
Changing back to investigate. The purpose of this issue is to ask the sorts of questions you were asking (i.e. "perhaps storing the image isn't so useful"). It will be closed when there's a decision on if/how we want to store non-cover images on a record. There are a number of ways we could do it (i.e. do we add `Edition.title_page`? Or maybe we make it like identifiers, so `Edition.images.title_p

[2019-06-07 07:51] seabelis commented on #1958
@brad2014 The name "Testing" seems to be the problem. I've tested it by adding it to this record and now I cannot remove it. https://openlibrary.org/books/OL25003949M/The_complete_idiot's_guide_to_world_religions

[2019-06-07 15:33] LeadSongDog commented on #2141
Compare:
![willow0](https://user-images.githubusercontent.com/11435431/59114488-42d3b500-8915-11e9-9b14-0c8d6fbc41b5.jpg)

![willow2](https://user-images.githubusercontent.com/11435431/59114509-4cf5b380-8915-11e9-9c3a-71c1132e508b.jpg)

![willow3](https://user-images.githubusercontent.com/11435431/59114975-52073280-8916-11e9-8e0b-889c390b9072.jpg)

Edition OL26343700M was moved
from https://openli

[2019-06-07 20:47] todrobbins commented on #2177
Yeah, a case of the empty state. How to best communicate "no ebooks"

[2019-06-08 02:51] cdrini commented on #2146
#2095 is now fixed on production! I'll close this issue as won't fix I guess, cause we can't make Chrome display the widgets, and since the field no longer errors when trying to use a decimal number.

[2019-06-08 02:53] #2146 closed

[2019-06-08 23:45] tabshaikh commented on #2164
After UX meeting the points decided are:

1. Brown modal too bulky (and should not be brown)
2. “What you’re paying for” itemized list needs to have bullets and be more clear
3. Show the user (somewhere on the modal) where they are in the process
4. Check-box for if the user wants to reserve the 1st borrow
5. Clearer check-box for if they want to sponsor anonymously
6. On modal, “Sponsor Ebook” sh

[2019-06-08 23:49] tabshaikh commented on #2178
@mekarpeles is this issue same as the one I created earlier #2168

[2019-06-09 19:57] mekarpeles commented on #2178
Closing this as duplicate of #2168

[2019-06-09 19:58] #2178 closed

[2019-06-10 03:12] hornc commented on #2029
recent example where capitalization causes duplicates too :( https://openlibrary.org/works/OL15212017W/Europe_and_Islam?m=diff&b=7

[2019-06-10 08:50] comzeradd opened #2185 "Skip recapatcha for logged in users"
### Is your feature request related to a problem? Please describe.

Every time I'm adding/editing a book I have to solve a recaptcha, although I'm logged in. Is this intended? It's a bit frustrating, since I have already proved that I'm not a bot :)

### Describe the solution you'd like

There should be no recaptcha for logged in users, or at least show it only the first time and save a "no-bot" v

[2019-06-10 18:27] mekarpeles commented on #2068
@brad2014 I'm actually going to assign this one to @bfalling (Brenton on Archive.org) as he will likely set priority on the Archive.org Book Reader changes which enable this. That way he can keep us updated as there are developments.

Unless someone wants to propose designs here (happy to assign others)

[2019-06-10 20:51] #2102 closed

[2019-06-11 11:09] seabelis opened #2187 "Adding a new edition incorrectly resets the search filter"
### Description
The search radio button defaults to ebooks. If one changes it to everything the setting persists until user adds a new edition. The user may not notice that their preference has been changed.

### Evidence / Screenshot (if possible)

### Relevant url?
N/A

### Expectation
The search setting should persist until user changes it.

### Details

- **Logged in (Y/N)?** Y
- **Browser typ

[2019-06-11 14:43] schippas commented on #686
Hello, I am interested in contributing to this project. Are there still community callouts, and if so how do I access them? I was thinking of working on #2085, #2086, and #2087 to start out and get familiar with the codebase.

[2019-06-11 18:28] brad2014 commented on #2185
This sounds like a bug, no? @mek?

[2019-06-11 18:32] brad2014 commented on #2187
Just to be clear, Is the bug you're reporting that adding a new edition incorrectly resets the search filter?

[2019-06-11 19:09] brad2014 commented on #1928
I'll lean on @hornc assessment to decide whether to subsume this under #853 (this also relates to work @cdrini is doing on solr), or whether there is bandwidth to do a stopgap solution for this specific case.

[2019-06-11 19:13] brad2014 commented on #1904
@hornc does resolving this involve both cleaning up the existing corrupted data, and fixing the import process?  Should this be split into two issues?

[2019-06-11 19:27] mekarpeles commented on #2185
If you've had an account for a certain amount of time, I believe captcha is removed. We may be able to tune-down this timespan.

For now, we can add you as a `librarian` and you won't see the captcha anymore

[2019-06-11 20:12] brad2014 opened #2190 "Internationalizing the openlibrary UI"
This is an epic that covers subissues related to both
- moving the server onto a translation maintenance pipeline (Weblate? Pootle? Zanata?)
- refactoring the user interface so that foreign language users see the UI in their language
- creating and maintaining UI translations

The UI will be polylingual, presenting label elements in the user language and content elements in the content language.

[2019-06-11 20:13] brad2014 commented on #1855
This is included in #2190.

[2019-06-11 20:14] brad2014 commented on #1040
This is included in and blocked by #2190.

[2019-06-11 20:16] brad2014 commented on #791
I'm consolidating internationalization development under epic #2190.

[2019-06-11 20:21] brad2014 commented on #2190
Also dropping here @nemobis suggestion from #791 to leverage the folks at https://translatewiki.net/wiki/Translating:New_project

[2019-06-11 20:29] hornc commented on #1040
@brad2014 I wouldn't say "blocked by", included in is fine, but translations to any language are not blocked in any way.

[2019-06-11 20:32] brad2014 commented on #973
We may also decide to do this as a part of #2190

[2019-06-11 20:35] cdrini commented on #2185
How old is your account, @comzeradd ?

Here are the rules Wikipedia follows (which I think we can safely mimic):

https://en.wikipedia.org/wiki/Wikipedia:User_access_levels#Autoconfirmed_and_confirmed_users

I think this could be added under "autoconfirmed", perhaps? 4 days is a little short for Open Library though, since we have a smaller user base than wikipedia (and no way to "watch" pages, so

[2019-06-11 20:54] brad2014 commented on #1040
@charles, my claim is that the website is not usable to a non-english speaker yet, even though localized strings can be added (set your browser language to french or spanish and see what happens).  So, I'll agree that you can add (some) nepali strings without fixing #2190, but the site won't work for you if you only speak nepali.

[2019-06-12 07:14] seabelis commented on #2187
@brad2014 Yes. At least I think the only time it happens is after adding a book.

[2019-06-12 07:36] seabelis opened #2191 "General search by Internet Archive ID produces inaccurate results"
### Description
Using the Internet Archive ID as a general search term does not produce reliable results.

### Evidence / Screenshot (if possible)
General search: https://openlibrary.org/search?q=alicesadventures00carr_16&mode=everything&m=edit
Search with ia prefix: https://openlibrary.org/search?q=ia%3Aalicesadventures00carr_16&mode=everything
(Still not ideal since it only produces the work rat

[2019-06-12 08:43] comzeradd commented on #2185
My [account](https://openlibrary.org/people/comzeradd8656) is fairly new, almost a month old.

[2019-06-12 12:32] cdrini commented on #2185
I just reduced the time from 2 years; although setting up those usergroups would probably be a better long term solution.

[2019-06-13 07:25] feat7 commented on #1833
@brad2014 I am having a tough time these days. I can't work on this for some time.

[2019-06-13 15:08] mekarpeles commented on #2177
This is a known issue and I have a branch which completely refactors availability. It's going to take a few weeks for all my PRs to land. This fix is started on poorly named branch `hotfix/print-disability-cta`.

The issue is, the current design uses `js` to filter out unavailable books **after** page load. This logic is all being moved onto the backend and the messaging will be improved if 0 eboo

[2019-06-13 15:30] todrobbins commented on #2177
Awesome! Thanks @mekarpeles!

[2019-06-13 16:21] tfmorris commented on #2177
As we've discussed a number of times, having this filter enabled by default creates a really bad user experience.

Better reporting of "everything has been filtered" would be good, but the main problem is the default filter setting.

[2019-06-13 18:13] #2185 closed

[2019-06-13 18:15] #2029 closed

[2019-06-13 18:16] #1571 closed

[2019-06-13 18:44] mekarpeles commented on #2144
We should just be using `-L` for books pages.

[2019-06-13 23:21] hornc commented on #40
@mekarpeles Is there still anything left to do for this? I think the described history view is enabled for everyone currently, at least I hope so and we can close this.

[2019-06-13 23:26] hornc commented on #335
all down to our know solr indexing issues which are being addressed in upcoming upgrades etc

[2019-06-13 23:26] #335 closed

[2019-06-13 23:39] hornc commented on #1619
Some authors have `source_records` as a field, which is a general source field which does not have to be added at the first import.
https://openlibrary.org/authors/OL104493A.json

Having all these `source_records` displayed consistently on the Works, Editions, and Authors pages would be nice.

This `machine_comment` isn't well named, but I guess indicates where the _first_ import came from and the

[2019-06-13 23:51] hornc commented on #2073
@cdrini, are you aware of an existing mechanism to check and filter the solr results to exclude redirects and deletes before they get passed to the UI?

 I'm wondering if the fix here is simply to fix the indexing process, because what is the point of having Solr if all its results have to be individually checked for accuracy before being used?

[2019-06-13 23:54] brad2014 commented on #2073
Congrats, @hornc, you've invented a Bloom Filter.  :smile:

[2019-06-14 02:48] cdrini commented on #40
In openlibrary.yml, it looks like this is only enabled for admins. Here's what I see:
![image](https://user-images.githubusercontent.com/6251786/59480086-3ecff780-8e2d-11e9-813e-7f287e6c264d.png)
https://openlibrary.org/authors/OL86811A/Ismail_Kadare?m=history

[2019-06-14 02:53] cdrini commented on #2073
Solr shouldn't have redirects inside it, so you'd have to take the query results and load the live items from the database. This would probably be super not performant for something like autocomplete :/

[2019-06-14 02:55] cdrini commented on #2073
I think the ideal solution might be to follow the redirect. i.e. If I try to set an author to be a redirect, it should set it to be the direct value.

In the case of a deletion, a better error message.

[2019-06-14 16:36] LeadSongDog commented on #1592
@mekarpeles @tabshaikh
The first step is to capture the pertinent google id. Where an ISBN is known, it can be found at
https://www.google.com/search?tbm=bks&hl=en&q=0710062206

Then, other details can be determined from the google id at
https://books.google.com/books?id=jAM6AAAAMAAJ&output=bibtex

[2019-06-14 16:55] LeadSongDog commented on #810
@mekarpeles
Sixteen months later, the same google search turns up "About 58,200" matches, an _increase_ of 11,200. Are the books being rerun at all? Or is the old OCR still in use?

[2019-06-17 00:02] cdrini commented on #2185
Ok, this was deployed on Thursday @comzeradd , so you should no longer see those recaptchas!

[2019-06-18 16:55] LeadSongDog commented on #943
So, looking at this it seems to come from somewhere in this area:
https://github.com/internetarchive/openlibrary/blame/d26ee001d6b849b080dce9bcc937abafa6e9ef8f/openlibrary/templates/type/i18n/edit.html#L41

I've got to say, it is pretty obscure what is supposed to be going on here. Whatever happened to commenting code?

[2019-06-18 19:01] hornc opened #2193 "move anti-spam bot infrastructure to ol-home"
Currently there is a anti-spam bot running outside of OL infrastructure, lets move it to an internal server.

Consider refactoring for current requirements, web interface view possbily not as useful now as it was when the tool was first created.

https://github.com/hornc/ol-spam-finder

### Describe the solution you'd like

### Proposal & Constraints

### Additional context

[2019-06-18 19:41] hornc commented on #947
see also #1904

[2019-06-19 10:33] jdlrobson commented on #2094
I wouldn't recommend doing the workaround for accessibility reasons. There really isn't a good solution here, other than removing carousels altogether.. or their swipe behaviour (which may cause confusion to those already using it).

I would personally recommend not fixing this. It certainly shouldn't be high priority given the lack of a clear obvious solution.

[2019-06-19 10:39] jdlrobson commented on #1881
I don't think this is a frontend issue.  get_internet_archive_id in openlibrary/accounts/model.py is returning an empty string.

Should we throw an exception when this happens or source the URI in a different way?
[code]

[2019-06-19 17:41] philihp commented on #2085
Would love to take this on and get involved, if that's all right?

[2019-06-19 18:28] mekarpeles opened #2194 "Create Policy-Check API"
# Background

## What is a Policy-Check API?

Sometimes libraries deem certain books ineligible for their lending programs because of  conflicts with their organizational policies. For instance, some universities may choose to only lend to their own students. Some libraries may choose not to lend audiobooks because the infrastructure isn't available to support these media format. Some specialty li

[2019-06-19 23:18] mekarpeles commented on #659
@tabshaikh let's create a branch called `master-sposorship` and we can incrementally merge our changes into this branch (while in development)

[2019-06-20 00:13] mekarpeles commented on #2164
# Four Flows

## Archive.org Direct
https://www.figma.com/file/Oh1CZQOx5JZSzVIbSigbRy59/Book-Sponsorship-Modal?node-id=80%3A242
This flow adds copy/desc to Open Library editions page describing the program + price alongside the CTA button, which takes the patron directly to archive.org/donate which shows checkout page which prompts for sponsorship message and allows user the select  payment method

[2019-06-20 13:31] tabshaikh commented on #2162
Some other designs for the Sponsorship button by Jim Shelton
![image](https://user-images.githubusercontent.com/31198893/59853078-c8337c80-938d-11e9-9e30-928b058033be.png)

[2019-06-20 14:11] tabshaikh opened #2196 "Design the account/sponsorships page"
### Subtask of #2168

To propose a design for account/sponsorships where the user would be able to see their sponsorship status.

The design of the account/sponsorships is here:  https://www.figma.com/file/Oh1CZQOx5JZSzVIbSigbRy59/Book-Sponsorship-Modal?node-id=81%3A395

[2019-06-20 14:17] tabshaikh opened #2197 "Add /account/sponsorships url endpoint"
### Subtask of #2168

http://localhost:8080/account/books/sponsorships

### Proposal & Constraints
To allow the user to view their sponsorship status we are proposing a new endpoint which we are naming /account/books/sponsorships from where the user would be able to view their sponsorships just like they view their book loans

[2019-06-20 14:44] tabshaikh opened #2198 "Wire up the modal to GET to account/sponsorships"
### Subtask of #2168

### Proposal & Constraints
Till the payment side of IA gets ready we plan on wiring up the modal to GET to account/sponsorships and we will pretend the sponsorship is complete and show that book as a sponsored book on account/sponsorships page.

[2019-06-20 14:51] tabshaikh opened #2199 "Connect the account/books/sponsorships page to data source"
### Subtask of #2168

We have to get data to the book sponsorship page from civi database but as it is not present we plan to make an Archive.org advancedsearch query call for sponsor:@username to populate the books sponsored table.

We need to return from archive.org API `openlibrary_edition` as one of the values (and `identifier` which is archive.org’s ID). We’re going to use this `openlibrary_e

[2019-06-20 16:45] mekarpeles commented on #2194
Example API response may look like:
[code]

[2019-06-20 16:45] LeadSongDog commented on #1621
@tfmorris I can't be certain, but it looks like ImportBot was the work of @EdwardBetts
(http://edwardbetts.com/wiki/programming_journal/ may refer)

[2019-06-20 17:13] mekarpeles commented on #2194
The `policy_check` method will likely live in `plugins/openlibrary/api.py` and look something like:
[code]

One of the big unknowns is what the data output looks like for the `get_archive_policy` http request.

[2019-06-20 22:45] hornc commented on #1621
@tfmorris The importbot code is committed in the main repo, https://github.com/internetarchive/openlibrary/blob/master/scripts/manage-imports.py is the entry point to the bot. It is run regularly on a cron schedule on one of the main Openlibrary servers. @LeadSongDog is correct that Edward created it. I have not worked on ImportBot directly, but have been focusing on the shared API that ImportBot

[2019-06-21 18:31] LeadSongDog commented on #967
@mekarpeles
For illustration:
![transl_subt](https://user-images.githubusercontent.com/11435431/59943787-236a7b00-9431-11e9-8ec2-dfb87b1abf81.jpg)

[2019-06-24 03:14] #751 closed

[2019-06-24 03:59] hornc commented on #1045
Update for the data dumps @ 2019-05-31
`sed -n 's/^.*"ocaid": "\([^"]*\)".*$/\1/p' /storage/openlibrary/ol_dump_editions_2019-05-31.txt | sort > all-ocaids-2019-05-31.lst`

`uniq -d all-ocaids-2019-05-31.lst | wc -l`

[2019-06-24 04:41] tfmorris commented on #1045
What was the result?

[2019-06-24 06:16] hornc commented on #1045
65825 duplicates -- unfortunately that has _increased_ slightly

[2019-06-25 16:01] LeadSongDog commented on #153
@mekarpeles Is this umbrella issue to cover #561, #1586 and #1808 too? There's really little excuse for the ongoing chaos in handling serials, series, and anthology editions.

[2019-06-26 06:28] hornc commented on #1336
409 archive.org items re-checked and synced both ways with open library. These links should now be all back to how they were, appologies for the over zealous id removal in the first place! Won't happen again!

[2019-06-26 06:28] #1336 closed

[2019-06-26 08:44] hornc commented on #2119
To give an idea of the scope of this:

in the May 2019 edition dump there are

`grep -cv '"publishers":' ol_dump_editions_2019-05-31.txt`
1,189,309
editions without publishers. 169,759 of those have ISBNs.

[2019-06-27 16:46] illseption commented on #686
Hi! I'm a newbie and I'd like to contribute to the openlibrary project. I've installed the docker images and was looking for next steps. Can I be added to the slack channel?

[2019-06-29 09:48] roptat opened #2202 "Publisher with / in there name are not shown"
### Description
Looking for the right name for the publisher of a book I added, I found that there were already a few with slightly different names:

* Editions 10/18 548 books
* 10-18 177 books
* 10/18 85 books
* Éditions 10/18 21 books

When clicking on "10-18" you can see the page of the publisher, but clicking on any other (say "10/18") the "/" in the name is kept as is in the URL, making it a

[2019-06-30 11:59] comzeradd opened #2203 "Consider replacing reCaptcha with something less intrusive"
### Is your feature request related to a problem? Please describe.

Currently OpenLibrary uses reCaptcha as an anti-spam measure. Unfortunately reCaptcha is a very intrusive option in terms of privacy. It runs from Google's domain, meaning that it actually tracks people logged-in to their google account, but it also tracks many aspects of browsing habits of the user (eg. plugins, user agent, IP ad

[2019-07-01 20:21] mekarpeles commented on #1986
@illseption mentioned he wanted to take a stab at this. Is this right? If so, I'll add you as the owner.

[2019-07-01 20:28] mekarpeles commented on #1047
I'm converting this to a research task for #732 `Sync OpenLibrary.org ↔ Archive.org Identifiers` and closing the issue as it's being answered in https://github.com/internetarchive/openlibrary/wiki/archive.org-%E2%86%94-Open-Library-synchronisation.

[2019-07-01 20:28] #1047 closed

[2019-07-01 20:33] mekarpeles commented on #1156
Price info is reliably being shown on open library page and redirects seem to be working. Closing issue.

[2019-07-01 20:33] #1156 closed

[2019-07-01 20:54] mekarpeles opened #2204 "Create Ongoing Import Pipeline for Better World Books Catalog (starting 2010 - Present)"
### Is your feature request related to a problem? Please describe.

We received a list of 2M isbns for BWB and are in the process of importing them into OpenLibrary.org

**edit:** The data we have is formatted:
  `ISBN, title, date`

but the plan is to use ISBN to look up more metadata using our current [ISBN import process](https://github.com/internetarchive/openlibrary/wiki/Developer's-Guide-to-

[2019-07-01 22:35] hornc opened #2205 "Add 'preview' parameter to import API"
### Is your feature request related to a problem? Please describe.

per suggestion in #977  With the push to get a better import pipeline, and the complexities of the existing duplicate matching system, which exists, but is not clearly documented (and is generally complex with many factors combining to often produce unexpected results): We need a `preview` function to allow us to test the result o

[2019-07-02 00:15] #2086 closed

[2019-07-02 01:08] mekarpeles commented on #2163
This will mostly be managed by Civi

[2019-07-02 01:08] #2163 closed

[2019-07-02 05:15] tfmorris commented on #2163
What's a "Civi" ? Link?

[2019-07-02 06:21] tfmorris commented on #2204
What's a BWB? Do we have metadata in addition to the ISBNs, or do we need to get the metadata from elsewhere? If metadata is provided, how do we determine whether or not it's of high enough quality to import?

What type of plan do we need to have in place before the OpenLibrary community considers how to deal with this contribution?

[2019-07-02 06:44] illseption commented on #1986
Yes, thanks!

[2019-07-02 15:49] LeadSongDog commented on #2204
This is who they really are:
https://www.betterworldbooks.com/go/privacy

OL should not be providing click-through links to a company with such policies nor otherwise helping them (and their big data partners) to commodify user identities and interests. If, however, they wish to donate quality metadata with no attached strings, it can only help improve OL.

[2019-07-02 22:57] LeadSongDog commented on #2203
@comerzadd
No, this isn't just a feature. This is critical, and must be addressed seriously: **_Librarians have a fundamental duty to protect the privacy of readers_**. Walk up to any library lending desk and ask to see someone else's borrowing history if you doubt this. This is absolutely at odds with any public corporation's fiduciary duty to maximize profits. If we permit corporate interests to

[2019-07-03 17:46] mekarpeles opened #2208 "Add API endpoint to deliver "recent publications""
Related to #2034, https://twitter.com/ErsinErgul/status/1146064805943377920 proposes an API for recent publications (which could conceivably sort solr by publication date)

[2019-07-03 19:53] mekarpeles commented on #764
This seems to be fixed with the latest upgrade of web.py from 0.33 to 0.39

[2019-07-03 19:53] #764 closed

[2019-07-04 09:46] tabshaikh commented on #2163
@tfmorris Civi is the internal database of archive.org which stores the data of each book and the user who has sponsored it ... @mekarpeles  can explain it in detail :)

[2019-07-04 17:29] illseption commented on #1986
Hi, what all files do I need to make the changes to? Is it the above mentioned common.less file?

[2019-07-04 19:34] tabshaikh commented on #2168
For connecting to data source ie. civi we would need to change the code like the snippet below

e.g.
`core/sponsorships.py`
[code]

[2019-07-04 22:58] hornc commented on #2204
@LeadSongDog that is the right 'BWB' people. Is there anything particularly bad in that privacy policy? They are a for-profit bookseller, so those terms seem pretty standard (I only skimmed them, but that's all anyone ever does, right? ;) )

BWB claims to be an ethical business https://about.betterworldbooks.com/purpose-and-values/
and I have been recently made aware that they provide a valuable s

[2019-07-05 02:38] hornc commented on #2204
The _full_ dataset of BWB books contains 31M ISBNs. A (quick + rough) comparison to reduce the number of obvious duplicates (books we already have on OL) from the data follows:

ISBN13s in OL data dump @ May 2019: ~**7.3M**
Number of those in the BWB data: **4.6M**
  We can exclude those from the current import attempts.

[2019-07-05 02:49] hornc commented on #2204
Some stats from initial test runs:

**Import Summary for log/test002.log:** (Random sample taken before exculding obvious existing ISBNs on OL)
Total processed: 10000
Existing books matched: 2298 (22%)
New books created: 5845 (58%)
Not found: 1857 (18%)

**Import Summary for log/test003.log:** (Random sample taken before exculding obvious existing ISBNs on OL)
Total processed: 10000
Existing books

[2019-07-05 02:58] hornc commented on #2204
Data quality problem, which affects ISBN book lists sourced from book sellers (as opposed to libraries) in general is that write-in notebooks are often included.
This happens because some (branded / themed / whatever) notebooks are legitimately assigned ISBNs, example: ISBN-9781093129526  https://www.amazon.com/gp/product/1093129522
[code]
674267 out of 31M (2%) Which seems quite high.

[2019-07-05 03:04] hornc commented on #1401
Hi @ChangezKhan, are you still interested in helping with this task? I am in the process of improving OL's import process in general and would like to enable more volunteers to begin with imports.

[2019-07-05 05:01] LeadSongDog commented on #2204
@hornc
Earlier privacy discussions at #833 #1156 didn't help much. These matters can only be addressed by permitting oneself to feel paranoia. They really _are_ out to get you, after all.  Unfortunately it seems that OL and the whole of IA are happy to turn a blind eye to the situation. The IA Terms of Service linked from the OL page footer show the Privacy Policy hasn't been revised in _over_ 18

[2019-07-05 15:34] tfmorris commented on #2204
That's demonstrably not been the case historically. Quality ***does*** matter. Much the effort which has been expended over the past 5+ years has gone into cleaning up bad data which was imported (including duplicates which were created by the import process).

"Book sellers" sell all kinds of non-book things including calendars, blank diaries, CDs, tote bags -- all of which we've had to remove fr

[2019-07-05 19:02] tfmorris commented on #569
The 404s are actually due to the forward slash (/) handling bug described in #333, rather than a stale index.

I'm going to close this as a duplicate, but feel free to reopen if you disagree.

[2019-07-05 19:02] #569 closed

[2019-07-05 19:04] tfmorris commented on #569
As an example, "JUVENILE FICTION / Historical / Medieval" is actually
at https://dev.openlibrary.org/subjects/juvenile_fiction__historical__medieval
not https://dev.openlibrary.org/subjects/juvenile_fiction_/_historical_/_medieval

[2019-07-05 20:56] tfmorris commented on #1850
Is this reproducible? Does it happen only in the dev configuration?

That solr url resolves without a problem against a test solr instance, so I suspect some local configuration issue with your dev solr setup.

[2019-07-05 21:43] tfmorris commented on #900
It looks like the number of works is on the order of 2.65M. Most of the data is in SOLR, but not in the easiest form to use. In particular, `ia_collection_s:*inlibrary*` to mean `lendable:true` is awkward because it Solr can't build a facet from it.

If we do want to change the schema, doing the same time as we're making other schema changes would allow the reindexing to be combined.

Here are som

[2019-07-05 21:49] tfmorris commented on #900
p.s. we also have `has_fulltext`

[code]

[2019-07-05 21:53] tfmorris commented on #1896
@mekarpeles Were you able to discover the place where subjects are being indexed?

[2019-07-05 21:54] tfmorris commented on #1091
I think it would be preferable to fix the subject indexing (#1896) rather than ripping it out.

[2019-07-05 22:52] tfmorris commented on #322
Based on the results of this search: http://server.openjournal.foundation:8984/solr/select/?q=type%3Asubject+AND+%22new%22%0D%0A&version=2.2&start=0&rows=10&indent=on
I suspect that there's nothing in Solr with the word "new" in it to be found, so the problem is in (historical) indexing code.

[2019-07-06 18:51] tabshaikh commented on #2167
@bfalling this is going to done on archive.org so closing here

[2019-07-06 18:51] #2167 closed

[2019-07-07 19:57] mekarpeles opened #2210 "Edit form is ignoring some options"
### Description

Selecting the "Yes, its a translation" option when editing https://openlibrary.org/books/OL27083670M/The_Black_Tulip is ignored.

### Relevant url?

https://openlibrary.org/books/OL27083670M/The_Black_Tulip

### Details
User-Agent: Mozilla/5.0 (Windows NT 6.1; rv:67.0) Gecko/20100101 Firefox/67.0

Reported by kevin61

[2019-07-08 19:36] ShreyashApp commented on #1995
Hey, I am the working on this. I have made the necessary changes but there is no way to find out if the are being call on to all the implementations. As many of the css isn't even being used by templates. If you have any suggestions please let me know.

[2019-07-09 19:26] tfmorris commented on #2208
On Twitter, I asked:

and they replied:

We already support sort by publication date (it's one of the available sorts for editions), but:
- we don't have catalog data for most recently published books
- we don't have **any** data for upcoming books (and that which is available from publishers is notoriously unreliable)
- recently published books are much, MUCH less likely to be available for downl

[2019-07-09 19:30] tfmorris commented on #2202
This is mentioned in #333, but it might make sense to dedicate that to Subjects and track the problem with Publishers separately.

[2019-07-09 21:09] LeadSongDog commented on #2210
Well, there are several issues with edit forms that need to be addressed, some _very_ longstanding:
#228 #352 #610 #853 #1716 #2033 #2073
@mekarples Perhaps librarianship and editing issues don't feel as important to devs as cosmetics?

[2019-07-09 22:23] 3rsin3rgul commented on #2208
@tfmorris Can you please give me some example url with sorting. I will try to implement it to my app

[2019-07-10 10:23] seabelis commented on #2210
Duplicate of #1892

[2019-07-10 10:26] seabelis commented on #2128
Received another user message about this.

[2019-07-10 16:23] LeadSongDog commented on #2128
Sounds a lot like #351, perhaps closed prematurely?
The "Save" button should presumably be grayed out until the key values are populated: that's what users are accustomed to on other interfaces.

[2019-07-10 16:38] LeadSongDog commented on #947
Here's another recent (30 Jun 2019) case:
An existing work with one edition but no author linked:
https://openlibrary.org/works/OL16937329W.json
https://openlibrary.org/works/OL16937329W/A_guide_to_pharmaceutical_particulate_science
https://openlibrary.org/books/OL8743488M/A_Guide_to_Pharmaceutical_Particulate_Science

Reimported by Clean up bot, creating new author, work, and edition records for

[2019-07-11 15:08] LeadSongDog commented on #2202
Problem is at https://github.com/internetarchive/openlibrary/blob/a0702d15e572b9b0064941473b27374a76f6947b/openlibrary/templates/search/publishers.html#L22

Just need to convert the value of $p.name to escape the "/"

[2019-07-11 15:39] #2162 closed

[2019-07-11 15:39] tabshaikh commented on #2162
@tabshaikh Adding button is left on search and work editions table

[2019-07-11 21:37] mekarpeles commented on #2194
I talked to @samuel-archive. @jjjake has a git lab which will may help us answer some of the policy questions. It's in python.

Thus, instead of having this policy-check API on archive.org, I think it makes sense to add to openlibrary.org as `https://openlibrary.org/api/oracle`.

The way it will work (without leaking anything private) is the production service will import @jjjake's code as a modul

[2019-07-13 19:41] tabshaikh commented on #2164
we have a *winner* for #books-sponsorship-g flow:
- it’s `Archive.org Direct` :tada:  (OpenLibrary.org edition button links direct to archive.org/donate?keys=vals)

The `OpenLibrary.org Minimal` was actually the *crowd favorite* and runner-up — this was an all-inclusive modal on OpenLibrary.org which used an iframe to feature a button directly to Paypal / Card (no Archive.org). It has been elimina

[2019-07-13 19:41] #2164 closed

[2019-07-13 22:20] mekarpeles commented on #732
@hornc is this wrapper up? Can the checkbox be clicked and the issue closed?

[2019-07-13 23:14] mekarpeles commented on #153
@hornc how are we doing on orphaned editions, in general? Any updates to this ticket?

[2019-07-14 08:55] seabelis opened #2217 "Give librarians revert access"
### Is your feature request related to a problem? Please describe.
Librarians do not have the ability to revert changes such as botched redirects.

### Describe the solution you'd like

### Proposal & Constraints

### Additional context

[2019-07-15 03:51] hornc commented on #1046
UPDATE JULY 2019:  After the work planned and fix-up tasks identified at https://github.com/internetarchive/openlibrary/wiki/archive.org-%E2%86%94-Open-Library-synchronisation there are now only 9174 items with `openlibrary` and not `openlibrary_edition`

https://github.com/internetarchive/openlibrary/wiki/archive.org-%E2%86%94-Open-Library-synchronisation#deprecate-openlibrary-in-favour-of-openli

[2019-07-15 05:52] tfmorris commented on #153
No.

[2019-07-15 12:54] tapaswenipathak commented on #2217
Hello @seabelis, @mekarpeles: Interested in adding this feature, can I work on it?

[2019-07-15 12:55] tapaswenipathak commented on #2016
Hello @mekarpeles, @brad2014: Interested in adding this feature, can I work on this?

[2019-07-16 05:54] hornc opened #2219 "Fix Tropical Snow conflated books"
This author has many incorrectly attributed copies of "Tropical Snow" listed
https://openlibrary.org/authors/OL594217A/J._Delgado-Figueroa

This problem originated with some early bad MARC records on archive.org, and has spread to OL, this tickect is to fix the OL data problem as well as plug the issue on archive.org so it cannot happen again with reimports.

- [x] Search OL db dump for
title: `Tr

[2019-07-16 06:06] hornc commented on #732
Breakdown and details at https://github.com/internetarchive/openlibrary/wiki/archive.org-%E2%86%94-Open-Library-synchronisation

[2019-07-16 06:18] hornc commented on #2041
wiki page refers to docker now, latest docker instructions are at https://github.com/internetarchive/openlibrary/tree/master/docker  repo testing instructions are in the main readme https://github.com/internetarchive/openlibrary/blob/master/Readme.md#running-tests

[2019-07-16 06:18] #2041 closed

[2019-07-16 15:57] LeadSongDog commented on #2017
@seabelis
To clarify, do you intend that it should be easy to _identify which_ editions on the work page returned for a query ISBN, or do you want to _see only_ those matching editions?

[2019-07-16 16:20] LeadSongDog commented on #907
@tfmorris
Could you please change the title of this issue to make it something more clearly actionable?

[2019-07-16 16:22] seabelis commented on #2017
@LeadSongDog, for identification.

[2019-07-16 16:23] seabelis commented on #2017
If the search results displayed all items with the ISBN exclusively, this would probably not be necessary.

[2019-07-16 16:24] seabelis commented on #907
LCCNs are not exclusive.

[2019-07-16 16:25] LeadSongDog commented on #2017
@seabelis Ok, so then this is distinct from the new epic #2064.

[2019-07-17 00:58] hornc opened #2220 "Non-MARC archive.org import data issues"
Issues with No MARC import:
an example:
https://openlibrary.org/books/OL27042435M/Self-Study_and_Evaluation_Guide_Section_D-26_Residential_Living_Program

* Subject not split on semi-colon
* Publisher not populated
* Pages not populated

relates to original features #1029 ,  code in #1058

[2019-07-17 04:15] hornc commented on #1807
After investigating and checking the Amazon API results, it turns out there is no price because the Amazon API sometimes returns more than one product result (a list), and OL is only expecting one product, which it gets the majority of the time. Fixing now.

[2019-07-17 04:37] hornc commented on #1621
Here are some recent examples created sequentially from imports via the bulk MARC endpoint /api/import/ia

more recent sequential work imports:
https://dev.openlibrary.org/recentchanges/2019/07/17/bulk_update/58741594
https://dev.openlibrary.org/recentchanges/2019/07/17/bulk_update/58741595
https://dev.openlibrary.org/recentchanges/2019/07/17/bulk_update/58741596

In the following example, the mat

[2019-07-17 04:42] hornc commented on #1621
The above specific examples that show the successful matching  in the case of newly created Authors, but failing matches in the case of Works should hopefully be enough to identify what is going wrong here, there is a matching mechanism, but it's not functioning for recently created works.

[2019-07-17 05:03] hornc commented on #1621
looks like my recent examples are both examples of series, and those are different volumes.  The import is not pulling the available volume number from `245$n`  , and is also doing something incorrect with the 880 fields in `edition_name`

[2019-07-17 10:16] seabelis commented on #2064
Something has changed, but not for the better. Now when searching by ISBN, the result is an edition page in cases where there should be more than one match, A list of editions should be produced if there are multiple matches. For example, ISBN 0307302016 is associated with three editions that I am aware of, but only one can be found with an ISBN search.

[2019-07-17 17:24] mekarpeles commented on #1740
@tabshaikh as a first step hotfix, maybe we should remove the 100 book limit and increase it to e.g. 500.

I think this will have performance implications on the site and the user's experience (load and render time). We'll likely want to ultimately have a "load more" button which loads 100 more at a time. Or have pages, similar to how the `search` page works. Your call. Please do some research on

[2019-07-18 15:00] mekarpeles commented on #2217
@tapaswenipathak yes please, we can help! I can also send you an invite to our slack so we can answer your questions

[2019-07-18 15:26] #1807 closed

[2019-07-18 15:26] #2037 closed

[2019-07-18 16:46] LeadSongDog commented on #1621
Some explanation of those 880 fields is available at:
(https://www.loc.gov/marc/bibliographic/bd880.html)
(https://www.loc.gov/marc/bibliographic/concise/bd880.html)
{https://www.oclc.org/bibformats/en/8xx/880.html)

[2019-07-19 14:16] cdrini commented on #2210
Closing as duplicate of #1892

[2019-07-19 14:17] #2210 closed

[2019-07-19 14:31] cdrini commented on #1892
It looks like the css is getting updated (`display:none` -> `display:block`), but the `hidden` class uses `display:none !important` so they don't show up. @jdlrobson it looks like you added this as part of https://github.com/internetarchive/openlibrary/commit/0f9030c1047d5a337fc292a09085d7c353c85424 . Is it ok if I remove the `!important` or will it break something else?

[2019-07-19 14:40] cdrini commented on #2217
Hi @tapaswenipathak , do you have a local copy of openlibrary running yet?

[2019-07-19 14:52] cdrini opened #2222 "Reindex documents into a new Solr on OJF"
Subtask of #1067

  - [x] Create a Solr environment on server.openjournal.foundation
  - [x] Index latest openlibrary dump into OJF Solr
  - [-] ~Replay missing edits from Infobase onto OJF Solr until up-to-date (partially done)~
    - Skipping: should be done once on ol-solr0
  - [x] Test OJF Solr by linking dev.openlibrary.org to OJF Solr

[2019-07-19 14:54] cdrini commented on #628
The existing cases should be fixed by the solr reindex. I created a new issue to track the reindexing progress: #2222 . Although note the root cause as to why these aren't getting updating during the normal flow will not be fixed by that.

[2019-07-19 19:44] jdlrobson commented on #1890
I've got a fix for this. This is another bug that was sadly caused by #1867 - there are likely many more breakages.

[2019-07-19 22:40] jdlrobson commented on #2026
I've made some progress on this and have a minimum test case. Just need to fix it now. Stepping out now but hope to have it by end of day.

[2019-07-20 09:24] seabelis opened #2227 "Remove unnecessary and redundant contributors from dropdown"
### Is your feature request related to a problem? Please describe.
The current edit form is set up in a way that suggests adaptations and retold works should be filed under the original by the presence of the "Adaptation" and "Retold by" labels in the Contributors dropdown options.

Add a label "Based on a work by".

### Describe the solution you'd like
Adaptations/Re-tellings should be considered

[2019-07-21 17:13] fazlerabbi37 commented on #835
@mekarpeles can this be added under the `Reading Log` section, so we may import the GoogReads export?

[2019-07-21 20:13] tfmorris commented on #1896
I think we should assume this is a blocker for the reindexing project. It doesn't make sense to not be able to reindex the subjects.

[2019-07-21 20:17] tfmorris commented on #1067
There are a set of official Docker images for Solr that we may want to consider using:
https://hub.docker.com/_/solr

[2019-07-22 02:30] hornc commented on #2107
We should also remove this code which looks like it is trying to protect these subjects:

https://github.com/internetarchive/openlibrary/blob/47c72f9ed8e831f098edcba968aa2532ec52c19b/openlibrary/plugins/upstream/addbook.py#L38

https://github.com/internetarchive/openlibrary/blob/47c72f9ed8e831f098edcba968aa2532ec52c19b/openlibrary/plugins/upstream/addbook.py#L597

https://github.com/internetarchiv

[2019-07-22 15:00] cdrini commented on #1067
Unfortunately none of them support our current version of solr :/

[2019-07-22 15:02] cdrini commented on #1896
It's a bit of a blocker, but we found a workaround. We took a dump of the subjects from production solr and inserted them into the reindex. Presumably once we hook the reindex to production, whatever magic is causing them to be indexed will continue operating.

[2019-07-22 15:05] cdrini commented on #835
@rohitjain00 The feature is not complete; that script was archived 9 years ago, so it probably doesn't work, and needs to be integrated into the UI. If someone wants to try taking this on, please feel free!

[2019-07-22 15:34] tfmorris commented on #1067
That's because Solr 3.6 is so ancient it hasn't been supported for years. Given that Solr only supports indexes from one major release prior before requiring a complete reindex, and we're planning a reindex anyway, it seems like the perfect opportunity to upgrade to a more modern (and supported) version.

As far as I know we have a pretty vanilla installation and schema and don't make use of any e

[2019-07-22 15:42] cdrini commented on #1067
Are you willing to bet on that assumption, though? :P

Doing them together increases the risk that the reindex will have a bug and be unusable. I want to switch openlibrary to the reindex as soon as possible so that we can resolve a lot of those outdated index issues we've been having. Next step is updating the schema to better support diacritics/etc. After that updating solr version (which would

[2019-07-22 15:53] LeadSongDog commented on #2227
@seabelis
I can't agree that derivative works should be treated as original: Where would it end? Translations? Disnefications? Read-aloud bot renditions? By all means improve the tracking and reporting of additional contributory roles, but the original creation of a work is distinct and should be treated as such.

[2019-07-22 16:34] tfmorris commented on #1067
I'm certainly willing to test the hypothesis. Based on my review of the 5 (!) major version [upgrade notes](https://lucene.apache.org/solr/8_1_0//changes/Changes.html#v4.0.0.upgrading_from_solr_3.6) and spot checking the upgrade notes for dozens of [point releases](https://lucene.apache.org/solr/8_1_0//changes/Changes.html#v4.1.0.upgrading_from_solr_4.0.0) in between, I judge the risk to be small.

[2019-07-22 16:44] tfmorris commented on #1896
That sounds like a giant hack and has a number of issues:
- it can't be used by developers without access to private production data
- it doesn't address the fundamental goal of the reindex which is a clean rebuilt **from scratch**
- it doesn't address the subject quoting and normalization bugs (some of which have been fixed in the code)

Going back to one of the original questions - where are the

[2019-07-22 17:11] tfmorris opened #2231 "Broken edition render"
### Description

This returns the error

### Relevant url?
https://openlibrary.org/books/OL25434654M/eco
https://openlibrary.org/books/OL25434654M/eco?debug=true

This edition has an OCAID of ocaid: "嗯嗯嗯" which may be part of the problem, but we should handle the error better.

[2019-07-22 19:14] cdrini commented on #1896
It's not perfect, but it's good enough to get progress. I spent a nontrivial amount of time investigating it, and decided moving forward with the workaround was the best step forward. If you can find out where it's happening, that would be super useful, cause it's honestly ridiculous that we can't find where it's happening :P

[2019-07-22 19:45] cdrini commented on #1067
I still think lumping everything together is risky. Right now, we have 2 big changes: a full reindex (with lots of new code), and switching our production env to use docker (lots of room for strange errors). Hooking this up to production is _crucial_ to fully testing this. This is essentially a refactor–we want to maintain the ~same functionality, but with changes to how the code/env works. The mo

[2019-07-22 20:33] #1892 closed

[2019-07-22 21:29] LeadSongDog commented on #1896
@cdrini
There's a third snippet that also relates
https://github.com/internetarchive/openlibrary/blob/5fe3e192228c2c392b700c1e7ba3e4a2ca910321/openlibrary/solr/update_work.py#L1453-L1468

Comparing the handling of subjects:
https://github.com/internetarchive/openlibrary/blob/5fe3e192228c2c392b700c1e7ba3e4a2ca910321/openlibrary/solr/update_work.py#L1465
to that of authors:
https://github.com/intern

[2019-07-22 21:35] cdrini commented on #1896
Thanks @LeadSongDog ! But that code calls `update_subject`, which appears to be non-functional (as mentioned in the description) :/ [commitWithin](https://lucene.apache.org/solr/guide/6_6/updatehandlers-in-solrconfig.html#UpdateHandlersinSolrConfig-commitWithin) is a solr option which doesn't have an effect on this.

[2019-07-23 02:48] hornc commented on #2106
The Overdrive subject was only present on works, not editions, and there was no specific id for any I found. If we did want to link them, `identifiers` would be the appropriate field. For other library borrowable copies we provide links to World Cat and Library Link. I'm not sure if these overdrive tags ever did anything. It looks like they were added when some description and other metadata was a

[2019-07-23 06:58] seabelis commented on #2106
@mekarpeles mentioned on Slack that Overdrive was used by OpenLibrary in the past and these tags are just leftovers from that time.

[2019-07-23 17:23] LeadSongDog commented on #2231
Google translates 嗯嗯嗯 as "Uh huh". The user https://openlibrary.org/people/xenos made only that one edit, the day after registering with the username lijiaqi "Now Archie". Smells like a prank.

[2019-07-23 17:36] LeadSongDog commented on #2107
@hornc
Are those "other ways to get the information" all working and documented to users?

[2019-07-24 14:44] seabelis opened #2233 "ImportBot sometimes attaches IA ID to wrong edition"
### Description
ImportBot sometimes attaches the IA ID to the wrong edition record. This is a problem because the IA ID cannot be changed, so all the details on the record must be changed to match the linked edition.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/books/OL25936281M/Most_Dangerous
This one was already updated, but you can see the history: https:/

[2019-07-24 15:27] LeadSongDog commented on #1863
@mekarpeles
This is probably related:

Some fallback covers on the carousel are missing the author entirely, even though it is present on the edition page fallback. Should these two not both show the _same_ fallback cover?

![noauth](https://user-images.githubusercontent.com/11435431/61805885-a9009280-ae04-11e9-9058-932eed373dc9.jpg)

![yesauth](https://user-images.githubusercontent.com/11435431/6

[2019-07-24 16:03] tapaswenipathak commented on #2217
hello @cdrini, yea, writing - thanks for being available for a discussion on the ticket.

[2019-07-24 18:39] #1890 closed

[2019-07-24 23:34] #2026 closed

[2019-07-25 00:14] cdrini opened #2234 "Rename misleading property in jquery repeat templates"
### Description
Rename `{{index}}` in our jquery repeat JS/templates to `{{uniqueRowId}}` (or similar) to reflect its actual meaning (since indices should be consecutive, and this is actually just a unique identifier). Should most likely only require changing template files mentioning `{{index}}` (or `-template`, which is a class suffix used by the jquery repeat), and the jquery repeat JS.

See ht

[2019-07-25 06:09] hornc commented on #2233
@seabelis What exactly is the difference between the https://openlibrary.org/books/OL25936281M/Most_Dangerous example and the archive.org id? All the metadata I see, OL record, archive.org metadata, and attached MARC record seem to be the 2015 Roaring Brook Press edition of the "Most dangerous" book.

Also for https://openlibrary.org/books/OL26412866M/Born_a_Crime I'm not sure where I should be lo

[2019-07-25 07:49] seabelis commented on #2233
Most_Dangerous Same title, different ISBN. This is my error. OCLC ISBN search pulls up a record for a different ISBN; I did not catch that and updated the rest of the details based on the mistake. Disregard.

Born A Crime was entered with the ebook ISBN and identifiers. The Internet Archive record shows several IDs -- hard to say which is actually correct for the book, since it's not viewable-- bu

[2019-07-25 22:50] hornc commented on #49
The code for LC Bot looks to be https://github.com/internetarchive/openlibrary/blob/master/scripts/lc_marc_update.py

which uses the `/api/import` import endpoint.

The import API endpoints should be able to handle various forms for ISBN, this should be tested and confirmed.

In general, LC Bot should be deprecated (I don't believe it has been used for a long time).

1) Any updates to this bot sho

[2019-07-25 22:59] hornc commented on #609
@cdrini Is still an issue? I didn't explicitly try to fix this issue, but I think some of recent work and refactoring around ISBN lookups, and search improvements to apply isbn conversions consistently may have fixed this.

Now when I do a category ALL search for `isbn:978-84-00-04725-2`

https://openlibrary.org/search?q=isbn:978-84-00-04725-2

I am redirected straight to https://openlibrary.org/b

[2019-07-25 23:15] hornc commented on #1046
After further IA OL sync tasks there are now 7,874 archive.org items without the updated ids. @ 26 July
https://archive.org/search.php?query=mediatype%3Atexts+AND+openlibrary%3A%2A+AND+NOT+openlibrary_edition%3A%2A

[2019-07-26 00:11] tfmorris commented on #2036
Since Ubuntu 18.04 Bionic Beaver has been out for over a year, would it make more sense to skip Xenial?

[2019-07-26 15:12] cdrini commented on #609
Oh sweet! That's awesome! Hmmm; so when is the normalization process happening when you query for `isbn:978-84-00-04725-2`? in `work_search`?

[2019-07-26 16:20] LeadSongDog commented on #2090
By way of comparison, at OCLC, that edition has one OCLCN against which three ISBNs are listed, each with both 10 and 13 digit spellings shown. There's really no need to have redundant OL editions OL9246553M and OL7291848M when they represent the same thing.

https://www.worldcat.org/title/kissing-the-witch-old-tales-in-new-skins/oclc/1038448191&referer=brief_results
includes:

<http://worldcat.or

[2019-07-26 16:28] LeadSongDog commented on #1194
Given that all ISBNs really boil down to 9 significant digits plus various padding and one checkdigit (calculated one of two ways, depending on -10 or -13), can we not get on with saying we will store one specific format, so the validation, verification, and search have something on which to focus?

[2019-07-26 22:37] jdlrobson commented on #2094
Per https://github.com/internetarchive/openlibrary/issues/2094#issuecomment-503504868 closing for now.

[2019-07-26 22:37] #2094 closed

[2019-07-26 23:40] #2085 closed

[2019-07-27 01:51] mekarpeles commented on #2164
We've got this nailed down and merged into master-sponsorship!

[2019-07-29 08:34] Ishaan28malik commented on #686
Hey
I would like to join the slack channel and contribute @mekarpeles

[2019-07-29 17:24] cdrini opened #2239 "Remove "Description" header from issue/pr templates"
### Is your feature request related to a problem? Please describe.
It's kind of evident that the first thing is the description, so let's drop the heading. It'll also clean up the issue tooltips, which now always begin with the word "Description". Let's also move the "Closes: blah" text to the top so that it's visible in the tooltip (like below!)

![image](https://user-images.githubusercontent.com

[2019-07-30 10:01] hornc commented on #1048
I have identified 666,474 orphaned editions with ISBNs that are duplicates of ISBNs on other records, and am running through and linking the set that look like good matches.

Amazon sourced ISBNs less than 9780000004000 tend to be either non books, or have garbled data.

After 9780000005000 there is a run of Ordinance Survey maps, which look legitimate, even if the ISBNs are somehow incorrect, and

[2019-07-30 12:49] seabelis commented on #2227
Related to https://github.com/internetarchive/openlibrary/issues/1808

[2019-07-30 12:51] seabelis commented on #1586
Related to https://github.com/internetarchive/openlibrary/issues/1808

[2019-07-30 12:53] seabelis commented on #561
Related to https://github.com/internetarchive/openlibrary/issues/1808

[2019-07-30 12:57] seabelis commented on #1716
Changed the title of this because the issue exists when adding a new work in general. The author drop-down appears to work, but then the author is not actually saved.

[2019-07-30 13:00] seabelis commented on #684
I agree with @tfmorris . "Best" is subjective. There isn't a good way to pick the best edition of a work.

[2019-07-30 13:21] seabelis opened #2241 "Improve order of sections on edition edit form"
### Is your feature request related to a problem? Please describe.
The edit form presents fields in a seemingly random order.

The section entitled "This Edition" follows "Publishing Info".

### Describe the solution you'd like
Since all info on an edition edit form is for "this edition", this heading should be at the top below the title and author. In general, the fields should be presented in th

[2019-07-30 13:32] seabelis opened #2242 "Edit form Physical Object section inputs should default to either metric or imperial/American, but not both."
### Description
The weight defaults to grams; dimensions to inches.

### Evidence / Screenshot (if possible)
![Fullscreen capture 7302019 32557 PM bmp](https://user-images.githubusercontent.com/17739465/62133094-85df5280-b2de-11e9-9f28-55b468946dad.jpg)

### Relevant url?

### Expectation
The default should be one system or the other. Ideally, the data would be appended, not overwritten if someone

[2019-07-30 15:51] LeadSongDog commented on #2241
That sequence looks much better. We might want to have "Does this edition have a specific name?" immediately before "Date of this edition". We should also make it clear whether "Aliases" is intended to refer to the work or to the edition.

[2019-07-30 15:54] seabelis commented on #2241
Oh, yes. I left edition out. That's important. It should be clear that everything on the form is for the edition and not the work.

[2019-07-30 15:56] seabelis commented on #2241
Series is also hard to place. It is frequently at head of title, but sometimes only mentioned on an inside page.

[2019-07-30 15:56] seabelis commented on #2241
And it would be nice if that linked volumes together in the way the author field works.

[2019-07-30 16:09] seabelis commented on #2241
Copyright field should not ask is there a copyright date. That's a yes/no question.

[2019-07-30 16:39] tabshaikh commented on #2166
This can be close by pr #2221

[2019-07-30 16:39] #2166 closed

[2019-07-30 16:42] tabshaikh commented on #2168
This issue is being closed by pr #2216

[2019-07-30 16:42] tabshaikh commented on #2168
A different issue relating to connecting `My Sponsored Books` page to civi crm will be opened

[2019-07-30 16:42] #2168 closed

[2019-07-30 17:01] cdrini commented on #2242
It should default to imperial (for now). Eventually, once we get proper localization we can make the default locale specific, but for now it should default to imperial.

[2019-07-30 17:30] cdrini opened #2243 "Consolidate duplicate toggleText methods"
### Description
There are 2 identical `toggleText` methods, one in `utils.js` and one in `jquery.toggleText.js`. Let's consolidate these.

### Stakeholders
@jdlrobson

[2019-07-30 17:38] cdrini opened #2244 "Consistency: eslint template-curly-spacing never"
### Description
Let's enforce `hello ${name}` over `hello ${ name }`. The `quotes: single` eslint fix added some weird spacing (like `hello ${name }`), so let's fix those as well!

- [ ] Add eslint rule `template-curly-spacing = never`
- [ ] fix any offenders detected via npm run lint:js (or eslint openlibrary/plugins/openlibrary/js/ --fix)

See: https://eslint.org/docs/rules/template-curly-spacin

[2019-07-30 18:12] seabelis opened #2245 "Make longer sections of form collapsible/expandable"
### Is your feature request related to a problem? Please describe.
The tables of contents and descriptions can be pretty long, requiring a lot of scrolling.

### Describe the solution you'd like
It would be nice if these could be minimized, at least in view mode, if not in edit mode.

### Proposal & Constraints

### Additional context

[2019-07-30 20:05] hornc commented on #1935
related to, or at least same code area as #228

[2019-07-30 20:21] tfmorris commented on #2123
I've fixed update_work.py to handle this better, but there's nothing it can do if given bad data. The records themselves need to be fixed (and traced back to where the corruption was introduced).

[2019-07-30 20:25] tfmorris commented on #741
A useful change that occurred to me while working on the reindexing is that solr-updater should save its state in Solr, not the local filesystem. That way if a bunch of Solr updates are lost due to a crash, the timestamp will be rolled back as well.

[2019-07-30 20:57] cdrini commented on #741
If y'all don't mind, I'm going to steal this ;)
I'm working on doing this in Jenkins (sneak peak:)
![image](https://user-images.githubusercontent.com/6251786/62164815-1c197580-b2eb-11e9-8bbb-7d71c72fd019.png)

[2019-07-30 22:55] tfmorris commented on #741
Shouldn't this just run whatever script that we create for developers rather than be a complicated Jenkins multi-stage build (which they won't have access to)?

[2019-07-30 22:59] hornc opened #2247 "Carousels no longer show titles and authors for items without covers (Regression)"
### Description

Example URL https://openlibrary.org/subjects/industrial_relations_--_great_britain.

For editions withotu covers, it is impossible to tell what the book is without mouse hovering on any carousel , e.g. Subject carousels, and the 'You might also like' ones.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/905545/62171000-909ef380-b381-11e9

[2019-07-30 23:50] hornc commented on #2233
I have just looked further into Born a Crime -- I see that the archive.org metadata lists a lot of ISBNs, but the original isbn of `9780399588181`, (ebook) matches the ISBN printed in front of the actual archive.org scan, and the removed Goodreads and Amazon ids `{'amazon': ['B01DHWACVY'], 'goodreads': ['37039065']}` also match this ISBN, so I think the problem is that the archive.org record perha

[2019-07-30 23:50] cdrini commented on #741
You underestimate me, @tfmorris :) Of course they'll have access to it!

[2019-07-30 23:52] cdrini commented on #741
The entire pipeline is defined in a `Jenkinsfile` which will be committed to the repo (With instructions on how to run it).

[2019-07-31 00:03] hornc commented on #2149
I think this issue should be re-phrased to not require supervisord specifically. Prod and dev _should_ be in line with each other, but following what is most appropriate for the Dockerized direction we are pursuing. My thought is supervisord will not be involved, but we'll need to investigate and do it properly once we have settled on the production goal.

[2019-07-31 01:49] hornc opened #2248 "Attempting to merge some authors fails"
### Description

Specifically Ludwig van Beethoven (duplicate author records identified via Wikidata)  https://openlibrary.org/authors/merge?key=OL127077A&key=OL4357202A&key=OL7272005A&key=OL7480477A

fails

I suspect it may have something to do with one item in the list being or referencing a redirect -- needs investigation.

### Relevant url?
Examples:

| Done | Person | Merge Link | Error |
| -

[2019-07-31 02:01] hornc opened #2249 "Publishers API results only shows 1 record, when UI shows many more"
I am trying to explore all items by a particular publisher using the API for removing non-book items, and resolving orphaned editions. I was hoping this endpoint could return all results, but it looks like it is broken.

### Reproduction Steps
1. Go to https://openlibrary.org/publishers/John_Bartholomew_&_Son and observe there are ~128 results
2. Go to https://openlibrary.org/publishers/John_Barth

[2019-07-31 04:06] tfmorris commented on #2247
And, of course, hovers aren't really a thing on touch screens making it doubly frustrating for mobile users.

[2019-07-31 04:11] tfmorris commented on #741
If that's a "no" to a single script that builds the index without requiring Jenkins, I guess I'll have to add it to my list. It'll be extra work to keep the two in sync, which seems a waste.

[2019-07-31 04:19] tfmorris commented on #2249
My guess is that "ebook" filtering is being applied somewhere in the chain. It sucks that this is getting baked into so many parts of Open Library.

[2019-07-31 09:14] seabelis commented on #2233
How are you able to access the scan for non-lendable editions?

[2019-07-31 09:41] seabelis commented on #1048
Amazon data is questionable in general. I think they have a lot of ISBNs that were never actually issued, ISBNs that are for retail use only, general merchandise, etc.

As far as duplicates go, ISBN alone is not perfect. Publishers reuse them so there can be multiple editions sharing an ISBN. ISBN + OCLC would be much better, but of course, most records do not have OCLC #s.

Is it possible to look

[2019-07-31 13:10] LeadSongDog commented on #2248
There are many 2008 AMZ-sourced books of music notation for which the isbn seems to be a dead end at OCLC, or even the authorship is misattributed to the publisher at amz. For some of these BWB can find a cover by isbn, but it seems to have the same crap metadata. We either need to cast a wider net in other databases, or just quarantine them somehow and trust that real books will resurface.

[2019-07-31 17:45] #2151 closed

[2019-07-31 18:20] cdrini opened #2251 "Ebook filtering not working on authors page"
### Description
Similar to the issue we had with search results (#2250). archive.org 's availability API has been throwing errors (apparently) when passed too many identifiers, causing our ebook filtering, which uses this API, do return no results.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/62237019-395b4c00-b39e-11e9-89f2-6bb351ba76a3.png)

[2019-08-01 00:16] jdlrobson commented on #2027
I'm going to need a bit more context here, some URLs, maybe some screenshots and possibly a designer/Mek who understands the product a little better than me before I can do something with this task.

[2019-08-01 00:18] jdlrobson commented on #2133
At (min-width: 960px) a rule width: 475px; kicks in. I don't see why that cannot be removed but not totally sure if that will break other things.

[2019-08-01 00:21] jdlrobson commented on #2132
There is no CSS for this specific rule, but slick-active is the selector to use. This needs some design e.g.
[code]
@brad2014 do we have a "needs: design" tag for these kind of things?

[2019-08-01 00:28] jdlrobson commented on #2012
A mouseout event handler will likely fix this.

[2019-08-01 00:30] jdlrobson commented on #2007
This task needs a bit more detail.
What URL are we talking about here and can we have a screenshot of the hidden element
(I can't remember the details of this discussion) :(

[2019-08-01 00:33] jdlrobson commented on #1955
I believe this is fixed now - https://openlibrary.org/subjects/insenseandpeppermints
I'm unable to replicate on production or locally and I do vaguely remember this being an issue at some point on an older version of the site.

[2019-08-01 00:33] #1955 closed

[2019-08-01 00:34] jdlrobson commented on #1938
This is fixed now. Was likely #1890

[2019-08-01 00:34] #1938 closed

[2019-08-01 00:41] jdlrobson commented on #1847
@cdrini anything we can do here to improve the quality of our search results? I feel this is a high impact bug

[2019-08-01 00:44] jdlrobson commented on #1920
These rules should fix this:
[code]

[2019-08-01 00:47] jdlrobson commented on #1215
The issue appears to be there are no books in the carousel. The carousel should not try to render nothing.

[2019-08-01 01:18] jdlrobson commented on #1215
Investigating this more  this seems to be something to do with memcached/caching
The problematic line is:
[code]
in openlibrary/templates/home/custom_ia_carousel.html which calls out to the generic_carousel function in openlibrary/plugins/openlibrary/home.py
According to https://openlibrary.org/books/OL26418025M/Seveneves?debug=true

This is out of my expertise area and I can't seem to replicate t

[2019-08-01 01:23] jdlrobson commented on #2129
We have a separate file for dev:
[code]
Adding background there makes sense to me.
[code]
(assuming dev feature is enabled there)

[2019-08-01 01:35] jdlrobson commented on #943
I found the fix here but I suspect many other pages are impacted and I'm not sure how this broke.

[2019-08-01 01:37] jdlrobson commented on #1990
Fixing this will require improving/taming the existing JS code first.

[2019-08-01 01:38] jdlrobson commented on #1949
How can I get loans locally?

[2019-08-01 02:25] jdlrobson commented on #2247
Yeh this seems like a big design flaw. It's always been this way though... right?

[2019-08-01 13:23] #2090 closed

[2019-08-01 13:52] cdrini commented on #1847
This is partially fixed in the work selection on edition (which uses our `/works/_autocomplete?q=` endpoint), but the search box here uses a different algorithm. Swapping it to this should theoretically not be too difficult? Solr support prefix searching, so it's definitely possible.

![image](https://user-images.githubusercontent.com/6251786/62298861-d7542280-b441-11e9-99d1-a6760a0e7c0a.png)

(No

[2019-08-01 15:53] koderjoker commented on #2007
This issue was regarding the table header (that helps in sorting by edition, availability, location and buying) that gets hidden in edition tables below a certain width.
![Screen Shot 2019-08-01 at 9 18 27 PM](https://user-images.githubusercontent.com/30471843/62307843-f7b3c980-b4a1-11e9-84fb-f7dc1d21a898.png)
![Screen Shot 2019-08-01 at 9 18 40 PM](https://user-images.githubusercontent.com/304718

[2019-08-01 15:56] tfmorris commented on #1777
It looks like the related image is https://web.archive.org/web/20180910222342if_/https://www.gravatar.com/avatar/45b0863bddc42c3bbb08284d1863ad95. What we probably want is either the Gravatar directly of the equivalent of https://web.archive.org/web/<latest>/https://www.gravatar.com/avatar/45b0863bddc42c3bbb08284d1863ad95, but I'm not sure what the notation for that (or if that is even supported).

[2019-08-01 16:23] jdlrobson commented on #2007
Ah got it! Thanks for the added context @koderjoker !

[2019-08-01 16:40] tfmorris commented on #1847
A pure prefix search isn't the right solution for this. For autocomplete/suggest, prefix matches are typically boosted in weight so they appear first, but not to the complete exclusion of other matches. A separate endpoint, which we apparently have?, is the right way to do this and then we can tune the implementation to give the best results.

[2019-08-01 17:00] jdlrobson commented on #1847
Another good example is searching for "Penumbra" which doesn't match "mr penumbra 24 hour book store"

Playing around with Solr queries and not using prefix sounds good to me provided we get better more relevant results! Side note: It's my biggest challenge right now with getting my wife managing her reading lists on Openlibrary rather than Goodreads :)

[2019-08-01 23:54] tfmorris commented on #943
@RecurringError That translation mechanism isn't functional, as noted at the top of the [page](https://openlibrary.org/i18n) just before this one in the navigation path.

The existing NL (minimal) translation is available here: https://openlibrary.org/i18n/strings.nl.json and you can read more about the current translation process here: https://github.com/internetarchive/openlibrary/blob/master/op

[2019-08-02 00:55] tfmorris commented on #871
The historical message files in git were used to seed the wiki, but they've been updated since then, so that, for example, Italian is on version 21 at https://openlibrary.org/i18n/strings.it.json.

These may be too small to bother saving, but wanted to make a note of it so it's not lost to history.

[2019-08-02 01:20] tfmorris commented on #973
Almost everything created or edited in the last few years has ignored internationalization. We should start with the most visible elements (e.g. the home page!) so that potential translators don't immediately get discouraged by not seeing anything change.

[2019-08-02 01:27] tfmorris commented on #2190
This seems like a duplicate of #791 (which has much more history).

The UI doesn't really need to be "refactored" - we "just" need to fix the bit rot caused by developers editing and adding things without considering translation. Unfortunately, these things are some of the most immediately visible elements such as the home page carousels.

The first item to be completed is #971.

[2019-08-02 01:37] traceypooh commented on #1777
@jdlrobson so basically brewster wanted us to to not "bug" our users (by loading 3rd party stuff) on the page and @kngenie & co were crawling gravatar and making sure most would be in the WB Machine.  so that was kind of the dodge going on there...

[2019-08-02 01:58] tfmorris commented on #1847
The current works/_autocomplete autocomplete endpoint (`openlibrary/plugins/upstream/add_book.py`) uses the query `title:"%s"^2 OR title:(%s*)` which works for [mr penumbra](https://openlibrary.org/works/_autocomplete?q=%22mr%20penumbra%22), but not [mr penumb]https://openlibrary.org/works/_autocomplete?q=%22mr%20penumb%22 ie it requires whole word matches. I suspect that "penumbra" would work if

[2019-08-02 14:24] tapaswenipathak commented on #2251
Hi @cdrini, @mekarpeles: I see everything, though on Google Chrome, should I check in Firefox 68?

![](https://i.gyazo.com/86fb49ce12b30894e8fbeee99a161b5c.jpg)

[2019-08-02 14:56] cdrini commented on #1847
It doesn't work for "Mr penumb" because you used quotation marks in the query.

[2019-08-02 15:01] cdrini commented on #2251
Sweet! Dropping this to priority high (feel free to change, @mekarpeles ); it looks like archive.org has stabilized.

[2019-08-02 15:10] tapaswenipathak commented on #2197
Hi @tabshaikh: Can you outline more?

[2019-08-02 15:12] tapaswenipathak commented on #2073
Hi folks: Can I do?

[2019-08-02 15:12] tapaswenipathak commented on #2073
Hi folks: Can I take?

[2019-08-02 16:48] tapaswenipathak commented on #454
Hi folks: Is the ticket still open?

[2019-08-02 18:38] cdrini commented on #1896
Note that with the latest solr-backup dump, there are still 1514068 subjects; so whatever magic was causing these to be indexed, seems to have stopped as of ~April.

[2019-08-02 22:51] jdlrobson opened #2261 "Unable to view books while anonymous in dev environment"
### Description
All books pages are fataling when I open my developer environment.

### Evidence / Screenshot (if possible)

![Screenshot 2019-08-02 at 3 51 39 PM](https://user-images.githubusercontent.com/148752/62402610-71e55c00-b53d-11e9-99ae-c2f5d4655e1d.png)

### Relevant url?
Any page

[2019-08-03 00:47] #2261 closed

[2019-08-03 01:12] cdrini commented on #2217
PR reverted; causing #2261

[2019-08-03 01:23] #2244 closed

[2019-08-03 02:02] jdlrobson commented on #2243
I'm wondering if we can remove both...
There is one usage of this function in openlibrary/plugins/search/templates/advanced_search.html

[code]

Is this template even being used?
openlibrary/templates/work_search.html seems to be what's being used on searches and I can't find a way to trigger the above template...

[2019-08-03 16:17] tapaswenipathak opened #2268 "[Proposal/Feature] Travis CI Enhancements"
### Is your feature request related to a problem? Please describe.
- Travis CI runs linting and throws errors.
- Travis CI shows coverage.

### Describe the solution you'd like
- Linting errors can be fixed in Travis CI.
- The coverage can be posted on the pull requests.
- Scripts and settings can establish that.

### Proposal & Constraints
- [PR](https://github.com/internetarchive/openlibrary/pul

[2019-08-03 17:57] tfmorris opened #2269 "Records with "strange" unicode titles throw "Bad Request: Invalid HTTP Header""
The listed records all trigger "Bad Request" errors; they all seem to have strange values in the `title` or `name` field (which appear the URL, which might be causing this issue).

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/62485487-d8ab8500-b78a-11e9-885f-d6acb7361eb9.png)

### Relevant url?
- https://openlibrary.org/books/OL13061131M ([JSON

[2019-08-03 18:08] tfmorris opened #2270 "Retry Solr queries in update_work"
### Description

Currently Solr is queried as part of building a document to be added (e.g. for an author's top work or subjects), but any error will cause the entire update to be dropped.

### Expectation

The code should be fixed to:
* retry retriable errors (e.g. 500s) at least a few times
* attempt to continue without the information if all retries fail (not sure whether the best strategy woul

[2019-08-03 18:17] #2133 closed

[2019-08-03 18:19] mekarpeles commented on #943
@tfmorris notices that this is not closed by 2253

[2019-08-03 19:39] cdrini commented on #2269
Can you expand on what's wrong with them so I don't have to hunt through JSON files? Also you came _so_ close to posting actual links :P

[2019-08-03 20:01] cdrini commented on #2270
Could you fix this separately, @tfmorris ? Your branch is gargantuan already and also includes more than doubling our solr version (which means it would require a unique deployment plan). I don't think there's anything stopping this from being fixed separately, no?

[2019-08-04 08:16] tabshaikh commented on #2197
Hi, @tapaswenipathak Thank you for showing interest to work on this but this issue is pr for this issue has been merged :)

[2019-08-04 08:16] #2197 closed

[2019-08-04 16:45] tabshaikh commented on #1740
With Loading the reading log like the search page we are planning to have a search bar in the reading log by which the user can directly search for the required book

[2019-08-04 16:47] tfmorris commented on #2270
I try to be careful about only doing a single change per commit, so we can cherry pick the commit onto whatever branches need it.

FWIW, very few (if any) of the changes require Solr 8.1. It just doesn't make any sense (at least to me) to invest effort in an obsolete version which hasn't been supported for years.

Isn't Dockerized Solr already a unique deployment plan?

[2019-08-04 16:58] tfmorris commented on #2269
My bad. I keep forgetting we live in a point and click world. Click the links and all will become clear. No JSON introspection required.

For good measure, you can delete the associated author. https://openlibrary.org/authors/OL4168032A

I'm surprised you were able to index it in Solr.

[2019-08-04 17:58] #1740 closed

[2019-08-04 18:18] tfmorris commented on #1740
I was just about to comment that search isn't a replacement for pagination, so I'm glad to see that thought didn't last long.

[2019-08-04 20:57] tfmorris commented on #714
These author searches all appear to perform correctly with my dev Solr :
* Æschylus - 3 hits including OL74434A
* Kālidāsa - 40 hits including OL528A
* Āśāpūrṇā Debī - 6 hits including OL821A

We don't transliterate Αἰσχύλος, but it will match on the alternate names field

[2019-08-04 21:10] tfmorris commented on #178
I've confirmed that the `ICUFolderingFilter` correctly handles this case and for
`q=type:author AND name:Ghatti Anjaneyasarma` returns both records:

[code]

One nuance is that the giant concatenated `text` field doesn't use `ICUFoldingFilter` because it's a mishmash of different types of text, but I think we probably want to move away from it anyway because it doubles the amount of data that we n

[2019-08-04 21:20] tfmorris commented on #699
A spot check shows that these are successfully indexed in my dev Solr instance. For example, "New Hampshire. Council" returns all 21 author records listed above and "United States. Congress. Senate. Committee on Pensions". The issues with the work_count also appear to be fixed in the new index.

[2019-08-04 21:34] tfmorris commented on #892
Can you provide some recent examples for cases where this isn't working correctly? The updater does have code which attempts to identify all the things which need updating, but I'm willing to believe that it has one or more bugs. Without more information about the broken cases though, it's going to be difficult to track down.

[2019-08-04 23:38] tfmorris opened #2274 "Cleanup bot should not reuse non-specific author records"
### Description

The importer conflated two different authors because it wasn't appropriately cautious about not reusing author records which consist only of two names without any dates or other supporting evidence.

The bad data came from poor cataloging by the San Francisco Public Library, but we need to screen imports for quality. The author name was cataloged two different ways in the MARC rec

[2019-08-04 23:55] tfmorris opened #2275 "New authors don't get indexed properly for search"
### Description
It's a relatively common occurrence to come across OpenLibrary search listings which contain authors which have 0 works listed even though they have at least one work listed when you click through to their author record.

It occurred to me today that this is likely because the author entries are created by searching the Solr index, which likely hasn't yet been populated if both the

[2019-08-05 02:41] #2199 closed

[2019-08-05 06:25] hornc commented on #2269
https://openlibrary.org/books/OL13061131M.json  is the edition, the title appears to be ``  -- this particular example looks to be junk data, but in general we should be able to handle server requests for title like that.

The error is:
[code]
https://openlibrary.org/books/OL13061131M

I worry that legitimate unicode titles are erroring too

[2019-08-05 06:53] hornc opened #2276 "consider moving sitemap script to root scripts dir"
### Is your feature request related to a problem? Please describe.

The currently used sitemaps script lives in https://github.com/internetarchive/openlibrary/tree/master/scripts/2009/01/sitemaps

Which looks like an archived script.

### Describe the solution you'd like

Suggestion: create openlibrary/scripts/sitemaps and move the currently used scripts there.

[2019-08-05 16:59] tfmorris commented on #2269
Yes, I've seen lots of Unicode rendered correctly. I'm not sure which piece of the rendering pipeline is unhappy, but given that it's junk data, I'm not terribly worried about tracking it down.

[2019-08-05 18:08] cdrini commented on #2269
Ah, ok; so there are 2 issues:
- The page shouldn't error when the title contains weird(?) unicode data.
- The listed records should be deleted as spam.

These should be deleted now though, since we can copydocs to import them into our local environment to try to resolve the bug.

- https://openlibrary.org/books/OL13061131M
- https://openlibrary.org/works/OL10194625W
- https://openlibrary.org/auth

[2019-08-05 18:15] cdrini commented on #2269
Updated description accordingly

[2019-08-05 18:17] cdrini commented on #2276
100% agree. If this is actively used, it should _definitely_ not be archived :P

[2019-08-05 21:49] #2243 closed

[2019-08-05 22:08] cdrini commented on #2270
Putting it in a separate PR means we'll be able to merge it probably within the week. Putting it on your branch means we'll be able to merge it maybe in 1-3 months.

[2019-08-05 22:12] cdrini commented on #2217
@hornc Did you say you could take this on? Sorry @tapaswenipathak , this is just an important feature we want to get out soon :)

[2019-08-06 00:31] hornc commented on #2217
@cdrini I'll see if I can get this over the line. @tapaswenipathak did the initial investigation to locate the relevant code. I'll see if I do a final pass of testing, I think the fix is simply another pair of parentheses.

I'm sorry that generating test users is not as easy as it should be. Let's work on fixing that by improving documentation and fixing obstacles after we get this released! :)

[2019-08-06 01:27] tapaswenipathak commented on #2217
@cdrini @hornc if you don't mind, can I finish the things I started?

[2019-08-06 01:29] hornc commented on #2217
@tapaswenipathak if you can make a final PR today, that would be much appreciated! Thank you. I'm still happy to test once that is in.

[2019-08-06 01:35] tapaswenipathak commented on #2217
Thanks @hornc; I will make sure I get that out today and done w/ a clear feature implementation. Sorry for irritation!

[2019-08-06 16:30] cdrini opened #2278 "Local environment displaying non-existant works in carousels/search"
### Description
The local environment lists works which in the carousels/search results which throw "404 - Page Not Found" errors.

### Evidence / Screenshot (if possible)

### Relevant url?
- Carousels here: http://192.168.99.100:8080/
- Search results here: http://192.168.99.100:8080/search?q=title%3A*&mode=everything
- Sample error: http://192.168.99.100:8080/works/OL5096778W

### Expectation
O

[2019-08-06 16:42] cdrini commented on #501
Copied some info from Lisa's issue and formatted in the new format.

[2019-08-06 16:47] cdrini commented on #501
Don't have a live example, but tested locally and this also occurs with authors, so presumably all redirects cause this issue.

[2019-08-06 17:00] cdrini commented on #501
Hmmm, so I guess our options are:

1. When a redirect is made, any lists referencing the old record should be edited to update the link
2. Lists should follow `type=redirect` items and display the redirected item

Breakdown

### Option 1: Update backreferences
#### Pros
+ More correct. We want to remove _all_ references to the old OLID when a redirect is made (like how works are updated when an au

[2019-08-06 17:01] cdrini commented on #501
Oh, just realized you'd assigned this to yourself only 7 days ago; have you started working on this @hornc ?

[2019-08-06 17:15] cdrini opened #2279 "Duplicate the compare button on history pages"
### Is your feature request related to a problem? Please describe.
For records with long histories, it's annoying to scroll all the way to the bottom of the page to the compare button.

Like https://openlibrary.org/people/vivisoesanty/lists/OL99633L/Authors_for_children's_books?m=history :
![image](https://user-images.githubusercontent.com/6251786/62560838-e543e200-b84b-11e9-8f21-d03775b277bd.png)

[2019-08-06 19:33] LeadSongDog opened #2281 "Give all users revert access on their own recent edits"
### Is your feature request related to a problem? Please describe.
Any editor can make an error in good faith. At present most of them need to seek help to fix simple finger stumbles.

### Describe the solution you'd like
It should be possible for anyone to revert _**their own**_ edits, at least until someone else makes a further edit.

### Proposal & Constraints
Since #2217 has recently been deal

[2019-08-06 19:38] tapaswenipathak commented on #2281
Hi @LeadSongDog: I can PR.

[2019-08-06 19:56] LeadSongDog commented on #2275
Yes, timing is a definite factor.  After creating the new work and author records, further works cannot be linked to that author record until it has been indexed, which may take many minutes. A new contributor unfamiliar with the behavior will think that the author record was never created, often resulting in duplication.

[2019-08-06 20:08] LeadSongDog commented on #1048
@hornc @seabelis @tfmorris
Just a thought: perhaps it would be useful (at least as an interim measure) to show "Related:" links from edition pages to other editions sharing the same identifiers.

[2019-08-06 20:26] seabelis commented on #2281
Agreed. This would make sense.

[2019-08-06 23:45] #2217 closed

[2019-08-07 00:00] hornc opened #2282 "Revert button styling on Edition pages shows link which should be hidden"
### Description

For Admins and (now very recently) Librarians who have access to revision revert buttons, the button styling on Edition pages looks like this:

![image](https://user-images.githubusercontent.com/905545/62584597-6e6d1e80-b909-11e9-9eca-0863d21fba70.png)

The problem is the unstyled button, and the duplicated link below it.

On Works and Author pages the expected result is:
![image]

[2019-08-07 00:11] #2033 closed

[2019-08-07 07:51] seabelis commented on #2114
Getting emails about this issue.

[2019-08-07 15:11] cdrini opened #2283 "Create a macro for linking to an OLID"
### Is your feature request related to a problem? Please describe.
Open Library supports macros (which are like "templates" in Wikipedia speak) in description fields. I.e. `{{Hello("Foo")}}` will trigger the `/macros/Hello.html` template, and render the text "Hello, Foo!". We should create a template, maybe `{{OLID('OL16551541W')}}` that creates a link to a record, automatically setting the link's

[2019-08-07 15:16] seabelis commented on #2281
And just received an email requesting this today.

[2019-08-07 15:23] seabelis commented on #2283
Related to https://github.com/internetarchive/openlibrary/issues/1808

[2019-08-07 15:47] seabelis commented on #2283
Would a dropdown similar to the identifiers be possible. Some relationships that would be useful are:

Contained in: for works also collected elsewhere or partial works
Contains: for collections/anthologies
Preceded by: for ordered series
Followed by: for ordered series
Adaptation of: for original work
Adaptations of this work: for adapted works
Other works about this work: link to study guides, c

[2019-08-07 17:02] cdrini commented on #2283
That would be a better long-term solution for #1808 ; this would be something we could use in the meantime though (and would also be usable from like profile pages and other docs).

[2019-08-07 20:41] hornc commented on #2269
Strangely I just noticed another example in a work's edition list by recognising the repeated '♂' after a title while looking into another issue:

https://openlibrary.org/books/OL12541470M/Black_House_%1A%1A%1A%1A%1A%1A_

I'll do a scan of the edition dump file to see if I can get a complete list of titles with the same characters.

[2019-08-08 01:06] hornc commented on #2281
This is a good feature idea, I'm not sure how easy it will be off the top of my head -- it could be very easy, or there may be some surprise that makes it difficult or expensive to implement.

I'm happy for you to investigate @tapaswenipathak. Feel free to tag me if you notice anything that looks like it could be problematic!

[2019-08-08 01:53] hornc commented on #2248
The problem author is
https://openlibrary.org/authors/OL4357202A/Ludwig_Van_Beethoven
which will not merge into the master OL127077A

Tracking down the likely problem item:
OL11122403M
https://openlibrary.org/books/OL11122403M/Piano_Literature_of_the_17th_18th_and_19th_Centuries_Books_6B

Through the UI, this doesn't even look like a LVB item since the author UI data is coming from the work https:

[2019-08-08 01:58] hornc commented on #2248
So there's a couple of issues here:

1. Merge authors is swallowing errors without any indication of what or where the problem is.
2. Edition page UI is hiding authors listed specifically in the edition metadata, which can sometimes differ from the work.

and maybe 3., a contributing factor making this even harder to debug: #183

[2019-08-08 02:03] hornc commented on #2248
and 4. Why is merge authors even breaking on this? Why can't it simply update the affected items' authors and move on?

ANS: I think it relates to #1445 where some items' data can be in a state where their authors are redirects, but re-saving throws an error.   <<< this seems to be the root cause of a number of these redirect problems.

[2019-08-08 02:42] hornc commented on #2269
These characters appear in the dump files as `\u001a`

Getting a count of editions records that have these characters:
`fgrep '\u001a' ol_dump_editions_2019-07-31.txt | wc -l`
3981

Many of these are in the series or description fields, the reported error is occurring when the character is in the `title`:

There are 376 of these:

[code]

[2019-08-08 02:50] hornc commented on #2269
I cleared up an example edition to see how it was originally imported: https://openlibrary.org/books/OL9039874M
It was an early (2008) Amazon import which contained Cyrillic characters in the title.

Whatever method was used in 2008 by 'anonymous user' is not used now, so I don't think this is an existing bug, just data needing repairs.

[2019-08-08 08:23] tapaswenipathak commented on #2281
Sure; ack.

[2019-08-08 08:26] tapaswenipathak commented on #2282
Hi @hornc, @jdlrobson: if you don't mind, I will take the issue on my head.

@hornc can you please label the priority of the ticket, if urgent I can PR today, otherwise I do on Monday.

[2019-08-08 08:29] tapaswenipathak commented on #2279
Hi @cdrini: Can you please assign the priority as well, I would PR.

[2019-08-08 08:39] tabshaikh commented on #2169
The design for the leaderboard can be found here https://www.figma.com/file/Oh1CZQOx5JZSzVIbSigbRy59/Book-Sponsorship-Modal?node-id=207%3A0

[2019-08-08 08:59] tabshaikh commented on #2196
As the pr is merged closing this issue :)

[2019-08-08 08:59] #2196 closed

[2019-08-08 09:00] tabshaikh commented on #2198
As the pr is merged closing this issue :)

[2019-08-08 09:00] #2198 closed

[2019-08-08 17:04] LeadSongDog commented on #2275
Here's an older example. Two records that ImportBot created within 7 seconds back in 2008 for an author who already had a record:
{"name": "Grieg Marshall Spankie", "last_modified": {"type": "/type/datetime", "value": "**2008-04-30 09:38:13.731961**"}, "key": "/authors/OL3374795A", "type": {"key": "/type/author"}, "id": 13517871, "revision": 1}
{"name": "Grieg M. Spankie", "personal_name": "Grieg

[2019-08-09 07:56] brad2014 commented on #1215
@mek Can you opine on the correct owner and priority of this?

[2019-08-09 15:12] tfmorris commented on #1215
I can confirm that the problem still exists. All it's targeting the memcache, the problem is actually in the JSON encoding code (probably being triggered by bad data that's not properly escaped).

Since the error is occurring trying to set a memcache entry, we should probably just catch the error and not cache anything as a fallback.

Because this is querying the IA API (bad idea!) for the related

[2019-08-09 19:39] cdrini commented on #2279
Sure! I'd say this is priority normal. Go for it :)

[2019-08-10 16:05] jdlrobson commented on #1777
Looks fixed to me on the IA side however open library still points to https://archive.org/services/img/@jdlrobsona which shows a silhouette

Is that api broken ? Is there another that should be used?

[2019-08-10 17:04] jdlrobson commented on #2282
I don't have librarian/admin access on OpenLibrary so can't easily check what the problem is. On my localhost I get "Recaptcha solution was incorrect" when I try to edit so I can't actually get to a revertable revision right now :-S

I've guessed what the problem is here and tried to spec out the fix I'd like to see as review checklist.

If the button just needs to be hidden, using the hidden clas

[2019-08-10 17:05] jdlrobson commented on #2152
Dropping to low as this is a feature request, and I want us to lay down some stronger frontend foundations before building out new things.

[2019-08-10 17:07] jdlrobson commented on #943
Since this is infogami and deciding whether a feature is used, this is no longer my area of expertise @brad2014 can you help with finding someone better placed to assign to?

[2019-08-10 17:17] jdlrobson commented on #1381
Not sure I understand this one as not seeing any mention of amazon here:

![Screenshot 2019-08-10 at 10 17 02 AM](https://user-images.githubusercontent.com/148752/62824839-0d875580-bb58-11e9-84bb-076bedae5b4a.png)

[2019-08-10 17:19] jdlrobson commented on #345
This looks fixed to me. cc @mekarpeles and @cdrini  in case I'm misunderstanding.

[2019-08-10 17:20] jdlrobson commented on #107
Ping @mekarpeles that I'm closing. Reopen if necessary.

[2019-08-10 17:20] #107 closed

[2019-08-10 17:20] jdlrobson commented on #94
Ping @mekarpeles that I'm closing. Reopen if necessary.

[2019-08-10 17:20] #94 closed

[2019-08-10 22:20] cdrini commented on #345
:+1: I think one of the carousel updates probably fixed this.

[2019-08-10 22:20] #345 closed

[2019-08-10 22:29] cdrini opened #2286 "Remove translation contribution web inteface"
The consensus on #2253 was to remove this deprecated interface in favor of the flow described here: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/i18n/README.md

Ex page: https://openlibrary.org/i18n/strings.nl?m=edit

### Additional context
- The PR where this was decided: #2253

### Stakeholders
@tfmorris @hornc

[2019-08-10 22:29] cdrini commented on #943
The consensus on the PR was to deprecate the UI in favour of the flow here: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/i18n/README.md . Closing this as "Won't fix" and creating a new issue for deprecation: #2286

[2019-08-10 22:29] #943 closed

[2019-08-10 22:46] cdrini commented on #345
Ahhh, nevermind. It looks like the issue was solr-related with the cover not being stored in solr. The given publisher seems to be mostly fixed, and the rest should be fixed with the solr re-index, so I think it's safe to close this.

[2019-08-10 22:54] cdrini opened #2287 "Publishers page displaying only 2 pages of works"
### Description
This page says "15 works", but only displays 12

### Relevant url?
- Publisher page: https://openlibrary.org/publishers/39_West_Press
- Searching for the publisher directly (which displays all the works): https://openlibrary.org/search?q=publisher%3A"39+West+Press"&mode=everything

### Expectation
Should display the right number of works.

### Details

- **Logged in (Y/N)?** Y
- **

[2019-08-11 23:54] tfmorris commented on #2286
A "nice to have" would be to preserve any useful strings from the existing translations, e.g. https://openlibrary.org/i18n/strings.nl.json, before deleting all the https://openlibrary.org/i18n/strings.lang wiki pages.

In addition to removing the web UI (mostly wiki), all internal implementation should be removed as well so that it doesn't get confused with the new implementation.

[2019-08-12 04:22] hornc commented on #2248
a past PR that tried to deal with a similar problem: #2186 I need to investigate whether that fix needs to be applied in another location, or whether there is a gap in the fix. Either way, something is missing.

[2019-08-12 08:27] hornc commented on #2248
the authors view page is swallowing author merge progress, and errors, and I think this problem is occurring on other pages that used to have an error flash msg.

From debugging this I see there is a message div
https://github.com/internetarchive/openlibrary/blob/17cd1728e21a8dafd3dffcebc93dee9a534c37ec/openlibrary/templates/type/author/view.html#L92-L118

that is styled as class.hidden : `    dis

[2019-08-12 15:30] LeadSongDog commented on #1008
I agree with @tfmorris about the confusing landing page: that really should be fixed. However, I'm not sure that the earmarking suggestions will play out well in practice. When creating budgets for different activities in most organizations it leads to a choice: either (a) the earmarked funds are layered over independently allocated levels for each budgeted activity as extra icing on the cake; or

[2019-08-13 02:32] hornc commented on #2282
Thanks for adding the checklist @jdlrobson! That might be enough to enable me to fix it, because I do run into the issue frequently.

I'd like to get us to a point where it is easier for devs to test using different users, I've recently updated https://github.com/internetarchive/openlibrary/wiki/Getting-Started#creating-users to help with viewing the site as different users in local environments.

[2019-08-13 02:54] hornc commented on #2268
Thanks for creating an issue @tapaswenipathak

I have read the comments from @jdlrobson on the original PR and I agree with his comments. I'm not sure this issue clarifies the proposed improvements fully.

A couple of comments on what I understand as the main parts of the proposal:
1) In general I'd prefer not have auto-fixed code. The flake8 linting was introduced was introduced by @cclauss as pa

[2019-08-13 03:53] tapaswenipathak commented on #2268
Hey @hornc: should be finishing with the sample today. :)

[2019-08-13 03:58] tapaswenipathak commented on #2282
Feel free taking the ticket if you feel like. I might give the ticket few hours today.  :)

[2019-08-13 18:08] cdrini commented on #2248
@hornc @jdlrobson The `hidden` is likely related; see the thread starting from https://github.com/internetarchive/openlibrary/pull/2223#issuecomment-513393435

[2019-08-13 18:16] cdrini opened #2293 "Determine how to run openlibrary locally with just python3"
### Is your feature request related to a problem? Please describe.
Right now it's difficult to test our python3 support since locally the site can only be run with python2.

### Describe the solution you'd like
Need an easy way to run with python3 (probably 3.7). Ok if a docker rebuild is required.

### Stakeholders
@salman-bhai @cclauss @hornc

[2019-08-13 21:10] cclauss commented on #2293
We already have automated tests that configure a Python 3 instance whenever you want.  My recommendation would be focus first on removing this line from our codebase:
https://github.com/internetarchive/openlibrary/blob/master/.travis.yml#L17

[2019-08-13 22:09] cdrini commented on #1684
@cclauss put the list in here directly as a checklist so we can see progress. The generation is (annoyingly) manual, but hopefully still useful.

[2019-08-13 22:18] cdrini commented on #2293
I think the idea is to avoid having to push to GitHub and wait for Travis every time we want to test with python3? Or is there another way?
What would be a good first step @salman-bhai to contribute to the Python 3 migration?

[2019-08-13 22:37] cclauss commented on #2293
Writing that led me to #2295 which improves the situation quite a bit.

I do struggle with how you do things _locally_ on this project given that the main repo symlinks (a stale copy) of the separate infogami repo.  It is code in this second repo that is now haltin our Py3 progress.  @hornc

So the trick in 2295 is that you need both Python 3 for real computing and then you also need a Python 2 fo

[2019-08-13 22:47] cclauss commented on #1684
Py more attention to the flake8 results on Python 3 runs than Python 2 runs because they have two different abstract syntax tree so they kick out different undefined names like unicode, basestring, raw_input, etc. on Python 3 runs.  Much but not all of that was cleared up on earlier PRs.

[2019-08-13 22:52] cclauss commented on #1694
@cdrini Maybe push a bit here?

[2019-08-13 22:54] cclauss commented on #1451
@cdrini

[2019-08-14 00:59] jdlrobson commented on #2248
Sorry for the pain (again). The !important was added in 0f9030c1047d5a337fc292a09085d7c353c85424.

The problem with not using !important, is if you have
[code]
and a rule of equal specificity:
[code]
the button is not actually hidden against expectations.

I've been trying to move us more in a BEM direction so these specificity rules become more of a pain.

The following grep yields 6 results:
[co

[2019-08-14 01:10] jdlrobson commented on #2268
I would prefer not to auto fix frontend issues. For me knowing a committer can run these locally and has addressed issues gives me more confidence in their patch and that they understand the codebase they are contributing to.

[2019-08-14 03:46] hornc opened #2297 "Recent-edits interface is not showing recent new imports by ImportBot or CleanupBot"
### Description
https://openlibrary.org/recentchanges/add-book?page=1#bots shows very little bot import activity.

I know https://openlibrary.org/people/horncBot has imported some new items from SFPL MARC records within the last few months.

ImportBot https://openlibrary.org/people/ImportBot especially is constantly importing new books.

This relates to the planning doc at https://github.com/inter

[2019-08-14 03:51] hornc commented on #2297
Ok, there might be something strange and sporadic going on here, this is what I saw that made me raise the issue:
![image](https://user-images.githubusercontent.com/905545/62993354-11dea600-beab-11e9-8380-9f2338bceadf.png) which shows very out-of-date edits.

but on one refresh I did see a  large list of ImportBot edits, which is looked in line with my expectations. I'm going to investigate how to

[2019-08-14 03:59] hornc commented on #2297
Have figured it out:

Viewing https://openlibrary.org/recentchanges#bots shows _all_ edits by bots, which will correctly list all books imported by bots, if they have happened recently.

Viewing https://openlibrary.org/recentchanges/add-book#bots shows all edits made by bots using the add-book UI endpoint, and not anything imported using the more powerful import API

This is still an issue, as it

[2019-08-14 05:25] cclauss commented on #2268
Let's not stifle innovation.  Let's see the code _before_ we decide if / where we want to adopt it.  We used to do dependency management by hand but now GitHub has purchased dependabot which automatically submits pull requests to test current upgrades of dependencies.  Progress in progress.

[2019-08-14 13:53] cdrini commented on #2297
Ok, so the fix is to make the imports show up in "Books Added", right? Is this still `Priority: High`?

[2019-08-14 13:58] cdrini commented on #2248
@jdlrobson I don't disagree with the logic, I disagree with the execution :P `display: none` seems like a good solution to me (not the `style` thing). I don't like how we're playing whack-a-mole with bugs on production. We should either 1) make sure all the `hidden` classes are changed to `display: none` (since that was the implied meaning before the commit 6mo ago; this would need to be done manu

[2019-08-14 14:04] cdrini commented on #1451
I'm not too familiar with this ecosystem; is there merit these claims: https://dataweave.com/blog/json-vs-simplejson-vs-ujson-2887b2c128b2 ?

[2019-08-14 14:14] cdrini commented on #1532
This will be harrier. PyCharm finds a number of references. I would try to remove them in separate PRs, following references (and searching for their names, because PyCharm misses some references) and removing methods that call those methods and that don't `except` any errors.

I think large swathes of the `catalog/` scripts appear to be dead code; is that right, @hornc ?

[2019-08-14 14:20] cdrini commented on #1684
Those will be a superset of the errors listed here, correct?

[2019-08-14 14:30] cclauss commented on #1451
That article was written 4+ years ago.  I see simplejson almost nowhere these daze.

[2019-08-14 14:33] cclauss commented on #1451
Here are modern benchmarks https://github.com/ijl/orjson#performance

[2019-08-14 14:38] cdrini commented on #1684
For simplicity, lets finish with these and keep the others in a separate issues as Python 3 syntax errors.

[2019-08-14 14:40] cdrini opened #2299 "Investigate fa95544 for dead code red flags"
### Description
This commit removed a number of Python `undefined` variable references: https://github.com/internetarchive/openlibrary/commit/fa95544d2ac7639ed8c8d6a397502523b050e887 . Some of these deletions look like dead code red flags; these should be investigated and removed.

Do in small chunks; no giants PRs, svp.

Related to #1684

### Stakeholders
@cclauss

[2019-08-14 14:46] cdrini commented on #1451
It seems like it's comparable to `json` for small inputs, but `json` seems to be more performant for larger inputs. Those benchmarks are on Python 3; any chance they might be different with python 2?

[2019-08-14 14:54] cdrini opened #2300 "Run flake8 checks in Travis on modified code"
### Is your feature request related to a problem? Please describe.
We can currently introduce flake8 errors into our code and have no linting/error checking.

### Describe the solution you'd like
This site shows how to run flake8 tests on the modified code. It's in the context of pre-commit hooks, but could we use the code in our Travis build?
- https://consideratecode.com/2016/10/15/check-code-ch

[2019-08-14 15:04] LeadSongDog commented on #1620
Between ImportBot and the old WorksBot, we now have five (count 'em) different work records and a corresponding five edition records for a single published edition.

https://openlibrary.org/works/OL15875778W/L'%C3%A9volution_du_dogme
has https://openlibrary.org/books/OL24784310M/L'%C3%A9volution_du_dogme
https://openlibrary.org/works/OL15847455W/L'%C3%A9volution_du_dogme
has https://openlibrary.or

[2019-08-14 15:22] cclauss commented on #1451
Who cares about Python 2 anymore?  It is only 140 daze.

[2019-08-14 15:32] cclauss commented on #2300
$ make lint  # Travis CI runs this on every code change and it can be run locally by contributors.
https://github.com/internetarchive/openlibrary/blob/master/Makefile#L95

[2019-08-14 16:13] jdlrobson commented on #2248
Yeh I messed up on the execution 6 months ago :( 321d120 looks like the fix here then, provided it can be tested and works.

Hopefully the whack a mole will die down. I'd love to not do that, but without reliably knowing which templates are abandonware and which are still active, and the fact that the JS is littered across templates as well as JS the task is a little overwhelming and demoralising

[2019-08-14 16:48] cclauss commented on #2300
If you are really determined then locally you can also set a precommit-hook that won't even allow your commits to complete until some automated tests pass.  You create a __.pre-commit-config.yaml__ file at the root of the project.

This would be overkill for this project but for one of my projects, the __.pre-commit-config.yaml__ file looks like this:
[code]

[2019-08-14 17:21] cdrini commented on #2300
Oh, ok; I'm saying I want it to prevent the addition of more F821 ("Undefined var"), which I don't think it's checking now (since there are unfixed checks, we've specified `--exit-zero`).

I'm also asking because in this PR: https://github.com/internetarchive/openlibrary/pull/2284#pullrequestreview-273700227 we moved a file from the "archive" back into `/scripts` which had a python2 style `print`

[2019-08-14 18:27] #2276 closed

[2019-08-14 18:39] cdrini commented on #2300
As discussed on slack, we confirmed that `git diff master -U0 | python2 -m . flake8 --diff` checks _only_ the modified lines. What checks do you think would be good to add to this, @cclauss ? I think the bare minimum would be "Undefined Names" and "Legacy Print Statements" (using `python3`).

[2019-08-14 19:26] seabelis commented on #1048
Hmmm. What was the bot thinking here? https://openlibrary.org/works/OL19686422W/Tales_of_horror_and_suspense

[2019-08-14 21:58] cclauss commented on #2300
flake8 --select=E9,F63,F7,F82  # is the right starting point.  Add from there.

[2019-08-15 03:13] hornc commented on #2297
@cdrini re. priority, probably not -- I put that priority there before I understood the cause. I thought the problem was more fundamental that it is. I'll remove it.

[2019-08-15 03:17] hornc commented on #2297
Related -- there is an admin interface /admin/imports that also claims to show imports, but doesn't give the full picture. It only shows edits by ImportBot, and graphs data available from ImportBot's user page.

I'd not worry about this, phrasing this issue as a feature: Anyone should be able to get an indication of number of recent imports from all relevant sources, and be able to check the quali

[2019-08-15 03:28] hornc commented on #2233
@seabelis I have admin access on ia to check bibliographic data like this. Unfortunately there is no preview on non-borrowable items like this, so there isn't a good way for you to confirm yourself :(

[2019-08-15 14:18] LeadSongDog commented on #1620
@tfmorris
ImportBot appears to be the work of @EdwardBetts but he may have moved on from OpenLibrary to other activities: http://edwardbetts.com/wiki/programming_journal/

[2019-08-15 14:45] LeadSongDog commented on #2233
@hornc FWIW, the entry at
https://catalog.loc.gov/vwebv/search?searchArg=2016031399&searchCode=GKEY%5E*&searchType=0&recCount=25
shows "Invalid ISBN 9780399588181 (ebook)"
Perhaps there's a lesson here: rather than ignore bad identifiers, should we flag them as such? After all the internet echo chamber will keep bringing them up...

[2019-08-15 15:05] tfmorris opened #2303 "Multiple manifestations of single edition handled poorly"
### Description

The edition below was scanned twice by the Internet Archive, which is arguably redundant and wasteful of resources, but given that that they do it, we should be able to handle it. ImportBot [added a second IA identifier](https://openlibrary.org/books/OL24656394M/L'évolution_du_dogme?b=3&a=2&_compare=Compare&m=diff) to the edition record, but the [edition page](https://openlibrary.

[2019-08-15 15:15] tfmorris commented on #2303
This was discovered while reviewing the duplicates in https://github.com/internetarchive/openlibrary/issues/1620#issuecomment-521285745

[2019-08-15 15:17] tfmorris commented on #1620
@hornc @mekarpeles repeating my May 21 question - who controls ImportBot and where does its code live?

[2019-08-15 15:59] cdrini commented on #1620
@tfmorris Does this help (see `import-bot.conf`): https://github.com/internetarchive/openlibrary/issues/2149#issuecomment-496978069

[2019-08-15 16:03] cdrini commented on #2303
I agree; I think the best long-term solution would be to have a new type, maybe `Copy` (or `Scan` or `Digitization`), and then have a one-to-many relationship from `Edition` to `Copy`. Then each IA id would be associated with a single `Copy`.

[2019-08-15 16:17] cdrini opened #2304 "Clean Up Bot strange word-edition match"
### Description
Clean Up Bot matched the existing edition of _Kolonialismus und Neokolonialismus in Nordafrika und Nahost_ with _Tales of horror and suspense_; this seems incorrect.

### Relevant url?

| Work | Edition | Diff | Date of Edit |
| -- | -- | -- | -- |
| [OL19686422W](https://openlibrary.org/works/OL19686422W) | [OL5528417M](https://openlibrary.org/books/OL5528417M) | https://openlibra