[2018-11-11 14:45] KhalidRmb commented on #686
Hi! I'm new here and have made 2 PRs so far, and I would love to keep up the contributions. May I get an invite to the slack channel? @mekarpeles @salman-bhai

[2018-11-11 16:06] KhalidRmb commented on #1235
Hey! May I know the status on this? (I did check out the a book without no ebooks available, and although it shows "no ebooks available" there's no button as described in this issue.

Shall I go ahead?

[2018-11-11 16:19] tabshaikh commented on #1235
You can surely go ahead and work this issue

[2018-11-11 16:32] mekarpeles commented on #686
@khalidrmb absolutely :)

[2018-11-11 16:34] ErickSoares3 opened #1558 "New language"
Someone could add the Mirandese language on Open Library? I just submitted the book OL26535135M, but the site doesn't have it's language.

Thanks

[2018-11-11 16:36] tabshaikh commented on #1558
Thank you so much @ErickSoares3 for creating this issue

[2018-11-11 16:42] tabshaikh commented on #728
@mekarpeles https://openlibrary.org/books/OL26410183M/Orgullo_y_Prejuicio in this the work is in Spanish and the borrowable edition is in English right

[2018-11-11 16:49] tabshaikh opened #1559 "Regression: Removing an item from reading list opens up an unstyled dialog box"
When removing a book from a reading list this weird dialog box pops up with the broken cross symbol and the background is also broken
![remove](https://user-images.githubusercontent.com/31198893/48315719-d18e8680-e5ff-11e8-89fa-9333d17aa637.png)

[2018-11-11 16:50] tabshaikh commented on #1559
Hopefully it functions well :)

[2018-11-11 16:52] tabshaikh opened #1560 "Adding a code of conduct and issues template to our repo"
We should probably add a code of conduct and issues template to our repo this will help us getting a defined form of issues.
![community-standards](https://user-images.githubusercontent.com/31198893/48315747-334ef080-e600-11e8-9cb6-43288e0116df.png)

[2018-11-11 16:53] Alakhator commented on #686
I have made 1 pull request and would continue to do so. Please send me an
invite to slack channel.

Alakh Singh Sethi
COE 8

On Thu, Aug 23, 2018, 9:28 AM Salman Shah <notifications@github.com> wrote:

[2018-11-11 16:54] tabshaikh opened #1561 "Broken /account/preferences page"
![account-preferences](https://user-images.githubusercontent.com/31198893/48315783-9c366880-e600-11e8-88f3-3985f5b17b29.png)

[2018-11-11 17:53] KhalidRmb opened #1562 "Changing page number for editions of a book causes results to scroll through all pages."
As opposed to directly displaying the books in the requested page number. (As is displayed while browsing all the books by an author).

**Example**(Issue): https://openlibrary.org/works/OL15836721W/The_Great_Gatsby
**Should be like**: https://openlibrary.org/authors/OL27349A/F._Scott_Fitzgerald

[2018-11-11 23:11] jdlrobson commented on #1515
Hey @usmanmuhd i just switched to docker myself

Did you run

[code]

[2018-11-12 13:19] LeadSongDog commented on #777
Aha! The by statement is only being displayed on the abbreviated edition page shown below the only one edition of this book statement.

[2018-11-12 14:58] LeadSongDog opened #1565 "Import Bot ignoring most IA Marc data"
This example is rather extreme. The Marc had détailled data that was not used in its import: https://openlibrary.org/books/OL26316555M?v=1
Note even the author, publisher, and pub date were omitted.

[2018-11-12 16:19] LeadSongDog commented on #1346
@mekarpeles This is a zombie issue. On chrome/iOS the add button beside the Classification box has disappeared again.

[2018-11-12 19:57] #1516 closed

[2018-11-12 22:13] tfmorris opened #1566 "Flash Messages pane not displaying on any V2 pages"
When I edit the author field on a works page it apparently is suppressing the intended message pane because when I go to another page type (e.g. search results page), I'll see a number of green "Thank you for improving the record" messages stacked together. More importantly, I may also see a "Unexpected type /type/redirect" error from some long past edit.

These messages are apparently getting ret

[2018-11-12 22:29] tfmorris opened #1567 "Don't stem author searches"
This search returns completely unusable results https://openlibrary.org/search/authors?q=berning
I'm guessing that this is because it's being stemmed to "bern" and matched with other things with that stem, including Berne, Berns, etc.

The net results that the handful of Bernings are mixed in among over 500 other search hits.

[2018-11-12 23:00] tfmorris commented on #1545
How was this done in the non-docker build environment? Wouldn't a tool like Gulp which has watch capabilities built in be more appropriate than make?

[2018-11-13 01:00] jdlrobson opened #1568 "Cannot login on dev.openlibrary.org"
The form doesn't have an action. Since 7c98ceaadaa2b1ad0f8480bf2479235942d9f342 JavaScript is updating it to have some useless URI.

To fix this, let's not touch the URL when not set.

[2018-11-13 01:15] jdlrobson commented on #1566
I can't replicate this right now as I don't have a working captcha on my docker instance and get "Recaptcha solution was incorrect" every time I hit save and 1568 is broken blocking replication on dev.openlibrary.org. However when I try these steps on openlibrary.org I'm not seeing any messages in the HTML.

Replication steps:
* Visit http://localhost:8080/works/OL20600W/Gulliver's_travels
* Enter

[2018-11-13 01:17] jdlrobson commented on #1553
I'm guessing 5 minutes is far too conservative, but means we can defer the problem of caching to later while improving that crucial first visit to our home page.

two possible ways we can solve this in future and bump the cache time higher:
* using an api/javascript to check the loan status
* not worrying about it until the user clicks the loan button.

[2018-11-13 01:34] jdlrobson commented on #1545
In a non-docker build, we simply ran `make css` or `make js` or `npm run build-assets`. We didn't need to do `vagrant ssh` to do that. The thing that's confusing is a frontend dev can now run these builds and see the files change, but not see them reflected which has confused at least 2 people so far (myself included).

I'm not so well-versed in docker-development, but at very least we need to mak

[2018-11-13 01:40] tfmorris commented on #1545
Perhaps the following from openlibrary/docker/README.md needs to be moved somewhere that front end devs look:

-----
## Code Updates

While running the `oldev` container, gunicorn is configured to auto-reload modified files. To see the effects of your changes in the running container, the following apply:

* Editing python files or web templates => simply save the file, gunicorn will auto-reload i

[2018-11-13 02:24] hornc opened #1571 "Re-importing orphaned edition with redirected author fails"
This is an edge case, but should be handled. Encountered twice when importing 20K MARC records.

example: https://openlibrary.org/books/OL22346901M.json

debug excerpts:
[code]

[code]

[2018-11-13 02:26] hornc commented on #1571
Another example: https://openlibrary.org/books/OL16783354M/La_pr%C3%A9face_de_Mademoiselle_de_Maupin.

[2018-11-13 02:39] hornc commented on #730
closing per @LeadSongDog 's comment above, thanks!

[2018-11-13 03:22] hornc commented on #1545
@jdlrobson it might be good if we talk it through on the call tomorrow morning, but the short(ish) version is that the generated assets (css and js) are stored in what Docker calls a "persistent volume" https://docs.docker.com/storage/volumes/  named `ol-build` and you can get a list of these volumes by running `docker volume list`

These are not directly accessible from the host system (like they

[2018-11-13 03:42] hornc opened #1572 "Docker build and compose context should be project root"
Docker build and compose commands should be run from the project root, not the `docker/` directory.

I believe this is Docker convention, and is in keeping with other tools such as `make` which expect to be to be run from the project root. The `docker/` dir is there to group multiple docker files to keep the project root cleaner.

Any Docker file / compose that uses `../` as the context will need

[2018-11-13 05:18] hornc commented on #1571
another example: /books/OL5495057M

[2018-11-13 05:38] hornc commented on #1558
I believe we need to add `mwl` to https://github.com/internetarchive/openlibrary/blob/9a8afa5c46b02ee095d520fec67516703f56d896/openlibrary/plugins/openlibrary/pages/languages.page  -- there may be more required. This is not something we have had to do before, the languages page has only had one commit :)

[2018-11-13 05:56] hornc commented on #1558
Then it needs to be loaded as a language to be read from by this code :+1:
https://github.com/internetarchive/openlibrary/blob/fd9b21412ce5cfc883aae9490348f47c0e850940/openlibrary/plugins/upstream/utils.py#L473

@mekarpeles, do you know what needs to be done to load an update to languages?

[2018-11-13 06:00] tfmorris commented on #1572
I always thought the subdirectory context was a little unusual, so would support to switching to the top-level directory.

[2018-11-13 06:04] tfmorris commented on #1571
It's a little hard to tell from the context here what exactly is going on, but presumably the author resolution process shouldn't end up at a non-existent (ie redirect) author record. Is that where things are going wrong?

[2018-11-13 06:08] jdlrobson commented on #1568
fixed in #1569

[2018-11-13 06:08] #1568 closed

[2018-11-13 06:09] jdlrobson commented on #1566
I just got two messages when I visited https://openlibrary.org/languages thanking me for an edit I didn't do.

Tom, next time this happens, can you tell me if the message you are expecting to see shows up when you navigate (via address bar) to https://openlibrary.org/languages ?

[2018-11-13 06:58] tfmorris commented on #153
There are some placeholders in the original text for the wiki page about detailed stats for the source of the bad imports. I think it would be useful to have a stratified analysis of the errors to know where to focus the effort. Perhaps there was an offline analysis that informed the current "reimport stuff" decision, but that'd be useful to see (as well as what percentage of the problem it's like

[2018-11-13 07:13] tfmorris commented on #153
I suspect that not all the workless editions are due to import issues, but we should also make sure that we reimport anything that is import related, e.g. bad characters in titles https://openlibrary.org/books/OL13507123M/Madame_de_Sta%C2%A9%C2%B7el_et_Napol%C2%A9%C3%98eon

[2018-11-13 07:32] tfmorris commented on #1440
The column is titles and publication information (year & publisher). From a quick glance at the code, I don't think it's even attempting to sort on publication date/year.

[2018-11-13 10:53] brevilo commented on #1014
Thanks @hornc, I can confirm that your fix works for me. Nice one!

[2018-11-13 12:12] himanshuc3 commented on #1550
Hi. I would like to work on this. Where is this file located in directory structure?

[2018-11-13 12:29] himanshuc3 commented on #1560
I would try to do this.

[2018-11-13 12:57] himanshuc3 opened #1575 "Hovering between the profile icon and the menu hides menu"
![screenshot 2018-11-13 at 6 22 44 pm](https://user-images.githubusercontent.com/19166045/48414649-5b119600-e771-11e8-99e1-ecab367cfd61.png)
When we __hover__ on the profile icon and then hover over to select from menu, it is hidden before selection because of the minute gap between profile icon and menu if the user slides slowly to the menu.
![screenshot 2018-11-13 at 6 22 55 pm](https://user-ima

[2018-11-13 12:58] himanshuc3 commented on #1561
Ima try to fix it.

[2018-11-13 15:59] tabshaikh commented on #1561
@himanshuc3 We are planning to remove the page if it is not used elsewhere before beginning you can wait a bit and as the decision gets finalized that we should direct our time and energy towards this then you could began

[2018-11-13 16:05] jdlrobson opened #1576 "Languages page to v2"
The languages page is not v2
* https://openlibrary.org/languages/eng
* https://openlibrary.org/languages/und
* https://openlibrary.org/languages/guj

Confusingly, this page doesn't seem accessible from anywhere in the UI and the template claims to be using jCarousel but I can't see any evidence of that being true.

Please advise whether I should upgrade or remove the page.

[2018-11-13 16:08] jdlrobson opened #1578 "Authors page to v2"
This is a follow up to #1250 We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2".

The authors pages should be converted to v2
* https://openlibrary.org/authors/OL382524A/Murakami_Haruki
* https://openlibrary.org/authors/OL382524A/Murakami_Haruki/edit

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking (so page loads f

[2018-11-13 16:11] jdlrobson opened #1579 "Deprecate /libraries route, keep backend logic"
We are trying to get to one by making all our pages "v2".

The following entry points do not need porting but should not be accessible.  Remove any associated templates and get handlers:
https://openlibrary.org/libraries
https://openlibrary.org/libraries/register

[2018-11-13 16:13] jdlrobson opened #1580 "[Bug] Registering a library page is broken"
Visiting  https://openlibrary.org/libraries/register I see:

![screen shot 2018-11-13 at 8 12 25 am](https://user-images.githubusercontent.com/148752/48426563-e6603c80-e71b-11e8-8fa1-5c0f1681df5e.png)
[code]

https://openlibrary.org/libraries/register?debug may shed some light on the issue.

[2018-11-13 16:54] tabshaikh commented on #1580
Yes the use of this endpoint too??

[2018-11-13 16:56] himanshuc3 commented on #1561
Fair enough. Thanks for the heads up @tabshaikh .

[2018-11-13 17:00] jdlrobson commented on #1580
I don't know much about this page or how it's used but definitely very broken!

[2018-11-13 19:53] jdlrobson commented on #1561
We chatted about this today in the call and decided to remove the frontend for this (but keep backend)

[2018-11-13 19:53] jdlrobson commented on #1576
We chatted about this today in the call and decided to remove the frontend for this (but keep backend)

[2018-11-13 19:53] jdlrobson commented on #1579
We chatted about this today in the call and decided to remove the frontend for this (but keep backend)

[2018-11-13 21:04] #1513 closed

[2018-11-13 21:07] #1545 closed

[2018-11-13 23:30] hornc commented on #1579
See also #337

[2018-11-14 02:31] jdlrobson commented on #1579
Hey @hornc  @mekarpeles

so i took a look at this and want to clarify what we mean by keeping backend logic. Is removing all GET and POSTs that use templates fine? Many of the posts render templates on the frontend but im not sure if this counts as "backend" logic.

[2018-11-14 03:10] himanshuc3 commented on #1561
Cool. Can i also be added in slack group.My mail is himichhabra14@gmail.com.

On Wed, Nov 14, 2018, 1:23 AM Jon Robson <notifications@github.com> wrote:

[2018-11-14 05:26] jdlrobson opened #1584 "Lists: Optimize the .mybooks component on lists for mobile"
When I view https://openlibrary.org/account/books/want-to-read on a mobile phone it looks quite nice with one exception:

![screen shot 2018-11-13 at 9 18 58 pm](https://user-images.githubusercontent.com/148752/48461709-d121f700-e789-11e8-910d-4831cacbead1.png)

We should scope problematic CSS rules relating to .mybooks-menu to a media query so that they only apply on a desktop resolution (as defi

[2018-11-14 07:07] #1554 closed

[2018-11-14 15:53] jdlrobson commented on #1575
Visually we should make sure the gap styles but yes this gap does appear to make those menus difficult to open. A fix would be very appreciated!

[2018-11-14 15:58] jdlrobson opened #1585 "Mobile: edit book experience needs optimising"
https://openlibrary.org/books/OL26506403M/212/edit

Various form elements are not rendering in a mobile friendly way.

![2018-11-14 07 50 31](https://user-images.githubusercontent.com/148752/48496410-cba6ca00-e7e6-11e8-9fb8-95aab3fc3fe6.jpg)

![2018-11-14 07 56 12](https://user-images.githubusercontent.com/148752/48496432-d8c3b900-e7e6-11e8-89f6-c0f67401d6fb.jpg)
![2018-11-14 07 56 33](https://use

[2018-11-14 15:59] usmanmuhd commented on #1515
@jdlrobson I ran all he above commands as well.

[2018-11-14 16:14] seabelis opened #1586 "Multi-volume works"
It would be nice to have a way to link individual volumes of a single work into a record under the work as an edition as well as each volume having individual records. The form as it is now requests information for a single physical volume, so when you have one work split into three, it is not possible to specify details accurately, i.e. cover, pagination, identifiers, etc. for each volume.
For ex

[2018-11-14 16:23] jdlrobson opened #1587 "Docker: Cannot make HTTP requests (connection refused)"
[code]
I'm guessing we need to give the Docker container access to the web.
This is essential for importing content into a local instance.

[2018-11-14 16:31] jdlrobson commented on #1561
@himanshuc3 you can ask on #686!

[2018-11-14 16:36] jdlrobson opened #1588 "Removing the last book from a list on list page throws an exception"
Visit a list you own which just has one item.

e.g.
https://openlibrary.org/people/jdlrobson/lists/OL131254L/new_list

- Click "remove this item"
- A dialog shows. The close icon is off-centered

![screen shot 2019-01-11 at 1 54 14 pm](https://user-images.githubusercontent.com/148752/51061538-7994e180-15a8-11e9-8aba-0c5c890f162f.png)

- Click "Yes i'm sure"

![screen shot 2018-11-27 at 8 49 35 pm]

[2018-11-14 16:37] jdlrobson commented on #1515
Let's see if we can debug this over Slack (#686) it's going to be tricky to do so over a github issue! cc @hornc

[2018-11-14 16:49] jdlrobson opened #1589 "Optimise lists for mobile"
Visit https://openlibrary.org/people/jdlrobson/lists/OL127486L/Jon's_favorite_books on a mobile phone

### Developer notes
- [x] The element contentTwothird should be dropped in the HTML from this page
- [x] The contentTwoThird styles should apply directly to the
[searchResultItem](https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#searchresultitem) and be scoped to desktop

[2018-11-14 17:04] himanshuc3 commented on #686
Hi. I would like to join openlibrary@slack. My id is himichhabra14@gmail.com.

[2018-11-14 20:52] mekarpeles opened #1591 "Slick carousels improperly reporting unreadable books as "Read ebook" (subject pages)"
Related to #1235

Our current slick carousel[change]s -- it seems now we are always showing `Read` even if we don't have the book and sending the user to the works page

We should should (grey button) "No ebook" for those books (at least until we're able to provide filtering -- a la search results

[2018-11-15 00:41] usmanmuhd commented on #686
Hi I would like to join slack. My email-id is `me@usmanmuhd.com`

[2018-11-15 00:42] usmanmuhd commented on #1515
Requested an invite on slack.

[2018-11-15 02:21] LeadSongDog commented on #1586
Yes.  #561 relates. However the part/section/issue/vol.no. should probably be somehow specific to one edition.

[2018-11-15 04:55] jdlrobson commented on #1587
Please help me with this! :(

[2018-11-15 05:45] jdlrobson commented on #1587
Okay I got this working... but I needed a few parameters
[code]
I've updated this here:
https://github.com/internetarchive/openlibrary/wiki/Getting-Started#importing-test-data

Do we need to change the defaults of this script or is that documentation change enough?

I'm worrying this might trip somebody else up...

[2018-11-15 06:40] jdlrobson commented on #1591
Can you explain why this is why it is? We show read or borrow (which to me at least is confusing as I don't know the difference between the two). Having a third one "no ebook" completely loses my understanding of what this button does as an openlibrary newbie. Given I can find a physical book or borrow an ebook.. read seems to apply to all of these three cases..?

Right now I'm certainly unable to

[2018-11-15 11:17] seabelis commented on #1586
This is slightly different than just works of a series. I mean part of a work. But in the end, I think it boils down to the same treatment. So if Brothers Karamazov is broken up into four physical volumes, there would be a record for each physical volume, but a way to represent the work as a whole under the main Brothers Karamazov work where the individual volumes would be listed together and link

[2018-11-15 14:31] seabelis commented on #1445
Here's another one. I don't think it's the author profile as I can edit the other editions of the same work. https://openlibrary.org/books/OL22134859M/Dolores_Claiborne

[2018-11-15 16:23] jdlrobson commented on #1313
This is not really an epic. It's just blocked on #1092

[2018-11-15 17:42] tfmorris commented on #1445
The error message pane not working is also reported in #1566, so let's focus this ticket on the redirect error itself.

In the most recent, Dolores Claiborne, example, I was able to reproduce the behavior when both adding Stephen King as a new author and replacing the existing author. The author record is /authors/OL2162284A but neither that, the work, not the edition appear to be redirects as far

[2018-11-15 17:45] tfmorris commented on #1566
Here's the HTML from a page where there error message *does* appear:

          <div class="flash-messages">
            <div class="error"><span>expected /type/author, found /type/redirect</span></div>
            <div class="clearfix"></div>
          </div>

It appears as the very first element in the <div id="content">. Perhaps searching for the class flash-messages will help figure out where

[2018-11-15 18:01] tfmorris commented on #1445
So the redirect is the author that's in the original edition record https://openlibrary.org/books/OL22134859M.json which points to http://openlibrary.org/authors/OL19981A.json, but I can't figure out how to get rid of it. All the editing seems to be operating on the works author, not the edition author.

[2018-11-15 18:14] seabelis commented on #1445
I think there is other inaccessible data on those edition records as well. I've seen first sentences associated with editions only and no way to access.

[2018-11-15 18:45] seabelis commented on #1346
Does each amazon site even need to be specified? The ID's are typically the same across sites.

[2018-11-15 19:38] mekarpeles opened #1592 "Add Previews to Open Library editions pages"
There are a lot of OL books we don't have -- but maybe we can at least provide google previews for these editions?

[2018-11-15 19:48] tabshaikh commented on #1592
Yup this is a nice idea to atleast give link to google books previews, can we do this for all books as if a book is not available for borrow we can still show the link

[2018-11-15 22:35] LeadSongDog commented on #1586
What I was getting at was that various publishers' editions do not necessarily partition the work in the same way, even in a single language. Over time, the Encyclopedia Britannica had quite a range of volume counts per edition. Facet filtering of popular works by year and language is growing more and more urgently necessary.

[2018-11-16 01:18] jdlrobson opened #1593 "Lazy loaded images shouldnt ever display as broken thumbs"
Images in the carousel lazy load.

![screenshot_20181115-171614_chrome](https://user-images.githubusercontent.com/148752/48591775-41e82100-e8fa-11e8-9219-3c1f7c334b50.jpg)

The slick library should have an option to set a placeholder.
Alternatively we should style img tag without a src attribute as plain background.  Currently the loading of images appears a little broken.

[2018-11-16 02:33] jdlrobson commented on #859
When #1577 (which I've approved) is merged can we call this done and open up a new more descriptive ticket for any further work?

[2018-11-16 02:39] jdlrobson commented on #1553
Related: #1264

I ran another webpagetest job, this time in Singapore (so minimising closeness to data center) but TTFB still very high.. :/ (7s!)

https://www.webpagetest.org/result/181116_WE_2c442a0fcd48562f2e0def3d55ef6a53/

[2018-11-16 09:38] seabelis commented on #1586
I can understand some arguments for combining partial works with whole works, but that is not so practical for someone who wants to use the reading log. That will mark all partial works as read or to be read simultaneously.

[2018-11-16 12:09] LeadSongDog commented on #1586
The answer to that is for the log to record the edition read, which is better anyhow.

[2018-11-16 12:26] seabelis opened #1594 "How should pseudonyms be handled?"
I'm wondering how pseudonyms should be handled. I know there is a way to add an alternate name to an author's profile, but that seems to be for misspellings, foreign spellings, format variants, etc. Those do not seem to be searchable from the author field. So I'm wondering if a legitimate pseudonym (i.e. Richard Bachman for Stephen King or Ellis Bell for Emily Brontë) should be listed as a second

[2018-11-16 13:48] seabelis commented on #1586
Agreed, that would be better, though I do still see a problem equating volume with edition.

[2018-11-16 13:58] LeadSongDog commented on #1594
One traditional option is for the by_statement to show "Stephen King writing as Richard Bachman". Another is for the work to be attributed to the pseudonym, but redirect the pseud to the main.

https://www.wikidata.org/wiki/Q3495759 (Richard Bachman) has property P31 (instance of) Q127843 (pen name) qualified by property P642 (of) with value Q39829 (Stephen King).
https://www.wikidata.org/wiki/Q39

[2018-11-16 15:33] seabelis commented on #1594
https://openlibrary.org/search?q=title%3Athinner+author%3Abachman&mode=everything

[2018-11-16 16:48] yogeshjdeshmukh commented on #686
Hi, I just came to know about slack community of open library. I have contributed 1 PR so far and would like to contribute more. I would like to join the slack community. My email id is yogeshjdeshmukh1999@gmail.com

[2018-11-16 19:33] LeadSongDog commented on #1593
@jdlrobson Could you please clarify "broken thumb"? Do you mean as per the Darnden example above? That isn't exactly broken: it is the alt-text shown when no image is available. This is a normal situation if there is no access to the covers held at archive.org from the user's machine. I routinely see that from my work machine.

[2018-11-16 22:13] LeadSongDog commented on #1586
Sorry, that was sloppy of me to not specify that I was using "edition" in the OL sense, not the wider sense.

[rant on]
Putting a different colour of cover on it makes the "edition" different here.

Hereabouts, an "edition" has a meaning closer to FRBR's "manifestation", a situation with which I've never really been happy. In FRBR-speak, the parts of a trilogy are referential works, connected with

[2018-11-16 23:38] jdlrobson commented on #1593
Sure. Maybe "broken thumb" was the wrong word to use here.
Essentially the problem as I see it, is it's very clear that these images are being loaded via JavaScript and the image should be loading progressively
![lazyload](https://user-images.githubusercontent.com/148752/48652686-98666580-e9b5-11e8-879e-514c51020849.gif)

Compare that to this:
https://jsfiddle.net/solodev/sobtocgc/

which also use

[2018-11-17 00:38] #1541 closed

[2018-11-17 01:04] jdlrobson commented on #1591
I am happy to work on this once I've wrapped up the other v2 migrations that are in pull requests and local. My head is to deeply entrenched in v2-ification right now.

[2018-11-17 05:04] tfmorris commented on #1594
Historically, OpenLibrary has broken with traditional library cataloging practice in merging pseudonyms as alternate names for the actual other (like using normal name order instead of inverted).

You could probably find documentation of this in one of the (many) email archives. ol-tech might be a good starting point.

[2018-11-17 05:13] tfmorris commented on #1594
Here's one comment that I wrote in 2010: https://www.mail-archive.com/ol-tech@archive.org/msg00082.html
not 100% on pseudonyms, but pretty close.

It's pretty easy to be for or against Richard Bachman, but the discussion starts becoming quickly more complex when one considers Nicolas Bourbaki, house authors (e.g. romance novel industry), etc.

[2018-11-17 06:01] jdlrobson commented on #1553
I'm also seeing significant HTML savings post-gzip when the HTML is minified. We don't minify any HTML from what I can see.

We could use a library like so:
[code]
Is there any reason we don't?

Also where would this live? I feel like this would require changes in infogami? (https://github.com/internetarchive/infogami)

@mekarpeles any interest in pairing on this?

[2018-11-17 06:48] tfmorris commented on #1553
Note that 3 seconds of your TTFB is DNS lookup and SSL negotiation, so not amenable to improvement via caching.

re: minifying HTML - that seems weird. Where does the savings come from? HTML parsing?

The graph from a day ago still shows SVGs not being compressed. That seems like an easy win. On the somewhat artificial 2G test, it looks like it could save 4-5 seconds.

It still shows 40+ covers be

[2018-11-17 12:07] seabelis opened #1596 "It should be possible to edit "fake records""
Not missing everywhere. This is the only time I've encountered this. https://openlibrary.org/books/ia:desperation00king_0/Desperation

[2018-11-17 12:15] seabelis commented on #1596
Another one. https://openlibrary.org/books/ia:desperation00king_1/Desperation

[2018-11-17 13:32] seabelis commented on #1594
I suppose I'm looking at it from the perspective of the end user's ability to find the book by either name. It seems it should be possible. It makes perfect sense to use an alias if it's searchable. Right now it is not.

[2018-11-17 15:39] seabelis commented on #1594
I see. So it's the pseudonym profile that must have the author's real name as an alias. I was expecting otherwise.

[2018-11-17 16:06] tfmorris commented on #1594
Actually, under our current model, the two records should just be merged which would take care of listing the "losing" name as an alternate.

[2018-11-17 16:48] jdlrobson commented on #1553
The TTFB i am concerned about is the HTML. The image downloads will impact the time for the page to fully load but not the page itself.

Yes there's not much we can do about dns lookup aside from new servers. but 2/3s is a small portion of that 8s of TTFB... we can minimise the 5s that follows with better use of caching.

Minifying html would shave off about 3kb of the homepage after gzipping mean

[2018-11-17 19:09] jdlrobson commented on #1596
Looking at the code this can only happen if a page is a fake record
[code]
A record appears to be fake if the book was created on the fly and not a real record from the database. Developers should note  this function definition:
[code]
This is not obvious to a user, so we really need to make it easy for a user to edit and turn those "fake records" into real books.

[2018-11-18 15:52] LeadSongDog commented on #1596
If this is generally the case there may be a programmatic fix possible. If the record was created on the fly check the details page on archive.org to get the OLxxxM id then test to see if it has a current target on OL. If not then reimport the is entry and delete the problem fake book.

[2018-11-19 00:11] #859 closed

[2018-11-19 00:12] #1192 closed

[2018-11-19 12:58] LeadSongDog commented on #1594
The problem with the current model is that after that merger, the OL record leaves no hint which name was used on the physical book, and the one shown may not agree with the MARC originally imported. We need to capture the "written as" pseud at least in the edition notes or better in the by_statement. Of course it would help if the by_statement was being displayed, but that's a different issue.

[2018-11-19 18:12] mekarpeles commented on #1550
This was merged on petabox side

[2018-11-19 18:12] #1550 closed

[2018-11-19 19:06] #1275 closed

[2018-11-19 22:16] LeadSongDog commented on #1593
So "broken" refers to the simultaneous loading? The fix would implement sequential loading?

[2018-11-19 23:20] YBthebest commented on #764
If nobody's doing this yet, I'll be starting work on this issue, as it seems @kd2718 hasn't pursued !

[2018-11-19 23:20] iem5 commented on #1585
I am going to try to work on this over the next couple of weeks.

[2018-11-19 23:34] iem5 commented on #1559
I will try to fix this over the next week or so!

[2018-11-19 23:37] cclauss commented on #1468
@hornc Bump on this one?  We are tantalizingly close to having no Python 3 syntax errors.

[2018-11-20 00:09] anthonyattipoe commented on #1588
I'd like to take a shot at this over the next couple of weeks if that's okay!

[2018-11-20 02:47] jdlrobson opened #1605 "NotFound pages misaligned"
e.g. https://dev.openlibrary.org/subjects/not_found

Expected: heading and breadcrumbs should be padded
This is using the https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#pageheadingsearchbox component

[2018-11-20 07:50] seabelis commented on #1596
I don't mind adding the new "real" records, but I cannot delete.

[2018-11-21 00:06] #1605 closed

[2018-11-21 01:15] jdlrobson opened #1607 "Make stats page v2"
This is a follow up to #1250 We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2".

The authors pages should be converted to v2
* https://openlibrary.org/stats

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking (so page loads faster)
* page is mobile friendly

To migrate a page do the following
- [ ] Set v2 on the page

[2018-11-21 11:22] seabelis commented on #1594
Is "Stephen King And Peter Straub" really a valid "alternate name" within the context of OL or should that be removed? These are two different writers; it's not really an alternate to "Stephen King."

[2018-11-21 13:56] LeadSongDog commented on #1594
No, it is not valid. We might learn something from examining the record that was originally imported. In one case: https://openlibrary.org/show-records/amazon:0007100426 shows one conflation of the two names, but Azon had lots of them in 2008.

[2018-11-21 14:05] seabelis commented on #1594
Okay, so deletion of such things is okay. I wasn't quite sure if this field is meant to be used for any and all possible ways the name might be stated or for actual valid alternates such as foreign spellings.

[2018-11-21 20:08] LeadSongDog commented on #1594
Just as long as there isn’t any record linked to it (book or work). Try a general search on the ILxxxA field first to check.

[2018-11-22 01:59] jdlrobson opened #1612 "Lists page should be v2"
This is a follow up to #1250 We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2".

This page needs converting:
* /lists

![screen shot 2018-10-24 at 10 16 56 am](https://user-images.githubusercontent.com/148752/47448854-f49ee680-d775-11e8-9d19-ff6dfdf30d51.png)

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking (so pa

[2018-11-22 02:00] jdlrobson commented on #1427
Follow up required in #1612 - the lists page was not ported.

[2018-11-22 02:00] #1427 closed

[2018-11-22 02:01] jdlrobson opened #1613 "error pages should be v2"
This is a follow up to #1250 We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2".

The page which shows on errors e.g. 404s needs porting
e.g.
https://openlibrary.org/22233223

![screen shot 2018-10-24 at 10 16 56 am](https://user-images.githubusercontent.com/148752/47448854-f49ee680-d775-11e8-9d19-ff6dfdf30d51.png)

The more modern version 2 (v2)

[2018-11-22 02:08] jdlrobson opened #1614 "Uncaught ReferenceError: $ is not defined on people pages"
### Please Describe the problem (or idea)
On people pages a JS error occurs!

Before we made this page v2 there was no error.

See Uncaught ReferenceError: $ is not defined
    at jdlrobson:246

### Please show us where to look

https://openlibrary.org/people/jdlrobson

### Browser, version, and operating system
Any browser!

### How to solve (if you know!)

Locate the template adding "$" and wrap

[2018-11-22 07:03] tfmorris commented on #1613
Perhaps I'm being dense, but why does a 404 page need Javascript?

[2018-11-22 15:13] jdlrobson commented on #1613
I'm copy/pasting to be thorough. I don't expect our 404 pages use js but they might.

[2018-11-22 15:56] tabshaikh commented on #1613
I think it would be better for all our pages to be v2 as a uniformity thing of our site on mobile device

[2018-11-22 21:51] #1579 closed

[2018-11-22 22:03] jdlrobson opened #1616 "Make sure admin ip stats graph is mobile friendly"
### Please Describe the problem (or idea)
We should review the ip graph stats graph on the /stats page for mobile friendliness per https://github.com/internetarchive/openlibrary/pull/1608#discussion_r235530803

### Please show us where to look

Https://openlibrary.org/stats

### Browser, version, and operating system

[2018-11-22 22:49] hornc commented on #1596
Thanks @LeadSongDog for finding that record, I have undeleted OL22398814M as it looks like it is a valid book. If it is a dupe, redirects should be used, or the edition moved to an appropriate work.

@seabelis Where are you finding these fake records linked from? They can't really be deleted because they are generated on the fly based on the id in the URL, it looks like they either redirect, or di

[2018-11-22 23:02] tfmorris commented on #788
This is a critical precursor to any bulk imports. We know that the historical import process had a variety of bugs at very points in time, so we need to make sure that these have been fixed before doing any large scale imports.

Part of the process documentation should be in the incoming QC checks which are applied to sets of MARC records that are being proposed for import. Batches too low in over

[2018-11-22 23:11] tfmorris commented on #795
Has this caused any observed problems? If not, I propose closing it.

It has nothing to do with author names. The list is an exception list for when trailing periods (.) should *not* be removed from subject entries, so "World History." becomes "World History" but "Smith, John, Dr." remains unchanged.

[2018-11-22 23:18] tfmorris commented on #869
OK, so it's US English only and that's not going to change.
Can we at least get access to the metadata so we can judge its quality?

[2018-11-22 23:29] tfmorris commented on #1381
That example doesn't appear to match the problem description. It looks like the original record was created by a user, not from an Amazon record, unless the edit history is wrong. The only thing the latest edit appears to have changed was to add an Amazon ID as a source record, even though no other metadata was changed, making it not really a source for anything.

I suggest that source records not

[2018-11-22 23:48] tfmorris commented on #1530
I think this would be a useful improvement to do before starting bulk imports again, but this particular record is always going to be problematic. The 700 has no $e relator field to indicate that she's the editor, so we'd have to do some type of smart inference using the freeform 245$c which seems like it could potential cause more problems than it fixes.

[code]

Using 700s which have relators of

[2018-11-23 00:15] tfmorris commented on #1565
The edition also wasn't correctly attached to the existing work, which would have taken care of the author (100). The fields that I see missed include:

- Author - 100$a
- Publish place, publisher, & publish date - 260$a, $b, $c
- Pagination - 300
- Subjects (x6) - 650
- Summary - 520$a (useful, but lower priority)

This would be a good record to test reimport on to make sure that the improved imp

[2018-11-23 00:31] tfmorris commented on #1571
So it looks like the manual fix which was applied to https://openlibrary.org/books/OL22346901M/Selected_works was to make the edition author the same as the work author. Shouldn't the edition author be removed altogether? It'll just be out of date the next time the work is updated.

Seems like the rules should be something along the lines of:

- if the edition author is a redirect to the work auth

[2018-11-23 00:36] tfmorris commented on #757
This sounds like a (historical?) import bug which we should make sure is fixed in the current importer. Reimporting some of these as test cases to see if they get imported correctly would be a good exercise.

[2018-11-23 00:51] hornc commented on #1571
These are editions without works, so the works are created using the author from the edition. The manual fix was to update the edition's author to the redirect target. This allowed the work creation to successfully copy the author it found on the edition.

[2018-11-23 02:04] hornc commented on #1587
sorry @jdlrobson I only found this now, PR raised to fix the root cause of this problem and set some sensible defaults.

[2018-11-23 02:10] hornc commented on #1468
thanks for the reminder @cclauss  I'm taking a look now.

https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/marc/load.py#L129

[2018-11-23 04:41] hornc commented on #1468
I think the fix for this is to move it into the /scripts folder to be archived. Probably the /2009 subfolder

It looks like a script that was run once to import MARC records from https://archive.org/details/marc_records_scriblio_net directly into the Open Library database directly.

We should never need to run it again, but it should be archived. I don't think updating it to python3 will be helpfu

[2018-11-23 07:16] tfmorris opened #1619 "Author create edit record should show source link"
Edition records include a link to the source MARC record that was used to create them. Author records used to include the same, but don't any more. This isn't a new issue because I've seen 2017 author records which also exhibit the issue.

Here's a recent one which does. The comment on this record: https://openlibrary.org/authors/OL7433603A/Stefan_Ap%C2%A9%C5%81thy

should look like it's complemen

[2018-11-23 07:25] tfmorris opened #1620 "Don't import bad data"
The import: https://openlibrary.org/recentchanges/2018/11/21/bulk_update/54739187
which created three records, is faulty in a number of respects.

The author record contains the highly improbably character sequence "©Ł" as part of the author name. Bad data such as this shouldn't be imported.

An author record with the correct spelling already exists (albeit with no works attached); https://openlib

[2018-11-23 07:34] tfmorris opened #1621 "Bulk importer creating new works unnecessarily"
This newly imported edition: https://openlibrary.org/books/OL26584284M
caused the creation of a new work: https://openlibrary.org/works/OL18007010W
instead of reusing the work: https://openlibrary.org/works/OL199732W
that already had five editions attached to it.

I won't get into the debate about how to delineate editions, because, even though the printings, separated by a couple of years, appear

[2018-11-23 07:42] tfmorris opened #1622 "Reimport not correcting or warning mismatches"
This record was apparently imported incorrectly originally, with an extra space in the title, but on reimport was neither corrected nor flagged as a problem: https://openlibrary.org/books/OL22235433M/Gra_mmaire_au_secondaire_100?m=history

The reimport source record has the correct title(s): https://ia801502.us.archive.org/fetchmarc.php?path=%2F8%2Fitems%2Fgrammaire100ause0000chen%2Fgrammaire100au

[2018-11-23 07:45] tfmorris opened #1623 "source_records not visible anywhere"
When I look at: https://openlibrary.org/books/OL22235433M/Gra_mmaire_au_secondaire_100?m=diff&b=3
I see "source_record" fields being added which aren't visible anywhere in the UI.

In this particular case, it's the same as the `ocaid` so it is possible to click through to the source, but I've seen other cases where this isn't true.

If these `source_records` are going to be important, it should be

[2018-11-23 07:49] hornc commented on #1620
@tfmorris this is https://openlibrary.org/people/ImportBot which is an existing bot that has its own existing and long term mechanisms in place, my recent imports have been performed by https://openlibrary.org/people/horncBot   The plan is to bring the existing ImportBot updates in line with my recent work. I don't control ImportBot though.

[2018-11-23 07:52] tfmorris commented on #1621
Here's another recent example:

work with 5 editions: https://openlibrary.org/works/OL3959261W/England_Ireland_and_America
newly created redundant worK: https://openlibrary.org/works/OL18005594W/England_Ireland_and_America
source record: https://openlibrary.org/show-records/ia:englandirelandam01cobd

[2018-11-23 09:32] seabelis commented on #1596
@hornc I've made it a little project of mine to try and consolidate records for books on my own Read/TBR lists. At some point I realized that not all IA books have corresponding records on OL. So when I'm working on a title, I'll search IA to see if there are any unrepresented books there. This was the first time I'd encountered a "fake record". I have since encountered only one more. https://open

[2018-11-23 10:11] seabelis commented on #1596
Alright, so now I'm not sure if I should add a record for the second book or not. There are two scanned copies desperation00king_0 and desperation00king_1. One now shows as a valid record on OL OL22398814M and the other is redirected.

[2018-11-23 11:17] seabelis opened #1625 "Should "Is it known by any other titles? Perhaps in another language?" field be moved from edition to work level?"
I don't usually bother filling this out for each edition because it seems redundant. The title of the work record already provides the original title (or should). The "translated from" field provides this as well and it's not practical to add the titles of all translations to each edition record. I do make an exception when there has been a change to the title in that edition's language (i.e. titl

[2018-11-23 20:21] hornc commented on #1621
Again, my recent work was not on ImportBot directly but on the public API endpoints. I was using my own bot to make reimport edits by hitting the API I had improved.

ImportBot _should_ be using those enpoints, and does in at least some cases (as noted in the wiki page) - I've just tried following its code to see exactly what is doing, and it looks like it may also have a more direct access to the

[2018-11-23 21:36] jdlrobson commented on #1607
This should be done, but waiting for confirmation when this up on https://dev.openlibrary.org/stats

[2018-11-23 21:43] jdlrobson commented on #1510
@tabshaikh are you still working on should I take it over? Looks like /account/loans is still not v2.
 Only login and signup pages.

[2018-11-23 22:18] tfmorris commented on #1619
I suspect this is because the importer is not including the correct `machine_comment` in the update.
Here's an earlier example:
https://openlibrary.org/authors/OL2666900A.json?m=history

[code]

This gets rendered in the web interface as:

October 19, 2008 | Edited by ImportBot | Found a [matching record](https://openlibrary.org/show-records/marc_university_of_toronto/uoft.marc:2679117007:1081) fr

[2018-11-24 06:13] #1578 closed

[2018-11-24 13:42] seabelis opened #1630 "Should author names and titles be in their native alphabets?"
I don't see this addressed anywhere and I'm not sure what the preference is. If a title or author name is in a non-latin alphabet, should the original be used or the transliteration?

[2018-11-24 14:06] LeadSongDog commented on #1630
I would say list alternates in all alphabets for which we have reliable transliterations. VIAF and Wikidata are useful for ascertaining these. The primary entry should likely be either in the native alphabet or Latin transliteration.

[2018-11-24 19:30] #1587 closed

[2018-11-24 23:07] tfmorris commented on #1501
That's actually configured as a `git submodule` so the submodule needs to be udpated.

[2018-11-25 20:25] mekarpeles opened #1642 "Regression on Home Page (Bookcover Height)"
### Please Describe the problem (or idea)

expected bookcovers to be same height

### Please show us where to look

`https://dev.openlibrary.org`

![2018-11-25-122236_1600x900_scrot](https://user-images.githubusercontent.com/978325/48984150-08a77200-f0ad-11e8-9092-35a2d4a83c66.png)

[2018-11-25 20:29] mekarpeles commented on #1642
setting a `height` of ~200px on `.book img.bookcover` looks about right

[2018-11-25 20:47] cdrini commented on #1642
Hmmm, I think this might actually be better. Setting the height messes the aspect ratio (which is what we had in the past) so that landscape books look "crushed". Maybe just aligning the borrow buttons might be enough?

[2018-11-25 21:02] cdrini commented on #1642
Actually, aligning everything to the bottom might be best; then it'll look like the display shelves at a physical library 😍

![example library display](http://creativelibraryconcepts.com/wp-content/uploads/2017/06/oval-library-display-shelf-1024x683.jpg)
src: http://creativelibraryconcepts.com/library-displays/

[2018-11-25 22:11] cclauss opened #1644 "cmp() was removed from Python 3"
Fixed in #1643

https://github.com/internetarchive/openlibrary/search?q=cmp

Related to #890

[2018-11-26 00:52] LeadSongDog commented on #1630
@tfmorris, The thing is, we’ve not had any progress on changing “What’s the original book” to a work identifier: it is still just a string. Only by putting the translation under the original language work do we have a sensible

[2018-11-26 01:53] jdlrobson commented on #1642
These were previously aligned to the bottom so something has broken that. Using height alone wont cut it as these covers are variable heights and width also needs to be fixed.

Let's do a git bisect and work out when the issue arrived... once we have that information its probably just making sure that css rule doesnt interfere with this one.

[2018-11-26 02:33] YBthebest commented on #764
Hi, could anyone help me with a couple of questions I have regarding the usage of links in the project. I have a tough time understanding some of the functioning.
To start off, very basic, but how does this URL:
https://openlibrary.org/subjects/person:daniel_defoe_(1661-1731)
result in this title: Daniel Defoe (1661?-1731)
i.e, where is this logic handled? There are a lot of encoding issues here a

[2018-11-26 04:29] mekarpeles commented on #1642
Removing `height: auto` from `common.less` `div#contentBody img` does the trick

[2018-11-26 04:31] #1642 closed

[2018-11-26 04:58] jdlrobson commented on #1587
hurray! confirmed working! thank you for fixing!

[2018-11-26 05:12] mekarpeles opened #1647 "Books page (edition) UI regression editionCover and shareLinks-list"
### Please Describe the problem (or idea)

- shareLinks-list is causing `facebook` to go on multiple lines.
- `editionCover` component seems too think / regression

### Please show us where to look

`https://dev.openlibrary.org/books/OL385884M/The_demon_apostle`
![2018-11-25-210845_1600x900_scrot](https://user-images.githubusercontent.com/978325/48994125-6613e100-f0f6-11e8-8e44-116336808c4b.png)

[2018-11-26 06:30] mekarpeles commented on #1647
`box-sizing: unset;` on `.editionCover` seems to do the trick

[2018-11-26 06:35] jdlrobson commented on #1647
The Facebook issue is likely related to break world. We will want to put break-word: initial on that.

The box-sizing reset does seems like the sensible solution here for edition covers. On hindsight, introducing box sizing border box for everything was maybe overly ambitious. We could also limit that rules scope.. it's applying to all v2 pages. Are there any other places where things seem too nar

[2018-11-26 06:51] mekarpeles commented on #1647
I am thinking a `word-break: keep-all` may be a safe option for `shareLinks-list`.

I'm seeing one more issue (a regression I likely caused in my last "fix") which is that `listLists` images are now very small. Looking into it

[2018-11-26 17:00] mekarpeles opened #1650 "Subjects Page chart failing to load because of missing handle_ebooks reference"
Followup on #1649, subject pages failing to load editions chart because missing js dependency

[code]

[2018-11-26 17:03] mekarpeles opened #1651 "Add safe fallback to is_bot check if no user-agent set"
If user-agent is not set, we probably just want to return `True`; i.e. user is  a bot.
[code]

[2018-11-26 17:04] mekarpeles commented on #1650
@jdlrobson I'm happy to tackle this one; do you happen to know if/when `handle_ebooks` definition may have been removed?

[2018-11-26 17:06] #1612 closed

[2018-11-26 17:06] LeadSongDog commented on #764
@YBthebest, It is a mess. Under https://openlibrary.org/authors/OL18283A/Daniel_Defoe there are different "people" versions of that name, as well as many author AKAs listed: Daniel Defoe (1661?-1731), Daniel Defoe, Daniel Defoe (1660 or 1-1731) are all there. Of the "people", only "Daniel Defoe" sans dates is among the AKAs.

At some stage, it would seem that a highly automated cleanup should add

[2018-11-26 17:33] himanshuc3 commented on #1651
I will try to get this done!

[2018-11-26 18:16] jdlrobson commented on #1607
Verified in production. This is now mobile friendly.

[2018-11-26 18:16] #1607 closed

[2018-11-26 18:20] jdlrobson commented on #1510
The loans page appears to be mobile friendly, but there is a horizontal scrollbar that we'll want to get rid of.

[2018-11-26 18:22] jdlrobson commented on #1650
^ @mekarpeles fix is there!

[2018-11-26 19:19] YBthebest commented on #764
Yes, it seems like linking to OL18283A-like strings would be the easiest solution. I would be glad to try to solve some of the arising issues, but I'm not familiar enough with the platform yet to fully understand how it is all managed currently (between authors, subjects, persons, and so on).

[2018-11-26 19:39] kd2718 commented on #764
@YBthebest, this is what scared me away. I was hoping to grab any URLs from sent from the backend and make sure they are properly html escaped or handled in a different way. However, I was unable to figure out what was going on. I am not familiar with web.py and had a hard time understanding how it all worked.

I began to suspect that there were dead paths in the codebase, but didn't want to say t

[2018-11-26 19:41] YBthebest commented on #764
@kd2718 Great to hear back from you. Yes, it seems that URL's are handled in multiple different ways and this really leads to a bunch of deadlinks on different pages. I can't seem to understand exactly how it works yet, so was hoping for a more active contributor to help clarify a bit. I think that switching to unique identifiers would be much better than the rest, but it might not be as easy to a

[2018-11-26 20:33] mekarpeles opened #1655 "New Issue Template?"
## Bug

`https://openlibrary.org/...`

## Feature

[2018-11-26 20:36] mekarpeles commented on #1655
See also: #1656

[2018-11-26 20:54] mekarpeles opened #1658 "Fix author pages UI regression"
## Bug

![screen shot 2018-11-26 at 11 19 33ampst](https://user-images.githubusercontent.com/978325/49041472-2c84b980-f17a-11e8-9ae7-d3dc30d20fd6.png)

- no `stars` component should be showing on authors page
- `Add to list` should be full width
- floating issues should be resolved

https://openlibrary.org/authors/OL1165820A/James_Patrick_Chaplin on production

- Clearfix
- fix logic so stars don'

[2018-11-26 22:55] jdlrobson commented on #1658
Looks like previously the stars were in the html but hidden by CSS.

Time for a proper solution... removing this in the html.

That should also take care of the floating issue.

[2018-11-26 22:56] jdlrobson commented on #1658
(Will take a look tonight)

[2018-11-27 02:53] jdlrobson commented on #1655
I'm not sure about "Solution: Proposed solution"

If youre non technical this is offputting if you are technical you are likely wrong 😂

Could we phrase this as "Possible solutions" to keep this open ended?" and encourage discussion (and consideration of other solutions) rather than diving in and writing code?

Apart from that this seems good to me.

[2018-11-27 02:55] jdlrobson commented on #1658
Poking at this now.

Im also seeing different things on dev and production...https://dev.openlibrary.org/authors/OL1165820A/James_Patrick_Chaplin is more mobile friendly.

Given the earlier issue with the subjects homepage  i think something went wrong in a rebase somewhere...

[2018-11-27 04:10] LeadSongDog commented on #1658
On production, Î can no longer add links fromage authors to VIAF or ISNI urls.

[2018-11-27 06:30] jdlrobson commented on #1658
@LeadSongDog can you open a new bug with replication instructions? I'll look into that tomorrow.
I'd like to keep this conversation focused on the UI regressions... which I believe
61d02ea should take care of.

[2018-11-27 14:02] seabelis opened #1662 "Moving edition sometimes strips data from target work"
### Please Describe the problem (or idea)
I moved a stray edition of Hamlet to the primary work and almost all work-associated data was deleted from the target work.

### Please show us where to look
https://openlibrary.org/works/OL15203981W/Hamlet?b=52&a=51&_compare=Compare&m=diff

### Browser, version, and operating system
Chrome Version 70.0.3538.110 (Official Build) (64-bit)
Windows 7 Professi

[2018-11-27 17:12] LeadSongDog opened #1663 "Unable to add url linkages from Author page"
### Please Describe the problem (or idea)
It is no longer possible to add VIAF or ISNI links such as https://viaf.org/viaf/111050448/ or http://isni.org/isni/0000000083470526 to the author record.

The "Add Link" button showed the preview of the links, but they were not saved. Other information is saved.

The links used to appear on the author page listed under the alternative names.

### Please s

[2018-11-27 19:42] #1655 closed

[2018-11-27 20:03] #1658 closed

[2018-11-27 20:14] jdlrobson commented on #1655
@mekarpeles any thoughts on my feedback above..?

[2018-11-27 22:24] LeadSongDog commented on #1625
The "Is it known by any other titles? Perhaps in another language?" field is useful to distinguish variant cataloguing of one edition. I would leave it there. Some librarians will have left "A" or "The" prefixes intact while others remove them, for example.  The union list of distinct edition titles that are linked to a single work is usually shorter than the full list of editions. A count of edit

[2018-11-28 03:07] jdlrobson commented on #1663
Also broken on https://dev.openlibrary.org/books/OL21360361M/After_the_fact/edit ?

[2018-11-28 03:12] jdlrobson commented on #1663
I think the problem lies somewhere in openlibrary/plugins/openlibrary/js/jquery.repeat.js
It's using some hard to follow templating code

@tfmorris do you have any idea about how this code is supposed to work and what might be going wrong here?

[2018-11-28 04:47] jdlrobson commented on #1589
This was fixed by 513e95523

[2018-11-28 04:47] #1589 closed

[2018-11-28 04:53] jdlrobson commented on #1588
@anthonyattipoe I've taken another look at this and the bug as originally reported is now fixed, but there's another problem with it. Please see updated description if you are interested in working out what's going wrong here!

[2018-11-28 04:54] jdlrobson commented on #1584
Would love to see this one fixed!

[2018-11-28 06:47] #1650 closed

[2018-11-28 11:13] cclauss commented on #1644
Fixed in #1643

[2018-11-28 11:13] #1644 closed

[2018-11-28 16:58] #1614 closed

[2018-11-28 17:59] YBthebest commented on #764
@LeadSongDog Would you have any idea of one of the sub-tasks that I could try to get fixed at this moment in time, or do we need to carefully carve out the other issues first?

[2018-11-28 18:22] LeadSongDog commented on #764
@YBthebest Probably the first thing to do is decide on how urlencoding _ought_ to be consistently implemented. See the Mar 13-14 discussion above between @hornc and @tfmorris for hints. After that, survey where we have other sorts of implementations that needs to be changed.

[2018-11-28 21:18] #1663 closed

[2018-11-29 04:35] cdrini commented on #1662
Related PRs where feature was introduced:
- #661
- #700

[2018-11-29 06:29] cdrini commented on #1662
@seabelis A few questions for you:
1) Could you post the link of the edition as well?
2) How did you restore the lost information?

[2018-11-29 06:50] cdrini commented on #1662
None of that code seems to be relevant to this issue. This is the python command that's called after the "Submit" button is hit:
https://github.com/internetarchive/openlibrary/blob/345e2815ea5f5b5895bcbb2c1b2d1f6113284391/openlibrary/plugins/upstream/addbook.py#L631-L660

Note specifically lines 647 and 652. The edition is loaded from the database (so it's the latest version before the changes), a

[2018-11-29 07:01] cdrini commented on #1662
This would also be an issue if 2 users are editing the file at the same time.
Consider:

| Time | User 1 | User 2 |
|------|--------|--------|
| 00:00 | Starts editing edition X (work: A) | Starts editing edition X (work: A) |
| 00:01 | Changes work to work: B; saves. | |
| 00:02 | | Changes anything and saves. |

User 2's edits will cause Work B to be updated with Work A's data.

[2018-11-29 14:15] seabelis commented on #1662
Not sure if you still need this, but I restored manually and I've moved several editions of Hamlet; I'm afraid I don't know exactly which edition corresponded to this issue.

[2018-11-29 14:35] seabelis commented on #1662
Looks like the same happened here. https://openlibrary.org/works/OL166971W/%D0%91%D0%B5%D1%81%D1%8B_Bi%EF%B8%A0e%EF%B8%A1sy_(The_possessed_The_demons_The_devils)?a=33&b=32&_compare=Compare&m=diff

I recently noticed all the tags were gone, but thought they'd been removed them because the work is in Russian and that all the work-level data should be in its native language. Now I see that may not ha

[2018-11-29 19:59] kd2718 commented on #764
@LeadSongDog urlencoding ought to be implemented with the standard libarary, like in the example [here](https://stackoverflow.com/a/9345102/4788717). The issue is that @YBthebest and I have not been able to figure out where all urls are built on the backend. The comment by @hornc on [March 13th](https://github.com/internetarchive/openlibrary/issues/764#issuecomment-372821117) looks like it has one

[2018-11-29 20:47] hornc commented on #1452
Looks like there are still a few instances remaining: https://github.com/internetarchive/openlibrary/search?q=pprint&unscoped_q=pprint

uses of `pprint()` in the main OL application will not be captured anywhere useful. They look like leftovers from debugging, or form when code had an independent existence as a standalone script.

If the output is important, it should go to logging

[2018-11-29 22:49] YBthebest commented on #764
@kd2718 Yes, good summary. To add to that, I can't seem to entirely understand how the backend works in regards to the link -- what is stored in the DB, what is dynamically generated, and so forth. A couple of the issues seem to arise from this.

[2018-11-29 23:30] YBthebest commented on #1452
This seems like a great easy first issue for me, can I get this one done? Thanks !

[2018-11-29 23:39] YBthebest commented on #1452
So from what I have seen, it is being used mainly in four cases:

- in 'except' constructions
- before asserts, with an if that causes it to only print if the assert will failed
- in impossible places (i.e after a continue() statement, or a sys.exit() call)
- or just in general for debugging purposes

should I remove the last two cases and move the two first cases to logging?

[2018-11-30 01:06] tfmorris commented on #1452
The second form sounds like a debugging case to me as well and could probably be addressed by converting to a 2 argument assert statement

`    assert 1==2,"One didn't equal Two"`

[2018-11-30 01:19] YBthebest commented on #1452
Should I simply remove the pprint statement in those cases then, after conversion? Or change them to a logging?

[2018-11-30 07:17] tfmorris commented on #764
I've visited this a few times recently, but always run out of time before reaching a satisfactory conclusion, so this time I'm just going to answer as much as I have time for.

No idea, but I'm not sure it matters. In case it helps with other cases like this, a good "cheat" is to tack `.json` on the end to see the raw data: https://openlibrary.org/subjects/person:daniel_defoe_(1661-1731).json

In

[2018-11-30 13:07] YBthebest commented on #1452
Thanks for your help ! So this is an example of those:
https://github.com/internetarchive/openlibrary/blob/345e2815ea5f5b5895bcbb2c1b2d1f6113284391/openlibrary/catalog/works/find_works.py#L601
What do you think?

[2018-11-30 14:33] cdrini opened #1668 "Re-enable "revert" feature"
I believe we disabled this because of misuse; I feel like enough time has passed that we can bring it back. It would be useful for @seabelis and I on #1662 .

[2018-11-30 16:05] #1651 closed

[2018-12-01 17:13] YBthebest commented on #1452
It feels to me that in this case, if the assertion failures are being logged anyway, the if statement with the pprint can be entirely removed, right?

[2018-12-01 17:16] tfmorris commented on #764
That's why I wrote:

and posted links to the template code.

[2018-12-02 19:29] tfmorris opened #1669 "Subject page publishing history graph doesn't render"
The "Publishing History" graph on this subject page (which is linked directly from the home page): https://openlibrary.org/subjects/biographies#sort=date_published&ebooks=true
never renders and the console contains this error:

[code]
Removing the ebooks=true and forcing a reload fixes the problem, that URL is the one which is used to link from the home page.

[2018-12-03 11:30] seabelis opened #1670 "Saving an edit results in offline message."
## Bug

![fullscreen capture 1232018 122143 pm bmp](https://user-images.githubusercontent.com/17739465/49371004-5566fa80-f6f6-11e8-8c3e-e294888bf725.jpg)

Browser type/version? Chrome Version 70.0.3538.110 (Official Build) (64-bit)
Operating system? Windows 7 Professional
Production/dev/local? N?A

[2018-12-03 19:22] LeadSongDog commented on #412
@mekarpeles
It seems to me that this and
https://github.com/internetarchive/openlibrary/blob/7195f181742af7389843f275eefb2e675055b727/openlibrary/templates/books/edit/edition.html#L229-242
should likely adopt an approach similar to that at
https://github.com/internetarchive/openlibrary/blob/7195f181742af7389843f275eefb2e675055b727/openlibrary/templates/books/edit/edition.html#L169-188

[2018-12-03 19:54] YBthebest commented on #1452
I'm trying to get this done at the moment. I was wondering about such an example:
https://github.com/internetarchive/openlibrary/blob/d3f63c1d6f8864d1a57f7e439bc2e02ad0a8411f/openlibrary/catalog/marc/simple.py#L74
The simple.py script seems to be used only for testing purposes. What should be done in such a case with the pprint() call?

[2018-12-03 19:58] cclauss commented on #1452
My vote would be that __pprint()__ is OK for this use case.

[2018-12-03 20:12] mekarpeles opened #1671 "Its difficult for archive.org staff to test donation banners on openlibrary"
## Feature

currently IA staff need access to ol-dev0 + knowledge of restarting OL services when they want to change URL for donation banners

Archive.org staff

IA team currently blocked and we recently had an issue re: banners upsell which needed testing

Yes, we used dev urls in several places, mostly in our config file (arguably this code should live in the config)

url for donation banner sho

[2018-12-03 20:20] YBthebest commented on #1452
Thanks @cclauss. What would be a more general heuristic of the cases in which the pprint() calls are not OK then? When they are clearly used for debugging, etc.?

[2018-12-03 20:37] hornc commented on #1452
Thanks @YBthebest for looking into these! Much appreciated.

I agree with your comment to remove the find_works.py#L601 assertion failures pprint.

Also agree with @cclauss on the catalog/marc/simple.py pprint is OK since that file looks to be a stand alone script with option and its output is information to stdout.

In the load.py example above where `pprint()` is used to output some data then `r

[2018-12-03 22:35] YBthebest commented on #1452
To get the ball rolling I submitted a PR. There are a couple of instances of pprint left in places that seem to satisfy the criteria you mentioned @hornc. Let me know if it looks decent to you ! Thanks for all the help, appreciate it 👍

[2018-12-04 01:40] iem5 commented on #1585
Are those changes supposed to happen in ,less files?
I can't seem to find those lines of code in the breakpoint.less file

[2018-12-04 01:42] iem5 commented on #1585
Correction: I found it in the v2.less file but it was already fixed

[2018-12-04 03:38] #1671 closed

[2018-12-04 03:54] LeadSongDog commented on #1670
Seems to come up often when assigning a different work to an edition. Not sure but the donation banner may be causing more timeouts.

[2018-12-04 15:51] cclauss commented on #1508
@YBthebest Would you be willing to invest a bit of time on this one?

[2018-12-04 15:57] LeadSongDog commented on #1559
Perhaps  openlibrary/openlibrary/templates/lists/widget.html is what you seek?

[2018-12-04 16:03] YBthebest commented on #1508
@cclauss Yes, sounds like a nice one. I have some time today so I'll try to get started on some of them !

[2018-12-04 17:08] YBthebest commented on #1508
So I managed to bring down the number of undefined names from 127 to 87 in a first run, skipping the ones I didn't fully understand. By mistake I pushed it to the same branch as the other PR that was accepted. How can we fix that little mess? Thanks !

[2018-12-04 17:20] cclauss commented on #1508
Those mods do not belong on the __pprint()__ pull request.  Perhaps someone can mentor you through rolling them back.

Can you please create a new branch (git checkout master ; git checkout -b fix-some-undefined-names) and make those changes on that _separate_ branch and create a new PR (without the staggering comments).

[2018-12-04 18:09] LeadSongDog commented on #1663
Thank you. Now working as expected on production.

[2018-12-04 19:04] #1452 closed

[2018-12-04 19:30] anthonyattipoe commented on #1588
@jdlrobson ok, thanks for the heads up. I'm pivoting to that now. I noticed some js code within the loaded html page for a book list:
<img width="415" alt="html-js-snippet" src="https://user-images.githubusercontent.com/23226524/49467580-cbd82b00-f7d0-11e8-8d1b-62b98c23208f.png">

I tried to trace where that code was generated & added to the html file and found the following in "utils.js":
<img wi

[2018-12-04 21:44] seabelis commented on #1445
Another one. https://openlibrary.org/books/OL9143428M/Hamlet_Hamlet

[2018-12-04 22:45] LeadSongDog commented on #1445
Hmm. Some history diving finds
https://openlibrary.org/works/OL362709W/Hamlet?b=12&a=10&_compare=Compare&m=diff

The move to canonical form has really obscured these things.

[2018-12-05 00:40] tfmorris commented on #1445
I don't see any problem with https://openlibrary.org/books/OL13519675M (unless someone fixed it already), but https://openlibrary.org/books/OL9143428M.json has an author record of https://openlibrary.org/authors/OL2622133A.json which is a redirect.  In other words, the same analysis as my Nov. 15 analysis. They're not fixable with the current UI because the editions' authors aren't visible.

@Lead

[2018-12-05 12:39] seabelis opened #1676 "Bug: Merged works getting lost in space and time"
## Bug

![fullscreen capture 1252018 122844 pm bmp](https://user-images.githubusercontent.com/17739465/49510752-7875e380-f889-11e8-967c-8e17f87ae1c8.jpg)

Browser type/version? Chrome
Operating system? Windows 7 Pro
Production/dev/local? production

https://openlibrary.org/search?q=title%3Agatsby+author%3Afitzgerald&mode=everything (The active work initially did show a count of 51; I have since mo

[2018-12-05 14:30] seabelis commented on #1445
Yes, OL13519675M seems okay now.

[2018-12-05 17:06] #1625 closed

[2018-12-05 17:07] seabelis commented on #1445
Another. https://openlibrary.org/works/OL14915729W/The_enfolded_Hamlets

[2018-12-05 21:42] cclauss opened #1677 "Refactor/DRY amazon.py and catalog/merge/merge.py to duplicate less code"

[2018-12-06 03:17] cclauss commented on #1508
@YBthebest great work on #1674.  Now I think you see why it says above to only try to solve a few at a time and don’t try to solve them all in one pull request.  The review process becomes quite complex when a single PR contains many unrelated changes to multiple modules of a large codebase.  Smaller PRs _might_ move faster thru the review process.

[2018-12-06 05:03] #1508 closed

[2018-12-06 05:11] hornc opened #1681 "Possible unused code in MarcBinary, investigate and add tests"
## Bug

See discussion and changes on https://github.com/internetarchive/openlibrary/pull/1674/files/0ad062ad29a0e6be8ea8553f0619e5c6ac733e32#diff-a3e08d254953a47bdf06e0e1c98049aeL133

`read_isbn()` of the parent 'MarcBase.read_isbn()' should be sufficient in this case. _If not_ there should be either comments or tests and at the very least clear code to explain what situation it extra code is mea

[2018-12-06 05:21] hornc commented on #1662
thanks for investigating this @cdrini and for reporting it @seabelis, this is a new one to me, and the data loss look serious, thanks for the reminder re. revert. I think it should be included for any `librarian` user by default -- TBH I did not realise it wasn't!

[2018-12-06 08:32] tfmorris commented on #1662
To go with @cdrini's edition change, I think this is the work change where the data loss actually happened

https://openlibrary.org/works/OL15203981W/Hamlet?b=52&a=51&_compare=Compare&m=diff

[2018-12-06 09:26] cclauss opened #1684 "17 undefined names on Python 2.7"
This is a continuation of #1508 which was autoclosed by a partial solution.  In our Travis CI builds the __make lint__ command is still finding _undefined names_ https://travis-ci.org/internetarchive/openlibrary/jobs/464190432#L504).  Please see #1508 for best practices to be used when fixing these issues which are often, but not always a sign of dead code, missing imports, typos, or incomplete re

[2018-12-06 12:11] cdrini commented on #1668
If I recall correctly, this worked correctly, we just disabled it because of an edit war. To clarify, this is the revert button that appears on the view history page. I would argue we should enable it for all users if possible.

[2018-12-06 12:18] cdrini commented on #1662
Yep; steps forward for anyone who has some time (and an up-to-date dev env for testing :P) would be:

1) check to see if double clicking the save button causes this (this would be easy to fix and would probably prevent most cases of error)
2) confirm concurrent edits to an edition page behave as described (test with two browser windows). There might already be checks to prevent errors like this.

[2018-12-06 16:55] LeadSongDog commented on #1662
The corresponding edit to the edition OL25105972M which remapped it from OL16290875W to OL15203981W was done at: https://openlibrary.org/books/OL25105972M/Hamlet?m=diff&b=7 immediately preceding the change that @tfmorris linked:
https://openlibrary.org/works/OL15203981W/Hamlet?b=52&a=51&_compare=Compare&m=diff
Presumably these both occurred following @seabelis click on "Save".

[2018-12-07 23:20] cclauss opened #1688 "PyTest Mocks: Undefined name 'pytest_funcarg__XYZ'"
@hornc In this commit https://github.com/internetarchive/openlibrary/commit/009a42b20ef86bfae947f23844528d74b3197366 you did some magic around PyTest and we would like to see if you can that magic again around these two _undefined names_.  It would help us on #1684

https://github.com/internetarchive/openlibrary/blob/master/openlibrary/mocks/mock_ol.py#L49-L50

python -m flake8 ./openlibrary/mocks

[2018-12-07 23:42] cclauss commented on #1684
Down to 77: https://travis-ci.org/internetarchive/openlibrary/jobs/465187319#L504

[2018-12-08 07:33] cclauss opened #1694 ""python3 -m pip install OL-GeoIP" fails"
https://pypi.org/project/OL-GeoIP/1.2.4 is not updated since 2011

Do we need GeoIP?
Do we know what mods were made from upstream for the OL project?
Should we try to use upstream instead?

https://github.com/internetarchive/openlibrary/blob/master/requirements_common.txt#L23

https://travis-ci.org/internetarchive/openlibrary/jobs/465261888#L881
*  py_GeoIP.c:25:1: error: unknown type name ‘static

[2018-12-08 07:54] cclauss opened #1695 "'npm test' fails on Python 3 in vendor/js/wmd/jsmin.py"
With the mods from #1693, Travis Python 3 [__npm test__](https://travis-ci.org/internetarchive/openlibrary/jobs/465262458#L918-L935) fails...
[code]

Can we revendor to get Python 3 compatible versions?  https://pypi.org/project/jsmin

[2018-12-08 16:31] dnguneratne opened #1696 "Update Docker instructions for Windows users"
## Bug

`docker build -t olbase:latest -f Dockerfile.olbase ..` command fails on step 15.

![docker_err_on_setup_1](https://user-images.githubusercontent.com/8231763/49688038-57f09800-fada-11e8-8f10-7a94f2f305ae.png)

Docker build command should successfully execute.

OS: Windows 10

1. Clone repository.
2. `cd` in to `openlibrary/docker`
3. Run `docker build -t olbase:latest -f Dockerfile.olbase

[2018-12-09 14:48] dnguneratne opened #1698 "Remove TODO section in docker instructions"
Since #1697 landed @cdrini pointed out [here](https://github.com/internetarchive/openlibrary/pull/1697#issuecomment-445543236) that the TODO section is no longer required.

@mekarpeles
@cdrini

[2018-12-09 21:56] #1698 closed

[2018-12-10 00:58] Whales1992 commented on #686
interested.  kola.victor@yahoo.com

[2018-12-10 06:09] hornc commented on #1530
This looks like it may be fixed since the original import of that book was performed

I imported this book to my local dev environment:
` r = ol.session.post(ol.base_url + '/api/import/ia', data={'identifier': 'sexuallytransmit00egen'})`

and it picked up the following data from the original MARC, the author's name is only in the 700 field, so it is picking it up, at least for a new import?

[code

[2018-12-10 21:04] LeadSongDog opened #1703 "Changing Edition title causes an incorrect temporarily offline message"
## Bug

Here, changing Le to La in the edition title yields this result
![closed](https://user-images.githubusercontent.com/11435431/49761174-45ba5980-fc94-11e8-92d4-dc00bdddb353.jpg)

Loaded page should be
https://openlibrary.org/books/OL18885401M
which would then correctly redirect to the slugged
https://openlibrary.org/books/OL18885401M/La_France_sous_le_Directoire_1795-1799
instead of going ba

[2018-12-10 22:03] mekarpeles opened #1704 "Bookcover size regression on editions page"
## Bug

![2018-12-10-131902_1600x900_scrot](https://user-images.githubusercontent.com/978325/49764294-e2283000-fc83-11e8-80db-3f364b9057e6.png)

![2018-12-10-131855_1600x900_scrot](https://user-images.githubusercontent.com/978325/49764288-ddfc1280-fc83-11e8-8846-f8a277ff80ee.png)

Navigate to any editions page: https://openlibrary.org/books/OL18885401M/La_France_sous_le_Directoire_1795-1799

On
`.

[2018-12-10 23:54] #1704 closed

[2018-12-11 01:42] mekarpeles opened #1708 "Clicking expanded nav icons should close menu"
## Bug

When main header nav menu is activated, clicking on its corresponding button does not close the menu leading to a confusing experience

Similar to #1177 and #1575

Click your account icon in the header to activate the dropdown menu and then click it again (nothing happens)

[2018-12-11 07:05] tfmorris commented on #1695
wmd hasn't been updated in 10 years and the [ReadMe](https://github.com/derobins/wmd) says "Please use PageDown instead". It looks like [PageDown](https://github.com/ujifgc/pagedown) hasn't been updated in 4 years, so there could be better alternatives.

jsmin.py wasn't/isn't part of the wmd repo, but was added by Anand in 2009.

It looks like the simplest fix is just to patch jsmin.py (It's unrel

[2018-12-11 07:45] seabelis commented on #1703
I'm getting this after saving almost any edit, works and editions.

[2018-12-11 08:16] seabelis opened #1709 "Most of Edit Mode Broken"
## Bug

![fullscreen capture 12112018 85639 am bmp](https://user-images.githubusercontent.com/17739465/49786101-ea837800-fd22-11e8-88ee-dbff68e7431f.jpg)

[2018-12-11 08:59] cclauss commented on #1695
The jsmin versions (including the PyPI version) all seem to share a similar genealogy of [Crockford --> Even --> St.Germain](https://github.com/tikitu/jsmin/blob/master/jsmin/__main__.py#L3-L8) and the reason that I like the [PyPI version](https://pypi.org/project/jsmin) is because:
1. "Recent" updates have been made:
    * https://raw.githubusercontent.com/tikitu/jsmin/master/CHANGELOG.txt
2. Tes

[2018-12-11 09:35] bamoha commented on #1593
One solution to this is to probably have a dummy image show until a real image comes up.. Using something like

`let image = image ? data.img : img.png;`

[2018-12-11 10:43] seabelis commented on #1709
Author drop-down is also unresponsive.

[2018-12-11 16:47] LeadSongDog commented on #665
@mekarpeles This is back with a vengance. Not only can I not dismiss the banner, but it stops me from editing too. Lack of access to archive.org should not block the use of openlibrary.org

[2018-12-11 16:48] seabelis commented on #1709
Seems pretty much all of edit mode is broken, author, language, librarian mode, covers...

[2018-12-11 18:07] LeadSongDog commented on #665
#1709 seems to relate. Sending all this unwanted analytics code to the browser is highly problematic for users on locked-down platforms, as are common on public-access, school labs, or corporate environments.

[2018-12-11 18:08] cdrini commented on #1709
It looks like none of the JS is working on the page. My guess is an error is occurring which is preventing the rest of the JS from loading. The console displays this:

[code]

The first error links to here:

[code]

This makes me think it's related to this commit: 9095d7ca30da7190cb73c78730d6ade50e92cca2 (Update all submodules) which updated the WMD editor (the markdown editor).

[2018-12-11 18:14] cdrini commented on #1709
Yep, that's the issue. The version we updated to has this error: https://github.com/internetarchive/wmd/pull/1 .

[2018-12-11 18:14] cdrini commented on #1709
Pinging @tfmorris

[2018-12-11 18:31] LeadSongDog commented on #1709
I'm pretty sure it started at the same time as #1707 hit production. Since then, I've been unable to do any but the most trivial edits. Whether it is a problem with all js or something more specific, I can't be sure. The first error is inability to load https://archive.org/includes/js-cookie.js?v=d3427d7

[2018-12-11 20:43] mekarpeles commented on #1709
@seabelis + @LeadSongDog I think I've just pushed a fix -- do you want to see if these latest changes solve the problems you're facing?

thank you!

[2018-12-11 20:44] tfmorris commented on #1709
@cdrini Wasn't my fault! (But I think @mekarpeles has already fixed it).

[2018-12-11 20:51] seabelis commented on #1709
Seems okay now.

[2018-12-11 20:55] mekarpeles commented on #1709
@tfmorris the reason you got tagged was because those are the benefits of being super knowledgable about reliable for a codebase 🤣

ok! Things seems resoled :)

[2018-12-11 20:55] #1709 closed

[2018-12-11 22:01] LeadSongDog commented on #1709
ty. seems to be working more or less as-normal

[2018-12-11 22:41] #1235 closed

[2018-12-11 23:43] LeadSongDog commented on #665
Evidently #1709 was a distinct issue. Editing is re-enabled, but it remains impossible to set the cookie from archive.org

[2018-12-12 00:54] cdrini commented on #1709
Haha, wasn't trying to fault you, @tfmorris! My apologies if it appeared like that. Just thought since you made the commit, you might know how to revert it quickly. I don't know how to change the submodule versions, and my dev env is super out of date, so it would take me too much time to fix this.

[2018-12-12 05:11] cclauss commented on #1695
Well done @tfmorris closed in internetarchive/wmd#2.

[2018-12-12 05:11] #1695 closed

[2018-12-12 05:13] #1501 closed

[2018-12-12 05:14] cclauss commented on #1455
Closing in favor of #1679

[2018-12-12 05:14] #1455 closed

[2018-12-12 13:37] yagyanshbhatia commented on #686
hi @mekarpeles !
I think my beliefs resonate with those of archive.org and I'm very excited to contribute! Please add me to the slack group :smile:

[2018-12-13 00:15] jdlrobson opened #1716 "Creating new work doesn't save added author"
## Bug
Visited https://openlibrary.org/authors/OL539266A/Michael_Pollan
Clicked "Add another"
![screen shot 2018-12-12 at 4 14 44 pm](https://user-images.githubusercontent.com/148752/49907006-33255900-fe29-11e8-9886-df2b83e104f3.png)

Filled in work.
Realised book page didn't link to author.

## **Expectation**:

Since the author was made clear from the start of the workflow, the book should have

[2018-12-13 02:34] jdlrobson commented on #1559
Hey @erisugita did you get what you needed here? I believe @LeadSongDog is right. Sorry for the delay (I just got back from vacation)

As well as that, you'll want to look at the CSS in static/css/legacy.less (preferably pulling out the relevant bits into a documented file in static/css/components/

End result should look something like this:

![screen shot 2018-12-12 at 6 32 42 pm](https://user-i

[2018-12-13 05:48] seabelis commented on #1716
Also when creating a new work. Populating the author in the initial form does nothing. Author must be added or created in the edition edit screen.

[2018-12-13 14:11] LeadSongDog commented on #1716
#352 should be done first. Work edits should only select an OLxxxA id. Edition edits should only select a work id. Edition-specific contributors should not be conflated with authors.

[2018-12-13 16:47] jdlrobson commented on #1669
This appears to be working now.
When I visit https://openlibrary.org/subjects/biographies#sort=date_published&ebooks=true I do not see any JavaScript Reference errors (logged in or anon)

Please reopen if this is not the case!

[2018-12-13 16:47] #1669 closed

[2018-12-13 16:51] jdlrobson commented on #1575
There is a remaining issue (the one reported). There is indeed a problem here demonstrated by this gif (the area between the icon and the menu):

![gap](https://user-images.githubusercontent.com/148752/49954005-46c9d180-feb4-11e8-91f4-612a5aa70ef4.gif)

[2018-12-13 17:02] jdlrobson commented on #1708
Playing devils advocate - is this necessary/confusing?
Right now the menu is non-JS and works on hover.

We could change this behaviour to work on "active" (ie. menu button is clicked) so this works a bit like the Github "watch" button

![click](https://user-images.githubusercontent.com/148752/49954527-8513c080-feb5-11e8-9365-0118d1b895f9.gif)

or we could make the menu button a clickable link and

[2018-12-13 17:05] jdlrobson commented on #1708
(see also: #1514 which might be interesting to consider as part of this task)

[2018-12-13 17:13] jdlrobson commented on #1593
A slick-loading class is present on img tags before they are loaded so this is what I propose:

[code]

If we add a CSS animation for the opacity, this will be much better than the status quo!
Anyone want to work on this task?

[2018-12-13 17:14] jdlrobson commented on #1588
Sorry for the late reply @anthonyattipoe  I've been on vacation.
I'm back now and keen to help you with this!

First things first, right now, any changes to JS need to be followed by:
[code]

does that make your changes show up?

[2018-12-13 17:15] jdlrobson commented on #1566
Assigning myself to remember to look into this..

[2018-12-13 17:35] LeadSongDog commented on #1566
Part of the difficulty is that when these messages display, they persist for only a second or two, then disappear. By the time you recognize what's happening it's too late for a screengrab.

[2018-12-13 17:43] jdlrobson commented on #1566
Okay, I looked into this, and the problem is that we don't add flash-messages div to the HTML and we don't include the CSS. So what happens is the error gets delayed until you visit a non-V2 page. I can get a fix for this out this week..

[2018-12-13 19:16] LeadSongDog commented on #412
@cdrini That last was your work wasn't it? Care to take this bit on too?

[2018-12-13 20:16] mekarpeles commented on #1708
On active may make most sense, especially for mobile. The want to read button behaves similarly in that it's hard to close when the drop-down is active

[2018-12-14 11:11] seabelis commented on #1566
@jdlrobson Yes, piled up somewhere...
![fullscreen capture 12142018 120758 pm bmp](https://user-images.githubusercontent.com/17739465/50000206-1ad44c00-ff99-11e8-9745-62acd8b5cea6.jpg)

Possibly related to https://github.com/internetarchive/openlibrary/issues/1670. Once the dam breaks I stop getting the offline screen for a while.

[2018-12-14 15:51] seabelis commented on #1662
Just happened again. https://openlibrary.org/works/OL762601W/The_Barrytown_Trilogy?b=17&a=16&_compare=Compare&m=diff

[2018-12-14 16:50] LeadSongDog opened #1723 "Add merge-authors magic wand to publisher search"
On work search results, the found authors are offered as merge options by:
https://github.com/internetarchive/openlibrary/blob/6f9995fc608f207b3d8617c75fdb90354d26ee18/openlibrary/templates/work_search.html#L265-269

The same thing could be done on publisher search results. For instance:
https://openlibrary.org/publishers/Sang-e-Meel
Could offer mergers as:
![authmergefrompubl](https://user-images

[2018-12-14 19:53] LeadSongDog commented on #1566
I may be imagining it, but it seems that the flashes only come out when I do a search:  I don't see them on a key-based query.

[2018-12-14 20:50] jdlrobson commented on #1566
Search is one of the few v1 pages (old non mobile friendly) so that doesn't surprise me. Above fix will take care of this!

[2018-12-14 21:03] scottrlarson commented on #686
I would like to add a table of contents to “"An Etymological Dictionary of Modern English“ epub format at
https://archive.org/details/etymologicaldict00weekuoft. does the archive accept these kinds of contributions?

[2018-12-14 23:13] jdlrobson opened #1725 "Subject search pages should be v2"
## Bug
When I visit https://openlibrary.org/search/subjects?q=romance on a mobile device I do not see an optimised page.

The page should be fixed to the viewport (not zoomed out)

All browsers.

[2018-12-14 23:18] jdlrobson opened #1726 "Optimise people page (historyPager) for mobile"
## Bug

When I visit https://openlibrary.org/people/horncBot on a mobile device, my browser suffers from horizontal scrolling

![screen shot 2018-12-14 at 3 15 14 pm](https://user-images.githubusercontent.com/148752/50034733-17e65500-ffb3-11e8-9240-128e084e94fe.png)

There should be no horizontal scrolling

All browsers

![screen shot 2018-12-14 at 3 15 48 pm](https://user-images.githubusercontent

[2018-12-14 23:21] jdlrobson opened #1727 "Developers page should be v2"
## Bug

Visit https://openlibrary.org/developers/api on a mobile device. The page is not mobile optimised:
![screen shot 2018-12-14 at 3 19 57 pm](https://user-images.githubusercontent.com/148752/50034856-bffc1e00-ffb3-11e8-84f0-8c0a696943fd.png)

it should be limited to the viewport like the home page https://openlibrary.org

All mobile devices

To migrate a page do the following
- [ ] Set v2 on

[2018-12-14 23:22] jdlrobson opened #1728 "Data page should be v2"
## Bug

Visit https://openlibrary.org/data
on a mobile device. The page is not mobile optimised:

it should be limited to the viewport like the home page https://openlibrary.org

All mobile devices

To migrate a page do the following
- [ ] Set v2 on the page object passed to any templates (e.g. 8d79b57)
- [ ] confirm #test-body-mobile is present in the HTML
- [ ] Load the page and view source. Ide

[2018-12-14 23:26] jdlrobson opened #1729 "Lists widget overlaps the lists on the subject page in mobile + desktop"
## Bug
Lists widget overlaps the lists on the subject page

![screen shot 2018-12-14 at 3 24 20 pm](https://user-images.githubusercontent.com/148752/50034954-5defe880-ffb4-11e8-9be6-4d5c43adfa52.png)

They shouldn't overlap.

Any. Impacts both mobile and desktop.

Visit https://openlibrary.org/subjects/art
Make sure you are logged in and have created some reading lists.

It looks like the followin

[2018-12-14 23:36] jdlrobson commented on #314
What happened here? DoS's shouldn't be open 2 years later! :)

[2018-12-14 23:37] jdlrobson commented on #540
This seems a little old and was reported about the old jCarousel so I'm bolding resolving this. Please open a new bug if there is something wrong with the current implementation.

[2018-12-14 23:37] #540 closed

[2018-12-14 23:39] jdlrobson commented on #96
This bugs is a few years old now. @mekarpeles let's review this one and see if there's anything that applies to the 2018 version!

[2018-12-14 23:42] jdlrobson commented on #1339
@dylsteck any news to report ? I'd like to fix this and several other things early next year!

[2018-12-14 23:42] jdlrobson commented on #1305
This was reported about the old jCarousel (which has now been removed) so I'm bolding resolving this. Please open a new bug if there is something wrong with the current implementation.

[2018-12-14 23:42] #1305 closed

[2018-12-14 23:46] jdlrobson commented on #1157
@mekarpeles I forget what this was about now... can you flesh out the description with more information about what we talked about here for the benefit of others?

[2018-12-14 23:47] jdlrobson commented on #1016
@LeadSongDog not sure I understand this bug. Can you please update the description to make it clearer. I don't see any carousel on https://openlibrary.org/authors/OL2440391A/Smith_John...

[2018-12-14 23:52] jdlrobson commented on #972
I'm a little confused about the talk of the EFF...

I guess this is a sub-task but when I share to a social network such as Facebook I see a sad preview like this:
![screen shot 2018-12-14 at 3 49 11 pm](https://user-images.githubusercontent.com/148752/50035583-dc01be80-ffb7-11e8-85f8-b14f8c0b386a.png)

The OpenGraph protocol can improve this and make it more attractive to share content.

For http

[2018-12-14 23:53] jdlrobson commented on #634
Not sure I understand this one @mekarpeles can you refresh the description of this task so it can be better understood?

[2018-12-14 23:54] jdlrobson commented on #618
Carousel is working fine for me here on this page so closing..

[2018-12-14 23:54] #618 closed

[2018-12-14 23:54] jdlrobson commented on #600
This doesn't seem applicable now we have removed all jCarousel code.

[2018-12-14 23:54] #600 closed

[2018-12-14 23:57] jdlrobson commented on #602
Is this still a problem? I'm not quite understanding the issue here.  I'm not seeing an links to archive.org

[2018-12-15 00:55] jdlrobson opened #1732 "Remove the need for jquery-migrate and upgrade jQuery to version 3"
## Feature

We are using jquery-1.11.0.min.js which is 5 years old and adds IE < 8 support (if we jump to jquery 2 we can drop that support but that's another story).
However, we are also using jquery-migrate to provide backwards compatibilities to older jQuery versions.

When you use the minified version of jquery-migrate, any errors are quietly silenced.

We should surface these errors in the Ja

[2018-12-15 01:00] jdlrobson commented on #975
hehe.. this is a little ambitious and definitely needs lots of thought.
My impression of React is that it's primarily targeted at systems that are isomorphic (e.g. Node.js) or that don't care about non-js versions (check out Facebook without JS).

https://github.com/markfinger/python-react looks promising, but ideally we'd want something that allows Python server side rendering (to replace our exi

[2018-12-15 01:02] jdlrobson commented on #1066
Per https://github.com/internetarchive/openlibrary/pull/1107#issuecomment-432033672 let's close this.

[2018-12-15 01:02] #1066 closed

[2018-12-15 01:03] jdlrobson commented on #624
Can I get an update on this since lots has changed? Is this still a problem? Could the description be updated to explain how to replicate?

[2018-12-15 01:35] jdlrobson commented on #685
Would you be okay with closing this in favor of #1313 and expanding the latter with anything specific not captured there?

[2018-12-15 01:58] LeadSongDog commented on #1016
I just used John Smith as an illustration. Any common name has the same behaviour. Look at a book by one Helen Young and books by other Helen Young’s  show up in the carousel. Often these are from different centuries. It still happens even on mobile.

[2018-12-15 02:14] jdlrobson commented on #1016
Are you referring to the fact that   on https://openlibrary.org/works/OL217077W/The_art_of_painting_in_oyl "more by john smith" shows books that are by different john smiths?

[2018-12-15 03:10] LeadSongDog commented on #1016
Exactly. It should instead show just the _same_ olid’s works by
https://openlibrary.org/authors/OL2440391A/John_Smith

[2018-12-15 13:14] Pratyush1197 commented on #1726
@jdlrobson  Please assign me this issue. I want to work on it

[2018-12-15 16:45] LeadSongDog commented on #624
However, a new edit at https://openlibrary.org/authors/OL3351423A/Charles_P._Mckeague?b=2&a=1&_compare=Compare&m=diff was promptly reflected on the cover, so there has been progress.

[2018-12-15 17:06] tfmorris commented on #624
Let's keep search stuff separate and focus issue this in the Javascript bug that @mekarpeles reported.

[2018-12-15 18:38] LeadSongDog commented on #624
@tfmorris What search stuff?

[2018-12-15 22:17] jdlrobson opened #1734 "Edit icon misaligned on books page"
The edit icon on https://openlibrary.org/books/OL1402526M/The_kitchen_god's_wife should appear in the top LEFT corner(consistent with works and profile) and should be aligned with the content below it.

This is not the case here:

![screen shot 2018-12-15 at 2 15 11 pm](https://user-images.githubusercontent.com/148752/50047909-e6818e00-0073-11e9-9ad5-86641ae00167.png)
![screen shot 2018-12-15 at 2

[2018-12-15 22:52] jdlrobson commented on #1585
@anthonyattipoe just assigned myself to make sure I see any follow ups you make! Looking forward to seeing this land!

[2018-12-15 22:55] jdlrobson commented on #833
See related #972 and my comment https://github.com/internetarchive/openlibrary/issues/972#issuecomment-447512925

[2018-12-15 22:56] jdlrobson commented on #1075
Can you give an example of a orphaned edition?

[2018-12-15 22:58] jdlrobson commented on #40
I'm not 100% sure what history-v2 is but I've seen mentions of it in the code. Could somebody explain what it is?

[2018-12-15 23:00] jdlrobson commented on #147
[code]
is working for me.
Is this bug from 2012 fixed?

[2018-12-15 23:04] jdlrobson commented on #1220
I can't replicate this any more... did this get fixed?

[2018-12-15 23:04] jdlrobson commented on #1262
@usmanmuhd are you still interested in working on this? If so anything I can help with?

[2018-12-15 23:06] jdlrobson commented on #1110
^ ping @mekarpeles can you give @Zacharius some feedback?

[2018-12-16 04:11] LeadSongDog commented on #624
Oh, perhaps I misunderstood @mekarpeles original post. By "page is refreshed" did you intend "browser cache is cleared" or "the served page is refreshed"?

[2018-12-16 04:11] LeadSongDog commented on #624
Oh, perhaps I misunderstood @mekarpeles original post. By "page is refreshed" did you intend "browser cache is cleared" or "the served page is refreshed"?

[2018-12-16 17:36] pizza-r0b commented on #1593
Hi there. I can work on this.

[2018-12-16 18:15] Pratyush1197 opened #1736 "Unable to implement setup.py commands"
Under the **Basic developer commands section**  setup.py commands are not executing. While I cannot find the **setup_commands.py** file mentioned in screenshot and the link is also not working. I tried downloading setuptools and then executing the commands but the effort went in vain
Here is the screenshot.

![screenshot_2018-12-16 internetarchive openlibrary](https://user-images.githubusercontent

[2018-12-17 06:03] pizza-r0b commented on #1593
I've got a branch for this fix 😀Can I be added as a contributor so I can submit a PR?

[2018-12-17 16:01] usmanmuhd commented on #1262
I was getting ip not found error during setting up docker 91.189.88.152 and when i changed the network and ran again it gave hash mismatch error.

[2018-12-17 16:06] cdrini commented on #1262
@usmanmuhd could you create a new issue? Be sure to include your OS, version of docker, what commands you ran, and the output you got back.

[2018-12-17 16:18] seabelis opened #1737 "Cannot leave waiting list from loans page."
## Bug

Cannot leave waiting list from loans page.

Item should be removed from waiting list when action is clicked.

Logged in? Yes
Browser type/version? Chrome Version 70.0.3538.110 (Official Build) (64-bit)
Operating system? Windows 7 Professional 64-bit
Production/dev/local? production

1. add book to waiting list
2. go to loans page
3. Click "Leave the waiting list?"

[2018-12-17 16:40] jdlrobson commented on #1668
How do I enable this locally? I was having trouble trying to test some code relating to this?

[2018-12-17 16:45] cdrini commented on #1668
Not sure... Searching GitHub, https://github.com/internetarchive/openlibrary/pull/567 might be related? But @mekarples would know for sure.

[2018-12-17 18:08] #679 closed

[2018-12-17 18:08] #1510 closed

[2018-12-17 18:08] #1725 closed

[2018-12-17 18:08] #1728 closed

[2018-12-17 19:46] #1566 closed

[2018-12-17 20:07] jdlrobson commented on #679
Hurraahhhh

[2018-12-17 20:08] jdlrobson commented on #679
I'll cut open more specific tasks as there are still likely to be many problems with mobile friendliness!

[2018-12-18 00:33] #1313 closed

[2018-12-18 12:55] seabelis opened #1740 "Cannot move past first page of reading log"
## Bug

Only the first 100 results are being shown on users' Reading Log.

https://openlibrary.org/account/books/want-to-read

[2018-12-18 16:32] jdlrobson opened #1741 "Blob of JS in default_edit template can likely be removed"
In https://github.com/internetarchive/openlibrary/pull/1731#discussion_r242253471 we discovered a blob of JS inside openlibrary/templates/default_edit.html

Firstly, what pages use this template?
Secondly, are we confident it can be removed?

[2018-12-18 16:36] jdlrobson opened #1742 "Cleanup openlibrary/plugins/openlibrary/js/lazy.js"
The file openlibrary/plugins/openlibrary/js/lazy.js contains various plugins that do not seem to be used anywhere.

* $.hoverIntent
* $.scrollTo (http://flesler.blogspot.com/2007/10/jqueryscrollto.html)
* $.highlight
* $.dataTable
* Columnize Plugin for jQuery
* jTruncate

I think the only parts in this file that are relevant are 2 global functions exported to the global namespace:
* plot_tooltip_

[2018-12-18 19:09] jdlrobson commented on #1613
This is now mobile-optimised given v2 is everywhere
e.g. https://dev.openlibrary.org/22233223

[2018-12-18 19:09] #1613 closed

[2018-12-18 19:10] jdlrobson commented on #1727
This is now mobile-optimised given v2 is everywhere
e.g. https://dev.openlibrary.org/developers

[2018-12-18 19:10] #1727 closed

[2018-12-18 19:11] jdlrobson commented on #1726
Let me know @Pratyush1197 if I can help!

[2018-12-18 23:38] #1572 closed

[2018-12-19 10:48] seabelis commented on #228
I'm wondering what ever became of this. It is possible to add an excerpt and indicate it is the first sentence, however, one still must comment that it is the first sentence for that to be indicated on the page.

[2018-12-19 17:23] LeadSongDog opened #1745 "Minor: "0 edition" should read "0 editions""
Change > 1 to != 1 at:
https://github.com/internetarchive/openlibrary/blob/7bbff29027068facad24d41ce1edac5da5171f6f/openlibrary/templates/type/work/editions_datatable.html#L4

[2018-12-19 18:52] Pratyush1197 commented on #1726
@jdlrobson I made the PR. Please check it if it's not wrong. Also can you guide me how can i join slack group?

[2018-12-19 19:51] LeadSongDog commented on #1745
When moving the last edition from a work to the merged work it leaves the emptied/orphaned work.
Before:
![before](https://user-images.githubusercontent.com/11435431/50244209-58701500-039d-11e9-9cd3-f366211f54c0.png)
After:
![after](https://user-images.githubusercontent.com/11435431/50244220-5e65f600-039d-11e9-8950-c92230e0e6e8.png)

[2018-12-20 18:35] Num170R commented on #1220
I can't reproduce anymore. Voting to close

[2018-12-20 21:42] jdlrobson commented on #1732
We might want to add unit tests before doing this as this will give us much more confidence that our JS code is jquery ready!

[2018-12-21 13:28] Num170R opened #1752 "ReadPanel book prices cramped together"
## Bug
Not really a bug, just a minor glitch. It would be nice if we could include some space between the item providers and the prices.

![buy_this_book_section](https://user-images.githubusercontent.com/9248823/50344241-df0a2b00-0532-11e9-9f6d-972e89c11729.png)

![buy-options-table](https://user-images.githubusercontent.com/9248823/50344249-e598a280-0532-11e9-8486-58337a541c48.png)

The screensh

[2018-12-21 20:45] mekarpeles commented on #317
I think this is related:

[code]

[2018-12-21 22:18] #1726 closed

[2018-12-21 23:20] jdlrobson commented on #1553
I noticed during the banner campaign that every visit to Open Library also hits the banner website. This means every page visit in OpenLibrary is making 2 sequential server side http requests.

I'm curious if we moved this call to JS whether we would see a dent in TTFB.

[2018-12-21 23:44] jdlrobson commented on #936
Vagrant is no more \o/. Closing, but please open if I've missed something here that needs to be fixed.

[2018-12-21 23:44] #936 closed

[2018-12-21 23:47] jdlrobson commented on #1197
@tfmorris I'm still hitting this issue. I can't login as an admin. Every time I log in I end up as the user openlibrary7774

I for some reason have the user "openlibrary7774" locally. @hornc pointed out this could be a file permission issue.

[2018-12-21 23:47] jdlrobson commented on #1134
This looks resolved to me!

[2018-12-22 00:34] mekarpeles opened #1754 "Search results should clearly identify unavailable books"
## Description

Users are confused when they search for a book and the search result items don't explicitly / clearly state when the book is not readable (users assume it is).

## Evidence

https://openlibrary.org/search?q=potter&mode=everything

![screen shot 2018-12-21 at 15 15 58pmpst](https://user-images.githubusercontent.com/978325/50368443-91df8680-053d-11e9-966a-b4d5749298d6.png)

## Expect

[2018-12-22 00:54] mekarpeles commented on #1754
[code]

[2018-12-22 02:24] mekarpeles opened #1755 "Readme for scripts"
## Description

Add readme to scripts dir

## Evidence

## Expectation

## Details

e.g. `https://openlibrary.org/...`

## Proposal

## Constraints

## Priority

## Stakeholders

[2018-12-22 03:35] LeadSongDog commented on #317
So in
https://openlibrary.org/subjects/place:sacsahuam%C3%A1n_site_(peru)
The position 25 is the accented character %C3%A1  (á) in “Sacsahuamán Site (Peru)”
Note that query shows six books but none have covers, even placeholder covers.

[2018-12-22 19:44] LeadSongDog commented on #927
The same or similar problem is there for redirected works. https://openlibrary.org/search?q=Ed+OL24162W&mode=everything finds and shows just the redirect. https://openlibrary.org/search?q=OL24162W&mode=everything shows just the target. Both the redirect and the target show in the “what work is this an edition of” dropdown, which is very confusing for users.

[2018-12-24 04:30] jdlrobson commented on #1752
https://dev.openlibrary.org/books/OL20941603M/The_perfect_storm

There are a few problems with the read panel component.
https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#read-panel

I think @mekarpeles is fixing some issues with font sizes that may help here.

[2018-12-24 16:49] jdlrobson commented on #1134
@cdrini I've listed all the files above. Don't know enough about the config to know which can be deleted, but openlibrary/plugins/upstream/account.py is a doc change and the lines in gitignore and dockerignore can be removed.

[2018-12-24 22:51] mekarpeles opened #1758 "Html sanitize encoding regression due to upgrading Genshi for python3"
Relates to #1455

## Description

Fixes encoding issue caused by upgrading genshi to new python3 compatible version

## Evidence

in core/helpers.py in OL codebase, default encoding type for html sanitizing is `None` but this causes an issue in python2 version of new Genshi codebase which results in errors on e.g. books page

https://dev.openlibrary.org/books/OL23245761M/The_corrections?debug=true

[2018-12-25 00:08] #1758 closed

[2018-12-25 00:33] jdlrobson commented on #975
I'd like to stall this until at the very least
#1732 #1742 #1489 #1092 #1123 are resolved.

[2018-12-25 10:41] adenrulz commented on #686
Hi, I'd like to join the slack channel. I'm a jr front end developer. I could help for the design.

mihrice@gmail.com

Universal access to all knowledge

[2018-12-26 02:05] jdlrobson opened #1761 "Harry Potter doesn't render !!!"
## Description

A url fails with a render error

## Evidence

![screen shot 2018-12-25 at 6 03 37 pm](https://user-images.githubusercontent.com/148752/50428855-78a54580-086f-11e9-9673-054bfb68514e.png)

?debug=true amongst other information shows:
[code]

https://openlibrary.org/books/OL24239956M/Harry_Potter_and_the_Sorcerer's_Stone

## Expectation

It should render! People need their Harry Potte

[2018-12-26 02:13] jdlrobson opened #1762 "Thumbnails get cut up/squished on list pages (on mobile) and in search results"
## Description

Thumbnails are getting cut off on list pages.

In search autocomplete results......... and inside lists (e.g http://localhost:8080/account/books/want-to-read) they sometimes get squished.

![screen shot 2018-12-26 at 2 55 53 pm](https://user-images.githubusercontent.com/148752/50459251-5e767080-091e-11e9-9749-e0a37660404b.png)

This seems to be caused by mixing height and width def

[2018-12-26 04:46] tfmorris opened #1763 "Report / flag record gone?"
There used to be a Report item button with a flag icon available on pages which would send email with a link to the page that it was invoked from. It's either gone or so well hidden that I can't find it on the edition

  https://openlibrary.org/books/OL25398236M/the_night_before_christmas

and it's associated work record. As far as I can tell, they're bogus entries from an anonymous IP.

[2018-12-26 05:20] tfmorris commented on #1761
This is a single edition which fails to render, so I'm doubtful that it warrants three exclamation points.

I haven't full investigated, but I'm suspicious that the book record: https://openlibrary.org/books/OL24239956M.json
points to a work record which is a redirect: https://openlibrary.org/works/OL13716949W.json

Additional random weirdness - the work record has subjects attached to it.

[2018-12-26 08:02] mekarpeles commented on #1761
This seems to be an issue with caching which is recurrent. My suspicion is something like our cache system having trouble serializing web.ctx Storage objects. The issue in this case is solved with the following patch (which seems like a hack, treating the symptoms):

[code]

[2018-12-26 08:04] mekarpeles commented on #1761
Specifically, in this case, the issue appears to be caching `work_subjects_authors = cached_work_authors_and_subjects(work.key) `

[2018-12-26 16:19] tabshaikh commented on #1763
Are you looking for this flag @tfmorris
![flag](https://user-images.githubusercontent.com/31198893/50451122-20963e00-0958-11e9-89ac-2d8db4e2a1d0.png)

[2018-12-26 16:20] tabshaikh commented on #1763
Which was turned into this link https://openlibrary.org/contact?path=/

[2018-12-26 17:39] tabshaikh commented on #1763
Actually, this flag has been replaced by contact and support in the footer

[2018-12-26 20:10] tfmorris commented on #1763
OK, well that's broken. "Contact" isn't the same thing as "Report a problem" to most users and the ?path= parameter doesn't work. It's supposed to have the path for the page where the user started when reporting the problem, but it appears to always be hardwired to "/".

Is there a discussion somewhere about removing the old functionality?

[2018-12-26 20:18] tfmorris commented on #1761
Even if the redirect is a red herring, we shouldn't have internal links to redirects. That's inefficient and wasteful. They should be reserved for helping external clients who've saved a now invalid reference.

Can you expand a bit on the details of the cache issue? Is it storing a partial/corrupted object which is triggering the error on a cache hit? Are we sure that it's following/resolving the

[2018-12-26 20:41] tfmorris commented on #1761
I investigated further and it looks to me like it's trying to memoize/cache the [redirect object](https://openlibrary.org/works/OL13716949W.json), which, of course, doesn't have authors (and shouldn't have subjects).

Either `lending.get_work_authors_and_related_subjects()` or the method that it calls, `web.ctx.site.get(work_id)` needs to resolve the redirect, but I'm not sure where the main redir

[2018-12-26 20:59] jdlrobson commented on #818
I vote we drop this page since https://dev.openlibrary.org/account seems to be its replacement.

This seems to be code for infogami that has been replaced. This along with

[2018-12-26 21:43] tfmorris commented on #317
@mekarpeles Did that request get logged correctly? The logged string "/subjects/place:sacsahuam_site_(peru)" doesn't contain any utf-8 characters that I can see.

Did you want to reopen this issue? I recommend either doing that or creating a new issue if you want someone to investigate this. Otherwise it's likely to get overlooked.

[2018-12-26 21:45] tfmorris commented on #1567
I also suspect stop words are being removed from author queries, so that "William A Smith" is equivalent to "William Smith"

[2018-12-26 22:10] tfmorris commented on #714
It looks like the ligature in Æschylus is getting converted to the replacement character (?schylus) someplace before the query gets to Solr. Now to track down where...

`solr_1       | INFO: [] webapp=/solr path=/select params={fq=type:author&fq=&q.op=AND&q=?schylus&start=0&rows=100&fl=*&qt=standard&wt=json&sort=work_count+desc} hits=0 status=0 QTime=4
`

[2018-12-26 23:06] jdlrobson commented on #959
Duplicate of 1032

[2018-12-26 23:06] #959 closed

[2018-12-27 06:38] tfmorris commented on #959
Traditionally one keeps the oldest report of a set of duplicates. Is there a reason this one is being closed in favor of one that was created months later?

p.s. The # sign in front of an issue number is critical to creating xrefs forward and back.

[2018-12-27 06:54] jdlrobson commented on #959
#1032 is much **much** more descriptive then this one... I'm still not sure about the protocol for editing issues posted by others.

I've found in Wikimedia projects, keeping the most descriptive/most discussed is a better rule than age.

[2018-12-27 18:51] jdlrobson commented on #1741
Similar question to #818 ... how do default_input.html, default_rdf.html, dedault_view and default_edit get registered/used? I think infogami has some magic to default to these if no templates are required, but it makes it very hard to discover what might be using them.

I'd much rather have view's return a Not Implemented status code in this situation to force us to handle different types with th

[2018-12-27 20:15] mekarpeles opened #1767 "Fix v2 books page (standardize font sizes and colors)"
## Description

Books page font sizes are inconsistent (e.g. the .meta .object table), the "manage covers" button text is too large, read-options sidebar needed padding + font-size fixes

## Priority

Blocking deploy to production

## Stakeholders

@jdlrobson, @psyked, @tabshaikh, @hornc, @cdrini

[2018-12-27 20:38] jdlrobson commented on #1767
(I thought #1765 was merged.. but this fixes  the most noticeable padding and font-size issues IMO)

[2018-12-27 20:49] #1584 closed

[2018-12-27 21:22] jdlrobson commented on #1767
The fix has created some new problems.. I've left some comments on the pull request.

[2018-12-29 04:53] jdlrobson opened #1777 "https://archive.org/services/img/@jdlrobson doesn't serve an avatar even though Gravatar associated"
Note: I suspect this problem lives outside openlibrary repo. Please point me to the right place to file this issue.

## Description

My avatar should show across all pages.

## Evidence

When I visit
https://archive.org/details/@jdlrobson I see my gravatar
(https://web.archive.org/web/https://www.gravatar.com/avatar/45b0863bddc42c3bbb08284d1863ad95)

However... when I visit openlibrary.org
the ima

[2018-12-29 04:55] traceypooh commented on #1777
we 'fallback' to gravatar for IA "user pages" if something o/w doesnt exist in "user item" on archive.org

[2018-12-29 04:56] traceypooh commented on #1777
_naturally_ i did something more custom than gravatar, eg:
https://archive.org/serve/@tracey_pooh
(FWIW!)

[2018-12-29 05:11] jdlrobson commented on #613
This looks fixed to me. I can't reproduce this anymore. The JS cleanup that has occurred may have rectified this...

[2018-12-29 05:22] jdlrobson opened #1778 "Certain cover images are too small (<200px)"
## Description

When sharing OpenLibrary books on social media sometimes I don't see the cover when a cover exists.

## Evidence

A visit to the debut tool:
https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fopenlibrary.org%2Fbooks%2FOL7885696M%2FCharlotte%27s_Web

shows the og:image tag exists but  the cover image is too small. Charlottes Web is 180x255

https://openlibrary.org/

[2018-12-29 05:41] tfmorris commented on #1778
The first URL says I have to log in. The second URL shows a 295x420 pixel image.  We can make any image have an arbitrarily large number of pixels without improving its quality at all. Conversely, we can't generate information where there is none.

Do we care about Facebook users? If so, what is their experience now and how do we want to change that?

Obviously higher quality cover images benefit

[2018-12-29 07:38] rohitjain00 commented on #1762
We could just have the image to full row and the information of the same image below it.
![screenshot from 2018-12-29 13-04-19](https://user-images.githubusercontent.com/17525863/50534973-61fe3780-0b6a-11e9-97ab-7be08d2de633.png)

[2018-12-29 17:33] tabshaikh opened #1780 "Contact and support path paramter doesnt work"
## Description
What problem are we solving?
When contact and support is called from a specific page it should contain its path in the parameter.

## Evidence
What does the experience look like today? What are the symptoms?
Just click on contact and support in the footer

## Expectation
What should by happening? What will it look like / how will it behave?
it should show the path of the page from w

[2018-12-29 17:35] jdlrobson commented on #1762
Agreed! I think rather than centering though it would make sense to keep the left alignment to be kept consistent with the rest of the site!

[2018-12-29 17:36] tabshaikh commented on #1780
And according to a suggestion by @tfmorris, we should rename it to **report a problem** as contact and support do not mean the same

[2018-12-29 17:39] LeadSongDog commented on #1780
If it’s not too much to ask, the user should see the report that is logged.

[2018-12-29 17:46] tabshaikh commented on #1780
@LeadSongDog the report is logged like a dialogue box showing up that his request has been registered

[2018-12-29 18:21] jdlrobson commented on #1778
Facebook whether you like the service or not is a big potential traffic source and studies have shown posts with images get clicked a lot more than posts without. If we can entice even one user into OpenLibrary's world that seems like a pretty good thing to do.

The experience right now when sharing an OpenLibrary link is an image in some cases doesn't appear. This is trivial on our side to fix -

[2018-12-29 19:18] #1778 closed

[2018-12-29 19:18] #1193 closed

[2018-12-29 19:52] Tikam02 opened #1782 "'docker login' : oldev build"
## Description

Couldn't run docker olbase and then it responded with 'repository does not exist or may require 'docker login'

/openlibrary/docker$ sudo docker-compose up
[sudo] password for tikam:
Pulling web (oldev:latest)...
ERROR: pull access denied for oldev, repository does not exist or may require 'docker login'

![screenshot from 2018-12-30 01-16-28](https://user-images.githubusercontent.

[2018-12-29 20:04] mekarpeles commented on #1782
What is?

[2018-12-29 20:05] mekarpeles commented on #1782
Cc: @cdrini, @hornc

[2018-12-29 22:30] LeadSongDog commented on #1780
Well, I don’t think form matters much just as long as the user can tell their concern is captured.

[2018-12-30 02:49] jdlrobson commented on #1180
mekarpeles i plan to drop support for any browser with less than 1-5% traffic. Can you get that information?

[2018-12-30 02:56] jdlrobson commented on #949
Duplicate of #783 ?

[2018-12-30 04:01] hornc commented on #1782
Hi @Tikam02 , you'll need to build the docker images first following the instructions on https://github.com/internetarchive/openlibrary/tree/master/docker

[2018-12-30 04:52] hornc opened #1783 "/isbn/{isbn} endpoint without logged in user gives an error"
## Description
Visiting a URL like
https://openlibrary.org/isbn/0062225243?debug=true
without being logged in gives an error:
<type 'exceptions.AttributeError'> at /isbn/0062225243
'NoneType' object has no attribute 'key'

Relevant code from the stack trace:
https://github.com/internetarchive/openlibrary/blob/6f9995f/openlibrary/catalog/add_book/__init__.py#L444-L451

## Evidence

## Expectation

[2018-12-30 05:38] LeadSongDog commented on #949
@jdlrobson, no, that issue is for a different image, the openlibrary icon

[2018-12-30 08:40] Tikam02 commented on #1782
os: ubuntu 18.04
python: 3.6 virtual environment
@hornc deleted all images and container and then again try to build the images then the build process stopped because:

 ---> Running in 32e2ae42b60e
Could not open requirements file: [Errno 2] No such file or directory: 'requirements_common.txt'
You are using pip version 8.1.1, however version 18.1 is available.
You should consider upgrading via th

[2018-12-30 22:02] jdlrobson opened #1786 "Search results break viewport on mobile"
## Description

Search results on https://openlibrary.org/search/authors?q=Carver&mode=everything are breaking the viewport on mobile

## Evidence

https://openlibrary.org/search/authors?q=Carver&mode=everything

Will upload when on desktop...

## Expectation

Words should break on to multiple lines or be clipped.

## Details

e.g. `https://openlibrary.org/...`

## Proposal

## Constraints

## Pri

[2018-12-31 06:59] #1767 closed

[2018-12-31 07:05] mekarpeles opened #1788 "unwait button style broken"
## Description

fix leave waitlist btn styling

## Evidence

unwait btn style broken when one joins waitlist

https://openlibrary.org/books/OL26425541M/The_make-ahead_cook

![2018-12-30-230224_1600x900_scrot](https://user-images.githubusercontent.com/978325/50555881-1b522f80-0c87-11e9-80bb-0b0fbef55255.png)

## Expectation

![2018-12-30-230236_1600x900_scrot](https://user-images.githubusercontent.

[2018-12-31 07:15] #1788 closed

[2018-12-31 07:32] #1515 closed

[2018-12-31 15:56] jdlrobson commented on #1172
We are now down to 0.98mb on homepage
https://whatdoesmysitecost.com/test/181231_BR_cef9cf389abfe9cd9149dd8b3ac129be

I still think that's a lot for what it offers and compressing covers will help with that
... but I'm not sensing that's a priority here. We can reopen this later in the year if necessary but i don't wish for this issue to rot in the github issues list.

[2018-12-31 15:56] #1172 closed

[2018-12-31 17:07] tfmorris opened #1790 "Author search results page unstyled"
The results on this page used to be styled with a white background similar to the header. No they just float in the sea of the page background.

![screen shot 2018-12-31 at 12 05 59 pm](https://user-images.githubusercontent.com/82178/50564638-7d954980-0cf4-11e9-9d77-edf40d13667a.png)

[2018-12-31 18:32] #1786 closed

[2018-12-31 18:32] #1790 closed

[2018-12-31 18:32] #1729 closed

[2019-01-01 17:11] jdlrobson opened #1795 "Cannot add links"
## Description

Go to https://openlibrary.org/works/OL69382W/Essays/edit and click links tab -  I cannot add new links.

A similar problem happens on
https://openlibrary.org/books/OL7885696M/Charlotte's_Web/edit when I try to add contributors and ID numbers.

## Evidence

Instead of UI feedback I get a JS error:
[code]

## Expectation

## Details

e.g. `https://openlibrary.org/...`

## Proposal

#

[2019-01-01 19:40] jdlrobson commented on #1795
Caused by 2f58b99993d275830fd813992720df3389e29020

Turns out the deleted function did not quite match the one in https://github.com/internetarchive/openlibrary/blob/2f58b99993d275830fd813992720df3389e29020/openlibrary/plugins/openlibrary/js/jsdef.js

Let's move the missing logic into the jsdef definition

[2019-01-01 19:41] jdlrobson commented on #1795
Even better let's work out why text = String(text) is needed and fix at the callef. Are we passing an integer?

[2019-01-01 20:38] GerardMeijssen opened #1796 "I could not add ISBN 13 978​0923891213 for the book "Human sexual response"."
## Description

## Evidence

## Expectation

## Details

e.g. `https://openlibrary.org/...`

## Proposal

## Constraints

## Priority

## Stakeholders

[2019-01-01 20:46] GerardMeijssen opened #1797 "Option to add Wikidata IDs to works"
In the same way that you can add Wikidata IDs to editions or to authors, there should be a way to add them to works. Wikidata has a notion of Works as well.

e.g. https://www.wikidata.org/wiki/Q43361

[2019-01-01 21:53] #1795 closed

[2019-01-01 21:53] #1796 closed

[2019-01-02 06:34] GerardMeijssen commented on #1796
https://openlibrary.org/works/OL11040083W/Human_sexual_response

On Wed, 2 Jan 2019 at 06:29, Michael E. Karpeles <notifications@github.com>
wrote:

[2019-01-02 15:11] jdlrobson commented on #1752
I suspect because tables use display block up to tablet threshold but will take a look

[2019-01-02 17:55] mekarpeles commented on #686
@scottrlarson unfortunately you'd have to add the table of contents to the corresponding Open Library page -- archive.org pages are not community/wiki editable, sorry! Happy to answer further if you open a separate issue on https://github.com/internetarchive/openlibrary/issues :)

[2019-01-02 17:57] mekarpeles commented on #686
Hi y'all -- we have a large handful of people in our slack channel who are not active contributors and so we're reserving slack as a place where trusted active contributors can meet, discuss, and unblock each other.

We're happy to send invites to folks who have worked through get Docker up and running and or have worked on an issue. We also have a gitter channel (https://gitter.im/theopenlibrary/

[2019-01-02 18:52] cdrini commented on #1134
Thanks @jdlrobson ! I converted it to a checklist; we can target chunks of these at a time, and close the ticket once they're all done.

[2019-01-03 00:02] tfmorris commented on #1796
Are we sure that #1798 fixes this? I don't even see what the original error was.

When I try to cut & paste that ISBN, I get "ISBN must be exactly 13 digits" because there's a weird invisible character after the 978 causing the validation code to reject it.

[2019-01-03 00:15] tfmorris commented on #1754
This behavior has apparently changed and I greatly prefer the previous behavior. The new layout clutters the display with information-free labels.

[2019-01-03 00:17] tfmorris commented on #1440
Perhaps a duplicate of #806.

[2019-01-03 02:32] LeadSongDog commented on #1797
The reverse is also possible: wikidata items for a book may have an OLID parameter P648 identified. For example Q1639633 "Vingt ans après" has P648 with value "OL36858W"

[2019-01-03 04:06] TZubiri commented on #1780
In what page can I find the 'contact and support' button?

[2019-01-03 04:11] gadgrandez commented on #686
Hello, I would like to contribute to the development of OpenLibrary, I would like to start with the translations of the site into Spanish and later with programming tasks, if someone tells me what to do I will be happy to help :smile:

[2019-01-03 10:51] seabelis opened #1799 "Edition count with no records found"
No records found is stated despite edition count of 1+

- Relevant url: https://openlibrary.org/works/OL74663W/My_life_as_a_man

### Screenshot (if possible):
![fullscreen capture 132019 114455 am bmp](https://user-images.githubusercontent.com/17739465/50634034-9f3d3d80-0f4d-11e9-9e5f-40d9ceab50b7.jpg)

### Expectation
Should see list of editions when over 0.

## Details
- Browser type/version? Ve

[2019-01-03 10:55] seabelis commented on #1799
Refreshing the page seems to resolve.

[2019-01-03 16:18] jdlrobson commented on #1799
@mekarpeles sounds like caching problem?
I too cannot reproduce.

[2019-01-03 16:18] jdlrobson commented on #1762
@rohitjain00 did you want to have a go at fixing this?

[2019-01-03 16:20] jdlrobson commented on #1761
As the creator of this issue, the issue I originally reported has been addressed and I am happy that has been fixed.

If there are other related issues, please open a new ticket to clearly described the problem.

[2019-01-03 16:20] #1761 closed

[2019-01-03 16:22] Pratyush1197 commented on #1782
I think you are not in correct directory. 'requirements_common.txt' file is in openlibrary folder not in docker folder. try to build the image files in this folder only

[2019-01-04 00:04] mekarpeles opened #1805 "Full text search authors incorrectly showing as "Unknown Author""
## Description

## Evidence

even when author info available, renders as Unknown Author on fulltext results page

https://openlibrary.org/search/inside?q=nicodemus

![image](https://user-images.githubusercontent.com/978325/50668181-5cda2780-0f72-11e9-8a7c-e031dea9d711.png)
<img width="1403" alt="screen shot 2019-01-03 at 3 53 47 pm" src="https://user-images.githubusercontent.com/978325/50668186-64

[2019-01-04 02:07] hornc commented on #1694
I have suspected we don't need GeoIP for a while, it would be good to confirm we don't then remove it.

[2019-01-04 03:51] hornc opened #1807 "Some isbn lookups from Amazon fail, resulting in 404s"
Some isbns from Amazon fail, resulting in 404s

006222526X: <Response [404]>
0800788036: <Response [404]>
144947425X: <Response [404]>
159514188X: <Response [404]>

Unsure why these are failing -- it looks like `create_edition_from_amazon_metadata(isbn)` is failing somewhere.
see https://github.com/internetarchive/openlibrary/blob/b5aa71e06f36351ada1eff1842690a7a028e09ff/openlibrary/core/vendors.p

[2019-01-04 05:06] LeadSongDog commented on #1807
That edition existed and had isbn13 but not isbn10. Once I manually added the isbn10 it is found. Of course that should not be necessary. Either one should automatically populate the other but that’s a different issue.

[2019-01-04 09:16] rohitjain00 commented on #1762
@jdlrobson yes, I make a pull request as soon as possible

[2019-01-04 14:07] seabelis opened #1808 "Feature: Relationships between works and collections"
## Proposal

## Constraints

There would need to be a way to identify something as a collection rather than a work and then identify the relationships between collections and the works contained within. And it would be useful to the Open Librarian if when the relationship is indicated on one record that the reciprocal be created automatically.

I've set up an example of how this might look using t

[2019-01-04 18:00] LeadSongDog commented on #1807
Related: #27 #42 #1456 #1457
I'm not at all sure that #42 should have been closed. It seems not to have been fully dealt with.
@hornc I noticed that an "All" search on the isbn10 value resulted in a hit even before I manually added it, but that may be a coincidence: I couldn't tell which edition matched, just the work (yes, that issue is still open too...) . If it is a pattern, you may want to exp

[2019-01-04 20:52] LeadSongDog commented on #1807
From your list of 404's, an "All" search on "0800788036" finds https://openlibrary.org/books/OL25175041M/Laugh_Out_Loud_Jokes_For_Kids even though it only shows the isbn13 of 9780800788032. The only place I see a possibility for a match is embedded in the vendor link to:  http://www.amazon.com/dp/0800788036/?tag=internetarchi-20

[2019-01-05 21:32] ayushshivani commented on #1559
I would like to work on this.

[2019-01-05 21:32] tabshaikh commented on #1559
Ya sure, go ahead :)

[2019-01-05 21:36] ayushshivani commented on #1559
The cross icon should displace or not on hovering?

[2019-01-06 15:46] jdlrobson commented on #1559
legacy.less is not loaded on this page.
This looks like the [cbox component](https://github.com/internetarchive/openlibrary/blob/master/static/css/components/cbox.less)

[2019-01-06 15:50] jdlrobson commented on #1559
@ayushshivani  you can avoid restarting server by running make css inside bash
E.g.
docker-compose exec bash

[2019-01-06 20:17] #1752 closed

[2019-01-07 20:49] mekarpeles opened #1810 "OL header regression"
## Description

main logo looks 30px tall (too small), the menu buttons are misaligned, and no login button appears
(possibly https://github.com/internetarchive/openlibrary/pull/1794/files)

## Evidence

All urls

![screen shot 2019-01-07 at 12 46 50pmpst](https://user-images.githubusercontent.com/978325/50792604-703f0880-127a-11e9-957c-57647dc82bb9.png)

## Details

e.g. `https://openlibrary.org/

[2019-01-07 23:00] mekarpeles commented on #1283
Who wants to help us vectorize this? I think we should move forward on this design and get some shirts to celebrate 2019 :)
https://github.com/internetarchive/openlibrary/issues/1283#issuecomment-428419631

[2019-01-07 23:16] LeadSongDog commented on #1810
The OPEN sign is blurred in that version, while it was clean at 5372b389de986611d00a11c98cd2071566d83620 (currently on prod)

[2019-01-08 01:42] jdlrobson commented on #1810
This revert makes no sense to me as there is nothing in that diff that looks like it could lead to this kind of problem (unless caching problems exist). At the same time we are introducing the potential danger of css rendering issues anywhere the header class is used notably banners.

There is a more serious issue lurking somewhere in here.

I've just finished work and am gonna see if I can work t

[2019-01-08 02:31] jdlrobson commented on #1810
^ Tracked down the real fix. mystery solved.

[2019-01-08 03:57] jdlrobson commented on #613
Looks like this was fixed by 74fb0785848c242625ddd9d7ebe8b31a481d8905

[2019-01-08 03:57] #613 closed

[2019-01-08 03:59] jdlrobson commented on #1799
I'm seeing 11 editions now..
https://openlibrary.org/works/OL74663W/My_life_as_a_man

Let's keep an eye on this and reopen if we see it again as there's not much we can do here. cc @mekarpeles

[2019-01-08 04:04] jdlrobson commented on #1777
@traceypooh not completely understanding this.   I have a gravatar but this is what I see on https://archive.org/details/@jdlrobson now:

![screen shot 2019-01-07 at 8 01 59 pm](https://user-images.githubusercontent.com/148752/50809213-1dd00d00-12b7-11e9-81ca-8117a5f4cae7.png)

This is pointing to https://web.archive.org/web/https://www.gravatar.com/avatar/45b0863bddc42c3bbb08284d1863ad95 which is

[2019-01-08 14:23] ayushshivani commented on #1559
But in page-user.less from where the page is rendering is importing legacy.less from static/css.And making changes to lagacy.less is giving the desired output.
![screenshot from 2019-01-08 19-50-53](https://user-images.githubusercontent.com/32260760/50836328-e3b34980-1350-11e9-9a4f-4c0ad7da473c.png)

[2019-01-08 15:40] LeadSongDog commented on #1559
The same oddly rendered closing X box is seen at present on production in the author merge "Are you sure" popup.

[2019-01-08 17:07] JackFrost7030 opened #1815 "Regarding Gsoc 2019"
Hello Mentors and Developers,

I am Anish Mulay, a student at BITS Pilani Goa Campus. I went through the Internet Archive GSoC 2018 ideas page and found most of the projects to be very interesting.
I found openlibrary intresting and would love to contribute and participate in GSoC 2019.

I do have some open source experience and I would like to try my hand by implementing a small new feature and/o

[2019-01-08 17:12] tabshaikh commented on #1815
@JackFrost7030 I am closing this issue, if you need any help with moving forward you can ping us. :)

[2019-01-08 17:12] #1815 closed

[2019-01-08 17:46] LeadSongDog commented on #1283
Some variations to consider:
-Embed image into a QR code as at https://en.wikipedia.org/wiki/QR_code#Error_correction ?
-Hang the OPEN sign from the open book?

I'm not big on the 24/7 markup, as it will mislead some to think of the wrong "Open", similar to the free beer vs. free/libré dichotomy. Sure, we are always open to read, but it is far more important that we are open to change, open to inc

[2019-01-08 19:14] mekarpeles commented on #656
closing as stale

[2019-01-08 19:14] #656 closed

[2019-01-08 19:20] #1810 closed

[2019-01-08 20:06] LeadSongDog commented on #1745
Seems to have been fixed

[2019-01-08 20:07] #1745 closed

[2019-01-08 20:12] ayushshivani commented on #1559
Can you please tell from where cbox.less is refrenced from? I cannot understand the names written in them.

[2019-01-08 21:34] jdlrobson commented on #1559
Inside  static/css/js-all.less on L14 there is the rule:

@import (less) 'components/cbox.less';

You can edit components/cbox.less and that should be loaded via JavaScript on page load. Hope that helps!

[2019-01-08 22:47] LeadSongDog commented on #1808
@seabelis I absolutely agree with you that we need to have a mechanism for collections, anthologies and such, but I just don't think your example approach is sustainable at scale. There can be many collections containing any one work, just as there can be entire serials of collections. The current OL schema falls down completely in addressing both areas.  Consider that https://github.com/interneta

[2019-01-09 02:23] ClaudiuCeia opened #1816 "Books API: Promote original work description to each edition"
## Description
I'm building a mobile app that allows people to scan ISBNs and get some info on the book that they've scanned. However, I'm not sure I can always get the description, particularly when the scanned ISBN is for an edition that "inherits" the description from the original work.

## Evidence

I have ISBN: 9780091953638
For that, I can get data via:
- [The API, using `jscmd=data`](https:

[2019-01-09 10:39] seabelis opened #1817 "Error: Changing Internet Archive ID is not allowed."
## Description

## Evidence

https://openlibrary.org/books/OL26639980M/A_Tale_of_Two_Cities

![fullscreen capture 192019 113707 am bmp](https://user-images.githubusercontent.com/17739465/50894241-056d0900-1403-11e9-87d0-f62a493bcda1.jpg)

## Details

## Proposal & Constraints

## Stakeholders

[2019-01-09 12:55] seabelis commented on #1808
I'm thinking of this less as a combining issue than somehow allowing an edition to have a relationship with more than one work without having to create a new record so that it is discoverable; perhaps an extension of the TOC or "other titles" field... I do understand why that would be difficult to handle in an automated way for all records, given how many unknowns there are, but perhaps possible f

[2019-01-09 18:09] LeadSongDog commented on #1817
Reproduced with Chrome on iOS.  The target file is present on IA at ark:/13960/t8z94mv6v but for some reason it doesn't show an OLID as most IA metadata records do. There may be a systemic issue with the metadata on files sourced from the Digital Library of India (a.k.a. National Digital Library) http://meity.gov.in/content/national-digital-library

[2019-01-10 01:02] mekarpeles commented on #1817
Or e.g. admin access may be required for updating archive.org ids? Is that possible?

[2019-01-10 05:02] sameshl commented on #1498
I am new and would like to start contributing through this issue.Can I take it up?

[2019-01-10 05:31] tabshaikh commented on #1498
@sameshl sure you can go ahead and solve this issue :)

[2019-01-10 09:15] seabelis commented on #1817
I don't recall seeing any Digital Library of India items that DO have an OLID but this is the first time I've encountered this error.

[2019-01-10 16:59] LeadSongDog commented on #1817
@mekarpeles
There is no intent to update the archive.org id here, the problem is that OL26639980M cannot be revised at all. The error message likely comes up because the OCAID has an unwanted leading space: see https://openlibrary.org/books/OL26639980M.json

@hornc @mekarpeles
This touches on #731 #732 #950 #854 #856 #1436
For all *extant* OCAIDs where the OLID has never been written back to IA, t

[2019-01-10 18:04] mekarpeles commented on #1817
Is this fixed? I used the edit UI to remove the internet archive ID, to add a new (the same) archive id (which worked with no problem), and then ran an IA/OL sync (admin button)

[2019-01-10 18:43] LeadSongDog commented on #1817
@mekarpeles
The specific record is fixed, thank you:
https://openlibrary.org/books/OL26639980M/A_Tale_of_Two_Cities?b=4&a=3&_compare=Compare&m=diff

Re sync, only 66 of the *many* OCAIDs containing "in.ernet.dli." have been imported, for whatever reason. Obviously none of the remainder have had an OLID written back. On a broader approach, we really should have a handy progress metric that tells us

[2019-01-10 20:38] LeadSongDog commented on #949
@jdlrobson
Perhaps https://upload.wikimedia.org/wikipedia/commons/8/84/Internet_Archive_logo_and_wordmark.svg would be a useful starting point?

[2019-01-10 21:45] seabelis commented on #1817
I think I probably "imported" those 66.

[2019-01-10 23:06] mekarpeles commented on #1817
That makes more sense, typically our importer only imports things from archive.org which are verifiably "books" (which may mean, e.g. they have a scanning center and a MARC record)

[2019-01-11 12:59] sameshl commented on #1498
I installed stylelint but when I run any stylelint command,I am getting error:
_stylelint: command not found_

[2019-01-11 14:18] ayushshivani commented on #1559
@jdlrobson Thanks for the help !. I am facing one more problem I am not able to find from where the work "Close" ie written just below the "X" is coming from. Can you please provide some help

[2019-01-11 16:45] LeadSongDog commented on #1817
A quick sampling suggests that most of the remainder are books. Narrowing the hits down to just these:
https://www.google.com/search?q=%22details/in.ernet.dli.%22+djvu+site%3Aarchive.org
we still get 174,000 djvu files with "details/in.ernet.dli." in their paths.
Further refinement to:
https://www.google.com/search?q="details/in.ernet.dli."+djvu+scanner+site:archive.org
finds only 15,500 so it see

[2019-01-11 19:51] jdlrobson commented on #1559
Hey @ayushshivani  I think I'm seeing where all this confusion is coming from.

When I try and remove the book from a list on https://openlibrary.org/books/OL7885696M/Charlotte's_Web
I see:
![screen shot 2019-01-11 at 11 49 38 am](https://user-images.githubusercontent.com/148752/51056190-08006780-1597-11e9-9fa4-32d80e077fe1.png)

This is coming from jquery ui.

So I see exactly why you were using

[2019-01-11 19:55] jdlrobson commented on #1498
Try the following
`
cd docker
docker-compose exec web bash
npm install
npm run lint:fix
`

On Fri, 11 Jan 2019 at 04:59 sameshl <notifications@github.com> wrote:

[2019-01-11 21:49] jdlrobson commented on #1762
Any updates @rohitjain00 ?

[2019-01-11 21:58] jdlrobson commented on #1559
Hey @ayushshivani so when I looked into it, I realised this wasn't the best bug to start you off with for our frontend codebase which is in a very transient state. I'm sorry about that!

If you're interested and know a little JavaScript, https://github.com/internetarchive/openlibrary/issues/1588 would be a good task related to this one.

Alternatively https://github.com/internetarchive/openlibrary

[2019-01-11 23:50] #1559 closed

[2019-01-13 09:53] koderjoker opened #1820 "Twitter icon's image changes to Github's icon on certain browsers"
## Description

The image of the Twitter icon transforms into a Github icon on scrolling the page on Redmi mobile devices (so far occurs in Chrome and Mi browser, and not on Firefox)

## Evidence

The issue seems to occur after scrolling a good amount of text.

Examples:

The twitter icon image completely transforms into a github one on the home page
https://openlibrary.org/
<img src="https://user

[2019-01-13 21:40] jdlrobson commented on #1820
Interesting. I cannot replicate this myself on an Android Samsung phone in chromeor samsung browser.

@koderjoker we will probably need your help debugging this but so far looks like an issue specific to Redmi

I think best next step would be for us to create a minimum test case for the problem.

[2019-01-14 01:38] tfmorris commented on #1820
This sounds like the kind of thing that could easily be a graphics driver bug rather than an application bug.

[2019-01-14 13:40] koderjoker commented on #1820
@jdlrobson Ready to help in any way possible 😄

I tested the issue on a Redmi 4, Redmi Y1 and Samsung Galaxy J7 Prime and it only occurred on the 2 Redmi models, and that too not for Firefox's browser.

[2019-01-15 02:53] jdlrobson opened #1821 "Subject search page renders incorrectly"
## Description
Subject page  has rendering issues, likely ever since we switched all pages to v2

## Evidence

https://openlibrary.org/search/subjects
https://openlibrary.org/search/subjects?q=sub

![screen shot 2019-01-14 at 6 49 40 pm](https://user-images.githubusercontent.com/148752/51155796-9aba3400-182d-11e9-9620-cbc9a462a7d7.png)

## Expectation

![screen shot 2019-01-14 at 6 52 35 pm](https

[2019-01-15 10:54] koderjoker commented on #1762
Hi @jdlrobson, can I have a go at fixing this?

[2019-01-15 17:12] jdlrobson commented on #1762
@koderjoker we haven't heard back from @rohitjain00 so I think you can go ahead. Important thing is to get the bug fixed - we have plenty of these kind of tasks!

[2019-01-15 20:08] #1662 closed

[2019-01-17 10:24] feat7 opened #1825 "Clean UI: more readable LinkBox line-height / text-spacing"
## Description

The UI currently is not clean. The links and texts are not readable enough.
## Evidence

`https://openlibrary.org/...`
https://openlibrary.org/subjects/fantasy#sort=date_published&ebooks=true

![screenshot from 2019-01-17 15-04-35](https://user-images.githubusercontent.com/12556455/51311446-f8898e80-1a6e-11e9-8de6-3837e853ee76.png)

## Expectation

![screenshot from 2019-01-17 15-3

[2019-01-17 17:14] seabelis commented on #961
I think one cause of this is the presence of a subtitle in the work's title.

[2019-01-17 18:55] seabelis commented on #961
The other thing I've noticed is that after author merges, the " stuck" editions can be moved. In the case you mention above, there are two profiles for the author: https://openlibrary.org/authors/OL7396111A/Siddhartha_Mukherjee and https://openlibrary.org/authors/OL6865237A/Siddhartha_Mukherjee. This might be the reason on that one.

[2019-01-17 19:42] cdrini commented on #961
Ah; I believe this is the same issue as #730, correct, @LeadSongDog ? I think that was closed by accident.

[2019-01-17 20:33] mekarpeles opened #1827 "Docker issue installing infogami at docker-compose"
## Description

From @ayushnawal:
[code]

## Expectation

## Details

OS: ubuntu 16.04
Docker Version: 18.06.1-ce

## Stakeholders

@mekarpeles , @hornc , @cdrini @tfmorris

[2019-01-17 20:39] mekarpeles commented on #439
@suhailsinghbains this isn't the best place for GSoC proposals! Feel free to submit a 2019 proposal if you'd like.

In the meantime, we're still looking for volunteers who would like to try solving this issue for our millions of readers! :)

[2019-01-17 20:58] ayushnawal commented on #1827
@mekarpeles i am attaching a screenshot too .. in case it helps you !
![screenshot from 2019-01-18 02-27-07](https://user-images.githubusercontent.com/36100944/51348405-a70ded80-1ac8-11e9-944a-38f22c91e115.png)

[2019-01-17 21:21] ayushnawal commented on #1827
screenshot after completing the building of Docker.olbase
![screenshot from 2019-01-18 02-48-11](https://user-images.githubusercontent.com/36100944/51349513-a1fe6d80-1acb-11e9-8e19-0a5433d21b02.png)
Also an error message was shown in between !
![screenshot from 2019-01-18 02-50-12](https://user-images.githubusercontent.com/36100944/51349609-df62fb00-1acb-11e9-8c1f-0c59af65c274.png)

[2019-01-17 23:55] cdrini commented on #1827
This seems like symlink issue or a submodules issue. `static/js/../../vendor` symlinks to `vendor/`; the code also accesses infogami through a symlink. Everything in `vendor/` is a submodule. These lines in the Dockerfile downloads the stuff that should be in `vendor/` by calling `git submodule init` (through `make`), and creates the symlink.

https://github.com/internetarchive/openlibrary/blob/8e

[2019-01-18 00:57] suhailsinghbains commented on #439
Thanks @mekarpeles

Sure, I will try to solve this :)

[2019-01-18 02:52] hornc commented on #1827
@mekarpeles I have not had this specific error before, but agree with @cdrini that it is symlink related, all the main error messages point to things that are symlinked.

I can also confirm that any pip version warnings are expected, annoying, but not a problem. Also the `lessc` warning is expected and know, but should not prevent anything from working.

[2019-01-18 07:14] ayushnawal commented on #1827
@cdrini @hornc @mekarpeles i am attaching the screenshot which displays the status of step 15,16,17 .
i also think that pip version and lessc warning should not prevent anything from working .

![screenshot from 2019-01-18 12-41-39](https://user-images.githubusercontent.com/36100944/51370906-a011ca00-1b1e-11e9-8319-ee21757f64de.png)

[2019-01-18 11:07] hornc commented on #1827
I'm not sure what is happening here, from further debugging it looks like the `make git` submodules task is not doing anything on this one install

[2019-01-18 15:58] LeadSongDog commented on #730
Ah, @hornc, my "Done" from Jan 19, 2018 was in reference to the immediately previous @cdrini request "Could you create a new issue for it?". It did not mean that this issue #730 was done and could be closed. I'll try to be more clear. Please reopen.

[2019-01-18 23:53] #818 closed

[2019-01-18 23:53] #1561 closed

[2019-01-18 23:53] #1741 closed

[2019-01-18 23:55] #1780 closed

[2019-01-18 23:55] #1734 closed

[2019-01-19 07:20] feat7 opened #1833 "Implement cross browser testing for better compatibility across the browsers."
## Description

We don't have tests for cross-browser and devices. Due to this, there are few issues like "This doesn't work in XYZ browser and ABC device".

## Evidence

`https://openlibrary.org/...`

## Expectation

The software should be compatible with different browsers. We need to implement cross-browser tests in the program.

## Details

## Proposal & Constraints

I propose to use BrowserSt

[2019-01-19 17:34] ayushnawal opened #1834 "git submodules not working while cloning with https rather than git ssh"
## Description
While using URL of https while cloning the OL github . The setup gets disturbed at step no. 17 while building the first image . although images built succesfully but on running docker-compose up , terminal get paused with error message : Import Error : No module named infogami .

![screenshot from 2019-01-18 02-27-07](https://user-images.githubusercontent.com/36100944/51430303-553ba

[2019-01-19 17:47] ayushnawal commented on #1827
@mekarpeles @hornc Sir , i think we can close this issue as i have opened an another issue which is specific according to me . i think its more closer towards the actual problem https://github.com/internetarchive/openlibrary/issues/1834
please have a look at it !
Thank you sir !

[2019-01-19 18:52] #1827 closed

[2019-01-19 19:50] tfmorris commented on #1834
The other issue has some useful debugging information on it, including the configuration of the submodules with some of them using git:// URLs and others using https://.

Can you clone repos from Github via the git: protocol? ie do you have an account with SSH keys set up and any other necessary stuff? Can you clone those submodules by hand using the URLs that in the .gitsubmodules file?

We shoul

[2019-01-19 21:16] tfmorris commented on #1215
Why was this tagged Python 3? It seems to be fixed now, whatever the issue was.

@mekarpeles Are you OK with closing?

[2019-01-19 21:18] tfmorris commented on #1567
Probably related to #715

[2019-01-19 21:31] jdlrobson commented on #1833
I'm not exactly sure what's being asked for here. I have a BrowserStack account but that requires manual verification/testing.

Are you suggesting adding some kind of automation? If so what would that look like?

[2019-01-19 21:32] tfmorris commented on #1805
That page appears to be returning editions, not works. The highlighted edition doesn't have an author listed, so I suspect the page doesn't know how to traverse to the work and get the author from there (and it's probably showing the wrong author in the case where the two records don't match).

https://openlibrary.org/books/OL2728386M.json

[2019-01-19 21:49] feat7 commented on #1833
@jdlrobson Yes. I am talking about automation. There are plugins available for Browserstack's integration with Travis CI.

[2019-01-19 22:01] jdlrobson commented on #1833
Which specific plugins should we add and what do we need to configure in the codebase to work with them? Do we need to write specific tests?

[2019-01-19 22:14] feat7 commented on #1833
Yes. We will need to write the tests.
If I describe it, I would say we use a Node.js test framework, mocha for instance. Write down our selenium tests. Integrate it with Travis (just need to provide access key).
And that will pretty much do the work.
I have not seen the current testing environment here in the codebase yet so if we are using some other framework for testing that will do as well.
Th

[2019-01-20 20:11] jdlrobson commented on #1833
This is a big undertaking and given the current big projects i have one (modernising javascript and standardising our UI) I can't really commit /help out as much as I like.

It would  obviously be a huge improvement if we could have it. If this is something you'll willing to lead on I think the first stage would be getting a browser test setup that someone can run locally working and passing and t

[2019-01-20 22:10] jdlrobson opened #1836 "Publisher search has render issues"
## Description

There is no background to publisher search results (similar to #1821)
## Evidence

`https://openlibrary.org/...`
https://openlibrary.org/search/publishers?q=thai&search=&m=edit&has_fulltext=true

![screen shot 2019-01-20 at 2 09 23 pm](https://user-images.githubusercontent.com/148752/51445702-13e9d900-1cbd-11e9-92ef-e68c2086d9a2.png)

## Expectation

## Details

## Proposal & Const

[2019-01-20 22:10] jdlrobson commented on #1821
Also a problem on publishing page! > #1836
https://openlibrary.org/search/publishers?q=thai&search=&m=edit&has_fulltext=true

Any chance you could take a look @feat7  ?

[2019-01-21 04:07] feat7 commented on #1833
@jdlrobson Sure. I would want to work on this. I am labeling this issue as discussion. Others can write their inputs here.

[2019-01-21 04:10] feat7 commented on #1821
@jdlrobson sure. Working on it.

[2019-01-21 15:11] ayushnawal commented on #1834
@mek @tfmorris @tabshaikh  i think atleast updating the installation instructions by adding a line to recommend new contributors to clone the OL repo using git ssh will do the work for now ! i think we were assuming it to be quite obvious but it might not be the same case for everyone out there !

[2019-01-21 16:58] tfmorris commented on #1761
Sorry for the delayed reply.

@mekarpeles The comment associated with the patch seemed to say that it wasn't an actual fix, but just hiding the problem.

The reporter of the problem and you are both happy to just have it hidden, so that works for me. I'm not going to insist on correctness.

[2019-01-21 17:04] #1836 closed

[2019-01-21 17:49] tfmorris commented on #1816
That seems like a reasonable request (PR happily accepted), but in the meantime:

- https://openlibrary.org/books/OL26095592M.json does provide a link to the work as well (`works` key). Ignore the plural and array, it's always just a single work.
- `jscmd=details` is unlikely to go anywhere since we barely have resources to fix bugs, let alone remove features.

[2019-01-21 18:35] tfmorris commented on #1817
Should this be closed or expanded to fix all the thousands of Digital Library of India books?

Picking one of the top search hits from the queries above: https://archive.org/details/in.ernet.dli.2015.221533

It's got some embeded Dublic Core metadata which could be used, but not a ton:

Internet Archive seems confident enough of the author's identity to include a Wikipedia link, but no idea how it

[2019-01-21 19:19] tfmorris commented on #972
How did this morph from schema.org, ARIA, etc for multiple page types into solely something Facebook specific for reading logs? That seems wrong on a few different fronts.

[2019-01-21 19:20] tfmorris commented on #833
Unfortunately, I don't think there's a standard way to do this across social networks, so it has to be done using proprietary markup for each network. I think [Twitter Cards](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards.html) is the Twitter scheme. Facebook's is amusingly named "Open"Graph [sic].

Since each network requires separate efforts, the first thi

[2019-01-21 19:30] tabshaikh commented on #833
I think Twitter, facebook in this order then maybe some other social media as we have a large follow base on twitter..

[2019-01-21 19:49] jdlrobson commented on #833
Not quite true. Opengraph tags should be compatible with all social networks. Twitter cards are definitely compatible.

We are already using og tags  across the site anyway.

[2019-01-21 19:51] jdlrobson commented on #972
This bug is too widely scoped. Please open one specifically for schema.org - these are all very different things.

[2019-01-21 19:52] jdlrobson commented on #972
I should note there is schema.org adoption , og tag adoption and aria adoption already in the codebase so something has happened here. This task is currently not very actionable

[2019-01-21 20:02] tfmorris opened #1841 "Twitter preview blocked for IA hosted images"
## Description

The Twitter preview for [E.B. White](https://openlibrary.org/authors/OL30250A/E._B._White) fails to render his image when viewed in the [Twitter validator
](https://cards-dev.twitter.com/validator)

The Twitter Cards markup is:

`<meta content="https://covers.openlibrary.org/a/id/6390049-L.jpg" property="twitter:image" />
`

but that URL apparently is a redirect to: https://ia80060

[2019-01-21 20:35] tfmorris opened #1842 "Improve Twitter preview for author, work & edition pages"
## Description

The most obvious issue is that the Twitter preview uses the information-free description of "View the author on Open Library" while the Facebook preview uses the more informative "Books by E. B. White, Charlotte's Web, The Elements of Style, Stuart Little, The Trumpet of the Swan, One man's meat, The second tree from the corner, Letters of E. B. White, Essays of E. B. White"

## Ev

[2019-01-21 20:42] tfmorris commented on #1842
Equivalent issues exist with work and edition pages, so expanding the scope to include those as well.

[2019-01-21 21:12] tfmorris commented on #1833
I've edited the original issue to make it more readable. Feel free to delete the boilerplate which isn't applicable and make sure that you separate your new text from any remaining quoted boilerplate (>) with a blank line or it will all end up being quoted, making it difficult to tell your text from the boilerplate.

Returning to the topic at hand, we only have a few selenium tests (openlibrary/te

[2019-01-21 21:19] tfmorris commented on #1834
All of my repos are cloned using the git protocol, not https, and they work fine. Can you please answer my questions above so that we can try to understand what the actual problem is? (Unless someone else has already figured out the root cause and can add it here).

[2019-01-22 13:01] tabshaikh commented on #1807
@tfmorris please can you explain on the 2nd point, is it happening because of no price field in Amazon data

[2019-01-22 13:21] tabshaikh commented on #1461
@mekarpeles maybe in this we can have the user logged in and then fetch the edition

[2019-01-22 15:03] tabshaikh commented on #1322
@mekarpeles i think this issue can be closed:)

[2019-01-22 15:07] tabshaikh commented on #1194
@LyzardKing ya it could be used, maybe we should have a discussion on this @mekarpeles

[2019-01-22 21:43] tfmorris commented on #1194
The formvalidation commercial product is a whole suite of validators which seems like overkill -- and it's not open source.

There are a number of reasonable looking alternatives here: https://github.com/search?l=JavaScript&q=isbn+validator&type=Repositories

[2019-01-23 00:06] ClaudiuCeia commented on #1816
Great to hear!

Sorry to hear that! I'll see if I can jump in at any point, I'm in the same boat with some open source projects.

Feel free to close this issue, I can reopen it if I have a PR. Thanks!

[2019-01-23 00:53] mekarpeles commented on #1816
What rate will you need to hit this API?

Because assuming the rate is pretty light, you can also try:

`https://openlibrary.org/isbn/9780091953638.json`

This API resolves to the right edition + gives work-level IDs, but has the additional benefit that if the isbn is missing from our catalog, OL will attempt to pull it from other sources.

In the cases where we don't have the book, we're (interna

[2019-01-23 02:14] jdlrobson commented on #1194
Please consider html5 form validation and the pattern attribute. I agree with @tfmorris that we should avoid that particular product.

Let's keep it simple and future proof!

https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation

[2019-01-23 18:34] ayushshivani commented on #1588
@jdlrobson I would like to work on this issue.

[2019-01-23 20:50] jdlrobson commented on #1588
Yes regression is still there. utkarsh-raj or ayushshivani either of you can work on this.

Don't worry too much if we end up with multiple patches. That feels like a good problem to have and we have plenty of issues to go round. :)

If you get stuck or learn something while attempting to fix it please report back- it's extremely useful to share problems!

[2019-01-24 11:53] feat7 commented on #1842
@tfmorris Any progress on this? I would like to work if the work on this isn't started yet.

[2019-01-24 19:56] mekarpeles opened #1845 "Author page failing to render due to AttributeError (data problem)"
## Description

Author page failing to render because something is wrong with rendering their book list(s) -- suspecting one of their books erroneously has multiple `authors` instead of an `author` field (?)

https://openlibrary.org/authors/OL6598895A/Horst_Kurnitzky?debug=true

## Evidence

https://openlibrary.org/authors/OL6598895A/Horst_Kurnitzky?debug=true

## Expectation

author page should b

[2019-01-25 00:01] tfmorris commented on #1845
The second author listed: https://openlibrary.org/authors/OL7169223A.json
for the work: https://openlibrary.org/works/OL16802242W.json
is corrupt and needs to be deleted.

[2019-01-25 02:49] tfmorris commented on #1845
Oops, just noticed your proposed fix buried in all the boilerplate. Sorry I destroyed your test case!

[2019-01-25 10:20] IslomK commented on #1825
I guess issue is solved already, shouldn't we close it?

[2019-01-26 13:56] pprathameshmore commented on #686
Hello there,
I am Prathamesh More. I interested to contribute open source community to be part of an open source development.
moreprathameshmore@hotmail.com

[2019-01-26 17:24] jdlrobson opened #1846 "Refresh dev instance data (bugs and lacking)"
## Description

A new install of OpenLibrary will make use of scripts/dev-instance/dev_db.pg_dump to populate a new working instance. Many of the data here could potentially be outdated in its format  and leading to issues such as covers not appearing on the home page or broken URIs

Let's remove this data or refresh (and encourage importing data via https://github.com/internetarchive/openlibrary/

[2019-01-26 17:35] jdlrobson commented on #1258
Reopening as Docker has not made this easier and this is hitting people other than me including our new contributor @koderjoker

I've discovered the config flag upstream_base_url is supposed to make this easier.. by first trying to get a cover locally, and if that 404s trying to obtain the image from the upstream_base_url instead. However this code (openlibrary/coverstore/code.py) doesn't seem to

[2019-01-26 17:47] jdlrobson commented on #1820
I don't think there's much we can do here. It's likely to be a hardware or browser issue. I think just having this bug existing and searchable should be enough.

Should we close this task? I don't think there's actually anything we can do here.

[2019-01-26 18:03] jdlrobson opened #1847 "Search should perform prefix searches"
## Description

I often can't find the book I want to add it to a reading list.

The experience of search, particularly on mobile has much room for improvement. Search results disappear as you type, and often you have to write the full book title before it appears in the results.

If the book or author name is generic, even worse you may need to result to advanced search.

The problem at least for

[2019-01-26 18:04] jdlrobson commented on #1847
Just assigning this to myself so I don't lose track of this. Please assign yourself if you want to and think you can help me!

[2019-01-26 18:57] tfmorris commented on #1846
I'm having a hard time following the different aspects of this. An updated database dump would be good & useful, but it sounds like there are also some plain bugs that need to be fixed. Is the string vs array thing a problem with the data dump or some piece of code?

I don't think forcing developers to input their test data piece by piece is a good answer. I'd rather see us come up with a more rep

[2019-01-26 19:00] tfmorris commented on #1847
There are a large number of search problems (see the label). It'd probably be worth evaluating the new search indexing before deciding whether or not additional work is required.

[2019-01-26 19:59] jdlrobson opened #1848 "Some books in the default install appear to have multiple ia's"
## Description

When I load up a new instance of openlibrary, I'm seeing badly formatted URIs for the default covers like so:

![screen shot 2019-01-26 at 9 22 05 am](https://user-images.githubusercontent.com/148752/51792066-3f5b4080-2161-11e9-8d43-ce281cc685c9.png)

When I edit
openlibrary/templates/books/custom_carousel.html
and add $_(book)

I see:
[code]

## Expectation

A book should only eve

[2019-01-26 20:00] jdlrobson commented on #1846
I've broken out this specific issue into its own task.As you say, I think there are other reasons to update the database dump so probably best to think about that issue separately.

[2019-01-26 21:08] tfmorris commented on #1197
I am able to successfully log in as an admin and see the following

* admin - redirects to stats
* people - renders
* loans - renders
* waitinglists - relation "waitingloan" does not exist LINE 1: SELECT * FROM waitingloan WHERE status='available' ORDER BY ... ^
    Python | /usr/local/lib/python2.7/dist-packages/DBUtils/SteadyDB.py in tough_method, line 604
* block - renders
* spamwords - renders

[2019-01-26 21:35] jdlrobson opened #1850 "Search.json 500 error (solr 400 error)"
I could have sworn we talked about this in Slack, but couldn't find an open bug - when I run a search for "everything" using the search input at the top of the page, no search results render and I see the search query got a 500 error.

http://localhost:8080/search.json?q=Tales%20from&limit=10&mode=everything&debug=true

Under the hood in the logs I see that a query is being made to solr with follo

[2019-01-26 21:49] jdlrobson opened #1851 "jQuery .live method is deprecated - please update all usages"
## Description
We use `.live` throughout our codebase but this has long been deprecated. It only works as we use jquery migrate which we are looking to remove (#1732)

To fix this we'll need to update like so:

Example:

[code]
becomes:
[code]

Please fix all instances in:
- [ ] openlibrary/plugins/
- [] openlibrary/templates/

## Stakeholders
@jdlrobson

[2019-01-26 21:58] jdlrobson commented on #1847
My main focus in **not** the advanced search but the **front facing JavaScript autocomplete search**. I've clarified this with a new title.

I was hoping I could adjust queries to begin with "^"  but that doesn't seem to work out the box, but http://blogs.perl.org/users/mark_leighton_fisher/2012/01/stupid-lucene-tricks-exact-match-starts-with-ends-with.html provides some hope...

[2019-01-26 21:58] jdlrobson commented on #1847
I notice "Tales of E" does not match "Tales of Earthsea" but "Tales of" matches "Tales from Shakespeare", "Plain tales from the hills" and "Tales of Earthsea". I think this is the fundamental problem here.

[2019-01-26 22:34] jdlrobson commented on #1197
For some reason when i login as any email address i end up assigned the username openlibrary1083.

When i try to register a new account i get email already registered...

[2019-01-26 22:36] jdlrobson commented on #1197
Is there a way i can delete all users in database to see if user creation is associated with this problem?

[2019-01-27 03:45] Owicca commented on #1851
Hey, can I get assigned to this task?

[2019-01-27 04:04] tabshaikh commented on #1851
@Owicca you can go ahead to do this :)

[2019-01-28 06:08] nimbus98 commented on #996
Hey, I'd like to try my hand in this issue, is it still open?

[2019-01-28 06:13] tabshaikh commented on #996
@nimbus98 sure you can go ahead

[2019-01-28 19:55] hornc commented on #1258
@jdlrobson  what would unblock you for development here? Going the route of fully dockerizing a local dev coverstore would add overhead of keeping the local ol db and local coverstore in sync -- I'm not sure that is what you want. Do you simply want a representative fallback image for all of the covers in dev, if they have a cover id?

[2019-01-29 17:24] ayushshivani commented on #1851
@tabshaikh i worked on this issue and want to submit a pr unless Owicca is still working on it.Can i?

[2019-01-29 18:04] tabshaikh commented on #1851
@ayushshivani if you have solved this issue go ahead and open the pr will be happy to review it :)

[2019-01-29 21:11] jdlrobson commented on #1258
The minimum is fixing the fallback... when importing content the thumbnails are in the production cover store but they are attempted to be served by a non existent cover store.

Given the current state of the repo it seems more useful to be able to /view/ covers rather than uploading/changing them.

For me that might be changing the default in the config (basically https://github.com/internetarchi

[2019-01-30 17:37] tabshaikh commented on #686
@gadgrandez You could began contributing to internationalization by setting up open library on your local system and then trying out the steps in this readme to began with spanish translations https://github.com/internetarchive/openlibrary/i18n/README.md

[2019-01-30 17:54] LeadSongDog commented on #833
@mekarpeles @jdlrobson @tabshaikh @jmehnle @riddhyasona
What care is being taken to ensure that anonymous/pseudonymous users' reading lists are not being "outed" onto the various social networks? Whether those that have demonstrated they actively work against user privacy or others that simply are inadequately protective, great care is needed before doing this. We need to ensure that _**only**_ wi

[2019-01-30 19:08] gadgrandez commented on #686
@tabshaikh Thanks, I'll get into it.

[2019-01-31 01:33] jdlrobson commented on #833
If the reading list is private a forbidden error code is sent and it cannot be indexed. Sharing a url will reflect that since credentials are not passed on by the shared uri.

[2019-01-31 17:15] LeadSongDog commented on #833
Colour me skeptical, and the concern is broader than **_just_** reading lists.  I am quite certain that pseudonymous-me looking up a book on amz by just a single-click on the link in its OL edition page exposes real-me to their tracking, probably by browser fingerprinting. Doing so has gotten real-me multiple emailed amz adverts for books on similar topics and others by the same author. I doubt th

[2019-01-31 17:34] jdlrobson commented on #833
I guess I'm not understanding your concern and fear there may be some confusion. We are talking about exposing the title, description, image of the page in 3 meta tags inside the HTML. This content is already in the same HTML...  That's it. We are not talking about adding any Javascript from Facebook that will be able to track you. This HTML is read only. If the URL is given to facebook by a user

[2019-01-31 17:44] #833 closed

[2019-01-31 19:05] LeadSongDog commented on #833
@jdlrobson No, I don't think that you do understand. It isn't just private lists that are the issue. open/public lists for a pseudonymous user are a big leak. They can help the big aggregators to infer the real identity and other characteristics of the pseudonymous user. They do this in order to support targetted advertising, but those ads themselves can be a problem. Someone reading up on a topic

[2019-02-01 01:12] #1762 closed

[2019-02-01 04:27] gadgrandez opened #1855 "Add Spanish language"
## Description
Add Spanish translation to make the interface more friendly

[2019-02-01 06:15] #1258 closed

[2019-02-02 18:52] jdlrobson commented on #833
Would love to chat about this in slack/weekly call about this as you are right I don't understand.

Facebook can target ads at you but that requires a Javascript tracker of some description installed on openlibrary.org and we don't install one of those. From my perspective this task is just about adding some semantic HTML tags that can be read when the site is crawled... no more controversial than

[2019-02-02 19:20] jdlrobson commented on #1820
Per https://github.com/internetarchive/openlibrary/issues/1820#issuecomment-457850696

[2019-02-02 19:20] #1820 closed

[2019-02-05 01:28] jdlrobson opened #1861 "Remove Broken "List" feature on Publishers Pages"
Visit https://openlibrary.org/publishers/Barnes_&_Noble
Click "Create a new list"

Nothing happens.

Try to add to an existing list and see:
[code]

Seems like this is a problem with the API.
(We've noted the error 2019-02-05/012800436803 and will look into it as soon as possible. Head for home?)

[2019-02-05 17:02] mekarpeles opened #1863 "Fallback bookcover author name inconsistency"
## Description

The author name on the fallback bookcover doesn't seem to always match the editions page author

## Evidence

`https://openlibrary.org/...`

https://openlibrary.org/books/OL9489936M/The_Plague_Year

## Expectation

## Stakeholders

@JeffKaplan

[2019-02-05 17:09] tfmorris commented on #1863
That's a combination of a data bug plus removed code functionality. The data bug is that the edition lists [Alex Hill](https://openlibrary.org/authors/OL20181A) as the author (https://openlibrary.org/books/OL9489936M.json) which is inconsistent with work's author.

The code bugs are that a) we removed the ability to edit edition authors so there's no way to fix/edit this and b) different sources a

[2019-02-05 18:46] koderjoker commented on #1339
@jdlrobson could I take on this issue?

[2019-02-05 18:47] mekarpeles commented on #1863
Great catch @tfmorris that's definitely it, hadn't thought about that

[2019-02-05 19:37] LeadSongDog commented on #833
@jdlrobson
There are several intersecting issues.
1. Is the user pseudonym associated with the list or log disclosed? Yes, for no reason I can discern.
2. Can FB/Goog/etc see the works (and thence subjects) of interest to the user? Yes, by dint of 1.
3. Can they associate browsing history to a real identity? Yes, because that's central to what their business is.
4. Can they infer from a similar li

[2019-02-05 23:58] mekarpeles commented on #996
We should try to implement this using CSS as opposed to requiring a javascript solution.
@jdlrobson is `static/css/base/common.less` the right place to start?

[2019-02-06 02:01] jdlrobson commented on #1339
@koderjoker right now it's not clear what we want to build. I'd like to see some mocks of the design before jumping into solution mode!

[2019-02-06 12:05] shreyansh23 commented on #1851
@tabshaikh since no PR has been submitted yet, I would like to take this issue.

[2019-02-06 12:20] tabshaikh opened #1864 "What should I do if I face a 404 page error on local / on openlibrary.org site ?"
## Description

Here is the problem of landing on a 404 page error
![e1](https://user-images.githubusercontent.com/31198893/52408997-33c12f80-2afa-11e9-85d9-5f4a852b1099.png)

[2019-02-06 12:24] tabshaikh opened #1865 "What should I do to find the endpoints/files relating to the components I want to contribute to?"
## Description

Openlibrary has a huge codebase so sometimes finding the files for your frontend components can be a cumbersome process so what should we do.

[2019-02-06 12:41] tabshaikh commented on #1851
@shreyansh23 sure

[2019-02-06 14:50] shreyansh23 commented on #1851
@tabshaikh I am getting linting errors, which is failing the travis CI build.
How to avoid those errors?

[2019-02-06 16:19] tabshaikh commented on #1851
@shreyansh23 that is a nice question. To remove linting errors use "npm run lint:fix". Hopefully this will fix your linting problems and please can you make that one pr

[2019-02-06 16:21] tabshaikh opened #1868 "travis ci build fails due to linting errors ?"
## Description
What problem are we solving? What does the experience look like today? What are the symptoms?
We use Stylelint which gives us protection from various CSS issues, so if the pr doesn't follow the linting rules of the css the travis build fails.

## Evidence
The travis error log will look something like this ->
![linting_fix](https://user-images.githubusercontent.com/31198893/52360718-

[2019-02-06 17:32] tabshaikh commented on #1868
**What is the proposed solution / implementation? Is there a precedent of this approach succeeding elsewhere?**
To fix the build failure due to linting errors in the local dev we may want to change all the statements that violate the linting rules. This can be done by running `npm run lint:fix`

[2019-02-06 17:49] shreyansh23 commented on #1868
I installed open library using using docker, so to check the linting errors I had to do

`docker-compose exec web bash`
`make test`

[2019-02-06 17:50] tabshaikh commented on #1868
@shreyansh23 i also use docker but i can use the command normally outside too can you confirm

[2019-02-06 17:58] shreyansh23 commented on #1868
Yes @tabshaikh I can also run the command outside but to see the errors I had to go inside the container.
Using `npm run lint:fix,`
![screenshot from 2019-02-06 23-25-26](https://user-images.githubusercontent.com/32803230/52362445-9668eb80-2a66-11e9-8d96-f489671e74ae.png)

Using `make test`
![screenshot from 2019-02-06 23-27-16](https://user-images.githubusercontent.com/32803230/52362537-d039f200-

[2019-02-06 18:11] tabshaikh commented on #1868
@shreyansh23 Thanks for the confirmation. Updated my answer, we are trying to build a faq for new contributions where all questions and answers would be stored in this wiki https://github.com/internetarchive/openlibrary/wiki/Beginner's-FAQ. If you have some questions feel free to add them to it :)

[2019-02-06 18:14] tabshaikh commented on #1865
https://dev.openlibrary.org/developers/routes

[2019-02-06 19:10] shreyansh23 commented on #1851
@tabshaikh I have submitted the PR

[2019-02-06 19:23] nimbus98 commented on #996
Well, technically according to this issue the component we want to add the feature to, is just our mouse cursor, and we want the loading indicator to be shown when an action like waitlist/borrow is done.
I referred the component list in the wiki here: https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library
and there is nothing particular about the cursor.

One solution though, i

[2019-02-06 19:29] mekarpeles commented on #996
@nimbus98 I think this approach makes sense to me -- adding the loading indicator to the borrow/read buttons

[2019-02-06 19:30] mekarpeles commented on #996
There's an indicator here: https://openlibrary.org/static/images/indicator.gif

[2019-02-06 19:34] nimbus98 commented on #996
Thank you!
I'll get on it, test it out and get back to you.

[2019-02-06 23:59] mekarpeles opened #1871 "Lazy-load more carousel items on subjects page"
Similar to #602 -- support browsing experience on openlibrary

https://openlibrary.org/subjects/fantasy only shows 2 pages of results with no way to browse

related to https://stackoverflow.com/questions/36908678/slick-js-carousel-detect-last-thumb-to-load-more
[code]

[2019-02-07 11:33] tabshaikh commented on #1864
What is the proposed solution / implementation? Is there a precedent of this approach succeeding elsewhere?

[2019-02-07 20:45] hornc commented on #1864
404s are just page / resource not found messages, meaning the server cannot find anything that matches whatever URL you requested, it's a perfectly acceptable and informative response code.  It could be a bigger problem if a page that really should exist gives a 404, but that depends on the URL.

https://openlibrary.org/soijfsofwegfewungsdmfsd  should always give a 404, and that is not a problem,

[2019-02-08 00:02] #1851 closed

[2019-02-08 11:06] tabshaikh commented on #1864
@hornc Thanks for your detailed answer :)

[2019-02-08 19:24] nimbus98 commented on #996
I've read quite a bit on this, and here are my findings:
To be able to generate the loading icon on top of the button with reduced opacity of the button is easy, simply, like so (this is what I had in mind):

![](https://i.imgur.com/sGZwroS.png)

but the caveat here is that it has to be triggered by a click, and after I referred the loading.io link that @mekarpeles had sent me on gitter, it seems

[2019-02-08 20:48] nimbus98 commented on #899
May I take a look into this issue as well? (if its available) It seems interesting to me.

[2019-02-08 21:36] nimbus98 commented on #899
May I take a look into this issue as well? (if its available) :)

[2019-02-09 11:36] koderjoker commented on #1339
@jdlrobson after reformatting the interface for mobiles to something like this.
![ttable](https://user-images.githubusercontent.com/30471843/52520135-fee4e200-2c8b-11e9-8c6e-28821fb5ccbe.png)
should we replace the table header with a dropdown menu on top to allow users to select whether they want to sort on the basis of title, availability etc?

Also, after editing I partly feel that we should now

[2019-02-10 07:17] jdlrobson commented on #996
Firstly i want to make sure we are talking about the same thing... the borrow eBook links on https://openlibrary.org/works/OL1066521W/Caesar_and_Cleopatra

The problem you have here is that these are links. Clicking one will start the http request for the link in the href.

If this was ajax link I could understand the need for a spinner but I'm not aware of any websites which show a spinner on a l

[2019-02-10 08:28] mekarpeles commented on #996
@jdlrobson it's not obvious/trivial how initiating loans and or checking permissions of the item on IA side can be sped up -- I think we should have some indicator which displays as/while the patron is waiting for their request to be served

[2019-02-10 15:11] tabshaikh commented on #659
Hi all, I have created a rough draft for Book drive initiative, a lot of points needs to be discussed so I would like all the members to give their feedback on it. @mekarpeles @hornc @jdlrobson @tfmorris @cdrini @LeadSongDog.  https://docs.google.com/document/d/1Ym9RRNB5_k7I7z6ZehKKn0TISYgF1yofE-rtw6NtMWM/edit?usp=sharing (Please send me the permission request and i would be happy to accept it:)

[2019-02-10 15:13] tabshaikh commented on #659
wiki link of the book drive initiative https://github.com/internetarchive/openlibrary/wiki/Book-Drive

[2019-02-10 16:35] jdlrobson commented on #996
Is this about code generation of these links being slow or the clicking of them? From what I can see the buttons I am looking at are links that when clicked load web pages.

[2019-02-10 17:11] nimbus98 commented on #996
@jdlrobson I think what @mekarpeles is trying to say is that clicking of these buttons to load pages that perform these actions (like borrow/waitlist) take a long time, hence we may at least want to indicate that the corresponding HTTP requests are taking place with the help of a loader and that the page isn't just stuck. I hope I'm not mistaken :)

[2019-02-10 17:39] jdlrobson commented on #1339
I think as a first pass we can hide the table header in mobile. Your design looks great!

Let's think about sorting separately. Yes we will probably need JavaScript and some kind of dropdown but what you've got so far is already a massive improvement!

[2019-02-10 18:16] Mr-Magnificent commented on #1588
Is this issue still open? Can I work on it?

[2019-02-10 18:21] jdlrobson commented on #996
What I am saying is that I don't know of any websites that use this design pattern and that technically it may not be feasible. If you click a link you have told the browser that the current page is no longer needed and is going to be replaced with a new resource. That could mean things like the browser renderer are paused meaning no more renders happen. I'd need to refresh my knowledge to be sure

[2019-02-10 20:10] jdlrobson commented on #1588
@Mr-Magnificent yes please!

[2019-02-10 23:12] jdlrobson opened #1874 "Last edit text and edit icon misaligned on mobile"
![screenshot_20190210-150726_chrome](https://user-images.githubusercontent.com/148752/52541097-24362680-2d46-11e9-8e38-377149f5bc8b.jpg)
Expected: selected text should be aligned vertically with the edit icon

[2019-02-10 23:15] jdlrobson opened #1875 "Error in processing template (items)"
Observed on https://openlibrary.org/works/OL1066521W/Caesar_and_Cleopatra

![screenshot_20190209-231231_chrome](https://user-images.githubusercontent.com/148752/52541117-6495a480-2d46-11e9-999b-927b0c88864c.jpg)

Expected: error should not occur

[2019-02-11 03:52] Mr-Magnificent commented on #1588
@jdlrobson sorry I am having trouble running the command `docker-compose up`. Can you tell a workaround or if I can do without docker as a whole?
[code]

[2019-02-11 03:58] Mr-Magnificent commented on #1588
@jdlrobson  sorry I am having trouble running the command `docker-compose up`. Can you tell a workaround or if I can do without docker as a whole?

[code]

[2019-02-11 19:40] hornc commented on #1588
@Mr-Magnificent looks like you need to run `docker build -t olsolr:latest -f docker/Dockerfile.olsolr .` to create the ol-solr image

[2019-02-12 00:31] Mr-Magnificent commented on #1588
@jdlrobson kindly check whether this solves the issue. My best guess was that `this` was not in context in the code and since reload is anyway required then we can just simply reload than to close the dialog and then reload. If you can please do confirm if my assumptions are correct about `this` and whether this solves the purpose. Thanks.

[2019-02-12 01:16] salman-bhai commented on #31
@mekarpeles can we close this Issue?

[2019-02-13 05:17] tfmorris commented on #1048
What would be the downside of merging the editions if there are identical?

[2019-02-13 05:43] tfmorris commented on #869
I propose the OpenLibrary defer this task until Internet Archive is more transparent about this list. I heard a (hyperlocal) podcast just the other day touting how OpenLibrary could benefit the low income marginalized in Africa, Asia, etc. An American community library "wish" list isn't at all relevant to them.

[2019-02-13 06:57] tfmorris commented on #1875
Stack trace available at: https://openlibrary.org/works/OL1066521W/Caesar_and_Cleopatra?debug=true

I've seen this on multiple pages, so it's not an isolated instance.

The parameter doesn't appear to have an `items` attribute, so perhaps it's being passed in with one too many levels of dereferencing?

[2019-02-13 08:55] hornc commented on #1048
If they are identical in terms of 'identical metadata' it is fine and easy, but there are many examples where the metadata differs and it is hard to determine the best merge result without losing or duplicating fields. Fixing orphans was stalling on finding a perfect merge algorithm, and merging is hard to fully automate. It should probably be handled by providing tools and UI to enable fast human

[2019-02-13 09:00] hornc commented on #1048
Works are easier to merge because they in general have less complex metadata, and are more likely to be identical. My thoughts were that if all duplicate editions were at least collected under one work they will be easier to identify later as duplicates, so merging works is something we can do now to improve the data, with less chances of making mistakes or losing data.

[2019-02-13 15:47] shaneriley opened #1879 "Refactor CSS step in makefile"
## Description

In preparation of adding the Less clean CSS plugin, refactoring the `lessc` command to a for loop and function call provides a single point of update when updating the flags passed to the plugin.

## Evidence

N/A

N/A

## Expectation

Running `make css` process Less files in the same fashion as before, however editing which Less files are converted becomes much simpler, as does ch

[2019-02-13 16:24] shaneriley commented on #1489
Started migrating to Webpack and there's some strict mode errors. Looks like this will require a light refactor of some JS in addition to adding Webpack.

[2019-02-13 16:32] jdlrobson commented on #1489
I actually have a working webpack migration on my local machine. My approach was to turn all the existing files into exports and adding a new file that does the wiring up. I can share that later today.

The bit I haven't had time to look into is how to incorporate this into the deploy process.

[2019-02-13 16:36] shaneriley commented on #1489
Sounds like you got as far as I have. While migrating to Webpack, are we adding in Babel transpilation? I was going that route and just creating an all.js manifest with import directives.

Looked like the only file that violated strict rules was lazy.js, and the `with` block was easy to replace.

[2019-02-13 21:03] jdlrobson commented on #1489
Here's my patch: https://github.com/jdlrobson/openlibrary/commit/533a7df5c911cad01376bf0f1ac57fe2fc43bd9a
Feel free to  pick up where I left off or adapt your patch as necessary... I guess if nothing else it would be good to clarify we're on the same page (and yes.. the patch I have has the with problem :)

I think our code is a long way away from being able to benefit from it, so I don't think th

[2019-02-13 21:04] jdlrobson commented on #1489
Before adding webpack we'll probably also want to make a decision on #1180 so we know what we need to support (@babel/preset-env, .babelrc, .browserslistrc )

[2019-02-14 00:30] shaneriley commented on #1180
I typically drop browsers with < 2% traffic, but in the case of this project's global scope that may be difficult. I'd be interested to know how many versions back we're seeing used and filtered by country.

[2019-02-14 00:32] shaneriley commented on #1489
The level of Babel support I was planning to add was core and transform-class-properties, since I've found class level getters and setters useful. In this project, it might not be. Here was my added dependency list:

[code]

[2019-02-14 00:33] shaneriley commented on #1489
Regarding the changes, I think this is greater than what I had already started on. I was just making an initial pass at incorporating Webpack by still concatenating the files, figuring the rewriting would come at a later step. This already jumps us ahead a step.

[2019-02-14 00:47] shaneriley opened #1881 "Background image alignment in account dropdown"
## Description

I'm not sure if this is an issue, but it seems the background image of the `button#userToggle` element is not positioned properly. Setting a `background-position: 50% 50%;` made it more appealing to me.

## Evidence

`https://openlibrary.org` (all pages)

![bg_position](https://user-images.githubusercontent.com/39553/52754307-1263b600-2fc8-11e9-8099-cadaeeaba134.jpg)

## Expectatio

[2019-02-14 01:49] jdlrobson commented on #1881
Is that your profile icon?
If so, could you share the URL for the profile avatar so I can replicate this?

I'm guessing it's assuming the avatar is a certain width/height.
(FYI We're using    background-size: cover; for avatars)

[2019-02-14 01:54] shaneriley commented on #1881
That must be the default icon it gave my admin user. I ran the Docker setup based on https://github.com/internetarchive/openlibrary/blob/master/docker/README.md, so must be it gives the admin an icon smaller than the button size. I can check it out again in the morning to know for certain.

[2019-02-14 01:58] jdlrobson commented on #1881
Thanks! Just knowing what URL it's pointing to will allow me to see if I can replicate the same issue.
I'm seeing https://archive.org/services/img/@jdlrobson on openlibrary.org so maybe this is just a problem with development setup.

[2019-02-14 10:55] shaneriley commented on #1881
Started it up again this morning, and now it points to a different image. Maybe the archive.org avatar assigned to the `@openlibrary` account was changed? This is what's there now. https://archive.org/services/img/@openlibrary

I'd try to recreate it, but I can't find anywhere to change the avatar on either the profile or account page. Is this controlled elsewhere?

[2019-02-15 01:41] shaneriley commented on #1881
Got it again tonight. I'm not sure of the exact steps, but what changed since this morning:

1. Stopped Docker containers
2. Unplugged Cinema display, moving Chrome to a retina display from a non-retina one
3. Started Docker containers
4. Visited home page in development.

Here's a screenshot of the element with a different inline background image.

<img width="1110" alt="screen shot 2019-02-14 at

[2019-02-15 04:12] jdlrobson commented on #1881
Looks like a malformed URI - https://archive.org/services/img/
Are you logged in when this happened or anonymous? If the former, something's not passing on the username correctly...

[2019-02-15 07:03] hornc commented on #869
Some stats,
Out of 2000 randomly sampled English books on the Wishlist:
 239 NOT FOUND 12% (not found  on OL or elsewhere)
 203 CREATED   10% (Record created from new metadata)
1558 FOUND     78% (OL already had a record for the ISBN)

Out of 2000 randomly sampled Non-English ISBNs on the Wishlist:
 822 NOT FOUND 40% (not found on OL or elsewhere)
 289 CREATED   15% (Record created from new metada

[2019-02-15 10:47] shaneriley commented on #1881
Yes, I'm logged in. What's really strange is that when first logging in, I get the default avatar image, and I can refresh all I want without it switching to the URL above. It's only once I stop and restart the Docker containers that I get the URL missing the account name.

[2019-02-15 17:42] seabelis opened #1886 "Saving edits to works and editions produces error."
## Description

Editing a work or edition produces

"Hmm...
Sorry. There seems to be a problem with what you were just looking at."

We've noted the error 2019-02-15/173231579101 and will look into it as soon as possible. Head for home?"

Changes are successfully committed, however. This also happens when moving an edition.

## Evidence

`https://openlibrary.org/...`

## Expectation

## Details

#

[2019-02-15 17:48] seabelis opened #1887 "Cannot add new edition."
## Description

Error when adding new edition to existing work. Item not successfully added.
"Hmm...
Sorry. There seems to be a problem with what you were just looking at.

We've noted the error 2019-02-15/173231579101 and will look into it as soon as possible. Head for home?"

## Evidence

`https://openlibrary.org/...`

## Expectation

## Details

## Proposal & Constraints

## Stakeholders

[2019-02-15 18:05] seabelis opened #1888 "ID Numbers drop-down cut off on edit form."
## Description

ID Numbers drop-down cut off on edit form.

## Evidence

`https://openlibrary.org/...`

![fullscreen capture 2152019 70326 pm bmp](https://user-images.githubusercontent.com/17739465/52875427-99459980-3154-11e9-9691-99c9e8691303.jpg)
## Expectation

## Details

## Proposal & Constraints

## Stakeholders

[2019-02-15 18:19] seabelis opened #1889 "Minor CSS Issue: Read/Return Unibutton"
## Description

No spacing between Read and Return buttons on editions table of works page causing a "unibutton" effect.

## Evidence

`https://openlibrary.org/...`

![fullscreen capture 2152019 71618 pm bmp](https://user-images.githubusercontent.com/17739465/52876129-921f8b00-3156-11e9-8613-b1bb8f54d5f1.jpg)

## Expectation

## Details

## Proposal & Constraints

## Stakeholders

[2019-02-15 18:47] seabelis opened #1890 "Can't add item to multiple lists without refreshing page."
## Description

After adding an item to a list, the dropdown will not work again without refreshing the page; it's just unresponsive.

[2019-02-15 20:13] seabelis opened #1891 "Cannot save changes to work-less editions"
## Description

Trying to save changes to a work-less edition results in a failure, but no error message.

## Evidence

https://openlibrary.org/books/OL24195925M/Sarah's_Key

![fullscreen capture 2152019 91028 pm bmp](https://user-images.githubusercontent.com/17739465/52881958-7ae89980-3166-11e9-840d-99f820f2a573.jpg)

## Details

Yes

Chrome Version 71.0.3578.98 (Official Build) (64-bit)

Windows

[2019-02-15 21:13] seabelis opened #1892 "Cannot add translation information to edition"
## Description

Indicating edition is a translation does not open the translation fields.
![translation options not showing](https://user-images.githubusercontent.com/6251786/61542044-c8677c00-aa0e-11e9-84ea-8032d88d603a.gif)

## Expectation

Previously, once a work was identified as a translation, the additional related fields would be activated.

![image](https://user-images.githubusercontent.co

[2019-02-15 22:20] mekarpeles commented on #1891
@hornc can I please entrust this one to you? Thank you!!

[2019-02-16 01:41] mekarpeles commented on #1887
@seabelis is this still a problem on dev? Thank you for discovering!

[2019-02-16 01:46] #337 closed

[2019-02-16 01:47] mekarpeles commented on #1868
This is great! @tabshaikh has linked this question on our wiki -- closing this as an issue :)

[2019-02-16 01:47] #1868 closed

[2019-02-16 01:48] mekarpeles commented on #1865
See: https://github.com/internetarchive/openlibrary/wiki/Beginner's-FAQ! :D