[2019-10-25 00:39] tfmorris commented on #1567
Definitely related to, and a near duplicate of, #715. Removing the stop word analyzer on indexing is a third issue which needs fixing in addition to the two other problems mentioned.

[2019-10-25 00:42] tfmorris commented on #670
ACS = Adobe Content Server. It's a DRM thing.

[2019-10-25 00:56] tfmorris commented on #759
I'm fine with only having the identifiers in the URL. I don't think they add a lot of value.

Having said that, I think we should:
* be consistent in identifier treatment between work and edition pages
* make the link to the work more obvious on the edition page

[2019-10-25 00:57] guyjeangilles commented on #798
@conditionsofexistence @mekarpeles What's the current status of this scanning initiative?

[2019-10-25 01:04] tfmorris commented on #798
While an interesting idea, this doesn't really sound related to the OpenLibrary web site or associated metadata.

[2019-10-25 01:24] guyjeangilles commented on #806
Nevermind #1440 (which is a duplicate of this issue) provided urls that display this problem. There is good discussion on how to fix this issue at #2039

[2019-10-25 01:24] guyjeangilles commented on #1440
Agreed that this is a duplicate of #806. Closing.

[2019-10-25 01:24] #1440 closed

[2019-10-25 01:33] LeadSongDog commented on #806
The initial example was from https://openlibrary.org/works/OL1100007W/Le_tour_du_monde_en_quatre-vingts_jours

[2019-10-25 02:23] tfmorris commented on #627
I think the description is adequate. It's a feature request which is much lower in priority than all the critical bug fixes that are needed, at least from my point of view. Not willing to be the assignee until it bubbles to the top of the priority queue.

[2019-10-25 02:34] tfmorris commented on #640
This bug is adequately described from my point of view. I'd avoid doing any character removal in Python / Javascript, but rather depend on the Solr analyzers used for indexing and querying. The front end focus should be on making sure that the query string gets appropriately encoded as a URL and escaped for Solr special characters. I consider this a medium priority search bug.

[2019-10-25 02:46] tfmorris commented on #2141
I've edited the original problem report to include the search url that's needed to reproduce the problem. With that, I think it's adequately described. There are three different types of buttons: 1) Borrow, 2) Join Waitlist, and 3) Unavailable, but the last seems to be used much too often. I suspect it's being used for both the "Read" and "Unavailable" cases, so that's probably where someone shoul

[2019-10-25 03:38] mekarpeles opened #2552 "Fix Stale Redirects/Backrefs (RedirectBot)"
This spawns from https://github.com/internetarchive/openlibrary/issues/501 and relates to #805

### RedirectBot Phase 1 #2553
1. [x] Find where backrefs to `olid`s occur between types e.g. a list->?(redirect), edition->Work(redirect), edition(orphan)->Authors(redirect).
2. [x] Correct/enforce that there are no chains of redirects (probably unlikely) -- There are chains of redirects

3. [ ] Use dum

[2019-10-25 03:46] mekarpeles opened #2553 "RedirectBot Phase 1: Fix past stale redirect backrefs"
#2552

There are 524k redirects as of Oct 1, 2019. How many of these redirects are referenced by
Should be able to run as a 1-off task (w/ option to be run monthly)

- [x] Find where backrefs to olids occur between types e.g. a list->?(redirect), edition->Work(redirect), edition(orphan)->Authors(redirect).
  * Authors can contain user added links in their descriptions, but not it the data model. 1

[2019-10-25 15:10] jdlrobson commented on #2279
@cdrini can you review the patch from @ManishAradwad - code-wise looks fine but I can't speak/review for the goal.

[2019-10-25 15:16] jdlrobson commented on #2490
Exactly - but only for all.js as that's the only bundle your change impacts. Round up to nearest decimal place so for this it would be 142.6kb

[2019-10-25 16:48] LeadSongDog commented on #452
@guyjeangilles
I haven't been engaged with it, but it seems to be quite functional as an interactive tool. For instance, going to https://qrpedia.org one finds an invitation to paste an URL for a WP article. Doing so, one gets something of the sort:
https://qrpedia.org/qr/php/qr.php?size=800&download=Open_Library%20QRpedia&e=L&d=http%3A%2F%2Fen.qrwp.org%2FOpen_Library
Downloading that, one gets
![

[2019-10-25 17:25] hornc commented on #2553
some commands to extract the first steps:
`# extract olids -> location in tsv`
`fgrep "/type/redirect" ol_dump_2019-09-30.txt | sed 's/^\/type\/redirect\t\([^\t]*\).*location": "\([^"]*\)".*$/\1\t\2/' > redirects_2019-09-30.tsv`

Number of redirects found:
`526416 redirects_2019-09-30.tsv`

Number of 'chains'  (where a target location itself is a loop) in redirects:
[code]

[2019-10-25 17:52] LeadSongDog commented on #178
Searching finds each of those two keys individually, with no indication of the other. Surely we would want to display some indication of the nearly-identical spelling's existence to facilitate their merger.

[2019-10-25 17:55] LeadSongDog commented on #367
@mekarpeles @guyjeangilles
I don't see any sign of it on openlibrary-client, but perhaps I'm not searching correctly. Mek?

[2019-10-25 18:16] LeadSongDog commented on #798
The principal point is that it would help to fill in the metadata blanks. Shelving normally is in a sequence that reflects either classification or (for fiction) author name. A nonfiction book shelved between two others will normally have subject matter similar to both. Hence "shelved_with[OLID]" would be helpful information when no other subject metadata is at hand.

[2019-10-25 21:17] hornc commented on #2553
"types" with redirects:

[code]

these are the id prefixes, e.g. ` /about/<id>`  or `/dev/docs/wikilanguage` => `/dev/docs/infogami`

Ids with `work` were unexpected, but should be easy enough to resolve.

[2019-10-25 23:27] BrittanyBunk opened #2564 ""Read" type availability button absent in Lists"
Should have 'read' button, as how the 'borrow' button looks
![Untitled](https://user-images.githubusercontent.com/55302685/67609942-49d45600-f744-11e9-8f39-e6c1be27fbd2.png)

[2019-10-26 01:50] BrittanyBunk opened #2565 "Better integration of project gutenberg's material"
Right now, the 'text's are in a txt or img format. That's difficult to integrate into the Open Library. I would like to recommend contacting Project Gutenberg to create complementary pdf's for their html texts to incorporate into the Open Library.
project gutenberg: https://archive.org/details/gutenberg/downloader/index.php?tab=collection
example: https://archive.org/details/cookeryanddining29728g

[2019-10-26 16:18] briankirsten commented on #213
We're planning on a new service, but real life has been in the way so we don't have a release date.

[2019-10-26 19:06] tfmorris commented on #2565
They also distribute texts in HTML and ePUB formats. I would have thought that ePub which is supported natively by online bookreaders would be much more desirable than PDF.

[2019-10-26 20:16] jonafato commented on #2420
It looks like this issue was fixed by #2474 but not automatically closed.

[2019-10-26 20:33] BrittanyBunk commented on #2565
I prefer PDF, because while the epub format's for tablets, PDF's for both tablets and computers. Also, it doesn't capture the formatting well enough to always use.

[2019-10-27 02:49] mekarpeles commented on #2170
Closed by #2540, #2543

[2019-10-27 02:49] #2170 closed

[2019-10-27 02:58] mekarpeles commented on #659
Considering this Epic closed. Opening a followup issue which details remaining steps

[2019-10-27 02:58] #659 closed

[2019-10-27 04:24] mekarpeles opened #2566 "Phase II of Book Sponsorship Epic: Full Automation & Corrections"
Followup of #659

Create issues and a roadmap for the following (and update here)
- [x] Release @brad2014 blog post on OL blog w/ link to sponsorship
- [x] Add sponsorship dedication message to openlibrary edition pages #2567 solved by #2568
- [x] Fix collection strings to match the strings needed by SF Scanning center
- [ ] Implement automatic BWB purchase order; purchase books via partners (via

[2019-10-27 05:21] mekarpeles opened #2567 "Add sponsorship dedication message to openlibrary edition pages"
### Describe the solution you'd like

There should be some visual indication that a book has been sponsored

### Proposal & Constraints

This needs to piggy-back on the existing availability check which OL is doing for the edition (to avoid 2 http requests being made to/for archive.org metadata)

### Additional context

![dev openlibrary org_books_ol25448615m_reinventing_organizations](https://use

[2019-10-27 05:29] mekarpeles commented on #2564
This looks like a problem with availability statuses (i.e. a readable book is not showing up as such). This is a duplicate of #2141

[2019-10-27 05:39] mekarpeles commented on #2486
If the carousel item or search result work is readable / borrowable / has daisy / waitlist ... i.e. if we've identified the work has an archive.org edition, we can use it's `ocaid` to fallback to an archive.org cover `https://archive.org/services/img/{identifier}`. I think @leadsongdog would probably agree we should wrap this archive.org url within covers.openlibrary.org (i.e. use a proxy) so patr

[2019-10-27 05:39] mekarpeles commented on #2486
Also related: #2447 #2132

[2019-10-27 05:41] #2279 closed

[2019-10-27 05:44] mekarpeles commented on #2510
@cdrini thanks, yes, lgtm!

[2019-10-27 05:44] #2510 closed

[2019-10-27 05:53] mekarpeles commented on #2531
@cecyc do you have a proposal for how this should be implemented? You may want to look at `macros/LoanStatus.html` and how it's used already within `openlibrary/templates/type/edition/view.html`.

We'll probably want the LoanStatus button to be above the `Want to Read` -- i.e. `$:render_template("lists/widget", page, include_header=False)` -- button, but hidden on desktop (and visible when mobile)

[2019-10-27 05:57] mekarpeles commented on #2481
@samuel-archive do you have any idea why this is happening? It seems like it may be server side.

[2019-10-27 06:04] mekarpeles commented on #2481
`plugins/openlibrary/home.py` -> `core.admin.get_stats()` -> `visitors    = Stats(docs, "visitors", "visitors")`

`$:commify(stats["visitors"].get_summary(28))`

[2019-10-27 06:13] mekarpeles commented on #2481
data for openlibrary looks fine from here: https://catalogd.archive.org/stats

[2019-10-27 06:20] mekarpeles commented on #2481
Related historical issue: #1026

[2019-10-27 06:21] mekarpeles commented on #2481
I have a suspicion. @hornc is it possible that `ipstats.py` is being run after our importbot cron, that there's an error occurring, and the rest of the cron is aborting??

[2019-10-27 06:39] mekarpeles commented on #2481
I just ran `sudo /olsystem/bin/olenv /opt/openlibrary/openlibrary/scripts/ipstats.py  /opt/openlibrary/olsystem/etc/openlibrary.yml` on `ol-home` and that succeeded w/o problems but no dice on solution. Trying to also run `/olsystem/bin/olenv /opt/openlibrary/openlibrary/scripts/store_counts.py /opt/openlibrary/olsystem/etc/infobase.yml /opt/openlibrary/olsystem/etc/openlibrary.yml /opt/openlibrar

[2019-10-27 06:54] mekarpeles opened #2569 "Resolve ~65,825 duplicate ocaids on OL editions"
We discovered ~68k duplicate `ocaid`s in ticket #1045. This issue represents an `epic` for (a) dealing with resolving these duplicates (perhaps this is related to a much larger roadmap for #1928 merging works and editions)

[2019-10-27 06:55] #1045 closed

[2019-10-27 06:58] mekarpeles commented on #1003
I am going to close this issue, it's going to inevitably be cleaned up as we move forward w/ cleaning templates and this conversation is way behind master. Thank you for the bump @guyjeangilles

[2019-10-27 06:58] #1003 closed

[2019-10-27 07:00] mekarpeles commented on #2547
Relates to #2566

[2019-10-27 07:11] #2519 closed

[2019-10-27 07:16] mekarpeles commented on #2177
I think this is a combo of 2 issues: @cdrini and @jdlrobson both have it right. Escalating this to priority 0. Will review @jdlrobson's PR asap.

The right solution likely entails also fixing #623. @cdrini I may ask for your help on this one.

[2019-10-27 09:31] mekarpeles commented on #2481
I'm also seeing `/dev/vdb1       3.6T  3.4T  188G  95% /1` low disk space on `ol-backup0` which we should make sure is not related.

[2019-10-27 09:54] seabelis opened #2571 "There is no good way to represent IA scans with multiple editions bound together in a volume"
I occasionally encounter the situation of multiple editions that have been bound together and scanned as a single item on IA and I'm not sure how best to catalog them. These are items that have different publication details; work, publisher, year(s), location, etc. that correspond to one scanned item on archive.org.

### Relevant url?
For example, https://archive.org/details/macbeth00shak_7/page/n

[2019-10-27 10:17] seabelis commented on #707
I think this is a pretty grey area. Sometimes the series name is essential for identification as in the case stated above, sometimes not so much (such as Everyman's Library, #4873). In https://github.com/internetarchive/openlibrary/issues/2241 I've suggested adding a field "Head of Title" which could be used to differentiate between literary series and publisher's series.

[2019-10-27 12:47] BrittanyBunk commented on #2564
@mekarpeles hey. This is different than that one, as that one's about malfunctioning buttons, not that it's missing a feature. Bug vs feature.

[2019-10-27 16:34] cecyc commented on #2531
@mekarpeles thank you! I was a bit stuck trying to figure out the best way to pull in that element, but this should hopefully set me in the right path, thank you!

[2019-10-27 16:44] tquinlan commented on #2566
Wrong @tquinlan, I think...

[2019-10-27 19:48] guyjeangilles commented on #827
It looks like a decision needs to be made about this. @mekarpeles defaulting to asking you whether or not this request should be implemented.

[2019-10-27 19:56] guyjeangilles commented on #89
@hornc Is this still an issue? It looks like there are scripts to spot bad merges. Are there any other changes that can be implemented?

[2019-10-27 20:04] guyjeangilles commented on #200
@LeadSongDog has proposed some viable solutions. @hornc This looks like an issue in your purview. Are you willing to assignee? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-27 20:16] guyjeangilles commented on #498
@tfmorris Would you recommend fixing this issue at the Infobase level or at the Solr level? Also, are you or @hornc willing to be assignee for this issue? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-27 20:26] guyjeangilles commented on #669
@tfmorris @mekarpeles It doesn't looks there's an issue in the openlibrary-client repo. Are either one of you willing to be assignee for this issue? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-27 20:35] guyjeangilles commented on #864
Related to #863.

@tfmorris It looks like this is something you'd handle. Has there been progress and are you willing to be assignee. Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-27 20:44] guyjeangilles commented on #863
Sotho appears to still have dual codes. @tfmorris Has there been progress on this issue and are you willing to be assignee for this issue? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-27 21:09] guyjeangilles commented on #829
I can duplicate this bud as described on Windows 10 FF70.0 .  However, work arounds exist. If I don't refresh the page, the book is removed as expected. If I change the book to "Currently Reading", then click "Remove", the book is removed as expected.

[2019-10-27 23:08] guyjeangilles commented on #866
This still isn't implemented. Defaulting to asking @mekarpeles to be assignee for this issue. Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-27 23:15] guyjeangilles commented on #487
@hornc Have you explored this bug any further? Also are you willing to be assignee for this issue. Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-27 23:22] guyjeangilles commented on #796
While the FAQ isn't on the homepage anymore, it still has all the above problems noted in this thread. @mekarpeles defaulting to asking you to be assignee for this issue. Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your

[2019-10-27 23:27] guyjeangilles commented on #891
I've also labeled this high priority since it appears a very critical bug to Open Library's mission.

@hornc Was a separate issue made for Author edition counts? Also are you or @tfmorris willing to be assignee for this issue? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the

[2019-10-27 23:33] guyjeangilles commented on #897
These identifiers are still on editions. @seabelis What are you thoughts on this suggestion?

[2019-10-27 23:39] guyjeangilles commented on #906
This still an issue. If a user tries to borrow a book without logging in they are appropriately directed into a log in page.

@mekarpeles I assume this would be a good first issue, but if not, are you willing to be assignee? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the W

[2019-10-27 23:46] dcapillae commented on #2539
Hi,

I've consulted a bibliographic description manual. It says that the illustrator's name should be registered as top-level author only if it appears prominently in the document.

In the case of _[Shakespeare's Garden](https://openlibrary.org/books/OL8065444M/Shakespeare's_Garden)_, the illustrator's name appears prominently in the document, and the illustrations seem to be an essential part of

[2019-10-27 23:50] guyjeangilles commented on #486
This appears to be unresolved. @hornc I'm guessing this is your purview. Are you willing to be assignee? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-27 23:58] guyjeangilles commented on #790
This is still a bug.

@tfmorris @cdrini @hornc Are one of you willing to be assignee for this issue? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-28 00:10] guyjeangilles commented on #448
Solving #2064 will fix this issue, which has an assignee so I'm giving this issue a triage exception tag.

[2019-10-28 00:15] tfmorris commented on #157
I question whether this adds enough user value to invest programming effort in.

@bencomp I know it was a long time ago, but do you remember what definition of the "Edition records" include distributors?

I don't see it mentioned either here: https://openlibrary.org/about/schema
or here:  https://github.com/internetarchive/openlibrary-client/blob/master/olclient/schemata/edition.schema.json

[2019-10-28 00:23] guyjeangilles commented on #412
@seabelis Do you have anything to add on top of what has already been said?

Also @hornc, are you willing to be assignee for this issue? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-28 01:03] tfmorris commented on #282
I don't think there's any question that calls to API with equivalent identifiers should return the same data.

[2019-10-28 01:13] tfmorris commented on #2028
If an assignee is responsible for triage, that means that they need to investigate, attempt to reproduce, examine the code, etc. Bug reports definitely need to be triaged, but in the vast majority of cases they were triaged years ago and often if it was, say, 3+ years ago, they've been revalidated in the last year or two.

The reason bugs aren't getting fixed is most emphatically **not** because t

[2019-10-28 01:15] tfmorris commented on #2317
I don't think something can be both a refactoring and a bug. They seem mutually exclusive. This seems to clearly be a refactoring. It's also exceedingly unlikely that a refactoring, particularly dead code removal, would be considered high priority.

[2019-10-28 01:27] tfmorris commented on #672
Still a bug, but could be obsolete code. It appears that @bfalling authored the README, so perhaps he or @hornc knows more.

[2019-10-28 01:28] tfmorris commented on #682
@LeadSongDog do you agree that Narrator is appropriate/adequate? If so, please close this issue.

[2019-10-28 01:33] tfmorris commented on #178
You've just restated the original request.

[2019-10-28 01:34] tfmorris commented on #367
I think pushing issues off to another repo was just a passing phase and is something that we no longer do.

[2019-10-28 01:38] tfmorris commented on #2420
I concur. Thanks for the heads up @jonafato

[2019-10-28 01:38] #2420 closed

[2019-10-28 02:00] tfmorris commented on #623
The proposed solution seems computationally expensive.

Isn't the existence of an IA ID (aka ocaid) a good proxy for whether a digital edition exists?

[2019-10-28 02:17] tfmorris commented on #498
We could attempt a short term patch to the Solr updater to mitigate some of the most egregious issues, but long term we need to fix:
* importer(s) - so they don't contribute to the problem
* the author merge code - so that it normalizes and eliminates near duplicates
* the database (bulk update to clean up existing issues)

Most of the problem is cosmetic, so I consider it lower priority.

[2019-10-28 02:22] tfmorris commented on #669
I've removed the Solr tag. This can't be done there alone. It needs to be updated in the database.

re my March 2018 comment, I'm happy to keep the various cleanup tasks independent.

[2019-10-28 02:36] tfmorris commented on #863
There has been no progress on this as far as I know. I'm not adding anything to my plate until search is fixed.

[2019-10-28 02:44] tfmorris commented on #864
#1558 might help demonstrate where things need to be updated. It would make sense to address in conjunction with #863. I'm not adding it to my list of things to fix.

In addition to the main table update, it looks like there are some mapping tables embedded in various bits of code, e.g.

https://github.com/internetarchive/openlibrary/blob/22da07aef6f8aa83571d43a89e5ab22fda28a438/openlibrary/catalo

[2019-10-28 02:52] tfmorris commented on #866
Although the original request was primarily focused on external URLs, this should work for internal OpenLibrary URLs as well. e.g. The author autocomplete field on the work edit form should accept a full OL author URL, in addition to the OL ID that it currently does, although this might be simple enough and distinct enough that it can be addressed separately.

[2019-10-28 03:06] tfmorris commented on #891
#628 is related. It sounds like @hornc may have some ideas for where the problems are located, but if he doesn't get around to it first, I'll add this to my pile when I've got some of the more basic Solr issues fixed.

[2019-10-28 10:57] seabelis commented on #897
I think work level is a great idea for the reasons mentioned by @LeadSongDog . I do like the option of keeping the edition specific version as well. Maybe we can mimic the LC's implementation by having a work-level 'browse by shelf order' for the generic call number. See https://catalog.loc.gov/vwebv/holdingsInfo?searchId=1158&recCount=25&recPointer=3&bibId=184084 and https://catalog.loc.gov/vwebv

[2019-10-28 12:00] seabelis commented on #412
I expect this could be auto-populated from the work. Maybe the work needs a language field, otherwise one must populate the original language for each edition, which, in theory, should be unnecessary. Could potentially get messy for multi-work editions since we don't have a solid strategy for managing these.

[2019-10-28 12:04] seabelis commented on #682
Should narrator be changed to 'Read by'? I always felt it was clear but, I have seen at least one example where a well-meaning editor interpreted 'narrator' as a literary term and entered a character's name.

[2019-10-28 14:54] LeadSongDog commented on #682
I have been using “narrator” too, but “read by” seems to be the normal term seen in catalogues. If we agree they are largely equivalent perhaps just replace one by the other?

[2019-10-28 17:16] seabelis commented on #682
Works for me.

[2019-10-28 17:41] tfmorris commented on #486
Some of the other issues which cover this are #628 and #891

[2019-10-28 17:52] tfmorris commented on #790
I'll make sure this works correctly in the new Solr.

[2019-10-28 18:01] tfmorris commented on #412
`original_language` on the work would be a useful addition if we don't already have it. This could implicitly encode the information that @hornc proposed `translated_from` for.

[2019-10-28 20:33] cdrini opened #2583 "Close button is underlined/hard to press in dialog popup"
Continuation of #2489

- [ ] Close button shouldn't be underlined
- [ ] increase padding of close button so it's easier to click

### Evidence / Screenshot (if possible)
Underlined:
![image](https://user-images.githubusercontent.com/6251786/67715209-99a25f80-f986-11e9-9c11-19f3fe88c05a.png)

And hard to hit
![image](https://user-images.githubusercontent.com/6251786/67715589-5bf20680-f987-11e9-8d1f

[2019-10-28 21:22] guyjeangilles commented on #367
I've changed labels accordingly. @hornc do you potentially have any idea why work and edition schemas differ this way?

[2019-10-28 21:38] tfmorris commented on #367
Actually, I'm going to close this. I didn't really look at it closely last time around. The spreadsheet has an extract of the Solr schema from 2016, but we don't actually index editions currently, so that piece is moot. Plus "review and comment" doesn't really buy us anything.

When we add (or switch to) indexing editions, we'll want to design the edition schema carefully, but that can be done as

[2019-10-28 21:38] #367 closed

[2019-10-28 21:42] guyjeangilles commented on #682
@leadsongdog @seabelis to clarify, the proposal is to change `Narrator` to `Read by`?

I can see how a good-intentioned user could add a fictional character as a narrator.

[2019-10-28 22:07] tfmorris opened #2584 "Introduce contributor role type instead of using text strings"
Currently the contributor roles are just text strings which means that we have both Editor and Redakteur (German for editor) and we have Lektor (German for reader), but no equivalent English version.

We should introduce language independent objects for these which can then have multiple labels in different languages. One possible solution would be to use a curated list of Wikidata objects to be a

[2019-10-28 22:25] jdlrobson commented on #2583
Last time i checked 44×44 pixels was the recommended size for anything displayed on mobile.

[2019-10-29 00:31] LeadSongDog commented on #682
@guyjeangilles
Yes

[2019-10-29 01:27] #623 closed

[2019-10-29 01:27] #2177 closed

[2019-10-29 02:07] mekarpeles commented on #2550
@Ignatiusdork yes please!
Related to: #2514

Any time a cover doesn't exist for a book on Open Library and we have an Archive.org identifier (i.e. an `ocaid`) for that book, we can fallback to https://archive.org/services/img/{ocaid}

e.g. https://archive.org/services/img/TheGeometry

There's two files to look at:
1) openlibrary/templates/books/custom_carousel.html
2) openlibrary/macros/SearchResu

[2019-10-29 02:08] mekarpeles commented on #2550
![67058726-f1310780-f10a-11e9-8d13-47c71774d4ea](https://user-images.githubusercontent.com/978325/67731702-51029a80-f9b6-11e9-8435-c93a6bc626c0.png)
Here's another screenshot provided by @BrittanyBunk

[2019-10-29 02:13] mekarpeles commented on #2486
@ignatiusdork is working on this issue -- closing this specific issue as a duplicate of:
- #2550
- #2514

[2019-10-29 02:13] #2486 closed

[2019-10-29 02:13] mekarpeles commented on #2550
More important context here:
https://github.com/internetarchive/openlibrary/issues/2486#issuecomment-546663814

[2019-10-29 02:13] mekarpeles commented on #2514
Duplicated by #2550 and #2514

[2019-10-29 02:13] #2514 closed

[2019-10-29 02:16] mekarpeles commented on #2506
I think specifically this is a cacheing issue as `/x/resolve` has been deprecated (in favor of using `?edition=` to avoid SEO consequences. Had we done this to begin with, regression would have had no breaking changes. Live and learn :)

[2019-10-29 02:16] #2506 closed

[2019-10-29 02:19] mekarpeles commented on #2512
There should be a way to exclude the current title in the Authors carousel within `$:macros.RelatedWorksCarousel(work)`.
It can be filtered out within:
`$ authors = ', '.join([author if isinstance(author, basestring) else author.name for author in work_subjects_authors.get('authors', [])])`

[2019-10-29 02:22] mekarpeles commented on #2484
A lot of these books are powered by archive.org queries behind the scenes, so there isn't a super easy way to "see more" without clicking the link (e.g. Books We Love). There is a similar issue which proposes a solution #602

[2019-10-29 02:38] mekarpeles commented on #2429
This issue seems resolved. Archive.org is also out of scope of this project board.

[2019-10-29 02:38] #2429 closed

[2019-10-29 02:39] mekarpeles commented on #2384
Relates to #683

[2019-10-29 02:40] mekarpeles commented on #2387
I don't have the time to create new issues for these specifically -- if the proposal is for a description bot and a table of contents bot, let's document them clearly as separate issues please :)

[2019-10-29 02:40] #2387 closed

[2019-10-29 02:44] mekarpeles commented on #2455
Is this true? Links are addable to editions and they should show up on the UI.
![openlibrary org_books_OL24461477M_The_autobiography_of_Fidel_Castro_edit](https://user-images.githubusercontent.com/978325/67733315-426ab200-f9bb-11e9-8026-4b2d80c5af4d.png)

[2019-10-29 02:45] mekarpeles commented on #2385
Could not reproduce

[2019-10-29 02:45] #2385 closed

[2019-10-29 02:47] mekarpeles commented on #2046
@rohitjain00 did you have a chance to try this out? Could we assign this one to you? :)

[2019-10-29 02:49] mekarpeles commented on #2028
I feel like this is in a pretty good place. Going to close for now.

[2019-10-29 02:49] #2028 closed

[2019-10-29 03:16] cecyc commented on #2531
@mekarpeles have a PR [here](https://github.com/internetarchive/openlibrary/pull/2586). Let me know your thoughts! Thanks!

[2019-10-29 12:50] imskr commented on #2583
Can I work on this issue?

[2019-10-29 13:46] BrittanyBunk commented on #2455
I said for individual editions, not works. Unless it's labeled by edition, they all show up in the same place @mekarpeles this shouldn't've been closed. It's not addressed.

[2019-10-29 13:49] BrittanyBunk commented on #2484
@mekarpeles it is really similar. I guess we can close this then.

[2019-10-29 13:49] #2484 closed

[2019-10-29 14:56] seabelis commented on #682
Yes. I'm okay with this.

[2019-10-29 17:17] cdrini commented on #2405
@samuelpetroline There is already microdata for a lot of UI components. This would require adding some more to probably this line in the Edition's template: https://github.com/internetarchive/openlibrary/blob/310e4d55904033905aa7caa5fabeb82e78b9f71e/openlibrary/templates/type/edition/view.html#L200

Note that file already has `schema.org/Book` microdata.

[2019-10-29 17:45] cdrini commented on #2248
Added :+1:

Note this will likely be fixed by https://github.com/internetarchive/openlibrary/issues/2553

[2019-10-29 18:13] seabelis commented on #1799
Seems resolved at least atm.

[2019-10-29 18:16] cdrini commented on #2242
Until we have proper i18n, we have to take into account that the majority of our users are in the US. That sucks, I know (I'm Canadian, we use metric (like normal people)).

I actually don't think it will be super difficult to make this i18n-aware; we should try to make that work if possible; but if that's not easily achievable, I think we'd have to use imperial just to match expectations of the m

[2019-10-29 19:14] hornc commented on #2061
The bulk of this issue has been done, but the final part is blocked by redirects preventing the imports.  Completing #2553 will unblock this and allow the failed items to be imported successfully.

[2019-10-29 19:26] tfmorris commented on #1799
If the system gets an error, it should inform the user to retry, not show them bad results. There's something broken in the search code that provides the results for this page that's not correctly propagating the error to the client.

A similar situation can happen on author pages where it shows 0 works (with no error) and then will show the correct data when refreshed. I saw this several times ye

[2019-10-29 19:33] jdlrobson commented on #2583
@imskr yes. To be clear - we want to remove the underline and expand the touch area to 44×44 per https://www.w3.org/WAI/WCAG21/Understanding/target-size.html (make sure to document that in the code pointing to this url!)

Thank you!

[2019-10-29 19:42] tfmorris opened #2587 "Switch to machine readable dimensions from text format"
Currently the UI presents an edit dialog with 3 different dimension fields, but they're all concatenated together into a single string before storage. We should switch to three separate fields using common units (cm) and convert to localized units & number format on the front end.

[2019-10-29 19:42] tfmorris commented on #2242
I favor metric as well.

The current storage format is a concatenated string of all the dimensions, which is kind of silly, but we can fix that separately. I've created #2587 for that piece.

[2019-10-29 20:49] hornc commented on #579
Interesting, I looked at this issue, and as @salman-bhai implies, clicking on https://openlibrary.org/works/OL84924W/Deep_Six?debug=true without being logged in gives no error, but once logged in, there is an error.

[code]

[2019-10-29 21:34] tfmorris commented on #579
Which makes sense since reading lists don't get shown to users who aren't logged in and, as I mentioned in April 2018, the problem is with JSON encoding the reading lists for the work.

[code]
Eyeballing the list of reading lists, one of the things that catches my eye is that the last item has no value for the key `active` (and is malformed in other ways). I bet that's enough of a clue for someone

[2019-10-29 21:45] lgoenner commented on #2512
I'll give this a shot.

[2019-10-29 23:57] guyjeangilles commented on #704
Confirmed doesn't appear to be an issue anymore. @cdrini reopen if you disagree

[2019-10-29 23:57] #704 closed

[2019-10-30 00:25] guyjeangilles commented on #930
@seabelis the book you linked has proper data now. I can't seem to find one with an unknown author. Is this still an issue?

On a tagential note. There is an author in the database, [Unknown](https://openlibrary.org/authors/OL2624611A/Unknown), with 3,224 works...making an issue

[2019-10-30 00:32] guyjeangilles opened #2588 "There is an author named "Unknown" with 3,224 works"
### Evidence / Screenshot (if possible)
![Unknown_author](https://user-images.githubusercontent.com/7256157/67819183-f77c9780-faab-11e9-95d7-d1da54eb18b5.PNG)

### Relevant url?

https://openlibrary.org/authors/OL2624611A/Unknown
https://openlibrary.org/authors/OL2629888A/None
### Expectation

These "authors" should not exist
### Details
Searching for `author:none`, `author:unknown`, etc. will res

[2019-10-30 00:42] guyjeangilles commented on #969
@LeadSongDog Is this still an issue? It seems the merging of IA and OL authentication has occurred recently. @mekarpeles Assigning you to reconcile this issue.

[2019-10-30 00:47] guyjeangilles commented on #983
@tabshaikh per slack discussions, assigning you to this easy issue. Feel free to unassign yourself and ping me.

[2019-10-30 00:48] guyjeangilles commented on #957
Closing as we use Docker over Vagrant now. @mekarpeles feel free to reopen if you disagree

[2019-10-30 00:48] #957 closed

[2019-10-30 00:52] guyjeangilles commented on #1042
@cdrini Assigning you since you've made this issue and closed related issues.

[2019-10-30 00:54] guyjeangilles commented on #1041
@cdrini Assigning you per our slack discussion since it seems you're leading the refactoring code charge.

[2019-10-30 00:57] mekarpeles commented on #2481
@cdrini and I ran `ssh -A ol-www1` and then `sudo -u www-data` then `source /opt/openlibrary/venv/bin/activate` and finally `python`:

`from scripts import ipstats;from datetime import datetime as d;ipstats.main('/opt/openlibrary/olsystem/etc/openlibrary.yml', d.strptime('2019-10-01', '%Y-%m-%d'), d.strptime('2019-10-29', '%Y-%m-%d'))`

[2019-10-30 00:57] guyjeangilles commented on #1043
@cdrini assigning you per our slack discussion since you are doing a lot of code refactoring.

[2019-10-30 01:00] guyjeangilles commented on #1059
@cdrini Do you have other examples of Work dumps being different than the JSON response? Can you also elaborate on what a "Work dump" is? Is that the response from Solr?

Also I'm assigning you per our slack discussion since you made the issue.

[2019-10-30 01:09] guyjeangilles commented on #1060
@mekarpeles you commented on https://github.com/internetarchive/openlibrary/pull/1058#discussion_r213500171

Was this change very implemented? I'm assigning you per our slack conversation since it seems your the one pushing for this.

[2019-10-30 01:28] guyjeangilles commented on #1057
@LeadSongDog, #927 is about deleting authors and @hornc specifically said:

Since this issue _is_ about works, I'm not sure they're duplicates.  I also still think it's relevant since we still use docker. @cdrini @hornc and also @tfmorris let me know your thoughts about what could be causing this behavior.

Also @tfmorris, since this is Solr related, are you willing to be assignee?

[2019-10-30 01:58] mekarpeles commented on #2481
Also related, for those who have access, the raw logs get rotated from /var/log/nginx to https://archive.org/download/ia_webserverlogs_20191028/openlibrary/ (change date as appropriate)

[2019-10-30 02:21] mekarpeles commented on #2141
Here's an example of a solr doc for the work https://openlibrary.org/works/OL16312108W (in the results above)
http://archive.org/~mek/solr_example.xml

It lists the following archive.org IDs. When we run availability across them, we do indeed get positive matches of availability:

[code]

See:
[code]

The challenge here is that we have up to 20 works, which each have some number of full_text editi

[2019-10-30 02:28] mekarpeles commented on #2531
We'll take a look as soon as we can! Thank you for your hard work on this @cecyc

[2019-10-30 08:57] seabelis commented on #930
This was a while back and I don't think I've encountered the issue since, so it can be closed for now and reopened if necessary.

[2019-10-30 08:57] #930 closed

[2019-10-30 14:59] tfmorris commented on #1042
Just a heads up that we will move be moving back to subjects-as-objects at some point, but the design could be different, so it doesn't need to have an impact on this cleanup task.

[2019-10-30 15:09] tfmorris commented on #1057
@cdrini Is this still an issue? Approximately how much elapsed time between 2 & 3, 3 & 4?

I'm especially surprised at c) since it was my understanding that forces an unconditional update.

[2019-10-30 15:21] tfmorris commented on #2141
The very first ID in that response has

[code]

which I could easily see making some suitably fragile code unhappy.

Having said that, the current API design requires wasted work for this use case. All that's really needed is True/False for availability of a digital edition for any one of a given set of IDs.

[2019-10-30 16:07] LeadSongDog commented on #969
@guyjeangilles Yes, the links on the Settings page at https://openlibrary.org/account still go offsite to https://archive.org/account/index.php?settings=1 without warning the user they are about to do so. At a minimum there should be a heads up, but the better answer would be to make it work without resorting to forcing the users direct access to archive.org : much of OL's functionality works just

[2019-10-30 16:24] tfmorris commented on #68
"Search Inside" is actually using an archive.org API, so I suspect we have no way to fix or influence it.

[2019-10-30 18:35] LeadSongDog commented on #2588
A substantial portion of the works attributed to these "authors" have no editions. Perhaps that's a good place to start, deleting those as non-works.

[2019-10-30 18:53] cdrini commented on #2517
Hey! Sorry for the delay, @sbvkrishna ; October was a little busy. Go for it! Let us know if you have any questions.

[2019-10-30 19:24] cdrini commented on #1414
@mekarpeles Could you provide some example rows? Looking at the code, I think when you use the `/b/isbn` coverstore endpoint it loads data out of infobase to find the isbn. The ISBN column in the coverstore might be deprecated?

[2019-10-30 19:53] cdrini commented on #1069
@guyjeangilles Epics/Subtasks of Epics don't really need another type; they're usually more like strategies to solving other issues (which might be bugs/feature requests). They're very rarely a bug or a feature request; just steps to solve a larger issue.

[2019-10-30 20:24] mekarpeles opened #2590 "Search Inside (At Book-Level)"
Google books is loved for their full-text search (across and in books). We currently do full-text search across book at openlibrary.org/search/inside but we don't offer search within a book.

### Describe the solution you'd like

On `read` books (which don't require a preview) instead show a `search inside` button / input.

We have a branch `feature/search-inside` where an experiment was done duri

[2019-10-30 20:39] mekarpeles commented on #2590
After speaking w/ @bfalling, we're thinking of adding this button to `read` editions pages only, and having the query submit **directly** to the bookreader on/in Archive.org w/ the correct preformatted query. i.e. no need for a new search results page on OL. And also serves the interest of minimizing investment into a new feature (w/ the goal of achieving better feature parity w/ Google Books new

[2019-10-31 13:36] airbee7337 opened #2592 "Caching?"
Currently:
Each time a new page is saved to the Archive, all the js,css,images,etc are re-downloaded.

Example:
I archive page 1 of openlibrary.org, all css,images,js,elements are downloaded.

I go to page 2 on openlibrary.org, all css.images,js,elements,etc (EXACT same MD5) are Re-Downloaded.

Would it be possible for a MD5 checking system before elements (css,images,scripts,etc) are re-downloade

[2019-10-31 23:08] guyjeangilles commented on #2202
Assigning @cdrini per our slack conversation since he self-assigned #333 and it appears to be related to this issue.

[2019-10-31 23:10] guyjeangilles commented on #640
Assigning @cdrini per our slack conversation since he's tackling the url encoding for #333

[2019-10-31 23:12] guyjeangilles commented on #579
#333 , #640, and #2202 may be related as they involve url encoding, but aren't json related.

Assinging @cdrini per our slack conversation since he's talking the url encoding in #333

[2019-10-31 23:17] guyjeangilles commented on #710
I think the steps are our good start but should be more granularly delineated. @hornc Your insight would be valuable in this thread.

[2019-10-31 23:24] guyjeangilles commented on #372
@tfmorris Do you believe Solr could determine that the publishers above were in fact the same?

Also @hornc can you provide insight on what it would take to merge these publishers? Merging seems to be your specialty. Are you willing to be assignee?

[2019-10-31 23:28] guyjeangilles commented on #970
@hornc Are there plans to remove this authors from edition records? As mentioned, it seems like an easy process to automate.

[2019-10-31 23:40] guyjeangilles commented on #266
Adding @tabshaikh per slack discussions. jdlrobinson(not tagging per request) may be useful to consult.

[2019-10-31 23:43] guyjeangilles commented on #856
@hornc Has there been progress on this issue and are you willing to be assignee?

[2019-10-31 23:45] tfmorris commented on #710
@nichtich I'm surprised [Open Library subject](https://www.wikidata.org/wiki/Property:P3847) got approved as a Wikidata property. I recommend we discourage it's use since OL Subjects are a mess and going to change when we get around to either normalizing them or internationalizing them (or both). It has less than 600 uses now versus ~207,000 for the [Open Library ID](https://www.wikidata.org/wiki/

[2019-10-31 23:48] guyjeangilles commented on #805
@mekarpeles @hornc @salman-bhai What's the status of this? it loos like a temporary PR was merged but it was buggy

[2019-10-31 23:52] guyjeangilles commented on #668
Assigning jdlrobson (not tagging per request) since this is front-end related.

[2019-10-31 23:58] guyjeangilles commented on #1162
@jdlrobson Was this ever implemented?

[2019-11-01 00:00] tfmorris commented on #372
The original ask was for a manual merge capability, but we handle publishers as pure strings, not objects like authors or works, so "merge" just means editing them to all be the same string.

Solr could be set up with custom indexing for this facet which would effectively do the same thing by normalizing/removing punctation and removing field specific stopwords like Ltd, Inc, Co. That would be a r

[2019-11-01 00:02] tfmorris commented on #372
As an aside, some time in the last 18 months, we appear to have broken the ISBN wildcard query that was used above.

[2019-11-01 00:05] guyjeangilles commented on #1243
@hornc Was this implemented? Also, I'm not sure if this issue is referring to import bots or to users adding books via the site's UI.

[2019-11-01 00:09] tfmorris commented on #806
As I mentioned on #1440,

So just standardizing the date format is unlikely to be sufficient to fix this.

[2019-11-01 00:19] tfmorris commented on #266
We already store [`first_publish_year`](https://openlibrary.org/search?publisher=harper&first_publish_year=1906) for works to use for faceting, so this could be exposed as a read-only field on the works page. Allowing it to be editable would get into tricky semantics about priority of computed vs edited, etc.

[2019-11-01 00:23] guyjeangilles commented on #1964
@mekarpeles doubling down on what brad said about making a decision. I think the discussion her is lukewarm at best with regards to making a alternative to Goodreads. I think there are enough people opposed that this issue should be closed. I for one think Open Library should focus on having abundant data on books, not competing with any particular site.

[2019-11-01 00:24] tfmorris commented on #856
Also related to #866 & #109.

[2019-11-01 00:27] guyjeangilles commented on #2059
I've updated @mekarpeles breakdown to reflect @ralvessa comment. I'd say things issue is "broken down" and thus I've removed that label

[2019-11-01 00:30] guyjeangilles commented on #739
@mekarpeles this issue requires sub-tasks. Please add them.

[2019-11-01 00:37] guyjeangilles commented on #857
This can't be completed until we implement user following in #1966 . Assigning @mekarpeles since you're talking #1966 and #739 per our slack discussion

[2019-11-01 00:48] guyjeangilles commented on #143
This is still a bug. Specifically when I try to edit only the contributors in the above URL, my change is not saved.

@mekarpeles defaulting to assigning you per our slack discussion

[2019-11-01 00:52] guyjeangilles commented on #980
The link on Wikipedia is: https://openlibrary.org/search?isbn=0954027809&mode=everything
Which successfully resolves to: https://openlibrary.org/books/OL8478904M/My_Life_in_Science

Closing as the issues  appears fixed

[2019-11-01 00:52] #980 closed

[2019-11-01 00:55] guyjeangilles commented on #1005
Assigning jdlrobson (not tagging per request). Also labeling the issue as blocked since that's it's category the Modern Front-End Project

[2019-11-01 01:17] jessamynwest commented on #372
Oh gosh an actual merge capability for publishers would be incredible.

[2019-11-01 01:30] jdlrobson commented on #668
For this one I'll need a better description of the problem,  preferably summarized in the description to be willing to be the assignee.

[2019-11-01 01:42] tfmorris commented on #980
Empty search results still break the UI, but we've got several other issues covering that, so this can remain closed as a duplicate.

[2019-11-01 01:46] tfmorris commented on #668
Do you need more than [this](https://github.com/internetarchive/openlibrary/issues/668#issuecomment-369307926)?

[2019-11-01 10:37] ralvessa commented on #2059
Thanks, @guyjeangilles. I haven't had any time lately to look into this, but I'd still very much like to help with this one. I'm hoping to find some time at some point this month.

[2019-11-01 14:47] trosel commented on #1964
@guyjeangilles Is OpenLibrary primarily meant to be an API?

If so, can you address my question here:

[2019-11-01 14:48] guyjeangilles commented on #2059
@ralvessa I'll assign you to this issue then

[2019-11-01 15:30] guyjeangilles commented on #1964
tl;dr this kinda turned into a novel but basically Open Library is a library and Goodreads isn't.

@trosel I'm not the one to definitively say what Open Library is or isn't, but lets look at what each site says about itself to consider where "the line of similarity" is.

[From Goodreads about us](https://www.goodreads.com/about/us):

**A Few Things You Can Do On Goodreads**

    Check out your per

[2019-11-01 15:49] LeadSongDog commented on #372
@tfmorris That breakage of wildcards was in the last few months.

@jessamynwest @guyjeangilles @mekarpeles As wikidata marches on, this may be getting easier. For the example I originally raised, we now have
http://www.wikidata.org/entity/Q73820 "MIT Press"
which provides linkages to
http://id.loc.gov/authorities/names/n83825884.html
https://viaf.org/viaf/159490691
http://www.isni.org/0000+0001+07

[2019-11-01 15:49] trosel commented on #1964
@guyjeangilles That is helpful. But unfortunately, there are some features in Open Library that betray that vision.

For example, why is there a reading log with `Currently Reading/Want to Read/Already Read` lists?

[2019-11-01 19:58] guyjeangilles commented on #1964
@trosel Again, I'm not the one who defines Open Library's vision, but you could argue that a principle function of a library is to facilitate book lending for it's patrons. Many popular digital library apps (i.e Overdrive, Libby) provide features that allow their users to make `Currently Reading/Want to Read/Already Read` as well as `Liked`, `Disliked`, etc.

Someone who wanted to make a Goodreads

[2019-11-01 22:07] jdlrobson commented on #1162
Synced with @mekarpeles today and dev.openlibrary.org now gzips resources. Thanks for the ping!

[2019-11-01 22:21] jdlrobson commented on #562
This page appears to be 404ing now. Did we remove it by mistake?

[2019-11-01 22:22] mekarpeles commented on #562
@guyjeangilles is right -- though the url should be:
https://openlibrary.org/account/loans

We were considering deprecating this page and showing them in https://openlibrary.org/account/books (all in one place)

[2019-11-01 22:23] mekarpeles commented on #562
I'm assigning myself and drastically decreasing priority

[2019-11-01 22:59] #2531 closed

[2019-11-01 23:25] mekarpeles opened #2597 "Edition page, tablet mode: Include full-width want-to-read + add read button"
The UI looks a bit funky in tablet mode (looks good in mobile / desktop). We should probably show both the read button and the full-width want-to-read button in this tablet mode.

@jdlrobson @cecyc do you think this should be a followup issue or fixed in this branch? I'm supportive of either.

**Today:**
![dev openlibrary org_books_OL25930651M_The_Three-Body_Problem (1)](https://user-images.github

[2019-11-01 23:53] jdlrobson commented on #668
This task is too broad to be actionable by me right now. In addition to this I can't get the merge feature working locally or use it in production so am not really sure what's being talked about, so no that's not enough for me (but may be for someone like @mekarpeles). Screenshots, urls and replication steps (written for me as if i am 5 years old) would help me personally.

[2019-11-02 00:08] trosel commented on #1964
@guyjeangilles Thanks for the feedback. I think we're on the same page because what this issue is suggesting is exactly what you explained here:

[2019-11-02 00:20] #2590 closed

[2019-11-02 02:01] mekarpeles opened #2599 "Homepage "Features" Carousel"
Folks often get confused when they land on our homepage. We can fix that!

### Describe the solution you'd like

A carousel of cards on the homepage which explain what Open Library is (and how you may use it). e.g.

1) We have 3M+ books to read, borrow, and listen to
2) You can sponsor a book
3) Full-text search across millions of books
4) Want-to-Read

### Project Proposal

https://docs.google.co

[2019-11-04 00:57] guyjeangilles commented on #1964
@trosel

If this is true than the original issue is poorly worded and poorly titled. (Quote emphasis mine)

I personally don't mind Open Library eventually becoming an alternative to Overdrive or Libby. If that's the consensus we've reached, then I'd change the title of the issue and leave it open.

[2019-11-04 01:09] guyjeangilles commented on #978
This issues is still relevent. Assigning jdlrobson (not tagging per request) per slack discussions since this is front-end related

[2019-11-04 01:31] guyjeangilles commented on #643
Agreed with Tom, this is a duplicate of #448. Closing

[2019-11-04 01:31] #643 closed

[2019-11-04 01:46] guyjeangilles commented on #1486
This is the specific line in this
https://github.com/internetarchive/openlibrary/blob/40f637b9c27cfb1225be9a101c628ea9dfc38ad9/openlibrary/core/stats.py#L25

I'd assign @cdrini to this since he's been doing a lot of refactoring but I think @mekarpeles is taking up his responsibilities for the time being. To reiterate Tom's original question: is the statsd client used anymore?

[2019-11-04 01:57] guyjeangilles commented on #924
@hornc Are you talking about no editions being found? If not I propose closing.
![version_no-bug](https://user-images.githubusercontent.com/7256157/68096059-4492ac00-fea6-11e9-8f49-c66bde91be42.png)

@seabelis I'm not seeing any errors for the work you linked
![edition_no-bug](https://user-images.githubusercontent.com/7256157/68096072-596f3f80-fea6-11e9-8ffd-45815bb47f69.png)

[2019-11-04 02:00] guyjeangilles commented on #728
Could not duplicate. Closing
![translation_different_title](https://user-images.githubusercontent.com/7256157/68096164-d4385a80-fea6-11e9-9c9e-69b9938bf26f.png)

[2019-11-04 02:00] #728 closed

[2019-11-04 02:05] guyjeangilles commented on #1562
@KhalidRmb Could you rephrase or post a screenshot of the issue? I'm not exactly understanding what the problem is.

Assigning jdlrobson (not tagging per request) per slack discussions as I think this issue is front-end related

[2019-11-04 02:08] guyjeangilles commented on #1623
Seems like a front-end issue. Assigning jdlrobson (not tagging per request) per slack discussions.

[2019-11-04 02:17] guyjeangilles commented on #1622
@hornc This seems related to your work. I've labeled it high priority since it seems critical to the current data clean-up efforts. Have there been any improvements to the import process since this issue was made? Also are you willing to be assignee?

[2019-11-04 02:26] guyjeangilles commented on #1677
Amazon.py still exists. @cdrini had been refactoring coding but @mekarpeles is taking over his duties for the time being so I'm assigning him per slack discussions.

[2019-11-04 02:28] guyjeangilles commented on #1703
I have not gotten this error recently when making edits. Closing. Reopen with a screenshot if this still occurs.

[2019-11-04 02:29] #1703 closed

[2019-11-04 02:34] guyjeangilles commented on #665
@LeadSongDog is this still an issue? I don't remember having problems with the fundraiser banner recently. I assume the fundraiser banner will come back and December it'd be best to be proactive than reactive if this is still a bug.

[2019-11-04 02:44] guyjeangilles commented on #1708
Assigning jdlrobson (not tagging per request) per slack discussions since it looks like he's working on this already. As a test point, clicking expanded nav icons does close the hamburger menu for me on mobile.

[2019-11-04 02:50] guyjeangilles commented on #1723
@mekarpeles Defaulting to assigning you per slack discussions.

[2019-11-04 02:57] guyjeangilles commented on #158
Still a bug. @tfmorris I'm assuming we have an editions Solr to implement the algorithm in the original issue? I'm assuming either you or jdlrobson would head this.

[2019-11-04 03:03] guyjeangilles commented on #364
@mekarpeles `feature/list-search` (#1149) was deleted but this issue wasn't update. Can you explain why? I'm assigning you per slack discussions

[2019-11-04 03:04] jdlrobson commented on #1623
Are source records important for the product.  If so how should they be displayef in interface?

[2019-11-04 03:09] guyjeangilles commented on #1736
Closing because this looks like pre-Docker test instructions. The [current test commands](https://github.com/internetarchive/openlibrary#running-tests) are
[code]

[2019-11-04 03:09] #1736 closed

[2019-11-04 03:16] guyjeangilles commented on #1668
I'm assuming this would be fairly easy to implement. @mekarpeles assigning you since you appear to be the subject matter expert.

[2019-11-04 03:19] guyjeangilles commented on #2514
I edited @mekarpeles comment as I don't he meant that this issue is a duplicate of itself

[2019-11-04 10:08] seabelis commented on #924
I'm no longer seeing errors there. Must have been resolved.

[2019-11-04 14:36] trosel commented on #1964
@guyjeangilles When I think of Goodreads, I don't think "this is primarily intended to drive revenue for amazon". I think "this is a book wiki with a social network laid on top of it".

Goodreads is kind of a household name for better or worse and that's why I used it. In any case, I think this is a nightmare and I'm happy to close.

[2019-11-04 14:36] #1964 closed

[2019-11-04 15:44] LeadSongDog commented on #2502
See #969
There is value in having access to OL even if one can't access archive.org, please do not throw this out the window.

[2019-11-04 16:37] jdlrobson commented on #2502
If we keep them we should remove all script tags from the template and document it. I'm okay with either of these outcomes. Assigning to Mek to decide.

[2019-11-04 20:32] LeadSongDog commented on #665
I can't tell if the issue is gone or just latent, waiting for return of the banner. Perhaps someone can try activating it on a dev instance to see what happens?

[2019-11-04 23:12] #924 closed

[2019-11-04 23:17] guyjeangilles commented on #665
I'm gonna assign jdlrobson (not tagging as requested) per slack discussions since this seems front-end related

[2019-11-04 23:27] guyjeangilles commented on #1797
`Wikidata` is in the identifier dropdown for editions now. Closing.

[2019-11-04 23:32] guyjeangilles commented on #1841
@tfmorris Are there still twitter previews? I haven't seen any when browsing Open Library

[2019-11-04 23:37] guyjeangilles commented on #1845
@mekarpeles @tfmorris @JeffKaplan Is there another test case to confirm that this is still an issue?

[2019-11-04 23:45] guyjeangilles commented on #1805
I can duplicate all of the above issues. I'm defaulting to assigning @mekarpeles per slack discussions. I'm why data in the json wouldn't reach the template.

[2019-11-04 23:50] guyjeangilles commented on #1825
@feat7 @mekarpeles @jdlrobson @tabshaikh Was another PR ever merged to address this issue? I cursory search of `linkbox` did not find one

[2019-11-04 23:54] guyjeangilles commented on #466
There is a ["Close Account"](https://openlibrary.org/help/faq/troubleshooting#deleteaccount) section of the FAQ. I'm guessing this is what the original request was and thus closing.

[2019-11-04 23:54] #466 closed

[2019-11-04 23:57] guyjeangilles commented on #634
@mekarpeles can you elaborate on how this is different than the current "add a book" feature. Assigning you per slack discussions since this seems your idea.

[2019-11-05 00:05] guyjeangilles commented on #1463
![new_searh_printdisabled](https://user-images.githubusercontent.com/7256157/68168100-8c293e80-ff5f-11e9-8a78-5c48a3a486e4.png)

It looks like both issues identified in the comments above are no longer a problem. There's nothing in between the search bar and results, and the filters are side-by-side with results. Closing.

[2019-11-05 00:05] #1463 closed

[2019-11-05 00:07] guyjeangilles commented on #981
@nimbus98 Are you willing to be assignee for this issue? It looks related to ONIX. Also labeling as a good first issue. Let me know your thoughts.

[2019-11-05 00:18] guyjeangilles commented on #975
I've edited the title to better reflect that this is about porting to a different framework, not necessarily React. I also aggregated the thread into the original issue description.

@mekarpeles I'm assigning you per slack discussions as the one to wrangle community opinions.

[2019-11-05 00:23] guyjeangilles commented on #648
+1 That this would be useful. @mekarpeles defaulting to assigning you per slack discussions.

@seabelis Do you have any insights to add to this feature?

[2019-11-05 00:28] guyjeangilles commented on #1064
Since @mekarpeles is taking over for @cdrini for the time being, I'm assigning the former to this issue.

[2019-11-05 00:35] guyjeangilles commented on #789
As I'm writing this, searching for "John Edwards Gloag" shows 109 works, but his author page has 115 works. @tfmorris Can you shed some light on why this is occurring? Do you plan on addressing this in the changes planned for Solr?

[2019-11-05 00:47] guyjeangilles commented on #889
Bumping @seabelis comment, can work titles have aliases be possible/fix this situation? Authors have a `personal_name` and `alternate_name` field. Example: https://openlibrary.org/authors/OL31353A.json

@tfmorris Would it be computationally expensive for Solr to search for the work title field and the associated edition title field? Also, are you willing to be assignee for this issue?

[2019-11-05 00:47] jdlrobson commented on #665
@mekarpeles can we enable this banner code on dev?

From what i remember the banner is maintained in a repo outside ours and the js file varies based on date so there is little we can do here except track down and report the problem.

[2019-11-05 00:54] guyjeangilles commented on #1816
this seems like a good first issue for some interested in Open Library's data.

@hornc Are there any plans to address this issue? Also, are you willing to be assignee?

[2019-11-05 01:01] guyjeangilles commented on #621
Assigning jdlrobson (not tagging as request) per slack discussions since this is front end related.

[2019-11-05 01:09] guyjeangilles commented on #960
@hornc Would you know the history behind dropping this affiliate link. Also are you willing to be assignee?

[2019-11-05 01:15] guyjeangilles commented on #687
More open questions: Who would write this? Sure we want to engage, but what's the target demographic and want value will the newsletter bring to them.

Also assigning @mekarpeles per slack discussions.

[2019-11-05 01:19] guyjeangilles commented on #691
Blocked until #687 reaches consensus. Assigning @mekarpeles per slack discussions since he is responsible for the epic issue

[2019-11-05 01:25] guyjeangilles commented on #680
@abezella @mekarpeles This seems almost done. What else needs to be accomplished?

[2019-11-05 08:08] seabelis commented on #648
It kind of already does this by showing the number of people on the waiting list ahead of you. I guess it could calculate some estimate based on the average length of time a typical user borrows a book. Since this was a user request I think it's safe to assume others would also like this feature. Overdrive does this, but I think it assumes each person will keep for the max loan period. This could

[2019-11-05 16:17] LeadSongDog commented on #665
Could it not somehow be proxied through OL? As a general principle, it's a bad idea to require that a client has access to an off-host redirect target. It begs for MITM attacks.

[2019-11-05 17:29] LeadSongDog commented on #789
@guyjengilles
As an experiment, I just this hour edited about 14 orphan edition and sole edition records listed at https://openlibrary.org/authors/OL120185A/John_Edwards_Gloag?page=6
to move them under existing work records. So far the 109 works/115 works figures still show. Let's see what happens over the next few hours.

[2019-11-05 19:07] LeadSongDog commented on #789
@guyjengilles @tfmorris
The 109 at the author page now reads 116 just about 30 minutes after a minor edit to the author page:
https://openlibrary.org/authors/OL120185A/John_Edwards_Gloag?b=7&a=6&_compare=Compare&m=diff
while the search continues to show 115:
https://openlibrary.org/search/authors?q=John+Edwards+Gloag

I believe there's separate issue on the off-by-one counts, but still, it should

[2019-11-05 20:09] #2068 closed

[2019-11-05 20:30] mekarpeles commented on #2332
This and #2204 can likely be closed. We now have an ongoing import pipeline (cron) and we've taken a good stab at importing modern materials. @hornc can you update this thread with our results and recommend next steps re: using LoC v. Bowker v. BWB in an automated/continuous way?

[2019-11-05 22:49] guyjeangilles commented on #1169
I'm sure how'd we'd programmatically pull books from reddit, but I think the idea is cool. Assigning jdlrobson (not tagging per request) as this is front end related.

[2019-11-05 22:56] guyjeangilles commented on #1075
Agreed with @hornc, addressing #153 will resolve this issue. I'm going to assign Charles solely so he remembers to close this once #153 is a closed.

[2019-11-05 22:59] guyjeangilles commented on #153
Solving this issue will solve #1075

[2019-11-05 23:03] guyjeangilles commented on #850
Assigning @mekarpeles per slack discussions since you created the string of associated issues.

[2019-11-05 23:07] guyjeangilles commented on #1433
Assigning @mekarpeles per slack discussions since you're assigned to related issues

[2019-11-05 23:19] guyjeangilles commented on #1054
This would be a major refactor. @cdrini would usually head this but @mekarpeles is taking over for him in the time being so I'm assigning him.

[2019-11-05 23:23] guyjeangilles commented on #858
Defaulting to assigning @mekarpeles per slack discussions

[2019-11-05 23:27] guyjeangilles commented on #1732
Assigning jdlrobson (not tagging as requested) per slack discussions since he's making PRs for this issue.

[2019-11-05 23:32] guyjeangilles commented on #610
@hornc Did you determine if the bug is occurring in Infogami or OL'is integration of Infogami?

[2019-11-05 23:37] guyjeangilles commented on #1875
#2161 (and the forthcoming related, smaller PRs) seem to have supplanted #2104.

[2019-11-05 23:42] guyjeangilles commented on #93
Closing based on the above evidence that this isn't a problem anymore.

[2019-11-05 23:42] #93 closed

[2019-11-05 23:48] guyjeangilles commented on #23
Sentry seems to have to moved https://github.com/getsentry/sentry. @mekarpeles @anandology Was error logging ever added to the admin interface?

[2019-11-06 00:06] guyjeangilles commented on #82
This is really old @mekarpeles Is this still a desired feature?

[2019-11-06 00:17] guyjeangilles commented on #477
This really should be an epic. As @mekarpeles said, we should create a list of _small_, _clearly defined_,  tasks that related to data cleanup.  The`Data Cleanup` label is a good place to start.

[2019-11-06 00:21] guyjeangilles commented on #162
This seems like an `Epic` that should have an issue assigned for each data source.

[2019-11-06 00:25] guyjeangilles commented on #121
Closing this given how old this is and [the documentionSearch API](https://openlibrary.org/developers/api)

[2019-11-06 00:25] #121 closed

[2019-11-06 00:28] guyjeangilles commented on #130
@mekarpeles @bencomp @anandology Was this ever addressed/is it still an issue?

[2019-11-06 00:34] guyjeangilles commented on #602
@mekarpeles can you elaborate on Jon's point? The home page doesn't link to the Internet Archive currently. I'm not sure a /browse feature would add much more value.

[2019-11-06 02:50] anandology commented on #130
I don't think it is addressed. I think it is a good suggestion and good to be implemented.

[2019-11-06 16:02] LeadSongDog commented on #1816
@ClaudiuCeia
Any chance this app could also act as a data source? It might be helpful to have it able to capture images of cover, title page, t.p. verso, blurb, and/or TOC in cases where OL does not already have access to these. It would be way simpler to get someone to grab these images when the needful edition is already in their hand. Upload could wait until they are on WiFi if bandwidth is a c

[2019-11-06 16:20] LeadSongDog commented on #789
Update: 21 hours later, the 116/115 tallies still show. The author page https://openlibrary.org/authors/OL120185A/John_Edwards_Gloag
continues to show unreduced counts for work records that have been emptied out, to whit after moving all editions of _Georgian grace_ from under https://openlibrary.org/works/OL10417104W to under https://openlibrary.org/works/OL1189725W the former still shows "3 edit

[2019-11-06 16:53] LeadSongDog commented on #789
With a trivial edit to the author record, the tallies match at 116 after 30 minutes. I conclude from this that edition moves are not being correctly decremented from the former work when added to a new one. Both need to be updated.

[2019-11-07 01:09] guyjeangilles commented on #1616
This especially sucks for the axises of "unique visitors" and "borrows" graph.

Assigning jdlrobosn (not tagging as requested ) per slack discussions since this is frontend related.

[2019-11-07 01:17] guyjeangilles commented on #905
What's the use case for dragging and dropping on mobile? I'm not convinced that this will be useful.

I'm assigning jdlrobson (not tagging as request) per slack discussion since this seems javascript/front-end related

[2019-11-07 01:25] guyjeangilles commented on #685
Assigning @mekarpeles per slack discussion since you're the assignee of the parent epic.

[2019-11-07 01:27] guyjeangilles commented on #684
I've edited the original issue description, to tag a related issue

[2019-11-07 01:49] guyjeangilles commented on #525
The description of this issue is a little beyond the scope of the title. I interpret "constrain the 'Add a Book' page" as restricted what forms the user has access to. The point outlined above is more like a counter spamming/vandalism.

I'm tagging this as an epic and assigning @mekarpeles per slack discussions.

@seabelis With regards to reducing spam/trolling, what features would be useful from

[2019-11-07 02:00] guyjeangilles commented on #269
I've changed the title to an actionable item.

[2019-11-07 02:08] guyjeangilles commented on #1755
There is a Readme but it's just two lines

@mekarpeles defaulting to assigning you per slack discussions

[2019-11-07 02:09] BrittanyBunk opened #2601 "Keep language standardized to English"
Too many work titles are in other languages, but should really be English if one edition is in English (it's ok for a foreign language if all of them are in that, but it would help to have the English translation alongside it)

[2019-11-07 04:00] hornc commented on #2297
More investigation shows how to make added books show up on https://openlibrary.org/recentchanges/add-book#bots

Looks like `web.ctx.site.save_many` takes an `action` param, `edit-book` or `add-book`
e.g. https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/upstream/addbook.py#L344

[2019-11-07 05:30] hornc commented on #716
agree!

[2019-11-07 05:30] #716 closed

[2019-11-07 05:34] hornc commented on #504
@mekarpeles I agree with @guyjeangilles that things have moved on since this issue was raised. The new availability API has resolved this issue some time ago, this issue wasn't visible when that work was done.

Thanks @guyjeangilles for digging up these out of date, easy to close issues!

[2019-11-07 05:34] #504 closed

[2019-11-07 05:45] hornc commented on #1677
This sounds like it relates to some of the code I was looking at as part of import changes, especially around figuring out which parts of the code to test. I'll take this one...

[2019-11-07 07:51] seabelis commented on #525
My interpretation of this question is not about who can do what, but what formats constitute a "book" and fit within the scope of the site. There has been some discussion on slack, i.e. govt docs, periodicals, audio formats. I have started some related discussions in terms of how books should be grouped and discussions of various formats is on the agenda. I think @mekarpeles does need to clarify w

[2019-11-07 09:19] hornc commented on #960
I don't know about the history of this one. Is there a oink to the commit?

[2019-11-07 15:19] tfmorris commented on #960
The 11 May 2018 comment is accurate as far as I can tell. The change was made by @bfalling and merged by @mekarpeles. Why not assign them?

[2019-11-07 16:42] dcapillae commented on #2601
Hi,

The work title should be in the original language of the work according to [this](https://openlibrary.org/help/faq/editing#work-edition).

A English translation alongside the original title it would only help users who search in English, but not the rest of users.

There is a field for other titles of the work in the edition records, for example, for titles in other languages. I usually use t

[2019-11-07 19:06] cdrini opened #2607 "Client-side i18n support"
There's currently no way to i18n messages that get rendered from the front-end javascript. We need to find a way to use our existing i18n architecture from the JS.

## Stakeholders
@tfmorris @jdlrobson

[2019-11-07 19:06] cdrini commented on #2607
Created from #2551 ; note the strings in that PR will need to be i18n-ed after a solution is implemented.

[2019-11-07 19:33] cdrini commented on #2601
I _strongly_ disagree with that guideline. The title of the work should (in an ideal world) be internationalized; so an English user would see the English title, and a Spanish user would see the Spanish title. Similar to how Wikidata handles work titles: https://www.wikidata.org/wiki/Q43361
![image](https://user-images.githubusercontent.com/6251786/68420631-c31f7000-016a-11ea-8daa-022ab615f955.png

[2019-11-07 19:37] LeadSongDog commented on #2601
@hornc @dcapillae
It would, though, be a real UI improvement if the work page could group the languages somehow (perhaps facets or just list sort ordering) so that a reader trying to find a German, Turkish, or Spanish edition of _Phantoms_ does not have to page through all the English ones to find it.

[2019-11-07 19:51] #2483 closed

[2019-11-07 20:31] cdrini opened #2608 "Probably delete macros/BorrowTrouble.html"
It's only referenced in an HTML comment so can likely be deleted.

## Summary of Requirements
- [ ] Ensure not used anywhere
- [ ] Remove any references
- [ ] Remove the template

## Stakeholders
@jdlrobson

[2019-11-07 20:40] LeadSongDog commented on #2601
@cdrini Please correct me if I'm wrong, but it seems there is still no way for an OL user to state their preferred language. Until that is fixed, preferring results in that language will remain impossible. The next-best option would be to test browser settings, but that is often not configurable e.g. in public library kiosks.

[2019-11-07 20:40] cdrini commented on #2502
@LeadSongDog Note either way the openlibrary change email/password forms don't work; because the accounts are linked to IA, they have to be changed there. So these templates are broken and dead code.

[2019-11-07 20:53] #981 closed

[2019-11-07 21:06] cdrini commented on #395
(Confirmed this is still an issue)

[2019-11-07 21:07] cdrini commented on #2542
@BrittanyBunk can you provide an example? That will help make it easier to see what the final format should look like.

[2019-11-07 21:12] cdrini commented on #383
I can't reproduce this; I tried searching for an all lower-case email in upper case and it matched, and I tried searching for a mixed case email in lower case and it also matched; so closing.

[2019-11-07 21:12] #383 closed

[2019-11-07 21:19] cdrini opened #2609 "Lists are not stored in any of the dumps"
The full dump on https://openlibrary.org/developers/dumps does not include lists.

### Expectation
Since they are public, they should be included. Note there are concerns because the key for a list includes the user's name (e.g. https://openlibrary.org/people/ScarTissue/lists/OL139466L/Test_Sep_2019 ).

### Proposal & Constraints
Have a separate dump with keys that do not include username; e.g. ht

[2019-11-07 21:23] cdrini commented on #472
The link no longer errors, and the line no longer exists in the file; closing.

[2019-11-07 21:23] #472 closed

[2019-11-07 21:28] cdrini commented on #556
Closed by #2570 ; now it does display a sentence there.

[2019-11-07 21:28] #556 closed

[2019-11-07 21:38] cdrini commented on #620
Manual selection of a work is no possible, so closing this as complete.

[2019-11-07 21:53] hornc commented on #2073
Thanks @seabelis , I think you are correct that this will be at least improved by #1445

From re-reading this threadl, I think the immediate fix and task to resolve the issue as reported is to filter out `/type/delete's and `/type/redirect`s from the author auto-complete drop-down. code @ https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/books/author-autocomplete.htm

[2019-11-07 21:59] hornc commented on #1163
The answer to this question is _No_, there is no path clobbering going on, the paths have different names, even though one redirects to the other. I'm not sure why there is a re-direct, probably for historical reasons, but I'm not aware of any cost to this. It could be refactored when someone is working on a specific feature in this area in future.

[2019-11-07 21:59] #1163 closed

[2019-11-07 22:03] hornc commented on #977
as in comment above

Current import APIs use catalog.add_book https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/add_book/__init__.py

which checks whether an edition is already in the system, and will add it, and a Work and Author if they do not already exist.

The add book UI also checks for existing editions:
https://github.com/internetarchive/openlibrary/blob/1aa081

[2019-11-07 22:03] #977 closed

[2019-11-07 22:18] cdrini commented on #2564
@BrittanyBunk could you provide a link to the list? And to that edition? I can investigate to see if it's the same problem.

[2019-11-07 22:21] cdrini commented on #827
@mekarpeles could this be an issue with the IA import process not generating the necessary file? I heard that sometimes happens.

[2019-11-07 22:30] hornc commented on #2404
I'm marking this as priority low since I am working around this problem as I encountered it by making better choices in what gets sent to the importer.

[2019-11-07 22:32] hornc commented on #2219
The root cause of this conflation is causing problems for archive.org ISBN matching efforts, I need to fix it for archive.org, and should do so here too.

[2019-11-07 22:34] cdrini commented on #2601
You are correct; it's not configurable at the moment.

[2019-11-07 22:39] hornc commented on #702
We should add a test case to the appropriate import path to ensure this case is handled on import.

Need an appropriate MARC record for the test, https://openlibrary.org/show-records/talis_openlibrary_contribution/talis-openlibrary-contribution.mrc:3105569389:534 (form the original report will do nicely)

[2019-11-07 22:46] hornc commented on #2552
This lists part of this epic was raised in #501

[2019-11-08 00:22] ClaudiuCeia commented on #1816
@LeadSongDog - definitely!

The camera functionality was there from the start (for the barcode at least). I'm just worried about folks taking bad photos (blurry, bad light, etc)

Unfortunately, my time has been *very* limited and I had to put this project aside for a while. If I remember correctly, last I worked on it I also integrated the Google Books API to fill in missing data. and properly att

[2019-11-08 00:40] ClaudiuCeia commented on #1816
Sorry, I must've missed this! Thanks for the heads-up - will keep in mind for when I manage to work on the app again. Does this limit apply to _all_ requests? How comes it's so low, is it due to the third party sources?

[2019-11-08 01:16] jdlrobson commented on #2607
Dupe of #2353?

[2019-11-08 01:18] jdlrobson commented on #2607
See also #2190
Note this is a lot of work and I'm not sure if any of it is salvageable. I recommend coming up with a spec for translation and building that from scratch rather than trying to rescue what we have.

There is good i18n code we can pull from mediawiki if necessary.

[2019-11-08 03:07] guyjeangilles commented on #710
@tfmorris I'm not apposed to adopting Agile planning in the future, but considering our habit of leaving issues unattended for years, I'm assigning @hornc  for the time being per slack discussion.

[2019-11-08 03:08] guyjeangilles commented on #2317
Assigning @cdrini per slack discussions since he's doing a lot of the refactoring

[2019-11-08 03:16] guyjeangilles commented on #960
The commit in question: https://github.com/internetarchive/openlibrary/pull/353

Assigning @mekarpeles

[2019-11-08 03:19] guyjeangilles commented on #395
Assigning jdlrobson (not tagging by request) per slack discussion since it's UI related

[2019-11-08 03:35] guyjeangilles commented on #1816
Assigning @hornc per slack discussions since this is data related

[2019-11-08 04:21] tapaswenipathak commented on #2073
On Fri, 8 Nov 2019 at 3:23 AM, Charles Horn <notifications@github.com>
wrote:

Hello: Mind having a look at
https://github.com/internetarchive/openlibrary/issues/2319?

--
Thanks,
Tapasweni

[2019-11-08 04:23] tapaswenipathak commented on #2073
On Fri, 8 Nov 2019 at 3:23 AM, Charles Horn <notifications@github.com>
wrote:

Hello: Mind having a look at
https://github.com/internetarchive/openlibrary/issues/2319?

—

--
Thanks,
Tapasweni

[2019-11-08 13:04] seabelis commented on #2601
Not all works have been translated into English.

[2019-11-08 13:39] seabelis commented on #2601
And there's been some discussion about using the work to populate the 'translated from' fields in the edition, this would require the work to represent the original language.

A literal translation of a title may not be the actual title in English, if there are multiple versions of an English title, which would be used?

[2019-11-08 13:41] LeadSongDog commented on #2601
Not even the _titles_ of all works have been translated to English. For that matter, not every work even _has_ a title.

[2019-11-08 15:06] dcapillae commented on #2601
Hi,

Editions in other languages usually include a reference to the title of the original work. This value should be added in the "Translation of" field. This value can be only one.

Editions in other languages are sometimes published with different titles, e. g., Ramsey Campbel's *The Nameless* has been published in Spanish with two different titles (*La secta sin nombre* and *Los sin nombre*). S

[2019-11-08 15:20] seabelis commented on #2404
Should we still alert you if we notice recent imports?

[2019-11-08 15:21] LeadSongDog commented on #1054
The count is now 24 FIXMEs and 30 Hacks. Should this be an epic with 54 subissues?

[2019-11-08 15:22] cdrini commented on #2607
#2353 is about adding documentation about how to use existing i18n syntax/infrastructure to the wiki.
I would say this could be a subtask of #2190 .

What's a lot of work?

[2019-11-08 15:38] cdrini commented on #2601
@seabelis To be more succinct, here's my proposed change (only works which have an English edition would have English titles in the work).

| Before | After |
| --- | --- |
| The "work" data should reflect the original language, if that is known. | The "work" title should be in English, if an edition exists in English. |

Here's a pros/cons

Pros:
- Makes it easier for the the majority of our user

[2019-11-08 15:43] cdrini commented on #2601
I'm not crazy over that proposal; I think I would rather have an `original_edition` field on the work, which stores the first publication. Then all editions not in that language can be assumed translations of this edition.

I would argue use the most well known (if one is clearly more well known), otherwise use the original English title.
- e.g. _And Then There Were None_ should be user over the o

[2019-11-08 15:52] tfmorris commented on #2601
This is so wrong-headed that I don't even know where to begin. Do people not see the vicious cycle that they are perpetuating?

"The majority of are users are English speakers, so let's do everything as English only."

Why don't we have more non-English speakers? Because at every opportunity, we actively make them feel unwelcome and drive them away!

Translated work titles is definitely the way to

[2019-11-08 15:56] cdrini commented on #2601
_Strong_ disagree. Why should we make the experience bad for almost everyone until that happens? Again, this isn't anti-i18n or xenophobic, it's making our data more organized.

Can you give some pros/cons of having work title's be in their original language?

[2019-11-08 15:58] cdrini commented on #827
It's an easy-to-fix issue in the derive process; @JeffKaplan was able to fix the specified book. Feel free to create more issues if you find other such books!

[2019-11-08 15:58] #827 closed

[2019-11-08 16:11] LeadSongDog commented on #2601
@dcapillae The particular cases of translations _from_ English are relatively straightforward. It gets much more complex when discussing classics, where in some cases the original text does not survive.
Case in point: we can be quite sure that Aesop never wrote in English, yet WorldCat shows this is by far the most common translation language of the 99 listed, leaving Latin a distant second.

http

[2019-11-08 16:44] jessamynwest commented on #2601
Book titles should be in the language the book is in. Agree entirely with @tfmorris on this.

The Internet Archive is not particularly good at dealing with an international audience, let's not make it worse.

[2019-11-08 16:46] jessamynwest commented on #2601
The best way to do this would be to prioritize having a user be able to set a preferred language.

[2019-11-08 17:24] cdrini commented on #2601
@jessamynwest I agree _edition_ titles should be in the language of the book; we're talking about works. Can you provide some concrete cons of having work titles be in English? And some pros _specifically_ of having them be in the original language?

[2019-11-08 17:26] cdrini commented on #2601
To clarify, we're not talking about i18n specifically here (except to keep it in mind as our long term goal). The main question is between whether the work title should be in English or in the original language of the work. To decide that, we need to come up with some sort of pros/cons of one vs the other.

[2019-11-08 19:17] LeadSongDog commented on #2601
Why would we want to list works in one language _or_ the other? Certainly today's world is dominated by the anglosphere, but there's no real reason to assume every work has even one English edition, or that one translation into English is more correct than another. We should have a mechanism that can show all the distinct titles of a work, with preference to those in whatever language the user ask

[2019-11-08 20:26] jessamynwest commented on #2601
**Cons of Work titles being in English** (as opposed to whatever language they are in)

- It sets up a bad precedent of mixing language on title/book. I do NOT want to read an English title and click on the book and have it be in Russian. That is a bad user experience for me. It will confound unsophisticated users.
- It points to American/English exceptionalism and colonialist mindsets. It basical

[2019-11-08 21:15] cdrini commented on #2601
@LeadSongDog

Strong agree; in the long term I think the work should list all titles (in some fashion). This is mostly deciding what to do in the interim until we have the time to work on that.

[2019-11-08 21:16] guyjeangilles commented on #1054
We may be able to lump some of the fixmes/hacks into one issues. First, I think we need to identify the files/modules that need to be addressed and then functionalities that would be affected. Some of these might be already captured in pre-existing issues.

[2019-11-08 21:17] cdrini commented on #2601
@jessamynwest _Thank you_ for the feedback; I honestly want to have a discussion about this, but felt like I was getting auto-shut down with "What is wrong with you?" style comments.

[2019-11-08 21:29] guyjeangilles commented on #2384
It sounds like we'd need to add functionality to insert data instead of editing the whole Table of Contents object. Assigning @hornc per slack conversations since it seems like something it'd spearhead.

[2019-11-08 21:42] guyjeangilles commented on #1068
I edited cdrini's comment to explicitly state the parent epic

[2019-11-08 21:49] guyjeangilles commented on #713
Assigning @hornc per slack discussion since this is import/data related.

[2019-11-08 21:56] guyjeangilles commented on #97
The [openlibrary-client](https://github.com/internetarchive/openlibrary-client) fixes a lot of not all of these issues. Closing. Feel free to reopen for a _specific_ feature that needs to be adde

[2019-11-08 21:56] #97 closed

[2019-11-08 22:00] jdlrobson opened #2610 "Insufficient color contrast ratios for borrow button"
Spun out from #1005
Our borrow buttons (#3B98FC background, white text) are impossible for some users to read.

* Visit https://openlibrary.org/ in Google Chrome
* Open up the developer tools and click audits tab
* Tick the box for accessibility and click "run audits"

### Evidence / Screenshot (if possible)
The audit complains that
"Background and foreground colors do not have a sufficient contra

[2019-11-08 22:00] jdlrobson commented on #1005
Form issue no longer applies. Spun out remaining issue to #2610. Let's continue the color conversation there.

[2019-11-08 22:07] jdlrobson commented on #2610
Current:
![Screenshot 2019-11-08 at 2 05 22 PM](https://user-images.githubusercontent.com/148752/68513813-d5fc7800-0230-11ea-80f9-2741423e1f76.png)

If we use #0476B8
![Screenshot 2019-11-08 at 2 02 40 PM](https://user-images.githubusercontent.com/148752/68513697-8c139200-0230-11ea-9406-8dbd08b68254.png)

What do we think? @seabelis @mekarpeles @konpyuta @cdrini

[2019-11-08 22:07] #1005 closed

[2019-11-08 22:08] jdlrobson commented on #395
What edit id?

@cdrini or @mek can somebody expand the description so it's clear to someone who doesn't know how our project works what we want to fix here and how.

[2019-11-08 22:10] jdlrobson commented on #1777
@traceypooh would you mind answering my question on https://github.com/internetarchive/openlibrary/issues/1777#issuecomment-520160271 ? Thanks in advance <3

[2019-11-08 22:20] guyjeangilles commented on #1676
@hornc @tfmorris Do you believe this is a Solr issue, Infogami issue, or some combination of both?

[2019-11-08 22:26] guyjeangilles commented on #68
Can we search inside without using the IA API/are we willing to implement our own search inside feature? If the answer to both is no, I propose closing this.

[2019-11-08 22:31] guyjeangilles commented on #895
Assigning @hornc per slack discussions since it's data related. I agree with Tom's notion to do as the Library of Congress does with regard to Publisher Catalog Number.

[2019-11-08 22:53] jdlrobson commented on #759
I think the bigger problem here is that user's don't understand the difference between an edition and a book. Is there a higher level issue for that particular problem that I can fold this issue into?

Marking as low as I'd like to work out a roadmap for how this works first.

[2019-11-09 00:16] dcapillae commented on #2601
@LeadSongDog wrote:

I'm not a specialist in the field. Librarians and archivists surely know what to do in these cases.

Consulting some cataloguing manuals, they prescribe that the transcription of the title must respect the spelling of the original work (the oldest book preserved, in this case). Some manuals also indicate how to transcribe certain letters of the original title that are not dire

[2019-11-09 00:39] jdlrobson commented on #2607
Client side i18n support. We don't have it right now. We have code relating to it, but it's got fundamental problems and I don't recommend we encourage usage of it by documenting it. We should remove it and  go back to the drawing board with it. I don't want to encourage adoption of this code with it in the current state it is. We should focus on improving the backend i18n first.

[2019-11-09 01:28] cdrini opened #2612 "Preview button not working"
Preview button no longer works

### Relevant url?
e.g. https://openlibrary.org/books/OL20509458M/Tom_Clancy's_Net_force#bookPreview

### Expectation
Preview popup should open when clicking the button

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF69
- **Operating system?** Win10

### Proposal & Constraints
Likely related to #2586 ; duplicating the preview button might have ca

[2019-11-09 01:53] jdlrobson commented on #829
We were relying on element order (yuck!) I've submitted a pull request to fix this. I have recommended we do away with the count of books on a given shelf though at the trade off of not having to reload the page on every movement between shelves.

[2019-11-09 04:25] cdrini commented on #395
@jdlrobson updated; does that look ok?

[2019-11-09 04:43] cdrini commented on #2607
Ah, I see what you mean. To clarify, when I say client-side i18n I mean JavaScript specific; our html server-side i18n is alright. Both of these fall under frontend i18n though. Are we on the same page?

[2019-11-09 04:45] cdrini commented on #2607
Ohhh I see why you're asking. When I say "use our existing architecture" I meant "use our existing translation files"; we should try to avoid having duplicate translation files for terms (if possible).

[2019-11-09 08:30] seabelis commented on #2610
Agreed. I think the slight change in colour provides benefit without negatively impacting the visual presentation.

[2019-11-09 08:36] seabelis commented on #1676
Some of the examples have since resolved, Harriet the Spy is an example of one that is still problematic. Gatsby is an example of one that has resolved.

[2019-11-09 14:10] BrittanyBunk commented on #2542
http://ce.sharif.edu/courses/96-97/1/ce153-6/resources/root/Books/C%20How%20to%20Program%20(Deitel%206e).pdf
Deitel & Associates, Inc. http://www.deitel.com/Deitel/AboutDeitelAssociatesInc/tabid/196/Default.aspx content provider and did the publication (I believe Prentice Hall did too http://prenticehall.com/)
Prentice Education Inc. is the company who the copyright is under (https://www.pearson.c

[2019-11-09 14:10] BrittanyBunk commented on #2542
If that's not a good example, I could try to find another

[2019-11-09 14:12] BrittanyBunk commented on #2564
@cdrini This is an entire site feature. Not one book that's able to be read has the 'read' button on it. https://openlibrary.org/people/hawaiisunfun/lists/OL106255L/my_edited_books Almost all of these haev a pdf. So I'm just requesting for adding the feature to lists altogether.

[2019-11-09 15:01] BrittanyBunk commented on #2601
- @cdrini What you wrote is what I would feel works best. All work titles in English with a box underneath with the original work's title in the original language.
- @LeadSongDog Yes. I would propose that would be another filter in the table with all the editions. I was thinking of proposing a much better table too, but one thing at a time.
- @tfmorris you're right. It's kind of like cultural appr

[2019-11-09 16:16] seabelis commented on #2601
There's a difference between translating a title and the title of a translated work.
The literal translation of _Mördare utan ansikte_ is 'Killer without a face'; the English translation is called _Faceless Killers_.

_Demons_, _The Devils_, and The _Posessed_ are all different titles of various English translations of the same work.

On the flip side, the German translation of _Jurassic Park_ is

[2019-11-09 17:29] jessamynwest commented on #2601
Agree with @seabelis. Literal machine translation is not accurate translation and won't correspond to the work's title in enough cases that it is worth trying. This is one of those things in librarianship that we describe, accurately, as "a hard problem" and it can't be solved by putting more computers on it.

Strong disagree on "this will just be temporary" especially when the thing you are refer

[2019-11-09 17:31] jdlrobson commented on #395
Thank you @cdrini .perfect!

[2019-11-09 18:41] BrittanyBunk commented on #2601
@seabelis I'm suggesting both, with a preference to the non-literal title when there is one. What the English title is probably won't be translated into the French title. I would say that when the site can be translated for everyone, it'll be manually entered in by the native speakers. Still, the machine should enter in a literal translation first, so it can be there first and corrected later by t

[2019-11-09 18:56] jessamynwest commented on #2601
I have made my suggestion which is that we not implement this feature as written and instead move towards implementing a feature whereby a user can choose their preferred language which will determine how they see the "work" and possibly what edition will be shown to them.

An English-first approach is xenophobic and not okay. Maybe open another issue for a "user can choose their language" feature

[2019-11-09 20:44] LeadSongDog commented on #2190
See too #791

[2019-11-10 02:06] dcapillae commented on #2601
Ethnocentric perhaps, better than xenophobic. It's not okay anyway.

[2019-11-10 15:34] BrittanyBunk opened #2616 "There is a mismatch of availability of a book in a carousel to its true status"
### Example:
https://openlibrary.org/books/OL26571490M/Flush
https://openlibrary.org/books/OL26571491M/A_haunted_house_and_other_short_stories
![image](https://user-images.githubusercontent.com/55302685/77956345-92111a80-7286-11ea-8a9b-e17431ff2ccd.png)

### Problem:
Works in carousel say 'read', but when clicked on says 'no ebook available'. The expected result should be a read button there.

###

[2019-11-10 16:19] jdlrobson commented on #2610
Thanks for the feedback @seabelis
I'll give people a week to feed back and if nothing let's move forward with fixing this.

[2019-11-10 16:35] BrittanyBunk commented on #2601
@jessamynwest idk how the website will be translated in the end. I just think there might be some misunderstandings.
- If it's through Google Translate, then it would be in English, as the site's in English, so when a person needs to translate it to their language, it'll appear in their language. Then the person doesn't need to have a scroll down to their language if it's done automatically. The i

[2019-11-10 17:38] cdrini opened #2617 "Display "Sponsor" button in editions table"
Display the sponsor button on the editions table in the works page for easier discoverability.

### Proposal & Constraints

- There are rate limits on the APIs we access to determine sponsor-ability, so we can't call it for every edition of a work. We should have some heuristic functions (that don't hit those APIs) that can filter out the majority of editions, so we perform the check on max 1 edit

[2019-11-10 17:52] dcapillae commented on #2601
@BrittanyBunk wrote:

Not really. With the [format right now](https://openlibrary.org/help/faq/editing#work-edition), the "work" data should reflect the original language. It is a consistent criterion.

@LeadSongDog wrote:

I agree. In fact, all works have their Open Library ID. We don't need a title to identify them, so we don't need to choose a preferred language for the title. The work title in

[2019-11-10 18:10] guyjeangilles commented on #915
@hornc Have we established the sync process? Assigning you per slack discussions

[2019-11-10 18:22] guyjeangilles commented on #1158
Tagging jdlrobson (not tagging as requested) per slack discussions. The solution to this issue is closely coupled to #1184

[2019-11-10 18:25] guyjeangilles commented on #1184
Since this issue was retitled, it really should be an epic. Assigning jdlrobson (not tagging as requested) per slack discussions

[2019-11-10 18:26] guyjeangilles commented on #1951
Making this a subtask of #1184

[2019-11-10 18:36] guyjeangilles commented on #1846
Assigning @hornc per slack discussions. Is this still an issue?

[2019-11-10 18:44] guyjeangilles commented on #1157
This is still an issue. Assigning @cdrini per slack discussions. Is there a reason why this issue is categorized as blocked in the Modern Front-end & Mobile project?

[2019-11-10 18:45] worldpartner-0322 commented on #2617
アホか！こっちは40000円以上負けてるんやぞ！何で金払わなアカンねん。

[2019-11-10 18:52] guyjeangilles commented on #2109
I'm seeing a relatively slow (~20s) response for 0.0.0.0:8080/books/OL24218235M/Remix?_profile=true while i'm getting a couple seconds on the production website.

[2019-11-10 18:57] guyjeangilles commented on #2077
There are still several stale branches, https://github.com/internetarchive/openlibrary/branches/stale, some of them closed. We probably need another round of deletes.

[2019-11-10 19:13] guyjeangilles commented on #2122
@cdrini Is this still an issue? According to the [Debugger Documentation](https://github.com/internetarchive/openlibrary/wiki/Debugger) there must be 1 worker to use the debugger in VS Code, so no one since may should be able to debug Open Library code...which seems hard to believe.

Granted, when I tried to resolve https://github.com/internetarchive/openlibrary/issues/333#issuecomment-542461192,

[2019-11-10 19:42] jdlrobson commented on #1951
This looks like a duplicate to me. Thanks for poking.

[2019-11-10 19:42] #1951 closed

[2019-11-10 19:44] BrittanyBunk commented on #2601
@dcapillae what about my 2 box idea about the original work as one box and the translation as the 2nd one (and also out separating translations from editions*)? What's the idea you're saying about internally? (I'm confused) Thank you for understanding - it's about a better format for readability for all users, not something that's supposed to be offensive. I just can't write out everything all at

[2019-11-10 19:50] jessamynwest commented on #2601
Machine translations are often not a good idea for material with nuance like book titles which @seabelis mentioned above with examples. Unless there's a compelling reason to introduce bad data into the equation, I don't see that it solves a user problem.

[2019-11-10 20:00] tfmorris commented on #2610
I like the new color. Presumably we'd also change the color for the left/right nav buttons to match?

On a related note,iIt seems like there's also room to use a larger font for the button labels if we're trying to improve usability.

[2019-11-10 20:06] BrittanyBunk commented on #2601
@jessamynwest those would be manually changed. It's for translating the title so it's more readable, and it would have a description saying it's just a translation, not the most accurate title. If not, what do you propose for readers to see if there's no book translated into their language?

[2019-11-10 20:06] guyjeangilles commented on #620
This isn't fixed @cdrini. See the history of this edition: https://openlibrary.org/books/OL27096953M/Children_of_Blood_and_Bone

[2019-11-10 20:16] BrittanyBunk commented on #2601
The only other idea I could think of is to not have the machine translation and just manual input. That would mean it would start out with nothing. Then multiple titles could be added in with their corresponding language (like what @cdrini's picture shows: https://github.com/internetarchive/openlibrary/issues/2601#issuecomment-551230169 - but it'd be belarusian title 1, belarusian title 2, etc. if

[2019-11-10 20:17] tfmorris commented on #620
More specifically, a single change (60537807) modified both the edition and the work titles:

https://openlibrary.org/works/OL19912375W.json?m=history
https://openlibrary.org/books/OL27096953M.json?m=history

[2019-11-10 21:02] hornc commented on #620
I do not see what the problem is with edit https://openlibrary.org/books/OL27096953M/Children_of_Blood_and_Bone  (change (60537807) ) -- it looks like the work and edition title were correctly changed in a single edit.

From the edition edit page:
![image](https://user-images.githubusercontent.com/905545/68550306-9a4af380-0466-11ea-9fe2-f8b1f84a42fa.png)
Is where users can change the _Work_ title

[2019-11-10 21:20] dcapillae commented on #2601
@BrittanyBunk wrote:

With regard to titles in other languages, I think the most important thing is that you can search for works (and edition) from any title in any language (if those titles really exist because they have been published).

Two boxes is not bad idea, a main box with the original title and another with the translation (if it exist) in the user's language (perhaps the title with the

[2019-11-10 21:25] hornc commented on #620
I have just created https://openlibrary.org/works/OL20443899W/Genre  to move the Genre editions to.

The correct author is https://openlibrary.org/authors/OL7008084A/Stephen_Neale (1950)

[2019-11-10 22:41] jessamynwest commented on #2601
Open Library has no staffing for that. Those would not be manually changed.

The book in the language it was published in. As I see it, you are trying to improve the OL user experience for English-speaking OL users. My proposal remains: keep this the way it is, add a different feature for letting a user indicate their primary language, build features off of that.

[2019-11-10 23:03] hornc commented on #2219
Also TODO:

- [ ] remove
* ISBN 100595099521
* ISBN 139780595099528
* OCLC/WorldCat77737941
from everything that isn't OL24945959M

[2019-11-10 23:34] hornc commented on #2219
Done! https://openlibrary.org/authors/OL594217A/J._Delgado-Figueroa no longer has 10 pages of false _Tropical snows_

[2019-11-10 23:34] #2219 closed

[2019-11-11 00:37] hornc commented on #321
There are 8 of these in the ol_dump_editions_2019-10-31.txt dump
[code]

[2019-11-11 00:41] tfmorris commented on #620
@hornc You're right, it looks like these were two field edits done at the same time. I tested editing the edition title only [here](https://openlibrary.org/books/OL26879357M/Children_of_Blood_and_Bone?b=4&a=3&_compare=Compare&m=diff) and it correctly had no effect on the work title.

I think the edit form could definitely be improved, but that can be the topic of a separate issue.

Use case 5 seem

[2019-11-11 01:53] hornc commented on #321
`ia:XXX` ids that appear in the redirects dump:

[code]

[2019-11-11 04:05] mekarpeles commented on #2601
I think we're spiraling into a premature discussion which is prescribing a solution which we're not ready to prioritize. I don't think the solution as described is sufficient. It will need to be much more nuanced in terms of leveraging the infrastructure that we have to provide the right solution to our patrons. I feel inclined to close this issue until such a time as we have made the right decisi

[2019-11-11 04:05] #2601 closed

[2019-11-11 04:51] hornc commented on #1046
**Task:**
- [ ] run the remaining 7K ids through the bot process at https://github.com/hornc/openlibrary-bots/tree/ia-sync-bot/ia-sync-bot

[2019-11-11 05:14] BrittanyBunk commented on #2601
@mekarpeles sounds good. I just wanted to add that I was thinking about the transliteration to allow for searching in every language. It would just need a note that says it's a direct translation and not the work's name itself (so people know, as otherwise it'll be hard to search for the book if it's not in their language at all). If there's a translation that's for an actual book, it'd be manuall

[2019-11-11 08:57] hornc commented on #1445
@seabelis I think all the Shakespeare, Stephen King, and work editing issues should be resolved now --

[2019-11-11 17:40] jdlrobson commented on #1158
Declining in favor of the epic. This issue is not actionable until we have the larger conversation and plan how we want to do this.

[2019-11-11 17:40] #1158 closed

[2019-11-11 17:59] seabelis commented on #1445
Confirmed. These two are still uncooperative, https://openlibrary.org/books/OL19624190M/The_tales_of_Tchehov, https://openlibrary.org/books/OL13427904M/Memoria_Delle_Mie_Puttane_Tristi

[2019-11-11 19:30] cdrini commented on #486
Something weird is going on here; the edition still has the wrong author (`...017A` instead of `...019A`) in the JSON. I don't think this is a solr issue. The work and edition author fields are out of sync (for some reason).

https://openlibrary.org/books/OL17631357M.json

[2019-11-11 19:39] cdrini commented on #412
@LeadSongDog (or someone else) would you mind giving a summary of what the current proposal is here? I'm having trouble following what the desired change is after all the discussion.

Except for the fact that it doesn't display the title, this is how the "What work is this an edition of" field functions; does that mean this issue is resolved?

[2019-11-11 20:46] #2612 closed

[2019-11-11 21:47] jdlrobson commented on #2607
Thanks for the clarification. Do you want to revise the description to be less about JS - maybe pointing at some particular code examples and/or a strawman proposal of what's being suggested? The description is a little brief right now which is likely creating more work for us trying to get a shared understanding of what we're talking about.

From my perspective, I would urge us to not add or use

[2019-11-11 23:28] hornc commented on #713
@tfmorris do you have the test case you mentioned handy? Adding specific test cases to confirm we can handle specific situations is a really good way to make improvements on our import process!

[2019-11-11 23:31] hornc commented on #713
Note to self -- a simple test would be to test Author and Title names can be imported correctly from MARC-8 encoded binary MARC files (Which is what  https://openlibrary.org/show-records/ia:discours00unse_b2r shows was the source)

[2019-11-12 00:35] tfmorris commented on #713
The MARC for this author was either https://archive.org/download/discours00unse_b2r/discours00unse_b2r_meta.mrc or https://archive.org/download/discours00unse_b2r/discours00unse_b2r_meta.xml. I suspect the former based on my earlier comment about MarcXML being fixed.

Note that the view at https://openlibrary.org/show-records/ia:discours00unse_b2r is broken as well which indicates that I may use c

[2019-11-12 00:44] tfmorris commented on #1841
Still broken. Go to https://cards-dev.twitter.com/validator
paste in https://openlibrary.org/authors/OL30250A/E._B._White
observe that the preview shows no image and that it warns

[2019-11-12 00:48] tfmorris commented on #158
Yes, a proper fix is dependent on indexing editions (and would probably be fixed automatically with no additional work). If someone wanted to improve things in the mean time, they could implement the [Mar 2017 suggestion](https://github.com/internetarchive/openlibrary/issues/158#issuecomment-290142480).

[2019-11-12 01:13] hornc commented on #2061
**Remaining ERRORS in logs to reimport:**

- [ ] sfpl001.log
- [ ] sfpl002.log
- [ ] sfpl003.log
- [ ] sfpl004.log
- [ ] sfpl005.log
- [ ] sfpl006.log
- [ ] sfpl007.log
- [ ] sfpl008.log
- [ ] sfpl009.log
- [ ] sfpl010.log
- [ ] sfpl011.log
- [ ] sfpl012.log
- [ ] sfpl013-01redo.log
- [ ] sfpl014-02redo.log
- [ ] sfpl015-03redo.log
- [ ] sfpl016-03redo.log
- [ ] sfpl017-03redo.log
- [ ] sfpl018-04

[2019-11-12 01:28] tfmorris commented on #889
@guyjeangilles We'd need to add the edition titles to a collected `title` field like we do for the `text` field that is used for the "All" search. Generally speaking Solr can handle almost anything you can dream up in a pretty efficient manner, so that's not a worry.

Rather than investing in this though, I'd prefer to just make editions searchable and this will fall out of that naturally.

Also,

[2019-11-12 01:35] tfmorris commented on #1623
I suspect it was @hornc who added the `source_records`, so he could probably provide information on their intended use and if/how they should be displayed.

[2019-11-12 01:38] tfmorris commented on #1668
This started working again for me in the last few months. I'm not sure if my permissions got changed or it get reeenabled for folks generally. Even if it's currently librarians only, they would appear to meet the needs of @cdrini and @seabelis.

[2019-11-12 01:48] cdrini commented on #1668
It's been re-enabled for librarians here #2228 . I still think it should be re-enabled for any "trusted" user, like most wikis (Wikipedia, Wikidata). I would say this is blocked by adding a "trusted" user class.

[2019-11-12 02:13] tfmorris commented on #162
My 2013 comment about prioritizing cleanup and dedupe before attempting import large quantities of data still applies. We've made a little bit of progress, but there are still tons of duplicates, conflated records, and other data issues which make it very difficult to do a good job of importing new data.

[2019-11-12 02:23] tfmorris commented on #789
@guyjeangilles I suspect you're seeing three different issues here:
1. There were historical indexing bugs that caused updates to be missed. These are the ones which are cleaned up by any trivial edit. These will be fixed en masse by a bulk reindexing of the entire database.
2. Solr updates are very laggy. Some of this is intentional due to poor performance and/or superstition about the very old v

[2019-11-12 03:45] hornc opened #2620 "Missing last name from (bulk) MARC import causes exception"
[code]

when importing

marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run05.mrc:397705641:5

https://openlibrary.org/show-records/marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run05.mrc:397705641:7851

... Which is a videorecording. Why did it get this far in the import process?

### Evidence / Screenshot (if possible)

### Relevant url?

### Expectation

###

[2019-11-12 03:45] hornc commented on #2620
Noticed while working on #2061

[2019-11-12 03:49] hornc commented on #2620
Possibly also the same issue:

marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run05.mrc:252286322:5
marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run05.mrc:103873202:5
marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run05.mrc:39131678:5

[2019-11-12 03:58] hornc opened #2621 "Unknown but common issue when bulk MARC importing"
Unsure what the root cause of this bulk MARC import issue is, but:

`<h2>int() argument must be a string or a number, not &#39;NoneType&#39;</h2>`

Occurs via the archive.org bulk MARC import path, common in the SFPL dataset.

From the not very helpful HTML debug output:
[code]

Examples:
**01:**
[code]

**02:**
[code]

**03:**
[code]

**04:**
[code]

**05:**
[code]

[2019-11-12 04:03] hornc commented on #2621
Whatever is causing this sort of exception should be caught and an API appropriate JSON error message should be returned. It is very difficult to parse the entire web page for clues as to what has gone wrong. The lack of appropriate error handling is a bug in its own right.

[2019-11-12 04:05] hornc commented on #2621
These are the final residual issues from #2061 , other than a handful of OL refusing to import serials and other less book-like items.

[2019-11-12 04:19] hornc commented on #2621
and more:
[code]

[2019-11-12 04:35] hornc opened #2622 "MARC Import accepts some AV material"
Example: https://openlibrary.org/show-records/marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run01.mrc:174046:685

https://openlibrary.org/books/OL26881959M/ASL_Bible_Luke_1-3_(30_min_clr_1982)_VHS

The import process does reject non-book items, and also serials. Why dis this item get through?

### Evidence / Screenshot (if possible)

### Relevant url?

### Expectation

### Detai

[2019-11-12 04:40] cdrini commented on #2455
I think this is a valid request. I often want to add a link to the publisher's page for the editiong (e.g. https://www.cambridge.org/us/academic/subjects/computer-science/algorithmics-complexity-computer-algebra-and-computational-g/probability-and-computing-randomization-and-probabilistic-techniques-algorithms-and-data-analysis-2nd-edition?format=AR&isbn=9781107154889 ). These are edition-specific

[2019-11-12 04:40] hornc commented on #2061
Failed imports have been re-run, and the bulk have succeeded as a result of a targeted approach to #2553
There are a relatively small number of imports that failed that fall into the #2621 category. That can be followed up with that issue. The SFPL collection data has been imported in preperation for book scanning.

[2019-11-12 04:40] #2061 closed

[2019-11-12 04:42] cdrini commented on #1799
Yep; I've observed this as well and it tends to disappear after ~15min. This makes me think it's solr related.

[2019-11-12 04:43] hornc commented on #2297
PR #2602 will hopefully address the recent-changes list view issues.

A better place to view the ongoing import process is https://openlibrary.org/stats

and I have also PR #2618 to label the graphs better.

[2019-11-12 04:45] hornc commented on #2622
relates to #2404

[2019-11-12 04:48] cdrini commented on #1059
Open library data dumps https://openlibrary.org/developers/dumps ; updated description.

[2019-11-12 04:52] cdrini commented on #2481
Rerunning today

[2019-11-12 04:54] BrittanyBunk commented on #2455
@cdrini thank you. I appreciate you understanding this.

[2019-11-12 04:59] cdrini commented on #1057
The repro 5 steps were performed at a normal rate with no intentional pauses between the events. I was able to reproduce again (waiting for the 15min now).

The bug is I believe in the solrupdater code, so although the work does go through the code again (forcing an update), the code is wrong. Possibly related to the caching issue @LeadSongDog mentioned; not sure. More investigation required.

[2019-11-12 05:03] cdrini commented on #2592
Hi @airbee7337 ! Thanks for the bug report. Could you please follow the bug report template? It makes it much easier for us to process incoming issues. For this, I'd especially like to know what browser/os you're using. I can't reproduce this on FF69/Win10. I've re-added the bug template to make it easier to fill in. Let me know if you have any questions!

[2019-11-12 05:18] cdrini opened #2623 "ISBN star queries no longer work"
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/search?q=isbn%3A02620%2A&mode=everything

### Expectation
It should give results

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF69
- **Operating system?** Win10

### Proposal & Constraints

### Stakeholders
@LeadSongDog @tfmorris

[2019-11-12 05:19] cdrini commented on #372
(Created issue for the wildcard regression: https://github.com/internetarchive/openlibrary/issues/2623 )

[2019-11-12 05:21] cdrini commented on #1162
Let's leave this open until it's on prod; otherwise I can almost guarantee it'll fall through the cracks.

[2019-11-12 05:21] cdrini commented on #1162
It doesn't look like this is happening on openlibrary.org yet. Since this requires server configuration, assigning @mekarpeles

[2019-11-12 05:30] cdrini commented on #364
https://openlibrary.org/search/lists?q=biography Does exact string matching of the title :/

[2019-11-12 05:34] cdrini commented on #1797
This is a separate issue; it asks to have wikidata links on the work.

Related: https://github.com/internetarchive/openlibrary/issues/856

[2019-11-12 05:43] cdrini commented on #1169
I'll take this one; this so much my cup of tea. (The main plan is finding the bold **Title, by author** text, and then searching solr for `title:"title" author:"author"` and collecting results. It doesn't have to be perfect).

[2019-11-12 05:46] cdrini commented on #1875
Duplciate of https://github.com/internetarchive/openlibrary/issues/579

[2019-11-12 10:45] seabelis commented on #2233
Bad match. https://openlibrary.org/books/OL6447918M/Julius_Caesar

[2019-11-12 15:06] jdlrobson commented on #1162
Wait what?
Last time I checked we had gzipping in production and this ticket was only getting it on dev where it was absent.

(I am not at my computer right now so can't confirm)

[2019-11-12 15:09] jdlrobson commented on #1169
I'd strongly advise against more carousels until we have the data requested in #2160

[2019-11-12 16:12] cdrini commented on #1162
Oh jeez, I'm sorry; I entirely misread what I was looking at 😅 You are completely correct! Closing.

[2019-11-12 16:12] #1162 closed

[2019-11-12 16:14] cdrini commented on #1169
This is something I'm pretty excited about implementing even if it's final form factor isn't a carousel. Although I highly doubt I'll have the time to implementing it any time soon :P

[2019-11-12 16:50] jdlrobson commented on #1162
Phew you had me worried then. That sort of thing can take down a site haha

[2019-11-12 17:23] tfmorris commented on #2233
The latest example of bad import is from 18 Aug 2019 https://openlibrary.org/books/OL6447918M/Julius_Caesar?b=5&a=4&_compare=Compare&m=diff

The MARC record is here: https://archive.org/download/warforpowerpower0000gelb/warforpowerpower0000gelb_meta.mrc

[2019-11-12 17:25] guyjeangilles commented on #486
I'm labeling this as an Infogami issue, but I'm guessing it may have something to do with Memcache as well. @tfmorris @cdrini @hornc What are your thoughts?

[2019-11-12 17:26] cdrini opened #2624 "Markdown help button does not do anything"
Help button doesn't do anything

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/68694696-794dd580-052e-11ea-95ca-bd73fa150dd7.png)

### Relevant url?
e.g. https://openlibrary.org/books/OL25934687M/P.S._I_Still_Love_You/edit

### Expectation
It should serve some purpose

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF69
- **Op

[2019-11-12 17:34] jessamynwest commented on #364
This is excellent. Is there a way to do this for words in the title to get a wider set of results?

[2019-11-12 17:37] cdrini commented on #364
With the current implementation, unfortunately no. The current implementation is hitting postgres directly instead of solr, so we can't do any "smart" searching like we do with books. Long term, we need to index lists inside solr as well.

[2019-11-12 17:46] cdrini commented on #486
My guess would be this is not a memcache issue (the .json endpoints don't use memcache). Not sure what the root cause is that could have caused this two things to fall out of sync :/

Ok, comparing with https://openlibrary.org/books/OL25934687M.json , it looks like `authors` should _not_ be on the edition record at all. My guess would be it appeared as a result of some fluke error. (This also used

[2019-11-12 17:46] cdrini commented on #486
Fix this specific edition https://openlibrary.org/books/OL17631357M/Living_with_Leviathan

[2019-11-12 17:52] cdrini opened #2625 "Editions sometimes have authors field"
Editions sometimes have `authors` fields which can (sometimes) fall out of sync with the authors field of the work.

Questions:
- Should editions have an `authors` field? [This edition](https://openlibrary.org/books/OL25934687M.json) does not, but [this one](https://openlibrary.org/books/OL17631357M/Living_with_Leviathan?v=9) did; [this one](https://openlibrary.org/books/OL4297066M/Public_expendit

[2019-11-12 17:53] cdrini commented on #486
New issue: https://github.com/internetarchive/openlibrary/issues/2625

[2019-11-12 18:14] hornc commented on #486
@cdrini I don't think this should be closed - as I see it, the fix for this issue is for edition covers to pull the author name from the work like every other piece of UI code, for display consistency.

#2625 is more than this.

[2019-11-12 18:16] guyjeangilles commented on #412
@cdrini My summary of the thread (anyone else feel free to edit this comment if I missed anything).

### Premable
As I typed this I realzied that this issue might need to be broken up into several issues or made an `Epic`

# Original Issue
Many translations are their own works when really they should be editions of the original work they are translated from.

Currently there is a field `translatio

[2019-11-12 18:18] cdrini commented on #486
:+1: Fair enough; would you mind re-opening and updating the description?

[2019-11-12 18:22] guyjeangilles commented on #1841
I see. This seems like a metadata problem so assigning @hornc per slack discussions

[2019-11-12 18:28] guyjeangilles commented on #158
The patch until editions are indexed should be to display a disclaimer to the user so they're not confused. Assigning jdlrobson (not tagging as request) per slack discussions.

[2019-11-12 18:37] guyjeangilles commented on #889
Sounds like this should be fixed by #2246. Assigning @cdrini per slack discussions since he's the assignee of the PR

[2019-11-12 19:08] seabelis commented on #412
No, not a translation. Just a marketing decision.

[2019-11-12 19:14] guyjeangilles commented on #1797
Noted.

Assigning @hornc per slack discussions. Seems like this would require a schema change.

[2019-11-12 19:19] guyjeangilles commented on #1875
@cdrini I think this is a different issue.

I am still seeing the issue above even if I'm not logged in. While #579 only occurs if you are logged in.

[2019-11-12 19:24] guyjeangilles commented on #1169
@cdrini I've changed the title of this issue to better reflect the end goal.

[2019-11-12 19:28] guyjeangilles commented on #486
Assigning jdlrobson (not tagging per request) per slack discussion since it seems like something he word do.

[2019-11-12 19:43] hornc commented on #2623
@cdrini I had no idea this ever was a feature ;)

[2019-11-12 20:52] guyjeangilles commented on #789
Sounds like #2246 will fix 1 and 2, but 3 will still need to be addressed.

The most general Solr updating issue I could find is this one, so I'm making it an `Epic` and listing the issues in the original issue description.

[2019-11-12 20:58] guyjeangilles commented on #178
Making this a sub-task of #789

[2019-11-12 20:59] guyjeangilles commented on #891
Making this a sub-task of #789

[2019-11-12 21:00] guyjeangilles commented on #2275
Making this a sub-task of #789

[2019-11-12 21:01] guyjeangilles commented on #2355
Making this a sub-task of #789. Assigning @cdrini per slack discussions

[2019-11-12 21:02] cdrini commented on #2623
Haha, me neither actually; but now I want to use it :P Found the link on #372

[2019-11-12 21:03] guyjeangilles commented on #1918
Making this a sub-task of #789.

[2019-11-12 21:03] cdrini commented on #1169
Nice! That's exactly what I had in mind :)

[2019-11-12 21:04] guyjeangilles commented on #1896
Making this a sub-task of #789.

[2019-11-12 21:05] cdrini commented on #1875
@guyjeangilles Looks like you're right! Huh; the error is the same, but it looks like something else must be causing them in these two cases.

[2019-11-12 21:15] guyjeangilles commented on #777
@LeadSongDog so if I'm reading this correctly. All the information to present this data is in the json, but isn't being displayed correctly?

[2019-11-12 21:19] guyjeangilles commented on #500
@hornc Do you have a plan to address Tom's concerns?

[2019-11-12 21:23] guyjeangilles commented on #1121
The original issue is still a bug. Assigning @mekarpeles per slack discussions because I'm not quite sure this is Solr related.

[2019-11-12 21:28] guyjeangilles commented on #458
@mekarpeles All the related PRs are merged, but the pep8 branch is stale. What's the status of this issue?

Also, @tfmorris @cclauss @salman-bhai has this/will this be addressed with the Python 3 updates?

[2019-11-12 21:35] guyjeangilles commented on #2142
@JeffKaplan Do you mean that editing the the table of contents at _archive.org_ is the problem. Or are you referring to Open Library's edit form?

[2019-11-12 21:36] cclauss commented on #458
Just whack the whole codebase with __isort__ followed by __psf/black__.  Should just take a minute.

[2019-11-12 21:41] guyjeangilles commented on #350
Links in the original issue still cause errors. Tom brings up a good point that the solution to this issue may require the API documentation being updated.

[2019-11-12 21:50] guyjeangilles commented on #363
To double down on what @hornc said, @jessamynwest can you outline, step-by-step, how to make "remember me" not work anymore?

[2019-11-12 21:56] guyjeangilles commented on #150
@tfmorris This seems related to internationalization. Is any of your work related to this?

[2019-11-12 22:00] tfmorris commented on #350
This is no longer true (if it ever was):

Both of these queries return results:

https://openlibrary.org/search?q=%22Last+Night+in+the+OR%22
https://openlibrary.org/search?q=Last+Night+in+the+%22OR%22

The following tokens should be quoted:
* AND
* OR
* NOT
* &&
* II

The last two are low probability, but might as well be complete.

This can all be done client-side without any changes to Solr inde

[2019-11-12 22:16] guyjeangilles commented on #756
#2180 created the tests that @tfmorris advised. @hornc has there been progress on the "author matcher" as describe above?

I suggest changing the title of the issue so it more accurate describes the work that needs to be done.

[2019-11-12 22:18] tfmorris commented on #178
Why? They have nothing to do with each other. This requires a change to the indexing schema while #789 is about update frequency and accuracy.

[2019-11-12 22:19] guyjeangilles commented on #792
Assigning @hornc per slack discussions because this issue has his tags

[2019-11-12 22:22] tfmorris commented on #150
This is mostly an importer (if it's still broken) and data cleanup issue. @hornc did the bulk of the investigation on this issue to date and he's also the one closest to those two areas.

[2019-11-12 22:23] guyjeangilles commented on #178
Mostly because #789 refers to

and I would expect an normalized author name to be in Solr. But I can remove the sub-task if you feel it's inappropriate.

[2019-11-12 22:27] cdrini opened #2628 "Homepage often appears to use VERY outdated cache"
Carousels sometimes (at lease a few times a day) appear non-functional. On these cases, the sponsorship carousel also does not appear at all, and the graphs at the bottom of the page do not function. The JS/HTML reveals what looks like a caching issue; there's old JS in the HTML file that's getting called. This JS doesn't appear on the page at all when it loads correctly.

This error is thrown in

[2019-11-12 22:39] hornc commented on #65
I'm trying to figure out what the remaining issue is here -- it seems the latest example is
https://openlibrary.org/search/subjects?q=University+York

and in the first three hits:

The issue is why there are two separate rows for:

A book that has this subject https://openlibrary.org/works/OL19055710W.json
shows there is only one entry for `York University (Toronto, Ont.).` under `subjects`

Why i

[2019-11-12 22:46] hornc commented on #2623
@cdrini actually, I think some of the recent ISBN processing standardisation may be catching the `isbn` query strings and sanitising them , as discussed in #609

I wasn't aware the passing `isbn:978*` to Solr was a feature, so it hasn't be catered for in the ISBN standardising.

[2019-11-12 22:47] hornc commented on #609
@cdrini do you agree we can close this issue? I think the "fix" for this is what broke #2623 :)

[2019-11-12 23:00] hornc commented on #907
Three of the 4 items in this report were orphaned editions, and LCBot is no longer active, so there were probably multiple factors contributing to the data getting into this state in the first place.

The editions are now associated with a single work, which is progress.

Recent import processes going via the API have matched and added new source records to a single https://openlibrary.org/books/O

[2019-11-12 23:00] #907 closed

[2019-11-12 23:10] hornc commented on #2304
CleanUp bot only uses the import API, and has been mostly trying to re-import to fix bad data. I'm endeavouring to use ImportBot as the account id for ongoing imports, but everything I'm trigger is all going through the same API https://github.com/internetarchive/openlibrary/wiki/Endpoints#import-by-archiveorg-reference

The code that matches on LCCN is here: https://github.com/internetarchive/ope

[2019-11-12 23:12] cdrini commented on #609
https://openlibrary.org/search?q=isbn%3A%22978-84-00-04725-2%22&mode=everything works! Looks done to me.

[2019-11-12 23:12] #609 closed

[2019-11-12 23:17] cdrini commented on #609
(Note _technically_ this should be done on solr directly (not in the python); Solr actually has processors for ISBNs that handle all this stuff. But we can deal with it later; I'm content closing this)

[2019-11-12 23:17] tfmorris commented on #2355
This doesn't appear to have anything to do with #789, but is related to #889. The given search string is an **edition** subtitle, not the subtitle of the work. The work isn't found for the same reason that title searches on any edition title, subtitle, etc don't work.

[2019-11-12 23:27] tfmorris commented on #789
We probably really ought to split these three issues apart rather than coalescing more stuff here, but I believe the intent of the "missing expected fields" reference is the cross references like a work's edition count or an author's work count or an author's work listing showing a stale version of the author's name even after it has been updated. This was my problem 3 above.

The key to making th

[2019-11-12 23:37] hornc commented on #1904
I think this can be closed due the bug fix in #2437 which closed #947

[2019-11-12 23:37] #1904 closed

[2019-11-12 23:39] jdlrobson commented on #2628
Agreed. `Carousel.` has not been supported for a long time. I think fixing this should be a top priority as those JS errors will be breaking all features of the site built using JS.

[2019-11-13 00:20] cdrini commented on #2628
Although I think I'll put this as P1; P0 implies "stay up late to fix this" :P

[2019-11-13 00:35] hornc commented on #2147
I'm not sure whether relying on `cover` to be set to the title page on books where it is appropriate is fully reliable.

It seems to be the case on many items, e.g. https://archive.org/download/hesiodtheognis00daviuoft/page/cover.jpg

But it looks like `title` and `cover` are independent things, and there is no logic that redirects to the other if one is not set.

archive.org logic appears to pref

[2019-11-13 00:48] hornc commented on #2569
There seems to be a common class where there are two items, one has considerably better metadata:

e.g.
https://openlibrary.org/search?q=ia%3A00book1240974258

[2019-11-13 00:55] hornc commented on #2569
This examples shows items have been already merged at the work level -- is this correct?

https://openlibrary.org/search?q=ia%3A01hydrologicdata19130642calirich&mode=everything

Is this an example of the solr index lagging behind, or are there editions pointing to incorrect works?

[2019-11-13 01:25] hornc opened #2629 "Resolve all orphaned editions"
Epic level issue to track https://github.com/internetarchive/openlibrary/wiki/Orphaned-Editions-Planning

[2019-11-13 01:29] hornc commented on #2629
This is the epic level of #153 . #153 is specifically 'create' works which is not appropriate for all current orphaned editions, this is the higher level epic to cover resolving other editions without works issues, i.e. merging, deleting etc.

[2019-11-13 01:40] hornc commented on #2629
**Categories @ oct 2019**

[code]

[2019-11-13 02:16] LeadSongDog commented on #777
@guyjeangilles That’s correct.

[2019-11-13 11:19] seabelis commented on #2233
Related or duplicate of #2304?

[2019-11-13 11:20] seabelis commented on #2304
Related or duplicate of #2223?

[2019-11-13 13:00] tfmorris commented on #1918
There's no real reason for this to be coupled to other Solr work. The update queue is maintained in a separate service.

[2019-11-13 13:11] tfmorris commented on #65
I believe it was specifically the normalization/clustering of subjects that George's original issue was about.

The org/place/time subjects are used as search facets. If you think there's an issue there, we should create a separate issue to address it and not conflate it with the original problem.

[2019-11-13 13:15] nonom opened #2630 "Amstrad CPC is missing from the Archive Library"
Emularity supports Amstrad CPC6128/CPC464 emulation it and it's working flawessly in any browser, so I would like to contribute the full Amstrad CPC archive since its legit to share. But seems the Amstrad metatags aren't allowed yet.

DSK images from Amstrad cpc6128 / cpc464 are much like ZX Spectrum.

Any clue how to make them to work? They aren't already listed
https://www.archiveteam.org/index.

[2019-11-13 13:23] tfmorris commented on #2569
The Solr index is out of date: https://openlibrary.org/search.json?q=ia%3A01hydrologicdata19130642calirich&mode=everything

The edition OL25391116M appears in both works. Since the merge was done in 2017 (https://openlibrary.org/works/OL16722313W.json), it looks like the update got missed and won't get corrected until a complete reindex.

[2019-11-13 14:43] konpyuta commented on #2610
Color looks good to me!
I agree with @tfmorris , larger font size would benefit a lot.
Not sure if the left/right nav buttons really need to match though – they don't have the same contrast issues as the buttons with text and the slight difference between the nav buttons and the main action buttons might help the nav buttons not stand out too much. Worth a try to see how it looks with the same blu

[2019-11-13 17:43] cdrini commented on #2628
Apparently this is also causing the authors page to display blank sometimes (cc @BrittanyBunk)

[2019-11-13 18:32] jessamynwest commented on #363
@guyjeangilles I sure can't. I opened this ticket three years ago. I would assume it's working.

[2019-11-13 19:19] hornc commented on #2630
Hi @nonom thanks for finding Open Library! Technically this is not the right place for archive.org upload questions (which I think is what you are asking), but I'm trying to find out who to pass this on to get you an answer. Hang tight, I'll see what I can do.

[2019-11-13 19:37] nonom commented on #2630
Thanks horn, I tested with https://archive.org/details/amstrad_abadia_del_crimen_64 buy maybe the Emulator value could be wrong.

Sorry if not is the right place. Got the point. And thanks again for your effort.

[2019-11-13 19:59] cdrini opened #2636 "Move bundlesize config into separate file"
Apparently the latest version of bundlesize (thanks dependabot!) supports having its config in a separate file! Let's do that.

Docs: https://github.com/siddharthkp/bundlesize/pull/316

### Stakeholders
@jdlrobson

[2019-11-13 20:13] LeadSongDog commented on #891
Maybe we've missed the point here. Why are author names in the index of works to begin with, rather than just author identifiers?

[2019-11-13 20:44] LeadSongDog commented on #412
Once editions are correctly linked to the original work, the "translation_of" entry would seem to be redundant. Many edition records are at present linked to no work record, or to the wrong one, so in the interim the data there has value. That said, I believe my earlier suggestion was ill-considered. The comment by @seabelis makes sense: if we show it at all, it _should_ autopopulate from the work

[2019-11-13 20:47] cdrini commented on #412
Should we close this as won't fix? I agree that storing the work record twice seems redundant.

[2019-11-13 20:48] cdrini commented on #412
(There are other issues open for creating a merge flow (#805), and for making sure all editions have a work (#2629))

[2019-11-13 20:59] cdrini opened #2637 "Clicking "history" on wiki pages does not open history"
The history link doesn't seem to work on wiki pages.

### Relevant url?
e.g. https://openlibrary.org/help/faq/editing , but any non-edition/non-work/non-author page

### Steps to Reproduce

1. Go to any wiki page (e.g. https://openlibrary.org/help/faq/editing )
2. Click the "History" link at the top

* Actual: Nothing happens
* Expected: Navigates to https://openlibrary.org/help/faq/editing?m=hist

[2019-11-13 21:18] cdrini opened #2638 "Read buttons in editions table not showing listen button"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/68804815-9b2f8100-0630-11ea-8257-e41b5f330c4a.png)

### Relevant url?
e.g. https://openlibrary.org/works/OL472908W/The_Secret_Adversary

### Steps to Reproduce

1. Go to e.g. https://openlibrary.org/works/OL472908W/The_Secret_Adversary
2. Observe the editions table

* Actual: Read buttons have no lis

[2019-11-13 22:47] seabelis commented on #412
If this will ultimately be solved indirectly through another issue, I think closing it is fine.

[2019-11-14 00:05] BrittanyBunk opened #2639 "Possibility for multiple subtitles"
Right now, it's possible to have only one subtitle per work/edition. Yet, I see many books with 2 subtitles (I'm not sure what to call it, a subtitle and something else - maybe secondary subtitle). To have an option for an additional description box for the extra subtitle would help. Here's an example: https://openlibrary.org/books/OL2029162M/untitled

[2019-11-14 00:36] cdrini commented on #412
I think it'll be indirectly solved by the two issues above.

[2019-11-14 00:36] #412 closed

[2019-11-14 00:41] tfmorris commented on #2304
I suspect the performance difference is negligible, but even if it isn't, correctness is far, far more important than performance.

[2019-11-14 00:41] guyjeangilles commented on #412
@cdrini #805 and #2629 don't address translations having multiple editions.

For example, The Odyssey by Homer has multiple works in different languages. I don't think merging all these editions into a single work is the best way to handle this.

I think the most robust way of handling this situation is having a `Translated Work` object that can have it's own editions but must be linked to an `Ori

[2019-11-14 00:43] guyjeangilles commented on #458
Defaulting to assigning @mekarpeles per slack discussions

[2019-11-14 00:49] guyjeangilles commented on #789
I don't disagree with breaking this up into smaller issues. I think it's best to wait until the community discussions about search are finished before doing this breakdown. Leaving the issue as is for now.

[2019-11-14 00:53] tfmorris commented on #2628
I see author pages display zero works and works pages display zero editions on a relatively regular basis, but always assumed that those were due to search failures.

[2019-11-14 01:03] BrittanyBunk opened #2640 "Separate new accounts/lists from rest of 'recent changes' 'by humans"
https://openlibrary.org/recentchanges?#humans

[2019-11-14 01:07] BrittanyBunk commented on #2640
it may help with preventing people from writing over each other's work and also increases the capability for double-checking/adding on

[2019-11-14 01:13] guyjeangilles commented on #828
I can reproduce the bug.

This is a weird one. Some notes:
- If I go to my lists, I see the list and the book I added.
- If I go to another page and click the drop down, I see the list.
- If I navigate back to the original page where I created the list, _I still can't see the list_ from the "Want to Read" dropdown.

[2019-11-14 01:15] BrittanyBunk opened #2641 "Cover page on the carousel's not the same as the link"
![image](https://user-images.githubusercontent.com/55302685/68818192-0f6e2280-0639-11ea-95df-3a092ff0a9a7.png) (it's the blank cover)
 shows up as https://openlibrary.org/books/OL1128824M/Psychology with a cover

[2019-11-14 01:16] BrittanyBunk opened #2642 "Randomize the 'Authors Alliance & MIT Press' carousel"
Shows up with the same books everyday

[2019-11-14 01:29] guyjeangilles commented on #1957
[Contributing.md](https://github.com/internetarchive/openlibrary/blob/master/CONTRIBUTING.md) has been updated with new guidelines. Closing.

[2019-11-14 01:29] #1957 closed

[2019-11-14 01:36] guyjeangilles commented on #1930
@Pratyush1197 What's the status of this issue?

[2019-11-14 01:37] tfmorris commented on #2639
What do you consider the "secondary subtitle" for this? Library cataloging standards don't provide for more than one subtitle.

The MARC record for this has it cataloged as:

which comprises  the title ($a), subtitle ($b) and "by statement" ($c)

[2019-11-14 01:39] LeadSongDog commented on #412
@guyjeangilles If we can open the door for a new object in the schema, it should be useful for more than just translations. I would consider a more general answer such as "based_on", which could take a list of work identifiers. That way it could capture anthologies, compendia, collected works, adaptations, etc, not just translations.

[2019-11-14 01:40] tfmorris commented on #891
Because that way they can be returned with the search results in a single query rather than having to do many queries.

[2019-11-14 01:40] guyjeangilles commented on #1929
Still a bug several months later.

[2019-11-14 01:45] guyjeangilles commented on #412
@LeadSongDog If `based_on` is easy-ish to implement, this would also allow filter out associated media from search results like companion guides, spark notes, and box sets. Example: https://openlibrary.org/search?q=the+hunger+games&mode=everything

[2019-11-14 01:47] tfmorris commented on #2640
Like https://openlibrary.org/recentchanges/edit-book#humans, https://openlibrary.org/recentchanges/add-book#humans,
and https://openlibrary.org/recentchanges/merge-authors#humans ?

[2019-11-14 01:50] guyjeangilles commented on #1965
@mekarpeles Bumping that we need a decision.

I add my two cents. Censorship is and will continue to be a problem. Open Library could help preserve access to information for everyone by  being decentralized to some degree.

[2019-11-14 01:55] guyjeangilles commented on #1848
Assigning @cdrini since it's at least dev environment related.

[2019-11-14 01:57] tfmorris commented on #789
Well #178, #2355, and #1918 definitely have nothing to do with this and #1896 is only distantly related. Did "community discussions" say that this should all be lumped together?

[2019-11-14 02:07] hornc commented on #2630
@nonom I have reached out to @textfiles, but I also was cheeky and guessed a change to your item, which I think solves the problem, at least it runs for me, but the screen resolution looks off. There may be further metadata settings for that. but  `emulator` should be `cpc6128` which I got from https://wiki.mamedev.org/index.php/Driver:Amstrad

 You should be able to set emulator to `cpc6128` for

[2019-11-14 02:07] #2630 closed

[2019-11-14 02:07] guyjeangilles commented on #178
No longer a sub-task #789

[2019-11-14 02:13] guyjeangilles commented on #789
By "community discussions" I meant we're planning community calls in the near future about search and I didn't want to make any preemptive decisions about how things should be broken down. I've removed the unrelated/tangential issues per your comment.

[2019-11-14 02:20] guyjeangilles commented on #1958
Still a bug for the linked pages.

[2019-11-14 02:23] guyjeangilles commented on #1917
@mekarpeles Can you answer @cdrini 's question about whether this is used for dev.openlibrary.org

[2019-11-14 02:39] guyjeangilles commented on #2597
Assigning jdlrobon (not tagging per request) per slack discussions

[2019-11-14 02:41] guyjeangilles commented on #2417
Assigning jdlrobson (not tagging as request) per slack discussions

[2019-11-14 04:01] hornc opened #2643 "Edit history is auto-generating inaccurate comments"
https://openlibrary.org/books/OL6773974M/Botanical_materia_medica_and_pharmacology?m=history

![image](https://user-images.githubusercontent.com/905545/68825612-97b6fb00-06ff-11ea-84dd-e5e48a729b48.png)

Shows the past comments from edits 2 & 3

3 | November 21, 2009 | ImportBot | Found a matching record from marc_loc_2016 .
-- | -- | -- | --

has somehow been constructed from the item metadata, b

[2019-11-14 04:02] jdlrobson opened #2644 "Primary call to action on works page should be read"
Today I visited https://openlibrary.org/works/OL15681183W/Celebrated_Jumping_Frog_of_Calaveras_County

I was sad to see that there was no "read" button under the thumbnail. Only a "want to read". I clicked it, thinking, "well at least I'll express an interest"

Then luckily I thought.. wait.. this is a works page... not a books page.. and luckily I know enough about this site to know the differenc

[2019-11-14 05:31] #1123 closed

[2019-11-14 06:01] hornc commented on #150
I have just encountered a recent re-import issue while attempting to resolved orphaned editions:

https://openlibrary.org/books/OL13442026M is an existing orphaned edition, with ok looking ties,

, but it was reimported as https://openlibrary.org/books/OL27685236M  with messed up split ties.

This means the importer is still either breaking the ties (or accepting erroneous MARC catalogued data), a

[2019-11-14 06:40] cdrini commented on #2081
We have node 11.12 on prod, LTS is now 12.13.0

[2019-11-14 08:19] cclauss commented on #458
Trial run -- will change no files.
* isort --check-only -l 88 -sg "scripts/*" -sg "vendor/*" -rc .
* black --check --exclude "/(scripts|vendor)/" .

Actual run -- ___will modify files__
* isort -l 88 -sg "scripts/*" -sg "vendor/*" -rc .
* black --exclude "/(scripts|vendor)/" .

[2019-11-14 08:53] seabelis commented on #2304
LCCN works as a work match, but not so much as an edition match unless the publisher and year are taken into account. The original LCCN is frequently included in later editions. If a publisher releases a book under a different imprint ten years after the original, this should not count as a match.

[2019-11-14 08:57] seabelis commented on #1958
Now that I can revert to previous versions I can fix these. Not ideal since reverting reverts _all_ changes from that point meaning any good edits need to be reapplied manually.

[2019-11-14 11:36] seabelis commented on #412
If we follow these cataloging standards (which I have been trying to do), all translations would belong to the original work in ways adaptations, companions, etc. do not. https://www.isko.org/cyclo/work1.jpg

I'm not sure I'm fully understanding what is meant by editions of translations. The OL Work-Edition model doesn't really distinguish between the expression and manifestation; this is all capt

[2019-11-14 14:10] LeadSongDog commented on #891
@tfmorris
I get that it’s faster, but it’s wrong. Patrons should not have to guess at author name spellings, and there are many variations in the data. That is why we _have_ author identifiers.

[2019-11-14 14:15] seabelis opened #2646 "Establish user guidelines about cover changes for works and editions"
No guidelines exist to help editors decide if a cover change is needed or warranted.

### Describe the solution you'd like
For discussion...

For editions in library:
Let's aim for truth in advertising rather than personal preference and also having respect for the efforts of others.
Does the scanned book have its original cover?

- If yes, use that or don't change from that if already set. If boo

[2019-11-14 14:42] BrittanyBunk commented on #2639
Someone removed it, but it's supposed to have: "remedies for over 200 diseases & conditions" somewhere. A lot of books have some attention grabber, like "New York Times Bestseller", "Now with a CD", etc. It'll be good to have maybe a "feature" box or something like that that's on the cover.

[2019-11-14 14:44] BrittanyBunk commented on #2628
@cdrini yes, that's what I was talking about yesterday.

[2019-11-14 14:45] BrittanyBunk commented on #2640
yes, that would be good. Where does one access those?

[2019-11-14 14:48] BrittanyBunk opened #2647 "If I don't add a title to the edition, then it shows up as 'title unknown'"
The title appears on the page, but in lists, they don't appear. It'll be good to transfer the work's title to these, as when filling in an edition title it says "There are occasionally title variants amongst editions." So I assume I don't have to put one there if it's the same.

[2019-11-14 14:58] seabelis commented on #2639
Those blurbs would not really qualify as subtitles. That's more marketing/cover design although it can be ambiguous. The title should be taken from the title page if you have access to it. In this case, there is an LCCN; if you're not sure if something is the subtitle or not and you have the LCCN, you can see how it's listed there. VIAF is also a good resource; especially for early works. OCLC (Wo

[2019-11-14 15:03] BrittanyBunk commented on #2646
@seabelis thank you for opening this issue, as I think I brought this up in the slack and have issues with this. A lot of what you write is good. Here's my tweaks:
1) All book covers should be the most readable (as in most recognizable) one possible. The reason is that when I look through a carousel (similar to looking at the books in a bookshelf), all of them should have a title, so I can swipe t

[2019-11-14 15:06] BrittanyBunk commented on #2646
I mean, to get people to read the guidelines, the link should be there (I want to add a 'new issue' about having mouseovers for extra info, but I felt the website hasn't gotten there yet. However, that relates to what you wrote, so I'm adding it in here to start).

[2019-11-14 15:10] BrittanyBunk commented on #2639
@seabelis that's true, which is why I'm proposing a new box for this information (as it's important, at least to me, to read - as it distinguishes editions from each other at the very least - as I look at editions and wonder what the difference is and this would help. It also helps me see what's on the cover without having to click the cover image and look around).

[2019-11-14 15:14] seabelis commented on #2647
I agree, the variants field is confusing. You always need to add an edition title; this is the one specific to the exact edition you are making a record for. Even if it's the same as the work, you still need to populate the field.

The variants field could be worded better, but one scenario where you might use it is when the cover title is different from the title page. For example, this book's ti

[2019-11-14 15:24] BrittanyBunk commented on #2646
Sometimes I worry that the IA's upload doesn't have a sleeve and I find the cover of the sleeve (are we using the sleeve or the hard cover?) on the search engine and add it. However, if it gets replaced, sometimes it's not retrievable again when I go to 'manage covers'. I worry about this, and maybe should add that as a separate issue, but it's kind of important here too.

[2019-11-14 15:29] seabelis commented on #2646
Does the scanned book have its original cover?

If yes, use that or don't change from that if already set. If book had a jacket but is missing from scan, okay to upload image of the jacket if you're reasonably sure it's correct.

The oldest doesn't always have its cover.

Are you speaking of works or editions? The most recognizable will vary from one person to the next.

Valid covers do not always

[2019-11-14 16:37] jdlrobson commented on #158
Not a frontend issue. The frontend just just renders the data passed by the backend and that's what needs to be fixed here.

We should just remove the graph if that's not easy (also a backend change)

[2019-11-14 16:55] seabelis opened #2648 "Change confusing text on edit form's title and variant title fields"
On the edition form there is 'helper text' above the Title field stating 'There are occasionally title variants amongst editions.' This has been interpreted by some users as an optional field to be  populated only if different from the work's title. Field should be required.

Additionally, the title variants field aka "Is it known by any other titles?" Has text suggesting it is the appropriate pla

[2019-11-14 17:21] BrittanyBunk commented on #2647
I think that the 'other titles' box should be taken out, as if there are other titles in other languages, they should be made into a new edition. Do you write in that it's a transliteration and may not represent the title's actual work? It would be good to have I feel to not confuse people.

[2019-11-14 17:27] BrittanyBunk commented on #2646
The issue is that someone might come after me and replace it with the cover of the IA book, as they might not know better. Then my effort (and maybe even the image) is lost.

If there's no cover, it should go to the next oldest with a note. It's also ok not to have a cover for them, but I would say if it doesn't have a cover, then the title page should suffice or leave blank until it's found.

Bot

[2019-11-14 17:29] BrittanyBunk commented on #2646
Ok, maybe there is a compromise for a work/title (but I don't really like it): have a book cover, but mouseover for a title page (the one in the book, not just the lettering as proposed for the carousel).

[2019-11-14 18:15] seabelis commented on #2647
The field does not need to be removed, but does need to be clearer as noted. There is no obligation to use it on every edition, but in the cases such as those mentioned above, it's useful to have.

[2019-11-14 18:40] cdrini opened #2649 "Ratings don't work in local dev env"
### Relevant url?
e.g. http://localhost:8080/books/OL2058361M/The_wit_wisdom_of_Mark_Twain

### Steps to Reproduce

1. Login to the local dev env with `openlibrary@example.com`/`admin123`
1. Go to http://localhost:8080/books/OL2058361M/The_wit_wisdom_of_Mark_Twain
2. Try setting the rating

* Actual: Page reloads and looks the same
* Expected: Page reloads and displays the highlighted rating

###

[2019-11-14 18:59] LeadSongDog commented on #2156
@brad2014
The value of keeping the images for t.p. and verso is that it provides a way to substantiate the metadata taken from them. It allows for verification and correction to happen, where otherwise we simply have to trust that the source catalogue has it correct. Adding in OCR could aid searchability, but one step at a time.  We'll need to check the legalities, but as I understand it, because

[2019-11-14 19:24] hornc commented on #2304
@seabelis I'm trying to find clear confirmation of what level LCCN applies to, it's proving harder than I expected. http://www.loc.gov/publish/pcn/about/scope.html Is the best I've found so far. I think you are correct though, which has big implications for other LCCN matching work I'm doing atm. I'll need to check to see how this works in practice since the copy that gets cataloged is supposed to

[2019-11-14 19:59] cdrini commented on #2353
How does this look, @tfmorris ? https://github.com/internetarchive/openlibrary/wiki/Frontend-Guide

[2019-11-14 20:07] cdrini commented on #2607
I think I've closed #2353 , then we can centralize the discussion here :+1:

[2019-11-14 20:23] seabelis commented on #2304
I can definitely find some of these for you.

[2019-11-14 20:37] BrittanyBunk commented on #2647
The reason I say it is because it would be nice to have translations underneath editions, as mentioned earlier. Then the covers/info could be shown for them. Just having another title underneath an edition may not be enough. I may be mistaken though.

[2019-11-14 21:17] seabelis commented on #2304
https://openlibrary.org/books/OL20945423M/The_Night_Gardener
https://openlibrary.org/books/OL9406282M/The_Night_Gardener

https://openlibrary.org/books/OL18361532M/The_Return_of_The_King
https://openlibrary.org/books/OL15350852M/The_Return_of_the_King

https://openlibrary.org/books/OL24208261M/The_Glass_Menagerie
https://openlibrary.org/books/OL21849978M/The_Glass_Menagerie

https://openlibrary.or

[2019-11-14 21:18] seabelis commented on #2304
More where these came from if you need them.

[2019-11-14 23:45] seabelis commented on #2304
A few more for you:

https://openlibrary.org/books/OL24295500M/The_Bluest_Eye
https://openlibrary.org/books/OL23261835M/The_Bluest_Eye
https://openlibrary.org/books/OL13629280M/The_Bluest_Eye

https://openlibrary.org/books/OL24375625M/The_Bluest_Eye
https://openlibrary.org/books/OL4454628M/The_Bluest_Eye

https://openlibrary.org/books/OL26328210M/The_Celestine_Prophecy
https://openlibrary.org/book

[2019-11-14 23:48] seabelis commented on #2647
The text suggests including the titles of translations in there, but I think this should be changed as there is already a translations section.

[2019-11-15 00:05] guyjeangilles commented on #1861
+1 can reproduce

[2019-11-15 00:14] guyjeangilles commented on #1146
I've added the tasks from @tabshaikh's comment into the original issue. @tabshaikh Was a pull request every made on the work you did?

[2019-11-15 00:39] guyjeangilles commented on #2190
Related: #871 , #1855 , #1040

We shouldn't keep this and #791 open. #791 is older, but this issue has actionable items and is thus closable. Also there are more issues referencing this issue than #791.

[2019-11-15 00:43] guyjeangilles commented on #2607
Assigning @cdrini per slack discussions since he's made PRs for this issue

[2019-11-15 00:51] guyjeangilles commented on #865
@tfmorris Bumping @mekarpeles' question. Where is that JSON generated?

[2019-11-15 00:56] hornc commented on #2644
General :+1: from me for the approach of thinking about what the primary call to action for each page should be.

This is a good way to think and focus site improvements.

 What is the main value a page provides, and is it immediately accessible + obvious on page load (without scrolling further down, reading fine print, or having special superuser knowledge). Is there a good reason for all the oth

[2019-11-15 01:02] guyjeangilles commented on #2286
Closing this per Tom's comment

[2019-11-15 01:02] #2286 closed

[2019-11-15 01:20] BrittanyBunk commented on #2647
@seabelis I agree, but what would you like it to be changed to?

[2019-11-15 01:25] hornc opened #2651 "Some OL records have references to archive.org scans but not in the usable `ocaid` field"
Some OL records have refs to archive.org scans, but not in the `ocaid` field, which means a readable copy is not linked, and other matching + sync up processes will miss them too, which could result in duplicate records added (at least this appears to have happened historically) and makes it harder to audit collection coverage.

example edition: https://openlibrary.org/books/OL21296940M/Too_close_

[2019-11-15 01:26] LeadSongDog commented on #2647
Perhaps just “(publisher) (year) (language) edition” of (work title)“ would suffice in lieu of an edition title.

[2019-11-15 01:34] guyjeangilles commented on #2187
I can duplicate this bug.

[2019-11-15 01:42] guyjeangilles commented on #1833
@cdrini @hornc Do you have anything to add about Dockerizing browser compatibility tests?

[2019-11-15 01:47] BrittanyBunk commented on #2647
@LeadSongDog subtitle's ok too. I'd prefer instead of a title maybe the name of the edition: like 1st edition (that's for the list underneath the works in lieu of the title, not what would show on the edition's page).

[2019-11-15 01:53] guyjeangilles commented on #40
@cdrini Is the screenshot in your comment history-v1 or history-v2? I'm not an admin and I'm getting a similar view.
![history](https://user-images.githubusercontent.com/7256157/68910689-8fd07880-074a-11ea-9aa8-39ea67219e62.png)

[2019-11-15 04:29] cdrini commented on #40
I wan't an admin at the time I posted that; this is what it looks like for admins:

![image](https://user-images.githubusercontent.com/6251786/68917047-8fc67d80-0736-11ea-83f4-d20685e8be79.png)

[2019-11-15 05:54] cdrini commented on #2628
I investigated the memcaches themselves with the following code (based off https://github.com/internetarchive/openlibrary/wiki/Getting-Started#memcache ):

[code]

Got results like:
[code]

Got matches on `Carousel.add` once; deleted the entry on the corresponding client and it seemed to fix it. Got `sponsorship` _not_ matching once; deleting it correctly showed `None` for a bit, but then _it came

[2019-11-15 06:02] cdrini commented on #2628
They appeared outdated again :(

[code]

[2019-11-15 06:07] cdrini commented on #2628
So it looks like they're somehow getting inserted into memcache outdated. So perhaps there is outdated code running hooked up to the production memcaches?

It also appears the `ol-mem3` is the one that's wrong. And `ol-mem4` appears to always be `None` for these two fields.

Tried checking the status of `ol-mem3` (with `ssh ol-mem3 sudo /etc/init.d/memcached status`) and noticed a few warnings; th

[2019-11-15 06:23] cdrini commented on #2628
KUBERNETES

[2019-11-15 06:30] cdrini commented on #2628
Maybe it's those k8s instances? I think they were hooked to prod memcache. Gitlab says they're still running, but its deleted the logs, so I can't find their urls to check if their still there. I'll get confirmation their unused and then knock them down. 🎳

[2019-11-15 09:24] seabelis commented on #2647
I've opened an issue here #2648.

[2019-11-15 09:36] seabelis commented on #2647
In lieu of? I think the edition does need to have its own title field as it's not always same as the work.  Maybe it's better if it auto-populates? My feeling is that  people may not complete it, even when they should. There should be a warning on save if not populated; blank should not be allowed.

Movie tie-ins, translations, UK/US market plenty of other cases have a different titles than the or

[2019-11-15 10:15] seabelis commented on #2346
Received another email about this.

[2019-11-15 10:31] seabelis opened #2652 "Excerpts UI confusing for users"
The UI for adding an excerpts is not intuitive for users. The process for adding an excerpt requires the user to save 2x; 1) the user must populate the fields than click ADD, 2) the user must click SAVE. I think a lot of users miss the ADD button and just click SAVE which results in the loss of the excerpt. (I personally do this on a regular basis.)

### Evidence / Screenshot (if possible)
<img wi

[2019-11-15 11:11] seabelis commented on #2304
These would be a match but for ISBN and format:
https://openlibrary.org/books/OL4896569M/Adventures_of_Huckleberry_Finn
https://openlibrary.org/books/OL7451558M/Adventures_of_Huckleberry_Finn

[2019-11-15 15:51] BrittanyBunk commented on #2647
There's issues in multiple places:
- book list:
![image](https://user-images.githubusercontent.com/55302685/68954961-df7a6880-0779-11ea-99c5-b895290a7e1d.png)
- edition list:
![image](https://user-images.githubusercontent.com/55302685/68955085-19e40580-077a-11ea-9d87-7034f82fb164.png)
The edition list goes back to the issues of the information presented here. Suggested layout:
- columns (in order)

[2019-11-15 16:01] LeadSongDog commented on #2647
@seabelis
The issue addresses lists, not the underlying metadata, so yes, "in lieu of". Until an actual title can be identified for the edition, leaving a blank on patron's lists will be counterproductive. Once the metadata can be corrected to show the actual edition title, of course that should appear.

[2019-11-15 16:10] meunierd opened #2653 "Bot Access Request for PublisherScraperBot"
I'm looking to write a set of scrapers that will pull directly from publisher websites, starting with Yale University Press, to grab more detailed metadata including covers, dimensions, page counts, formats, descriptions and publication dates.

Following [Writing Bots](https://github.com/internetarchive/openlibrary/wiki/Writing-Bots) I've created a new account called `PublisherScraperBot`.

[2019-11-15 16:13] seabelis commented on #2647
@LeadSongDog  Gotcha.

[2019-11-15 16:14] tfmorris commented on #40
So it's not enabled for everyone. In addition to fixing whatever performance issues there are, the styling needs to be fixed too (problem front end refactoring regression) - Compare button not styled, margins too narrow (or is that just the screen capture?)

[2019-11-15 16:17] tfmorris commented on #2628
This is probably obvious, but clearly no dev or QA machines should have write access to any part of the production infrastructure (including caches).

[2019-11-15 16:52] cdrini commented on #40
Compare button's always been like that (I think); it's just Ubuntu vs. Windows styling. Margins are just the screenshot.

[2019-11-15 16:59] BrittanyBunk commented on #2647
@LeadSongDog I thought that the work's title would go in for a blank edition title if it's the same. I guess I'm still confused.

[2019-11-15 17:14] seabelis commented on #2647
@BrittanyBunk I thought I understood the issue, but maybe not. Let me step back for a moment.
As I understand it, this wording above the edition title field,

indicated to you that it is not necessary to populate the edition's title field unless different from the work. You have left this field blank and now the titles do not appear on your lists. Is this correct?

[2019-11-15 18:19] LeadSongDog commented on #2647
So your "edition list" is at https://openlibrary.org/works/OL1895541W/The_Healing_Herbs
Was the "book list" taken from https://openlibrary.org/people/hawaiisunfun/lists/OL106255L/my_edited_books

Anyhow, examining https://openlibrary.org/books/OL2029162M.json makes it clear, the edition title was never saved, just the edition subtitle. In most of these cases Worldcat indicates the edition title fo

[2019-11-15 18:19] guyjeangilles commented on #2642
Maybe related to #2628 @cdrini @jdlrobson thoughts?

[2019-11-15 18:42] guyjeangilles commented on #810
59,600 now. Seems like something @hornc would take care of so I'm assigning him per slack discussions.

[2019-11-15 18:44] guyjeangilles commented on #690
This seems redundant to the [Librarian issues](https://github.com/internetarchive/openlibrary/projects/14) project board. Should we close?

[2019-11-15 18:49] guyjeangilles commented on #854
Seems like a @hornc issue so I'm assigning her per slack discussions

[2019-11-15 18:56] guyjeangilles commented on #365
Still an error. Seems like wrapping the query in a try catch block would patch the issue

[2019-11-15 19:00] guyjeangilles commented on #1401
It sounds like we want to add more data validation, fix search, and fix the clean up bot before we start importing more data. I'm assigning @hornc per slack discussions for the time being.

[2019-11-15 19:07] guyjeangilles commented on #2203
Assigning @mekarpeles per slack discussions since he'll likely be the person corralling decision.

To add my input: I absolutely _**despise**_ recaptcha. I emphasize that it's privacy infridgement but on a more UX level, it is a _terrible registration experience_ and it's _not mobile friendly_ at all. I'll leave it at that so this doesn't become a rant.

[2019-11-15 19:17] guyjeangilles commented on #1850
I can duplicate this on dev...
![#1850_bug](https://user-images.githubusercontent.com/7256157/68969025-e76af480-07db-11ea-819d-a3f36874f385.png)
but not on production.
![#1850_prod](https://user-images.githubusercontent.com/7256157/68969165-3add4280-07dc-11ea-89b2-d3ea5dfe43dc.png)

Assigning @cdrini per slack discussions since this is docker related.

[2019-11-15 19:22] guyjeangilles commented on #1091
I think @hornc has found the files that aren't properly indexing subjects into solr. As @tfmorris proposed, we should fix these files instead of deleting them.

I propose closing this.

[2019-11-15 19:23] guyjeangilles commented on #1896
The likely files of interest from #1091

and
openlibrary/openlibrary/tests/solr/test_work_subjects.py

(undefined rc variable)

[2019-11-15 19:27] guyjeangilles commented on #322
It sounds like #2246 should fix this problem. Let's leave open until it's merged.

[2019-11-15 19:36] cdrini commented on #2628
Ok, pods stopped (thanks Tracey!); the caching issue should be fixed now.

@tfmorris Agree; that is the way dev.openlibrary.org currently works, though, unfortunately :/

[2019-11-15 19:36] #2628 closed

[2019-11-15 19:39] cdrini commented on #2642
Could you post a screenshot, @BrittanyBunk @guyjeangilles ? This is what it looks for me:
![image](https://user-images.githubusercontent.com/6251786/68970578-9942fa80-07b5-11ea-93d7-dd3ea8d32a65.png)

I notice it changing every ~day or so, I think.

[2019-11-15 19:39] cdrini commented on #2642
I'll post another screenshot tomorrow as well to see if it's changed

[2019-11-15 19:43] guyjeangilles commented on #2642
![mit_pub](https://user-images.githubusercontent.com/7256157/68970829-184d2880-07e0-11ea-969b-a54be223fd30.png)

[2019-11-15 19:43] guyjeangilles commented on #1900
Anyone know where the new link should point to? @cdrini @hornc any ideas?

[2019-11-15 19:47] guyjeangilles commented on #2208
@mekarpeles @hornc It seems like this is blocked by new book imports. Per @tfmorris's point, I'm not sure if we want to implement a "new release" feature.

[2019-11-15 21:04] seabelis commented on #2208
Just added would be nice for new imports. It doesn't imply the books are new publications, just new in the library.

[2019-11-15 21:10] hornc commented on #1091
Can we rename this to "repair" or investigate rather than remove? The value of this issue is that I had discovered that sone specific code existed and wasn't and can't be used.

[2019-11-15 21:17] hornc commented on #1900
It's actually a link to olsystem repo which most users won't have access to, but there are some instructions there. @mekarpeles should confirm whether these can be modified to be relevant and moved to a better place.

[2019-11-15 21:45] BrittanyBunk commented on #2642
It's the same

![](https://user-images.githubusercontent.com/7256157/68970829-184d2880-07e0-11ea-969b-a54be223fd30.png)

[2019-11-15 21:47] BrittanyBunk commented on #2647
@LeadSongDog yes. How come we're using the format that's on WorldCat?

[2019-11-15 21:49] BrittanyBunk opened #2654 "Add a dedication box for editions"
Expansion on #2542. The issue is 'by statement' is a little confusing and likely unnecessary, as all the information there can be added in elsewhere (and it doesn't even show up on the edition's page), so I'm proposing the by-statement section be changed to the dedication section (unless it violates copyrights). I don't just mean 'dedicated to' as that's already there, but the description of the d

[2019-11-15 21:54] BrittanyBunk commented on #2654
This should be open.

[2019-11-15 22:31] seabelis commented on #2654
This feature exists in the contributors section (perhaps misplaced).
<img width="552" alt="Screenshot 2019-11-15 at 23 28 25" src="https://user-images.githubusercontent.com/17739465/68980085-bac8d400-07ff-11ea-8296-64df87c715e2.png">

The byline is useful as the author's name on the edition is not always the same as on the work. i.e. Ellis Bell for Emily Brontë.

[2019-11-15 23:14] #2405 closed

[2019-11-16 02:11] BrittanyBunk commented on #2654
@seabelis I don't really follow. Also, I'm aware of that feature. I'm talking about the dedication section, like "to my ____, for ____"

[2019-11-16 02:15] tfmorris commented on #1091
I've updated the subject, but consider it a duplicate of #1896.

[2019-11-16 02:16] tfmorris commented on #2642
We could save the effort of fixing it by removing it. It's always seemed weird to me that we highlight offerings from one random publisher.

[2019-11-16 02:22] tfmorris commented on #690
Sounds good to me. We also have the "Affects: Librarians" tag

[2019-11-16 03:13] hornc commented on #2625
Editions with authors helps resolve orphans, so I think it is fine, and necessary for now, so would vote for closing this.

A better issue would be to make better use of contributors/ author roles which can vary between editions. Perhaps write up some guidelines on how to represent different situations , then we can ensure the data is consistent?

[2019-11-16 03:17] hornc commented on #2625
E.g. doing something for https://github.com/internetarchive/openlibrary/issues/2500

[2019-11-16 09:23] seabelis commented on #2654
So what you would like is a free text field, am I understanding correctly?

[2019-11-16 15:36] BrittanyBunk commented on #2654
yes please, separated from the drop down menu. It helps with understanding the dedication section (as it's short). It's better than the by-statement that doesn't show up (maybe the dedication field doesn't need to either). It's ok that the by-statement is redundant, as it doesn't show up in the edition's page anyway, so that's no longer an issue with me.

[2019-11-16 15:37] BrittanyBunk commented on #2642
Me too. I'd rather see another genre put in there, like recipes or something.

[2019-11-16 22:01] tfmorris commented on #2625
Orphans are obviously a special case since they don't have a work record to hold the author. The problem with the current situation is that there's no way to edit edition authors, so they are guaranteed to fall out of sync over time. If we're not going to get rid of edition authors, we should reenable edition author editing.

[2019-11-16 22:06] tfmorris commented on #2000
This sounds very similar to #857

[2019-11-16 22:29] tfmorris opened #2655 "Customize recommendations based on language/geo"
I'm not a huge fan of the carousel's which dominate the home page, but if we're going to keep them we should make them less static and more customized to the user.

### Describe the solution you'd like

One easy win would be to use language to provide more appropriate content to non-English speakers. Another possibility would be to use geo-ip, which I think we already use, to provide a geographica

[2019-11-17 06:22] tipkilby commented on #2652
I am a new user of Open Library and tried to enter an excerpt three times. Each time I would enter the information and at the bottom of the page, I would click the Save button. So I finally contacted the support desk to ask what I was doing wrong and the support person suggested that I might have neglected to click the Add button. Since there were no instructions, the Add button did not seem like

[2019-11-17 19:50] guyjeangilles commented on #690
@mekarpeles What value does keeping this issue in the [ 2019 Epics](https://github.com/internetarchive/openlibrary/projects/11#card-21180935) project?

[2019-11-17 20:15] guyjeangilles commented on #2017
@seabelis @LeadSongDog For ISBNs I've search, it usually takes me straight to an edition page. I.e: https://openlibrary.org/search?q=0743273567&mode=ebooks&m=edit&m=edit&has_fulltext=true

[2019-11-17 20:41] guyjeangilles commented on #1863
@LeadSongDog I would say that's a valid inconsistency that should be tracked in a separate issue.

[2019-11-17 20:44] seabelis commented on #690
I have never seen this.

[2019-11-17 20:45] guyjeangilles commented on #2231
Not seeing this error anymore
![#2231](https://user-images.githubusercontent.com/7256157/69013704-0e136180-097b-11ea-902f-16d982758f37.png)
"嗯嗯嗯" is still in the OCAID object. Closing.

{"publishers": ["Ceolfrith Arts Centre"], "classifications": {}, "created": {"type": "/type/datetime", "value": "2013-12-09T07:04:03.211044"}, "title": "Eco-aesthetics", "identifiers": {}, "languages": [{"key": "/l

[2019-11-17 20:48] seabelis commented on #2017
Yes. An ISBN can exist on more than one edition. When searching by ISBN, the current behaviour is to land on **one** of the editions rather than see results for  **all** of the matching editions. If someone wants to locate the other(s) they must click into each edition record to see the ISBN.

[2019-11-17 20:49] guyjeangilles commented on #1283
When can I buy one

[2019-11-17 20:54] seabelis commented on #2017
Find or filter within results would also suffice. The end goal is not visibility of the ISBN, but the ability to find all results with a given ISBN.

[2019-11-17 21:05] guyjeangilles commented on #49
LCbot hasn't done anything since 2012. Renaming this issue.

[2019-11-17 21:21] guyjeangilles commented on #2234
Assigning jdlrobson (not tagging as requested) per slack discussions since this is front end related.

[2019-11-17 21:25] guyjeangilles commented on #1586
defaulting to assigning @mekarpeles per slack discussions

[2019-11-17 21:33] guyjeangilles commented on #1808
Assigning @hornc per slack discussions since this is metadata related.

[2019-11-17 21:42] guyjeangilles commented on #2227
Assigning @hornc per slack discussions since this is meta data related.

[2019-11-17 21:53] guyjeangilles commented on #2383
I'm cautions to allow users to create roles. What if two users and synonyms in different languages. I.e "Cover Designer" and "Créateur de Couverture". How would this system handle that?

[2019-11-17 21:57] guyjeangilles commented on #2241
Assigning jdlrobson (not tagging as requested) per slack discussions since it's front end related

[2019-11-17 22:12] guyjeangilles commented on #561
Assigning @hornc per slack discussions since this would involve changing the schema

[2019-11-17 22:16] guyjeangilles commented on #2452
@mekarpeles what's the parent epic for this issue?

[2019-11-18 05:50] tfmorris commented on #1863
@guyjeangilles If you review the previous comments, this should go in the bucket with the other edition author issues.

[2019-11-18 05:59] tfmorris commented on #2231
This problem is still reproducible. Apparently, which I didn't realize originally, it only happens for logged in users, so I'm guessing @guyjeangilles wasn't logged in when they attempted for reproduce it.

[2019-11-18 06:11] tfmorris commented on #2383
You're right to be cautious. The previous system would just allow duplicates to be created -- and it's not a language thing. You could also end up with "Cover Designer" and "Cover Illustrator."

If we were to crowd source roles, a more reasonable flow would be 1) suggest "Foo" as a new role, 2) vote on "Foo" as a valid new role, 3) evaluate the vote and either: a) automatically promote (>N votes,

[2019-11-18 14:14] BrittanyBunk commented on #1808
Since we already have a system that allows for what are not books (like editions), and works that are in series, then it's just a matter coordinating those more as we add more features in. @tfmorris one type of document missing from the list is statements and agreements (meetings, political - treaties, laws, etc.). Where do those go?

[2019-11-18 14:15] BrittanyBunk commented on #2452
@guyjeangilles I think it relates to #1808

[2019-11-18 14:40] BrittanyBunk commented on #2383
@tfmorris I think it's better if members can add new roles and it does show up right away, so that the necessary info's added in then and there. It could be sent after that to a voting area and checked if it's appropriate. I would say a better method is just to be able to flag them to report it and have it removed.

I think it's good to have specifics, like  "Cover Designer" and "Cover Illustrator

[2019-11-18 21:38] cdrini commented on #314
Dropping to P1 since this doesn't need to be solved today; feel free to re-adjust @hornc

[2019-11-18 22:24] guyjeangilles commented on #2231
I am now seeing the error when I'm logged in. #579 required similar conditions to produce an error

[2019-11-18 22:36] guyjeangilles commented on #228
@hornc What's stopping us from making the first sentence editable by any registered user?

[2019-11-18 22:39] guyjeangilles commented on #2123
https://openlibrary.org/works/OL18362971M is producing

Invalid HTTP Header: "'https://openlibrary.org/books/OL18362971M/Kontur_Swedish_design_annual_\\x12.'"

@hornc @tfmorris It sounds like the bad request is a problem that should be tracked in a separate issue.

[2019-11-18 22:43] guyjeangilles commented on #2149
@cdrini @hornc What's the current status of changing the dev environment?

[2019-11-18 22:50] guyjeangilles commented on #183
@jessamynwest @JonnyJD is this still an issue? I can't spot a problem with the links in the original description.

Assigning @hornc per slack discussions since he applied is tags

[2019-11-18 23:13] guyjeangilles commented on #1445
@hornc Is there a systematic solution to this issue in progress?

[2019-11-18 23:19] tfmorris commented on #2123
I think that's #2269

[2019-11-18 23:29] guyjeangilles commented on #2123
Should this issue be closed?

[2019-11-18 23:38] guyjeangilles commented on #475
Will probably be fixed by #2552. Assigning @hornc per slack discussions since his label is on this issue

[2019-11-18 23:51] guyjeangilles commented on #2249
Still only showing one work. Assigning @hornc per slack discussions since this is metadata related

[2019-11-18 23:57] guyjeangilles commented on #1024
The link currently has 36 editions.

For example, this edition link correctly goes to the work page: https://openlibrary.org/works/OL19880287W/They_Called_Us_Enemy

Closing

[2019-11-18 23:57] #1024 closed

[2019-11-19 00:06] cdrini commented on #2625
I would say the main problem here is the "sometimes". Either all editions should have atuhors, or none. Sometimes is super misleading and makes the data harder to work with. Also having an answer to the question "If an edition does have an authors field, does editing the work's authors update the edition's authors field?" would be useful.

[2019-11-19 00:07] tfmorris commented on #2123
I'm trying to confirm that the problem has actually been fixed, since, unfortunately, I didn't cite a commit with my claim that I'd fixed it.

The original code is here: https://github.com/internetarchive/openlibrary/blob/670a4cf9957125e09bd567c79b62bdf13d8431c9/openlibrary/solr/update_work.py#L125
and I made the error message more specific here:
https://github.com/internetarchive/openlibrary/blob

[2019-11-19 00:10] guyjeangilles commented on #2013
@shreyansh23 Is this issue still relevant? The parent issue is closed.

[2019-11-19 00:13] guyjeangilles commented on #2014
@shreyansh23 I don't think "pagination" is on the search results page anymore. Is this still relevant?

[2019-11-19 00:25] tfmorris commented on #183
The bad redirect was fixed by the my revert https://openlibrary.org/authors/OL13193A/Johann_Wolfgang_von_Goethe?b=24&a=23&_compare=Compare&m=diff

You can see the previous behavior by going to https://openlibrary.org/authors/OL13193A?v=23. I believe that the proposal that when you arrive at http://openlibrary.org/authors/OL575040A that there be some visual indication that you came via a redirect a

[2019-11-19 00:30] tfmorris commented on #1024
You can see the report behavior here: https://openlibrary.org/books/OL7849576M/Village_of_Stepanchikovo?v=13

This wasn't a work with a single edition, but rather an orphan edition with no associated works. We could improve the rendering, but since we're trying to fix all the orphans, I think it's wasted effort, so fine to close.

[2019-11-19 00:44] tfmorris commented on #2013
The parent was closed because @shreyansh23 split @koderjoker's list of problems into individual tickets.

[2019-11-19 01:04] tfmorris commented on #1808
I don't think I understand the implications of the question well enough to answer. I'm not a librarian, so from my point of view, pretty much everything is just a work, whether it's a letter, or poem, or book, or treaty.

[2019-11-19 03:57] cdrini commented on #2642
Forgot to update this, but it does look like it's changing (here it is today). I'm closing this specific issue; feel free to open a new one for adding a new type of carousel :+1:
![image](https://user-images.githubusercontent.com/6251786/69115484-b813ec00-0a56-11ea-8875-e7799f464187.png)

[2019-11-19 03:57] #2642 closed

[2019-11-19 07:00] tfmorris commented on #2642
Do we have a root cause or a link to the fix?

[2019-11-19 07:02] cdrini commented on #2642
The issue was that the carousel was not randomizing; the picture above indicates that it _is_ randomizing; so closing this as can't repro.

[2019-11-19 17:29] tabshaikh commented on #1146
No, I think it is in my local fork

[2019-11-19 17:29] tabshaikh commented on #2411
Closing as Hacktoberfest is over :)

[2019-11-19 17:29] #2411 closed

[2019-11-19 17:34] tabshaikh commented on #2165
@mekarpeles after adding tracking to the button do we want to do something more or this issue can be closed?

[2019-11-19 17:56] cdrini commented on #2014
@guyjeangilles This is the pagination:

![image](https://user-images.githubusercontent.com/6251786/69172469-db2cb300-0acb-11ea-9c45-f2fa47bc9b1e.png)

This was fixed by #2153 ; the pagination is now before the search facets in the html/tab order.

[2019-11-19 17:56] #2014 closed

[2019-11-19 18:10] cdrini commented on #2249
It looks like this removes the filter:
https://openlibrary.org/publishers/John_Bartholomew_&_Son.json?has_fulltext=false

This might also affect the subjects API, since these API share most of their code. Updated description to match template.

[2019-11-19 19:08] #2379 closed

[2019-11-19 19:21] seabelis commented on #2652
@guyjeangilles Sorry, I thought this was on the Librarian project board when I changed to high-priority. Adjust as you see fit.

[2019-11-19 21:49] guyjeangilles commented on #1146
@tabshaikh Is there anything blocking you from making a PR?

[2019-11-19 22:25] LeadSongDog commented on #1445
@seabelis
Those two both have the same problem: the editions' json each contain a link to an author record (OL19677A and OL2629754A respectively). Both records are redirects. The real solution is to remove the author link from the edition.

[2019-11-19 22:37] guyjeangilles commented on #1092
It looks like progress on this has slowed/stalled. Is there anything blocking progress?

[2019-11-19 22:56] guyjeangilles commented on #1949
@jdlrobson #782 and #1285 may be helpful. It looks like @mekarpeles could elaborate

[2019-11-19 23:09] guyjeangilles commented on #454
@tfmorris @mekarpeles can filtering out publishers be done via advanced search?

[2019-11-19 23:14] cdrini opened #2656 "Use --no-install-recommends in dockerfiles"
Anywhere we use `apt-get install` in our Dockerfiles, we should also add `--no-install-recommends`. According to https://ubuntu.com/blog/we-reduced-our-docker-images-by-60-with-no-install-recommends this creates smaller images which build faster. Note:

[2019-11-19 23:14] guyjeangilles commented on #714
#2246 seems like it will fix/affect this.

[2019-11-19 23:22] guyjeangilles commented on #699
Another issue that will be affected/fixed by #2246

[2019-11-20 02:45] LeadSongDog commented on #714
Perhaps even worse, hyphenated author names are not found by the type ahead. Leaving out the hyphen, the hyphenated name is found, so it has to be the query which is the problem.  Example: https://openlibrary.org/works/OL18318482W/Soldiers_and_oil?_compare=Compare&b=2&a=1&m=diff

[2019-11-20 03:36] hornc commented on #2553
These are some more author redirects discovered in the data to clean up specifically:

Not found: https://openlibrary/a/OL3208068A
Not found: https://openlibrary/a/OL6811959A
Not found: https://openlibrary/a/OL18298A
Not found: https://openlibrary/a/OL1776193A
Not found: https://openlibrary/a/OL6199832A

OL1122551A	Jean Little
OL581085A	André Bernard
OL5622415A	Nigel Hamilton
OL66452A	Miguel de Ce

[2019-11-20 04:12] hornc commented on #475
specific item is fixed, fixing the general problem in #2552

[2019-11-20 04:12] #475 closed

[2019-11-20 13:00] brierjon opened #2657 "Eligibility API errors when invalid isbn - 'NoneType' object has no attribute 'get'"
Relates to [2194](https://github.com/internetarchive/openlibrary/issues/2194) and possibly [2517](https://github.com/internetarchive/openlibrary/issues/2517)

Ungraceful response for item not found, but apparently attempting to be added.
When I went back to test the URL it resolves with no error - this is a temporary error, but one which needs a more graceful response.

### Evidence / Screenshot (

[2019-11-20 13:52] jdlrobson commented on #1092
I'll close this and make something more specific. This is an outdated epic.

[2019-11-20 13:52] #1092 closed

[2019-11-20 18:21] seabelis commented on #454
I don't care for these types of publishers either, but I think of them as offering a 'service' similar to the copy shop when I was an undergraduate (pre-internet, pre-ebook). If a PD text was assigned, we could order the copy, printed and bound from the copy shop. Might be convenient for non-ebook users wanting an out-of-print text. I think I have occasionally seen them included in library collect

[2019-11-20 18:26] seabelis commented on #2647
@BrittanyBunk Has your question been answered? Can this be closed?

[2019-11-20 18:31] BrittanyBunk opened #2658 "Edits should have a time stamp in addition to the date."
![image](https://user-images.githubusercontent.com/55302685/69266882-e0980500-0b80-11ea-9253-5f7157cd87b4.png)
Right now, it shows only the date, but if someone says they made a change and want me to look at it, I can't tell what time they made the change. Having that would really help

[2019-11-20 18:32] BrittanyBunk commented on #2647
@seabelis no, it wasn't answered by @LeadSongDog. Also, this issue shouldn't be closed, as the issue is still present on the OL.

[2019-11-20 19:10] LeadSongDog commented on #2647
@BrittanyBunk You asked "How come we're using the format that's on WorldCat?"
It is only one of many that we use, but it is widely accessible, verifiable, curated, and fairly stable (unlike most of the bookseller sites). It has by far the largest scope, as a multinational union catalog, so most books that are actually published wind up in WorldCat. Specific national libraries (BL, LoC, BNF, eg.) m

[2019-11-20 20:20] BrittanyBunk commented on #2647
I think there should be something mentioned somewhere that this will happen if that's the case (unless it already is).

[2019-11-20 20:38] seabelis commented on #2647
There is a separate issue requesting a change in wording on the form field. If you understand how to prevent 'title unknown' from appearing, please close the issue.

[2019-11-20 20:45] guyjeangilles commented on #412
@cdrini bumping this as I don't think that #805 nor #2629 will address translations with multiple editions. Perhaps we should make a separate issue?

[2019-11-20 20:51] xayhewalo commented on #2281
@tapaswenipathak I didn't find a PR related to this issue? Are you working on it? Also are you willing to be assignee for this issue?

[2019-11-20 20:58] guyjeangilles commented on #1881
@mekarpeles would you know why `get_internet_archive_id` would throw an empty string?

[2019-11-20 21:03] hornc commented on #412
I may have lost track of some of this, since the discussion has got quite long, but I thought the final decision was to deprecate `translation_of` and use the existing work relationship (which is how the current system works, and there have been past efforts at scale to move translations under the correct work). This _does_ leave translated works with multiple editions un-linked, which I thought w

[2019-11-20 21:04] guyjeangilles commented on #483
Assigning jdlrobson (not tagging ask requested ) per slack discussions since a template change should resolve this issue.

[2019-11-20 21:11] guyjeangilles commented on #1367
@mekarpeles What's stopping progress on this issue?

[2019-11-20 21:20] guyjeangilles commented on #1381
@hornc WIll importbot changes affect/fix this?

[2019-11-20 21:25] guyjeangilles commented on #1008
So should we only focus on changing the donation page as this thread suggests?

[2019-11-20 21:30] guyjeangilles commented on #1532
Gonna assign @cdrini since he's making the PRs

[2019-11-20 21:39] guyjeangilles commented on #1684
Assigning @cclauss since he's been doing the PRs

[2019-11-20 21:53] guyjeangilles commented on #2220
@hornc did this get fixed when #1058 got merged?

[2019-11-20 22:01] guyjeangilles commented on #2043
@koderjoker is there anything blocking progress on this issue?

[2019-11-20 22:10] guyjeangilles commented on #1694
@cclauss did #1693 resolve this. It looks like we're not requiring OL-GeoIP for Python3 versions

[2019-11-20 22:27] guyjeangilles commented on #2316
What else needs to be done considering #2326 is merged?

[2019-11-20 22:31] jdlrobson commented on #483
needs some changes in the backend or guidance on what the frontend is doing wrong before I am willing to be assignee

[2019-11-20 22:53] guyjeangilles commented on #2319
We should start working on this again @mekarpeles

[2019-11-21 04:43] BrittanyBunk commented on #2647
@seabelis Could you post the number here? I'm not sure about closing it, as it's still a developer issue, but when you add the number, I'll try to add a closing statement and see to what I could do to close it. Sounds good?

[2019-11-21 08:50] seabelis commented on #2647
I've opened an issue here #2648.

[2019-11-21 13:11] brierjon commented on #2657
Experienced the same issue where the error occurs and the book **is** listed on both Amazon.com and Better World Books by that ISBN.

Error Log: 2019-11-21/130952174436
URL: https://openlibrary.org/sponsorship/eligibility/9781682827352

[2019-11-21 13:26] brierjon commented on #2657
Also fails similarly for the following ISBN13:

9781682827352
9781594859410
9780367186715
9780520284777
9781526137029
9781138271869
9781631632952