[2018-07-10 06:45] xbliss commented on #963
@tabshaikh - Thanks for that update. Is there anything I can do to help?

Should I share example of the other book? Has using another browser helped resolving it? I am curious.

[2018-07-10 06:56] redranamber commented on #963
First you need a downloader, I am using [uGet](https://sourceforge.net/projects/urlget/).
Then when you try to download the book you will see "Secure Connection Failed" with the download url, mine looks like
https://lending6.us.archive.org:8080/fulfillment/URLLink.acsm?action=enterloan&ordersource=builtin&orderid=c32250fd-e1a4-4e18-a63d-2a631b271111&resid=urn%3Auuid%3A9291df5a-a9bc-44d0-9c8f-f0a3c

[2018-07-10 07:07] mekarpeles commented on #963
cc: @rchrd2 and @bfalling I think the emails which are sent need to be updated to use http instead of https? This seems like a fairly high priority issue.

[2018-07-10 18:32] rchrd2 commented on #963
@mekarpeles We don't send emails with links directly to ACS files. The ACS files are accessed through bookreader. At the moment, that server only supports http. In order to add https support, we need to proxy the server, either through Nginx, or through an API on petabox.

[2018-07-13 01:14] mekarpeles commented on #1001
We're going to fall back to the next `/search/inside` full-text search! cc: @brewsterkahle

[2018-07-13 18:40] LeadSongDog opened #1024 "Remove edition pages’ easteregg links to self where link to work would be expected"
When the edition count is 1, a deceptive self-link is created in lieu of a link to the work page.
e.g. https://openlibrary.org/books/OL7849576M/Village_of_Stepanchikovo shows:
"1 edition of Village of Stepanchikovo found in the catalog. "

The problem code is at:
https://github.com/internetarchive/openlibrary/blob/b943059e063403629442302658ca8819ef2166c0/openlibrary/templates/type/edition/view.htm

[2018-07-16 02:31] cdrini opened #1026 "Unique visitors counter broken on prod"
The unique visitors counter seems to be broken after 24 June. Investigation by @mekarpeles and myself revealed that ipstats.py (removed in #985) is the cause. @mekarpeles determined that the file is run periodically by cron on production, and simply moving it back was enough to fix the functionality.

![image](https://user-images.githubusercontent.com/6251786/42741258-8e1af50c-887e-11e8-8239-28c44

[2018-07-16 02:46] cdrini opened #1028 "Investigate ipstats.py script"
Continuation of #1026 . ipstats.py makes direct usage of the `couchdb` library removed by #985 , however it still runs even after that package was removed.

Open questions:

- [x] Does ipstats.py *actually* rely on couchdb?
  - Nope; it does import/use it, but the endpoint it's accessing is outdated.
- [x] Will ipstats.py break if a "clean" openlibrary server is setup? I.e. is it only currently wo

[2018-07-16 03:52] #1026 closed

[2018-07-16 04:23] hornc opened #1029 "Import subjects from IA metadata when MARC is not present"
When importing using the `/api/import/ia` endpoint and setting `'require_marc': 'false'`, the subjects could be taken from the archive.org metadata `<subjects>`

Here is an example I imported without MARC:
https://openlibrary.org/works/OL17893459W
from https://archive.org/details/venuscastinafamobull
Metadata xml is here: https://archive.org/download/venuscastinafamobull/venuscastinafamobull_meta.

[2018-07-16 04:30] hornc commented on #868
SimplyE compatible OPDS feed endpoint currently live on https://bookserver.archive.org/catalog/simple
It uses the same category groups as on the main Open Library page

[2018-07-16 04:39] hornc commented on #732
@mekarpeles Curiouser and curiouser, the first example from the `inlibrary` version of the query https://archive.org/search.php?query=collection%3Ainlibrary%20AND%20%21openlibrary_edition%3A%2A%20AND%20isbn%3A%2A
is already on OL
https://archive.org/details/isbn_9780312604530
https://openlibrary.org/books/OL24643499M/The_Borgia_Betrayal
and attempting to sync it fails repeatedly:
[code]
This may b

[2018-07-16 04:45] hornc commented on #732
gah! there are two scans of this book on archive.org, https://archive.org/details/isbn_9780312604530 which is not linked to the OL item, and https://archive.org/details/borgiabetrayal00sara which is.

The error message above is accurate when it says `no changes`, but it's not actually a "failure" as such.   I don't know how common these duplicates are, still investigating.

[2018-07-16 06:54] hornc commented on #732
A subset of the 88K have the old style `openlibrary` field, 32K:  https://archive.org/search.php?query=collection%3Ainlibrary%20AND%20%21openlibrary_edition%3A%2A%20AND%20isbn%3A%2A%20AND%20openlibrary%3A%2A So we know they are on open library.

Some of those appear to be orphaned editions, so the writeback fails with ```{
error: "No qualifying edition"
}```  which is slightly misleading (it's the

[2018-07-17 23:59] cdrini commented on #1028
Action items:
- [ ] #1031 Refactor ipstats.py to better reflect what it's actually doing
- [ ] Remove references to the `counts_db` config

[2018-07-18 08:29] #1028 closed

[2018-07-18 09:18] mekarpeles opened #1032 "Add Star Ratings to Reading Log Page"
Specifically on the "already read" page, get all the reader's ratings and shuffle them into the books they've already read. Let them vote from the private "already read" bookshelf page (careful -- there's a public reading log page too which some users have activated)

[2018-07-18 10:49] brevilo commented on #1014
We're experiencing this as well. So if you guys need someone for testing, let me know...

[2018-07-19 10:46] cdrini commented on #993
@mekarpeles What's the difference between `date`, `scandate`, and `publicdate`?

[2018-07-19 10:58] mekarpeles commented on #993
scandate is the day the book was scanned. publicdate is when the book was made public on archive.org, date... is the date the work was published, presumably?

[2018-07-21 08:43] xbliss commented on #963
@redranamber - Have you actually tried these steps out or theorizing that it may work? Cause I've already tried a lot of suggestions given above by people that were not tried out and did not work.

I am on Windows so it will be a different downloader than uGet but I am sure between the few I have it could be made to do what you asked.

I did try the http:// thing using Chrome Download manager but

[2018-07-21 10:00] redranamber commented on #963
@xbliss I have done this method many times and it appears to always work. And yes, it should work with any download manager. I just mentioned the only one that I have actually done this with.

[2018-07-22 08:07] #1004 closed

[2018-07-23 20:33] mekarpeles opened #1036 "Allow data dump API with diff-mode"
Some patrons would like to be able to download monthly diffs of our data rather than complete dumps

[2018-07-24 21:09] LeadSongDog commented on #683
@mekarpeles @tfmorris
I've now seen a lot of these. They have a few things in common:
1. They were all created by ImportBot (I thing in 2011)
2. They all contain non-Latin characters in the table of contents.
3. They were all correctly spelled in the MARC records and the pre-revision edition TOC
4. The post-revision TOC escaped the non-Latin characters, so Ö became \xd6
e.g. https://openlibrary.or

[2018-07-25 16:00] w3bh4ck commented on #686
Hi, I just got to find out about archive.org today and It was really helpful for what I needed to do at that moment. Although I may not be able to make a reasonable donation, I will like to help out in the area of development.  I  am a full-stack JS developer and can comfortably work with PHP and Python also. If you need extra hands as volunteers, I will be glad to help out. Email: amadiluckysamps

[2018-07-27 15:11] viccro commented on #686
Hi! I'm interested in contributing; please add me?

[2018-07-27 22:21] #834 closed

[2018-07-28 07:38] mekarpeles commented on #686
@w3bh4ck and @viccro are our last invites for the time being!

We have a large number of guests in our openlibrary slack channel who are are inactive and because of this, future invitations will require at least 1 contribution to Open Library. :)

Contributions might include code / PRs or code reviews, design, improvements to our documentation / wiki organization, fixes to book catalog data, addin

[2018-07-28 07:42] mekarpeles commented on #686
p.s. @viccro we'll need your email to add you. Feel free to ping me at mek@archive.org

[2018-07-29 02:30] viccro commented on #966
Should this issue be closed?

[2018-07-29 03:25] nirabpudasaini opened #1040 "Nepali Translation"
We would love to have a Nepali translation of Open Library.
The translation guide is [here](https://openlibrary.org/i18n).

Please comment here or reach out on our [volunteer form](https://openlibrary.org/volunteer#translator) if you want to get started!

A plan for finding a volunteer was posted in Slack [here](https://internetarchive.slack.com/archives/C0ETZV72L/p1696683951107539).

# Related Is

[2018-07-29 05:34] mekarpeles commented on #966
Yes, thank you!

[2018-07-29 05:34] #966 closed

[2018-07-30 22:35] mekarpeles commented on #963
This should be resolved, we activated https on our side! Please re-open if you experience issues accessing epub acs/ade loans

[2018-07-30 22:35] #963 closed

[2018-07-30 23:57] cdrini opened #1041 "Remove residual `number_of_editions` references"
Looks like there are some dead merging code: https://github.com/internetarchive/openlibrary/search?q=number_of_editions&unscoped_q=number_of_editions

[2018-07-31 00:39] cdrini opened #1042 "Remove residual references to subject objects"
At some point we had subjects stored as objects, like:

[code]

No records like this exist any more, so the code no longer has to worry about it. I think some of the solr updating code checks for this; it can be updated (and possibly others).

[2018-07-31 01:08] cdrini opened #1043 "Remove residual references to subject_people objects"
Some `subject_people` fields used to have the form `{ type: "/type/text", value: String }` instead of just plain strings, like:

[code]

This is no longer the case, so any code checks for this (or worse, introduces it) can be removed.

[2018-08-03 19:38] LeadSongDog commented on #643
It isn't really a search issue, so much as a problem with the way that search results are shown to the user. Even for a search on an ISBN the user is shown the entire work result, if not a list of works:
https://openlibrary.org/search?q=0199120099&mode=everything
This should send the user directly to https://openlibrary.org/books/OL7402600M/Aristophanes

[2018-08-05 16:33] cdrini commented on #855
I personally think wishlist is misleading; wishlist usually implies "A book I want to buy" or in the context of OL it could also be misconstrued as "A book I want OL to have". Maybe "Plan to read/Currently Reading/Read" is better? Can you provide more context by why users are confused? It might just be because this is a new feature.

[2018-08-06 17:59] mekarpeles opened #1044 "Work Authors & Subjects breaking for Related Works Carousel"
In `openlibrary/core/lending.py in cached_work_authors_and_subjects`
In `macros/RelatedWorksCarousel.html`
`work_subjects_authors = cached_work_authors_and_subjects(work.key)`
https://openlibrary.org/books/OL6252393M/The_Great_Gatsby?debug=true

[2018-08-06 18:31] cdrini commented on #1003
Started looking into the templates to see what's still in use; here's what I've found so far: https://docs.google.com/spreadsheets/d/1pBB0MrcGamn8HqCdnkUd7Mj9VAaVQZ3JQj_osqf3QG0

[2018-08-06 21:28] mekarpeles commented on #1044
Looks like this was a workless edition. The code is in `openlibrary/plugins/upstream/models.py`, `get_related_books_subjects()` and `get_author_names()`. Closing for now

[2018-08-06 21:28] #1044 closed

[2018-08-06 23:07] mekarpeles opened #1045 "Duplicate + Invalid ocaids (i.e. archive.org IDs) on OL Editions"
@hornc + @mekarpeles let's come up with a document which details which commands to use in order to evaluate how many duplicates or bad `ocaid`s are in Open Library `edition`s.

My understanding is as of 2018-07 we had ~65k duplicate / bad `ocaid`s on OL

[2018-08-06 23:34] mekarpeles opened #1046 "Switch Archive.org items to use `openlibrary_edition` instead of `openlibrary` keys"
# Remediate legacy `openlibrary` keys
As of 2019-07-01, there are [19,280 of these items](https://archive.org/search.php?query=openlibrary%3A%2A%20AND%20%21openlibrary_edition%3A%2A) on Archive.org which have `openlibrary` metadata keys and **no** `openlibrary_edition` or `openlibrary_work` keys. For these items we need to use the `openlibrary` key to lookup the Open Library items and use their co

[2018-08-06 23:57] mekarpeles opened #1047 "Sync Archive.org printdisabled IDs that aren't in Open Library"
We have ~755,879 (admin) 78,704 (incognito) archive.org items in `printdisabled` which don't have `openlibrary` or `openlibrary_edition` IDs:

https://archive.org/search.php?query=collection%3Aprintdisabled%20AND%20-openlibrary_edition%3A%2A%20AND%20-openlibrary%3A%2A

We need to Update/Create Open Library editions which are missing Archive IDs.

## Updated query:
Since not all `printdisabled` ite

[2018-08-07 00:15] mekarpeles opened #1048 "Merge orphaned editions w/ duplicate un-orphaned editions sharing same ISBN"
We have thousands of orphaned editions in Open Library (maybe that were added by some import bot) which have duplicate existing un-orphaned editions (i.e. they belong to works) with the same ISBN.

## Solution

For now, we are not going to merge the editions, but instead to move the orphaned edition into the work (so the work will unfortunately for now have 2 editions with the same ISBN)

[2018-08-07 23:42] #992 closed

[2018-08-08 04:30] robla commented on #686
Hi @mekarpeles , I'd love to continue some of the conversations I had with all y'all at the [DWebSummit](https://decentralizedweb.net/).  I'm particularly interested in exploring more about podcast metadata and also bookmarking.

[2018-08-10 09:25] brevilo commented on #1014
FYI: adding "format=json" as additional query parameter resolves the problem but I still think that the new behavior is a regression caused by c1e1803e3.

[2018-08-14 00:54] hornc commented on #1040
Thanks @nirabpudasaini, feel free to ask any questions here if you need help with anything!

[2018-08-14 22:10] LeadSongDog commented on #741
@hornc ,@mekarpeles Now that #482 has been resolved, is there any chance of getting on with reindexing issues?

[2018-08-15 01:10] hornc opened #1050 "Dev env: Postgres very slow to start"
Postrgres start up seems very slow in the development Docker container. The site 500s and reports other errors if db not yet up. There is code that waits for postgres to be "ready" and accepting connections: `pg_isready`  see https://github.com/internetarchive/openlibrary/pull/1012/files#diff-55adfd70b03f47a453f7877482fbadadR25

Postgres is running for a long time (minutes) before it starts accept

[2018-08-15 02:27] hornc commented on #1046
**Report using June OL dump**
  Uniq editions referenced by archive.org items with only legacy `openlibrary` field
[code]
**Report Tue Aug 2018, using July OL dump**
Uniq editions referenced by archive.org items with only legacy openlibrary field
[code]
**Improvements:**
1530 ocaids added.

The Have OCAIDs group (26266) are mostly ok, but indicate that there are two archive.org items that represen

[2018-08-15 22:25] LeadSongDog commented on #1047
Hey, @mekarpeles  I'm not certain if it's related, but searching
https://openlibrary.org/search?q=Anna+Donizetti&mode=everything
finds many readable ocaids that have single-edition works, all of which should have been merged under   https://openlibrary.org/works/OL2215609W
which has none readable.

The same is true for
https://openlibrary.org/search?q=Pasquale+Donizetti&mode=everything

[2018-08-16 00:05] hornc commented on #1046
While processing these open library items using the ol-client I encountered problems with 404 not triggering an error https://github.com/internetarchive/openlibrary-client/issues/60

See https://openlibrary.org/books/OL25942179M/Books_of_imagination_Methodology_for_school_projects_My_dream_for_book_and_Alternative_bodies_of_the?b=11&a=10&_compare=Compare&m=diff

for what can happen when a bot requ

[2018-08-16 00:25] hornc commented on #1048
Depends on https://github.com/internetarchive/openlibrary/issues/893 so the merging of these items is reflected in search results.

[2018-08-16 01:27] hornc commented on #1046
@mekarpeles The code that is producing these numbers / adding the ids is here:
https://github.com/hornc/openlibrary-bots/tree/ia-sync-bot/ia-sync-bot

[2018-08-16 03:11] cdrini opened #1051 "Symlinks not working when using docker from Windows"
The symlinks appear to be created with backward slashes instead of forward slashes. It might be related to this: https://github.com/docker/for-win/issues/109

Things to note:
- This worked fine in Vagrant (somehow)
- What are the exact settings of the Drini's machine wrt to git/symlinks/docker?
- It might be best to just stop using symlinks; they cause a lot of issues for Windows users.

[2018-08-16 03:12] cdrini commented on #1051
Here's some code to fix the broken symlinks in `/static/js` (run it from that directory)

[code]

[2018-08-16 05:28] hornc commented on #1046
Getting list of archive.org items with only a legacy openlibrary field...
[code]
*Improvement:* 9362 Open Library items have had ocaids added by the ia-sync-bot,
the majority of the 1498 "No OCAID" already had ocaids, but weren't detected because the OL data dump has not updated, and the archive.org items were not updated because the OL items are orphans too. A small number are newly added archive

[2018-08-16 07:01] tabshaikh commented on #833
@jmehnle this issue was paused as it had some conflicts about which data should be shown due to privacy issues of facebook

[2018-08-16 10:27] hornc commented on #1050
From `/var/log/postgresql/postgresql-9.5-main.log` in the container:

[code]

I think the db is not shut down cleanly after it is set up when building the Docker images, which seem to start fast.

[2018-08-19 19:21] whns opened #1052 "'Favorite' UX - Icon color, notification modal display, unfavorite feature"
A few suggestions/potential issues around the handling of Favorites:

1. The collection view should change the Favorite icon color from black to yellow when a collection is favorited, like the item view does. Maybe the label should change from "Favorite" to "Favorited" as well.

2. Is the notification modal needed? If so, ideally it would only be displayed when an item or collection has been favor

[2018-08-19 19:24] #1052 closed, assigned to nobody

[2018-08-19 19:26] whns commented on #1052
Oh thanks, sorry about that!

[2018-08-20 04:47] hornc commented on #1051
I'm not a fan of committing symlinks to git, even though I mainly use Linux. I have not dug into this, but can we fix this issue by removing the need for the symlinks altogether?

[2018-08-20 19:10] mekarpeles commented on #1052
@whns I forwarded your comment to the Archive.org team -- would you be interested in joining our newly created community slack? We're considering doing a monthly call to get feedback and better involve our digital neighbors!

[2018-08-21 03:49] Alakhator commented on #686
I am new to open source. So please add me to your slack channel. I have sent you an email as well

[2018-08-21 18:43] cdrini commented on #1051
Removing the need for symlinks would fix the issue. I am not entirely sure how I feel about committing symlinks, but I do know they've caused me a decent amount of trouble not just here as a Windows user.

[2018-08-22 07:34] #1050 closed

[2018-08-22 15:51] LeadSongDog opened #1054 "Code cleanup: residual FIXMEs and hacks"
Code comments show a residual of 10 FIXMEs and 36 hacks. Some of these date back a decade and many have no clear reason for being there. At minimum they should be better documented, if they can't be actually fixed. Perhaps start with the IE6 javascript hacks?

[2018-08-23 03:58] salman-bhai commented on #686
Hi @Alakhator welcome to Open Library. Here are a [couple of issues](https://github.com/internetarchive/openlibrary/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) that you can resolve before getting invited to Open Library.

[2018-08-23 03:59] salman-bhai commented on #1051
How do we approach to resolve this in that case then ?

[2018-08-26 20:44] nkrsic commented on #972
^ I'm curious was there any follow up with EFF, or how would that be done?

[2018-08-27 02:32] cdrini opened #1057 "Subsequent edits to same work not stored in solr in dev environment"
To reproduce:

1. Launch a dev environment of openlibrary (tested both vagrant and docker)
2. Edit a work's title to include the word "foo"; save it.
3. Search for "foo"; the modified work appears
4. Edit the same work's title to include the word "bars"; save it.
5. Search for "bars"

Expected: the modified work appears
Actual: No matches

This continues to happen even if I:
a) edit the work again

[2018-08-28 13:16] cdrini opened #1059 "authors field inconsistent between Works dump and .json endpoint"
Here is work `/works/OL15348267W` from the dump:

[code]

And here it is from https://openlibrary.org/works/OL15348267W.json :
[code]

Note the differences in the "authors" field.

[2018-08-28 13:34] 3srliton commented on #686
3srliton@gmail.com

[2018-08-28 13:57] tabshaikh commented on #686
@3srliton  Before getting involved you must solve at least one issue. This is done so that only motivated individuals are invited to the slack channel and it avoids overcrowding of the slack channels too

[2018-08-28 16:55] LeadSongDog commented on #1059
Probably unrelated, but that record was created by a one-time IP contributor, likely the self-published author:
http://www.michaelherman.com/publications/living_peace.pdf

[2018-08-28 17:16] LeadSongDog commented on #1059
Probably tangential, but that record was manually created by a one-time IP contributor, likely the self-published author:
http://www.michaelherman.com/publications/living_peace.pdf

It is likely he simply didn't click on the create new author drop down.

[2018-08-28 22:53] mekarpeles opened #1060 "Refactor/Consolidate `ia` utilities to support bulk importing"
We have code in `openlibrary/core/ia.py` and `openlibrary/utils/ia.py` `openlibrary/catalog/get_ia.py` which are redundant and makes it unclear where things actually belong.

`openlibrary/core/ia.py`  is full of processes which **need** to be executed from within Internet Archive's cluster/network such as querying the catalog production database.

First, there's a method `find_item` in `openlibrar

[2018-08-29 16:10] LeadSongDog commented on #1057
Sounds like #927 at work.

[2018-08-30 22:58] hornc commented on #523
**UPDATE** The current JSON schema of an edition is being maintained here (moved from my repo to the official client): https://github.com/internetarchive/openlibrary-client/blob/master/olclient/schemata/edition.schema.json

Now part of the Open Library Client. It can be used to automatically validate items from within the client.

@mekarpeles Can we close this issue now? Further discussion and pro

[2018-08-30 23:12] hornc commented on #787
The authors above have all been fixed, the cause was bad data. If we find more of these are occurring we should add more protection in either data entry/save, or when generating redirects.

[2018-08-30 23:26] hornc commented on #340
I believe the root cause may be https://github.com/internetarchive/openlibrary/issues/475
Authors that are currently redirects confuse the logic.

[2018-08-31 05:04] jkoby commented on #855
How about "Add To Reading List"?

[2018-09-02 23:58] cdrini commented on #811
This appears still be an issue.

[2018-09-04 18:55] cdrini opened #1063 "Make /openlibrary volume linking default for Docker web image"
For easier development, we should consider making docker volume link to the codebase instead of copying the code over.

Note:
- Dockerfile uses `sed` to change the openlibrary.yml and other config files; this won't work with volume linking

[2018-09-04 19:11] cdrini opened #1064 "Consider merging olbase and oldev"
The split between these seems a little less necessary with the introduction of docker-compose. We should merge these to simplify the development process and speed it up.

[2018-09-04 19:16] cdrini opened #1065 "Switch from vagrant to docker"
Prerequisites:
- [x] #1063: Make /openlibrary volume link in docker image
-  ~[ ] #1064: Consider merging oldev olbase~ See comments
- [x] #1134: Replace all mentions of vagrant with docker

Remove all references to vagrant once docker is ready to be used for openlibrary devs.

[2018-09-04 19:53] LeadSongDog commented on #805
@cdrini  @mekarpeles
Each of the editions previously under https://openlibrary.org/authors/OL2655525A/David_Knox has been attributed to a different work, by a different David Knox, yet that author record still incorrectly shows six works and eleven naked editions. The eleven (when clicked through) correctly show works by https://openlibrary.org/authors/OL217970A/David_Knox and the six (when clicke

[2018-09-05 17:42] tabshaikh opened #1066 "Adding a back to top button on side for ease of access"
Going down in a search makes coming back up for search bar difficult. A button on the side which redirects to the top would be helpful.

[2018-09-05 18:47] cdrini opened #1067 "Full re-index of solr data on prod"
This will be an important step into having a more reliable solr environment. Being able to locally create an *identical* solr environment will get rid of a lot of confusion. It would also allow us a path to move forward on #178 and #599 , since we can spin up a new solr, re-index it with the new settings, and then swap it with the old solr without any downtime.

## Subtasks
- [x] #1055 Create dock

[2018-09-05 18:50] LeadSongDog commented on #668
Consider what happens when, following an author merge, a user hits their back button. They are presented with the same (perhaps cached) query, listing all the author records, but they are shown only _some of_ the same author records: those just _merged from_ have now disappeared off the list. Are they deselected, or just invisible?

[2018-09-05 18:53] cdrini opened #1068 "Separate postgres into separate docker-compose service"
Subtask of #1071

[2018-09-05 18:53] cdrini opened #1069 "Separate infobase into separate docker-compose service"
Subtask of #1071

[2018-09-05 18:54] cdrini opened #1070 "Separate memcache into separate docker-compose service"

[2018-09-05 18:55] cdrini opened #1071 "Make web docker-compose service standalone"
Based on the Current Production Setup, some the services which we should separate out are (in no particular order):

- [x] #1055 Solr
- [x] #1068 Postgres
- [x] #1069 Infobase
- [x] #1070 memcache
- ~#2083 frontend (node/etc)~ Punting; see issue
- [x] #2115 coverstore (BLOCKED by postgres)
- [x] #3750 home (solr scripts, etc)

This list is not exclusive and might be expanded upon, but these should

[2018-09-05 22:46] hornc commented on #1064
@cdrini The main reason I split them was so that there was a base version of OL that could be used for production, and things like the dev db population would exist only in the dev image, which built on top. We'll need to think how we want to operate the dev db.

[2018-09-07 22:06] mekarpeles opened #1075 "Star Rating Widget shouldn't show up for orphaned editions"
Edition which have (belong to) no work don't work with ratings or reading log (i.e. want to read, currently reading, already read)

[2018-09-07 22:42] mekarpeles opened #1076 "Book page "related" carousels now missing borrow link (regression)"
`Borrow` link no longer showing up on books page in the "You might also like" and "More by [...]" carousels.

E.g.
https://openlibrary.org/works/OL303643W/Ludwig_Feuerbach_und_der_Ausgang_der_klassischen_deutschen_Philosophie

![screen shot 2018-09-18 at 11 04 40 pm](https://user-images.githubusercontent.com/148752/45733888-3ea11500-bb97-11e8-8f40-294579fb94bf.png)

[2018-09-07 22:43] mekarpeles commented on #1076
Might be work locally rolling back a few revisions and seeing what may have changed w/ css rules?

[2018-09-10 02:16] razzius opened #1079 "Open Library error when no results are returned in full-text search"
I tried searching for

`In a nice world the air doesn't vibrate`<sup>1</sup>

searching Text selected from openlibrary.org, which took me to:

https://openlibrary.org/search/inside?q=in+a+nice+world+the+air+doesn%27t+vibrate&mode=everything

Result: `Unable to render this page.`

![image](https://user-images.githubusercontent.com/2244895/45272825-62ac7a00-b464-11e8-9c11-190c2fc2a808.png)

[1] http

[2018-09-10 03:13] mekarpeles commented on #1079
https://dev.openlibrary.org/search/inside?q=In+a+nice+world+the+air+doesn%27t+vibrate&mode=everything&debug=true

in `openlibrary/openlibrary/templates/search/inside.html`

`local variable 'num_found' referenced before assignment`

Before line 16 --

[code]

`num_found` should be initialized to `0` (in the event of no results)

[2018-09-10 03:14] mekarpeles commented on #1079
@razzius would you be down to tackle this one? :)

[2018-09-10 05:15] mekarpeles opened #1080 "OL Work page reporting invalid availability, transition to availability v2 API"
templates/type/work/editions_datatable.html -> templates/books/edition-sort.html is showing the wrong availability for books on the work page. This should be moved to make a single availability v2 API call )(using `ocaid`s), i.e.
https://archive.org/services/availability/?identifier=id1,id2,...,idn

templates/type/work/editions_datatable.html should make a single call to availability v2 API and st

[2018-09-10 23:48] jdlrobson opened #1084 "Re-structure html so JS does not block rendering"
By default JavaScript blocks DOM construction and thus delays  the time to first render.

Moving this to the bottom of the page delays the JavaScript load but will improve the render time at the cost of potential flashes of unstyled content.

There are techniques to deal with flashes of unstyled content, so these issues should be identified and addressed one by one.

The gains of moving the JS to

[2018-09-10 23:54] jdlrobson opened #1085 "Minify CSS assets"
Currently CSS assets (by nature of CSS) are render blocking. They are also not-minified. Right now on a 3G connection from Singapore it can take up to 12 seconds for the user to see anything
 -https://www.webpagetest.org/result/180907_N8_824f77c230ea0a2939484f3e5657bb18/

Minification of all these assets should be a top priority.

This is easily achieved via LESS (using -x) but given there is also

[2018-09-11 00:30] skeeterblaster commented on #1085
have a leak
*we *

On Mon, Sep 10, 2018 at 5:23 PM Jon Robson <notifications@github.com> wrote:

[2018-09-11 19:54] jdlrobson opened #1089 "Add npm test to CI"
Recently we added a package.json and an npm test entry point. Right now this runs stylelint to enforces a small set of CSS standards (including making it hard for developers to introduce new colors without using a less variable).

I'd like to expand those standards and later add linting for JavaScript.

It would thus be useful for the Travis job to run `npm test` on every commit and forbid us intr

[2018-09-12 01:46] skeeterblaster commented on #1089
how about a way to measure external verses internal energy. projectile and
house made devises would be considered external

On Tue, Sep 11, 2018 at 12:54 PM Jon Robson <notifications@github.com>
wrote:

[2018-09-12 20:04] Alakhator commented on #1066
I am unable to link the js file in the html file? Where to add the html code? Please help new to open source!

[2018-09-12 20:13] jdlrobson commented on #1066
Hey @Alakhator!
Right now, all JavaScript code is concatenated via the script inside static/js/all.jsh
Right now any file you insert inside "openlibrary/plugins/openlibrary/js" will be added to the HTML file when you run `make js` inside the root folder.

I suggest creating a file openlibrary/plugins/openlibrary/js/backtotop.js with content:
`
alert('hello world');
`
Run `make js` and verify that

[2018-09-12 21:10] Alakhator commented on #1066
Thanks @jdlrobson for your help.
I have made the changes on local machine. But finding issues to test the code. Please help me out on that as well so that I can successfully submit a PR. Thanks in advance

[2018-09-12 21:14] tabshaikh commented on #1066
@Alakhator what are your issues please specify and can you upload the design of the button which you have added.

[2018-09-12 21:28] salihkeles commented on #686
Hi how can i contribute as a developer and join the community

[2018-09-12 21:31] Alakhator commented on #1066
I have made the changes:
![selection_057](https://user-images.githubusercontent.com/34680620/45454382-4842fc80-b701-11e8-8b61-e60fd3057033.png)
The button disappears on the top of page and while scrolling only it appears

[2018-09-12 22:02] Alakhator commented on #1066
How to check whether the code is following coding standards or not?

[2018-09-12 23:10] mekarpeles commented on #686
Howdy @salihkeles -- can you tell us more about what type of improvements you're interested in helping with? What's your goal :)

A great place to start is checking our open issues
github.com/internetarchive/openlibrary/issues

[2018-09-13 00:17] hornc opened #1091 "Fix unused solr/work_subject.py code"
openlibrary/openlibrary/solr/work_subject.py
  and
openlibrary/openlibrary/tests/solr/test_work_subjects.py

Appears to be unused, and `get_marc_subjects()` relies on `openlibrary.catalog.get_ia` `get_data()` which has been broken since 2014
(undefined `rc` variable)

[2018-09-13 00:55] jdlrobson opened #1092 "Manage components CSS in separate style files and remove legacy.less"
The frontend needs some love and there's a lot of work to do, so I'm looking for helpers with a divide and conquer approach to refactoring (divide master.less into multiple files and then divide those new files up to conquer the problem).

We will start by combing through static/css/master.less and identifying components that will live in the components folder. This will help us defined reuse patt

[2018-09-13 04:00] jdlrobson opened #1094 "Non-critical CSS should be loaded via JavaScript"
A high proportion of the CSS loaded on openlibrary requires JS to be useful, yet it is loaded via a style tag at the top of the page.

We must provide a mechanism for loading CSS via JavaScript as and when needed.

[2018-09-13 04:08] #1094 closed

[2018-09-13 04:09] jdlrobson opened #1096 "Stylelint: Add shorthand-property-no-redundant-values and fix offenders"
We can shave off several bytes from our CSS by removing redundant values.
Stylelint (which can be run by using `npm install && npm run lint:fix` can detect these if configured with the following:
`
"shorthand-property-no-redundant-values" true
`
### Checklist
- [ ] Update .stylelintrc.json
- [ ] fix any offenders using npm run lint:fix

[2018-09-13 04:12] jdlrobson opened #1097 "Stylelint: Add declaration-block-no-redundant-longhand-properties and fix offenders"
We can shave off several bytes from our CSS by removing redundant properties
[Stylelint ](https://stylelint.io/user-guide/rules/) (which can be run by using `npm install && npm run lint:fix`)  can detect these if configured with the following:
`
"declaration-block-no-redundant-longhand-properties": true
`
### Checklist
- [x] Update .stylelintrc.json
- [x] fix any offenders detected via `npm run li

[2018-09-13 04:16] jdlrobson opened #1098 "Stylelint: Add selector-max-id and fix offenders"
We can shave off several bytes from our CSS by reducing the specificity of certain selectors. A selector `body#form div#revertNotice" is overly specific and should be rewritten to use just one id selector e.g. "div#revertNotice"

[Stylelint ](https://stylelint.io/user-guide/rules/) (which can be run by using `npm install && npm run lint:fix`)  can detect these if configured with the following:
`
"

[2018-09-13 04:20] jdlrobson opened #1099 "Stylelint: Add "number-leading-zero" and fix offenders"
We can shave off several bytes from our CSS by rewriting fractions so they omit the leading zero
e.g.
`font-size: 0.5em`
can be rewritten as
`font-size: .5em`

[Stylelint ](https://stylelint.io/user-guide/rules/) (which can be run by using `npm install && npm run lint:fix`)  can detect these if configured with the following:
`
"number-leading-zero": "never",
`

### Checklist
- [ ] Update .stylelin

[2018-09-13 04:25] jdlrobson opened #1100 "Stylelint: Add whitespace rules to our CSS and fix offenders"
We should be consistent in our use of whitespace within our CSS file. We can use tooling to enforce this. We should limit the number of empty lines to 1, make sure our lines are never longer than 100 characters and that we don't put whitespace on empty lines.

[Stylelint ](https://stylelint.io/user-guide/rules/) (which can be run by using `npm install && npm run lint:fix`)  can detect these if con

[2018-09-13 04:28] jdlrobson opened #1101 "Stylelint: Add "length-zero-no-unit" and fix offenders."
We can shave bytes off our CSS by dropping the usage of unnecessary units.
For example, in the following the "px" unit are unnecessary as zero is zero whatever units you use.
`
.foo { margin: 0px; }
`
[Stylelint ](https://stylelint.io/user-guide/rules/) (which can be run by using `npm install && npm run lint:fix`)  can detect these if configured with the following:
`
		"length-zero-no-unit": true

[2018-09-13 04:53] jdlrobson opened #1102 "Stylelint: Add "function-url-quotes" rule and fix offenders"
We can shave bytes off our CSS by dropping the usage of unnecessary quotes in URLS

[Stylelint ](https://stylelint.io/user-guide/rules/) (which can be run by using `npm install && npm run lint:fix`)  can detect these if configured with the following:
`
"function-url-quotes": "never",
`

### Checklist
- [x] Update .stylelintrc.json
- [x] fix any offenders detected via `npm run lint:fix`

[2018-09-13 05:16] jdlrobson opened #1103 "Stylelint: All fonts should make use of variables"
There are a surprising amount of font-family rules in openlibrary
So we can make sense of them, let's pull them out into common variables.

The plugin https://github.com/sh-waqar/stylelint-declaration-use-variable can help us identify them and ensure they make use of a variable

Configuration:
`
		"sh-waqar/declaration-use-variable": [
			[
				"/color/",
				"font-family",
				{
					"ignoreValue

[2018-09-13 05:53] tabshaikh commented on #1066
@Alakhator you can make a pr, see our pr template for doing so and if any changes are needed we can discuss it there

[2018-09-13 06:38] tabshaikh opened #1105 "vagrant reload services"
new vagrant reload services instructions should be added in the readme temporarily till we shift to docker.

[2018-09-13 08:03] #1105 closed

[2018-09-13 09:48] Alakhator commented on #1066
Okay Thank you for help @tabshaikh

[2018-09-13 18:01] mekarpeles opened #1110 "On books page, for borrowed book, show time remaining on loan"
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/type/edition/view.html is the file that renders the books page.

The read buttons themselves are rendered using:
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/macros/LoanStatus.html

The loan/lending logic can be found in:
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/

[2018-09-13 18:03] mekarpeles commented on #1110
This data is already available on the https://openlibrary.org/account/loans page, it should also show up on the book pages (i.e. work + edition page), e.g. https://openlibrary.org/works/OL14909099W/Debt / https://openlibrary.org/books/OL24088724M/Debt

[2018-09-13 18:13] mekarpeles commented on #613
open library profile page cannot be editted

@JeffKaplan reported a similar issue; re-opening for investigation:

after making change to `*?m=edit` page the submit returns `None`.
e.g.:

`https://openlibrary.org/people/riadess?m=edit`

[2018-09-14 07:01] tabshaikh commented on #1110
@mekarpeles maybe you could highlight some files to work on in this issue

[2018-09-14 21:00] #1102 closed

[2018-09-15 00:34] jdlrobson commented on #1085
This is not fixed. @mekarples can you reopen?

[2018-09-15 17:29] jdlrobson opened #1118 "Stylelint: Add selector-max-specificity and temporarily allow offenders"
Many of Open Library's CSS selectors are overly and unnecessarily verbose. For instance, we should rarely be using ID's to select and style elements and we certainly should not be using more than one id.

Given there are a lot of offenders, we should start with a lenient configuration for selector-max-specificity, which we can later.

[Stylelint ](https://stylelint.io/user-guide/rules/) (which can

[2018-09-15 17:30] jdlrobson opened #1119 "Stylelint: Add no-descending-specificity and fix offenders"
From the [stylelint docs](https://stylelint.io/user-guide/rules/no-descending-specificity/):
"Source order is important in CSS, and when two selectors have the same specificity, the one that occurs last will take priority. However, the situation is different when one of the selectors has a higher specificity. In that case, source order does not matter: the selector with higher specificity will win

[2018-09-15 18:14] tfmorris commented on #869
The more I look at this list, the more suspicious of it become. I was going to say it was English & North American biased, but I haven't found any evidence that it includes *anything* except English. At OpenLibrary we've been pushing for increased diversity, so it'd be sad to see Internet Archive's influence reverse that. Diversity is important.

There are a bunch of references to a private databa

[2018-09-15 19:49] mekarpeles commented on #869
Agreed, and one experiment I'm trying to push is on-the-fly per-page translation of each of our books using a translation API.

We have several different projects in the mix which are not mutually exclusive w/ this **Open Libraries** Wishlist. This wishlist is for a very specific program (openlibraries.online).

We are independently funding large e.g. LGBT, Indian collections, etc. They are just s

[2018-09-15 19:51] tfmorris opened #1121 "Related books search silliness if no book found"
Doing a search for this ISBN which doesn't exist in OpenLibrary:
https://openlibrary.org/search?isbn=9787552623208

Results in a whole bunch of suggested alternatives with the word "None" highlighted. Apparently some underlying mechanism is interpreting a Python empty result as a keyword which should be searched for.

[2018-09-15 20:12] #1029 closed

[2018-09-15 20:39] #1089 closed

[2018-09-15 20:50] mekarpeles commented on #1121
That's a weird bug! Thank you @tfmorris

Two points here:
a) this is happening because any search which has 0 results then attempts to do a full-text search fallback (and in this case, something is causing the word `None` to be searched for -- some function is apparently returning None prior to lookup -- exactly as you are suggesting, @tfmorris).
b) We just had a mtg w/ friends @ library.link and

[2018-09-15 20:51] jdlrobson opened #1123 "Find long term minification solution for css (-x is deprecated)"
Right now we are minifying our css using less -x but as the command line output shows this is deprecated.

Going forward we will need to find a better solution for minification.

[2018-09-15 20:52] jdlrobson commented on #1085
Closing this in favor of #1123

[2018-09-15 20:52] #1085 closed

[2018-09-15 20:53] jdlrobson commented on #1123
Many options.. including gulp, webpack...

[2018-09-15 20:59] jdlrobson opened #1124 "Limit generated css asset file size"
As we refactor we will want to ensure we closely monitor the size of our css assets (in particular static/build.css) so that it doesnt grow in size. The goal is to shrink it not grow it!

A npm entry point should be added that verifies the file size doesnt exceed a threshold that we set. If it doesn't it throws an error.

Right now threshold can be 150kb. We can and will lower this as our refactor

[2018-09-15 22:01] tfmorris commented on #1121
Library link should probably be a separate ticket, but:
- Presumably we would only to create new entries for things which we were 100% sure were missing entirely as opposed to just missing their ISBN
- that endpoint doesn't provide enough information to create an entry from. e.g. there's no title here  https://library.link/id/isbn/9780521872386/feed.json

[2018-09-16 10:01] hornc opened #1129 "requirements.txt lists unused modules"
`requirements.txt` has many unused modules

I could not find any uses of
[code]

Also, the docker images 'accidentally' only pip installed `test_requirements.txt`, which includes `requirements_common.txt` and there was no obvious consequence.

This needs to be investigated further before simply deleting `requirements.txt`, but I think it may be sufficient to only use `requirements_common.txt`.

[2018-09-16 16:58] jdlrobson commented on #1101
Looks like there was a rebase conflict.

[2018-09-17 02:49] #1080 closed

[2018-09-17 14:29] cdrini opened #1134 "Replace all mentions of vagrant with docker"
Make docker the one and only development option. There should be (virtually) no trace of vagrant left.

< Following added by @jdlrobson >
Files that reference Vagrant:
- [ ] [conf/nginx/sites-available/openlibrary.conf](https://github.com/internetarchive/openlibrary/tree/master/conf/nginx/sites-available/openlibrary.conf)
- [ ] [openlibrary/plugins/upstream/account.py](https://github.com/interneta

[2018-09-17 14:33] tabshaikh commented on #1134
@cdrini you sounded like a vagrant killer there 😂

[2018-09-18 00:57] jdlrobson opened #1139 "Review need for moment js library"
I see we use moment js but am not clear why (yet)

Let's review usage as
https://github.com/you-dont-need/You-Dont-Need-Momentjs/blob/master/README.md

[2018-09-18 16:12] jdlrobson opened #1142 "Add viewport to pages in "dev" mode"
To support making openlibrary mobile friendly I'd like to propose we add the viewport to all pages in "dev" mode. Although some pages will appear broken, it will be easier to see these during development and fix adhoc.

[2018-09-18 18:28] #742 closed

[2018-09-18 18:58] #1101 closed

[2018-09-18 19:07] LeadSongDog opened #1144 "Dead code?"
What was intended here? Anything?
https://github.com/internetarchive/openlibrary/blob/d883f91229b4f4d13fa2e6d4da6343dc78417d64/openlibrary/catalog/edition_merge/merge.py#L234

[2018-09-18 20:03] mekarpeles commented on #1144
I think it was born-dead, with aspirations of being activated. I think there may be useful tidbits there which probably belong on a feature branch and commented in an issue rather than in the live repo

[2018-09-19 05:55] jdlrobson commented on #1076
Pretty sure this is not CSS related.

The link is there.. it just has no label. If the label appears, the borrow button appears. It looks like there have been no recent changes to openlibrary/templates/books/carousel_item.html

Are we sure this is a recent regression and not an old one? Do we know if this was working say a week ago with 100% certainty?

I can't seem to get "borrowed books" showing

[2018-09-19 07:07] tabshaikh opened #1146 "Fix templates to wrap translatable strings in `$_( ... )`"
There are quite a few old but prominent pages / templates that have missed out on having this added

- [ ] Identify the templates which do not have the strings wrapped in `$_( ... )`
- [ ] Fix all the templates
- [ ]  add $_( ... ) to the items in the footer
- [ ] Test the changes

[2018-09-19 15:07] LeadSongDog commented on #1144
@mekarpeles
I stumbled on it while looking for an explanation for the problem of search results showing works with one edition that (on clickthrough to the work record's page) have zero editions remaining. Typically I see this after moving the last edition to a merged work.  Either there's an error calculating number_of_editions or there`s stale cache somewhere. I suspect the former, because the c

[2018-09-19 19:05] #1124 closed

[2018-09-19 22:55] cdrini commented on #1065
Removing #1064 as a requirement in the interest of progress.

[2018-09-20 00:21] jdlrobson opened #1147 "dropper component doesn't gracefully degrade without JavaScript"
Visit https://openlibrary.org/books/OL23053293M/Ranma_1_2. and disable JavaScript.

Attempt to add the page to a reading list.

Expected:
Either:
* I should see a browser drop down. Upon selecting a drop down I should be able to add to a list
* the element should be hidden without JavaScript support and I should not be able to perform the action.

Actual:
* Clicking the arrow to the right has no e

[2018-09-21 01:40] #1063 closed

[2018-09-21 13:21] cdrini commented on #1051
This appears to have been fixed by the new volume mounts in #1133 . Some issues might still exist if symlinks appear elsewhere in the codebase, but we can open new issues once those problems are found.

[2018-09-21 13:21] #1051 closed

[2018-09-21 15:49] LeadSongDog opened #1156 "BWB lookup can't get through"
@mekarpeles
I was looking at #1153 and it seems that there are two problems with the BWB lookup at:
https://github.com/internetarchive/openlibrary/blob/97e6fd5392726828de2193b1ebcb3a64a9198d7c/openlibrary/macros/AffiliateLinks.html#L26

First, it is still using http (as is the amazon link above).
Second, http://www.anrdoezrs.net is being consistently redirected by its domain administrator, (conver

[2018-09-21 22:06] mekarpeles commented on #1156
a la the filename, those are all affiliate links to support/sustain OL

[2018-09-21 22:10] #1142 closed

[2018-09-21 23:34] mekarpeles opened #1157 "Make ipstats graphs show up in dev instances"
Also, all book carousels for homepage

cc: @jdlrobson

[2018-09-22 00:20] jdlrobson opened #1158 "Design consolidation: Merge ButtonBtn and ButtonGeneric"
We appear to have many ways of rendering a button. We should pick one of them and use it for them all.

Right now we should focus on merging the styles for ButtonBtn, ButtonGeneric and Book "book-cta" as well as ".borrow-btn, .read-btn, .wait-btn, .unwait-btn"

= Sign off checklist
- [ ] One CSS class name to rule them all!

[2018-09-22 02:42] jdlrobson opened #1162 "Enable gzipping for text-based assets on dev.openlibrary.org"
https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/optimize-encoding-and-transfer

I think we have this on production but not on dev which makes it hard for us to performance test it.

[2018-09-22 09:50] mekarpeles opened #1163 "Conflicting addbook endpoints?"
Are plugins/upstream/addbook.py `addbook` and plugins/openlibrary/code.py `addbook` clobbering each other?

[2018-09-25 00:32] jdlrobson commented on #1084
I think with the above patch we can resolve this task. I'll open a new issue about porting the other pages...

[2018-09-25 02:49] cdrini opened #1169 "Create data pipeline from weekly threads on Reddit's r/books"
Creating a carousel that gets data from Reddit might be a way to provide fresh, varying content on the front page. Weekly threads like [What Books Did You Start or Finish Reading This Week?](https://www.reddit.com/r/books/comments/9igenz/) have book titles that are relatively easy to parse out.

[2018-09-25 06:40] #1084 closed

[2018-09-25 13:17] Num170R commented on #1002
Long time but still on progress!

![work_search](https://user-images.githubusercontent.com/9248823/46016808-73085a00-c0de-11e8-8574-550337de8130.png)

[2018-09-25 15:11] jdlrobson opened #1170 "Compress SVG assets"
SVG assets, for example https://openlibrary.org/static/images/categories/textbooks.svg are huge.
They should be compressed before being shipped to users.

[2018-09-25 15:13] jdlrobson opened #1171 "Don't download 300+ book covers on the home page"
A book cover typically appears to be 10-30kb.
On the home page  we download 306 of them.

We should use JavaScript to load the book covers off screen.

[2018-09-25 15:14] jdlrobson opened #1172 "Can we compress book covers?"
https://openlibrary.org/ weighs 4.09MB.

A book cover typically appears to be 10-30kb. Pages which make use of many of them are currently very costly.

This explains how:
https://whatdoesmysitecost.com/test/180925_D4_d3656ac7448797bd0a46d8f277f3d6e2

Is there any way we can compress these images on upload or before shipping them to end users?

[2018-09-25 15:21] jdlrobson opened #1173 "Carousel renders several times"
Now the JS is non-render blocking we are seeing some strange behavior in the carousel.

![eek](https://user-images.githubusercontent.com/148752/46024408-9827a900-c09b-11e8-943b-df897edcae6c.gif)

To replicate:

* Empty static/build/js-all.css
* Load page

Since the CSS is loaded in parallel with the JS, we see 2 renders.

To solve we'll either need to delay the JS loading on the CSS and/or update

[2018-09-25 17:19] Num170R opened #1174 "Unable to render home page in dev env"
After importing the latest changes and reloading vagrant, I am unable to load the dev page on browser with message "Unable to render this page"

[2018-09-25 17:29] jdlrobson commented on #1174
I suspect you may need to run `make css`

[2018-09-25 17:34] Num170R commented on #1174
right! the main css file was missing so after `make css` it was fixed.

[2018-09-25 17:35] #1174 closed

[2018-09-25 19:26] salman-bhai commented on #1172
I think problem is the number of bookcovers and not the size of the bookcovers right? Please do correct me in case I'm mistaken.

[2018-09-25 19:42] mekarpeles opened #1175 "Changing header nav search facet value results in broken down arrow style"
![screen shot 2018-09-25 at 12 41 22pmpdt](https://user-images.githubusercontent.com/978325/46038588-5b21dd80-c0c0-11e8-8735-3ed9c9e79e03.png)

[2018-09-25 22:38] jdlrobson commented on #1175
Im not seeing this. Is this at a certain resolution or with js disabled? Which browser?

[2018-09-25 22:40] jdlrobson commented on #1172
I think it's a bit of both. My question here is about the size in bytes of the covers and whether we can compress these covers. If the answer is no it's okay to resolve this with that explanation.

See also #1170 and #1771

[2018-09-25 22:42] Num170R commented on #1175
also, if you select the subject facet it overlaps with the border

[2018-09-26 01:34] jdlrobson opened #1177 "Hamburger menu doesn't work without JavaScript"
* Disable JavaScript
* Access Open Library on a mobile phone resolution (you can use emulator mode in Chrome developer tools to do this)
* Click the hamburger icon

Expected: The hamburger menu should show
Actual: Nothing happens

[2018-09-26 01:37] jdlrobson opened #1178 "All z-index property's should use a variable value"
See also: #1103

z-indexes can be difficult to manage.
So we can make sense of them, let's pull them out into common variables.

The plugin https://github.com/sh-waqar/stylelint-declaration-use-variable can help us identify them and ensure they make use of a variable

Configuration:
`
		"sh-waqar/declaration-use-variable": [
			[
				"z-index"
			]
		],
`

### Checklist
- [ ] Update .stylelintrc.j

[2018-09-26 01:43] mekarpeles commented on #1175
chrome on mac

[2018-09-26 02:16] #1177 closed

[2018-09-26 02:16] #1173 closed

[2018-09-26 02:17] jdlrobson commented on #1175
Can you see this on openlibrary.org or locally?
If locally is there some flag i need to disable?

[2018-09-26 03:18] jdlrobson commented on #1175
Can you rule out caching? (Trying incognito with developer tools and caching disabled)

[2018-09-26 03:49] jdlrobson commented on #1175
home page on Chrome and Firefox looking like this to me:

![screen shot 2018-09-25 at 8 49 15 pm](https://user-images.githubusercontent.com/148752/46056229-80d0d600-c104-11e8-89e2-7a98eff52fbe.png)

[2018-09-26 03:58] jdlrobson opened #1180 "What does our browser support matrix look like?"
It's unclear which browsers we need to support.
Ideally, we should base this on data showing what browsers are users are using. Do we have this information?

If not, we should probably follow a browser matrix similar to other projects e.g. [MediaWiki](https://www.mediawiki.org/wiki/Compatibility#Modern_(Grade_A))

Once defined we can likely through away a lot of CSS code (and maybe JS).

[2018-09-26 05:59] tfmorris commented on #1172
Yes, cover images can be compressed. Will it have a significant impact on performance? No.

The graph that you posted is pretty clear. Latency is on the order of 1 second per cover image, but download time is just a few milliseconds. Additionally, *HUNDREDS* of cover images are being downloaded when only ~50-60 are visible, even with a full page scroll. That's *NUTS*.

Non-visible images should no

[2018-09-26 06:09] tfmorris commented on #1172
Actually, it looks like the solution is trivial. Just upgrade to slick carousel [1.7+](https://github.com/kenwheeler/slick/releases/tag/1.7.1) and use lazy loading:

[code]

[2018-09-26 06:36] tfmorris commented on #1170
Rather than compressing assets individually, gzip should be turned on in the web server (or nginx) so that all responses are compressed. Responses don't appear to be served using gzip currently even when the browser says it'll accept gzip.

[2018-09-26 10:45] Num170R opened #1181 "SAVE buttons are invisible on edit page"
Visiting the edit page as in https://openlibrary.org/people/username?m=edit one observes a missing Save button on the bottom of the page. Hovering over with the mouse shows that the button is just hidden.

![edit_page](https://user-images.githubusercontent.com/9248823/46075305-c340f400-c192-11e8-9d4c-1b0fe3f76691.png)

[2018-09-26 10:48] tabshaikh commented on #1181
@Num170R But why must the button be hidden

[2018-09-26 10:50] Num170R commented on #1181
@tabshaikh it shouldn't be hidden. It should show up normally.

[2018-09-26 11:31] seabelis commented on #1181
Also missing from the IDs section and covers window (scroll arrows also missing).

[2018-09-26 14:37] jdlrobson commented on #1171
@tfmorris explains a good solution here:

https://github.com/internetarchive/openlibrary/issues/1172#issuecomment-424596289

[2018-09-26 14:42] jdlrobson commented on #1172
Sorry to suggest that it would have a significant impact on performance, that wasnt my intention. I agree #1171 will have far more of an impact (and thanks for finding out a way we can solve that! That's great!)

I would like to keep this open. Any compression we can do we should do. All bytes are important in my opinion.

I plan to add some tooling for our svg to compress them as part of #1170. A

[2018-09-26 14:45] jdlrobson commented on #1170
😯

[2018-09-26 16:12] jdlrobson commented on #1181
@mekarpeles can youtake a look at my patch and pull these to production?

[2018-09-26 16:19] mekarpeles commented on #1181
Yes, one moment :)

[2018-09-26 16:21] jdlrobson opened #1184 "Standardize Open Library's buttons"
According to #1181 we don't style our edit icon.
It should be a https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#buttonbtn rather than rely on the default browser styling.

That aside there is a much larger problem -  we have many ways of rendering a button. They come in all sorts of colors and it's not clear when and where  to use them and in some cases we probably shoul

[2018-09-26 17:04] Num170R commented on #1184
I can work on this! Would you mind assigning me?

[2018-09-26 17:36] #1002 closed

[2018-09-26 17:46] tfmorris commented on #1172
There are strong reasons to do the highest value items first. If, after the real problem is fixed, this is still high priority, I'm sure someone will work on it. If doing image compression distracted from fixing the actual problem, that would be a bad thing.

[2018-09-26 18:09] jdlrobson commented on #1175
I have a patch that needs a bit more testing,but should post it tonight.

[2018-09-26 19:44] jdlrobson commented on #1184
Done!

[2018-09-26 19:47] jdlrobson commented on #1170
Gzip aside we can and should minify local assets and it's at low cost to ourselves. The tooling is there and tried and tested - https://www.npmjs.com/package/svgo - we use it for Wikipedia.

[2018-09-26 19:59] #1181 closed

[2018-09-27 00:06] jdlrobson commented on #1139
We seem to only use this in one place.. to render the green labels here on https://openlibrary.org/account/loans ...
![screen shot 2018-09-26 at 4 40 18 pm](https://user-images.githubusercontent.com/148752/46115244-f1323280-c1aa-11e8-8a59-a34e9a961ce5.png)

What this means is we are pulling in a 69.6K library (After gzipping) to render a single line like so:

[code]

How would people feel like not

[2018-09-27 00:06] mekarpeles commented on #1139
enthusiastically for making this switch and rm'ing dependency on `moment`

[2018-09-27 00:11] jdlrobson opened #1190 "Are backbone.js and underscore.js needed in OpenLibrary project?"
I see we include Backbone and Underscore inside the JavaScript we ship to users for openlibrary.org
Dropping them saves us 10kb after gzipping and I can't see any usages.

Is there any reason to keep them?

[2018-09-27 00:14] mekarpeles commented on #1190
I don't know of obvious places where it's being used. Looking through our fe docs for clues

[2018-09-27 00:17] jdlrobson opened #1191 "JS: Remove Flickr and Twitter vendor js usage"
I see we include 2 JS files to add feeds to Twitter and [Flickr](https://github.com/seaofclouds/tweet). However, I can't see where these are used ($.fn.flickr is not called anywhere, neither is.

xcat $VENDORJS/jquery-flickr/jquery.flickr-1.0-min.js
xcat $VENDORJS/jquery-tweet/jquery.tweet.js | $JSMIN

Is there any reason to keep them?
It's possible they might be being used on the admin pages, but

[2018-09-27 00:25] jdlrobson opened #1192 "Get rid of jCarousel and use slick carousel for carousel components"
We have 2 types of carousel - the [slick carousel](https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#carousel) and the [resultsCovers carousel](https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#resultcovers) made using jCarousel.

I assume jCarousel predates the slick carousels which are shown on the homepage, and suspect the latter is the preferre

[2018-09-27 00:38] jdlrobson commented on #1180
Looks like json2 is probably not needed for example

[2018-09-27 00:46] jdlrobson opened #1193 "Drop fontawesome usage"
[Font awesome free](https://fontawesome.com/free) is used to display two icons in the [footer component](https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#footer) - fa-twitter and fa-github

There are various reasons to remove this.

-  We currently load this library via JavaScript, meaning on the home page they do not show if JavaScript is disabled:
![screen shot 2018-09-

[2018-09-27 00:47] jdlrobson commented on #1193
Do we have a designer who can provide us with open source friendly icons for these 2 services (ideally consistent with the facebook, twitter, pinterest and embed icons in https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#sharelinks ) ?

[2018-09-27 00:49] jdlrobson commented on #1180
This may also help #1054.

[2018-09-27 02:51] jdlrobson commented on #1139
I need to add feature detection so we dont break ie10 and below and other browsers

[2018-09-27 03:08] LeadSongDog commented on #1193
Alternatively, https://www.iconfinder.com/iconsets/social-network-9 may be more useful if the license is acceptable

[2018-09-27 05:34] jdlrobson opened #1194 "ISBN inputs should not allow text"
input type="number" is well supported on phones and prevents you from entering text into a field where numbers are needed.

Change input type to number so this is not possible:
![2018-09-10 14 53 04](https://user-images.githubusercontent.com/148752/46125075-48043000-c1dc-11e8-80fb-cf933b5fbf04.jpg)

[2018-09-27 05:50] jdlrobson opened #1195 "Fix highlight on category items inside carousel"
When tapping a category a single box should surround the whole category not 3 boxes like so:

![2018-09-23 10 33 26](https://user-images.githubusercontent.com/148752/46125555-8864ad80-c1de-11e8-8773-bbcea8fbfb3b.jpg)

[2018-09-27 06:00] jdlrobson opened #1196 "Add margin between github version and footer text"
The github version top border should have a margin with the text above:

![screen shot 2018-09-26 at 10 59 23 pm](https://user-images.githubusercontent.com/148752/46125868-dd54f380-c1df-11e8-9d33-d3013091a0d3.png)

[2018-09-27 08:53] Num170R commented on #1184
According to the description and #1158  is that we'd like to achieve?

![edit-btn](https://user-images.githubusercontent.com/9248823/46134588-ea0f3100-c24b-11e8-9aba-47fb1f1aaa35.png)

[2018-09-27 09:14] mekarpeles opened #1197 "Unable to login as admin on docker"
Multiple users have reported problems logging in as the dev admin user `openlibrary` and instead become logged in as `openlibrary7774` or some other random number appended.

It looks like the cause is getting the admin123 password (an infogami default) incorrect the first time locks subsequent logins to the same non-privileged user `openlibrary{random-number}`

Clearing browser cookies and logging

[2018-09-27 10:05] hornc commented on #1197
I can login to the docker env as openlibrary@example.com, pw: admin123 which is the test user

[2018-09-27 12:55] seabelis opened #1199 "Trash area off screen in Book Covers window"
Cannot delete cover. Trash area off screen. (Workaround by modifying .trashposition in browser.)

![fullscreen capture 9272018 24753 pm bmp](https://user-images.githubusercontent.com/17739465/46147093-ce645480-c264-11e8-9ed8-d0a5c53bde95.jpg)

[2018-09-27 14:42] jdlrobson commented on #1184
Provided @mekarpeles is okay yes. I think all buttons should be of that style going forward - either blue (primary) or white. Given this is a primary action, blue is appropriate.

sure to remove any other styles the button has that are not related.

[2018-09-27 15:42] mekarpeles commented on #1197
Can you access any of the admin routes?

[2018-09-27 16:32] LeadSongDog commented on #1199
#905 relates: on iOS there's no way to drag/drop the cover, so deletion is impossible. There should be another way (click to select, click to delete?).

[2018-09-27 16:46] seabelis commented on #1199
This was in Chrome btw. I have not tried other browsers.

[2018-09-27 16:50] Num170R opened #1200 "When comparing revisions two buttons are inactive"
After you click in order to compare two revisions in work history page, there are two buttons "View" and "History" that are inactive but were supposed to lead you somewhere
1) View button should exit comparison view
2) History button should lead you to work history page

![compare_revisions](https://user-images.githubusercontent.com/9248823/46161581-94a84380-c28e-11e8-8c5d-41ab8455a6bf.png)

[2018-09-27 22:17] #1196 closed

[2018-09-27 22:34] mekarpeles commented on #1184
@jdlrobson @Num170R  `Edit` has traditionally been a `ButtonSearch` as opposed to `ButtonBtn`.

I'm weary of overloading `ButtonBorrow` / `ButtonBtn` (which should probably be merged) which represents a primary call to action.

I'm not opposed to us changing button colors, especially if we can achieve greater consistency, but as a first pass, I'd prefer us restore previous functionality and then d

[2018-09-27 22:39] mekarpeles commented on #1184
Similarly, and hopefully not overloading this ticket, but I believe `ButtonGeneric` is/was only used for the main website header "Sign Up" button
https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#buttongeneric

Again, I'm very open to this button changing, though the current `ButtonBtn` doesn't quite look balanced as is and my preference would be for us to use the original

[2018-09-27 23:11] hornc commented on #1197
Turns out no, I can't, I get an error:
`/openlibrary/openlibrary/templates/admin/index.html: error in processing template: AttributeError: 'reading_log' (falling back to default template)`

I obviously haven't used the admin endpoint for a while, but believed (and still do) that the user's admin access is ok because I was importing and editing with admin privs.

[2018-09-27 23:15] hornc commented on #1197
Error coming from here: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/admin/index.html#L172
[code]

[2018-09-27 23:19] hornc commented on #1197
@mekarpeles .... and unfortunately I see the same thing in production when going to https://openlibrary.org/admin?debug=true

[2018-09-28 00:07] hornc commented on #1197
re. the original question, I can access pages off `/admin`, eg http://localhost:8080/admin/people it's only the main admin page that gives the error.

[2018-09-28 05:53] jdlrobson commented on #1119
Better to have sooner rather than later... will work on this if nobody else does.

[2018-09-28 05:53] jdlrobson commented on #1100
Better to have sooner rather than later... will work on this if nobody else does.

[2018-09-28 09:00] tabshaikh commented on #1100
@jdlrobson I will began working on this issue

[2018-09-28 15:42] mekarpeles commented on #1197
/admin fixed on dev.openlibrary.org (but is separate issue). It moved to /stats

There are other admin endpoints e.g. /admin/people which don't work for me when I login via docker or vagrant

[2018-09-28 15:54] yogeshjdeshmukh commented on #1200
Similar issue is also present on another page.

[2018-09-28 16:02] yogeshjdeshmukh commented on #1200
I think I can solve this would you please assign me this issue.

[2018-09-28 16:04] tabshaikh commented on #1200
@yogeshjdeshmukh I think @Num170R has already begun solving this issue so you can choose from our other issue's labeled with easy or good first issue tag

[2018-09-28 16:29] mekarpeles commented on #1200
@yogeshjdeshmukh feel free to send a PR :) everyone's work is welcome. We'll choose whichever solution looks like the right one for the problem. Thanks for your work!

[2018-09-28 16:39] Num170R commented on #1200
@yogeshjdeshmukh I have not worked on this just opened an issue. Please feel free to send a PR

[2018-09-28 16:52] yogeshjdeshmukh commented on #1200
Sir thank you for your support. Actually I am new to open source and this
was my first issue solving. I wonder if you can guide me through.

On Fri, Sep 28, 2018 at 9:34 PM Tabish Shaikh <notifications@github.com>
wrote:

[2018-09-28 16:54] LeadSongDog commented on #1193
@jdlrobson
I notice also that the login page shows greyscale versions of the Twitter and Github icons, while the /works/ pages show colour for Facebook, Twitter, Pinterest, and Embed. Consistency would be nice...

[2018-09-28 18:07] #1139 closed

[2018-09-28 19:06] tabshaikh commented on #1200
@yogeshjdeshmukh sure, you can begin by reading our contributor guide, the various technologies we use. Feel free to work on any easy issue for the beginning

[2018-09-28 19:18] yogeshjdeshmukh commented on #1200
Yes sir.. Surely

On Sat 29 Sep, 2018, 12:36 AM Tabish Shaikh, <notifications@github.com>
wrote:

[2018-09-28 20:55] jdlrobson opened #1206 "Load jquery-ui on v2 pages (or remove our usage of jquery-ui)"
While trying to port the subjects page to v2, I encountered a problem with jquery ui dialogs.
After upgrading the page to v2,  when I try to create a new list, no dialog shows.

It looks like we are not loading jquery ui on v2 pages.
v2 pages load jquery-1.11.0.min.js and jquery-migrate-1.2.1.min.js
I tried adding jquery-ui-1.7.2.min.js to the page but the dialog still fails to work, meaning our c

[2018-09-28 20:58] jdlrobson opened #1207 "Migrate subject page to v2"
We will upgrade all our major pages to v2 of the template.

Upgrading has various benefits
- serves non-render blocking JavaScript
- more modern version of jQuery
- more mobile friendly
- potential for slimmer render blocking CSS

The home page has currently been migrated.

This task tracks migrating subject pages
https://openlibrary.org/subjects/fantasy
https://openlibrary.org/subjects

A page ca

[2018-09-28 21:00] jdlrobson opened #1208 "Upgrade works and books page to v2 of template"
We will upgrade all our major pages to v2 of the template.

Upgrading has various benefits
- serves non-render blocking JavaScript
- more modern version of jQuery
- more mobile friendly
- potential for slimmer render blocking CSS

The home page has currently been migrated.

This task tracks migrating work and book pages
https://openlibrary.org/works/OL17903635W/Vortigern's_Garden
https://openlibra

[2018-09-28 21:00] jdlrobson commented on #1207
Blocked on #1206

[2018-09-28 21:00] jdlrobson commented on #1208
Blocked on #1206

[2018-09-29 02:50] mekarpeles opened #1212 "Lists /embed feature broken"
e.g.
https://openlibrary.org/people/mekBot/lists/OL103955L/Childhood_Favorites/embed?debug=true

[2018-09-29 02:52] #1212 closed

[2018-09-29 09:35] mekarpeles commented on #1076
So I think this may have been introduced quite some time ago -- when I look back at `b69133cd2e29f9711337297d41ac51aae6bac8e2` I do see borrow btns:
![2018-09-29-023420_1600x900_scrot](https://user-images.githubusercontent.com/978325/46244215-4ed3a400-c390-11e8-802a-6c3a16c3af5a.png)

[2018-09-29 09:40] mekarpeles commented on #1076
You're right, it looks like the html has changed for those components. Going to re-assign to myself. Thanks for investigating @jdlrobson!

[2018-10-01 02:05] obsoletenerd commented on #855
I feel like "Want to Read" is still the clearest of all of the above (as a user who stumbled here out of boredom). Followed by "Add to Reading List".

[2018-10-01 07:32] mekarpeles commented on #855
I think the bigger issue is people click "Want to Read" and expect to read the book. And we can address this by making sure there's always a button in the right side bar, e.g. "Read eBook" or "Borrow eBook" (in blue) or "No eBook Unavailable" (grey)
![book unavailable](https://user-images.githubusercontent.com/978325/46275322-59697700-c511-11e8-9e3c-4b7ecda47df7.png)

[2018-10-01 07:36] #1200 closed

[2018-10-01 07:49] mekarpeles opened #1215 "Related books carousel breaking on some book pages with AttributeError"
e.g. https://openlibrary.org/works/OL17829905W/Seveneves

Related books renders with "Unable to render the page"

![screen shot 2018-12-14 at 3 43 22 pm](https://user-images.githubusercontent.com/148752/50035451-04d58400-ffb7-11e8-968f-7a1530a4717a.png)

Visiting https://openlibrary.org/works/OL17829905W/Seveneves?debug=true the following error is provided:
<type 'exceptions.AttributeError'> at /w

[2018-10-01 09:16] tabshaikh opened #1216 "master.css seems to be duplicated in upstream folder"
master.css is duplicated in upstream folder and doesnt seem of much functionality

[2018-10-01 13:33] tabshaikh commented on #1146
@mekarpeles can you tell how to see the translated openlibrary page

[2018-10-01 15:26] Num170R opened #1218 "Add to list button overlaps page"
In some works, after navigating to the work page the `Add to List` button overlaps the adjacent area.
For example:

![add_to_list](https://user-images.githubusercontent.com/9248823/46298286-5faa3280-c5a7-11e8-9896-023b059f72a9.png)

[2018-10-01 15:27] jdlrobson commented on #1216
Stylelint shouldnt be running on the upstream folder. It only runs in static.

What is the master.css in upstream for? Is it used? Can we delete it?

[2018-10-01 15:28] jdlrobson commented on #1215
Is this a php error or js error? Can you print any related stack traces?
I think this is php but am not 100% sure.

[2018-10-01 15:38] mekarpeles commented on #1215
This is a python + memcached problem

[2018-10-01 15:56] mekarpeles commented on #1218
reproducible at: https://openlibrary.org/books/OL19242897M/Goethe

[2018-10-01 15:58] Num170R commented on #1218
I'll also take that , please assign

[2018-10-01 16:03] Num170R commented on #1200
I can't seem to be able to reproduce the fix in prod, for example [here]

![compare_revs](https://user-images.githubusercontent.com/9248823/46300492-89b22380-c5ac-11e8-9d09-155220669d95.png)

[here]: https://openlibrary.org/books/OL19242897M/Goethe?b=2&a=1&_compare=Compare&m=diff

[2018-10-01 16:06] yogeshjdeshmukh commented on #1200
Yup... When I ran my changed code on vagrant sever it worked well. Even I
checked the website while ago. The changes aren't visible yet.

On Mon 1 Oct, 2018, 9:33 PM Num170R, <notifications@github.com> wrote:

[2018-10-01 16:39] Abdulkadir98 commented on #1171
Hello, can I work on this issue? I will have to load images above the fold and lazy load other images right?

[2018-10-01 16:49] obsoletenerd commented on #855
"Read Later"?

[2018-10-01 21:15] Num170R commented on #1171
Why don't you label as WIP: to let anyone comment on the process?

[2018-10-01 22:05] Num170R opened #1220 "panel misaligned"
panel is misaligned

![dropper](https://user-images.githubusercontent.com/9248823/46318444-2d1c2c00-c5df-11e8-865b-d254f79aee12.png)

[2018-10-01 22:52] tfmorris commented on #1171
Here's the contents of my other note:

I'd like to see the above solution fail to work before declaring the problem non-trivial.

BTW, the images to be lazy loaded are **both** below the fold **and** to the right of the visible portion of the carousel(s).

[2018-10-02 00:06] Num170R opened #1224 "Search bar extends beyond appropriate limits"
Search bar width is getting modified in html template file, so that the third criterion "Print Disabled" spans two lines.

![search-bar](https://user-images.githubusercontent.com/9248823/46322176-1b8f5000-c5f0-11e8-90c8-23286d87108a.png)

[2018-10-02 00:40] jdlrobson commented on #1193
@mekarpeles are there any designer friends we can get input for this from? If not, how can we make this kind of decision?

Like @LeadSongDog I'd like these to be consistent across the site as well as with an appropriate license.

[2018-10-02 00:42] #1099 closed

[2018-10-02 01:10] Num170R opened #1226 "Buttons in loans page are overlapping"
Buttons are overlapping in "Books you've checked out page"

![loan_actions](https://user-images.githubusercontent.com/9248823/46323873-17b3fb80-c5f9-11e8-8e70-19288f4db751.png)

[2018-10-02 01:19] jdlrobson commented on #1224
What page are you seeing this?
The issue is a little vague at current time so I am not 100% sure where to test this to understand the problem.

[2018-10-02 01:27] Num170R commented on #1224
yes, that was on firefox. on chrome it seems to be ok

[2018-10-02 01:38] jdlrobson commented on #1171
@Abdulkadir98 unless I'm mistaken is new to this codebase like me, so I just want to make sure he knows what's he getting into.

[2018-10-02 01:40] jdlrobson commented on #1224
Thanks for the clarification!

[2018-10-02 01:57] jdlrobson commented on #1100
Looks like no-missing-end-of-source-newline and "max-line-length still need fixing.
I've unticked those boxes as I'm not seeing them address in master.

let me know if i've missed something!

[2018-10-02 02:44] jdlrobson commented on #1220
Can you post a link of where you are seeing this so I can replicate easily?

[2018-10-02 02:49] jdlrobson commented on #1224
I can only replicate this on Firefox if window.innerWidth === 1800
Can you confirm you are seeing this on a large resolution?

[2018-10-02 02:51] Num170R commented on #1220
It surely is on dev instance not really sure about prod

[2018-10-02 02:53] tabshaikh commented on #1100
@jdlrobson I made the changes in my local repo changed this issue here and forget to get the pull request up , I will do that today.

[2018-10-02 02:54] jdlrobson commented on #1220
What page on dev instance are you looking at ?

From what I can see, the issue here is this rule:
`.Tools .btn-notice { margin: 35px; }`

Your patch only fixes this because `#read-options` is a more specific selector than `.Tools .btn-notice` (ids trump classes)

I think instead of overriding in this fashion it would be better to remove/update the .Tools .btn-notice rule.

[2018-10-02 03:07] Num170R commented on #1220
Here is a screenshot with `margin: auto`. It competes with `.Tools .btn-notice` and takes precedence as I wrote in [pull]

![details](https://user-images.githubusercontent.com/9248823/46327176-f5c27500-c608-11e8-8f44-8f4e9d6b1497.png)

[pull]: https://github.com/internetarchive/openlibrary/pull/1221

[2018-10-02 03:30] Num170R commented on #1224
It is crucial to have this straight as I'd like also to remove the remaining inline styles in other templates.

[2018-10-02 04:07] Num170R opened #1228 "External links exceed width of panel"
When displaying external links under tools panel, the text should not exceed the width of the above panel.

![external-links](https://user-images.githubusercontent.com/9248823/46328766-c2d0af00-c611-11e8-8528-3047bb4f855a.png)

[2018-10-02 06:16] Abdulkadir98 commented on #1171
@jdlrobson Yes, I have no clue where the frontend code lives

[2018-10-02 08:17] salman-bhai commented on #1171
@Abdulkadir98 have you set up the repository on your local system?
@jdlrobson can we maybe update the Issue Description to point to the exact file where it can be resolved?

[2018-10-02 09:10] koderjoker commented on #1118
Hi, could I start working on this issue? Also, do I have to disable the rule for all offenders in all css files of the repo, separately for each block?

[2018-10-02 14:03] MineRobber9000 commented on #314
I mean, it seems like this is a no-brainer: just limit how much history can be requested (an upper bound on `limit=`).

It's probably exploding due to tons of memory usage to prepare the giant 10,000 item history list you're asking for.

[2018-10-02 14:38] jdlrobson commented on #1224
Sure but it's crucial when communicating in an open source project that we all have a mutual understanding of the issue so that we can both be confident it's the best way to fix the problem.

I just want to confirm the size of your browser window to check you are seeing this issue where I am.

[2018-10-02 14:39] #1216 closed

[2018-10-02 14:48] jdlrobson commented on #1118
Yup. Try to limit the size of the block the disables apply to. The goal would be to keep specific selectors from being added in future.

[2018-10-02 15:35] jdlrobson commented on #1228
Please remember to add a URL and replication instructions when creating a new issue.

In this case looks like the "Contributor biographical information" label is too long or using whitespace wrapping.

Can you provide replication instructions so I can help test? Which book is this?

[2018-10-02 16:17] mekarpeles commented on #314
@MineRobber9000 pull requests and questions very welcome :)

[2018-10-02 16:33] frankely commented on #855
Read It Later?

[2018-10-02 16:57] Abdulkadir98 commented on #1171
@salman-bhai Yes, I have cloned the repo but I'm getting an error when I run `vagrant up` in the project folder.
![screenshot 70](https://user-images.githubusercontent.com/22325142/46364036-4d58f300-c692-11e8-8895-f23f67783f41.png)

[2018-10-02 17:19] mekarpeles commented on #1171
@Abdulkadir98 that looks like a bug with our vagrant setup. We have had trouble with windows + vagrant in the past... But I don't think that's the problem this time :)

Would you be so kind as to try these setup instructions w/ docker instead?
https://github.com/internetarchive/openlibrary/tree/master/docker

We'll be happy to troubleshoot with you and answer all your questions along the way!
Than

[2018-10-02 17:20] mekarpeles commented on #1171
@hornc @cdrini in case you'd like to act on any of the docker feedback we get :)

[2018-10-02 17:27] mekarpeles commented on #818
near-term solution is removing the /preferences route which is unused/unreachable and has broken styles. This doesn't mean we won't have an /account/preferences page moving forward :)

I have a solution on dev which I'll push up

[2018-10-02 17:34] mekarpeles commented on #855
I think these are all good suggestions -- I just checked with @JeffKaplan about how many emails we're getting from confused users, and the number has gone *way* down to ~1 per week.

I am going to close this issue as I think @cdrini was right -- https://github.com/internetarchive/openlibrary/issues/855#issuecomment-410531786 -- that such things happen when a new feature is introduced.

I'll open a

[2018-10-02 17:35] #855 closed

[2018-10-02 17:51] mekarpeles opened #1235 "When no ebook available, display consistent "No eBook Available" button"
Not all Open Library records have ebooks -- this is a source of confusion for our users.

On such books, readers click "Want to Read" because they think this will bring them to read the book. There was discussion on #855 about changing the text of "Want to Read" to something different, but I think the real problem is that we don't make it explicit (in a way which is stylistically consistent with t

[2018-10-02 17:51] mekarpeles commented on #855
New issue moved to #1235

[2018-10-02 17:56] Divyansh00 commented on #899
I will take a look into it

[2018-10-02 17:58] mekarpeles opened #1236 "Add README.md for internationalization"
Currently, we have a page on our wiki which describes contributing to internationalization (i18n):
https://github.com/internetarchive/openlibrary/wiki/Contributing-to-Internationalization-(i18n)

I think it makes more sense for us migrate this document out of the wiki and into the `openlibrary/i18n` directory as a README.md.
https://github.com/internetarchive/openlibrary/tree/master/openlibrary/i1

[2018-10-02 18:01] tabshaikh commented on #1236
I will look out for what can be done for testing :)

[2018-10-02 18:02] mekarpeles commented on #1236
@leadsongdog has also had questions about testing i18n; @hornc may be able to shed some light

[2018-10-02 18:08] MauAraujo commented on #1236
I can do the internationalization document migration.

[2018-10-02 18:28] Num170R commented on #1228
Please, for example look [here]. the <li> 's are constrained by the width of their container. but the whole panel one can easily observe that extends beyond appropriate limits.

[here]: https://openlibrary.org/books/OL24493794M/Odyssey

[2018-10-02 18:42] Num170R commented on #1171
if that screenshot is from windows os I think I have encountered this without success.

[2018-10-02 18:46] MineRobber9000 commented on #314
where is the history endpoint in code? i'll take a look when I get home?

[2018-10-02 19:33] mekarpeles commented on #314
@MineRobber9000 https://dev.openlibrary.org/developers/routes
Technically, the ability to add `/history.json` to any `thing` in Open Library comes from `infogami` i.e.
https://github.com/internetarchive/infogami/blob/a1430609d73316eaebeba0f723e17a82a1a71b8d/infogami/plugins/api/code.py#L212 which already accepts a limit.

I think we'll need to explicitly add/override the history endpoint for subje

[2018-10-02 22:01] hornc commented on #1236
I have just added a paragraph to the wiki instructions here https://github.com/internetarchive/openlibrary/wiki/Contributing-to-Internationalization-(i18n)

[2018-10-02 22:31] hornc commented on #1171
@Abdulkadir98 I'll be happy to help with the docker setup, let us know if you see the same issue, or have other problems, thanks!

[2018-10-02 22:37] Num170R commented on #1220
This is wrong as `.Tools .btn-notice` does not apply here.

[2018-10-02 22:57] MineRobber9000 commented on #314
Alright, I'll get to that. Is 100 a reasonable limit, or should it be higher/lower?

[2018-10-02 23:32] mekarpeles commented on #314
100 seems reasonable to me, code reviewing now -- thank you! :)

[2018-10-03 00:18] jdlrobson commented on #1220
Is the margin of 35px on .Tools .btn-notice needed anywhere? If so, where?

[2018-10-03 02:19] hornc commented on #1197
@mekarpeles I have tried the docker instructions from a fresh checkout of this repo and clean docker builds a+ volumes, and can log in as openlibrary@example.com and access the admin pages.
`docker-compose up`

[2018-10-03 02:34] hornc opened #1240 "bundlesize fails on `make test` in docker image"
The css `bundlesize` tests fail inside the dev docker container.

on `make test`:

[code]

Installing bundlesize globally with
`npm install bundlesize -g`

still fails, but with a different error:
[code]

This is what I was seeing in 1136 (description)

The docker Xenial image has versions `(current: {"node":"4.2.6","npm":"3.5.2"})`

[2018-10-03 02:41] hornc commented on #1240
@jdlrobson I was really battling npm on this one -- are you able to comment on the requirements for `bundlesize`?  I'm guessing at this point that it needs a newer version of npm or node to run?

[2018-10-03 02:50] jdlrobson commented on #1240
Thanks for the comprehensive report!

We'll need to use at least node 6 to support { inspect } = require('util') syntax.
Ideally we should be using node 8.
4.2.6 is very old.

[2018-10-03 05:20] hornc opened #1243 "make /api/import endpoint return HTTP 201 + Location header on creating new record"
Currently the import endpoints return HTTP 200 responses on success with a body like

`{"edition": {"status": "created", "key": "/books/OL5M"}, "work": {"status": "created", "key": "/works/OL1W"}, "success": true}`

This should be changed to a 201 response, and the response header should include a `Location` pointing to the newly created _edition_ record.

If no item is created, but existing items

[2018-10-03 06:44] mekarpeles commented on #1236
@hornc can you make sure @MauAraujo's README has everything from the wiki and then point the wiki to that document?

[2018-10-03 07:20] #1206 closed

[2018-10-03 07:24] #1100 closed, assigned to supercontracts

[2018-10-03 08:02] #1228 closed

[2018-10-03 08:50] mekarpeles opened #1244 "Star Rating Widget shouldn't show up on Subjects Pages"
Similar to #1075

Star ratings are only for works/editions. They don't work with subjects. The macros/lists widget (or whatever it's called) is likely being invoked from the subjects page, which is why this bug exists.

[2018-10-03 11:52] Num170R commented on #1224
@jdlrobson I can currently replicate when window.innerWidth == 1280

[2018-10-03 11:55] Num170R commented on #1224
@jdlrobson and [here] is on prod.

[here]: https://openlibrary.org/search?q=home&mode=ebooks&m=edit&m=edit&has_fulltext=true

[2018-10-03 12:43] Num170R commented on #1220
I can only see ` class="btn-notice" ` in `macros/databarWork.html` and it is referenced in:
* `css/components/editions.less`
* `css/components/Tools.less`

Macro databarWork.html is used in templates:
* `openlibrary/templates/type/edition/view.html`
* `openlibrary/templates/type/work/view.html`
* `openlibrary/templates/type/edition-history/view.html`

but nowhere with that order namely `.Tools > .

[2018-10-03 15:16] jdlrobson opened #1247 "Make login page v2"
We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2". The login page at https://openlibrary.org/account/login should be converted

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking (so page loads faster)
* page is mobile friendly

To migrate a page do the following
- [x] Set v2 on the page object passed to any template

[2018-10-03 15:16] jdlrobson opened #1248 "Make sign up page v2"
We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2". The  sign up page at https://openlibrary.org/account/create should be converted

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking (so page loads faster)
* page is mobile friendly

To migrate a page do the following
- [ ] Set v2 on the page object passed to any temp

[2018-10-03 15:21] jdlrobson opened #1249 "Make books and works page v2"
We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2". The  [books](https://openlibrary.org/books/OL24198900M/A_Study_in_Scarlet) and [works](https://openlibrary.org/works/OL16290253W/A_study_in_scarlet) page at https://openlibrary.org/account/create should be converted

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking

[2018-10-03 15:28] jdlrobson opened #1250 "Reading Log to v2"
We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2". The  reading log (https://openlibrary.org/account/books/want-to-read) should be converted

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking (so page loads faster)
* page is mobile friendly

To migrate a page do the following
- [ ] Set v2 on the page object passed t

[2018-10-03 15:31] jdlrobson commented on #1208
Superseded by #1249

[2018-10-03 15:31] #1208 closed

[2018-10-03 15:32] jdlrobson commented on #1180
@mekarpeles any ideas on how to think about this?

[2018-10-03 16:59] jdlrobson commented on #1220
Thanks for the detective work!

[2018-10-03 17:06] Abdulkadir98 commented on #1171
Sadly, I don't own a windows 10 pro so I can't run docker on my computer. I am planning to install Ubuntu on my machine. I will you guys know how it goes. Thanks a lot @hornc @mekarpeles

[2018-10-03 18:29] Num170R opened #1253 "Remove inline styles from templates"
After discussion [here] it seems that some inline styles in various templates are redundant.
This issue is opened to address the ` style="width:505px;" ` in input tags which is contained in various templates namely:

* ` templates/borrow/read.html `
* ` templates/borrow/index.html `
* ` templates/search/authors.html `
* ` templates/search/subjects.html `
* ` templates/search/publishers.html `
* `

[2018-10-03 18:54] Num170R opened #1255 "error in processing template: /openlibrary/static/build/vendor-v2.js not found"
I keep getting this error when I search something on dev instance.

![not-found](https://user-images.githubusercontent.com/9248823/46432379-cde12780-c756-11e8-8832-ff21aacd2ed9.png)

[2018-10-03 20:31] #1118 closed

[2018-10-03 20:54] #1253 closed

[2018-10-03 20:55] #1224 closed

[2018-10-03 21:05] cdrini opened #1256 "(Vagrant?) Windows error about line-endings"
Don't know if this is also an issue with docker as well. I think the vendor.jsh file has CRLF endings IN THE REPO for some reason, which should be fixed.

![screenshot 70](https://user-images.githubusercontent.com/22325142/46364036-4d58f300-c692-11e8-8895-f23f67783f41.png) (From [#1171](https://github.com/internetarchive/openlibrary/issues/1171#issuecomment-426350269))

[2018-10-03 21:19] cdrini commented on #1256
Don't know if this is also an issue with docker as well. I think the vendor.jsh file has CRLF endings IN THE REPO for some reason, which should be fixed.

[2018-10-03 21:52] cdrini commented on #1256
@Abdulkadir98 Could you give me the output of the following command? `git config core.autocrlf`.

[2018-10-03 21:52] cdrini commented on #1171
Oh, your issue is with line-endings and windows. I'm opening a separate issue for this because it is an issue: #1256

[2018-10-03 21:56] cdrini commented on #1171
Oh, and @Abdulkadir98 , I'd recommend continuing with vagrant, but if you want to try docker, you might be able to use [Docker Toolbox](https://docs.docker.com/toolbox/toolbox_install_windows/). I have Windows 10 home, and that's what I use.

[2018-10-03 22:49] mekarpeles commented on #1199
It looks like the modal is being loaded as an iframe and thus the
`#placement { width: 960px }` and `div#position { width: 960px }` (which is set on its body) is proving to be problematic.

[2018-10-03 22:50] mekarpeles commented on #1199
p.s. thank you @seabelis, great catch! very thankful for your careful eye! :)

[2018-10-03 22:52] mekarpeles commented on #1255
Have you tried using make to rebuild js?

[2018-10-03 23:57] jdlrobson commented on #1255
Yeh this was an issue with not running `make js`
https://internetarchive.slack.com/archives/C0ETZV72L/p1538592534000100

[2018-10-03 23:57] #1255 closed

[2018-10-04 14:01] tfmorris commented on #1171
Since the last 10 messages have nothing to do with this ticket, perhaps it's time to open a separate ticket for this unrelated problem.

[2018-10-04 17:47] tabshaikh commented on #1236
This issue had some left out tasks:
Things to be done:
- [ ] Add testing to the Readme
- [ ] Point wiki to the readme

[2018-10-04 17:57] CyberDrudge commented on #1079
can i work on this?

[2018-10-04 18:02] tabshaikh commented on #871
Link to the readme for additional info can be found here: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/i18n/README.md

[2018-10-04 18:13] razzius commented on #1079
@CyberDrudge Feel free. Haven't gotten around to it

[2018-10-04 19:19] #1236 closed

[2018-10-04 21:47] jdlrobson opened #1258 "Covers not working locally"
[Per slack](https://internetarchive.slack.com/archives/C0ETZV72L/p1538668611000100), with a vanilla instance I am not seeing covers
![screen shot 2018-10-04 at 2 46 11 pm](https://user-images.githubusercontent.com/148752/46504962-62459b80-c7e4-11e8-884a-11f4d3f10b88.png)

There should be some easy to find guidelines  on how to get this working (or even better.. it should work from the offset!)

[2018-10-05 00:52] mekarpeles commented on #683
I think part of the context/reason for this is that Bookreader is able to pull tables of contents from the corresponding OpenLibrary book json.

Either way, we should be displaying the `tables of contents` to users in a human readable way, e.g.:
![table-of-contents](https://user-images.githubusercontent.com/978325/46510495-30d9c980-c7fe-11e8-96bd-fb1d13ff8a09.png)

 (and not break bookreader's see

[2018-10-05 01:45] LeadSongDog commented on #1258
Reminds me of #398. Welcome to my world

[2018-10-05 03:00] jdlrobson commented on #1258
I've got this working and have updated the docs: https://github.com/internetarchive/openlibrary/wiki/Getting-Started/_compare/1800a00a5194729f0d362000ee2a0b262cd45cca...12c04813f3732a2e44db00b55f72994c1a484fa7

\o/

Not sure if there is a more long term solution though. Would be great if this was configured this way out of the box.

[2018-10-05 04:08] jdlrobson commented on #1119
This ones also going to be a bit tricky. There are lots of offenders  :-S

[2018-10-05 04:09] jdlrobson commented on #1098
This was taken care of by stylelint-disable selector-max-specificity

[2018-10-05 04:09] #1098 closed

[2018-10-05 04:14] jdlrobson opened #1259 "Add stylelint error protection"
[Stylelint ](https://stylelint.io/user-guide/rules/) (which can be run by using `npm install && npm run lint:fix`)  can detect various errors if configured with the following:

[code]

Fix any offenders you encounter.

[2018-10-05 05:05] jdlrobson commented on #1171
@Abdulkadir98 this was blocking me on #1241 so I had to tackle it.
Happy to help you find another task when you've got your instance setup!

[2018-10-05 07:03] weatherwaxed commented on #1259
Hi! I'd like to take this up!

[2018-10-05 07:15] tabshaikh commented on #1259
@weatherwaxed sure go ahead :)

[2018-10-05 08:03] weatherwaxed commented on #1259
This is my first PR, so just to be clear, do you intend for these rules to be added to the existing ones, with configurations that ignore the same files (currently .css, for example)

[2018-10-05 08:33] Abdulkadir98 commented on #1171
Alright, I'll let you know once my setup is finished. Thanks! @jdlrobson

[2018-10-05 08:54] glatteis commented on #1194
I looked into this, this will probably break more things than it fixes.

Many ISBNs do have letters:
ISBN-10s end with Xes
ISBNs often have the prefixes "ISBN-13" or "ISBN-10" or "ISBN: "

[2018-10-05 08:56] tabshaikh commented on #1194
@glatteis Ohhh

[2018-10-05 14:30] jdlrobson commented on #1194
Thanks for properly looking into this @glatteis !
Maybe we could use built in form validation here instead, https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation

At the current time, it's possible to submit a bad ISBN and lose all the other form data. It would be good to protected our users against this. What do you think? If so, should we open a new ticket or amend this one?

[2018-10-05 14:32] jdlrobson commented on #1259
@weatherwaxed this would be a good one!

Stylelint is already set up to check the right files, so this should just be a case of updating the config, fixing any issues and committing the result. It will be a good introduction to the codebase and help guide us writing better CSS on the long run!

[2018-10-05 15:47] LeadSongDog commented on #1194
There are a slew of longstanding issues with ISBNs, particularly #27, #49, #142, #565 , #609
There should be one umbrella discussion _somewhere_ that eventually gets to all of these subissues:
1. an agreed single format to be stored,
2. cleanup of existing data into that format,
3. automatic cleanup of all the variant inputs, whether from user forms or imports
4. external links correctly generated

[2018-10-05 18:31] jdlrobson opened #1262 "Correct how bookreviews CSS is loaded"
@weatherwaxed found this file while working on #1261:
openlibrary/plugins/bookrev/files/css/bookreviews.css

I see 2 possible (but possibly broken) usages:
[code]

Are these working?

We should move openlibrary/plugins/bookrev/files/css/bookreviews.css into static/css/ if they are legitimate entry points as right now this file is hidden away.

If it's broken we should also fix this.

[2018-10-06 01:44] #1171 closed

[2018-10-06 13:40] tfmorris commented on #1171
It looks like this is only deployed on dev so far.

The original benchmark is here: https://whatdoesmysitecost.com/test/180925_D4_d3656ac7448797bd0a46d8f277f3d6e2
I reran it here to provide a current baseline: http://www.webpagetest.org/result/181006_GX_5c2a1e3fd502df793344c1c940ba4a4f/
then ran it on the dev site here:
http://www.webpagetest.org/result/181006_RP_10299e74d6409663a7286c04705b33e7/

[2018-10-06 14:11] tfmorris opened #1264 "Fix home page performance / speed"
The OpenLibrary home page ranks in the bottom third of all web pages on the internet in performance.

https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fopenlibrary.org%2F

#1171 deals with one specific piece of the home page speed, but it's not the only issue. We need to:

1. Improve the load times for this page
2. Put in place tooling which allows us to track this over time

[2018-10-06 15:44] jdlrobson opened #1265 "Rating form broken on subject page"
When I visit https://openlibrary.org/subjects/fantasy as an anonymous user, I see the ratings form.

The ratings form should be disabled when I am no logged in.
However when I click a star I am taken to ratings.json

When I log in and try to rate the subject again, I also getting ratings.json

Should the ratings form be removed from the subject page?

[2018-10-06 16:06] mekarpeles commented on #1244
Duplicated by https://github.com/internetarchive/openlibrary/issues/1265#issue-367468881

[2018-10-06 16:07] mekarpeles commented on #1265
Closing in favor of https://github.com/internetarchive/openlibrary/issues/1244

[2018-10-06 16:07] #1265 closed

[2018-10-06 17:54] thebuizelclub commented on #686
Hey I'm interested in helping with the backend in possibly squishing some bugs. I'm totally new to open source development and still a bit new to python but I still think I could be able to be some sort of help.

[2018-10-06 17:57] jdlrobson commented on #1264
That report actually looks good to me.

Performance and mobile are my main focus right now and but the homepage is much better than other pages so it would be good to pull out some actionables from here. The css is only 4kb. That's tiny. i don't think anything needs to be done there.

I think the main issue here is the server latency, compression (see my other issue about compressing covers) and #

[2018-10-06 18:01] jdlrobson commented on #1171
See #1162 about gzipping on dev. Comparing apples to oranges without it.

[2018-10-06 18:02] jdlrobson commented on #1171
vendor-v2 is non render blocking. It's size is not important. Only for first interactive. Wont impact first paint.

[2018-10-06 19:11] #1226 closed

[2018-10-06 20:12] LyzardKing commented on #1194
Could this be something good enough to use?
https://formvalidation.io/guide/validators/isbn/
There's also an open source fork somewhere on github...
It seems to avoid most of the issues @LeadSongDog points to I believe

[2018-10-06 23:00] ralevbb opened #1269 "What's going on in this thread?.. Is there a reason you opened a pull request on @hornc's branch?"
@hornc is this ready for merge?

_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/pull/1268#issuecomment-427600460_

[2018-10-06 23:00] #1269 closed

[2018-10-07 01:42] jdlrobson commented on #1240
Did you work this out @hornc ?

[2018-10-07 03:42] jdlrobson commented on #1264
According to https://www.webpagetest.org/result/181006_X1_756d2f7f89d51129857514ad33f7b8d7/
first byte time is 5.395s of the 6.3s first paint.

This points to server side. Have we considered adding a level of caching to the backend before? The homepage doesn't need to change on every page load yet unless I am mistaken every time we seem to generate it from scratch via python.

[2018-10-07 16:27] #1244 closed

[2018-10-07 18:41] jdlrobson commented on #1220
This issue can be replicated on https://openlibrary.org/works/OL17799873W/Robinson_Crusoe_Robinson_Crusoe

[2018-10-07 18:45] tphe commented on #857
Hi, I'd like to work on this issue as part of a class project on search engines. Are you imagining that the current recommendation system would be extended to include data from the users' list/readinglog and follows? Or would this be a separate area of recommendations (on the user's start page as "recommended for you" or something similar).

[2018-10-07 22:58] jdlrobson opened #1274 "Lists are broken: Adding subject to list throws JS error"
Visit https://openlibrary.org/subjects/science
Scroll to "add to list" and try to add the subject to a new list.

When hitting save in the overlay that opens, I hit a JS error.
Seems to be a misnamed variable.

[code]

[2018-10-07 23:03] tfmorris commented on #890
There is a Travis CI job to track our progress on this now, thanks to PR #1273

[2018-10-07 23:04] tfmorris opened #1275 "Migrate/port to BeautifulSoup4 (bs4)"
The first error thrown by our new Python 3 Travis CI job, thanks to PR #1273, relates to BeautifulSoup.

The current module will never have Python3 support, but its successor does, so we need to move to the new version. It doesn't look like we make very extensive use of the functionality, so this should be straightforward.

Instructions here: https://www.crummy.com/software/BeautifulSoup/bs4/doc/#

[2018-10-08 08:17] cclauss opened #1278 "./openlibrary/core/connections.py needs a code review"
There are a series of at least three syntax errors in ./openlibrary/core/connections.py that can be found by doing:
* __flake8 ./openlibrary/core/connections.py --show-source --select=E901,E999,F821,F822,F823__.

The first syntax error can be solved merely by adding a __pass__ statement but the ones that follow seem to be more complex to resolve.

[2018-10-08 08:27] cclauss opened #1279 "Undefined name: 'get_docs' in __all__ of ./openlibrary/data/db.py"
__./openlibrary/data/db.py__ wants to [export __get_docs__](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/data/db.py#L35) but it is never defined or imported.
* https://travis-ci.org/internetarchive/openlibrary/jobs/438490611#L704

[2018-10-08 11:48] AmulyaReddy99 commented on #1275
Can I take this?

[2018-10-08 14:35] CyberDrudge commented on #1079
How can i reproduce this?

[2018-10-08 16:11] ChangezKhan opened #1280 "Getting "Failed to start ol-infobase.service: Unit ol-infobase.service not found." on "vagrant up""
I am getting issue while starting vagrant for the first time. I have followed steps mentioned in this [page](https://github.com/internetarchive/openlibrary#vagrant-legacy--windows). But I am getting multiple errors, such as

    default: Starting ol-infobase.service
    default: Failed to start ol-infobase.service: Unit ol-infobase.service not found.
    default: Failed to restart ol-infobase.serv

[2018-10-08 16:58] cdrini commented on #1280
Judging by your gist, I think this is related to #1256 . Are you using windows? Could you give me the output of `git config core.autocrlf`?

[2018-10-08 17:30] tfmorris commented on #1275
@AmulyaReddy99 Sure! No need to ask permission. If you're worried about duplicating work, just post a note to say that you're starting work on it so that others know and can minimize conflicts.

I did a quick scan of the uses of BeautifulSoup and it looks minimal, so hopefully it's a straightforward port (perhaps just a 1 line change and a bunch of testing)

[2018-10-08 17:38] tfmorris commented on #1278
Do we know if it's actually used anywhere?

[2018-10-08 17:56] cclauss commented on #1278
* https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/connections.py#L4 defined one class __ConnectionMiddleware__
* https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/connection.py#L17 defines a different class __ConnectionMiddleware__

[2018-10-08 19:15] Redarcher9 commented on #1274
Hi.. Can I work on this issue?

[2018-10-08 19:20] jdlrobson commented on #1274
Go for it!

[2018-10-08 19:49] tfmorris commented on #1240
This breaks the build in Vagrant environments too.

What is our minimum required version of node.js? What version is used in the production environment?

We should configure our Jenkins CI jobs with whatever we use in other environments so that we don't break things without knowing about it. Obviously we can't just assume arbitrary versions since this has to be coordinated across multiple environm

[2018-10-08 21:09] mekarpeles opened #1283 "Design openlibrary.org Swag! tee-shirt + hexagon-stickers"
e.g. (it should be simpler and more polished than this)
![screen shot 2017-07-25 at 18 12 32pmpdt](https://user-images.githubusercontent.com/978325/46633809-ab0e9480-cb03-11e8-9034-1ebd037cd172.png)

[2018-10-08 21:14] mekarpeles opened #1284 "Carousels: Padding regression?"
Proposal is that the padding below the borrow button should be the same as the area above the bookcover.

Not sure if this is regression or just a request for style improvement. @rchrd2 suggests (and @jdlrobson informs) there's a `.carousel-container .slick-slider margin-bottom` that can be removed to make it so the padding is the same above the bookcover (to the top of the carousel container) and

[2018-10-08 21:22] mekarpeles commented on #1278
@tfmorris I believe this is used in `plugins/openlibrary/connection.py` where it is extended by `IAMiddleware` which is used by `OLConnection` which is used by `openlibrary/plugins/openlibrary/code.py` --

[code]

[2018-10-08 21:41] jdlrobson commented on #1284
I think I see what's going on here.
The margin-bottom prevents a reflow when moving from the non-js version to the JS version.
Without the margin-bottom the page repaints which is bad for performance.

Not quite as easy as I first thought... any solution will need to ensure they don't break that JS to non-JS transition (most easily replicated using a simulation of a 2g connection).

[2018-10-08 21:48] jdlrobson commented on #1259
Well done @weatherwaxed on your first completed pull request!!

[2018-10-08 22:16] cclauss commented on #1278
Which of the two ConnectionMiddleware classes does AIMiddleware extend?  Given the lack of imports, I believe it is the one that is in the same file, not the one in core.

[2018-10-08 23:05] tfmorris commented on #1278
Sounds like the one in core is unused and should be deleted (the only commit to it since creation is mek's removal of whitespace), but I'll double check.

[2018-10-09 01:38] bnewbold opened #1289 "openlibrary.org is too excellent"
I feel openlibrary.org sets too high a bar for a non-profit, community/volunteer-supported project. You make it look too easy!

[2018-10-09 01:39] bnewbold commented on #1289
cc: @mekarpeles

[2018-10-09 01:49] #1259 closed

[2018-10-09 01:58] #1178 closed

[2018-10-09 02:01] mekarpeles commented on #1289
I just did a `git blame` and I think I found the problem:

I think @Num170R, @tabshaikh, @hornc, @jdlrobson, @salman-bhai, @cclauss, @weatherwaxed, @tfmorris, @leadsongdog, @gramstrong, @cbolgiano, @ozzyz, @cdrini et al. are the ones responsible for this issue. 🎉🎉🎉

will not fix? 😅

[2018-10-09 02:01] #1289 closed

[2018-10-09 02:35] #1097 closed

[2018-10-09 06:46] ChangezKhan commented on #1280
@cdrini, yes I am using windows. And `git config core.autocrlf` gives me `false`.

[2018-10-09 07:00] tabshaikh commented on #1283
The color of the tee should be different too from the one shown above.

[2018-10-09 10:40] tabshaikh commented on #1283
/home/tab/openlibrary/static/images/openlibrary-192x192.png/home/tab/openlibrary/static/images/openlibrary-logo.png/home/tab/openlibrary/static/images/pantheon.png/home/tab/openlibrary/static/images/stars.png

[2018-10-09 10:47] tabshaikh commented on #1283
@DanHues
Open library svg
https://github.com/internetarchive/openlibrary/blob/master/static/images/openlibrary-logo-tighter.svg
Some cool things you can add too
https://github.com/internetarchive/openlibrary/blob/master/static/images/stars.png
https://github.com/internetarchive/openlibrary/blob/master/static/images/pantheon.png
On the sleeves maybe these maybe would look good too:
https://github.c

[2018-10-09 13:11] tfmorris commented on #1283
We should have these printed on non-stretch fabric so wearers don't mess up the kerning or aspect ratio in the logotype and get the brand police after us. ;-)

[2018-10-09 13:16] tfmorris commented on #1079
Umm, click on the link in the original problem report? Or, click on the one below to get a stack trace included:

https://openlibrary.org/search/inside?q=in+a+nice+world+the+air+doesn%27t+vibrate&mode=everything&debug=true

[2018-10-09 13:30] tfmorris commented on #1240
I've started to repair both dev environments on this branch:
https://github.com/tfmorris/openlibrary/tree/1240-nodejs-versions
but ran out of time before finishing testing.

A related issue that needs to be fixed is moving /openlibrary/node_modules to a place that isn't shared because of the potential for cross architecture contamination (ie conflicting binaries for different O/S or CPU in Docker/

[2018-10-09 15:42] jdlrobson opened #1296 "Move html inline styles to stylesheet"
In #1261 @weatherwaxed discovered many inline styles within the html.

While inline styles in themselves are not problematic, having them inside templates makes for difficult to maintain css. It also means repeating css across pages with no central definition which can lead to ui inconsistency.

We should review these inline styles and where it makes sense move them into legacy.less or one of the

[2018-10-10 00:16] jtj9817 commented on #1296
Can I try to work on this issue?

[2018-10-10 00:27] jdlrobson commented on #1296
@weatherwaxed  made a start to this, so please sync up with him before tackling this! I think he's mostly got this problem addressed!

[2018-10-10 00:29] mekarpeles commented on #1296
Ah, thanks @jdlrobson! @weatherwaxed is there a PR or a `WIP` we can link this to?

[2018-10-10 00:32] #1079 closed

[2018-10-10 01:25] mekarpeles opened #1301 "Want to Read button position regression on /books"
@Num170R + @jdlrobson  one regression I'm spotting is with the `Want to Read` button on the /books (editions) page e.g. https://openlibrary.org/books/OL3667228M/Line_of_Control. I'm opening an issue now

![screen shot 2018-10-09 at 18 25 03pmpdt](https://user-images.githubusercontent.com/978325/46707864-ab388e00-cbf0-11e8-8aa6-7f62077fabe1.png)

[2018-10-10 01:40] mekarpeles commented on #1301
it looks like it's `.dropper` may be causing the issue

[code]

[2018-10-10 01:55] #1301 closed

[2018-10-10 02:17] jdlrobson commented on #1283
My wife Linzy had some fun designing some t-shirts too! She doesn't have a github account so let me know what you think and I'll pass on any feedback!

#### Design 1
Linzy says:

![image](https://user-images.githubusercontent.com/148752/46709199-6b28d980-cbf7-11e8-92ba-a1014a38d125.png)

#### Design 2

![image](https://user-images.githubusercontent.com/148752/46709204-724fe780-cbf7-11e8-8bc6-27e3d

[2018-10-10 02:47] mekarpeles commented on #1283
I think I prefer the logo of Design 1, left side
I like the baige shirt color of Design 1, right side
I like the much larger logo side of Design 1, right side
I like how clean Design 2 is
I like how Design 1, right side has a centered logo

I think I especially like the idea of Design 1 hexagon sticker
- centered, big, vertically stacked OL logo w/ domino books over it on baige background

Of the

[2018-10-10 03:54] weatherwaxed commented on #1296
Hi, sorry for the delay, I'm at work presently so unable to access my laptop. I'll push my WIP in about 6 hours.

[2018-10-10 04:59] cclauss commented on #1278
Doh!  One file is __connections.py__ (plural, with a trailing s) and the other is __connection.py__ (singular).

[2018-10-10 05:33] swastikbanerjee07 commented on #1110
Hi ! I'm just beginning with open-source. Can you guide me how to work on this issue?

[2018-10-10 11:28] mekarpeles commented on #1110
Hi @swastikbanerjee07!
1) First, follow the instructions to setup Open Library using Docker
2) You may want to borrow a book on production (https://openlibrary.org) and then navigate to your /account/loans page. The corresponding code should be in `openlibrary/templates/account/borrow.html` You should see a block of code in the template like `loan['expiry']` which is how that template is getting t

[2018-10-10 12:55] tabshaikh commented on #1283
I like the black background color of @DanHues and the domino of books looks cool maybe a merger of both would look awesome

[2018-10-10 14:00] Num170R opened #1305 "Carousel buttons overlap border"
Easily reproducible selecting `Browse` and some subject eg `Fantasy` or `Browse by Subject` and the some subject eg `Fantasy`.

![dropper_buttons](https://user-images.githubusercontent.com/9248823/46741543-ebaa1180-ccad-11e8-9744-bf20fec6ccdf.png)

[2018-10-10 15:32] jdlrobson commented on #1305
This code will be removed soon as part of #1241 so probably not worth thinking too much about.

[2018-10-10 18:05] mekarpeles opened #1308 "Advanced search by ISBN breaks"
Attempt to search ISBN under More | Advanced Search gives this result:
/opt/openlibrary/deploys/openlibrary/0397e81/openlibrary/templates/work_search.html: error in processing template: ValueError: is not in list (falling back to default template)

[2018-10-11 00:36] mekarpeles opened #1311 "Update pyopenssl ~> 17.5.0"

[2018-10-11 00:53] mekarpeles commented on #1311
This required `sudo apt-get install ffi-dev`, do we need to add this to `Dockerfile.olbase`?
cc: @hornc

[2018-10-11 03:40] #1279 closed

[2018-10-11 05:52] #1249 closed

[2018-10-11 05:58] jdlrobson opened #1313 "EPIC: Simplify CSS on works and books page"
With #1249 resolved books and works pages were made mobile friendly, however there is still more work to be done.

Much of the render blocking CSS (static/build/page-user.css) which is 24.87KB after gzipping is unused. I reckon we can get that down to at most 10kb and help identify missing and similar components in the styleguide in the process which will help 1092.

Goals
* Books and works page w

[2018-10-11 06:14] mekarpeles commented on #1313
As we think of children tasks, let's please reference #1313 so we can gauge progress :)

[2018-10-11 16:07] jdlrobson commented on #1274
@Redarcher9 how are you getting on with this issue?

[2018-10-11 16:10] Redarcher9 commented on #1274
Sorry I didn't get time to work on this issue.

[2018-10-11 16:24] jdlrobson opened #1319 "Descope the subject carousel feature"
I am currently in the process of migrating subject pages to the magical "v2" flag. What this means is:
* mobile friendly
* more performant

The big issue I'm hitting while doing this is porting the dynamic carousel features shown in this gif:
![subject](https://user-images.githubusercontent.com/148752/46818780-e1802580-cd36-11e8-8b49-e60ec3e116c0.gif)

While this is possible to do with slick, I do

[2018-10-11 17:56] hundredrab commented on #890
Hi, I'm new to OpenLibrary, but this looks like something I'd be interested in doing. Do you mind if I proceed with this, albeit slowly, even though this isn't a 'good first issue'?

[2018-10-11 18:03] cdrini commented on #1256
Hi @ChangezKhan, sorry for the delay.

I think the issue is the git is changing the Unix line endings (LF) in the repo to windows-style line endings (CRLF) on your computer. Try changing the `autocrlf` config to `input`:

[code]

This will make it so a) files will appear with the same newlines as in the repo, and b) when you commit, git will make sure you are using Unix style line endings.

Then d

[2018-10-11 18:13] cdrini commented on #1280
Oh, I think you closed the wrong issue, @mekarpeles :P but that's ok, we can continue at #1256

[2018-10-11 18:35] Redarcher9 commented on #1274
@changezkhan Nope... Feel free to assign it to someone else

[2018-10-11 18:37] ChangezKhan commented on #1274
@Redarcher9 I'll take it then. Thanks btw.

[2018-10-11 19:09] mekarpeles commented on #1280
@cdrini thank you! You're right, I was trying to reference 1260 :)

[2018-10-11 19:56] #797 closed

[2018-10-11 19:57] mekarpeles commented on #81
@hornc does our updated import system check for this? (I believe it does) :)

[2018-10-11 20:02] ChangezKhan commented on #1280
@cdrini above "... service not found" issue has resolved after changing the `autocrlf` config to `input`. But now it is giving this error

[code]

. For detailed information [gist](https://gist.github.com/ChangezKhan/e72671db34d5900fef39979f655aec76)

[2018-10-11 20:32] cdrini commented on #1280
Ah, right; the _other_ windows issue :P The openlibrary repo makes use of symlinks, which by default git on windows checks out as plain text files. To fix it, enable symlinks FOR THE OL REPO only (note no `--global` this time):

[code]

Then reset the repo:

[code]

(Checkout https://git-scm.com/docs/git-config for documentation about these config settings).

Yeah, we need to update the docs for W

[2018-10-11 20:35] cdrini opened #1321 "Update documentation for Windows Developers"
Need to add notes about:

- Must have symlinks enabled (See #1280 )
- Must use Unix-style line endings (See #1256)

[2018-10-11 20:36] cdrini commented on #1256
@ChangezKhan said that fixed it! (See #1280). That means our repo is fine, it's just a developer settings issue. Opening #1321 to add documentation, closing this.

[2018-10-11 20:36] #1256 closed

[2018-10-11 20:37] mekarpeles opened #1322 "If no search results, import by ISBN (amz)"
Today we are using Amazon to fetch price information for our books, but we can't do that in the case where a user enters an ISBN of a book we don't have.

Proposing that in the case no isbn match is found, we use the same Amazon API to fetch enough information to create the record and then fetch/cache the price.

## Code

In our `openlibrary.yml` file, the following needs to be added:

[code]

The

[2018-10-11 20:46] hornc commented on #81
The updated import does check for existing ocaid s , however I think there may be existing data where ocaid s are duplicated on different editions of the same work, so we need to be careful about books blindly merging editions with the same ocaid. I think some of the matching on the archive.org side that associates the archive.org `openlibrary` value is less strict on matching editions that the `_

[2018-10-11 21:42] LeadSongDog commented on #1236
It is quite unrealistic and unnecessary to expect that someone willing to translate a few UI strings will be prepared to endure installation of the entire build toolchain to do so. This is no doubt the reason why
https://openlibrary.org/books/OL17479512M/Il_Principe?lang=de
https://openlibrary.org/books/OL17479512M/Il_Principe?lang=en
https://openlibrary.org/books/OL17479512M/Il_Principe?lang=fr
h

[2018-10-11 22:54] #1218 closed

[2018-10-12 00:28] jdlrobson opened #1323 "Books page should use the Linkbox component"
When looking at a books page (https://openlibrary.org/books/OL24152177M/Robinson_Crusoe) you'll see some boxes like this:

![screen shot 2018-10-11 at 5 26 14 pm](https://user-images.githubusercontent.com/148752/46841077-cafbbd80-cd7a-11e8-9967-d68ebd98d417.png)

that look exactly like this:
https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#linkbox

Yet when reviewing the

[2018-10-12 02:32] #1311 closed

[2018-10-12 02:41] mekarpeles commented on #1076
This has been solved by @jdlrobson's latest set of changes (deployed in 75ce2b8) which move books page(s) to use slick! 🎉

[2018-10-12 02:41] #1076 closed

[2018-10-12 02:44] Zacharius opened #1324 "Requirements.txt missing packages, causing docker build of olbase to fail"
Currently docker build of olbase fails with the message '/usr/bin/python: No module named flake8'.  Pyflakes has also been identified as missing.

I believe the fix is simply adding these packages to the requirements.txt file.

[2018-10-12 02:54] mekarpeles commented on #1274
Apologies -- this is a critical bug affecting users and I have a working solution so I think I'm going to step in w/ a fix!

Sorry to step on anyone's toes! <3

[2018-10-12 03:08] #1274 closed

[2018-10-12 04:14] jdlrobson commented on #1215
Is this still a problem now we upgraded to slick?

[2018-10-12 05:14] tfmorris commented on #1324
@Zacharius It looks like @hornc already fixed this. Sorry you weren't given credit for it. For future reference, you don't need to create the PR branch in this repo, it can be in any repo that you have commit rights to. Github knows how to do cross-repository pull requests.

[2018-10-12 05:41] mekarpeles commented on #1324
@Zacharius p.s. please do still create a PR (pull request) for your changes! @hornc submitted a hotfix to unblock you but it sounds like the solution you have working is a good one moving forward! 🎉

[2018-10-12 07:19] seabelis opened #1328 "Librarian mode and edit form drop-downs broken"
Cannot access librarian mode when editing an edition. Author and language drop-downs

 are broken. Also (and maybe this is intentional) the works form opens at the top of the edition form. This could end up causing users to add edition-specific information to the works page. (I realize the works page is ultimately going away, so disregard if this is just a work in progress.)![fullscreen capture 10

[2018-10-12 07:21] mekarpeles commented on #1328
@seabelis always greatly appreciate your feedback. This seems like an issue to me.

[2018-10-12 07:59] ChangezKhan commented on #1280
@cdrini your solution worked perfectly. Big thanks.

One thing I have to mention here that before running `git reset --hard HEAD`, I had to run `git BASH` as an Administrator, cause I was getting "unable to create symlink permission denied" issue without that.

[2018-10-12 08:10] seabelis opened #1329 "Book Covers: drag and drop broken, button almost off screen"
Trash position fixed, but drag and drop does not work at all. Also, SUBMIT button almost off screen.
![fullscreen capture 10122018 100536 am bmp](https://user-images.githubusercontent.com/17739465/46856530-fb893900-ce06-11e8-804e-b9458a1a189a.jpg)

[2018-10-12 08:45] mekarpeles commented on #1329
Ah, this is in an iframe. This a regression and a problem likely of the scheme @jdlrobson and I are using with respect to setting <body id="">. With these new changes, we critically need some special case to avoid displaying the header, etc.

[2018-10-12 14:14] jdlrobson commented on #1262
Does the edit help?

[2018-10-12 15:29] mekarpeles commented on #1215
Still an issue: see same email provided with ?debug=true

[2018-10-12 15:36] #1278 closed

[2018-10-12 16:06] #1199 closed

[2018-10-12 16:06] #1329 closed

[2018-10-12 16:22] jdlrobson commented on #993
Because of the associated performance issues with adding a new carousel and more images, I don't want to mark this as easy.

[2018-10-12 16:36] mekarpeles commented on #729
Resolved by #1325

[2018-10-12 16:36] #729 closed

[2018-10-12 16:43] mekarpeles opened #1335 "diff mode has broken css/html"
Possibly requires css clearfix or missing div

https://openlibrary.org/works/OL17902308W/Modeli_strukturno-funkt%CD%A1s%EF%B8%A1ional%CA%B9noi%CC%86_organizat%CD%A1s%EF%B8%A1ii_nekotorykh_biologicheskikh_sistem?a=1&b=1&_compare=Compare&m=diffDiff mode

[2018-10-12 17:50] dcapillae opened #1336 "Removal of Internet Archive indentifiers by Clean Up Bot"
Hi,

[Clean Up Bot](https://openlibrary.org/people/horncBot) is deleting some Internet Archive identifiers. For example, [this change](https://openlibrary.org/books/OL26478341M/La_fantas%C3%ADa_de_la_individualidad?b=10&a=9&_compare=Compare&m=diff). I have detected similar deletions in other books added by me.

The IDs are correct. What is the problem?

Thank you.

Regards,
Daniel

Mentions: @horn

[2018-10-12 18:09] jdlrobson opened #1337 "Address choose a book cover styling"
Visit https://dev.openlibrary.org/works/OL15203543W/Meistersinger_von_N%C3%BCrnberg
Click manage covers

Seen:
![screen shot 2018-10-12 at 11 03 32 am](https://user-images.githubusercontent.com/148752/46886257-37c09780-ce0f-11e8-965d-a129ef20f3ec.png)

It's not possible to get to the upload form.

[2018-10-12 19:50] jdlrobson opened #1339 "Editions component on mobile"
On mobile visit http://openlibrary.org/works/OL15203543W/Meistersinger_von_Nürnberg

![screen shot 2018-10-12 at 12 43 57 pm](https://user-images.githubusercontent.com/148752/46890720-87599000-ce1c-11e8-9d8c-9bb027fa27eb.png)

The interface is very cramped.

Using media queries I think this could be improved to look like this:

![screen shot 2018-10-12 at 12 49 19 pm](https://user-images.githubuse

[2018-10-12 19:52] jdlrobson commented on #1339
Help from an actual designer would be appreciated here!

[2018-10-12 20:17] #1284 closed

[2018-10-12 20:17] #1337 closed

[2018-10-12 20:50] #1335 closed

[2018-10-12 22:49] cdrini commented on #1280
Ahhh, right; that sounds vaguely familiar :P Great! I'm going to close this issue as resolved. I've opened #1321 to track updating the documentation (feel free to tackle it if you feel like it!).

Happy coding!

[2018-10-12 22:49] #1280 closed

[2018-10-12 23:01] dcapillae commented on #1336
Thank you, @mekarpeles .

No, I do not think so. The [example](https://openlibrary.org/books/OL26478341M/La_fantas%C3%ADa_de_la_individualidad) is a first edition, a book recently published (2018), and it did not exist in Open Library. I uploaded a [copy](https://archive.org/details/2018LaFantasiaDeLaIndividualidad) to IA and created a page for the book in Open Library (I do this very often).

The

[2018-10-13 00:13] linkel commented on #1248
Hello!

I went through and made changes to:
- openlibrary/plugins/upstream/account.py
- openlibrary/templates/account/create.html

Added the v2 page object on the template parts for the first file and then wrapped two functions in the window.q handler for the html page. I'm pretty new, so please feel free to give me guidance/corrections.

 [Pull request here.](https://github.com/internetarchive/op

[2018-10-13 00:55] jdlrobson commented on #1248
Im away for the weekend but will have a look when i get back. Thank you for contributing! Cant wait to check it out!

[2018-10-13 11:09] seabelis commented on #1328
Just noticed the ADD ID button is also not working.

[2018-10-13 15:53] thefifthisa commented on #1119
Hey @jdlrobson! I'd like to help out with this if you still need it.

[2018-10-13 16:06] kryptc commented on #29
Hi, can I work on this issue?

[2018-10-13 16:48] jdlrobson commented on #1119
We do! Go for it @thefifthisa !

[2018-10-13 17:41] thefifthisa commented on #1119
@jdlrobson Great, thanks! Can I know which ones you've already done so I know where to start?

[2018-10-13 22:03] mekarpeles commented on #686
Hi @Ayshhh, thanks for helping out :)
A first great step is trying to get docker running -- if you're open to trying, we'd love to know if you experience any trouble!

[2018-10-13 22:09] mekarpeles commented on #1328
Thank you, opening this as a 2nd issue so it doesn't get lost!

[2018-10-13 22:11] mekarpeles opened #1346 "On edit page, `add id` btn not working"
Related to #1328
@seabelis notices the `add id` button on edit page is also not working.

[2018-10-13 22:12] mekarpeles commented on #29
Sure! We'd love that @kryptc!

[2018-10-13 22:30] mekarpeles commented on #1248
code reviewed and offered feedback (also remote today, happy to help as availability permits) :)

[2018-10-13 22:52] aditya81070 commented on #686
Hello, @mekarpeles   I want to contribute to Internet Archive open source projects. I know javascript and react. How can I join slack and how can I get start to contribute?

[2018-10-14 07:29] Ayshhh commented on #686
How can I help you in contributing any project from my side?

[2018-10-14 08:10] salman-bhai commented on #686
Hi we're active on our Gitter channel on getting any first timer to get started with Open Library.

[2018-10-14 08:10] salman-bhai commented on #686
Please do take a look at our especially the one with the tag "Hacktoberfest"

[2018-10-14 08:58] seabelis opened #1347 "Search bar: drop down clickable area extends over input area"
When clicking into the search input area, one must go several placeholders into the text input box to avoid activating the drop down - About where the "r" in the default "Search" label is (in Chrome).

Sorry to be the bearer of bad news once again.

[2018-10-14 09:15] seabelis commented on #1346
Can probably change this to all buttons not working. Cannot add an additional contributor (editor, etc.) either.

[2018-10-15 06:37] aditya81070 commented on #686
@salman-bhai where I can find gitter link?

[2018-10-15 06:41] aditya81070 commented on #1146
@salman-bhai Can I take this issue?

[2018-10-15 06:46] mekarpeles commented on #686
@aditya81070 here you go!
https://gitter.im/theopenlibrary/Lobby

[2018-10-15 06:52] mekarpeles commented on #1146
@aditya81070 I don't know if this will be the easiest issue to work on because it requires some background knowledge of our internationalization system. If you feel confident in what the `$_(...)` syntax is doing and when to use it, go for it! Otherwise, we're happy to help you find a good first issue :)

[2018-10-15 06:56] aditya81070 commented on #1146
Okay, I think first I should setup docker container and after that, I
should look for issues. I would like to work on first issue to learn things.

On Mon, 15 Oct 2018 at 12:22, Michael E. Karpeles <notifications@github.com>
wrote:

[2018-10-15 07:02] mekarpeles commented on #996
@gabru-md sorry I must have missed your message!

`openlibrary/macros/databarWork.html` and `openlibrary/plugins/openlibrary/js/ol.js`

[2018-10-15 07:08] #901 closed

[2018-10-15 07:45] tabshaikh commented on #1146
This issue is almost solved in my local repo, will open a pull request soon :)

[2018-10-15 14:12] LeadSongDog commented on #1346
It isn't just buttons. The "Librarian Mode" link on the edit page doesn't work either.
<a title="Expose another 20 fields about the edition" id="libraryMode" accesskey="l" href="javascript:;">Librarian Mode</a>

[2018-10-15 14:14] seabelis commented on #1346
Yup. https://github.com/internetarchive/openlibrary/issues/1328

[2018-10-15 15:15] LeadSongDog commented on #1346
Is any javascript still working?

[2018-10-15 15:33] usmanmuhd commented on #1262
@jdlrobson Shall I take this up?

[2018-10-15 16:32] hornc commented on #1336
Thank you for reporting this @dcapillae. I ran the clean up bot to perform some bulk policy clean ups, and it looks like your items were altered unintentionally. Apologies for that! I will endeavour to identify and re-instate the item ids that I removed incorrectly. Lets' keep this issue open until we agree they are fixed.

[2018-10-15 16:35] jdlrobson opened #1349 "Subject page is broken"
As reported [on slack](https://internetarchive.slack.com/archives/C0ETZV72L/p1539382135000100) - the subjects page carousel JS is not initialising...

Navigation controls are broken

[2018-10-15 16:50] jdlrobson commented on #1347
Just to clarify that I understand this one.. are you referring to the yellow boxes in these screenshots being click area for the dropdown?

![screen shot 2018-10-15 at 9 49 25 am](https://user-images.githubusercontent.com/148752/46965404-9bd99a80-d05f-11e8-8746-5e0c7fccfc68.png)
![screen shot 2018-10-15 at 9 49 12 am](https://user-images.githubusercontent.com/148752/46965406-9e3bf480-d05f-11e8-80f

[2018-10-15 23:48] jdlrobson commented on #1119
@thefifthisa I'd recommend to start with adding the rule to the existing [stylelint config file](https://github.com/internetarchive/openlibrary/blob/master/.stylelintrc.json) and making sure you can see the errors locally when you run

[code]
![screen shot 2018-10-15 at 4 46 27 pm](https://user-images.githubusercontent.com/148752/46984403-deb86400-d099-11e8-833b-9dccccc2d16c.png)

I'm seeing lots

[2018-10-16 02:29] dcapillae commented on #1336
Thank you, @hornc. The most important thing for me is to avoid the deletion of new IDs in the future. The IDs accidentally deleted can be recovered, no problem.

Thanks again for your collaboration.

[2018-10-16 03:12] jdlrobson commented on #1262
Go for it!

[2018-10-16 03:32] thefifthisa commented on #1119
@jdlrobson Got it, just submitted a PR!

[2018-10-16 04:02] #1328 closed

[2018-10-16 04:03] #1349 closed

[2018-10-16 05:05] propainter commented on #1070
@mekarpeles  Please elaborate

[2018-10-16 13:11] salman-bhai commented on #2
@mekarpeles I think we should close this!

[2018-10-16 13:11] salman-bhai commented on #3
@mekarpeles I think we should close this!

[2018-10-16 13:13] salman-bhai commented on #163
@mekarpeles @hornc is this still an Issue? Is it possible to add a `Hacktoberfest` label to it or will it be too complicated?

[2018-10-16 13:15] salman-bhai commented on #143
@mekarpeles could this be a first timer issue for a feature that we'd like to have under Hacktoberfest?

[2018-10-16 13:16] salman-bhai commented on #100
@mekarpeles looks like a Documentation Issue to me? Could we add this for Hacktoberfest?

[2018-10-16 15:02] LeadSongDog commented on #269
#477 relates. @salman-bhai, how would this work on the Wiki? Sure it can clarify the proper use of the field, but it takes code to automate the cleanup. It is far too widespread to attack manually.

[2018-10-16 17:58] dylsteck commented on #1339
I can help out with this @jdlrobson
The main issue is that since some of them have these buttons and some don't, the interface looks cluttered on mobile.

[2018-10-16 18:03] jdlrobson commented on #1339
I also wonder if a carousel would make sense here.... it would look nicer on both desktop and mobile. Tables are not great ways to display information across different mediums.

[2018-10-16 18:21] dylsteck commented on #1339
Either a carousel or a re-formatted table would be fine. The only issue with a carousel is click-ability on mobile. I will explore both options

[2018-10-17 00:58] mekarpeles commented on #1240
[code]

[2018-10-17 03:53] mekarpeles commented on #1346
Thank you @LeadSongDog! Nothing to be sorry about, in fact that you for bringing this to our attention! Glad we addressed some of these points in #1351 -- re-opening this issue and tagging as `priority`

[2018-10-17 04:05] mekarpeles commented on #1324
@hornc @Zacharius would this still benefit from Zachary's commits?

[2018-10-17 04:08] jdlrobson commented on #1240
Check nodejs -v as on some ubuntu builds node is something else and that version seems suspiciously  old...

[2018-10-17 04:11] mekarpeles commented on #1240
[code]

[2018-10-17 04:12] jdlrobson commented on #1240
Wowser! So old! We can bump that up to at least 6, right...?!?

[2018-10-17 04:30] jdlrobson commented on #1346
Just want to check I'm understanding the bug here:

![editbook](https://user-images.githubusercontent.com/148752/47062294-1b638880-d18a-11e8-9505-73ac2ba8db68.gif)

I'm seeing
[code]
The issue is that selector  -[input[type!=button]
It should be input[type!=button]

[2018-10-17 08:34] mekarpeles opened #1357 "Error calculating book pages count in Author view"
Error calculating book pages count in `openlibrary/templates/type/author/view.html`
[code]

[2018-10-17 09:46] seabelis opened #1359 "Archive.org site search"
I'm not sure if this should be posted elsewhere given it's regarding the site search on archive.org rather than OL.

The magnifying glass icon disappears when one clicks into the search bar. This causes the text to shift over which is annoying, but sometimes results in the wrong text being highlighted if trying to change existing text; sometimes the new text appears at the end rather than replacin

[2018-10-17 13:20] LeadSongDog commented on #1346
Notice that after clicking “Add” the Author “Jon Robson” is _not_ shown under Author “E. B. White”? It used to work until yesterday.

[2018-10-17 14:40] jdlrobson opened #1360 "Let's lint our JavaScript with eslint!"
Stylelint gives us protection from various CSS issues. Let's do the same for our JS.
eslint is the most mature and provides a list of rules [we can make use of if we deem the need.](https://eslint.org/docs/rules/)
[code]
In package.json, add a new command
[code]
Add an .eslintrc.json
[code]

We'll set the errors to warn for the time being and as soon as the config is merged we should coordinate wi

[2018-10-17 15:36] jdlrobson commented on #1347
Thanks @glatteis
Can you post some screenshots of how this works with javascript disabled?

[2018-10-17 18:42] Isfaaq commented on #1296
Can I contribute to resolve this issue too?

[2018-10-17 18:44] weatherwaxed commented on #1296
Yes, sorry I have been busy and it slipped out of my mind

[2018-10-18 01:17] Isfaaq commented on #1360
Hi. Can you assign me to resolve this issue?

[2018-10-18 01:46] Zacharius commented on #1324
super sorry for late reply. I made a pull request. Tried to follow naming scheme for my branch but I'm not sure about that. I appreciate you humoring me with the hacktoberfest tag, not sure I deserve the credit for such a low effort issue.

Please let me know if I did anything incorrectly with the branch naming convention or the way I made the pull request so I can do things better in the future.

[2018-10-18 03:07] Zacharius commented on #1110
I have a likely solution at https://github.com/Zacharius/openlibrary/tree/1110/feature/loan-timer-on-book-page. Can someone run it on the dev site to see if it works?

I ran the docker image with the code and it didnt give any errors or look wonky on the books page so thats promising. Not sure how else to test it

[2018-10-18 06:03] kryptc commented on #29
Sorry for the delay, I was having some trouble installing docker on my system

[2018-10-18 14:27] mekarpeles opened #1365 "On /books/add author auto-complete broken (prevents resolving to OLID)"
The author js dropdown @cdrini enhanced has regressed, meaning that we're likely creating copius amounts of duplicate authors during book creation.

Typing an author name used to complete against a dropdown and replace the author with the author's openlibrary id when there was a match

[2018-10-18 14:43] mekarpeles commented on #1346
[code]

[2018-10-18 15:08] #1346 closed

[2018-10-18 15:14] jdlrobson commented on #1365
Fixed in 0b20cf4

[2018-10-18 15:38] jdlrobson commented on #1264
Do we have any caching/profiling in place on the backend?

[2018-10-18 15:45] jdlrobson opened #1367 "Increase expiry date / maximum age for static resources to 1 day"
In #1264 we talk about potential performance improvements. One that is very actionable is setting longer expiry dates for static resources.

"Setting an expiry date or a maximum age in the HTTP headers for static resources instructs the browser to load previously downloaded resources from local disk rather than over the network."

Note: all expiry dates suggested are just guidelines - feel free to

[2018-10-18 15:52] jdlrobson opened #1368 "Use svgo to compress existing svg assets"
[code]

Add an .svgo.yml
[code]

and add a svg minification job to package.json

[code]

Finally, run it and commit all the compressed SVGs for a performance win!

[2018-10-18 16:11] #1365 closed

[2018-10-18 23:53] danman01 commented on #996
Hi, I am going to look into this issue unless @gabru-md is already working on it?

[2018-10-19 04:03] jdlrobson opened #1371 "Hide the page banner on mobile."
It's great that you can embed open library books on your website, but I'm not sure such messaging makes sense on mobile and it detracts from using the other features of the site.

![screen shot 2018-10-18 at 9 02 54 pm](https://user-images.githubusercontent.com/148752/47197168-4b8d6180-d319-11e8-8be0-f3c0c365102e.png)

How do we feel about hiding this at mobile resolutions?

![screen shot 2018-10-

[2018-10-19 04:06] jdlrobson commented on #1248
This looks done to me!
Thank you @linkel let me know if I can help review anything else from you!

[2018-10-19 04:06] #1248 closed

[2018-10-19 04:09] jdlrobson commented on #1191
Looks like they were added in c2202538 by @anandology and never used?

[2018-10-19 04:10] jdlrobson commented on #1170
Superseded by #1368

[2018-10-19 04:10] #1170 closed

[2018-10-19 04:14] jdlrobson commented on #1005
@psyked which page did you run this on?

I'm able to replicate the contrast issues quite easily, but not the labels...

[2018-10-19 04:15] jdlrobson commented on #978
@LeadSongDog sorry to be a newbie but can you clarify what you mean by facets here? Can you add some screenshots?

[2018-10-19 04:16] jdlrobson commented on #980
Can this still be replicated?

[2018-10-19 04:18] jdlrobson commented on #949
This is what we are looking to replace (the png), correct?
![screen shot 2018-10-18 at 9 17 59 pm](https://user-images.githubusercontent.com/148752/47197464-50531500-d31b-11e8-873a-522692d0bf30.png)

[2018-10-19 06:49] linkel commented on #1371
It does take up 1/5th of the screen, doesn't it? I vote for removing it from mobile.

[2018-10-19 09:33] FilippoGuarda commented on #1371
i'd be for removing it, someone working on a website probably would open a tab in his computer browser, while a smartphone user is more likely to be looking for informations about a particular book.

[2018-10-19 11:40] amos-o commented on #1368
Since this is still open, I can raise a PR if no one is working on it :)

[2018-10-19 13:56] seabelis opened #1375 "Add a Book page gets stuck"
Cannot get past the "Add a Book" screen when a match is found. Cannot select existing edition and cannot select "Continue" at bottom.
![fullscreen capture 10192018 35337 pm bmp](https://user-images.githubusercontent.com/17739465/47222617-7d550580-d3b7-11e8-8d5a-4360c08e0450.jpg)

[2018-10-19 14:59] LeadSongDog commented on #978
Sure. Facetted search (where it works) is a way of refining search results.

The search by author name yields:
![facets](https://user-images.githubusercontent.com/11435431/47225535-5503e180-d38c-11e8-9f9e-c73bdee1edec.jpg)

Selecting two "Subject" facets "In Library" and "Protected Daisy" yields:
![selected facets](https://user-images.githubusercontent.com/11435431/47225567-61883a00-d38c-11e8-9d19

[2018-10-19 16:46] mekarpeles commented on #1371
Enough votes to justify. Let's do it.

[2018-10-19 16:52] LeadSongDog commented on #727
Compare:
https://openlibrary.org/subjects/fiction_:_thrillers
https://openlibrary.org/subjects/fiction__thrillers
https://openlibrary.org/subjects/fiction_thrillers
https://openlibrary.org/subjects/fiction_/_thrillers
https://openlibrary.org/subjects/fiction_%2F_thrillers
https://openlibrary.org/subjects/fiction+/+thrillers
https://openlibrary.org/subjects/fiction+%2F+thrillers

[2018-10-19 17:43] LeadSongDog commented on #961
At some point we are going to need to clean up all these redundant delinked work records. Typically these show on title or author searches as having 1 or editions, but not consistently. For instance,
https://openlibrary.org/works/OL17835670W is shown on https://openlibrary.org/authors/OL7396111A/Siddhartha_Mukherjee as having 1 edition, but internally it shows no editions. Either way, whether is s

[2018-10-19 19:53] thefifthisa commented on #1368
I'd like to take this!

[2018-10-19 20:20] jdlrobson commented on #1368
This has been started in #1369 by @FilippoGuarda !
Has not been tagged with the issue..

[2018-10-19 21:10] #1324 closed

[2018-10-19 21:14] hornc opened #1377 "Rename test_requirements.txt to requirements_test.txt"
The naming of the 3 `requirements.txt` file is not consistent.

rename `test_requirements.txt` to `requirements_test.txt` so that the naming convention is `requirements_XXX.txt`

also update any Docker, Makefile, and travis CI references.

[2018-10-19 21:20] jdlrobson commented on #978
Thank you for this detailed explanation @LeadSongDog !!

[2018-10-19 21:33] jdlrobson commented on #1375
Newbie question.. how can I navigate to this URL?
When I hit https://openlibrary.org/books/add?m=edit&has_fulltext=true I'm not seeing this so I'm guessing this is after submitting a form somewhere?

[2018-10-19 21:59] #1377 closed

[2018-10-19 23:40] hornc opened #1381 "Re-importing an existing book places a msg on the earliest history item instead of the 'import existing book' entry"
Initial record created, from an amazon.com record. is appearing on the first edit on a book's history footer, when it really should be associated with the re-import change.

Example:
https://openlibrary.org/books/OL26354767M/How_to_Be_a_Stoic

[2018-10-20 00:04] #1247 closed

[2018-10-20 14:36] seabelis commented on #1375
I was trying to add this edition from archive.org; anneoftheisland00051gut

Steps to repeat:

1. From https://openlibrary.org/works/OL77790W/Anne_of_the_Island, click ADD ANOTHER.
2. Add details, and click ADD.
![fullscreen capture 10202018 42643 pm bmp](https://user-images.githubusercontent.com/17739465/47256769-5f55d680-d485-11e8-9008-5139e9b1386e.jpg)
3. Screen pictured above displays.. (Today

[2018-10-20 18:06] LeadSongDog commented on #978
To me clear, faceting should be extended not just to author pages, but to the work, book, subject, etc. pages too. We may need to clear up the nature of the "Zoom in: Focus your results using these filters" action.

[2018-10-20 18:29] tamtamchik commented on #1360
Question, why you do not use one of the presets like https://standardjs.com or https://github.com/airbnb/javascript ?

[2018-10-20 23:10] #1360 closed

[2018-10-21 00:43] mekarpeles opened #1388 "ListsLists component shows up with bullet styling"
Should look like
https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#listslists

[2018-10-21 00:44] mekarpeles opened #1389 "Large login input boxes incorrectly applied to all inputs"
@tabshaikh recently made some changes to the login UI -- the input box styling seems to be applied to all input components

[2018-10-21 00:46] mekarpeles commented on #1388
It looks like the styling in general has regressed for this component

[2018-10-21 00:47] mekarpeles opened #1390 "Followup to #1265: Publisher page ListsLists components shouldn't have star ratings"
See #1265 -- same fix, for the publishers page
e.g. https://openlibrary.org/publishers/Worth_Publishers

[2018-10-21 02:07] jdlrobson commented on #1390
Lets remove this from the html rather than hacking it out of the page with css!

[2018-10-21 02:07] jdlrobson commented on #1390
Should we remove lists while at it (?)

[2018-10-21 02:36] kd2718 commented on #764
it looks like this is still an issue. I can take a look

[2018-10-21 03:37] tabshaikh commented on #1389
Let me check what caused this one :)

[2018-10-21 07:57] angussidney commented on #972
I am interested in improving some of your Schema.org markup as part of Hacktoberfest; does anyone have any recommendations of areas of the site which need to be focused on?

[2018-10-21 08:09] mekarpeles commented on #972
I'd say our search pages (in templates/work_search.html) and the books page (templates/type/edition/view.html)

[2018-10-21 15:18] jdlrobson commented on #1360
@tamtamchik i can create an issue later but anything that is under  "possible Errors" snd and autofixable is fair game.

We should coordinate with @mekarpeles to run and commit the autofixes and make eslint error rather than warn.

I want us to get rid of the low hanging fruit !

[2018-10-21 18:51] jdlrobson commented on #1258
Resolved by wiki. closing on assumption docker will make this easier.

[2018-10-21 21:06] FilippoGuarda commented on #1371
i'd like to work on this, where is the html/ css file related?

[2018-10-22 14:30] tabshaikh commented on #1388
Okay will began working on this :)

[2018-10-22 14:52] LeadSongDog opened #1396 "Author page "Add link" recently broken"
Similar to #1328  and #1351
Precludes adding links to VIAF, ISNI, etc from the Links tab on the Author edit page. Button twinkles when clicked, but no link is added

Replication steps:

* visit https://openlibrary.org/authors/OL5797335A/L._M._Montgomery/edit
* click links tab
* click add link
* expected: a link with a cross shows.

[2018-10-22 17:44] jdlrobson opened #1397 "Eslint fix no-unused-vars"
We have eslint linting for our JS. Let's add a rule for [no-unused-vars](https://eslint.org/docs/rules/) as this will remove a lot of dead code. There are 67 errors in the existing codebase that need to be fixed manually. Let's get those fixed.
[code]

- [ ] Add the rule no-unused-vars to .eslintrc.json
- [ ] Fix all offenders

Note: some offenders may be exposed by globals and needed by templates

[2018-10-22 17:55] Atul9 commented on #1397
@jdlrobson I would like to work on this.

[2018-10-22 19:41] ChangezKhan commented on #1280
@cdrini I'll try to update the documentation for the windows users. But one thing I have to say here that before starting vagrant if I enable symlinks then still I get the `No module named infogami` error. Only after hard resetting, it works.

[2018-10-22 20:02] cdrini commented on #1280
@ChangezKhan Nice! Starting from scratch is a great approach for testing this.

Ah, you have to reset the repo after enabling symlinks. After running the checkout command, all the symlinks are created as text files (default on Windows+git). Enabling symlinks doesn't modify what's already been created, so you have reset the repo. The reset removes these "false" symlinks (along with every other file

[2018-10-22 20:06] mekarpeles commented on #993
@JeffKaplan requested -- may be worth swapping this in (in exchange for another carouse). The query would be:
`$:render_template("home/custom_ia_carousel", title="New Arrivals", key="new_arrivals", query="collection:(inlibrary)", sorts=["publicdate+desc",], limit=42, test=test)`

[2018-10-22 23:45] linkel commented on #1250
Does this page still need converting? I took a look at the openlibrary/plugins/upstream/account.py file and the openlibrary/templates/account/books.html file and the former doesn't seem to have any of the "return page" that the other v2 issue pages had, and the latter doesn't seem to have any functions in the html besides the window archive analytics and the window.q clearing at the end.

[2018-10-22 23:57] mekarpeles opened #1401 "Import DOAB (Directory of Open Access Books) into openlibrary"
@bnewbold suggested we add DOAB https://www.doabooks.org/ open access books to Open Library. Seems like a good job for https://github.com/internetarchive/openlibrary-client!

Anyone interested in trying to add these?

[2018-10-23 00:17] bnewbold commented on #1401
OAPEN is a related/joint project that has some additional books, as well as metadata in MARC/ONYX format if that's helpful for import: http://www.oapen.org/content/metadata

[2018-10-23 01:31] jdlrobson commented on #1250
The question is where does the code that renders the template https://github.com/internetarchive/openlibrary/blob/75452cf6f0e3c23e1030395c93e232686ebaa417/openlibrary/templates/account/books.html live...

[2018-10-23 01:38] jdlrobson commented on #1375
Thanks for these instructions @seabellis these are great!
If I put 1920, Page Co. I notice the resulting form is not great on mobile
so highly possible there are bugs here.

Looking at the page im seeing

I will take a look next time I have some available time!!

On Sat, Oct 20, 2018, 7:36 AM Lisa <notifications@github.com> wrote:

--
Jon Robson
twitter: @jdlrobson
linkedin: https://www.linkedin.c

[2018-10-23 01:39] jdlrobson commented on #1396
Any javascript errors in the console?

[2018-10-23 02:39] konpyuta commented on #1005
Concerning the color contrast issue:
The _Join Waitlist_ buttons (.borrow_unavailable) also do not have enough contrast (#ffa238 bg, #ffffff text). May I recommend using the banner bg color (#026dab) for the buttons, and #CC4E0C for the .borrow-unavailable buttons? Also is darkening the blue in the Open Library logo a possibility?

Here is an example of what how it would look:
<img width="1033" al

[2018-10-23 04:09] jdlrobson commented on #1375
Update: I'm seeing only 2 issues with this page:

1) the mobile friendliness
2) The x's do not work when adding authors:
![Uploading Screen Shot 2018-10-22 at 9.06.32 PM.png…]()

I have been unable to replicate getting stuck like @seabelis

[2018-10-23 18:00] mekarpeles opened #1406 "remove `beta` directory (deprecated)"
`beta/` directory and its children are no longer needed

[2018-10-23 18:07] mekarpeles commented on #1359
Tagging @bfalling so he can transfer to the archive.org Jira and closing :)

[2018-10-23 18:07] #1359 closed

[2018-10-23 18:13] #1321 closed

[2018-10-23 18:44] #1406 closed

[2018-10-23 18:53] ChangezKhan commented on #1401
@mekarpeles I would like to take this. Can you guide me on this?

[2018-10-23 19:07] mekarpeles opened #1409 "No module named opds?"
[code]

[2018-10-23 19:16] #1396 closed

[2018-10-23 20:31] hornc commented on #893
Resolved in https://github.com/internetarchive/openlibrary/commit/cd67d7bfd666561124885c0cfe1e077cb82e5fe5

[2018-10-23 20:31] #893 closed

[2018-10-23 20:50] hornc commented on #761
code for this is at https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/books/edit/edition.html#L171

we should exclude editions from this drop down.

[2018-10-24 00:44] mekarpeles opened #1414 "Coverstore add should POST isbn for editions having isbn"
It seems like covers in coverstore store an unsynced copy of isbns, so there are a lot of editions which have isbns but do not list isbn in the `cover` table (`isbn` field) on `ol-db1`. This would theoretically break links like http://covers.openlibrary.org/b/isbn/9780385472579-S.jpg .

This is very likely a regression and a priority issue which potentially blocks partners e.g. betterworldbooks fr

[2018-10-24 01:31] jdlrobson opened #1417 "Eslint: new lines at end of file"
We have eslint linting for our JS. Let's add a rule for [eol-last](https://eslint.org/docs/rules/) for consistency.
[code]

- [ ] Add the rule eol-last to .eslintrc.json
- [ ] Run npm run lint:js and fix all 7 offenders

[2018-10-24 02:20] jdlrobson commented on #1005
Sounds sensible to me!
@mekarpeles any issues with this?

If we do want to make a change it should be straightforward - replace the colors in
https://github.com/internetarchive/openlibrary/blob/master/static/css/less/colors.less

[2018-10-24 03:15] #761 closed

[2018-10-24 04:07] #1417 closed

[2018-10-24 04:14] jdlrobson opened #1419 "eslint: no-mixed-spaces-and-tab rule"
We have eslint linting for our JS. Let's add a rule for [no-mixed-spaces-and-tab](https://eslint.org/docs/rules/) for consistency.

- [ ] Add the rule no-mixed-spaces-and-tab to .eslintrc.json
- [ ] Run npm run lint:js and fix all offenders

[2018-10-24 04:15] jdlrobson opened #1420 "eslint: no-redeclare rule"
We have eslint linting for our JS. Let's add a rule for [no-redeclare](https://eslint.org/docs/rules/) for consistency.

- [ ] Add the rule no-redeclare to .eslintrc.json
- [ ] Run npm run lint:js and fix all offenders

[2018-10-24 04:15] jdlrobson opened #1421 "Eslint: no-useless-escape"
We have eslint linting for our JS. Let's add a rule for [no-useless-escape](https://eslint.org/docs/rules/) for consistency.

- [ ] Add the rule no-useless-escape to .eslintrc.json
- [ ] Run npm run lint:js and fix all offenders

[2018-10-24 07:04] garethmcc commented on #1419
I'll grab this

[2018-10-24 13:18] kryptc commented on #29
Hi, I had a question regarding where the file corresponding to the add-cover section is. In the recentchanges directory in templates, there is no add-cover directory. Where do I make the changes?

[2018-10-24 15:07] seabelis commented on #1346
Still cannot add Amazon.co.uk or Amazon.ca IDs. Amazon.com works. I have not tried the others.

[2018-10-24 16:34] jdlrobson opened #1426 "Eslint: Audit global variable usage"
We have eslint linting for our JS. Let's add a rule for [no-undef](https://eslint.org/docs/rules/) for consistency.

Define the environment in .eslintrc.json:

[code]

Make sure all other undefined variables are accounted for (see below)

# Checklist

- [ ] Enable no-undef eslint rule.
- [ ] Define the global environment (browser:
- [ ]  Make sure  --config .eslintrc.json is passed in the lint:js

[2018-10-24 17:19] jdlrobson opened #1427 "Reading lists should be v2"
This is a follow up to #1250 We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2". The  reading list pages should be converted. These are:
* /lists
* /people/username/lists
It should also apply to a list itself:
* /people/openlibrary3746/lists/OL1L/Romance_in_the_air

![screen shot 2018-10-24 at 10 16 56 am](https://user-images.githubusercontent.com

[2018-10-24 18:34] konpyuta commented on #1005
The only caveat is that the primary button inside the banner might need another class/additional styling. In the screenshot I just put 70% opacity white bg and black text, but you could also make it an outline button.

[2018-10-24 20:50] redpfire commented on #1420
I'm gonna take a look at that :)

[2018-10-24 23:32] mekarpeles commented on #1005
I'm open to colors with more contrast but I want to be mindful not to just "darken until accessible". The darker blue is significantly different than the Open Library logo background and I'd love for us to go in the direction of fewer colors if we're going to make changes.

I'm also not a big fan of the red/orange waitlist button. A solid primary red  (and something closer to a solid primary blue)

[2018-10-24 23:33] mekarpeles commented on #1005
Thanks @psyked and @konpyuta for helping push this forward!

[2018-10-25 00:20] ajluong commented on #1426
I'm going to take a look at this

[2018-10-25 06:09] #1419 closed

[2018-10-25 08:16] seabelis commented on #1005
You probably want to avoid changing the logo color itself since that is your branding, but it is possible to create a color palette for the site's components that would aesthetically agreeable. Quick examples:
https://color.adobe.com/cloud/aHR0cHM6Ly9jYy1hcGktYXNzZXRzLmFkb2JlLmlv/library/76fb32fc-5611-47f6-a3d6-301ae7d2cd77/theme/6f33ef4d-ca5a-4106-a848-ec38708c1867/
https://color.adobe.com/cloud/

[2018-10-25 09:40] dcapillae opened #1432 "Search for translations in different languages to the original work"
Hi,

When we search for a title in Open Library, the search results refer to works published with that title in the original language. This is inconvenient when we search for an edition published in a language different from the original work (translation).

For example, if someone searches for a Spanish edition of "The Human Condition" by Hannah Arendt, he would write "La condición humana" (Spani

[2018-10-25 18:01] Zacharius commented on #1110
@mekarpeles any chance you can help me test this?

[2018-10-25 18:30] mekarpeles commented on #1347
This (noted by @JeffKaplan is also preventing people from clicking on the first letter of their search to change it

[2018-10-25 18:30] mekarpeles commented on #1347
This may be addressed by #1362 I'll try to review this today.

[2018-10-25 18:43] mekarpeles commented on #1388
@tabshaikh any thoughts on how we should solve this?

[2018-10-25 18:51] mekarpeles opened #1433 "Add Realtime Validation to Account Registration Page Realtime"
The proposal for this issue is (as a progressive enhancement) to use js to show users real-time as-they-type feedback as to whether their username and/or email are available, and if their password meets the criteria.

## Sub-Tasks
The following issues should be created and resolved before this task may be closed.
- [ ] #2053 - update backend API endpoints
- [ ] #2055 - Add real-time field validati

[2018-10-25 19:16] mekarpeles commented on #1432
Thank you @dcapillae! This is a highly requested feature and I think we (@cdrini, @tfmorris, @hornc, @JeffKaplan and others) are in full support. The question will be finding the resources to push this forward.

Please feel welcome to join any of our weekly community calls and we'd be happy to discuss further and listen to your ideas --
https://github.com/internetarchive/openlibrary/wiki#communica

[2018-10-25 20:09] LeadSongDog commented on #1432
#342 and #643 all over again. I still have seen no explanation offered for why the work is presented instead of the matching edition.

[2018-10-25 20:44] mekarpeles commented on #1432
Thanks! @dcapillae, we're going to close this as duplicate (to be merged with #643) :)

@LeadSongDog -- you do deserve an explanation, but unfortunately there isn't a philosophical explanation I can give you because we all agree with you and others. The explanation is because of resource-constraint. Working with solr (especially given our setup) is not trivial (I think @hornc, myself, @tfmorris, a

[2018-10-25 20:44] #1432 closed

[2018-10-25 20:57] LeadSongDog commented on #1432
@mekarpeles I don’t mean to whine but there seems to be more priority on making things pretty than functional. That’s just wrong.

[2018-10-25 21:09] mekarpeles commented on #1432
@LeadSongDog I don't view it as whining -- we want people to passionately advocate for the issues they feel are important.

Very few of our changes in the last 6 months have involved making things pretty. Most have been addressing technical debt so that we can more easily respond to issues like this one.

Having a working sitemap, a site that works for mobile devices, fixing our bookcover service

[2018-10-25 21:30] LeadSongDog commented on #643
@mekarpeles perhaps correct the issue title to “Show matching edition” as a start?

[2018-10-25 21:49] mekarpeles commented on #643
@LeadSongDog one of the reasons we currently search by work is, a search for Moby Dick would give you several hundred results for the same work.

I am not convinced (based on the calls we've had) that the right answer *is* to to exclusively show edition results. This isn't what goodreads does, for instance. But their search *is* robust to language. I think we'd be losing a lot if we (in a binary s

[2018-10-25 21:51] mekarpeles commented on #643
#342 seems like a good first place to start.

[2018-10-25 22:47] mekarpeles opened #1434 "Select fulltext search queries breaking"
e.g. https://openlibrary.org/search/inside?q=cambridge+companion+to+critical+theory&debug=true
[code]

[2018-10-25 23:43] hornc commented on #950
Update, looks like the writeback is not occurring for items which _update_ and existing OL item, but is when they are created. examples: https://openlibrary.org/admin/imports/2018-09-23  look for entries where STATUS == modified.

[2018-10-26 15:59] #1347 closed

[2018-10-26 18:41] mekarpeles commented on #476
cc: @hornc

[2018-10-26 18:43] mekarpeles opened #1439 "Developer Data Dumps Download page should present size (gb) for each download file"
re: @LeadSongDog's comment on #476
https://openlibrary.org/developers/dumps should show size of dumps (gb)

[2018-10-26 20:34] seabelis opened #1440 "Sort by publication year doesn't recognize all date formats"
For a number of works, I've adjusted the date so that the year is first, i.e. 2008 January and what seems to happen is some sort of grouping according to string length. So dates with months sort first (or last) followed by dates that are years only. But within the group that includes more than the year, there doesn't seem to be any order. I've tried using a numerical date only but same results. Se

[2018-10-27 12:56] schalkneethling commented on #1433
@mekarpeles I would like to take this one. Three questions:

1. This is only client side work, the backend already handles these scenarios?
2. Do you have an existing regex you use to validate the passwords currently on the backend?
3. What are the API calls that needs to be made in order to determine whether the username or email has already been taken?

Thanks!

[2018-10-28 06:05] #1434 closed

[2018-10-28 20:16] seabelis opened #1445 "Error: expected /type/author, found /type/redirect"
To see error message:
1. Edit this work: https://openlibrary.org/works/OL14917323W/Romeo_and_Juliet_Tempest (When I do so and save, I am returned to the edit form with no error message.) Edits not saved.
2. Go to filtered list of works https://openlibrary.org/search?q=title%3Aromeo+author%3Ashakespeare&mode=everything&page=1 (already open in my case)
3. Refresh page and see "expected /type/author,

[2018-10-29 00:45] #370 closed

[2018-10-29 01:56] hornc commented on #1014
Trying to figure out the correct behaviour here, I think the problem behaviour
https://openlibrary.org/api/books?callback=foo
which currently returns: `foo(foo({}););`
should actually produce `foo({});`  to give the simplest illustration of what is wrong.

The Koha bug report gives this real example: https://openlibrary.org/api/books?bibkeys=ISBN%3A067002662X%2CISBN%3A1847727808%2CISBN%3A178033579

[2018-10-29 02:00] hornc commented on #1014
@mekarpeles is the fix here to reinstate `web.header('Content-Type', 'text/javascript')` if there is a `callback`  param? (not 100% sure of the intent behind the c1e1803 changes, but I can see  + agree how this broke)

[2018-10-29 07:58] cclauss opened #1449 "The scripts/20YY (year) directories should be removed"
These scripts were written in legacy Python and [will not be upgraded to run on Python](https://github.com/internetarchive/openlibrary/pull/1272#issuecomment-427703777) so they should be zipped or moved to an archive repo or removed so that this repo contains valid Python code.

[2018-10-29 08:39] cclauss opened #1451 "Check simplejson vs. json in Python files"
Mentioned by @mekarpeles at https://github.com/internetarchive/openlibrary/pull/1317#discussion_r224674662

[__simplejson__](https://github.com/internetarchive/openlibrary/search?q=simplejson) is used broadly.  Do we want to remove simplejson and just use the Python standard library [__json__](https://docs.python.org/3/library/json.html) module instead?

[2018-10-29 08:43] cclauss opened #1452 "Remove calls to pprint() from in use catalog endpoints"
Mentioned by @hornc in https://github.com/internetarchive/openlibrary/pull/1317#commitcomment-30872900

[2018-10-29 08:45] cclauss opened #1453 "catch_and_mail_exception() is not called from anywhere"
Blocks #1317

Mentioned by @hornc in https://github.com/internetarchive/openlibrary/pull/1317#commitcomment-30872900  Can this dead code be stripped out?

[2018-10-29 08:58] hornc commented on #1453
Yes please, remove it. I don't think we want to be handling such errors by email. This code made sense when it was run separately as a script, but not anymore.

[2018-10-29 14:38] #950 closed

[2018-10-29 14:51] #1014 closed

[2018-10-29 16:21] LeadSongDog commented on #777
First example illustrated:
![byline provided](https://user-images.githubusercontent.com/11435431/47664179-e5a0a580-db74-11e8-91c0-a20da3b6f792.png)
![no byline](https://user-images.githubusercontent.com/11435431/47664192-ee917700-db74-11e8-8663-19f7a3040ad4.png)

[2018-10-29 17:55] cclauss commented on #1275
#1454 fixes this issue but opens several more...
* Breaks our Python 2.7 tests
    * [Genshi==0.7.1](https://travis-ci.org/internetarchive/openlibrary/jobs/447905524#L1285)
* Will not pip install on Python 3
    * [pystatsd==0.1.10](https://travis-ci.org/internetarchive/openlibrary/jobs/447928152#L535)
    * [supervisor==3.3.4](https://travis-ci.org/internetarchive/openlibrary/jobs/447914150#L521)

[2018-10-29 18:06] LeadSongDog commented on #1445
The wikimedia approach to redirects is simple and works well. When an url is redirected, a hatnote tells the reader "Redirected from <this>", where <this> is hyperlinked to the original url with "&redirect=no" suffixed.

See for example the spelling error: https://en.wikipedia.org/w/index.php?title=Volcanoe

[2018-10-29 18:30] cclauss opened #1455 "Upgrading dependency Genshi breaks our PyTests"
We need to [upgrade __Genshi__](https://github.com/internetarchive/openlibrary/blob/master/requirements_common.txt#L6) to get Python 3 support but doing so [breaks our PyTests](https://travis-ci.org/internetarchive/openlibrary/jobs/447905524#L1285).

[2018-10-29 20:33] mekarpeles opened #1456 "Fix ISBN API openlibrary.org/isbn/{xxx} to gracefully handle error cases"
Today, when one hits the endpoint openlibrary.org/isbn/{xxx}, the following algorithm is performed:

1. try to fetch the OL edition for the isbn10/13 if it exists
2. If no OL edition exists, attempt lookup on amazon with isbn10 as `asin`
3. If it happens to be isbn13 (which doesn't match `asin` or if isbn10 not on amazon, fail miserably :feelsgood:

The problem occurs when we hit (2) above.
a) if

[2018-10-29 22:05] #1456 closed

[2018-10-30 00:38] hornc commented on #1014
@brevilo I have made a fix for this issue and it is live now, can you please test and let me know if there is anything else that needs changing?

The example URL https://openlibrary.org/api/books?bibkeys=ISBN%3A067002662X%2CISBN%3A1847727808%2CISBN%3A1780335792&callback=KOHA.OpenLibrary.olCallBack&jscmd=data now returns a single
`KOHA.OpenLibrary.olCallBack({ ... });`

[2018-10-30 16:44] jdlrobson commented on #777
Do you remember where it used to be? Maybe wayback machine can help here?

[2018-10-30 16:51] tabshaikh commented on #1409
I was not able to duplicate the error as opds.py is present in the same folder as code.py then that should not have been a problem

[2018-10-30 16:53] tabshaikh commented on #1375
@seabelis said that now she was able to add the book normally in her last comment

[2018-10-30 18:28] LeadSongDog commented on #777
I think it was either
https://github.com/internetarchive/openlibrary/blob/7195f181742af7389843f275eefb2e675055b727/openlibrary/templates/books/edit/edition.html#L345
or
https://github.com/internetarchive/openlibrary/blob/10efe40c7f3b50fd5f23eaf08e9a353885dde553/openlibrary/templates/books/edition-show.html#L70

That double hyphen in the former catches my eye...

[2018-10-30 18:55] #1390 closed

[2018-10-30 20:16] jdlrobson commented on #1375
Can we close this issue @seabellis?

[2018-10-30 22:38] mekarpeles opened #1461 "/isbn fails to amazon fetch if user is not logged in"
Followup to #1456
maybe we should fall back to a standard user account like importbot?

[2018-10-30 22:40] mekarpeles commented on #931
I think @LeadSongDog may be right about this (though I think several things may be broken here).

[2018-10-30 22:43] mekarpeles commented on #1449
We can move them to an archive.org item or a separate repo e.g. `openlibrary-archive`.

In general, moving away from python2 is going to be rather challenging (given it will require a port of webpy and infogami

[2018-10-31 04:52] cclauss commented on #1449
[Webpy is now looking better.](https://github.com/webpy/webpy/pull/483)  It passes the key flake8 tests and passes runtests.sh on all currently supported CPythons _except_ 3.7.

[2018-10-31 09:10] seabelis commented on #1375
I think so. I've not encountered this again.

[2018-10-31 15:59] jdlrobson commented on #1375
please reopen if you see it again!

[2018-10-31 15:59] #1375 closed

[2018-10-31 19:00] mekarpeles opened #1463 "Make Search Results page navigable by Screen Readers"
When a printdisabled reader lands on the search results page, there are a lot of links and information before the actual list of results, and there is no “skip to content” or “skip to results” link at the top of the page.

[2018-11-01 01:18] cclauss opened #1468 "malformed \N character escape in"
After #1466 (or similar) lands, there is one issue that I am unsure how to resolve...
[code]

This also recurrs further down in this same file.  What is this \N supposed to be because Python 3 treats it as a syntax error.

[2018-11-01 01:51] tfmorris commented on #1468
Python 2 seems to silently escape the backslash for any invalid escape sequence, so \N becomes \\N. I'm guessing that's the right thing here, but someone who knows MARC might be able to confirm.

[2018-11-01 03:14] tfmorris commented on #1240
Well, that was painful! The better part of a month later and two wasted development sessions I think I've got both the Docker and Vagrant development environments repaired.

Doesn't really seem like I should have been the one to have to pay the penalty for the broken dev environment, but hopefully it's repaired now if someone wants to review the PR.

p.s. I did **not** change the Docker environmen

[2018-11-01 04:05] tfmorris opened #1486 "Upgrade / phase out statsd client"
The `pystatsd` module is ancient and hasn't been updated in over 5 years. The only user of it is `openlibrary/core/stats.py` which has only had whitespace changes since 2011. If that program is unused (is there an Etsy `statsd` server anywhere in our configuration?) we can just get rid of the dependency. Otherwise we should probably investigate replacing `pystatsd` with [`statsd`](https://pypi.org

[2018-11-01 15:54] LeadSongDog commented on #1440
Not sure, but comparing the adjacent lines, I think that it just might be a typo:
https://github.com/internetarchive/openlibrary/blob/75452cf6f0e3c23e1030395c93e232686ebaa417/openlibrary/macros/Search.html#L56

It looks that <option value="DateDesc">$_.date ($_.newest_first)</option>
should read <option value="DateDesc">$_.date ($_t.newest_first)</option>

[2018-11-01 23:20] hornc commented on #1240
The Xenial vs Trusty probably needs a bigger discussion, and its own issue. I think you raise a valid point, that there is a mismatch between dev and prod versions. I think there is value in the Xenial dev images since they show the upgrade path is possible and functions, but we should have a corresponding Trusty dev version too.

[2018-11-02 01:48] #1397 closed

[2018-11-02 02:37] hornc commented on #1468
this looks like one for me, I'll take a look

[2018-11-02 04:47] #1421 closed

[2018-11-02 05:18] cclauss opened #1488 "Travis CI: Resolve lessc warnings that compress is deprecated"
Should resolve [repeated warnings in Travis CI output](https://travis-ci.org/internetarchive/openlibrary/jobs/449176082#L1116);
[code]

[2018-11-02 05:28] cclauss opened #1489 "How should we concatenate our codebase going forward?"
~~Use __eslint —fix__ to resolve 32 __Unnecessary semicolon  no-extra-semi__ warnings in the Travis output: https://travis-ci.org/internetarchive/openlibrary/jobs/449176082#L1164~~

Notes from @jdlrobson :
eslint was showing warnings for semi colons. These have since been suppressed.
Fixing them might lead to JavaScript reference errors.
The fundamental problem is that we blindly concatenate JS vi

[2018-11-02 05:35] jdlrobson commented on #1488
Duplicate of #1123 ?

[2018-11-02 05:39] jdlrobson commented on #1489
I hope you don't mind but I added some context above. autofixing these is a little dangerous...

[2018-11-02 05:41] jdlrobson commented on #1421
@tonyqui let's continue the conversation about the semicolons in #1489

[2018-11-02 05:42] jdlrobson commented on #1489
I'd like us to add some kind of JS tooling into Openlibrary. I'm not sure what people are comfortable with though. Webpack is obviously the gladiator in this arena but it might be a little heavyweight for what we need.

[2018-11-02 06:18] tfmorris commented on #1468
Haha! Markup here does the same silent escaping trick, so I've quadrupled the backslashes on my second example.

[2018-11-02 19:13] seabelis commented on #924
Getting the same error trying to view the current version...
https://openlibrary.org/books/OL24239956M/Harry_Potter_and_the_Sorcerer's_Stone

[2018-11-02 20:55] #1453 closed

[2018-11-02 22:05] LeadSongDog commented on #714
Hmm, using the search box, an author-search for Αἰσχύλος finds nothing,
https://openlibrary.org/search/authors?q=%CE%91%E1%BC%B0%CF%83%CF%87%CF%8D%CE%BB%CE%BF%CF%82&mode=everything

but an all-search hits the jackpot, finding that string in the "Alternative names" for OL74434A
https://openlibrary.org/search?q=%CE%91%E1%BC%B0%CF%83%CF%87%CF%8D%CE%BB%CE%BF%CF%82&mode=everything

[2018-11-02 22:48] jdlrobson commented on #1489
A short term solution ^^

[2018-11-02 23:41] mekarpeles commented on #1489
i'd be in support of moving toward webpack

[2018-11-03 00:19] jdlrobson opened #1498 "Stylelint: Consistent quotes via 'string-quotes' rule."
We use a mix of quote styles in our codebase. Let's standardise on one and add them t [stylelint docs](https://stylelint.io/user-guide/rules/string-quotes/):

[Stylelint ](https://stylelint.io/user-guide/rules/) (which can be run by using `npm install && npm run lint:fix`)

449 problems with double, and only 324 with single so it seems single is the prefered one here!
[code]
### Checklist
- [ ] Up

[2018-11-03 01:58] mekarpeles opened #1499 "1497 button--large regression"
followup: #1497

`btn--large` in its current form is not achieving a `width: -webkit-fill-available`

![btn](https://user-images.githubusercontent.com/978325/47946986-398eef80-ded1-11e8-89c3-37ab9f9f180a.png)

[2018-11-03 04:54] cclauss opened #1501 "print() is a function in Python 3 in plugins/upstream/acs4.py"
Fixed in #1661

Part of our __make lint__ output when run on Python 3 is:

$ __python -m flake8 . --count --exclude=scripts/20*,vendor/*  --select=E901,E999,F822,F823 --show-source --statistics__
[code]
While [this fix](https://github.com/internetarchive/acs4_py/pull/1/files) is quite simple to make, ./openlibrary/plugins/upstream/acs4.py is [not in this repo](https://github.com/internetarchive/op

[2018-11-03 16:59] jdlrobson commented on #1388
oh this is an easy fix.. i know what's wrong here.

[2018-11-03 18:40] #1388 closed

[2018-11-03 22:38] #1499 closed

[2018-11-04 05:33] #1323 closed

[2018-11-04 05:39] mekarpeles opened #1507 "Activating Reading Log List dropdown shouldn't displace other content"
One thing which is a bit strange about the want to read button / Lists dropdown is that clicking the dropdown pushes the rest of the content on the page down (e.g. the position of its component -- I think prehaps it's `dropit` -- is `relative` rather than `absolute` and high `z-index`)

[2018-11-04 06:41] cclauss opened #1508 "116 undefined names on Python 2.7"
Running __make lint__ on Python 2.7 currently produces this list of _undefined names_
* https://travis-ci.org/internetarchive/openlibrary/jobs/463408266#L493

Each of these have the potential to raise __NameError__ at runtime.  In a compiled language these would be caught by the compiler but more dynamic languages like Python have fewer checks so linting with tools like flake8 becomes more importa

[2018-11-04 15:54] jdlrobson opened #1510 "My loans should be a v2 page"
This is a follow up to #1250 We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2".

This issue concerns the "my loans page" @ https://openlibrary.org/account/loans

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking (so page loads faster)
* page is mobile friendly

To migrate a page do the following
- [ ] Set v2 on the

[2018-11-04 15:57] jdlrobson opened #1511 "Profile page to v2"
This is a follow up to #1250 We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2".

The profile pages should be converted to v2:
* /people/<username>

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking (so page loads faster)
* page is mobile friendly

To migrate a page do the following
- [ ] Set v2 on the page object pa

[2018-11-04 16:06] jdlrobson opened #1512 "Account page to v2"
This is a follow up to #1250 We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2".

The profile pages should be converted to v2:
* https://openlibrary.org/account

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking (so page loads faster)
* page is mobile friendly

To migrate a page do the following
- [x] Set v2 on the p

[2018-11-04 16:06] jdlrobson opened #1513 "Recent changes page is v2"
This is a follow up to #1250 We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2".

The profile pages should be converted to v2:
* https://openlibrary.org/recentchanges

The more modern version 2 (v2) gets
* more modern JS
* JS is not render blocking (so page loads faster)
* page is mobile friendly

To migrate a page do the following
- [x] Set v2 on

[2018-11-04 16:16] jdlrobson opened #1514 "Should My books and user menus be merged?"
![screen shot 2018-11-04 at 8 14 18 am](https://user-images.githubusercontent.com/148752/47966656-c4730580-e009-11e8-8ccf-c067d0d53192.png)
![screen shot 2018-11-04 at 8 14 22 am](https://user-images.githubusercontent.com/148752/47966657-c4730580-e009-11e8-90b1-3ceb30359cbf.png)

Should the "my reading lists" menu be moved into the user menu?

If that happens, these menus have identical contents.

[2018-11-04 16:25] jdlrobson opened #1515 "Consistent whitespacing in our JavaScript"
We use a mix of indentation style in our codebase. Let's apply the [eslint indentation rule](https://eslint.org/docs/rules/indent#enforce-consistent-indentation-indent) rule:

[Eslint](https://eslint.org/) (which can be run by using `npm install && npm run lint:js`)

[code]
### Checklist
- [ ] Update .eslintrc.json with the correct definition
- [ ] fix any offenders detected via `npm run lint:js`

[2018-11-04 16:30] jdlrobson opened #1516 "Consistency!: Trailing spaces and spaces in parens"
We use a mix of indentation style in our codebase. Let's apply some  [eslint  rules](https://eslint.org/docs/rules/) and fix these

[Eslint](https://eslint.org/) can be run by using `npm install && npm run lint:js`

[code]
At time of writing there are 38 problems to fix (38 errors, 0 warnings)

### Checklist
- [ ] Update .eslintrc.json with the correct definition
- [ ] fix any offenders detected v

[2018-11-04 17:11] cclauss commented on #1516
Similar things could be done on the Python code with __autopep8__, __black__ (my personal favorite) or __yapf__.  These would make mods to pretty much every Python file but the readability improvements are palpable.

[2018-11-04 17:28] cclauss commented on #890
I would like to propose an update of the task list based on work done recently:
- [ ] Get the codebase to be Python 3 syntax compatible (see __make lint__ when run on Py3 for status)
    - [ ] #1466 Fix how exceptions are raised in Python 3
    - [ ] #1468 Malformed \N character escape in catalog/marc/load.py
    - [ ] #1501 __print()__ is a function in Python 3 in plugins/upstream/acs4.py
    - [

[2018-11-05 02:55] usmanmuhd commented on #1515
Hey, Can I take this one up?

[2018-11-05 03:28] usmanmuhd commented on #1515
@jdlrobson Could I get a slack invite on `me@usmanmuhd.com`?

[2018-11-05 06:33] hornc commented on #1409
@tabshaikh The line that imports it is https://github.com/internetarchive/openlibrary/blob/b0c1152a1785f2cd7c2e52565a6abf00256e33d5/openlibrary/plugins/openlibrary/code.py#L446

and the file it is trying to target, as you say, looks to be https://github.com/internetarchive/openlibrary/blob/b0c1152a1785f2cd7c2e52565a6abf00256e33d5/openlibrary/plugins/openlibrary/opds.py

I think it should be import

[2018-11-05 06:35] tabshaikh commented on #1409
@hornc ya I think just writing it as import opds is causing the error

[2018-11-05 08:05] cclauss commented on #1409
@tabshaikh wrote:

That is true for Python 2 but not for Python 3 or on Python 2 if [`from __future__ import absolute_import` is at the top of the file](https://github.com/internetarchive/openlibrary/blob/b0c1152a1785f2cd7c2e52565a6abf00256e33d5/openlibrary/plugins/openlibrary/code.py#L4).

[2018-11-05 08:56] #1409 closed

[2018-11-05 16:01] jdlrobson opened #1529 "Login page: Uncaught TypeError: Cannot read property 'split' of undefined"
Visit https://openlibrary.org/account/login in an incognito window

Open developer console and see

[code]

The fixer should understand what this code is doing and why it is breaking.

The developer should take steps to avoid the error (e.g. making sure the JS only runs on the correct page; or deals with this edge case)

[2018-11-05 19:47] #1371 closed

[2018-11-06 04:48] hornc opened #1530 "MARC import, get Author from 700 if no 1xx exists"
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/marc/parse.py#L323

`read_authors()` only reads 1XX fields to determine author

There are... in progress?... comments implying 7xx fields should be used if there is no 1xx

[code]
Here is an example MARC record with no 1XX author: https://ia601304.us.archive.org/32/items/sexuallytransmit00egen/sexuallytransmit00egen_mar

[2018-11-06 05:12] hornc opened #1531 "encoding issues in notes field possibly causing errors on re-import"
https://openlibrary.org/books/OL2249886M

<type 'exceptions.AttributeError'> at /api/import/ia
items

/opt/openlibrary/venv/local/lib/python2.7/site-packages/simplejson/encoder.py in iterencode

on re-import. Suspect it is because of the characters in the notes field ```'notes': {'type': u'/type/text', 'value': <text: u'Signatures: pi1 *\xb2(*2+*3) 2*\u2074(2*4+1) A-4P\u2074 4Q-5B\xb2 5C-5D\u2074

[2018-11-06 06:16] cclauss opened #1532 "Eliminate get_from_local() and get_data() from get_ia.py?"
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/get_ia.py#L223-L251

Deprecated in #1058 and raising _undefined name_ issues in #1508 ([output](https://travis-ci.org/internetarchive/openlibrary/jobs/450404032#L507)), can these two functions be eliminated as dead code?  @cdrini

[2018-11-06 07:16] hornc commented on #1531
Another example causing the same error:
o =
[code]

does not have any `\x` so the encoding looks like a false lead.

Testing the `Text` class https://github.com/internetarchive/openlibrary/blob/b0c1152a1785f2cd7c2e52565a6abf00256e33d5/openlibrary/api.py#L261  with simplejson:
[code]
Does not error

[2018-11-06 08:04] hornc commented on #1531
The actual cause is the Author objects in the data, which is occurring because when `new_work()` is called when an orphan is found at https://github.com/internetarchive/openlibrary/blob/b0c1152a1785f2cd7c2e52565a6abf00256e33d5/openlibrary/catalog/add_book/__init__.py#L567  the edition is passed in as an `Edition` object rather than a `dict`... fix coming soon!

[2018-11-06 16:47] #1426 closed

[2018-11-06 17:46] LeadSongDog commented on #777
doh! The by_statement is in the json, so the edit must have worked, it simply isn't being displayed:

{"translated_from": [{"key": "/languages/fre"}], "number_of_pages": 223, "contributors": [{"role": "Illustrator", "name": "William Ernest Chapman"}, {"role": "Retold by", "name": "Mary Blackwell Sterling"}], "latest_revision": 6, "contributions": ["Sterling, Mary Blackwell."], "source_records": ["

[2018-11-06 18:17] KhalidRmb commented on #1507
Hello! I would like to take this one up as my first issue.

[2018-11-06 18:28] mekarpeles commented on #1507
Yay! Please do @KhalidRmb! We've got your back, as us as many questions as you'd like :)

[2018-11-06 19:41] #1531 closed

[2018-11-06 19:58] jdlrobson commented on #1319
We chatted about this in the community call and agreed that descoping this feature and revising at a later date might be a good idea.

[2018-11-07 06:16] nemobis commented on #973
Good plan! I would add that the deliberately escluded strings, if they're still in use anywhere, could be added to a lower priority web translation project, e.g. by [setting it up on translatewiki.net](https://translatewiki.net/wiki/Translating:New_project).

[2018-11-07 06:20] nemobis commented on #791
Thanks for working on this. It would be great to enlist the help of the translatewiki.net community and software to get more translations (with translation memory and many other features):
https://translatewiki.net/wiki/Translating:New_project

[2018-11-07 07:53] #1507 closed

[2018-11-07 11:16] hornc commented on #791
Thanks for the link to translatewiki @nemobis , it looks promising and just like the crowd sourced method we have been wanting to implement. I will look into what it will take to add Open Library as a project

[2018-11-07 15:59] LeadSongDog commented on #1445
@seabelis @hornc
I saw this again last night when I attempted to add author C. T. Onions to OL16290844W (though technically he was an editor). The add author dropdown showed a match for OL18344A in solr cache (as seen at https://openlibrary.org/search/authors?q=C.+T.+Onions&mode=everything), when it should have shown the redirection target https://openlibrary.org/authors/OL1692246A/Charles_Talbut_

[2018-11-07 17:33] LeadSongDog commented on #1445
https://github.com/internetarchive/openlibrary-client/issues/78 relates

[2018-11-08 03:17] jdlrobson commented on #1250
I ticked the boxes that are taken care of!
https://dev.openlibrary.org/account/books/want-to-read is looking very nice!!!

[2018-11-08 03:47] jdlrobson commented on #1144
.. can we get it removed? :)

[2018-11-08 04:42] jdlrobson commented on #1514
This is what I propose the menu looks like...
![screen shot 2018-11-07 at 8 41 54 pm](https://user-images.githubusercontent.com/148752/48178289-a63d2c00-e2cd-11e8-9f2a-75cd051c5465.png)

It would be consistent across non-js and js users.

[2018-11-08 05:28] #1319 closed, assigned to nobody

[2018-11-08 06:19] himanshuc3 commented on #1191
Should i just delete em off and commit?

[2018-11-08 06:35] tabshaikh commented on #1513
Some components like the list of recent changes would need optimizing for mobile

[2018-11-08 06:58] himanshuc3 commented on #1191
In ```jquery-tweet``` folder, there are html, css and js files. Should I delete all of them off as well, as they are just for demo purposes.

[2018-11-08 10:59] seabelis commented on #1445
Thanks for the information. I'm not sure how I would check for this though. If I activate the author dropdown for the work it shows the main profile for William Shakespeare. I've also tried using OL9388A with same result. I guess what I'm saying is I'm not sure how to act accordingly; what would that action be?

[2018-11-08 13:48] LeadSongDog commented on #1445
To reproduce, edit the work. Click the add author checkbox. Type in C. T. Onions. In a second or less the yellow suggestion drop down for that name appears. Click on that name. Hit save. If the diagnostic does not show promptly it may need a browser refresh. Diagnostic or not, the author will not be added to the work.  What should happen instead is that the _target_ author is added rather than the

[2018-11-08 15:13] jdlrobson commented on #1191
You can safely delete all!

[2018-11-08 15:18] jdlrobson opened #1541 "Simplify the CSS used on the subject page"
Only 6kb of the 25kb of CSS that we serve on the subjects page is used... Since CSS is render blocking it would make sense to split out a new page entry point. This will make the page perform much better for our users!

- [ ]  A new entry point `subject.css` is added to the Makefile
- [ ] bodyid is set to subject
- [ ] Bundle size is measured

[2018-11-08 15:56] jdlrobson commented on #1515
@usmanmuhd  did you get one? Let me know if you get stuck with setup or anything!

[2018-11-08 16:06] jdlrobson commented on #1119
this can be closed... no-descending-specificity is in the codebase thanks to @thefifthisa  :)

[2018-11-08 16:06] #1119 closed

[2018-11-08 16:07] jdlrobson commented on #1103
This has been taken care of - all fonts are in variables now! phew!

[2018-11-08 16:07] #1103 closed

[2018-11-08 16:37] #1190 closed

[2018-11-08 16:47] usmanmuhd commented on #1515
@jdlrobson I have problems with setting up the docker environment. When I `docker-compose up` I get the error
[code]
If I give N also I get the same error.

[2018-11-09 03:13] jdlrobson opened #1545 "It should be possible to run "make" commands outside Docker"
Run

[code]

Expected:
* BEHOLD! The Open library header has a wonderful red background
Actual:
It's still beige.

[code]
The header is now red.

This is super confusing..

Ask: Can docker watch for file changes in static/build/ and run `make css js` where necessary?

[2018-11-09 23:00] mekarpeles opened #1550 "Make sure donation banner doesn't require jquery before defined"
You can see the donation banner here:
https://archive.org/includes/donate.php?ymd=2017-11-28&platform=ol
https://openlibrary.org/subjects/biographies?ymd=2017-12-12

The donation banner currently requires the following js (which has a a dependency on jquery):
https://archive.org/includes/donation_banner/donation.js?v=c43a448

The problem we're experiencing is that the donation banner is being load

[2018-11-09 23:05] #1191 closed

[2018-11-09 23:07] mekarpeles commented on #1550
Related issue on Internet Archive's side: https://webarchive.jira.com/browse/WEBDEV-1860

[2018-11-09 23:11] #1420 closed

[2018-11-09 23:15] #1512 closed

[2018-11-09 23:16] #1144 closed

[2018-11-10 01:03] #1529 closed

[2018-11-10 01:06] jdlrobson opened #1553 "Cache entire homepage to reduce high TTFB"
The home page currently has a time to first byte (TTFB) [of almost 6 seconds](https://www.webpagetest.org/result/181107_6D_b5d5d65a5c06ce14ee0eefa12a5a4332/).
Every time a user hits this page, many Python functions must execute in different parts, hitting solr numerous times.

Each of these solr hits is cached, but in the case of this page, it might make much more sense to cache the final HTML.

S

[2018-11-10 01:17] #1511 closed

[2018-11-10 01:51] LeadSongDog commented on #1553
How often is a front page book borrowed? That should inform the cache time, unless the loan itself can trigger a flush.

[2018-11-10 04:30] tabshaikh commented on #1144
This code can be seen in the branch https://github.com/internetarchive/openlibrary/tree/1144/edition-merge-deadcode

[2018-11-10 17:41] jdlrobson opened #1554 "Publishers page should be v2"
Note: Publishers and languages page are only remaining uses of the jCarousel code. Once they are ported we can remove A LOT of code.

We currently maintain 2 versions of a page.  We are trying to get to one by making all our pages "v2".

This page should be converted to v2:
* https://dev.openlibrary.org/publishers/Lawrence_Erlbaum

The more modern version 2 (v2) gets
* more modern JS
* JS is not r

[2018-11-11 09:48] seabelis commented on #1445
I cannot reproduce on OL10391732M.  If I select the author and save I just land back on the edit form and nothing is saved. I've also tried selecting an incorrect author just to see if the author profile was the issue, but same result.