[2022-02-10 01:17] #6070 closed

[2022-02-10 04:09] homewardgamer commented on #6106
Hey @tuminzee, @jimchamp. I am getting an error while solving the PR.
The error is as follows
<img width="1099" alt="Screenshot 2022-02-10 at 9 37 00 AM" src="https://user-images.githubusercontent.com/73935799/153335225-e10b5494-e5b1-4a86-a193-3de6947c57e4.png">
These are the changes that I have done to the code.
https://github.com/homewardgamer/openlibrary/commit/f8093e9ff312bf09d693274f0b6ac9224

[2022-02-10 07:27] bicolino34 opened #6132 "Delete duplicates in contributors list"
I noticed that there are some duplicates in contributors list (reviewer and reviewers), also, there are roles in other languages which also duplicate existing roles (Typografische Gestaltung, revisão, recenzent). Finally, end of the list is not sorted by alphabet

### Steps to Reproduce

1. Go to ... editing of any book
2. Do ... open contributors roles list

### Related files

### Stakeholders
@m

[2022-02-10 09:23] seabelis opened #6133 ""Add another edition" missing from childless Works"
"Add another edition" should always be available, even if a Work has no other editions.

### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/works/OL5725993W/El_Cubo_B_The_Eternity_Code_%28Artemis_Fowl%29?edition=
### Steps to Reproduce

1. Go to ... an edition-less work.
2. Do ... look for the option to "Add another edition".

* Actual: Option is not available.
* E

[2022-02-10 12:14] seabelis opened #6134 ""/openlibrary/openlibrary/templates/type/edition/view.html: error in processing template: AttributeError: 'NoneType' object has no attribute 'get' (falling back to default template) Unable to render this page.""
Error when viewing some editions. May be solr related. It seems to happen with newer records. Maybe those that have not been indexed yet.
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/books/OL35552510M/Community-Based_Monitoring_in_the_Arctic?debug=true

### Steps to Reproduce

1. Go to ...https://openlibrary.org/books/OL35552510M
2. Do ...see error

* Actual:

[2022-02-10 14:30] roversch commented on #6134
Related to https://github.com/internetarchive/openlibrary/issues/6126?

[2022-02-10 19:53] #6134 closed

[2022-02-10 22:28] mekarpeles commented on #5828
1. [ ] bubblewrap?
2. [ ] service worker.json on archive.org
3. [ ] setting pwa live on google

[2022-02-12 07:29] tuminzee commented on #6123
@MdSahil-oss would you like to work on it?

[2022-02-12 10:05] MdSahil-oss commented on #6123
@tuminzee I would like to work on it.

[2022-02-12 10:19] MdSahil-oss commented on #6123
@tuminzee assign this issue to me

[2022-02-12 10:22] tuminzee commented on #6123
I have assigned you the issue. Happy Contributing!

[2022-02-12 12:48] bicolino34 commented on #4027
I support this idea. At the current state, subjects can't be internationalized #791

[2022-02-12 13:19] bicolino34 opened #6141 "Which OCR engine does Open Library use?"
Which OCR engine does Open Library use?

[2022-02-12 17:47] #6141 closed

[2022-02-12 19:36] tfmorris commented on #5594
It's unreasonable to expect ordinary users to invest this level of **extra** effort when a) they're already volunteering their time and b) it's trivial for the computer to do.

[2022-02-14 11:47] seabelis opened #6144 "Proposal for improving the "Add Book" form (patron request)"
Patron: The Add a book page (https://openlibrary.org/books/add) lacks the "help text" to specify how to input subtitles.

### Describe the problem that you'd like solved

Patron: It would be a best practice to add the same help text that appears on the edition editing view to to the add a book template. Which for reference the current "help text" that should be added is "Use Title: Subtitle to add

[2022-02-14 14:40] #6106 closed

[2022-02-14 15:53] brierjon commented on #6144
@seabelis  "Subtitles typically should not be used in work titles unless needed for disambiguation" isn't what is applied in the work details form. Do subtitles tend to change between editions? Why exempt the subtitle from field storage if it is consistent across works and make the decision to show or not when displayed? It would be useful to clarify this for consistency with help text and example

[2022-02-14 16:00] brierjon commented on #6132
Issue screenshot
![image](https://user-images.githubusercontent.com/717866/153899517-00d1f4f9-30f2-4aac-b6cc-8923d32c0485.png)

[2022-02-14 18:14] #6011 closed

[2022-02-14 19:45] #5506 closed

[2022-02-14 19:55] mekarpeles commented on #5594
I agree w/ @tfmorris, at least by default it seems like having the platform try to select the oldest record seems like it could save time. I wonder if it may deter double-checking though/then.

[2022-02-14 19:56] mekarpeles commented on #5594
@seabelis I'm adding you as the lead if that's okay -- there seem to be a handful of failures listed here and I guess I wasn't fully sensitive to the scope. If this is something engineering can help with, please let us know how :)

[2022-02-14 19:58] mekarpeles commented on #6054
@saieswar13 it seems it's all you if you'd like to take this one on! :)

[2022-02-14 20:11] mekarpeles commented on #4027
@jimchamp and I have plans around subjects (moving many subjects out of the subjects field and into a relational database similar to what we're doing for Community Tags). I'd rather not start a 3rd effort. Ideally everything uses the ~Community Tags structure which has `genre` as a field already.

[2022-02-14 20:11] #4027 closed

[2022-02-14 20:16] mekarpeles commented on #6127
This isn't exactly a good first issue, but we'd love the help if someone from the community is willing to give it a go.

[2022-02-14 20:18] mekarpeles commented on #6132
Marking this as a Librarian task for @seabelis:

This may be edited here
https://openlibrary.org/config/edition.yml?m=edit

[2022-02-14 20:33] mekarpeles opened #6145 "ImportBot adding Editions to (merged) Redirect records -- Breaking Reading Logs"
Find anything which has subjects + /type/redirect using a query like this:
https://openlibrary.org/query.json?type=/type/redirect&subjects~=*&limit=1000

The work-around is to revert these records (prior to merge) but this may lose edits.

:warning: [ ] Ideally, ImportBot doe not add records to type redirect.

In cases where it does happen, perhaps the goal should be to move the metadata on to the

[2022-02-14 20:38] mekarpeles commented on #282
It looks like the records in the original post match now.

[2022-02-14 20:38] #282 closed

[2022-02-14 20:39] tmanarl commented on #5594
https://openlibrary.org/authors/merge?key=OL152307A&key=OL7889785A

[2022-02-14 20:39] mekarpeles commented on #6126
Very sorry this is happening to your Reading Log! @cdrini mentions it looks like the records (which is a redirect) is getting editions attached to it by ImportBot which may be messing things up.
https://openlibrary.org/works/OL1068165W.json

@cdrini reverted the work and it looks like your Reading Log is now fixed. We're making sure we have an issue to prevent this breakage in the future. Thank yo

[2022-02-14 20:39] #6126 closed

[2022-02-14 21:22] mekarpeles commented on #5501
Let's please push up a draft if that's ok!

[2022-02-14 21:23] mekarpeles commented on #6065
Our patch seems to be reaping the performance benefits w/o requiring us to do a ground truth call for **most** cases (the exception being where the API returns `private` or `error`. Closing this issue as resolved for now

[2022-02-14 21:23] #6065 closed

[2022-02-14 21:43] mekarpeles opened #6147 "Mek: Makes sure OSP + Wishlist -> IA have issues for next proposed"
OSP + Wishlist
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-02-14 22:21] cdrini commented on #5992
We determined that this is probably better to day after #2064 , so removing good first issue. Thanks for your patience, @tuminzee !

[2022-02-14 22:35] mekarpeles commented on #6004
Sorry for the miscommunications in this thread. I realize the original description of the issue may not have been very clear (it itself was a brainstorm and probably wasn't correctly labeled as good first issue). This is also why the issue is listed as Needs: Breakdown & Community Discussion. I feel really bad if anyone's feelings were hurt by this thread, that's not the intention; the feedback ab

[2022-02-14 22:37] mekarpeles commented on #6004
@adarsh-kishore786 please do feel free to ask followup questions and or post designs to contribute to the community discussion above!

You are correct in your interpretation that it's very similar to this:
https://github.com/internetarchive/openlibrary/issues/6004#issuecomment-1001288047

[2022-02-15 15:14] KucharczykL opened #6150 "Error when rendering work page"
When opening a work URL, an error is displayed and nothing renders except for the outer layout.
The error is:
[code]

### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/31072879/154090413-01526865-0208-4be5-8e39-96fabbafc503.png)

### Relevant url?
* https://openlibrary.org/works/OL18184289W/La_formule_pr%C3%A9f%C3%A9r%C3%A9e_du_professeur
* https://openlib

[2022-02-15 17:25] tuminzee commented on #5992
Thank you @cdrini for your patience 👯

[2022-02-15 17:26] tuminzee commented on #6054
@saieswar13 best of luck with the issue :)
Thank you for contributing to Open Library

[2022-02-15 17:29] cdrini opened #6152 "Remove `by OpenStax` from all work & edition titles (`title_suggest:"by OpenStax"`)"
Subtask of #5792

A lot of OpenStax works include "by OpenStax" in the title, creating for some silly looking records:

![image](https://user-images.githubusercontent.com/6251786/154116476-37c05250-2734-462e-b3d9-7751432a76c2.png)

Remove " by OpenStax" in a bulk script. This query will find all the results: https://openlibrary.org/search?q=title_suggest%3A"by+openstax"&mode=everything . Let's rem

[2022-02-15 17:29] tuminzee commented on #6004
Best of luck with the issue @adarsh-kishore786
Thank you for contributing to Open Library :)

[2022-02-15 17:34] cdrini commented on #6152
Would you be interested in this one, @jimman2003 ?

[2022-02-15 17:35] jimman2003 commented on #6152
Yeah. Seems well defined..

[2022-02-15 17:35] tuminzee commented on #4708
@LeadSongDog are you interested in working on this issue?

[2022-02-15 17:40] tuminzee commented on #4913
@Yashs911 are you still working on this issue?

[2022-02-15 17:40] tuminzee commented on #4906
@Sabreen-Parveen are you still working on this issue?

[2022-02-15 17:44] tuminzee commented on #4907
@ArunTeltia are you still working on this issue?

[2022-02-15 17:45] tuminzee commented on #4905
@Yashs911 would you still be interested in working on this issue?

[2022-02-15 18:42] cdrini commented on #5594
Oh, this is definitely an engineering issue. This is causing a lot more friction to our librarians than I realized.

[2022-02-15 19:17] cdrini commented on #5594
This example is I think the most useful one for debugging:

https://openlibrary.org/authors/merge?key=OL3745151A&key=OL9158169A

The merge request will try to update all these editions: http://openlibrary.org/query.json?type=/type/edition&authors=/authors/OL9158169A&* by replacing OL9158169A with OL3745151A

If we do a copydocs of all those editions/works into the local environment (i.e. `./copydo

[2022-02-15 19:31] cdrini opened #6153 "Include full url in "Report a problem" emails"
### Describe the problem that you'd like solved
Currently the "Report a problem" form sends the user's URL, but doesn't include any parameters. So staff only sees e.g. `/search` instead of `/search?q=harry+potter`. This makes it harder to debug issues.

### Proposal & Constraints

### Additional context
Currently, the `Report a Problem` link in the footer includes the path, but not the parameters!

[2022-02-15 23:07] #6071 closed

[2022-02-16 00:50] jimchamp opened #6154 "Editions table doesn't always include entry for the page's book"
A recent change to the book page editions table has caused the table to render without the current page's edition in some instances (mainly, if we do not have an ebook for the edition).  We want to ensure that the current page's edition is the first item in the list, and that it has the class `highlight`.

### Evidence / Screenshot (if possible)
![Screenshot from 2022-02-15 19-26-44](https://user-

[2022-02-16 02:29] #6123 closed

[2022-02-16 07:13] Hitansh-Shah commented on #6153
@cdrini I could give this a try. Can I work on it?

[2022-02-16 08:44] seabelis commented on #2066
Suggested edits to:
**I need help correcting book data**
I'd like to report duplicate books or authors
I found a record that is linked to the wrong item

Other:
I'm getting an error message when viewing a book page

[2022-02-16 15:54] LeadSongDog commented on #4708
@tuminzee
Happy to participate in discussions of goals, but my coding days are far behind me. I never really made the switch to OOP, let alone py. I’m a dinosaur.

[2022-02-16 17:24] jimman2003 commented on #6152
Done! Relavant code is here , last cell : https://colab.research.google.com/drive/1LBu0zPkDIrqZ-czW09Y6yzN9VbInEg0K?usp=sharing

[2022-02-16 18:19] #6152 closed

[2022-02-16 18:19] cdrini commented on #6152
Confirmed no results now match the query, thanks @jimman2003 !

[2022-02-16 21:25] #6130 closed

[2022-02-16 22:21] #6150 closed

[2022-02-16 22:22] #6133 closed

[2022-02-17 05:19] KucharczykL commented on #6150
Hi @tuminzee, thank you for working on this! The first link is fixed but the second still gives me an error, though.

[2022-02-17 07:38] saieswar13 commented on #6054
Thank you @mekarpeles, Sir I'm new to open source contribution. Could you please say me how to get start with this issue?

[2022-02-17 08:39] tuminzee commented on #6054
I think the best way to interact would be to ping @mekarpeles on slack

[2022-02-17 09:19] roversch commented on #6126
Thank you!

[2022-02-17 09:27] roversch commented on #6126
Page 3 still seems to have a problem, however: https://openlibrary.org/people/josbos2817/books/want-to-read?page=3

[2022-02-17 14:58] b2pacific commented on #6154
This looks like a good issue for me. Can I you assign this to me @jimchamp ??

[2022-02-17 16:07] Devansh-46 commented on #439
Is it still available to work on this issue

[2022-02-17 17:09] jimchamp commented on #6150
@KucharczykL the changes have not yet been deployed to production.  They are on our testing branch, though: https://testing.openlibrary.org/works/OL8140110W/Midnight_Tides

[2022-02-18 02:33] jimchamp commented on #6154
Thanks @b2pacific!  I should mention an edge case that you may not be aware of.  Sometimes there are works that have no associated editions.  These are called orphaned works.  In the case of an orphaned work, the editions table is displayed with a message saying that there are no editions.  I'm not sure if this information will be useful to you as you work on this, but it's good to know regardless

[2022-02-18 06:05] KucharczykL commented on #6150
@jimchamp Ah, I wasn't aware it's in the testing branch since the first link already started working. Sorry for the noise :)

[2022-02-19 05:06] mekarpeles commented on #5768
@bfalling are Daisy files no longer available on Archive.org?

I can't find them within downloads or on the derive formats chart

I see daisy in some download options on the details page (https://archive.org/details/recursivemethods00stok) but this seems to be on the fly. And the on-the-fly mechanism seems to maybe not be working?
https://ia800906.us.archive.org/epub/index.php?id=recursivemethods0

[2022-02-19 05:31] kb9mwr opened #6160 "Lists: Adding notes to seed"
I know there is a way to add private notes to a book.

I wish there was as way to create public notes within a list.  Rather than just a way to add global notes/description.

I create lists relevant to areas of research.  I have for example, photo copies of sections of be books, revenant to my research.
So I know about portions/chapters of books, but not so much on the rest.  It wouldn't seem righ

[2022-02-19 17:09] cclauss commented on #6069
Manually run 2022-02 ___data dumps___ on `ol-home0` (details at #5892):
* [ ] `tmux`  # keeps the long running process going even if there are network failures
* [ ] `ls -lh /1/var/tmp/dumps`  # See the current data
* [ ] `docker container ls`  # See how new `openlibrary_cron` is
* [ ] `docker exec -it openlibrary_cron-jobs_1 /bin/bash`
* [ ] `cat /olsystem/etc/cron.d/openlibrary.ol_home0`  # See

[2022-02-19 17:54] Sabreen-Parveen commented on #4906
@tuminzee go for it.

[2022-02-19 20:19] bicolino34 opened #6162 "Subjects with same letters in name but in different lowercase and uppercase are duplicated in search"
When you search for subjects, it shows the same subject but with letters in different cases (litrpg, LitRPG), but it leads to the same page. Also, there is an incorrect number of works near the subject name

- [ ] Fix duplication in search
- [ ] Fix duplication in related field
- [ ] Fix incorrect number of works

### Evidence / Screenshot (if possible)
Search result
![image](https://user-images.g

[2022-02-20 14:57] bitnapper opened #6164 "Import as author 'Imported by Yulo inc.'"
### Relevant url?
https://openlibrary.org/authors/OL7459105A/

Guess it should be cleaned and removed.

[2022-02-20 21:35] mekarpeles opened #6165 "Reading Log json endpoint "already-ready" broken"
### Evidence / Screenshot (if possible)

https://openlibrary.org/people/mekBot/books/already-read.json?debug=true

Line 62 should probably be something like

[code]

instead of

[code]

in openlibrary/openlibrary/plugins/upstream/mybooks.py

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **

[2022-02-21 00:46] rickmark opened #6167 "Comprehensive Apple IPSW collection"
To facilitate good quality security research a collection of all published Apple IPSWs must be maintained.  Apple from time to time leaks valuable data, but once these IPSWs are furnished, they loose the ability to claim "trade secret" on the contents.  The collection is a massive amount of data, and there are silos of this information:

- https://www.theiphonewiki.org
- https://docs.hackdiffe.ren

[2022-02-21 01:24] tfmorris commented on #6167
Are they books? That's what OpenLibrary catalogs. If you're looking for the Internet Archive or Wayback Machine, that's a different thing.

[2022-02-21 02:08] rickmark commented on #6167
Sorry for some reason ‘archive.org’ expressly links to this repo, historical reasons?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom Morris ***@***.***>
Sent: Sunday, February 20, 2022 5:25:03 PM
To: internetarchive/openlibrary ***@***.***>
Cc: Rick Mark ***@***.***>; Author ***@***.***>
Subject: Re: [internetarchive/openlibrary] Comprehensive Apple IPSW col

[2022-02-21 05:22] jollypolly123 commented on #439
What about disabling it and adding a message about having borrowed the max amount of books? Or is it unnecessary?

[2022-02-21 09:03] agmckee commented on #6162
This happens because subject data can be in either case but subjects.py normalises the key by lowercasing it. This is going to be another point of frustration with internationalisation. All bicameral scripts will have this issue, and of course there will be a related set of issues with scripts that can represent the same 'letter' in multiple ways i.e. synoglyphs.

Personally I think this is a sign

[2022-02-21 10:14] MdSahil-oss commented on #6165
@mekarpeles  I would like to work on it.

[2022-02-21 14:07] tuminzee commented on #6144
@brierjon that is a good point

[2022-02-21 14:07] tuminzee commented on #6144
@brierjon would you like to work on this one?

[2022-02-21 14:12] cclauss commented on #6069
So... The trouble was that we have two versions of Python 3 on `ol-home0`:
* /usr/bin/python3 is v3.5.2
* /home/openlibrary/.pyenv/shims/python3 is v3.9.4

`root` sees the second but when we `su openlibrary` in the cron job, we go back to seeing the first.

[2022-02-21 14:13] tuminzee commented on #6162
"folksonomy" a user-generated system of classifying and organising online content into different categories by the use of metadata such as electronic tags.

[2022-02-21 14:14] tuminzee commented on #6162
@agmckee thanks for adding a lot of clarity.
@jimchamp what do thing about this one?

[2022-02-22 14:41] khabdrick commented on #5991
Hello @cdrini
i am new to contributing to open library, can you please direct me to the files that handle this function?

[2022-02-22 19:32] mekarpeles commented on #5991
Howdy @khabdrick and @homewardgamer -- apologies that I did not reply to this issue earlier! @tuminzee has spent the past few weeks doing an amazing job helping us reply to contributors who have comments about issues. This specific issue happened to be older than the process he and I are using and slipped through the cracks! We're working on a way to discover issues like this which may be in limbo

[2022-02-22 19:45] jimchamp opened #6170 "Book page navbar improvements"
### Describe the problem that you'd like solved

The navbar found on our book pages has a number of issues:
1. It is not prominently displayed on the page.
2. It overflows on mobile views.
3. It is missing a link to the related works carousels.

### Proposal & Constraints

The following requirements must be met in order to close this issue:

- [x] Navbar should be placed below the title component.

[2022-02-22 19:52] mekarpeles commented on #6069
@cclauss merged the corresponding PR, does that mean this issue may be closed? (if so, please go ahead at your convenience!)

[2022-02-22 19:53] jimchamp opened #6171 "Collapsible table of contents on book pages"
### Describe the problem that you'd like solved

When present, the table of contents can take up a lot of vertical space in our book pages:

![Screenshot from 2022-02-22 14-49-23](https://user-images.githubusercontent.com/28732543/155208114-59e64549-0dbc-4426-a6f8-c59b9896df3f.png)

### Proposal & Constraints

Make the table of contents section collapsible.  The table of contents should be collaps

[2022-02-22 19:59] jimchamp opened #6172 "Collapsible work descriptions"
### Describe the problem that you'd like solved

Work descriptions found in the `.work-info` section of our book pages can take up a lot of vertical space.

### Proposal & Constraints

Make these work descriptions collapsible.  These descriptions should be collapsed on page load.  Ensure that the changes do not negatively affect our book page accessibility score.

### Additional context

### Stake

[2022-02-22 20:16] mekarpeles commented on #6167
I think emailing info@archive.org is the right thing to do! Apologies for the inconvenience @rickmark.

[2022-02-22 20:16] #6167 closed

[2022-02-22 20:23] mekarpeles commented on #6160
Theoretically, it shouldn't be too hard to manually add a "note" field to the json for a seed and display a note **if** it exists. We don't really have a UI for doing this so it might require a bit of a hack. If someone in the community wants to give this a go (as an experiment / proof of concept) seems useful but not super high priority.

[2022-02-22 20:31] mekarpeles commented on #4796
Just a reminder that the data for these books is not in the DB so some sort of join may be necessary (or using solr). One thing we could do is provide a script which allows one to take their reading log dump and then pull all of the corresponding data. This would be a great good first issue if someone wanted to work on it.

The central issue here is performance -- we're exporting the entire Readin

[2022-02-22 20:34] mekarpeles commented on #4588
Noticed there were spaces in the ocaid, removed ocaid and re-testing.

https://openlibrary.org/books/OL31954808M

Fixed!

[2022-02-22 20:34] #4588 closed

[2022-02-22 20:42] mekarpeles commented on #863
Duplicate of #6062

[2022-02-22 21:07] mekarpeles commented on #5501
@cdrini noticed a case where if we deselect the "Already Read" the text "Already Read" remains

[2022-02-23 00:48] jimchamp commented on #5501
Let's consider the new experience before labeling this a bug.  Previously, whenever a book was added or removed from the reading log, the page would reload.  Given that behavior, it makes sense for the button to have the default "Want to Read" value when the book is not on a reading list.

Now that pages do not reload on reading log updates, does it make sense to switch to the default  "Want to Re

[2022-02-23 04:12] homewardgamer commented on #5991
Thanks, @mekarpeles, I will start working on this right away!

[2022-02-24 19:46] mekarpeles opened #6180 "Making Search Results WTR button w/ Lists (consistent w/ books page)"
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2022-02-24 20:48] mekarpeles commented on #5828
@cdrini and I just cut an Open Testing release

Folks from the community should be able to register + download/install using these links **after** google reviews + approves:

- Mobile: https://play.google.com/store/apps/details?id=org.openlibrary.testing.twa
- Web: https://play.google.com/apps/testing/org.openlibrary.testing.twa

For developers, just as a reminder, here is where we went to manage

[2022-02-24 20:48] #5828 closed

[2022-02-25 04:14] Yashs911 commented on #5828
@mekarpeles Yes, will start working on the initial draft.

[2022-02-25 07:50] finnless opened #6182 "Download for print-disabled link sometimes broken"
### Evidence / Screenshot (if possible)

[This edition](https://openlibrary.org/books/OL23673411M/Physics_for_scientists_and_engineers)'s [Download for print-disabled link](https://openlibrary.org/books/OL23673411M/['http://www.loc.gov/catdir/toc/ecip0721/2007026996.html']/daisy) is a 404 because the [daisy macro](https://github.com/internetarchive/openlibrary/blob/7351a1474173e2ac0442e3e0de8ca035

[2022-02-25 09:30] seabelis opened #6184 "Error when trying to add edition to wait list"
Patron sees error message when adding item to wait list. The item is successfully added, but the error makes it appear as if it has not been.
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/books/OL25086706M/Shadow_and_Bone
### Steps to Reproduce

1. Go to ...https://openlibrary.org/books/OL25086706M/Shadow_and_Bone
2. Do ...Add to wait list.

* Actual: /openlib

[2022-02-25 17:37] jimchamp commented on #6184
Opened a PR which corrects the rendering issue, but does not address the underlying problem (outlined in PR).

[2022-02-25 21:04] mekarpeles opened #6186 "Trending Books Carousel"
## Background

For #6014 we created a new Trending page https://openlibrary.org/trending ([code](https://github.com/internetarchive/openlibrary/blob/a67cedf3dcdb417b7980c034984d8f85ad2a9cc3/openlibrary/views/loanstats.py)] and several APIs changes to enable us to query for the most recently logged books (i.e. those added to e.g. one's Want to Read list).

## Goal

The objective of this github issu

[2022-02-25 22:02] mekarpeles opened #6187 "Add ia_wishlist boolean tag to solr search engine"
### Describe the problem that you'd like solved

During solr-rebuild, when processing a work in solr, check if any of the work's editions are on the `ia_wishlist` and append these `isbns` to the value for a key called `ia_wishlist.

The IDs are in https://archive.org/download/open_libraries_wish_list/wishlist_isbn13_v6.csv.zip

### Proposal & Constraints

Since there are only around 1.5M entries,

[2022-02-26 03:26] #6184 closed

[2022-02-26 05:23] mekarpeles commented on #6147
#6187

[2022-02-26 05:25] #6147 closed

[2022-02-26 05:38] mekarpeles commented on #5828
@Yashs911 @cdrini and I are happy to help! Your original doc is here with lots of great work which may be included in the blog:

https://docs.google.com/document/d/1FkxVPi7pVX5dFkgaENTFifZdsdq3JFDWhxPhPldIWAk/edit#heading=h.so0h9gcffmol

[2022-02-26 05:52] mekarpeles commented on #6069
[x] I'm generating a dump for 2022-02-25 dump now. Assuming it will work, otherwise will re-open
[x] I ran the partner dump pipeline to completion.

[2022-02-26 06:11] mekarpeles commented on #5768
Going to merge #6183 in tandem with this one.

[2022-02-26 11:33] MdSahil-oss commented on #6186
@mekarpeles I'm beginner at openlibrary but i have enough development skills to work on enhancement/issue like this so if possible so assign this issue to me, i would like to work on it.

[2022-02-26 14:13] tuminzee commented on #5991
Thank you @homewardgamer for offering your help :)
I hope you are doing fine with the issue.
Thank you for your time and efforts
Happy Contributing 🕺🏼

[2022-02-26 14:24] tuminzee commented on #5501
Irrespective of the page reloading, the behaviour/action shouldn't change.

I think if should follow an order, if a book is in `Current Reading`, and if I remove it it should be tagged `Already Read`.
And if I remove a book which is in `Already Read`, it should be tagged `Want to Read`

What do you think @jimchamp @mekarpeles

[2022-02-26 14:28] tuminzee commented on #4796
@shrey27tri01 would you be still interested in taking this one?

[2022-02-26 14:34] tuminzee commented on #4474
@jdlrobson I can do, I'll share the results

[2022-02-26 14:37] tuminzee commented on #6154
Hello @b2pacific I hope you are doing good.
I want to know if you were able to solve the edge case which @jimchamp mentioned [here](https://github.com/internetarchive/openlibrary/issues/6154#issuecomment-1043759830)

Also I would like to appreciate your time and efforts
Happy Contributing 🕺🏼

[2022-02-26 14:41] tuminzee commented on #6054
@saieswar13 how are you doing?
Did you manage to get yourself started with the issue?
Please let me know if you have any difficulties, I would love to help.

Adding few links which will help you to get started with Open Library
- https://github.com/internetarchive/openlibrary/blob/master/CONTRIBUTING.md
- https://github.com/internetarchive/openlibrary/wiki

[2022-02-26 14:45] tuminzee commented on #4708
Haha, coding could be overwhelming sometimes 😃
Still I would like to thank you for your interaction, it added clarity to the issue :)

[2022-02-26 17:31] mheiman commented on #5501
I agree with @jimchamp that the current behavior isn't a bug. The "Want to Read" button is functionally just a set of three linked ON-OFF toggles with a fourth NO SELECTION state. When you load a new page, the text "Want to Read" represents NO SELECTION, but when you've just toggled from ON to OFF without a reload, it makes sense to show the OFF state of the current value.

I was a little puzzled

[2022-02-26 18:22] mheiman opened #6194 "Project Gutenberg editions duplicated on book page"
I notice this on the page linked below (also happens on testing). The same Project Gutenberg edition appears twice in the editions table. The links are identical — they go to the same edition. There's only one matching Gutenberg edition on IA.

### Evidence / Screenshot (if possible)
<img width="790" alt="Screen Shot 2022-02-26 at 12 14 01 PM" src="https://user-images.githubusercontent.com/886889/

[2022-02-27 03:00] homewardgamer commented on #5991
Hey @tuminzee   unfortunately I am unable to work on this at the mean time, it would be great if you could assign it to someone else.

[2022-02-27 21:27] BrittanyBunk opened #6195 "speed up page loading of editions"
problems:

- editions page gets overloaded with content
- it's too hard to load

Solution (my idea):

- move the edition list to the works page
- then if people want to see more editions, the link will take them there

stakeholders
@seabelis @mekarpeles @cdrini - what do you all think?

[2022-02-27 21:29] BrittanyBunk commented on #6172
good idea - we have that for editions, why not works?

[2022-02-27 21:30] BrittanyBunk commented on #6195
please if you move the editions to works - these're the tabs I'd like to see - 'show':
- first 5
- only ebooks
- all

[2022-02-27 22:18] mekarpeles opened #6197 "Bot/Action: Automatically Propose Whitespace Removal if CI Fails"
Almost every PR I review has failing issues with whitespace.

![github com_internetarchive_openlibrary_runs_5272715227_check_suite_focus=true](https://user-images.githubusercontent.com/978325/155902270-5c920e58-d9b1-48b5-8901-7c0156dbfb11.png)

![github com_internetarchive_openlibrary_runs_5272715227_check_suite_focus=true (1)](https://user-images.githubusercontent.com/978325/155902268-66710026-ab

[2022-02-28 02:13] tuminzee commented on #5991
@khabdrick would you like to work on this issue?

[2022-02-28 02:36] tuminzee commented on #6108
Thank you @onnotasler for your interaction :)
it brings more clarity to this issue

[2022-02-28 04:48] khabdrick commented on #5991
@tuminzee yes I will

[2022-02-28 05:03] tuminzee commented on #5991
I have assigned you the issue
@khabdrick
Let me know if you face any issues or difficulties I'd be happy to help you
Happy Contributing 👨‍💻

[2022-02-28 07:06] shrey27tri01 commented on #4796
@tuminzee I am not currently working on this issue. You can go ahead, please. Also, really sorry for the late response :)

[2022-02-28 08:42] cclauss commented on #6197
Just `git commit` again and it should pass because the trailing-whitespace job has already corrected the code.

[2022-02-28 08:42] #6197 closed

[2022-02-28 09:34] mekarpeles commented on #5501
Got it, ty @jimchamp + @mheiman

[2022-02-28 20:01] dmullis opened #6203 "User Reviews vulnerable to upload of abusive content."
Abusive rant found posted as a "review", to earlier legitimate book upload.

### Evidence / Screenshot (if possible)
_Reviewer: [ICnothing](https://archive.org/details/%40icnothing) - - February 17, 2022
Subject: What about the J question?
Kicked out of 109 different nations,_ ... remainder of rant elided

### Relevant url?
https://archive.org/details/WhyNationsFailTheOriginsODaronAcemoglu#reviews

[2022-02-28 20:14] cdrini commented on #1995
Closing in favour of adding auto-prefixing to less, and then removing all prefixes -- like was done in #3738

[2022-02-28 20:14] #1995 closed

[2022-02-28 20:14] mekarpeles opened #6204 "Daisy fix; `page` no longer referenced"
https://github.com/internetarchive/openlibrary/pull/6183

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2022-02-28 20:16] cdrini opened #6205 "Use auto-prefixing for our css"
In order to avoid having to manually add `-webkit-` prefixes and friends, set up auto-prefixing!

See #3738 for an example.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-02-28 21:54] mekarpeles commented on #2036
I think we're close:
ol-db[1,2], ol-backup, ol-www0->1, and presumably ol-home disappears if we can ~re~move `stats-solr` (?)
@cclauss ?? :|

[2022-02-28 22:02] mekarpeles commented on #5450
When one logs in, they go straight to their loans so I think we can close this one for now

[2022-02-28 22:02] #5450 closed

[2022-02-28 22:09] mekarpeles commented on #4151
I think @hornc committed some code (which I temporarily commented). @cdrini + @seabelis + @jimman2003 have a list of search queries we can use to filter/facet out known bad patterns of e.g. publisher, title, etc.

Mentioned above: https://docs.google.com/spreadsheets/d/1mG8Tn-sx73fdcHNAvFCJ-2p_-ULT_5QH90y5LLMpbtY

[2022-02-28 22:12] mekarpeles commented on #4151
@cdrini and I would be happy to work with any contributors from the community. The main goal is to take the queries from the spreadsheet above and add them as conditional checks at various places here:

https://github.com/internetarchive/openlibrary/blob/master/scripts/partner_batch_imports.py

Perhaps a function called `is_low_quality_book` which checks the book's title, contributors, and other f

[2022-02-28 22:14] mekarpeles commented on #5829
@Yashs911 do you mind if we assignee you to this one?

[2022-02-28 22:18] mekarpeles commented on #6145
Duplicate of #5206

[2022-02-28 22:18] #6145 closed

[2022-03-01 10:15] MdSahil-oss commented on #6171
@jimchamp I'd like to work on this issue.

[2022-03-01 16:13] #5768 closed

[2022-03-01 19:00] BrittanyBunk opened #6217 "cover box is blurry when edition page is first created"
I can't reproduce it, but other people have the same issue

[2022-03-01 20:34] BrittanyBunk commented on #2823
this got solved, but is still being debated to this day

[2022-03-01 20:34] #2823 closed

[2022-03-01 20:40] BrittanyBunk commented on #2751
@mekarpeles I think this is still causing great strife, as seen with the meeting today, 3-1-22 https://docs.google.com/document/d/1LEbzsLZ1F9_YIQOoZzO7GoZnG1z-rudhZ9HNtsameTc/edit# . I agree this shouldn't be looked at until the editions is indexed in solr, but when we get rid of the works level, this will be great to reopen to talk about. I actually think it might help to reopen this now, as the

[2022-03-01 20:55] BrittanyBunk commented on #6195
avoid loading covers, just words
![image](https://user-images.githubusercontent.com/55302685/156247435-8477163d-6948-4456-9f17-150109fe8938.png)

[2022-03-01 20:58] BrittanyBunk commented on #6195
see rest of documentation https://docs.google.com/document/d/1LEbzsLZ1F9_YIQOoZzO7GoZnG1z-rudhZ9HNtsameTc/edit# under 3-1-22

[2022-03-01 21:09] BrittanyBunk commented on #6195
*My idea was to bring the editions to the work page (related to github #2823)
  - Lisa said it looked like that before
     * Mek said that the issue with that is that
       - when people had to click on an edition, they’d need to go back to the works page to find the next edition - and that was too many steps
         * I agree - I was one of the people who complained about this
           - My

[2022-03-01 21:58] BrittanyBunk opened #6219 "post-meeting notes"
### Problem:
- the community notes are for the notes during the meeting
- notes that're after the meeting take up too much space (see my post-meeting notes on 3-2-22) - clogs it

### Solution:
- post-meeting notes document - write as much as needed to fill people in

### Benefit:
- people get informed as to what happened in the meeting
- records everything - reference

### Bad:
- too many document

[2022-03-01 22:04] BrittanyBunk commented on #2977
@mekarpeles I think this should be reopened. The issue is there's no location for all the documents of the Open Library - it's extremely hard to keep up with changes - you have documents in the github wiki, code section, google drive, data dump on the OL website, etc. - there's no centralized position. I'm not sure what 'small actionable changes' means - this is just that - you just make a page wi

[2022-03-01 22:12] BrittanyBunk commented on #561
all my work for series (soon to be done in Q3) is located https://drive.google.com/drive/folders/1YFVUylLsmBv9fjDtplpJF8i7FQr5ulqj?usp=sharing

[2022-03-01 22:16] BrittanyBunk commented on #561
this is discussed on 3-22-22 of the meeting notes, where I say this will replace works to new level formation:
universe -> series -> edition -> variation https://docs.google.com/document/d/1LEbzsLZ1F9_YIQOoZzO7GoZnG1z-rudhZ9HNtsameTc/edit#heading=h.5e4zdvk7337x

[2022-03-01 22:58] cdrini opened #6220 "Disable pre-commit github workflow now we're using precommit bot"
The precommit bot appears to be failing PRs in the same cases, and runs faster! So let's use that, and axe GH workflows.

[2022-03-02 02:11] Yashs911 commented on #5829
@mekarpeles Yes, you can add me as the assignee, I have already started with the blog will share with you on slack

[2022-03-02 02:29] jimchamp commented on #6171
Go for it!  We have code for collapsing `div`s that can probably be reused here.  You can see how we've set it up for our book page subject tags, here:
https://github.com/internetarchive/openlibrary/blob/5d94aa93edf7f5d8f438751bb2b9d64b5a4cdaea/openlibrary/templates/type/edition/view.html#L222-L227

`S:macros.ReadMore` refers to https://github.com/internetarchive/openlibrary/blob/master/openlibrar

[2022-03-02 09:18] #6220 closed

[2022-03-02 12:45] JamieSlome commented on #5456
@mekarpeles - just getting in touch to see if you received those reports? To make your life easier, you can view them here:

[Report #1](https://huntr.dev/bounties/6487a64d-c803-4775-a664-1604f3b56076/)
[Report #2](https://huntr.dev/bounties/0c6e4d53-50b4-4039-8a02-641ffa04a198/)
[Report #3](https://huntr.dev/bounties/c2939957-90dd-4f3b-863d-96a890263fec/)
[Report #4](https://huntr.dev/bounties/53

[2022-03-03 00:10] davidyim03 opened #6224 "Docker build failing due to npm permissions"
When running docker-compose build, I get an error message of:

=> [internal] load build definition from Dockerfile.oldev                                                         0.0s
 => => transferring dockerfile: 38B                                                                                0.0s
 => [internal] load .dockerignore

[2022-03-03 00:51] #5753 closed

[2022-03-03 00:56] jimchamp commented on #5753
#6047 allows merged and deleted works to be reversed, but not without displaying another error message.  If/when another error is displayed in testing, I can find details about the error on the server and troubleshoot the issue given the error message.

[2022-03-03 03:39] #6224 closed

[2022-03-03 14:33] jollygreenegiant opened #6226 "Make editions searchable and filterable by different parameters"
I'm the developer of a reading tracking app on Android called [Luna Reading Tracker](https://play.google.com/store/apps/details?id=com.jggdevelopment.bookbuddy).  And I'm looking into switching over to OpenLibrary as the app's data source.

Open Library by far has the most comprehensive information of any book API I've found (with the possible exception of Google Books, but they prohibit monetizat

[2022-03-03 16:10] cclauss opened #6227 "Docs: Update "Quick Start for OpenLibrary's developers""
I'm always frustrated when I hear that new contributors are unsure how to set up to make their first commit.

### Describe the problem that you'd like solved

### https://github.com/internetarchive/openlibrary/wiki/Getting-Started needs an update!
* [ ] Setup of development tools including Docker
* [ ] Setup of testing tools
* [ ] Setup of pre-commit hooks
* [ ] Making your first commit

### Propo

[2022-03-03 16:12] cclauss commented on #5843
Closing because these tools are now all in place but need to be documented... #6227

[2022-03-03 16:12] #5843 closed

[2022-03-03 18:15] mekarpeles commented on #5142
Stale: I think this can be closed, the problems today are different than when we opened the issue

[2022-03-03 18:15] #5142 closed

[2022-03-03 18:28] mekarpeles commented on #6058
I believe this is mostly closed by #6201?
We could add the annotation here: https://git.archive.org/ia/petabox/-/merge_requests/3118/commits

[2022-03-03 18:35] mekarpeles commented on #6058
Currently https://archive.org/services/availability?identifier=finnikinofrock0000marc is in petabox so it makes a direct request to `Search` API (as opposed to making a network request) so I think it's exempt from needed a `x-client-id` unless we there's a way to pass in a client-id into the `Search` function call itself (to pass-through rate limiting capabilities).

Deferring to @ximm to re-open

[2022-03-03 19:21] renovate[bot] opened #6234 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/internetarchive/openlibrary).

## Rate-Limited

The following updates are currently rate-limited. To force their creation now, click on a checkbox b

[2022-03-03 23:11] #6122 closed

[2022-03-04 00:29] ximm commented on #6058
`preferred_client_id`,`preferred_client_ip`, and `application_id` may all be set with parameters in both the `Search.inc` constructor, and, via HTTP endpoints as CGI arguments, in addition to the latter accepting request headers.

If this `services` endpoint is called directly from clients themselves, `client_id` and `client_ip` will be inferred from the request itself (and/or any authenticated us

[2022-03-04 01:54] #6172 closed

[2022-03-04 14:07] bicolino34 opened #6245 "Publishing history for languages"
We have pages for languages https://openlibrary.org/languages and it would be cool to have a publishing history graph for languages like the one subjects have.

[2022-03-04 14:50] agmckee commented on #6227
I think possibly of greater concern at present is the time for pull requests to be reviewed, and to be deployed. As a relatively recent new contributor to Open Library (although I've been a user and previously tried to get involved as a developer a decade ago) I was surprised for how long it took to see the approved and merged changes to actually end up in a deployment. Another PR of mine is curre

[2022-03-04 15:08] bicolino34 opened #6246 "Original names for languages"
Currently, only English, German (Deutsch), French, Spanish and Russian (Русский язык) have their own names written through /
I think that should be done for every language. Wikipedia is good enough to take original names of languages from it.

Ukrainian should be renamed into "Ukrainian / Українська мова" and Belarusian into "Belarusian / Беларуская мова". I only wrote those as it's the only ones

[2022-03-04 16:38] tfmorris commented on #6246
There are two different ways that language names are used:

- to select which language you want the UI in - these just need to be in the language itself - English, français, Deutsch - because the user will recognize the ones for languages they read
- to select the language that an edition is in - these need a complete localization, so if you have your UI set to français, you see anglais, francais,

[2022-03-04 16:56] bicolino34 commented on #6246
@tfmorris thank you for answer.

[2022-03-04 19:45] jennshan commented on #4151
Hi,

My name is Jenni, I am new to open library and internet archive. I would like to work on this issue. Can you assign it to me?

[2022-03-04 21:19] cdrini commented on #6246
Re-opening this as this is a feature request, and would be great to have! A user who has their UI set to Ukrainian, should see the language names in Ukrainian, not in English.

In terms of proposals, we basically need:

- A field in the language record with the name for each language (can bulk copy from Wikidata)
- A field that's queryable by language; so that when someone is typing in the autocom

[2022-03-05 19:42] bittner opened #6249 "Use Postgres FTS instead of Solr?"
### Question

Could this project use Postgres FTS instead of Solr? Are there features that Solr provides and Postgres FTS not (or not yet)?

### Additional context

Has anyone ever evaluated using [Postgres FTS](https://www.postgresql.org/docs/13/textsearch.html) instead of Solr for full-test search?

In a startup (a Django project) we replaced Solar by Postgres FTS two years ago, which made the o

[2022-03-07 10:44] MdSahil-oss commented on #6171
@jimchamp would you like to share the path from where you got above shown image. that will help me a lot to target the file where i need to perform changes

[2022-03-07 11:14] MdSahil-oss opened #6252 "Bug report"
web layout is not well rendered.
### Evidence / Screenshot (if possible)
Here is the screenshot :- https://drive.google.com/file/d/1cPxVEzd8G4vwR4sjvNRIGQDwh5VGGTkc/view?usp=sharing

### Relevant url?

### Steps to Reproduce

1. Open the openLibrary web locally on your machine or on Gitpod.
2. You will see above mentioned bug on top of the page.

* Actual:
* Expected:

### Details

- **Logged in (

[2022-03-07 11:56] jimchamp commented on #6171
Here's a link to the page with the pictured table: https://openlibrary.org/books/OL8811476M/Generation_Hex#edition-details

Here is a recent pull request that makes work descriptions collapsible: https://github.com/internetarchive/openlibrary/pull/6243

[2022-03-07 13:13] Shofiya2003 commented on #5046
Can I work on this issue?

[2022-03-07 14:07] tuminzee commented on #5046
@arimanyus how you are doing so far. Do you need any help?
If you are occupied let me know, than I can assign this issue to @Shofiya2003

[2022-03-07 20:09] mekarpeles commented on #5046
@Shofiya2003 I'd say give it a shot! I'll assign you :)

[2022-03-07 20:11] mekarpeles commented on #4151
Hi @jennshan, sure let's talk about it! I think the main ideas are listed above...

Can you see if you're able to figure out how to take 1 line of the spreadsheet https://docs.google.com/spreadsheets/d/1mG8Tn-sx73fdcHNAvFCJ-2p_-ULT_5QH90y5LLMpbtY and apply it as a filter against books in https://github.com/internetarchive/openlibrary/blob/master/scripts/partner_batch_imports.py?

Let me know as yo

[2022-03-07 20:16] mekarpeles commented on #6203
This is on Archive.org, cc; @JeffKaplan @bfalling @seabelis

Closing as not relevant to openlibrary.org -- however, agreed! This is presently why we implemented the https://blog.openlibrary.org/2021/08/20/introducing-community-reviews/ the way we did

[2022-03-07 20:16] #6203 closed

[2022-03-07 20:19] mekarpeles commented on #6252
This is a problem with the css/js not getting rebuilt correctly which will be fixed once we do our next deploy tomorrow.

css/js is outdated until deploys

[2022-03-07 20:19] #6252 closed

[2022-03-07 20:23] mekarpeles commented on #6219
As you asking for a summary of each meeting? I don't think staff has the bandwidth for this and it's not clear where we'd put it.

If folks want to add a new section after Open Mic to our meeting notes (such as "Post-Meeting") that sounds fine to me!

[2022-03-07 20:23] #6219 closed

[2022-03-07 20:30] mekarpeles commented on #669
@jimman2003 would you like to be assigned to this one??

[2022-03-07 20:31] mekarpeles commented on #6204
Closed by #6192

[2022-03-07 20:31] #6204 closed

[2022-03-07 20:45] mekarpeles commented on #5402
~This has large refactors of bash code on ol-home0 which need to be checked over and turned into a PR~ by @cclauss

See: #6253

[2022-03-07 21:31] hornc commented on #4151
@mekarpeles Do you have examples of data blocked by this that should have been imported?

https://github.com/internetarchive/openlibrary/blob/8b50277712e6d33da668ce2b4e6991c62341c040/scripts/partner_batch_imports.py#L103-L104

From the commits and comments I can't tell which part of the problem was due to authors and which was due to the item format.

[2022-03-08 12:08] Shofiya2003 commented on #5046
Thanks a ton. I am starting to work on it and will get back to you if I need any help.

[2022-03-08 18:00] mekarpeles opened #6259 "Add patron's Reading Log results to a list of Books"
### Describe the problem that you'd like solved

We recently implemented a change to allow Reading Log "Want to Read" buttons on Search Results / Lists / Reading Log pages (i.e. many/multiple Reading Log buttons on the same page).

One potential caveat is the current implementation makes a separate database hit for each book in this list (i.e. if search results has 25 results, we make 25 calls whi

[2022-03-08 18:46] jennshan commented on #4151
Thanks, I will try to do and let you know.

[2022-03-08 19:47] cdrini opened #6260 "Remove any collection starting with `fav-*` from Solr"
We don't use them and they will take up even more storage once editions are in solr.

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-03-08 19:48] #6153 closed

[2022-03-08 22:22] #6021 closed

[2022-03-08 22:41] mekarpeles commented on #6259
#6262

[2022-03-08 22:41] #6259 closed

[2022-03-09 12:04] bicolino34 opened #6268 "Subject isn't shown in search results"
I was trying to search for subject "Словники" but there are 0 hits in search. I know that it exists because I had created this subject before, and currently it has 6 works ([link](https://openlibrary.org/subjects/%D1%81%D0%BB%D0%BE%D0%B2%D0%BD%D0%B8%D0%BA%D0%B8)). It should at least show 4 hits, in my opinion because there are also subjects [Англійсько-українські словники](https://openlibrary.org/

[2022-03-09 22:26] cdrini commented on #6268
Hi! Subjects search isn't indexed for live edits, unfortunately. They only get updated during a full reindex (eg #5827)

Closing as a duplicate of #1896

[2022-03-09 22:26] #6268 closed

[2022-03-09 22:28] cdrini commented on #3247
Subjects are/have been re-indexed during full re-indexes; there are some subjects in the data that need to be removed eg https://openlibrary.org/works/OL15323828W/buy_abercrombie_clothingCoat_The_two_Pertaining_to_Guys_in_addition_to_Younger_Boys

[2022-03-10 08:26] seabelis opened #6271 "IndexError when viewing work record"
Some works had been merged into OL9265227W incorrectly. I've reverted those works and restored their editions. I also reverted to the version of this work prior to that merge as authors were incorrectly added. Following the reversion, the following error is thrown:

/openlibrary/openlibrary/templates/type/work/view.html: error in processing template: IndexError: list index out of range (falling ba

[2022-03-10 08:50] seabelis commented on #6271
This one throws the same error after moving an edition to a different work. https://openlibrary.org/works/OL2008130W/The_amateur_naturalist

[2022-03-10 14:02] seabelis opened #6272 "Remove DELETE button from bottom of edition edit form, activate DELETE button at the top of the form"
There are two DELETE buttons on the book edit form. One at the bottom, which is sometimes mistaken as the SAVE button, and one at the top of the form, which currently does nothing.
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/books/OL...M/edit
### Steps to Reproduce

1. Go to ...any edition edit form
2. Do ...notice the two DELETE buttons

* Actual:multiple d

[2022-03-10 18:42] #6271 closed

[2022-03-11 00:00] Shofiya2003 commented on #5046
Hello
I have made changes but I am having a tough opening the webpage using gitpod to check the changes. Do I need to set up the project on my local machine. I need help.

[2022-03-11 21:48] jennshan commented on #4151
Hi,

Sorry for the delay, it took some time to update my MAC version then installing the necessary docker software and setting up the code base. I wrote a basic check for a query mentioned in the excel. I will make a pull request tomorrow.

[2022-03-14 06:37] mekarpeles commented on #5218
This should be fixed. And if now, it will be when https://github.com/internetarchive/openlibrary/pull/6125 lands.

[2022-03-14 06:37] #5218 closed

[2022-03-14 09:51] bicolino34 opened #6285 "Warning field for works"
I think it would be cool to have a warning field for works because some people may not want to read books with topics that they consider inappropriate. In my view, it should be something like subjects field but without possibility to create new values for casual users.
Some possible warning: cursing words, violence, rape, sexual scenes etc
There also should be possibility to exclude books from sea

[2022-03-14 17:45] mekarpeles commented on #4151
@hornc I'm marking as `Needs: Response` which we review every Monday so I can investigate more and get you an answer

[2022-03-14 18:32] jimchamp commented on #6154
It looks like this was solved recently, likely in one of the PRs related to the `get_sorted_editions` function.

[2022-03-14 18:32] #6154 closed

[2022-03-14 19:16] mekarpeles commented on #6285
We currently do have Community Reviews https://blog.openlibrary.org/2021/08/20/introducing-community-reviews/ which allows patrons to identify books which have content warnings. We could make this more visible on other parts of the page as well

[2022-03-14 19:16] #6285 closed

[2022-03-14 19:59] tuminzee commented on #6050
sorry @mekarpeles I wouldn't be able to finish it right now.
I will un-assign myself from the task

[2022-03-14 19:59] tuminzee commented on #4906
sorry @mekarpeles I wouldn't be able to finish it right now.
I will un-assign myself from the task

[2022-03-14 20:02] tuminzee commented on #5829
Hi @Yashs911 I hope you are doing well.
How is the issue going? Do you need any help, or resources?

[2022-03-14 20:05] cdrini opened #6287 "Investigate holes in Stats graphs"
These stats hit the db (we believe), so shouldn't have holes like this. Note the corresponding grafana graphs for xauth look normal.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/158251904-2282cea4-098e-41cf-b941-29b366b83b16.png)
![image](https://user-images.githubusercontent.com/6251786/158251998-490d62a2-ce29-40fb-95ea-356373bc7a49.png)

###

[2022-03-14 20:08] mekarpeles commented on #6058
Add headers to (like https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/lending.py#L308-L312)

https://github.com/internetarchive/openlibrary/blob/27ec35622e6bcb549b0ad5edab507131a76ef26d/openlibrary/solr/data_provider.py#L141-L151

[2022-03-14 20:14] tuminzee commented on #6058
Hi @mekarpeles this issue is reopened. Do you have any thoughts on that?

[2022-03-14 20:16] mekarpeles commented on #6195
Our recent deployment made it so a max of 10 editions is show by default, prioritizing ebooks and the performance of e.g. Pride & Prejudice went down from ~40s to 3s. There are other performance issues we want/need to solve, I believe we have issues for these (e.g. Edition-level search should help the get_sorted_editions call to choose the best book and also async editions table will help. Finally

[2022-03-14 20:16] #6195 closed

[2022-03-14 20:20] Yashs911 commented on #5829
@tuminzee I am very well, thank you.
My mid-semester exams are going on. I will pick this up after 16th March

[2022-03-14 20:44] ximm commented on #6058
Ftr I would recommend adding:

- IAS3 authorization headers for an OL account, with an associated archive.org email address;
- an `x-application-id` header with the value `openlibrary` (_or_ a request parameter `application_id` with that value); abd
- a request parameter `service` with the value `metadata__pinned` (_or_ value `metadata__unlimited`)

The pinned metadata service always routes to one

[2022-03-14 20:49] jimchamp opened #6288 "Books page navbar hidden behind header in mobile"
In mobile views, the stickied navbar is obstructed by the mobile header.

### Evidence / Screenshot (if possible)

![Screenshot from 2022-03-14 16-34-35](https://user-images.githubusercontent.com/28732543/158257064-51ad1326-58ab-4e11-912e-b33f8949243d.png)

### Relevant url?

### Steps to Reproduce

1. Go to a book page in mobile view.
2. Scroll until the navbar is at the top of the page.  Keep sc

[2022-03-14 23:40] cdrini opened #6293 "Disable "auto focus/scroll" on edit page"
The jumping around after loading is reaaaally annoying, and it's never in the field I want anyways.

### Steps to Reproduce
1. Go to eg https://openlibrary.org/books/OL35615701M/The_Game/edit
2. Wait

* Actual: After 1s, the page jumps around and places your focus on the title field
* Expected: Nothing to happen

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF
- **Operating sy

[2022-03-14 23:40] cdrini commented on #6293
@mheiman would you be interested in helping with this one? I think this has been annoying you as much as it's been annoying me :P

[2022-03-14 23:53] #5879 closed

[2022-03-15 00:13] cdrini opened #6294 "Add a book errors with "notfound" trying to match existing work"
`{'at': {'key': '/books/OL28M', 'property': 'works'},  'error': 'notfound',  'key': '/works//works/OL2896727W'}`

^ Note the wrong work key.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/158281106-bdae1a35-e155-48ef-a58d-7d7a9e278dc3.png)

### Steps to Reproduce
1. Click "Add a book"
2. Fill the fields, trying to create an edition that will mat

[2022-03-15 00:14] cdrini commented on #6294
P2 since you _can_ get around this by click on the "Add an edition" link on a work.

[2022-03-15 00:46] mheiman commented on #6293
Sure, I'd be happy to fix this one. Thanks!

[2022-03-15 16:56] #6293 closed

[2022-03-15 17:02] ximm commented on #6058
Update: reviewing traffic I see that it will be important to add the `service` parameter in https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/lending.py#L280-L288

`metadata__pinned` may be used but I would recommend `metadata__unlimited`

I believe these are the internal queries populating carousels; those should be exempt from rate limiting.

(This pair can just be adde

[2022-03-16 09:07] bicolino34 commented on #6285
@mekarpeles I don't think it's possible to exclude books with certain content warning from search results, is it?

[2022-03-16 13:29] seabelis opened #6300 "Amazon.* identifiers do not save when entered"
Identifiers for Abebooks and non .com Amazon identifiers do not save values when entered.
### Evidence / Screenshot (if possible)

### Relevant url?

Any edit form, https://openlibrary.org/books/OL26373880M/Cats_on_Instagram/edit
### Steps to Reproduce

1. Go to ...Identifiers section
2. Do ...add one of the identifiers mentioned above

* Actual: no value entered
* Expected: identifier should be s

[2022-03-16 15:56] mekarpeles opened #6302 "Missing "Preview" & "Checked Out" btns"
Borrowable books are missing preview buttons, likely related to last edit of LoanStatus page.

https://openlibrary.org/books/OL35676065M/Harry_Potter_and_the_Philosopher's_Stone

Also, "Checked Out" button not showing up, perhaps related to removing "Not In Library" button

### Evidence / Screenshot (if possible)

![openlibrary org_works_OL2231866W_The_Omega_Rx_Zone](https://user-images.githubuser

[2022-03-16 18:20] mheiman commented on #5594
I've been digging into this one a little bit, but I can't reproduce the problem in development.

I've taken several of the merges listed above, verified that they're still failing, and copied all of the data to a development instance as described by @cdrini above.

All of the merges work in development. I'm guessing there's something subtle in the database that's lost when author and book records

[2022-03-16 23:46] jimchamp opened #6304 "Remove unnecessary patron loan and waiting list queries"
Whenever a logged in patron visits a book page, API calls are made to archive.org/services/openlibrary.php in order to fetch the patron's current loan and wait list status (one call is required for each).  These calls require the patron's Internet Archive username, which is prefixed with an `@`.

Today, four calls are made when the books page is loaded.  The two extra calls are made using an obsol

[2022-03-17 14:27] tuminzee commented on #6245
@jimchamp what do you think about this issue?
should we post this in the slack channel, and check if anybody is willing to contribute?

[2022-03-17 14:29] tuminzee commented on #5829
@Yashs911 thank you for the update; best of luck with the exams?

[2022-03-17 19:44] #6068 closed

[2022-03-17 22:54] #6304 closed

[2022-03-17 23:51] jimchamp commented on #6245
I don't think that Slack is the correct place to solicit contributions from folks.  If anybody reading this would like to propose a solution, I'd be happy to give feedback.

[2022-03-18 00:49] #6302 closed

[2022-03-18 17:25] #4978 closed

[2022-03-18 17:25] #5671 closed

[2022-03-18 17:48] mekarpeles commented on #6058
On Monday I'll add

* [ ] s3 keys to headers
* [ ] `service=metadata__unlimited` to our ES queries
* [x] `x-application-id` header with the value openlibrary

Should we be added `metadata__unlimited` to Bulk Availability API as well? Or no since that uses the `Search` php methods directly?

[2022-03-18 17:56] ximm commented on #6058
Great! Thanks Mek.

The model here should be:
- `unlimited` (or `pinned`) service is appropriate for **internal** use of search, e.g. to populate carousels, or for internal maintenance tasks, etc.–any place data is needed for OL for itself.
- it is _not_ appropriate, in cases where searches are done synchronously _on behalf_ of third-party clients, be they human users, or partner backends.

IIRC t

[2022-03-18 20:16] LeadSongDog commented on #6272
Related #4101

[2022-03-18 21:13] RayBB opened #6315 "Consider switching infogami port from 7000 since that port is used by default on Mac OS 12 Monterey"
Context: https://github.com/internetarchive/openlibrary/pull/6306#issuecomment-1072728819, @cdrini wanted this opened.

If you're here because you're experience the issue follow [this](https://developer.apple.com/forums/thread/682332) guide to turn off free up port 7000.

### Steps to Reproduce

1. Use Mac OS 12
2. Run `docker-compose up`
3. Get this error
[code]

* Actual: startup fails by defaul

[2022-03-18 22:12] cdrini opened #6316 "Cannot build olbase image on ARM machines (eg M1 Macs)"
Errors on the openresty install step, because openresty should be built with different source file for arm devices.

[code]

### Steps to Reproduce

1. Run `docker build -t openlibrary/olbase:my-test-label -f docker/Dockerfile.olbase .` on an M1 Mac

* Actual: Errors with the above error
* Expected: It works

### Details

- **Logged in (Y/N)?** na
- **Browser type/version?** na
- **Operating syste

[2022-03-18 22:14] cdrini commented on #6316
Labelling as P3 because rebuilding the base image is _pretty_ rare ; and if someone does need to test something, since we don't actually use openresty anywhere on the local dev env, we can just comment out the failing `install` line.

[2022-03-18 22:38] cdrini commented on #6315
Actually as an easy fix, let's just remove `ports: 7000:7000` from `docker-compose.override.yml`. That line exposes infobase to the host machine, and only on local dev environments (that's what `docker-compose.override.yml` is for) so people can play with it, but it's really not necessary for 99% of OL devs/use cases. The other containers will be able to access `infobase:7000` as normal, and it wo

[2022-03-19 13:32] seabelis commented on #5594
- [ ] https://openlibrary.org/authors/OL2657659A/Ambrose_Bierce_%28duplicate%29

[2022-03-19 13:36] seabelis commented on #5594
Regarding the oldest being selected by default, I'm on board with that. This is how the works merge interface works. The authors are presented with the most relevant/most populated first because that's how search works. When this interface was created back in 2010 or so, the most populated were typically the oldest. Now this is no longer the case. If the easy fix is to display the created date on

[2022-03-19 14:31] LeadSongDog commented on #5594
I hate to keep harping on this, but just look at that example. Comparing the author IDs in
https://openlibrary.org/books/OL31884994M.json
(OL7202807A and OL5251200A)
to those in the linked work
https://openlibrary.org/works/OL24159503W.json
(OL3745151A and OL5251200A)
there is still a clear problem: editions should not have explicit links to author redirects.

[2022-03-21 17:25] mekarpeles commented on #5594
@cdrini maybe as part of our resolving redirects work we also need to somehow resolve authors or at least handle this case under the hood?

[2022-03-21 17:26] #6007 closed

[2022-03-21 17:32] mekarpeles commented on #6171
@MdSahil-oss I believe just by adding a class of `restricted-view` to the table of contents, it will automatically because hidable/showable.

Here's the code which generates the table of contents
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/macros/TableOfContents.html

[2022-03-21 17:47] jimchamp commented on #6171
This restricts the height, but does not give patrons the option to expand.  Assigning myself, as there has been no contact from @MdSahil-oss, and this is on my milestone.

[2022-03-21 19:13] mekarpeles commented on #6288
jim to put on :8600 for testing

[2022-03-21 19:35] #6288 closed

[2022-03-21 19:58] LeadSongDog commented on #5594
Handling under the hood is likely to mask rather than fix problems, especially when one or more of the editions were linked to undifferentiated author records. The worst part of the problem is that edition authors are not exposed in the UI (except as json) nor are they correctable by unprivileged users. If an edition is linked to a different John Smith than the work, that linkage May never be noti

[2022-03-22 20:01] mheiman commented on #5594
@cdrini and I spent some time trying to understand the reproducibility problem. No resolution was reached, but we found a few things that _aren't_ causing the merge failure.

1. Importing records to a dev instance with copydocs.py can result in small changes to the author YAML data structure (particularly to the 'bio' field). It would appear the the author data definition changed at some point, bu

[2022-03-23 10:58] seabelis opened #6324 "Covers loading slower than usual"
Edition covers load slower than usual for the past 1-2 weeks.
### Evidence / Screenshot (if possible)

### Relevant url?

Example, https://openlibrary.org/books/OL33334015M/Sports_good_news_Bible
### Steps to Reproduce

1. Go to ...https://openlibrary.org/books/OL33334015M/Sports_good_news_Bible
2. Do ...Most of the page loads normally, but the image takes about a minute to load.

* Actual: Image

[2022-03-23 17:46] mheiman commented on #5594
I believe I've tracked down the problem, though I'm not sure what the solution is. @LeadSongDog was on the right track.

### Detailed Explanation:
In digging deeper to figure out why I couldn't reproduce the problem in development, I discovered that when edition records are moved using copydocs.py, any author values in the record are stripped out. This means that none of the editions are pulled up

[2022-03-23 20:21] cdrini commented on #5594
Great sleuthing, @mheiman ! That seems like the ticket! That's a bit of a disturbing error 😬

I've suspected there's been a bug in this code for a while (this is the code that finds the records to update when an author merge is kicked off):

https://github.com/internetarchive/openlibrary/blob/39962157c12465d050e43458444aba9a59661c8d/openlibrary/plugins/upstream/merge_authors.py#L132-L141

The `typ

[2022-03-23 20:50] mheiman commented on #5594
Thanks, @cdrini. If you think that adding some additional cleanup code to the merge routine is the best solution, I'm happy to keep working on this. It's going to be tricky to test, since the editing tools won't let me create bad records, but maybe I can poke the values directly into the database.

[2022-03-23 21:03] cdrini commented on #5594
Hehe maybe! Good luck :P I think investigating that snippet might help prevent new occurrences of this issue appearing (1). For 1 specifically we'd want to confirm that editions in the database are indeed getting updated when authors are merged. If they were, then there would be no errors on these merges.

Doing a bulk update would allow all the past stuck merges to go through (3). That's probably

[2022-03-23 21:12] mheiman commented on #5594
Editions in the database are definitely getting updated during an author merge — I confirmed that in my testing. The snippet you cited appears to be working as intended. Things just go wrong when those edition records also contain author redirects.

We're going to need something that scans through all the edition records involved in the merge before they're saved, makes sure the author entries res

[2022-03-25 01:05] cclauss commented on #6316
# A proposed solution for the ARM v.s. Intel issue...
https://github.com/internetarchive/openlibrary/pull/6306#issuecomment-1078412267

[2022-03-28 17:37] dbouris commented on #5457
hi there,
you can use the GitHub File Watcher (https://app.github-file-watcher.com/). It tracks changes on files on a GitHub repository and can therefore email the person in charge for making the translations when one occurs.

[2022-03-28 17:55] dcapillae commented on #5457
@dbouris  Note that this issue refers to the wiki pages on the Open Library web site ([openlibrary.org](https://openlibrary.org/)).

[2022-03-28 18:30] jimchamp opened #6335 "Some list history entries have incorrect URLs"
Sometimes, adding a book to a list results in an unexpected entry in the list's history table.  Typically, when a book is added or removed, the book's title is present in the history table as a link to the book's page.  Other times, the book's key is displayed as a broken link, having the form `https://openlibrary.org/subjects/${book_key}`.

The latter cases are incorrect, and point to URLs that d

[2022-03-28 18:43] cdrini opened #6336 "Switch from babel-eslint to @babel/eslint-parser"
Getting this npm warning:

[code]

Will likely also need some updates to configs.

[2022-03-28 19:16] mekarpeles commented on #5046
@Shofiya2003 did you have any other questions?

[2022-03-28 19:23] cdrini commented on #5348
I am noticing that since we switch to ia tool (Thank you @jimman2003 !) there is now a torrent file in the dump item: https://archive.org/download/ol_dump_2022-03-24 ; does that do the trick, @icefyre127 ?

[2022-03-29 13:40] #6335 closed

[2022-03-29 15:03] mekarpeles opened #6339 "Work page not always selecting an edition"
@jimchamp it's possible our current edition-selection mechanism isn't working for work pages. Here's an example where an edition parameter is specified but doesn't seem to result in an/the edition being fetched. This seems like a P1 priority for us to investigate.

### Relevant File(s)

**Affected file:**
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/type/edition

[2022-03-29 23:19] #6339 closed

[2022-03-29 23:22] cdrini commented on #6287
@mekarpeles Fixed by running on ol-home0: `python /openlibrary/scripts/store_counts.py /olsystem/etc/infobase.yml /olsystem/etc/openlibrary.yml /olsystem/etc/coverstore.yml 30` . Not clear why it was hole-y but that fixed it! We can run again if it misbehaves.

[2022-03-29 23:22] #6287 closed

[2022-03-30 01:24] LeadSongDog commented on #725
@mekarpeles I am pretty sure that /config/editions is not yet fixed.  It seems not to admit corrective edits.

Something else weird is happening: Administrator has made a ridiculous number of edits to /config/edition with each appending one blank line. See the page’s edit history for the diffs.

[2022-03-30 06:10] seabelis opened #6346 "Tags are deleted/lost with line break"
It's too easy to delete existing tags or lose new tags. If there is a line break in the tags, everything after the line break is deleted or not saved.
### Evidence / Screenshot (if possible)

### Relevant url?

See people tags: A new person was pasted in which created a line break. All the other tags were deleted.
https://openlibrary.org/works/OL540258W/Signet_Classic_Book_of_American_Short_Storie

[2022-03-30 16:42] mekarpeles commented on #6346
Is this for subject tags? (can't check because of maintenance mode)

[2022-03-30 17:22] cdrini commented on #6346
Yeah; converting it a textarea (which did recently) allows newlines, but the system ignores everything after a newline char somehow

[2022-03-30 17:44] kazikhanmargulan commented on #2242
Hello, guys! Was the issue closed? If not, may I try to resolve this?

[2022-03-30 18:33] mheiman commented on #6346
I'm happy to take a look at this.

[2022-03-30 19:23] cdrini opened #6348 "Data Dump keys sometimes have wrong format"
The format of some of the keys is wrong though. E.g. instead of /authors/OL123A, it sometimes lists /a/OL123A
This looks like it was a regression between the 2021-10-13  data dump and 2021-11-30 data dump

### Evidence / Screenshot (if possible)

[code]

### Proposal & Constraints

### Related files

### Stakeholders

[2022-03-30 19:55] mheiman commented on #6346
I have a fix for this ready to go, but there's a UX question:

If someone adds a line break in a tag field, should we ignore the line break, or treat it as a comma?

For example, if I enter:

[code]
it's obvious that I mean three different subjects. However, if I enter
[code]
it's less clear. If we just ignore the line break, then we'll save "subject1" and "subject2subject3". If we treat the line

[2022-03-30 20:59] cdrini commented on #6348
P1 because blocking #6119 and because it likely breaks anyone's workflow who's using the data dump.

[2022-03-31 00:06] cdrini commented on #5206
@seabelis I think that's a good approach; they'll also needed a `title` field restored. This shouldn't be too hard to run...

[2022-03-31 01:11] cdrini commented on #5206
That's 100% part of it! We also don't want to lose the edits ImportBot made to the records, so I think what might be best is to "soft" revert setting just the title and removing type/redirect, then create a big list of links to the Merge UI for librarians to merge these again. Although note it currently doesn't support merging a work with 50+ editions into another work.

See the colab for what I'm

[2022-03-31 13:45] LeadSongDog opened #6353 "Fix /config/edition"
@mekarpeles
The /config/edition page has long been a mess. Previous issues internetarchive/openlibrary#142 internetarchive/openlibrary#725 seem to have been inadvertently closed without a fix. Regular users seem to lack permission to edit the file and no indication is shown of how to get it corrected. User "Administrator" has made a ton of edits with each appending one blank line. Many of the URL

[2022-03-31 15:04] #6348 closed

[2022-03-31 15:37] seabelis commented on #6346
Ignore as if it isn't a break is probably the best.

[2022-03-31 16:39] tangym27 commented on #6336
Hi @cdrini, would it be possible for me to work on this issue?

[2022-03-31 20:03] mheiman opened #6356 "Make work id and author id fields on book edit page smarter about what they accept"
On the book editing page, the fields for setting the work for an edition and for setting the author of a work have autosuggest functionality — you can start typing a value to get a list of matching records. You can also type a work or author ID to get a specific record, but if you enter anything besides the bare ID, it doesn't work.

When doing librarian work, I often find myself wanting to enter

[2022-03-31 22:56] #5328 closed

[2022-03-31 22:56] #5329 closed

[2022-03-31 22:56] #5330 closed

[2022-03-31 22:56] #5331 closed

[2022-03-31 23:02] cdrini commented on #5206
Alright kicking off a sample of that job; the number of works affected is <300 ; I think some of these are residues from "Open Library Work Bot" in the early 2010s :) https://colab.research.google.com/drive/1FcGV3CafYKgBQ4848pfv_ru31f3OYiMz#scrollTo=hOIREPs9a5rC

So I'm only going to be "soft reverting" work keys that have editions associated with them :+1: That's 189 works

[2022-03-31 23:52] cdrini commented on #5206
Alright completed! Here are the results: https://docs.google.com/spreadsheets/d/1Qu7tlmyaQPUib-GIQBCuAPRboKzZpU2TsTZ6xMPkQ-Y/edit#gid=0

[2022-04-01 00:13] #6346 closed

[2022-04-01 09:42] Philippos01 opened #6359 "Add usefull tips to the Docker Installation Guide about Code Updates."
As a new comer, using the Docker installation guide there was a misunderstaning concerning the auto code updates in the web templates. Although, the docker installation process is well described and easily implemented, me and my collegue @dbouris found out that it is not clearly stated which pages auto update and which need extra docker commands to do so, because they are cached.

@mekarpeles
@cdr

[2022-04-01 16:20] mekarpeles commented on #6359
Happy to also assign @dbouris though they will need to reply on this thread before GitHub allows us to do this.

[2022-04-01 16:24] dbouris commented on #6359
hi, happy to be also assigned if possible!

[2022-04-01 16:29] seabelis opened #6360 "Display all ISBNs in omnibar"
Only the second (set) ISBN appears in omnibar when there are multiple ISBNs.
### Evidence / Screenshot (if possible)

### Relevant url?
[
](https://openlibrary.org/books/OL23244987M/The_day_I_was_rich)
### Steps to Reproduce

1. Go to ...https://openlibrary.org/books/OL23244987M/The_day_I_was_rich
2. Do ...View omnibar ISBNs compared to edition details below fold.

* Actual: Omnibar does not show

[2022-04-01 16:32] seabelis opened #6361 "Make subjects + arrow clickable (expand/collapse) but not the subject tags itself"
The subject tags simultaneously collapse/expand the subject area AND navigate away from the page. This is potentially unclear for patrons.
### Evidence / Screenshot (if possible)
![expanded_subjects](https://user-images.githubusercontent.com/28732543/162535821-aab546bb-bf0c-4c4a-962d-96ef9da1d7e4.gif)

_This behavior is incorrect.  Subjects should not expand or collapse when link is clicked._
###

[2022-04-01 16:37] seabelis opened #6362 "Work pages are not rendering edition details (physical object)"
Work pages are not rendering all edition details (physical object). It is necessary to navigate to the edition url in order to view these details.

### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/books/OL24937226M/The_Catholic_Youth_Bible
https://openlibrary.org/works/OL17732W/Bible?mode=all

### Steps to Reproduce

1. Go to ...https://openlibrary.org/works/OL17

[2022-04-01 16:40] seabelis opened #6363 "Spamwords should not block librarian/admin edits"
Editing a record with existing spamwords (even when used legitimately) blocks edits from being saved.

### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/works/OL17513504W/Dvd_Extras_Include_Murder

### Steps to Reproduce

1. Go to ... https://openlibrary.org/works/OL17513504W/Dvd_Extras_Include_Murder
2. Do ...Try to save an edit.

* Actual: Error
* Expected: Edit

[2022-04-01 16:48] jimchamp commented on #6362
I'm seeing the physical object details on the work page that you've linked to:
![Screenshot from 2022-04-01 12-46-45](https://user-images.githubusercontent.com/28732543/161307197-4fcc29a7-57a0-4a52-b4d8-b6e5f84ab2dd.png)

Am I misunderstanding something?

[2022-04-01 19:50] #6360 closed

[2022-04-02 21:25] tfmorris commented on #4151
The PR that closed this just blacklists the English word "notebook" in titles. That seems a far cry from the breadth of the issue reported by @seabelis.

[2022-04-02 21:35] jimman2003 commented on #4151
Yeah,I think that this issue should remain open...

[2022-04-02 21:58] tfmorris commented on #6356
This is something that Freebase used to do and would be a great addition.

It can also be extended to external identifiers using (inverting) the HTML templates that are used to format internal identifiers into clickable links.

[2022-04-03 16:05] bicolino34 opened #6369 "Book cover isn't shown correctly on the publisher/subject pages"
Works with short titles without covers aren't shown correctly on publisher/subject pages.

### Evidence / Screenshot (if possible)
Works with titles "Моё имя" and "Тьма" have too small boxes
![image](https://user-images.githubusercontent.com/58372007/161436844-8b508635-dd94-4aca-8490-63d12727d774.png)

### Relevant url?
Publisher: https://openlibrary.org/publishers/%D0%9A%D0%BD%D0%B8%D0%B3%D0%B0_%

[2022-04-03 18:03] lephemere opened #6370 "Multiline series info truncated on edit"
Series info not displayed correctly on edit page when it consists of multiple lines. This leads to truncation and therefore loss of series info.

### Evidence / Screenshot (if possible)

[First version](https://openlibrary.org/books/OL37767358M/La_Roue_du_Temps_XI?v=1):

![image](https://user-images.githubusercontent.com/73437497/161441225-782dc8fd-4593-4042-9f03-66762880672c.png)

[While editing]

[2022-04-04 00:33] furugoorin commented on #2047
Hi @cdrini! Could I take up this issue? Also, could you clarify what is meant by `???` Can these files be moved?

[2022-04-04 09:33] seabelis opened #6371 "Reversing author merges also reverts editions and works"
Occasionally, I notice that authors were merged incorrectly. I can sometimes reverse the merge, but have noticed recently that a consequence of this is that edits made to related works and editions are reverted as well and without warning. It's not expected that reversing an author merge would affect non-author edition or work data.

### Evidence / Screenshot (if possible)

### Relevant url?

For

[2022-04-04 15:56] #6359 closed

[2022-04-04 16:08] cdrini opened #6372 "Author Merges sometimes (always?) not reflected in author search"
After authors are merged, the redirect records still sometimes (always?) appear in author search. A forced re-index of the author id fixes the problem.

### Relevant url?
eg https://openlibrary.org/search/authors?q=alcott&mode=everything -- Note https://openlibrary.org/authors/OL9635536A is still visible despite being a redirect.

### Steps to Reproduce

1. Merge some authors
2. Perform a search t

[2022-04-04 16:23] cdrini opened #6373 "Moving an edition does not cause source work to be reindexed into solr"
Moving an edition from a source work to another work does not trigger a re-index of the source work, so search results and the work page itself appear in weird states.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/161587862-bd62440a-442b-468c-b09e-53f77399c8ee.png) (since fixed)

### Steps to Reproduce
1. Move an edition from one work to anothe

[2022-04-04 16:51] bicolino34 opened #6374 "Subject page shows error when subject is on current user's list"
If you added a subject to a list, the subject page will show an error when you open it. Instead of lists it will show "Unable to render this"

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/58372007/161592560-746e2ec2-d086-4d5c-b17d-df761798fb7e.png)

![image (1)](https://user-images.githubusercontent.com/58372007/161592964-f903500d-701d-4bfd-bfa1-b14d0d

[2022-04-04 17:05] jollygreenegiant commented on #6226
@cdrini just wanted to bump this and see if you need anything else from me to be able to triage this.  Happy to provide more info if needed.

[2022-04-04 17:46] cdrini commented on #6226
Hi @jollygreenegiant ! Sorry for the delay; this is _exactly_ (to the T :P) What I've been working on this past quarter :) We're calling it "editions in solr" (solr is our search engine). It's still in development/we're still working out kinks, but we're going to be putting it up on testing.openlibrary.org this week to see how it performs!

This PR has the work in progress code: #6119 . My apologi

[2022-04-04 17:49] seabelis commented on #6371
Another merge that should be reversed. https://openlibrary.org/recentchanges/2011/04/18/merge-authors/43308762

[2022-04-04 17:52] jollygreenegiant commented on #6226
No worries, thanks for the quick response!  I'm glad this is getting such strong attention, it would be a game-changer for my use case.  If you have the time, I'd love a ping when the new endpoint is available so I can start working with it and seeing how it would integrate into my app.  Thanks again for all the effort on this!

[2022-04-04 17:57] cdrini commented on #6300
Removing non.com amazon identifiers sounds good to me! I also renamed Amazon.com ID to "Amazon ID (ASIN)"

Removed the following. Note data for these is still there and needs to be migrated or removed.

[code]

[2022-04-04 17:58] cdrini commented on #6300
What should we do about abebooks, @seabelis ? I think the actual bug here is that these fields had `.` in the name.

[2022-04-04 19:16] mekarpeles commented on #2242
@kazikhanmargulan if you feel like you have enough information to give it a try, feel free!

[2022-04-04 19:29] mekarpeles commented on #6370
@mheiman since you solved something similar with subject newlines, would you be open to taking a look at this one?

[2022-04-04 19:34] mekarpeles commented on #6058
1. Is throttling turned on? @ximm
2. If OL passes along IP (an anonymized one from nginx), does Archive.org compute the same anonymomized IP?

[2022-04-04 19:41] mheiman commented on #6370
Sure — I'll take a look.

[2022-04-04 19:58] #6097 closed

[2022-04-04 20:13] cdrini opened #6375 "Switch PWA/TWA from pointing to testing.openlibrary.org to openlibrary.org"
Note this is causing edits from the app to behave strangely / not show up (as is the case on testing.openlibrary.org)

### Stakeholders
@bicolino34 @seabelis

[2022-04-04 20:43] #5978 closed

[2022-04-04 20:45] mekarpeles commented on #6052
@cclauss proposed closing, we can always re-open in the future, great idea may be lots of work

[2022-04-04 20:45] #6052 closed

[2022-04-04 20:50] ximm commented on #6058
1. Throttling has _not_ been turned on yet. I was waiting for a dull moment, and aware of a few corners, one in TVS which has been resolved; and at least one with OL, IIRC there is a case I'm not sure about for partner users of the Bulk Availability API.
2. When qualified requests specify a `preferred_client_id` that value is used; otherwise, `client_id` is set to the userid if a user is authentic

[2022-04-04 20:59] cdrini opened #6376 "Confirm sitemaps generated and are correct"
Last auto data dump failed on 04-01, but did upload stunted dumps :grimacing: . Confirm sitemaps are ok and not stunted.

[2022-04-04 22:40] mheiman commented on #6370
This isn't actually a linebreak issue — in the edition record in question here, the series entry is a multi-value list. For display purposes, we just join it with commas, but for editing, only the first element in the list is retrieved.

I'm no sure what the best solution is here. We could flatten the value when we edit it, but destroys structural information. The series field was probably made mu

[2022-04-04 22:48] hornc commented on #6246
@cdrini It's not clear where specifically the translated language names feature is requested, but if it just on the general UI as part of localisation, can't it be handled by the existing localisation .po files and the `gettext`   `_(language.name)`?

[2022-04-04 22:50] cdrini opened #6377 "Search: Editions in Solr"
Epic to track getting editions into solr. This would impact a lot of already open issues, but is kind of enough of a technically challenging piece that I want somewhere to keep notes separately from the more user-facing goals.

### Pieces
- Reindexing code - the code needed to convert OL data into the data format needed in solr
    - [x] #6119
- Search UI code - the code needed to select and displ

[2022-04-04 23:42] cdrini opened #6379 "Books with Trusted Book Providers but no OCAID should have `has_fulltext: true` in solr"

[2022-04-04 23:52] cdrini commented on #6226
I created #6377 to keep a log of progress on editions in solr :+1:

[2022-04-05 16:36] lephemere commented on #6370
Could we use a textarea and deal with that entry the same way we do with the edition notes (also a multi-value list)?

This would prevent unintentional edits, which could be hard to track and revert.

[2022-04-05 16:51] cdrini commented on #6246
This is for the autocomplete drop down which is populated with data from the db, so can't use gettext. This is an example of data i18n more than UI i18n.

![image](https://user-images.githubusercontent.com/6251786/161807024-9bccf48e-1fb8-4714-8605-8b5a4fc9c5b3.png)

[2022-04-05 17:02] jimchamp commented on #6362
Confirmed that this is now present in the details section.

[2022-04-05 17:02] #6362 closed

[2022-04-05 17:40] cdrini opened #6383 "Update bwb imports cron job to run as openlibrary user"
Switching to python base image made it hard requirement that all python code should run as the `openlibrary` user. These cron jobs need to be updated to not write to `/root/`.

[2022-04-05 18:49] cdrini commented on #5594
We're not sure what caused the record to be not updated. Here is the merge that caused OL33913405M to become inconsistent, and have a reference to an author redirect: https://openlibrary.org/recentchanges/2021/10/08/merge-authors/87081389

[2022-04-05 20:28] cdrini commented on #5594
Here is the dump of the edition records that need to be fixed (55k): [sql.csv.gz](https://github.com/internetarchive/openlibrary/files/8421638/sql.csv.gz)

Here's the format, as a csv:

<html><body>

Edition | LastModified | Author | RedirectLocation | RedirectLastModified
-- | -- | -- | -- | --
/books/OL15350969M | 2009-12-15 02:41:02.077848 | /authors/OL4624437A | /authors/OL184870A | 2011-06-10

[2022-04-05 20:46] #6356 closed

[2022-04-06 01:59] tfmorris commented on #6246
You could probably just make it

[code]

unless you need the single valued `name` key for legacy reasons.

You can probably harvest the values from Wikidata (except perhaps for the funky MARC languages, but maybe even those too).

[2022-04-06 19:50] bad-beets commented on #5590
I'd also like to see a GraphQL API available to access openlibrary data, as this would speed up a book metadata project I'm working on by several orders of magnitude

[2022-04-07 17:18] cdrini commented on #6010
Yep! That's exactly the case; this is limited to librarians only since it requires a solid understanding of the difference between works and editions (which is kind of hairy :P).

[2022-04-07 17:18] #6010 closed

[2022-04-07 19:39] cdrini opened #6395 "Coordinate with students for good first issues"
We've been chatting with three (3!) student teams this month who are interested in contributing to Open Library!

- First team (3): Chloe, Crystal, and Michelle
    - Working on book page; eg #6411
- Second team (2): @dbouris , @Philippos01
    - #4578
- Third team (2): Vassilis, Constantina
    - Maybe: accessibility; #6054 ; other books page issues

[2022-04-07 19:41] cdrini opened #6396 "Create IA Summer of Code Docs"
Funding has been acquired

Next steps are to
* [x] create the [Google Doc describing the program + showing a menu of proposed opportunities](https://docs.google.com/document/d/1sI4FjXtzP-5iCym8CDd_WWD5BARr1gI7I3ObgAvhBtk/edit)
* [ ] create a [google form for applicants](https://docs.google.com/forms/d/1mozWhfhQ8v5GfPT68LXfBSGNHJ3nAIPYH_nG9yvB1H8/edit)

CodePath + Wendy H & Partner org + CMU + NYU

[2022-04-07 21:57] cdrini opened #6397 "git doesn't work inside olbase image"
Try running `git status` inside the plain olbase image, and it errors. This is a problem when we need to do things with that image where we don't have the volume mounts (eg prod).

### Steps to Reproduce
[code]

* Actual: `fatal: bad object HEAD`
* Expected: Normal git status

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?*

[2022-04-07 23:20] cdrini commented on #6377
Ok, getting ready for first test! All the issues have been fixed. This will have no UI changes, just test performance with solr going from 38M documents to 74M. I'll also be starting up `solr-next-updater` with the editions indexing code, so we'll also be testing that running.

Starting now by pulling down #6119 onto ol-home0 's solr-next-updater container:

[code]

Useful commands:

[code]

Monit

[2022-04-07 23:20] mheiman commented on #5594
We've updated more than half a million edition records that contained author redirects. This should resolve all of the author merge failures previously reported -- if you reported a failure earlier in this thread, please try to push it through now.

We still don't know exactly how the bad records are being created, so I wouldn't consider this issue closed until we solve that. I have a hunch that I

[2022-04-08 01:53] cdrini commented on #6377
Scratch that; left it catch up. Will check to see where it is tomorrow

[2022-04-08 13:16] dbouris opened #6399 "Accesibility Issue: Login button in the Login page does not get focus"
after checking the issue #4909, despite it is closed, found out that the Login Button (in the bottom of the page) does not get focus as it is supposed to do.

Screenshot:
![image](https://user-images.githubusercontent.com/72794144/162443239-51388ad3-520e-4912-a788-328c0ea06c2a.png)

[2022-04-08 13:18] dbouris commented on #4909
@bpmcneilly after checking the page for accessibility issues together with @Philippos01 we found that the login button at the bottom does not get focus. We opened issue  #6399 and plan to deal with it as we believe it is a css concerned one.

[2022-04-08 17:02] cdrini commented on #4151
Seems reasonable to keep this issue as a hub for this discussion; Note @LeadSongDog 's comment here: https://github.com/internetarchive/openlibrary/pull/6283#issuecomment-1092079014 .

[2022-04-08 17:05] cdrini commented on #4151
What do folks think about adding query to the block list: `title:annotated AND publisher:independently published` . That seems to catch a good chunk of the classics spam. CC @seabelis @LeadSongDog

- Matching Books: https://openlibrary.org/search?q=title%3Aannotated+AND+publisher%3Aindependently+published&mode=everything
- Random sample of matching books: https://openlibrary.org/search?mode=everyt

[2022-04-08 18:26] dcapillae commented on #5594
I have merged the authors included in my [list of merge failures](https://github.com/internetarchive/openlibrary/issues/5594#issuecomment-980444196) except for two authors where it continues to fail:

- [ ] Christopher Paolini: https://openlibrary.org/authors/merge?key=OL1425963A&key=OL7929134A
- [ ] Stephen Crane: https://openlibrary.org/authors/merge?key=OL24527A&key=OL7391065A

[2022-04-08 20:08] cdrini opened #6400 "Improve solr_updater solr POST error handling"
During solr catch up, we often have errors like:

`Error with solr POST update: {"delete": ["/works/OL36792267M", "/works/OL35623783M", "/works/OL36340245M", "/works/OL37644115M", "/works/OL35974137M", "/works/OL35620087M", "/works/OL37486121M", "/works/OL37643824M", "/works/OL36791677M", "/works/OL36955347M", "/works/OL36870114M", "/works/OL37643345M", "/works/OL36792359M", "/works/OL36197272M",

[2022-04-08 20:10] cdrini commented on #6377
Ok, did some counts:

<html><body>
<google-sheets-html-origin><style type="text/css"></style>

Class | Query | solr-prod | solr-next | Diff
-- | -- | -- | -- | --
authors | type:author | 9,175,045 | 9,517,789 | 342,744
editions | type:edition | 0 | 34,742,669 | 34,742,669
orphans | type:work AND key:*M | 2,253,354 | 2,234,867 | -18,487
subjects | type:subject | 3,026,213 | 3,055,549 | 29,336
total

[2022-04-08 20:18] cdrini commented on #6377
Connecting testing now...

[2022-04-08 22:01] jimchamp commented on #6361
It looks like we may need to update the code that clamps our subjects.  Placing the triangle and label inside of a container element and attaching the click event listener to the container should fix this.

__Files related to this issue__:

Template for subject tags:
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/macros/SubjectTags.html

Code for subject clamping:
https://g

[2022-04-08 22:09] LeadSongDog commented on #5594
Looking at https://openlibrary.org/works/OL5819884W, one sees both author records on one work. Further, individual editions show links to either author record, not just one: OL35665841M links to OL7929134A, while OL27301994M links to OL1425963A. It would be instructive to either choose or just remove these redundant links from the edition records: there’s no need for editions to show a redirected

[2022-04-08 22:15] jimchamp commented on #2716
Fairly certain that this has been solved by #6159.  Feel free to re-open this if I am misunderstanding things.

[2022-04-08 22:15] #2716 closed

[2022-04-08 22:46] jimchamp opened #6401 ""Read more" links sometimes appear when not needed"
Sometimes "Read more" and "Read less" links are present below a completely visible block of content.  In cases such as these, we should not display the links.

### Evidence / Screenshot (if possible)
![useless_readmore](https://user-images.githubusercontent.com/28732543/162541722-be4cc8bd-065a-4694-a4b3-5276a5136934.gif)

### Relevant url?

"Read more" links can be found on our book pages.  Here i

[2022-04-09 00:30] mheiman commented on #5594
@dcapillae, I tracked down the problem editions and pushed those two merges through, so you can finish your cleanup work on those authors.

[2022-04-09 02:31] cdrini commented on #6377
Seems like it's doing fine on testing; added some perf logging to get a better idea of error rate and duration. Will connect prod on Monday to test its perf!

[2022-04-09 14:38] lephemere commented on #5210
Other templates with `textarea`:
openlibrary/templates/account/notes.html
openlibrary/templates/admin/inspect/memcache.html
openlibrary/templates/admin/solr.html
openlibrary/templates/admin/spamwords.html
openlibrary/templates/support.html
openlibrary/templates/type/list/edit.html
openlibrary/templates/type/page/edit.html

[2022-04-09 16:48] lephemere commented on #5210
| templates | olform | comment |
| --------- | ------ | ------- |
| account/notes.html | no | OK, not resizable |
| admin/block.html | no | |
| admin/case.html | no | testing? |
| admin/imports-add.html | no | |
| admin/inspect/memcache.html | yes | |
| admin/solr.html | yes | |
| admin/spamwords.html | yes | |
| books/edit/about.html | yes | |
| books/edit/addfield.html | no | dead code? |
| book

[2022-04-09 16:53] lephemere commented on #5210
Issue is also present in `colorbox`. Box is not resizable. Hence, `resize: none` should do the trick.

![image](https://user-images.githubusercontent.com/73437497/162583606-fe761b38-43c1-417e-a8e0-161c6f9ddc7d.png)

[2022-04-10 13:56] Philippos01 commented on #4448
Hello, me and my collegue @dbouris are interested in this issue. We can try to apply the css and the javascript needed, in order to make a full functional dark mode. Is it posssible to assign this issue to us?

[2022-04-10 13:56] dbouris commented on #4578
hi  @cdrini me and my colleague  @Philippos01 are interested in taking over this issue, both for Whatsapp and Instagram. Do you mind assigning it to us?  We have also considered using the Web Share API as @jdlrobson mentioned above

[2022-04-10 14:01] Philippos01 commented on #452
Hello, me and my collegue @dbouris are very interested in this one. Can someone give us more precise information and whether this feature is still considered a good addition to the project.

[2022-04-10 23:06] tfmorris opened #6405 "Multiple Amazon records imported 5 times apiece creating duplicate editions"
This Amazon record: https://www.amazon.com/gp/product/2757891332

was imported 5 times in a row as:

- https://openlibrary.org/books/OL32623293M
- https://openlibrary.org/books/OL32623294M
- https://openlibrary.org/books/OL32623295M
- https://openlibrary.org/books/OL32623296M
- https://openlibrary.org/books/OL32623297M

Here is another set of 5 copies of https://www.amazon.com/gp/product/274409102

[2022-04-11 02:41] tfmorris opened #6406 "Non-ASCII character rendering broken on author page"
This author https://openlibrary.org/authors/OL8115327A/Robert_Wi_347_niewski
has a name that renders as `Robert Wi&#347;niewski` on the author page
but, correctly, as `Robert Wiśniewski` on the pages of his works e.g. https://openlibrary.org/works/OL21191421W

### Evidence / Screenshot (if possible)
![Screen Shot 2022-04-10 at 10 40 15 PM](https://user-images.githubusercontent.com/82178/162656086-

[2022-04-11 02:46] tfmorris opened #6407 "Work count shown as 1 when actually 0"
When an author has zero works or all works are filtered by search on the author page, the count is incorrectly shown as 1 instead of 0.

### Evidence / Screenshot (if possible)
![Screen Shot 2022-04-09 at 2 37 48 PM](https://user-images.githubusercontent.com/82178/162656566-4827aa06-714a-49d5-975d-18a2a62b11fa.png)

### Relevant url?
https://openlibrary.org/authors/OL2804931A

### Steps to Reprodu

[2022-04-11 16:30] jimchamp opened #6408 ""Previews available in:" sometimes displayed without any preview languages"
Sometimes the "Previews available in:" copy is rendered without any preview languages.

### Evidence / Screenshot (if possible)
![no_previews](https://user-images.githubusercontent.com/28732543/162786133-dbf7ea5c-6470-4227-8775-9aff6f3941f6.png)

### Relevant url?

https://openlibrary.org/works/OL4472450W/Shad?edition=ia%3Ashad0000corr

### Steps to Reproduce

1. Go to the page listed above.
2. Ob

[2022-04-11 16:57] jimchamp opened #6409 "Cannot remove an Edition's language from the edit UI"
There is a section for adding an edition's language in the edit UI.  However, there does not seem to be a way to delete an existing language using the UI.

### Evidence / Screenshot (if possible)
![Screenshot from 2022-04-11 12-39-23](https://user-images.githubusercontent.com/28732543/162790332-c7907fe7-f605-47b3-a39d-9358facf5257.png)
_Languages can be added here, but not removed..._

### Relevan

[2022-04-11 17:00] cdrini commented on #6377
Connected to ol-web1 now and monitoring

[2022-04-11 17:09] cdrini commented on #6377
Looking good so far! Not because we're currently attached to two solrs, there will be slight discrepancies in results when search pages are refreshed.

Will leave like this for ~30min to make sure the cache gets nice and warm on ol-solr1, then switch the webhead as well to see how it handles full traffic.

[2022-04-11 17:43] cdrini commented on #6361
A simpler approach might to just not expand/collapse if the click was on an `a` element. Because the css clamp also handles the `...`, which we do want to be clickable. Something like `if (event.target.nodeName == 'a') return`

[2022-04-11 18:52] cdrini commented on #6088
Here is the relevant code:

https://github.com/internetarchive/openlibrary/blob/8b983898879a48d2386610e790814145e783c17d/openlibrary/plugins/upstream/addbook.py#L1074-L1115

Not sure why this isn't working.

[2022-04-11 18:58] cdrini commented on #6057
Hi @miguelmaiquez ; most of the links on your comment there are unfortunately not working for me :/ eg

- Not working: https://datos.bne.es/find/resultados/?advanced=1&P3041%2CP3009%2CP3013%2CP3039=B%2011971-2015 .
- Not working: https://datos.bne.es/edicion/a5722426.html
- Working: https://datos.bne.es/edicion/bimo0001584187.html

Could you update your proposal with what you think we should do he

[2022-04-11 19:08] cdrini commented on #6041
Hi @kdepoel , "What the default work title is, is then irrelevant." That's exactly where we're headed :)

This is a large project but it's a priority and plan is to get the first versions out for testing this week. We're currently doing some performance testing on production (indexing all editions ~doubles the total number of records in our search engine), but there won't be any visible search res

[2022-04-11 19:15] cdrini commented on #6336
@tangym27 Yes please, go for it!

[2022-04-11 19:22] cdrini commented on #339
This needs to be verified if it's still an issue. It's only been 8 years :)

[2022-04-11 20:04] cdrini commented on #4578
Notes from discussion:
- Replace 4 share icons with single “[ICON] Share” button + modal
- Investigate where to integrate web share api; should just be one option in the modal?
- Need to keep “Embed” as an option – that’s our currently most clicked share button
- TODO: jimchamp get share icon to use

Seems like a good one @dbouris ! @jimchamp will help answer any questions :)

[2022-04-11 20:15] cdrini opened #6411 "When no star ratings on book, UI looks weird"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/162824327-1d800dab-41dc-4f11-9037-f5338ef4ea6d.png)

### Relevant url?
eg https://openlibrary.org/books/OL664495M/An_octave_above_thunder

### Steps to Reproduce

1. Go to book with no ratings

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (pr

[2022-04-11 22:12] cdrini commented on #6406
This was a XSS vulnerability on the _work_ page. Html entities shouldn't be follow, but should be replaced on the data record with their proper unicode counterpart.

[2022-04-11 22:33] #6406 closed

[2022-04-12 00:28] tfmorris commented on #6088
This is an exact duplicate of #4800 which was opened 13 months ago and related to #790 from 2018.

[2022-04-12 00:30] tfmorris commented on #4800
This is also related to #790.

[2022-04-12 00:42] tfmorris opened #6415 "Hyphens break author search"
In addition to the long standing author autocomplete bugs, author search is also broken for names containing hyphens/dashes.

These two searches return the same results:
https://openlibrary.org/search/authors?q=Lingas-%C5%81oniewska
https://openlibrary.org/search/authors?q=Lingas

whereas this search (replacing the hyphen with a space) returns the correct results:
https://openlibrary.org/search/au

[2022-04-12 00:52] tfmorris commented on #6409
Can you explain the use case for removing an edition language? If the language is wrong, just correct it. There are also codes like `zxx`, `mul`, `unk` for special cases.

[2022-04-12 01:30] cdrini commented on #6377
Ok, perf looked good throughout the day! Taking offline for now since ol-solr1 doesn't have an auto-restarter enabled like ol-solr0 does. Next up: Some fixes, then test the the UI/API methods!

[2022-04-12 02:02] jimchamp commented on #6409
Multiple languages can be added to an edition.  If two or more languages are assigned to an edition that is written in a single language, then at least one of the assigned languages are incorrect.  This functionality would be handy in these cases.

[2022-04-12 02:40] jimchamp commented on #5210
`account/notes.html` is also a colorbox `textarea`.  I agree that we should completely restrict resizing colorbox `textarea`s for now.

In the past, we have adjusted a colorbox's height with this function:
https://github.com/jimchamp/openlibrary/blob/7f260943c8377f0c2a078d67e7a216609fec8877/openlibrary/plugins/openlibrary/js/patron-metadata/index.js#L118-L126

This code was removed some time ago,

[2022-04-12 05:39] miguelmaiquez commented on #6057
Hi, @cdrini. Thank you for your reply. Yes, I just checked it, and they don't work anymore :( It looks like they changed the search engine system on the new catalog... Same thing for using the ID of the edition, in both the main or the new catalog: sometimes it works, some times it doesn't, and, in any case, it's too hard to find for the casual user. So not many options left, I'm affraid.

What ke

[2022-04-12 15:52] Vassilis-Boubis commented on #6411
Hello! Can @constantinazouni and I work on that issue?

[2022-04-12 20:43] cdrini opened #6417 "Fix all occurrences of html entities in author names"
There are many authors like https://openlibrary.org/authors/OL8115327A/Robert_Wi_347_niewski?v=3 that contain html entities (eg `&#347;`) instead of the correct unicode character (eg "ś"). These should be fixed.

Implementing this myself; want to create a small schema for running essentially simple "map" jobs like this.

https://colab.research.google.com/drive/17futuO_fn2XNzL6jno8Nig2ixsSbtnkW#scr

[2022-04-12 21:28] cdrini commented on #6417
~6k records cleaned up :+1: Should also run on work/edition `title` and `subtitle`. Saw a number of those.

[2022-04-12 22:48] jimchamp commented on #6363
You should be able to make edits to these types of records on testing, for now.

[2022-04-12 23:43] cdrini opened #6422 "Make `alternative_title` include all edition titles and work titles and subtitle"
Subtask of #6377

Needed for edition level search, since we will want queries to happen across all edition titles.

After a full reindex, we should also and make it default for `title:` search field

[2022-04-13 00:16] hornc opened #6423 "strip spaces from ISNI author ids"
**Feature:** Input validation on ISNI identifiers by stripping out any spaces entered on saving (similar to how hyphens are stripped from ISBNs before storing)  I think this is done in js on the edit forms?

I noticed some authors currently have ISNI with spaces, e.g. https://openlibrary.org/authors/OL2520118A/Amian_L._Champneys

Which forms an incorrect URL which does not resolve correctly: https

[2022-04-13 00:32] #6399 closed

[2022-04-13 08:44] eitanshav opened #6424 "Security issues found in your project."
Dear openlibrary contributors,

I've tried to contact several of you through email, but got no response.
Please get back to me at: [vulnerability@whitesourcesoftware.com](mailto:vulnerability@whitesourcesoftware.com).
It's about security issues found in your project.

Thanks,
Eitan.

[2022-04-13 19:29] #6411 closed

[2022-04-13 19:55] tangym27 commented on #6401
Hi @jimchamp, can I be assigned to this issue?

[2022-04-13 20:33] cdrini commented on #6376
![image](https://user-images.githubusercontent.com/6251786/163265435-2f49e980-abe7-41f2-8f7c-0d33f12ea486.png)
Sitemaps look good! 34M ~= works + authors.

Also checked the code, on sitemaps only depends on the full dump not the split dumps, which I think were correct.

[2022-04-13 20:33] #6376 closed

[2022-04-14 03:12] #5999 closed

[2022-04-14 16:38] mekarpeles commented on #6424
Hi @eitanshav I did respond to you over email. Happy to discuss there or here.

[2022-04-14 16:50] mekarpeles opened #6431 "Fix Book Page Navigation Bar Overflow on Mobile (Horizontal Scroll)"
When in mobile view, the Book Page navigation bar overflows on to 2 lines.

We'd like instead for the nav bar to star on 1 line and to overflow horizontally (be scrollable).

This will require adding css to the [`.work-menu.sticky`](https://github.com/internetarchive/openlibrary/blob/971383b5d6caf6a0f9f2397563661b6997b58539/static/css/components/work.less#L149-L193) component in [work.less](https:

[2022-04-14 16:52] ChloeQian12 opened #6432 "Translate README.md to Chinese"
### Describe the problem that you'd like solved
I noticed that there is no Chinese translation of [README.md](https://github.com/internetarchive/openlibrary/blob/master/Readme.md). I would love to start translating the file.

[2022-04-14 17:10] mekarpeles opened #6433 "Upgrade Google Analytics Tag (staff)"
See:
https://support.google.com/analytics/answer/11583528
https://support.google.com/analytics/answer/10089681#start

We'll have to configure this with our anonymized analytics:
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/js/ol.analytics.js

[code]

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do

[2022-04-14 17:13] cdrini commented on #6431
** We should use `overflow-x: auto`; Otherwise the scrollbar will always be visible.

[2022-04-14 17:18] furugoorin commented on #6431
@mekarpeles I would like to claim this issue! I would also like to open this up to Michelle and Chloe, so that the three of us could tackle this together.

[2022-04-14 17:22] bicolino34 opened #6434 "Rework for subjects"
I suggest using this issue for discussing what should be changed about subjects

@mekarpeles said that OL may move to subject system similar to 'Archive of our own' ([their FAQ](https://archiveofourown.org/faq/tags?language_id=en#whatisatag)). I'm not familiar with it, but I kinda like that their tags can have synonyms

### what I want to be added
- I would like to have hierarchical subjects. For

[2022-04-14 17:26] dbouris commented on #6361
hi @jimchamp, me an @Philippos01 would like to work on that!

[2022-04-14 17:50] mekarpeles commented on #6434
Thank you for creating this issue! We should discuss at an upcoming community call.

[2022-04-14 18:02] kazikhanmargulan commented on #2242
I kind of did the exact same thing as was done on the mentioned issue commit. If you would want me to pull request it, let me know.

[2022-04-14 18:05] kazikhanmargulan commented on #6369
Hello guys! Will this commit solve this? https://github.com/kazikhanmargulan/openlibrary/commit/74ff76d96e7777cdd334cf6f63014a5eed36eeaa
I just added the fixed width to the book cover.

[2022-04-14 19:05] #6369 closed

[2022-04-14 19:15] #6408 closed

[2022-04-14 19:29] mekarpeles commented on #6432
Thank you! Sounds great.

[2022-04-14 19:46] mekarpeles commented on #6054
Hi @saieswar13, I'm going to open up the assignee field for now and give others an opportunity. Please let us know if you've already started working on this as I want your existing work to be respected / considered! Thank you!

[2022-04-14 20:11] mekarpeles opened #6436 "Add "Related Books" to Book Page Nav Menu"
"Related Books" link should be added to the end of the navbar.  This should link to the related works carousels, near the bottom of the page.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-04-14 20:18] mekarpeles opened #6437 "Add Google Analytics Tracking to Book Page Nav Tab Items"
On the homepage, we have an onboarding carousel where each "card" has a special field which allows it to be tracked by google analytics which looks like:

`data-ol-link-track="OnboardingCarouselClick|Read"`

The should be read as:
The "Read" button of the an `OnboardingCarouselClick` event

In our case, we probably want an event of `BookPageNavbar` and then actions of e.g. `Overview`, `Lists`, etc

[2022-04-14 20:23] cdrini opened #6438 "Combine Loans and Waitlist pages"
We currently have loans and waitlists as separate items in the My Books sidebar:

![image](https://user-images.githubusercontent.com/6251786/163466932-cb7430b2-2489-4283-a931-771fafd7cf45.png)

As we add more items to this sidebar (Eg #6427 ), this it's getting a little messy. "Waitlist" isn't as useful anymore for most patrons, so lets combine Loans and Waitlist:

![image](https://user-images.git

[2022-04-14 20:25] cdrini commented on #6438
Hi @tangym27 ! Would you be interested in this one after working on Read more? Also before #6427 :)

[2022-04-14 20:34] constantinazouni commented on #6066
Can @Vassilis-Boubis and I work on that issue?

[2022-04-14 20:42] tangym27 commented on #6438
Hi @cdrini! Yes, this sounds great. Thank you!

[2022-04-14 21:18] mekarpeles opened #6439 "Open Library Stats Cron hitting Document update conflict"
[code]

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2022-04-14 21:53] cdrini opened #6440 "Investigate replacing most of infobase with modern postgres"
Infobase, the data layer of infogami, has a lot of code to handle making things like making the JSON objects it calls "Things" queryable efficiently. Modern postgres JSONB columns lets you do a lot of this out of the box. We could probably drastically trim back infobase if we let postgres handle these things. Although how much of a nightmare that would be remains to be determined :P

We'd likely w

[2022-04-15 15:22] Vassilis-Boubis commented on #6436
Constantina and I think that we can solve it. Can you assigned it to us

[2022-04-15 17:20] #6363 closed

[2022-04-15 17:26] #6400 closed

[2022-04-15 17:29] #6373 closed

[2022-04-15 17:33] ximm commented on #6058
Followup: checking if `get_available()` in `lending.py` needs to be exempt from session concurrency rate limiting, if so, https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/lending.py#L280-L301 should be extended with an additional argument, `service=metadata__unlimited`.

Whether this is appropriate is a function of usage pattern.

The guideline is:
- if this function is

[2022-04-15 17:46] #2355 closed

[2022-04-15 17:46] #6422 closed

[2022-04-15 17:51] #6260 closed

[2022-04-16 01:57] ChloeQian12 commented on #6437
Hi Mek @mekarpeles! Thank you so much for consideration. However, my hands are already full with the current issue. I will let you know once I finish translating the file.

[2022-04-16 03:40] lootnath opened #6443 "you cant publish commercial material worldwide, just in US. also you cant read it yourself cuz free reading is capitalism cost saving hence commercial use."
us judges irratiinal and poorly trained.

[2022-04-16 11:24] #3240 closed

[2022-04-17 18:00] popcar2 opened #6449 ""Unable to render this page" while accessing a specific work"
Every time I attempt to access OL20465177W, I get a type error and the page fails to load.

### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/16920817/163726481-266adb85-e226-482f-89e6-77be708674d3.png)

### Relevant url?
https://openlibrary.org/works/OL20465177W/Diary_of_a_Wimpy_Kid

### Details

- **I am logged in**
- **Using Firefox 99.0.1 (64-bit)**
-

[2022-04-17 22:03] tfmorris commented on #6449
https://openlibrary.org/works/OL20465177W/Diary_of_a_Wimpy_Kid?debug=true

[code]

Error handling is TBD

[2022-04-18 17:07] cdrini opened #6454 "Cannot docker-compose up in gitpod"
Get lots of errors, but top-most error is "Container ID 8983 cannot be mapped to a host ID." It was working while I was testing #6430 , but it appears to no longer be working now. Here is the source issue on gitpod https://github.com/gitpod-io/gitpod/issues/9311

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/163845116-837abc2a-9d3a-483f-8424-552

[2022-04-18 17:11] cdrini commented on #6454
Ugggh! But the PR that fixed the issue works? Even though there haven't been any changed to gitpod files since then??? https://gitpod.io/#https://github.com/internetarchive/openlibrary/pull/6430

[2022-04-18 17:39] jimchamp commented on #2564
This seems to be resolved, unless I'm missing something.  I'm seeing all types of availability buttons on your list items.

Feel free to re-open this if I'm incorrect.

[2022-04-18 17:39] #2564 closed

[2022-04-18 17:40] tfmorris commented on #6409
Thanks for the clarification. Presumably this will be restricted so that they can't remove the last language.

[2022-04-18 17:45] jimchamp commented on #6409
This seems reasonable.  I can't really think of a use case for removing the last language, nor do I want our catalog's quality to drop.

[2022-04-18 18:02] tfmorris commented on #6434
This is a duplicate of #2819 from more than 2 years ago.

The FAQ mentioned above requires agreeing to a legal agreement, which makes it inaccessible, and, speaking of inaccessible, why schedule discussion for a private call that requires real-time presence rather than discussing it in the open on the relevant ticket like most open source projects due?

I think making subjects first class objects

[2022-04-18 18:06] tfmorris commented on #6440
Isn't this an https://github.com/internetarchive/infogami issue? Obviously the key to success will be having a comprehensive infogami test suite so that the refactoring can be done with confidence.

[2022-04-18 18:54] mekarpeles commented on #6361
Related to #6428. Re: test coverage, see https://github.com/internetarchive/openlibrary/pull/6428#issuecomment-1100238302

[2022-04-18 19:08] mekarpeles commented on #6443
Thank you for your feedback. If you have questions or comments about the policies of the Open Library service, please feel free to direct them to info@archive.org.

The github is primarily for engineering efforts and team coordination so there aren't many things we can do to engage with such perspectives here. Thank you!

[2022-04-18 19:08] #6443 closed

[2022-04-18 19:25] mekarpeles commented on #6449
Ground Truth API may not always gracefully handle the case where an ocaid is darked/removed and then this identifier is queried.

[2022-04-18 19:30] mekarpeles opened #6455 "Google Doc Proposal for OL Account Deletion Changes"
This document is for internal discussion and planning and doesn't represent an agreed upon resolution for implementation.
https://docs.google.com/document/d/1a5nX7lpqNCdF8Fkf-H6znYapx7GTaqZVddLGnk7RM3U/edit

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-04-18 19:55] constantinazouni commented on #6054
Me and @Vassilis-Boubis would like to work on that

[2022-04-18 21:18] cdrini commented on #3240
Oh hi @jspizziri sorry for the delay, this slipped past us! Here is how you fetch an edition given a project gutenberg id: http://openlibrary.org/query.json?type=/type/edition&identifiers.project_gutenberg=07787&*

[2022-04-18 21:19] jspizziri commented on #3240
Thanks for the response!

[2022-04-18 21:37] cdrini commented on #3240
Thank you for your patience! 😊

[2022-04-18 21:56] #6436 closed

[2022-04-18 23:06] jimchamp opened #6457 "Expand patron exports"
### Describe the problem that you'd like solved

The account export page (https://openlibrary.org/account/import) only allows patrons to download their reading log history.  As a patron, I expect to be able to download other types of OL data on this page, like my book notes, lists, or reviews.

### Proposal & Constraints

Expand the account exports view to include lists, book notes and reviews.  W

[2022-04-19 08:46] SahAssar commented on #5833
I happened upon a \u0000 char in a book title that broke the UI for both viewing and editing, I sent in a support request and it was fixed and I was pointed to this issue. In the support request I stated that this led to invalid JSON in the data dumps, but upon reading the JSON RFC I realized that it is actually valid JSON, it's just not supported by postgresql (which I use for importing the data

[2022-04-19 15:47] mekarpeles commented on #5014
Related to #5014

[2022-04-19 22:37] #6431 closed

[2022-04-20 16:09] #6058 closed

[2022-04-20 16:11] mekarpeles commented on #6395
I feel like this project board as resolved our core issues and we've made contact w/ each student to ensure at least 1 task each is in flight:

https://github.com/internetarchive/openlibrary/projects/36?add_cards_query=is%3Aopen

[2022-04-20 16:11] #6395 closed

[2022-04-20 16:19] #6272 closed

[2022-04-20 16:25] Philippos01 opened #6461 "Perform unit test on initClampers function in the readmore.js"
After our previous pull request #6445  me and @dbouris noticed a problem about the testing coverage and we believe that there is a need to perform further testing.

@cdrini
@mekarpeles

[2022-04-20 16:35] popcar2 opened #6462 "Subtitles should appear in autocomplete search results"
There are a lot of books (specifically those in a series) that heavily depend on subtitles to form a complete title. The issue is that when searching for a title of a book, the subtitle does not appear. This leads to many different works having the same title or being misleading. Anything after a colon would also not appear in the search preview, as that would be considered a subtitle.

For exampl

[2022-04-20 17:10] #6361 closed

[2022-04-20 18:24] mekarpeles commented on #6054
It looks like we won't be able to use svg
https://stackoverflow.com/questions/21636503/use-svg-as-ogimage

We'll probably want to...
* [ ] create a background image which gets added to `/static/imgs`
* [ ] Write a function (lets call it `create_list_preview` which takes a list ID (e.g .`/people/mekBot/lists/OL104041L`) fetches the first 5 **book items** from the List, uses python Pillow / PIL libr

[2022-04-21 00:12] cdrini opened #6465 "Remove legacy XML parsing of solr output"
Subtask of #6377

No longer needed with modern solr which output JSON, and quite a headache with nested documents

[2022-04-21 07:14] seabelis commented on #6462
Duplicate of #2355 ?

[2022-04-21 17:01] cdrini commented on #6462
Oh this is just for the UI piece of making the titles appear in the drop down; #2355 was about also querying `subtitle` when a user searches with `title:`.

[2022-04-21 17:25] mekarpeles commented on #6054
@Vassilis-Boubis + @constantinazouni, is it alright if @furugoorin helps with the 1st checkbox of creating a background design? I think that would be a cool collaboration!

[2022-04-21 17:29] mekarpeles commented on #6462
@furugoorin how do you feel about trying this one?

We might try adding a middle line w/ subtitle (similar to what we do on our books page) like:

**Title**
_Subtitle_
by Author

[2022-04-21 17:55] cdrini commented on #5985
We're looking for something like this:

![image](https://user-images.githubusercontent.com/6251786/164521056-c9f3c2be-042d-4f66-a3c3-ae7c069bf653.png)

But note these are both one button; so clicking should bring up the same menu. This is a little weird; in the future we'll likely want to create a separate menu to appear when the user icon is clicked, but until then this is what we got! We don't w

[2022-04-21 18:40] furugoorin commented on #6054
Great, I'll keep you all posted with some mockups here! Do let me know if there are any updated specifications with regards to dimensions, palette, etc., when the mockups are ready.

[2022-04-22 11:35] seabelis opened #6468 "Some records contain null bytes in title -- 400s rendering"
From a patron:
The book OL26876020M and work OL19656385W seems to have a null byte in it’s title which means that the data dumps contain invalid json and also seems to make it inaccessible on the site for viewing/editing. If I could edit it myself I would but going to the book gives me a 400 bad request error because of the null: https://openlibrary.org/books/OL26876020M/Electric_and_hybrid_vehicl

[2022-04-22 14:32] tmanarl opened #6470 "Carousels pulled from Lists only show works"
Currently, carousels that are created using patron lists only display works and not editions.  Therefore, if a list contains multiple editions that belong to the same work, only a single instance of the work is displayed on the carousel.

### Evidence / Screenshot (if possible)
Here is a list with 15 entries:
<img src="https://docs.google.com/drawings/d/e/2PACX-1vRHJ8gMd6ag08ihfu8QdvJrViYgminJYoeL

[2022-04-22 14:44] mekarpeles opened #6471 "Book Edit Page: By default, ENTER triggers Delete not Save"
Believed to be related to #6273. When a patron uses the ENTER key to submit the book edit form, the delete button is being triggered instead of save.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/loca

[2022-04-22 16:03] bitnapper commented on #6471
### Evidence / Screenshot (if possible)

<img width="1060" alt="Screenshot 2022-04-22 at 17 58 07" src="https://user-images.githubusercontent.com/2772669/164751359-edc42290-2e85-47fb-abfa-557d2ae899d2.png">

## Steps to Reproduce

1. Got to any edition
2. Click edit
3. select the  _How many pages?_ text field
4. press enter

- actual

- expected

changes should have been changed.

## Details

-

[2022-04-22 16:06] jimchamp commented on #6471
Thanks for the details!  I'm on it.

[2022-04-22 18:30] constantinazouni commented on #5985
@Vassilis-Boubis and I think that we solved it

[2022-04-22 20:08] furugoorin commented on #6054
Please refer to this [social card designs link](https://xd.adobe.com/view/b7274a73-6173-4683-b275-7f776ca7ef9d-e274/)

I can make more changes on my end, and sync them here.

The first two prototypes are just color gradients; I tried to find the closest color match by converting hsl to hex given the `css/less color.less` file, and from a general overview of the OpenLibrary website. The rest is a m

[2022-04-22 20:51] #6461 closed

[2022-04-23 04:48] cdrini commented on #6377
Status update: The first stab at the UI/API code is ready for testing next week 😊 #6476 (last commit). Blocked until some prep refactors go through.

[2022-04-25 19:45] cdrini commented on #6439
Still looks a little funky; but works correctly when we backfill it by running it manually for 30 days.

[2022-04-25 20:17] jimchamp commented on #6170
Closing, as this looks to be complete.

[2022-04-25 20:17] #6170 closed

[2022-04-25 23:15] mekarpeles commented on #6054
nice work! this looks cool :)
![xd adobe com_view_b7274a73-6173-4683-b275-7f776ca7ef9d-e274_ (1)](https://user-images.githubusercontent.com/978325/165189521-42243c67-e94b-48ea-911f-3bfe14e776f9.png)

[2022-04-26 02:15] jimchamp opened #6484 "Books Page: mobile Redesign & cleanup"
This is an epic for tracking outstanding book page issues from the canonical book page desktop redesign #684 as well as the remaining mobile redesign steps.

@hayoonc helped lead a mobile redesign of the Books Page in figma: https://www.figma.com/file/uIY20MIY2LgwKT7KwCgYJB/Open-Library-Mobile?node-id=0%3A1

We've mostly converged on this v1 design (with some proposed changes to desktop to support

[2022-04-26 02:28] jimchamp opened #6485 "Replace sidebar for mobile "My Account" pages"
### Describe the problem that you'd like solved

In mobile views, the sidebar in "My Account" pages is placed above the content.  Since the sidebar contains many items, patrons must scroll fairly far to find the content that they are looking for.  It would be great if the sidebar didn't take up so much vertical space in mobile views.

### Proposal & Constraints

Let's convert the sidebar into a na

[2022-04-26 02:43] cdrini commented on #6246
Oh interesting actually; Wikidata has a LoC/Marc ID field on languages: https://www.wikidata.org/wiki/Property:P4801 . I think I'll use this query:

https://query.wikidata.org/#SELECT%20%3Fqid%20%3Fmarc_code%20%3Fiso_639_1%20%7B%0A%20%20%20%20%3Fqid%20wdt%3AP4801%20%3Fmarc_code%3B%0A%20%20%20%20%20%20%20%20%20wdt%3AP218%20%3Fiso_639_1%0A%7D

Game plan is to write a script that (1) goes down the re

[2022-04-26 02:51] cdrini opened #6486 "Translate /subjects into Chinese"
We can translate these pages to other language thanks to `/type/i18n_page`! Just go to https://openlibrary.org/subjects.zh?m=edit . If you don't have permissions, please comment with your OL username, and I'll see what I can do :)

Here are some others: https://openlibrary.org/subjects.es , https://openlibrary.org/subjects.fr

### Additional context
NOTE: This is kind of annoying in that ideally w

[2022-04-26 07:15] seabelis opened #6489 "Translation value of "yes" is not saved if original title/language fields are not populated"
From a patron:
"There doesn't seem to be a means of correcting a book to be a known translation without knowing the specific language translated from. Though saving the editing form with translation radial set to "yes" the item is a translation, but without selecting the origin work or language the form does not provide the ability to indicate the edition is a translation with unknown language or

[2022-04-26 14:14] #6432 closed

[2022-04-26 17:45] jollygreenegiant commented on #6226
@cdrini this looks awesome, it's exactly what I was looking for!

The only thing that I notice is missing is a description of the edition.  The work itself has one in the original published language (English in the case of the Harry Potter books), but the Spanish editions don't have a Spanish description, for example.  If that's a piece of data that's available, I'd love to have access to it, sinc

[2022-04-26 17:50] mekarpeles opened #6492 "Add Google Analytics Tracking to Main Site Nav Bar Items"
Add google analytics tracking to the components in the top menu bar
- [ ] `Browse` button `<summary>` tag, e.g. `TopMenu|Browse`
- [ ] `More` button `<summary>` tag, e.g. `TopMenu|More`
- [ ]  The avatar image `<summary>` tag within the `account-component`, e.g. `TopMenu|Account`

![openlibrary org_account_loans](https://user-images.githubusercontent.com/978325/165361489-87e6b7f5-0a8f-4f3a-ab71-9b

[2022-04-26 19:26] cdrini commented on #6226
Sweet! Description isn't in our search engine I'm afraid so you'll need to do a separate fetch for it. You could fetch the matching edition's description with this url: http://openlibrary.org/books/OL22723514M.json :/

The UI page for the book shows the edition's description if the edition has one, otherwise it falls back to the work's description (which is usually in English).

(Oh, also in case

[2022-04-26 19:36] eguo3 commented on #6486
Hi @cdrini , thank you for informing us! I tried to open the page but I don't have permission. My OL username is also eguo3 :)

[2022-04-26 19:46] jimchamp commented on #6437
Just completed this while working on the generic navbar component.  Sorry, @ChloeQian12 --- I thought that you were working on adding analytics to the header items...

[2022-04-26 19:59] cdrini commented on #6486
Awesome, thank you @eguo3 ! Try now :) https://openlibrary.org/subjects.zh?m=edit

[2022-04-26 20:41] #6336 closed

[2022-04-26 20:45] #6465 closed

[2022-04-26 20:54] cdrini opened #6496 "Update eslint/babel"
We need to update these together it appears to appease eslint requirements. See the errors on these two renovate PRs:

- https://github.com/internetarchive/openlibrary/pull/6495
- https://github.com/internetarchive/openlibrary/pull/6494

### Stakeholders
@tangym27 @jimman2003

[2022-04-26 21:11] cdrini commented on #5997
Sorry again for my delay on your PR, @ejgonzalez17 ! I'm going to need to take this one on; it's blocked some progress for #6377 .

[2022-04-26 21:35] ChloeQian12 opened #6497 "Translate CONTRIBUTING.md to Chinese"
### Describe the problem that you'd like solved

I noticed that there is no Chinese translation of [CONTRIBUTING.md](https://github.com/internetarchive/openlibrary/blob/master/CONTRIBUTING.md). I would love to help translate the file.
### Proposal & Constraints

N/A

N/A
### Additional context

N/A
### Stakeholders

@mekarpeles

[2022-04-26 22:02] eguo3 commented on #6486
It works! Thank you @cdrini !

[2022-04-27 00:10] cdrini commented on #5997
Ok, added these in with a wikidata-based approach; here's the code: https://colab.research.google.com/drive/1HWG92jo6wM43_iA2dINjnkj4hX5Y6kt5

[2022-04-27 00:10] #5997 closed

[2022-04-27 00:14] cdrini commented on #6246
Ok, but is running; see https://colab.research.google.com/drive/1HWG92jo6wM43_iA2dINjnkj4hX5Y6kt5 . Already added Wikidata identifiers and ISO 639-1 identifiers, so we can now:

- Prefix queries by language: https://openlibrary.org/query.json?type=/type/language&name_translated.eo~=Esp*
- Get OL langs by ISO 639-1 IDs: https://openlibrary.org/query.json?type=/type/language&identifiers.iso_639_1=eo

[2022-04-27 15:19] LeadSongDog commented on #6471
Oh crap! Thanks to this bug I inadvertently deleted several editions today. Is there a way to undo?

[2022-04-27 17:03] #6457 closed

[2022-04-27 23:22] #5985 closed

[2022-04-27 23:58] #6471 closed

[2022-04-28 07:00] seabelis commented on #2625
For clarity there are two ways an edition might have an author; one is invisible but can be seen by viewing the .yml file the other is added as a contributor via the edition-level contributors field. The contributor is a string and does not use an ID; the "invisible" author on some records uses an author ID.

[2022-04-28 13:29] seabelis opened #6500 "Create patron role that blocks editing without blocking the entire account"
Occasionally a valid patron account is abusive (vandalising records). An account type that blocks edits without blocking loans, lists, etc would be useful.
### Describe the problem that you'd like solved

A usergroup or account designation that will allow a patron to use Open Library, but not edit book records.
### Proposal & Constraints

A usergroup or account designation that will allow a patron

[2022-04-28 15:58] LeadSongDog commented on #2625
Thanks for the clarity @seabelis

Here’s a lovely example mess you might recall (please don’t fix it just yet):
https://openlibrary.org/books/OL31966768M.json
-Shows two author IDs for one author with two records for Alice Munro
-Has a by_statement string naming the author and two translators
-Also shows the two translators as contributors though not the author

Meanwhile the edition page has no m

[2022-04-28 17:48] jimchamp commented on #6054
How should the card look if there are less than five items on a list that have covers?

[2022-04-29 12:43] constantinazouni commented on #6462
Is anyone working on that?

[2022-05-01 20:36] furugoorin commented on #6054
@jimchamp How about justifying the content so that the books are centered, to begin with? [See mockup](https://xd.adobe.com/view/b585fe5e-cf8c-43eb-8cdb-24caa7613ca0-e0d6/)

[2022-05-02 07:05] rYR79435 commented on #2203
Could this issue be reopened, @mekarpeles?
I second https://www.hcaptcha.com/; it seems like a solid replacement.

[2022-05-02 08:16] seabelis opened #6505 "Spelling error, subjects page, German translation"
From a patron:
Auf der deutschen Themenliste: "Matematik" tut weh: Typo bitte korrigieren.

### Evidence / Screenshot (if possible)
<img width="265" alt="Screenshot 2022-05-02 at 10 08 53" src="https://user-images.githubusercontent.com/17739465/166204043-af0d6b86-a825-4302-8f15-df83bb0fc6c5.png">

### Relevant url?

https://openlibrary.org/subjects
### Steps to Reproduce

1. Go to ...https://openl

[2022-05-02 16:49] mekarpeles commented on #6462
@constantinazouni all yours if you'd like to try it!

[2022-05-02 16:54] mekarpeles commented on #352
Adding to staff call for discussion today, ty

[2022-05-02 16:59] mekarpeles commented on #6455
I think we have good direction + steps here. We likely need a few more issues which get added to next month's milestone.

- [x] data export
- [ ] delete book notes + profile page
- [ ] anonymize reading log, star ratings, community reviews
- [ ] update edits + lists (infogami) patron key references
- [ ] remove fields from patron-specific tables (e.g. `store`, `activation`, etc)

[2022-05-02 16:59] #6455 closed

[2022-05-02 17:55] dcapillae commented on #6505
Fixed: "Mathematik".

[2022-05-02 19:37] mekarpeles commented on #5402
womp womp

[2022-05-02 19:49] mekarpeles opened #6509 "delete book notes + profile page"

[2022-05-02 19:49] mekarpeles opened #6510 "anonymize reading log, star ratings, community reviews"

[2022-05-02 20:01] mekarpeles opened #6511 "Resolve Redirects Bulk"
https://docs.google.com/document/d/1d9DxkqhPP_Rs01ANedMeWjrTgd7LEiDrWb-WNtA9fPg/edit

### Describe the problem that you'd like solved

Manual Bulk process: update all redirect references in db since X, older than 1 week
We have a script in scripts/ called update_redirect_references.py which imports the core models from P1.
Script creates or updates a statefile.pid which references the last cutoff

[2022-05-02 20:12] mekarpeles commented on #6396
Applications need to be open by end of week i.e. Friday, May 6 and selected before June.

[2022-05-02 20:27] mekarpeles commented on #352
After staff call we decided the action was to discuss authors in next week's community call which is May 10th

[2022-05-02 23:10] eguo3 commented on #6486
Just added the translation!

[2022-05-02 23:18] mekarpeles commented on #6439
we needed to add `doc["_rev"] = None` to line 67 on `/openlibrary/openlibrary/admin/stats.py` to avoid the revision from conflicting between scripts.

[2022-05-03 17:54] mekarpeles commented on #5969
Here's the roadmap entry for OSP
https://docs.google.com/document/d/1zqrrmOd3_gagMZu-rDzQPWl0WeDln-ieaIlx3QHyRkw/edit#heading=h.clalixeo5bac

[2022-05-03 19:03] #6396 closed

[2022-05-04 16:57] jimchamp commented on #6054
Thanks @furugoorin!  That makes sense to me.

@constantinazouni, I noticed that Twitter has a 5MB maximum size limit for card images.  More details can be found here: https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started#crawling (in the "URL Crawling & Caching" section).

[2022-05-04 22:34] jimchamp commented on #5831
Decisions made be staff about this:
1. We want to avoid ever having to show "Not in Library" as a call to action for this button.
2. We want to include the library links in the redesigned "Read" button.  Presently, library links are found in the second item in the sidebar (highlighted below):

![library_links](https://user-images.githubusercontent.com/28732543/166836135-46c6a0a7-eaef-4b64-90e8-3f1

[2022-05-05 00:33] #6439 closed

[2022-05-05 01:17] #6438 closed

[2022-05-05 09:02] seabelis commented on #6132
This would probably be better with a blank field for the role title rather than a fixed list. Some of these seem unnecessary, but I'm hesitant to delete them without knowing the reason(s) they were added in the first place.

[2022-05-05 11:11] bicolino34 opened #6518 ""Published in" field leads to search results instead of place page"
### Evidence / Screenshot (if possible)
![зображення](https://user-images.githubusercontent.com/58372007/166911243-08d16d2a-1efc-457b-b4ab-66bd9692245e.png)
Clicking on "Київ, Україна" leads to
![зображення](https://user-images.githubusercontent.com/58372007/166911470-6daa3aad-844c-4dfb-8098-26b76a06f2a0.png)
(it's not yet indexed in solr)
### Relevant url?

### Steps to Reproduce

1. Go to ... an

[2022-05-05 15:55] mekarpeles opened #6519 "Enriching Reading Log data exports (more fields)"
* Currently Reading Log dumps (https://openlibrary.org/account/import) are limited to IDs because large Reading Logs (500+ items) can cause performance issues aggregating results in memory and and serving as large files. Currently, Lists impose an export limit if there are more than ~1k items
* The manual work around is to look over each Reading Log entry (e.g. OL16801714W) and to fetch the json f

[2022-05-05 16:04] mheiman commented on #6519
My sense is that anyone able to manipulate a JSON file to do anything useful is capable of using the existing API.

If a non-programmer wants their reading log data for something, they're probably hoping to manage it in a spreadsheet or import it to another service, which suggests CSV. But without having some clear use cases, it's hard to know what fields would be helpful to include beyond the obv

[2022-05-05 16:19] Fl0rent commented on #6519
csv could be useful to make statistics.
The number of books read in a year, languages, authors, theme ...

so I would suggest for the columns:

1. title
2. author
3. isbn ?
4. my rating
5. number of pages
6. year published
7. date read
8. read count
9. series ?

Personally, I like to export my data in csv format, for future proofing purposes.

[2022-05-06 16:51] mekarpeles commented on #6186
## Background

Currently, the homepage carousels are powered by
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/home/index.html#L39

[code]

Which under the hood calls:
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/books/custom_carousel.html

## Step 1

The solution will be to add a new carousel to the templates/home/index.html wh

[2022-05-08 16:09] tuminzee commented on #6505
It is already fixed @seabelis @mekarpeles can we close this issue?

[2022-05-08 16:12] tuminzee commented on #6497
@mekarpeles as @ChloeQian12 is interested in working on this issue, I would like to assign this issue to @ChloeQian12

Thank you @ChloeQian12 for your help. I have assigned this issue to you. Happy contributing 👯

[2022-05-08 16:19] tuminzee commented on #6486
@cdrini should we close this issue?

[2022-05-09 06:32] AriesTriputranto9 opened #6523 "error file zip"
### Evidence / Screenshot (if possible)

### Relevant url? use: AriesTriputranto

### Steps to Reproduce

1. Go to ...file
2. Do .. optional.

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2022-05-09 09:26] seabelis opened #6524 "Add preview to TOC editor"
From a patron:
_There should be "preview" mode in edit, because I want see before save.
Adding "Table of Contents" is hard and thats why preview mode should be important._
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-05-09 19:16] mekarpeles opened #6525 "Replace "Not In Library" button with "Check local libraries""
Related to #5831

### Problem

Patrons get confused when they see a button that says "Not in library". It's a dead end. Instead, we should give them a default action of searching for an Open Library book within their local libraries using Worldcat or LibraryLink.

### Describe the problem that you'd like solved

Replace `Not in library` button:
![openlibrary org_search_q=the+best+thing mode=everyt

[2022-05-09 19:33] cdrini commented on #6486
Oh, I missed the notification; thanks for the ping, @tuminzee !

Wow that looks awesome, @eguo3 ! 😊

https://openlibrary.org/subjects.zh

![image](https://user-images.githubusercontent.com/6251786/167484041-5104e2c8-a1bd-4713-98d6-43b08bcff07b.png)

[2022-05-09 19:33] #6486 closed

[2022-05-09 19:34] mekarpeles commented on #6525
For now, clicking btn will go to Worldcat, eventually we may wish to explore integrations which show library availability from within the context of Open Library and the other valuable info we're able to show on the book page.

[2022-05-09 19:43] mekarpeles commented on #6523
Not enough info here to reproduce error, closing.

[2022-05-09 19:43] #6523 closed

[2022-05-09 19:46] mekarpeles commented on #6518
Let's just remove the link around the place (unless there are strong objections or counter-proposals). @bicolino34 would you like to try fixing this one?

Here's the code which needs to be updated
https://github.com/internetarchive/openlibrary/edit/master/openlibrary/templates/type/edition/view.html#L325-L328

[2022-05-09 19:53] cdrini commented on #6505
Thank you so much @dcapillae ! Confirmed fixed :)

[2022-05-09 19:53] #6505 closed

[2022-05-09 20:00] #6383 closed

[2022-05-09 20:16] #6246 closed

[2022-05-09 20:22] #6462 closed

[2022-05-10 00:02] jmoldyvan commented on #6525
I can attempt to do this!

[2022-05-10 09:49] dbouris commented on #6186
hi @mekarpeles, me and @Philippos01 would like to work on that if possible!

[2022-05-10 16:45] mekarpeles commented on #352
Since this issue was created, I believe there's now autocomplete on /book/add which allows the patron to both choose an existing author or create a new one. During the community call there was feedback from @cdrini + @seabelis that for now this issue should be closed (and re-opened as new arguments come up which make this endpoint necessary)

[2022-05-10 16:45] #352 closed

[2022-05-10 17:23] cdrini commented on #352
To expand on that, we don't believe this is really blocking #2500 .  #2500 is mainly blocked because our author model currently has some issues. The bigger one being a _lot_ of disambiguation/conflation problems. Adding contributors as `OL...A` ids without better tools would add to this problem _drastically_. Also, we have a problem of authors being stored on both works/editions in a poorly define

[2022-05-10 19:20] mekarpeles opened #6530 "Reading Log menu doesn't close after adding book to list"
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2022-05-10 19:23] mekarpeles opened #6531 "My Books Dropper: Standardize & make behavior consistent across all views"
The "Reading Log" button on the Search Results page should have the same options (e.g. add to lists) as the Books Page

* [ ] #8298
* [ ] #6897
* [ ] #6992
* [ ] #8009
* [ ] #8298

[2022-05-10 20:11] cdrini commented on #715
This was fixed by #5600 .

[2022-05-10 20:11] #715 closed

[2022-05-11 02:12] rahulsabbineni opened #6532 "ol_dump_works contains authors that have been deleted"
Thank you for creating Open Library! I've downloaded some of the OL data dumps into Postgres and had a quick question after interacting with the data.

I think `ol_dump_works_2022-03-29.txt` contains 30 distinct authors that do not exist in `ol_dump_authors_2022-03-29.txt` or `ol_dump_redirects_2022-03-29.txt`.

As one example, [`/authors/OL7103602A`](https://openlibrary.org/authors/OL7103602A) ap

[2022-05-11 14:45] brierjon commented on #6132
@seabelis Are you suggesting rolling back to free text? I would suggest checking which works use each term claimed to be "unnecessary" and try to identify why the term was added. It may indicate 1. misunderstanding for data entry 2. an overlooked use case.

Could you create a list of items considered "unnecessary" and associated edition examples that could be evaluated to why those labels are bein

[2022-05-11 17:30] mekarpeles opened #6533 "Sanitize "work details" field of add book UI"
# Description

Module: Openlibrary
Vulnerability: Stored XSS in Editor
Versions: deploy-2021-12-22

Vulnerability Description:
The "Openlibrary" application is vulnerable to Stored XSS. A text editor named "How would you describe
this book" allows any user to store malicious scripts while creating a new book. When an admin user
navigates to recent community edits and edit the book XSS will be trig

[2022-05-11 17:31] mekarpeles commented on #6424
Issue is tracked here https://github.com/internetarchive/openlibrary/issues/6533

[2022-05-11 18:33] LeadSongDog commented on #352
@mekarpeles No, the /book/add is not a solution. Try for instance to add the Google eboock 0LogkAEACAAJ and you quickly realize the type ahead cannot show even a fraction of the 450-ish records for authors named  "William Alexander".  We need to pry /author/add away from /book/add and address it directly in one place. DRY

[2022-05-11 20:17] mekarpeles opened #6534 "Clamp Read More sections by default, like subjects"

[2022-05-11 20:18] mekarpeles opened #6535 "Mobile Book Page has horizontal scroll (too wide)"

[2022-05-11 20:18] mekarpeles opened #6536 "Clicking “Related Books” jumps down too far; causes nav bar to disappear"
Whenever a patron clicks on a book page navbar link, the navbar partially obscures the section that they have navigated to.  A patron must scroll up a small amount to see the section's header.

### Evidence / Screenshot (if possible)
![desktop](https://user-images.githubusercontent.com/28732543/171907481-fc5c7eda-9c83-4fbd-9f5d-31f3f2ab6f7d.gif)
_Desktop view_

![mobile_jump_link](https://user-ima

[2022-05-11 20:18] mekarpeles opened #6537 "Style the Lists section to look more like the Community Reviews section (login to add to list)"
Currently the lists section looks like this:

![image](https://user-images.githubusercontent.com/6251786/168129531-9767ac7d-17d6-43d1-9bbd-044e393b4b3c.png)

Make it look more like the community reviews card, ie. like this when logged in:

![image](https://user-images.githubusercontent.com/6251786/168129915-d689b987-0d6f-483e-bc05-e59554ef14e6.png)

Or like this when logged out:

![image](https://

[2022-05-11 20:18] mekarpeles opened #6538 "Increase padding on clickable Book Page Nav Regions"
The tabs of the navbar are currently only clickable on the text. The purple region below is _not_ clickable -- but should be. Change the padding to be on the `<a>` element so these are easier to press on touch screens.

![2022-04-21-13-14-42](https://user-images.githubusercontent.com/6251786/168120313-2bfee696-ee95-48fd-a4f2-ec87fe6c1477.png)

### Related files
- CSS: https://github.com/internetar

[2022-05-12 03:35] jessamynwest commented on #352
Yeah we need a simpler way to get at authors generally. I can not comment on whether this is or is not blocking 2500 but controlled vocabulary is tricky and the book/add flow is highlighting one of the concerns.

[2022-05-12 10:47] jeremyng353 commented on #6538
Hi, I'm interested in working on this issue. By clickable book page, I'm assuming you mean the pages of a book that you can click to flip, but which part is the nav region? Is it the part at the bottom with the page slider and other buttons?

![image](https://user-images.githubusercontent.com/69836033/168053354-a964ada9-22ca-47aa-9be2-0b55c2a7450a.png)

[2022-05-12 12:38] bicolino34 opened #6540 "Subject can't be added to list"
Subject can't be added to list. Also, a list can't be created from subject page.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ... any subject
2. Do ... add to list

* Actual: subject isn't added to list
* Expected: subject is added to list

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/

[2022-05-12 12:46] bicolino34 opened #6541 "Improve localization files handling counting"
Currently, localization files handle only singular/plural forms:

msgid_plural "%(count)d books"

It's not quite appliable for Ukrainian language because we use three different forms of words with different numbers. E.G. in Ukrainian it will look like:

2, 3, 4, 22, 23... книги
0, 5, 6, 7, 8... книг

This also will be useful for russian and Belarusian languages and perhaps most other Slavic langua

[2022-05-12 16:03] cdrini opened #6542 "Add Search Page Navigation"
Make it easier to switch between the different types of searches open library offers by including a tab bar, like that used on book pages, on search pages.

### Proposal & Constraints
- Create a macro, `SearchNavBar.html` that renders this component

![2022-04-21-16-00-52](https://user-images.githubusercontent.com/6251786/168118532-81606093-9a7a-42ac-8a0f-30ccbd904a05.png)

- The tabs should be:

[2022-05-12 16:49] jeremyng353 commented on #6538
Thanks for the clarification, I'd like to work on this issue.

[2022-05-12 17:05] cdrini commented on #6538
Awesome, thank you @jeremyng353 ! Let us know if you have any questions :)

[2022-05-12 19:06] milotype commented on #6541
@bicolino34 @cdrini @tfmorris
I'm not a porgrammer, but Croatian needs 3 forms:
- one
- few
- other

The `Plural-Forms` code for Croatian is correct.

I'm not sure what Ukrainian needs …

I use [Poedit](https://poedit.net/) for translating. The app sets the necessary code for plural forms automatically according to the selected language/localization.

Hope this info is helpfull …

[2022-05-12 19:20] mekarpeles commented on #6533
@cdrini and I triaged and were able to repro in a very specific case of ?m=edit using images

[2022-05-12 23:28] #6533 closed

[2022-05-13 05:24] pjosh0523 commented on #6537
I would like to try and work on this issue.

[2022-05-13 05:31] Sumit-Sahni commented on #6535
What  should be change could you please elaborate

[2022-05-13 08:57] seabelis opened #6546 "Author merge deletes work details"
I've only noticed this one time. After merging authors, work details were deleted from record.
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/works/OL138052W/Alice's_Adventures_in_Wonderland?_compare=Compare&b=13&a=12&m=diff
### Steps to Reproduce

This does not seem to be a regular occurrence, so I cannot reproduce.

* Actual: Work details deleted following au

[2022-05-13 11:40] jwoudenberg opened #6547 "How can I query the author's most recent works using the dev API?"
### Question
How can I query the author's most recent works using the dev API?

### Additional context
I'd like to create an RSS feed of an author's work, so I can get an update when a new work by an author is released. To help with this I'd like to query the author's most recent works, basically obtain in JSON format the data presented in the 'works' section on an author's web page, when those wo

[2022-05-13 14:12] bicolino34 opened #6548 "Author Stats: Bars too small when there is only one bar"
The bar in category "Works by Author Ethnicity" on stats page is too small compared to bars in other categories. It seems to be like that when there is only one bar in category

### Evidence / Screenshot (if possible)
Bar on the left is too small compared with bars in other categories
![зображення](https://user-images.githubusercontent.com/58372007/168302136-467b2e2b-b840-4c1d-8d1b-60667da49bc8.pn

[2022-05-13 18:08] bicolino34 opened #6552 "Author is excluded from demographic stats despite having linked Wikidata item"
Author is excluded from demographic stats despite having linked Wikidata item with all needed data. [Микола Хвильовий](https://openlibrary.org/authors/OL1098631A/%D0%9C%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0_%D0%A5%D0%B2%D0%B8%D0%BB%D1%8C%D0%BE%D0%B2%D0%B8%D0%B9) is excluded from Works by Author Sex, Works by Author Ethnicity, Works by Author Country of Citizenship, Works by Author Country of Birth stats d

[2022-05-13 18:40] #2964 closed

[2022-05-13 20:26] vagoston commented on #5513
@mekarpeles I would be happy to take a look, but first I would argue that 200 and an empty json is actually the right behaivour.

@RayBB 200 indicates that the request was successfull, and no results were found. The fact that this is a very simple query doesn't change a thing. 404 would indicate for me that [https://openlibrary.org/api/books.json](https://openlibrary.org/api/books.json)  endpoint

[2022-05-13 20:41] #6538 closed

[2022-05-13 20:59] RayBB commented on #5513
@vagoston It is a fair discussion if there should be a 404 or not. As mentioned in the SO answers [here](https://stackoverflow.com/questions/26845631/is-it-correct-to-return-404-when-a-rest-resource-is-not-found), it could go either way.

I think that most APIs I've worked with will do one or both of these:
* Return a 404 status code (like [github does](https://docs.github.com/en/rest/branches/bra

[2022-05-13 22:41] vagoston commented on #5513
@RayBB I see that point, and consistency is indeed important. There is a difference I wanted to point out though. These examples are not queries, at least in their syntax there is no query parameter, so you expect a specific thing to be returned based on a key. If you can't get it, that's an error the client most likely want to handle. Meanwhile the original example was a query, potentiall with a

[2022-05-14 04:56] tuminzee commented on #6540
@cdrini @seabelis did you encounter this issue?

[2022-05-14 04:59] tuminzee commented on #6547
@jwoudenberg I hope Open Library's documentation helped you. But I see that you are facing issues
I would like to tag @cdrini & @jimchamp they will be able to help you to solve this one.

I wish you a good day ahead 😄

[2022-05-14 05:02] tuminzee commented on #6497
@ChloeQian12 how is it going? do you have any issues, or doubts?

[2022-05-14 05:05] tuminzee commented on #6519
@Fl0rent would like to give it a try?
@mekarpeles what do you think about the points mentioned by @mheiman and @Fl0rent

[2022-05-14 05:07] tuminzee commented on #6525
@mekarpeles I see that you have self-assigned this issue. Would like me to work on this one?

[2022-05-14 05:19] tuminzee commented on #6535
@Sumit-Sahni sure, @mekarpeles @jimchamp will add more description for this issue.
Thank you for your interest in Open Library, happy to see you here 😄
Have a good day 🕺🏼

[2022-05-14 05:39] tuminzee commented on #6536
@jeremyng353 thank you for your interest in this issue
Lead @jimchamp will answer your question on this issue
once you have all the necessary information for the issue, I will assign this issue to you
Happy Contributing 🕺🏼
Have a good day ahead

[2022-05-14 05:42] tuminzee commented on #6537
@pjosh0523 happy to see your interest in Open Library
I will assign this issue to you
Lead for this issue @jimchamp you can assign tag him here or on slack for more information
Happy Contributing 🕺
Have a good day 😃

[2022-05-14 05:44] tuminzee commented on #6541
@milotype this is helpful, thank you for your participation

[2022-05-14 05:46] tuminzee commented on #6542
@cdrini you mentioned this issue in one of the pr's which is merged, is this issue still open?

[2022-05-14 05:48] tuminzee commented on #6548
I would like to tag @jimchamp as a stack-holder for this issue

Good work @bicolino34
Have a good day

[2022-05-14 08:11] bicolino34 commented on #6541
I updated my initial comment about Ukrainian counting to make it more understandable (I hope). Ukrainian also needs three forms, I think they are same as in Croatian

[2022-05-14 13:57] milotype commented on #6541
Some more nformations …
I found a website which explains (somewhat) the differences between **Internationalization (i18n)** and **Localization (l10n)**
[i18n vs l10n — what’s the diff?](https://blog.mozilla.org/l10n/2011/12/14/i18n-vs-l10n-whats-the-diff/)

[2022-05-14 14:11] bicolino34 commented on #6540
This should be solved by #6391. I thought that it had already been merged into master branch, but apparently it hadn't

[2022-05-14 18:41] ChloeQian12 commented on #6497
@tuminzee will get it done in a couple of more days!

[2022-05-15 06:51] tuminzee commented on #6540
thank you for your response @bicolino34

[2022-05-15 06:55] tuminzee commented on #6144
sure @vagoston I will.
But as the lead for this issue is @jimchamp he will have to look into in detail to get the approval :)

[2022-05-15 06:58] tuminzee commented on #6144
@vagoston a tip for the next issue, you should wait for the assignment of the issue. Because what could happen is there might be other person who could working on the same thing.
To avoid conflicts, we follows this.
Best of luck with the next issue 👍🏼

[2022-05-16 17:02] mekarpeles commented on #6525
This one is a bit tricky and I'm almost done :)

[2022-05-16 17:04] jimchamp commented on #6530
Cannot reproduce. More details appreciated.

[2022-05-16 19:04] cdrini commented on #6541
Ok, I did some hunting around for some examples and found this file: https://translationproject.org/PO-files/uk/anubis-4.2.uk.po from this site: https://translationproject.org/domain/anubis.html .

@bicolino34 I think you will need to add this line: `"Plural-Forms: nplurals=3; plural=(n%10==1 && n%100!=11 ? 0 : n%10>=2 && n%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2);\n"` in a similar location, and

[2022-05-16 19:43] cdrini commented on #2278
Closing this one; this happens when you copydocs books into openlibrary, they stick around in the solr between restarts even they they do not stick around in db between restarts

[2022-05-16 19:46] mekarpeles commented on #707
Treating this as a data cleanup task for now -- it would be useful to have a more specific issue proposing a general solution for merging or de-conflating based on subtitle

[2022-05-16 19:49] cdrini commented on #970
Despite this being older, closing in favour of #2625 since that has more discussion/context

[2022-05-16 19:49] #970 closed

[2022-05-16 19:52] cdrini commented on #2625
Note there was some discussion in our community call about this last Tuesday: https://docs.google.com/document/d/1LEbzsLZ1F9_YIQOoZzO7GoZnG1z-rudhZ9HNtsameTc/edit#bookmark=id.dhwhz5n74tsc

[2022-05-16 20:33] cdrini commented on #6547
Hi @jwoudenberg ! Thanks for the ping, @tuminzee  :)

You should be able to use the main search endpoint like so to get an author's works: https://openlibrary.org/search?q=author_key%3A%22OL221294A%22&mode=everything

You can use the UI to select the desired sorting, then change `/search` -> `/search.json` to get it as json.

E.g. this: https://openlibrary.org/search.json?mode=everything&q=author_

[2022-05-16 21:53] jimchamp commented on #6530
I cannot reproduce this when running `master` branch locally or in Gitpod. I'm assuming that this bug has been corrected on `master`, but the change hasn't been deployed to production.

Marking this as "State: Blocked" until our next deployment.

[2022-05-16 23:17] vagoston commented on #5513
@RayBB I toook a look and I would be glad to work on this.I think the right place to handle this would be in the infogami repo, somewhere here: https://github.com/internetarchive/infogami/blob/9eea4ecee7192f94a3365f12780afb87d0ddf552/infogami/plugins/api/code.py#L143
What do you think? It might be a good idea to open a ticket there?

[2022-05-17 03:55] pjosh0523 commented on #6537
@jimchamp hello I was wondering if I could get some help setting up docker. I have gone over the read me for the installation guide. I seem to have docker up and running but when I type in the commands listed in the read me nothing seems to work. I have asked to join the slack channel to try and get some help. Please let me know if you or someone else has the time to help me out.

[2022-05-17 06:54] jwoudenberg commented on #6547
That's super clear, many thanks!

[2022-05-17 06:54] #6547 closed

[2022-05-17 08:04] seabelis opened #6555 "Some Better World Books imports may be incorrect"
Sometimes an edition imported from Better World Books does not exist on the BWB site or contains different details. We should make sure we are not importing incorrect records.
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/books/OL34984456M/Chase
### Steps to Reproduce

1. Go to ...https://openlibrary.org/books/OL34984456M/Chase
2. Do ...Look at import history,

[2022-05-17 09:38] Fl0rent commented on #6519
@tuminzee a try for ?

[2022-05-17 15:03] mheiman opened #6556 "Usability Improvements to Work Merge Interface"
Now that work merging is available on production (yay!) I'm working on some tweaks to improve the lives of those of us who use it a lot.

This is my initial list, but I'd welcome any additions or refinements.

### Work Selection

[ FIXED - PENDING DEPLOY] When selecting works from a list, if you deselect a work the Merge button always deactivates, even if other works are still selected. The Javasc

[2022-05-17 15:11] seabelis commented on #6556
Agree to all except 4. Would prefer to keep the oldest record, lowest ID.

[2022-05-17 15:17] mheiman commented on #6556
Thanks! What's your thinking around that? I've been told that the point of choosing the oldest record was to try to keep the edit history as clean as possible, so it seems odd to pick a record with no edits as the primary, and merge into it a record created the same date that has a lengthy edit history.

[2022-05-17 16:47] LeadSongDog commented on #4359
@mekarpeles
Wait, what? How is #4359 a dupe of #4359?
Anyhow, many (most?) BWB import histories are showing ISBN links that can’t be found for confirmation at BWB.
Example: https://openlibrary.org/books/OL29622724M/Moritz_Pasch?m=history
Either they never existed or bwb is deleting them. We need to archive them somewhere for traceability, perhaps on the wayback?

[2022-05-17 17:13] LeadSongDog commented on #2625
@cdrini Thanks for the link. Sadly those minutes are mute on any rationale for the surprising closure of the issue, so to non-participants it seems arbitrary. Can we get some info, please?

[2022-05-17 17:32] cdrini commented on #2625
Oh, they just seem to be very closely related to me. We need to decide/proposals for whether/how we want authors at the edition level. Until we decide on that, its unclear what impact editing work authors should have on edition authors. If you think #970 is sufficiently different from this issue, I'm happy to re-open it though! Was just trying to focus the discussion in one place, not silence conc

[2022-05-17 17:55] dcapillae commented on #6556
Merging works does not work correctly when any of the works to be merged has more than 50 editions and is not the main record. I don't know if it is related to the interface in this case, but I think it would be convenient to correct this malfunction.

About keeping the oldest record, that has been the rule so far. It makes sense, although it also makes sense to use the record that has more edits

[2022-05-17 18:38] cdrini opened #6557 "Redesign user book actions in sidebar"
With the new share button changes down the pipeline, want a better way to organize these actions in the sidebar under the book cover.

We're running with this design:

![image](https://user-images.githubusercontent.com/6251786/168885927-84e7b0cd-7c55-4158-9181-c53e33109476.png)

New Icons:
- Notes: https://thenounproject.com/icon/note-4829658/
- Share: https://thenounproject.com/icon/share-2178964

[2022-05-17 18:38] cdrini commented on #6557
Here's my sample html/css during designs:

[code]

[code]

[2022-05-17 19:28] cdrini commented on #6066
This has been merged into master now :+1:

[2022-05-17 19:28] #6066 closed

[2022-05-17 19:31] jimchamp commented on #6437
I stand corrected --- that PR was not merged.  We want to set the `data-ol-link-track` values to the following for each link:
| Link Text | `data-ol-link-track` value |
|---:|---:|
| Overview | BookPageNavBar&#124;Overview |
| View `n` editions | BookPageNavBar&#124;EditionTable |
| Details | BookPageNavBar&#124;Details |
| Lists | BookPageNavBar&#124;Lists |
| Related Books | BookPageNavBar&#124;

[2022-05-17 19:44] cdrini opened #6558 "Don't allow merging a work with more than 50 editions into another work"
Sub-task of #6556

The Merge UI currently allows this, but only moves over the first 50 editions! Leaving the rest in a sort of limbo.

Prevent this from being allowed, or investigate if we can increase it to a larger limit, but we'll probably still need to block at whatever limit that is.

### Stakeholders
@mheiman @dcapillae

[2022-05-17 19:45] cdrini commented on #6556
^ I created an issue for the 50 editions problem and added it to the list!

[2022-05-17 20:33] mheiman commented on #6558
I'll dig into what's creating the limitation and report back.

[2022-05-17 22:01] jimman2003 commented on #6558
My guess is infogami, I think I had found a reference to 50 there

[2022-05-17 23:59] LeadSongDog commented on #2625
Ok, thank you. I don’t much care where it’s addressed as long as it gets fixed.

My tuppence worth:
1. if editions *must* have their own authors, they have to be easily fixable when wrong
2. Changing a work author from OL1A/John Smith to OL2A/John Smith should do the same on any edition of that work which links OL1A/John Smith *without editing all two thousand editions individually*
3. any link to

[2022-05-18 19:59] #6144 closed

[2022-05-18 21:21] cdrini opened #6564 "Add more robust, sortable availability fields to solr"
Subtask of #6377

For editions in solr, we will need a way to differentiate between editions which have fully public copies and those which have borrowable or printdisabled copies so we can properly boost things. Also in order to eventually replace the table on the books page by something solr-based, we will need to be able to sort by this availability field.

[2022-05-18 21:35] LeadSongDog opened #6565 "Author should be a required field on /books/add"
Works can be inadvertently created with no stated author.

### Evidence / Screenshot (if possible)
![8AD802F0-806C-4318-AD8C-13A70848F670](https://user-images.githubusercontent.com/11435431/169158559-0052074a-fcbc-4c6e-b72a-c0c87956c14e.png)
![F4C2F5E7-0D71-4617-9AEE-3EFDB145603E](https://user-images.githubusercontent.com/11435431/169158616-489661c6-595b-470c-86e4-0bb43483de31.png)
![C87DA84E-2747

[2022-05-19 03:18] RayBB commented on #5513
@vagoston unfortunately, I don't know the codebase well enough to say for sure.
Perhaps @cdrini or @jimchamp can chime in?

[2022-05-19 17:16] mekarpeles commented on #4071
# Merge Queue

## Goal

Instead of using `#openlibrary-merges-g` slack channel, any librarian can go to use ILE toolbar, click books, click a new merge request button which submits and entry to the merge table. A super-librarian can click on a MR and approve or reject a merge which updates the table.

## Benefits:
* We'll be able to see how many merges are being done (hard on slack)
* More people

[2022-05-20 02:21] rahulsabbineni opened #6570 "Large number of duplicate publishers"
Hi! I've been playing around with the OpenLibrary editions dump (`ol_dump_editions_2022-03-29.txt`) and noticed that there were a large number of duplicate publishers.

First, I parsed a large subset of the data - 17,684,756 editions and 18,086,971 publishers in those editions - and ingested the data into Postgres. Next, I ran a SQL query to find the top 1000 publishers by edition count. Finally,

[2022-05-20 16:38] RayBB opened #6572 "Links to Amazon not working for some books when they should"
I'm not sure if Amazon changed something or what but I noticed a few books where the amazon link doesn't work.

### Evidence / Screenshot (if possible)
From the relevant url:
* https://www.amazon.com/dp/9798776159572/?tag=internetarchi-20
Actual amazon url:
* https://www.amazon.com/Pickleball-Soap-Opera-Love-Murder/dp/B09MJ3TKX3/ref=sr_1_1?crid=274EFDYLIXTPY&keywords=9798776159572&qid=1653064600&s

[2022-05-20 17:02] cdrini opened #6573 "Block import from these notebook publishers"
@RayBB Found a number of notebook publishers adding noise to our db. Let's create an exclude list to make sure they don't ever get auto imported!

https://openlibrary.org/authors/OL7546088A/Jeryx_Publishing
https://openlibrary.org/authors/OL9607236A/Razal_Koraya
https://openlibrary.org/authors/OL9228328A/Mitch_Allison
https://openlibrary.org/authors/OL9206862A/Punny_Cuaderno
https://openlibrary.or

[2022-05-20 22:04] RayBB commented on #6573
It may be better to block specific authors rather than publishers because some like this https://openlibrary.org/publishers/Independently_Published seem to have many legitimate books associated with them.

Looking at the top authors here (https://openlibrary.org/publishers/Independently_Published) it seems like there are over 200,000 imports last year alone by this publisher. Hard to tell how many

[2022-05-20 23:19] jimchamp commented on #6535
Sorry for the delay!  It looks like the search input in the editions table is overflowing in mobile:

![Screenshot from 2022-05-20 19-07-53](https://user-images.githubusercontent.com/28732543/169623317-1b5242fd-10f1-4a73-93c4-6f78c2ba3bce.png)

It would probably be better if the search input was left-aligned and either above or below the edition count selector in mobile.

[2022-05-22 09:59] tuminzee commented on #6535
@Sumit-Sahni I hope this information is sufficient for you, would you like to work on this issue?

[2022-05-22 22:39] hornc commented on #6572
@RayBB It looks like the problem is due to it being an ISBN beginning with the `979` prefix -- it's a valid ISBN, but these `979` prefixes cannot be converted to ISBN10, which is what Amazon tends to use as an ASIN, if there is an ISBN available.

This book has a non-ISBN ASIN (they are ten characters and start with a letter).  For this book the ASIN is `B09MJ3TKX3`
and the corresponding link is:

[2022-05-23 22:23] cdrini opened #6580 "Some old ebooks incorrectly not showing read button on book page"
Eg

OLID | IA ID
-- | --
OL13517105M | aliceimspiegella00carrrich
OL26259813M | throughlookinggl00carr_2
OL26363767M | throughlookinggl00carr_4
OL14043894M | studiesinearlyvi00harruoft

[2022-05-24 01:48] LeadSongDog commented on #6555
What’s really missing is a local archive of the BWB record at the time it was imported. There should be no real expectation of them maintaining a record once they’ve sold out their inventory, and if they closed shop tomorrow it should not break anything on OL.

[2022-05-24 02:16] LeadSongDog commented on #6570
That’s another way of approaching #372. Suggest you look at sorting on ISBN: publishers buy them from registrars en block, so within a block similar publisher names could safely be consolidated.

[2022-05-24 14:41] tuminzee commented on #6537
@pjosh0523 I hope that was helpful, please reach out to the lead @jimchamp, or drop a comment here, if you face any difficulties
Happy Contributing :)

[2022-05-24 16:29] cdrini commented on #6565
Discussed on community call; as long as we can type anonymous, that should be good!

@jimchamp Notes this might be a little complicated because of how this code is structured.

[2022-05-24 18:31] rahulsabbineni commented on #6570
@mekarpeles Sounds good! I've just completed the Google form for access to Slack and I'll take a look at getting the developer environment setup.

[2022-05-25 07:50] seabelis opened #6583 "Delete button missing from author edit page"
Delete button has been removed from the author edit page.
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/authors/OL3012377A/2nd_Edition_Barry/edit
### Steps to Reproduce

1. Go to ...https://openlibrary.org/authors/OL3012377A/2nd_Edition_Barry/edit
2. Do ...try to delete

* Actual: No delete button.
* Expected: Delete button should be present.

### Details

- *

[2022-05-25 21:48] mheiman commented on #6556
There's now an update to the Merge UI available on testing.openlibrary.org that addresses most of these issues -- I think everything but the default sort order and the 50 editions problem.

Please give it a try and leave any comments or suggestions here. I'm sure there are still some things that need tweaking.

The updated UI _will_ merge orphaned editions along with works, but the blue bar select

[2022-05-26 18:17] giuxtaposition commented on #6160
Hello, I would like to give this a try!

[2022-05-26 18:45] bicolino34 opened #6590 "Add IDs and classification"
@cdrini

### ✅ Бібліотечно-бібліографічна класифікація (Ukrainian)|  Library-Bibliographical Classification (English, not sure if it's correct translation because there is no Wikipedia article)
This classification was created in the 1960s in the USSR. It is an official classification system in russia and had been official on par with Universal Decimal Classification in Ukraine by 2017
https://uk.w

[2022-05-26 21:10] cdrini commented on #6590
You can view examples here: https://openlibrary.org/config/edition

[2022-05-26 21:12] cdrini commented on #6590
Oh, and do these IDs apply to the _edition_ or the work ? Eg would there be different ficbook IDs for the 1995 Scholastic editions of Harry Potter and the Philosopher's Stone and the 2007 Bloomsbury Harry Potter and the Philosopher's Stone?

[2022-05-27 06:20] bicolino34 commented on #6590
@cdrini updated them and added info about applying to the editions or works

[2022-05-27 06:26] seabelis commented on #6555
An example of an import not on BWB. https://openlibrary.org/books/OL37493066M/Seal_of_Armaros

[2022-05-27 09:36] seabelis opened #6592 "https://openlibrary.org/random seems to have only two works available"
If someone goes to https://openlibrary.org/random repeatedly, the results will be one of two works. The two works seem to change over time.
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/random
### Steps to Reproduce

1. Go to ...https://openlibrary.org/random several times.
2. Do ...Note that you will only ever get one of the two same titles.

* Actual: See de

[2022-05-27 09:48] seabelis commented on #6565
Sometimes there is no author, but that does not mean it is anonymous. Staff writers, collaborations, etc. frequently don't have an author at the work level.

[2022-05-27 10:44] seabelis commented on #2227
Old list:
roles:
- Author
- Adaptation
- Afterword
- Book Designer
- Contributor
- Colorist
- Copy Editor
- Cover Design
- Curator
- Decorator
- Designer
- Editor
- Epilogue
- Foreword
- Graphic Design
- Illustrator
- Indexer
- Introduction
- Narrator
- Photographer
- Printmaker
- Prologue
- Proofreader
- Screenplay
- Translator
- Technical Reviewer
- Text Design
- Typesetter
- '---'
- Accountabil

[2022-05-27 10:45] seabelis commented on #2227
New list:
roles:
- Adapted from original work by
- Additional Author (this edition)
- Afterword
- Collected by
- Commentary
- Compiler
- Consultant
- Foreword
- Editor
- Illustrator
- Introduction
- Narrator/Reader
- Notes by
- Revised by
- Selected by
- Translator
- '---'
- Accountability
- Acquisition Editor
- Acquisitions Coordinator
- Additional Research
- Advisory Editor
- Agent
- Appendix
-

[2022-05-27 10:47] seabelis commented on #6132
@brierjon This relates to edition-level contributors only. I don't have a way of tracing back the origin of each label to determine why it was added or when.

Duplicate of #2227.

[2022-05-27 10:49] seabelis commented on #2227
The problem of contributor titles in other languages remains an issue, but the non-English words have been removed from the list.

[2022-05-27 10:49] #2227 closed

[2022-05-27 14:17] LeadSongDog commented on #6555
@seabelis  That is a 979 series ISBN, which seem to be a common problem at BWB. Attempting to add a Crystal Throne Press 2022 paperback edition 9798985300819 found on AMZ also threw an error:

![01CFF3BE-B7C4-4A10-BCD7-4693063772A1](https://user-images.githubusercontent.com/11435431/170717363-b5f5de31-f360-4814-93bd-9d5f58ae5852.jpeg)

![64839C7E-567B-4560-B7D7-155A8CFBD87A](https://user-images.gi

[2022-05-27 14:49] seabelis commented on #6555
I think the error is because the edition already exists. https://openlibrary.org/books/OL36540435M/Seal_of_Armaros
It could be a bit more useful in communicating that.

[2022-05-27 20:29] cdrini opened #6598 "Ebook facet numbers not matching results"
https://openlibrary.org/search?q=Carolyne+Aarsen+Wrangling+the+Cowboy%27s+Heart&mode=ebooks&has_fulltext=true indicates one book but does not display it in the results

https://openlibrary.org/search?mode=ebooks&q=Carolyne+Aarsen+Wrangling+the+Cowboy%27s+Heart indicates that the 1 item is a printdisabled only book.

i'd suggest it should be displayed in ebook results so i'd consider it a bug.

###

[2022-05-27 20:31] cdrini commented on #6598
This is happening because the ebooks filter is currently applied after the solr search in the python. Once we have #6564 in solr, we should use that to back the ebooks facet.

As a shorter solution we might also be able to just remove the python filter here for users with printdisabled access?

[2022-05-27 22:14] cdrini opened #6599 "Delete button on author pages has vanished"
There used to be a delete button on the top right corner when editing author pages for librarians, but it's no longer there.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/170792553-9e7546dd-fa71-47b9-94ca-8658f59c5f7d.png)

### Steps to Reproduce
1. Go to eg. http://localhost:8080/authors/OL18319A/Mark_Twain/edit

* Actual: No delete button
* E

[2022-05-27 23:39] #6374 closed

[2022-05-27 23:39] #6540 closed

[2022-05-28 00:53] rahulsabbineni commented on #6570
I've decided to scrape book data from publishers to create a smaller, curated data set instead of using OL. As such, I will not be able to work on this issue. Please close the issue if it's not important. Thanks!

[2022-05-28 02:58] cdrini commented on #6377
Ok, all the changes requiring a full solr reindex should now be complete. Taking off testing.openlibrary.org and kicking off a full reindex to run over the weekend.

[2022-05-28 03:13] cdrini commented on #6377
Ah, I forgot I need a fresh data dump ; let me kick that off and then start he solr full reindex on Monday

[2022-05-28 11:54] vagoston commented on #5513
Could someone please let me know if you want to go ahead with modifying the @jsonapi decorator in the infogami repo in order to return 404 response code and an error in the json response when the api would return 0 result for a query?
@cdrini or @jimchamp

[2022-05-29 14:51] dcapillae commented on #5594
I get a new merge failure. I do not know if it is related:

[] Avi: https://openlibrary.org/authors/merge?key=OL27173A&key=OL9250111A

[2022-05-29 17:58] #6500 closed

[2022-05-29 19:09] cdrini opened #6604 "Block imports matching (title:(illustrated OR annotated OR annoté) AND publisher:Independently Published))"
These add loads of useless noise to our classics: eg https://openlibrary.org/search?q=inutile+maupassant&mode=everything

Here's what matches: https://openlibrary.org/search?q=title%3A%28illustrated+OR+annotated+OR+annot%C3%A9%29+AND+publisher%3AIndependently+Published&mode=everything . 25k records of spam!

This subquery should probably have all matches deleted: https://openlibrary.org/search?q=t

[2022-05-29 19:13] mheiman commented on #5594
There are still some author redirects out there that our cleanup attempts missed. It looks like there was a big batch of Robert Louis Stevenson that had bad data, and that was affecting anyone who contributed to a Stevenson adaptation, like Avi.  I did a cleanup run and was able to push this merge through.

Please keep reporting problems. Thanks!

[2022-05-30 07:03] bicolino34 commented on #6541
@cdrini I think this issue can be closed. But it may be a good idea to add this info to [i18n Contributor's Guide](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/i18n/README.md) and recommend translators to use [Poedit](https://poedit.net/) for automatic adding of these forms

[2022-05-30 08:16] cclauss commented on #6592
On macOS, the command: `open https://openlibrary.org/random https://openlibrary.org/random https://openlibrary.org/random https://openlibrary.org/random https://openlibrary.org/random` will open multiple tabs in the browser which prove that this is a problem.

[2022-05-30 17:14] #6592 closed

[2022-05-30 18:46] tfmorris commented on #6541
Sorry to have missed the earlier ping, but I can confirm that @milotype has the correct info. More than two plural forms is definitely supported.

[2022-05-30 21:12] cclauss commented on #6573
bad_pubs = """\
https://openlibrary.org/authors/OL7546088A/Jeryx_Publishing
https://openlibrary.org/authors/OL9607236A/Razal_Koraya
https://openlibrary.org/authors/OL9228328A/Mitch_Allison
https://openlibrary.org/authors/OL9206862A/Punny_Cuaderno
https://openlibrary.org/authors/OL8380258A/Tobias_Publishing
https://openlibrary.org/authors/OL9626196A/Pizzelle_Passion
https://openlibrary.org/authors/

[2022-05-31 08:16] aasifkhan7 commented on #3562
@cclauss let me check and get back to you.

[2022-05-31 08:24] cclauss commented on #3562
If it is still a problem, then inside the Docker container, can you run `ls -la /openlibrary/package.json` ?

[2022-05-31 13:53] milotype commented on #3328
If you're still considering using a translation platform – which I also **strongly** suggest! – I agree with the suggestions of @tfmorris. Weblate is also my first choice – and it is already used for [Internet Archive](https://hosted.weblate.org/projects/internetarchive/#components) – but somebody would need to check if it is possible to use it for the project **[openlibrary](https://github.com/in

[2022-05-31 14:45] LeadSongDog commented on #6565
@cclauss
We’ve avoided answering this question far too long. Where no "author" is identifiable, there is usually some contributor who is "responsible", as Worldcat shows it. This often is found in MARC field 700.

To my thinking, capturing these non-authors *as such* is half the battle. Attaching any of the contributor roles could serve to help disambiguate works with similar titles, but we have t

[2022-05-31 19:12] mekarpeles commented on #5513
I think a 200 response seems reasonable -- I believe @cdrini and @cclauss agree. 404 would mean that the resource (i.e. the actual API endpoint) was not found, in my opinion, whereas in this case the service worked as expected and there was no entry to return for the identifier. We could augment the json with a field (e.g. "error": "no such book in catalog")

@vagoston if you'd like to propose a c

[2022-05-31 19:17] mekarpeles commented on #6599
This is a duplicate of #6583, @cdrini requested we close this one

[2022-05-31 19:17] #6599 closed

[2022-05-31 19:18] RayBB commented on #5513
I agree with closing it

[2022-06-01 12:30] cclauss commented on #5402
Problems on 01 June 2020:  Generating cdump takes 7h28 to process 200M records.
1. Skipping: data.txt.gz -- Because the script deleted the file in the parent directory, not the working directory.
2. Step 4 processed 200M records and wrote its results into ol_cdump_2022-0**5**-31 but the `compgen` logic told Step 5 to process a file that starts with ol_cdump_2022-0**6**.  No such file existed so st

[2022-06-01 23:16] #6580 closed

[2022-06-02 06:59] cclauss commented on #6519
Resolution is complicated by a bug noted in the comments of `get_users_logged_books()` that can be seen by doing:
`assert get_users_logged_books(username, page=1)  != get_users_logged_books(username, page=2)`
for a user that has just three logged books.  Normally the first page should return a list of three books and the second page should return an empty list but instead, it returns the same thre

[2022-06-02 10:02] seabelis commented on #6565
I would be for changing the "author" field to "responsibility".
I would not be for requiring the field to be populated. Even though Worldat has the field available, there are plenty of OCLC records that do not have attribution.
Unknown implies the creator is unknown. This would not be accurate for plenty of works that are created by staff writers but are unattributed. This is common for textbooks

[2022-06-02 10:21] seabelis commented on #6565
I suppose it's also relevant to note that I have, on occasion, received requests from staff writers to not be listed as the authors. It's not a frequent request, but it happens.

[2022-06-02 19:36] LeadSongDog commented on #6565
I accept there are times when naming an author is unwanted, but very often it is simply an oversight which the user could easily correct if reminded. Even [publisher] staff would be better than blank.

[2022-06-03 00:11] scottbarnes commented on #6535
I submitted a PR here: https://github.com/internetarchive/openlibrary/pull/6623.

[2022-06-03 07:11] bicolino34 opened #6625 "Bad import"
In subject [Dictionaries](https://openlibrary.org/subjects/dictionaries)
There is a lot of fiction books like "The Invisible Man" by H. G. Wells, "Adventures of Huckleberry Finn" by Mark Twain, "Don Quijote de la Mancha" by Miguel de Servantes, "Tresure Island" by Robert Louis Stevenson etc.
@cdrini @mekarpeles

[2022-06-03 07:12] bicolino34 commented on #6541
This functionality is already available in .po file type

[2022-06-03 07:12] #6541 closed

[2022-06-03 07:17] bicolino34 opened #6626 "Create additional video for i18n Contributor's Guide"
Create video on how to use [Poedit](https://poedit.net/) for translators. It can help to automatize many tasks like automatic creation of counting forms for languages that need more forms for words than just singular/plural.

### Stakeholders
@cdrini

[2022-06-03 16:54] jimchamp opened #6627 "Page position incorrect when clicking book page navbar link"
Whenever a patron clicks on a book page navbar link, the navbar partially obscures the section that they have navigated to.  A patron must scroll up a small amount to see the section's header.

### Evidence / Screenshot (if possible)
![desktop](https://user-images.githubusercontent.com/28732543/171907481-fc5c7eda-9c83-4fbd-9f5d-31f3f2ab6f7d.gif)
_Desktop view_

![mobile_jump_link](https://user-ima

[2022-06-03 22:56] Nuisigor commented on #5194
Hi, I would like to work on this, is this available @cdrini ?

[2022-06-04 16:48] agmckee commented on #6565
This is a tension between "proper librarianship" and the crowd sourced approach of Open Library. The vast majority of the time no author is entered is almost certainly a mistake or oversight, but there are definitely books with no known author and other books where there is no principal author (the dictionaries example above).

Perhaps for now adding a validation warning to alert the user that no

[2022-06-06 12:02] cclauss opened #6632 "Send a Slack message when our cron_watcher GitHub Action fails"
### Describe the problem that you'd like solved

Alert System Administrators when our [`cron_watcher.yml` GitHub Action](https://github.com/internetarchive/openlibrary/actions/workflows/cron_watcher.yml) fails.
* https://github.com/slackapi/slack-github-action

We need advice from @cdrini on how to call OLSlackBot from Python.

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-06-06 14:03] cclauss opened #6633 "The My Lists page should link to instructions to create a list"
I'm always frustrated when I go to the [__My Lists__ page](https://openlibrary.org/people/username/lists) but there are no [instructions on how to create a list](https://openlibrary.org/help/faq/reading-log#lists).

### Describe the problem that you'd like solved

https://openlibrary.org/people/username/lists should have link to https://openlibrary.org/help/faq/reading-log#lists
Perhaps the text `

[2022-06-07 14:02] bicolino34 opened #6634 "Make it possible to add ISBN10 with hyphens in edition editing screen"
Related: #4548

Currently, it is not possible to add ISBN10 ID in edition editing screen if it contains hyphens. For example, 966-7007-30-2 can't be added, but if hyphens are deleted it will work fine. In contrast, ISBN13 can be added both with hyphens and without. I think that hyphens can be automatically deleted when adding ISBN to database without need to do it manually.

In my personal opinion

[2022-06-07 16:02] cclauss commented on #6634
@hornc

[2022-06-07 16:28] popcar2 opened #6635 "Add solr support for synonyms for numbers/abbreviations"
I've been using the website for a long time now and one of my biggest gripes is how searching works. When searching for books in OpenLibrary, you often need to write exactly the correct title. This means that if a book uses words for numbers (One, Two, Three etc), searching the same title with digits (1, 2, 3 etc) would give no result.

Another example is if a book uses "Vol." in the title, search

[2022-06-07 19:29] cdrini opened #6637 "Investigate perf improvements for List Metadata section"
We removed the "List Metadata" section for performance reasons, since it would often time out solr and delay the page by 10s.

![image](https://user-images.githubusercontent.com/6251786/172449717-ea1fa827-a415-4f3b-b9b0-ea73e1967be7.png)

Possible solutions:

- make async?
- Axe permanently because it provides little value?
- Axe until we have lists in solr and this can be done more performantly?

[2022-06-07 20:34] #6535 closed

[2022-06-08 13:38] #865 closed

[2022-06-08 13:47] bicolino34 commented on #810
Using full-text search on Open Library with phrase "carcfully scannod" I got [50556](https://openlibrary.org/search/inside?q=carcfully+scannod) hits
Searching in Google I get 29000 results. I was googling: "carcfully scannod" site:archive.org

[2022-06-08 17:24] mekarpeles opened #6639 "NOW: Up to 300x Gitcoin donation matches to Internet Archive"
See: https://twitter.com/internetarchive/status/1534534080791863296?s=20&t=NNnTZ4aOIEgAJz0PcIKTMw

https://gitcoin.co/grants/5885/internet-archive

[2022-06-08 19:49] neilt opened #6640 "ol_dump_latest has not worked since 21 March 2022"
Is anyone aware that the data dumps are not working.  I could not find an active ticket covering this issue.

 ol_dump_latest.txt.gz is currently 20 bytes.  The last good file I could find is dated 21 March 2022.

Even the May files that I could find in the archive for example the one dated 5/27 still only contain data from 21 March 2022.

Thanks

[2022-06-08 22:04] #6186 closed

[2022-06-08 22:21] cdrini commented on #6640
Hi sorry about that ; the last one didn't work correctly. The 05/31 will be deleted soon, so the links should then be fixed. We've had some issues with it not running automatically, tracked in #5402 ).

The 05/27 dump should be correct; can you describe what problems you're seeing that makes you think the data is outdated?