[2019-11-21 13:35] brierjon commented on #2517
Also fails on the following ISBN13 if this helps:

9781682827352
9780367186715
9780520284777
9781526137029
9781138271869

[2019-11-21 13:35] koderjoker commented on #2043
@guyjeangilles the following issue has been taken on by @jdlrobson for the time being.

[2019-11-21 14:47] cclauss commented on #1694
I am not sure yet if this "solved" the problem or merely "masked" the symptom.

[2019-11-21 15:16] BrittanyBunk commented on #2647
Closing statement:
- The most temporary solution is to write in the title
- Better wording in #2648 will help this issue from further happening
- If this issue gets reopened again, it's on the developer side to have the website automatically fill in the name of the work for the edition if it's blank (as it does for the edition's page).

[2019-11-21 15:16] #2647 closed

[2019-11-21 15:18] BrittanyBunk commented on #2647
@seabelis I didn't know, but it's actually placed in triage/librarian issues. I feel that it has meaning there, and removing it will cause issues (as it's about the automation side). You don't mind me reopening it up, so that whoever put this issue there can continue to work on it?

[2019-11-21 15:58] seabelis commented on #2647
I placed it in Librarian Issues. If the question has been answered and you now understand that by populating an edition title, you will no longer see 'title unknown,' then the issue should be closed. Closing this issue does not prevent #2648 from being worked on.

[2019-11-21 17:37] mekarpeles commented on #2417
Nothing requires this issue to be solved urgently today or this week. Decreasing priority.

[2019-11-21 21:16] LeadSongDog commented on #2517
@brierjon Of those five, the first four are dated 2020, so perhaps not yet in press?
The last has equivalent isbn10:1138271861 which (when searching on just the number) gets additionally matched to http://d-nb.info/1138271861 -- not sure if that's relevant or not

[2019-11-21 22:15] LeadSongDog commented on #2233
@seabelis @tfmorris That scan was for _War for power and power for peace_, but Import bot conflated it with the identifiers, description, etc for Julius Caesar

https://openlibrary.org/books/OL6447918M/War_for_power_and_power_for_peace?v=6
was based on
https://openlibrary.org/books/OL6447918M/War_for_power_and_power_for_peace?b=5&a=4&_compare=Compare&m=diff

Anyhow, I think it is now sorted out, w

[2019-11-21 23:38] Camillo-Pellizzari commented on #2248
Again:  https://openlibrary.org/authors/merge?key=OL981833A&key=OL6003522A

[2019-11-22 00:05] guyjeangilles commented on #927
So is this a Solr problem, a Memcache problem, or a combination of the two? Will #2246 affect/fix this?

[2019-11-22 00:10] guyjeangilles commented on #2346
I believed we talked about this on the November 21st Community Call. Changing the text to "No lend-able copy available" would be an easy fix

[2019-11-22 00:12] guyjeangilles commented on #2370
Assigning jdlrobson (not tagging as requested) per slack discussions

[2019-11-22 00:29] guyjeangilles commented on #2375
This seems like a combination of problems: 1) The subject page needs a redesign 2) Subject search is broken/performing poorly. Should 2) be it's own issue?

[2019-11-22 00:33] guyjeangilles commented on #2398
A cool idea. I'm afraid the legitimacy of the stat would be suspect until the duplicates in OL's data are under control

[2019-11-22 00:36] guyjeangilles commented on #2333
@hornc has been working on this so I'm assigning him per slack discussions

[2019-11-22 00:40] guyjeangilles commented on #1799
@cdrini Do you think the solution to #2628 will fix this problem? Has anyone seen this since Novemeber 15th when #2628 was closed?

[2019-11-22 00:42] guyjeangilles commented on #2390
Signal boost @mekarpeles

[2019-11-22 00:46] guyjeangilles commented on #2396
Page still errors. This seems like a good pruning job for a newcomer

[2019-11-22 00:46] BrittanyBunk commented on #2647
@seabelis thanks. I was worried about that, as the temporary fix is manual, but the automation was a concern on the developer side, which is why it was placed there. So I appreciate you putting it back, so it can be worked on for the developer side, and closed for the manual one.

[2019-11-22 00:52] guyjeangilles commented on #2388
To add my two cents: having the Internet Archive scan books assures the quality of the scan. While it's definitely possible for patrons to provide quality scans, we'd also have to have some quality assurance program that prevented trolls from uploading unrelated content for books with expired copyright. We can incorporate such a program, but are user uploaded scans worth the operating cost?

[2019-11-22 01:05] guyjeangilles commented on #2391
To try to distill the info in this thread:

- `Printer` and `Publisher` data are key pieces of information to identify some editions, particularly pre-19th century editions.
- `Printer` is available as a dropdown in the `Contributor` menu but that's confusing(?)
- In the case where there is no `Publisher` just put the `Printer` in the `Publisher` field

@seabelis @BrittanyBunk Would you agree with

[2019-11-22 01:09] guyjeangilles commented on #2386
I'm assuming one could use the Diff endpoint and use the field names to generate a string?

[2019-11-22 01:14] guyjeangilles commented on #2404
@hornc Could this be a solution to this issue? At least as it's worded now.

[2019-11-22 01:19] guyjeangilles commented on #2406
@BrittanyBunk can you provide a screenshot? I'm not exactly sure what you're referring to.

[2019-11-22 01:21] guyjeangilles commented on #2401
Should we close this since it's techinically not OL related?

[2019-11-22 01:23] guyjeangilles commented on #2409
Seems to conflict with #2404. Thoughts @hornc ?

[2019-11-22 01:26] #2401 closed

[2019-11-22 01:27] BrittanyBunk commented on #2401
@guyjeangilles where's a good place to put IA related stuff?

[2019-11-22 01:32] BrittanyBunk commented on #2406
https://openlibrary.org/books/OL7444969M/Quantum_Computation_in_Solid_State_Systems. If you click on the Internet Archive ID, it's restricted.

[2019-11-22 01:32] guyjeangilles commented on #2410
Assigning @hornc per slack discussion since MARC issues are his perview

[2019-11-22 01:33] BrittanyBunk commented on #2406
For this case, instead of it saying 'no ebook available', it should say 'ebook restricted', so that people don't click on the IA ID or try to upload it themselves.

[2019-11-22 01:34] guyjeangilles commented on #2401
@BrittanyBunk It sounds like there's a private repo, so it may be best to ping the slack and request it be added to their internal tracking system.

@mekarpeles @cdrini @hornc Would you agree with this?

[2019-11-22 01:35] mekarpeles commented on #890
Do we want to rehash the specific remaining steps / blockers for Python3?

[2019-11-22 01:36] guyjeangilles commented on #2406
I see know, I'm assuming there's an API we call that can display something to a user

[2019-11-22 01:36] BrittanyBunk commented on #2386
@guyjeangilles That might work. I would also look at how it's done for cover images (as they are mentioned) and apply it to the other fields and it may be accomplished.

[2019-11-22 01:38] BrittanyBunk commented on #2391
@guyjeangilles I think it's confusing to have a field for publishers, as it's located in the dropdown menu too. The issue with just leaving the printer to the dropdown menu is that they have an address that's different from the publisher - so it prevents confusion. Also, it's really confusing to put the printer in the publisher field. That's one of the reasons I brought this up.

[2019-11-22 01:40] guyjeangilles commented on #2653
@hornc is doing some working cleaning up import. Would any of your work block this bot?

@mekarpeles Who has the authority to approve bots?

[2019-11-22 01:46] BrittanyBunk commented on #2388
@guyjeangilles I'm not sure what the issue with trolls is here specifically if anyone can upload to the IA. If that's an issue about only the IA scanning books, then the website should say that. However, the website says that it's a website designed for anyone to scan books. I'm also not sure what the operating cost of users scanning to the IA is, as I'm presuming $0 (outside of making the list).

[2019-11-22 01:49] BrittanyBunk commented on #2409
@guyjeangilles that's different. That's isbn's with only DVDs. I'm talking about ibsn's with book + DVD.

[2019-11-22 01:51] BrittanyBunk commented on #2401
@guyjeangilles I'm guessing it might be good to make a github for the IA. That way, there could still be a private repo, but at least there's a way for the public to communicate their thoughts on it.

[2019-11-22 05:28] hornc commented on #2409
I think this is currently supported by the notes field. If there are enough items the share the same kind of data requirement, and a case is made for why it would be better as a structured metadata field, then we could consider adding one. I don't think we ate there yet though.

[2019-11-22 05:29] brierjon commented on #2517
@LeadSongDog True with future copyright dates for the first four. I don't think they're in print yet or just preview copies, but 9781682827352 is listed on both amazon.com and betterworld books so it theoretically should be available for import and shouldn't throw this error or should specify that it fails due to a future publication/copyright date.

Where are you see the additional match for 9781

[2019-11-22 08:29] seabelis commented on #2391
@guyjeangilles Yes. Printer is less 'key' if edition has a publisher.
In cases of printer only, then printer is listed as publisher as can be seen in [this example on OCLC](https://www.worldcat.org/title/hamlet-a-tragedy/oclc/642659711&referer=brief_results).

I may be wrong about this, but the publisher drop-down may be a legacy from when users could freely add fields to the dropdown options. I'v

[2019-11-22 08:45] seabelis commented on #2233
I've reverted the edit that initially linked to Julius Caesar and added the ID to the appropriate edition in OL. The link from IA to Julius Caesar still exists, but I've asked Jeff to fix when he can. I did want to point it out as an example so @hornc could take a look at where things went awry.

[2019-11-22 12:57] seabelis commented on #454
I would be in favour of checking amazon imports against oclc and importing only those items that exist in oclc.

[2019-11-22 13:56] LeadSongDog commented on #2517
@brierjon Sorry I was not clear. The extra match was found via https://www.worldcat.org/search?qt=worldcat_org_all&q=1138271861

Of course the isbn-specific query https://www.worldcat.org/search?q=Isbn%3A1138271861&qt=results_page only finds one match, but I’m not sure what we look for.

[2019-11-22 17:56] LeadSongDog commented on #2248
@Camillo-Pellizzari
This smells like just another legacy of our mangled diacritics. I've managed to merge most of the redundant author records to Émile Egger at https://openlibrary.org/authors/OL4557532A/  but that last record at https://openlibrary.org/authors/OL6003522A is stubborn.

[2019-11-22 19:10] guyjeangilles commented on #2409
@BrittanyBunk Does the notes field satisfy your request? Can you provide some examples of books that had accompanying media?

[2019-11-22 19:14] guyjeangilles commented on #2391
I'm not an expect on this matter, but it sound like leaving things as is and adding help text could deal with the confusion

[2019-11-22 19:24] guyjeangilles commented on #1110
Still no seeing time remaining for a borrowed work. @Zacharius did @mekarpeles ever get back to you?

[2019-11-22 19:29] guyjeangilles commented on #163
@koderjoker Any updates to share?

[2019-11-22 19:45] guyjeangilles commented on #439
Still not implemented. Currently I can view the book, but it pushes the oldest loan out of my list of loans.

[2019-11-22 20:17] guyjeangilles commented on #1986
Not seeing this anymore. Closing.
![Screenshot_20191122-150418_Firefox_crop](https://user-images.githubusercontent.com/7256157/69457480-0b42b300-0d65-11ea-8d0b-73b4c5078cd2.jpg)

[2019-11-22 20:17] #1986 closed

[2019-11-22 20:25] guyjeangilles commented on #1995
@shreyansh23 Where is the code you were working on? A search for `mixin` in the PRs didn't find anything. Is it on your local fork?

[2019-11-22 20:38] guyjeangilles commented on #2380
Is there anything else blocking this now that #2360 is merged?

[2019-11-22 20:48] guyjeangilles commented on #2147
Assigning @hornc per slack discussions because this issue is import related.

Also removing the `Good First Issue` label as this seems a little involved for a newcomer.

[2019-11-22 20:53] guyjeangilles commented on #2373
My be a different issue, but the Manage BookCovers popup is also not responsive on mobile.

Assigning jdlrobson (not tagging as requested) per slack discussions

[2019-11-22 21:02] guyjeangilles commented on #2293
From the last community where we talked about this, Infogami was the blocker. Is that still the case @cclauss ?

[2019-11-22 21:07] guyjeangilles commented on #2330
Fixed in #2474 . It looks like it's wrapped in $_() so internationalization should be less of a problem. Closing.

[2019-11-22 21:09] guyjeangilles commented on #608
@mekarpeles to clarify, this would be a button/clickable link on a users account page to resend the validation email?

[2019-11-22 21:13] guyjeangilles commented on #2430
+1 for making other translations available.

I'm not sure there's a translation service that exists that could reliable translate an entire book into something that's true to the original work unfortunately.

[2019-11-22 21:17] guyjeangilles commented on #2402
Has anyone been able to reproduce this? If all book covers the user is uploading is failing, it sounds like a problem on their end.

[2019-11-22 21:22] guyjeangilles commented on #2444
Assigning @hornc per slack discussions since imports are his purview

[2019-11-22 21:26] guyjeangilles commented on #2438
To add my two cents: I think it'd good sensible to have a minimum requirements list before something is added to import. Example list.
- Author
- Title
- Publisher/Printer
- ?

[2019-11-22 22:04] jdlrobson commented on #2380
No this can be worked on.

[2019-11-23 01:13] BrittanyBunk commented on #2398
@guyjeangilles that's true. A lot of ideas I mention would require a fix of current issues before proceeding. I was thinking of a 28 day count too, but that would still have the same troubles. What should I do with the issue then? Close and reopen or just leave it?

[2019-11-23 01:16] BrittanyBunk commented on #2406
@seabelis not sure what you're asking. I'll do, not a screenshot, but a visual of what I am asking to be shown. I'm not sure of the right wording to use, so I just made up my own:
![image](https://user-images.githubusercontent.com/55302685/69470502-cd856080-0d4b-11ea-88ad-e784f3034798.png)

[2019-11-23 01:29] BrittanyBunk commented on #2409
I think I have to agree with @hornc where it might be a new field that would have a link to material included in it. Just like how there's a link to the IA, it would have a place to add a link from the [software](https://archive.org/details/software), [audio](https://archive.org/details/audio), [image](https://archive.org/details/image), or [video](https://archive.org/details/movies) sections. The

[2019-11-23 01:40] BrittanyBunk commented on #2391
@guyjeangilles why not say 'printer/publisher'. @seabelis It's good to use OCLC for inspiration on how to format OL, and in some ways it's ok to keep the formatting consistent with them. At the same time, it's not like it needs to be followed 100% (as their website's editable by anyone, just like this one is), especially if it's needed (talking in general, not this issue specifically).

I think th

[2019-11-23 01:42] BrittanyBunk commented on #2430
@guyjeangilles thanks. I do know of which service could provide this (and possibly for free or something), but I would need to make contacts with my contacts. I could do that if you'd like me to. I've been thinking about it since I first wrote it, but I think I could make it possible (if not, I'll say why not at that time). Would you like me to move forward with this?

[2019-11-23 04:11] cclauss commented on #2293
Yes. Infogami fails on Python 3
https://travis-ci.org/internetarchive/infogami/builds/615095537

[2019-11-23 11:09] seabelis commented on #2406
Related to #1235 and #2346.

[2019-11-23 11:12] seabelis commented on #2406
That's essentially what the lock icon is saying, but the text is not very clear about that. I think the button itself in independent of the DAISY-only books, but there are others more qualified to answer that.

[2019-11-23 13:19] seabelis commented on #2438
I wouldn't consider an absent cover to be a sole reason not to import (frequently the covers used on oclc, amazon, other sellers are incorrect anyway). Checking library holdings is a big + in my book. In the provided example, there is no corresponding oclc record and this would suggest an actual book with that isbn never existed beyond an isbn. This is common for amazon imports.

[2019-11-23 13:43] seabelis opened #2662 "What is a book? Databases?"
_This is part of a series about 'what is a book?' to determine which formats should be included in the OpenLibrary collection._

Should databases be included in the catalog? These can be either online or on media such as CD ROM.

For example: https://openlibrary.org/books/OL21174704M/Editions_and_adaptations_of_Shakespeare

My inclination leans toward no in cases such as this example where it is a

[2019-11-23 14:24] seabelis commented on #412
Will existing data be preserved for works that have not been consolidated?

[2019-11-23 16:09] mekarpeles commented on #2662
The recommendation above seems reasonable to me.

I think one interesting interpretation is, once we acquire said "book", is a read / listen / borrow button conceivably possible? Or are we building a catalog with items that patrons will not be able to experience (now or in the future or past).

Another aspect may be, can we quote it by page? For audiobook, such a criterion might imply that an audi

[2019-11-23 16:36] BrittanyBunk commented on #2662
@mekarpeles I have an idea, as I do work with audiobooks (so I'll talk about that, as this issue is about databases that change). I would say if there are audiobooks, it's possible to set it up by adding it to the audio part of the IA and have it link in the OL. I would say (just like I suggested an ability to translate works of originals - in an overlay), I would have a 'read' button underneath t

[2019-11-23 16:44] BrittanyBunk opened #2663 "Add a 'title' tab to author pages"
Many authors have a background: degrees, like PhD, other occupations - like physicist, or specialties - like child development. I am proposing a page that would have these 3 fields under a new tab called 'titles'.
![image](https://user-images.githubusercontent.com/55302685/69482238-6dcf9980-0dcd-11ea-894e-f0b94d0ec07c.png)

[2019-11-23 21:44] seabelis opened #2664 "What is a book? Audio formats?"
_This is part of a series about 'what is a book?' to determine which formats should be included in the OpenLibrary collection._

Should audiobooks be included on OpenLibrary? Does the format make a difference?

Formats that usually include an ISBN include:

- digital audio (https://openlibrary.org/books/OL26609531M/Collected_Stories_of_William_Faulkner)
- CD (https://openlibrary.org/books/OL781158

[2019-11-24 04:43] BrittanyBunk commented on #2664
@seabelis this is big, but audiobooks should be in the IA, and especially if they can be reformatted into transcript text to follow along (like "2:50 This is when, 2:55 the kid went to, etc.), and it should be required if the only format available is audiobook (although the time stamps aren't). It doesn't matter isbn or not (classics don't have it).

I wouldn't count performance of plays as a 'boo

[2019-11-24 09:47] seabelis opened #2665 "It should be possible to delete a list with entries"
Users must request admin assistance to delete their own lists.

### Evidence / Screenshot (if possible)
<img width="745" alt="Screenshot 2019-11-24 at 09 37 09" src="https://user-images.githubusercontent.com/17739465/69492092-0f262080-0e9e-11ea-9bec-60c356108140.png">

### Relevant url?

### Steps to Reproduce

1. Create a list or go to one of your existing lists.
2. Try to find a way to delete yo

[2019-11-24 14:42] guyjeangilles commented on #2398
@BrittanyBunk I'd leave it open and let's say it's blocked by current data cleanup efforts

[2019-11-24 14:48] guyjeangilles commented on #2430
@BrittanyBunk I'm not necessarily the decision maker but it may be a good idea to find a dev dedicated to making this reality. @cdrini This sounds like a cool enhancement for TTS

[2019-11-24 15:08] guyjeangilles commented on #2447
By "book" I assume you mean "work"? If so, I'm assuming it'd be easy to check if 1) a work has no cover 2) this coverless work has editions with a cover and 3) add the editions cover id to a work

[2019-11-24 15:21] guyjeangilles commented on #2456
A tangential suggestion: a discussion page per work, book, and author similar to Wikipedia.

[2019-11-24 15:24] guyjeangilles commented on #2454
I've changed the title to account for this threads context

[2019-11-24 15:44] guyjeangilles commented on #2445
Is #2246 going to make Solr near real time?

[2019-11-24 15:50] seabelis commented on #2454
I've self-assigned. I have a lot of issues involving the edit form, so it's probably good to group them.

[2019-11-24 15:54] seabelis opened #2666 "What is a book? Theatre programs?"
_This is part of a series about 'what is a book?' to determine which formats should be included in the OpenLibrary collection._

Example: https://openlibrary.org/books/OL25248333M/The_Ben_Greet_Players_a_subscription_series_of_Shakespeare's_plays

There are a lot of records for these. I'm going with a firm no on this.

[2019-11-24 16:16] guyjeangilles commented on #2490
Removing `Good First Issue` per [this comment](https://github.com/internetarchive/openlibrary/pull/2572#issuecomment-554742379) on the related PR #2572

[2019-11-24 16:18] guyjeangilles commented on #2512
@lgoenner Did you make any progress?

[2019-11-24 16:19] BrittanyBunk commented on #2430
I did research and couldn't find much, but I think it's a matter of embedding a translator for images of the book pages or the entire document all at once in the web app that allows the book to be visible in the IA. For the OL, having a way to click the language a person wants to read in would be a temporary help.

[2019-11-24 16:20] BrittanyBunk commented on #2447
@guyjeangilles yes, I think that would work!

[2019-11-24 16:25] guyjeangilles commented on #2587
@hornc Any comments on this issues proposal? Seems reasonable/advantageous to me

[2019-11-24 16:36] BrittanyBunk commented on #2456
@guyjeangilles I looked on Wikipedia and didn't see what you're talking about (like the community portal's not it). Someone on slack said a wiki, so a public wiki, but I'm envisioning more like how wikihow looks (like an article + comments section), but the front page would have a search bar, link to the FAQs, and common faqs topics underneath. Each faqs page has a comments section. I feel this co

[2019-11-24 16:47] guyjeangilles commented on #2456
The discussion pages are are called "Talk Pages." For example the page for Open Library is https://en.wikipedia.org/wiki/Talk:Open_Library

[2019-11-24 16:48] Camillo-Pellizzari commented on #2248
Again: https://openlibrary.org/authors/merge?key=OL4743941A&key=OL4016098A

[2019-11-24 18:15] BrittanyBunk commented on #2456
@guyjeangilles ok, then that. It's easier to access on Wikihow than Wikipedia, but I see what you mean.

[2019-11-24 19:04] tfmorris commented on #2664
I think our current stance of including audio books, regardless of medium, is fine. Performances I'm on the fence about, but don't have a strong objection.

[2019-11-24 19:19] tfmorris commented on #2665
The functionality exists. It's just broken, perhaps due to this Javascript error:

There appear to be both "delete list" and "remove seed (ie list entry" functions on the page which are currently inoperative.

[2019-11-24 19:27] tfmorris commented on #2625
No, it doesn't. That was what "they are guaranteed to fall out of sync over time" was intended to convey. I don't see how it could without either: a) very complicated semantics or b) just replicating the work authors in the edition, which negates the value of having them separate.

Given that they're not editable, I'd lean towards getting rid of them (except, obviously, for orphan editions).

[2019-11-24 19:37] tfmorris commented on #2249
I've confirmed that the subjects API is broken as well. My July 31 comment still holds.

[2019-11-24 19:46] tfmorris commented on #1146
This overlaps with PR #2442

[2019-11-24 19:50] tfmorris commented on #1445
#2552 would be one solution to the systemic problem. Removing authors from editions would be another, more permanent solution.

[2019-11-24 19:57] tfmorris commented on #1845
I've [reverted my edit](https://openlibrary.org/works/OL16802242W/Chollima_Korea?m=history) and broken the [author page](https://openlibrary.org/authors/OL6598895A/Horst_Kurnitzky?page=2) again so that the code can be fixed properly.

[2019-11-24 20:02] seabelis commented on #2664
@BrittanyBunk Just to clarify, I do not mean video performances. I'm only including audio performances.

[2019-11-24 20:08] seabelis commented on #2664
@tfmorris Goodreads' policy excludes performances. Not considered audiobooks according to their policy. Though there are plenty of them on the site; I think the data is just not enough to indicate whether it's an actual reading of the book/play or a dramatisation. BBC has a lot of these.

[2019-11-24 20:12] tfmorris commented on #2483
@cdrini @jdlrobson Since my comments on the pull request were ignored because I didn't comment here on the issue, let me state publicly that I find it completely unacceptable that we have a practice of breaking stuff during "refactoring" and then using the breakage as justification for ripping it out. In every engineering organization I've ever known, the term "refactoring" implies unchanged funct

[2019-11-24 20:32] tfmorris commented on #1676
@seabelis Reindexing operations typically take at least 15 minutes and often much more time.

@guyjeangilles Most likely the Solr updater failed due to a bug (perhaps in handling corrupt/unexpected data). The old work was correctly updated to be a redirect to the merged work: https://openlibrary.org/works/OL5277996W.json
but the index doesn't correctly reflect the state of the infogami database: h

[2019-11-24 20:49] tfmorris commented on #1848
@brad2014 Missed your question earlier. I think it's mostly the dev instance. The bug that I fixed could nominally impact production, but was buried so deeply in the fallbacks that it was unlikely to ever be reached.

[2019-11-24 20:52] seabelis commented on #1676
I'm aware of the indexing time, but these have been at least since last December. The Shakespeares resolved after the author issues were resolved.

[2019-11-24 22:21] tfmorris commented on #1676
I checked the dump for "Harriet the Spy" editions and I'm pretty sure that the merged work includes all the editions, so the principal problem is that entries for the old works didn't get deleted from the index.

There have been some improvements in this area, so it's possible that the problem is historical, but we should check with recent merges.

[2019-11-24 23:19] tfmorris commented on #889
It's actually #2064 that will address this problem.

[2019-11-25 00:11] tfmorris commented on #150
I think both the MARC record and the new import are correct and it's the old OL record that's broken.

The word "dni͡a︡" from the old import ends with code points 69 361 61 fe21
The word "dni︠a︡" from the new import ends with code points 69 fe20 61 fe21

This is the exact problem that the OP reported, so it looks like the importer is fixed, but the data cleanup task still needs to be done.

Of cou

[2019-11-25 00:35] tfmorris commented on #150
This search returns 6,124 hits https://openlibrary.org/search?q=i%CD%A1a%EF%B8%A1 so it seems like there's still a fair amount of cleanup to do

[2019-11-25 01:05] tfmorris commented on #1958
I added test2 to the new example https://openlibrary.org/books/OL25003949M/The_complete_idiot's_guide_to_world_religions and then was able to remove "Testing" so I think that the bug is actually that you can't remove the last contributor, not anything to do with the name of the contributor.

[2019-11-25 01:21] tfmorris commented on #2190
That's because this duplicate was created and then a bunch of references to it were inserted in various places. We could do the same thing with the original ticket #791 to pull it back into the lead if that's how we're going to decide things.

[2019-11-25 02:28] tfmorris commented on #865
This is the list of languages: https://openlibrary.org/languages
The template for that page is here: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/languages/index.html
This is the page for French https://openlibrary.org/languages/fre
This is the JSON version of the French page: https://openlibrary.org/languages/fre.json
The list is served by this autocomplete end

[2019-11-25 04:01] BrittanyBunk commented on #2664
@seabelis I see. I see why they don't - it wasn't designated as a book and so, since it's a book recommendation site, a person can't recommend something they can't 'get' as a 'book'. However, the mission on this website is different - every single book possible, regardless. So I think the difference in missions dictates what's on the site more than what's a book or not. I mean, Goodreads is just a

[2019-11-25 04:17] BrittanyBunk commented on #2666
@seabelis I have to be honest with you. This OL website is designed to house every single book in existence. I believe that the Library of Congress (not WorldCat or Goodreads) is the best definer of what's a book (as they have, or did have, the largest collection - from what I know). They say it's a book: https://catalog.loc.gov/vwebv/search?searchCode=LCCN&searchArg=2012656485&searchType=1&permal

[2019-11-25 06:02] tmcw commented on #2380
Yep, I'm still planning to do it, it's just taking a little while to get Docker set up again.

[2019-11-25 07:21] Double-A-92 commented on #2483
I hope this is not intented to be the final state... Getting the translation to work in "dynamic" JS involves bigger effort, and probably would replace the existing broken code anyway. Keeping the "$_(..." parts in the code would not have been any benefit at all, except maybe for marking where i18n is needed.

[2019-11-25 09:38] seabelis commented on #2666
LC is indeed a good resource, but these discussions are about what is a book in the context of OpenLibrary. Theatre programs is one of their special collections which is not the same as saying a program is a book.

I agree that programs have cultural significance, but I don't think they qualify as a book in the context OpenLibrary. They present cataloging problems as they do not have the same bibl

[2019-11-25 10:35] seabelis commented on #2666
This example, however, I would argue does belong in the collection. https://archive.org/details/souvenirofshakes00shak/page/n13

[2019-11-25 11:55] seabelis commented on #1958
Ahh. Yes, I see. You're right.

[2019-11-25 12:23] cdrini commented on #1799
@jdlrobson No, I don't think that affected this. I think it's a latency issue with solr results, so it'll likely be fixed by Solr 8.1 / #2246 .

[2019-11-25 16:00] BrittanyBunk commented on #2666
@seabelis if you're going by what OL includes, here it is: "The ultimate goal of the Open Library is to make all the published works of humankind available to everyone in the world." "build towards universal access to all knowledge." "An innovative young scholar can publish a book directly to this great library on subjects that might not otherwise make it through the long and difficult publication

[2019-11-25 17:23] seabelis commented on #2662
This might be an example of a database on CD/ROM; it might just be files saved to CD/ROM. https://openlibrary.org/works/OL14915637W/The_complete_works

[2019-11-25 17:53] LeadSongDog commented on #2664
@seabelis
I don't think the physical or electronic format has much to do with the bookness of an audio recording. I would suggest a much simpler test: is there a single lector (a.k.a. reader) for an entire text, or are there distinct voice actor roles for different characters. In essence, a written transcript of the lector's spoken words should be substantially the same as the text from which that

[2019-11-25 18:03] BrittanyBunk commented on #2662
@seabelis "My inclination leans towards yes for databases contained on physical media. Content is not continuously updated; new versions would be a new edition. I will post examples if I find them." I agree with this.

The issue with the cd example you have is idk if it's software or just a stack of audiobooks on a cd. If it's software, likely iffy. If it's a bunch of audiobooks, it's iffy too. Ho

[2019-11-25 18:05] BrittanyBunk commented on #2664
If it's multiple voices vs one voice for the audiobook, it shouldn't really make a difference to me.

[2019-11-25 18:14] seabelis commented on #2662
No I don't mean 'complete works'. I means databases of texts.

[2019-11-25 18:14] seabelis commented on #2664
@LeadSongDog I think this makes sense.

[2019-11-25 18:22] LeadSongDog commented on #2406
In the interests of transparency, patrons should know _why_ a book is not available. These could be "no scan known", "we don't have a scan", "access is withheld by the rights holder", "all our copies are on loan", "Daisy etext is only available to print-disabled Americans", etc.

However, a much better answer might be to offer a different edition of the same work that _is_ available: "That edition

[2019-11-25 20:00] #2297 closed

[2019-11-25 21:20] guyjeangilles commented on #2380
@tmcw Is there anything specifically holding you back with Docker?

[2019-11-25 21:35] guyjeangilles commented on #791
This is the older issue so I'm making it the canonical i18n issue per [@tfmorris' comment](https://github.com/internetarchive/openlibrary/issues/2190#issuecomment-557952294)

Related: #871 , #1855 , #1040, #865, #872 , #988 , #973 , #2353, #2417, #1146 , #2607 . #151 is tangentially related

[2019-11-25 21:36] guyjeangilles commented on #2190
I was more laying out the pros and cons for keeping each than making a decision. Closing this as a duplicate of #791

[2019-11-25 21:36] #2190 closed

[2019-11-25 21:54] guyjeangilles commented on #2569
So #2246 should fix this?

[2019-11-25 22:04] guyjeangilles commented on #2550
@Ignatiusdork Have you made any progress on this issue?

[2019-11-25 22:06] guyjeangilles commented on #2550
Also #2447 is tangentially related

[2019-11-25 22:09] guyjeangilles commented on #2547
Looks like the image isn't being scaled but I haven't investigated the templates

[2019-11-25 22:13] guyjeangilles commented on #2583
@imskr Have you made any progress on this issue?

[2019-11-25 22:15] guyjeangilles commented on #2592
Gonna close this since this since @cdrini wasn't able to reproduce. We can reopen if @airbee7337 can provide more details about this bug.

[2019-11-25 22:15] #2592 closed

[2019-11-25 22:32] guyjeangilles commented on #2616
@BrittanyBunk "Read" is now taking me to the Works pages. Is the same happening for you? If so can we close this issue?

[2019-11-25 22:42] guyjeangilles commented on #2617
Deleted [worldpartner-0322's](https://github.com/worldpartner-0322) comment as it was almost certainly spam (they made there account the same day as making the below comment).
![2617](https://user-images.githubusercontent.com/7256157/69584311-c7ee7b80-0fd4-11ea-9f46-e6c6f1cb63f6.png)

[2019-11-25 22:52] guyjeangilles commented on #2455
Agreed that this is a valid request. Under the `Specific To This Edition` section is there is no unique for adding links. Adding them via the description is a work around but not a proper solution.

[2019-11-25 23:31] BrittanyBunk commented on #2662
@seabelis maybe there's a better example?

[2019-11-25 23:35] BrittanyBunk commented on #2664
That's not my cutoff. Would everyone think a recording of a live performance is an audiobook if it has a narrator that lists the speaker (on the audiobook, as they reformat it with the narrator) each time? What if the character voices are so distinct, it's unnecessary (especially if one uses the physical book to follow along)?

[2019-11-25 23:36] BrittanyBunk commented on #2406
@LeadSongDog I agree that the site should be more clear about its intentions on what it includes and doesn't and why - as many libraries do that.

For the offering of similar, it would be beneficial to add that as a new issue on github if it's not there already.

[2019-11-25 23:42] BrittanyBunk commented on #2616
@guyjeangilles still happening. Like https://openlibrary.org/works/OL39416W/Virginia_Woolf to click on  https://openlibrary.org/books/OL1557874M/Women_fiction. In the carousel, it says 'read'. When clicking on it, it goes to the edition page, but says 'no ebook available'

[2019-11-26 14:34] cdrini commented on #2445
Modern versions of solr support near real time (NRT) searching ( https://lucene.apache.org/solr/guide/8_3/near-real-time-searching.html ); #2246 updates to a version of solr that supports NRT. I'm not sure if it's setup to do NRT (@tfmorris would know best), but even if it doesn't the update would be a necessary step.

[2019-11-26 16:45] LeadSongDog commented on #2664
@BrittanyBunk I don't think I'm following your point here. Got an example?

[2019-11-26 17:00] LeadSongDog commented on #2666
@BrittanyBunk
I think most of us know that "all the published works of humankind" is overreaching hyperbole. We haven't even attempted to seriously treat (for instance) advertising handbills, political posters, or even journal articles. Without an identified author, title, and (to a lesser extent) publisher it is essentially useless to attempt putting something on OL. That is not to say it couldn'

[2019-11-26 17:35] cdrini opened #2667 "Cannot create account on local dev environment"
There's no way to create an account on the local dev environment. This used to be possible (see wiki) but is no longer; likely as a result of IA-OL account linking.

### Summary of Requirements
- [ ] Make it possible to create an account
- [ ] Add documentation to the Wiki for how to create an account

### Related files

### Stakeholders
@hornc

[2019-11-26 18:13] LeadSongDog opened #2669 "Regression? Carousel scroll buttons have degraded"
Within the last day or two, the left and right scroll buttons on the home page carousels have changed to plain arrows which load very late. They seem to wait for the page to fully populate, until then there is no arrow at all (see screenshot).

By contrast the carousels on the edition and work pages still have the round buttons, but there the tiles with placeholder covers are very slow to load.

T

[2019-11-26 18:22] BrittanyBunk commented on #2664
@LeadSongDog I don't think I do, sorry.

[2019-11-26 18:28] BrittanyBunk commented on #2666
@LeadSongDog I take the hyperbole seriously. I think that we could too one say. I like the cutoff of title, date, producer. I was going to mention (but didn't) that if it can be inputted and it's in some book-like form, then why not? Videobooks, audiobooks, pamphlets that are booklike (I added one of those to the OL. It's not an official book, but I thought it was sufficient). I mean, I think for

[2019-11-26 18:37] BrittanyBunk commented on #2456
@guyjeangilles https://archive.org/details/texts&tab=forum for the OL is what I'm thinking, as it's needed there with all the editing. Hope that helps.

[2019-11-26 21:11] guyjeangilles commented on #2667
So strangely, trying to use the "Sign Up" features throws an "Email Already Registered" error.

However, I found a workaround. I can "make" an account by login in with the follow credentials. I assume that any credentials could be used.
1. Click "Login" at the top right corner
1. Enter `admin@internetarchive.org` as the email
1. Enter `password123` as the password
1. Click "Login"
![#2667](https:/

[2019-11-26 21:12] koderjoker commented on #163
@guyjeangilles I paused this issue in favour of working on the navbar at iaux at that time. If no one takes on this issue by the time I'm back (~3 weeks) I'll start working on it and breaking it up to make it more accessible to newcomers.

[2019-11-26 21:31] guyjeangilles commented on #2637
Haven't done serious investigation but it looks like some HTTP requests are made but they redirect back to the original page.

[2019-11-26 21:40] guyjeangilles commented on #2640
So is this about make an existing feature more accessible or adding new functionality? It looks like recents lists made by humans exists or am I misunderstanding the question?

[2019-11-26 21:49] guyjeangilles commented on #2655
Related to #791

I also put the `Internationalization` label even though this is more localization based

[2019-11-26 21:58] guyjeangilles commented on #2658
I assume that the history is logged server-side with a timestamp, it's just not being exposed to the client? @hornc @mekarpeles @cdrini ?

[2019-11-26 22:04] tfmorris commented on #2658
History entry timestamps look like this `2012-11-22T11:05:36.657364` so we can expose as much of that as is useful, but I'm not sure I understand the use case. If the user made multiple edits today, they'll be in order. Is it important to understand whether they were made 2 hours ago or 4 hours ago?

[2019-11-26 22:05] guyjeangilles commented on #2663
I would propose a semantic change from `titles` to `specialities`, `areas of expertise`, `qualifications`, or something along those lines. I could see an well intentioned user adding titles of works attributed to the author

[2019-11-26 22:18] tfmorris commented on #2666
In case anyone's wondering where that bit of breathless prose is from, it's at https://openlibrary.org/about/vision but it dates from 2008 and was written by someone who hasn't been involved for a decade.

I think the tag line "A page for every book" is closer to the core mission (which is why the definition of a "book" is important).

[2019-11-26 22:20] guyjeangilles commented on #2669
I'm seeing the opposite. Can anyone duplicate this?
![#2669_cropped](https://user-images.githubusercontent.com/7256157/69677422-d7d09300-109a-11ea-9a60-840a49317f19.png)

[2019-11-26 22:23] tfmorris commented on #2637
I don't think it's a redirect. It's just a self link to the same page because the href is missing the `?m=history` query string.

[2019-11-26 22:25] tfmorris commented on #2640
Tagging it as a feature enhancement is fine. Invisible features don't really count. It's just a matter of adding a few more labels at the top of the page with links to the URLs I posted.

[2019-11-26 23:10] tfmorris commented on #2669
I was missing the arrows until I did a hard browser refresh

[2019-11-27 01:07] 29sxiao commented on #2658
--sean

On Tue, Nov 26, 2019 at 5:04 PM Tom Morris <notifications@github.com> wrote:

[2019-11-27 03:51] BrittanyBunk commented on #2658
If a time stamp has HH:MM:SS DD:MM:YY, that would be great. I do need down to the second, as well as minute, to see changes that I made to make sure they go through.

[2019-11-27 03:53] BrittanyBunk commented on #2640
@guyjeangilles on https://openlibrary.org/recentchanges, the links @tfmorris shows are not on that page. Those are valuable to me to add there.

[2019-11-27 16:35] LeadSongDog commented on #2623
With standardizing, what form is the ISBN being stored in? A string of 13 digits without hyphens?

[2019-11-27 16:58] LeadSongDog commented on #2669
Without logging in:
Back to normal today on Chrome, not sure what has changed. Might have been an effect of a very slow local network at my end.

On FF I'm seeing the same as @guyjeangilles does, even after refreshing. Hovering on the tiles I see the alt-text in the hover bubble, but there is nothing shown in the default cover, just an empty box. The entire "Classic Books" carousel is missing on F

[2019-11-27 18:46] LeadSongDog opened #2670 "Classic Books carousel shows works while others show editions"
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/

### Steps to Reproduce

1. Go to a book in the carousel
2. Hover or click on it

* Actual: Works pages are linked only in the Classic Books carousel
* Expected: Works pages are linked in all carousels when they exist, editions only when it is orphaned (no work exists)

### Details

- **Logged in (Y/N)?** either
-

[2019-11-27 22:57] mekarpeles commented on #858
@cdrini docs @ https://git.archive.org/ia/petabox/tree/master/www/sf/services/xauthn

[2019-11-27 23:03] cdrini commented on #690
Confirmed with @mekarpeles ; closing this in favor of the project board.

[2019-11-27 23:03] #690 closed

[2019-11-28 01:37] tfmorris commented on #2669
If it's no long a problem, please close this issue.

[2019-11-28 02:07] guyjeangilles opened #2671 "Update issue triage definition and Wiki"
### Describe the solution you'd like

Redefine the repo's definition of triage to make the process more streamline and time-efficient.

Related: #2672

### Philosophy

As Open Library grows, the amount of work that needs to be done is _much larger_
than the amount of time the developers have. There are two ways to combat this:
1. Increase the amount of developers
1. Streamline the workflow for com

[2019-11-28 16:57] BrittanyBunk commented on #2671
@guyjeangilles Since this says 'needs community discussion', I'll add my input.  I think all legitimate issues should be worked on. I don't think that should mean increasing the number of developers. Some issues likely don't involve developers. Here's a list of work that should be outsourced to the community ("crowdsourced"?):
- deciding the importance
- finding methods to solve it
- creating/usin

[2019-11-29 19:05] BrittanyBunk commented on #2099
I wonder why this got closed. As @LeadSongDog said, without an ISBN, other #'s help. If we don't want to go with the OCLC, then go with Dewey Decimal, LIC PCN, etc.

[2019-11-29 19:19] BrittanyBunk opened #2673 "Improvements to the Advanced Search Page"
Related to #541, #2099.

Now that I use the Advanced Search feature more, I realize it's not adequate enough to look for works/editions. Here's my proposal to add:
![image](https://user-images.githubusercontent.com/55302685/69887015-b5f12f00-1299-11ea-81a7-36dd87303c18.png)
I took out some that I felt aren't as important, but it's ok to keep them. I'm hoping these additions will help someone who h

[2019-11-29 20:00] tfmorris commented on #2099
It got closed because the original question was answered (they were using the wrong search syntax).

As for all this other side conversation - sure, go ahead and add OCLC numbers to your hearts content.

[2019-11-29 20:31] seabelis opened #2674 "ASIN-only imports from Amazon include inappropriate sellers' items"
As I understand it, Amazon assigns an ASIN to each item being sold; this does not have to be a single book nor does it have to be sets of books that were originally published as a set. I have recently noticed imports of seller-created bundles that are not appropriate for the OpenLibrary catalog. Such items should be excluded from imports if possible.

### Relevant url?
List: https://openlibrary.or

[2019-11-29 20:38] LeadSongDog commented on #2099
For the example that @waldenn gave, one can try the search at Worldcat:
https://www.worldcat.org/search?q=28464329&qt=owc_search
and then find (by clicking editions)
https://www.worldcat.org/title/yeonja/oclc/28464329/editions?editionsView=true&referer=br
or just go directly to
https://www.worldcat.org/oclc/28464329/editions?editionsView=true&referer=di
It appears there are at present 27 distinct

[2019-11-29 22:03] tfmorris commented on #2099
To reiterate https://openlibrary.org/search?oclc=28464329
brings you to the work which lists 63 editions (yay more duplicates than OCLC).

If you want wildcard identifier searching or some other feature, please create a ticket for it and it'll get prioritized along with all the other stuff (like making search work for basic stuff).

[2019-11-29 22:39] guyjeangilles commented on #2671
I don't think that should mean increasing the number of developers. Some issues likely don't involve developers. Here's a list of work that should be outsourced to the community ("crowdsourced"?):

@BrittanyBunk  Let me clarify my original statements. "Triage" is determining what is legitimate, not determining what should and shouldn't be worked on. Writing code is a serial process, that is, only

[2019-11-29 22:41] guyjeangilles commented on #2669
I gonna go ahead and close this. If the issue becomes reproducible again we can reopen.

[2019-11-29 22:41] #2669 closed

[2019-11-30 16:02] jdlrobson commented on #2483
This is not intended to be the final state. Once the JS is manageable I will ensure we spend time fixing parts of the infrastructure with an emphasis of i18n.

This code was very brittle and this part of the code needs rewriting not refactoring.

[2019-11-30 21:26] BrittanyBunk commented on #2671
I don't think we should limit assigning people roles just because of notifications. They don't have to receive notifications if they don't want to, but they would just be able to access what's available at their role level. Also, they'll be offered tasks that their role allows - and it's up to them to accept it. Notifications do help though for those that want it.

[2019-11-30 23:28] BrittanyBunk commented on #2099
I think it would be good to have WorldCat as a number to search for. Granted, not everything's on there or complete, but it's an alternative.

[2019-11-30 23:29] BrittanyBunk commented on #2099
Should we reopen this for this purpose or start a new github issue on it?

[2019-11-30 23:43] BrittanyBunk commented on #2671
See, I think you could have more people working on the website. I just think it might not be good, as then it'll overload the developers even more. However, doing this would lead to a lot of progress, and who knows? Maybe there might be a developer that shows up that can help. Overall, I think this may be something the website needs, as not everyone who volunteers will always be around, so this cr

[2019-12-01 00:05] BrittanyBunk commented on #2452
I'm adding onto this by saying, in addition to edition, there should be a place to write in the version (type of book - so 1st edition in paperback, another in hardcover, another in audiobook, etc.).

[2019-12-01 00:06] jessamynwest commented on #2673
Speaking as someone who has interacted with a lot of Advanced Search fields in library catalogs, and would like to see one on OL, I think this could benefit more refinement. If you're offering more options for search I think OL people should think more about search strategy generally and about how people look for more information.

Right now, as a counterpoint, the Advanced Search on the Internet

[2019-12-01 01:30] nsudarsanam commented on #2517
I'll try having a look at this once I've set up my environment.

[2019-12-01 07:29] tfmorris commented on #2674
Sounds very similar to #709

[2019-12-01 13:26] BrittanyBunk commented on #2673
@jessamynwest Baseball?
- search by image is when you have an image that looks like the cover, but isn't, and you don't know the name of the book.
- Yes, full text. It differentiates, because someone can combine another field with the full text together instead of alone. Like combining text with year would help a lot.
- I don't think we need the iterative (as those are clunky - and I have trouble

[2019-12-02 01:57] hornc commented on #2674
Thanks for reporting this one @seabelis !

[2019-12-02 03:56] hornc commented on #2674
What I'm finding with a lot of these ASINs (and other in the data) is that they 404, these seller ASINs do not seem to be persistent IDs at all.

This one is found:
https://openlibrary.org/books/OL27290823M/3_Titles_By_John_Steinbeck_Sweet_Thursday_East_of_Eden_The_Grapes_of_Wrath.
https://www.amazon.com/gp/product/B001OTLKD2?tag=internetarchi-20
https://openlibrary.org/prices?asin=B001OTLKD2

I w

[2019-12-02 09:35] seabelis commented on #2674
Why are ASIN-only items being imported? What is the expectation? It seems there is very little good data to be gotten. I may be incorrect about this, but it seems like most of the data will be 3rd-party seller items that don't have any ISBN or a suitable corresponding ISBN in the amazon catalog; how are duplicates checked on these? Usually the third-party items that fall into this category have li

[2019-12-02 17:24] LeadSongDog commented on #2673
@BrittanyBunk https://en.wikipedia.org/wiki/Inside_baseball_(metaphor)
Why do you say faceted/filtered/refined search results are "clunky"? They work well at the major catalogues. We should not ignore the fact that they found it worth doing.

*Hathitrust https://catalog.hathitrust.org/Search/Home?type%5B%5D=all&lookfor%5B%5D=mort%20d%27arthur&page=1&pagesize=20&ft=
*BnF https://catalogue.bnf.fr/re

[2019-12-02 17:58] LeadSongDog commented on #2674
@hornc
The 404's may just have been a local or transient issue. The amazon url lands for me today. As you may have known, it is not a single book, but three distinct books with a common author (John Steinbeck), publisher (Penguin Classics), and publication date (1986) and format (paperback). In this case it was someone bundling them for sale, presumably just to make shipping worthwhile to the buye

[2019-12-02 20:37] mekarpeles commented on #2021
@bitnapper are you able to reproduce this still? Going to close until we have more reliable repro case.

[2019-12-02 20:37] #2021 closed

[2019-12-02 22:02] LeadSongDog commented on #1808
@tfmorris You might want to read part 4 of https://www.ifla.org/files/assets/cataloguing/frbr-lrm/ifla-lrm-august-2017_rev201712.pdf
Not that OL does things exactly the same way, but it helps to consider what the standards are up to.

[2019-12-02 22:58] hornc opened #2683 "Load Marygrove MARC records into Open Library"
This collection of books from Marygrove College will soon be scanned and in order to enable metadata lookup for that process, and eventually have those books borrowable on OL, we need to create the corresponding data records in advance.

Task List:

- [x] Upload data to new item under https://archive.org/details/ol_data collection
- [x] create Marygrove /type/local_id https://openlibrary.org/local

[2019-12-02 23:22] hornc commented on #2683
MARC binary data in https://archive.org/details/marc_marygrove

[2019-12-02 23:32] hornc commented on #2683
local_id details: https://openlibrary.org/local_ids/marygrove

[2019-12-03 01:41] hornc commented on #228
@guyjeangilles nothing, it looks like we are all agreed, and the relevant code is highlighted above, someone just needs to remove that check and ensure the admin only styles are removed.

It would be lovely to have a front-end volunteer pick this up. I have added good first issue tags and UI.

[2019-12-03 02:04] hornc commented on #321
The original report doesn't state what the impact of this issue is. As I see it, the main problem is that we want every borrowable archive.org item to have a proper Open Library entry + ids linked using `openlibrary_edition` + `openlibrary_work`

- [ ] Get a list of fake ia:XXXX  records that relate to archive.org items without proper OLIDs
- [ ] Make sure these archive.org items correctly link ba

[2019-12-03 02:10] hornc commented on #321
@bfalling does anything currently rely on the https://openlibrary.org/books/ia:<ocaid> paths?

[2019-12-03 02:15] hornc commented on #363
cleaning up old issues -- closing per comments above.

[2019-12-03 13:59] seabelis commented on #2454
I'm correcting myself. After reading technical documentation, I've realised the square brackets has a designated purpose when used in the pagination area.

@BrittanyBunk , please do not use square brackets for noting the lowest page number. You are not expected to revise any records you've added with this pagination. Going forward you may note the lowest page number without the brackets, i.e. 100-

[2019-12-03 14:12] seabelis commented on #269
Added to the FAQs section. https://openlibrary.org/help/faq/editing

[2019-12-03 14:12] #269 closed

[2019-12-03 15:57] LeadSongDog commented on #806
@tfmorris Agree that standardizing the format won't be sufficient, but it is necessary: sorting will be impossible until first there is a way to test A > B. That in turn requires a way to determine what A and B are.

[2019-12-03 17:59] tfmorris commented on #2674
I noticed that most of them were 404ing as well. How did these ASINs even make it into our import queue? The Steinbeck books item above is a) below #20,000,000 on the top sellers list, so I can't imagine anyone is linking to it and b) has a title that doesn't match any of his works.

We should reject items like this if they make it into the queue, but they shouldn't even be in the import queue in

[2019-12-03 18:43] guyjeangilles commented on #2671
This is exactly what I'd envision 👍

I hadn't thought about adding a volunteer section to the site page and allowing people to self-assign roles. I'm bring up these points on today's community call.

[2019-12-03 23:19] tfmorris commented on #2671
I think this looks good.

In addition to the proposed changes, I'd also like to see the Feature template slightly refocused so that instead of saying "Describe the solution you'd like," it says something more along the lines of "Describe the problem that you'd like solved." Then if someone needs a 2-wheeled vehicle that goes fast, we can offer them a motorcycle instead of building them a bicycle w

[2019-12-03 23:45] tfmorris opened #2689 "Web based Add Book creates malformed entries if there's no author"
Related #2116 https://github.com/internetarchive/openlibrary-client/issues/126

When a book is entered through the web UI and the user doesn't provide an author, the author entry is incorrectly formatted as described in the two related issues.

### Evidence

See the increasing counts and list of newly created works at https://github.com/internetarchive/openlibrary-client/issues/126

### Steps to R

[2019-12-04 06:19] tfmorris commented on #2689
Since the original dataset ended in Aug 2019, I realized that there was a small chance the bug had been fixed in the intervening months, so I reran the analysis with the Nov 2019 dump. Here are some recent bad entries:

[code]

The most recent work has no associated editions and was created by @JeffKaplan, so perhaps he can provide more insight into what screen/mechanism was used.

[2019-12-04 17:29] LeadSongDog commented on #2689
@tfmorris
The first of those was left childless after https://openlibrary.org/books/OL27737159M/Reasoning_through_Romans_Part_1?b=2&a=1&_compare=Compare&m=diff
merged its sole edition to another work record. Patrons have no ready way to redirect these childless works to the merged work. It should just happen automagically.

[2019-12-04 18:32] seabelis opened #2691 "What is a book? Boxed Sets?"
_This is part of a series about 'what is a book?' to determine which formats should be included in the OpenLibrary collection._

There's already been some discussion about this, but let's make a final decision.

My take...Boxed sets are retail packages. Even when they contain editions by the same author, it's the individual editions that should be in the catalog; the fact that it's sold together i

[2019-12-05 04:05] hornc commented on #2683
Have confirmed that no Marygrove MARC records are MARC-8 encoded, all are UTF-8. This relates to #713 which I want to add test cases for soon, just checking that this import task is not blocked by MARC-8.

[2019-12-05 14:37] jdlrobson commented on #2490
We attempted this one but it turned out to be non trivial. @cdrini may understand why we are shipping the same library twice so possibly the two of us can lock heads and understand this better during the quiet month of december!

[2019-12-05 15:28] BrittanyBunk commented on #2673
@LeadSongDog I have to scroll down and it takes up space/clutters my view. I don't feel they're really necessary, but if it's there, ok. Some websites take too long to load with them too - plus having them on mobile is even harder.

[2019-12-05 15:32] BrittanyBunk commented on #2673
@jessamynwest alright, now that @LeadSongDog helped me understand, I could answer properly. It's ok to have an advanced search. Maybe for the IA superfans, we could have a 'see more', so it doesn't dissuade most people, but still allows for the superfans. Google does that and I don't see people searching less than before on there, but probably more than ever. So for that, I think it really helps.

[2019-12-05 15:34] BrittanyBunk commented on #1808
@tfmorris what are you then? I agree with @LeadSongDog to be educated on it anyway, if you're asked those questions a lot - as it can help.

[2019-12-05 15:37] BrittanyBunk commented on #2454
@seabelis it's true that I'm able to do it, but if it's not written in the field instructions, no one else will follow it and then the formatting will be uneven - and that has consequences like everyone undoing each other's work. That's why I propose for it to be in the instructions for all books, as some books would have say 100 pages but end on 300p. I find it a necessity and I don't think anyon

[2019-12-05 15:41] BrittanyBunk commented on #2671
@guyjeangilles thank you for understanding and appreciating it. I think we have a great plan to move forward with. I think the customization of profiles would take the success of social media websites and apply it here to increase participation in improving the OL. Awesome.

[2019-12-05 16:47] seabelis commented on #2454
@BrittanyBunk It does need to be clearer on the form. I also wanted to note the correction here so that you would see it.

[2019-12-05 18:39] LeadSongDog commented on #2691
@seabelis
There are many variations on this retail packaging problem, not all are about curation. https://github.com/internetarchive/openlibrary-client/issues/79 addresses one specific package, the "Dumpbin". There are many others misplaced title words such as "Pack", "Display", "Unit" and "Copy", that are difficult to automatically catch, but usually signify packaging rather than a book title.

[2019-12-05 20:14] jessamynwest commented on #2673
Great -- I am in favor of advanced search in general but it really needs to be part of OL's general strategy because if it doesn't work the way it's supposed it, it will be worse than nothing. Most users aren't advanced searchers. I suggest getting statistics from OL that looks at how many times overall people are using anything but the basic search and what they are looking for, maybe that can he

[2019-12-05 22:29] LeadSongDog commented on #2673
@jessamynwest If it is possible to obtain, stats on sequential basic searches (refine and retry attempts) would also be of interest.

[2019-12-05 22:53] BrittanyBunk commented on #2673
@jessamynwest that actually wouldn't be accurate, because if there's something not available on the advanced search, then they won't have stats on it. The better way is to look at websites that do have stats on it - like search engines like Google - and see how many people use those. Would that help?

[2019-12-05 22:54] BrittanyBunk commented on #2454
@seabelis thanks

[2019-12-05 23:14] seabelis commented on #2691
Yes, those too. Not books.

[2019-12-06 01:19] cdrini opened #2692 "Dynamically loaded JS files should include cache-busting hashes"
Unlike the first-loaded JS files, JS files loaded dynamically via webpack don't include cache-busting hashes. This means that many users get degraded site performance (broken carousels; missing graphs) when a deploy happens, until their browser decides to clear their caches. Each JS file should include a hash in the file name (like `all.js?v=96ed9830696f33e4e9202aa2b035874d` or similar).

![image]

[2019-12-06 02:23] tfmorris commented on #2673
Data driven decision making? Love it!

[2019-12-06 02:27] tfmorris commented on #2454
We have fields for both pagination and number of pages. Pagination is mainly a classical librarian thing and perhaps it does add enough value for us to keep in addition to number of pages which is a single number rather than a fancy text string.

[2019-12-06 02:34] tfmorris commented on #2691
We've mentioned it in the past and it's probably still linked from past discussions, but perhaps it's time for a periodic mention of Goodreads "Not A Book" definitions.
https://help.goodreads.com/s/article/Librarian-Manual-NOT-A-BOOK-NABbing-a-book

If you look at the top few entries here: https://www.goodreads.com/author/show/1000834.NOT_A_BOOK
they apparently consider plagiarized works to be "No

[2019-12-06 05:03] LeadSongDog commented on #2454
OL’s “pagination” is more properly called “extent”.
There is a good short explanation at https://collation.folger.edu/2016/05/physical-description-book-cataloging/#easy-footnote-bottom-3-12574
Perhaps a simpler write up for the wiki, to be linked from the edit form?

[2019-12-06 08:55] seabelis commented on #2691
I would agree with all of their items listed and add boxed sets to the list for the reason I've stated earlier. GR considers boxed sets books.

The NABing functionality would be great to implement, but with some things to consider. When a book is NABed on GR, it blocks the ISBN from being reimported (good) or added by a user (not always good). An ISBN may be valid for each volume in a box AND for

[2019-12-06 08:55] tabshaikh commented on #2547
Taking up this one :)

[2019-12-06 09:12] seabelis opened #2694 "What is a book? Mail-order catalogs and product lists?"
_This is part of a series about 'what is a book?' to determine which formats should be included in the OpenLibrary collection._

I'm noticing a lot of mail-order catalogs imported recently, and while interesting, I'd put this in the category of ephemera and not really appropriate for the library. Agree? Disagree?

Examples:
https://archive.org/details/CAT31349374/page/n1
https://openlibrary.org/bo

[2019-12-06 09:16] seabelis opened #2695 "What is a book? Annual Reports"
_This is part of a series about 'what is a book?' to determine which formats should be included in the OpenLibrary collection._

While interesting, I'm not sure these belong in the library catalog. I lean towards 'no' here, but definitely willing to be convinced otherwise.

Examples:
https://openlibrary.org/books/OL27747113M/The_Middlesex_annual
https://openlibrary.org/books/OL27747105M/Annual_rep

[2019-12-06 14:54] BrittanyBunk commented on #2454
@LeadSongDog cool. Thanks for letting me know about extent. This website doesn't use the International Standard Bibliographic Description though, so what should we do?

[2019-12-06 19:21] cdrini commented on #2671
- This point; so are you proposing that we should no longer try to enforce each issue having an assignee?

  - Seems good

  - Seems good

  - Seems good

  - I feel like that entire template could use an overhaul

  - Seems good

  - Let's use `Theme: Public APIs` instead; we have templates that use spaces in the kvp, so let's be consistent.

  - Seems good

Nicely done, @guyjeangilles ! This loo

[2019-12-06 19:36] jdlrobson commented on #1847
the API part needs fixing before I can make the changes on the client, so dropping myself as assignee.

[2019-12-06 21:34] jdlrobson commented on #2665
It seems a list deletes itself after all its items are removed, so it is actually possible to delete a list - it's just not straightforward in cases.

If we allow list deletion, we'll likely need a method to delete all items and remove the record. We'd also need to make sure we have a confirmation step.

I'm dropping to low relative to other open frontend tasks given that this functionality is pos

[2019-12-06 22:58] jdlrobson commented on #486
I'm not understanding the issue here or the high priority.
When I visit the URL https://openlibrary.org/books/OL17631357M/Living_with_Leviathan the image of the cover has the alt text "Cover of: Living with Leviathan | David B Smith".

What else is needed?

[2019-12-06 23:24] cdrini opened #2701 "Delete or fix TestAccount tests"
This test class has been `xfail`-ed since 2017 (https://github.com/internetarchive/openlibrary/commit/c3251499749b9e6ea0f269031f3a5f2b34d7856c); as of #2595 , a lot of the endpoints the tests reference (e.g. `/account/email`) have been removed as dead code. This should also be deleted if it's no longer relevant.

https://github.com/internetarchive/openlibrary/blob/7e086e9ad36fd2cdbb1d08870a5899f1c

[2019-12-06 23:34] jdlrobson commented on #2316
I still can not visit this page locally seeing:
[code]
I am not the right assignee for this bug...

[2019-12-06 23:36] jdlrobson commented on #1962
@mekarpeles let me know if there is anything actionable you would like me to do on the frontend, but I'm not the right person to lead this :)

[2019-12-06 23:41] cdrini opened #2702 "Remove send_email_change_email dead code"
After #2595, this function will be dead code. It has some weird stuff in its body, so proceed with care, but it and any single-use functions/templates it references should be deleted

https://github.com/internetarchive/openlibrary/blob/0bb56098f087de09ce85592f0bf14b3be5ef6162/openlibrary/plugins/upstream/account.py#L801

## Stakeholders
@jdlrobson

[2019-12-06 23:42] jdlrobson commented on #2129
I suggest something as subtle as
![Screenshot 2019-12-06 at 3 42 31 PM](https://user-images.githubusercontent.com/148752/70363879-0b4fb200-183f-11ea-8d5b-6ccfbce66e8f.png)
Patches welcomed in that direction. I don't plan on working on this.

[code]

[2019-12-06 23:46] jdlrobson commented on #2007
I don't think there is an obvious solution for this. On Wikipedia we disable sorting complex tables
on mobile so I propose we decline this issue.

We could later add a simplified sort by link when the code is in a better state but I would not want to add complexity to the product at this stage.

[2019-12-06 23:46] #2007 closed

[2019-12-07 01:28] cdrini commented on #2481
Rerunning now

[2019-12-08 09:09] mbasil09 commented on #2637
where can i find the html file for this page?

[2019-12-08 10:52] seabelis commented on #2665
@jdlrobson That's not quite what happened in this case. I thought the list would delete itself once it had no items, but this was not the case. It does work if you go to the list and remove all items from it. However, if you remove the list from each item (as it was in this case) the list remains.

[2019-12-08 18:46] gnncl commented on #503
Hi,
I tried it but it doesn't come with cover data with goodreads id

[2019-12-08 22:51] hornc commented on #713
To find MARC8 encoded e-acutes in binary MARC: `fgrep 'âe' *.mrc`  for assisting with finding good test case records.

[2019-12-08 23:42] hornc commented on #713
The binary MARC record on the source https://openlibrary.org/show-records/ia:discours00unse_b2r calimed to be MARC8, but was actually UTF-8 encoded. I have corrected the header and reuploaded the binary MARC record to the source item.

To prove we handle the general case of MARC-8 encoded binary MARC, I have added some tests cases in PR #2705

[2019-12-09 00:08] hornc commented on #2683
First test edit:
https://openlibrary.org/books/OL5910281M/Collected_works.?_compare=Compare&b=4&a=3&m=diff

from MARC record at marc_marygrove/metacoll.ERR.new.D20191108.T213022.internetarchive2nd.1.mrc:0:1883

Didn't write `local_id`...

[2019-12-09 07:42] traceypooh commented on #1777
you'd need to upload a photo to the account item.
one can do that mousing over the image in the item (in your case, it's falling back to gravatar as mentioned above) when staring at the account item page (only)
https://archive.org/details/@jdlrobson

[2019-12-09 14:59] cdrini opened #2706 "dev.openlibrary.org shows up in search engine results"
dev.openlibrary.org links are showing up in search engine results; that's likely hurting our main site's SEO (by splitting our traffic), as well as confusing people. It seems less of an issue with Google (anecdotally).

### Evidence / Screenshot (if possible)
| Bing | Duck Duck Go |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/6251786/70445282-47fef180-1a69-11ea-8aae-a55ad543

[2019-12-09 15:37] LeadSongDog commented on #621
@JeffKaplan @mekarpeles  @guyjeangilles
This issue should raise potential privacy questions on both platforms. Before exposing the log, we need to be extra sure that the request is from the user themselves, and not (for instance) an abusive partner, prospective employer, etc. with access to their password. At minimum a confirmation email would be in order, if not full 2-factor.

[2019-12-09 15:54] #713 closed

[2019-12-09 16:03] LeadSongDog commented on #178
#11 was closed in favour of this. Consider that
https://openlibrary.org/search?q=%22tiananmen%22&mode=everything finds 447 hits, but
https://openlibrary.org/search?q=%22tian%27anmen%22&mode=everything finds only 45 and
https://openlibrary.org/search?q=%22tiananmin%22&mode=everything finds zero.
Some sort of soundex or metaphone normalization has to be indexed

[2019-12-09 16:35] LeadSongDog commented on #1067
Gall's Law:
_A complex system that works is invariably found to have evolved from a simple system that worked. A complex system designed from scratch never works and cannot be patched up to make it work. You have to start over, beginning with a working simple system._

[2019-12-09 16:55] cdrini opened #2707 "Homepage cache ignores user's locale"
The homepage is stored in memcache without locale information, so the page will always appear in e.g. English if that's what gets into memcache first.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/70455435-4c7fd600-1a7a-11ea-8a48-113782dc0807.png)

### Steps to Reproduce

1. Go to https://openlibrary.org/?lang=fr ; or https://openlibrary.org/?l

[2019-12-09 21:54] guyjeangilles commented on #2671
Sort of. If an issue is labeled `Work in Progress`, it's required to have an assignee. Otherwise, I propose an issue can be labeled `Backlogged` and left without an assignee.

Not a bad idea, but I think that should be a separate issue/PR though.

Fair enough :+1:

[2019-12-09 22:04] hornc commented on #2346
Suggested fix: Change: "No ebook available" to "No lendable copy"  (for brevity)

[2019-12-09 22:06] guyjeangilles commented on #2706
As another datapoint: I'm seeing the same problem with Startpage which purportedly anonymizes Google searches: https://www.startpage.com/do/dsearch?query=green+eggs+and+ham+openlibrary.org&cat=web&pl=ext-ff&language=english&extVersion=1.3.0

[2019-12-09 22:23] #2319 closed

[2019-12-09 22:45] hornc commented on #2653
Hi @meunierd , do you have any code to show what your bot will do?

 I tried to locate your bot account but cannot find an account with that name: https://openlibrary.org/people/PublisherScraperBot

[2019-12-09 22:55] hornc commented on #2706
This seems like it should be quite high priority.

Subdomain blocking in robots.txt doesn't seem as easy as it should be, the existing `/static/norobots.txt`
(I prefer the nobots.txt name that some of the suggestions on the net use :) ) implies that we should have apache rewrite rules in place to sort this out. @mekarpeles do you know where the the existing config is for this? Is there a standard

[2019-12-09 23:18] jdlrobson commented on #2084
Is there a decision here? #2368 has been reopened, but if we want to add titles per this task it doesn't make sense to invest time in that ticket.

[2019-12-10 00:54] tfmorris commented on #1008
@guyjeangilles I would love to see focus on fixing any piece of this, but not sure who your question was directed at.

@mekarpeles is probably the only one who can even lobby for changes in this space.

[2019-12-10 01:01] tfmorris commented on #927
Mainly a Solr problem. Having a fresh index and matching code that was used to create it will help debug this problem if it still exists (I suspect it might), but it won't be solved by #2246 per se.

[2019-12-10 01:37] tfmorris commented on #2375
There no longer seems to be an issue with the search performance (the example above completes in ~250 msec even when varying the offset), so I suggest keeping this focused on the UI aspect.

Perhaps its as simple as offering a UI affordance which allows the user to choose https://openlibrary.org/search?q=subject%3ADiaries&mode=everything and an alternative to https://openlibrary.org/subjects/diari

[2019-12-10 01:56] jessamynwest commented on #2673
I don't think so. Google isn't a library. We need stats from library catalogs because OL has a very specific kind of item which people will look for in a certain way. This is especially true for items with authority control (things like Author names where there is one canonical name in the system in an optimal situation) and Google has nothing like that.

I can dream.

[2019-12-10 03:29] #806 closed

[2019-12-10 03:50] jdlrobson opened #2710 "Sponsorship page breaks mobile display"
### Evidence / Screenshot (if possible)
![2019-10-23 07 48 02](https://user-images.githubusercontent.com/148752/70493608-20d20f80-1abd-11ea-83e2-ed66e8717122.jpeg)

### Relevant url?
https://openlibrary.org/sponsorship

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod

[2019-12-10 04:04] hornc commented on #2667
We should create a standard librarian user and a non-librarian user which can be listed on http://localhost:8080/admin/people and then the admin user can 'login' as those accounts -- this will quickly enable the testing as the different user classes case.

There should also be a way to add a new user, which I imagine will be useful for testing the sign-up flow.

I see these as two separate require

[2019-12-10 12:41] BrittanyBunk commented on #2673
@jessamynwest I'm not stopping you from getting them if that's what you feel will help you. I just don't see how it's going to help me - as it would be misleading for me - so I personally won't - unless you really want me to.

[2019-12-10 18:12] tfmorris opened #2711 "Sanity check publication date in MARC 008 field"
This IA volume: https://archive.org/details/aroundworldine2010vern
got imported here: This IA volume: https://archive.org/details/aroundworldine2010vern
with 1873 as the publication date instead of the correct 2010.

The MARC documentation is not the best here, so I can't tell if this is a bad record or we're handling it incorrectly, but I think we can improve the handling in either case.

MARC re

[2019-12-10 18:28] mekarpeles commented on #2624
If it doesn't do anything, we should investigate whether it once did something (i.e. is this a regression?). Once this is done, we should document our findings here and make a decision between fixing the regression or removing the element.

[2019-12-10 19:18] tfmorris commented on #2624
Since there's a contained element:

`<a href="/help/markdown" target="_new" title="Formatting Help"></a>`

I'm guessing that's what it's supposed to do.

[2019-12-11 05:09] tabshaikh commented on #2710
Closing this issue as it is similar to this #2547 which is a bit more detailed

[2019-12-11 05:09] #2710 closed

[2019-12-11 05:56] JordanDysart commented on #2624
The options bar for this markdown editor is initialized in `jquery.wmd.js` [line 1574](https://github.com/internetarchive/wmd/blob/55904c7aa0ec75981713ef0813e2c85530755574/jquery.wmd.js#L1574). It also looks like the button is treated differently when run through `function setupButton(button, isEnabled)` on [line 1468](https://github.com/internetarchive/wmd/blob/55904c7aa0ec75981713ef0813e2c855307

[2019-12-11 07:20] tabshaikh commented on #2547
This is due to the image size and same bug occurs here too https://openlibrary.org/help/faq/editing

[2019-12-11 08:19] nemobis commented on #713
Yes. But with some Italian records that's not always enough to stop worrying about encoding altogether! https://github.com/edsu/pymarc/issues/114

[2019-12-11 15:21] Camillo-Pellizzari commented on #2248
Another case: https://openlibrary.org/authors/merge?key=OL735423A&key=OL6011794A

[2019-12-11 15:30] LeadSongDog commented on #486
@jdlrobson, that's because  @cdrini fixed that specific edition last month, but my example of OL10328206M still has the same problem.
{"publishers": ["John Wiley & Sons Inc"], "languages": [{"key": "/languages/eng"}], "classifications": {}, "key": "/books/OL10328206M", "title": "Advanced organic chemistry", "identifiers": {"goodreads": ["1580424"]}, "isbn_13": ["9780471514664"], "created": {"type"

[2019-12-11 15:37] hahla opened #2716 "Add Reading Log button directly on search results"
This issue was originally opened by @hahla for Archive.org as: **"Favorite item directly from search result tile view"**

@mekarpeles adds:

## Original Comment

What: Hopefully makes sense just from the title but also here is a screenshot to be explicit.

Why? It would be nice to quickly favorite a large number of books at one time, and then view them via favorites more efficiently. For example I

[2019-12-11 15:38] hahla commented on #2716
Note that I have not setup a docker environment but am considering it and reading on it, so for now will simply file the idea and possibly come back to take it since I am a python developer.

[2019-12-11 16:28] cdrini opened #2717 "Homepage memcache not clearing regularly"
The homepage's memcache is supposed to clear every 5 minutes (according to the code). That doesn't seem to be happening; the sponsorship carousel was updated last night, but still showed outdated ~10 hours later until the `home.homepage-` cache was forcefully cleared.

### Steps to Reproduce

1. Update something that will affect the homepage

* Expected: The homepage to be up-to-date within ~10 mi

[2019-12-11 16:44] cdrini commented on #2692
Also causing the markdown editors to all be broken (the toolbar doesn't appear, the preview doesn't appear)

[2019-12-11 17:24] cdrini opened #2718 "Don't include duplicate anchor text in title"
We shouldn't specify the title attribute on an anchor element if it's the same as the text contents of the anchor

According to https://www.seoinc.com/seo-blog/how-to-use-the-link-title-attribute/ :

- [ ] Check HTML files see where anchor with titles are used
- [ ] Fix these cases

The footer section contains several of these

[2019-12-11 18:19] tfmorris commented on #890
I'm not sure why the priority got reduced. This doesn't need to be done by Jan. 1, but it does need to be done soon.

The main blocker right now is infogami, although getting it ported might reveal issues remaining other parts of the system. Rather than trying to track each infogami issue separately here, it might make more sense to point to an infogami top level Python 3 epic issue.

[2019-12-11 18:28] Camillo-Pellizzari commented on #2248
Another case: https://openlibrary.org/authors/merge?key=OL412435A&key=OL5239874A

[2019-12-11 20:12] mekarpeles commented on #2169
Note: #2292 is closed for now (the feature isn't quite where we need to be to go live) but has useful code.

[2019-12-11 20:16] #49 closed

[2019-12-11 20:59] tfmorris commented on #2330
Pluralization support is described here: http://babel.pocoo.org/en/latest/api/plural.html

Using >1 isn't correct, even for English, because we use 0 editions.

[2019-12-11 21:01] tfmorris commented on #2438
I don't think requiring an ISBN list to be pre-filtered is a viable long term. The system should have minimum thresholds built in and reject things that don't meet the thresholds.

[2019-12-12 00:03] LeadSongDog commented on #2248
@Camillo-Pellizzari
A clue!!!!
I moved the 16 Mayhew works to the main author record manually, but one orphan edition record persists, cached perhaps. The authors still won't merge.  That one edition has the malformed pseudowork path https://openlibrary.org/works/OL20459197M with the old author identified in the edition record, conflicting with the correct author shown in the work record https://o

[2019-12-12 01:08] jdlrobson commented on #486
So this seems like a backend problem not UI problem.

The template https://github.com/internetarchive/openlibrary/blob/a485ea50abfb66697a303356f4810a364bb4b8c0/openlibrary/templates/covers/book_cover.html

is pretty dumb.. all it does is outputs the value of book.get_authors

So the issue lies somewhere outside the UI (wherever that get_authors function is defined). Fix that and you'll fix the UI.

[2019-12-12 01:49] mekarpeles commented on #1134
#2720 #2721 #2722

[2019-12-12 01:49] #1134 closed

[2019-12-12 01:50] mekarpeles commented on #523
No clear next steps; closing as having served its purpose

[2019-12-12 01:50] #523 closed

[2019-12-12 01:52] mekarpeles commented on #454
This doesn't seem like something we're planning on doing, in the interest of cleaning up our tracker, I'm closing.

[2019-12-12 01:52] #454 closed

[2019-12-12 01:53] mekarpeles commented on #364
I'm going to mark this as closed, even though the list search sucks.

[2019-12-12 01:53] #364 closed

[2019-12-12 01:55] mekarpeles commented on #525
Relates to @seabelis's #2662. Closing this issue.

[2019-12-12 01:55] #525 closed

[2019-12-12 01:56] mekarpeles commented on #2622
@hornc should we close this? Is there anything more we're actively positioned to do?

[2019-12-12 01:57] mekarpeles commented on #860
Closing this for now, @hornc is driving MARC and amz imports.

[2019-12-12 01:57] #860 closed

[2019-12-12 02:00] mekarpeles commented on #2269
Given the scope (<400 books, and not affecting unicode broadly) I am closing this and leaving the record for the archives. If it becomes an issue, let's revisit. Thanks for the investigation.

[2019-12-12 02:00] #2269 closed

[2019-12-12 02:02] mekarpeles commented on #672
I think many of our integration tests are stale at this point. We might want a small epic detailing how we might prune our integration tests to a subset of things which works (rather than calling out what doesn't work -- which is a lot).

I support us creating such an issue -- for this issue, I am going to close.

[2019-12-12 02:02] #672 closed

[2019-12-12 02:49] jessamynwest opened #2723 "Improve list search"
Expanding on #364 Improve and expand list searching to search inside list titles.

[2019-12-12 03:01] mekarpeles commented on #2203
Hi community (esp. @guyjeangilles , @LeadSongDog, and @comzeradd ), I know this is an important to you -- Privacy is important to me, the project, and the Internet Archive. And we try to limit where such things like recaptcha is in use.

I don't have a way to act on this issue. It's not clear what replacement we will use.

I am willing to support the community in implementing an alternative, but o

[2019-12-12 03:01] #2203 closed

[2019-12-12 03:01] mekarpeles commented on #835
@cdrini did you at some point have a branch to do something like this? Would you like to be assignee?

[2019-12-12 03:03] mekarpeles commented on #2644
@jdlrobson I am closing this as this is a hard requirement of our next steps for #684 . Every book page (work or edition) should have a primary CTA which reflects the availability of the book.

[2019-12-12 03:03] #2644 closed

[2019-12-12 03:06] mekarpeles commented on #1486
I believe we are using this to collect various stats for the /stats page and homepage graphs. Some of these things are called via crons on ol-home. I get the feeling it's not safe to remove.

[2019-12-12 03:10] mekarpeles commented on #503
this is the OL page which does have an goodreads id in the OL metadata:
https://openlibrary.org/books/OL7440033M/Zen_Speaks

This goodreads id I don't believe is in cover store's the database

[2019-12-12 03:23] mekarpeles commented on #503
Is there anyone who would be absolutely devastated if we deprecate coverstore lookup by goodreads?

[2019-12-12 03:28] mekarpeles commented on #2160
I'm open to considering alternatives -- I do not foresee a replacement to carousels being on our 2020 staff roadmap. I am open to considering something like https://trending.wmflabs.org/wiki/Special:Random for #2072. This issue will remain referenced there, but given there isn't a clear scope for this specific issue, I'd like to close until we can figure out how to apply this good advice.

Sorry @

[2019-12-12 03:28] #2160 closed

[2019-12-12 03:34] mekarpeles commented on #1121
https://openlibrary.org/search?q=9787552623208 should succeed now. as does searching for `isbn:9787552623208`. There are cases where this will still happen (I don't think that `isbn=` triggers an import path like a plain isbn does) but we've fixed several issues which improve this, so I'm inclined to close (unless there are a lot of other examples which are failing -- in which case we may want to

[2019-12-12 03:34] #1121 closed

[2019-12-12 03:36] mekarpeles commented on #2430
This is a good idea, and ideally something we can do a good job about during #684 -- Archive.org does give us language codes so we could conceivably at least identify books meaningfully by language. This current issue (as presented) is great context as to what path would be good for users, but it's not something we're positioned to directly act on, and so I am going to close it for now.

[2019-12-12 03:36] #2430 closed

[2019-12-12 03:38] mekarpeles commented on #1036
@hornc do you see any value to this? Are diffs (instead of full dumps) something that we could be getting for free? Meaning, the last x years shouldn't/won't change and so we can generate a dump starting at a date?

Otherwise, I am going to (now) close this issue -- space is cheap for Internet Archive, eng time is now. @hornc feel free to re-open if you see value in this and think it's easy.

[2019-12-12 03:38] #1036 closed

[2019-12-12 03:40] mekarpeles commented on #2395
Closing as we already support isbn. We could potentially provide buy links to barnes and noble but at this time there are several other vendors who have asked to be included, and many will require API integration (as showing prices is also a requirement which staff requested as a requirement). Closing for now.

[2019-12-12 03:40] #2395 closed

[2019-12-12 03:41] mekarpeles commented on #477
It should be an epic **and** a tag. I'm closing this issue. Folks in this thread, if there's an epic to be made from it, please organize it according to the issue standards (following the `epic` guidelines as per @guyjeangilles's suggestion)
https://github.com/internetarchive/openlibrary/wiki/Interacting-with-GitHub-Issues and https://github.com/internetarchive/openlibrary/wiki/Using-Managed-Label

[2019-12-12 03:41] #477 closed

[2019-12-12 03:43] mekarpeles commented on #477
@hornc can you please take a look at these as data lead and see if anything needs to be integrated it into our other issues or docs?

[2019-12-12 03:45] mekarpeles commented on #738
I think as @tfmorris mentions, alembic is a good tool for the job. I am not sure a clear scope for implementing db migrations given our current setup and given how infrequently we've been touching the db, I am going to close this issue in favor of more user-facing central issues.

[2019-12-12 03:45] #738 closed

[2019-12-12 03:47] mekarpeles commented on #1008
@tfmorris, I have been talking to @bfalling -- in fact, I am going to assign this specific issue to him.

We're discussing a coherent Internet Archive branded topbar across Archive.org + OpenLibrary.org.

@bfalling, do you mind commenting here to confirm you've seen the above feedback?

I am going to close this issue (OL side) as I think IA Product team should be driving this one.

[2019-12-12 03:47] #1008 closed

[2019-12-12 04:04] bfalling commented on #1008
Hey, everyone. Thanks for all the ideas. We're in the process of doing some "tidying" of the top nav on the IA side as well. It's also acknowledged that we're probably soon due for a more complete re-consideration of the IA logo and branding, but that's futureward TBD...

For OL, the question of whether to remove the top IA stripe altogether or really jump in and embrace some aspect of the new IA

[2019-12-12 04:08] mekarpeles commented on #866
@tfmorris is this for e.g. IDs like goodreads? I know it's for several things, but I think that's part of the problem. Before progress can be made on this (I think it could actually be a good first issue) someone will need to go through the process of providing a clear and _reasonable_ scope and `Breakdown`.

Right now this issue, as posted, doesn't have a clear end.

@tfmorris are you willing to

[2019-12-12 04:44] mekarpeles commented on #699
I think we could use a top-level issue which more surgically outlines and enumerates things which are not indexed by search (there are plenty of works as well which exist and don't seem to be indexed)

[2019-12-12 04:47] mekarpeles commented on #993
Closing this on myself.

[2019-12-12 04:47] #993 closed

[2019-12-12 04:50] LeadSongDog commented on #866
I would interpret the request, as a first step, needing a list of all the relevant identifiers in the UI. That could provide some sense of the scope.

[2019-12-12 04:51] mekarpeles commented on #960
No following from Biblio since 2018, closing for now.

[2019-12-12 04:51] #960 closed

[2019-12-12 04:54] mekarpeles commented on #2502
These seem removable.

[2019-12-12 04:59] mekarpeles commented on #2481
@cdrini @hornc this seems like the type of thing we should probably add to our milestone (due end of month). @hornc is this something you may be able to help us with so @cdrini doesn't have to rerun the code manually? It seem olsystem cron related.

[2019-12-12 05:02] mekarpeles commented on #2039
It sounds like we've decided on EDTF when we're ready ot make a move. It doesn't seem like there's a clear next step or effort, let's consider the result of this ticket to be a decision: EDTF

[2019-12-12 05:02] #2039 closed

[2019-12-12 05:03] mekarpeles commented on #2039
please note community decision above (to inform our future developments) @seabelis, @cdrini, @hornc

[2019-12-12 05:04] mekarpeles commented on #2000
@tfmorris is right, closing as duplicate; also no clear scope to this issue or implementation proposal.

[2019-12-12 05:04] #2000 closed

[2019-12-12 05:11] mekarpeles commented on #458
@cclauss can I assign this one to you (you don't have to do it, just make it's tracked as something we may still need to do in our checklist)

[2019-12-12 05:13] mekarpeles commented on #2565
I think this is going to have to be solved by the IA Product team (they know about it), tagging @bfalling and closing.

[2019-12-12 05:13] #2565 closed

[2019-12-12 05:15] mekarpeles commented on #665
This should be resolved and there's an iframe approach that I believe IA Product team is working on. Tagging @bfalling and closing this one.

[2019-12-12 05:15] #665 closed

[2019-12-12 05:16] mekarpeles commented on #975
Was convinced by @jdlrobson that trying to push forward w/ a front-end framework is not as important as us getting our front-end and our js generally manageable. Closing this issue for now.

[2019-12-12 05:16] #975 closed

[2019-12-12 05:20] mekarpeles commented on #40
I don't see this as a thing I'm planning to prioritize, so I'm going to unassign myself.

[2019-12-12 05:21] mekarpeles commented on #1414
I'm going to assume it's deprecated and close this issue.

[2019-12-12 05:21] #1414 closed

[2019-12-12 05:22] mekarpeles commented on #808
This list in question has a **work** not an edition; export only works for editions currently, I believe.

[2019-12-12 05:22] #808 closed

[2019-12-12 05:24] mekarpeles commented on #1861
Proposing we remove the list element from Publisher pages and mark as a first good issue.

Any disagreements?

[2019-12-12 05:29] mekarpeles commented on #1962
I think this is a bigger effort that we can afford to bite off given resources, going to close.

[2019-12-12 05:29] #1962 closed

[2019-12-12 08:08] mekarpeles commented on #100
I think this can be closed; we're not hearing a lot of confusion about our data dumps. Unless @bencomp you have any interest in helping on this one-of :P

[2019-12-12 08:08] #100 closed

[2019-12-12 08:12] mekarpeles commented on #2447
I'm going to assign to myself; this falls under #684

[2019-12-12 08:22] mekarpeles commented on #2454
I like @LeadSongDog's suggestion. And I think this thread demonstrates that clarification (instructions) may be useful in this case.

[2019-12-12 08:28] comzeradd commented on #2203
I'm a bit confused to be honest. If you are closing this issue where will alternative proposals be discussed? How would a volunteer spend time writing specs and code if there is no issue to track this?

Maybe it's the way you work and triage issues, so apologies if this is just a lack of understand of your workflow.

[2019-12-12 08:35] mekarpeles commented on #2129
@jdlrobson's implementation seems to address the problem:
https://github.com/internetarchive/openlibrary/issues/2129#issuecomment-517080942

There is not consensus on colors or component; e.g. IA topbar? Background?

1) Some colors (yellow, stripes) as proposed have accessibility/contrast issues (or are too close to production)
2) The background color may be too distracting for demos or disrupt de

[2019-12-12 08:37] bencomp commented on #100
@mekarpeles It's been a few years since I last looked at the data dumps, and I don't see that I would have time anytime soon to help on this. But the core of the issue has not been addressed at all. Maybe it's true that noone is actually confused, although others may be scared away when they see that a complete lack of documentation of the data schema?

[2019-12-12 08:40] mekarpeles commented on #2129
P.S. I'm really hoping we can avoid bike shedding here and keep it as practical as possible.

1) It sounds like staff (@hornc + @cdrini) are voting for this
2) If we're going to do it, it should meet some basic accessibility considerations for our community (i.e. achieve it's goal of being visible)
3) This is not a feature we should invest time on: let's get it done -- this requires us to make a d

[2019-12-12 08:44] mekarpeles commented on #2123
@cdrini do you mind taking this one over (that means assigning yourself rather than charles, so we can consolidate who is assigned / has visibility over our various solr issues?

[2019-12-12 08:48] mekarpeles commented on #2089
I think this issue has served its purpose by eliciting general consensus from stakeholders on an approach. There isn't bandwidth to solve this one, so I'm closing for now. Nothing is blocked on further action.

[2019-12-12 08:48] #2089 closed

[2019-12-12 08:49] mekarpeles commented on #2046
@rohitjain00, one more bump just in case you happened to test this, it would be great to be able to resolve if you're close :)

[2019-12-12 08:54] mekarpeles commented on #2241
@seabelis this looks like it's an easy win, it seems blocked on (a) formal community discussion and (b) nailing down a scope (how we know we're done).

Do you think you could distill the conversation above into a short list of changes no one has objected to? Then this **could** be a `first good issue` (but these decisions and clarifications need to happen first if this issue is going to be actiona

[2019-12-12 08:57] mekarpeles commented on #2202
Can we close this issue as a duplicate (yet useful addendum) to #333? @cdrini ?

[2019-12-12 08:58] mekarpeles commented on #2202
P.S. it's completely unclear to me what the solution is, so I think this is not our best example of a good first issue. (The tag is probably more effective for issues where the solution is generally known in advance)

[2019-12-12 09:01] mekarpeles commented on #983
@shivam-tripathi would you like to try to fix this one? It would be a PR of correcting the files @LeadSongDog listed above.

[2019-12-12 09:10] mekarpeles commented on #906
Here's where the code is:
https://github.com/internetarchive/openlibrary/blob/742b48a0aa88cec0820f5b57575b812e72ffc396/openlibrary/plugins/openlibrary/code.py#L193-L211

One line 198, we can add a check to see if the user is logged in...
[code]
Which will redirect gracefully to login and then to addbook (once they login) without showing an error message first. Saves the user a step.

@whatisgalen

[2019-12-12 09:13] mekarpeles commented on #849
@dcapillae is this something you may be willing to help with?

@hornc could you provide an example of what it's supposed to look like?
`note = <p class="alert thanks">_('Thank you for adding that book! Any more information you could provide would be wonderful!')</p>` -- is that right?

[2019-12-12 09:16] mekarpeles commented on #2517
@tabshaikh can you help @nsudarsanam or @sbvkrishna  with this one? It may be a bit tricky because it relies on e.g. the amazon API (which the local env. doesn't have)

@nsudarsanam or @sbvkrishna do you need help setting up your environments?

[2019-12-12 09:17] mekarpeles commented on #701
I'm going to go out on a limb and say this is probably not a good first issue.

[2019-12-12 09:19] mekarpeles commented on #648
I think @seabelis has a good point. Let's punt and close for now. We can revisit.

[2019-12-12 09:19] #648 closed

[2019-12-12 09:27] mekarpeles commented on #228
A slight modification on @LeadSongDog's comment above, here is the region:

https://github.com/internetarchive/openlibrary/blob/7195f181742af7389843f275eefb2e675055b727/openlibrary/templates/books/edit/edition.html#L662-L674

The first line `$if ctx.user and ctx.user.is_admin():` (the admin check) needs to be removed

[2019-12-12 09:29] mekarpeles commented on #158
This comment https://github.com/internetarchive/openlibrary/issues/158#issuecomment-552683213 suggests this is rather hard and blocked.

[2019-12-12 09:33] mekarpeles commented on #365
https://github.com/internetarchive/openlibrary/blob/7195f181742af7389843f275eefb2e675055b727/openlibrary/plugins/worksearch/code.py#L265 needs to check if `reply` is `None` and then not try to do the search.

[2019-12-12 10:18] tfmorris commented on #849
Not all markup in translations is bad, unless someone is going to invest a lot of work in fixing cases where it's required.

In this case it's a trivial, low impact fix, but the general "Remove markup from messages.pot" is not a short term goal.

[2019-12-12 10:24] tfmorris commented on #701
What additional detail would you like to see to make it a good first issue?

[2019-12-12 10:46] tfmorris commented on #2160
How hard would it be to start collecting click counts for the existing design to gauge usage, even if there isn't a separate design to compare against?

[2019-12-12 10:50] tfmorris commented on #808
I just tried exporting that list in all three formats and didn't get any error message (or export).

Surely if export is restricted to editions only, the users should be warned about that restriction.

[2019-12-12 11:12] dcapillae commented on #849
@mekarpeles, I'd like to help, although I'll probably need to follow your instructions to know how to do it right.

[2019-12-12 14:37] #2454 closed

[2019-12-12 15:29] jdlrobson commented on #2160
I'm fine with this being folded into an epic but I'm not seeing any mention on #2072 of performing user research or collecting data around carousel usage.

[2019-12-12 21:00] guyjeangilles commented on #2330
I've reopened and edited the title of this issue to reflect Tom's comment

[2019-12-12 21:10] guyjeangilles opened #2725 "Prune Stale Integration Tests"
Per [this comment on 672][(https://github.com/internetarchive/openlibrary/issues/672#issuecomment-564816186) we should remove integration tests that are outdated and obsolete.

This will likely need to be broken into smaller issues.

cc: @cdrini

[2019-12-12 21:14] guyjeangilles commented on #1121
@mekarpeles can you elaborate on the issues that still cause this error? We should make a more precise issue that addresses these cases

[2019-12-12 23:26] mekarpeles opened #2726 "Homepage Sponsor Carousel shouldn't hit AMZ"
Cacheing homepage takes a long time because of the Sponsor Carousel. This carousel only contains staff picked books which are already deemed sponsorable, so the only reason they wouldn't be sponsorable is if they are out of stock -- so we should limit our check to that (using BWB API only).

See solution proposal below under **Related Files**

### Relevant url?

home page

### Steps to Reproduce

[2019-12-12 23:59] guyjeangilles commented on #2723
@cdrini @tfmorris I'm assuming list search is a Solr feature? Will that be apart of the reindex?

[2019-12-13 00:04] guyjeangilles commented on #2716
@hahla The screenshot looks like Archive.org. Are you suggesting we mimic the style of the Internet Archive or you suggesting that Internet Archive site be changed? If it's the later this is the wrong repo.

[2019-12-13 00:07] guyjeangilles commented on #2711
@hornc I added your personal label as I think it's relevant. Feel free to remove it.

[2019-12-13 00:32] mekarpeles commented on #2073
This issue is a very specific error: A specific book could not be edited. The book record looks correct.

It's unclear what someone would do to close this issue. If we need a more specific issue created, let's please do so. I'm going to close @JeffKaplan's ticket (the thread preserves the context).

[2019-12-13 00:32] #2073 closed

[2019-12-13 00:34] mekarpeles commented on #1928
We have ~10 issues all surrounding merging (works, editions, authors). I think this is somewhat blocked on our merging infrastructure (e.g. #2553). Let's track this as related to #2114 and close this issue.

There is no clear beginning and end to this issue -- it is a proposal that we merge works w/ similar title and author name. We can also use isbn, ocaid, lccn, year, and several other fields to

[2019-12-13 00:34] #1928 closed

[2019-12-13 00:43] mekarpeles commented on #1799
:+1: on solr latency; closing.

[2019-12-13 00:43] #1799 closed

[2019-12-13 00:49] mekarpeles commented on #65
I think this issue needs to be renamed and needs a clear scope (how do we know it's complete) if it's going to stay open. @tfmorris would you like to suggest a more useful title and description for this issue? I don't understand the problem well enough other than... There is a discrepancy between subject search results for subject v. org? Is there any proposed solution? Do we know where to look /

[2019-12-13 00:55] mekarpeles commented on #77
This is solved by the fact that we have an Author merge method accessible to Librarians. If someone wants to do a task to bulk-identify Works which have presumed duplicate authors, feel free to document here. Going to close this issue as there's no systemic bug causing this.

[2019-12-13 00:55] #77 closed

[2019-12-13 01:02] mekarpeles opened #2727 "Resolve (with redirects) Works w/ 0 Editions resulting from Workbot translation associations historical bug"
Residual data cleanup re: #44 & #88

- [x] http://openlibrary.org/works/OL3536507W/Hong_lou_meng
- [x] https://openlibrary.org/works/OL16252229W/Kinder_des_weltalls
- [x] http://openlibrary.org/works/OL15344034W/Handel_en_bestuur
- [x] http://openlibrary.org/works/OL15344038W/L%27_economia_delle_citt%C3%A0
- [x] http://openlibrary.org/works/OL15344035W/La_econom%C3%ADa_de_las_ciudades
- [x] http:/

[2019-12-13 01:04] mekarpeles commented on #44
I am less concerned with those 10 records -- I've noted them in a targeted issue #2727. I'm more concerned about what we're trying to accomplish with the issue.

It sounds like the issue is, Open Library allows Works with 0 editions.
And the question @george08 seems to be asking is:

What should happen (automatically) to a work when it has 0 editions; should it be deleted / cleaned up? Is this wha

[2019-12-13 01:07] xayhewalo opened #2728 "Improving Search (No Dead Ends)"
See previously: https://coda.io/d/Search-Planning-Notes_dO8sGM90quA/Epics-in-Progress_su1I2#_luBNR and now:

- [x] #3317 Upgrade to solr8
     - [x] #789 Solr updater too slow (will be fixed by solr8 update)
- [ ] Index new fields: Counts (Reading Log, Lists, Stars), List membership, Do-We-Want-It, Partner collections
- [ ] #627, #3288, #3321, #715, #699 Search UI: Search across all types (fulltex

[2019-12-13 01:21] mekarpeles commented on #162
This issue is a useful record of sources that are available to us. We're in the process of loading more sources, but this issue as written isn't actionable (and is more of an epic). Will let @hornc spec out our next import epic and am going to close this one.

[2019-12-13 01:23] mekarpeles commented on #321
@hornc I don't believe anything uses this path directly. And we shouldn't build things that rely on it. At the same time, I don't think this specific cleanup task is one worth taking on right now and I think we should close it until there's a clear reason why to embark.

[2019-12-13 01:23] #321 closed

[2019-12-13 01:28] mekarpeles commented on #476
It looks like there may not be an automatic process for Cover-store, to archive Open Library's covers on Archive.org. We're appear to be several years behind.

@hornc are our covers backed up **anywhere** on archive.org that you know of (even if not in easily accessible way)? :sweat_smile:
cc: @cdrini

[2019-12-13 01:31] hornc commented on #44
Actually, this is a specific clean up task that affects very many edits done at scale by work bot in the past when merging translations. I have a script that has gone through and identified from the bot edit logs what was left hanging, and specifically what works they should be correctly redirected to.

It has never been prioritised as an important task, and is why I haven't finished it -- it was

[2019-12-13 01:33] hornc commented on #2727
There are specific examples of a bigger issue #44,  deleting these specifically is low value and the incorrect thing to do. (IMO)

[2019-12-13 01:33] mekarpeles commented on #683
@hornc, if you happen to know:
1. Is there a way to look through the data dumps and see how many books are effected?
2. And if so, is there a way to easily iterate over affected editions and fix them?
3. Is there still an issue which could be causing these issues to happen?

[2019-12-13 01:41] hornc commented on #476
This process was never automated AFAICT.

https://archive.org/details/ol_exports?and%5B%5D=covers&sin=  shows some, there are others that Anand uploaded in community texts;

https://archive.org/details/covers_0001

you should be able to guess the rest of the ids ;)

[2019-12-13 01:59] mekarpeles commented on #44
We're going to close this one in favor of #2727

Confirmed that the original work bot is no longer introducing these problems. The rest is cleanup.

[2019-12-13 01:59] #44 closed

[2019-12-13 02:12] hornc commented on #2727
I have some specific work in progress that has been paused on this, which is most of the way to a solution, so when it is prioritised, I can resume form where I left off.

[2019-12-13 06:54] BrittanyBunk commented on #2454
@cdrini I'm confused why it got closed. It helps me when there's a description of the closure. Everything moved so quickly here.

[2019-12-13 06:55] BrittanyBunk commented on #2447
@mekarpeles I think you are the right person for this, as you fixed the other similar bug :)

[2019-12-13 06:56] BrittanyBunk commented on #2565
@mekarpeles Awesome. I should've closed this sooner. Thanks!

[2019-12-13 07:03] BrittanyBunk commented on #2430
@mekarpeles Sorry to bug, but it's a little ambiguous why it's closed related to #684. Is it because that's the priority being the infrastructure to set this up with, and this a secondary one to proceed that. Or, is the focus of the OL not on languages at this time altogether? The clarification will prevent future accidental potential raising of the issue again.

I'm really glad there's a method t

[2019-12-13 15:15] #2346 closed

[2019-12-13 22:36] jdlrobson commented on #2129
Pushed https://github.com/internetarchive/openlibrary/pull/2730 - simplest solution here.
This is for development only. I think worrying about accessibility etc is overkill. The purpose is to stop people creating test content accidentally in production and this solves that.

[2019-12-13 22:46] cdrini opened #2731 "Homepage on local dev errors/broken"
The sponsorship carousel seems to have broken the homepage on local dev.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/70837076-5bdf8600-1dd0-11ea-8286-6d2ee2eefe0a.png)

### Relevant url?

### Steps to Reproduce
1. Go to local dev homepage; http://localhost:8080

* Expected: Normal site
* Actual: Errors

### Details

- **Logged in (Y/N)?** N
-

[2019-12-13 22:47] cdrini commented on #2731
Work around:
1. remove the first carousel in `openlibrary/templates/home/index.html`
2. Run `docker-compose restart memcached` (if docker already running)

[2019-12-13 23:13] #2731 closed

[2019-12-13 23:19] jdlrobson commented on #2490
Blocking #1732 so marking as high.

[2019-12-14 00:17] dcapillae opened #2733 "Allow the reading log to log editions instead of works"
The Reading Log feature lets keep track of the books you’re currently reading, have finished reading, or want to read. Currently it only logs works, not editions.

![reading-log-screenshot](https://user-images.githubusercontent.com/7125952/70839674-1346bd80-1e0e-11ea-8f0e-ab7cf452a00b.png)

### Description of the solution I would like

I suggest changing this point to be able to log editions bette

[2019-12-14 03:54] BrittanyBunk commented on #2454
thanks everyone for solving this.

[2019-12-14 04:07] BrittanyBunk opened #2735 "Classification and ID # is the same for LCCN"
continuation of #142 https://github.com/internetarchive/openlibrary/issues/142 where the "LC Control Number" in the "ID Numbers" is the same as the "LCCN Permalink" in "Classifications". Example: https://lccn.loc.gov/n80090600 I suggest removing one.

A solution would be for the name "LCCN" to be underneath "Classifications"

[2019-12-14 04:08] BrittanyBunk commented on #2733
@dcapillae this seems to be more of a bug. It's a really good idea.

[2019-12-14 04:40] LeadSongDog commented on #2735
@BrittanyBunk Sorry but you have conflated different concepts. That permalink URL is for an author name identity not a classification (LC class) nor a work identity ( LCCN)

[2019-12-14 05:35] BrittanyBunk commented on #2735
@LeadSongDog no, I didn't. It doesn't matter about author, object, title, etc. They're all the same for LCCN and permalink: https://catalog.loc.gov/vwebv/search?searchCode=LCCN&searchArg=2001001114&searchType=1&permalink=y

[2019-12-14 05:36] BrittanyBunk commented on #2735
I did look into it though, and the LCCN and permalink are slightly different here: https://lccn.loc.gov/lccnperm-faq.html#n10. However, since there are rules that say what the LCCN would be with the permalink, it's better to just have the LCCN, as the permalink can be generated from it.

[2019-12-14 05:37] BrittanyBunk commented on #2735
I guess people could enter in the entire url for the permalink, but same thing - the permalink url could be generated from the LCCN, so it's redundant.

[2019-12-14 06:26] BrittanyBunk commented on #2454
I actually don't think this is 100% closed though, as the 'help' button doesn't address the numbers with brackets. @seabelis said not to touch them, so I feel a note should be added for this @cdrini

[2019-12-14 13:33] Camillo-Pellizzari commented on #2248
Another case: https://openlibrary.org/authors/merge?key=OL125439A&key=OL2628479A

[2019-12-14 14:42] Camillo-Pellizzari commented on #2248
Another case: https://openlibrary.org/authors/merge?key=OL2629727A&key=OL68455A

[2019-12-16 00:18] hornc commented on #2735
It looks like the 'LCCN Permalink' should not be in the Classifications section at all, as they are different things. The LCCN number is stored under 'ID Numbers' -> 'LC Control Number'

[2019-12-16 00:27] hornc commented on #2683
I had to regenerate the entire MARC collection to enable this by including a custom 976 field in the bibliographic MARC records, and converted to utf8 in the process.

I had to modify the local_id record and the source data
`marygrovecollegelibrary.full.D20191108.T213022.internetarchive2nd_REPACK.mrc`

Now all ~70k records' local_ids have been imported.

Example lookup by local_id: https://openlib

[2019-12-16 00:27] #2683 closed

[2019-12-16 00:52] tfmorris opened #2739 "Drop MARC 59X local notes fields on import"
This edition: https://openlibrary.org/books/OL27794599M/Tractatus_logico-philosophicus
was imported with two local notes fields from the [MARC record](https://openlibrary.org/show-records/marc_marygrove/marygrovecollegelibrary.full.D20191108.T213022.internetarchive2nd_REPACK.mrc:202990862:1752
) which don't add any value:

https://www.loc.gov/marc/bibliographic/bd59x.html

Since there's no way for

[2019-12-16 01:00] tfmorris opened #2740 "Sanity check MARC 300$a Extent before using for number_of_pages"
This edition: https://openlibrary.org/books/OL27092523M/Tractatus_logico-philosophicus
has an incorrectly coded MARC 300$a field:

https://openlibrary.org/show-records/ia:tractatuslogicop00witt_010

which got promoted to the number_of_pages field in the edition record.

We should attempt to do more sanity checking on this field before blindly accepted it. It would be better to have no number_of_pa

[2019-12-16 03:40] nsudarsanam commented on #2517
Hi @mekarpeles I started haven't gotten through with it. I'll have some more time later this week!

[2019-12-16 06:17] BrittanyBunk opened #2741 "Search bar on author pages"
On an author page, an author can have a lot of books there. It's really difficult to go through all of them, so I'm suggesting a search bar specifically for author pages, like https://openlibrary.org/authors/OL9388A/William_Shakespeare

[2019-12-16 14:07] seabelis opened #2742 "Add GitHub tips for beginners"
Getting started as a contributor can be tricky and some people have trouble with setting up a repository if they are new to GitHub.

### Describe the solution you'd like
Per community call discussion on 10 December 2019 I've created a step-by-step guide for setting up an openlibrary repository for beginners. This PR is for modifying the CONTRIBUTING file with the link to the [tips wiki page](https

[2019-12-16 16:55] LeadSongDog commented on #2735
The LCCN is a catalogue number, (approximately) serially assigned by publication date.
The LC Class (a.k.a. LC Call number) usually encodes information descriptive of subject.
@BrittanyBunk identified a permalink https://lccn.loc.gov/n80090600 which is to a _Personal name_ LCCN (note the prefix "n"). If we used that anywhere on OL, it should be as an external link from an author record, not in a w

[2019-12-16 17:49] BrittanyBunk commented on #2735
@LeadSongDog maybe there's confusion (on my part at least), but LCCN's are not only for authors, but also books: 2001001114. As you said, 'n' is for authors. I think there's other letters in front of numbers to signify a non-book too.

I think you did bring up a bigger issue, and that is that books (like editions) have ID #'s and authors don't, even though there are #'s that are assigned to author

[2019-12-16 17:54] BrittanyBunk opened #2744 "ID #'s for authors: community input preferred"
As brought up https://github.com/internetarchive/openlibrary/issues/2735#issuecomment-566146908 from #2735, authors have ID #'s too, not just editions. I believe that there should be a field for adding in #'s to author pages, instead of having to manually add them as links, as @LeadSongDog had to.

The first # is obviously their LCCN, but I would like this to issue to have community input for othe

[2019-12-16 17:56] BrittanyBunk commented on #2742
@seabelis I was talking a lot about this with @mekarpeles about my tips for helping this out. You can see them here: https://app.slack.com/client/T03ST9K7K/threads/thread/C0ETZV72L-1576003003.013400

[2019-12-16 17:58] BrittanyBunk commented on #2742
Also, nothing's written there.

[2019-12-16 18:04] mekarpeles commented on #2547
@tabshaikh any updates on this? Do we have a PR in review?

[2019-12-16 19:36] guyjeangilles commented on #2739
@hornc I've added you personal label as I thought it was relevant

[2019-12-16 19:38] guyjeangilles commented on #2740
@hornc I added your personal label because it seems relevant

[2019-12-16 19:44] guyjeangilles commented on #2741
Related: #2064

[2019-12-16 20:08] tfmorris commented on #2740
A related number_of_pages issue are these two editions which claim to have 6 and 7 pages for audio cassette and audio CD editions, respectively. Not sure if that was 6/7 hours on the original record or 6 cassettes and 7 CDs or ...

https://openlibrary.org/books/OL8106819M/Paco's_Story_UNABRIDGED
https://openlibrary.org/books/OL8108013M/Paco's_Story_UNABRIDGED

[2019-12-16 20:19] tfmorris commented on #2744
We should focus on one or a few widely known identifiers such as VIAF or Wikidata. We already store those, but they're not currently editable. See the `remote_identifiers` section here: https://openlibrary.org/authors/OL19690A.json

Is there anyone who's got an LCCN, who's not in VIAF?

[2019-12-16 20:26] tfmorris commented on #2741
A large part of the problem is the massive number of duplicates. If there weren't dozens of "works" all named "King Henry IV, Part 1" there'd be a lot less to plow through. A "search within author" facility would be useful, but only for a tiny fraction of the authors in the system.

[2019-12-16 20:26] cdrini opened #2745 "Remove dead addcover.html file"
This file looks dead; https://github.com/internetarchive/openlibrary/blob/310e4d55904033905aa7caa5fabeb82e78b9f71e/openlibrary/templates/books/edit/addcover.html . It was mainly only edited at its inception 8 years ago (except for some generic ~formatting fixes). It seems to have been replaced by https://github.com/internetarchive/openlibrary/blob/310e4d55904033905aa7caa5fabeb82e78b9f71e/openlibra

[2019-12-16 20:58] BrittanyBunk commented on #2741
@tfmorris Another issue (I was thinking about creating one) is that you can't sort from a->z. That's what also takes forever too.

I feel that you may be right about that for this moment. However, there are so many books that are not on OL or are but with no author. I can see this becoming an issue in the future. However, it is an issue happening right now (at least for me).

[2019-12-16 21:00] BrittanyBunk commented on #2744
@tfmorris idk, but VIAF is OCLC, so I doubt there's every author there.

[2019-12-16 21:02] seabelis commented on #2742
Updated and moved to https://github.com/internetarchive/openlibrary/wiki/Git-Cheat-Sheet.

[2019-12-16 21:17] LeadSongDog commented on #2744
As a general principle, it's the author's home country that establishes their identity. VIAF is a federated authority record, pulled from all the member libraries' authority files, so it tends to be comprehensive even at the cost of correctness. ISNI is more carefully curated, so it has lower error rates, and links back to the specific national-level library on which it relied. If an ISNI entry is

[2019-12-16 22:57] LeadSongDog opened #2746 "Make indexed entry transparent"
When changing a record, there's currently no apparent way to know what will make it into the Solr index. This leaves one guessing what effect to expect.

### Describe the solution you'd like

On saving, show not just the edited record, but also what is being sent to Solr.

### Proposal & Constraints

### Additional context

### Stakeholders

[2019-12-16 23:13] cdrini commented on #2742
Oh, #2743 is merged now; is this good to close, @seabelis ?

[2019-12-17 00:42] cdrini commented on #2746
That's a really good idea; it would be really helpful in debugging! I'd recommend making a "secret" endpoint instead (maybe https://openlibrary.org/works/OL1100007W/Le_tour_du_monde_en_quatre-vingts_jours/_solr_record ); putting it directly in the UI might be a bit too much, since it's not permanent data and not "directly" editable. That could return the corresponding solr record for that item: ht

[2019-12-17 01:44] #2735 closed

[2019-12-17 05:27] hornc commented on #2744
Duplicate of #853 ?

[2019-12-17 05:52] hornc commented on #2147
I'm not sure there is a clear action to take here. Closing.

[2019-12-17 05:52] #2147 closed

[2019-12-17 05:54] hornc commented on #2106
I believe this has been completed by my CleanupBot. Closing as done.

[2019-12-17 05:54] #2106 closed

[2019-12-17 05:55] hornc commented on #1075
I don't think we are going to add more workaround code to do this. Closing as won't fix.

[2019-12-17 05:55] #1075 closed

[2019-12-17 06:00] hornc commented on #2137
@cdrini didn't one of your recent PRs provide this?

[2019-12-17 06:04] hornc commented on #1841
[code]
and
[code]
The msg from Twitter seems accurate.

[2019-12-17 06:15] hari-govind commented on #2726
Hi,
I would like to try this issue. This is what I understand from the above:
`candidates = web.ctx.site.get('/sponsorship/books').get('editions')` will return books that are sponsorable unless it is out of stock. `qualifies_for_sponsorship(ed)` will do unnecessary checks(in this case) besides checking the stock and for making it faster we use `get_betterworldbooks_metadata(edition.isbn).get('pric

[2019-12-17 07:18] LeadSongDog commented on #2735
@BrittanyBunk for that example you give, the LC Classification or LC call no is QB90 .V55 2002. You can see this by clicking your permalink then selecting the MARC tab

[2019-12-17 08:09] tabshaikh commented on #2726
Hi @hari-govind try using this BWB api call http://products.betterworldbooks.com/service.aspx?ItemId=<isbn> where you can put in any isbn and check whether it returns false/ the price based on the availability. You would then just need to change these lines above for them to work. Looking forward for a pr from you :)

[2019-12-17 08:49] #2742 closed

[2019-12-17 14:06] hari-govind commented on #2726
I've been trying for a while but I cannot view sponsored books section in the development version. I've tried importing the test data and checking the admin dashboard for relevant options but was unable to figure out how to enable the "Books to Sponsor" section and add books to that section.

[2019-12-17 14:15] BrittanyBunk commented on #2744
@hornc yes, will close

[2019-12-17 14:15] #2744 closed

[2019-12-17 14:16] BrittanyBunk commented on #853
I'm adding LCCN and OL to the ones mentioned.

[2019-12-17 14:27] BrittanyBunk commented on #2735
@LeadSongDog awesome. I see. @mekarpeles idk why this was closed. It's still duplicating.

[2019-12-17 14:55] seabelis commented on #2039
@mekarpeles Even if the form input field will not be modified in the near future, I would like to add this to FAQs with a link from the form to at least provide guidance. Any issues with that?

[2019-12-17 15:25] BrittanyBunk opened #2750 "When adding in an author for a new book, the author doesn't show up on the next page"
"Add a Book" asks for the author, but when I submit it, the author doesn't appear on the next page, which is the "Add a little more?" page. Before, the author used to appear. Now it shows a blank in the author field.

[2019-12-17 15:42] BrittanyBunk opened #2751 "Should "Printing" be listed?"
Continuation of issues #561. The reasons I bring this up
- usually a person can tell if a book is still in copyright if it's still getting printed
- it's listed in physical books
- it's an identifier
- demonstrates the popularity of the book or the publisher's needs/wants/capabilities of a time period
- a further subcategory to categorize books

why it shouldn't be added in:
- it's not going to be

[2019-12-17 16:49] BrittanyBunk commented on #853
what is "Classifications: RM666.T65, 616.12061" http://worldcat.org/identities/lccn-n82039404/ is this the VIAF?

[2019-12-17 16:59] BrittanyBunk commented on #2395
@mekarpeles not going to make this a new issue, but adding onto this one, another one to add when buying links is Goodreads, as they have identifiers for editions too, and it's not on the list.

[2019-12-17 18:26] tfmorris commented on #2750
Duplicate of #1716

[2019-12-17 18:26] #2750 closed

[2019-12-17 18:29] tfmorris commented on #2128
This is a duplicate of #1716

[2019-12-17 18:29] #2128 closed

[2019-12-17 18:32] tfmorris commented on #1716
I just ran into this again a couple of days ago and had to add the author to the record by hand afterwards: https://openlibrary.org/works/OL20563217W/Growth?_compare=Compare&b=2&a=1&m=diff

Since this has been reported several times, including via email to support, it would be good to bump it up in priority.

[2019-12-17 18:42] tfmorris commented on #2751
In my opinion, we don't want a separate record for every printing of every edition. Edition is plenty.

[2019-12-17 18:59] seabelis commented on #2751
For the scanned books I usually add it.

[2019-12-17 19:27] tfmorris commented on #192
The closest match that I can find is openlibrary/plugins/openlibrary/support.py but I don't see any of the relevant code.

Given that there was no response from the original poster, I'm closing this. Please feel free to reopen with more details.

[2019-12-17 19:27] #192 closed

[2019-12-17 19:57] tabshaikh commented on #1855
@tfmorris can I assign you to this issue so that you can close this as you keep merging the pr's

[2019-12-17 19:58] tabshaikh commented on #2165
I think this issue can be closed for now

[2019-12-17 19:58] #2165 closed

[2019-12-17 20:05] tfmorris commented on #1855
A Spanish translation was added by PR #2615

[2019-12-17 20:05] #1855 closed

[2019-12-17 20:38] hornc commented on #2658
Full edit timestamps are available if needed from the Json view: e.g. https://openlibrary.org/works/OL77950W.json?m=history closing as functionality already exists

[2019-12-17 20:38] #2658 closed

[2019-12-17 20:50] LeadSongDog commented on #2746
Thank you @cdrini, that's the first time I've ever actually _seen_ a solr record. It is a very instructive example, that helps to compare the information on different editions, highlighting some anomalies, and old annoyances such as:
* one ISBN value of "$2.30"
* audiobooks show publisher as "Brilliance Audio on CD" and "Brilliance Audio on cassette" vice just "Brilliance Audio"
* many contributor

[2019-12-17 21:10] tfmorris commented on #178
@LeadSongDog That's a different feature request. Let's keep the discussion here focused on the original request ie diacritic folding and Unicode normalization.

[2019-12-17 21:21] LeadSongDog opened #2752 "Index soundex or metaphone normalizations"
#11 was closed in favour of #178 . Consider that
https://openlibrary.org/search?q=%22tiananmen%22&mode=everything finds 447 hits, but
https://openlibrary.org/search?q=%22tian%27anmen%22&mode=everything finds only 45 and
https://openlibrary.org/search?q=%22tiananmin%22&mode=everything finds zero.
Some sort of soundex or metaphone normalization on titles and author names has to be indexed to manage

[2019-12-17 21:28] tfmorris commented on #2746
This request seems to be based on the premise that the system is, and will remain, broken. The answer to "What gets sent to Solr?" is "everything that should be." If that's ever not the case, then it's a bug which needs to be fixed.

Also, editing a single object/record results in potentially many Solr documents being updated, at some point in the future, so there's not a 1:1 correspondence, and i

[2019-12-17 21:49] LeadSongDog commented on #2746
@tfmorris No, just the reverse premise: the only way we'll ever know that it is fixed is to be able to see what it is doing. How, without seeing what is sent to the index, could we ever say "everything that should be, is"? Conversely how could we know that search functions as expected without first knowing what is indexed?

If there is another way to gain the necessary transparency/visibility, sur

[2019-12-17 22:09] guyjeangilles commented on #2671
Updates for today's community call that will likely be it's own issue(s):

1. Change `Priority` label formatting. I.e `Priority 2: High` to `Priority: 2` assigned to @tfmorris
1. Should triaged issues require `Module` and `Theme`?
1. Rotate triaging leads weekly/regularly?
1. Added requirements to project administration:
   1. Query-able topics. I.e `label:"Module: Solr" label:"Priority 1: High"`

[2019-12-17 22:28] LeadSongDog commented on #853
@BrittanyBunk I've updated https://github.com/internetarchive/openlibrary/wiki/Guide-to-Identifiers for your reading pleasure, but it doesn't get into classifications.

RM666.T65 is the LC Class for "Theraputics, Vitamin E" while 616.12061 is the Dewey Decimal Class for "Cardiopulmonary Drug Therapies" both of which would reasonably be applied to https://www.worldcat.org/title/vitamin-e-for-ailing

[2019-12-17 22:35] tfmorris commented on #2752
There are also:

75 hits - https://openlibrary.org/search?q=tian%27+an+men&mode=everything
 4 hits - https://openlibrary.org/search?q=Tienanmen&mode=everything

but this isn't something Soundex will help with. Soundex, Metaphone, Double Metaphone, Daitch-Mokotoff, Beider-Morse, etc are all specific to the English pronunciation of personal names.

The original language version of this word is: 天安门

[2019-12-17 22:49] LeadSongDog commented on #1716
Possible clue: that same work is not found by https://openlibrary.org/search?q=9780262042833&mode=everything
@tfmorris Is it possible you just forgot to click on the author dropdown? https://openlibrary.org/works/OL20563217W.json?v=1 shows  "authors": []

[2019-12-17 23:25] mekarpeles commented on #2583
Howdy @imskr just double checking, would you like to try this good first issue? If so, let me know and I'd be happy to help you.

[2019-12-17 23:38] tfmorris commented on #1716
@LeadSongDog Please go back and read the original description. There is no "author dropdown" involved since this is starting from the author page.

[2019-12-18 00:20] mekarpeles commented on #2564
@BrittanyBunk I think this is a regression -- and you're right. This used to work.

I think this is because we backed away from using availability.js to paint available editions.

One of the problems is that Lists can contain all sorts of things that are not `edition`s. So we need to run a function which takes a List, identifies the editions, and then injects Archive.org availability into (only) t

[2019-12-18 00:22] mekarpeles commented on #395
@hornc this seems like it may have a front-end portion and a back-end portion, can we assign you as the Lead for this one?

[2019-12-18 00:26] mekarpeles commented on #1777
Ok, it seems like http://archive.org/serve/@jdlrobson may fall back to gravatar but https://archive.org/services/img/@jdlrobson doesn't? Open Library is currently using the latter one. If that API needs to work w/ gravatar, going to leave to @bfalling + @traceypooh to support (if they decide) but unless Open Library is supposed to use a different url (to fetch image form archive.org), I'm going to

[2019-12-18 00:26] #1777 closed

[2019-12-18 00:41] tfmorris commented on #2248
I'll investigate this one when I have time to write some code to do it automatically: https://openlibrary.org/authors/OL4280920A/Federico_Garc%C3%ADa_Lorca?merge=true&duplicates=OL6887222A,OL4122786A,OL3973784A,OL6250916A,OL6404110A,OL3210186A,OL7313848A,OL7306164A,OL7327570A,OL7386673A,OL7392312A,OL7416035A,OL7687411A

[2019-12-18 00:49] BrittanyBunk commented on #2751
@tfmorris Good insight, and I thought that way, until after reading what you wrote. When there's a different printing, it'll look different, and thus be kind of a different 'book' (as in the two print copies are no longer the same). But you helped with forming my opinion, which is awesome.

@seabelis I think you have a good point there. Didn't think of that. However, as @tfmorris said, it kind of

[2019-12-18 01:06] BrittanyBunk commented on #853
@LeadSongDog cool, glad to know, but I mean which classification (together) is it in reference to WorldCat?

[2019-12-18 01:12] BrittanyBunk commented on #2564
@mekarpeles right, as it won't be possible for works. Got it. Thanks for understanding.

[2019-12-18 01:14] jdlrobson commented on #1777
my takeaway from this is that the gravatar is not officially supported which is a shame. I don't plan to upload a photo so if magically one day my gravatar shows up I'll be happy and make sure to thank you :)

[2019-12-18 02:16] tfmorris commented on #1777
Since the IA service is unreliable, why don't we just construct the URL ourselves? We can use either of

https://www.gravatar.com/avatar/45b0863bddc42c3bbb08284d1863ad95
https://web.archive.org/web/https://www.gravatar.com/avatar/45b0863bddc42c3bbb08284d1863ad95

The hash is a simple md5 of the email address: https://en.gravatar.com/site/implement/hash/

[2019-12-18 03:10] traceypooh commented on #1777
"unreliable" seems a bit far :)
but yes, exactly @tfmorris just do:
https://web.archive.org/web/https://www.gravatar.com/avatar/' . md5($eml)
or direct gravatar call if you like! :)

[2019-12-18 05:37] LeadSongDog commented on #1716
@tfmorris My apologies, I must have been mislead by the issue title, which seems to vary from the bug report

[2019-12-18 07:58] mekarpeles commented on #1146
@tabshaikh which templates are being worked on? Can you please update the issue so it's clear what the scope is? Then you can remove the `Needs: Detail` label

Also, please push the code you have and cite here so someone else can help push it over the finish line (if it's incomplete, that's fine :))

[2019-12-18 08:41] seabelis commented on #2751
Here are two paperbacks with identical information, but different covers and printer's keys. https://openlibrary.org/books/OL22141062M/The_Celestine_Prophecy, https://openlibrary.org/books/OL27255471M/The_Celestine_Prophecy. If these were books in hand  and wanted you to enter them, it would be appropriate to include the printing information to differentiate and to indicate which is earlier.

[2019-12-18 09:11] seabelis commented on #2751
I agree that it would sometimes be useful for the edition records to have children so that one could note each printing without creating a new record; this has been raised before in a somewhat different context, but I don't think this would be considered a priority.

[2019-12-18 11:17] seabelis commented on #2648
I'd like to change the wording next to **Title** to "Enter the title of this specific edition."
I'd like to remove the "Perhaps in another language?" and the example text from "**Is it known by any other titles?**" field and replace the example text with "Uniform titles, cover/spine titles, and transliterated titles may be entered here."
The "other languages" example is poor as the original title

[2019-12-18 15:19] BrittanyBunk commented on #2751
Continuation of #2391. @seabelis I talked a little about it there in a different context, but this was different, as it was about who printed vs published, although it does relate (as maybe where it's printed changed, and some books change publishers with each printing, so these are really important to know, to prevent confusion - as then a book has multiple publishers - and an edition may only sh

[2019-12-18 15:45] seabelis commented on #2751
This isn't really the same as series or volumes. To keep this simple, if the printing number is specified, it is fine to note that with the edition information.  Example: https://archive.org/details/dubliners00joyc_3/page/n3

[2019-12-18 15:46] BrittanyBunk commented on #2648
@seabelis this isn't really related to #2654 insomuch as #2601 where we have subrecords (of editions) for each translation, instead of saying other titles, in other languages (as I feel there's too many, and there's already records of other translations in the editions section).

[2019-12-18 15:49] BrittanyBunk commented on #2648
I really appreciate that you're making these fixes, and I think the FAQs really does need more detail. Do we even need a box for other titles? I guess I might just wait for the end product to truly evaluate and reevaluate what your vision is.

[2019-12-18 15:51] seabelis commented on #2648
Yes, the field for title variants is useful information for the reasons stated. These are edition-specific, not at the work level. The field is not required.

[2019-12-18 15:52] BrittanyBunk commented on #2751
that's a link to the archive page. See the question for me that would help me decide whether new records or subrecords should be in the OL for prints is if we should upload every new print to the IA and count it as a new book. Personally, I am leaning towards yes, as the covers and writing is different enough to necessitate separating from each other and noting it. On the other hand, this could be

[2019-12-18 15:56] BrittanyBunk commented on #2648
I think you're adding too much into one field with your rewrite, unless you plan to split it up. Adding in the transliteration of every single language (unless the plan is to allow users a 'primary language' that they see the site with) is going to be overwhelming.

cover/spine titles - I think that's a good substitute, as they likely are different from the cover. I mean, my wish is to also see th

[2019-12-18 16:15] seabelis commented on #2648
Not the translitertion of every language. If that title is in Korean then the transliteration of the Korean title would be added into that field.

[2019-12-18 16:20] cdrini commented on #2648
Proposed changes to **title** field seems good to me; For **other titles** field, maybe something like:

That would help clear up the meaning of transliteration. Although, I believe transliteration is something that machines can do (one of the planned improvements to Solr is allowing searching by transliteration or by the real characters, which solr is capable of). So maybe just:

[2019-12-18 16:27] seabelis commented on #2648
Yes, if the transliteration is addressed elsewhere, it doesn't need to go into that field.

[2019-12-18 16:36] seabelis commented on #2648
The title page is where the edition title should be coming from, so maybe I will specify that and then for the **other titles**...

[2019-12-18 16:39] seabelis commented on #2751
Yes. That is an example of an edition where the printing is specified.

[2019-12-18 18:24] cdrini opened #2754 "Logo overlapped by "Browse" dropdown on IE11"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/71112439-78e1d380-2199-11ea-9728-d746d2a43b00.png)

### Relevant url?
e.g. https://openlibrary.org , but any page

### Steps to Reproduce

1. Go to https://openlibrary.org

* Actual: Logo is overlapped
* Expected: Logo is separate

### Details

- **Logged in (Y/N)?** N
- **Browser type/version?** IE1

[2019-12-18 21:03] Mfhodges commented on #686
Hello!
I would like to join the slack channel and contribute @mekarpeles
Thank you!

[2019-12-18 22:35] cdrini opened #2755 "dev.openlibrary.org separated memcache causing stale pages"
In fixing #2628 , we gave dev.openlibrary.org (and any other prod-data-access environments) separate memcaches (updating `openlibrary.yml` to point to these). Unfortunately, we forgot that these memcaches are also specified in `infobase.yml`. This has caused essentially #2040 to re-appear, but on dev only. This issue arises when the site has access to a memcache which infobase does not. Essentiall

[2019-12-18 23:32] #2646 closed

[2019-12-18 23:39] #2671 closed

[2019-12-18 23:48] BrittanyBunk commented on #2751
@seabelis ok, I get it now. Do you believe writing out different prints in editions is sufficient?

[2019-12-18 23:48] BrittanyBunk commented on #2648
@seabelis I see what you mean. That's cool the transliteration idea :)

[2019-12-18 23:51] BrittanyBunk commented on #2648
@cdrini I'm assuming there's a scenario where the title will be translated. In that case, it would be good to have both the translation and transliteration to prevent confusion, right? However, I agree with you that this would be automated. If a machine can do this automatically, why would people manually enter it in?

[2019-12-19 03:26] BrittanyBunk commented on #2752
I think it's good that the search does transliterations on top of the actual translation, as I have no doubt that people will use that. For me, if I saw a title in another language, I would feed it through Google Translate and it'd give me the transliterate, in which I'd copy/paste in to the search. Another person though might actually know the title and type in that. So I'm really glad to see bot

[2019-12-19 03:31] BrittanyBunk commented on #2746
I've been seeing a lot of these bot mistakes too. I think it's just a matter of having a set format and telling the bots whichever format they have close to that, revert it to the standard format of the website.

I see the difficulty in not being able to see the bots themselves, like https://openlibrary.org/people/ImportBot. However, I don't think you really need to look at their codes in order to

[2019-12-19 03:57] BrittanyBunk commented on #2695
Yes it counts as a book. Someone put together records into a table and put them altogether as a book (they're very similar to books in pharmacy even - which are also all tables). I would even count a telephone book as a book. I mean, it even has 'book' in the name. I mean, there are tables put together, like census records. Those aren't books, as they aren't book together as one.

Some reports are

[2019-12-19 04:08] BrittanyBunk commented on #2694
Good issue raised. I'll show you what could count as a book, and what won't (they're either magazines or brochures (which count as a 'document'. I don't count 'books' in my document category, even though it could count as a document too).

Books:
https://archive.org/details/CAT31349374/page/6
https://archive.org/details/CAT31347531/page/6
Reason - they're educational material, in a book-like forma

[2019-12-19 04:15] BrittanyBunk commented on #2539
@seabelis I personally don't believe an illustrator is an author unless they wrote words in the pictures or the captions. I mean, there is the saying 'a picture is worth 1000 words', so if we start counting pictures as words from this saying, sure. I just don't agree with that line of reasoning. However, if the bibliographic description manual says yes, I'd go with the standards, not me.

[2019-12-19 04:17] BrittanyBunk commented on #2448
It's #2329

[2019-12-19 04:18] BrittanyBunk commented on #2329
One really bad issue is that people just can't add more than 1 IA ID anymore. So if it's entered in incorrectly, it just won't have a backup. My workaround has been to just add in the correct one in the links section. Best I can say until this is fixed.

[2019-12-19 05:46] tabshaikh commented on #1146
I have pushed the pr, Initially, when I had opened the issue it was just intended for the footer but the change required is in multiple files for which @tfmorris also has a draft pr

[2019-12-19 09:00] seabelis commented on #2539
In some cases the illustrations are the reason the book exists. As in the case I linked to, Shakespeare's text was added to the illustrations, but as @dcapillae points out, the illustrations are an essential part of the work.

In agreement with @dcapillae . Closing.

[2019-12-19 09:00] #2539 closed

[2019-12-19 09:39] seabelis commented on #2751
Yes. Edition and printing if stated. If there's a stated printing + printer's key include the lowest number of the key in parenthesis.  See https://openlibrary.org/works/OL53180W/The_Celestine_Prophecy for many examples.

Here is information about the printer's key if you are not already familiar with it. https://en.wikipedia.org/wiki/Printer%27s_key Not all publishers use this or use this, so onl

[2019-12-19 17:16] BrittanyBunk commented on #2751
@seabelis I see what you're saying, but I don't get that impression when I look at your edits to understand it's a printing. The reason is that books will have a # given by the publisher as it's # in a series, so it's difficult to distinguish your printed # from the # of the book in a series. https://openlibrary.org/books/OL9573539M/Accent_on_Achievement_Book_1_Flute - the #7081. How can I tell th

[2019-12-19 17:19] BrittanyBunk commented on #2539
@seabelis I'm not discrediting that the illustrator plays an author-status role. The issue is that adding them as an author there doesn't make sense. The issue is that OL doesn't distinguish roles at the work level. This probably should be another, new issue if we do add illustrators to the work level. Then, the most important contributors would be there, but it'll be shown who they are (otherwise

[2019-12-19 19:19] LeadSongDog commented on #2539
@BrittanyBunk #2500 relates, discussion is closely parallel.
@seabelis The difficulty with your example of _Shakespeare's Garden_ is that Pallan's contribution was to a late edition, after J. Harvey Bloom's copyright had expired in the US. The 1903 Lippincott / Methuen edition had only four illustrations.

[2019-12-19 23:40] mekarpeles commented on #2726
Hi @hari-govind -- sending you a slack invite (received your email) and happy to help you through this issue. We may be something we have to open a PR for without testing, and then test on dev.openlibrary.org. The other option (which I think you should pursue) is... in `openlibrary/core/sponsorship.py` in  `get_sponsorable_editions`, replace the line `candidates = ...` within the try block with a

[2019-12-20 05:54] BrittanyBunk commented on #412
#2601 relates here.

[2019-12-20 06:09] BrittanyBunk commented on #2384
@guyjeangilles @mekarpeles thanks for moving this forward right now, as I feel it's needed more than other issues (that I've created) to move forward at this time :)

[2019-12-20 06:13] BrittanyBunk commented on #2384
To continue the progress, here are the names of the columns: #, Header, Description/Subtitle (optional), Page number. I'm not sure how to add tabbing into a spreadsheet, but I'm thinking that any tabbed header would have a symbol next to it - like ">" for each tab, like ">>>" = 3 tabs in the header category.

[2019-12-20 06:17] BrittanyBunk commented on #2382
@mekarpeles I don't have a way to put a thumbs up emoji next to people adding labels, but I would. This does need to be moved forward as an issue more than the other ones I've created. The work description shouldn't be shown on an edition page, and is too lengthy.

[2019-12-20 06:19] BrittanyBunk commented on #2388
the sponsor carousel is sufficient for now, as it's kind of the vision, and the rest will come later.

[2019-12-20 06:21] BrittanyBunk commented on #2390
@seabelis since you know how to edit the FAQs, what do you think about adding it there?

[2019-12-20 06:30] BrittanyBunk commented on #2539
@LeadSongDog I think your right and onto something. There was another discussion I was in (I can't find it) where it was about separating works and editions more clearly in the editing section. If works are separated out from editions more, then it could have its own profile. Do you know the #?

My opinion is that it's not about who's important enough to be up there, but who is listed in a work th

[2019-12-20 09:13] seabelis commented on #2751
@BrittanyBunk If an edition is part of a series, that should go into the field labeled

Any information in the edition field will not (should not) be about the series (with the exception that there are some series names that include the word edition, this may end up there).

In your example, the #7081 seems to be a catalog number, not a series number. The series, in this case, is pretty also the b

[2019-12-20 09:26] seabelis commented on #2539
Check if there is already an issue. This has come up, but maybe only on the community call.

[2019-12-20 11:27] seabelis commented on #2539
@LeadSongDog

I would not consider https://archive.org/details/shakespearesgard00nanc/page/n11 an edition of https://archive.org/details/shakespearesgar00bloogoog/page/n7. True they share the same name and general concept, but one is not simply a later version of the other with the addition of illustrations. The Pallan version is primarily a book of illustrations accompanied by Shakespeare's words

[2019-12-20 11:31] seabelis commented on #2539
@BrittanyBunk A better label for the work-level field would be 'Responsibility', but that's a different topic.

[2019-12-20 14:12] LeadSongDog commented on #2539
@seabelis You’re right. The newer book discards most of the older.

[2019-12-20 14:52] BrittanyBunk commented on #2751
@seabelis I see. Where does the catalog # go then? Also, if we're putting the printing next to the edition, would we be able to state that designation there (like name of edition and print)?

[2019-12-20 14:54] BrittanyBunk commented on #2539
@seabelis I looked all night (like for 1-2 hours) and couldn't find it. I need help finding it.

[2019-12-20 14:56] BrittanyBunk commented on #2539
@seabelis "responsibility' is a confusing term, as everyone's responsible for the book. Maybe 'top contributors', or 'creators' would be better. Like the top contributors could be starred?

[2019-12-20 15:11] seabelis commented on #2751
There is no field for catalog number, you can put it into the notes section,

[2019-12-20 16:00] LeadSongDog commented on #2539
@seabelis The issue you are recalling is #2241

@BrittanyBunk The term Responsibility is explained clearly on the OCLC site:

-- https://help.oclc.org/Discovery_and_Reference/WorldCat-org/WorldCat-org_Item_Details_screen/About_the_Item_Details_screen

It is, perhaps a bit simplistic in its use of "book" to mean a printed text, but the general idea is correct.

[2019-12-20 18:21] BrittanyBunk commented on #2751
@seabelis Is it ok where I have it in the series section? The issue is that 'series' is not clear, as is it the catalog number in the series, or its placement in the series? This comes up when I look at TV shows, where it has both the placement number and number in the series. It's just really all so confusing.

[2019-12-20 18:28] BrittanyBunk commented on #2539
@LeadSongDog since that's not the same as the issue I'm thinking about, do you know of the # on github? If not, I'll create it.

For your link, it's the one with the sole responsibility. Illustrator is not that person. The examples listed are replacements for author: some use 'editor', which is fine. Producer is the equivalent of an author too. I don't see 'illustrator' as replacing the author (un

[2019-12-20 20:52] LeadSongDog commented on #2751
Going back to the issue at hand, @BrittanyBunk asked "Should "Printing" be listed?"
I would have to say "no, except in highly exceptional cases". Most printings are not significantly different from each other, and they normally carry the same information, word for word. Where there are differences, it is usually restricted to packaging trivia (esp. cover drivel), and not any sort of content editin

[2019-12-20 22:12] #2638 closed

[2019-12-20 22:31] jdlrobson commented on #2610
Anyone able to provide a patch? I will happily review :)

[2019-12-20 22:33] jdlrobson commented on #1881
Per 1881#issuecomment-503506793 not a frontend issue. I'd suggest @hornc as a more appropriate assignee here but feel free to pass on to someone else.

[2019-12-20 23:43] #2138 closed

[2019-12-21 00:12] #2502 closed

[2019-12-21 02:40] mekarpeles opened #2763 "Refactor #2762 to not overload web.ctx"
#2762 was opened for policy reasons; the solution isn't perfect and may need to be refactored.

[2019-12-22 02:29] nsudarsanam commented on #2517
Hi @tabshaikh i've gotten everything setup and can navigate the site on localhost. But for the life of me, I can't seem to figure out what the dev api endpoint is to get my breakpoints to get hit. Is the dev api also hosted at localhost:8080 (assuming I'm seeing the website on that)?

[2019-12-22 03:59] BrittanyBunk commented on #684
Those pages are seriously confusing. I only figured out yesterday (after much digging) that those are work-less editions. I wish there was something somewhere that said something about how it's a workless edition, so that people know. Idk if that's a github issue or not or should be one, but I feel the need to discuss it here first.

[2019-12-22 04:00] BrittanyBunk commented on #684
Can't best be newest (as it's the best work - due to being the most updated) or oldest (like the original's the closest to the author's intent)?

[2019-12-22 04:04] BrittanyBunk commented on #2751
Also, another reason for 'printing' to be listed is to reveal books that are out-of-print - as it's really important to know - for the value/difficulty in finding. I really think about it's status like that.

[2019-12-22 04:09] BrittanyBunk commented on #684
How I first assumed the website's wording to be was "work" means "series or books" and "editions" means "books" (is the original language I used in my head when coming here. I'm assuming that's what most people use when coming here). So it relates to the whole missing series/volumes. #2751, #2452, #2746, #1586, #561.

[2019-12-22 04:23] BrittanyBunk commented on #679
Do we have specific #'s on this? I only see #685.

[2019-12-22 04:46] BrittanyBunk commented on #679
One of the issues (I don't see it posed, but correct me if I'm wrong) is that the editions table in works is really bad. I needs:
- better breaks between editions
- simplified boxes: 1) the read button could be smaller, as I feel people do want to listen more than read and the read button's crowding out finding the listen button, 2) I think we could simplify it to just the year for the wording (im

[2019-12-22 04:47] BrittanyBunk commented on #679
there's more, but we'll start there.

[2019-12-22 09:57] lsarni commented on #2610
@jdlrobson I'm working on a patch, I should be able to do the pull request today if the audit passes.

[2019-12-22 10:08] tabshaikh commented on #2517
Great work setting up the local environment but as @mekarpeles pointed out it is a bit tricky as the local environment does not have the API for which you can test it

[2019-12-22 10:32] tabshaikh commented on #2547
Closing this issue as pr merged by @mekarpeles  #2756

[2019-12-22 10:32] #2547 closed

[2019-12-22 11:36] tabshaikh commented on #1995
@jdlrobson Cant, we use autoprefix plugin to prefix the properties in Less v2 https://github.com/less/less-plugin-autoprefix

[2019-12-22 11:43] hari-govind commented on #2726
Sorry I was very busy for two days but I see it is already fixed in the mean time. I'll tackle some other simple fixes like this. Thanks for letting me in on Slack @mekarpeles :)

[2019-12-22 17:46] brierjon opened #2772 "author data dump json malformed for names ending with quote"
Using the ol_dump_authors_2019-11-30 and open refine I found that applying the grel transform to extract the name values from the json provided in the dump results in most correctly being extracted, but 2644 failing.

Transform applied in OpenRefine Version 3.2 [55c921b]: grel:parseJson(value).get("name")

### Evidence / Screenshot (if possible)
I produced the following TSV of the subset of affect

[2019-12-22 20:32] cdrini commented on #2772
When I grep for the second record, I get:

`/type/author    /authors/OL1846932A     1       2008-04-01T03:28:50.625462      {"last_modified": {"type": "/type/datetime", "value": "2008-04-01T03:28:50.625462"}, "type": {"key": "/type/author"}, "name": "Denmark. Arbejdsgruppen vedr\u00f8rende \"Meddelelser om Gr\u00f8nland.\"", "key": "/authors/OL1846932A", "revision": 1}`

i.e. the quotes are escape

[2019-12-22 20:36] mekarpeles commented on #2726
@hari-govind please do! This specific issue is Priority 1 (i.e. this / next week) which is why I jumped in to help :)

[2019-12-22 21:16] tfmorris commented on #2772
`jq` can parse those entries without a problem and, as @cdrini points out, your extract doesn't match the contents of the original file. Here's an extract with 3 of the problematic records as they exist in the original file:
[authors-with-quotes.tsv.txt](https://github.com/internetarchive/openlibrary/files/3992990/authors-with-quotes.tsv.txt)

The only characters which need to be escaped for TSVs

[2019-12-22 21:16] #2772 closed

[2019-12-22 21:27] cdrini commented on #2772
Here are the options I used in postgres: `delimiter E'\t' escape '\' quote E'\b' csv`. I used a "dummy" character that shouldn't appear anywhere as the quote character (i.e. `\b`). Unfortunately it looks like OpenRefine doesn't let you use backslash chars in the TSV options :/ But I was able to think of a  character which OpenRefine _did_ accept which might work...

![image](https://user-images.gi

[2019-12-22 22:13] brierjon commented on #2772
Thanks for the notes, obviously issue created without full review (or reviewing the initial data due to haste of getting the data in after not using openrefine in a while). I've excluded the selection for now and will circle back on this.

[2019-12-22 22:14] #1881 closed

[2019-12-22 22:14] #2706 closed

[2019-12-23 04:04] nsudarsanam commented on #2517
Noticed you have a PR up for this issue, I wish I had known that before I set things up :). Is there another issue I can work on instead?

[2019-12-23 12:10] tabshaikh commented on #2517
@nsudarsanam No worries it's great you have set up the local environment can you tell me which issues like frontend, the backend would you be interested in solving so that I could tag you in those issues

[2019-12-23 21:09] BrittanyBunk opened #2775 "Frequently used float to top in language input box"
Instead of typing in the language in the box repeatedly, if someone already typed in the language before, they could just click the box and the most recent languages that were typed in before will appear.

When adding another language, the frequently used will appear there too.
![image](https://user-images.githubusercontent.com/55302685/71380782-73173400-2585-11ea-862d-5d5c21df0fe4.png)

[2019-12-23 22:29] #2692 closed

[2019-12-23 23:29] cdrini commented on #2665
Closed by #2776

[2019-12-23 23:29] #2665 closed

[2019-12-24 04:36] nsudarsanam commented on #2517
Thanks @tabshaikh, I'd prefer backend issues over frontend. I have sometime this week and next so if you find anything that seems worth taking a look at, please send them along my way!

[2019-12-24 17:07] guyjeangilles commented on #2402
I'm going to close since we couldn't reproduce. We can reopen if this issue pops up again.

[2019-12-24 17:07] #2402 closed

[2019-12-24 17:17] guyjeangilles commented on #1040
@tabshaikh labeling you as lead, but not necessarily as assignee

[2019-12-24 17:35] guyjeangilles commented on #524
#523 was closed, @mekarpeles should this be closed too?

[2019-12-24 18:39] guyjeangilles commented on #830
@salman-bhai Any updates?

[2019-12-24 18:59] mekarpeles opened #2777 "Return book button should go to loans page not editions page"
"Return Book" workflow. when you return a book through your "My Loans" page you are redirected to the edition page of the book you just returned. is that because there is an assumption that many want to re-borrow? i'd think you would 1) remain on the "My Loans" page, 2) that book would disappear and then 3) you could possibly return others. redirecting to the page of the book you just returned see

[2019-12-25 00:32] jdlrobson commented on #1995
Yes we can, but we should review the existing css rules we havea and get them using mixins as an intermediate step. code will look a little messy and confusing if we have vendor prefixes in source code too, right?

[2019-12-25 00:58] mekarpeles commented on #2777
I think this can be done within the return code in plugins/upstream/borrow.py or core/lending.py?

[2019-12-25 16:55] nsudarsanam commented on #2396
@tabshaikh would this be a good first issue to look at? I can take a stab this week if so.

[2019-12-26 22:20] mekarpeles commented on #2745
@ScarlettRed thanks for submitting a PR for this!

[2019-12-26 22:21] #2745 closed

[2019-12-27 06:12] BrittanyBunk commented on #2642
@cdrini Thanks. I do notice that it is now randomizing. I'll start a new issue for new carousels. Thanks for helping this in the right direction.

[2019-12-27 06:18] BrittanyBunk commented on #2640
@guyjeangilles @cdrini I was wondering if we could revisit this, as it's a really simple fix to add the one link ('edit books') to the recent changes page. Then it could get closed. That is, if everyone thinks is good to add. I think it's really helpful to see the actual changes happening that are not just everything (which is mostly accounts and lists created). It would be called "book edits" and

[2019-12-27 06:40] BrittanyBunk opened #2780 "Add 'recipes' carousel to home page"
The recipe books that I've uploaded seem to be popular. So adding them to the front page would make them more accessible, as I feel people would use them a lot and it's a way to encourage good health.

What I'm trying to figure out, is what's included in here?
- Since the health ones are popular too, I would assume that this would include maybe remedies too - as the popular ones talk about individ

[2019-12-27 06:54] BrittanyBunk commented on #2084
Here's my thought:
- Main site: the selection for book covers should have the title and author clearly visible, preferably with a picture that visually describes what the book's about and differentiates it from other editions
- Mobile: have the cover image and when a person taps it, it'd display (as an overlay over the cover, making the cover go opaque in the back behind): the 1) title, 2) read/bo

[2019-12-27 07:27] BrittanyBunk opened #2781 "Create better pages for libraries on OL"
https://openlibrary.org/libraries/boston_public_library looks really bad (all of the library links I looked at do - but I only saw 2). I mean, I think something simplistic like the author pages would work. What's missing:
1) similarity to author pages (except, should libraries put their entire catalog on their page - like link every OL work onto their page? If so, maybe they'll need more structure

[2019-12-27 07:43] BrittanyBunk commented on #2640
I don't think that'll make the issue closed, as then there are still the 'new accounts' to add too. Those two are what's left.

[2019-12-27 07:46] BrittanyBunk opened #2782 "Separate stats by date (s2)"
I can't click on stats individually to know what's going on. When I click anywhere, it just shows me from the most recent edits without being able to filter by date. It would be awesome if I click on a date, then it'd take me to that date in the stats direct page. Then I could see individually what's going on.

Overall, there's just a lack of interactivity with the data for users that I would like

[2019-12-27 08:06] BrittanyBunk opened #2783 "Better directs for stats pages (s1)"
Right now, here's the pages when clicked on for each stat:
Around the Library  Here's what's happened over the last 28 days. More recent changes.
1. Unique visitors -> https://archive.org/stats
2. New members -> https://openlibrary.org/recentchanges
3. Catalog edits -> https://openlibrary.org/recentchanges
4. Lists created -> https://openlibrary.org/lists
5. Ebooks borrowed -> https://openlibrary.

[2019-12-27 08:11] BrittanyBunk opened #2784 "Better homepage stats (s3)"
1) a separation of catalog edits by humans and bots would be cool to compare.
2) All time stats (a.k.a. accumulation updates): show the current total number of each stat and list it underneath the monthly breakdown (like under 'lists', it'd have the # for the total of lists on the entire website underneath)

After this, it's community discussion. Should there be more or less? Should it have, say '

[2019-12-27 18:36] BrittanyBunk commented on #2727
Can't we have it to where if someone moves all the editions out of the work, it goes away (especially because it was an error for it to exist)?

[2019-12-27 18:41] BrittanyBunk commented on #2723
You're asking for a search bar for a list when clicking on it? This really is part of a bigger issue, where when clicking on anything - authors, works, etc. - it's not possible to alphabetize or search. I mentioned it on #2741 too, but for authors.

[2019-12-27 19:23] BrittanyBunk opened #2785 ""Cover guidelines" link shows up when adding authors images"
This should not appear when doing so. Instead, maybe 'author guidelines' could go there.

[2019-12-27 19:49] BrittanyBunk opened #2786 "Grouping edit ideas for author page layout here (a2)"
The author pages layout right now, I feel, are creating issues due to vagueness. People are adding books to the wrong author and also creating multiple authors (and even bots too). So I'm grouping everything here:
- title tab: #2663
- ID's: #853, #2786
- identifiers: Birthplace, Education (degrees and university), Companies worked at (and when), profession (extremely important, #145), pseudonym (d

[2019-12-27 20:17] BrittanyBunk opened #2787 "Add authors in by OL ID # (a3)"
This is not the most important issue for improving the author pages. When there're multiple authors, it's difficult to pick the right one. However, if a person (or bot) knows of the OL ID, then they could add that in - instead of choosing among different ones and accidentally picking the wrong one.

It is however an important issue, because I can't add some authors (that already exist) on a work's

[2019-12-27 20:28] BrittanyBunk opened #2788 "Edit wording for counts under author's name in search (a4)"
One example is on https://openlibrary.org/search/authors?q=john+o%27reilly where if I click on https://openlibrary.org/authors/OL7317095A it shows 1 work. There are so many like this:
![image](https://user-images.githubusercontent.com/55302685/71531571-20e75300-28a4-11ea-9660-ad7d3c2e0a5b.png)

So I'm proposing a reword from "**0 books**, including") to say instead: "**# Ebooks**, # Works, # Editi

[2019-12-27 21:59] tfmorris commented on #2727
@hornc Is there a branch with this work on it?

[2019-12-27 22:05] tfmorris commented on #364
@mekarpeles Can you expand on the rationale for this? Normally we close feature requests when they've met the needs of the requester.

Can you clarify what is currently implemented? Exact full match only? Prefix match? Embedded keyword? (Sounds like definitely not the latter)

[2019-12-27 22:07] tfmorris commented on #2723
@guyjeangilles It would be a combination of UI plus Solr. It's a new feature which would not fall naturally out of the general Solr upgrade project.

[2019-12-27 22:13] tfmorris commented on #2786
@BrittanyBunk Exactly right. That was a record with books from many authors conflated together. The correct solution is to move them to the correct specific author pages and then delete this page when it's empty. By converting it to be about just one of the authors represented, you've changed the meaning/identity of the record.

The mess was caused by bad MARC import code, not by a bad UI.

[2019-12-27 22:16] tfmorris commented on #2787
The author autocomplete dialog accepts OL IDs. If you find a place where it doesn't, please be specific about where and it can be fixed.

The time lag for index updates is a separate, unrelated issue which also affects usability of the author autocomplete dialog.

[2019-12-27 22:19] tfmorris commented on #2788
We don't currently track total edition count, so this would need to be added to the index.

What value would it add to the user?

[2019-12-27 23:05] BrittanyBunk commented on #2784
@jessamynwest since you're a stats person :)

[2019-12-27 23:41] cdrini opened #2789 "BWB prices/sponsorship not working"
### Summary
- Functional outage of sponsorship from 2019-12-27 00:09 EST - 18:00 EST (~18 hours)
- Investigators: @mekarpeles @cdrini
- Cause: BWB API updated to using https exclusively, causing some outdated python packages to start failing
- Fix: Update the packages and `pip`

### Time Log

- @cdrini **2019-12-27 00:09 EST** noticed BWB prices/sponsorship button missing; notified @mekarpeles
  -

[2019-12-27 23:43] #2789 closed

[2019-12-28 00:59] tfmorris commented on #2789
It seems like another useful/necessary followup would be to audit all of our outbound requests to see if there are any remaining which use http instead of https. These are bad practice to start with and are likely to start failing as folks tighten up their security. Any endpoints which offer https support should be switched immediately.

[2019-12-28 02:47] hornc commented on #2784
The bots vs users and different  kinds of edits breakdown are available from https://openlibrary.org/recentchanges and there are a few other url parameters that could have better links if we need them. Does this cover some of these requirements?

[2019-12-28 16:58] BrittanyBunk commented on #2786
@tfmorris the page shouldn't be deleted, as it's for the musician. It's just that the ones that don't belong need to go.

I thought it was supposed to be about the one author I made it to be, which is why I put all the books there. What should I do now?

[2019-12-28 17:03] BrittanyBunk commented on #2787
@tfmorris You're right, I see it now - it does work. I guess the issue is when I first create a new author, it doesn't use the OL ID right away. So I think that's where the website should work on accepting it - like allowing people to enter in the new author ID in right after it's created.

[2019-12-28 17:04] BrittanyBunk commented on #2787
so should I leave it open to be worked on for being faster in acceptance of the newly created authors, or close it, as it's not an issue?

[2019-12-28 17:06] BrittanyBunk commented on #2788
@tfmorris me personally - if I see that the editions number is lower - when it's supposed to be higher (and another author's vice versa) - I know something's wrong and I can correct it.

For the average user, maybe they like looking through many editions, or maybe they don't. It helps them decide when it's there. Maybe one day, they don't want to scroll through a lot, and other days they do. So co

[2019-12-28 17:08] BrittanyBunk commented on #2784
@hornc I think I meant that the separation's on the home page - as what you're talking about is the page one gets directed to when clicked on. If those stats could be separated on the home page, that would be cool.

[2019-12-28 21:45] jdlrobson commented on #2006
Maybe we want to expand this issue to be a redesign given the comments by @BrittanyBunk in https://github.com/internetarchive/openlibrary/issues/679#issuecomment-568232398

[2019-12-29 16:02] BrittanyBunk opened #2792 "Input boxes on /edit pages too small"
Boxes that have a lot in it are too small to write in. When I'm trying to look through them or highlight to copy/paste, it's really difficult and tedious when working with the small boxes. Recommendations:
- "How would you describe this book?"
- Table of Contents
- Any notes about this specific edition?
- Description of this edition

There's space on the pages for this, so it shouldn't be an issue

[2019-12-30 06:23] LeadSongDog commented on #2792
Boxes used to be resizable. This is some kind of regression.

[2019-12-30 20:25] BrittanyBunk opened #2793 "Need for stats on profile pages (s4)"
I'm not entirely sure if we need statistics on each individual member's profile, but I brought it up, because it may be a good idea (maybe others could say their thoughts about it too). If I was to see stats though, here are my ideas:
- number of:
1. lists
2. books currently/have/want to read
3. times a person's profile got viewed
- edits - # of, type
- achievements - # of: new books (editions/wor

[2019-12-31 02:00] cdrini opened #2794 "Record updating API 500s when utf8 characters present"
Not sure if I this is the actual cause of the problem, but that's my leading hypothesis right now. Could be an error in the JS as well, maybe?

### Steps to Reproduce

1. Login and go to https://openlibrary.org
2. Try to run the following in the browser's console:

[code]

* Actual: status 500: Internal Error
* Expected: status 200

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?**

[2019-12-31 02:01] mekarpeles commented on #2783
This groups far too many things together to be able to solve. Let's please create very specific issues w/ clear beginning and ends (e.g. "List page styling broken"). As is, this issue is a collection of notes and it would be very difficult for a developer to come in and start working on one of them.

[2019-12-31 02:01] #2783 closed

[2019-12-31 02:11] mekarpeles commented on #2793
1. You can see their lists by going to https://openlibrary.org/people/ImportBot/lists
2. Currently want to read (i.e. reading log) is private by default and so we actively don't show this yet -- since lists are public, it looks like reading log may also go this direction for **new** users that signup (existing users won't be affected, unless they decide to make their reading log public).
3. I am n

[2019-12-31 02:11] #2793 closed

[2019-12-31 02:14] mekarpeles commented on #2781
We used to have a /libraries page. These libraries are a part of a legacy program which Brewster decided to discontinue. It's more likely we'd delete these then invest time in fixing them. Classifying as `Will Not Fix`

[2019-12-31 02:14] #2781 closed

[2019-12-31 02:15] mekarpeles commented on #2780
We're actually going to be moving away from having Book Subjects on the homepage.

Instead the plan is to have the /subjects page be a landing page with subject-specific carousels.

It may in fact even have a Recipes carousel!

[2019-12-31 02:15] #2780 closed

[2019-12-31 02:16] mekarpeles commented on #2784
I think, at this point, our display of stats should serve very specific use cases from the community which aren't being served. We do have an issue regarding our stats #2481 but we just don't have the engineering bandwidth to implement stats across the website.

[2019-12-31 02:16] #2784 closed

[2019-12-31 02:18] mekarpeles commented on #2785
@seabelis tagging you in case you feel there's a useful change in copy we may want to apply, or if we should e.g. hide cover instructions for authors covers.

Thanks @BrittanyBunk !

[2019-12-31 02:21] mekarpeles commented on #2787
This issue should be closed; the issue has been resolved.

[2019-12-31 02:21] #2787 closed

[2019-12-31 02:27] mekarpeles commented on #2782
What individual stat do you need? How many people will need this feature? What's the compelling use case? Is there no way to get this information from the data? If not, then how will we get this data? If we need to build something, why is the engineering effort justified for the outcome (how valuable, e.g. in $'s) is the outcome? Consider that a project which takes 1 week may cost ~$5k in engineer

[2019-12-31 02:28] #2782 closed

[2019-12-31 02:29] mekarpeles commented on #2792
@LeadSongDog is there any /edit page in the wayback machine which may be able to show us what these used to look like?

[2019-12-31 02:33] mekarpeles commented on #2788
"books" in this case means works, not ebooks.

The real problem is the `solr` Author indexing seems to be completely stale, which is documented in #628.

Closing this issue now that it's use case is linked to #628. Thank you!

[2019-12-31 02:33] #2788 closed

[2019-12-31 02:39] mekarpeles commented on #2786
@BrittanyBunk this seems like a conversation which should be continued on slack; the solution likely requires human intervention, I believe (and not an engineering solution).

[2019-12-31 02:39] #2786 closed

[2019-12-31 02:40] mekarpeles commented on #2691
As per our previous conversation, I'm going to close this issue now that feedback has been collected and leave it to @seabelis to drive next steps. (Lisa, feel free to re-open if you feel that's the right step)

[2019-12-31 02:40] #2691 closed

[2019-12-31 02:43] mekarpeles commented on #2751
This is a very long conversation. Given the feedback I've seen here, it seems like action is not required -- the notes section seems sufficient. Leaving/deferring to @seabelis in case she disagrees :)

[2019-12-31 02:43] #2751 closed

[2019-12-31 02:44] mekarpeles commented on #2733
Thank you @dcapillae! Noted! :)

[2019-12-31 02:47] mekarpeles commented on #2775
A dropdown may be a better affordance (i.e. autocomplete).

[2019-12-31 02:48] mekarpeles commented on #2741
@BrittanyBunk please only 1 issue per thread. An issue should addresses exactly one problem (unless it's designed as an epic/project). :)

[2019-12-31 02:52] mekarpeles commented on #2670
This is known / intentional; closing as not an issue / will not fix (unless there's a critical reason it should be changed)

[2019-12-31 02:52] #2670 closed

[2019-12-31 02:55] mekarpeles commented on #2728
I think the spirit of my original statement was, there are literally books that do already exist on Open Library which don't show up under any search results (not: what `types` should be searchable).

That doesn't diminish the usefulness of this issue, just a note.

[2019-12-31 02:58] mekarpeles opened #2795 "Standardize CTA-btn metrics reporting"
Related to #1184, our call to action buttons (of borrow, read, etc) are not consistent on how they record metrics. They use several different names.

There's a patch for this already @ https://archive.org/~mek/cta-analytics-fix.patch

[2019-12-31 14:49] BrittanyBunk commented on #2741
@mekarpeles right. I was just kind of brainstorming whether it goes with this issue or a new one. I guess it didn't come across that way, so I apologize.

[2019-12-31 14:51] BrittanyBunk opened #2796 "ability to alphabetize lists/author pages"
there's no capability at the moment.

[2019-12-31 15:07] BrittanyBunk commented on #2775
@mekarpeles It's already like it. It's just the most frequently used (like if I typed it in 3 times) would be at the top of the dropdown menu that currently exists:
Like if my top 2 languages were English and Latin, this is what it would look like (different for someone else):
![image](https://user-images.githubusercontent.com/55302685/71625323-052dc680-2b9c-11ea-83c3-6679c24988dd.png)
Definitely

[2019-12-31 15:11] BrittanyBunk commented on #2786
@mekarpeles I don't get what needs to be continued on Slack. Maybe some of it where we take out the works from underneath the author that don't belong. The rest of it should stay open: the part about having fields for identifiers. This is an engineering solution, requiring codes to add in field boxes onto author pages with the identifiers and other items I mentioned on author pages.

 I mean, we c

[2019-12-31 15:14] BrittanyBunk commented on #2792
@mekarpeles the wayback machine wouldn't save something like that, as you need an account to access that part - and the wayback doesn't allow for that.

[2019-12-31 15:18] BrittanyBunk commented on #2782
@mekarpeles it's kind of tricky to talk about this and answer all the questions if it's closed, as I'm confused as to whether it makes sense to answer it all.

[2019-12-31 15:55] BrittanyBunk commented on #2784
@mekarpeles I have an idea. There are many free plugins and widgets on the internet. I found this one: https://clustrmaps.com/. Just having that on the unique visitor's page would be better. I mean. it might be better if the pages aren't able to be clicked on, as it doesn't really have usable stats for users. Or, a lot of the ones that aren't usable to the community are removed, so the ones that d

[2019-12-31 16:06] BrittanyBunk commented on #2780
@mekarpeles cool. Another thought: what if the book subjects are on the home page and when clicked on, people can view the carousels - so the info's easy to get to? Like I wouldn't want to go through 20 carousels just to get to the recipes one. It's too cluttered that way. Icons (for mobile at least) would be nice. I mean, I don't want to get in the way of the progress/thoughts of what you're work

[2019-12-31 16:10] LeadSongDog commented on #2792
@mekarpeles
Just as the input box I am now typing in on github. The bottom right corner has a grab handle for resizing. It seems to be present today on Win7Pro (both Chrome and FF). Not sure what has changed.

[2019-12-31 16:21] BrittanyBunk commented on #2793
@mekarpeles the first link had a gateway timeout and the 2nd I don't have permission for.

These are made public if so chosen. I guess it's not important (as it's shown on the next page), but those numbers on the next page (if they're shown on the homepage of the links) I think is what I was saying. So the https://openlibrary.org/people/hawaiisunfun/books/currently-reading shows 0, 59, and 4. I th

[2019-12-31 16:25] BrittanyBunk commented on #2792
@LeadSongDog I see the grab handle on mine too. I'll close it out.

[2019-12-31 16:25] #2792 closed

[2019-12-31 16:31] BrittanyBunk commented on #2783
@mekarpeles I'm not sure I understand. Should I delete all my examples, create individual issues per example, or start with a new issue (maybe close this out) and add 'list page styling broken'? This will help me write clearer issues to work on.

[2019-12-31 23:40] mekarpeles commented on #2796
@BrittanyBunk what does it mean to alphabetize lists/authors pages? i.e. alphabetize the books in author pages? The items on list pages? The issue description requires more detail.

[2019-12-31 23:42] mekarpeles commented on #2775
Ah, I don't think this is worth the engineering effort to implement. It's not a common enough operation to optimize. Tagging as will-not-fix.

[2019-12-31 23:42] #2775 closed

[2019-12-31 23:49] BrittanyBunk commented on #2775
@mekarpeles I agree that it's not worthwhile to do something expensive (I prefer costs stay low, so I don't feel compelled to donate). It's just out there when the time comes that it's needed :)

[2019-12-31 23:57] BrittanyBunk commented on #2796
@mekarpeles right, so let's take https://openlibrary.org/authors/OL9388A/William_Shakespeare for example (I mean, it's an example - as people will say not authors are this long). To find the work I'm looking for through this page would require me to click through every page # until I find it (which is really difficult when there's so many: almost 9000 on this author alone).

That is why I'd propos

[2020-01-01 08:56] koderjoker opened #2798 "Fix HTML Validator errors for templates"
Child issue of #163. Aims to resolve all HTML validation issues associated with templates.

### Related files
Folders
- [ ] account
- [ ] authors
- [ ] books
- [ ] contact
- [ ] covers
- [ ] email
- [ ] history
- [ ] home
- [ ] languages
- [ ] lib
- [ ] libraries
- [ ] lists
- [ ] merge
- [ ] publishers
- [ ] recentchanges
- [ ] search
- [ ] site
- [ ] stats
- [ ] subjects
- [ ] type
- [ ] work

F

[2020-01-02 10:29] justcomplaining opened #2814 "Automatically show Wikipedia article in user's language when Wikidata id is available"
Follow-up to #537

[2020-01-02 10:46] justcomplaining opened #2815 "Create user language preference setting"
As discussed in #791, internationalization is currently only available through browser settings. This creates problems especially for those who use the site in a language that is ill-supported and who would rather be using it in (e.g.) English without changing their overall browser settings.

It should be possible for visitors to override the browser settings on a site-specific basis, ie just for

[2020-01-02 14:31] justcomplaining opened #2817 "Avoid syntax-sensitive translation strings"
These are strings such as:
"Add another edition of"

A lot of strings use placeholders that allow for restructuring of the sentence, which is great. If the string is intended to preface a text field or dropdown menu, it should not be an unfinished sentence but either a complete question or a netural description of the field to avoid the grammar hassle.

[2020-01-02 14:39] justcomplaining commented on #973
Another big issue is the missing possibility to translate the _subjects_ and _places_!

[2020-01-02 14:40] tfmorris commented on #2817
This is already against the coding/UI guidelines. To make this actionable, please either:
* provide suggestions on how to improve the [style guide](https://github.com/internetarchive/openlibrary/wiki/Frontend-Guide#internationalization-i18n---for-programmers) & translation guidelines
* provide a list of places where these guidelines aren't followed (bonus points if this is in the form of a pull re

[2020-01-02 14:47] justcomplaining commented on #2817
Thanks a lot for the speedy reply! I will try to look into it soon-ish and collect those that I find.

[2020-01-02 15:01] tfmorris commented on #973
Most of this is covered in #2442. I'll update the checklist above as I review the various pages.

[2020-01-02 15:13] tfmorris opened #2819 "Canonical Tags: Subjects to become 1st class objects in metamodel"
Subjects are currently treated as strings, with light normalization to coalesce similar strings, which limits our flexibility to do things like support aliases, multiple languages, metadata such as descriptions, links to Wikidata, etc.

### Proposal & Constraints

Subjects should be first class objects with a set of attributes including:
* key
* preferred label (one per language)
* description (on

[2020-01-02 15:46] tfmorris commented on #973
Subjects have been discussed a number of times both in the context of translation and search aliases, but I couldn't find a ticket that actually addressed it directly, so I've added #2819

@justcomplaining Could you expand on your comment about places? In what context? Places as subjects or places of publication or ...? If you think it's an important feature, perhaps create a new ticket to describ

[2020-01-02 15:51] LeadSongDog commented on #2815
@guyjeangilles
Please tag as "Affects UI"
This is an obvious first step towards #791. Without knowing what language to render, i18n goes nowhere. @justcomplaining is quite right: browser settings are not a substitute for allowing the patron an explicit choice. That is why good multilingual websites put up that selection in a prominent place, either on the menu bar, e.g.
https://www.europeana.eu/po

[2020-01-02 17:24] justcomplaining commented on #973
I was originally thinking about places as subjects, but places of publication are indeed also in need of translation, as are languages and even people (Jeanne D'Arc vs. Joan of Arc for example) or times (e.g. House of Lancaster, 1399-1461).

[2020-01-03 02:38] guyjeangilles commented on #2819
@hornc I added your personal label as I thought it was relevant.

[2020-01-03 06:19] tfmorris commented on #973
Fixing subjects will take care of all flavors of subjects (topics, people, places). Unclear whether subject time periods would get the same treatment or something special, but they'd be internationalized either way.

Publication places are very irregular, context dependent, and require a lot of heavy-duty matching/reconciliation on import. Additionally, I think they're low value, so they're pretty

[2020-01-03 21:24] mekarpeles opened #2820 "Kids carousel query resulting in inappropriate content"
We have a kids carousel on OpenLibrary.org which is populated by an Archive.org ElasticSearch query. The query includes Roald Dahl who has written both kids and somewhat sensitive adult material. In general, the query should be robust to the case where authors may publish both kids and potentially adult material: https://github.com/internetarchive/openlibrary/blob/e24dfe4e9ad375eb654bcfc4b6f81b377

[2020-01-03 21:28] LeadSongDog commented on #2819
@tfmorris
Just spitballing here, but as a transitional step, will we not need to have support for both the existing free-form and whatever structured form is chosen?

[2020-01-03 21:32] mekarpeles opened #2821 "Supplementing Open Library w/ Reading Age Levels"
### Question

This is an investigation to see if there are sources (APIs) w/ Reader Age recommendations, e.g.
https://www.commonsensemedia.org/book-reviews

This issue is closed after it's discussed during a community call

### Additional context

### Stakeholders

[2020-01-03 22:54] BrittanyBunk commented on #2815
since people can create accounts, it would be beneficial for a person to say which language they'd like to see the site in.

[2020-01-03 22:56] BrittanyBunk commented on #2821
It's pretty beneficial to show the grade levels, so kids can read more at their level. Importing the info from a website like the one you posted would make the process of adding in much easier (as it'd be a lot of work to catch up - if possible - manually).

[2020-01-03 23:05] BrittanyBunk commented on #2820
One of the reasons why this would pop up is because on the IA, there's an action to produce subject tags (they are on the OL too). If a person uses the tag Juvenile Fiction when they're uploading to IA, or adding a new book to the OL, then it'll appear. I think the reason why this may happen, is because a person may not know what kids books are (or just do a bulk upload - and don't notice), and it

[2020-01-03 23:51] #2637 closed

[2020-01-04 22:39] BrittanyBunk opened #2823 "Show all button"
For editions, authors, and lists. This would circumvent needing to add in a sort a->z or search bar for searching/browsing through these, as I could just use ctrl+f to find what I need.

[2020-01-04 23:13] BrittanyBunk opened #2824 "Remnant editions remain with work"
Sometimes editions are spread out over multiple works. I combine them together into one work, but works are still around. So to make sure I utilize them, I reuse it by turning it into another work instead of creating a new one. However, the issue is the old edition is still present with a 'read' or 'borrow' button attached to it in lists.

Example:
![image](https://user-images.githubusercontent.co

[2020-01-05 17:53] nsudarsanam commented on #2396
@mekarpeles would this be a good first issue to look at? I have my local environment setup however the previous first-timer issue was resolved.

[2020-01-06 04:13] guyjeangilles commented on #2823
Do you mean, for example, showing every single Work in Open Library's database on one page?

[2020-01-06 04:27] BrittanyBunk commented on #2823
@guyjeangilles no. I mean show all editions on a work's page, all the works on an author/list page too.

[2020-01-06 04:27] guyjeangilles commented on #2824
@BrittanyBunk please try to use one of the issue templates whenever you can. Their structured so that issues can be actionable. I'm not sure I completely following the problem. As I interpret this issue:

- Editions that should be under one Work are spread across duplicate works.
- You move Editions to one canonical Work to resolve the above bullet
- The non-canonical Works are merged into the can

[2020-01-06 04:33] guyjeangilles commented on #2823
I see.

I'll voice my opinion and say that I'm cautious to implement this feature. One of the reasons pages have pagination is to reduce load time. Some Works have hundreds if not thousands of editions and it could cause quite a bit of network strain to load them all onto a page.

[2020-01-06 04:34] BrittanyBunk commented on #2824
@guyjeangilles where are the issue templates? I've never seen them.

It's the last one - when an edition is moved out, their borrow button remains with the work they left.

[2020-01-06 04:36] BrittanyBunk commented on #2823
@guyjeangilles I don't believe that's a good reason, as the first mode that's loaded is the show all -> then it transforms into the pagination. So the pagination takes longer for me to load.

[2020-01-06 04:41] guyjeangilles commented on #2824
@BrittanyBunk So the real problem is that a Edition is left under it's old Work. Not necessarily that the borrow button is there?

They should always come when you press "New Issue". The screen below should look familiar
![issue_templates](https://user-images.githubusercontent.com/7256157/71795555-a30f0e80-303e-11ea-9860-ce5d337ba40f.png)

[2020-01-06 04:42] BrittanyBunk commented on #2824
@guyjeangilles I did use the feature request template. No, the issue is that the borrow button's still there. The edition doesn't stay with the old work, just the borrow button for it.

[2020-01-06 11:09] seabelis commented on #2824
This is a valid issue. I believe this has to do with the old work IDs remaining on the IA records. There may already be an open issue for this.

[2020-01-06 11:19] seabelis commented on #2823
I also use CRTL+F at times, but a search/filter within results would be a better solution.

[2020-01-06 11:43] seabelis commented on #2733
Versatility would be nice. When I want to read a work, I don't necessarily have a particular edition in mind, but when I am reading or have read then it is a specific edition. If it has to be either/or, I think logging an edition is preferred. I agree with @dcapillae that users would usually want to indicate the specific edition; especially if the original work is in a different language than the

[2020-01-06 13:46] seabelis commented on #2695
The profit/loss report for an organisation is what I mean by 'annual report'. I don't dismiss the value in preserving them but I tend to think these are better suited for a document archive rather than the lending library.

[2020-01-06 15:31] BrittanyBunk commented on #2695
@seabelis one of the issues of annual reports is that they don't have an author - which is what would be needed to be a book, right? https://www.tckpublishing.com/parts-of-a-book/. You could see with https://www.jpl.nasa.gov/report/2018.pdf that it has no author - just an administration. There may be annual reports with authors, but I have yet to see one.

I don't believe all reports are not books

[2020-01-06 16:33] cdrini commented on #620
5 has been implemented as librarian feature in #2668 , so closing this.

[2020-01-06 16:33] #620 closed

[2020-01-06 17:32] #2583 closed

[2020-01-07 08:21] seabelis commented on #2695
Archive.org is the document archive; whether there will be a specific interface in the future I really don't know; it's not something that's been discussed to my knowledge. Documents have a different shape than books so I think Open Library is not a good fit for these.

[2020-01-07 08:21] #2695 closed

[2020-01-07 09:29] seabelis commented on #2751
Just to clarify; I mentioned the catalog number can go into the notes section. The imprint, if stated, should go with the edition information.

[2020-01-07 14:17] tabshaikh commented on #2795
If there is a patch do we have to just open a pr for this at OL @mekarpeles ?

[2020-01-07 15:41] tfmorris commented on #2820
The current "kids" preset is:

`'preset:children': '(creator:("parish, Peggy") OR creator:("avi") OR title:("goosebumps") OR creator:("Dahl, Roald") OR creator:("ahlberg, allan") OR creator:("Seuss, Dr") OR creator:("Carle, Eric") OR creator:("Pilkey, Dav"))',`

which seems pretty ad hoc and arbitrary. Why not go with something more supportable like books by winners of the international Hans Chris

[2020-01-07 16:17] tabshaikh commented on #2820
@tfmorris The preset was arbitrary therefore we have removed it and querying archive using subject "Juvenile Fiction" returns kid friendly books which was one of the proposals of @mekarpeles

[2020-01-07 20:49] LeadSongDog commented on #2746
@BrittanyBunk I'm not suggesting we need users to be able or willing to examine the **bots**, but the **data** that is cached for a given work, edition, or author record should in some fashion be made available so that it is possible for us to determine whether it correctly reflects what is displayed in the user interface and vice versa.