[2022-06-09 02:13] #6054 closed

[2022-06-09 17:07] #5194 closed

[2022-06-09 18:17] mekarpeles opened #6646 "Homepage errors and caches empty body"
### Evidence / Screenshot (if possible)

![openlibrary org_ (1)](https://user-images.githubusercontent.com/978325/172916504-fd6ef712-2c36-4f3b-b993-e1fc656d6bca.png)

### Solution

This is the url to hit to clear the homepage memcache entry: https://openlibrary.org/admin/inspect/memcache?keys=home.homepage.en.pd-&action=delete.

Note the `.pd`. Remove that if you want to clear the cache for non pr

[2022-06-09 18:48] mekarpeles opened #6647 "Show count of Reviews on Books Page nav bar"
### Describe the problem that you'd like solved

Currently, the books page Nav Bar shows a number next to editions (e.g. `View 3 Editions`) but no number is included next to `Reviews`. Let's add the number of reviews (i.e. the number of patrons who have submitted review tags for a book) to the nav bar.

![openlibrary org_works_OL1994300W_Echo_Of_Betrayal (1)](https://user-images.githubusercontent.

[2022-06-09 18:53] mekarpeles opened #6648 "Trending Carousel missing default bookcovers"
This is a fairly prominently displayed feature on the homepage so it would be good to get this out quickly if the fix is easy

### Evidence / Screenshot (if possible)

![openlibrary org_ (2)](https://user-images.githubusercontent.com/978325/172922531-d2872dfd-d170-4a37-ac7d-11155ebaf1ad.png)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- *

[2022-06-09 19:54] hornc commented on #856
Closing as resolved, VIAF, ISNI, and Wikidata links are managed and present on the UI. The remaining content of this issue is stale; things have moved on.

[2022-06-10 01:59] cdrini commented on #6640
Can confirm the dumps are identical -_- . @mekarpeles and @cclauss just pushed up the new dump for 06-06 ; that appears to have correct up-to-date information.

[2022-06-10 03:58] hornc commented on #3141
I'm no longer seeing any MissingSchema errors on Docker statup.

[2022-06-10 03:58] #3141 closed

[2022-06-10 04:37] hornc opened #6650 "Local docker `make test` no longer works"
The Docker instructions at https://github.com/internetarchive/openlibrary/blob/master/docker/README.md give the command

    docker-compose run --rm home make test

to run the standard tests. This now fails with:

[code]

`pytest` is not available as a command in the Docker image.

A workaround to run at least the python tests locally is:

    docker-compose run --rm home python -m pytest openlibr

[2022-06-10 05:18] #6573 closed

[2022-06-10 05:18] #6604 closed

[2022-06-10 21:57] neilt commented on #6640
Yes, that worked. The new file now has data through 2022-06-06.

Thanks

[2022-06-11 12:14] cclauss commented on #6650
Strange...  Works for me.

% `docker-compose run --rm home make test`
[code]

[2022-06-12 04:58] mekarpeles opened #6652 "Move msg txt beneath Waitlist Button"
Currently, the text appears first, causing the buttons to misalign in carousels.

Also, we should consider using the same primary action blue for waiting list. The text is descriptive enough, I don't think the red color is necessary.

![openlibrary org_ (3)](https://user-images.githubusercontent.com/978325/173215229-7dd3b675-d96c-453b-b970-15a1f5c423a1.png)

### Describe the problem that you'd lik

[2022-06-12 11:37] Gunther0042 commented on #3456
This is a feature I would very much appreciate. I like dividing my "Want to Read" books into subject categories and the only way to do this currently is with lists. I am fine with lists being public by default but it would be great to have the ability to make a list private. I suppose adding a way to tag and filter books within the reading log lists would also effectively provide the functionality

[2022-06-12 15:47] vchapandrews commented on #6647
Hi @mekarpeles,

(Apologies if this is all useless *garbáge*, this is my first attempt at contributing to an open-source project! :D)

I *believe* the change needs to be made in this file: [EditionNavBar.html](https://github.com/internetarchive/openlibrary/blob/877cc453df06bc59b393b9db7d200789afb7cb6b/openlibrary/macros/EditionNavBar.html) (Shown below)

[code]

# Proposed changes

Change first li

[2022-06-13 15:21] constantinazouni commented on #6652
I think that users are used to connect the blue button with specific actions (borrow, sign up etc). In my opinion the "join waitlist" button should have a different color like orange which is an opposite for blue button and is used for actions like "join". Also, I think that is better not to add info that changes dynamically at a button so I think that the "2 readers in line" should be below the b

[2022-06-13 19:08] #6640 closed

[2022-06-13 19:20] mekarpeles commented on #6648
@cdrini suggests this may be because we're using solr to fetch book records and they may not have covers, in which case we may be able to fall back to the cover service using edition id

[2022-06-13 19:33] #6510 closed

[2022-06-13 19:34] mekarpeles commented on #5402
:ballot_box_with_check:

[2022-06-13 19:34] #5402 closed

[2022-06-13 20:02] cdrini opened #6655 "IASoC Final Details"
Plan + Start date + send thank you emails + send candidate offer

[2022-06-13 20:02] #4875 closed

[2022-06-13 20:03] mekarpeles commented on #5014
We have deactivation but renaming in infogami is not something we can easily do at this time, see efforts above.

[2022-06-13 20:03] #5014 closed

[2022-06-13 20:07] mekarpeles commented on #4151
We've added several checks to prevent certain publishers, notebooks, etc.

@hornc, @cclauss, @cdrini, @seabelis, et al have worked on this process

[2022-06-13 20:07] #4151 closed

[2022-06-13 20:07] mekarpeles commented on #4151
If you notice new checks we should add, please open new PRs

[2022-06-13 20:36] dcapillae commented on #5185
It is working well for me now. It is possible to edit the records without problems. It will take me a while to go through them all, but I would say that the initial issue has definitely been resolved.

[2022-06-13 20:43] #5185 closed

[2022-06-13 23:26] jimchamp commented on #6650
I'm also not able to reproduce this.
@cclauss. do you know if there were any recent changes to our Docker set-up that would require a rebuild in order for `pytest` to work?  I know that we have a dedicated Python image now, but I thought that we added that some time ago...

[2022-06-14 01:56] hornc commented on #6650
Thanks @jimchamp and @cclauss ;  I thought I had updated the Docker images recently, and I couldn't see any recent changes to python modules or pytest. I did a
[code]

then a simple

      docker-compose build

seemed to fix it, with matching pytest versions to what is posted above. I should have tried that first :D

[2022-06-14 01:56] #6650 closed

[2022-06-14 05:51] cclauss opened #6656 "Docker: The "HOSTNAME" variable is not set. Defaulting to a blank string."
I'm always frustrated when Docker warns that `The "HOSTNAME" variable is not set. Defaulting to a blank string.`

### Describe the problem that you'd like solved

As seen by me (macOS) and reported by @hornc in #6650, the problem is that `sh` and `bash` use `$HOSTNAME` while `zsh` uses `$HOST`.
### Proposal & Constraints

The syntax `HOSTNAME=${HOSTNAME:-$HOST}` should ensure that `$HOSTNAME` is p

[2022-06-14 14:21] LeadSongDog commented on #4151
@mekarpeles
It’s great that the spamming will be abated, but will anything be done to clean up the mess left behind?

[2022-06-14 16:08] cdrini commented on #4151
We've bulk deleted a number of things here: https://github.com/internetarchive/openlibrary/issues/4151#issuecomment-1155260465 ; but there are probably more that need to be deleted!

[2022-06-14 16:47] cdrini commented on #6652
Decision on community call:

- Remove "You are next in line!" in carousels
- Remove orange, replace with same blue

Undecided - For the IASoc:
- Switch waitlist to "Place a hold" -- check with IA folks to check consistency?
- Replace preview button with preview link below cover
- "Check libraries" button should be different from the primary blue CTA

[2022-06-14 17:05] cdrini commented on #6637
This is unlikely to be performant in its current iteration, but can provide value if display a little better -- similar to how on books page. Not bringing back until we get lists in solr; then this should be preformant. #3385

[2022-06-14 17:05] #6637 closed

[2022-06-14 17:12] cdrini opened #6660 "Duplicate the pagination widget on lists"
The pagination widget is very low on a lists page, and it can be difficult to recognize there are multiple pages. On other pages, eg https://openlibrary.org/authors/OL218025A/Brad_Meltzer , we have the pagination widget duplicated at the top and bottom of the list of books. Let's do the same!

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

###

[2022-06-14 20:37] #5500 closed

[2022-06-14 20:41] mekarpeles commented on #3282
original link blocked behind password

[2022-06-14 20:41] #3282 closed

[2022-06-15 16:39] mekarpeles opened #6662 "Reading Log Check-Ins"
This feature is required for Yearly Reading goals:

When someone clicks currently reading or already read, present options underneath the button to:
- add/update started date (today by default)
- add a check-in
- add a completed date (today by default)
- if "currently reading" end date shouldn't appear
- if a started date is set, we could show "you started reading on [date]" with e.g. a dotted und

[2022-06-15 18:35] bicolino34 commented on #6662
Related document: https://docs.google.com/document/d/1Zf43Ti6x3LVpPrpDMvoDgtSzxhYBYHSQXcOwHyHB1wU/edit

[2022-06-15 19:55] getuliobr commented on #5436
Hi, is this still available @jimchamp ? I'd like to work on this.

[2022-06-15 20:17] jimchamp commented on #5436
Thanks @getuliobr, I've just assigned you to this.  Please let me know if you have any questions about anything.

[2022-06-15 22:14] cdrini commented on #6377
Ok next full reindex completed earlier today. Let's get some stats and see how it looks.

But first: Let's prepare the solr container on our staging solr server:

[code]

Note the changes to the docker-compose.yml:

[code]

Then we can connect to it (eg `ssh -L 18984:ol-solr1:8984 ...`) Then run the deno stuff above.

And the stats

<html><body>
<google-sheets-html-origin><style type="text/css"></

[2022-06-15 22:50] #6564 closed

[2022-06-15 23:04] #6379 closed

[2022-06-15 23:16] hornc commented on #6634
Thanks for taking this on @scottbarnes

You're looking at the correct page.

I didn't realise that the ISBN13 are currently saved with hyphens -- I consider that to be incorrect. The hyphens should be stripped out before saving to the database. The possible duplicates you noticed are going to be a problem for both ISBN10 and ISBN13.

I tested locally and confirmed that the hyphens are currently sa

[2022-06-15 23:24] cdrini commented on #6377
Updates to get solr-next running:

[code]

# Set solr state file date
docker-compose run --rm solr-next-updater bash -c "
    echo '2022-06-06:0' > /solr-updater-data/solr-next-update.offset
"
docker-compose run --rm solr-next-updater bash -c 'head /solr-updater-data/* && echo'

# Start it up!
OLIMAGE='olbase:solr-next-updater' docker-compose up -d solr-next-updater

# Check logs
docker-compose lo

[2022-06-15 23:35] hornc commented on #6634
Related: #4548

[2022-06-16 04:13] eguo3 opened #6664 "Translate / the Help Page into Chinese"
### Question
Hi! I found that the Help Page (https://openlibrary.org/help) hasn't had a Chinese translation. I tried to add the translation but I don't have permission to edit the page. Could you help me with the permission? Thank you! :)

### Stakeholders
@cdrini

[2022-06-16 16:19] scottbarnes commented on #6634
Thanks for this, @hornc. I will try to come up with some behavior to strip hyphens (and other invalid characters) and check for duplicates in JS at the very least.

[2022-06-16 18:53] #6632 closed

[2022-06-17 05:54] cclauss opened #6668 "Slack credentials must be added to GitHub Action secrets"
`$SLACK_CHANNEL_ABC_TEAM` and `$SLACK_TOKEN` secrets must be added to [GitHub Action secrets](https://github.com/internetarchive/openlibrary/settings/secrets/actions) as discussed in #6661

I do not have the access rights to do this. https://docs.github.com/en/actions/security-guides/encrypted-secrets

### Evidence / Screenshot (if possible)
[code]
### Relevant url?

### Steps to Reproduce

1. Go

[2022-06-18 20:56] scottbarnes commented on #6634
I have created a WIP PR here: #6670. I still need to figure out where to add tests, and ensure what I have done is responsive to the needs of this issue.

[2022-06-19 20:08] elotrocattivo commented on #6648
To narrow down the source of the problem, I scrolled through the carousel a bit and made a list of the ids/titles that didn't show a cover:

OL27704443W – WHY MEN MARRY BITCHES
OL25515697W – Twisted Games
OL27295832W – Reminders of Him
OL13217802W – Quran
OL21155191W – How to Talk to Absolutely Anyone
OL27816616W – 2023 CFA Program Curriculum Level I Box Set
OL27492373W – Life Skills for Teens
OL2

[2022-06-20 18:40] mekarpeles commented on #6664
@eguo3 what is your Open Library username? I can add you to the librarians group so you can contribute these edits

[2022-06-20 19:01] mekarpeles commented on #4548
Go for it @scottbarnes, thank you!

[2022-06-20 19:02] #850 closed

[2022-06-20 19:30] onnotasler commented on #6032
I think all fields necessary are already included in the front end: You have "Language", "Title" and "The Book is also known as" field. If you combine those, you should have all data to show a works title according to the browser's preferred language.

I think, the problem could technically be solved if the work's title was not entered manually, but created automatically according to language sett

[2022-06-20 19:41] cdrini opened #6673 "Constantina's blog post"

[2022-06-20 19:42] mekarpeles opened #6674 "Change homepage trending carousel from 1-day to either 1 or 6 hours (whichever is better)"
In our homepage, we currently render a carousel which shows the books most "trending today":
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/home/index.html#L23

We want to update the plugins/openlibrary/api.py API to allow `/custom?days=&hours=`

https://github.com/internetarchive/openlibrary/blob/628ca04c4f345dfacc44a205f40028af5c60f9f3/openlibrary/views/loanstat

[2022-06-20 19:45] cdrini commented on #6674
Might want to change what the header links to

[2022-06-20 20:01] mekarpeles commented on #6525
Prototype: Create a modal similar to the `share` modal which has tabs for checking Library.Link & Worldcat availability.

[2022-06-20 20:17] cdrini opened #6675 "Merge UI should not allow merge if records have changed in the mean time"
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2022-06-20 21:22] eguo3 commented on #6664
Hi @mekarpeles ! My OL name is eguo3. Thanks! :)

[2022-06-22 02:03] #5436 closed

[2022-06-23 06:50] Jyotiraditya24 commented on #6627
hey, i would like to resolve this problem

[2022-06-23 06:51] Jyotiraditya24 commented on #6627
I am new to open source so how I can get the code of the above website

[2022-06-23 06:59] Jyotiraditya24 commented on #6633
hey , I am new to open source could I work on this issue

[2022-06-23 15:02] mekarpeles commented on #5831
See: https://www.figma.com/file/nVmPYLTaxWWYchVe2ArVbl/Unified-Borrow-Button?node-id=0%3A1

[2022-06-23 16:04] mekarpeles opened #6681 "Improve Main Site Navigation"
The hypothesis is that the Main Site Navigation is not serving our patrons as well as we'd like it to. Google analytics shows us that many patrons who use the website want to check their books page (loans, holds, reading log, etc).

Currently, on both desktop and mobile we offer the options `Browse`, `More`, and an account menu / hamburger menu.

**Desktop**
![openlibrary org_](https://user-images

[2022-06-23 16:30] #6668 closed

[2022-06-23 17:31] mekarpeles commented on #6681
* Discussion around Sign-up an Sign-in options on mobile

[2022-06-23 21:18] jimchamp commented on #6633
@Jyotiraditya24 yes you can!

You will have to make a change in [this template](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/lists/lists.html), specifically in the else block towards the end of the file.

Some of the syntax in our templates may seem a bit strange at first glance.  [This documentation](https://webpy.org/docs/0.3/templetor) should help explain thi

[2022-06-24 13:20] tuminzee commented on #6652
@constantinazouni would you like to work on this issue?

[2022-06-24 13:23] tuminzee commented on #6633
@Jyotiraditya24 how is it going, if you need any help or if you have any issue you can reach out to lead @jimchamp

[2022-06-24 16:26] jimchamp commented on #6627
@Jyotiraditya24 I don't want to overwhelm you by assigning too many tasks.  Will gladly assign this to you once your other assigned issue is complete.

[2022-06-24 19:38] Jyotiraditya24 commented on #6633
@tuminzee I think I have solved the issue will be opening a pr soon

[2022-06-25 18:24] mekarpeles commented on #6542
@tuminzee this is still open and help wanted.

Also, if possible, let's please move "Hits" underneath the search results, e.g.
![search-nav](https://user-images.githubusercontent.com/978325/175785963-d443625c-961d-4d9f-af3a-7b6c76b62e3c.png)

[2022-06-25 22:27] #6633 closed

[2022-06-26 03:07] #6656 closed

[2022-06-26 22:50] cclauss commented on #3926
# This page has been deleted

[2022-06-26 22:50] #3926 closed

[2022-06-27 18:59] mekarpeles commented on #6664
@eguo3 you should now have librarian permissions!

[2022-06-27 19:06] #6655 closed

[2022-06-28 08:16] digitals82 opened #6694 "Ability to read entire embedded books from an external website."
Hello,

I'm creating a website to house a specific genre of young adult books that are hosted on OpenLibrary. My goal is to make reading as fun and accessible for kids to navigate as they would Netflix and to also promote new books and authors. The website has been created using a Netflix-style plugin on WordPress. However, there is one major issue that is defeating the purpose of this whole websi

[2022-06-28 16:13] cdrini opened #6695 "i18n Contributor Roles"
On the `edit` UI we want patrons to be able to see i18n'd text for the author or contributor roles dropdown (e.g. `editor`).

Under the hood this may us a schema similar to how we i18n'd the the language names in #6246

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-06-28 17:12] seabelis opened #6696 "Text difficult to select when merge tool enabled"
The item selection for merging interferes with text selection on search results page.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...https://openlibrary.org/authors/OL19677A/Chekhov_Anton_Pavlovich
2. Do ...try to copy a work title

* Actual: Item is selected for potential merge
* Expected: Text should be selectable

### Details

- **Logged in (Y/N

[2022-06-28 22:46] cdrini commented on #6696
The approach we'll try is:

First try making it so that when the `mouseup` or `click` handle that adds the selection fires, it will do nothing if there is a text selection in the current element.

If that is good enough, ship it! Otherwise we can make clicks in the title/author section not trigger book selection.

[2022-06-29 18:27] #6664 closed

[2022-06-29 18:50] #201 closed

[2022-06-30 19:02] #6652 closed

[2022-07-01 11:56] hornc commented on #6132
@seabelis No, I don't think I did this on purpose at all -- sorry. I don't remember doing this, I may have fumbled something on my phone interface when reviewing notifications some time ago. I'll close it.

[2022-07-01 11:56] #6132 closed

[2022-07-02 08:34] bicolino34 opened #6705 "Profile hamburger doesn't override "More" navigation button on Desktop"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/58372007/176993179-3b502a97-27a9-4744-a457-3d7660ef95f5.png)

### Relevant url?

### Steps to Reproduce
1. Go to any page
2. Do open browser for half a screen and open profile hamburger

* Actual: hamburger dropdown doesn't override "More" button
* Expected: hamburger dropdown overrides "More" button

### De

[2022-07-05 01:55] scottbarnes commented on #6705
I'd like to try addressing this, either by adjusting the z-index or some sort of relative/absolute positioning. I'll submit a PR and we'll see if it's any use.

[2022-07-05 05:27] scottbarnes commented on #6705
I created a PR at #6708.

[2022-07-05 15:12] mekarpeles commented on #6694
Since this can't be solved on openlibrary.org, closing the issue and will have @bfalling followup here once there's more info

[2022-07-05 15:12] #6694 closed

[2022-07-05 15:18] #6705 closed

[2022-07-05 16:54] bicolino34 commented on #682
Should this issue be closed? Now this contributor role has form "**Narrator/Reader**".
![зображення](https://user-images.githubusercontent.com/58372007/177378076-4b959adc-0aac-44af-bad0-f1891c1f9fd8.png)

[2022-07-05 17:59] seabelis opened #6709 "Add Sambahsa to language selection"
Sambahsa is missing from language selection when adding a book.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...https://openlibrary.org/books/OL38582732M/Ocolo_id_specule_ed_quo_alice_trohv_ter/edit
2. Do ...try to add Sambahsa as a language

* Actual: language not available
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?*

[2022-07-05 23:33] digitals82 commented on #6694
Great, thank you @mekarpeles ! I'm glad you like the project. If it takes off, I plan on branching out with different genres of children's literature!

I am currently paying a web developer to see if they can solve this issue, do you think it is something they can achieve, or would it only be possible to do it internally by @bfalling ? Perhaps I can shoot you a quick email?

Thanks again, I really

[2022-07-06 06:10] architsinghal-mriirs commented on #6660
Hi @cdrini , I'd like to work on this issue. You can assign this issue to me !
Thanks and Regards
Archit Singhal

[2022-07-06 06:11] architsinghal-mriirs commented on #6647
Hi @vchapandrews You should link the PR here.

[2022-07-06 07:03] #682 closed

[2022-07-06 16:29] mekarpeles opened #6710 "Create Figma Mock-ups of Books Page (Mobile, Desktop)"
Presently, it is difficult to prototype and discuss design changes to the Books Page. By creating a figma mock-up of the Books Page for mobile and desktop, we hope both to develop a sustainable place for design development and collaboration on the Books Page and develop assets/components (such as buttons) which can be integrated into a component and design library.

EDIT: Hayoon has achieved this

[2022-07-06 16:29] #6710 closed

[2022-07-06 20:15] cdrini opened #6712 "Replace db edition checks on books page with editions in solr"
Now that we have #6377 , we can replace the db call on work pages to find the best edition with a solr call to find the best edition. This has the benefit of being faster for works with many editions, and being able to take into account information like use language, so eg it won't randomly choose like a Turkish translation of Harry potter. Unless the user speaks Turkish.

[2022-07-06 20:37] cdrini opened #6713 "Add Google Sign in support"
Use an iframe based approach to allow login into open library using a google account, similar to archive.org

[2022-07-06 20:50] cdrini opened #6714 "Improvements to mobile book page UX"
- [ ] Investigate/gather feedback on current mobile UX issues

[2022-07-06 20:50] jimchamp opened #6715 "Librarian Merge Queue: Create merge requests for Super Librarians"
Ensure that a merge request is created for super librarians when they merge works with the ILE,

[2022-07-06 20:50] cdrini opened #6716 "Investigate/gather feedback on current mobile UX issues"
End goal is to have proposals we can convert into actionable issues for the epic.

[2022-07-06 20:52] cdrini opened #6717 "Create scaffolding for Design Component library in figma"
### Stakeholders

Dana F, Rodrigo

[2022-07-06 20:59] cdrini opened #6718 "Book Series"
Epic to monitor the implementation of book series.

See also #561

[2022-07-07 14:08] vchapandrews commented on #6647
Hey @architsinghal-mriirs I've created a PR here: #6720

[2022-07-07 23:08] #4071 closed

[2022-07-07 23:08] #6715 closed

[2022-07-10 19:26] #6542 closed

[2022-07-11 15:42] #6647 closed

[2022-07-11 20:29] mekarpeles opened #6728 "Fix Styling of Unified Search"
Currently, if you go to https://testing.openlibrary.org/search and then click through the search navigation tabs, the search inputs, buttons, `hits` styling are all different.

Can we consolidate / fix our styles so that the input boxed, the submit buttons, and the treatments of things like `hits` look consistent across the pages?

See:
https://github.com/internetarchive/openlibrary/pull/6688#pull

[2022-07-12 04:46] Calerid commented on #6728
I will take a look at this.

[2022-07-13 18:26] DuncanDHall opened #6737 "incompete dates on AO items default to XX00 dates"
Old issue raised by Jeff Kaplan in 2017 in Jira: https://webarchive.jira.com/browse/OL-317

When a book's archive.org/metadata lists publication date as `"[18--?]"` it shows up in openlibrary as specifically `"1800"`.

### Evidence / Screenshot (if possible)
https://archive.org/details/plaintalesfromth00kipliala
![image](https://user-images.githubusercontent.com/16824525/178803202-9d862aa3-29bd-45

[2022-07-14 07:01] bicolino34 opened #6740 "When you add a subject to list, the list is shown twice on subject page"
When you add a subject to list, the list is shown twice on subject page.

### Evidence / Screenshot (if possible)
https://openlibrary.org/subjects/litrpg
![зображення](https://user-images.githubusercontent.com/58372007/178920684-82f33cc5-4203-42e3-8fbf-a0c32dbc3d8f.png)
https://openlibrary.org/subjects/dictionaries
![зображення](https://user-images.githubusercontent.com/58372007/178921292-848cfb3c

[2022-07-14 16:41] #6519 closed

[2022-07-14 20:31] #6492 closed

[2022-07-15 04:49] seabelis opened #6745 "Works not migrated following author merge (probably solr-related)"
I'm not sure yet if this is a one-off, but there may be a problem with works not migrating following an author merge. First noticed following 7/14 deploy.
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/recentchanges/2022/07/14/merge-authors/94566708
### Steps to Reproduce

1. Go to ...https://openlibrary.org/authors/merge?key=OL5499121A&key=OL237100A
2. Do ...

[2022-07-15 06:06] seabelis opened #6746 "Confirmation following work merge is broken"
The confirmation message following a work merge previously indicated which IDs had been merged. Now the message just says,
`[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[obj

[2022-07-15 12:58] seabelis commented on #6745
Seems to be a solr issue. Will re-open if otherwise.

[2022-07-15 12:58] #6745 closed

[2022-07-15 15:14] #6437 closed

[2022-07-16 18:47] #6740 closed

[2022-07-16 19:37] #6511 closed

[2022-07-16 19:42] mekarpeles opened #6752 "Bulk Redirects Test Run & Cron"
See: https://github.com/internetarchive/openlibrary/issues/6667#issuecomment-1186275514_

Doing a team review of a few more examples prior to running resolve redirects bulk code over a larger batch of records (and discussing how it should ultimately be run; e.g. cron?)

[2022-07-17 07:27] cclauss opened #6755 "Create more Python type hints from type comments"
I am always frustrated when I see Python function comments that contain type information that cannot be used by [`mypy`](https://mypy.readthedocs.io/en/stable).

### Describe the problem that you'd like solved

Use the information in the type comments to create [Python type hints](https://mypy.readthedocs.io/en/stable/cheat_sheet_py3.html) that `mypy` can use to find errors in our code.
https://gi

[2022-07-17 16:18] scottbarnes commented on #6755
I'd love to help with this. I will start from the bottom of the list created by ```git grep -E ':param|:rtype'``` and work up, creating PRs for each batch of five files.

[2022-07-18 18:56] mekarpeles commented on #6714
@hayoonch if you reply on this thread I can assign this milestone project to you :)

[2022-07-18 20:05] hayoonc commented on #6714
Sounds good! Hopefully, replying like this works?

[2022-07-19 11:30] bicolino34 opened #6759 "LearnAwesome.org ID isn't clearly visible"
### Evidence / Screenshot (if possible)
![зображення](https://user-images.githubusercontent.com/58372007/179740005-fc5f40fd-39d3-447c-bc58-c9a4171a6fb1.png)

### Relevant url?
https://openlibrary.org/books/OL32336498M/Atomic_Habits
### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?** Firefox 103 (64-bit)
- **Operatin

[2022-07-19 15:06] bsvka opened #6761 "Modal icons broken on orphaned edition pages"
### Evidence / Screenshot (if possible)
![foo](https://user-images.githubusercontent.com/109389712/179783906-e319fd69-3d8e-4cf1-8306-2870aa2c5cc7.png)

### Relevant url?
Must be logged in
https://openlibrary.org/books/OL9491441M/Murder_at_Government_House_%28Isis_%28Hardcover_Large_Print%29%29?debug=true

### Steps to Reproduce
Open above link while logged in.

* Actual: Error is displayed at the

[2022-07-19 15:10] bsvka commented on #6761
Possibly related to #5404
I don't think I am part of `beta-testers`, as suggested here https://github.com/internetarchive/openlibrary/issues/5404#issuecomment-877432652

[2022-07-19 15:54] mekarpeles opened #6762 "Issues Blocking & Reverting Patrons whose history includes /type/delete"
Related to #5753

Trying to revert patron edits which include `/type/delete` can cause errors. To repro **as an admin**, one needs to use the browser developer tools / inspector to add `?debug=true` to the `<form>` on the admin page for the `block and revert changes` button.

### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/978325/179794562-a231e76d-c847-

[2022-07-19 16:12] DuncanDHall opened #6763 "error on works pages"
`/openlibrary/openlibrary/templates/type/work/view.html: error in processing template: MemcachedKeyCharacterError: Control/space characters not allowed (key=b'gt-availability-"Right Understanding To Helping Others Benevolence"') (falling back to default template)`
`Unable to render this page`

https://openlibrary.org/works/OL17606535W/Right_Understanding_To_Helping_Others_Benevolence

It is the fi

[2022-07-19 20:28] jimchamp opened #6765 "Change `librarian-work-merge` usergroup to more appropriate name"
### Describe the problem that you'd like solved

Today, members of `/usergroup/librarian-work-merge` are able to merge works via the recently released merge works UI.  In the near future, we plan to allow this group to perform other potentially risky tasks that could result in data loss if performed incorrectly.

Since the scope of the usergroup is growing beyond merging works, it makes sense to g

[2022-07-20 04:16] mekarpeles commented on #6762
@jimchamp  See:

[code]

There were 2 problem:
1. edits of /type/delete were breaking things
2. infobase was breaking when save_many request with changeset of 1000 items submitted.

This code ignores /type/delete records and then performs save_many of batches of 100 at a time.

This also fixes a 3rd problem which is, before, we were just fetching 1000 items irrespective of whether the patron had m

[2022-07-20 06:06] seabelis opened #6767 "All book pages associated with authors with many works/editions perform poorly"
Poor performance and slow page loads have been blamed on long edition tables, however this problem appears to be related to the number of book records associated with an author. Work/edition pages for works with even one, unlinked edition take ~30 seconds to load. I have noticed this with Agatha Christie and Anton Chekhov, for example.

### Evidence / Screenshot (if possible)

### Relevant url?

F

[2022-07-20 08:03] bicolino34 opened #6768 "Lists section in nav sidebar in Reading log is rendered incorrectly in Ukrainian and German translations"
Lists section in nav sidebar in Reading log is rendered incorrectly in Ukrainian and German translations

### Evidence / Screenshot (if possible)
English:
![зображення](https://user-images.githubusercontent.com/58372007/179929055-fb737d59-61a2-4019-943b-77a4f85cabfb.png)
Ukrainian:
![зображення](https://user-images.githubusercontent.com/58372007/179929239-8dda1f3a-c311-4f13-932b-8cea41960b45.png)

[2022-07-20 09:09] seabelis commented on #6555
Another example. https://openlibrary.org/books/OL35098930M/American_Librarian?m=history

[2022-07-20 09:18] seabelis commented on #6555
https://openlibrary.org/books/OL36097962M/Grow?m=history

[2022-07-20 15:17] LeadSongDog commented on #6555
@seabelis For those last two ISBNs, BWB found both for me today, although the former had a different cover title. Perhaps it is a transient problem on their end? In any case the need for an archived record (as seen when imported) still seems pertinent.

[2022-07-20 16:46] LeadSongDog commented on #6737
Related discussions on edition date issues: #806 #2039 #2711 #3391 #3421 #3496 #3746 #5333 #6021 #6038

tldr: consensus is to convert to, store, and sort on EDTF formats

[2022-07-20 22:07] jimchamp opened #6769 "Librarian Merge Queue: Create merge request on work merge for super librarians"
### Evidence / Screenshot (if possible)
Today, merge requests are created for all patrons whenever the ILE "Merge" button is pressed.  This is fine for most patrons, but causes problems when a super librarian clicks "Merge" button, determines that the merge is unnecessary, and doesn't reject the request by pressing the red "Reject Merge" button in the merge UI.  This is resulting in a number of re

[2022-07-21 13:58] ollie-iterators commented on #2965
I am wondering if this is completed because https://github.com/internetarchive/openlibrary/pull/6665: Librarian Merge Request Table was merged.

[2022-07-21 22:43] #6762 closed

[2022-07-22 10:54] seabelis commented on #6555
In these cases, the books were imported prior to publication and it seems their details hadn't been finalized. As far as I'm concerned that = "not a book".

[2022-07-22 11:02] seabelis opened #6774 "Make it possible to undo work merge"
When authors are merged, it is (usually) possible to "undo all" with one click. See https://openlibrary.org/recentchanges/2022/07/22/merge-authors/95371217, for example. However, the same is not true for a work merge. Instead, the IDs must be found in the edition or user's history and reverted individually. This also makes it difficult to review a merge for accuracy.

### Describe the problem that

[2022-07-22 12:55] LeadSongDog commented on #6555
@seabelis Do you think it should be a general rule that c.I.p.=not a book, or is that a step too far?

[2022-07-22 17:10] jimchamp commented on #6660
Hi @architsinghal-mriirs!  Sorry that I didn't see your comment sooner.  Is this something that you'd still like to work on?

[2022-07-22 17:44] seabelis commented on #6767
The culprit is lists.

[2022-07-22 17:44] #6767 closed

[2022-07-22 18:28] jimchamp opened #6775 "List Widget: Asynchronously fetch patron lists"
### Describe the problem that you'd like solved

If a list widget is present on an Open Library page, the page will not load until the list widget has been rendered.  If a patron has lists with a large amount of entries, the list widget can take upwards of 30 seconds to render.  This makes the site painfully slow for such patrons, as list widgets are present on every book page.

### Proposal & Con

[2022-07-22 18:56] jimchamp commented on #6767
#6775 addresses this issue.

[2022-07-22 22:52] jimchamp commented on #6746
A fix for this is on testing now.  Will push for a quick review and deployment of the solution early next week.

[2022-07-22 23:19] jimchamp commented on #6763
@mekarpeles @seabelis I'm noticing that the OCAID for this book has spaces: `Right Understanding To Helping Others Benevolence`
I tried finding the correct record at archive.org, but couldn't find a match using either work or edition OLID.  There are other editions of the book at IA, though...
How can I find the correct OCAID for this edition?  Given that, I can update the record and resolve this

[2022-07-22 23:30] jimchamp commented on #6761
This is an issue that only applies to orphaned editions (i.e. editions that are not associated with a work record).  Both the Observations modal and the Notes modal require a reference to a work in order to function properly.

To solve this, we must prevent the "Review" and "Notes" modal icons from rendering on orphaned edition pages.

[2022-07-22 23:51] #6648 closed

[2022-07-23 00:11] #6634 closed

[2022-07-23 13:19] Suhas-13 commented on #5810
Can I work on this?

[2022-07-23 15:20] seabelis opened #6778 "Importbot overwrites history"
When Importbot imports new data, the existing history of the original imported record is overwritten.
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/books/OL24262078M/The_Thirteen_Problems?m=history
### Steps to Reproduce

1. Go to ...https://openlibrary.org/books/OL24262078M/The_Thirteen_Problems?m=history
2. Do ...view first entry which states the record was

[2022-07-23 15:42] bsvka commented on #6761
Can I assign those editions to the correct work, or would you like to keep them for demonstration purposes?

[2022-07-25 08:49] seabelis commented on #3714
There's also a problem with formatting in the edition description and TOC. All formatting is ignored.

[2022-07-25 17:40] #6639 closed

[2022-07-25 17:47] jimchamp commented on #5810
@Suhas-13 yes!  Please implement the solution found here: https://github.com/internetarchive/openlibrary/issues/5810#issuecomment-955090315

[2022-07-25 19:00] mekarpeles commented on #3714
@miphilomath yes please! Your help would be appreciated and @jimchamp and I can help as you have questions

[2022-07-25 19:20] #6765 closed

[2022-07-25 20:12] mekarpeles commented on #6775
Once we have a solution to this issue, if we can get me, @seabelis and yourself (@jimchamp) to test on testing v. prod (load times with debug=true) this would be great

[2022-07-25 21:06] cdrini commented on #6778
My guess would be this is a rendering issue. The line that says "Imported from better world books" likely checks the `source_records` field. v=1 of this record only had one source record: a Marc file. Current version also has 2 bwb source records. I guess it should use the first element in the list of source records, but maybe uses the last? The history at least doesn't appear to be corrupted, tha

[2022-07-25 23:49] jimchamp opened #6780 "`/merges` entries should be displayed in descending order"
Today, entries in all `/merges` views are displayed in order of `created` timestamp, ascending.  They should instead by ordered by `created` timestamp, __descending__.

### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/merges

### Steps to Reproduce

1. Go to any `/merges` view.
2. Note the order of the merge requests in the table.

* Actual: Entries are listed fr

[2022-07-26 00:04] jimchamp opened #6781 "`/merges` views should contain two `Pager` components"
### Describe the problem that you'd like solved

Open Library's merge work requests are displayed in a paginated table on the `/merges` page.  Up to 25 requests can be displayed on a single page.  A `Pager` component, which lets patrons navigate to a different page, is located at the bottom of the page.  This means that every time a patron wants to see a new page, they have to scroll past up to 25

[2022-07-26 00:41] jimchamp opened #6782 "For `/merges` pages, `page` query parameter should be dropped if `mode` or `submitter` changes"
Open Library's merge requests are displayed at https://openlibrary.org/merges .  We can filter by open or closed merge requests by including a `mode` query parameter in the URL.  Similarly, we can include a `submitter` query parameter to filter by a specific patron.  When either of these parameters change, we should make sure that query parameter `page` is either removed or set to `1`.

### Eviden

[2022-07-26 00:52] jimchamp opened #6783 "Add submission dates to entries in the `/merges` table"
### Describe the problem that you'd like solved

When I visit our work merge request table at `/merges`, it's impossible to tell when each entry was submitted as no submission date is displayed.

### Proposal & Constraints

For each entry in the `/merges` table, add a submission date.  This date is already present in the results fetched from the database, so no changes are needed there.  We need o

[2022-07-26 01:44] vintagemind commented on #6780
Hi! So the issue we're facing here is that the requests at https://openlibrary.org/merges is listed from oldest to newest but we want it to be from newest to oldest right?

[2022-07-26 01:46] jimchamp commented on #6780
Yes, that's exactly the problem!

[2022-07-26 01:48] vintagemind commented on #6780
I see, I am seeing the code now.

[2022-07-26 02:01] vintagemind commented on #6780
Have you tried order='created desc'?

[2022-07-26 02:04] vintagemind commented on #6780
And I am very sorry, but it seems like I can't set up OpenLibrary locally as I have some restrictions on my computer.

[2022-07-26 02:16] vintagemind commented on #6780
Which database are you using for this program? MySQL?

[2022-07-26 22:58] jimchamp commented on #6780
I'm sure that will work.  Would you like to open a pull request with that change?

We use Postgres for our production and local dev environment.  If we do use MySQL, it's for our Python unit tests only.

[2022-07-26 23:47] jimchamp commented on #6531
Before this happens, we may want to reconsider how items are removed from lists.  Ideally, this functionality can be tucked away inside of the reading log dropper.  If we remove items in a way similar to that of the book page, our search result items have a good chance to become more cluttered.

[2022-07-27 09:00] Suhas-13 commented on #5810
I'm trying to test it out by importing some japanese titles using this guide: https://github.com/internetarchive/openlibrary/wiki/Loading-Production-Book-Data, but I'm getting this error:

Traceback (most recent call last):
  File "/openlibrary/scripts/./copydocs.py", line 11, in <module>
    from scripts.solr_builder.solr_builder.fn_to_cli import FnToCLI
ModuleNotFoundError: No module named 'scri

[2022-07-27 14:32] #6746 closed

[2022-07-27 14:32] #6769 closed

[2022-07-27 15:00] #6781 closed

[2022-07-27 17:11] #6780 closed

[2022-07-27 17:11] #6783 closed

[2022-07-27 17:28] mekarpeles opened #6788 "Add Title field to Merge Requests"
Creating a merge request today currently infers title based on the works in the url, but after a work is merged, the merge request often fetches a /type/redirect as the first work in the url (since they are sorted by asc int ID).

This issue proposes moving title of work into Merge Request as official field.

### Describe the problem that you'd like solved

### Proposal & Constraints

May not be a

[2022-07-27 20:14] #6788 closed

[2022-07-27 21:19] jimchamp commented on #5810
No, I'm getting the same error when I follow those instructions.  Not sure if the instructions are incorrect, or if `copydocs.py`is somehow broken...

I'm not sure when I'll get a chance to resolve the `copydocs` error, so it may be best to add a book manually to your dev environment here: localhost:8080/books/add

Just make sure that the new book's title is a very long string with no spaces.

[2022-07-27 21:28] jimchamp opened #6790 "Investigate `copydocs.py` errors"
When following the instructions outlined [here](https://github.com/internetarchive/openlibrary/wiki/Loading-Production-Book-Data), `copydocs.py` fails with a `ModuleNotFoundError`.  It's unclear to me whether the documentation is incorrect, or if `copydocs.py` is broken.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expecte

[2022-07-27 22:55] jimchamp commented on #6761
Thanks for the offer, @bsvka!

It looks like some of these may not even be books.  I'm going to ask our librarians to look into it, just to be sure.

[2022-07-28 03:43] #6761 closed

[2022-07-28 04:35] Suhas-13 commented on #6790
I think I was able to fix it by changing the import from:

from scripts.solr_builder.fn_to_cli import FnToCLI

to

from solr_builder.solr_builder.fn_to_cli import FnToCLI

It seems there are two levels of solr_builder folders.

I looked through the other python files in scripts and they all seem to have the  'solr_builder.solr_builder', so that was only missing from copydocs.py, but the other ones

[2022-07-28 05:12] Suhas-13 commented on #5810
I implemented this solution and it prevents the box itself from overflowing, but if the title is long enough it still leads to this.

![Capture](https://user-images.githubusercontent.com/43460834/181425661-fa82052d-4d3c-44a4-b10a-c3dfbddbd83e.PNG)

[2022-07-28 05:23] Suhas-13 commented on #5810
I added the overflow: hidden to the details class and that seems to fix it:

![fixed](https://user-images.githubusercontent.com/43460834/181426971-a0a3b0f0-e33f-4299-945b-ce8b4e119eb4.PNG)

[2022-07-28 17:18] jimchamp commented on #5810
Looks like it is --- thanks @Suhas-13!

[2022-07-28 21:24] DaaSH23 commented on #6759
I want to try, can I work on this issue?

[2022-07-29 19:59] jimchamp opened #6802 "Add analytics to "My Books" page sidebar items"
### Describe the problem that you'd like solved

Open Library's "My Books" page consists of a sidebar listing links for different views (i.e. loans, lists, book notes, etc.), and a main content area which displays the currently selected view.  On smaller screens this view changes to a single column layout, with the sidebar appearing above the main content area, which is now well below the fold.

W

[2022-07-29 20:06] jollygreenegiant opened #6804 "503 on dev device - "No server is available to handle this request.""
### Question
I've started getting 503 errors on my dev device with the message "No server is available to handle this request."

I'm not noticing this on the OpenLibrary website or when using a different IP address on my dev device, so I suspect this is a rate limiting issue - I know the Covers API has a limit of 100 requests/5 min, but is there a similar limit for the other API endpoints?  In thi

[2022-07-30 02:31] mekarpeles commented on #6675
This should be somewhat fixed with how things are presently done (#6665)

[2022-07-30 10:44] jimchamp commented on #6759
@DaaSH23 you can work on this issue, but let's get some more details about the problem first.

@bicolino34 I'm not able to reproduce this on my machine:
![Screenshot from 2022-07-30 06-39-44](https://user-images.githubusercontent.com/28732543/181906680-abca8368-93fa-461f-a626-8299c7720fea.png)

I checked with Firefox and Chrome in both mobile and desktop view.  What browser are you using, @bicolin

[2022-07-30 11:27] bicolino34 commented on #6759
I use Firefox 103 (64-bit). OS is Windows 8.1. May it be because of screen size, possibly? I also checked on mobile and it seems alright

[2022-07-30 16:41] mekarpeles opened #6808 "Remove Books Page "admin bar" for librarians (superlibrarians only)"
The admin bar on the books page has options which are really only relevant to staff and super librarians. Let's please restrict this feature to the super-librarians group

### Describe the problem that you'd like solved

![openlibrary org_books_OL5800271M_Are_You_My_Mother](https://user-images.githubusercontent.com/978325/181933358-313a345e-6e25-45ad-81eb-b1531c04bd71.png)

### Proposal & Constrai

[2022-07-30 17:26] mekarpeles opened #6809 "Add pager to trending pages"
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-07-30 18:05] mekarpeles commented on #6681
Effort to be continued by Dana F, this preparatory issue has served its goal and the first steps are on production

[2022-07-30 18:05] #6681 closed

[2022-07-31 17:06] mekarpeles opened #6811 "Add notification bubble on Main Nav for super-librarians # pending MRs"
### Describe the problem that you'd like solved

Options are to add a bubble to the avatar and then a entry + bubble into the sub-navigation within the hamburger

![testing openlibrary org_merges_mode=closed](https://user-images.githubusercontent.com/978325/182037307-3ba26478-0b2e-4fc3-9676-a63fd4e87dba.png)

Or to add a bubble directly to the black IA topbar which when clicked goes directly to /m

[2022-07-31 17:09] mekarpeles opened #6812 "Expand Merge Queue: Allow librarians to submit Author Merges"
### Describe the problem that you'd like solved

We're trying to move to a world where librarians can propose Merge Requests but super librarians review MRs.

So far, work merges behave this way. We want to make it so librarians have access to the author merge view, but instead of clicking merge, they instead see a button which submits an author MR for super librarians to review.

If we do this, w

[2022-08-01 08:31] dcapillae opened #6814 "Broken edition pages in different languages"
The edition pages are broken in languages other than English displaying the following message:

"/openlibrary/openlibrary/templates/type/edition/view.html: error in processing template: TypeError: Plural value must be an integer, got str (falling back to default template)
Unable to render this page. "

### Evidence / Screenshot (if possible)
![screenshot](https://user-images.githubusercontent.com/

[2022-08-01 08:47] chintanpuggalok commented on #6728
Is this open?

[2022-08-01 17:56] mekarpeles opened #6816 "Librarian Merge Queue Redesign"
### Describe the problem that you'd like solved

EDIT: The designs have changed slightly, see figma.

We'd think we'd like to head in the direction of a Merge Queue Dashboard which looks like this:
https://www.figma.com/file/kOQdKg11suMVZrDSAXTYLc/Merge-Queue?node-id=0%3A1

![www figma com_file_kOQdKg11suMVZrDSAXTYLc_Merge-Queue_node-id=0%3A1](https://user-images.githubusercontent.com/978325/19199

[2022-08-01 22:13] mekarpeles commented on #6728
@Calerid sure, give this a go if you'd like to help standardize the size and colors of the `hits` results on those pages

[2022-08-01 22:19] mekarpeles commented on #6804
It's possible that at the time the servers (or more particularly our search engine) were was just getting overloaded by heavy traffic. Please re-open if you repeatedly are seeing this problem and @cdrini can investigate.

Are there certain searches you're trying to do? At what frequency are you hitting the APIs?

[2022-08-01 22:23] mekarpeles commented on #6814
Marking as Priority 0 --

I think this is related to EditionsNavBar `reviews` counts: #6777
https://openlibrary.org/works/OL1622748W/El_filibusterismo?debug=true

[2022-08-01 22:52] mekarpeles commented on #6814
Thank you @dcapillae! Fixed

[2022-08-01 23:17] jimchamp commented on #6790
Thanks @Suhas-13!  Moving the `sys.path.insert` line also worked for me.  Can you make this change to `copydocs.py` and open a PR?

[2022-08-01 23:57] #6782 closed

[2022-08-02 00:16] jimchamp commented on #6759
Thanks @bicolino34!  It looks like the width of the first column is less than the length of the  "LearnAwesome.org":
![dl_dt_width](https://user-images.githubusercontent.com/28732543/182265445-220af699-8cad-4a22-913e-17ccd0912413.png)

@DaaSH23 the left column are `dt` elements, which have a width of `120px`.  Can you increase that to `130px` and see how that looks?  You'll have to change this fil

[2022-08-02 02:17] Suhas-13 commented on #6790
Sure, @jimchamp should I also make the same change to the other files in scripts/ that need this to work?

[2022-08-02 03:52] mekarpeles commented on #6790
@Suhas-13 that might be helpful, though I think starting with copydocs (as a separate PR) may be a good place to start. Thanks!

[2022-08-02 15:36] mekarpeles opened #6822 "Create Roadmap for Cover Service improvements"
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-08-02 15:42] mekarpeles opened #6823 "October Logistics Checklist"
### Describe the problem that you'd like solved

- [x] Flights/transit + lodging for staff (October)
- [x] Prepare [Community 2023 Planning](https://docs.google.com/document/d/1-N_Tyqa7Uex24lxDwO-PiQs1y3pjYAXSpYtwzAi2OH0/edit#) doc
- [x] Creating our [Slides](https://docs.google.com/presentation/d/1qsmRa8ZvMDApL55ryxkz-75M6LXSFJ-sq7uE2FcZqV4/edit#slide=id.p) for community presentation
- [x] Board

[2022-08-02 15:46] mekarpeles commented on #561
Moved to #6718

[2022-08-02 15:46] #561 closed

[2022-08-02 16:25] seabelis opened #6824 "Specific authors are not reindexing"
These two authors are conflated. Myself with the help of a volunteer are trying to sort the works out and assign to the appropriate author ID. However, many edits are not being displayed correctly and seem to be ignored by solr updater despite reindexing the authors and the specific works. Additionally, I have tried re-editing the author field in hopes of triggering a reindex, but this has been un

[2022-08-02 23:46] neilt opened #6825 "Data Dumps not auto-generating (AGAIN)"
Despite, at least, the following being marked as complete, the Data dumps are sill not working.
#6640
#5402

The last data dump is dated 6/6/2022, it is now 8/2/22.  I thought the data dumps were supposed to happen automatically at either the end or the beginning of the month.

### Evidence / Screenshot (if possible)
https://archive.org/details/ol_exports?sort=-publicdate

### Relevant url?

https

[2022-08-03 00:36] #6809 closed

[2022-08-03 08:32] seabelis commented on #6814
Patron has confirmed continued errors using the German-language setting. https://openlibrary.org/works/OL28596922W
@mekarpeles

[2022-08-03 11:49] SyedMa3 commented on #6811
Hi @mekarpeles. I have just started contributing to open source and I would like to work on this. Can you please explain "entry + bubble into the sub-navigation within the hamburger"? Thanks

[2022-08-04 01:49] jimchamp commented on #6811
I believe that @mekarpeles is asking for a new link to be added to the navigation drawer that is opened when the avatar is clicked:
![Screenshot from 2022-08-03 21-25-10](https://user-images.githubusercontent.com/28732543/182743071-a0f21457-3bbc-4f80-97db-9a05b53f1acb.png)

The entry can be something like "Pending Requests", and appear in the "My Open Library" section.  A bubble can also be added

[2022-08-04 12:02] seabelis opened #6830 "If ISBN is detected as invalid, Worldcat link is not enabled"
https://openlibrary.org/books/OL39212557M/Shou_xiang_bang_jia_an_Meng_mian_nu_ren has an ISBN that is detected as invalid when entered. However, it is the ISBN as printed in the book and should still be present and searchable on the record. Searching Worldcat by ISBN does produce a record, however the ISBN is surpassed. Nonetheless, the record appears to be the correct one and therefore, the link

[2022-08-04 15:26] milotype opened #6831 "Translation Permissions"
Please give me permissions to translate the strings of the sections of the web pages at https://openlibrary.org

I allready have the permission to change https://openlibrary.org/subjects

I don't have permissions for translating strings at:
https://openlibrary.org/trending/now
https://openlibrary.org/explore
https://openlibrary.org/collections
https://openlibrary.org/collections/k-12
https://openl

[2022-08-04 15:45] cclauss commented on #6822
* [docker-compose.yml](https://github.com/internetarchive/openlibrary/blob/master/docker-compose.yml) defines `service: infobase`.
* [docker-compose.infogami-local.yml](https://github.com/internetarchive/openlibrary/blob/master/docker-compose.infogami-local.yml) mounts `volume: vendor/infogami`.
* [docker-compose.production.yml](https://github.com/internetarchive/openlibrary/blob/master/docker-com

[2022-08-04 19:52] jimchamp opened #6833 "Adding visual selected to `#mrid-` and/or a way to specify a specific `mrid=`"
### Describe the problem that you'd like solved

Each row in our merge request table has a unique `id` and can be directly navigated to when adding an URI fragment to the URL (e.g. openlibrary.org/merges#mrid-123).  When we do navigate to a specific row, there is no styling to differentiate it from the other rows.

### Proposal & Constraints

Let's add some styling to rows targeted by URI fragment

[2022-08-04 22:21] jimchamp commented on #6808
Closed by #6815

[2022-08-04 22:21] #6808 closed

[2022-08-04 23:01] cdrini opened #6835 "Solr updater not picking up edits to books with IA ids"
Eg: https://openlibrary.org/works/OL5717624W/Ttfn is not showing up in the results https://openlibrary.org/search?q=key%3A%2Fworks%2FOL5717624W+AND+subject%3A%22collectionID%3AAlpineChallenge%22&mode=everything when it should. Even if it is force reindexed via https://openlibrary.org/admin/solr , or when edited. (eg it should show a lowercase title on https://openlibrary.org/search?mode=everything

[2022-08-04 23:19] cdrini opened #6836 "Replace `ia_collection_s` with multi-value string field `ia_collection`"

[2022-08-05 05:20] cclauss commented on #3342
@nattheriddle1 Given the great work you have done on web.py, would you be interested to make similar contributions to https://openlibrary.org which uses web.py under the hood?

[2022-08-05 14:20] bencomp commented on #6423
This appears to be strongly related to #5696.

[2022-08-05 14:23] bencomp commented on #5696
I just noticed this behaviour (and updated the ISNI manually). The merged pull request #5697 does not solve this, because it only removes (leading and) trailing spaces, not spaces within the identifier. It may work differently for different types of identifiers too, so removing all whitespace in all identifiers is probably not the solution. #6423 is strongly related to (or a duplicate of) this iss

[2022-08-05 14:43] bencomp opened #6838 "Use HTTPS links for ISNI display"
On author pages with ISNI, the URL for the ISNI record starts with `http://www.isni.org/`, whereas ISNI shows the URL as `https://isni.org/isni/`. I would like every URL that is available through HTTPS to be HTTPS, to improve user privacy.

### Describe the problem that you'd like solved

Please update the ISNI link to use the official ISNI-provided format.

### Proposal & Constraints

It looks li

[2022-08-05 21:45] #6835 closed

[2022-08-06 00:28] ciannellaleo commented on #6811
Hello! I am a new contributor and would like to work on this issue. Does it is still available? If yes, could you assign me, please, @jimchamp?

[2022-08-06 00:58] jimchamp commented on #6811
@SyedMa3, are you still interested in working on this?
@ciannellaleo if there is no response from @SyedMa3 by this time tomorrow, consider yourself assigned.

[2022-08-06 01:31] jimchamp commented on #6838
I've just updated the ISNI URL configurations.  Please re-open this if you notice that anything is amiss.

[2022-08-06 01:34] #6838 closed

[2022-08-06 02:24] jimchamp commented on #6838
Space issue is addressed by #6841

[2022-08-06 07:42] bencomp commented on #6838
Thanks! You didn't use the template that ISNI themselves use (`https://isni.org/isni/@@@`), but it works.

[2022-08-06 08:24] SyedMa3 commented on #6811
@jimchamp Yes, I have been going through the codebase.

[2022-08-06 12:40] SyedMa3 commented on #6811
@jimchamp . I have a doubt. How do I access the ```get_counts_by_mode``` method from [https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/lib/header_dropdown.html](url) using templetor.

[2022-08-06 13:24] jimchamp commented on #6838
Thanks @bencomp --- I was being too hasty when I closed this.
Everything should be good now.  Any newly added ISNI numbers that contain spaces will be stored without spaces.

[2022-08-06 16:41] jimchamp commented on #6811
We can expose functions for use in templates by using the `@public` decorator.  I recommend adding a new top-level public function in `/openlibrary/core/edits.py` that returns the counts for a given `mode`.

You'll probably have to restart the application before the new function can be used.  You can do this by running the following:

`docker-compose restart web`

You should then be able to call t

[2022-08-06 16:48] jimchamp commented on #6811
@ciannellaleo #6660 is another good first issue, if you're interested.

[2022-08-06 17:26] bicolino34 opened #6844 "i18n lines missing in messages.pot"
There are some buttons on site that can't be i18nalized because there are no lines for them in [messages.pot](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/i18n/messages.pot)

"My books" in top navbar
![зображення](https://user-images.githubusercontent.com/58372007/183258079-d26fe12e-53ef-4e35-8368-5907a10ef6f9.png)

"Trending Books" carousel and "Trending" button in profi

[2022-08-06 17:36] ciannellaleo commented on #6811
Ok @jimchamp. Can you assign it to me, please?

[2022-08-06 19:33] jimchamp commented on #6811
Please comment on that issue, and then Github will permit me to assign you. In the meantime, feel free to start working on it.

[2022-08-06 22:18] ciannellaleo commented on #6660
Hi @jimchamp, can you assign me to this issue, please?

[2022-08-07 06:38] SyedMa3 commented on #6811
@jimchamp. I implemented everything. How do I create "Pending merge requests" in order to test my implementation? Thanks.

[2022-08-07 11:35] jimchamp commented on #6811
Adding new merge requests in local dev environments is a very cumbersome process at the moment.  It's probably best to import test data for now.
Running the commands found [here](https://gist.github.com/jimchamp/dd83ae3fe1ea86ae9621707fa96b4edf) will populate the merge request table 3 merge requests (2 pending and 1 closed).

[2022-08-07 18:20] #5696 closed

[2022-08-07 18:20] #6423 closed

[2022-08-07 18:21] bicolino34 opened #6847 "Make Library Explorer internationalizable"
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-08-07 19:00] bicolino34 opened #6848 "Make Library Explorer save filtering setting"
By default, Library Explorer uses these filters
First published year: Modern (1985+)
Has ebook/preview? : Yes
Age Range: Any
Language: Any
![image](https://user-images.githubusercontent.com/58372007/183306583-ef968e83-f14f-4e99-aa50-ba84feb060e3.png)

I rarely use Library Explorer, but when I do, I usually prefer using these filters:
First published year: Any
Has ebook/preview? : Any
And it gets a

[2022-08-07 19:10] bicolino34 opened #6849 "Add Universal Decimal Classification to Library Explorer"
According to [Wikipedia](https://en.wikipedia.org/wiki/Universal_Decimal_Classification): "UDC is used in around 150,000 libraries in 130 countries and in many bibliographical services which require detailed content indexing. In a number of countries it is the main classification system for information exchange and is used in all types of libraries: public, school, academic and special libraries.[

[2022-08-08 08:39] cclauss opened #6851 "DeprecationWarning: `urllib.parse.splitquery()` is deprecated as of 3.8"
### Evidence / Screenshot (if possible)
When we run pytest in our GitHub Actions, we get the following warning
[code]
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/coverstore/utils.py#L88

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual: pytest warning
* Expected: No pytest warning

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**

[2022-08-08 15:57] tfmorris commented on #6844
Why are developers still being allowed to introduce code which isn't internationalized?

Wouldn't it be a lot simpler to make it part of the coding standards that everything must be internationalized? And enforce that during code reviews, of course.

[2022-08-08 16:58] tfmorris commented on #6824
I noticed the same thing with edits about a week ago, but didn't bother trying to track down what exactly was going on. Just chalked it up to ongoing search weirdness. I had a suspicion that perhaps removing authors from a work was one operation which didn't get reindexed, but didn't try to confirm the pattern.

[2022-08-08 17:01] tfmorris commented on #6814
That work renders without error for me in both German and French.

[2022-08-08 18:48] scottbarnes commented on #6851
I'd like to work on this.

[2022-08-08 19:32] cclauss commented on #6851
Deprecated in Py38 but is still available in Python 3.11 which is not yet released.

[2022-08-08 19:43] mekarpeles commented on #6814
We ran another set of tests and we have determined this can be closed

[2022-08-08 19:43] #6814 closed

[2022-08-08 19:56] bencomp opened #6852 "Display ISNI according to ISNI standard"
MOD 11-2 is defined in ISO/IEC 7064 and there's code available in a PyPI package https://pypi.org/project/python-stdnum/

As an aside, the draft of the ISNI standard, ISO/IEC 27729, that I found has the following about rendering:

OpenLibrary isn't currently following these rendering rules.

_Originally posted by @tfmorris in https://github.com/internetarchive/openlibrary/issues/6841#issuecomment-

[2022-08-08 22:43] cdrini commented on #6824
This was fixed by #6840 ; sorry for the bug there folks it was a bad one :/ All edits to books with IA IDs were not going through to solr for ~1-2w.

[2022-08-08 22:43] #6824 closed

[2022-08-08 23:08] cdrini commented on #6844
Most of these are actually correctly i18n'd in the HTML ; the .pot file just needs to be regenerated! You can do this like so:

[code]

(See https://github.com/internetarchive/openlibrary/tree/master/openlibrary/i18n ).

[2022-08-09 10:11] seabelis opened #6854 "Editions table no longer recognises ISBN-10"
Until recently, the filter on the editions table would recognise ISBN 10. Currently only ISBN 13 is recognised.
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...any editions table with 3+ editions
2. Do ...filter on existing ISBN 10

* Actual: no results
* Expected: all items with matching ISBN should display

### Details

- **Logged in (Y/N)?**
- **B

[2022-08-09 10:18] seabelis commented on #6854
User error.

[2022-08-09 10:18] #6854 closed

[2022-08-09 13:54] jollygreenegiant commented on #6804
I haven't run into this since originally opening the issue, so it may have been a one-off thing, or high-traffic issue, like you mentioned.  It was just me using the API for development, so I shouldn't have been hitting the API more than 10-20 times in a minute at most (if loading a list of books for example).  Seems to be okay since though 👍

[2022-08-09 14:24] seabelis opened #6855 "Orange background color makes diff unreadable"
When viewing a work or edition diff, the orange-coloured background makes the grey text difficult to read.
### Evidence / Screenshot (if possible)
<img width="436" alt="Screenshot 2022-08-09 at 16 20 28" src="https://user-images.githubusercontent.com/17739465/183673737-d523c597-b008-4ab8-988d-1ac62f296444.png">

### Relevant url?

### Steps to Reproduce

1. Go to ...a work or edition diff, for exa

[2022-08-09 14:46] cdrini commented on #6804
Can you give an example of the request you were making, @jollygreenegiant ? Maybe we can find a more performant way for you to get what you need :)

I'll close this in the mean time since it seems the issue is resolved!

[2022-08-09 14:46] #6804 closed

[2022-08-09 15:54] #6851 closed

[2022-08-09 17:18] jimman2003 opened #6856 "Work titles can cause redirect"
### Evidence / Screenshot (if possible)

### Relevant url?

[Relevant work](https://openlibrary.org/works/OL6666415W)

@mekarpeles: I think this is related to urls containing `..` as the title which cause the url to go up a directory?

### Steps to Reproduce

1. Go to the work
2. Observe the redirect to /works

* Actual: Redirect to /works
* Expected: Open work page

I believe that other work titl

[2022-08-09 17:38] #6802 closed

[2022-08-09 17:50] #6775 closed

[2022-08-09 21:17] #562 closed

[2022-08-09 21:29] mekarpeles opened #6857 "My Books Page: mobile Redesign"
Designs: https://www.figma.com/proto/KE0BoBAlMPzPHbhvVblKS8/My-Books-Page-Prototype-Flows?node-id=332%3A80&scaling=scale-down&page-id=277%3A2&starting-point-node-id=332%3A80&show-proto-sidebar=1

Implement designs from #6875

![image](https://user-images.githubusercontent.com/6251786/210882500-8f77b6f9-ed1f-4aa0-b917-98e491218841.png)

## Problem

Currently the My Books page (e.g. https://openlibr

[2022-08-09 21:30] mekarpeles opened #6858 "My Books page interim Mobile Navigation Fixes"
TODO: For Sam G. to update

We have a 3 options.

(a) We can show different navigation with drop down menus, e.g.
<img src="https://user-images.githubusercontent.com/978325/183765487-e5f8f78f-9171-4a81-92f4-fd3e03ca8a6c.png" width=400 style="border: 1px solid #999">

(b) We can update the sidebar to use `<details>` html elements which enable us to have collapsible according-style menus

<img src="

[2022-08-09 21:30] mekarpeles opened #6859 "My Books page Mobile Navigation Redesign"
See:
https://www.figma.com/file/32L8oj6wNwydCTZVp4Vcfr/Open-Library?node-id=0%3A1

![www figma com_file_32L8oj6wNwydCTZVp4Vcfr_Open-Library_node-id=0%3A1 (1)](https://user-images.githubusercontent.com/978325/191989506-59509d23-aa9a-4771-bbce-4f521050f4fe.png)
![www figma com_file_32L8oj6wNwydCTZVp4Vcfr_Open-Library_node-id=0%3A1 (2)](https://user-images.githubusercontent.com/978325/191989497-0fcb8

[2022-08-10 05:22] scottbarnes commented on #6830
Sorry for missing this. The short of it is that there is a one line change that may address the issue in the linked PR (#6862). I put probably far too much narrative about my exploration of the issues there. Hopefully it's not too incorrect.

[2022-08-10 13:16] agmckee commented on #6852
This used to be formatted but was changed in #5364, specifically in the second commit in that pull request bf3ff608ba94d1db2d587af1f7317823e22ecab1.

[2022-08-10 15:58] agmckee commented on #6844
@cdrini, that script is also failing with a similar error to the one affecting copydocs.py. When not run as root it works but can't write the file due to permissions, when run as root it errors with "ModuleNotFoundError: No module named 'web'".

[2022-08-10 16:11] cdrini commented on #6844
@agmckee Can you try it with setting python path? So:

[code]

[2022-08-10 16:19] agmckee commented on #6844
Yes, I should have mentioned that I already tried that. Same result. I've just now tried it again (just to eliminate any possibly error on my part), still same result - "No module named 'web'".

[2022-08-10 16:46] cdrini commented on #6844
Oh, on unix we need `-uroot` to modify files but I don't think `-uroot` works correctly anymore :/ Can you try removing the .pot file and trying again without `-uroot`?

[2022-08-10 16:46] cdrini commented on #6844
If you're on Windows it should just work without `-uroot`

[2022-08-10 16:56] agmckee commented on #6844
I'm not on Windows, I'm on Debian 11. As mentioned before trying it without the `-uroot` option just results in no file being written due to permissions issues.

[2022-08-10 18:10] cdrini commented on #6844
Ok; try changing the permissions for the directory:

[code]

[2022-08-10 18:32] tfmorris commented on #6852
Good spelunking! It looks like the regression wasn't caught during the code review, but seems easy to fix.

[2022-08-10 19:20] seabelis opened #6866 "Covers for IA-linked items not importing correctly"
Recently, IA-linked items are being imported with title pages or text pages as covers, even when the IA item has a true cover available.
### Evidence / Screenshot (if possible)

### Relevant url?

Examples:
https://openlibrary.org/books/OL29698626M/Target?_compare=Compare&b=3&a=2&m=diff
### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **B

[2022-08-10 19:20] seabelis commented on #6866
I'll add more examples as I come across them.

[2022-08-11 05:00] hornc opened #6868 "Some items have multiple LCCNs with prefixes incorrectly stripped"
Many editions have multiple LCCNs, one with a alpha prefix, and one with the alpha prefix stripped.
The stripped prefix is necessary, so one of the ids is incorrect, eg:

https://openlibrary.org/books/OL24862199M/Address_and_poem_delivered_..._Oct._27_1858?_compare=Compare&b=9&a=8&m=diff

This will cause false positive matches when linking and importing items.

**TODO**

- [x] Use data dumps to ch

[2022-08-11 18:11] seabelis commented on #6866
https://openlibrary.org/books/OL28824376M/Keeper?_compare=Compare&b=4&a=3&m=diff

[2022-08-12 20:07] muditjuneja commented on #6855
Hi @seabelis, I have changed the color of the text to darker grey and it has increased the contrast ratio as expected. Check the screenshot attached.
<img width="1728" alt="Screenshot 2022-08-13 at 1 25 49 AM" src="https://user-images.githubusercontent.com/15162221/184434810-9c4dd854-a0b7-4d3a-9060-c6a7045e82c2.png">

If this is what we want then I can try raising the PR. Let me know how can I hel

[2022-08-12 20:15] muditjuneja commented on #6855
Here, I created a PR for the review here - https://github.com/internetarchive/openlibrary/pull/6872

[2022-08-12 20:21] muditjuneja commented on #6833
I can try and add some highlighting css to the focussed container in this case. What kind of highlighting do you have in mind? Plain border based or some kind of faded animation for few ms? Let me know how can I help.

[2022-08-12 20:35] muditjuneja commented on #6844
@cdrini This command works on my Mac after removing uroot. File has been generated. @agmckee  I can create a PR if you are still facing the issue.

[2022-08-12 20:39] muditjuneja commented on #6660
Are we taking about a page like this - https://openlibrary.org/search?subject=Magic.
This has the pagination widget only at the bottom. And we want it to be there at the top as well right?

[2022-08-12 21:24] jimchamp commented on #6790
Our `copydocs` instructions have been updated with information about setting the `PYTHONPATH`.  I was able to successfully import data to my local machine by following the updated steps.
Thanks to everyone who helped find a solution to this!

[2022-08-12 21:24] #6790 closed

[2022-08-14 09:04] agmckee commented on #6844
@muditjuneja Please feel free to create a PR, I ran out of time to work on this issue while troubleshooting the command. @cdrini I can confirm changing the permissions worked for me.

[2022-08-15 15:34] bicolino34 opened #6875 "Suggest users to add books if there are no results in search"
Maybe, add some text on search results page like "Can't find what you look for? Then _add book_ yourself". Or something like that.

https://openlibrary.org/search?q=%D0%9E%D0%BD%D0%BE%D0%BC%D0%B0%D1%82%D0%BE%D0%BF%D0%B5%D1%97%D1%87%D0%BD%D0%B0+%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0+%D1%81%D1%83%D1%87%D0%B0%D1%81%D0%BD%D0%BE%D1%97+%D1%8F%D0%BF%D0%BE%D0%BD%D1%81%D1%8C%D0%BA%D0%BE%D1%97+%D0%BC%D0

[2022-08-15 16:41] cdrini commented on #6849
This would unfortunately be very difficult; we have a field for UDC in Open Library, but there are no editions that actually use it: http://openlibrary.org/query.json?type=/type/edition&udc~=*&udc (compare to dewey decimal: http://openlibrary.org/query.json?type=/type/edition&dewey_decimal_class~=*&dewey_decimal_class . This would require an import of UDC values for many books.

[2022-08-15 16:56] seabelis commented on #6855
Yes, @muditjuneja . Thank you!

[2022-08-15 17:02] cdrini commented on #6847
Currently, all the label names come from these JSON files:

- https://github.com/internetarchive/openlibrary/blob/master/openlibrary/components/LibraryExplorer/ddc.json
- https://github.com/internetarchive/openlibrary/blob/master/openlibrary/components/LibraryExplorer/lcc.json

I think the best solution would be to create a record on Open Library for each of these JSON objects. Eg:

[code]

And th

[2022-08-15 17:23] cdrini commented on #3714
Based on the comment I think this might've been meant to be assigned to you @jimchamp :)

[2022-08-15 17:27] cdrini commented on #6768
Ah this is because we are using `float:right`.

This CSS should fix the issue:

[code]

Search the codebase for `section-header-split` to see which LESS file this should go in :+1:

[2022-08-15 17:37] cdrini commented on #6774
This would be fantastic! Infogami does provide hooks to make bulk edits of a certain `kind`; that's how `merge-authors` works. We should do the same thing for merging works, then we can have a custom UI (just like we do for merge authors) to view a historical merge.

Here are some relevant files/classes:

- Defining a custom type for a changeset: https://github.com/internetarchive/openlibrary/blob

[2022-08-15 17:43] cdrini commented on #6709
This is a tough one! This language doesn't have a MARC language code 😬 https://www.loc.gov/marc/languages/language_code.html The marc language code on ia/the marc record is `art`, which stands for "Artificial Language (other)" :/ I set it to this for now on Open Library, but not sure what we can do long term. CC @hornc

[2022-08-15 17:48] cdrini commented on #6635
I think the solution for this would be to make use of solr's synonyms feature. But some experimenting / investigation needed. Anyone who has some time to experiment with adding synonyms to solr, please do!

[2022-08-15 17:52] cdrini commented on #6532
Thank you @rahulsabbineni ! Would you be able to post a list of all the works that have deleted authors? There must've just been a historical bug at some point that resulted in them not being cleaned up. We can go through them and delete what we can!

[2022-08-15 19:12] mekarpeles commented on #6660
@ciannellaleo go for it!

[2022-08-15 19:13] cdrini commented on #6844
Awesome, thanks folks! I'll assign this to you @muditjuneja . Please open a PR!

[2022-08-15 19:44] mekarpeles commented on #6485
I think we have a dupe issue #6857

[2022-08-15 19:44] #6485 closed

[2022-08-15 19:53] ciannellaleo commented on #6660
@mekarpeles, should I change the page that @muditjuneja commented too?

[2022-08-15 20:33] #6716 closed

[2022-08-15 20:48] mheiman commented on #6774
I'm happy to take a look that this, but it appears I don't have access to the "Undo all" feature, so it's a little tricky to get started...

[2022-08-16 06:50] bicolino34 commented on #6635
@cdrini I would like to do it, how can I?

[2022-08-16 10:49] bicolino34 opened #6881 "Work gets selected in merge UI when you press "Want to read" near it"
Work gets selected in merge UI when you press "Want to read" near it
### Evidence / Screenshot (if possible)
![зображення](https://user-images.githubusercontent.com/58372007/184861477-25a7111f-39ef-4444-9cc6-02aa2a69a953.png)

### Relevant url?
https://openlibrary.org/search?q=nationalism&mode=everything

### Steps to Reproduce

1. Go to ... search resutls
2. Do ... press "Want to read"

* Actual:

[2022-08-16 16:15] mekarpeles opened #6882 "Add resulting bulk_merge_id of merge to Librarian Merge Queue table @mheiman"
### Describe the problem that you'd like solved

Our librarian merge queue makes it rather easy to review merge requests (MRs), with a single click opening a populated merge UI in a new tab.  Finding the details about a completed MR is much more difficult, and requires manually constructing a URL for the parent record, navigating to the page, and searching through the record's history for clues.

[2022-08-16 16:15] mekarpeles opened #6883 "Migrate "Request Merge" from the Search Results page to the Merge UI"

[2022-08-16 16:39] cdrini opened #6884 "Book pages displaying lists error for logged out users"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/184932856-5dd11aa6-34de-4671-81d1-a57752239e13.png)

`/openlibrary/openlibrary/templates/lists/widget.html: error in processing template: AttributeError: 'NoneType' object has no attribute 'get_lists' (falling back to default template)`

### Relevant url?
eg https://openlibrary.org/works/OL20068530W/

[2022-08-16 16:50] cdrini opened #6885 "Give super librarians permission to undo author merges"
This doesn't need to be an admin-only feature. They should be able to see the "Undo All" button on e.g. https://openlibrary.org/recentchanges/2022/07/22/merge-authors/95371217

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders
@mheiman

[2022-08-16 16:50] cdrini commented on #6774
Awesome! I assigned you. I created an issue for giving super librarians permission to undo author merges: #6885 . If you comment on it I'll assign it to you (if you don't have perms to assign yourself yet :P).

[2022-08-16 16:51] mheiman commented on #6885
I'll take a look -- should be quick one.

[2022-08-16 17:05] #6884 closed

[2022-08-16 19:49] hornc commented on #6836
@cdrini what are IA collection strings used for in OL?  I haven't looked at this area for some time, but I remember trying to remove this data from OL as it belongs and is best managed by archive.org. The OL stored version could easily get out of sync.

[2022-08-17 07:32] seabelis opened #6889 "Errors when patron tries to borrow books"
Errors reported by a patron when trying to borrow books.
https://openlibrary.org/books/OL2711887M/borrow?ref=ol
" We've noted the error 2022-08-16/224056981978 "

https://openlibrary.org/borrow/ia/garageband0000plum?ref=ol
We've noted the error 2022-08-16/223813274487

https://openlibrary.org/works/OL19992650W?edition=ia%3Agarageband0000plum_i2d0
We've noted the error 2022-08-16/224414641644

http

[2022-08-17 18:35] cdrini commented on #6885
Discussed offline, it seems like this change needs to be on the config in olsystem. I'll take it over :)

[2022-08-17 20:41] cdrini commented on #6836
Yeah, the fav- one was annoying :P We removed those. We've gotten requests in the past from partners to view their IA collections in open library. E.g. to view the library explorer with just marygrove books, for example. That field is exposed for those purposes.

[2022-08-18 05:05] #6885 closed

[2022-08-18 05:17] #4874 closed

[2022-08-18 05:22] hornc commented on #5627
data fixed recently

[2022-08-18 05:22] #5627 closed

[2022-08-18 05:40] #1243 closed

[2022-08-18 05:43] hornc commented on #6778
same issue / duplicate of #2643

[2022-08-18 05:46] #2220 closed

[2022-08-18 05:50] hornc commented on #2651
Unsure what is left to do here. Closing as stale as there is is other syncing work in progress to manage ocaid linkage,

[2022-08-18 05:50] #2651 closed

[2022-08-18 05:54] hornc commented on #6778
also reported in #1381

[2022-08-18 05:58] hornc commented on #1381
The history also appears different depending on whether a user is logged in or not. To see the incorrect overwirtten history you have to be logged in.

[2022-08-18 11:00] bicolino34 commented on #6768
Update: I face issue only on my Windows 8.1 desktop but not on Linux Mint 21 Cinnamon

[2022-08-18 14:09] bicolino34 opened #6891 "Sorting buttons in Reading log don't work as intended"
When you press sort by "Date Added (oldest)" page refreshes and sorting is applied but "Date Added (oldest)" button doesn't turn green and doesn't become unclickable, and "Date Added (newest)" button doesn't become clickable

### Evidence / Screenshot (if possible)
On this scrrencshot books are sorted by oldest
![image](https://user-images.githubusercontent.com/58372007/185414834-58610de2-e5f4-43a

[2022-08-18 20:02] muditjuneja commented on #6844
Hi @cdrini, I have created a PR with newly generated messages.pot file. Check here - https://github.com/internetarchive/openlibrary/pull/6893

[2022-08-18 21:38] #6844 closed

[2022-08-18 21:55] #6558 closed

[2022-08-18 22:29] #6830 closed

[2022-08-18 22:33] cdrini opened #6895 "Do a full solr reindex"
PRs part of this reindex:

- [x] https://github.com/internetarchive/openlibrary/pull/6697
- [x] https://github.com/internetarchive/openlibrary/issues/3990
- [x] Support for other_titles matching in editions
- [x] #7321

Cleanup:
- [ ] #7639 Open PR removing refs to solr-next where applicable
    - Update `alternative_title` to be mapped to (now existant) `alternative_title` field on the edition in

[2022-08-18 22:42] #5827 closed

[2022-08-19 01:11] hornc commented on #6868
Bot task currently running to fix these: e.g. https://openlibrary.org/books/OL15483532M/A_Theory_of_Justice?_compare=Compare&b=16&a=15&m=diff

[2022-08-19 02:25] hornc commented on #6868
This is a data clean up task related to: #6813

[2022-08-19 11:55] GNtrazios commented on #6848
Hello i am interested in fixing this issue. Could you please assign it to me?

[2022-08-19 12:47] agmckee commented on #1586
I keep running into this. 19th century works were frequently distributed in volumes, e.g. 2 volumes. What exactly is the best practice with this presently?

For example, these two works:
https://openlibrary.org/works/OL13121608W
https://openlibrary.org/works/OL13121609W

Are really just one work in two volumes.

[2022-08-19 13:02] agmckee opened #6897 "Lists in list dropper not populating correctly for works"
Starting today I noticed that the list widget doesn't render correctly on some edition pages. At first I thought it was just an isolated issue with a specific book edition and assumed there must be something wrong with that edition, now I've observed it on a few different pages.

### Evidence / Screenshot (if possible)
![screenshot-of-list-widget-issue](https://user-images.githubusercontent.com/72

[2022-08-19 13:07] agmckee commented on #6897
I found another example at https://openlibrary.org/books/OL16819242M and something it has in common with one of the other examples is that it was imported without an author being set.

[2022-08-19 13:38] bicolino34 commented on #6897
As far as I know, it is because this is orphaned editions (without assigned work). It should be enough to edit them once, and work will be automatically created for them.

[2022-08-19 13:46] bicolino34 commented on #1586
@agmckee currently, you can add this info to Series Name field in Publishing Info section on edtion editing tab. Something like: Name of book, Volume 1
![image](https://user-images.githubusercontent.com/58372007/185631700-e72bc4a2-1370-4417-b410-2936fed84d46.png)
@cdrini should soon start working on book series which should improve current approach. They are tracked in issue #6718

[2022-08-19 13:50] agmckee commented on #1586
Thanks. I did see #6718, and I did consider use of the "Series Name" but I wasn't sure that this was the best approach as it seems hackish and not the right approach (the example I gave is not a series but two volumes published at the same time as part of the same work).

[2022-08-19 14:21] bicolino34 commented on #1586
I think, it may be a good idea to also add "Volume 1" and "Volume 2" to work's titles to differentiate them from work page that contains editions that were published as one whole rather than two separate volumes. But I'm not sure if my opinion is correct. @seabelis should know better. She's more experienced than I am.

[2022-08-19 17:19] #889 closed

[2022-08-19 17:55] #6812 closed

[2022-08-19 18:10] tfmorris commented on #1586
Any workaround using the current data model is just going to be a hack, but I think a better fit would be to have a single work with each of the two volumes listed as a separate "edition." Still not correct, but better, I think, than creating imaginary works. (It's a single work published in two volumes, as it says on the title page).

[2022-08-19 18:10] muditjuneja commented on #6891
I see the issue. If you change the sort param in the URL then it filters the results as per the filter applied but there is no effect on the buttons. They remain as is. Checking it locally, Hopefull will figure out the issue.

[2022-08-19 19:56] muditjuneja commented on #6891
Hi @bicolino34, Seems like we were missing the param while rendering the reading_log. Created a PR for your reference.
Check here - https://github.com/internetarchive/openlibrary/pull/6898

[2022-08-19 23:25] LeadSongDog commented on #1586
Agreed. I have sometimes shown volume in the pagination, such as "3v., v2: 234p. ill."

[2022-08-20 16:10] bicolino34 commented on #6635
The search is strict not only with terms, but also with letters. Compare [Безпека життєдіяльності](https://openlibrary.org/search?q=%D0%91%D0%B5%D0%B7%D0%BF%D0%B5%D0%BA%D0%B0+%D0%B6%D0%B8%D1%82%D1%82%D1%94%D0%B4%D1%96%D1%8F%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%96&mode=everything) and [Безпека життєдіяльност](https://openlibrary.org/search?q=%D0%91%D0%B5%D0%B7%D0%BF%D0%B5%D0%BA%D0%B0+%D0%B6%D0%B8

[2022-08-20 19:42] damiankomonski opened #6900 "Problem receiving books"
Hello!

I create project with Open Library API.

I use this to get books on some topic:
https://openlibrary.org/dev/docs/api/subjects

I get "works" and "key". So I want to download books/editions. I use this:
https://openlibrary.org/works/OL45883W.json

How can I get books/editions using WORKS?

it seems impossible....

[2022-08-22 11:32] muditjuneja commented on #6897
@bicolino34  Should it be fixed in the code? Like hiding the entire widget if this is the case? Because after editing them with work, the whole view changes, and Add to list button is visible under the drop-down.

[2022-08-22 11:39] muditjuneja opened #6904 "Editing - Submit button should be disabled till google verifies recaptcha."
When editing a book, the save button at the end should be disabled till the google verifies recaptcha entry. Currently, it is clickable which takes the user to another error screen. Check the screenshots attached.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/books/OL23245221M/Catch-22/edit

### Steps to Reproduce
1. Log in
2. Go to any book and click edit
3.

[2022-08-22 12:39] seabelis commented on #1586
@agmckee There's no one-size-fits-all answer to this question. In this case, I've added Volume I/II to the titles. In cases where the volumes themselves have titles, you would usually use the volume title at the work level.

[2022-08-22 13:59] bicolino34 commented on #6897
@muditjuneja I don't know if this is a good decision. Better ask @cdrini or @mekarpeles

[2022-08-22 16:12] #6755 closed

[2022-08-22 17:06] mekarpeles commented on #6900
https://openlibrary.org/works/OL45883W/editions.json

[2022-08-22 17:06] #6900 closed

[2022-08-22 17:31] mekarpeles commented on #6889
@seabelis I wonder if these may have been transient issues. Has the patron since been able to achieve success in borrowing titles from the library?

[2022-08-22 17:42] mekarpeles commented on #6778
Closing as duplicate of https://github.com/internetarchive/openlibrary/issues/2643

[2022-08-22 17:43] mekarpeles commented on #6778
Closing as duplicate of https://github.com/internetarchive/openlibrary/issues/2643

[2022-08-22 17:43] #6778 closed

[2022-08-22 17:43] muditjuneja commented on #6897
@jimchamp @mekarpeles let me know, I can give it a try if needed.

[2022-08-22 17:43] mekarpeles commented on #2643
@cdrini mentions:
https://github.com/internetarchive/openlibrary/issues/6778#issuecomment-1194630309

[2022-08-22 17:46] mekarpeles commented on #6897
I am not able to reproduce this issue -- is it possible it has since been fixed by @jimchamp ?

[2022-08-22 17:47] mekarpeles commented on #6897
@muditjuneja if you're able to reproduce this issue, please do give it a try and we're happy to answer questions!

[2022-08-22 17:47] muditjuneja commented on #6904
@agmckee, I see but we can add a conditional check for the same on the front-end like if the user doesn't have a "trusted-user" tag (a normal user) then he should verify as human to enable the button.

[2022-08-22 17:50] muditjuneja commented on #6897
@mekarpeles Visit this URL : https://openlibrary.org/books/OL16819242M/Turncoat_a_parody_of_the_tragedy_of_Athelstan._In_one_act
<img width="1725" alt="Screenshot 2022-08-22 at 11 19 22 PM" src="https://user-images.githubusercontent.com/15162221/185986370-dc6d000d-82de-4739-a7af-53b18d3e1370.png">

You will see that the lists are not being loaded (bcoz this item don't have work)

[2022-08-22 17:58] muditjuneja commented on #6881
@bicolino34 can you please give me more context on this?

[2022-08-22 17:58] scottbarnes commented on #6768
I can have a go at this in a few minutes.

[2022-08-22 18:17] muditjuneja commented on #6833
@jimchamp Is there a way to get the entries for this table when trying this locally?

[2022-08-22 18:27] muditjuneja commented on #6833
I tried pulling the data from prod by following this doc: https://github.com/internetarchive/openlibrary/wiki/Loading-Production-Book-Data

But I am getting this error-

<img width="894" alt="Screenshot 2022-08-22 at 11 56 38 PM" src="https://user-images.githubusercontent.com/15162221/185992788-752ba9f0-a444-4379-8d07-c6cb06e0ff11.png">

[2022-08-22 18:50] jimchamp commented on #6833
Did you pass the `PYTHONPATH` when opening the shell?

I was able to import this author by running the following:
[code]

[2022-08-22 18:54] jimchamp commented on #6833
It may just be easier to add some dummy merge requests to the DB.  You can follow the instructions here to insert a few requests: https://gist.github.com/jimchamp/dd83ae3fe1ea86ae9621707fa96b4edf

[2022-08-22 19:47] mekarpeles commented on #6897
Awesome, thanks for sharing this link! @jimchamp and I can confirm that these are happening specifically to orphaned editions. We can investigate from here.

[2022-08-22 20:47] cdrini commented on #6454
Closed by #6430

[2022-08-22 20:47] #6454 closed

[2022-08-23 00:34] #6768 closed

[2022-08-23 00:54] jimchamp commented on #6660
@ciannellaleo sorry for the delay!  We're talking about list pages only (you can see an example [here](https://openlibrary.org/people/seabelis/lists/OL143333L/unknown)).
The template for this view is here: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/type/list/view_body.html
The new `Pager` should probably be between the list description and the list results.

[2022-08-23 01:26] jimchamp commented on #6897
The list widget is expected to look this way on orphaned edition pages.  The issue is that none of a patron's lists are present in the dropper on orphaned editions pages.  This may be related to a breaking change to list widgets that occurred some time ago (PR: #6159).

Before #6159 was merged, lists displayed in the drop-down would be updated when the "Use this Work" checkbox was toggled:
![use_t

[2022-08-23 07:15] muditjuneja commented on #6833
Yes, I used this exact command.
`docker-compose exec -e PYTHONPATH=. web bash`

[2022-08-23 07:17] muditjuneja commented on #6833
After inserting as per the queries, it gives me the following rendering error -
<img width="1726" alt="Screenshot 2022-08-23 at 12 42 31 PM" src="https://user-images.githubusercontent.com/15162221/186095221-c6e9007a-e879-4022-a117-c5428ccf96db.png">

After deleting the entries it started working again. Checking more to figure out.

[2022-08-23 13:14] jimchamp commented on #6833
We have recently added a new `mr_type` column to the `community_edits_queue`.  It looks like your local instance may be missing that column.  With the application running, you can add the new column by executing the following:

[code]

[2022-08-23 19:53] #6858 closed

[2022-08-23 19:54] #6855 closed

[2022-08-23 20:39] cdrini commented on #6635
So this is a solr research task; here are some of places where it will need modifications:

The solr schema which defines the various type of text fields has synonyms enabled -- but only at query time:

https://github.com/internetarchive/openlibrary/blob/82bc2f61c8c41363567d398b7b027a16775dbc91/conf/solr/conf/managed-schema#L426-L467

This blog post has some info: https://library.brown.edu/create/

[2022-08-23 20:40] cdrini commented on #6635
But we can definitely add something like `vol,vol.,Volume` in there and see if it helps with that!

[2022-08-23 20:46] cdrini commented on #6635
Actually it looks like the synonyms file is working! You can see the `TV` one in action here: https://openlibrary.org/search?q=television+kid&mode=everything .

So adding volume should be easy enough!

[2022-08-23 21:22] agmckee commented on #6897
Updated the title to reflect what we've already learned through this discussion, and thank you to all who've participated so far :)

[2022-08-25 14:32] cclauss commented on #6822
A [git blame of `ab.py`](https://github.com/internetarchive/openlibrary/blame/master/openlibrary/core/ab.py) shows that the last meaningful changes were made 9 years ago.  Since then, only code formatting changes.

[2022-08-25 17:06] cclauss commented on #6822
ISBN, Move off /1, easy bulk access, Handle redactions (take down request).

[2022-08-25 18:32] mekarpeles commented on #5080
Solution: Get a list of all work ids from a patrons reading log shelf and then limit a solr search to these IDs!

[2022-08-25 18:49] muditjuneja commented on #6833
Hi @jimchamp, I have added the highlighted styling here - https://github.com/internetarchive/openlibrary/pull/6913. Let me know if anything should be changed.

[2022-08-25 18:56] #6891 closed

[2022-08-26 23:51] jimchamp opened #6915 "Investigate and correct Work Merge UI `503` errors"
### Evidence / Screenshot (if possible)
The work merge UI was very difficult to use today on account of several asynchronous rating, edition, and list fetches failing with `503` errors.  After a page refresh, everything would usually load without fail (for me, anyway).

Note that until all records are fetched, the merge button is disabled.

### Relevant url?

### Steps to Reproduce

1. Select a nu

[2022-08-28 16:12] ciannellaleo commented on #6660
Well, I am getting trouble running the application. I have read all the documentation and have done everything right but still got infogami error. Yes, I have cloned the repository via SSH. Can anybody help me, please?

[2022-08-29 15:43] jimchamp commented on #6660
What commands were executed, and what were the errors?

[2022-08-29 18:42] ciannellaleo commented on #6660
I have forked the repository and cloned it to my local environment via SSH. I tried to clone directly from openlibrary too, but got the same error. I have executed the basic commands to build the docker image, following this https://github.com/internetarchive/openlibrary/blob/master/docker/README.md

![image](https://user-images.githubusercontent.com/96359865/187274358-366ce2c2-38a3-4fdd-a032-23c1

[2022-08-29 19:21] cdrini commented on #6915
@seabelis @mheiman I know we were seeing this a lot a few days ago; is this still popping up a lot?

[2022-08-29 19:39] cdrini commented on #6717
@mekarpeles @hayoonc is this sufficiently done to consider closing this issue?

[2022-08-29 20:49] mheiman commented on #6915
It was happening on every merge on Friday/Saturday -- now it seems to strike about 10% of the time. So, still a problem, but not completely disruptive.

[2022-08-30 15:24] #6833 closed

[2022-08-30 17:09] cdrini commented on #6590
Created the edition-level classification/IDs; I created a file for work config and added the IDs listed here, but we don't have a UI for it yet, so leaving this issue open/blocked until #3430 is fixed.

[2022-08-30 17:26] cdrini commented on #6875
The code is here: https://github.com/internetarchive/openlibrary/blob/7e877d32995e3716c11fd478b91dd2469441059c/openlibrary/templates/work_search.html#L149-L152

[2022-08-30 18:25] cdrini opened #6918 "Cannot commit in gitpod: "No module named pre_commit""
Add pre_commit to the gitpod environment

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders
@cclauss @bicolino34

[2022-08-30 20:55] #6713 closed

[2022-08-31 11:18] bicolino34 opened #6923 "Add support for solr spell checking ("Did you mean?")"
Currently, search is too strict with letters. Compare [Безпека життєдіяльності](https://openlibrary.org/search?q=%D0%91%D0%B5%D0%B7%D0%BF%D0%B5%D0%BA%D0%B0+%D0%B6%D0%B8%D1%82%D1%82%D1%94%D0%B4%D1%96%D1%8F%D0%BB%D1%8C%D0%BD%D0%BE%D1%81%D1%82%D1%96&mode=everything) and [Безпека життєдіяльност](https://openlibrary.org/search?q=%D0%91%D0%B5%D0%B7%D0%BF%D0%B5%D0%BA%D0%B0+%D0%B6%D0%B8%D1%82%D1%82%D1%94%

[2022-08-31 15:41] kushalShukla-web commented on #6923
Hey can I work on this

[2022-08-31 16:24] cdrini commented on #6889
@seabelis We can't seem to reproduce; could you message me on slack with details about the user? It might be something specific to their account. Do you know if they're still having issues?

[2022-08-31 16:30] cdrini commented on #6660
Hi @ciannellaleo ; hmmm that's a messy error... It seems like all the containers exited with `No module named 'infogami'`.... What operating system are you using?

[2022-08-31 18:42] tfmorris commented on #6923
While the "Did you mean" spellcheck feature may be valuable in certain cases, I think for the stated use case using fuzzy search with an edit distance would be a better solution.

https://solr.apache.org/guide/8_11/the-standard-query-parser.html#fuzzy-searches

And, I'd consider this more a bug fix than a feature request. All modern search implementations handle this case with ease.

[2022-08-31 19:20] philschatz opened #6926 "Converting uploaded EPUB to other formats fails"
Hello, When I upload an EPUB the jobs that run seem to fail to generate a PDF which causes the Book Viewer to not show up (it worked on June 30).

It seems the failure occurs on the machine that runs the `ebook-convert` command [from Calibre](https://github.com/kovidgoyal/calibre/blob/eb78a761a99ac20a6364f85e12059fec6517d890/src/calibre/linux.py#L22).

Another person encountered the _same error 2

[2022-09-01 09:50] ciannellaleo commented on #6660
Hello @cdrini. I am using Windows. Docker version 20.10.17, build 100c701 and docker-compose version 1.29.2, build 5becea4c

[2022-09-01 16:56] jimchamp opened #6927 "Sort records by `last_modified` date instead of `created` date P2"

[2022-09-03 08:39] BoseSj commented on #6759
Hi, I am quite a beginner at Open Source. I would like to try. Can I work on this issue?

[2022-09-03 10:24] BoseSj commented on #6759
I am not able to reproduce the issue, have tried in firefox (along with edge and chrome)  in the minimum width window.
It seems to be fine.
![image](https://user-images.githubusercontent.com/58129377/188266352-f5e384b1-0090-481e-8ed9-7c33365b65a6.png)

[2022-09-03 15:10] #6759 closed

[2022-09-03 15:57] agmckee commented on #6552
The sample SPARQL query that's generated shows the wrong author ID which is why the query doesn't return data for this author. I guess this is because of an author merge. There have been two author merges take place on this author record in Open Library so it looks like the OLID originally associated with this author now redirects to the author ID being used for the query (but with no matching ID

[2022-09-04 12:40] seabelis opened #6933 "Add book form does not allow correction of error"
What problem are we solving? What does the experience look like today? What are the symptoms? -->
When adding a book, if an unexpected value is added to the date field, an error message appears, but without any way of correcting the input.
It was previously possible to correct the input, so this is new, probably since the last one or two deployments.

### Evidence / Screenshot (if possible)
<img w

[2022-09-05 12:24] bicolino34 commented on #6375
TWA now points to openlibrary.org

[2022-09-06 20:14] cdrini opened #6937 "Add Google sign in button to hamburger menu"
One of the nice things about the google sign in button is that it requires only a single click. Let's add this button to the hamburger menu, so patrons can log in with a single click from anywhere.

### Describe the problem that you'd like solved

### Proposal & Constraints

| Currently | After |
| ---- | --- |
| ![image](https://user-images.githubusercontent.com/6251786/188728208-996ca7a3-c8b5-4c

[2022-09-06 20:38] #6875 closed

[2022-09-06 20:50] cdrini opened #6938 "Add Google analytics tracking to search facets"
We want to know how much these are used; these are expensive to compute, so if any are not used we should remove them or make them lazy. And we should promote the most used ones to the top.

Eg update `<a href="/search?q=the+alchemist&amp;mode=everything&amp;author_key=OL112771A" title="Filter results for Ben Jonson">Ben Jonson</a>` to `<a href="/search?q=the+alchemist&amp;mode=everything&amp;auth

[2022-09-06 21:20] mekarpeles commented on #6918
Would it be useful to do a short "developing in gitpod" video?

[2022-09-06 21:21] mekarpeles opened #6939 "Short tutorial video: "Developing Open Library using Gitpod""
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-09-06 21:25] mekarpeles commented on #6926
Hi @philschatz! Thank you for bringing this to our attention. I'm cc'ing @jimbonator and @bfalling as this derive operation relates to Archive.org (as opposed to OpenLibrary.org)

[2022-09-06 21:25] #6926 closed

[2022-09-06 21:31] mekarpeles commented on #6825
I believe dumps are generating again (and an issue regarding pollution of logs during generation has been fixed) https://archive.org/download/ol_dump_2022-08-31/ol_dump_editions_2022-08-31.txt.gz

[2022-09-06 21:31] #6825 closed

[2022-09-06 21:44] #6927 closed

[2022-09-06 21:53] #6717 closed

[2022-09-06 22:08] mekarpeles opened #6940 "Modifying Librarian Permissions"
@jimchamp was investigating what librarian privileges should be, I think the following permissions may make sense, for @seabelis to verify, whereas `super-librarians` should likely have many of these permissions.

:x: Viewing /admin pages (super-librarians also shouldn't have this)
:x: Recaptcha exemption when adding books
:question: Deleting a book via the edit form
:x: Modification of OCAIDs
:wh

[2022-09-07 16:26] jimchamp opened #6942 "ILE blue bar obstructs hamburger drawer"
The "Help & Support" link in the hamburger drawer is partially obstructed by the ILE blue bar.

### Evidence / Screenshot (if possible)
![Screenshot from 2022-09-07 12-13-42](https://user-images.githubusercontent.com/28732543/188928424-9ee799f0-469e-4422-a4da-1b25b55e487f.png)

### Relevant url?

### Steps to Reproduce

When logged in as a `librarian`, `super-librarian`, or `admin`:
1. Go to a sea

[2022-09-07 21:03] philschatz commented on #6926
Thanks! After waiting a little longer the books successfully built.

From the logs it seems that the `ebook-convert` program is gradually given more resources and the books seem to build by the 3rd attempt.

So the `No suitable graphics backend found` message was a red herring and we just had to wait a bit longer.

[2022-09-08 00:13] #6933 closed

[2022-09-08 05:38] #6050 closed

[2022-09-09 02:49] cdrini opened #6949 "Move "Viking Kestrel Picture Books" from edition titles to series field"
There are ~80 books containing this publisher series in the title. This is causing these books to misleading match queries like `title:vikings`. Let's move it to the appropriate field, series.

Here's a query you can use (note it must use testing.openlibrary.org): https://testing.openlibrary.org/search.json?q=title%3A+%22Viking+Kestrel+Picture+Books%22&mode=everything&fields=key,title

And here's

[2022-09-09 02:59] scottbarnes commented on #6949
I'd like to work on this.

[2022-09-09 06:58] Yashs911 commented on #6375
@cdrini @bicolino34 It would be great if we can generate a new APK and update it on Google Play Store because currently its using the testing.openlibrary.org APK

[2022-09-09 07:02] bicolino34 commented on #6375
Indeed. It is still pointing to testing.openlibrary.org. my mistake. Sorry for that

[2022-09-09 07:05] Yashs911 commented on #6375
Generating a new APK and updating the SHA-256 (from Play Store) [here](https://openlibrary.org/static/.well-known/assetlinks.json) should fix the issue

[2022-09-09 14:55] mekarpeles opened #6950 "SSL Certificate reverted after renewal"
### Summary

**Note:** This has happened multiple times to us! Added a `repeat-issue` label to help tracking of such issues in the future.

**Occurrences:** 2+ (2020, 2022)

- **What is wrong?**

A day after using ansible to renew the SSL certificates on Open Library, the certs showed as expired

- **What caused it?**

Internet Archive operations work differently for servers running Ubtuntu 14 Tru

[2022-09-09 15:20] mekarpeles opened #6951 "Move nginx to use letsencrypt certs (depends on ol-www0 / OS upgrade)"
switch `ol-www0` from using godaddy cert to letsencrypt:

[code]

## Challenge
1. The baremetal machine doesn't have nginx and installing nginx may conflict with docker forwarding its nginx ports out.
2. ol-www0 is a read-only file system that gets wiped away during deploys so presumably we want certs on the host volume mounted in. Meaning we likely need to install a dummy nginx on the host and th

[2022-09-09 21:10] mekarpeles commented on #5918
Closing for now, eventually we'll switch to solr editions, we already have limit to ebooks

[2022-09-09 21:10] #5918 closed

[2022-09-09 22:07] #6950 closed

[2022-09-10 03:44] RayBB opened #6952 "Is there an API to access ratings or reviews?"
### Question

Is there an API to access ratings or reviews?

I would like to be able to access:
1. Ratings (count of ratings and ratings themselves if possible, but at least an average)
2. How many lists it's in (75 Want to read, 3 Currently reading, 12 Have read, etc)
3. Community Reviews (at least count)
4. Any other data related to how users have interacted with a book if possible (number of ch

[2022-09-10 07:56] theshashankpal commented on #6536
Hi @tuminzee ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
I see that this issue is yet to be resolved and is not assigned,Can you please assign this to me?

[2022-09-12 04:39] hornc commented on #6868
Bot task completed -- duplicate LCCNs without prefixes should be clear (from ol_dump_editions_2022-06-06 which should capture the vast majority of historically imported LCCNs from MARC records)

[2022-09-12 04:39] #6868 closed

[2022-09-12 05:04] cdrini commented on #6949
Woohoo! Nice work @scottbarnes ! Search shows up clean :)

[2022-09-12 05:04] #6949 closed

[2022-09-12 16:33] #6940 closed

[2022-09-12 19:07] mekarpeles commented on #6434
Thanks @tfmorris, moving over the P2 + Needs Community discussion and closing this duplicate of #2819

[2022-09-12 19:07] #6434 closed

[2022-09-12 19:11] #6627 closed

[2022-09-12 19:12] mekarpeles commented on #6536
Thanks @theshashankpal, help would be appreciated!

More context is provided in the duplicate issue #6627

**One proposal is:**
Apply enough scroll-padding to the top of the html element to offset the incorrect positioning. You will likely need to use different amounts for mobile and desktop.

[2022-09-12 19:15] mekarpeles commented on #6952
Swagger seems like a great step moving forward. As a step 0, having **some** documentation on https://openlibrary.org/developers/api may be useful (whether this is a page or a section).

Leaving this for @jimchamp to decide, but if someone created a page + section on https://openlibrary.org/developers/api that seems like a win (which can be cleaned up later)

[2022-09-12 19:19] mekarpeles commented on #6889
this issue has been a P1 for 2 consecutive weeks and we haven't bee able to reproduce the problem so we're going to close for now. If you can get us any additional information about whether the patron is still facing issues, we will re-open and give it the high priority it deserves:

[2022-09-12 19:19] #6889 closed

[2022-09-12 21:06] mheiman commented on #6556
All of the associated tasks are complete, so I'm going to close this issue. Further enhancements can be requested in new issues.

[2022-09-12 21:06] #6556 closed

[2022-09-12 21:11] mheiman commented on #6194
This one seems to have been resolved by some other change.

[2022-09-12 21:11] #6194 closed

[2022-09-12 22:14] mekarpeles opened #6955 "Audit Donate DWWI criteria to reduce duplicates"
### Evidence / Screenshot (if possible)

We want to make sure that the donate buttons shown on Open Library reflect the right criteria returned by DWWI (do we want it) to avoid showing a button for books we already have in the library

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operat

[2022-09-13 16:11] ztjhz commented on #6942
Hi, I would like to work on this issue. You can assign this issue to me!

[2022-09-13 16:13] Karthik-PM commented on #6938
i would like to work on this issue , please assign it to me

[2022-09-13 16:22] mekarpeles opened #6964 "ol-www0 anonymized IP metrics tools require upgrade"
For now in nginx.conf we may replace `remote_addr_hashed` with `remote_addr` to temporarily identify abuse patterns.
Moving to P2

We'll implement the upgrade on ol-www0

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Enviro

[2022-09-13 16:28] cdrini commented on #6937
- Mark: "Sign in w Google" Doesn't imply register; (Drini maybe "Continue with Google")
- Mek: Takes up more space; would this scale for other providers?

[2022-09-13 21:30] jimchamp commented on #6942
Thanks @ztjhz!
The CSS for the ILE blue bar is in this file: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/js/ile/utils/SelectionManager/SelectionManager.less

The hamburger drawer CSS is here: https://github.com/internetarchive/openlibrary/blob/master/static/css/components/header-bar.less

[2022-09-13 23:35] yoonmgyg commented on #6938
Hello, I would like to begin working on this issue.

[2022-09-14 19:42] #6942 closed

[2022-09-15 00:52] jimchamp opened #6968 "Create statistics page for merge request submitters and reviewers"
### Describe the problem that you'd like solved

The new merge request UI displays the total number of closed requests at a glance.  This is nice, but it would be more helpful to see some detailed statistics about closed requests, and the librarians that are submitting and reviewing the requests.

### Proposal & Constraints

Create a new page (or pages) where statistics about the submitters and re

[2022-09-16 05:54] scottbarnes commented on #6294
@cdrini, I'd like to work on this!

[2022-09-19 07:18] seabelis opened #6974 "List search only finds exact matches"
From a patron:
A List search result is only given if the exact, full name of a list is used in the search. Searching on words that are only part of a list name returns "No results found."

### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/search/lists

### Steps to Reproduce

1. Go to ... https://openlibrary.org/search/lists
2. Do ... enter a partial list name, fo

[2022-09-19 07:33] seabelis opened #6975 "Javscript breaking in Safari"
Reported by a patron; I have been able to reproduce the issue.
Search for ebooks doesn't appear to work on MacOs Safari

### Evidence / Screenshot (if possible)
<img width="1680" alt="Screenshot 2022-09-19 at 09 32 40" src="https://user-images.githubusercontent.com/17739465/190969541-36443ffd-13b2-4446-a54f-4b46748fb104.png">

### Relevant url?

https://openlibrary.org/search?q=%22BETTY+NEELS%22&m

[2022-09-19 18:06] mekarpeles opened #6976 "Keeping up Open Library during IA outage"
### Describe the problem that you'd like solved

How to fail gracefully when [Archive.org](http://archive.org/) services are down?

- [ ] See what errors are thrown where / when spoofed URLs are added to the olsystem openlibrary.yml config for http://archive.org services [on ol-mek or testing]
- [ ] Map out what requirements exist in our wiki e.g.
* Elastic Search?
* Metadata API
* Items?
* Borrow

[2022-09-19 18:23] cdrini commented on #6377
This has been on production over the weekend! Things look good! A few issues found/added
Scripts testing

[code]

Monitoring:
- ol-solr0 utilage: https://wwwb-grafana0.us.archive.org/d/000000174/ol-solr0?orgId=1&refresh=1m&var-fqhostname=ol-solr0_us_archive_org&var-resolution=30m&from=now-6h&to=now
- ol-web1 utilage: https://wwwb-grafana0.us.archive.org/d/000000174/ol-solr0?orgId=1&refresh=1m&var-

[2022-09-19 18:25] cdrini commented on #6377
It is a little slower, but not a ton slower. I think it might be good enough for merging though and we can make perf improvements to the facet system :+1:

![image](https://user-images.githubusercontent.com/6251786/191088223-89dadab5-fab6-4b12-96c1-6b57ccd40e80.png)

[2022-09-19 19:13] mekarpeles commented on #6975
This appears to be related to a query param `&has_fulltext=true` which somehow is dropped (unclear if safari specific or whether that patron somehow entered a unconventional flow).

One possible solution is just to add `has_fulltext=true` if `mode=ebooks` present?

[2022-09-19 19:16] mekarpeles commented on #6975
Upon further investigation (@cdrini ran in safari) it looks like jquery or something may be having trouble in safari `$` not found? Whatever the root cause is results in js breaking across the experience and the original issue opened is downstream of this root cause. Investigating.

[2022-09-19 20:54] #6975 closed

[2022-09-19 22:45] cdrini opened #6978 "Pagination broken on trending pages"
[code]

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/191132271-7a46ae90-02a9-4b52-90d2-80ba97417122.png)

### Relevant url?
- eg https://openlibrary.org/trending/daily?page=2&debug=true
- Sentry (staff only): https://sentry.archive.org/organizations/ia-ux/issues/45801/?project=7&query=is%3Aunresolved

### Details

- **Logged in (Y/N)?** Y
- **B

[2022-09-20 00:50] scottbarnes opened #6980 "Author not added to work if neither the pop-up author name, nor "Create a new record for" is selected on /books/add"
When entering a book via http://localhost:8080/books/add, the text entered into the "Author" field is only added to the book's record if the patron clicks on the pop-up for (1) the existing author name, if the author exists, or (2) "Create a new record for" if the author does not exist.

For people typing quickly or using tab on the keyboard to switch fields, it can be easy to overlook clicking on

[2022-09-20 04:07] cdrini commented on #6938
Hi @yoonmgyg, please! Let us know if you have any questions :)

[2022-09-20 13:59] ztjhz commented on #6696
I would like to try to work on this.

[2022-09-21 15:56] #6728 closed

[2022-09-22 17:22] mheiman commented on #6882
I've dug deep into the code, but Infogami doesn't return this identifier at the time a bulk edit occurs — it only returns the set of changed records.  It might be possible to surface it with some very deep Infogami changes, but that would require also modifying all the code that relies on the current return value, and that would be a very significant change.

I have already implemented the` /recen

[2022-09-22 18:45] mheiman commented on #6371
What's going on here is the author merge doesn't actually record the specific changes made to works during the merge, it just makes the change and notes the new revision number of the work.  All that the merge history records is that these authors and these works were changed, and these are the current revision numbers for each of those objects.

When you request an undo, the process looks at that

[2022-09-22 20:53] mekarpeles opened #6992 "Show patron's selected lists in Reading Log button dropdown"
Move already-lists into the dropper with check-boxes (don’t change sort while open, ajax to update)

**Instead of showing patron's active lists under the Reading Log Button component**
![www figma com_file_uIY20MIY2LgwKT7KwCgYJB_Open-Library-Mobile_node-id=0%3A1 (5)](https://user-images.githubusercontent.com/978325/191848826-42332cf9-0ca6-428a-9bf5-3cc03ebbff1b.png)

**Show patron's active lists _

[2022-09-22 22:28] justkeeppushing commented on #6660
Hello, I was able to get this to work with `docker compose -f docker-compose.yml -f docker-compose.override.yml up` (distinct from 'docker-compose' binary from apt). I am on the same Docker build. Try using this `docker compose` which is exposed from Docker Desktop's WSL2 integration.

if you don't have WSL2 docker integration enabled, I would suggest to  do so and uninstall any existing binary's

[2022-09-23 14:50] mekarpeles commented on #3493
The figmas are no longer accessible -- @tabshaikh I'm closing this issue, feel free to re-open if you have access to the figmas to share

[2022-09-23 14:50] #3493 closed

[2022-09-23 14:55] mekarpeles commented on #6915
Here is a concrete example I am hitting (unless it's been merged)
https://openlibrary.org/works/merge?records=OL16283010W,OL19642672W,OL21525711W,OL21780035W,OL21836646W,OL21836832W,OL21844199W,OL21847252W&primary=OL16283010W

[2022-09-23 15:08] mekarpeles commented on #6882
Closing per @mheiman's research + informed suggestion. Thank you kindly for investigating!

[2022-09-23 15:08] #6882 closed

[2022-09-23 15:12] #6859 closed

[2022-09-23 15:23] mekarpeles commented on #6064
Squashed!!!

[2022-09-23 15:23] #6064 closed

[2022-09-23 22:08] mekarpeles opened #6995 "Audit how many Internet Archive Promised/Incoming ISBNs in Open Library"
Worked with @scottbarnes on a solution to check a single promise item's ISBNs against the Open Library solr catalog:

https://colab.research.google.com/drive/1on6YFGxasAkFjRYHrM0_CdCdDJekzVYb

The results for `bwb_daily_pallets_2022-09-21` were:
* 1705 isbns in total (excluding ids stating with "BWB")
* 1254 hits (in OL)
* 451 misses (in OL)
~73%

### Describe the problem that you'd like solved

#

[2022-09-23 22:08] #6995 closed

[2022-09-23 23:56] mekarpeles opened #6996 "Merge Request Dashboard Chat Redesign"
### Evidence / Screenshot (if possible)

It seems like it may not be obvious to some librarians that pressing "enter" in a Merge Request's chat message box will submit it (since the UI hides previous messages).

Here's one thread I expanded where the contributor submitted many of the same message, maybe out of confusion.
![openlibrary org_merges_mode_closed_page_4](https://user-images.githubuserco

[2022-09-24 02:53] #5991 closed

[2022-09-24 07:23] bicolino34 opened #6998 "Add http://resource.history.org.ua/cgi-bin/eiu/history.exe to Trusted Book Providers"
It is the site of Institute of History of Ukraine NAS of Ukraine and at the moment it has 3546 books available for reading online. And new ones are constantly added.
Books are mostly in Ukrainian.
Can be used for importing new books, but the problem is there seems to be no standardized field for publisher, though all other data needed for creation of books seems to be available.
Site is available

[2022-09-25 13:11] #6978 closed

[2022-09-26 03:25] mekarpeles commented on #6004
Given the inclusion of e.g. trending carousels, going to close this issue for now. Also, re-scoping first by removing epic classification.

[2022-09-26 03:25] #6004 closed

[2022-09-26 03:29] mekarpeles commented on #2728
closing as duplicate of #6377

[2022-09-26 03:29] #2728 closed

[2022-09-26 03:30] mekarpeles commented on #6377
Are there any sub-issues from #2728 which may be useful to update given the work we've done in this thread?

(that issue is from 2019 so it themed like we may want to just cherry-pick relevant pieces and pull them here or into a new issue)

[2022-09-26 17:42] jimchamp opened #7003 "October Book Page Updates"
(Duplicate of https://github.com/internetarchive/openlibrary/issues/6484)

### Stakeholders

[2022-09-26 17:42] jimchamp opened #7004 "Re-style book page navbar and move to top of view"

[2022-09-26 17:42] jimchamp opened #7005 "Change Reading Log dropper from green to shell with blue border"
Change the style of our Reading Log dropper to something more like our "Preview" buttons.  This issue can be closed when our Reading Log droppers look similar to this mock-up:
![blue_shell_dropper](https://user-images.githubusercontent.com/28732543/192813199-3b638977-711b-4fab-adbb-851d982084d8.png)

### Related Files:
Reading Log dropper template: https://github.com/internetarchive/openlibrary/bl

[2022-09-26 17:42] jimchamp opened #7006 "Design and compartmentalize title and author component"
Move the title and author lines to a macro that can be more easily loaded and moved around

[2022-09-26 17:43] jimchamp opened #7007 "Move book description above omnibar"
The description on book pages should be positioned directly above the omnibar in both mobile and desktop views.

Here is an example of how this should look on mobile devices:
![Screenshot from 2022-09-26 19-38-21](https://user-images.githubusercontent.com/28732543/192399196-124f9f4c-53e9-4b75-8858-5180aad4ccc6.png)

Note that restyling the omnibar is out of scope for this issue.

[2022-09-26 17:43] jimchamp opened #7008 "Restyle the omnibar"
Our book page omnibar looks pretty bad in both mobile and desktop views:
![Screenshot from 2022-12-08 16-35-26](https://user-images.githubusercontent.com/28732543/206595903-3571eae7-e554-4ea3-86ad-2253beb648c2.png)
_Our current omnibar component_

Let's restyle the omnibar such that it looks like the following mock-up:
![Screenshot from 2022-09-28 11-06-23](https://user-images.githubusercontent.co

[2022-09-26 17:43] jimchamp opened #7009 "Display vendors beneath omnibar on mobile book page views"
On the mobile book page, the vendor section should appear directly beneath the omnibar.

![Screenshot from 2022-09-26 19-52-36](https://user-images.githubusercontent.com/28732543/192400589-ed0cc63d-11e6-4a4f-8bf0-07b05f7c4219.png)

In order to achieve this, the existing vendor section should be duplicated and added to the template after the omnibar section.  The newly created vendor section should

[2022-09-26 19:13] mekarpeles commented on #6955
I talked to Liz + Jude and looked at the code and it looks like DWWI + donate button generally doing the right thing

[2022-09-26 19:13] #6955 closed

[2022-09-26 19:15] mekarpeles commented on #6752
historical run starting at 322,000 will run from ol-mek1 and then we'll configure the cron for ol-home0 cron container (which requires the olsystem cron)

[2022-09-27 00:03] sidney888 commented on #6536
Hi @mekarpeles , I am starting working on this, i will look into the proposal you made and will try and get this resolved!

[2022-09-27 00:19] #4708 closed

[2022-09-27 02:59] BinniesLite commented on #7007
Hi @jimchamp , I would love to work on this.

[2022-09-27 04:27] ztjhz commented on #7009
I would like to work on this

[2022-09-27 10:40] el4ctr0n opened #7014 "Adding the National Library of Ukraine to the list of possible identifiers on OpenLibrary book pages"
Can you please add the National Library of Ukraine
to the list of possible identifiers on OpenLibrary book pages?
Ukraine National Library's catalog website: http://irbis-nbuv.gov.ua
![Screenshot_20220927-173715_Chrome](https://user-images.githubusercontent.com/19307323/192504199-ba720b9e-55e0-4699-84e8-e61f0c3e63a6.jpg)

Thank you for considering my suggestion.

[2022-09-27 15:41] #7003 closed

[2022-09-27 16:19] scottbarnes commented on #5080
I'd like to work on this, @mekarpeles.

[2022-09-27 16:50] mekarpeles opened #7016 "Add db index to essential columns in multi-key tables"
**Indexes to be added to the schema**
- ratings
- bookshelves_books
- observations
- booknotes
- checkins

**Migration to run on ol-db1**

`ratings`
- [x] `CREATE INDEX ratings_work_id_idx ON ratings (work_id);`

`booknotes`
- [x] `CREATE INDEX booknotes_work_id_idx ON booknotes (work_id);`

`bookshelves_books`
- [x] `CREATE INDEX bookshelves_books_work_id_idx ON bookshelves_books (work_id);`

`ob

[2022-09-27 17:06] seabelis opened #7017 "Solr performance issues"
Multiple folks have noted solr performance issues as noted below.

From community call notes...
Autocomplete
- adding authors
- Languages
- Changing work IDs for moving a work
- Subjects
- Searching by ISBN; there’s a delay before the preview appears (main nav search box)

Consistent in the past ~month
Might be everything in this autocomplete

Lisa: Searching frequently produces no results but the

[2022-09-27 17:26] mekarpeles commented on #7017
Similar to #6377 epic

[2022-09-27 17:51] #7016 closed

[2022-09-27 17:59] mekarpeles commented on #6324
@seabelis is this resolved? Can it be closed?

[2022-09-27 18:51] mekarpeles opened #7019 "Convert My Books main nav item to dropdown"
### Describe the problem that you'd like solved

- My Borrows
- My Reading Log
- My Reading Stats
- My Lists

### Proposal & Constraints

- [ ]  unique analytics on each item (we want to know whether patrons click via hamburger v. the dropdown)

### Additional context

### Stakeholders

[2022-09-27 18:54] mekarpeles opened #7020 "Remove "profile + settings" from My Books navigation"
On https://openlibrary.org/account/books, remove settings + profile links from My Books page

![openlibrary org_people_mekBot_books_want-to-read (2)](https://user-images.githubusercontent.com/978325/192611817-804a0817-970b-4e09-b2ef-c7b390091ccb.png)

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-09-27 18:55] mekarpeles opened #7021 "Main Site Navigation Hamburger: More consistent sections"
Dana to add a screenshot + notes!

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-09-27 19:05] seabelis commented on #6324
Yes.

[2022-09-27 19:05] #6324 closed

[2022-09-27 22:05] jimchamp commented on #7007
Thanks @BinniesLite!  Let me know if you need any guidance.

[2022-09-27 22:06] jimchamp commented on #7009
Thanks @ztjhz!  Let me know if you have any questions.

[2022-09-27 22:39] #7020 closed

[2022-09-28 00:59] Mustafa-Azad025 commented on #7019
hey @mekarpeles ,
Please Assign This Task To Me .

[2022-09-28 01:07] Mustafa-Azad025 commented on #7019
Please Give The Path Where You Have Created Navbar Section.

[2022-09-28 02:02] BinniesLite commented on #7007
Hi @jimchamp, absolutely, I'll try and get this done in the hacktoberfest.

[2022-09-28 06:40] prakhar1144 commented on #6938
Hi @yoonmgyg , please let me know if you are still working on this issue. Otherwise I would be happy to work on this issue.

[2022-09-28 17:03] mekarpeles opened #7024 "Make Book Page Star Ratings summary go to "rate" section"
### Describe the problem that you'd like solved

If patron clicks on the star ratings summary, bring them to an `<anchor>` for leaving a star rating (with visual highlight or border around component)

subtask of #6484

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-09-28 17:10] #6752 closed

[2022-09-28 17:22] #6696 closed

[2022-09-28 22:49] onnotasler opened #7028 "Error message at Already Read Stats page does not work on merged works"
I got an error message telling me that "3 works excluded due to missing data" from the "Most Read Authors" section. I assume it should tell me which books are missing (because that is what it does with the other stats), but in this case, I only get question marks:

(????) by
(????) by
(????) by

Upon looking into it, I saw that three of the books from my list had been merged and remained only as p

[2022-09-29 12:50] ztjhz commented on #7009
@jimchamp
May I know where the omnibar is at? I do not see it in the book page:

<img src="https://user-images.githubusercontent.com/59118459/193035733-f6500b96-7a70-463f-a365-98a3939c3dbc.png" height=500/>

[2022-09-29 13:34] Nishant891 commented on #7008
Hey! I would like to contribute in this issue.

[2022-09-29 14:25] jimchamp commented on #7009
This is the omnibar:
![Screenshot from 2022-09-29 10-23-25](https://user-images.githubusercontent.com/28732543/193057922-9850c49e-0adc-4241-8a50-6e7e35b1f1d2.png)
_Mobile view_

![Screenshot from 2022-09-29 10-22-24](https://user-images.githubusercontent.com/28732543/193057986-e184242b-88e8-418c-a4c3-325d4bfd0369.png)
_Desktop view_

You can find it by searching for an element with class `edition-

[2022-09-29 14:27] jimchamp commented on #7008
Thanks @Nishant891!  Please let me know if you have any questions.

[2022-09-29 16:05] Nishant891 commented on #7008
Okay I will.

[2022-09-29 16:28] onnotasler opened #7030 "Two entries for Bibliothèque Nationale de France in Identifier list, one does not work"
The French National Library has two entries in the Identifiers list in the book edit page.

1. Bibliothèque Nationale de France
2. Bibliothèque nationale de France (BnF)

Only the first one works, the second one has no effect.

Furthermore, it is not clear which identifier from the BnF should be included, they have two:
1. Identifiant de la notice  : ark:/12148/cb45200132d
2. Notice n° :  FRBNF452

[2022-09-29 19:14] cdrini commented on #4799
This was likely fixed by #5600 . I can no longer reproduce the issue.

[2022-09-29 19:14] #4799 closed

[2022-09-30 17:23] Paari1263 commented on #7008
Hey @jimchamp , I have completed the design of this omnibar as your mock design. Can you assign me,  so that I can create a PR.

[2022-09-30 18:02] tfmorris opened #7032 "Cannot add edition identifiers with names containing illegal Javascript id characters"
Selecting an book identifier which has a name/label containing parentheses (e.g. "Bibliothèque nationale de France (BnF)") causes a Javascript error when you attempt to add the identifier value. This causes one of the problems reported in #7030.

### Evidence / Screenshot (if possible)
![Screen Shot 2022-09-30 at 1 43 59 PM](https://user-images.githubusercontent.com/82178/193327113-467892ca-1dfb-4

[2022-09-30 18:14] tfmorris commented on #7030
The first entry doesn't have have a "url" key, so won't work as a link. It should just be deleted from https://openlibrary.org/config/edition (which I don't have the permission to do). The second entry will work when the bug described in #7032 is fixed.

The current URL value ("http://catalogue.bnf.fr/rechercher.do?motRecherche=@@@") will work with the ARK suffix that you used, cb45200132d, (as we

[2022-09-30 18:18] jimchamp commented on #7008
@Nishant891 is currently assigned to this issue.
@Paari1263 if there is something that you'd like to work on, please ask to be assigned first.

[2022-09-30 18:28] tfmorris commented on #7032
Labels containing dots/periods ("."), such as "abebooks.de" also fail, as described in #6300.

[2022-09-30 18:28] tfmorris commented on #6300
This has the same root cause as #7032.

[2022-09-30 19:11] Paari1263 commented on #7008
Can you assign me please

[2022-09-30 20:03] tfmorris commented on #7017
Performance is erratic and miserable. I'd suggest adding latency metrics *and monitoring them* so that you don't have to wait for users to spend a month being pissed off.

Some of the symptoms I've seen include:
* autocomplete taking *several* seconds
* page renders failing with obscure errors (e.g. "plural must be number, not None") because solr delivered information isn't available
* author merg

[2022-09-30 20:39] tfmorris opened #7035 "Search handles initials incorrectly"
There are a variety of problems with the way that search handles initials. The three most annoying are:

1. Failure to tokenize initials which aren't separated by spaces correctly.
2. Failure to consider order of initials when ranking search results
3. Inability to search for repeated initials

The results for these two queries should be the same:
https://openlibrary.org/search/authors?q=h.a.j. (9

[2022-09-30 20:45] tfmorris opened #7036 "Author search handles hyphenated names (e.g. smith-jones) incorrectly"
The author search results for "smith-jones" seem to indicate that it's actually searching for just "smith". Modifying the search term to "smith jones" produces more reasonable results (but, as with other searches, doesn't appear to prioritize correct ordering).

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/search/authors?q=smith-jones
https://openlibrary.org/s

[2022-09-30 21:13] tfmorris opened #7038 "Edit history should provide direct link to author-merge detail"
### Describe the problem that you'd like solved
The edit history should provide an easy way to get to the details of an author merge. For example,
https://openlibrary.org/authors/OL117575A/Joseph_H._Barrett?m=history
should provide a link to
https://openlibrary.org/recentchanges/2022/09/30/merge-authors/97278924

This would both allow for quick verification of the source records for the merge as w

[2022-09-30 21:21] tfmorris opened #7039 "Privacy issue - leaking IP addresses"
The edit history shows that not only are IP addresses being tracked, but they are being retained and made publically available through an unsecured API

### Evidence / Screenshot (if possible)
![Screen Shot 2022-09-30 at 5 18 32 PM](https://user-images.githubusercontent.com/82178/193357712-85165c9d-1a56-4b3a-a1d6-f281c38ba8f3.png)

### Relevant url?
https://openlibrary.org/authors/OL117575A.json?m

[2022-09-30 21:39] tfmorris commented on #5333
Amazon has very poor quality metadata which is rife with errors. The best solution is to just not import it.

[2022-09-30 22:27] onnotasler opened #7040 "Search should be aware of typical "diacritic replacement characters""
OpenLibrary is meant to be multilingual, which means it has books in very many different languages. Many of these languages have symbols that look identical (homoglyph) or at least very similar to a human, but are stored very differently.

Example: The island of Curaçao or the Turkish word Hayır.

For a (non-linguist) human, it is the ç is just a c with some kind of tail, and the ı is just an i th

[2022-09-30 22:54] cdrini commented on #5080
This should do the trick:

[code]

[2022-09-30 22:56] cdrini commented on #5080
Sample mockup just copying authors page
![image](https://user-images.githubusercontent.com/6251786/193367023-69804957-003b-4c9e-8df4-a8055153cde0.png)

[2022-10-01 23:16] zeeeeeb commented on #7004
Happy to work on this one!

[2022-10-02 06:15] jimchamp commented on #7004
Thanks @zeeeeeb!  Feel free to reach out if you have any questions.

[2022-10-02 13:13] BoseSj commented on #7021
I would to work on it. Please let me know what to update in the Hamburger menu?

[2022-10-02 20:13] zeeeeeb commented on #7004
@jimchamp making some progress; first question, there is a lot of overlap between styling of the generic `nav-bar` Navbar (used in the book search page) and the `work-menu` Navbar (which is the Navbar):
https://github.com/internetarchive/openlibrary/blob/caf727acdc61ed49bec0bbcbd9e1f0cedb7a38c9/static/css/components/work.less#L154

Would you want the styling changes to be reflected across both Nav

[2022-10-02 21:57] damiankomonski opened #7043 "Lack of DDC"
Hello,

I am working with this API and create application. I decided to show categories according to DDC number. When I search something on this endpoint:
https://openlibrary.org/search.json?q=ddc:1*&sort=new&limit=40&offset=4&fields=*

and next I get data about some book in this endpoint:
https://openlibrary.org/api/books?bibkeys=OLID:OL37756350M&format=json&jscmd=details

I don't have "dewey_dec

[2022-10-02 23:10] damiankomonski commented on #7043
Also it will be nice if Open Library API returned DDC category name apart from DDC ID.

[2022-10-03 12:21] jollygreenegiant opened #7044 "How to get redirected to merged work when using JSON API without making two calls?"
### Question
Is there a way to make a call to the JSON API redirect if the work being called has been merged, and redirects to a different work ID?

### Additional context
For example: work OL20867910W was merged, and the page now redirects to OL2707221W.  When going to openlibrary.org/works/OL20867910W, it redirects to the new merged work, as you'd expect.  But when calling openlibrary.org/works/

[2022-10-03 13:24] michas9009 commented on #7024
Hey @mekarpeles , could you assign me to this issue? Thanks in advance!

[2022-10-03 13:51] bicolino34 commented on #7014
By the way, this can also be used for Trusted book providers as this library also provides online version of books. For example, let's take book http://irbis-nbuv.gov.ua/ulib/item/UKR0001691 from this page you can click on "Переглянути документ" button, "View the document" if your language is set to English, which will lead you to scan of the book.
![image](https://user-images.githubusercontent.co

[2022-10-03 14:11] jimchamp commented on #7004
This is a great idea, but let's just apply this to the `work-menu` navbar for now.  I want to make sure that the rest of the team agrees before making changes to the search navbar.

[2022-10-03 17:24] cdrini commented on #7014
Does this look right, @el4ctr0n and @bicolino34 ?

[code]

[2022-10-03 17:57] Jyotiraditya24 commented on #7005
hey, could i work on this issue? I would love to contribute

[2022-10-03 20:40] cdrini opened #7045 "Add National Library of Ukraine to Trusted Book Providers"
Steps:

- [ ] Get a data dump of records we can import into Open Library with `nbuv` IDs
     - Books in NBUV: ????
     - Books in Open Library with NBUV IDs: [0](http://openlibrary.org/query.json?type=/type/edition&identifiers.nbuv~=*&limit=5)
- [ ] Import all the books into open library
- [ ] Extend `BookProvider` for nbuv to display Read/other buttons
    - Determine how to compute the ID?

[2022-10-03 20:40] cdrini commented on #7014
@bicolino34 I created a separate issue for added to Trusted Book Providers :) #7045

[2022-10-04 09:30] wanecek opened #7048 "Recommendations on how to handle inconsistencies between Search API and Books API (cover_i)"
### Question

What is the recommended way of handling inconsistencies between Search and Books/Works API, mainly arising from editions, specifically on covers?

### Additional context

I am working on a side-project that relies on the OpenLibrary API for finding books, retrieving the title, author(s), and cover for works. I use the Search API with the query search parameter. For security reasons,

[2022-10-04 14:52] jimchamp commented on #7005
Of course, @Jyotiraditya24! Please let me know if you have any questions.

[2022-10-04 15:25] bicolino34 opened #7049 "Create UI for adding translation of language labels"
@cdrini did an import from Wikidata to add translation to language labels few months ago, and it worked well for almost all languages. Though some didn't get them

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-10-04 15:45] bicolino34 commented on #7045
It would be quite valuable source of information. There is a page for books that were made available on the site in 2022 and as of 4th October there are 1374 of them.

[2022-10-04 18:01] tfmorris commented on #7048
Covers are attributes of editions, not works, but the search API only searches works (aggregated from the data for editions), not the editions themselves, which is part of the discontinuity that you're seeing.

Why not just request all the info you need from the Search API, so you don't have to make additional calls? It doesn't have a field called `authors` (as you have in your example), but you c

[2022-10-04 18:27] #6938 closed

[2022-10-04 18:32] mekarpeles commented on #7039
@tfmorris I am looking into this as we speak. Nginx should be anonymizing any IP coming through at time of SSL termination:

`log_format iacombined '$remote_addr_ipscrub $host $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $request_time';`

cc: @samuel-archive

Investigating to understand the source and coverage of any issues.

[2022-10-04 18:34] mekarpeles commented on #7039
Most immediately, I think it may make sense for us to prevent IP from being returned as a public field.

[2022-10-04 18:49] mekarpeles commented on #7038
@cdrini + @mheiman do I recall you saying that creating links between merges is somewhat challenging? And recommendations on if/how this could be done?

[2022-10-04 18:52] cdrini commented on #7017
Howdy folks I've patch deployed a number of solr config improvements which should address these last night. Please let me know if things look better or if they do not!

[2022-10-04 18:57] mekarpeles commented on #7021
Hi @BoseSj! Thanks for your offer to help. Dana is finalizing designs and we should be able to followup soon with next steps!

[2022-10-04 18:57] mekarpeles commented on #7019
Hi @Mustafa-Azad025, I think this specific issue may be in current deliberation! @szgrune, Dana, and I will be meeting later this week to determine next steps. Thank you for your patience with us!

[2022-10-04 18:58] BoseSj commented on #7021
Oh! Cool enough! 😄

[2022-10-04 19:06] mekarpeles commented on #6915
Hopefully db indices fixed this issue. Please re-open if we hit this again!

[2022-10-04 19:06] #6915 closed

[2022-10-04 19:35] cdrini opened #7050 "Bulk Availability API tokens for IA"
IA-side work @mekarpeles is working on, for us to track on milestone.

Related to #7522 and #6405

[2022-10-04 19:41] wanecek commented on #7048
Sounds like an excellent solution - thank you for taking the time to reply.

[2022-10-04 19:41] #7048 closed

[2022-10-04 20:01] mekarpeles commented on #7004
@jimchamp for consistency, I think using the same styling makes sense for search + books
@cdrini recommends dropping the `<h1>Search</h1>` title

[2022-10-04 20:07] mekarpeles commented on #7039
After research, it looks like this IP data is historical (pre 2014) for patrons making edits on the website. Anything beyond this time should use anonymization or use Open Library's `207.` IP (which isn't great either, probably a bug, but here we are).

We think another case may be where e.g. bots or google colab notebooks are used.

**Action:** First and foremost, as a path forward we are going t

[2022-10-04 20:09] mekarpeles opened #7051 "Fill milestone for 2022-12 (and 11)"
### Describe the problem that you'd like solved

- [x] Search box camera icon → returnTo single scan
- [x] BookServer – Testing.openlibrary.org
- [x] Add sentry + slack monitoring @cclauss
- [x] October Community Celebration #6823
- [x] Reading Log Search
  - Issue: #5080
  - PR: #7052
- [x] Promise Item survey - https://github.com/scottbarnes/promise-items/issues/1
- [x] Fix affiliate service (am

[2022-10-05 00:20] mheiman commented on #7038
What Tom is suggesting is actually the expected behavior.  It's working on my development instance running the current build:

<img width="887" alt="Screen Shot 2022-10-04 at 6 58 37 PM" src="https://user-images.githubusercontent.com/886889/193951919-d3991443-6f42-40fa-bc67-d1f9a22e045c.png">

Notice the details link, which takes you to the merge description. I don't know why it would be different

[2022-10-05 02:32] cdrini commented on #7038
I believe this is linked to usergroup. I vaguely recall reading some ancient comment somewhere about there being performance issues preventing it from being enabled for everyone. We should make sure it's enabled for librarians. I believe this is managed by the openlibrary.yml file.

[2022-10-05 02:36] cdrini commented on #7038
I believe it's this one, `history_v2`. Could you confirm @mheiman ? I can update the production config file if so.
![Screenshot_20221004-223519](https://user-images.githubusercontent.com/6251786/193968745-08982bee-f7ec-4a9f-9819-1771c2fe5f25.png)

[2022-10-05 08:09] seabelis opened #7054 "When adding a language to a book, "Old English" is listed before "English""
When adding a language to a book, "Old English" is listed before "English".

### Evidence / Screenshot (if possible)
<img width="308" alt="Screenshot 2022-10-05 at 10 06 32" src="https://user-images.githubusercontent.com/17739465/194011470-613ef169-797a-4a43-aaa9-08c23b42e93c.png">

### Relevant url?

### Steps to Reproduce

1. Go to ...any book edit page, https://openlibrary.org/books/OL2037466M/

[2022-10-05 14:57] mheiman commented on #7038
Good memory! Yes, that feature is the relevant one. It's applied a couple of steps upstream from where the message is defined, so it wasn't obvious looking at the code. Enabling it for librarians should do the trick.

[2022-10-05 15:27] Jyotiraditya24 commented on #7005
@jimchamp I am having trouble setting up on my localhost if you could help me

[2022-10-05 16:28] tfmorris commented on #7038
The payload for https://openlibrary.org/authors/OL117575A.json?m=history includes the date and the edit ID, so I'm not sure I understand where the heavy performance burden comes from. Is it not as simple as

`link_url = f"https://openlibrary.org/recentchanges/{year}/{month}/{day}/merge-authors/{merge-id}"`

I think it's useful for everyone to understand the provenance of the metadata, not just lib

[2022-10-05 16:32] tfmorris commented on #7039
Thanks for investigating. I didn't notice that the recent IP addresses were from the IA block. The one that I spot checked resolved to a European ISP. I'm not sure if old data is grandfathered under the European privacy laws, but removing all IP addresses sounds like the safe thing to do.

[2022-10-05 16:48] tfmorris commented on #7036
Sorry, this is a duplicate of #6415 from April. It was so long ago that I'd forgotten about it.

[2022-10-05 16:48] #7036 closed

[2022-10-05 17:22] onnotasler opened #7055 "The ISBN-10 and ISBN-13 markers in the add books page do not check for number length."
If I add a new book and accidentally check ISBN-13 while inputting an ISBN-10 (or vice-versa), I do not get an error message.

### Evidence / Screenshot (if possible)
![Add-Book-ISBN-13](https://user-images.githubusercontent.com/36878944/194121565-0eaa366b-9828-4aa1-93e3-cf890eeb933c.png)
![Edit-Book-ISBN-13](https://user-images.githubusercontent.com/36878944/194121573-2c65d0ab-11ce-4077-9609-2637

[2022-10-05 18:08] Jyotiraditya24 commented on #7005
1> changing the background here does not have effect on the button
<img width="867" alt="Screenshot 2022-10-05 at 11 37 21 PM" src="https://user-images.githubusercontent.com/93746326/194130981-099951d2-b40a-404b-8020-406368b6f226.png">

[2022-10-05 18:22] bicolino34 commented on #810
@mekarpeles should this get moved to recently created [archive-ocr-tools](https://github.com/internetarchive/archive-ocr-tools) repo?

[2022-10-05 22:13] mekarpeles opened #7057 "Add OPDS Ingest to Importer (+ import https://server.briet.app/)"
### Describe the problem that you'd like solved

https://server.briet.app/

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-10-06 00:31] cdrini commented on #7038
Ok the expansion to librarians has been merged, will go out in next deploy. Leaving this issue open in case someone wants to investigate the perf associated with making it fully public!

[2022-10-06 16:37] onnotasler commented on #7040
It does work for "authors" and "inside". It does not work for "books" and "subjects".

![Screenshot_20221006_183639](https://user-images.githubusercontent.com/36878944/194369666-bc75386d-e501-41fb-b80c-cc1b9ac6eff0.png)

![Screenshot_20221006_183614](https://user-images.githubusercontent.com/36878944/194369660-eba48090-bb02-4455-aa54-b40cc822ed0a.png)

[2022-10-06 17:00] jimchamp commented on #7004
Thanks @mekarpeles!
@zeeeeeb you can go ahead and apply the style changes to both the book page and search pages.  If you're up to it, you can also remove the `<h1>Search</h1>` headers from each search results page.

[2022-10-06 17:03] mekarpeles opened #7058 "Add parity edition_id to Ratings table (help reverse bad merges)"
### Describe the problem that you'd like solved

Right now when works are merged, the resolve_redirects bot will go through and change all references from stale redirects to the most up to date work.

In some cases, it's discovered that the merge was bad -- e.g. imagine if all Artemis Fowl books, which should be 3 different books in a series, were merged into one and all their ratings were combine

[2022-10-06 17:07] cdrini commented on #7058
If we do this, I wonder if we could do something like solr-updater. Basically listen to all infogami edits, if an edition is edited and its work-key is changed, update the readinglog tables

[2022-10-06 17:20] tfmorris commented on #7040
That's an important detail. I'd suggest splitting this into two separate issues, one for each problem that needs to be fixed. Unfortunately, it looks like fixing the titles is going to require a reindex because they were given the wrong type in the schema (text_en_splitting vs text_international). https://github.com/internetarchive/openlibrary/blob/9c522cbe9814bbbc356cfa7e74134951cd661108/conf/sol

[2022-10-06 18:05] jimchamp commented on #7005
You'll have to recompile the `.less` files each time you make a change.  You can do this by running `docker-compose exec web npm run build-assets:css`

[2022-10-06 18:38] tfmorris commented on #7040
Actually, neither `text_en_splitting` (which does English-only stemming, but no diacritic folding) nor `text_international` (which does diacritic folding, but no stemming), are likely to be appropriate for work titles where you want both diacritic folding **and** language-specific stemming/lemmatization.

[2022-10-07 00:30] mekarpeles commented on #7039
@tfmorris as a first step, I'd like to just prevent these addresses from being returned with the metadata.

The `types` are being registered in openlibrary/core/models.py -- the underlying logic is being handled by infogami.

Any suggestions on how we may be able to remove this data from the API endpoint response (without changing the code of infogami/infobase?)

[2022-10-07 00:46] cdrini commented on #7039
there's a `history` class here: https://github.com/internetarchive/openlibrary/blob/39962157c12465d050e43458444aba9a59661c8d/openlibrary/plugins/upstream/recentchanges.py#L187-L196

This is what happend when `m=history` (ie mode is history)

That overrides the infogami defaults here:
https://github.com/internetarchive/infogami/blob/master/infogami/core/code.py#L186-L195

Here is the infogami imple

[2022-10-07 04:09] mekarpeles commented on #7039
Ok, I figured it out

[code]

[2022-10-07 18:01] bicolino34 commented on #7038
I think, this is a duplicate of #40 from 2011. Should I close the older one?

[2022-10-08 03:58] mekarpeles commented on #7019
After consideration, I think we're going to be moving in a slightly different direction #6857 + #7053

[2022-10-08 03:58] #7019 closed

[2022-10-08 23:51] tfmorris commented on #7038
@bicolino34 Good catch! Sorry I missed that this issue had already been reported over a decade ago.

Normal practice is to retain the oldest issue. That way all the history and context is kept.

[2022-10-09 05:02] techrajdeep commented on #5080
I am looking for an issue for my first contribution . Can you help me here.

[2022-10-09 21:00] cclauss opened #7065 "openlibrary/core/lending.py: Fix duplicate enties in a dict"
### Evidence / Screenshot (if possible)

### Relevant url?

There are duplicate keys in the definition of a dict at:
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/lending.py#L724-L728

`resource_type` is added twice and `resource_id` is added twice.  It is difficult to determine if the first two duplicate keys should be removed or if the second two should.

### Steps

[2022-10-09 21:14] Jyotiraditya24 commented on #7005
Thankyou got it working ,I was sick so couldn't complete the issue working on it right now

[2022-10-09 21:27] Jyotiraditya24 commented on #7005
@jimchamp I wanted the background-image of the dropper and the hex-color of the button

[2022-10-10 03:50] zeeeeeb commented on #7004
@jimchamp what's your expectation for styling when the side arrow is clicked? Couldn't find any details on #6484.

[2022-10-10 18:21] mekarpeles commented on #7038
Thanks @bicolino34 + @tfmorris will close and make sure the other issue is tagged correctly

[2022-10-10 18:23] mekarpeles commented on #40
I think there may be a PR about this?

[2022-10-10 19:05] #7038 closed

[2022-10-10 19:18] cdrini commented on #7017
Howdy folks, our sentry metrics are looking _muuuuch_ better; way fewer errors!

![image](https://user-images.githubusercontent.com/6251786/194937269-af5ce620-204f-4f55-a664-c22748837fb1.png)

This should address a lot of the "things appearing with 0 results", "got NoneType", etc.

And search load times are stable in our grafana. Closing this for now since it's been a week and things look better.

[2022-10-10 19:21] #7017 closed

[2022-10-10 19:35] #6294 closed

[2022-10-10 22:23] #7039 closed

[2022-10-11 00:37] mekarpeles opened #7070 "Fix git SHA on website + status page (dupe?)"
The footer + https://openlibrary.org/status should both show the website's git sha. Somewhere down the road we had a regression.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Propo

[2022-10-11 01:49] tfmorris commented on #7017
Yes, the site is usable again now. I miss having the updated info available immediately in search after edits, but it's only a minute or two delayed, and better than having the site be unusable.

Since there are apparently metrics in place already (based on the graph above), I'd suggest setting an alarm threshold so that devs get notified when they break something.

[2022-10-11 02:31] tfmorris commented on #7044
Note that redirect processing is done client side, so you're going to have to make two requests either way. You won't save any latency or other overhead, just the one or two lines of extra code. On the flip side, you'd lose all the information that's in the current payload.

[2022-10-11 03:39] lakshya-dhariwal commented on #6534
May I be assigned to this?
I can start working on it once more detail is added.

[2022-10-11 03:48] lakshya-dhariwal commented on #6857
Any specific subtask that is open to be assigned?

[2022-10-11 11:57] bicolino34 commented on #6662
@mekarpeles I think this should be reopened as there is still no UI. So, it's still a work in progress

[2022-10-11 14:31] onnotasler opened #7072 "Automatic choice of identifier can cause an librarything ID to overwrite an ISNI ID"
If one edits an author, one can choose between several identifiers. ISNI and Wikidata are automatically selected, when the appropriate data is put into the form.

Sometimes, librarything identifiers are falsely detected as ISNI identifiers. In those cases, one has to select the identifier after putting the data in, otherwise an existing ISNI will be overwritten.

### Evidence / Screenshot (if poss

[2022-10-11 16:30] FinixFighter opened #7073 "First time published date"
I don't understand why there isn't a date of first publication when filling the "Work details" form. You can set a date for each edition of the work, but it's not easy to understand when a certain book has been originally published.

### Describe the problem that you'd like solved
I'd like to be able to set a "first edition" date and then a specific date for every edition.

### Proposal & Constrai

[2022-10-11 17:13] Jyotiraditya24 commented on #7005
Made the necessary changes does it look good?
<img width="1410" alt="Screenshot 2022-10-11 at 10 43 04 PM" src="https://user-images.githubusercontent.com/93746326/195156764-2d7ba5ad-b37e-46ab-9577-7d46755d29ee.png">

[2022-10-12 10:03] seabelis opened #7074 "Some publisher links are broken"
From a patron:
Searching for a publisher sometimes brings up no results, even if the search was from a direct link showing multiple books to that publisher. For example:

https://openlibrary.org/search/publishers?q=%22Media+Blasters%22

Clicking on the link for "Media Blasters 147 books" results in "We couldn't find any books published by Media Blasters." So where are the 147 books?

### Evidence

[2022-10-12 15:23] seabelis commented on #6583
Nudging this.

[2022-10-12 16:32] bicolino34 commented on #5088
This is a duplicate of #6662

[2022-10-12 16:32] #5088 closed

[2022-10-12 16:35] #6055 closed

[2022-10-12 16:38] bicolino34 commented on #6162
Close as this would be solved by #2819

[2022-10-12 16:38] #6162 closed

[2022-10-12 17:18] onnotasler opened #7075 "Empty field for weight unit results in crash upon saving"
In certain instances, items are imported with an entry in the weight field, but no weight unit (grams, kilos, ounces, pounds) selected.

This will lead to a crash when one attempts to edit and save that item without setting a weight unit.

### Evidence / Screenshot (if possibl
![Screenshot_20221012_190916](https://user-images.githubusercontent.com/36878944/195406212-ebac4f3d-bc5d-4136-aafe-b5aa978

[2022-10-12 17:22] vdeantoni opened #7076 "Login API inconsistencies"
I've been trying to use the Login API with json, but the documentation seems out of date:

https://openlibrary.org/dev/docs/restful_api

This: `To login to Open Library programatically, a POST request must be send to /account/login with username and password must be passed as a JSON dictionary.` doesn't seem accurate, based on these comments:

https://github.com/internetarchive/openlibrary/blob/5f

[2022-10-13 15:38] seabelis opened #7080 "Add real-time validation for emails/screennames taken on IA to prevent random digit appending"
Patron reports that their chosen username was appended with numbers. The patron was not informed that this would happen during registration and understood the chosen username was available.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

According to @mekarpeles , this happens when the [archive.org](http://archive.org/) ID they request is available but the open

[2022-10-13 19:02] mheiman opened #7081 "Operators in title search not working without parens"
Previously you could do a title search like this:
`title:Keskin OR subtle author:Pullman`
and get titles matching both terms. Now it only works if you add parens:
`title:(Keskin OR subtle) author:Pullman`

### Steps to Reproduce
Try:
https://openlibrary.org/search?q=title%3AKeskin+OR+subtle+author%3APullman&mode=everything
vs.
https://openlibrary.org/search?q=title%3A%28Keskin+OR+subtle%29+author%

[2022-10-14 14:30] #7044 closed

[2022-10-15 09:57] onnotasler opened #7082 "Selected unit should only affect display, not saved data. Data should be stored in standardized, convertable size instead."
At the moment, Open Library has different units for saving the measurements of a book: inches and cm for size, g and ounces for weight.

Those measurements are stored directly into the book record, so if I enter a value as "inches", I will only ever get the book's size in inches. This is inconvenient for users who use another measurement system.

Instead of hard storing a specific size units, all

[2022-10-16 09:11] damiankomonski commented on #7043
Hello, any new informations?

[2022-10-16 14:04] cclauss opened #7084 "npm WARN deprecated har-validator@5.1.5: this library is no longer supported"
### Evidence / Screenshot (if possible)

### Relevant url?

https://www.npmjs.com/package/har-validator

### Steps to Reproduce

1. `docker build` process discussed in #7083

* Actual: `npm WARN deprecated har-validator@5.1.5: this library is no longer supported`
* Expected: Our npm libraries are supported.

[2022-10-16 16:54] cdrini commented on #7043
Hi @damiankomonski ! `ddc` is included in the results from the search.json endpoint. Can you use that in your application? The search.json endpoint combines information from _all_ editions of a work.

[2022-10-22 08:02] jonbell-lot23 commented on #2380
Hello! I just checked these graphs on my phone and iPad and they look pretty crisp, though I haven’t looked into the code. Is this still an issue?

[2022-10-22 08:20] jonbell-lot23 commented on #3137
Hello, I’m new and I’m looking at UI issues. Is this still an issue? When I visit https://openlibrary.org/books/OL26500501M/Pygmalion I see two buttons:

* Audiobook
* Want to read

[2022-10-22 23:53] tfmorris commented on #2380
If I zoom in to the scale shown in the screen grab above, I still see it, but at normal resolution, I don't think it's a major issue for non-eagle-eyed. Ideally, if feasible, perhaps an SVG graph instead of a rendered image would be the best solution.

[2022-10-23 21:58] onnotasler commented on #7074
I can confirm this problem. When I open the work OL27025404W and click on the publisher link, I get an error page saying this publisher would not have any books.

On book page
![Screenshot_20221023_235628](https://user-images.githubusercontent.com/36878944/197420101-9d0085b5-5810-4ec0-b024-7e2acff1942b.png)

On publisher page
![Screenshot_20221023_235646](https://user-images.githubusercontent.com/

[2022-10-24 17:01] happycoding47 commented on #7080
Hi @seabelis, I'd like to help solve this issue if it's still open. Please guide. Thanks!

[2022-10-25 10:27] seabelis commented on #7080
Perhaps @mekarpeles can provide some guidance on this?

[2022-10-25 15:45] seabelis opened #7101 "Include all edition details in the "book details" section"
Currently, the edition details are split between the info bar and the book details section, separated by the editions table. This makes it difficult to compare edition details to a book, as one must keep bouncing above and below the editions table to see the edition information.

### Describe the problem that you'd like solved

The info bar is useful, but please also include those details in the b

[2022-10-25 18:11] onnotasler opened #7102 "Make it easier to find new author's and books by adding variety and personalization"
At the moment, the Open Library starting page has four carousels that basically all reinforce already successful author's and titles:

- Trending Books
- Classic Books
- Books we love
- Thrillers

That is not done on purpose, but the way those lists are selected makes sure that only authors that are already successful can be added to those lists. (For example, trending only chooses authors that go

[2022-10-26 04:16] hornc opened #7104 "Work URLs have changed to single edition views by default, this breaks links, and linked data"
A default work URL now looks identical to an edition page / URL

e.g.:

https://openlibrary.org/works/OL1694871W

returns a page which looks like an edition only page: (it seems indistiguisable from https://openlibrary.org/books/OL708350M/Brancusi)

I am logged in, this is what I see on the work page:

![image](https://user-images.githubusercontent.com/905545/197933751-0c1e4907-cc9d-42d0-8f5f-9edb

[2022-10-26 09:52] asereze opened #7105 "Error message while using Sardinian (sc) as a browser display language"
### Evidence / Screenshot (if possible)
![Schermata da 2022-10-26 11-38-06](https://user-images.githubusercontent.com/11271324/197993129-0950a452-21bc-400d-a281-a838a9029238.png)

### Relevant url?
https://openlibrary.org/authors/OL1410246A/Raimondo_Carta_Raspi (or any other one)

### Steps to Reproduce

1. Go to any Open Library Page while having Sardinian as a language for displaying pages
2. Do

[2022-10-26 14:10] seabelis opened #7106 "Author merge creates search results with "unknown author""
After merging authors, some works are then displayed in search results with "unknown author". Looking at the work details displays the correct author. Clicking the author facet in search results excludes those works that display "unknown author".

### Evidence / Screenshot (if possible)
<img width="610" alt="Screenshot 2022-10-26 at 16 03 18" src="https://user-images.githubusercontent.com/17739465

[2022-10-26 14:18] seabelis opened #7107 "Not all works are migrated to primary author following merge"
After merging two instances of Thomas Hardy, I see that not all works associated with the duplicate were assigned to the primary author profile.
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/authors/OL5992462A/Thomas_Hardy
### Steps to Reproduce

This does not always happen, so there are no known steps to reproduce.

* Actual: Works should be assigned to prima

[2022-10-26 15:24] tfmorris commented on #7105
I'd suggest a more general solution so that the system falls back gracefully if it gets an unknown language code or one for which a translation doesn't exist.

According to [IANA](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry), there's not only the Sardinian macro language, but an additional four more Sardinian languages (e.g. `sdc` for Sassarese Sardinian)

[2022-10-27 00:00] bibliofilo commented on #7054
Hi, here's my attempt at addressing this bug. https://github.com/internetarchive/openlibrary/pull/7094

Please let me know if it requires changes, thank you.

[2022-10-27 06:29] bicolino34 commented on #7045
@cdrini I changed amount of books to unknown. As the number I sent was only books added in 2022. As far as I know, the online version of library exists since early 2010-s

[2022-10-27 20:14] tfmorris commented on #7105
That's interesting, but not anything I have control over.

[2022-10-28 06:58] #5080 closed

[2022-10-30 14:42] CBazille opened #7110 "GET with ampersand-chained values for same parameter returns only data related to the last one"
When requesting data from an API using HTTP GET, both those two formats are commonly accepted:

- https://example.org/api/endpoint?param1=value1&param1=value2
- https://example.org/api/endpoint?param1=value1,value2

It is assumed by some REST frameworks, such as `RestSharp` for the `C#` programming language, that [both those formats are valid](https://en.wikipedia.org/wiki/Query_string#Web_forms)

[2022-10-31 09:16] onnotasler commented on #7106
This could be related to #7028, where a merge "breaks" lists.

[2022-10-31 09:29] onnotasler opened #7113 "Check whether ISBN already exists if manually adding a book"
When searching for a book or author, it is sometimes not found. Searching for an ISBN might cause a delayed import that will not be found immediately.

In that case, I feel inclined to manually import a book. Despite entering the ISBN, there is no check whether this ISBN already exists. This might cause duplicates.

### Describe the problem that you'd like solved
If I enter an ISBN in the add book

[2022-10-31 10:15] onnotasler opened #7114 "Streamline the suggestions for subjects - people - places - times"
While the new suggestion list feature for subjects - people - places - times is great, the sheer amount of duplicate entries and different systems can make it extremely difficult to choose one, and also prevents an internationalization.

Take Zürich for example, get the following suggestions when entering it as place:

- Zurich
- Zurich (Switzerland)
- Zürich, Zurich (Canton)
- Zurich (Switzerland

[2022-10-31 16:40] tfmorris commented on #7114
A prerequisite for this is #2819

[2022-10-31 19:26] jimchamp opened #7116 "Ensure that only necessary JS is being served"
We suspect that we may be serving unneeded JavaScript files for some views.  Let's review the [main index.js file](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/js/index.js) and see if there are opportunities to reduce our JS footprint.

[2022-10-31 23:01] #4578 closed

[2022-11-02 18:49] onnotasler opened #7118 "When importing authors from Amazon, also import the Amazon ID when available"
At the moment, the importbot must be very careful when importing new authors, because otherwise different authors with similar names might get mixed up. That has the side effect that the most carefully curated author's on OpenLibrary hardly get any new automatic imports - they will usually have some minor difference from the Amazon entry.

As far as I understand it, most books which are automatica

[2022-11-03 06:10] cdrini commented on #7045
It's down for me now :( I've escalated to Mark Graham, the director of Wayback Machine; will update once I get an update.

[2022-11-03 06:17] cdrini commented on #7045
@bicolino34 Do you think you could contact them? Their book scans appear to be stored pretty simply in a file system, and could be backed up with a basically a tar gzip of the directory containing all the PDFs. Mek, Jim and I will discuss it tomorrow and see if we can think of what specifically to ask them. It might be helpful simply to schedule a call with them.

[2022-11-03 17:49] cdrini opened #7120 "Merge work UI not sorting works correctly"
Perhaps it's sorting lexicographically instead of numerically!

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to https://openlibrary.org/works/merge?records=OL2838199W,OL2838200W,OL2838203W,OL2838224W,OL10574096W,OL18034217W&primary=OL10574096W&mrid=22061

* Actual: [OL10574096W](https://openlibrary.org/works/OL10574096W) is at top
* Expected: [OL2838199

[2022-11-03 18:14] cdrini commented on #7045
Mark forwarded this to https://www.sucho.org/

[2022-11-03 20:25] mekarpeles commented on #732
**Resources**
* https://docs.google.com/document/d/1d0os8BLLt4j_mn36W05oZYFbQToNhD2Gg2bUEmpm8eQ/edit#heading=h.eqrdpmbrlr48

@cdrini @scottbarnes

[2022-11-03 20:37] storytracer commented on #7045
Hi everyone, my name is Seb and I'm one of the SUCHO co-founders!

It's important to know that the servers of NBUV have been inherently unstable since before the invasion. We crawled the entire catalogue back in spring and there were lots of timeouts back then already. We are directly in touch with the library and know that their servers have been plagued with SPAM and other issues. So even though

[2022-11-03 21:24] ldorigo opened #7121 "Add a standalone dump of Redirects?"
### Describe the problem that you'd like solved

Currently, it's possible to download Authors, Works, and Editions separately, however it's impossible to reconstruct a database from those three files because a lot of the OLIDs found in Works/Editions are not valid but rather redirects. This means it's necessary to download the full dump.

### Proposal & Constraints

Add a fourth "Redirects" dump w

[2022-11-03 21:36] LeadSongDog commented on #7045
We’ll, if the data is all captured, we can take a breath and think how best to proceed. Possibly  a blessing in disguise: OpenLibrary is fairly flexible in adapting to other cataloguing systems, even if less rigorous than others. It would probably be sensible to start with creating author records, giving both Roman and Cyrillic spellings in the a.k.a.

[2022-11-04 01:28] tfmorris commented on #7121
It would be nice to have a dump of the redirects, but I'd consider a bug to have redirects referenced in the production data. Those objects should be rewritten when the objects they reference are merged. If there are redirects in there, it's both a performance and a data integrity issue.

[2022-11-04 06:31] scottbarnes opened #7122 "kTLS with Docker and Nginx"
I was wondering if it might be worth enabling [kTLS](https://www.kernel.org/doc/html/latest/networking/tls-offload.html) on any Nginx servers that serve a lot of static content or cached responses.

I was looking at how Netflix can [serve 800Gb/s of TLS encrypted video content from a single server](https://people.freebsd.org/~gallatin/talks/euro2022.pdf), and a large part of it appears to be kTLS.

[2022-11-04 11:44] bicolino34 commented on #7045
@cdrini should I still contact them or wait for now? I found this page with listed ways to contact them http://nbuv.gov.ua/node/18

[2022-11-04 15:49] ekansa commented on #7045
Hi All,

I'm happy to (try) to help if I can. I lack Ukranian language expertise or specific expertise in library metadata however. But if there's something that I can do with a bit of Python to scrape through some archived HTML that may contain useful metadata, please let me know!

[2022-11-05 09:42] bicolino34 opened #7124 "Delete bad subjects"
There are a lot of subjects like "Translations into <language name>". I think they are mostly useless for Open Library as we already have info if that's translation or not on edition level.
I think, we may take works with subject "Translations into English" and mark all English editions of these works as translations, and then delete this subject from everywhere. Though, this can only be done afte

[2022-11-07 19:58] #7009 closed

[2022-11-07 21:55] cdrini commented on #7045
Thank you so much @storytracer !!! 😊 That's fantastic to hear! And thank you so much for the work you're doing with SUCHO!

There are a few points of integrations:

1. Copy the _catalogue_ into Open Library. These would make all the books appear in search results, but they would not appear read-able on Open Library. The catalogue would require coercing into Open Library's format, which seems like

[2022-11-07 21:57] cdrini commented on #7045
@bicolino34 Let me ping Alexis on our end here first to get some more info before we contact them! Though heads up might be a week or so before I have the time :)

[2022-11-09 03:56] mekarpeles opened #7132 "Pre-load BWB Promise Items into OpenLibrary"
To increase the robustness of Internet Archive digitization operations, load BWB `DailyPallets.json` data from archive.org promise / protodonation items into Open Library and enable querying of this data by `bwbsku` local_id.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-11-09 18:31] MingdaMa commented on #7113
Hi, I will start working on this issue

[2022-11-09 18:34] cdrini opened #7136 "Remove unnecessary IA metadata calls on /partials page"
The works page is making a lot of calls to IA metadata endpoints. We fetch availability metadata in bulk at the start of the page, we don't need these individual requests!

### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/6251786/200912521-9072b701-8f2d-42d4-a7d1-14b5a366c39b.png)

### Relevant url?

eg https://openlibrary.org/partials?_component=RelatedW

[2022-11-09 20:29] mekarpeles commented on #7021
Here's a draft PR which we can work from (it has some of the changes staged to show which files are related and what some of these changes may look like!)

https://github.com/internetarchive/openlibrary/pull/7140

We'd really love help bringing this over the finish line, cc: @BoseSj

Dana should be replying shortly with the changes to make!

Thank you everyone and excited for these great changes t

[2022-11-09 20:32] feteezuk commented on #7055
I'm working on this.

[2022-11-09 21:08] danafein commented on #7021
Hi @BoseSj! Thank you so much for your interest in updating the Hamburger menu!

The goal of the update is to make the menu clearer and more concise and consistent with the rest of the navigation on the site.

Specifically, we would like the hamburger menu to look like this:
<img width="193" alt="Screen Shot 2022-11-04 at 11 08 45 AM" src="https://user-images.githubusercontent.com/30005120/2009414

[2022-11-10 09:42] cdrini opened #7143 "Users are searching their empty reading logs"
Noticing a number of people using the new reading log search feature when they have no books on their shelf! I imagine these are newly registered users who were sent to the reading log on login, and are looking to perhaps _add_ a book to their reading log.

See https://analytics.google.com/analytics/web/?authuser=1#/report/content-pages/a50678244w115826759p121108584/_u.date00=20221023&_u.date01=20

[2022-11-11 04:11] mekarpeles commented on #2064
Duplicate of #6377

[2022-11-11 04:11] #2064 closed

[2022-11-11 16:46] jpdh9881 commented on #6534
@jimchamp Hi Jim, could I be assigned this issue? @mekarpeles got me set up and suggested I start with [6484](https://github.com/internetarchive/openlibrary/issues/6484) and [6857](https://github.com/internetarchive/openlibrary/issues/6857)

[2022-11-11 18:27] LeadSongDog commented on #352
@mekarpeles Please explain why you closed this, or reopen. We still have no clean way to create an author record. DRY says this functionality should not reside in both works/add and books/add code.

[2022-11-12 19:19] onnotasler opened #7151 "Display of subjects - people - places - times should be sorted and nested"
At the moment, all subjects - people - places - times are output as one long comma separated list. This is not a problem for authors who write in a very specific topic, but it gets unwieldy quickly for authors which write about many different topics.

![Screenshot_20221112_193332](https://user-images.githubusercontent.com/36878944/201489630-70499e88-2859-4c23-a83e-7e72007bd7f4.png)

### Describe t

[2022-11-14 20:52] mekarpeles commented on #3137
In the future we may add format to our providers field within the Open Library edition (e.g. internet archive could have a format for text versus audio). At this point, it's not something we're planning on fixing.

[2022-11-14 20:52] #3137 closed

[2022-11-14 20:53] mekarpeles commented on #2380
@jonbell-lot23 here's a list of good first issues which we've identified as "help wanted"!
https://github.com/internetarchive/openlibrary/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22+label%3A%22Needs%3A+Help%22

For this specific issue, you're welcome to tackle it, though you may find others in the list above which have higher impact potential. Let me know if there's anything else

[2022-11-14 20:56] mekarpeles commented on #7080
@happycoding47 if you'd like to take a look at the code in openlibrary/account/model.py you should be able to see where this logic is being done within the `audit` function. See if you can propose a better way of doing this!

[2022-11-14 21:04] mekarpeles commented on #7121
We have bots which are going through and fixing redirects. We don't currently plan on releasing a separate dump of redirects though if anyone else wants to create one, please feel free!. Closing as not planned.

[2022-11-14 21:04] #7121 closed

[2022-11-14 21:09] mekarpeles commented on #7057
demos done

[2022-11-14 21:09] #7057 closed

[2022-11-14 21:16] mekarpeles commented on #7110
The formats of the examples are different, one uses bibkeys=ISBN: followed by a list of type ISBN. The second example is duplicating bibkeys (in particular) so these aren't comparing apples to apples.

In any event, while we have plans on improving our more recent API endpoints in the coming months (and using swagger, see some of our open PRs) this direction in particular is not one we plan to wor

[2022-11-14 21:16] #7110 closed

[2022-11-14 21:20] mekarpeles commented on #7102
I think we need to rethink personalization on homepage and elsewhere (tracked eg #6004). These are great ideas which we should bring up on a community or design call

[2022-11-14 21:28] mekarpeles commented on #7132
@jimchamp if you can please review the 2 PRs then this issue is losed

[2022-11-14 21:28] #7132 closed

[2022-11-14 21:38] CBazille commented on #7110
Sorry, reading your comment, it just now dawned on me that the format `ISBN:xxx,yyy,zzz` maps to a list of type `ISBN`. This might actually help me solve my problem in my own code... As I forgot to mention, I am still a beginner with Rest APIs and have a lot to learn.
Thank you for taking the time to answer !

[2022-11-14 21:39] #6660 closed

[2022-11-14 21:55] mekarpeles commented on #7021
Passing to @jimchamp for now so we can shoot to get this out this week (by next Tuesday deploy)

[2022-11-14 23:29] jpdh9881 commented on #6534
@jimchamp Is this the sort of thing you were looking for?

Default:
![image](https://user-images.githubusercontent.com/54423825/201789187-2d4472ac-d355-4075-b063-0d9a0f1aca30.png)

Expanded:
![image](https://user-images.githubusercontent.com/54423825/201789254-b3c4548d-77da-4fcb-92df-9dafce4df3de.png)

[2022-11-15 01:14] jimchamp commented on #7132
PRs have been reviewed and merged.  To date, all BWB promise items queued for import have been processed.

[2022-11-15 02:45] jimchamp commented on #6534
I'm pretty sure we still want the "Read more" link here.  I'm also noticing that our subjects are not expanding in Firefox.
Let's pause work on this issue until I get more details about what exactly is needed for this issue to be considered complete.

In the meantime, would you like to work on issue #7007?

[2022-11-15 14:44] jpdh9881 commented on #6534
Sounds good, I'll move to #7007. In my changes I refactored the clamp styles so it works in Firefox now.

[2022-11-15 21:47] jimchamp commented on #6534
Thanks @jpdh9881!
You can probably discard the code that fixes the subject clamps.  I opened a PR that addresses this yesterday.

[2022-11-16 17:48] mekarpeles opened #7160 "IA Batch Imports missing batch_id"
This is related to investigation of why some `ocaids` (i.e. archive.org IDs) seem to be failing to import into Open Library's catalog.

### Evidence / Screenshot (if possible)

Each day, Open Library uses a cron to discover and queue new IA items for import.
It should add to a batch called `new-scans-{yyyymm}`
For the past 3+ months we see these batches getting created in import_batch table, but t

[2022-11-16 18:54] #7136 closed

[2022-11-17 04:00] jpdh9881 commented on #7007
Hey @jimchamp, when I think I have things set should I submit a PR or would you like a few screenshots/notes to check over first?

[2022-11-17 17:03] seabelis opened #7163 "Merged authors removed from work and edition histories"
Sometimes there are errors with author merges and looking at histories helps to sort this out. Now it seems if an author has been merged, the ID is no longer present in a work/edition history making it appear as if the current author is as entered.
### Evidence / Screenshot (if possible)
Same edition history before and after restoring the merged author.
<img width="1243" alt="Screenshot 2022-11-17

[2022-11-17 19:05] mekarpeles opened #7164 "Add country flag emoji icons next to language in language-selector dropdown"
### Describe the problem that you'd like solved

Add country flag emoji icons next to language in language-selector dropdown. Also, include the selected language flag by the selector.

Here are the flags for the countries currently in the list
🇨🇿 🇩🇪 🇺🇸 🇪🇸 🇫🇷 🇭🇷 🇵🇹 🇮🇳 🇺🇦 🇨🇳

Possible idea:
<img width="71" alt="Screen Shot 2022-11-17 at 11 15 10 AM" src="https://user-images.githubusercontent.com/978

[2022-11-17 21:45] jimchamp commented on #7007
You can go ahead and submit a PR.  There is a section for screenshots in the PR template.

[2022-11-18 00:09] jimchamp commented on #6534
Closing this, as it's already completed.

[2022-11-18 00:09] #6534 closed

[2022-11-18 22:12] #7021 closed

[2022-11-19 00:53] cdrini commented on #7164
I don't think this is a good idea. Countries != languages; it's kind of frowned upon in the i18n space to do this. I don't want to see an American flag on my Open Library 😅

eg https://weglot.com/blog/flags-to-represent-languages/

[2022-11-19 01:54] #6674 closed

[2022-11-19 02:02] #6583 closed

[2022-11-19 10:18] bicolino34 commented on #828
@mekarpeles not sure if this should be kept. As for now, when you create new list, it automatically adds work to the newly created list. So, I don't think this is a problem anymore

[2022-11-19 13:08] #7065 closed

[2022-11-19 13:31] cclauss opened #7169 "mypy: PEP 484 prohibits implicit Optional"
### Evidence / Screenshot (if possible)

**pre-commit**: Upgrading to the current version of **mypy** generates `85 errors in 23 files` because `typing.Optional` is no longer optional ;-)
1. [ ] Checkout a new branch: `PEP484`
2. [ ] `pre-commit autoupdate`
3. [ ] `pre-commit run --all-files`
4. [ ] Fix all errors until `pre-commit run --all-files` runs without errors
5. [ ] Ship it

@scottbarnes

[2022-11-19 17:54] cdrini commented on #6165
This appears to no longer be an issue

[2022-11-19 17:54] #6165 closed

[2022-11-19 22:30] mekarpeles opened #7170 "Clamp down on spammy queries w/ 500"
We're seeing requests coming through which seem malicious or like non-human behavior. If certain fields are present within the payload, I propose we reject at nginx before openlibrary even has a chance to receive it. This may be tough to do in nginx, so we could do it in core/preprocessors.py as early as possible in the process.

This is one possible nginx approach to test:
https://fedingo.com/how

[2022-11-20 02:52] #7169 closed

[2022-11-21 20:00] highandmighty commented on #2500
After using OL for a while as a user and then as a librarian I highly support the possibility to link contributor to an author profile: it would be extremely helpful for compilations with lots of contributors when you want all of them to be searchable. But I also I think this option to link author profile should be optional, not the default one as in case of an author field, otherwise lot of dupli

[2022-11-21 20:08] #828 closed

[2022-11-21 20:10] mekarpeles opened #7173 "Want to Read Btn / List dropdown should show all lists with checkboxes"
See: #729 #823 #1325

Currently when a patron creates a new list or adds a work to a list, the list disappears from their lists dropdown. This issue proposes always keeping the lists listed in the dropdown with a checkbox for whether the work is on the list or not. This makes it so patron only has to click one UI to manage membership of lists.

### Describe the problem that you'd like solved

###

[2022-11-21 20:17] mekarpeles commented on #7164
Could we figure out flag from geo-loc? Is it worth it? This was a suggestion from a key project stakeholders, so I'd like to followup and hear thoughts + ideas prior to closing.

@MingdaMa maybe we should hold off on implementation for now (sorry!)

[2022-11-21 20:25] mekarpeles commented on #7113
Maybe when the patron clicks on the isbn field, if they have js enabled, then we will check /isbn/{isbn} to see if the item exists and if so, show a popup with the existing matching books and say "go to book" or "keep adding" (please actually come up with better text than those examples)

[2022-11-21 20:29] highandmighty commented on #2114
I wonder is there any progress on this issue or is it on the roadmap? As a new librarian I found lots of duplicate editions, especially after merging works. Inability to merge them or at least mark as duplicate makes careful curation of specific works meaningless: you can polish specific editions but can not polish the whole work when it is already populated with duplicates(.

Also OL allows every

[2022-11-21 20:29] mekarpeles commented on #7113
@MingdaMa please let us know if you need help with this issue:

1. look in plugins/openlibrary/js/ for the right place to add code for the import /addbooks page
2. after an isbn is pasted in the field (debounced) then lookup the isbn with a `fetch` to openlibrary.org/isbn/{isbn}
3. If the API returns data back, then inject a html snippet into the page which shows the matching book with a message "

[2022-11-21 20:56] mekarpeles commented on #6823
new issue required for Nov 28 board report + slides

[2022-11-21 20:56] #6823 closed

[2022-11-21 20:56] cdrini opened #7174 "Nov 28th Board Report & slides"

[2022-11-21 21:00] mekarpeles opened #7175 "ol-covers0 memcache requires auto-restart"
### Evidence / Screenshot (if possible)

when ol-covers0 restarts, openlibrary_memcached_1 does not startup automatically.

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stake

[2022-11-21 21:56] tfmorris commented on #7164
I agree this is an anti-pattern. "key project stakeholders" sounds like code for someone who doesn't have expertise but wants to throw their weight around anyway.

Brazil, Mexico, Britain, French DOM/TOM are all good counter-examples. If you want it in PC-speak, you're also forcing former colonies to select the flag of their colonial oppressors.

[2022-11-21 23:51] MingdaMa commented on #7164
Sure, no problem

[2022-11-21 23:51] MingdaMa commented on #7164
Sure, no problem

[2022-11-22 00:08] MingdaMa commented on #7113
Thanks for the instruction, it's my first time working on this project so I'm a bit slow. I'll keep working on it!

[2022-11-22 00:08] MingdaMa commented on #7113
Thanks for the instruction, it's my first time working on this project so I'm a bit slow. I'll keep working on it!

[2022-11-22 13:43] davidscotson commented on #7072
Code seems to be here:

https://github.com/internetarchive/openlibrary/blob/fd89f0c9d64efbfc90e07a208572993e69dfee1f/openlibrary/components/AuthorIdentifiers.vue#L103

So tightening the regex for wikidata to match only if the Q is only preceded by whitespace characters and only followed by numbers then whitespace could help.

And the insi check could be changed to match 16 digits or 15 digits and

[2022-11-22 18:58] #7120 closed

[2022-11-22 18:59] cdrini opened #7184 "Fix + re-enable affiliate-server amz imports"
This depends on #7242, ignoring imports in the main import catalog if no substantive change.

Also, on the affiliate-server side, two things need to happen:

* [x] #7244 @cdrini
    * https://github.com/internetarchive/openlibrary-client/blob/master/olclient/schemata/import.schema.json#L112-L119
    * https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/vendors.py#L384
    *

[2022-11-22 23:17] scottbarnes commented on #7075
I would like to work on this.

[2022-11-23 01:01] #6662 closed

[2022-11-23 05:59] scottbarnes opened #7186 "Add PYTHONUNBUFFERED=1 to docker-compose.override.yml"
Python is (I think) buffering output inside the Docker containers, such that if there is an error, and one is engaging in the very bad habit of using `print` to gain insight, that `print()` output may not appear at all, or may show up after the error at some indeterminate point once the buffer fills further.

See this Stack Overflow question: https://stackoverflow.com/questions/59812009/what-is-th

[2022-11-23 18:45] mekarpeles opened #7188 "Book page edit button float broken"
### Evidence / Screenshot (if possible)
![screenshot_from_2022-11-23_08-24-52-1](https://user-images.githubusercontent.com/978325/203624226-30c0f316-1346-472d-85c8-b828f044e199.png)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** pro

[2022-11-23 21:57] 0xquark commented on #7118
Hi @onnotasler , i'd like to take this issue!

[2022-11-23 22:22] #7188 closed

[2022-11-24 01:27] cdrini opened #7192 "Add Sentry Traces to covers"
We currently have openlibrary.org giving us sentry traces to monitor performance across the sites. Let's add it to covers.openlibrary.org as well since it has seen some performance issues lately.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context
See #7130 . We shouldn't need as much work; we'll just need to add the `SentryProcessor` to `bind_to_we

[2022-11-24 07:30] onnotasler commented on #7118
Hello @0xquark - I cannot decide who works on this issue, that is up to the leads (@mekarpeles and @jimchamp).

[2022-11-24 12:28] 0xquark commented on #7118
Thanks for letting me know. @mekarpeles and @jimchamp can i work on this if anyone's not working on it ?

[2022-11-24 14:21] luizasilveira commented on #6537
Hi all, I would like to take this issue if it is still open.

[2022-11-24 16:45] scottbarnes commented on #6409
I'd like to work on this.

[2022-11-24 18:49] andretchen0 commented on #7164
Associating language with a political flag is an anti-pattern.

- Living in a particular country doesn't mean you speak a particular language.
- Speaking a particular language doesn't mean you identify with the political flag of one big country where the language is spoken. (It may predispose you to having strong opinions about that country/flag, though!)

For reference, here are various multiling

[2022-11-25 16:50] #7075 closed

[2022-11-26 20:20] cclauss commented on #7186
Does `print("Urgent message", flush=True)` solve this?

[2022-11-26 21:31] scottbarnes commented on #7186
Well how about that? Using `print("Urgent message", flush=True)` works. Maybe that is a better solution, as I am not sure if there is benefit in not buffering STDOUT and STDERR generally in a development environment.

[2022-11-27 17:02] #7186 closed

[2022-11-27 20:28] davidscotson commented on #7118
Wikidata has about 8000 amazon author ids, slightly more than 2000 that also have open library author ids:

https://query.wikidata.org/#SELECT%20DISTINCT%20%3Fitem%20%3FitemLabel%20%3Famazon%20%3Folid%20WHERE%20%7B%0A%20%20SERVICE%20wikibase%3Alabel%20%7B%20bd%3AserviceParam%20wikibase%3Alanguage%20%22%5BAUTO_LANGUAGE%5D%22.%20%7D%0A%20%20%7B%0A%20%20%20%20SELECT%20DISTINCT%20%3Fitem%20WHERE%20%7B

[2022-11-27 20:47] davidscotson commented on #7118
Seems like they're not perfect on Amazon's side, there's ids that are two different people and some individual people have more than one ids, but probably still a strong signal overall:

https://www.wikidata.org/wiki/Wikidata:Database_reports/Constraint_violations/P4862

Couple of examples:

https://www.amazon.co.uk/D.-G.-Wells/e/B001IOF6YW
https://www.amazon.co.uk/David-Wells/e/B000APA8DY

Seem t

[2022-11-27 21:41] mekarpeles commented on #7005
@Jyotiraditya24 this looks right to me, did you open a pull request yet with your changes?

[2022-11-27 21:44] #7007 closed

[2022-11-27 21:46] mekarpeles commented on #6537
@luizasilveira yes please!

[2022-11-27 22:33] jpdh9881 commented on #6537
@mekarpeles I've been working on this one as per @jimchamp. I think I just wasn't assigned. Should have the PR in tonight.

[2022-11-28 17:59] jimchamp commented on #6530
This appears to happen only when a book is added to the last remaining list displayed in the dropper.  Once this happens, the dropper closes briefly, then reopens.

[2022-11-28 20:14] mekarpeles commented on #7164
Enough valid concern has been raised by the community that I'm going to close this issue for now and report back to the stakeholder.

Thank you everyone.
@MingdaMa, is there another small project we may be able to work on together? Maybe this one? https://github.com/internetarchive/openlibrary/issues/5349