[2020-10-30 18:52] cdrini opened #3989 "Data dump for reading log stats"
Currently there's no dump of reading log stats. Let's make a public dump of it.

- [x] https://github.com/internetarchive/olsystem/pull/131 Should run regularly
- [x] Reading log bookshelves SQL command with anonymization
    - [x] #5426
    - [x] #5529
- [x] Anonymization test.
- [x] Run manual dump with the new code https://archive.org/download/ol_dump_2021-08-11
- [x] #5546 Add download API for

[2020-10-30 18:54] cdrini opened #3990 "Solr should including stale ratings numbers"
Although this data might be out-dated, if we do a full reindex every month, it should be approximately correct.

Main goal: Solrbuilder full reindex should be able to fetch this data, and store it, and make it available for query.

- [x] Get loading of ratings working in solr-updater
- [x] Get loading of ratings working in solr-builder
- [x] Kick off solr reindex to test ratings
- [x] Fix any issu

[2020-10-30 19:08] cdrini opened #3991 "Sentry should include deployment SHA"
Sentry has options for specifying the SHA of the current code, so you can see when an error was introduced. We currently don't take advantage of this.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders
@cdrini

[2020-10-30 19:12] cdrini opened #3992 "Retire ol-web3 & ol-web4"
With ol-web1 running python3, we want to connect ol-web1 permanently and remove our old python2 ol-web3/4.

Blocked by: ~#890~, ~#3333~, and ~#3993~.

- [x] Retire ol-web3
- [x] Retire ol-web4
- [ ] Remove refs to ol-web{3,4} from olsystem

[2020-10-30 19:14] cdrini opened #3993 "Fix deployment on ol-web1/ol-web2"
Currently our normal deploy flow does not include ol-web1 and ol-web2.

[2020-10-30 19:16] cdrini opened #3994 "Create ol-web2"
Create/provision ol-web2 to be the same as ol-web1, and serving openlibrary.

[2020-10-30 19:29] #3783 closed

[2020-10-31 00:15] jamesachamp commented on #3940
I think that @perryjr is on the correct path.  `insertSteps` is used twice in `vendor/js/flot` without being declared, hence the error.  It's probably best to update this, as it is quite outdated.

This was running successfully rather recently.  I'm assuming that some configuration changed that is causing this to be executed in strict mode.

@cdrini Out of curiosity, is there some benefit to havin

[2020-10-31 00:32] perryjr commented on #3940
Being new to the codebase I'm a little out of my depth, but I'd love to look over someone's shoulder during the upgrade process

[2020-10-31 00:55] cdrini commented on #3940
@jamesachamp exactly it's an old practice; likely before npm existed :P I'm curious as to what caused these to break in the first place; they were working ~before this issue was opened. But if updating fixes it, that seems like a good option. I don't think flot is used in too many places.

[2020-10-31 07:00] mekarpeles commented on #3959
We saw a very similar outage today ~5 minutes ago

ol-web3 seemed to be the first service detected down... And then ol-www1. Shortly after ol-solr and ol-web4 appeared unreachable.

Just restarted haproxy, ol-web3 gunicorns, ol-mem[3-5] and nginx -- in that order -- and service is restored

[2020-11-01 03:52] SouthGoingZax commented on #2017
@seabelis are you asking for something like this (just a rough prototype)?
![2017-prototype](https://user-images.githubusercontent.com/72705998/97794720-bb967980-1bba-11eb-9dba-37b5a00a0f3d.png)

[2020-11-01 05:08] SouthGoingZax commented on #2027
@seabelis is this something you still want?  I couldn't quite follow your description of what exists now when looking at an [example page](https://openlibrary.org/books/OL23109860M/The_Great_Gatsby#work-details), so I'm not sure if I understand what you're asking for.  Also, maybe things have changed since you originally filed this issue.

In that example link, I see work data (title, publish date

[2020-11-01 10:01] cclauss commented on #3994
Closed at http://ol-web2.us.archive.org:8080/status running Python 3.9 on Ubuntu Focal on Docker.

[2020-11-01 10:01] #3994 closed

[2020-11-01 13:50] perryjr commented on #1833
May I please have a copy of tests/integration/auth.yaml ? The tests won't start without it :)

[2020-11-01 16:30] SouthGoingZax commented on #2741
Was the search bar that is now on author pages added after this issue was opened (i.e., can this issue be closed?), or is this a request for different search functionality?

[2020-11-01 18:26] cclauss commented on #3991
This might already be happening...
![Screenshot 2020-11-01 at 19 14 56](https://user-images.githubusercontent.com/3709715/97810838-01b11300-1c77-11eb-9e29-d1d416785ee0.png)

Those 12-digit hex server names seem to link to the [12-digit hex host number on the `status` page](http://ol-web1.us.archive.org:8080/status?debug=true).

`ol-web3` events do not seem to be going into Sentry but `ol-web4` eve

[2020-11-01 20:08] perryjr commented on #3911
I wanted to test various code fixes related to this but to be able to do that I'd need to replicate the missing author attribute.  This doesn't appear possible unless adding data via bot or manually editing an entry in the db.  Easiest path for me seemed to manually edit my local db but I found that I was not able to elevate to the postgres user within the docker container.

`openlibrary@70fc6da8b

[2020-11-02 03:40] guyjeangilles commented on #2741
Yep this should be closed

[2020-11-02 03:40] #2741 closed

[2020-11-02 05:47] codetochangeMinds commented on #3395
Hey @ForgottenProgramme are you working on this issue.

[2020-11-02 09:27] Yashs911 commented on #686
@mekarpeles Please add me to your slack channel.

[2020-11-02 10:54] cclauss commented on #2852
@hornc Would be willing to work with @aasifkhan7 to remove urllib from `openlibrary/catalog/get_ia.py` in favor of requests?

[2020-11-02 17:05] jamesachamp commented on #3940
@cdrini I'm not sure what caused it to break, but whatever it was happened on or before 15 October (this is when Mek noticed the issue).

Flot is only used in [graphs/plot.js](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/js/graphs/plot.js).  The functions defined in this file are used to initialize the graphs [here](https://github.com/internetarchive/o

[2020-11-02 17:41] navneetsaluja opened #4005 "Error in processing template on /lists on local instance"
If we create a list locally with more than one book, it shows the error:
[code]
(with ?debug=true)
[code]
Stack trace is sent below.

### Evidence / Screenshot (if possible)

I added 3 books to the list, so it shows the error twice. (does not show on only one book in the list)
![Selection_017](https://user-images.githubusercontent.com/54721958/97899750-ac046580-1d5f-11eb-8027-0faa40566a35.png)

![

[2020-11-02 17:54] cdrini commented on #3991
This is the docker container SHA; it'll changer every time the docker container is rebuilt. Not sure why sentry is using that.

[2020-11-02 17:54] cdrini commented on #3991
ol-web3 is currently not hooked up to sentry to reduce load (in theory now that we know how to set sentry quotas, we might want to try to connect it as well with a quota; but something to do when we're bored :P )

[2020-11-02 18:35] cdrini opened #4006 "K-12 Page erroring on Python 3"
`/openlibrary/openlibrary/templates/type/page/view.html: error in processing template: AttributeError: 'str' object has no attribute 'decode' (falling back to default template)`

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/97905490-142b5b00-1d10-11eb-886e-82ad991b5bdb.png)

### Relevant url?
openlibrary.org/collections/k-12 on Py3

### Details

[2020-11-02 18:44] seabelis commented on #2017
@SouthGoingZax Yes, exactly.

[2020-11-02 18:46] seabelis commented on #2027
@SouthGoingZax The page layout has changed entirely so this no longer applies. Thank you.

[2020-11-02 18:46] #2027 closed

[2020-11-02 21:14] perryjr commented on #3940
@jamesachamp go nuts. I'm just trying to absorb as much as possible so I can become useful

[2020-11-02 21:30] SouthGoingZax commented on #3793
Is this still a problem after the Solr -> SSD change in late October?

[2020-11-02 22:30] tfmorris commented on #3793
I never got any confirmation that anyone else considered it a problem, so perhaps my standards were just too high.

I'll see if the issue still exists the next time I have reason to visit the site.

[2020-11-03 03:24] #3798 closed

[2020-11-03 04:28] jamesachamp commented on #3720
I'm currently testing some new Tomcat logging configurations locally.  I'll know if everything is working properly in about a day.

[2020-11-03 06:17] codetochangeMinds commented on #3395
Hey @seabelis, can I work on this issue?

[2020-11-03 08:34] seabelis commented on #3793
@SouthGoingZax Performance was exceptionally poor in Sept/Oct and has since improved. However, book and author pages are still slow to load. About 15 seconds for me. I'm no longer getting the 504s.

[2020-11-03 08:36] seabelis commented on #3395
@codetochangeMinds You don't actually need my permission, but I'm happy to answer any questions about the issue if you need more info. Thanks!

[2020-11-03 10:16] cclauss commented on #4006
Closed in https://github.com/internetarchive/infogami/pull/124

[2020-11-03 10:16] #4006 closed

[2020-11-03 16:00] #3687 closed

[2020-11-03 16:01] cdrini commented on #4006
@cclauss I'm still seeing this on ol-web1; could you switch to the latest code there?

[2020-11-03 16:10] cclauss commented on #4006
Will do

[2020-11-03 18:01] cdrini commented on #3940
@jamesachamp Feel free to give that a shot :+1: You can also copy the data from the HTML of openlibrary.org; e.g.

[code]

[2020-11-03 18:20] aavishkarmishra commented on #3914
Hello, I would like to work on this issue. Can anyone tell me form where can I start ?
@ncorder @mekarpeles  @guyjeangilles

[2020-11-04 04:13] SouthGoingZax opened #4010 "Add "noindex" meta tag to people and list pages belonging to accounts less than 30 days old"
### Describe the problem that you'd like solved

Thousands of spam pages have been added to OL over time.  In many instances, people and list pages are where the spam shows up.  Spam can harm user trust in OL, affect OL's ranking in search engines, and potentially point to malicious sites and thus harm our users.

### Proposal & Constraints

In this week's community call, the decision was made to

[2020-11-04 04:14] jamesachamp commented on #3720
From version `7.0.86` onward, Tomcat loggers can be configured to delete files after a number of days specified by a `maxDays` property.  Unfortunately, we are using version `7.0.68`.  We can still set up cron jobs to delete logs older than a certain amount of days.

@cdrini how long should we keep each of the following logs?

Log | Purpose | Properties File (Found in `/usr/share/tomcat7/conf`) |

[2020-11-04 05:56] Yashs911 opened #4012 "Category and bookcover outlines are hidden (Accessibility issue)"
When one tab through the openlibrary homepage, some component only show the top or bottom outline
### Evidence / Screenshot (if possible)
![tab1](https://user-images.githubusercontent.com/64412143/98074261-10264700-1e90-11eb-864e-ba528bc2c417.JPG)

### Relevant url?

https://openlibrary.org/
### Steps to Reproduce

1. Go to https://openlibrary.org/
2. Use Tab

* Actual:
![tab1](https://user-images

[2020-11-04 05:56] jamesachamp commented on #3940
Not sure how I missed that...

I wound up upgrading Flot to 0.8.3, which was the highest version in npm that properly rendered the graphs without code changes.  The next highest version is 2.1.2, which caused the graphs to render as a solid rectangle:

![flot_2_1_2](https://user-images.githubusercontent.com/28732543/98073704-e987f200-1e36-11eb-846c-2923b7799747.png)

I think that it's worthwhile t

[2020-11-04 06:02] Yashs911 commented on #4012
![a](https://user-images.githubusercontent.com/64412143/98074955-6b0c6e00-1e91-11eb-944c-f49e5b21bb53.JPG)

[2020-11-04 16:08] cdrini commented on #3720
Nice! I was looking at how the old solr did this, and it was using OS-level logrotate (which is apparently a thing! :P ). This is what the old solr had at `/etc/logrotate.d/tomcat6`:

[code]

And this is what the new solr has at `/etc/logrotate.d/tomcat7`:

[code]

Although note that in the old solr, there were only `catalina` logs, and they were saved like so:

[code]

Also note that in the docke

[2020-11-04 16:23] cdrini commented on #3720
In case they're useful, here are the config files you mentioned as they exited on the old solr (with tomcat6):

logging.properties:

[code]

server.xml

[code]

[2020-11-04 16:38] jamesachamp commented on #3720
Thanks for researching this!  I think that using logrotate is a great idea, and I'll work on implementing it today.

Do you want to keep the default logging levels for the applicable loggers?  Also, is 7 days a reasonable amount of time to keep each log?

[2020-11-04 17:23] seabelis commented on #3794
@anushri20 One thing to check for is that the title entered should be tied to the Edition title and not the work title. Although, the work title probably should be displayed (not editable) on the initial form. So I think the problem is really that a field is missing which is the edition title. Does this make sense?

[2020-11-04 17:46] cdrini commented on #3720
Wonderful! Yep, 7 days + default levels seems reasonable :+1: Thank _you_ for your research! :)

[2020-11-04 17:48] #3991 closed

[2020-11-04 18:01] BrittanyBunk commented on #2913
thanks!

[2020-11-04 18:26] cdrini opened #4014 "Update Getting Started wiki page"
The [Getting Started page](https://github.com/internetarchive/openlibrary/wiki/Getting-Started) is _very_ out of date, and pre-docker. Some of it is still correct (e.g. database schema?), but all the actual "getting started" stuff is wrong.

## Stakeholders
@seabelis

[2020-11-04 20:00] cclauss opened #4015 "Python 3: could not display: <AttributeError: 'type'>"
http://ol-web1.us.archive.org:8080/subjects/biology?debug=true
[code]

### Evidence / Screenshot (if possible)

![Screenshot 2020-11-04 at 20 57 44](https://user-images.githubusercontent.com/3709715/98161763-923e5c00-1ee0-11eb-8fee-85576e75a004.png)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/versio

[2020-11-04 20:16] mekarpeles commented on #4015
https://stackoverflow.com/questions/4183432/cant-set-attribute-with-new-style-properties-in-python

[2020-11-04 21:06] #3940 closed

[2020-11-04 21:46] #3833 closed

[2020-11-04 22:40] mekarpeles opened #4017 "Docker Deployment Strategy for ol-web[1,2]"
- [x] connect ol-web[1,2] to sentry
- [x] restart always
- [x] set docker-compose hostname on docker-compose to match parent machine (for sentry)
- [x] for production, we don't want to mount /openlibrary inside the container (because pulling will mess things up)?
- [x] We need to edit
https://github.com/internetarchive/openlibrary/wiki/Deployment-Guide#ol-web1
such that the instructions have a pat

[2020-11-05 00:59] cdrini opened #4019 "Lists-related pages throwing "AttributeError: 'module' object has no attribute 'Seed' (falling back to default template)""
Caused by https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-11-04 .

`/opt/openlibrary/deploys/openlibrary/824a904/openlibrary/templates/recentchanges/lists/comment.html: error in processing template: AttributeError: 'module' object has no attribute 'Seed' (falling back to default template)`

Lots of occurrences in sentry: https://sentry.archive.org/sentry/ol-web/issues/10323

[2020-11-05 01:01] cclauss commented on #4019
Is this a dupe of #4015?
Will it be fixed but #4018?

[2020-11-05 01:03] cdrini commented on #4019
This looks like a different error, and on py2. Not sure if that will fix it?

[2020-11-05 01:09] cdrini commented on #4019
Maybe this?

![image](https://user-images.githubusercontent.com/6251786/98184987-b0ed2480-1ed9-11eb-8d34-109c2695c7f9.png)

https://github.com/internetarchive/openlibrary/compare/deploy-2020-10-19...deploy-2020-11-04#diff-9a03e714bd068dae76b2a99fdde09aff001fd7c547b11b0ea016079d3a567c8eL22

[2020-11-05 01:12] cdrini commented on #4019
Tested on dev; bringing that back fixed it!

[2020-11-05 01:32] #4019 closed

[2020-11-05 05:37] anushri20 commented on #3794
@seabelis Yes, this does make sense. I thought of doing the same thing but i am having trouble in tieing the editable title to the edition title.

Thank you.

[2020-11-05 07:25] nk4456542 commented on #4014
@cdrini, will modify and submit a PR soon :)

[2020-11-05 16:41] cclauss opened #4023 "Python 3: KeyError on 'hit' in plugins/openlibrary/stats.py"
### Evidence / Screenshot (if possible)
https://sentry.archive.org/sentry/ol-web/issues/3862

<type 'exceptions.KeyError'> at /works/OL6037022W
'hit'
Python | /opt/openlibrary/deploys/openlibrary/824a904/openlibrary/plugins/openlibrary/stats.py in stats_hook, line 84
-- | --
GET https://openlibrary.org/works/OL6037022W

![Screenshot 2020-11-05 at 17 40 04](https://user-images.githubusercontent.com

[2020-11-05 16:45] aavishkarmishra commented on #4012
I would like to work on this but can anyone help with from where can I start any how to check updated css in docker?

[2020-11-05 16:54] Yashs911 commented on #4012
@aavishkarmishra I want to work on the issue. But don't worry you will find plenty of good first issues.
Regarding your query, I would suggest first install docker and set up the openlibrary locally. If you face any problem you can ask here https://gitter.im/theopenlibrary/Lobby

[2020-11-05 17:08] #4015 closed

[2020-11-05 17:17] aavishkarmishra opened #4026 "More dropdown is overlapping with search"
More dropdown is overlapping with search in navbar.
### Evidence / Screenshot (if possible)
![Screenshot_2020-11-05 Welcome to Open Library Open Library](https://user-images.githubusercontent.com/58372823/98273498-58408900-1fb8-11eb-83a1-b8e8b6427a9a.png)

###Expected:  Can be shifted little down to remove over lapping.

#4012  @Yashs911 Please look into this also.

[2020-11-05 17:18] aavishkarmishra commented on #4012
@Yashs911 Please look into mentioned issue also.

[2020-11-05 17:26] Yashs911 commented on #4026
@aavishkarmishra wait for members and collaborators to review this issue.

[2020-11-05 17:56] BrittanyBunk opened #4027 "Add a 'genre' form field (separate from subjects)"
Problems:
- The OL staff needs to make their own judgments on which carousels to pick
- Labels are currently used to group books, but subject keywords are details about a book, not a genre
- a large part of what comprises a book is not on the OL

Solution:
- adding a genre box allows for user/bot input instead of staff - offloads work
- separates genre from other labels

The benefit of this is tha

[2020-11-05 17:57] BrittanyBunk opened #4028 "Add 'genre' form field"
Problem
- labels (i.e. subject keywords) are used to generate topics instead of using genres

Solution
- add genre field when editing a book

[2020-11-05 18:04] BrittanyBunk opened #4029 "Add series placemark form field under series"
Problem:
- books are in order when published in a series

Solution:
- add a form field to assign books numbers to show where a book stands in a series

Example
- Harry Potter and the Sorcerer's Stone - given #1, Chamber of Secrets - #2, etc.

[2020-11-06 02:55] cdrini opened #4032 "Search Facets broken"
### Relevant url?
e.g. https://openlibrary.org/search?q=title%3A+%22test%22&mode=everything

### Steps to Reproduce
1. Go to https://openlibrary.org/search?q=title%3A+%22test%22&mode=everything
2. Click any of the facets

* Actual: A weird map object is added to the url; e.g. https://openlibrary.org/search?q=title%3A+%22test%22&mode=everything&author_key=%3Cmap+object+at+0x7f0754411d00%3E
* Expect

[2020-11-06 02:58] cdrini opened #4033 "Books with non-ascii titles erroring when clicked from search"
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to https://openlibrary.org/search?q=h%C3%A9las&mode=everything
2. Click on any book with a non-ascii character in the title

* Actual: 500 internal error on e.g. https://openlibrary.org/works/OL11565520W?edition=
* Expected: See the book

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF82

[2020-11-06 09:07] cclauss opened #4035 "all.js contains an invalid selector SyntaxError on line 26"
### Evidence / Screenshot (if possible)
Paused on exception SyntaxError: Element.querySelectorAll: '*,:x' is not a valid selector

![Screenshot 2020-11-06 at 09 51 30](https://user-images.githubusercontent.com/3709715/98347878-4f7f9f80-2018-11eb-8772-f7438bd22d63.png)

https://github.com/internetarchive/openlibrary/wiki/Frontend-Guide#alljs-and-custom-javascripts
Often when I am trying to use the

[2020-11-06 09:17] cclauss commented on #4032
Opened #4035 which appears when attempting to use Firefox Inspector on this page.

The problem is `author_key` as being created in [openlibrary/templates/work_search.html](https://github.com/internetarchive/openlibrary/blob/24c2235628239393dad62da1501ecda57c114e42/openlibrary/templates/work_search.html#L267)

Py2: https://openlibrary.org/search?q=title%3A+%22test%22&mode=everything&author_key=OL18

[2020-11-06 12:11] cclauss commented on #4033
It is possible to raise similar errors by doing http://localhost:8080/books/add with Unicode characters:
[code]

[2020-11-06 13:44] cclauss commented on #4033
When `gunicorn` is updated to the current [v20.0.4](https://pypi.org/project/gunicorn) the exception changes to:
[code]

[2020-11-06 15:28] jamesachamp commented on #4032
It looks like the URL is set by `add_facet_url`, defined here:

https://github.com/internetarchive/openlibrary/blob/a23d45a6b383f551e3c4127327f97f432cb5e4af/openlibrary/templates/work_search.html#L5-L9

[2020-11-06 16:34] cclauss commented on #4033
Tried `environ['PATH_INFO'] = environ['PATH_INFO'].encode('utf-8').decode('latin1')` after line 117 of `openlibrary/scripts/openlibrary-server`

Looked at `normpath` in nfogami/infogami/utils/app.py

[2020-11-06 16:47] cdrini opened #4040 "i18n files not built automatically on Python 3 web nodes"
### Steps to Reproduce

1. Go to https://openlibrary.org/books/OL25428864M/Americanah?lang=fr

* Actual: Page is in English
* Expected: Page has buttons in French (like https://dev.openlibrary.org/books/OL25428864M/Americanah?lang=fr)

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF82
- **Operating system?** Win10
- **Environment (prod/dev/local)?** prod

### Proposal & Constr

[2020-11-06 16:50] jamesachamp commented on #4035
It looks like this issue is fairly widespread (occurring on the home page, book pages, search, etc.).  I'll devote some time to this today.

[2020-11-06 17:40] jamesachamp commented on #4040
Dates are being translated, so the issue may lie in our i18n compilation process:
![i18n_issue_fr](https://user-images.githubusercontent.com/28732543/98397258-130a6e80-202d-11eb-9422-80393a8df6fe.png)

Is there an `.mo` file in `openlibrary/i18n/fr`?  If not, try running `make i18n` and check again.

[2020-11-06 17:48] cdrini commented on #4040
:+1: That looks like it; `make i18n` looks like it wasn't run at all :/ Dropping in priority

[2020-11-06 17:59] cdrini commented on #4040
I ran it manually, but we have to figure out why this wasn't run automatically during the build process

[2020-11-06 19:20] cclauss commented on #4040
https://github.com/internetarchive/openlibrary/pull/3906#pullrequestreview-518213407
https://github.com/internetarchive/openlibrary/pull/2253

[2020-11-06 20:45] #4032 closed

[2020-11-06 21:22] cdrini commented on #4040
False alarm; I'm going to assign this one to myself. It was a docker issue, not a code issue.

[2020-11-06 23:58] jamesachamp commented on #3720
If Tomcat wasn't already rotating its logs, logrotate would be a perfect solution to this problem.  While eventually deleting the actual logs, logrotate will leave us with 8 empty copies of each daily log.  Consider this truncated list of logs from yesterday:

[code]
Imagine what this will look like on the ninth day.  We will have eight empty `catalina.2020-11-04.log` files, eight`catalina.2020-11

[2020-11-07 00:10] cdrini commented on #4033
Rolledback the deploy to resolve this issue over the weekend; we can find a fix next week before going back live.

[2020-11-07 00:34] mekarpeles commented on #2853
I believe this should be done -- cc: @cdrini

[2020-11-07 01:24] #4028 closed

[2020-11-07 02:18] mekarpeles commented on #3826
@ArunTeltia let's give it a shot and we can test it on dev.openlibrary.org and staging.openlibary.org! :)

[2020-11-07 02:23] mekarpeles commented on #3038
@eduardoltorres sorry that you've been blocked on this one -- @cclauss do you have any suggestions for @eduardoltorres ?

thanks all!

[2020-11-07 02:42] mekarpeles commented on #711
The user is blocked. There is an issue with reverting all of their changes because one of them has already been deleted and is registering as /type/delete instead of /type/author.

[code]

[2020-11-07 02:43] mekarpeles opened #4045 "Fix patron block and revert functionality where /type/delete encountered"
In #711 there is a case where a user has been blocked. There is an issue with reverting all of their changes because one of them has already been deleted and is registering as /type/delete instead of /type/author.

[code]

Success criteria:
- [ ] an admin should revert all of AliceKirk

_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/issues/711#issuecomment-7233

[2020-11-07 02:43] mekarpeles commented on #711
Closing this issue and making reversion of AliceKirk success for #4045

[2020-11-07 02:43] #711 closed

[2020-11-07 02:45] mekarpeles commented on #3532
@waldenn yes -- OL uses a special version of Archive.org's API which only it can access within the network. We have a PR (#4044) which should allow json access

[2020-11-07 02:46] mekarpeles commented on #2649
I'm going to assume this is resolved.

[2020-11-07 02:46] #2649 closed

[2020-11-07 02:47] #3824 closed

[2020-11-07 02:52] mekarpeles commented on #3941
I'm not sure how it happened that this was resolved... but this is great news and I think we can close it!

[2020-11-07 02:52] #3941 closed

[2020-11-07 03:14] #3917 closed

[2020-11-07 03:16] SouthGoingZax commented on #3068
I also can't repro.  Closing.

[2020-11-07 03:16] #3068 closed

[2020-11-07 03:27] mekarpeles commented on #2864
I think mode, type, v, and debug are definite ones to exclude.

I am not sure about sort.

Page makes sense to me though I imagine sort affects page (so perhaps page and sort are two to allow)

[2020-11-07 03:29] SouthGoingZax commented on #3341
Closing this as a dupe of #2864

[2020-11-07 03:29] #3341 closed

[2020-11-07 04:41] SouthGoingZax commented on #1875
@mekarpeles mentioned that he thinks this has been resolved, so I'll close it.  We can always re-open it if needed.

[2020-11-07 04:41] #1875 closed

[2020-11-07 05:39] cclauss commented on #3038
@eduardoltorres I also suspect that this function is dead code.  It would be cool if you could create a pytest or doctest that proves our suspicion that this code would raise an error on modern Python if it was ever run.

Once our Python 3 migration settles down a bit, it would be cool to take a systematic approach to finding dead code with https://pypi.org/project/vulture or similar but not until

[2020-11-07 06:21] Yashs911 opened #4046 "Text cut off before Read more"
Text cut off before read more
### Evidence / Screenshot (if possible)
![readmore](https://user-images.githubusercontent.com/64412143/98433697-54635280-20ef-11eb-8812-918fa9e6026d.JPG)

### Relevant url?
https://openlibrary.org/works/OL11999891W/The_Help?edition=help00kath

### Steps to Reproduce

1. Go to https://openlibrary.org/works/OL11999891W/The_Help?edition=help00kath

* Actual: above image

[2020-11-07 07:34] Yashs911 opened #4047 "Book cover missing"
Book cover is missing src generated src="http://covers.openlibrary.org/b/id/-1-M.jpg"
### Evidence / Screenshot (if possible)
![cover](https://user-images.githubusercontent.com/64412143/98435315-592d0400-20f9-11eb-8796-7d5f9b0e47c4.JPG)

### Relevant url?
https://openlibrary.org/collections/k-12

### Steps to Reproduce

1. Go to https://openlibrary.org/collections/k-12

* Actual: above image
* Exp

[2020-11-07 12:16] waldenn commented on #3532
Excellent, thanks Michael and others for your great work!

[2020-11-07 19:55] SouthGoingZax commented on #4023
@cclauss it seems like there are at least  a couple things here: 1) figure out why 'hit' is missing in py3, and 2) make it so that if 'hit' is ever missing in the future, it doesn't result in a user-facing error.  Sound right?  Anything else?

[2020-11-07 20:39] cclauss commented on #4023
Let's worry about 1 first.  After we know what the problem is and where it comes from, we can determine how it should be raise.

[2020-11-07 22:00] #3818 closed

[2020-11-07 22:08] #4040 closed

[2020-11-08 04:35] Yashs911 commented on #333
@tfmorris @guyjeangilles I would like to work on this issue. Can you please guide me on what all changes do I need to make?

[2020-11-08 10:10] nk4456542 commented on #4014
@cdrini, I have made some changes to the [Getting Started Page](https://github.com/internetarchive/openlibrary/wiki/Getting-Started) using the edit button on the GitHub itself. Originally I had cloned it and planned to open draft PR to ask for some suggestions before making some changes. But `git push` gives me a `403` error as I have no access to push changes. So I have made changes to only the `

[2020-11-09 14:46] cclauss opened #4051 "Orphaned editions throw IndexError"
Fixed in ~#4052~

### Evidence / Screenshot (if possible)
http://staging.openlibrary.org/books/OL21692921M?debug=true

<class 'IndexError'> at /books/OL21692921M
list index out of range
Python	/openlibrary/openlibrary/templates/type/edition/view.html in __template__, line 9
Web	GET http://staging.openlibrary.org/books/OL21692921M

![Screenshot 2020-11-09 at 15 43 19](https://user-images.githubuser

[2020-11-09 16:37] cdrini opened #4053 "Add Sentry to coverstore code"
coverstore code should log fixes to Sentry

### Stakeholders
@cclauss

[2020-11-09 16:37] cdrini opened #4054 "Move ol-covers to Python3"
- [x] #4053 --> #4055 Add sentry to coverstore so we can see how errors change
- ~Switch to running ol-covers with Python 3 codebase~

Docker-based:
- [x] Create ol-covers0
- [x] Install docker
- [x] Add to pg_hba conf
- [x] Does it need a copy of booklending_utils? Nope.
- [x] Does it need ia keys? (Nope)
- [x] Need to rsync /1 from `ol-covers1` to `ol-covers0`

Tried:
- Get Pyenv-based Py3 worki

[2020-11-09 19:59] cdrini opened #4058 "Create ol-home0 node"
Subtask of #4060

- [x] Creating new VM, `ol-home0` with same specs as ol-home, but latest Ubuntu (@mekarpeles : And more RAM)
- [x] Install docker
- [x] Add to pg_hba conf -- Done in internetarchive/olsystem#99
- [ ] Does it need a copy of booklending_utils?
- [ ] Does it need ia keys?

[2020-11-09 20:00] cdrini opened #4059 "Move infobase to Python 3 ol-home0"
Subtask of: #4060

- [x] #4125 Add logging to `scripts/infobase-server`
- [x] Need a `/1` volume mount
- [x] #4061 Add sentry to infobase
- [x] internetarchive/olsystem#100 Prepare rapid infobase switch from Py2 to Py3
- [x] #4130 / #4140 Create an nginx service that will run in a separate Docker container
- [ ] Trial deploy to production (stop py2 infobase, start py3 infobase to collect errors)
-

[2020-11-09 20:01] cdrini opened #4060 "Migrate ol-home to ol-home0"
## Sub-tasks

- [x] #4058 Create ol-home0
- [x] #4059 Move infobase to ol-home0
- [x] Switch infogami submodule to infogami master https://github.com/internetarchive/openlibrary/issues/4249#issuecomment-744639377
- [x] #4287 Move solrupdater to ol-home0
    - [x] TODO: Deploy it #4395
- [x] #4324 Move ImportBot to ol-home0 --> `make-a-service` - Port ID?, Nagios,
- [x] internetarchive/infogami#134

[2020-11-09 20:25] cdrini opened #4061 "Add Sentry to infobase"
Subtask of: #4059

### Stakeholders
@mekarpeles

[2020-11-09 20:53] mekarpeles commented on #3979
Working here: https://openlibrary.org/?ymd=2020-12-06
Met w/ Jenica

[2020-11-09 20:53] #3979 closed

[2020-11-09 21:11] mekarpeles commented on #3959
Resolution: Don't run web1,2 and web3,4 at the same time because python2 and python3 nodes will independently refresh memcached in ways that may break for the contra.

[2020-11-09 21:11] #3959 closed

[2020-11-09 21:42] SouthGoingZax opened #4062 "Add a new Nagios alert for severe outages"
There have been two large, long outages recently that appear to not have been noticed (or their severity was perhaps unknown) for quite some time until they were escalated to staff members on Slack, at which point they were quickly resolved.

Homepage (and more?) outage on 2020-11-07:
![image](https://user-images.githubusercontent.com/72705998/98481352-796aca80-21ae-11eb-911c-44c63368107a.png)

Se

[2020-11-09 23:56] #4033 closed

[2020-11-10 01:16] bwright8 commented on #4027
I am new, but could I try to work on this? I have a passion for books and would love to see this issue solved.

[2020-11-10 06:35] Yashs911 opened #4063 "Remove grayscale filter from browse by subject images"
- [ ] 1)Everything from book covers to graphs is colorful so what's the reason behind applying a grayscale filter on Browse by subject images

### Evidence / Screenshot (if possible)
![bw](https://user-images.githubusercontent.com/64412143/98636261-845b6180-234c-11eb-8ebf-dfb2a8049405.JPG)

![img](https://user-images.githubusercontent.com/64412143/98636272-89201580-234c-11eb-9c2a-3d31398a060e.JPG)

[2020-11-10 08:50] cclauss commented on #3038
I did a bit more digging...

This code is in the [main block of `merge_works.py`](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/edition_merge/merge_works.py#L92) and is not indented under `if __name__ == "__main__":` so that code will be executed anytime that `merge_works.py` is run or imported.  The only place that I can find this merge_works mentioned is in a [--

[2020-11-10 16:45] LeadSongDog opened #4065 "ImportBot is creating authors based on faulty AMZ record rather than accurate WorldCat entry"
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/works/OL23083613W/Je_couds_pour_bébé?m=history

### Steps to Reproduce

1. Go to https://openlibrary.org/works/OL23083613W
2. Click Amazon link, note wrong author
3. Go back.
4. Click Worldcat link, note correct author.

### Details

- **Logged in (Y/N)? Y
- **Browser type/version? Chrome
- **Operating system? iOS o

[2020-11-10 19:00] cclauss opened #4067 "New hmac issues on Python 3"
https://sentry.archive.org/sentry/ol-web/issues/9699
https://sentry.archive.org/sentry/ol-web/issues/9700

[2020-11-10 19:02] cdrini opened #4068 "Borrowing HMAC error on Python 3"
Borrowing from the /loans page and from other places is triggering an HMAC error on Python 3

Related to #4038

### Steps to Reproduce
1. Borrow a book
2. Go to https://staging.openlibrary.org/account/loans

https://sentry.archive.org/sentry/ol-web/issues/9699
https://sentry.archive.org/sentry/ol-web/issues/9700

* Actual: Loans are missing or incorrect
* Expected: Loans should be listed

### Deta

[2020-11-10 19:15] cclauss commented on #4067
Duplicate of  #4068

[2020-11-10 19:15] #4067 closed

[2020-11-10 20:19] LeadSongDog opened #4070 "Intellectual freedom. Terms of service. Privacy policy"
We can't keep overlooking or downplaying this topic.

The OL homepage footer link "Terms of Service" goes to https://archive.org/about/terms.php

While I believe that Easter egg to be an error, even if it is still the agreed-upon behaviour, that target needs some serious work on the way it addresses librarianship, law, user communication, and technology.

Its privacy discussion section, written 10

[2020-11-10 22:07] cdrini commented on #3892
Reindex completed and deployed on 2020-11-09.

[2020-11-10 22:07] #3892 closed

[2020-11-10 22:29] mekarpeles opened #4071 "Librarian Merge Queue: Propose/Flag Dupes"
**Adapt Integrated Librarian Environment (ILE) bar to propose Merge Requests**

mek  2:22 PM
We very briefly talked about how community might safely flag merge requests
@seabelis led us to a great idea, which is -- if not librarian, have same UI as if admin/librarian. Let people select items. Instead of showing "Merge Works" show "Merge Request"
Normally what happens is we send Lisa to /works/merg

[2020-11-11 07:21] #4068 closed

[2020-11-11 18:44] cclauss commented on #4017
I am a bit lost on this issue...

Why do we want to deploy on ol-web{1,2}?  I thought our goal was to take them ___out___ of circulation.

[2020-11-11 22:17] mekarpeles opened #4080 "Exceptions don't have e.message in Py3/isbn/ endpoint (when importing) throws error"
An error on this path should cause an error (it tries to import and hits a bug, which we'd love to know more about! instead...) it throws a different error, which is e.message not a thing in Python3 (it is in Py2). The solution is to use e.args[0], or e.args[1]

* [ ] Whoever addresses this PR is responsible for opening a new issue for the /isbn endpoint as a test case for e.messages being fixed (

[2020-11-12 06:42] mekarpeles opened #4082 "Help us improve our WAVE accessibility score"
https://wave.webaim.org/report#/openlibrary.org

### Evidence / Screenshot (if possible)

![wave webaim org_report](https://user-images.githubusercontent.com/978325/98904419-671eb400-246e-11eb-961a-2f90f8f3c526.png)

### Relevant url?

https://wave.webaim.org/report#/openlibrary.org

### Proposal & Constraints

On homepage:
* [ ] 168 broken ARIA references
* [ ] 3 empty buttons
* [ ] 2 missing for

[2020-11-12 06:48] #4010 closed

[2020-11-12 15:33] cclauss opened #4083 "Add cover is raising TypeError for posting a str, not bytes"
Related to  #2852, #4080

Fixed in  #4102

https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/add_book/__init__.py#L261 is posting str, not bytes.

### Evidence / Screenshot (if possible)
From https://sentry.archive.org/sentry/ol-web/issues/9042
![Screenshot 2020-11-12 at 16 23 16](https://user-images.githubusercontent.com/3709715/98959662-cb3f8780-2503-11eb-985d-b18a2f

[2020-11-12 16:50] cclauss opened #4085 "Python 3: Sponsored carousel is not working"
Might be related: can't read it's memcache value from the admin UI:

### Evidence / Screenshot (if possible)
![Screenshot 2020-11-12 at 17 44 32](https://user-images.githubusercontent.com/3709715/98969618-51ad9680-250f-11eb-9e4a-7546bec29083.png)

### Relevant url?

https://openlibrary.org/admin/inspect/memcache?keys=books.sponsorable_editions-&action=read&debug=true

### Steps to Reproduce

* Act

[2020-11-12 17:41] Yashs911 commented on #4082
@mekarpeles I would like to work on this issue

[2020-11-12 19:13] cclauss opened #4086 "Test with Python pip's new dependancy resolver"
### Describe the problem that you'd like solved

Let's try the new pip dependency resolver on Travis CI to see if it raises any conflicts.

`python3 -m pip --use-feature=2020-resolver -r requirements.txt`
https://pip.pypa.io/en/stable/user_guide/#changes-to-the-pip-dependency-resolver-in-20-2-2020

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-11-12 19:17] #4086 closed

[2020-11-12 20:18] #4080 closed

[2020-11-13 00:06] bwright8 commented on #4027
I was working on this today but ran into a couple issues. I can add a genre form field to an "edit work" page. But as I try to "save" an edit, the local Open Library instance (via docker) gives me an error page. Is there a way to test editing test data locally?

[2020-11-13 01:23] SouthGoingZax commented on #2242
@manav014 (or anyone else), I believe the defaults are specified in the ```units``` variable in https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/books/edit/edition.html#L613 and and https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/books/edit/edition.html#L625

[2020-11-13 02:41] mekarpeles commented on #2017
I'm not opposed to there being a single value, isbn13. I know it's not perfect and there may be cases where there are multiple isbns...

[2020-11-13 03:41] SouthGoingZax commented on #2017
@seabelis are you okay with just displaying ISBN13 for each edition, or would you prefer to be able to use the edition filter to filter on both ISBN numbers (and possibly other information)?

[2020-11-13 04:58] SouthGoingZax opened #4089 "The backend doesn't prevent logged in users from reverting anyone's changes"
Any logged in user is able to utilize the revert functionality, which is supposed to be limited to admins and librarians.

### Relevant url?

Pick a work page that has more than one version.

### Steps to Reproduce

1. Go to an older version of a works page in Chrome (so that the URL has "v=..." in it)
2. Open the Chrome developer tools and click on the Elements tab
3. Edit an element at the top o

[2020-11-13 07:46] codetochangeMinds opened #4090 "Unable to login successfully during the local development environment setup"
At the time of login to OL interface an internal error is noticed.

### Evidence / Screenshot (if possible)
![Screenshot from 2020-11-13 12-09-28](https://user-images.githubusercontent.com/31753232/99041302-ab19d200-25b0-11eb-87db-c0959ca8a181.png)
![Screenshot from 2020-11-13 13-05-44](https://user-images.githubusercontent.com/31753232/99041456-f8963f00-25b0-11eb-824c-0cab16ef0ee0.png)

### Relev

[2020-11-13 11:28] Yashs911 commented on #4082
@bfalling I investigated a little and found out that all 168 broken ARIA reference is due to the generation of `aria-describedby="slick-slide817` on further investigation I found this [issue](https://github.com/kenwheeler/slick/issues/2020) and according to them we should remove `aria-describedby` generation.
https://github.com/kenwheeler/slick/issues/2020#issuecomment-223031944

[2020-11-13 11:40] Yashs911 commented on #4082
Adding `aria-label="Search input"` and `aria-label="(what should I write here)"` should solve missing form label

![label](https://user-images.githubusercontent.com/64412143/99068614-d7464a80-25d2-11eb-8073-1303e844fb7b.JPG)

[2020-11-13 12:02] Yashs911 commented on #4082
Regarding empty buttons, this is what I found

[2020-11-13 14:11] cclauss opened #4091 "Tracking issue: Top five most frequent issues in Sentry"
Reduce the clutter in Sentry by fixing the most frequent errors...
https://sentry.archive.org/sentry/ol-web/?query=runtime%3A%22CPython+3.8.6%22&sort=freq
* [ ] 834k times: openlibrary.core.lending ___compose_ia_url failed___ OL-WEB-3C
* [ ] 529k times: openlibrary.core.lending ___get_available() failed___ OL-WEB-3D
* [ ] 290k times: openlibrary.plugins.importapi.code ___BookImportError('no-marc-r

[2020-11-13 14:41] cclauss commented on #4090
Did this happen immediately after a reboot?  Or had the server been up for a while?

Do you get the same behaviour if you do `docker-compose down && PYENV_VERSION=3.8.6 docker-compose up`

[2020-11-13 14:57] seabelis commented on #2017
@mekarpeles Good point.
@SouthGoingZax Yes, the edition filter would also suit the purpose. Thank you.

[2020-11-13 15:29] SouthGoingZax commented on #2017
@mekarpeles do you have pointers to how that filtering works and how to add hidden, searchable fields?

[2020-11-13 16:48] codetochangeMinds commented on #4090
It happened after the server was up for a while. If I execute the above given command then I get different error and its not displaying even the home page.

    self.wsgi = self.app.wsgi()
  File "/home/openlibrary/.pyenv/versions/3.8.6/lib/python3.8/site-packages/gunicorn/app/base.py", line 67, in wsgi
    self.callable = self.load()
  File "scripts/openlibrary-server", line 82, in load
    load_

[2020-11-13 17:39] seabelis opened #4092 "Saving record with non-Latin characters in title throws Internal Server Error"
Fixed in #4131
Related to #3704

Saving record with non-Latin characters in title throws Internal Server Error as of 11/13/2020.
### Evidence / Screenshot (if possible)
<img width="765" alt="Screenshot 2020-11-13 at 18 34 07" src="https://user-images.githubusercontent.com/17739465/99102783-dd422880-25de-11eb-84b3-f95c44a9b32c.png">

### Relevant url?

1. Go to any edition
2. Edit title by adding n

[2020-11-13 18:44] mekarpeles opened #4093 "Test pip dependencies with --use-feature=2020-resolver"
Pip warns that end of October (which has passed) pip will change how dependencies are managed, possibly causing problems, and that we should test with ` --use-feature=2020-resolver`

[2020-11-13 22:39] bwright8 commented on #4027
I wonder if logging in as an admin would help, but I am also having the same issue as #4090

[2020-11-13 23:45] cdrini opened #4094 "Find a place for `ia configure` keys in docker-based ol-web1/2"
These keys are used as part of the sponsorship flow. They currently require running `ia configure` manually, and currently living in the ephemeral docker container. Let's add these to olsystem.

This is P1 since it will require a good deal of manual steps next time we do a deploy.

[2020-11-14 00:21] cdrini commented on #4085
Noticed this error (sensitive hidden), when I changed the error line from `logger.error` to `logger.exception`

[code]

[2020-11-14 00:25] cdrini opened #4096 "Cannot read memcached from /admin/inspect/memcache"
[code]

### Relevant url?
- e.g. https://openlibrary.org/admin/inspect/memcache?keys=home.homepage.en-&action=read&debug=true

### Steps to Reproduce
1. Log in to openlibrary prod or local as admin
2. Go to the home page (so that it gets added to cache)
3. Go to /admin/inspect/memcache?keys=home.homepage.en-&action=read&debug=true

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?**

[2020-11-14 00:26] cdrini commented on #4096
Note: Turns out this is a separate issue from: #4085

[2020-11-14 00:49] cdrini commented on #4085
Also noticed that neither Amazon or BWB are displaying prices on staging.openlibrary.org--but they are on dev! Are these APIs perhaps restricted to a set of IPs? And we need to add ol-web1/2 to those sets?

[2020-11-14 04:32] cclauss commented on #4085
Could you please make a PR for that change so that we no longer fail silently?

[2020-11-14 09:46] seabelis commented on #4092
Accented characters also an issue.

[2020-11-14 11:05] cclauss commented on #4092
All Unicode.  Emojis too🤪😟😢

[2020-11-14 18:26] cclauss commented on #4093
Duplicate of #4086 this is running in Travis CI: https://github.com/internetarchive/openlibrary/blob/master/.travis.yml#L45

[2020-11-14 18:26] #4093 closed

[2020-11-14 18:48] cclauss commented on #4085
#4097 fixes the TooManyRequestsException mentioned above and a `requests.content` (bytes) vs. `requests.text` (str) mixup but does not resolve this issue.

[2020-11-14 20:18] SouthGoingZax commented on #4090
I get the same thing now, which makes my local environment unusable.  The server has been up for a while, and it started happening after a ```git pull```.  I don't know what the usergroup normally is for local accounts, so I'm not sure if it's related to the beta-testers usergroup or not.  Is there some way outside of using the site to see or add usergroup members?  If so, I'd be happy to try that

[2020-11-15 09:59] cclauss commented on #4096
Clicking on that URL does not generate that TypeError.  How can we make this exception more discoverable?

[2020-11-15 10:00] #3782 closed

[2020-11-15 10:37] cclauss commented on #4092
[code]

[2020-11-15 18:53] mekarpeles opened #4100 "OL <-> IA sync broken on Production (admin)"
https://openlibrary.org/admin/sync?edition_id=OL19921327M&debug=true

[2020-11-15 20:11] mekarpeles commented on #4100
Not an issue, turns out the OCAID was old and after switching ocaid, it worked

[2020-11-15 20:11] #4100 closed

[2020-11-15 21:57] hornc commented on #1401
I believe I have imported all the available DOAB records into OL from https://archive.org/download/marc_oapen . Unfortunately the original source of these records is no longer active, so it isn't possible to get an accurate current version.

[2020-11-15 22:30] tfmorris commented on #1401
I don't understand the decision not to show the link. How is the user going to discover that this is a freely downloadable book without it?

The [FAQ](https://doabooks.org/doab?func=loadTemplate&template=faq&uiLanguage=en) says everything is available in MARCXML format using OAI. e.g. all Math books here: https://www.doabooks.org/oai?verb=ListRecords&set=Mathematics_and_Statistics&metadataPrefix=m

[2020-11-15 23:07] hornc commented on #2248
I have gone through and resolved all the data issues noted above, and performed the merges (some worked without any further changes, they must have been resolved elsewhere).

The exact errors for each merge are visible in the HTTP 400 result of merge.json which can be seen in a browser dev tools console e.g. :
[code]

These messages used to appear on the merge results page to at least point to the

[2020-11-16 08:41] seabelis commented on #2248
Thank you, @hornc .

[2020-11-16 10:31] hornc commented on #1401
@tfmorris I was getting the bulk data from the previous link above via  http://www.oapen.org/ , which looks outdated

I'll try to get the full set using OAI (requires many requests AFAICT). Looks like I can get it, but it needs processing to extract the MARCXML from the OAI response XML.

was a bug, fixed in some further imports by #3573

The records from the oai endpoint have links like:

[code]

[2020-11-16 15:18] cdrini commented on #4083
The same error is thrown here: https://openlibrary.org/search?q=9781948434065&debug=true

[2020-11-16 15:34] cdrini commented on #3983
This was done! https://openlibrary.org/explore

[2020-11-16 15:34] #3983 closed

[2020-11-16 15:39] cdrini commented on #4035
This looks like a false alarm; the error is inside jquery code, and correctly handled by jquery code. Unchecking "Pause on caught exceptions" should avoid the debugger breaking here :+1:

[2020-11-16 15:39] #4035 closed

[2020-11-16 15:44] cdrini commented on #4051
Updated description; this isn't a Python 3 specific issue

[2020-11-16 15:48] cclauss commented on #4051
Fixed in #4052

[2020-11-16 15:51] cdrini commented on #4085
Updated description with more examples. Note that the admin dashboard was fixed by initializing the ia tool on our web nodes; #4094 will fix that permanently.

[2020-11-16 15:54] cdrini commented on #4096
Clicking on this URL generates a type error for me:

![image](https://user-images.githubusercontent.com/6251786/99275866-01c61c80-27fa-11eb-9919-2e915d97a981.png)

It should generate the same error on local dev environment.

[2020-11-16 15:55] cdrini commented on #4096
Added reproduction steps

[2020-11-16 16:07] tfmorris commented on #1401
For the links, I'm judging by what I see at https://openlibrary.org/books/OL28324519M. Is there a link rendered someplace on that page that I'm missing?

The replacement for http://www.oapen.org/content/metadata
appears to be the links on https://www.oapen.org/resources/15635975-metadata

[2020-11-16 16:20] cdrini commented on #4096
Dropping in priority since only affects admins

[2020-11-16 16:22] cclauss commented on #4054
ol-covers1 (py2)% `du -hs  /1/var/lib/openlibrary/coverstore/localdisk/2020/10/10`
130M

ol-covers0 (py3)% `pwd`
/1/var/lib/openlibrary/coverstore/localdisk/2020/10

ol-covers0 (py3)% `sudo scp -r cclauss@ol-covers1.us.archive.org:/1/var/lib/openlibrary/coverstore/localdisk/2020/10/10 .`

ol-covers0 (py3)% `sudo chown -R openlibrary /1/var/lib/openlibrary`

[2020-11-16 16:40] cclauss commented on #4054
`docker-compose.yml`
[code]

[2020-11-16 16:41] cdrini commented on #4083
The fix to this should be near-identical to https://github.com/internetarchive/openlibrary/issues/4058

[2020-11-16 16:45] cclauss commented on #4054
[code]
`site` is None

[2020-11-16 16:50] seabelis opened #4101 "Duplicate and dangerously placed DELETE button on author edit form"
A duplicate DELETE button is on the author edit form. Additionally it is placed in a dangerous location just below the SAVE button and highlighted in orange.

### Evidence / Screenshot (if possible)
<img width="338" alt="Screenshot 2020-11-16 at 16 13 28" src="https://user-images.githubusercontent.com/17739465/99282408-ee37a780-2833-11eb-8190-130f9b8ba628.png">

### Relevant url?
https://openlibra

[2020-11-16 18:13] #4083 closed

[2020-11-16 19:33] klcarlton commented on #3399
I'm running into this issue as well. Fantastic project otherwise!
I'm a bit surprised this issue hasn't gotten more attention as it prevents what is fairly common api usage.

[2020-11-16 21:27] hornc commented on #1401
Thanks for those links @tfmorris , the MARC XML from https://www.oapen.org/resources/15635975-metadata has more records then I imported previously. Their links also are better described, here's an example: https://openlibrary.org/books/OL31366776M

[2020-11-16 21:34] #2248 closed

[2020-11-16 21:49] mekarpeles commented on #4094
Closed by olsystem https://github.com/internetarchive/olsystem/pull/99. Moved to ia.ini

Still need to figure out the mounting from olsystem to /openlibrary/.config/ia.ini

[2020-11-16 21:49] #4094 closed

[2020-11-16 21:50] mekarpeles commented on #4094
Perhaps `/olsystem/etc/ia.ini:/openlibrary/.configs/ia.ini`

[2020-11-16 22:07] cdrini commented on #4092
Reverted to Py2 on prod to fix this; dropping in priority accordingly.

[2020-11-16 22:09] cdrini commented on #4085
Reverted to py2 for now; dropping in priority

[2020-11-16 22:16] cclauss commented on #4094
Do we need access to these for both prod and staging?

[2020-11-16 23:03] cdrini commented on #4090
Yes, the beta-testers usergroup is the problem. It doesn't exist in local docker's DB. To fix it:

1) Find/Modify the code that looks for `/usergroup/beta-testers` to _not_ try to get that username (ctrl-shift-f or grep the codebase for `beta-testers`, and try to comment out the appropriate place)
2) Start docker, and log in as admin
3) Create the usergroup (go to localhost:8080/usergroup/beta-tes

[2020-11-16 23:05] cdrini commented on #4090
Would you be able to take a look at this, @SouthGoingZax ?

[2020-11-17 03:00] cdrini opened #4107 "ImportBot/Clean Up Bot sometimes edit usergroup/people pages"
It seems like ImportBot/Clean Up Bot sometimes match on a non-book page.

### Relevant url?

- https://openlibrary.org/usergroup/librarians?m=history
- https://openlibrary.org/people/horncBot?m=history
- https://openlibrary.org/books/OL26870818M/Wraith?_compare=Compare&b=5&a=4&m=diff
- https://openlibrary.org/type/edition?m=history

### Proposal & Constraints

### Related files

### Stakeholders
@

[2020-11-17 03:03] cdrini commented on #4107
From @hornc :

...

...

[2020-11-17 06:03] SouthGoingZax commented on #4090
Re: #1, here is a work-around (not sure if this changes the priority of the issue):

[code]

For step 5, it seems like I have to do that on ```db```, not ```home```, as I get a psql-related file not found error on home.

I have the dump, but my database is not really a model database at this point.  I corrupted authors on books on the frontpage to work on [a related PR](https://github.com/internet

[2020-11-17 06:41] SouthGoingZax commented on #1283
@mekarpeles how do you feel about these, in response to your [comment above](https://github.com/internetarchive/openlibrary/issues/1283#issuecomment-428419631)?

[open-library.ai.zip](https://github.com/internetarchive/openlibrary/files/5551675/open-library.ai.zip)
[open-library-black.ai.zip](https://github.com/internetarchive/openlibrary/files/5551676/open-library-black.ai.zip)

One has a black b

[2020-11-17 07:31] Yashs911 commented on #4012
Hi @jamesachamp Should I go ahead with the proposed changes

[2020-11-17 07:40] Yashs911 commented on #4063
@mekarpeles Should I go ahead and create a PR for both these minor issues

[2020-11-17 07:41] Yashs911 commented on #4047
@cdrini Can you guide me on how to fix this issue?

[2020-11-17 07:53] #3695 closed

[2020-11-17 07:53] Yashs911 commented on #3483
@cclauss Should I go ahead and remove other unused imports (Non-standard ones)

[2020-11-17 08:13] Yashs911 opened #4111 "Search: Boost Verified Results (e.g. Harry Potter)"
When I search "Harry Potter" according to me the first page should provide Harry Potter books. But instead, It shows other results that are not that relevant.
### Evidence / Screenshot (if possible)
![everything](https://user-images.githubusercontent.com/64412143/99363077-4e812480-28da-11eb-8374-088548b118ba.JPG)

![search](https://user-images.githubusercontent.com/64412143/99363210-7a040f00-28da-

[2020-11-17 08:56] cclauss commented on #3483
Sorry but not right now.  These changes create issues that are quite difficult to find.

Right now we are trying to upgrade to Python 3 and need to maximize stability to deal with [bytes vs. str](https://github.com/internetarchive/openlibrary/pulls?q=label%3A%22Python+3%3A+bytes+vs.+str%22) issues.

[2020-11-17 18:02] jamesachamp commented on #4012
Yes, go ahead.  To clarify, you'll be working on the buttons, covers, and category items?

[2020-11-17 18:24] cdrini commented on #4090
@SouthGoingZax that looks great so far!

[code]

[2020-11-17 19:11] cdrini opened #4115 "Make covers docker service scalable"
We currently have two `covers` instances running on our prod infra. In order to get the same effect using docker, we'll need to:

1) Change our docker-compose to `expose` instead of `ports`. This will be a bit of a pickle because on local we don't want to have an nginx load balancer. It might be time to create a `docker-compose.overrides.yml` for the local environments and make the main `docker-co

[2020-11-17 19:19] cclauss commented on #4085
Fixed by #4110

[2020-11-17 19:27] #4096 closed

[2020-11-17 19:43] cclauss opened #4116 "infobase on Python 3: module flup on Python 2 == flup-py3 on Python 3"
Fixed in #4117

https://pypi.org/project/flup only runs on legacy Python.
https://pypi.org/project/flup-py3 runs on Python 3 -- last updated Feb 9, 2018 <---  We are going to add this !!!
https://pypi.org/project/flup6 runs on Python 3 -- last updated 2015
https://pypi.org/project/flipflop last update 2014 and now archived
### Evidence / Screenshot (if possible)

infobase_1   | 2020-11-17 19:27:16

[2020-11-17 20:27] #4116 closed

[2020-11-17 22:03] #3231 closed

[2020-11-18 00:34] cdrini opened #4121 "Lists widget erroring and not rendering on non-author pages"
Seems possible related to https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-11-17

`/opt/openlibrary/deploys/openlibrary/bc485c1/openlibrary/templates/lists/widget.html: error in processing template: AttributeError: 'NoneType' object has no attribute 'key' (falling back to default template)`

Sentry:
### Evidence / Screenshot (if possible)
![image](https://user-images.githubu

[2020-11-18 00:42] cdrini opened #4122 "Some pages with unicode characters rendering but displaying error"
Appeared after https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-11-17

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/99467710-fa436800-290c-11eb-98b0-cd6cc19cb73f.png)

### Relevant url?
e.g. https://openlibrary.org/works/OL11565520W/H%C3%A9las?edition=
e.g. https://openlibrary.org/authors/OL6644297A/Christopher_McDougall

[2020-11-18 01:10] #4122 closed

[2020-11-18 06:29] Yashs911 commented on #4012
@jamesachamp Yes

[2020-11-18 06:30] mekarpeles commented on #3980
2020-11-17

Please be advised, ImportBot is actively processing BWB data for:
* 2020-08
* 2020-09
* 2020-10
* 2020-11

Monitoring as there could be performance implications of have 4 concurrent imports happening at once (especially if Archive.org daily ImportBot cron decides to run)

Now on books-lists we can run sudo bash /bwb-monthly/monthly.sh and it will automatically determine the month (e.g.

[2020-11-18 06:30] #3980 closed

[2020-11-18 06:31] mekarpeles commented on #3985
UI work still requires for community, but basic flow for MVP is in place :)

[2020-11-18 06:31] #3985 closed

[2020-11-18 06:58] mekarpeles commented on #3898
Hi @Yashs911 -- apologies, this code lives within the Archive.org's codebase (not Open Library) and so this has to be an issue which staff takes on.

It's currently my top priority and there's a merge request in progress internally:
https://git.archive.org/ia/petabox/-/merge_requests/2381

[2020-11-18 11:00] cclauss commented on #4121
Can not replicate this on my Mac.
![Screen Shot 2020-11-18 at 11 58 10](https://user-images.githubusercontent.com/3709715/99522250-b0eb2b00-2995-11eb-97e8-4d77ce4dae2e.png)

[2020-11-18 15:52] cclauss opened #4124 "`docker stack deploy openlibrary` for local testing"
I am frustrated that there are so many commands to type in the correct order to set up a local test environment.

### Describe the problem that you'd like solved

Reduce the complexity of error-prone commands and build steps that may or may not be needed.

### Proposal & Constraints

[code]
Currently fails with `failed to find a Stack API version`

Should run a OL staging instance on Docker Deskto

[2020-11-18 21:53] hornc commented on #4091
@cclauss what does the check mark against  OL-WEB-3F signify? Those two book import errors look ok to me, the exceptions are being raised, and handled, to be passed back to what ever client made the request to indicate that the import could not be completed for the reason stated, by design.

[2020-11-19 15:40] #3830 closed

[2020-11-19 15:40] #4053 closed

[2020-11-19 15:56] cclauss commented on #4092
https://sentry.archive.org/sentry/ol-web/issues/10505/?environment=staging

[2020-11-19 16:20] #2241 closed

[2020-11-19 17:25] #4058 closed

[2020-11-19 17:26] cclauss commented on #4058
The two unchecked questions should not matter for infobase.

[2020-11-19 18:57] cdrini opened #4130 "Add nginx for infobase"
Subtask of: #4059
Fixed in #4140 ?

Infobase on production (for debatable reasons) uses FastCGI, which requires nginx. We'll need a copy of nginx running for infobase on our new ol-home0.

- [ ] Add an `infobase_nginx` service to `docker-compose.production.yml` that uses the same version of nginx that is on `ol-home1`, but from dockerhub. Should have `depends_on: infobase`.
- [ ] Mount the nginx c

[2020-11-20 00:57] #1845 closed

[2020-11-20 16:01] cclauss commented on #4017
Please review https://github.com/internetarchive/openlibrary/wiki/Deployment-Guide-on-Python-3 which is an updated version of https://github.com/internetarchive/openlibrary/wiki/Deployment-Guide.  Once we are satisfied with this we can switch it over to replace the existing guide.

[2020-11-20 17:51] LeadSongDog opened #4133 "Merger Workflow: Merging author records should somehow queue up their work records for merger"
Whenever I merge records for an author, there are usually quite a few redundant work records that in turn need to be merged. Whilst some of these are tricky to identify (e.g. translations), the majority are straightforward, with the same author and title.

### Describe the problem that you'd like solved

Spitballing, something like this, perhaps:
1. After records for an author have been merged, au

[2020-11-20 18:00] #3720 closed

[2020-11-20 21:40] #3704 closed

[2020-11-20 21:40] #4092 closed

[2020-11-20 23:53] SouthGoingZax commented on #1668
Is there still a desire to create a trusted user class?  Would that just be creating a new "trusted-user" usergroup, adding an is_librarian()-like check for it, and then adding the check into the revert permission check (and whatever else these users would be trusted to do)?

[2020-11-21 01:41] SouthGoingZax commented on #448
I'm unsure what it looked like when the issue was filed., but is the edition search that exists now good enough here?  Following the example link, clicking on the one returned work, and searching for "Qi er Tangmu Qiongsi de li shi" in the edition table search field results in a single edition in the table.

[2020-11-21 02:37] SouthGoingZax commented on #1846
Instructions for updating the dev database can be found [here](https://github.com/internetarchive/openlibrary/issues/4090#issuecomment-728382622).  Is there a set of specific things people think should be added at this point?

[2020-11-21 08:59] seabelis commented on #448
@SouthGoingZax The edition table search is a big help with this issue and did not exist at the time the issue was created. Personally, I consider this solved.

[2020-11-21 18:21] tfmorris commented on #448
As I mentioned in my March 2018 comment, if the results don't correlate with the search phrase the user is going to be lost. If they just take a chance and click on the sole search result, they're shown a 1900 English edition, followed by 25 English and French editions. How in the world is that relevant to what they searched for? How are they supposed to know that they need to retype their query i

[2020-11-21 19:11] SouthGoingZax commented on #448
Can someone elaborate on how this is different than #2064?  Is this issue about the behavior of the work page after arriving from the search page, and #2064 is about the behavior of the search page?

[2020-11-21 19:19] SouthGoingZax opened #4136 "Requests to /recentchanges/new-account often time out"
#2640 mentions adding links to /recentchanges/new-account, but requests to that endpoint take a long time to return and often timeout

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/72705998/99885192-0c145c00-2be8-11eb-9295-4399bc602c7e.png)

Here's a [profile](https://gist.github.com/SouthGoingZax/099cc948f4656c7c6d2e704e1273821a) of a request that took

[2020-11-21 19:20] SouthGoingZax commented on #4136
Marked as P3 because I don't think that endpoint is linked to from anywhere yet.

[2020-11-21 19:46] SouthGoingZax commented on #2640
@BrittanyBunk I sent #4137 to add a link to recent book edits, but I didn't add a link to new accounts because of #4136.  My experience with /recentchanges is that it's usually flooded with new account creations, so I don't think there's a lack of visibility there.  Given that, I'd be fine closing this issue once/if the referenced PR is merged.  What do you think?

[2020-11-21 19:57] SouthGoingZax opened #4138 "Admin spamwords functionality should support regular expressions"
The admin [spamwords functionality supports string matching](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/upstream/spamcheck.py#L45) but not full regular expressions.  There are OL spam detection efforts external to this repository that utilize regular expressions, and it would be nice for all the OL spam detection options to have consistent functionality in this

[2020-11-21 23:24] tfmorris commented on #448
The "correct" solution is to fix search/Solr, but that's been a work in progress for years and shows no sign over ever implementing even basic features like diacritic folded searches let alone searching an entirely new entity type.

Given that the work page shows the "best" edition, one short term solution would be to fix the algorithm so that it takes into account what's best for the OpenLibrary

[2020-11-22 10:11] cclauss commented on #4138
If we are going to do this, can we maintain two _separate_ lists?  `spam_words` should continue to be words that do not contain regexes and do not use the `re` module.  `spam_regexes` would be a new separate list of regexes that are processed using the `re`. module.  The latter will require a strong set of tests.

[2020-11-22 16:49] #4054 closed

[2020-11-22 19:09] #1619 closed

[2020-11-22 19:46] mekarpeles opened #4141 "Automatically link completed sponsored books on IA to their OL records."
@JeffKaplan hits this frequently where patrons aren't aware their books are complete. Ideally, we could use their civi information to alert them when they're done. At minimum, upon repub state completion, once a day we should sync OL with completed IA sponsored items. We could do this in the existing importbot flow.

[2020-11-23 15:16] cclauss commented on #890
Time to close this one!  Thanks to everyone for helping to get us to Python 3!!

[2020-11-23 15:16] #890 closed

[2020-11-23 15:18] cclauss commented on #3333
Time to close this one! Thanks to everyone for helping to get us to Python 3!!

[2020-11-23 15:18] #3333 closed

[2020-11-23 19:49] BrittanyBunk commented on #2640
@SouthGoingZax hey, the fact that you're moving this forward means a lot. I kind of agree that we wouldn't really need a /newaccounts tab, but hey, separation never hurts (unless it's too much effort)! Hope that helps.

[2020-11-23 21:52] SouthGoingZax commented on #2640
It's a one-line change to link to /recentchanges/new-account.  Given that it often times out (#4136), I thought it might not make sense to link to it yet.

[2020-11-24 01:21] #4115 closed

[2020-11-24 01:55] #163 closed

[2020-11-24 02:34] #4090 closed

[2020-11-24 02:43] cdrini commented on #4061
Re-opening; only the config files were added here. As discussed on slack, we want to add the sentry init code to `scripts/infobase-server`. That will let use very easily deploy sentry-support to both old/new servers, and monitor for changes.

[2020-11-24 03:02] cdrini commented on #290
This is the code that /search.json uses:

https://github.com/internetarchive/openlibrary/blob/22d73ee2ec9b4ac3940c225d8a89ef3fb5ceec71/openlibrary/plugins/worksearch/code.py#L945-L977

And this the code /search uses:

https://github.com/internetarchive/openlibrary/blob/22d73ee2ec9b4ac3940c225d8a89ef3fb5ceec71/openlibrary/plugins/worksearch/code.py#L592-L634

These are almost entirely different cod

[2020-11-24 03:44] SouthGoingZax commented on #3911
@perryjr You can import production data into your local dev environment using the instructions [here](https://github.com/internetarchive/openlibrary/wiki/Getting-Started#importing-test-data).  I've confirmed that importing /books/OL18689372M lets you reproduce the issue locally.  You can then add ```?debug=true``` to the URL to get a stacktrace.

In the future, if you find that you need to make ch

[2020-11-24 04:26] SouthGoingZax commented on #3421
Would people be happy displaying non-empty date fields in the edit form if the other two date fields are empty, like:

[code]

With just a date field:
![image](https://user-images.githubusercontent.com/72705998/100048168-1477bd00-2dc9-11eb-9e8b-793a2c47bf44.png)

And not displaying the date field if one of the other fields is there:
![image](https://user-images.githubusercontent.com/72705998/10004

[2020-11-24 04:34] SouthGoingZax commented on #4121
I also cannot replicate it.

[2020-11-24 13:40] perryjr commented on #3911
@SouthGoingZax I don't know how I missed that wiki area, thank you.  Your assistance is extremely helpful while I get more comfortable with the architecture and codebase.  Trying to access the db while inside the web container ... HAH!  Thanks again!

[2020-11-24 20:45] SouthGoingZax commented on #1668
Discussed on a community call, and it seems like this can be closed.  There is a trusted-user tag, already, which could potentially be leveraged if we have more places we want to use it.  But revert functionality has already been restored, and it is only enabled for librarians and admins.

[2020-11-24 20:45] #1668 closed

[2020-11-24 20:45] seabelis opened #4151 "Fix BWB Importbot Low Quality records"
Importbot is importing low-quality records from unspecified source. Titles are public domain reprints (possibly print on demand) with keyword-stuffed titles.

### Evidence / Screenshot (if possible)
<img width="858" alt="Screenshot 2020-11-24 at 21 31 56" src="https://user-images.githubusercontent.com/17739465/100149057-e87a3b80-2e9d-11eb-9291-b49854aa65b7.png">

Example: https://openlibrary.org/s

[2020-11-24 21:15] LeadSongDog commented on #4151
Seems like a variation on #4065. Importbot needs to gain some credible tests on the truthiness of source records. I'd look for at least one major library catalog or at least two competing booksellers. The leading digits of the ISBN should map to a real publisher: just search to see if e.g. 97801234* includes the publisher asserted in the record.

[2020-11-24 21:38] SouthGoingZax commented on #3911
No problem =)  However, it looks like this is fixed by #4052 (the fix is on the dev server, which you can confirm by going to https://dev.openlibrary.org/books/OL18689372M/Tangled_roots).  This issue also looks like a dupe of #4051, so I'll go ahead and close this issue.

[2020-11-24 21:38] #3911 closed

[2020-11-24 22:05] SouthGoingZax opened #4152 "Have OL requests return before nginx returns a 504 to the client"
Occasionally there are requests that consistently take a long time to return (e.g., #3896, #4136).  nginx has a 60 second timeout, at which point an HTTP 504 is returned to the user by nginx.  This prevents the use of standard OL troubleshooting URL parameters like debug=true and _profile=true.

### Describe the problem that you'd like solved

It would be nice if OL returned a response before ngin

[2020-11-25 07:30] #4089 closed

[2020-11-25 13:52] LeadSongDog commented on #4151
It’s more blatantly obvious than I thought. Many seem to be showing up in https://openlibrary.org/publishers/Independently_Published apparently with author given as one of many crap publishers

[2020-11-25 14:09] LeadSongDog commented on #4151
Could someone please pause ImportBot until this is addressed? It is still doing it.

[2020-11-25 15:59] cclauss opened #4160 "Python 3: Coverstore does not have proper file access to write images"
### Evidence / Screenshot (if possible)
https://sentry.archive.org/sentry/ol-covers/issues/11167

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2020-11-25 17:34] cclauss opened #4162 "FutureWarning on xml.etree.ElementTree.Element.findall("//item")"
On both Python 2 and 3 [xml.etree.ElementTree.Element.findall("//item")](https://docs.python.org/3.9/library/xml.etree.elementtree.html#xml.etree.ElementTree.Element.findall) is raising `FutureWarning: This search is broken in 1.3 and earlier, and will be fixed in a future version.  If you rely on the current behaviour, change it to './/item'` on [`openlibrary/plugins/upstream/utils.py#L744`](http

[2020-11-25 18:21] cdrini opened #4163 "High registrations resulting in verification email backlog"
Get report from @abezella that verification emails are backlogged as a result of high registration numbers from openlibrary. We think this is related to spam. We're hoping #4075 will help, but will need a bit of time for it to have an impact (it was deployed 2020-11-17), since the spam is specifically for increasing SEO of various misc websites.

### Stakeholders
@abezella @SouthGoingZax @mekarpel

[2020-11-25 21:24] mekarpeles commented on #4138
We only have ~50 spam words right now, most don't have complex rules (some contain e.g. periods). I think it does make sense to just make this whole spamwords list regex. There are risks, but at the same time, @hornc + @cdrini's bots both leverage regex and incorporating those into the system seem to have high value. Maintaining two fields seems like eng. overhead, especially when regex will just

[2020-11-25 21:45] mekarpeles commented on #1846
Let's close this because we do have docs (i.e. a solution exists) to get new data into one's test instance. Here are the docs:

https://github.com/internetarchive/openlibrary/wiki/Getting-Started#importing-test-data

https://github.com/internetarchive/openlibrary/blob/0d992241c5c37b40b131b2424e82722d16fedcad/scripts/copydocs.py

[2020-11-25 21:45] #1846 closed

[2020-11-26 01:20] mekarpeles opened #4166 "Followup hotfix for 4161"
This should be `(covers[0] or -1)`; if it is `[None]` we should treat it as no covers; `None >= 0` is False in py2.

_Originally posted by @cdrini in https://github.com/internetarchive/openlibrary/pull/4161#r530697263_

[2020-11-26 01:29] cdrini opened #4167 "Possible delete openlibrary/macros/RecentPageList.html"
This file looks unused.

- [ ] Confirm no occurrences of `RecentPageList` in the repo
- [ ] Delete the file
- [ ] Delete any CSS/JS related to this file

## Stakeholders
@ArunTeltia

[2020-11-26 01:42] cdrini opened #4169 "Delete openlibrary/templates/admin/inspect/{thing,tasks}.html"
These are dead code and no longer used. They were introduced in https://github.com/internetarchive/openlibrary/commit/1996f2733b0d0ea21ddba37b0ea2438e63ae9b21 , but their python code was removed at some point, but these templates were left behind.

- [x] Confirm they're not used anywhere
- [ ] Remove the two files in question

### Stakeholders
@ArunTeltia

[2020-11-26 02:21] SouthGoingZax opened #4171 "Extend admin spam checking functionality to people profile pages"
People profile pages are a common home for spam on OL.  Spam has numerous downsides, including damaged patron trust and potentially directing our patrons to malicious sites.

### Describe the problem that you'd like solved

OL admins should have the ability to prevent spam from being added to people profiles like they do for other areas of OL.

### Proposal & Constraints

The existing spam checkin

[2020-11-26 04:10] SouthGoingZax commented on #3421
@mekarpeles thinks we can just make it editable if it isn't empty, regardless of the state of the other two date-related fields, and not show it if it is empty.  We can also add some text next to it to tell people we're trying to migrate away from it and how they can help.

[2020-11-26 04:50] cclauss commented on #4166
Fixed in #4168

[2020-11-26 04:50] #4166 closed

[2020-11-26 05:05] cclauss commented on #2798
Reopening.  The trigger at https://github.com/internetarchive/openlibrary/pull/4153#issue-527298858 closed this issue but I do not believe this issue is completely resolved.

[2020-11-26 05:30] Yashs911 commented on #4169
@cdrini @ArunTeltia I would like to work on this issue.

[2020-11-26 05:38] Yashs911 commented on #4167
@cdrini I would like to work on this. How can I no occurrences of `RecentPageList` in the repo?

[2020-11-26 05:56] Yashs911 commented on #4167
I guess we can delete this file
![recent](https://user-images.githubusercontent.com/64412143/100313173-06e55180-2fda-11eb-848b-9533b68619ef.JPG)

![re](https://user-images.githubusercontent.com/64412143/100313137-f8973580-2fd9-11eb-90ed-56b44c06b3df.JPG)

[2020-11-26 09:11] cclauss opened #4174 "Can we eliminate `page.v2`? Aren't all pages v2 now?"
### Question

Can we eliminate [`page.v2`](https://github.com/internetarchive/openlibrary/search?q=%22page.v2%22)?  [_Aren't all pages v2 now?_](https://github.com/internetarchive/openlibrary/pull/4142#pullrequestreview-536112290)

If so, it would be helpful to remove this complexity distributed throughout our code.

### Additional context

### Stakeholders

[2020-11-26 10:20] ArunTeltia commented on #2798
This issue has a lot of things that need to be manually checked and I am currently looking for it right now

[2020-11-26 10:42] cclauss commented on #3399
@jamesachamp Could you please take a look?

[2020-11-26 15:36] jamesachamp commented on #3399
@cclauss Sure, I'll work on this over the weekend.

[2020-11-26 18:14] #4061 closed

[2020-11-26 18:56] jdlrobson commented on #4174
Yes we can.

[2020-11-26 19:29] #4130 closed

[2020-11-26 20:00] #4169 closed

[2020-11-26 20:09] #4174 closed

[2020-11-26 20:39] LeadSongDog commented on #4101
Seemingly the upper Delete button is nonfunctional, at least on mobile.

[2020-11-26 22:39] LeadSongDog commented on #3826
The (https://openlibrary.org/contact?path=/ contact form) already asks for the submitter's email. Why not just autoreply at that address to verify it is a valid one? That would be way less intrusive than telling the user they must drop all their defenses.

[2020-11-26 23:46] cdrini opened #4182 "Add json-ld to work/books pages"
json-ld let's us represent things which we simply can't with inline microdoata (like a ReadAction: https://developers.google.com/search/docs/data-types/book#readaction-potentialaction ).

### Describe the problem that you'd like solved
Here's an example of what we should add to this book: https://openlibrary.org/books/OL9875731M/Dark_heritage

[code]

### Proposal & Constraints

### Additional con

[2020-11-27 19:39] cdrini commented on #3724
Agreed; I do think we have a perf issue related to how lists are loaded on the profile page, but this issues seems closed :+1:

[2020-11-27 19:39] #3724 closed

[2020-11-27 22:02] LeadSongDog commented on #448
At present the everything search for "Qi er Tangmu Qiongsi de li shi" finds OL45636W and shows OL7026657M as the first choice, which is clearly not correct. Only by a second search (for the specific edition of the work) is the intended OL19166668M shown.

[2020-11-28 19:19] #2853 closed

[2020-11-30 03:53] hornc opened #4185 "MARC import, new org type author from 710 doesn't seem to work"
### Evidence / Screenshot (if possible)
https://openlibrary.org/authors/OL8922055A.json
was created from the following MARC record: https://openlibrary.org/show-records/marc_loc_2016/BooksAll.2016.part27.utf8:186046004:1709

and the code here https://github.com/internetarchive/openlibrary/blob/e1993ef1a6a56e4cd157e518faa4f941f9676fc0/openlibrary/catalog/marc/parse.py#L443  should have picked up th

[2020-11-30 04:54] jamesachamp commented on #3399
Open Library redirects API calls with key `isbn` and calls for large images to Internet Archive.  While it is fairly trivial to add the `Access-Control-Allow-Origin` header to Open Library responses, I'm not sure how difficult it would be to do so on Internet Archive's side.
Discussion and coordination will be necessary in order for this change to be applied for requests to the covers API.  In the

[2020-11-30 05:12] SouthGoingZax commented on #4063
@Yashs911 feel free to send a PR and ask @jamesachamp for a review

[2020-11-30 22:24] cdrini opened #4191 "Dockerfile openlibrary user should have fixed UID/GID"
Our olbase Dockerfile creates an `openlibrary` user and group. These are assigned a new ID automatically by the container's OS. However this ID can conflict with users that exist on the host OS, creating potential security holes (I think?). Let's pick a UID/GID and specify it when creating the users in the container, and also let's do the same on the host machines in our provisioning scripts. (Whi

[2020-12-01 16:30] Yashs911 opened #4199 "Category count missing"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/64412143/100768012-6ac7aa00-3420-11eb-9023-cb92246d73ca.png)

### Relevant url?

https://openlibrary.org/
### Steps to Reproduce

1. Go to https://openlibrary.org/

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** Chrome
- **Operating system?** Windows 10
- **Environment (prod/dev/local)?**

[2020-12-01 16:44] #4199 closed

[2020-12-01 17:41] Yashs911 opened #4200 "Clicking on hamburger icon on mobile unintuitively doesn't close menu when its open"
1. Open https://openlibrary.org/
2. Open Developer console and toggle to Mobile View.
3. Click on the "3-lines button" to open the menu.
4. Click it again to close it.

* Actual: Step 4 doesn't do anything.
* Expected: Step 4 should close the menu.
Comments: Clicking outside the box closes the menu.
### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** Chrome
- **Operating system?** Wi

[2020-12-01 18:06] mekarpeles opened #4201 "Can multiple Infobase-servers be safely run simultaneously? (race-conditions?)"
### Question

scripts/infobase-server appears physically able be run multiple times... But is it dangerous to do so?

cc: @anandology, @gdamdam, @hornc, @EdwardBetts

### Additional context

We're migrating from one server to another and want to know if we can run 2 simultaneous infobase instances for transition or whether downtime is a hard requirement (because 2 instances will cause race conditi

[2020-12-01 18:07] bpmcneilly opened #4202 "Open Library Accessibility Review & Implementation"
#### Project Outline
- Establish scope & Baseline
  - Identify all unique templates on the frontend
  - Discuss where the priority lies in terms of auditing & delivering results
  - Investigate previous efforts to increase accessibility (e.g. #4082)
  - Identify what we will be testing with (e.g. AT & versions / browsers)
- Conduct Testing
  - Manual & automated testing
  - Test against scope outl

[2020-12-01 18:17] mekarpeles opened #4203 "Update olsystem ol-covers1 → ol-covers0 (all mentions)"
Before we can decomission ol-covers1, we need to make sure:

- [x] #4206 coverstore golive mods
- [x] all necessary data is moved from `/1` covers1 -> covers0
- [ ] internetarchive/olsystem#104 all scripts/mentions in olsystem either use covers.openlibrary.org or ol-covers0 (and not ol-covers1); especially olsystem cron jobs living on ol-home
- [ ] #4197 Preserve exception info in covers.upload2

[2020-12-01 18:25] anandology commented on #4201
I think it should be fine. Infobase-server has a layered cache. One is request-local, so that gets cleared at the end of each request and the global cache is configurable. The current setting of OL used memcached for global cache, so there shouldn't be any issues of race conditions or stale cache.

(The infobase config is at`etc/infobase.yml` in olsystem repo)

@mekarpeles

[2020-12-01 22:10] cclauss opened #4204 "Roman numbers are not valid for number_of_pages"
### Question

Can we parse this data into valid `number_of_pages` (int) for the following books?

The data for `number_of_pages` for the first book is coming through as `XXII, 516`.  Python does not like that...
[ValueError infogami.infobase.common in parse_data](https://sentry.archive.org/sentry/ol-infobase/issues/11358)
errorinvalid literal for int() with base 10: ''
[code]
Does this book have 5

[2020-12-01 23:04] hornc commented on #4204
@cclauss `number_of_pages` should be a number / integer: https://github.com/internetarchive/openlibrary-client/blob/master/olclient/schemata/edition.schema.json#L91

Those strings with roman numerals look like they would be valid in the `pagination` field, which is a string https://www.w3.org/2001/sw/wiki/Library_terminology_informally_explained#pagination

[2020-12-01 23:39] #4059 closed

[2020-12-02 07:08] cclauss commented on #4204
Thanks for the pointers Charles.  We think that we know which bot is creating these records so we will try to implement a fix.

[2020-12-02 08:54] seabelis commented on #4204
@cclauss There are two fields on the form, one is for page count ('How many pages?') and that is strictly integers. The other is that pagination and this field is unrestricted to allow for roman numerals, volume count, maps, etc.

[2020-12-02 09:37] seabelis commented on #2654
Closing for now. In the future there may be a better place for this.

[2020-12-02 09:37] #2654 closed

[2020-12-02 09:38] seabelis commented on #2542
It is fine to enter the full copyright statement in the copyright field.

[2020-12-02 09:38] #2542 closed

[2020-12-02 17:53] cdrini opened #4207 "Travis no longer running"
Travis switched their pricing plan on Nov. 2, and we ran out of their trial 10k credits on Nov. 24th :( ~Everyone needs to be _VERY CAREFUL_ when merging PRs, since the Travis checks are no longer running.~

IA paid for a month of Travis so we're good for now, and in talks to determine if we qualify for their OSS credits, as well as looking into GitHub Actions as an alternative.

https://blog.trav

[2020-12-02 17:53] cdrini commented on #4207
I sent them a support email asking for OSS credits just now; looking online, it seems like it takes ~1w for them to respond?

[2020-12-02 19:44] #4138 closed

[2020-12-02 19:45] #4171 closed

[2020-12-02 20:29] LeadSongDog commented on #4204
@seabelis To be fair, we've never been entirely consistent about this (please pay no attention to the small minds' bugaboos). Should a pagination of "xxii, 550" be accompanied by an integer page count of 550, or more correctly 572?

[2020-12-03 00:00] mekarpeles commented on #4201
Thanks @anandology -- we were wondering if there could be a case where some state file was used or two records are edited at the same time, but it seems like this may not be a problem. Good to know we may be able to run multiple infobase servers or workers to scale, should we need to.

In any event, during our migration we were able to start 2 infobase servers without a problem. We were just excee

[2020-12-03 00:00] #4201 closed

[2020-12-03 00:21] mekarpeles commented on #2785
cc: @Sabreen-Parveen if you'd like to try this issue and ask questions

The issue occurs here:
https://openlibrary.org/authors/OL6784512A/Toni_Morrison -- when you **log in** and then hover over the author image and click "Manage Author Photos" it pulls up a modal (popup) which contains a link: "Cover Guidelines".

This popup calls an iframe and loads it with this page:
https://openlibrary.org/aut

[2020-12-03 00:24] mekarpeles commented on #2785
@seabelis it may make even more sense for us to just change "Cover Guidelines" to "Image Guidelines" and then add a small section to the existing FAQ for authors.

I don't think there's really anything wrong with leaving it Cover Guidelines, personally :P
I think completely removing the link from the Authors image manager would be the worst of the options.

@seabelis do you have a proposal for @Sa

[2020-12-03 05:29] SouthGoingZax opened #4209 "Intermittent "too many clients" error"
Visiting https://openlibrary.org/works/OL14902983W/Abrasives?edition= yielded:

/openlibrary/openlibrary/templates/lists/widget.html: error in processing template: OperationalError: FATAL: sorry, too many clients already FATAL: sorry, too many clients already (falling back to default template)
/openlibrary/openlibrary/templates/type/work/view.html: error in processing template: OperationalError: F

[2020-12-03 05:42] cclauss commented on #4209
Please test this hypothesis... Reloading multiple times will get some success and some failure.

[2020-12-03 08:40] cclauss commented on #3992
It would be of interest to use one of these servers (`ol-web3`) as a testing ground for `staging.vNext` which will be based on [`k3d`](https://k3d.io/) and [`k3s`](https://k3s.io).  This would provide a fast self-contained single-node Kubernetes cluster for implementing declarative configuration of our staging environment.

This cluster would manage one `memcached` container and two `openlibrary_w

[2020-12-03 12:14] BrittanyBunk commented on #2785
good idea - I like 'image guidelines' better - there it could be separated based on which image. "Cover" doesn't make sense for authors, as people may accidentally add in cover images instead of author faces.

[2020-12-03 15:49] SouthGoingZax commented on #4209
I did test this by reloading several page many times before reporting the issue, and in every case, I was able to repeat it in less than 10 reloads.

Response from @mekarpeles on Slack:  "ol-web[3,4] were still alive (meaning they likely had close to 100 dormant db connections or were polluting cache)".

I haven't been able to reproduce this since then, so I'll close this.

[2020-12-03 15:49] #4209 closed

[2020-12-03 17:06] seabelis commented on #4204
@LeadSongDog Probably, yes. But in all honesty I pay more attention to the string field as I find it more helpful. I don't always complete the integer field.

[2020-12-03 17:11] seabelis commented on #2785
@mekarpeles No objection to a change in wording. There are no specific guidelines for author images, however. There are issues with people changing covers to editions other than what is specified on the record, but I've really not seen people change author photos to other authors.

[2020-12-03 17:28] cclauss opened #4212 "save_many aka HTTPError: 400 Client Error when using OL-Client"
Related to #4285

@seabelis reported via Slack...

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to Colab.
2. Do ...

[code]

Run

Then

[code]

save_set = [<class 'olclient.openlibrary.OpenLibrary.Edition.<locals>.Edition' {'_work': None, 'work_olid': 'OL1168059W', 'olid': 'OL7362672M', 'description': None, 'notes': None, 'identifiers': {'librarything':

[2020-12-03 17:40] seabelis commented on #4212
Issue started 2020-03-12 following Python 3 upgrade.

[2020-12-04 01:24] tfmorris commented on #4204
The pagination field makes no sense to a computer, so you'll never be able to sort by length, etc without the `number_of_pages` field. I would expect "XXII, 516" to result in a number of pages value of either 538 or perhaps a slightly higher number equivalent to 2 x # of leaves.

As an integer field, it should never be equal to "". I would expect that an unknown value would be encoded by the field

[2020-12-04 18:28] mekarpeles commented on #3898
This code is finished on Archive.org side (live at https://archive.org/services/availability?identifier=massachusettsbea00wall) and the Open Library side is in CR @ #4214

[2020-12-04 18:28] #3898 closed

[2020-12-04 19:18] ofefo opened #4216 "Unable to import csv generated by Goodreads"
When trying to import my library with the generated .csv file from Goodreads, I receive an internal error.

[code]

https://openlibrary.org/account/import/goodreads

- **Logged in (Y/N)?** yes
- **Browser type/version?** Mozilla Firefox 83.0
- **Operating system?** GNU/Linux
- **Environment (prod/dev/local)?** prod

[2020-12-04 21:43] BrittanyBunk opened #4217 "Works don't combine in search"
after combining multiple works together, they still appear together in the search results:
![image](https://user-images.githubusercontent.com/55302685/101217707-ab007580-3636-11eb-852d-64cb87809a3e.png)

[2020-12-04 22:16] BrittanyBunk opened #4218 "Import books from eBay"
Problem:
lots of books on eBay are not in the Open Library

Solution:
create a bot to sweep book info off of ebay's website

Constraints:
Lack of partnership with them

[2020-12-05 09:09] Sabreen-Parveen commented on #3395
@seabelis Is someone working on this issue? If not I would like to work on it..

[2020-12-05 10:00] codetochangeMinds commented on #3395
@Sabreen-Parveen I think its already resolved. You can see the linked pull request just above your comment.

[2020-12-05 12:52] Sabreen-Parveen commented on #3395
Actually, the pull request has not been merged so, I thought so.

[2020-12-05 23:39] cdrini opened #4220 "Open Library Amazon API usage exceeding limit"
Dup of #3967

Received email from Amazon API:

## Stakeholders
@mekarpeles @bfalling

[2020-12-06 00:09] mekarpeles commented on #4220
I temporarily disabled Amazon calls on ol-web[1,2] & ol-dev1 to reduce traffic. It's still running on ol-dev0.

I also emailed Amazon w/ the info above and will await their reply.

Next steps: (can now wait until this week)
* I think we should consider making prices lazy load (like Related Books Carousels) cc: @tabshaikh, @jamesachamp
* We might consider moving amazon fetch code into a single serv

[2020-12-06 08:56] cclauss commented on #135
Has this been resolved with our Python 3 changes or can someone provide steps-to-reproduce on Python 3?

[2020-12-06 10:54] Kartik1397 commented on #4200
This bug is not only with hamburger but with all dopdown-menu which uses hover event.

[2020-12-06 13:18] cclauss commented on #4017
https://github.com/internetarchive/openlibrary/wiki/Deployment-Guide is now the Python 3 instructions and the Python 2 instructions are still available at https://github.com/internetarchive/openlibrary/wiki/Deployment-Guide-for-Python2.

[2020-12-06 13:18] #4017 closed

[2020-12-06 13:19] cclauss commented on #3993
Fixed at https://github.com/internetarchive/openlibrary/wiki/Deployment-Guide

[2020-12-06 13:19] #3993 closed

[2020-12-06 17:16] LeadSongDog commented on #135
Well https://openlibrary.org/books/OL12903648M/Etudes_Conomiques_De_L'Ocde certainly isn’t fixed, but perhaps we’re done with digging the hole...
There were at least three problem classes:
1. Bad import of good data
2. Literal import of bad data
3. Bad data in place from old cases of 1 or 2 since remedied.
The move to py3 will at most fix number 1.

[2020-12-06 17:24] cclauss commented on #135
Steps-to-reproduce problem class 1?

[2020-12-06 19:29] cclauss commented on #3252
I was able to add and delete and edition with no issues.

[2020-12-06 19:29] #3252 closed

[2020-12-06 19:30] tfmorris commented on #135
The earlier examples are better than the most recent one which is an import from crappy Amazon data (which we should **not** be imported).
https://openlibrary.org/books/OL7165183M/The_Vikramorva%C2%A9%C3%98s%C2%A9%C4%90iyam
https://openlibrary.org/authors/OL4459814A/Heinrich_Schro_der
https://openlibrary.org/books/OL13956174M/Tonbandgera_te-Messpraxis
https://openlibrary.org/books/OL26280693M/Seco

[2020-12-06 19:55] tfmorris opened #4223 "Search for title:©♭ broken - returns all 23.4M works"
This search https://openlibrary.org/search?mode=everything&q=title%3A+%22%C2%A9%E2%99%AD%22
returns 23 426 379 results, which is clearly too many.

### Evidence / Screenshot (if possible)

### Relevant url?

see above

### Steps to Reproduce

1. Go to ... the url above or
2. Do ... the typing of the characters in the search box

* Actual: all works are returned
* Expected: only results with the gi

[2020-12-06 20:00] tfmorris opened #4224 ""Unable to render this page" - https://openlibrary.org/books/OL11562694M"
I'm not sure if this got broken by the large garish ad that takes up the majority of the screen or something else.

### Evidence / Screenshot (if possible)
![Screen Shot 2020-12-06 at 2 56 22 PM](https://user-images.githubusercontent.com/82178/101290982-7d9cfe80-37d3-11eb-93f1-44e6f29b736a.png)

### Relevant url?

https://openlibrary.org/books/OL11562694M/Chainsaws_as_a_Tool_for_Conservation_%28Ru

[2020-12-06 20:13] #3532 closed

[2020-12-06 21:31] LeadSongDog commented on #135
@tfmorris As https://openlibrary.org/search?q=title%3A+%22+%22&mode=everything gets the same result, it seems that yes, it is a simple case of title search for an effectively-blank string.

[2020-12-07 00:38] tfmorris commented on #135
I created #4223 for the search bug.

[2020-12-07 00:51] tfmorris opened #4225 "Internal Server Error attempting to merge authors with Unicode names"
Attempting to merge the more than one dozen duplicate records for Martín de Riquer, conde de Casa Dávalos results in an Internal Server Error and the merge doesn't happen.

### Evidence / Screenshot (if possible)
![Screen Shot 2020-12-06 at 7 47 34 PM](https://user-images.githubusercontent.com/82178/101298455-092a8580-37fc-11eb-9b01-9e280a82f608.png)

### Relevant url?
This is the URL in the bro

[2020-12-07 01:08] tfmorris commented on #3532
@waldenn The API I was talking about was this: https://archive.org/advancedsearch.php?q=stocked+with+wine+related+goods&fl%5B%5D=identifier&sort%5B%5D=&sort%5B%5D=&sort%5B%5D=&rows=50&page=1&output=json&callback=callback
but it doesn't return the same results as: https://archive.org/search.php?query=stocked+with+wine+related+goods&sin=TXT
which doesn't appear to offer a JSON output option.

It's w

[2020-12-07 05:58] LeadSongDog commented on #4223
title, author, or subject searches for that string all do the same thing

[2020-12-07 06:24] Sabreen-Parveen commented on #3595
Is someone working on this issue? If not, I want to work on this issue.

[2020-12-07 09:49] #2785 closed

[2020-12-07 11:19] cclauss opened #4227 "(PYL-W0102) Dangerous default argument"
## Description
Mutable Default Arguments: https://docs.python-guide.org/writing/gotchas/

Do not use a mutable like `list` or `dictionary` as a default value to an argument. Python’s default arguments are evaluated once when the function is defined. Using a mutable default argument and mutating it will mutate that object for all future calls to the function as well.

## Occurrences
There are 23 oc

[2020-12-07 15:56] Yashs911 commented on #4227
@cclauss I would like to work on this issue.

[2020-12-07 16:02] Yashs911 commented on #4227
If I am not wrong I need to do the changes as shown below
**Incorrect:**
`def request(self, path, method='GET', query={}):`
**Correct:**
[code]

[2020-12-07 17:01] cclauss commented on #4227
`query = query or {}`

[2020-12-07 17:37] Yashs911 commented on #4227
@cclauss Is this correct?

[code]

[2020-12-07 20:46] cclauss commented on #4227
Please fix the easy ones and leave the complex ones for future pull requests.

[2020-12-08 14:37] cclauss opened #4229 "Recomission dev.openlibrary.org like staging.openlibrary.org"
`dev` and `prod` should be on the same version of Python on Ubuntu 20.04.1 LTS (Focal Fossa)

Should https://dev.openlibrary.org point to ol-dev1 or should we upgrade ol-dev0 to run Python 3?

### Evidence / Screenshot (if possible)

### Relevant url?

https://dev.openlibrary.org/status says Python 2.7.6 on Ubuntu 14.04.5 LTS (Trusty Tahr)
http://staging.openlibrary.org/status says Python 3.8.6 on

[2020-12-08 18:02] mekarpeles commented on #4163
This seems to be resolved by IP banning

[2020-12-08 18:02] #4163 closed

[2020-12-08 18:12] mekarpeles commented on #3011
Done -- lint-diff is in both travis + github actions / make

[2020-12-08 18:12] #3011 closed

[2020-12-08 18:21] mekarpeles commented on #4160
resolved

[2020-12-08 18:21] #4160 closed

[2020-12-08 18:30] mekarpeles commented on #4216
@tabshaikh one for you to investigate when you have time :)

[2020-12-08 18:39] mekarpeles commented on #4224
Dupe of #4052

[2020-12-08 18:39] #4224 closed

[2020-12-08 18:42] mekarpeles commented on #3760
Dupe of #4052

[2020-12-08 18:44] mekarpeles commented on #4218
ebay doesn't tend to be an appropriate source of metadata, it may be a good list of ISBNs to evaluate our catalog (to be imported from a more reliable source).

[2020-12-08 18:44] #4218 closed

[2020-12-08 18:46] mekarpeles commented on #4217
I think this may be a solr latency issue that @cdrini is aware of -- after 15 or so minutes, the works **should** appear merged on Production.

Dev uses a different version of memcache which doesn't get updated in the same way through infobase (known issue which should be resolved once the Librarian Bar goes live on production early this upcoming year).

[2020-12-08 18:46] #4217 closed

[2020-12-08 18:50] cclauss commented on #4204
@guyjeangilles Can you please try to discover which of our import bots is bringing in roman numbers into an integer field.

[2020-12-08 22:28] tfmorris commented on #4224
Actually a dupe of #3760 from over 3 months ago (and #4051). #4052 is a PR which is supposed to fix this, but has been stuck in review for a full month.

[2020-12-08 23:39] cdrini commented on #4207
They responded yesterday (Dec 7):

Emphasis mine. My guess is since we do have paid staff, albeit from a non-profit organization (Internet Archive), we don't apply for this. @bfalling got internetarchive a month of Travis to use for some breathing room.

Although the wording is ambiguous... (is it: "(commercial company) or (organization)", or is it "commercial * (company or organization)" ?).

[2020-12-09 06:37] Yashs911 commented on #4082
@mekarpeles New Errors
- [ ] 196 X Broken ARIA reference
- [ ] 11 Contrast Errors (Because of "Not in Library" buttons) (Changing background color from `#999999` to `#595959` solves the problem.)

[2020-12-09 07:02] cdrini opened #4231 "Update eslint-plugin-vue and disable the new "vue/no-mutating-props" rule"
@dependabot tried to update "eslint-plugin-vue" to 7.2.0, but a new rule is incompatible with how a large chunk of our code is written. Let's update and disabled the rule.

### Summary of Requirements

- [ ] Update eslint-plugin-vue to 7.2.0 (See https://github.com/internetarchive/openlibrary/pull/4230)
- [ ] Disable "vue/no-mutating-props" rule

### Context

See https://github.com/vuejs/eslint-pl

[2020-12-09 09:42] Sabreen-Parveen commented on #4231
@cdrini I would like to work on this issue.

[2020-12-09 15:13] cclauss commented on #4207
Given that this is a Priority 1, could we please have clarity on what is required to close this issue?

If we have an alternative CI like GitHub Actions (#4188) doing everything that Travis CI did, will that close this issue?

[2020-12-09 16:40] 0dysseas commented on #2815
Hello, may I be assigned to this? I've worked on a solution (cookie based) and I'd like to open a PR.

[2020-12-09 16:49] cdrini commented on #4231
Go for it, @Sabreen-Parveen !

[2020-12-09 18:09] Yashs911 commented on #2380
@mekarpeles I would like to work on this issue. I need some guidance regarding how to Render the chart canvas element at 2x?

[2020-12-09 20:29] cdrini opened #4234 "Replace vendor/jquery-ui with npm install"
### Summary of Requirements

- [x] vendore/jquery-ui deleted
- [x] jquery-ui `npm install`ed to the same version
- [x] package.json does not use `^`, but specifies specific version
- [x] jquery-ui imports in JS updated to point to new module
- [x] JS builds without errors
- [x] Test: searchbox autocomplete still works
- [x] Test: Selecting author on work autocompletes
- [x] Test: Tabs on work edit

[2020-12-09 21:47] mekarpeles commented on #3952
Especially interested in input from @tfmorris, @leadsongdog, @hornc, and others who may not have had a chance to participate in our 2021 planning session.

The following is meant to be an (unprioritized) audit of issues surrounding Open Library.

I hope you'll please participate by using google's :heavy_plus_sign: comment feature to +1 anything you'd like to see prioritized in the upcoming year an

[2020-12-10 09:34] cclauss commented on #4225
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/upstream/merge_authors.py#L283

[2020-12-10 17:09] captain-panda commented on #4227
@cclauss I'd like to have a go at it.

[2020-12-10 17:11] cclauss commented on #4227
My sense is that #4228 fix almost all of these issues with the exception of one file.

[2020-12-10 17:14] captain-panda commented on #4227
Oh... okay then

[2020-12-10 17:46] cclauss commented on #4060
Two versions of solorupdater -- We want to put into separate docker service -- Create a new service in parallel to home service - Get starting command from home.

Push local changes into that service.

[2020-12-10 19:33] cclauss commented on #4227
openlibrary/plugins/upstream/adapter.py lines 108 and 124 would close this issue.

[2020-12-10 19:39] captain-panda commented on #4216
@tabshaikh I'd like to help with this.

[2020-12-10 23:29] #4231 closed

[2020-12-10 23:44] cdrini commented on #4207
Dropping to p2 since travis is running now since IA got a month.

[2020-12-11 00:05] #4046 closed

[2020-12-11 03:48] captain-panda commented on #4227
On it

[2020-12-11 10:40] cclauss opened #4243 "npm WARN ajv-keywords@3.4.0 requires a peer of ajv@^6.9.1 but none is installed"
When I do Docker builds, I see the following warning:

Is this something to worry about?  Is it worth fixing?

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

[2020-12-11 14:44] Yashs911 commented on #4243
@cclauss this is an npm issue [npm/npm#19877](https://github.com/npm/npm/issues/19877#issue-298965480)

https://github.com/eslint/eslint/pull/9856#issuecomment-377694098

[2020-12-11 14:49] cclauss commented on #4243
That repo is archived (cannot be updated) in favor of https://github.com/npm/cli.

[2020-12-11 19:04] cdrini opened #4246 "solrupdater getting randomly stuck"
Solrupdater has been getting stuck randomly at various dates. It seems related to the infobase py3 deploy.

### Steps to Reproduce

1. Do nothing

* Actual: It seems to occasionally get stuck in the log
* Expected: Solrupdater runs through the infobase logs, making updates

### Proposal & Constraints

### Related files

### Stakeholders
@seabelis

[2020-12-11 19:24] cdrini commented on #4246
Uh oh;  curl 'http://ol-home:7000/openlibrary.org/log/2021-12-13:0?limit=100' from ol-home (not it's a day in the future) should return an empty object (that's how solrupdater knows there are no new edits). It's returning:

[code]
^^ That offset is around the time we moved infobase to its new server :grimacing:

[2020-12-11 20:53] cclauss commented on #4207
:greenlight: 4207 - git submodules? @cclauss -- let's try adding make git fpr js + py actions

That worked like a champ!  GitHub Action for JavaScript landed and Python (#4188) is in review.

[2020-12-11 22:00] cdrini commented on #4212
Can repro this when trying to merge works on staging: http://staging.openlibrary.org/works/merge?records=OL520614W,OL18391608W

If you copydocs these works into your local environment, you should be able to test it out there.

[2020-12-11 22:37] #4207 closed

[2020-12-11 22:54] cdrini opened #4249 "Switch infogami submodule to infogami master"
Most of our production servers are now on Python 3 + infogami master. Can we switch the repo's submodule to infogami master?

~Potentially blocked by #4060~ ; the services on ol-home which are not yet py3 + infogami master (e.g. ol-home solrupdater, ol-home cron jobs)

## Stakeholders

@cclauss  @mekarpeles

[2020-12-11 23:02] cdrini commented on #4212
Here's the callstack; my suspicions lie on the `marshal` function and the `urllib.request.Request` call.

https://github.com/internetarchive/openlibrary/blob/9c194ce8444ff1a215cb0175cfcd3bb49978de7f/openlibrary/api.py#L151-L152

https://github.com/internetarchive/openlibrary/blob/9c194ce8444ff1a215cb0175cfcd3bb49978de7f/openlibrary/api.py#L136-L149

https://github.com/internetarchive/openlibrary/b

[2020-12-11 23:38] cdrini commented on #3859
We'd need to run `sudo usermod -aG docker YOUR_USER` (followed by a logout/login) to be able to run docker as non-sudo. Printing the SHA seems good to me!

[2020-12-11 23:41] #3859 closed

[2020-12-11 23:55] cdrini commented on #3812
I was able to fix this by deleting the .mo files from outside the container; then docker was able to create/modify them as it wished. Does this work for you, @jamesachamp ?

[code]

[2020-12-12 00:09] cdrini opened #4252 "Replace ol-www1 with docker-based ol-www0"
ol-www1 hosts static files as well as the nginx that serves the main site.

Related:
* #4775
* #5144
* #5757
* #6000
* #6001

---
* [x] #6000
* [x] #6001
---
* [x] #4252
    * [x] #7544
    * [x] Fix IP anonymization [#4252 (comment)](https://github.com/internetarchive/openlibrary/issues/4252#issuecomment-854050184)
    * [x] Fix log rotation [#4252 (comment)](https://github.com/internetarchive/op

[2020-12-12 00:25] cdrini commented on #2149
No longer applicable; these have been moved into separate docker services. The last outstanding items are import-bot and solr-updater (tracked in #4060 )

[2020-12-12 00:25] #2149 closed

[2020-12-12 00:33] cdrini opened #4253 "Cannot update css-loader from 3.6.0 to 5.0.1"
Dependabot tried to updated this in #4196, but it failed with a bunch of errors it didn't used to have; See them here: https://travis-ci.com/github/internetarchive/openlibrary/jobs/457654449#L287

### Proposal & Constraints

### Related files
https://travis-ci.com/github/internetarchive/openlibrary/jobs/457654449#L287

### Stakeholders
@Sabreen-Parveen @jamesachamp

[2020-12-12 01:04] #4167 closed

[2020-12-12 02:17] mhucka opened #4254 "Remove music from the intro video"
The intro video at https://archive.org/embed/openlibrary-tour-2020/openlibrary.ogv has piano music playing over the sound of the narrator's voice, and it's insanely distracting and annoying.

### Describe the problem that you'd like solved

Only have the speaker's voice, without music playing at the same time.

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-12-12 02:59] cdrini commented on #4216
Note: The timeframe suggests this might be a python 3 issue, so we should also check that.

[2020-12-12 04:18] jamesachamp commented on #3812
@cdrini no, it didn't.  I'm getting the same error message as before.  Whenever I try to execute anything on `web`, user `openlibrary` is used by default.  Does the same thing happen for you?

[2020-12-12 13:38] cigar-galaxy82 commented on #4253
@cdrini I would like to work on this issue

[2020-12-13 02:43] jamesachamp commented on #4243
I think that we can overlook this for the time being.  Running `npm list ajv` shows that this warning is related to Webpack's dependencies:
[code]
... Several dependencies omitted for brevity ...
[code]
`schema-utils` is used by webpack to validate options in plugins and loaders, and has nothing to do with Open Library functionality.  Since our builds are working properly and we rarely update our

[2020-12-13 03:16] SouthGoingZax commented on #3896
A gist with the output of _profile=true: https://gist.github.com/SouthGoingZax/fba883cb94f499dc28cfdc4d0bf2e79c

[2020-12-13 07:14] codetochangeMinds opened #4257 "Progressive Web App (PWA): Enabling offline functionalties and push notification"
### Describe the problem that you'd like solved

Currently OL does not have support for offline functionalities. There needs a brainstorming about the features that needs to be supported while the user is offline. Customized push notifications are a great way to interact with the users actively and they definitely enhance user experience. The feature of push notification needs to be enabled in ord

[2020-12-13 14:49] cclauss commented on #4252
What is the upside of doing all this work?  What will www0 give us that www1 does not currently deliver?

[2020-12-13 16:15] SouthGoingZax commented on #4216
It does look like a regression from the migration to Py3.  If you use the Chrome developer tools and add "?debug=true" to the form submit action, you get:

![image](https://user-images.githubusercontent.com/72705998/102017157-06f38a00-3d1a-11eb-93ab-71355df9ad9c.png)

[2020-12-13 16:43] cdrini commented on #4216
Bumping to P0; this is apparently affecting all imports.

[2020-12-13 16:58] cclauss commented on #1486
Closed in #2892, etc.  We use different libs for Python and legacy Python.

[2020-12-13 16:58] #1486 closed

[2020-12-13 17:00] cclauss commented on #3262
https://github.com/internetarchive/openlibrary/blob/master/requirements_common.txt#L15-L16

[2020-12-13 17:00] #3262 closed

[2020-12-13 17:02] #4216 closed

[2020-12-13 17:07] cclauss commented on #4227
@Yashs911 or @captain-panda Could one of you create a PR on the remaining file?

[2020-12-13 17:16] Yashs911 commented on #4227
@cclauss I would like to, but I don't know what all changes do I need to make

[2020-12-13 18:02] #4227 closed

[2020-12-13 18:49] bbkane opened #4261 "/developers doesn't contain clickable links"
https://openlibrary.org/developers has good information, but the link format is broken

### Evidence / Screenshot (if possible)
<img width="957" alt="image" src="https://user-images.githubusercontent.com/6081085/102020820-6eb4cf80-3d30-11eb-9014-6c8defada4b6.png">

### Relevant url?

https://openlibrary.org/developers

### Steps to Reproduce

1. https://openlibrary.org/developers
2. Try to click a

[2020-12-13 18:59] brianmcdonald opened #4262 "API for books in reading log"
An API to access read books in the reading log, would be great.
Currently, to access my read books through the API I need to add them to a list as well as marking them as read. Having the reading log accessible via API, like how the lists API works would be amazing.

### Summary of Requirements
- [ ] `/people/{username}/books/{shelfname}.json` : access a reading log as json.
    - [ ] Public readi

[2020-12-13 19:27] mekarpeles opened #4263 "Enabling Authors to Claim Pages (in a trusted way)"
### Describe the problem that you'd like solved

rikroots from HN https://news.ycombinator.com/reply?id=25409007 asked how to claim author pages.

Today, our author pages don't support this use case, but it wouldn't be too hard to implement such a program (probably harder to maintain it -- we'll have to check w/ patron services to see what we can do).

The idea is, similar to goodreads, an author

[2020-12-13 21:53] SouthGoingZax opened #4264 "A GET to /account/import/goodreads should redirect to /account/import"
https://news.ycombinator.com/item?id=25409173 points out that a GET to https://openlibrary.org/account/import/goodreads returns "method not allowed"

### Describe the problem that you'd like solved

It would be a better user experience to redirect such requests to /account/import

### Proposal & Constraints

### Additional context

### Stakeholders

@mekarpeles @cdrini

[2020-12-14 00:45] mekarpeles opened #4266 "Goodreads Import: Somehow preserve list of failed imports"
From gravitas on Hacker News

[2020-12-14 02:22] arawden opened #4267 "Add ability for a user to filter lists by date added"
While I'm tracking the list of books that I want to read in the future, I'd like to be able to sort my "Want to Read" list by date added. This way, I'm able to determine which books have been in my backlog the longest, so I can finally get around to reading them.

### Describe the problem that you'd like solved

When viewing my "want to read" list, I should be able to sort the list by date in asce

[2020-12-14 10:08] awebdeveloper opened #4269 "Increase max-width of the containers"
This lies some where in between a bug/feature request. The max width(in css) on the desktop for header(header-bar) and body (test-body-mobile) is 960. These days most folks have screen sizes bigger than this. can we bump it to 1280. Thus giving things a much needed breading room.

[2020-12-14 13:22] dherbst commented on #4264
Please consider https://github.com/internetarchive/openlibrary/pull/4270 as a fix for this issue.

[2020-12-14 13:26] KaliedaRik commented on #4263
Hi, Mek. Many thanks for creating the issue.

Asking authors _"what would you like"_ is probably a dangerous approach as authors tend to want all the latest shiny, preferably now, and usually without thanks. My suggestion would be to go for a minimalist approach to start with:

1. Allow an author to inform you that an Author page you/the system creates relates directly to them. Put the burden of p

[2020-12-14 14:27] cdrini opened #4271 "Add unit tests for GoodReads import"
GoodReads imports broke without any automatic indication (#4216 ). Let's add some unit tests that test this code (code in question: https://github.com/internetarchive/openlibrary/pull/3597 )

## Summary of requirements

- [ ] The tests should have caught #4216 had they been in place.

## Stakeholders

@SouthGoingZax @tabshaikh

[2020-12-14 14:27] cdrini commented on #4271
@SouthGoingZax Would you be able to work on this one? That CSV file you used for testing would be mighty helpful :)

[2020-12-14 14:36] #4264 closed

[2020-12-14 15:16] cdrini opened #4272 "Remove unused macros"
There are a lot of macros which are no longer used. Lets delete them.

Here are the macros without any usages in the repo:

(Determined with this command: ``for f in *.html; do echo "$f | \`$(grep --exclude-dir=.idea --exclude-dir=.vs --exclude-dir=.git --exclude-dir=build --exclude-dir=node_modules --exclude-dir=vendor --exclude-dir= venv --exclude-dir=venv-py3 --exclude-dir=coverage -F ${f/.html

[2020-12-14 15:22] cdrini commented on #4272
Full table for reference:

File | Usages
| -- | -- |
AffiliateLinks.html | `/openlibrary/macros/databarWork.html /tests/integration/test_affiliate_links.py `
AlertChanges.html | ``
AlertTour.html | ``
AllPagination.html | ``
AuthorEditRow.html | ``
AuthorList.html | `/openlibrary/templates/account/borrow.html /openlibrary/templates/admin/loans_table.html /openlibrary/templates/borrow_admin.html `

[2020-12-14 15:27] Yashs911 commented on #4272
@cdrini I would like to work on this issue.

[2020-12-14 16:02] cdrini commented on #4272
Here are the db results:

` pv ol_dump_2020-10-31.txt.gz | zcat | grep -i -E '\{\{(AlertChanges|AlertTour|AllPagination|AuthorEditRow|EditionCount|EditionEditRow|EnrollUsergroup|FormatExpiry2|FullTextCount|GoButton|HasFulltext|HelpWikilanguage|MergeHistory|ModifyTemplate|MostRecent|MostRecentHome|NavigationDev|QueryCarousel|RowButtons|SponsorCarousel|UniqueIPcount|databarMerge|databari18n|miframe)

[2020-12-14 16:03] cdrini commented on #4272
Awesome, thank you @Yashs911 ! Anything with "None" in both columns should be deleteable :)

[2020-12-14 16:12] ArunTeltia commented on #4272
I will also start deleting the files  :D

[2020-12-14 16:15] cdrini commented on #4272
Ah, my apologies @ArunTeltia ! That's my bad, I didn't realize you wanted to work on it as well 🙇

[2020-12-14 16:16] ArunTeltia commented on #4272
No Problem I will look into other issues :D

[2020-12-14 16:27] Sabreen-Parveen commented on #4267
@arawden I would like to work on this issue.

[2020-12-14 17:41] bbkane opened #4275 "Tell users which imports fail"
### Describe the problem that you'd like solved

I just signed up for this and imported my GoodReads csv export. the csv has 90ish rows and I was only able to import 60ish rows. Open Library did not tell me it wasn't able to fully import my data. I  get that Open Library doesn't have as much data as GoodReads, but I  wish it would show me the data it couldn't import so I could add it  manually to

[2020-12-14 18:38] cclauss commented on #4249
ol-home is the KEY.

[2020-12-14 18:53] cdrini commented on #4249
Confirm:

- [ ] Remove ol-home from fabfile -- specifically from rsync (i.e. freeze code on ol-home)
- [ ] Confirm that python scripts on ol-home run from the deploys directory, not from the "build" (/1/...) directory
- [ ] Literally update git update submodule to point master SHA

[2020-12-14 19:03] cdrini opened #4276 "Make dev environment py3 by default"
Most of our production servers are Python 3 now; we want developers to be developing on py3 by default as well. Note we still want the option to run as Python 2, so we shouldn't remove the install entirely (yet :) )

- [x] ~Blocked by #4249~: Update git submodule to master

[2020-12-14 19:03] mekarpeles opened #4277 "Account Creation: 1st login OL redirects you to IA (referer)"
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2020-12-14 20:57] #3981 closed

[2020-12-14 23:42] #4063 closed

[2020-12-14 23:48] #4101 closed

[2020-12-15 02:36] mekarpeles opened #4279 "Admin: Why can't I change a patron's OL email?"
### Question

Why can't I change a patron's OL email from /admin/people?

It's possible that you're trying to change this patron's email to an email which already exists somewhere in the database (possibly due to a patron's previous attempt at creating a new account).

When someone attempts to create an Open Library account, a `verify` / `activate` record is added to our secret `store` table in th

[2020-12-15 02:36] #4279 closed

[2020-12-15 12:07] Kartik1397 commented on #4111
Can I work on this issue?

[2020-12-15 12:19] Sabreen-Parveen commented on #4182
@cdrini I would like to work on this issue.

[2020-12-15 13:50] dherbst commented on #3403
I removed the `update_waitinglist` calls and did some other pyflakes cleanup here https://github.com/internetarchive/openlibrary/pull/4280 If you want to wait until py3 is finished I can close the PR and re-do it after the python3 milestone.

[2020-12-15 15:54] #4121 closed

[2020-12-15 16:09] cdrini commented on #4182
🎉 Go for it @Sabreen-Parveen ! `potentialAction` might be a bit difficult, so feel free to skip it if it looks like too much work (we can open up a separate issue to add it later).

[2020-12-15 17:46] cdrini commented on #4051
Here's the code the edit pages use to create a "dummy" work (not committed to db) to normalize rendering:

https://github.com/internetarchive/openlibrary/blob/b586b90cbf2a546e68444d401c6bcb5727054a55/openlibrary/plugins/upstream/addbook.py#L738-L746

[2020-12-15 18:04] #4203 closed

[2020-12-15 19:18] mekarpeles opened #4282 "Updating Github Triage Procedures: Lead Delegation"
### Describe the problem that you'd like solved

Right now we have too many issues which are at risk of falling through the cracks. This issue outlines possible managed label changes and Lead assignments which will help split our ~500 issues into blocks which team Leads may help better triage and manage. This also includes discussion and communication of proposed triage processes w/ team leads.

#

[2020-12-16 07:55] mekarpeles commented on #3296
This may be challenging information for us to get (unless, I guess, we could use google analytics API, which feels a little bit like a hack?)

[2020-12-16 07:56] mekarpeles commented on #3296
I'm noting we don't currently have an assignee for this issue -- is there anyone working on this or who would like to work on this? Anything is probably better than what we have :D

[2020-12-16 08:04] Sabreen-Parveen commented on #3296
@mekarpeles I would like to work on this.

[2020-12-16 09:12] ArunTeltia commented on #3296
I was working on this issue long ago @mekarpeles
And as I say the data can be hard coded for all the authors as a json file (12 author data hardcoded)
But we might need some librarian input on the most famous authors for top 12 authors

A idea to think , we can create a carousal for this as well and as the author page is empty this can be a good way to check how the carousal will look with the web

[2020-12-16 09:33] Sabreen-Parveen commented on #3296
@ArunTeltia sure you can go for it..
For choosing the authors, can we create a poll and get input from the users themselves for the author whom they like the most? In this way we can involve the users as well.

[2020-12-16 09:38] ArunTeltia commented on #3296
I just checked the random author pr by @jamesachamp I will work on this pr with the random authors

[2020-12-16 09:54] ArunTeltia commented on #3296
@Sabreen-Parveen the random authors would be great to allocate the data for the author page

[2020-12-16 10:22] justcomplaining commented on #3324
I just tried it again, and the error persists. Am I doing something wrong or is it a bug?

[2020-12-16 14:17] jamesachamp commented on #602
To clarify, most carousel header links ("Books We Love", "Recently Returned", etc) will send patrons to an Internet Archive search results page.  From this search page there doesn't appear to be a path back to Open Library (aside from the browser's back button).  To my mind this is unexpected behavior, and a browse page would improve user experience.

[2020-12-16 14:48] Yashs911 commented on #602
@jamesachamp If the link opens in a new tab, it might help in improving the user experience

[2020-12-16 15:27] cclauss opened #4285 "scripts/copydocs.py fails on Python 3 w/ TypeError: POST data should be bytes"
### Evidence / Screenshot (if possible)

At first blush, this one seems easy to fix but it quickly bumps into #4212 !!

my Mac % `docker-compose exec web bash`
openlibrary@500abfd9a786:/openlibrary$ `./scripts/copydocs.py /books/OL21692921M`
[code]
### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?

[2020-12-16 17:12] cclauss commented on #3992
ol-web3 is now gone.

[2020-12-16 19:58] jamesachamp commented on #828
Additional notes:
- When using Firefox, the list will appear in the "Want to Read" dropdown if the browser's back button is used to navigate to the original page.  This isn't the case when using Chrome.
- Lists appear to be listed in the dropdown from newest to oldest.  Whenever a new list is created using the dropdown, it appears at the bottom of the list of lists (this may or may not be helpful

[2020-12-16 20:34] jamesachamp opened #4288 "Incorrect list count displayed when patron deletes list"
Whenever a patron deletes a list from their lists, the total list count (outlined in red below) is not updated unless the page is refreshed.

### Evidence / Screenshot (if possible)
![incorrect_list_count](https://user-images.githubusercontent.com/28732543/102402472-cb272180-3fb2-11eb-987c-14f84144ae4d.png)

### Relevant url?

### Steps to Reproduce

1. Log into Open Library.
2. Ensure that you ha

[2020-12-16 20:38] Sabreen-Parveen commented on #4288
@jamesachamp I would like to work on this issue.

[2020-12-16 20:41] jamesachamp commented on #850
We may want to add a brief, optional tutorial on some of Open Library's features (book reader, library explorer, lists, etc.) as a part of the account creation flow.  This will likely require someone with good UX/UI design sensibilities.

[2020-12-16 22:31] jamesachamp commented on #4288
@Sabreen-Parveen go for it!  Let me know if you have any questions about anything.

[2020-12-17 01:17] SouthGoingZax opened #4289 "Extend anti-spam functionality to list pages"
List pages are a common source of spam.

### Describe the problem that you'd like solved

We should extend the existing anti-spam functionality to list pages.

### Proposal & Constraints

### Additional context

### Stakeholders

@mekarpeles @cdrini

[2020-12-17 03:17] tfmorris commented on #602
Yup, that sucks, as @LeadSongDog noted over 3 years ago -- and even for the individual search results, the link back to OpenLibrary will be "below the fold" (ie collapsed).

Another aspect of IA based searches is that they don't use any OpenLibrary metadata, so, for example, authors are considered the same if they are lexical match rather than if they actually have the same OpenLibrary author reco

[2020-12-17 06:22] #4246 closed

[2020-12-17 06:36] #4289 closed

[2020-12-17 07:52] Yashs911 opened #4292 "Replace old social media icons with new ones"
I think we should replace old icons with new ones.
### Evidence / Screenshot (if possible)
Old:
![old](https://user-images.githubusercontent.com/64412143/102458696-a2faf980-406a-11eb-8b6d-d7b6d6573675.JPG)
New:
![new](https://user-images.githubusercontent.com/64412143/102563345-0a628900-40ff-11eb-9d2d-1f29c21247d0.JPG)

### Relevant url?

https://openlibrary.org/books/OL3382093M/Sula
### Steps to

[2020-12-17 07:55] Yashs911 commented on #4292
I would like to work on this issue.

[2020-12-17 09:00] #3760 closed

[2020-12-17 09:01] cclauss commented on #4051
Fixed in #4286

[2020-12-17 09:04] mekarpeles commented on #3887
These two issues should be resolved by the petabox change staged here:
https://git.archive.org/ia/petabox/-/merge_requests/2427
https://git.archive.org/ia/petabox/-/commit/4ae9203d266711da5dc462331d21c01844dc13fc

**Review App**
http://review-2690.archive.org/donate/?campaign=pilot&type=sponsorship&context=ol&isbn=9789625933924 test with 4000000000000002

[2020-12-17 09:09] mekarpeles commented on #4141
There is a PR open for this #4240 which needs to get merged for a bunch of reasons (including to activate the `scan_only` sponsorship flow).

But for the purposes of this issue, all completed sponsored books **have** been synced using this new admin/sponsorship/sync endpoint on dev -- closing.

[2020-12-17 09:09] #4141 closed

[2020-12-17 09:31] mekarpeles opened #4294 "Add ability to add personal Notes to Books"
### Describe the problem that you'd like solved

Right now when people recommend a book to me, I want to note somewhere who recommended the book. I'd also like to be able to jot down notes about specific editions.

### Proposal & Constraints

Decided to create a new table rather than to piggy-back on Reading Log, which, could have performance effects and other undesirable side effects.

Not suppos

[2020-12-17 09:43] #4243 closed

[2020-12-17 09:46] cclauss commented on #4124
`docker stack ls` continues to fail so let's drop this as an impractical approach.

[2020-12-17 09:46] #4124 closed

[2020-12-17 16:42] LeadSongDog commented on #602
Well, to be fair, it has only been unblocked since Apr 2019 when #2070 closed and #2071 merged. Still it would be nice to get this cleared up.

[2020-12-17 18:23] cclauss commented on #4249
Another approach would be to add a step to fabfile which checkout a specific infogami commit on ol-home after the rsync in a deploy.

Should ol-home restart its services as a step in each deploy.

[2020-12-17 18:34] cclauss commented on #4285
@SouthGoingZax Could you please look into this one?

[2020-12-17 20:37] mekarpeles commented on #3967
Resolving as duplicate of #4220

[2020-12-17 20:37] #3967 closed

[2020-12-17 21:06] Kartik1397 opened #4306 "UI Improvements for Book Covers dialog"
## Current Behavior
![2020-12-18_02-27](https://user-images.githubusercontent.com/24036721/102543110-c9577e00-40d8-11eb-967a-f2045ab178c4.png)
## Expected Behavior
![2020-12-18_02-28](https://user-images.githubusercontent.com/24036721/102543130-d7a59a00-40d8-11eb-98c4-91668ac36b18.png)

Maybe, we can also increase size of close button.

[2020-12-17 21:33] #4277 closed

[2020-12-17 21:55] #228 closed

[2020-12-17 22:01] #2017 closed

[2020-12-17 22:04] #3395 closed

[2020-12-17 23:15] hornc commented on #2193
The functionality of this books anti-spam tool should be covered by #4138 in a way that is more configurable for current spam patterns.

[2020-12-17 23:15] #2193 closed

[2020-12-17 23:39] hornc commented on #1401
I have extracted a UTF8 MARC dump from https://www.oapen.org/resources/15635975-metadata
(uploaded to https://archive.org/download/marc_oapen as `convert_oapen_20201117.mrc` )
Import log uploaded to the same item as `DOAB_NOV.log`

https://archive.org/download/marc_oapen/DOAB_NOV.log

[2020-12-17 23:39] #1401 closed

[2020-12-18 21:17] dherbst commented on #2308
@cclauss one thing I have found that is different between `simplejson` and `json` is regarding `collections.namedtuple`.   If you see https://stackoverflow.com/a/36091411 and example is below, which seems the same between python2 and python3 when I test it.

[code]

I found the following places where `namedtuples` are used:
* `scripts/copydocs.py` - doesn't seem affected because the `namedtuple` i

[2020-12-19 00:14] #4220 closed

[2020-12-19 08:49] awebdeveloper opened #4309 "Broken Page"
### Evidence / Screenshot (if possible)

<img width="1074" alt="Screenshot 2020-12-19 at 12 53 04 PM" src="https://user-images.githubusercontent.com/1593429/102683736-33674480-41f9-11eb-9327-00e8f8f55faa.png">

### Relevant url?
https://openlibrary.org/books/OL8853506M/iCon_Steve_Jobs_the_Greatest_Second_Act_in_the_History_of_Business

* Actual:  Page Opens without error
* Expected: Page has error

[2020-12-19 09:03] awebdeveloper opened #4310 "Merge Books"
Look at this link you will find multiple books by the same author with same name.
https://openlibrary.org/authors/OL1398754A/Malcolm_Gladwell

### Describe the problem that you'd like solved
Provide a user facing way to merge two books. If name and author is same the volunteers can merge it.

### Proposal & Constraints
Goodreads does this really well through their discussion forums and volunteers

[2020-12-19 09:34] dector opened #4311 "Adding non-Latin character book failing 500: "UnicodeEncodeError: 'ascii' codec can't encode characters""
### Evidence / Screenshot (if possible)

![Screenshot_2020-12-19_13-30-48](https://user-images.githubusercontent.com/265872/102686055-7841aa00-41fe-11eb-8b4d-a50c70a6f9e3.png)

### Relevant url?
https://openlibrary.org/books/add

### Steps to Reproduce
1. Log-in with account
2. More -> Add Book
3. Enter title: `Справа Василя Стуса. Збірка документів з архіву колишнього КДБ УРСР`
4. Enter unknown a

[2020-12-19 09:49] Yashs911 commented on #4309
@awebdeveloper adding `?debug=true` to the failing URL's end will give you more information about the error.

![ol](https://user-images.githubusercontent.com/64412143/102686156-bee9d100-420b-11eb-9c4c-2ac314dc34fd.JPG)

And on dev.openlibrary.org, this issue might have been solved partially.
![Capture](https://user-images.githubusercontent.com/64412143/102686375-5f8cc080-420d-11eb-8d14-0e7a05ea376

[2020-12-19 16:36] SouthGoingZax commented on #4309
Duplicate of #4051

[2020-12-19 16:36] #4309 closed

[2020-12-19 16:47] SouthGoingZax commented on #4311
Thanks for the report, @dector.  Can you update the Steps To Reproduce with the text you're using for the book and author name?

[2020-12-19 16:57] dector commented on #4311
@SouthGoingZax Sure! My second suggestion is that it's happening because of new author.

Title: `Справа Василя Стуса. Збірка документів з архіву колишнього КДБ УРСР`
Author: `Вахтанг Кіпіані` (Click "create new record for")
Publisher: `Віват`
Publish year: `2019`
ISBN13: `9789669429278`

[2020-12-19 19:08] cdrini opened #4314 "DDC normalizer should ignore dewey decimal catalogue edition number"
A lot of books specify the version of the dewey decimal catalogue as part of the dewey decimal:

- `338.9/009171/7 19` https://openlibrary.org/works/OL15597238W/The_economics_of_feasible_socialism
- `332.6 21` https://openlibrary.org/books/OL7454161M/The_Random_Walk_Guide_To_Investing
- `[E] 21` https://openlibrary.org/works/OL14933747W/Geisterstunde_im_Kindergarten

The current ddc indexer treats

[2020-12-19 20:18] Sabreen-Parveen commented on #4288
@nynaalekhya, thanks for the PR.

[2020-12-20 00:22] jzacsh commented on #3473
I think this just happened to me, so I've purposely not merged them (hopefully they stay that way while you investigate):
- a) https://openlibrary.org/works/OL20791728W/Lily_and_the_octopus
- b) https://openlibrary.org/works/OL20040818W/Lily_and_the_octopus

## some hopefully helpful details:
1. these are both duplicates (i'm _guessing_ they came into being via my goodreads csv import where i had

[2020-12-20 00:36] jamesachamp commented on #4288
@nynaalekhya In the future, please ensure that nobody is working on an issue before taking it up.

[2020-12-20 02:16] jamesachamp commented on #4269
I think that a larger main container size will help with some of the carousel button overflow issues that we've been seeing.  Whoever works on this should ensure that there are still reasonably sized left and right margins on smaller screens.

[2020-12-20 02:53] tfmorris commented on #4309
Actually a dupe of #3760 and #4224 as well as #4051, but they're all marked as closed and, as of a few minutes ago, the URL above still errors on the production server, so I could easily see @awebdeveloper wondering what the actual status is.

[2020-12-20 04:35] SouthGoingZax commented on #4309
Yeah, I agree the state is not clear to people less familiar with the release practices.  The issues get closed when the PRs are merged, but [deployments usually happen once a week](https://github.com/internetarchive/openlibrary/wiki/Deployment-Guide#introduction).  I believe the fix should go out with the next release.

[2020-12-20 05:07] SouthGoingZax commented on #4271
I didn't find a existing unit test that mocks the output of web.input() to pass in test csv data.  Looking more into how this could work, https://github.com/webpy/webpy/blob/master/docs/input.rst says ```web.input()``` returns a ```web.storage``` object.  Intentionally creating an error in the ```fetch_goodreads``` function and using debug=true reveals that ```web.storage``` object has the structu

[2020-12-20 05:22] nynaalekhya commented on #4288
@jamesachamp Yeah I'll make sure.

[2020-12-20 05:23] nynaalekhya commented on #4288
@Sabreen-Parveen If you want to work on this issue, you can continue to resolve it.

[2020-12-20 13:03] Sabreen-Parveen commented on #4288
@nynaalekhya Yes, I would like to work on it. Thanks :)

[2020-12-20 15:31] jamesachamp commented on #4288
Thanks @nynaalekhya!  Let me know if you'd like some help finding some other good first issues.

[2020-12-20 18:41] nynaalekhya commented on #4288
@jamesachamp Can I take up this issue, #3523?

[2020-12-20 19:09] jzacsh commented on #3473
i'm guessing search index updated and now there's actually _four_ duplicates of the same work (see screenshot):
1. [`/works/OL17356798W`](https://openlibrary.org/works/OL17356798W)
2. [`/works/OL20040818W`](https://openlibrary.org/works/OL20040818W)
3. [`/works/OL21320871W`](https://openlibrary.org/works/OL21320871W)
4. [`/works/OL20791728W`](https://openlibrary.org/works/OL20791728W)

![Screensho

[2020-12-20 19:25] jamesachamp commented on #4288
@nynaalekhya Yes, I think that's probably fine.  Just say that you would like to work on it in that thread.  Since there was somebody working on it before, it's good etiquette to mention them and ask if they are still working on it.

[2020-12-20 19:45] jzacsh commented on #3473
okay last update, in case i'm just causing noise for veteran OL folks :)

i'm going to leave this for mek and others familiar with OL to sort out, but as a **newbie** to OL (ie: possibly very wrong) here's what i've understood so far:

## problem: import creates new work for any unrecognized isbn (ie: edition)

I _think_ the problem is that the import logic searches against an ISBN, and if that ed

[2020-12-20 19:51] nynaalekhya commented on #3523
Is anyone working on this issue? Can this be assigned to me

[2020-12-20 20:10] nynaalekhya commented on #4288
Yeah, the assignee field says no one is assigned. I have asked on the thread. Thank you :)

[2020-12-20 21:04] mekarpeles commented on #4294
[code]

[2020-12-21 00:02] mekarpeles commented on #4294
![dev openlibrary org_works_OL27203W_The_four_agreements (2)](https://user-images.githubusercontent.com/978325/102727771-ad242e80-42dc-11eb-8924-b4ee86f4c6b9.png)
![dev openlibrary org_works_OL27203W_The_four_agreements (1)](https://user-images.githubusercontent.com/978325/102727772-adbcc500-42dc-11eb-8908-12a806c3703f.png)

[2020-12-21 13:13] seabelis commented on #4225
This one too. https://openlibrary.org/authors/merge?key=OL48458A&key=OL7875067A&key=OL7465278A&key=OL4966610A&key=OL5545241A&key=OL6345400A&key=OL2816393A&key=OL6399631A&key=OL6462896A&key=OL7872426A&key=OL7924924A&key=OL8248718A&key=OL1674883A&key=OL5777954A&key=OL2054663A&key=OL2098941A

[2020-12-21 13:16] seabelis commented on #4310
Duplicate of #805.

[2020-12-21 13:16] #4310 closed

[2020-12-21 15:48] mekarpeles commented on #4070
@LeadSongDog I wanted to give you an update that I've forwarded this feedback to our policy team for review.

There are a few points which resonate:

I'm not sure what this list of services should be, I'm not a lawyer, but the sentiment of refreshing these seems like it may be useful to patrons and the Archive alike.

Another area where an opportunity exists to spell our what options patrons have,

[2020-12-21 18:26] cclauss opened #4318 "Deployments should be triggered from ol-home0"
A subtask of #4060

We need to automate the Docker/Python3-based deployment process on ol-home0.  We would like to continue using fabfiles for this work but we must shift from process-based deployments to docker-based deployments.  We intend to run these services:
* [x] Infobase #4059
* [x] solr-updater #4287
* [ ] ImportBot #4324
* [ ] cron jobs #4387
* [ ] internetarchive/olsystem#110
* [ ] Scri

[2020-12-21 19:07] #4271 closed

[2020-12-21 21:42] LeadSongDog commented on #4070
@mekarpeles Thanks for the feedback, I was beginning to think it had gone unread.

[2020-12-21 21:56] mekarpeles opened #4319 "Library Explorer: Allow better sorting of Literature by Author (name)"
### Describe the problem that you'd like solved

edlinfan writes:

One question: are there any plans to sort fiction by author, similar to what is done in real libraries? A lot of fiction is already available in this tool, filed under DDN 8xx, but the groupings are pretty broad.

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-12-21 23:07] dyeray commented on #3456
I also think private lists would be a nice feature. I currently use several private lists in Goodreads (I don't use public lists actually), but I was considering switching to Open Library for privacy reasons.

[2020-12-21 23:58] SouthGoingZax commented on #4311
Thanks.

I can reproduce it.  The error from my local dev environment is:

[code]

It looks like gunicorn is trying to encode response headers as ascii, which triggers the error.

Looking at the headers of a successful book addition attempt, this request results in an HTTP 303 and redirects to the edit page for the added book so the user can continue adding additional metadata.  The edit page in t

[2020-12-22 01:14] jamesachamp commented on #4234
A couple things about this:

I've found that jQuery UI dialogs are also in use in OL.  Are there any other widgets being used besides dialogs, autocomplete, and tabs?

I've got this mostly working by importing each individual widget in `index.js`, but am having some issues with autocomplete.  Presently it looks like OL is using jquery-autocomplete instead jquery-ui for autocomplete.  If we try to

[2020-12-22 01:54] mekarpeles opened #4320 "Library Explorer: Autocomplete + jump directly to a Classification / shelf"
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-12-22 03:09] tallforasmurf commented on #4320
Key here is doing it while staying in the virtual UI. Need a drop-down of Dewey/LoC categories perhaps?

[2020-12-22 03:16] tallforasmurf opened #4321 "Search and Browse should stay in the virtual UI, not go to a separate one"
Use of the Search box, OR selection of a Browse category, throws you out of the virtual library UI and into a different presentation (a single shelf showing a list of covers, below it a "publishing history" graph). There is no obvious way to get back to the virtual library UI except the browser Back button.

If I select a topic like Browse > Subjects > Chemistry, or search on Chemistry, I should e

[2020-12-22 03:42] LeadSongDog commented on #927
@xayhewalo The impact of this bug is much wider than stated above. Merged-from authors still appear in author search results and in the author autocomplete drop-down. Very ugly. Priority 3 doesn’t really do it justice.

[2020-12-22 06:43] ksze opened #4322 "Incorrectly placed books on some shelves in the new Explorer"
I see some incorrectly placed books on some shelves in the new Explorer.

Please see this screenshot:
![image](https://user-images.githubusercontent.com/381556/102857583-a8d64d80-4463-11eb-8a65-e7e836aa6511.png)

e.g.
- 00X sub-shelf:
  - [823.914](https://openlibrary.org/works/OL82537W)
  - [621.3916](https://openlibrary.org/works/OL65487W)
- 01X sub-shelf:
  - [364](https://openlibrary.org/works

[2020-12-22 06:46] ksze commented on #4322
Actually, I think I just realized what happened. Some books have multiple codes for some reason, even though some of those codes don't seem to make sense:
![image](https://user-images.githubusercontent.com/381556/102858009-7d079780-4464-11eb-9a34-df9dce69d4f9.png)

[2020-12-22 06:54] ksze commented on #4322
Assuming the codes are indeed correct, I would suggest displaying the code that got the book on a the shelf instead of the first code in the list, to reduce confusion.

[2020-12-22 06:58] ksze commented on #4322
Looks like this is related to #4314.

[2020-12-22 07:45] mekarpeles commented on #4322
https://github.com/internetarchive/openlibrary/issues/4322#issuecomment-749380583

Thank you @ksze! Good insights, agreed

[2020-12-22 07:52] SouthGoingZax commented on #4285
Fixing the first problem also leads to:

[code]

Fixing that leads to the following, which looks like #4212, as @cclauss said.
[code]

That error message comes from infobase/server.py in ```save_many.POST()```: https://github.com/infogami/infogami/blob/3e9357c0184cd51921e198762c9f7d03b4589cf1/infogami/infobase/server.py#L152.

After a lot of digging, I can describe the problem and provide a work-a

[2020-12-22 14:46] cdrini opened #4323 "092 DDC shelf polluted with wrong works"
In DDC, `92` or `920` is sometimes appended to a DDC to denote "Biography". We have a clause to handle this if it's part of the same DDC ( https://github.com/internetarchive/openlibrary/blob/master/openlibrary/utils/ddc.py#L27 ), but some books have it as an entirely separate DDC; e.g.:

- `[ "979.4/830046872073", "92" ]` https://openlibrary.org/books/OL3029363M
- `[ "813/.54", "B", "92" ]` https:

[2020-12-22 16:10] dector commented on #4311
@SouthGoingZax Awesome, thanks! Can I remove duplicates somehow?

[2020-12-22 17:36] SouthGoingZax commented on #4311
You can request that duplicates be merged using the [contact form](https://openlibrary.org/contact).  It's an ability limited to people designated as admins and librarians.

[2020-12-22 19:19] dector commented on #4311
Got it, thanks a lot.

[2020-12-23 03:21] ksze commented on #4322
Also seems related: #4323

[2020-12-23 10:55] seabelis opened #4325 "Captcha removes changes to "tagged fields""
Captcha removes your changes to "tagged fields" i.e. if you choose to add an author via the drop down and then his/her name, this is bad if you have removed things in the free text fields. Then when you save the text will be remove but the added field will be gone.

Results
added Author is gone.
### Relevant url?

### Steps to Reproduce
Step to reproduce
1. add an "author" field
2. press enter in

[2020-12-23 17:50] mekarpeles commented on #4070
I have a call with policy team to offer feedback today. I will do my best to convey these thoughts. Thank you

[2020-12-23 18:27] mekarpeles opened #4326 "Prevents Docker Containers from Filling w/ Logs: ol-cover0"
### Summary

- **What is wrong?**

`ol-covers0` filled w/ logs because:

- **What caused it?**

1. Docker is having nginx route to `/dev/vda1` i.e. `/`
2. We are not rotating logs like we presumably are on `ol-covers1` and `ol-www1` (requires investigation)

- **What fixed it?**

Moved the logs from:

`ol-covers0:/var/lib/docker/containers/ea33a0bd2ef77eaf290186c5f96490707f73ded8d2888f8bcd6e495c30

[2020-12-23 18:28] mekarpeles commented on #4326
mek Today at 10:04 AM
`ol-covers0:/var/lib/docker/containers` is 34GB
`ea33a0bd2ef77eaf290186c5f96490707f73ded8d2888f8bcd6e495c3043fd2c/ea33a0bd2ef77eaf290186c5f96490707f73ded8d2888f8bcd6e495c3043fd2c-json.log` is 25GB of those GB

mek  20 minutes ago
[code]

mek  19 minutes ago
Looks like the nginx being logged for covers

mek  16 minutes ago
Temporarily moving the log to `/1/logs` to give us som

[2020-12-23 18:36] mekarpeles opened #4327 "Limit size of covers logs"
https://github.com/internetarchive/openlibrary/issues/4326

### Evidence / Screenshot (if possible)

Nagios alert, ran out of space on ol-covers0.

### Proposal & Constraints

On all relevant servers (e.g. `ol-cover0`):

1. change the mount location of logs off `/`
2. rotate logs.

### Related files

docker-compose.production.yml

See postmortem for other files

### Stakeholders

@cclauss  @cdrini

[2020-12-24 00:50] oweskeez commented on #4262
I came here to ask for this exact feature! I would love the json endpoints exposed for:

- https://openlibrary.org/people/me/books/currently-reading
- https://openlibrary.org/people/username/books/want-to-read
- https://openlibrary.org/people/owenmscott/books/already-read

P.S. it looks like the [Goodreads API is being deprecated](https://www.goodreads.com/topic/show/21788520-api-deprecation), so

[2020-12-24 04:16] awebdeveloper commented on #4269
@jamesachamp  I can raise a PR to change the width

[2020-12-24 04:20] awebdeveloper commented on #805
I see  duplicate copies of may books (search for books of Malcom Gladwell or "think and grow rich "or "the subtle art of not giving a fuck"). bumping this thread again

[2020-12-24 06:07] mekarpeles commented on #4070
The right teams are investigating if and how they may be better surfaced to patrons in a way which addresses the spirit of this issue. I will continue to give them all the information I can to support their process and will advocate for transparency and the library standards which are in all of our best interests. I am not in a position to make these policy decisions.

For this reason, I am closin

[2020-12-24 06:07] #4070 closed

[2020-12-24 11:06] jamesachamp commented on #4269
@awebdeveloper Go for it!

[2020-12-24 16:17] smoqadam opened #4328 "API: fetch list of main subjects"
### How can get the list of all main subjects?

is there any API to fetch this list:
![image](https://user-images.githubusercontent.com/1223848/103098618-61f47d80-4646-11eb-93ff-1ccc4bb409a1.png)

Thank you

[2020-12-24 18:24] tfmorris commented on #4328
No. It's a hardcoded-English only list embedded in the source code: https://github.com/internetarchive/openlibrary/blob/9718ae2731b7bcaedb3e48884fcf5251298c6a92/openlibrary/plugins/openlibrary/home.py#L99-L102
as are the carousel categories:
https://github.com/internetarchive/openlibrary/blob/9718ae2731b7bcaedb3e48884fcf5251298c6a92/openlibrary/plugins/openlibrary/home.py#L25-L30

[2020-12-24 20:09] nynaalekhya commented on #4082
@mekarpeles
Hi,
I'm interested in working on this issue. Could you please assign me this issue.

[2020-12-26 23:13] #3978 closed

[2020-12-26 23:52] #2702 closed

[2020-12-27 01:14] Romi-776 commented on #4047
** Hey, @Yashs911 and @cdrini. **

Maybe I found the solution to this issue but I don't know how to implement this?

What's going on in this issue?
    The book cover (of book "I am going to read") is not visible on this page: https://openlibrary.org/collections/k-12
    But it should be visible.

* The information I found: *
    Image link of this book on that page is:- https://covers.openlibrary

[2020-12-27 01:51] tfmorris commented on #4225
Another https://openlibrary.org/authors/merge?key=OL640098A&key=OL5450170A&key=OL2833147A&key=OL2345255A&key=OL249916A&key=OL8278962A&key=OL3599758A&key=OL6557211A&key=OL6228601A&key=OL7551973A&key=OL1729497A&key=OL3144881A&key=OL8644521A

[2020-12-27 02:06] mekarpeles commented on #3986
cc: @finnless

[2020-12-28 03:07] jamesachamp commented on #3399
Following up on this.  It looks like fixing this completely will require changes in both Internet Archive and Open Library.  @mekarpeles  what are your thoughts on this?

[2020-12-28 17:13] cdrini commented on #4252
@mekarpeles Note: Logs might need to be longer-lived on www1, and regularly uploaded to IA.

[2020-12-28 17:56] cdrini commented on #4252
@cclauss One purpose is being able to build static files _at all_ :) Currently we have to build the static files on ol-home outside of docker; this is going to be deprecated as we work towards #4060 .

Another important purpose is that we make our nginx confs available to the community, so they can make changes which would currently be impossible for them to do (e.g. add HTTP/2 support).

[2020-12-28 18:09] cdrini commented on #3988
Voila Nick's blog post! https://blog.openlibrary.org/2020/12/16/introducing-the-open-library-explorer/

Also the blog post on IA from Wendy: https://blog.archive.org/2020/12/21/what-if-you-could-wander-the-library-stacks-online/

[2020-12-28 18:09] #3988 closed

[2020-12-28 18:44] #2566 closed

[2020-12-28 18:46] mekarpeles commented on #4326
Closed by the opening of https://github.com/internetarchive/openlibrary/issues/4327

[2020-12-28 18:46] #4326 closed

[2020-12-29 12:51] dherbst commented on #4328
This PR could add an api to get the subjects https://github.com/internetarchive/openlibrary/pull/4336.  I'm not sure if this is the best url to use for the api - looking for feedback on that.

[2020-12-29 13:54] smoqadam commented on #4328
@dherbst Thanks.

what about `/subjects/featured.json` or `/subjects.json?featured=true`?

[2020-12-30 12:24] prakashaditya369 commented on #3630
@tabshaikh We could add both the user's list as well as all lists in the "Menu of Want to Read Button" with different categories.

Is this issue open to work?

[2020-12-30 17:09] cclauss commented on #4285
I did more testing and found a problem on my wife’s book…
[`./scripts/copydocs.py /books/OL26617202M`](https://openlibrary.org/books/OL26617202M/La_Grande_Neige_(French_Edition))

[2020-12-31 02:02] #4327 closed

[2020-12-31 16:52] cdrini commented on #4212
[code]

[code]

[2020-12-31 17:08] cdrini commented on #4212
Error you were asking for from work merge:

[code]

[2020-12-31 17:21] SouthGoingZax commented on #4212
Per our off-issue discussion, that's the same error seen in https://github.com/internetarchive/openlibrary/issues/4285#issuecomment-749400874, so it makes sense that the PR there resolves this issue too.

[2020-12-31 18:25] #4285 closed

[2020-12-31 18:28] cclauss commented on #4212
Was this issue closed by #4338 ?

[2020-12-31 21:48] mekarpeles opened #4340 "TypeError at /api/import: argument should be integer or bytes-like object, not str"
### Evidence / Screenshot (if possible)

Noticing that BWB Imports are completely halted because of some bug
2020-12-30/224049836043 on ol-web2

[code]
### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

[2021-01-01 03:39] serv opened #4342 "Hover over 1 Hour Borrow Audio button flickers and width of the button gets way too big"
### Evidence / Screenshot (if possible)

![1-hour-borrow](https://user-images.githubusercontent.com/103456/103433038-fad34d80-4b9e-11eb-9952-99b0aa41ef65.png)

### Relevant url?
https://openlibrary.org/books/OL362125M/Rainbow_Six

### Steps to Reproduce
1. Using Firefox or Brave to go https://openlibrary.org/books/OL362125M/Rainbow_Six
2. Under different editions of the book section, hover over th

[2021-01-01 03:54] serv opened #4343 "Allow dash `-` for entering ISBN-13 when submitting an edition of a book"
### Describe the problem that you'd like solved

When entering ISBN-13 when submitting an edition of a book, can you allow dashes? Currently only numbers allowed.
![numbersonly](https://user-images.githubusercontent.com/103456/103433184-bac19a00-4ba1-11eb-92f1-a4a1d0e273aa.PNG)

When I try to copy over the value from Amazon which has a dash in the value, the UI throws an error.
![amazon](https://u

[2021-01-01 07:52] Yashs911 commented on #4342
@serv I would like to work on this issue.

[2021-01-01 08:08] Yashs911 commented on #4342
![ol](https://user-images.githubusercontent.com/64412143/103435572-70d6c380-4c36-11eb-8d7a-1227bb0a99ed.JPG)
this issue is caused due to this. @jamesachamp if possible can you please help why we need this particular media query.

[2021-01-01 08:18] Sabreen-Parveen commented on #4343
@serv I would like to work on this issue

[2021-01-01 17:28] BrittanyBunk commented on #4343
that would be awesome and then it can automatically convert it to a number without the hyphen

[2021-01-01 17:38] BrittanyBunk opened #4353 "What's the difference between a book and a document?"
I asked this in the librarians github, but no clear answer. I looked and didn't see much. Maybe it can be explained here and then added on the OL website to help others understand too. I bet I'm not the only one out there who doesn't get this.

[2021-01-03 13:32] Sabreen-Parveen commented on #4343
@serv instead of adding only dashes, I think we should add a proper validation function to check whether it satisfies the condition of isbn 13 or not as shown in the following snippet:
[code]

[2021-01-03 13:58] BrittanyBunk commented on #4343
@Sabreen-Parveen that looks great - adding the validation check after the hyphen/spaces are gone. I would actually recommend adding a comma and period to the list of characters to remove, as sometimes when copying/pasting, people may accidentally highlight those. Also you could add in letters too (except for X) as ones to remove, as maybe someone is putting that into the copy/paste too. The rest o

[2021-01-03 15:41] LeadSongDog commented on #4343
It’s great to test that it is a numerically-allowed isbn13, but not every such number corresponds to a published book. That can only be tested by searching for libraries holding it or vendors with available  inventory.

[2021-01-03 16:10] LeadSongDog commented on #4353
All books are documents. Few documents are books. Letters, memoranda, certificates, currency, tweets, newspaper articles, even passports are examples of non-book documents. Edge cases such as bound volumes containing several issues of a published serial can be debated, but normally a book has a text, a publisher, a place and year of publication, and an author(s), editor(s), or compiler(s) who take

[2021-01-03 16:52] cclauss commented on #4318
% __cat distribute_docker_payload.sh__  # on `ol-home0`
[code]

[2021-01-04 02:39] BrittanyBunk commented on #4343
@LeadSongDog I would also say it would be ridiculous for someone to wait while the computer verifies if their ISBN is valid.

What really is better is if someone puts in an ISBN (10 or 13), that the one they don't have magically appears. The reason is that it's so hard to look for a book with just one ISBN - whether it's the searcher or the search engine. To me, that's way more important than cari

[2021-01-04 02:50] BrittanyBunk commented on #4353
@LeadSongDog I see. Not every book has an author - as sometimes it's just the publishing company that is or anonymous. Even publisher is a little iffy, as many books these days are not published - they're like self-published. What if it was never published, like an unfinished book - is that still a book or just a 'work'? Also 'place' is off, as a lot can be published online - good luck locating th

[2021-01-04 15:02] #4212 closed

[2021-01-04 16:36] LeadSongDog commented on #4225
This smells like a symptom of an old issue. Variant spellings of author names, particularly with similar-looking accentuation, are often mangled.
Compare @tfmorris example
{"name": "Moma Dimi\u0107", "personal_name": "Moma Dimic\u0301", "key": "/authors/OL640098A", "type": {"key": "/type/author"}, "alternate_names": ["Moma Dimic"], "latest_revision": 3, "revision": 3, "created": {"type": "/type/da

[2021-01-04 17:06] LeadSongDog commented on #4225
This smells like a symptom of an old issue. Variant spellings of author names, particularly with similar-looking accentuation, are often mangled.
Compare
{"name": "Moma Dimi\u0107", "personal_name": "Moma Dimic\u0301", "key": "/authors/OL640098A", "type": {"key": "/type/author"}, "alternate_names": ["Moma Dimic"], "latest_revision": 3, "revision": 3, "created": {"type": "/type/datetime", "value":

[2021-01-04 17:41] cclauss commented on #4225
Related to https://sentry.archive.org/sentry/ol-web/issues/14081 ?

[2021-01-04 18:10] #4272 closed

[2021-01-04 18:44] LeadSongDog commented on #4353
@BrittanyBunk
At the OL the terms Book and Edition are rather too fungible (some would say sloppy), but that’s not likely to change any time soon. To clarify our thinking, it helps to understand the FRBR concepts of Work, Edition, Expression, and Instance even if they are not well applied here. Each of these items has some conceptual range, but nowhere as wide a range as OL’s Book. Here we treat t

[2021-01-04 20:39] cdrini opened #4355 "Library Explorer Links to specific shelf/state"
There should be a way to link to a specific shelf/library state.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders
@mekarpeles

[2021-01-04 20:40] cdrini opened #4356 "Library Explorer "Search Shelves" option"
Want a way to jump to a specific shelf with ~fuzzy search.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-01-04 20:42] cdrini opened #4357 "Link to library explorer from OL book page"
Want a way to jump to a book's shelf in Library Explorer from the book's OL page.

Blocked on #4355

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-01-04 20:46] mekarpeles commented on #3984
Closing:
1. Deprecate google doc Menu for Volunteers
2. Add links to each section in /volunteer page to each lead's good-first-issues/help-wanted
3. Leads will be responsible for setting good-first-issues and help-wanted (they can provide a link in response to emails they receive from volunteers)

[2021-01-04 20:46] #3984 closed

[2021-01-04 20:51] cdrini opened #4358 "Give Nick full access to blog.openlibrary.org"
This is blocking Nick from contributing blog posts efficiently. The process was weird; he has an account blog.archive.org, but can't log in to blog.openlibrary.org , I believe.

[2021-01-04 20:54] cdrini opened #4359 "BWB Import Errors"
- BWB Import error; perhaps around dates?
- BWB gets stuck after hitting some sort of rate limit?

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related

[2021-01-04 21:02] cdrini opened #4360 "Copy for "Borrow" button"
Got comments from Brewster that the "1 hour borrow" on the homepage (maybe everywhere?) might cause confusion. Let's discuss.

[2021-01-04 21:27] cdrini opened #4361 "Borrowbot has error with multiple replies"
When someone replies to borrowbot, it repeats its message. It shouldn't say anything after its responded once?

(Note: this is a bots issue, but placed here to make our project management saner)

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Opera

[2021-01-04 21:34] cdrini opened #4362 "Bookshelves appear empty on Chrome"
Bookshelves appear empty until scrolling happens.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/explore

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stake

[2021-01-04 21:40] cdrini commented on #3576
Released as MVP at https://openlibrary.org/explore! Also see blog post.

[2021-01-04 21:40] #3576 closed

[2021-01-04 21:53] mekarpeles commented on #4282
See: #3984  Leads will manage their own email outreach to volunteers + propose & manage their own Epics, and set good first issues.

Should be codified in getting started or wiki lead table?

[2021-01-04 21:54] cdrini opened #4363 "Add jenkins to ol-home0"
We're using Jenkins for solrbuilder + staging deploys ; want a way to trigger it securely from our own infra. Currently it's triggered/run by OJF, which isn't really what it's made for.

Related #3971

[2021-01-04 21:59] cclauss commented on #3630
@prakashaditya369 This issue is in an open state so if you know how to fix it then please submit a pull request.  Waiting is not required.

[2021-01-04 22:41] cdrini commented on #3992
@abezella and @mekarpeles Decomissioned ol-web4 as well 🎉

[2021-01-05 04:36] BrittanyBunk commented on #4353
@LeadSongDog It's strange that two identical copies of a book are considered two different books in the OL - that shouldn't happen. You lost me in the 2nd paragraph. To me, it's an ebook - I wouldn't call it a document - doesn't matter the format. I just don't see why it's not an ebook - the OL terms are just not making sense - it's not enough is the issue to determine what's what from it.

[2021-01-05 07:02] Yashs911 commented on #4360
@cdrini Issue #4342 is also caused due to the "1 hour Borrow" text. I have provided a solution (PR #4344), But I guess it will be better to use some other word.

[2021-01-05 15:42] cclauss commented on #4318
% __cat scripts/update_ol_repos.sh__
[code]

[2021-01-05 15:58] cclauss commented on #4318
Does [fabfile.rsync_repo()](https://github.com/internetarchive/olsystem/blob/master/fabfile.py#L211) work as is?

Or will we need a script like the one above that we run on each node?

[2021-01-05 16:38] kylewill opened #4364 "Status of "save" or "edit" API?"
The docs at https://openlibrary.org/dev/docs/restful_api reference a `save` API:

Modifying objects can be done by sending a PUT request to the resource url with appropriate Content-Type header. The currently supported format is only JSON.

The page hasn't been updated since 2015, is there a programmatic way to edit OpenLibrary `thing`s?

I'm building a simple background creator for zoom users tha

[2021-01-05 17:00] BrittanyBunk opened #4366 "Add a community github"
Problem - no place for the community to put their project files, except on their own profiles.

Solution - have a community OL/IA github. I created an example here: https://github.com/BrittanyBunk/OL-and-IA-community-files/tree/master
- each person would have their name followed by folder categories: projects, tips, archived discussions, etc. with the files/subfolders in each.

Reasons:
 - the git

[2021-01-05 17:27] Sabreen-Parveen commented on #4182
@cdrini in the isbn field which isbn should we include isbn 10 or isbn 13? As isbn 13 is new I think including isbn 10 will be good.

[2021-01-05 17:59] cclauss commented on #4343
@Sabreen-Parveen My sense is that we have two operations.
1. n = n.replace('-','').replace(' ', '')
2. the remaining validation logic.

Please put these into two separate PRs because:
1. is trivial but will make life easier for users so we should land it quickly.
2. is cool but might overlap with validation logic that [we import](https://github.com/internetarchive/openlibrary/blob/master/requireme

[2021-01-05 18:12] BrittanyBunk commented on #4343
@cclauss good idea, as bookfinder doesn't have a way to download all their isbn's.

[2021-01-05 19:41] BrittanyBunk commented on #686
I'd like to be invited to slack

[2021-01-05 19:47] BrittanyBunk opened #4367 "2021 community call"
When is it?

[2021-01-05 19:56] LeadSongDog commented on #4353
“Two identical copies of a book” in FRBR-speak is “two instances of a single manifestation”. OL sloppily refers to them as two editions, which causes no end of confusion. Sadly OL can’t handle more than one IA record link per OL “edition” record, forcing us to have distinct OL pseudo-“edition” records for each instance of popular editions to avoid over-long waiting lists.

A PDF is a pretty lame e

[2021-01-05 19:59] #4249 closed

[2021-01-05 20:21] BrittanyBunk commented on #4353
@LeadSongDog thank you for getting to the nitty gritty on this. It would help if OL did put these 'instances' together. Would make life much better.

Maybe this can be called a dissertation or something. Maybe both of our definitions are too encompassing, as I bet scientific articles can be put underneath these - maybe even magazines! I checked Wikipedia and how it discerns it is monograph vs seri

[2021-01-05 22:03] mekarpeles commented on #363
I don't think "remember me" is working. Patrons often report having to re-log back in (either because of the session duration or other variables).

@SouthGoingZax do you have bandwidth to investigate this one? Likely the two files of interest are:
- https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/upstream/account.py#L328

Other possible considerations:
- When we logi

[2021-01-06 03:31] shrey27tri01 commented on #3296
@ArunTeltia Are you currently working on this issue? If not, can I proceed with this?

[2021-01-06 03:36] shrey27tri01 commented on #4288
@Sabreen-Parveen are you working on this issue? If not, can I take this up @jamesachamp?

[2021-01-06 05:09] Yashs911 opened #4371 "Rating Stats round off stars to lowest integer"
Ratings like 3.99, 3.84 print only 3★.
### Evidence / Screenshot (if possible)
![ol](https://user-images.githubusercontent.com/64412143/103731457-350f7580-500b-11eb-9546-b6ba811c424d.PNG)

### Relevant url?

https://openlibrary.org/books/OL362125M/Rainbow_Six

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** Chrome
- **Operating system?** Windows 10
- **Environment (prod/dev/local

[2021-01-06 08:37] Sabreen-Parveen commented on #4288
@shrey27tri01 this issue has already been resolved and I have attached a PR, you can look for some other issues :)

[2021-01-06 15:37] cclauss commented on #4276
Dropped `docker-compose.infogami-local.yml` from:
https://github.com/internetarchive/openlibrary/wiki/Production-Service-Architecture
https://github.com/internetarchive/openlibrary/wiki/Deployment-Guide

[2021-01-06 18:37] nynaalekhya commented on #4362
@cdrini
Hi,
Could I work on this issue?

[2021-01-06 18:39] nynaalekhya commented on #4362
I think this may be caused due to IntersectionObserver.

[2021-01-06 19:07] nynaalekhya commented on #3611
@jdlrobson  Can I work on this issue?

[2021-01-06 19:12] nynaalekhya commented on #3713
@jdlrobson Hi,
Can I work on this issue?

[2021-01-07 03:23] jdlrobson commented on #3611
@nynaalekhya I think focusing on https://github.com/internetarchive/openlibrary/issues/3713 would be better. This doesn't look super high priority to me and the description could do with some additional data.

@spamspambaconspam  could you provide some more information here such as the URI you were using to generate this bug report? I'm  unable to replicate it..

[2021-01-07 03:26] jdlrobson commented on #3713
@nynaalekhya fine with me, provided @mekarpeles has no objections.

[2021-01-07 03:26] jdlrobson commented on #3264
@nynaalekhya do you have any interest in looking at fixing the alignment of those list items (the space marked by the blue box under Favourites) ?

[2021-01-07 04:14] Yashs911 commented on #3713
Hi, @nynaalekhya. I have solved this issue locally, but as you claimed it first, if you have no problem, can I create a PR for this issue. If you want to solve this issue, I don't have any problem 😄

[2021-01-07 11:02] #4360 closed

[2021-01-07 11:09] Yashs911 commented on #4342
@cclauss #4374 fixed this issue. Should I close my PR?? and we can close this issue.

[2021-01-07 12:44] cclauss commented on #4342
Yes and yes.  Thanks!

[2021-01-07 12:44] #4342 closed

[2021-01-07 14:28] Yashs911 commented on #3264
@jdlrobson I would like to work on this issue.
My sol:
![ol sol lists](https://user-images.githubusercontent.com/64412143/103903945-98d89200-5122-11eb-9295-fbe8f6aa152f.png)

[2021-01-07 14:44] shrey27tri01 commented on #4200
I am working on this issue. Will raise a PR soon :)

[2021-01-07 15:05] cclauss commented on #4060
Questions:
* What is the status of / action plan for #2032 ?
* What is meant by [`deploys vs build directories`](https://github.com/internetarchive/openlibrary/issues/4249#issuecomment-744639377)
* Does [fabfile.rsync_repo()](https://github.com/internetarchive/olsystem/blob/master/fabfile.py#L211) work as is?

[2021-01-07 17:58] nynaalekhya commented on #3611
@jdlrobson  Thank you for assigning me the other issues.
But since the issues have already been worked on by someone else, can I take up this one?

[2021-01-07 18:01] nynaalekhya commented on #3611
Maybe this could summarized as,

Go to https://openlibrary.org/books/OL23764632M/The_Best_Short_Stories_of_1915 > Click on "work details" tab

1st case:  The preview text overflows when lengthy sentence is entered

![cap3](https://user-images.githubusercontent.com/50094420/103927502-4d48c880-50cf-11eb-8ad2-160065b58347.JPG)

[2021-01-07 18:04] jdlrobson commented on #3611
@nynaalekhya I don't recommend this particular task as I don't actually understand the issue here and want further information. How about #2597 ?

[2021-01-07 18:04] nynaalekhya commented on #3611
2nd case:  Enter 01. and enter spacebar twice  in "How would you describe book" textbox to reproduce the following,

Input:

![cap1](https://user-images.githubusercontent.com/50094420/103927686-9dc02600-50cf-11eb-8b58-18d1a0baaf4d.JPG)

Output:

![cap2](https://user-images.githubusercontent.com/50094420/103927734-b0d2f600-50cf-11eb-8fe6-78f8dc1ccfbe.JPG)

[2021-01-07 18:07] nynaalekhya commented on #3611
@jdlrobson
Yeah sure, I will take up that issue.
Thank you

[2021-01-07 18:07] jdlrobson commented on #2597
@mekarpeles I think we hid lists in the new redesign and this is not relevant any more so closing this out. Please reopen if I'm wrong.

[2021-01-07 18:07] #2597 closed

[2021-01-07 18:13] nynaalekhya commented on #3713
@Yashs911  Fine for now, but claim the issue before you work on it.

[2021-01-07 18:15] nynaalekhya commented on #3611
@jdlrobson #2597 Is this closed?

[2021-01-07 18:16] jdlrobson commented on #2836
this appears to be fixed

<img width="911" alt="Screen Shot 2021-01-07 at 10 15 45 AM" src="https://user-images.githubusercontent.com/148752/103928897-4fac2200-50d1-11eb-9daa-fe120b2211d2.png">

[2021-01-07 18:16] #2836 closed

[2021-01-07 18:18] nynaalekhya commented on #2754
@jdlrobson Since this one is open, can I work on this one?

[2021-01-07 18:19] jdlrobson commented on #3611
Yep I think any of these issues would be better, but I've not been checking them in a while, so any help working out which are still broken would also be helpful :) https://github.com/internetarchive/openlibrary/issues?q=is%3Aopen+label%3A%22Lead%3A+%40jdlrobson%22+label%3A%22Priority%3A+3%22+-label%3A%22Type%3A+Feature+Request%22

[2021-01-07 18:28] nynaalekhya commented on #3611
@jdlrobson
Certainly! Thank you.

[2021-01-07 18:51] BrittanyBunk commented on #2836
that is amazing! Not having to deal with those blank covers is a big weight/load off here. Great work everyone.

[2021-01-07 18:52] BrittanyBunk commented on #4343
I just wanted to say I'm really glad people are thinking about and are working on this issue. It's a common issue that I bet a lot of people face.

[2021-01-07 18:57] BrittanyBunk opened #4377 "Would manual, mass editing the OL using data dumps be undesirable?"
**Problem:**
there're a lot of issues on the OL of missing or incorrect info. I really want to work on it. However, sometimes it's important to not work on some of these issues until they're recognized, as a lot of work in the OL is run by bots and working over their work can cause the issue of not recognizing what they're doing wrong or not doing. Another issue is that due to the transition to ne

[2021-01-07 20:32] LeadSongDog opened #4379 "Fix Invalid Availability Button: Fix Bulk Availability API to not erroneously return `private` for records without `lending___status`"
Edition pages for editions that are available show Not in library in the edition list even though there is a Read button for the work higher on the page that links to the very same IA record.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/books/OL26321569M

### Steps to Reproduce
Try it and see

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?** y
- **B

[2021-01-07 20:41] nynaalekhya commented on #2874
@jdlrobson I'm interested in working on this issue, could I take it up?

[2021-01-07 20:44] nynaalekhya commented on #2874
@xayhewalo This could be the url: https://openlibrary.org/people/jack_hunter19/lists/OL159681L/My_books

[2021-01-07 22:03] nynaalekhya commented on #2995
@jdlrobson Hi, I could not replicate this bug.

[2021-01-07 22:12] tfmorris commented on #4225
@LeadSongDog If you fix all the test cases by hand, the programmers aren't going to have anything to debug the problem with.
@cclauss That URL goes to a login page which doesn't appear to accept OpenLibrary credentials.

[2021-01-08 00:57] LeadSongDog commented on #4225
@tfmorris Sure. Here’s another example. See
https://openlibrary.org/authors/merge?key=OL4963941A&key=OL5636553A&key=OL5568484A

[2021-01-08 01:31] jdlrobson commented on #2995
I also cannot replicate. This is working fine for me. Thanks for the ping @nynaalekhya.

Closing as invalid. Happy to reopen if futher information can be provided that includes replication steps and screenshots.

[2021-01-08 01:31] #2995 closed

[2021-01-08 01:36] jdlrobson commented on #2874
Sounds good.Yes this relates to any list page e.g.
https://openlibrary.org/people/123libro/lists/OL158195L/bedtime#listTools

I think the preferred solution here would be to use flex box similar to how we do it on https://openlibrary.org/lists to show 2-3 columns depending on space.

e.g. like this:
<img width="682" alt="Screen Shot 2021-01-07 at 5 35 34 PM" src="https://user-images.githubusercont

[2021-01-08 01:58] jdlrobson commented on #4200
At first, I thought this was serious, but now looking into it, the hamburger button works fine for me on my mobile device so this is probably not an issue for real mobile devices.

Note:  In developer console,whether you enable or disable this icon will give you different results:
<img width="75" alt="Screen Shot 2021-01-07 at 5 54 48 PM" src="https://user-images.githubusercontent.com/148752/10396

[2021-01-08 02:21] cdrini commented on #3992
This will be closed by  internetarchive/olsystem#111

[2021-01-08 02:40] #4276 closed

[2021-01-08 02:43] Yashs911 commented on #4200
@jdlrobson Yes, I tried to use the hamburger button on my mobile to close it but it doesn't work.

[2021-01-08 02:57] cdrini opened #4382 "Improve docker-based environment/deployment"
- [x] #4276 Default to Python 3.8.6
- [x] #4391 Remove `/openlibrary` volume mount from docker-compose.production.yml
 - [x] #4375 Add vim and emacs to Dockerfile.olbase
 - [ ] #4395 Scripts for production deployments

[Deployment Scratchpad](https://github.com/internetarchive/openlibrary/wiki/Deployment-Scratchpad)

[2021-01-08 02:59] cdrini opened #4383 "Create cron jobs docker-compose service"
~Fixed in #4387~
Fixed in ~internetarchive/olsystem#118~
Subtask of: #4060

We have a number of cron jobs that are run on `ol-home` ; in order to run this in our docker-based `ol-home0` node, we should place them in a service. Note these cron jobs live in olsystem.

* [x] Transfer ol-home cron jobs to a new cron file.
* [x] Ensure all ol-home cron jobs run on ol-home0
    * [x]  #4622 `/olsystem/b

[2021-01-08 03:02] cdrini commented on #4060
Is it ok if we revert this back to be about ol-home? I think we were swapping the places of #4060 and #4318 . I've organized them as:

- This issue (#4060) -> Goal is deprecate ol-home. Lists all the services that will need to be moved over.
- #4318 Deployments should be triggered from ol-home0 -> goal is the command we run for deploying should happen on ol-home0, not ol-home
- #4382 Improve docke

[2021-01-08 03:12] cdrini opened #4384 "Remove Python 2 support"
Blocked by ~#4324 and~ #4383 (The last of our production code that still uses Python 2)

Purpose: Faster and smaller builds/CI!
- [x] #4385 Remove testing on 2.7 from CI
- [x] #4386 Remove 2.7.6 install from olbase

[2021-01-08 03:13] shrey27tri01 commented on #4200
@jdlrobson That's strange, because the hamburger doesn't work on my mobile device, I tried it on both Chrome as well as Firefox.
Maybe it works on only some devices?

[2021-01-08 03:15] cdrini commented on #3443
Ooops, meant to put #4382 on sprint

[2021-01-08 03:44] jdlrobson commented on #4200
Maybe. Does seem a bit of a delay
![Screenshot_20210107-194325_Chrome](https://user-images.githubusercontent.com/148752/103971946-b7d62480-5120-11eb-90cf-513ce2af09ad.jpg)

[2021-01-08 03:51] jdlrobson commented on #4200
Ok I think I see what's happening here. Clicking the button will retain the focus.

We should use the checkbox hack for this menu and all the other menus. It will be better than a javascript hack to fix this.
https://css-tricks.com/the-checkbox-hack/

[2021-01-08 03:55] mahi0601 commented on #4306
Can i work on this issue @Kartik1397

[2021-01-08 04:45] #3713 closed

[2021-01-08 15:26] BrittanyBunk commented on #2874
@xayhewalo I felt I didn't need to, because it says 'list' in there, but yes, it's the lists.

[2021-01-08 15:28] BrittanyBunk commented on #2874
@jdlrobson way better than my original idea for sure

[2021-01-08 15:49] BrittanyBunk opened #4389 "Recent activity not showing on list page"
Problem:
https://openlibrary.org/lists shows
![image](https://user-images.githubusercontent.com/55302685/104034250-7c217600-5185-11eb-84bb-4cddefc34b54.png)

when it should be filled with
![image](https://user-images.githubusercontent.com/55302685/104034301-8e9baf80-5185-11eb-9219-2b62e46b081f.png)

Solution:
- remove 2nd column of active lists
- add in from recent changes page: https://openlibrar

[2021-01-08 15:52] Yashs911 commented on #4389
@BrittanyBunk  its due to alignment error (#3264)
![image](https://user-images.githubusercontent.com/64412143/104034921-83816780-51f7-11eb-9bf3-cb9a122d12bb.png)

[2021-01-08 15:54] #4389 closed

[2021-01-08 15:54] BrittanyBunk commented on #4389
duplicate

[2021-01-08 16:52] Kartik1397 commented on #4306
Sure @mahi0601.

[2021-01-08 19:58] BrittanyBunk commented on #4379
I brought this issue up before if you'd like to help me find it

[2021-01-08 20:03] BrittanyBunk commented on #2616
@mekarpeles this is still an issue as it's been brought up again in #4379. Please reopen, so there's no duplicates.

[2021-01-08 20:37] jdlrobson commented on #2754
should be fixed now.

[2021-01-08 20:37] #2754 closed

[2021-01-08 23:43] LeadSongDog commented on #4379
@BrittanyBunk This issue refers to the canonical page not the carousels.

[2021-01-08 23:48] BrittanyBunk commented on #4379
@LeadSongDog it doesn't really matter, because it's the same issue. If you want me to be less specific and just say that there are mismatches of the thumbnail to reality, I can do that. I'll do that now.

[2021-01-08 23:49] BrittanyBunk commented on #4379
@LeadSongDog ok, I changed it - now this is a duplicate.

[2021-01-09 02:20] jamesachamp commented on #4367
Tuesdays at 10:00 AM PST.

[2021-01-09 02:56] #3186 closed

[2021-01-09 07:12] BrittanyBunk commented on #4367
@jamesachamp thanks, because I was going off the wiki, so it gave me the wrong time.

[2021-01-09 07:13] BrittanyBunk commented on #4367
I'm really glad it's at 10. I just can't do 11:30 - it's way too late in the day and is around lunch time.

[2021-01-09 07:14] #4367 closed

[2021-01-09 10:22] shrey27tri01 commented on #4200
@jdlrobson Really sorry for the late response! Could you please help me regarding which file do I start with? I tried having a look and started with the HTML template files at [`/openlibrary/templates`](https://github.com/internetarchive/openlibrary/tree/master/openlibrary/templates), but couldn't figure out which static files are being used in which template, and which files do I actually have to

[2021-01-09 10:34] Yashs911 commented on #4200
@shrey27tri01
HTML file [nav_head.html](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/lib/nav_head.html)
CSS file [header-bar.less](https://github.com/internetarchive/openlibrary/blob/master/static/css/components/header-bar.less)

[2021-01-09 17:04] jdlrobson commented on #4371
Why? I don't consider this a bug. It's important context that its 3.94 (almost 4) and not 3. Even Amazon does this.

I would like to decline this without strong reasoning.

[2021-01-09 17:10] jdlrobson opened #4396 "Bump flot from 0.8.3 to 4.2.1"
The project uses an outdated version of the flot library. We should upgrade it, making the required changes to make our code work with the new version.

### Steps to Reproduce
1. Pull down the patch https://github.com/internetarchive/openlibrary/pull/4346
2. Run `npm run build-assets:js` and see a JS error `ModuleNotFoundError: Module not found: Error: Can't resolve 'flot/jquery.flot.stack.js' in

[2021-01-09 17:10] Yashs911 commented on #4371
@jdlrobson we can use half star rating instead just like goodreads
![image](https://user-images.githubusercontent.com/64412143/104104053-a8dfa580-52cb-11eb-8399-a22bafdf849b.png)

[2021-01-09 17:18] Yashs911 commented on #4371
@jdlrobson, I am not asking to round off the 3.94 value. I am saying we should either use fraction star or round off the number of stars.

[2021-01-09 17:57] jdlrobson commented on #3916
I can't replicate this bug using the description steps. Did we fix this by other means?

<img width="498" alt="Screen Shot 2021-01-09 at 9 53 50 AM" src="https://user-images.githubusercontent.com/148752/104105068-9419f800-5260-11eb-9bca-8973e47d55b8.png">

[2021-01-09 17:58] tfmorris commented on #4371
The two alternatives are:
1. *** 3.94
2. **** 3.94

@jdlrobson Why do you think the first (ie the current behavior) is better than the second?

[2021-01-09 18:01] Yashs911 commented on #3916
@jdlrobson I guess the **Check Availability** option was removed

[2021-01-09 18:06] jdlrobson commented on #4371
Ideally this would be a half star and a fraction.
Saying something is 3/5 stars when actually it is 3.95 is a bit controversial IMO.

What I'm asking here is what exactly is the problem statement here? This seems like a non-problem to me. The onus should be on the proposer to

[2021-01-09 18:11] #4012 closed

[2021-01-09 18:19] ArunTeltia commented on #3916
Yes I think of the same @Yashs911 I i will close this issue with this comment

[2021-01-09 18:19] #3916 closed

[2021-01-09 18:23] #4082 closed

[2021-01-09 19:46] mekarpeles commented on #4379
@BrittanyBunk the availability for the Editions List on the Canonical Books Page is calculated in a specific way using Archive.org availability API at an edition level.

The specific problem you cited regarding **carousels** is different than this issue. It's not important that it's a "thumnail", it's important where the button is being calculated.

Recently we added code to ensure that carousels

[2021-01-09 20:16] mekarpeles opened #4398 "Book Donations Flow"
By piloting book sponsorship, we've learned a lot about what patrons are looking for in a book donation flow (compared to our vanilla process of emailing the Archive, checking if a title is available, and mailing the book to our physical archive -- as described in https://openlibrary.org/bookdrive.

A benefit of the sponsorship flow is it helps patrons identify which titles may not yet be in the c

[2021-01-09 20:19] tfmorris commented on #4225
Merging the two Césars here: https://openlibrary.org/authors/merge?key=OL286312A&key=OL193196A&key=OL5331799A&key=OL48705A&key=OL272369A&key=OL442395A&key=OL6176715A&key=OL5051614A&key=OL4211124A&key=OL7966930A&key=OL1532037A&key=OL680450A&key=OL5070419A&key=OL4311841A&key=OL350468A&key=OL1216404A&key=OL2489830A&key=OL5233891A&key=OL391454A&key=OL81538A&key=OL972595A&key=OL1083110A&key=OL5051613A&

[2021-01-09 22:16] LeadSongDog commented on #4225
Again, looking at the json shows different Unicode in the names between
https://openlibrary.org/authors/OL48705A.json and https://openlibrary.org/authors/OL6176715A.json

[2021-01-10 16:28] bitnapper commented on #4225
These also cannot be merged: OL29655A,OL7558884A,OL7488497A,OL7465736A,OL7967793A,OL7624788A,OL7562656A

[2021-01-10 18:27] cclauss opened #4400 "scripts/copydocs.py /books/OL26617202M does not update book count"
### Evidence / Screenshot (if possible)
https://openlibrary.org/search/authors?q=Fabienne+Clauss author has 1 book...
1. Launch Open Library in a Docker container on localhost.
2. `open http://localhost:8080/status`  # to ensure OL is running properly
3. `http://localhost:8080/search/authors?q=clauss`  # there should be no hits
4. `docker exec -it openlibrary_web_1 /bin/bash`
5. `./scripts/copydoc

[2021-01-10 23:19] jdlrobson commented on #3630
Can you expand the description here?

i'm not sure what the problem is. There doesn't seem to be any user lists under the want to read button?
https://openlibrary.org/books/OL1402526M/The_kitchen_god's_wife
Am I looking in the wrong place?

<img width="513" alt="Screen Shot 2021-01-10 at 3 19 13 PM" src="https://user-images.githubusercontent.com/148752/104138147-33b9b200-5357-11eb-8e3b-1b056f3ecbc

[2021-01-11 00:10] BrittanyBunk commented on #4398
I think that makes more sense, as the money shouldn't go towards books when it can go towards other things. Also, people want to get rid of their books all the time - especially in the pandemic. Logistically, buying may not be as guaranteed for getting the desired book compared to donations. I mean, maybe there are rare books even that aren't even available to buy! It also allows books to get into

[2021-01-11 13:07] Yashs911 commented on #4371
@jdlrobson The problem is showing a 3.5+ rating as 3 on a scale of 5. A more solid solution will be using half stars, but in the mean time, we could use my solution where rating < 3.5 print (`***`) and rating > 3.5 print (`****`)

[2021-01-11 16:22] jdlrobson commented on #4371
The correct solution to this is to change the star graphic, but I also do not see this as a high priority, so please let us focus on other things. The list of pull requests is already extremely large, so we should be making efforts to clear that first .

[2021-01-11 16:48] jdlrobson commented on #3600
I'm aware of the technology. I was one of the people that rolled this out on Wikipedia and got little advantage TBH.

Chrome actually requires a service worker to prompt to install and wqill always use the start_url in the manifest url rather than the URL you save from. This led to somef complaints that we broke bookmarks. For example clicking add to home screen on https://en.m.wikipedia.org/wiki/

[2021-01-11 16:48] #3600 closed

[2021-01-11 17:41] #4026 closed

[2021-01-11 18:01] Yashs911 commented on #2417
@jdlrobson I would like to work on this issue.

[2021-01-11 18:26] Sabreen-Parveen commented on #4343
I have noticed in the add books page there is no checking whether it has 13 digits or not so, we can simply add the isbn and the input element accepts the value. Should I add validation function in add books page also? The function will only check if the isbn has 13 digits or not and check for the dashes too.

[2021-01-12 00:20] jdlrobson commented on #2417
Great

[2021-01-12 00:20] #2417 closed

[2021-01-12 03:47] shrey27tri01 commented on #4200
Hey @jdlrobson, I tried using the checkbox hack, but that doesn't seem to be able to solve the problem at the moment (I think using javascript to achieve this would a viable solution). I have described the problems I am facing in more detail in the pull request I have created over [here](https://github.com/internetarchive/openlibrary/pull/4405).

Do check it out and suggest what next to do.

[2021-01-12 08:38] Yashs911 commented on #2370
@jdlrobson I would like to work on this issue. If you could guide me on what all changes do I need to make?

Do I just need to replace legacy-wmd.less with this [file](https://github.com/internetarchive/wmd/blob/55904c7aa0ec75981713ef0813e2c85530755574/wmd.css)?

[2021-01-12 08:39] Yashs911 commented on #2152
@jdlrobson I would like to work on this issue. Any guidance regarding what approach should I take?

[2021-01-12 15:44] BrittanyBunk commented on #4343
@Sabreen-Parveen everywhere is preferable - provided the dashes don't appear in what the public sees - it's important to keep the data consistent and concise for the data dumps - all those extra dashes are going to only increase the gb's there, which will make it much harder to use and store. It also costs more money.

[2021-01-12 16:51] Yashs911 commented on #1514
@jdlrobson I would like to work on this issue.

[2021-01-12 17:02] Yashs911 commented on #1949
@jdlrobson I guess we can close this issue.
![image](https://user-images.githubusercontent.com/64412143/104346876-eccde700-5525-11eb-83b5-5477b01b7523.png)

[2021-01-12 17:24] jdlrobson commented on #1949
@Yashs911  thanks for flagging. Yes this page looks good, so this issue no longer makes sense.

[2021-01-12 17:24] #1949 closed

[2021-01-12 17:27] jdlrobson commented on #1514
That would be great. Make sure "My reading log" and "My reading stats" gets moved to the existing user menu so that link is not lost.

Also check with @mekarpeles that he's okay with this as product lead.

[2021-01-12 18:00] BrittanyBunk commented on #4367
@jamesachamp why does it look like 11:30am here? https://github.com/internetarchive/openlibrary/wiki/Open-Library-Community-Call-Minutes

[2021-01-12 18:47] cdrini commented on #4367
Fixed

[2021-01-12 19:37] seabelis opened #4408 "Add small icon link to Worldcat from editions list"
Prior to the new books page design launch in summer 2020, the editions list had a Worldcat icon linking to the record for that edition. This is handy when sorting out long edition lists that contain study guides, comic books, adaptations, etc. incorrectly associated with a work (usually classics or anything that's ever been made into a children's movie).

### Describe the problem that you'd like s

[2021-01-12 23:42] #4288 closed

[2021-01-13 00:06] BrittanyBunk commented on #4377
I emailed Mek the list

[2021-01-13 00:08] #4377 closed

[2021-01-13 00:15] BrittanyBunk commented on #4408
where's it located now?

[2021-01-13 03:08] Yashs911 commented on #1514
@jdlrobson I think we should not merge both but remove what's common.
My suggestion:
![image](https://user-images.githubusercontent.com/64412143/104401615-917a1400-557a-11eb-92c8-acf3abde4247.png)
@mekarpeles should I go ahead with this solution.

[2021-01-13 03:20] Yashs911 commented on #1514
@jdlrobson I think we should use the same wording ("Help & Support" **or** "Help Center") for the footer and more dropdown

![image](https://user-images.githubusercontent.com/64412143/104402143-aacf9000-557b-11eb-976d-dd70cea38e0c.png)
![image](https://user-images.githubusercontent.com/64412143/104402125-a014fb00-557b-11eb-9753-c587eca38ddc.png)

[2021-01-13 03:51] Yashs911 commented on #4408
@seabelis I would like to work on this issue.

[2021-01-13 04:06] jdlrobson commented on #1514
My suggestion:

This was not my intention with the issue, but is another approach. My thinking is the interface is very cluttered like that, and the user avatar is well established as meaning "my things". I think if we are retaining both menus, we need to think about using an icon for "my books" but that would require a lot more thought.

In addition to this, I am concerned removing icons from the

[2021-01-13 04:08] jdlrobson commented on #2152
As I outlined in https://github.com/internetarchive/openlibrary/issues/2152#issuecomment-520164898 I don't think we should take on feature requests until the frontend is in a better technical state.

[2021-01-13 04:16] Yashs911 commented on #1514
@jdlrobson Merging both will make the user menu look like this. (too long)
![image](https://user-images.githubusercontent.com/64412143/104405760-bf178b00-5583-11eb-8502-c138005e3592.png)
And openlibrary users already know that My List and My Loans section is also present in My books so.........

[2021-01-13 08:28] #4343 closed

[2021-01-13 13:21] seabelis commented on #4408
@Yashs911 Thank you.

[2021-01-13 13:27] Yashs911 commented on #4408
@seabelis I have added the link below Download for print disabled.
![worldcat](https://user-images.githubusercontent.com/64412143/104409308-fe49da00-558b-11eb-803e-0bedb503a390.JPG)