[2019-02-16 01:48] #1865 closed

[2019-02-16 01:49] mekarpeles commented on #1864
See https://github.com/internetarchive/openlibrary/wiki/Beginner's-FAQ :)

[2019-02-16 01:49] #1864 closed

[2019-02-16 09:19] seabelis commented on #1887
Working on dev.

[2019-02-16 15:55] mekarpeles commented on #1887
Yay, this should also be on production now. Marking issue as resolved

[2019-02-16 15:55] #1887 closed

[2019-02-16 21:36] eddydg commented on #1888
This happens on all `.input select` elements when window's width >= 960px (the @width-breakpoint-desktop).
CSS rule that causes that: https://github.com/internetarchive/openlibrary/blob/20098819aa72cb2290a1ed9f0d1546ba0c412a94/static/css/components/form.olform.less#L135-L139

I think this rule should be removed since this makes `selects` smaller when there is more space. I am not sure about the im

[2019-02-16 23:06] cdrini commented on #1067
These are the other `type`s on production solr. Need to investigate why they're there/if they should be there. Also need to investigate why there _wasn't_ any stats data there (as I previously thought).

`type: subject` (1510685)
Sample:
[code]

`type: edition` (3419)
Sample:
[code]

[2019-02-17 07:54] cdrini opened #1896 "Subjects not being indexed into Solr"
## Description
As far as I can tell, the results for [/search/subjects](https://openlibrary.org/search/subjects?q=guide) are never up-to-date because 1) subjects are never indexed into solr, and 2) even if they were, they always error.

## Evidence

1. Subjects are never indexed into solr
    - On local, querying subjects never yields results
    - On local, [querying solr for subjects](http://192

[2019-02-17 08:22] koderjoker commented on #1339
@jdlrobson  Due to using a table for layout and overlapping of various styles, trying to make the edition component responsive is using far too much css than it should and is getting messy in its approach. For the sake of simpler css, I think that instead of going forward with the table design we should replace the table layout with flexbox.

[2019-02-17 10:09] koderjoker opened #1897 "Book covers wont load locally"
## Description

Book covers won't load locally.

## Details
The following issue has been raised as a question for the [beginner's FAQ](https://github.com/internetarchive/openlibrary/wiki/Beginner's-FAQ)

[2019-02-17 10:13] koderjoker commented on #1897
In order to solve this go to conf/openlibrary.yml and update `coverstore_url` to https://covers.openlibrary.org

[2019-02-17 14:40] rohitjain00 commented on #1897
I have replaced the link and created a pull request.

[2019-02-17 15:51] koderjoker commented on #1897
@rohitjain00 my apologies since it wasn't clear, but this issue was raised to be added to the[ beginner's FAQ](https://github.com/internetarchive/openlibrary/wiki/Beginner's-FAQ), and not as an issue to send a pull request for.

Please try your hand at another issue, and reach out if you need any help!

[2019-02-17 15:53] tabshaikh commented on #1897
@koderjoker Thank you so much for your contributions to this wiki :)

[2019-02-17 17:18] jdlrobson commented on #1339
I think it makes sense to retain the table HTML as semantically this is a table (not to mention the table column sorting feature)

On mobile screens we are currently defaulting to making table elemets display block by the method described here:

https://css-tricks.com/responsive-data-tables/

Can you share the CSS you have now? Two sets of eyes might help identify opportunities to simplify it!

[2019-02-17 17:22] jdlrobson commented on #1888
I think the only thing to be careful about here is making sure that select dropdown fits into a mobile screen.

The input to the right of the select was designed to be on the same line and that needs to fit into a mobile screen.

I wonder what it would look like if those 2 elements were stacked instead.. would the UI be confusing?

[2019-02-17 17:52] rohitjain00 commented on #1897
Then should I close the PR?

[2019-02-17 18:28] tabshaikh commented on #1897
@rohitjain00 probably yes

[2019-02-17 18:33] koderjoker commented on #1339
Sure, I'll send a draft pr for the same! 😄

[2019-02-17 19:06] nimbus98 commented on #996
@mekarpeles Any input regarding this?

[2019-02-17 19:13] #1897 closed

[2019-02-17 19:15] mekarpeles commented on #1896
I think subjects do eventually get indexed within solr. I have to investigate where

[2019-02-17 20:00] eddydg commented on #1888
@jdlrobson it should be fine on mobile because this CSS rule is only applied for desktops screen size: `@media all and (min-width: @width-breakpoint-desktop )`.

Current behavior:
![example](https://i.imgur.com/7w1HsYb.gif)

[2019-02-18 04:18] rohitjain00 opened #1900 "Depriciated link to enable lending on localhost"
## Description

**Readme file with depriciated link :** https://github.com/internetarchive/openlibrary/wiki/Getting-Started#lending-and-borrowing
**Depriciated link :** https://github.com/internetarchive/olsystem/blob/master/Readme.md#enabling-lending-on-localhost

## Expectation

## Details

 Chrome Version 72.0.3626.109 (Official Build) (64-bit)

 Ubuntu 18.04.2

[2019-02-18 15:13] seabelis opened #1901 "Cannot delete or add authors"
## Description

With the latest deployment it's no longer possible to either delete or add authors on the Work Edit page. The affordances to both add (+) and remove (x) an author are missing from the page.

![fullscreen capture 2182019 41033 pm bmp](https://user-images.githubusercontent.com/17739465/52959973-f54c3000-3397-11e9-8851-390710c1d29a.jpg)

## Expectation

## Details

## Stakeholders

@m

[2019-02-18 17:51] cdrini commented on #1339
That looks good, @koderjoker ! Would it be possible to develop something a little closer to @jdlrobson 's prototype? The current proposal takes up a LOT of vertical space rather unnecessarily. Coming up with some user stories about who exactly this section is for would make designing it easier. What do you think a user is looking for when they come to this section of the page? How can we make what

[2019-02-18 19:22] koderjoker commented on #1339
Sure @cdrini, I'll think this over and give it another shot! 🙂

[2019-02-18 21:38] mekarpeles commented on #1180
@bfalling or @rchrd2 can one of you please weigh in here re: archive.org's browser support matrix? We'd love to add this to our Open Library wiki. Is this documented somewhere for IA?

[2019-02-18 22:42] tfmorris commented on #1901
I can confirm that this bug exists in both production and dev. I've expanded the description to include adding authors as well as deleting authors as missing functionality.

There's probably someone other than @mekarpeles who should be tagged here, but I've lost track of who's been hacking on which parts of the CSS.

[2019-02-18 22:53] tfmorris commented on #1901
Here's an example where a bad author record can't be removed:

https://openlibrary.org/books/OL23271756M/Soul_made_flesh/edit

[2019-02-18 23:34] tfmorris opened #1902 "Scrape enhanced metadata from BHL"
## Description

The Biodiversity History Library (BHL) is great at coopting OL/IA data & metadata without credit, but in some cases they've provided enhanced metadata, so we should "steal" that back.

As an example for the work [Die nordischen Schizopoden](https://openlibrary.org/works/OL13699252W), they had a more complete name for author [Carl Zimmer](https://openlibrary.org/authors/OL6552791A),

[2019-02-18 23:48] tfmorris commented on #1016
This appears to be fundamentally wrong. I don't understand why this:

* isn't using OpenLibrary metadata
* is using generic string matching when we have strong identifiers
* isn't using a standard "works by author" query which is already built and in use all over the place

When looking at this Carl Zimmer work https://openlibrary.org/works/OL13699253W/Soul_made_flesh
the recommendation is for "Mo

[2019-02-18 23:55] shaneriley commented on #1180
In scanning through the JS, I noticed an [`Array.prototype.filter` method call](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/js/availability.js#L85), which made me think we're not supporting IE too many versions back. If we are, there's probably a few spots in the JS that need to be downgraded to IE7 style solutions.

[2019-02-18 23:57] tfmorris commented on #1016
It looks like where this went wrong was by being based on `custom_ia_carousel` but I can't tell if that was intentional or just a historical design accident/flaw.

@mekarpeles it looks like you did a bunch of refactoring on RelatedWorksCarousel/WorksCarousel, but can't tell if you were involved in its creation. Do you know if there's a reason that this doesn't use the obvious pattern of using OL m

[2019-02-19 00:04] tfmorris opened #1903 "Reject edits with no changes"
## Description

## Evidence

`https://openlibrary.org/...`

## Expectation

## Details

## Proposal & Constraints

## Stakeholders

[2019-02-19 00:13] jdlrobson commented on #1003
Can I have some context on this? E.g. the reversion and the reopening? I assume a conversation happened on this subject somewhere I was not participating but I really would love to understand what went wrong!

[2019-02-19 00:15] jdlrobson commented on #1180
Yeh this is one of the reasons why I brought this up. There is modern JS, strict JS, old JS... vendor prefixes galore and even IE5 hacks! Thus knowing this will help drive a bunch of things.

[2019-02-19 00:16] jdlrobson commented on #1016
Not on computer at moment but are there an JS errors in the developer console? That would be my first guess.

[2019-02-19 00:17] jdlrobson commented on #1901
Not on computer at moment but are there an JS errors in the developer console? That would be my first guess.

[2019-02-19 00:23] tfmorris commented on #1901
I don't understand the relevance, but, no, there aren't any JS console errors.

No computer is needed. The screenshot here clearly shows that there no affordances rendered for "Add an author" or the red "X" to delete an author.

I would start by reviewing what got removed/changed on this page. I'm guessing it'll be pretty easy to spot.

[2019-02-19 00:39] tfmorris opened #1904 "Clean Up Bot creating duplicate works"
## Description

The Clean Up Bot is creating duplicate works with sequential serial numbers.

## Evidence

https://openlibrary.org/works/OL18903545W/Welfare_for_politicians
https://openlibrary.org/works/OL18903546W/Welfare_for_politicians

## Expectation

Importing should not create duplicate records.

## Stakeholders

@hornc @mekarpeles

[2019-02-19 01:58] tfmorris commented on #1134
I think we need to add some wiki pages to the work list here: https://github.com/internetarchive/openlibrary/search?q=vagrant&type=Wikis

The Testing and Getting Started ones are probably most important.

[2019-02-19 02:11] shaneriley commented on #1901
This is likely another casualty of the jQuery update from `live` to `on` to bind events. I can try to debug it tomorrow morning.

[2019-02-19 03:03] cdrini commented on #1134
👍 Added to the list.

[2019-02-19 04:01] cdrini opened #1906 "Make the default --dest option for copydocs localhost"
## Description
Since we switched to docker, the `copydocs` default `--dest` option is no longer convenient. It should be `http://localhost`

## Proposal & Constraints

- [ ] Update [/scripts/copydocs.py#L59](https://github.com/internetarchive/openlibrary/blob/5fe3e192228c2c392b700c1e7ba3e4a2ca910321/scripts/copydocs.py#L59) and any documentation on that page
- [ ] Update [Getting Started](https://

[2019-02-19 04:04] cdrini commented on #1003
No stress, nothing's gone wrong :) Did you see my comments on #1831 ? In short, this issue has a broader scope. In the spreadsheet above, there are still a number of templates which need to be removed, and there are a bunch of templates which aren't in the spreadsheet at all yet :P

[2019-02-19 04:05] cdrini commented on #1003
As per the reversion, I didn't follow that too closely. I imagine @mekarpeles might have more information on that?

[2019-02-19 05:13] tfmorris commented on #1134
Thanks @cdrini ! The sidebar only referenced the switching from Vagrant topic, so I've checked it off the list.

[2019-02-19 05:32] GerardMeijssen commented on #1902
Hoi,
At Wikidata we know both OL authors and BHL creators, however we have never
brought them really together. This can be done with a SPARQL query. The way
I understand it, the BHL makes use of Internet Archive to store its papers
so YES, you have them all. They likely know exactly where their papers /
authors are. They do have a database with a schema ... So it is best to ask
them where it is at

[2019-02-19 06:06] tfmorris commented on #1901
@shaneriley Thanks for offering to help debug, but I suspect it's not related to the .live() problems (unless it's a secondary effect).

Sadly, we don't have a screenshot of the previous state of affairs, but, as I best remember it, authors 2-N would have a red X next to their edit field which would allow you to delete them and there would an additional button at the end which said something to th

[2019-02-19 11:02] shaneriley commented on #1901
The template has a `hidden` class on both the add author and remove inputs, but I believe those are supposed to be removed by JS in the event the CSS media type is not print. If I simply remove those classes to begin with, I see partial functionality. The add author link, when clicked, adds another input and adds a remove link to both author fields. If you click the add author link again, nothing

[2019-02-19 18:21] #1906 closed

[2019-02-19 18:23] #1901 closed

[2019-02-19 18:24] #1688 closed

[2019-02-19 21:13] feat7 opened #1910 "Coverstore upload doesn't work in local docker environment."
## Description

We have recently made coverstore available locally in the docker environment. There is one problem though. I am not able to upload covers to the coverstore. I can clearly see the logs in the docker regarding a permission issue.
I've tried to change permissions for `/var/lib/coverstore` and gave access to `openlibrary` user.

## Evidence

`https://openlibrary.org/...`

## Expectatio

[2019-02-19 21:23] feat7 opened #1911 "Cover upload javascript appends the form again and again."
## Description

This is a simple js problem. We are appending an upload form to some DOM node. If we try to add a cover (click to add cover and open the modal) but don't add and click X (close) and again open the modal to upload the cover, we can see that the upload form is appended to previous one (the forms are repeated)

## Evidence

`https://openlibrary.org/...`

https://openlibrary.org/author

[2019-02-20 01:47] jdlrobson opened #1912 "Work page is not fully responsive"
## Description

Textareas are larger than the screen leading to a usable but jarring editor interface on mobile

## Evidence

`https://openlibrary.org/...`

https://openlibrary.org/works/OL457172W/Haroun_and_the_Sea_of_Stories_(Khalifa_Brothers_1)/edit

 Screenshot (if possible):

![screenshot_20190219-174548_chrome](https://user-images.githubusercontent.com/148752/53060165-57776480-346e-11e9-9e02

[2019-02-20 01:51] jdlrobson opened #1913 "Lists on profile page not responsive on mobile"
## Description

## Evidence

`https://openlibrary.org/...`

https://openlibrary.org/people/jdlrobson

![screenshot_20190219-174833_chrome](https://user-images.githubusercontent.com/148752/53060272-b2a95700-346e-11e9-8856-5731281627b0.jpg)

## Expectation

It should be styled like https://openlibrary.org/people/jdlrobson/lists

## Details

## Proposal & Constraints

## Stakeholders

[2019-02-20 17:22] GLBW opened #1914 "Editions pages breaking when & in title"
## Description

The book [OL26625701M](https://openlibrary.org/books/OL26625701M/Liebe_Revolution) can't be displayed (or edited) since creation two months ago. I think the problem is the ampersand in the title _Liebe & Revolution_. As a workaround the book could perhaps be renamed to _Liebe und Revolution_. (But that is not possible via the web interface.)

There are other books with ampersand in

[2019-02-20 18:11] LeadSongDog commented on #1891
@seabelis, @mekarpeles @hornc I had no problem adding that edition once I populated the publisher, date, and location fields. There was an existing work which I linked in. Without these, it is probably a good thing not to create an edition record distinguished solely by an ISBN. Commonly a single edition has more than one ISBN: we should not presume otherwise.

I was using Chrome 71.0.3578.80 (Off

[2019-02-20 18:18] seabelis commented on #1891
Where I've run into these issues, the edition record already exists; I'm just trying to consolidate under one work. I will see if I can edit any of the other problematic editions.

[2019-02-20 18:24] seabelis commented on #1891
On this one, for example, all edits fail. I tried earlier to move it to OL40886W but it bounced and ended up an orphan. Now I cannot edit any of the work or edition information, nor can I move it to the appropriate work. https://openlibrary.org/books/OL26067435M/La_Route_Roman

[2019-02-20 18:26] LeadSongDog commented on #1888
Why is the styling different between Identifiers and Classifications? Was the latter just overlooked when updating the former?

[2019-02-20 19:13] utkarsh-raj commented on #1498
Does the issue need work @jdlrobson ?

[2019-02-20 19:23] cdrini commented on #1891
@mekarpeles @jdlrobson I think this might be related to #1831. I think we have bring back `errors.html` cause it was being

[2019-02-20 19:25] cdrini commented on #1891
(whoops! Pressed the wrong button)

[2019-02-20 20:45] jdlrobson commented on #1498
I think given the inactivity on this task you can give this a go!

[2019-02-20 20:52] utkarsh-raj commented on #1498
All right I will get to work.

[2019-02-20 21:14] mekarpeles opened #1915 "Author Merging: Bob Simmon"
Posting on behalf of paul on Open Library

## Description

Merging/Deleting Authors/Works

There are two authors named "Bob Simmons" - one a stuntman, and one a cook. The stuntman has written one work entitled "Nobody Does It Better", and the cook has written lots of cookery books.

However, in the database their records appear to be all mixed up - there are two entries for "Bob Simmons", both of

[2019-02-21 06:31] tfmorris commented on #1915
Author records which are conflated should be deleted. Normal users can't do this, but they can move the works to appropriate other records and petition the OL gods to remove the offending record(s).

If an author record is clearly (birth date, predominance of works, etc) about a specific author, but just has the occasional work mixed in by error, that work can be moved to the correct place.

@meka

[2019-02-21 06:34] tfmorris commented on #1914
As was pointed out (a couple of times) in chat, there are existing books with ampersands (&s) in the title which render fine.

Two possibilities come to mind:
* The character isn't correctly JSON encoded for that particular record, for whatever reason
* It's a different problem altogether.

[2019-02-21 09:01] GLBW commented on #1914
Thank you! My first intend in slack was to get the title changed by an admin. Please see:

https://internetarchive.slack.com/archives/C0ETZV72L/p1550611872147000

I was told there to open an issue here under that title. And I also wrote above:

[2019-02-21 13:14] LeadSongDog commented on #1915
Consider https://openlibrary.org/search/authors?q=undifferentiated&has_fulltext=true
Aside from the trivial issues of whether/how to punctuate the 'name' of the author records, such are helpful steps toward refining the assignment of works to the correct author. Still, there is a real need for power tools to address the proliferation of incomplete names in the catalog. Once a record is identified

[2019-02-21 18:18] mekarpeles commented on #1197
I'm hitting the same issue as @jdlrobson and we're hearing corroboration from @rohitjain00 who is also hitting this issue

[2019-02-21 18:50] rohitjain00 commented on #1913
Should I add a scroll on overflow on this component?
![screenshot from 2019-02-22 05-49-10](https://user-images.githubusercontent.com/17525863/53193684-9f95b300-3637-11e9-9313-11bd4b84160b.png)

[2019-02-21 19:19] jdlrobson commented on #1913
No, these should horizontally stack

Both of these are mybooks-list component (static/css/components/mybooks-list.less)
but the page with the issue uses the clean variant of this component which seems incompatible with the .searchResultItem styles

This might be an HTML-only change or require additional CSS rules for mybooks-list--clean

Does that make sense?

[2019-02-21 20:09] LeadSongDog commented on #1904
See what works are linked in the three revisions to the single edition record:
https://openlibrary.org/books/OL3311907M/Welfare_for_politicians?b=5&a=4&_compare=Compare&m=diff
https://openlibrary.org/books/OL3311907M/Welfare_for_politicians?b=6&a=5&_compare=Compare&m=diff
https://openlibrary.org/books/OL3311907M/Welfare_for_politicians?b=7&a=6&_compare=Compare&m=diff

[2019-02-22 00:40] hornc opened #1917 "Unused code? core/init.py"
## Description

I'm not sure that this code is being used: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/init.py

It has tests which currently require root to run. I discovered this while trying to get the Coverstore tests passing in #1916

From a quick check, neither Open Library or the infamous olsystem appear to be using this code.

Raising it here for discussion s

[2019-02-22 10:24] hornc opened #1918 "Create a page with current Solr index delay / update stats"
## Description

In order to be confident in our data, users (and admins!) need to know that their edits will be reflected in search results. Since there is a delay between making an edit and seeing the results in search, we want a page that gives the expected wait time and alerts if there are longer than usual delays or problems that need to be resolved.

Wikidata has https://www.wikidata.org/wiki

[2019-02-22 18:54] LeadSongDog commented on #1891
Hmm, the same problem on https://openlibrary.org/books/OL23877809M/The_road
Neither would it allow the link to https://openlibrary.org/works/OL40886W nor the addition of an author.
Looking closer, it appears that when @seabelis made this edit: https://openlibrary.org/books/OL26067435M/La_Route_Roman?b=4&a=3&_compare=Compare&m=diff
the link to /works/OL17481152W was deleted but not replaced with /w

[2019-02-23 05:16] brad2014 commented on #1915
UX note: IMDB.com deals with multiple actors having the same name by suffixing a roman numeral after the name (when there are multiples) to cue the user that there is more than one, and that you have to pick carefully.  E.g. https://www.imdb.com/find?ref_=nv_sr_fn&q=Fran+Smith&s=nm

[2019-02-23 17:18] jdlrobson opened #1920 "With JS disabled delete icons show but are not clickable"
## Description

Visit http://localhost:8080/works/OL53924W/The_complete_works_of_Mark_Twain/edit with **JavaScript disabled**

Two red close icons are visible but not clickable.
## Evidence

## Expectation

 They should be hidden.

![cantdelete](https://user-images.githubusercontent.com/148752/53289521-dfe65580-374b-11e9-80d2-ac19f2f63336.gif)

This previously worked, but was broken in #1901. I tr

[2019-02-24 17:25] jdlrobson commented on #1215
Closing.. :)

[2019-02-24 17:28] jdlrobson commented on #972
@tfmorris or @mekarpeles  per my comments could we open some more tightly scoped issues? I really don't know how to proceed with this one as written. We seem to have ARIA, schema.org and Opengraph tags on a variety of pages so the original intention of @mekarpeles seems to have been resolved. I'll be happy to take on those tasks personally!

[2019-02-24 17:28] #972 closed

[2019-02-24 18:26] cdrini commented on #1215
Hmmm, I'm still getting this issue on the provided link. @jdlrobson @tfmorris Can you provide screenshots of what the carousels on that page look like for you guys?

[2019-02-25 04:04] jdlrobson commented on #1215
I'm seeing the problem again now!

[2019-02-25 04:05] jdlrobson commented on #1215
![screenshot_20190224-200436_chrome](https://user-images.githubusercontent.com/148752/53313692-7bbcb200-386f-11e9-8cc1-00e1c45b85ab.jpg)
![screenshot_20190224-200443_chrome](https://user-images.githubusercontent.com/148752/53313693-7bbcb200-386f-11e9-84ff-8bb69abac29f.jpg)

[2019-02-25 06:08] Pratyush1197 opened #1926 "Publishing History graph not responsive on mobile screens"
## Description

The publishing history graph is not responsive on the mobile screens as we have to horizontal scroll to see the full graph
## Evidence

https://openlibrary.org/subjects/romance

![screenshot_2019-02-25 romance open library](https://user-images.githubusercontent.com/32239181/53317309-288b4380-38f1-11e9-9ae1-49cd98cc9fd5.png)

## Expectation

Horizontal scrolling should be disabled

[2019-02-25 06:54] Gopimanojvuyyuru opened #1927 "Sliders should autoplay"
## Description

The Classic Book , Books we love sliders  and all others are not changing. It is better if we can add code to change randomly so that users can get known to all the books in the slider else he have to click the arrow forward and backward all the times manually.

## Expectation

If the issue is solved the user can easily see the sliders without keep on pressing forward and rewind bu

[2019-02-25 08:15] nemobis opened #1928 "Merge works with same title and spelling differences in author name"
## Description

Some editions are not merged to the work they belong to (and new unnecessary work pages are created) due to minor differences in the author name spelling.

## Evidence

Lacapra vs. LaCapra kept these two separate:
https://openlibrary.org/works/OL8382164W
https://openlibrary.org/works/OL2731955W

## Expectation

I think an automatic merge is in order for such minor mistakes/differen

[2019-02-25 08:47] nemobis opened #1929 "Ebook available in facets but not in listing"
## Description

It often happens, e.g. when searching titles from the wishlist (let's say 5 % of cases), that the facet shows "ebook: 1" but the work listing doesn't have any. Usually the other facets in such cases include DAISY, which makes me suspect there's a DAISY-only borrowing available which is not listed for other purposes but nevetheless surfaces.

## Evidence

https://openlibrary.org/sea

[2019-02-25 15:47] LeadSongDog commented on #1915
Have a close look at https://openlibrary.org/books/OL8040406M.json and you'll see two author records shown: "authors": [{"key": "/authors/OL2764562A"}, {"key": "/authors/OL2845554A"}]
Comparing the display,
![staleauthors](https://user-images.githubusercontent.com/11435431/53348847-d561c280-38e9-11e9-98ac-2824c98db09d.png)
notice that the outdated edition-level author record for David G. Smith (un

[2019-02-25 16:51] jdlrobson commented on #1927
Are you talking about shuffling or providing new content?

Shuffling or providing new content on the server would impact caching and thus performance.

Shuffling on the client would be jarring especially on a slow connection.

Curious to understand the problem more and find a compromise.

What is the time to live in cache for the existing homepage? Would shortening it to say an hour help with this

[2019-02-25 16:56] mekarpeles commented on #1927
We should lazy load and perhaps show more results at a time (perhaps a 2
row option) and offer additional faceting options.

it sounds like the problem is we are only showing the user around 10 books
on subject pages

On Mon, Feb 25, 2019, 8:51 AM Jon Robson <notifications@github.com> wrote:

[2019-02-25 17:13] tfmorris commented on #1929
I suspect your analysis regarding DAISY is correct or close. I've seen other indications that perhaps a not-quite-right query is being used for availability.

[2019-02-25 17:23] tfmorris commented on #1927
My guess is that what's being requested is for the carousels to auto cycle on a timer basis - you know, the kind that whisks away the thing you were going to click on just as you are about to click ;-)

But, as @jdlrobson said, you should clarify and then we'll need to consider tradeoffs for different possible implementations.

[2019-02-26 06:49] Gopimanojvuyyuru commented on #1927
What my point is in our site the images are not moving on fixed intervals which makes users always to keep on clicking so here is small example.
https://www.w3schools.com/howto/howto_js_slideshow.asp
So if we can make slides movable it will be easier.

[2019-02-26 18:11] mekarpeles commented on #1927
I think this is the type of issue is for a proposed enhancement (not a bug) and is best addressed through community consensus (e.g. on one of our calls). Marking as enhancement for now.

[2019-02-27 01:28] hornc commented on #1558
@ErickSoares3 apologies for this taking so long to resolve, thank you for bringing it to our attention.

New language codes is not something that happens often, and we did not have a good process for adding it. Now we know what to do! It turns out no code fix was required after all.  The language code has been added to the live site and I have updated the book to reflect it: https://openlibrary.or

[2019-02-27 01:29] #1558 closed

[2019-02-27 01:30] jdlrobson commented on #1927
Slick has an autoplay mode > http://kenwheeler.github.io/slick/ which I think is what is being asked for here!

[2019-02-27 02:21] hornc commented on #1891
I can reproduce this with the https://openlibrary.org/books/OL23877809M/The_road book, but I'm not sure it is entirely due to the book being an orphan --  it looks like there is supposed to be an error message that is not being presented. Hence the yellow bar and warning exclamation mark in the screenshot.

I tried looking for the error message content in cookies etc, but could not find anything.

[2019-02-27 05:13] tfmorris commented on #1929
The context for my comment about was #1016 which uses an IA query that includes the dubious terms Collection:inlibrary and loan_status_status:Available (sic). It's the latter term which I think is problematic and relevant for this case, because if you remove it, you get:

vs the default

The details may be different for this case, but I suspect it's a similar misconception about what's relevant to

[2019-02-27 05:21] tfmorris commented on #1891
These messages have victims of the CSS refactoring multiple times. Recently the post-author-merge messages disappeared as well (something to the effect of "Your merge is in progress, refresh the page to see the results.")

[2019-02-27 07:27] rohitjain00 commented on #1913
Adding a CSS rule flex-wrap to (".mybooks-list--clean ul") would solve the problem on all viewports.

Below are the Screenshots to show the behaviour of the list.

![screenshot from 2019-02-27 12-54-29](https://user-images.githubusercontent.com/17525863/53472938-15ae7580-3a8f-11e9-9917-97950b6b1ed0.png)
![screenshot from 2019-02-27 12-54-33](https://user-images.githubusercontent.com/17525863/53472

[2019-02-27 09:23] Pratyush1197 opened #1930 "Add "PUT" to lists api, to update lists."
## Description

In the list api we do not have the feature of updating a list by using put method. I can work on this.
## Evidence

`https://openlibrary.org/dev/docs/api/lists`

![screenshot_2019-02-27 upcoming lists api open library](https://user-images.githubusercontent.com/32239181/53479539-4ac2c400-3a9f-11e9-9560-2d5429f8060a.png)

[2019-02-27 09:54] shreyansh23 commented on #1912
I have submitted the PR. @jdlrobson you can review.

[2019-02-27 10:15] Pratyush1197 opened #1932 "GSOC leaderboard for keeping track of participants"
## Description
I have a suggestion which can help in keeping the track of number of pull requests, opened issues and count total number of commits by a user to know who has given the maximum number of contributions to the organization in this period.
The web application can be deployed and accessed by all the users and mentors

## Evidence

`https://openlibrary.org/...`

## Expectation

## Details

[2019-02-27 13:21] tabshaikh commented on #1932
@Pratyush1197 that's a great idea but currently we are small group of motivated open source contributors and developing and managing this for a small community would be difficult and our focus as a community for this year is to remove bad experiences for users therefore we are targeting priority issues which can have a huge impact on user's experience of OL

[2019-02-27 13:54] GLBW opened #1933 "Regensburger Verbundklassifikation has wrong article"
## Description

The classification _Regensburger Verbundklassifikation_ has a wrong article _der_. _Der_ is either the male article, but _Regensburger Verbundklassifikation_ is female in german, see [Klassifikation](https://en.wiktionary.org/wiki/Klassifikation) in Wiktionary. Or _der_ could also be the female article, but then it would be genitive. In this case it would mean _of the Regensburger

[2019-02-27 19:24] mekarpeles opened #1934 "Edit Page: Always enable Librarian Mode"
## Description

feature request: remove enter "librarian mode" on /edit page such that librarian mode is always enabled

see: https://twitter.com/reclus23/status/1100751365847072774

[2019-02-27 21:11] cdrini commented on #1934
I definitely don't want it removed entirely; I think it's really useful especially for hiding possibly "dangerous" fields. I think a better solution would be to make it persist between page loads, so if I enter "librarian mode", it will remain activated until I exit librarian mode (even if I navigate to different pages between).

[2019-02-27 21:13] cdrini commented on #1934
(also, man, that list of feature requests is _spot on_!)

[2019-02-27 23:42] hornc commented on #1915
Not sure that this is a merging issue, but there are two Bob Simmons entries in OL

https://openlibrary.org/authors/OL1102082A/Bob_Simmons 1933-
https://openlibrary.org/authors/OL259808A/Bob_Simmons

The 1933- appears to me to be the Stuntman, who was actually born in 1923 : https://www.wikidata.org/wiki/Q888254  and the 1933 came from a catalogger typo, recorded by VIAF here: https://viaf.org/pro

[2019-02-27 23:45] hornc commented on #527
Closing as DONE: Wikidata (via the Reasonator) is now the OL system's builtin way of handling these links. Users are still free to add Wikipedia links in the free-form links fields, but that is not built into the system.

[2019-02-27 23:46] #527 closed

[2019-02-28 00:50] hornc commented on #1915
All but one of the cooking books listed with the stunt man record were orphaned editions with two authors. I associated them with existing works and have separated out the two authors, so if someone can review the changes, we can close this specific data issue?

[2019-02-28 00:59] hornc commented on #1915
@LeadSongDog I see you have fixed that cover by associating it with a work, thank you. I'm going to put that particular issue down to everything that is slightly wrong with OL is compounded by orphaned editions, and it's a pain for anyone regardless of access levels to fix. This month I have been re-importing ~1M + early items that for various reasons skipped the part when OL added works so hopefu

[2019-02-28 01:20] hornc commented on #1903
Hmm, the edit also _added_ an empty `classifications: { }` field to the JSON. It's there in v10, but not in v9.

I thought no-op saves were already discarded, but clearly there are at least some situations where this is not the case. I'll confirm whether the API saves are smart enough to discard completely identical saves, and then follow up on where the `classifications: { }` came from.

[2019-02-28 08:22] seabelis commented on #1934
This would be great. Would it be possible to have this as an preference setting associated with the user's account that they could activate?

[2019-02-28 08:53] shreyansh23 commented on #1934
Can I take this issue @mekarpeles

[2019-02-28 17:36] mekarpeles commented on #1934
@shreyansh23 Yes please!

[2019-02-28 18:05] LeadSongDog commented on #1928
The issue isn't just capitalization. It is also a matter of accents, whitespaces, translations, transliterations, and codespace normalizations. We simply must move away from using spelling as the identifier for an authority. There's a sound reason for using VIAF, ISNI, or Wikidata identifiers: simple spelling cannot reliably distinguish author identities.

[2019-02-28 18:09] nemobis commented on #1928
LeadSongDog, 28/02/19 20:06:

Sure, but I wanted to avoid an overbroad issue as this one is easier to
fix than the general case.

But then VIAF clusters use spelling comparisons just like OpenLibrary,
and it's not trivial to connect every record to a Wikidata ID.

[2019-02-28 18:32] LeadSongDog commented on #1928
Even identical spelling of author and title does not reliably indicate that the works are the same. We have many problem titles that are very common, such as "Journal" or "Works". We also have some very common (often incomple) author names such as "Smith" or "Brown". Unless a human user makes the comparison between two author records, we won't be able to trust they refer to the same identity.
I ag

[2019-02-28 19:27] #1912 closed

[2019-02-28 20:42] tfmorris commented on #1932
Github already tracks much of this automatically by default:

https://github.com/internetarchive/openlibrary/pulse/monthly
https://github.com/internetarchive/openlibrary/graphs/contributors

[2019-02-28 21:31] #1585 closed

[2019-02-28 21:32] mekarpeles commented on #1932
Thanks for your comments all -- I think this could be a great idea for the Google Summer of Code program but the Open Library issue tracker probably isn't the best place for this -- I agree fully with @tabshaikh's response.

Closing for now :)

[2019-02-28 21:32] #1932 closed

[2019-03-01 09:23] seabelis opened #1935 "Characters stripped from excerpts."
## Description

Some characters are stripped from excerpts.

## Evidence
I added the first sentence: How come "Unofficial"?
The last "? are dropped after save, leaving it as: How come "Unofficial

https://openlibrary.org/works/OL5104582W/The_Unofficial_Guide_to_Disneyland

## Expectation

Text should be saved as entered.

Y

Chrome Version 72.0.3626.109 (Official Build) (64-bit)

Windows Pro 7

[2019-03-01 15:27] LeadSongDog commented on #1935
Looking at the json, we see:
"excerpts": [{"comment": "first sentence", "excerpt": "How come \"Unofficial",
so it looks like the escaping of the double quote was somehow borked.

@seabelis could you please be very explicit about how you placed the quotation marks in your edit attempt?

[2019-03-01 16:25] seabelis commented on #1935
How come "Unofficial"?

[2019-03-01 17:01] LeadSongDog commented on #1935
Hmm, when I copypasted the above clip from the json, github dropped an escape (I forgot to treat it as code): there is a backslash before the double quote following _come _  so it reads
`"excerpts": [{"comment": "first sentence", "excerpt": "How come \"Unofficial"`
but I think it should have been
`"excerpts": [{"comment": "first sentence", "excerpt": "How come \"Unofficial\"`
instead if the functi

[2019-03-01 23:15] jdlrobson commented on #1180
Okay.. I want to make progress on this, so in lieu of traffic information I'm going to propose we follow Wikipedia's browser support matrix: https://www.mediawiki.org/wiki/Compatibility#Modern_(Grade_A)

Patch to follow.

[2019-03-01 23:49] jdlrobson commented on #1339
This looks really good to me. While I agree completely with @cdrini about the vertical space and improving this experience, I think what we have so far is clearly superior to what's currently in production (remember it looks like this: :-)) and I'd be willing to merge what we have now on the understanding we'll continue to iterate on it. I leave that decision up to others, but I've removed the WIP

[2019-03-02 05:42] mekarpeles commented on #1934
@seabelis I think it would be easier for it to just always be enabled (less work, seems like a better solution)

[2019-03-02 09:14] Pratyush1197 opened #1937 "Provide padding in Add to list button on authors page"
## Description

This is to Provide padding in Add to list button on authors page as shown in the screenshot
## Evidence

https://openlibrary.org/authors/OL659442A/Keith_Park

![screenshot_2019-03-02 keith park open library](https://user-images.githubusercontent.com/32239181/53679921-940e5000-3cf9-11e9-81a2-a38ccf33ec0d.png)

## Expectation

Proper padding should be present

## Details

## Proposal

[2019-03-02 09:29] Pratyush1197 opened #1938 "Add to list page do not give any response when a list is removed"
## Description

When we select a list from the dropdown of 'Add to list' one of the list is selected. Now when we remove the selected list and again click on 'Add to list' then the button gets unresponsive and it only response when we click refresh button

## Evidence

https://openlibrary.org/authors/OL2188410A/Calvin_Collier_Bishop

![screenshot_2019-03-02 calvin collier bishop open library](http

[2019-03-02 09:35] rohitjain00 commented on #1937
I'll look into it

[2019-03-02 11:44] shreyansh23 commented on #1934
@mekarpeles, submitted the PR. Please review it.

[2019-03-02 12:02] shreyansh23 commented on #1889
I will fix this @seabelis

[2019-03-02 12:39] shreyansh23 commented on #1926
Wanted to add that the Yaxis label is not in correct position even on desktop view.
Therefore both desktop and mobile view css needs to be fixed.

[2019-03-02 12:41] shreyansh23 commented on #1926
I want to take this issue @Pratyush1197

[2019-03-02 19:37] Saichethan commented on #1874
@jdlrobson is this issue still open
can I work on this

[2019-03-02 20:30] koderjoker commented on #1147
@jdlrobson I'll give this a go!

[2019-03-03 00:15] jdlrobson commented on #1498
Any updates?

[2019-03-03 03:08] shreyansh23 commented on #1498
@jdlrobson, I think this task again went inactive. Can I give a try please.

[2019-03-03 15:57] jdlrobson commented on #1874
@shaneriley has an open patchset! Check good first issues for ones with no open patchset!

[2019-03-03 19:54] shreyansh23 commented on #1498
@jdlrobson @tabshaikh
`npm run lint:fix` is throwing many linting errors without any change done by me. But earlier my tests were running fine. I am not able to understand why suddenly those errors started coming.
![screenshot from 2019-03-04 01-24-04](https://user-images.githubusercontent.com/32803230/53700808-3e7e9400-3e1c-11e9-80f4-6551aae31d62.png)

[2019-03-04 03:52] hornc opened #1946 "saving an edition via UI adds empty classifications:{} and identifiers:{} on unrelated changes"
## Description

## Evidence

`https://openlibrary.org/...`

## Expectation

If there are no `classifications:{}` and no `identifiers:{}` save should not be adding them

## Details

## Proposal & Constraints

## Stakeholders

[2019-03-04 07:07] Pratyush1197 commented on #1933
Can you please provide the link where this error is occuring

[2019-03-04 10:35] shreyansh23 commented on #1498
At majority of places double quotes had been used. So, rule for enforcing double quotes has been added in the PR.
@jdlrobson @tabshaikh Please review the PR

[2019-03-04 13:45] GLBW commented on #1933
![bildschirmfoto von 2019-03-04 10-22-42](https://user-images.githubusercontent.com/47823517/53737073-cb146b00-3e8b-11e9-9ba7-a83eed413f21.png)

https://openlibrary.org/books/OL12691582M/Die_Deutsche_Bank_und_die_Arisierung./edit

https://dev.openlibrary.org/books/OL12691582M/Die_Deutsche_Bank_und_die_Arisierung./edit

[2019-03-04 15:49] Pratyush1197 commented on #1933
Thank you. I will fix this issue

[2019-03-04 17:01] seabelis commented on #228
![fullscreen capture 342019 55835 pm bmp](https://user-images.githubusercontent.com/17739465/53749320-69fa9080-3ea7-11e9-8272-f14f041189bf.jpg)
The checkbox should be removed then. It does nothing. It is still necessary to state that it is the first sentence in the text box.

[2019-03-04 18:02] LeadSongDog commented on #228
I think there's no real reason it should be admin-only. Anyone should be able to remove an excerpt.

[2019-03-04 19:22] #1498 closed

[2019-03-04 20:22] shreyansh23 opened #1949 "Make the table of loan page look neater"
## Description

Currently the buttons seem to overlap, creating bit of confusion for the user. Moreover, there is a misalignment date vertically.

## Evidence

`https://openlibrary.org/...`

https://openlibrary.org/account/loans

![first-issue](https://user-images.githubusercontent.com/32803230/53759966-90402080-3ee7-11e9-9b00-d3fda146b174.png)

## Expectation

This page could be made much more ne

[2019-03-04 20:25] shreyansh23 commented on #1949
@mekarpeles @hornc @jdlrobson If you find this issue valid, I would like to work on it.

[2019-03-04 21:12] yash-kedia opened #1950 "Enhancing the search button and making it match with the theme of the website"
## Description

## Evidence

`https://openlibrary.org/...`

## Expectation

## Details

## Proposal & Constraints

## Stakeholders

[2019-03-04 21:13] #1950 closed

[2019-03-04 21:18] yash-kedia opened #1951 "Make search button on Subjects page match the theme of the website"
## Description
The search button needs some redesigning to match it with the color pallete and theme of the wesite.

## Evidence

https://openlibrary.org/subjects/science

![screenshot 14](https://user-images.githubusercontent.com/39669117/53763528-0b5a0480-3ef1-11e9-8417-82a8a9293add.png)

## Expectation
The button  should match the color pallette of the site and it color should be blue and needs

[2019-03-04 21:19] yash-kedia commented on #1951
@mekarpeles @hornc  i am willing to work on this issue if it is ok

[2019-03-04 21:40] seabelis commented on #228
Removing the excerpt isn't the issue. Adding the first sentence--or at least designating it as such via the checkbox--is the issue. Checked or not, one must comment that it is the first sentence otherwise it is not specified as such.

[2019-03-05 01:36] #1926 closed

[2019-03-05 02:22] mekarpeles commented on #1825
This issue is too free-ranging in scope -- renaming as it seems the goal is to fix line-spacing of the `linkbox` component:

https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#linkbox

[2019-03-05 02:49] #996 closed

[2019-03-05 04:12] mekarpeles commented on #1951
Please check on dev.openlibrary.org/search as some effort has been put into this issue.

Also feel free to work on it but please also propose what it might look like in giving the community an opportunity to weigh in on the design

[2019-03-05 06:29] jdlrobson commented on #1951
See also #1184 !

[2019-03-05 06:35] tfmorris commented on #1934
"Librarian mode" is poorly named since it's not really a mode and it's not, as far as I know, restricted to users in the librarian's group. It's not uncommon for UIs to hide "advanced" features/fields, but default. Why are we abolishing this based on a single tweet?

Did anyone ask the Twitter user what field(s) they need from the advanced fields? Perhaps there's just a single one that they always

[2019-03-05 13:44] yash-kedia commented on #1951
i saw the issue #1184  i have made the button blue by applying the correct class
![screenshot 16](https://user-images.githubusercontent.com/39669117/53809521-ea3df600-3f7a-11e9-81bb-b2310d7ea39e.png)
this is what i propose it to be

[2019-03-05 13:46] yash-kedia commented on #1951
@mekarpeles @jdlrobson now the search button is not looking odd on the webpage and is matching with the theme of the page

[2019-03-05 17:39] theaayush8999 commented on #686
I would like to contribute send me the invite !!
email : this.aayush@gmail.com

[2019-03-06 17:44] rohitjain00 commented on #780
Is this still active? if it is please provide description for the issue

[2019-03-06 19:52] mekarpeles commented on #780
Hi @rohitjain00! I've updated the original comment to be more descriptive

[2019-03-06 22:25] LeadSongDog commented on #1934
Modal behaviour is generally a bad thing. Much of what hides in "librarian mode" is in need of attention, but doesn't get it because it is obscured.  The edition name should never have been there. The "translation of" should just be the work id. The "translated from" should be autopopulated from the language of the original edition of that work (or just done away with), not a troublesome, slow, pi

[2019-03-07 00:22] Batey96 commented on #1834
I have had same problem but below steps fixed the problem:
-make sure you have ssh keys setup for your github account
-Do a recursive clone when cloning ol through ssh(git clone --recurse-submodules)
finall:continue with the images building

[2019-03-07 00:58] #1934 closed

[2019-03-07 02:33] tfmorris commented on #1934
If we're going to speak in broad generalities I could say, "Progress disclosure of complexity is generally a good thing."  Heck, I could even provide a [citation](https://www.nngroup.com/articles/progressive-disclosure/) to a world-renowned UX designer.

[2019-03-07 02:36] #1913 closed

[2019-03-07 02:37] #783 closed

[2019-03-07 02:37] #949 closed

[2019-03-07 02:38] Batey96 opened #1955 "Null return on db query for number of books contained in a subject"
## Description
Most of the subjects overview in the index page indicates that there are no books(0 books) but when visiting the page,shows blank slates of books contained in the subject

## Evidence
A case study here is the History subject

![plays](https://user-images.githubusercontent.com/24868289/53927678-e64bca00-4087-11e9-8aa2-16c5e4afbb2b.png)
![blankslates](https://user-images.githubusercon

[2019-03-07 04:36] jdlrobson commented on #1951
@yash-kedia I understand what you are trying to achieve and would support this change given I think it's better if we have less classes for describing buttons (and I'd like to remove https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#buttonbrowserdefault-was-buttonsearch-- from the styleguide! 😄  )

I do however wonder if the search should be a white button like the edit ic

[2019-03-07 09:20] yash-kedia commented on #1951
yup i beliveve and support your changes and would sure do it

[2019-03-07 13:32] shreyansh23 commented on #1805
@mekarpeles @tfmorris I was seeing this issue and I observed two bugs.

For the same search endpoint (https://openlibrary.org/search/inside?q=nicodemus)
![search-bug](https://user-images.githubusercontent.com/32803230/53959612-1fc51980-410a-11e9-9e70-8229c4804f9a.png)

Type 1
Here the author exists ( I followed the URL and checked the JSON too) but it is not showing.
Type 2
As @tfmorris mentioned

[2019-03-07 13:35] rohitjain00 opened #1957 "Adding Rules and Regulations regarding pull request"
## Description [ feature ]
Going through this project I saw that there are no rules regarding the PR a  user creates. Only a template for PR is provided.

https://github.com/internetarchive/openlibrary/blob/master/CONTRIBUTING.md

![screenshot from 2019-03-07 18-58-01](https://user-images.githubusercontent.com/17525863/53960013-20aa7b00-410b-11e9-861b-2eebaf75202a.png)

## Expectation

## Proposal

[2019-03-07 13:38] shreyansh23 commented on #1308
@mekarpeles
I couldn't reproduce this issue.
I tried searching for a book by ISBN 0689710682 using the advanced search and it searched the correct book.

[2019-03-07 13:50] shreyansh23 commented on #1197
@mekarpeles

Yes, the issue is still there.

[2019-03-07 15:33] #1308 closed

[2019-03-07 16:23] seabelis opened #1958 "Cannot remove contributor "Testing""
## Description

Cannot remove "testing" from the list of contributors.

## Evidence
Removing it from the edit page behaves normally, but contributor remains after save.

https://openlibrary.org/books/OL22288398M/To_Kill_a_Mockingbird

## Expectation

Normally contributors can be deleted.

## Details

Chrome Version 72.0.3626.119 (Official Build) (64-bit)

Win 7 Pro
## Proposal & Constraints

## St

[2019-03-07 17:17] tfmorris commented on #1958
I can confirm/reproduce this. The form data looks a little weird, but I can't tell if it's actually wrong without more investigation:

The edit request is getting sent, but is neither creating a new version nor generating an error (it returns a 303 See Other).

[2019-03-07 21:57] nimbus98 commented on #899
Here are some resources I've found and tried implementing, and they don't seem to exactly work.
https://groups.google.com/forum/#!topic/recaptcha/7eWv4-JK7mY
https://stackoverflow.com/questions/19560447/is-it-possible-to-use-recaptcha-without-iframe-and-any-javascript
https://stackoverflow.com/questions/18853007/how-to-hide-recaptcha-for-javascript-enabled-browsers-and-pass-html-validation
and her

[2019-03-07 22:51] #899 closed

[2019-03-08 01:00] #1874 closed

[2019-03-08 01:02] #1889 closed

[2019-03-08 02:19] mekarpeles commented on #1783
Duplicate of #1461

[2019-03-08 02:19] #1783 closed

[2019-03-08 02:30] jdlrobson opened #1961 "Regression: mobile search button takes you to search page rather than revealing an input"
## Description

Advanced search is much slower than the autocomplete search.

Previously clicking search revealed a search input that allowed you to search without leaving the page

## Evidence
Visit any page on a mobile device and hit search icon.

`https://openlibrary.org/...`

![screenshot_20190307-182846_chrome](https://user-images.githubusercontent.com/148752/54003471-30c05b80-4107-11e9-84a0-

[2019-03-08 02:33] jdlrobson commented on #1961
No JS errors so I am guessing this may relate to those recent `live` changes. The event handler is not running.

[2019-03-08 19:16] mekarpeles commented on #1961
When the screen is very small, the main search box turns into a magnifying lens icon.

It used to be the case that when a user clicked this lens (in the small-screen mode) it would expand so that there was also an input area you could type in.
But a regression has occurred where instead of expanding, clicking the icon instead redirects you to /search (which is not what we want)
So the task is to l

[2019-03-08 19:19] mekarpeles commented on #1961
Assigning to @ShreyashApp

[2019-03-08 20:50] mekarpeles opened #1962 "Help us meet librejs requirements openness/license requirements"
## Description

I was talking to RMS and he was emphatic that he'd like openlibrary.org to pass https://www.gnu.org/software/librejs/ validation. Not top priority, but it would be great for us to do better about licensing our code :)

[2019-03-08 23:09] #1461 closed

[2019-03-08 23:53] mekarpeles opened #1963 "Fixing tab order (on works editions table entries)"
Using flex order has affected the tab order. Got to resolve that!

![tab order](https://user-images.githubusercontent.com/30471843/54015593-286b2d80-41a6-11e9-901d-11522f0ec380.gif)

Another thing I noticed while tabbing through the page with voice over is that a user isn't informed when an eBook isn't available, and the library links' placement isn't clear on the mobile and tablet version of the

[2019-03-09 00:27] jdlrobson commented on #1961
I've tracked this regression down to a commit. This was broken in 7e79a9376b816181d2dbb14ed41bef9357d857e0 - that will provide the clue to how to fix this :)

[2019-03-09 01:19] jdlrobson commented on #1963
I'm not 100% sure I understand the problem here. It seems useful that the read eBook is the third tab as screen reader users can get to the "read" action quicker.

The HTML and thus the tabIndex reflects the order of importance. I'm not sure it matters visually what the order is.

Are you asking for tabIndex to be removed on certain elements?

[2019-03-09 09:59] ShreyashApp commented on #1961
I found that changing the code to this worked.
$(document).live('submit','.trigger', function(e) {
Is there some possibility to check it.  Thank you.

[2019-03-09 12:29] trosel opened #1964 "[Discussion] Creating an Alternative to Goodreads (User Follows, User Review Improvements)"
These are some items that I believe are required to truly make an alternative to Goodreads.

Perhaps this is beyond the scope of what OpenLibrary is trying to be, but I don't see any point in creating a halfway replacement for Goodreads when the site is already very close. For example, you have the reading lists/logs and star ratings already.

# User Follows and Personalized Feeds

When I create a

[2019-03-09 12:38] trosel opened #1965 "[Discussion] What will be needed to utilize InternetArchive's decentralized infrastructure?"
Internet Archive already has some preliminary tools set up for decentralization: https://github.com/internetarchive/dweb-archive

Obviously, this allows for more efficiency of data retrieval, but also more data resilience.

Regarding the prospect of book censorship, I find this topic to be very relevant to OpenLibrary.

If something like User Text Reviews are added to the website, perhaps that asp

[2019-03-09 17:12] seabelis commented on #228
I take it back, removing an excerpt is also an issue. I can remove it, but then it just displays on the work page in larger text.

[2019-03-10 07:52] mekarpeles commented on #1964
Relates to #857, see WIP PR #1966 -- "User Follows" user activity following is a branch-in-progress.

[2019-03-10 10:12] shreyansh23 commented on #1560
@tabshaikh
 https://archive.org/about/terms.php Will this serve the purpose of CODE_OF_CONDUCT?

[2019-03-10 11:16] rohitjain00 commented on #780
@mekarpeles  Should after increasing the screen size the state of search result return to its original state or the results be closed always?

[2019-03-10 11:37] koderjoker commented on #1963
@jdlrobson I guess I was too fixated on making the visual order match the dom order as I thought the tab jumping around would make it irksome for someone using a keyboard. 😅

The changes I want to propose for making it easier for screen readers are
-Give all library links a title description (Library.link)
-Inform the user when an eBook isn't available (tabbing just jumps over "No ebook available"

[2019-03-10 18:06] rohitjain00 commented on #780
I think the text written inside the text box should be cleared once the input bar for searching has stop showing

[2019-03-11 03:52] shreyansh23 commented on #1357
@mekarpeles
Is this issue still open?

[2019-03-11 05:24] rohitjain00 opened #1968 "Dispensable underline on Add to List button (dropper list component)"
## Description

https://openlibrary.org/subjects/fantasy#sort=date_published&ebooks=true

![addToListButtonUnderlined](https://user-images.githubusercontent.com/17525863/54101815-918fb280-43eb-11e9-8896-a8aae86e9d9f.png)

## Expectation

## Details
Text decoration is set to underlined which should be removed

Y

[2019-03-11 06:37] manishupadhyaya commented on #1951
@mekarpeles @hornc @yash-kedia I would also like to work on this issue

[2019-03-11 06:53] manishupadhyaya opened #1969 "Login Page looks Dull, changes in the login Button and maintaining uniform font size is required"
I would like To make changes to the login Page UI

'https://openlibrary.org/account/login?redirect=/books/OL24206976M/Ferno_the_fire_dragon/borrow?action=borrow'

https://screenshots.firefox.com/jp5RciUDxxCN35Qi/openlibrary.org

## Expectation
Some basic Changes in the UI is required.

[2019-03-11 08:29] shreyansh23 opened #1970 "Create a new list button is not working"
## Description

Create a new list button is not working (nothing is happening on clicking). I haven't used this feature before. But surely, something is wrong in this.

https://openlibrary.org/books/OL23114970M/Blade_of_fire

![create-new-list](https://user-images.githubusercontent.com/32803230/54109662-44203f00-4405-11e9-92df-89a2ce48eca0.gif)

## Details

Y

Firfox

Ubuntu 18.04

## Stakeholders

[2019-03-11 08:31] shreyansh23 commented on #1969
@manishupadhyaya
What kind of changes do you expect?

[2019-03-11 08:50] shreyansh23 opened #1971 "Fix CSS for modals"
## Description

The modals in openlibrary work fine but have many CSS issues in them.
- The cross button goes out of the box
- The content inside the modal starts touching the border

## Evidence

https://openlibrary.org/works/OL1487362W/Charlotte_Temple
Then click add cover

![cross-padding](https://user-images.githubusercontent.com/32803230/54110622-e17c7280-4407-11e9-8f00-57e4135c21c9.gif)

##

[2019-03-11 09:07] shreyansh23 commented on #1971
I would like to work on this! :smiley:

[2019-03-11 09:51] shreyansh23 commented on #1820
Got the same issue on mobile Chrome Mobile Browser. But worked correctly in Firefox Mobile Browser!

[2019-03-11 10:20] shreyansh23 opened #1972 "Css issues in list of Editions"
## Description

On work page the list of editions is displayed. I found some CSS flaws in it:
- The sorting icons on the top row collide into one.
- The cover image size is too small.
- There is horizontal overflow in the td.book element (as shown in the screenshot).

`https://openlibrary.org/...`

https://openlibrary.org/works/OL13101191W/Alice's_Adventures_in_Wonderland

![editions-list](https:/

[2019-03-11 10:24] shreyansh23 commented on #1972
I would like to correct this.

[2019-03-11 11:13] manishupadhyaya commented on #1969
@shreyansh23 I mean the Basically changes in the button color and giving border radius to it. And Hovering over links gives a greenish Color. If it would Be greyish it would go with the site's color maintaining a uniformity

[2019-03-11 12:04] shreyansh23 commented on #1911
Yes! I also faced the same problem

[2019-03-11 12:16] trosel commented on #1964
Awesome! So for the Rating expansion, this is what I'm thinking:

1. Expand all methods in the [Ratings class](https://github.com/internetarchive/openlibrary/blob/d883f91229b4f4d13fa2e6d4da6343dc78417d64/openlibrary/core/ratings.py) to include: `star_rating` and (optional) `text_review`

2. Search all files for invocations of `rating` and replace it with the appropriate `rating.star_rating`

3. Ad

[2019-03-11 12:43] trosel commented on #1965
For decentralization, I think the best bet at this time would be building on top of IPFS. I will do some research on good ways to integrate web.py with IPFS.

For now, see here for a company using IPFS quite heavily: https://medium.com/textileio/search?q=ipfs

[2019-03-11 12:54] trosel commented on #1965
After some research, InternetArchive is using Gun

- https://news.ycombinator.com/item?id=17685682
- https://github.com/amark/gun
- https://gun.eco/think.html
- https://github.com/amark/gun/wiki/Awesome-GUN

[2019-03-11 12:58] koderjoker commented on #1972
@shreyansh23 this issue already exists (issue [#1339](https://github.com/internetarchive/openlibrary/issues/1339)) and is being worked on (pull request [#1899](https://github.com/internetarchive/openlibrary/pull/1899))

Feel free to work on another issue! 🙂

[2019-03-11 13:27] shreyansh23 commented on #1972
Oh! I see. Thanks for telling :relaxed:   @koderjoker

[2019-03-11 13:49] shreyansh23 opened #1974 "Separate issue template for bug report and feature request"
## Description

Our issue template can be improved by separating bug report template template and feature request template. Github offers features for more systematic issue templates (see image below).

![new-issue-page-with-multiple-templates](https://user-images.githubusercontent.com/32803230/54128607-75633400-4432-11e9-8f32-d31ed0b6a525.png)

For reference: https://github.blog/2018-05-02-issue-

[2019-03-11 13:52] shreyansh23 commented on #1974
I would like to work on it!

[2019-03-11 13:52] tabshaikh commented on #1560
@shreyansh23 something more like this https://github.com/tensorflow/tensorflow/blob/master/CODE_OF_CONDUCT.md

[2019-03-11 15:12] mekarpeles commented on #1560
I think in general we shouldn't create paperwork to create paperwork. this would be a great place for us to document regressions and resolutions as we encounter issues.

At the present it needs say little more than: Be open, inclusive, respectful, and suportive

[2019-03-11 15:37] shreyansh23 commented on #1560
Okay @mekarpeles

I will try if I can submit a simpler version of CONTRIBUTING.md as described by you.

[2019-03-11 17:16] shreyansh23 commented on #1560
@tabshaikh Any suggestion for #1974?

[2019-03-11 17:39] jdlrobson commented on #1971
We actually have multiple ways to make overlay modal windows. I'd like to consolidate on a single JavaScript construction for them. Provided this is a css only fix I support this change but if it requires Javascript changes i think we should be more ambitious!

[2019-03-11 17:40] jdlrobson commented on #1970
This looks like a jQuery.live issue. It has the same symptoms as #1961

[2019-03-11 17:45] jdlrobson commented on #1969
Please see my comments on #1951. standardization is hard and this is not really a top priority right now. What's more important is documenting existing components and how they are constructed.

I'd rather have a designer go over the component library [1] we have been documenting and make these decisions with the whole site in mind.

[1] https://github.com/internetarchive/openlibrary/wiki/Design-Pa

[2019-03-11 17:48] jdlrobson commented on #1951
I would prefer not making any design changes at the current moment of time and rather spend energy on making these components easier to create.

All components should have associated macros otherwise we will end up with multiple definitions referencing these classes all over the place.

Changing the style of something will then be much easier.

What would be more useful is finding any templates th

[2019-03-11 17:50] jdlrobson commented on #1820
@shreyansh23 can you provide any replication steps that are device agnostic?

[2019-03-11 19:05] koderjoker commented on #1147
@jdlrobson just reaffirming, but do we want to hide the dropper when js is disabled?

I could do that by giving dropper the style `display: none` and switching it with js.

[2019-03-11 19:54] LeadSongDog commented on #1964
We should distinguish rating the work from rating the various editions, especially for translations and audiobooks.  Not all readings are equivalent.

[2019-03-11 19:58] shreyansh23 commented on #1820
@jdlrobson I am trying to find proper steps. I tried different mobile phones.
Mi Redmi Note 4 and Mi5 had problem.
Rest of the mobile phones (Samsung J7prime, Vivo Y53, Vivo Y66, IPhoneX) twitter icon rendered as it should be.
So it seems there is something with Xiaomi mobiles that is causing the problem.

[2019-03-11 20:10] shreyansh23 commented on #1971
@jdlrobson
The above issue needed only CSS fixes. But yes! we can adopt better ways of having overlay modals (or dimmer) if javascript changes are required.

[2019-03-11 20:26] trosel commented on #1964
@LeadSongDog If we could have the option for edition vs work rating (or both), that might be interesting.

I often see amazon book reviews that logically separate the edition from the general work.

[2019-03-11 21:20] amark commented on #1965
Thanks for jumping into our chatroom!

Will you be at the IA event tomorrow, @trosel ?

[2019-03-12 01:15] #1910 closed

[2019-03-12 01:50] jdlrobson commented on #1147
Ideally this would work, but if there is no fallback we should hide it. When hiding it you may need to use visibility: hidden to avoid CSS repaints/reflows/flash of unstyled content (https://en.wikipedia.org/wiki/Flash_of_unstyled_content)

[2019-03-12 12:13] manishupadhyaya commented on #1969
https://screenshots.firefox.com/7Ay9qaQ1Ex637XOK/openlibrary.org

Well a little padding makes it more attractive.

[2019-03-12 16:41] mekarpeles commented on #1969
I agree with @jdlrobson on this point. More thought is required on consolidating our buttons so that they are consistent across the website. We should try not to design components on a per page basis

[2019-03-12 16:41] #1969 closed

[2019-03-12 17:26] shreyansh23 commented on #1911
@feat7
I would like to like to fix this bug.

[2019-03-12 20:20] shreyansh23 commented on #1974
In the project's community guidelines checklist Issue templates is not checked.

source: https://help.github.com/en/articles/about-issue-and-pull-request-templates#issue-templates

![community](https://user-images.githubusercontent.com/32803230/54232881-bee67880-4531-11e9-8cae-5f7d37020a28.png)

[2019-03-12 23:23] tfmorris commented on #1530
This author record from 2008: https://openlibrary.org/authors/OL363064A.json?v=1
got imported from this MARC: https://openlibrary.org/show-records/marc_university_of_toronto/uoft.marc:338337433:849

including the birth year, but not including the 700$q "Fuller form of name" subfield, which is an unfortunate gap. We should include the $q subfield for not only 700s, but 600, 100, and any other relev

[2019-03-13 00:23] tfmorris commented on #1530
@hornc Do you still think the problem as originally stated exists? I'm guessing not, but there seem to be some loose ends which could be cleaned up (in addition to the comments that you already improved).

Should we repurpose this ticket for the missing pieces or close it and start fresh? I don't feel strongly one way or the other.

In addition to the 700$q fuller name handling in my example, it l

[2019-03-13 00:58] tfmorris commented on #1621
@mekarpeles re: the comment by @hornc above - Who owns ImportBot? Where is the source code located?

[2019-03-13 13:38] rohitjain00 commented on #466
Can anyone provide me more details regarding this Issue?

[2019-03-13 13:41] rohitjain00 commented on #93
Is there any follow up? or do this Issue needs to be closed?

[2019-03-13 14:26] rohitjain00 commented on #95
I think this issue is resolved
![facet](https://user-images.githubusercontent.com/17525863/54286503-fc96e000-45c9-11e9-8013-7d6d6df5b785.png)

[2019-03-13 14:32] rohitjain00 commented on #29
@kryptc I think you need to ask these kind of questions on Slack or Gitter. There you will find the help you needed.

[2019-03-14 14:09] GLBW commented on #1914
The book can be displayed now (with ampersand) thanks to Charles and I want to close this issue. https://openlibrary.org/books/OL26625701M/Liebe_Revolution

[2019-03-14 14:09] #1914 closed

[2019-03-14 20:24] seabelis commented on #1964
This has the potential of creating "edit wars" - especially for current books. A book's reviews can be boosted by changing the details of an edition. Might not be a deal-breaker for the feature, but may create the need for some written policies and moderation.

[2019-03-14 20:27] seabelis opened #1984 "List creation not working"
## Description

## Evidence

`https://openlibrary.org/...`

## Expectation

Normally one can use the drop-down list of lists to create a new list. This is not currently functioning.

## Details
I have tried refreshing the page, but no fix.

Y

Chrome Version 72.0.3626.121 (Official Build) (64-bit)

Win 7 Pro
## Proposal & Constraints

## Stakeholders

[2019-03-15 05:39] tfmorris opened #1985 "Bad imports, with title "<>""
The following are books that were imported in a way that caused them to end up with `<>` as their titles. The two that I checked were both foreign languages/script with one Korean and one Russian. One was imported by horncbot and the other by ImportBot. Neither had a machine comment pointing to the original source record making provenance more or less impossible to trace.

/works/OL18170370W
/work

[2019-03-15 13:42] trosel commented on #1964
@seabelis can you give an example of what you're talking about? Please use the words "work" and "edition" so we can understand your concern.

[2019-03-15 14:33] tfmorris commented on #1964
Goodreads is a commercial social site for readers. OpenLibrary is a non-profit site with the mission statement "A web page for every book." Those are two very different things and OpenLibrary is a long way from doing a good job at its core mission, so I think it's way too early to try and warp it into something else.

If we were to compete with Goodreads, the first thing we should do is stop sendi

[2019-03-15 14:49] trosel commented on #1964
This is irrelevant, imo. All it takes is one dedicated person to come along. I'm not demanding that other people do something immediately.

Good point!

[2019-03-15 20:32] rohitjain00 commented on #1123
According to the documentation given on thofficial [LESS.js](http://lesscss.org/usage/) page
It is Instructed to use **Clean CSS plugin**
![cleanCSSPlugin](https://user-images.githubusercontent.com/17525863/54460362-57c5ff80-478f-11e9-868d-00d6bded8024.png)
So I think rather than using lessc-x (Which is depriciated), We should switch to [Clean CSS plugin](https://github.com/less/less-plugin-clean-

[2019-03-16 04:58] Pratyush1197 opened #1986 "Edit page not responsive on mobile"
## Description

![Screenshot_2019-03-16 The Deutsche Bank and the Nazi Economic War Against the Jews Open Library](https://user-images.githubusercontent.com/32239181/54470894-17d63b00-47d6-11e9-9ed3-d2086b1afa13.png)

## Expectation

## Details

## Proposal & Constraints

## Stakeholders

[2019-03-16 04:58] Pratyush1197 commented on #1986
I want to work on this issue

[2019-03-16 07:30] shreyansh23 commented on #1984
Duplicate of #1970

[2019-03-17 13:33] shreyansh23 commented on #686
@mekarpeles
I'd love to join the slack channel. I have sent you an email at mek@archive.org for the same.

[2019-03-17 18:05] rohitjain00 commented on #1961
Is there any follow-up for this issue? I would like to work on fixing this.

[2019-03-17 18:11] #780 closed

[2019-03-17 18:13] #1911 closed

[2019-03-17 18:16] #1339 closed

[2019-03-17 18:24] mekarpeles commented on #1591
This should be almost resolved by #1978

[2019-03-17 18:31] mekarpeles commented on #1961
@rohitjain00 go for it -- willing to review solutions from either you or @ShreyashApp (who previously submitted a fix though I don't believe it's resolved the issue yet)

[2019-03-17 19:27] ShreyashApp commented on #1961
Hi,
@mekarpeles I checked it on my local host and it seems to work fine. Could you tell me some steps to recreate the issue.

[2019-03-17 20:27] mekarpeles commented on #1961
@ShreyashApp's solution (merged) works great -- something happened between time of merge and now which is resulting on the changes not appearing in master.

`git blame` on `ol.js` shows:

`3d2711b2 (Rohit Jain          2019-03-17 23:41:17 +0530 261)     $('.trigger').on('submit', function(e) {`

so it's possible a merge conflict occurred and the wrong code was accepted.

@ShreyashApp may I ask you

[2019-03-17 20:47] #1961 closed

[2019-03-17 22:19] shreyansh23 commented on #1970
I will try to fix this.

[2019-03-18 07:11] shreyansh23 commented on #1110
@mekarpeles I was trying to solve this issue.
I followed the instructions in your [previous comment](https://github.com/internetarchive/openlibrary/issues/1110#issuecomment-428537080).
I observed how expiry data is coming in /account/loans page.
I reached here,

[code]

I want this `loans` object available to edition templates. I am stuck how to implement that. I think I am thinking in the wrong w

[2019-03-18 09:21] shreyansh23 commented on #557
@mekarpeles
Can you throw some light on how to should I proceed and what all changes will be required?

[2019-03-18 15:22] mekarpeles commented on #557
Sorry I should have assigned myself to this, I have a fix in progress. Work_search.html has a loop which filters ebooks only but it needs to know which books are print disabled. This was added in #1978

[2019-03-18 17:54] #1974 closed

[2019-03-18 18:14] seabelis opened #1990 "Why is edit page so slow?"
**Description**

**Evidence / Screenshot (if possible)**

**Relevant url?**

**Expectation**

**Details**

**Proposal & Constraints**

**Stakeholders**

[2019-03-18 20:24] jdlrobson commented on #1971
div.floater { position: relative; font-family: @lucida_sans_serif-1; width: 640px; min-height: 670px; ........ }

[Ref]

This sounds fine to me! If I understand your analysis correctly, we can just fix this with one line of CSS:

[code]

and yes.. that would be a lot better as it would avoid the !important's entirely!

[2019-03-18 21:29] tfmorris commented on #1984
Closing as a duplicate of #1970.

[2019-03-18 21:29] #1984 closed

[2019-03-19 05:32] rohitjain00 commented on #1123
I think we should also add a autoprefixer along with clean CSS and remove any manually added autoprefixing

[2019-03-19 11:02] shreyansh23 commented on #1970
@jdlrobson
I tracked this regression down to a commit. This was broken in [f9905410](https://github.com/internetarchive/openlibrary/commit/f990541030f061c4d5e461b01433e5f9d8ba255b). Before this the list creation is working correctly. I reverted the changes done in that commit (on top of current master) and everything was working fine.

[2019-03-19 11:12] theashwin commented on #1964
Can this be taken up as a Google Summer of Code proposal? If yes, then it'll be an interesting project for the summer. I have some ideas on how I would implement these features. @trosel

[2019-03-19 11:31] shreyansh23 commented on #1970
Should I revert that particular commit?

[2019-03-19 12:17] shreyansh23 commented on #439
I think this issue went inactive. Can I work on this @mekarpeles?
Can you throw some light on its implementation?

[2019-03-19 12:59] rohitjain00 opened #1991 "Add installation Instruction to Docker Readme"
**Description**

**Relevant url?**

**Expectation**

[2019-03-19 13:06] shreyansh23 commented on #1842
@jdlrobson
I would like to work on this issue. I haven't used twitter/facebook cards before so currently, I am reading about them.

[2019-03-19 13:13] shreyansh23 commented on #1842
@jdlrobson
Also, I was checking the current card for the author's page and got the following error.
![twitter](https://user-images.githubusercontent.com/32803230/54608478-ca2c2d80-4a76-11e9-94c2-af126bb9627d.png)
The image was not able to load.

[2019-03-19 14:05] #1991 closed

[2019-03-19 15:03] mekarpeles commented on #1964
@theashwin a good place to start with a Google summer of code proposal is learning from the community what their thoughts are values are. @tfmorris has been a core contributor for several years and I agree with a lot of his points here. I'm not yet convinced these features are the right ones for open Library and I'm not sure how the rest of our community would respond to a Google summer of code pr

[2019-03-19 15:06] mekarpeles commented on #1964
@trosel /book/[id]/ratings seems like a reasonable proposal to me.

[2019-03-19 15:13] LeadSongDog commented on #1357
@shreyansh23 Is books.num_found of type int when there are no books found? It looks as if that might be the issue.

[2019-03-19 15:20] mekarpeles commented on #1357
I think we should close the issue given no example URL is provided, which is my fault as the issue creator. Thanks all!

Will reopen with an example if I encounter this again

[2019-03-19 15:20] #1357 closed

[2019-03-19 15:25] #1971 closed

[2019-03-19 15:46] mekarpeles commented on #1842
Good catch! Will investigate

[2019-03-19 20:24] jdlrobson commented on #1964
So what happens when that dedicated person disappears or has less time to focus on the feature(as is common in open source)? Who reviews their code while they are here? Who is on the hook when the site goes down because of code relating to those changes?

I'm inclined to agree with @tfmorris on this one

[2019-03-19 20:30] jdlrobson commented on #1964
My biggest concern around text reviews is moderation is a huge problem and spam, copyright, harassment and offensive text are all things you should be thinking about with such a system.

Who will moderate? Can the community handle that? I'd like to see these in the proposal.

I think the goal is admirable but we should consider every possible thing that is packed into that goal.

[2019-03-19 23:30] #1937 closed

[2019-03-19 23:35] #1842 closed

[2019-03-20 01:16] jdlrobson opened #1995 "Move all vendor prefix usages into mixins"
**Description**

In preparation for auto-prefixing/removing vendor prefixes and making our rules consistent we should move all vendor prefixes into mixins defined inside static/css/less/mixins.less

**Expectation**

We know it's done when a search for the following yields one result (+ any lib usages):
[code]

DO NOT touch the files inside the lib folder. These are from vendors and we shouldn't ta

[2019-03-20 01:17] jdlrobson commented on #1123
@rohitjain00 #1995 would give us a head start on that. I'm not sure about using an autoprefixer but if we do we're blocked on the webpack move in #1936

[2019-03-20 02:14] #1180 closed

[2019-03-20 02:14] #1489 closed

[2019-03-20 08:27] seabelis commented on #1964
The terms make no difference as both items can be freely edited by anyone. The danger in adding reviews is that they can be easily hijacked by editing the details of a work or edition record. Or on the flip side to disassociate a work or edition from poor reviews. And this also provides incentive to modify records for reasons other than improving the quality of the data itself.

[2019-03-20 14:24] trosel commented on #1964
@jdlrobson

This is a concern for literally any work that goes into the site. Again, there's no need to rush into anything. But there's also no need to dismiss ideas merely because an Open Source project is Open Source.

@mekarpeles @tfmorris My question based on your concerns is where the line gets drawn. Adding the User Follows / Activity feeds is about 70% of the way towards Goodreads. Is _that

[2019-03-20 14:29] Ifeanyijasper commented on #686
Hey I will like to contribute. This is my email ifeanyijasper11@gmail.com

[2019-03-20 19:12] ShreyashApp commented on #1995
Hi,
 I would like to work on this, if no on else is doing something similar to it.

[2019-03-20 21:13] mekarpeles commented on #1970
@shreyansh23 I think's its safe to just commit on top of whatever is on master.

[2019-03-20 21:15] shreyansh23 commented on #1970
Okay @mekarpeles. I will do it.

[2019-03-20 21:30] shreyansh23 commented on #1970
I reverted the changes but I am getting an error in running 'docker-compose exec web bash make js'
![Screenshot from 2019-03-21 02-58-40](https://user-images.githubusercontent.com/32803230/54720383-4a40b900-4b85-11e9-8fb1-92393a05dc1b.png)
I suppose it is related to Webpack.
How can fix that?
@mekarpeles @jdlrobson

[2019-03-21 01:24] jdlrobson commented on #1970
We don't want to do a full revert as that's going to break the problem that patch was fixing. Do you know which line the problem is on?

My guess is the list shows but the event is propogated and there is a click handler related to the list item that needs to call ev.stopPropagation.
You can put a console.log inside the document click handler to verify this theory one way or the other.

[2019-03-21 01:28] shreyansh23 commented on #1970
Yes, I also suppose that `e.stopPropagation` is preventing other event handlers.

[2019-03-21 01:31] shreyansh23 commented on #1970
@jdlrobson
Still, please check the webpack error. Getting error when using `make js` command.

[2019-03-21 01:46] mekarpeles commented on #1970
@shreyansh23 I suspect (because webpack was added very recently) that it is not installed within your instance of docker. You should be able to docker exec into oldev and `npm install webpack`

[2019-03-21 01:46] mekarpeles commented on #1970
Sorry this happened!

[2019-03-21 02:30] jdlrobson commented on #1970
Okay. Took a look at this.
The handler for creating a list appears to live inside openlibrary/templates/lists/widget.html and look like this
[code]
#widget-add stops event propagation and listClick is a child of this element so you are right to point out this patch as breaking it.

The real problem from my perspective here is the line `$(".listClick").click();` is relying on event propagation and

[2019-03-21 11:32] shreyansh23 commented on #1972
Duplicate of #1339
Closing this issue.

[2019-03-21 11:32] #1972 closed

[2019-03-21 16:42] ShreyashApp commented on #1995
Hi,
Which all files should I make changes too. Or is to all of them?

[2019-03-21 19:32] rohitjain00 commented on #1308
@mekarpeles When I tried searching for "the". It reproduces the error
Try opening this :
- https://openlibrary.org/search?q=the&mode=everything&m=edit

[2019-03-21 20:10] jdlrobson commented on #1995
All files! I recommend doing this over several patches doing one mixin at a
time.

On Thu, Mar 21, 2019, 9:42 AM ShreyashApp <notifications@github.com> wrote:

[2019-03-22 01:52] shreyansh23 commented on #1970
@jdlrobson

I think I partially didn't get what you were trying to convey. I suppose it is because I am not able to understand what [f9905410](https://github.com/internetarchive/openlibrary/commit/f990541030f061c4d5e461b01433e5f9d8ba255b) is doing. It is titled "Cleanup/document dropclicker behaviour". But I think you were doing something more than that. Can you tell me what are your objective wit

[2019-03-22 15:24] jdlrobson commented on #1970
As I said in https://github.com/internetarchive/openlibrary/issues/1970#issuecomment-475095252 the issue is with the html template not the JS. Reverting that patch brings other problems.

[2019-03-22 16:06] rickhohler commented on #686
I would like to contribute. Email is rick.hohler@gmail.com

[2019-03-22 16:47] mekarpeles commented on #686
Howdy @rickhohler + @Ifeanyijasper, thanks for joining the community! Excited to work on issues together. Have you been successful in getting the Open Library dev environment setup using docker?

We're currently trying to keep our community slack focused for active contributors -- if this is you, please let us know some of the issues you've been working on and we'll be glad to send you a slack inv

[2019-03-22 17:27] jdlrobson commented on #1970
The list overlay is now showing but I get a JS error when I try to create:
[code]

[2019-03-22 17:37] LeadSongDog opened #1998 "Merged author redirects broken"
**Description**

1. Redirects are still appearing in author search results.
2. The redirect target's appearance is delayed.

**Evidence / Screenshot (if possible)**

**Relevant url?**

https://openlibrary.org/search/authors?q=frances+milton+trollop&mode=everything

**Expectation**

After a merger, the redirected author pages should no longer appear in the author search results, nor in the author d

[2019-03-22 17:50] jdlrobson opened #1999 "Add Jest JavaScript unit testing to Open Library"
OpenLibrary.org has no JavaScript unit tests and JS errors in the console are common.

Tests should be added to minimise these kind of regressions.

Apparently Jest is used elsewhere in Internet Archive, so for consistency we will make use of the Jest library.

We are done when:

 - [ ] Add one unit test for one of the existing JS tests
- [ ] Unit tests run in Travis CI and block merges
- [ ] Meas

[2019-03-22 17:59] jdlrobson commented on #1990
Is the question why does the editor take a long time to load or something to do with the act of editing itself? If the former, I can explain why using this gif..

![slowedit](https://user-images.githubusercontent.com/148752/54843196-0dfa7f00-4c91-11e9-9cfc-6fdf5e42bf9f.gif)

If I emulate a slow connection e.g. 3G I can see very clearly the various stages of the editor loading process.

The "What's

[2019-03-22 18:03] jdlrobson commented on #1986
@Pratyush1197 please do!
I think the problems here are as followings
* Use of size attribute
* Use of width attribute
* There needs to be a `select { width: 100%; }` rule inside static/css/base/common.less

[2019-03-22 18:08] jdlrobson commented on #1157
Ping ^!

[2019-03-22 18:09] mekarpeles commented on #1157
@jdlrobson these graphs are on the homepage (# borrows, etc). There is a (public?) API we could use to fetch this data and compose the graphs on dev / localhost but I don't see this as a huge priority, personally.

[2019-03-22 18:33] karankharecha opened #2000 "Recommendation System"
### Proposal

The aim of recommendation system in idea number 3 (Building the World’s Open Library, Together) is about giving the most from library to users. Identification of user's behaviour and patterns can actually help us in providing suggestions to users. As there are plenty of books that are users are completely unaware of. On the basis of user's interest, recommendation system will recomme

[2019-03-22 18:39] jasmaa opened #2001 "Works with invalid OCAIDs break search rendering"
**Description**
Search for query "manga" gave error:

`/opt/openlibrary/deploys/openlibrary/c0e48d8/openlibrary/templates/work_search.html: error in processing template: AttributeError: 'NoneType' object has no attribute 'get' (falling back to default template)`

**Evidence / Screenshot (if possible)**

![ia_search](https://user-images.githubusercontent.com/19419059/54844991-989da700-4cae-11e9-985

[2019-03-22 21:18] rohitjain00 commented on #108
On #29 similar issue is reported I think one of them needs to be closed

[2019-03-22 21:49] rohitjain00 commented on #146
`0.0.0.0:8080/libraries/stats` page redirects to homepage also
`0.0.0.0:8080/libraries` is disabled feature. I think there should be a way to reproduce this error or this should be closed

[2019-03-22 22:24] mekarpeles commented on #108
agreed, duplicate of #29 thank you @rohitjain00

[2019-03-22 22:24] #108 closed

[2019-03-22 22:25] mekarpeles commented on #29
@kryptc can we send you an invitation to our slack channel?

[2019-03-22 22:29] mitra42 commented on #1965
Hi - just jumping in, as I'm not usually in this repo.
dweb-archive uses any of a number of Decentralized systems - including IPFS, WebTorrent and GUN, each of which are better/worse at different things.
Open Library could certainly be added to it. I haven't had time for that (and probably won't since I'm mostly working on Dweb-mirror for offline access to IA content).

[2019-03-22 22:36] amark commented on #1965
I know the IA has a ton of projects, but I'd love to learn how the different projects might relate or connect to each other?

Like for instance, I know @mitra42 is occasionally in SF but out in Australia (NZ?) a lot.
And for you @trosel , are you on the team, or a volunteer, or just jumping into contributing research/issues? If so, what was your original thinking for combining them, etc. (?)

[2019-03-23 01:04] jdlrobson commented on #1879
@shaneriley I'm curious what you think about using Webpack (with extract styles plugin) to generate the stylesheets using a single JS file, e.g.

static/css/page-book.js
would have a single line like so:
[code]

I want to use Webpack for loading CSS that is JS only (per #2003) but I could be convinced to use Less clean plugin instead.

Very keen to hear your thoughts!

[2019-03-23 05:18] Saichethan commented on #1986
is this still open ?
I would like to work on it

[2019-03-23 10:30] rohitjain00 commented on #314
PR #1238 is closed so I think this should be fixed.

[2019-03-23 11:14] ayushshivani commented on #853
@mekarpeles I would like to work on this. Can you please explain a little bit more?

[2019-03-23 14:55] seabelis commented on #1990
Slow to load.

[2019-03-23 16:55] rohitjain00 commented on #513
Problems discussed above seems to be solved and merged I think it should be completed

[2019-03-23 19:21] rohitjain00 commented on #634
@mekarpeles please refresh the description for this issue.

[2019-03-23 19:32] rohitjain00 commented on #648
@html5cat any followup on this issue?

[2019-03-23 20:20] #1970 closed

[2019-03-23 20:22] #1147 closed

[2019-03-23 20:23] #1999 closed

[2019-03-23 21:09] rohitjain00 commented on #680
@salman-bhai any followup on this?

[2019-03-23 22:24] #513 closed

[2019-03-24 02:44] suhailsinghbains commented on #439
I want to work on this, can you please suggest a good starting point.
Thanks

[2019-03-24 04:30] koderjoker commented on #1463
@mek with new changes to the search results page it seems that it is more difficult to reach the filters rather than reaching the search results on a screen reader (it reaches the filters after going through all the results on a page). Will this issue change accordingly now?

[2019-03-24 08:17] koderjoker opened #2006 "Make changes in the editions component for tablets"
**Is your feature request related to a problem? Please describe.**
Continuation of #1339. For screen widths <=789px and >500px the read ebook button is far too wide, further changes in the editions component are required.
![0 0 0 0_8080_works_OL15203543W_Meistersinger_von_N%C3%BCrnberg(iPad)](https://user-images.githubusercontent.com/30471843/54875819-a298e480-4e2b-11e9-8661-59adfdc3b6dd.png)

**P

[2019-03-24 08:30] koderjoker opened #2007 "Sorting should be possible on mobiles and tablets (not hidden)"
**Is your feature request related to a problem? Please describe.**

Continuation of #1339. For screen widths <=789px the table header (which helps one sort by edition, availability, libraries and buying location) is hidden.

**Describe the solution you'd like**

A dropdown can be added in replacement to allow users to sort editions.

_First discussed in_ [#1399(comment)](https://github.com/interne

[2019-03-24 12:06] rohitjain00 commented on #858
I don't understand this why to subscribe OL users to IA mailing list?

[2019-03-24 12:10] rohitjain00 commented on #852
@mekarpeles Please provide more information on this issue?

[2019-03-24 12:13] rohitjain00 commented on #850
Agree!..We should ask users for their choice regarding genre, authors, publishers and provide them with more personalized experience.

[2019-03-24 12:20] rohitjain00 commented on #835
I have not executed the script, but if the script seems to work this issue needs to be closed?

[2019-03-24 12:27] rohitjain00 commented on #828
SImilar issue #729 is closed so does this issue still exists? or it is also resolved in #1325 ?

[2019-03-24 20:19] rohitjain00 commented on #981
So basically we need to change `BASICMainSubject` to `BISACMainSubject`?

[2019-03-25 12:54] rohitjain00 commented on #1195
@jdlrobson I don't think this is an Android specific issue. The same boxes get highlighted while using the website on PC.

[2019-03-25 14:29] shaneriley commented on #1879
I've never set up a project this way, but I like not having to explicitly start up the CSS loading in the layout. I think the next step would be to set up a Less watcher for other assets to eliminate the need to run make to compile any changes made.

[2019-03-25 15:38] jdlrobson commented on #1879
Totally. How about to start off with I keep lessc for styles loaded on critical path and less-loader/webpack for styles loaded via JS. I think the first step is to at least move this from Makefile to package.json. watcher will improve our productivity for sure.

[2019-03-25 19:01] rohitjain00 commented on #1762
I am sorry I was not able to follow up on this issue. So I lost a track of it. thanks @koderjoker for fixing this.

[2019-03-25 19:03] rohitjain00 commented on #1961
Sorry for the inconvenience caused by my PR I was not aware of the wrong code. I sincerely apologize for my mistake.

[2019-03-25 19:05] rohitjain00 commented on #1123
@jdlrobson thanks for update. I got what you wanted to say.

[2019-03-26 00:56] jdlrobson commented on #852
Being bold and closing this due to a lack of description and broadness. Coverage  can always be improved so I fear this ticket will always be open!

@rohitjain00 if you are interested in writing tests I can open some much more specific ones just let me know on slack!

[2019-03-26 00:56] #852 closed

[2019-03-26 00:58] jdlrobson commented on #1968
Please submit  a patch to https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#dropper-list component!

[2019-03-26 01:01] jdlrobson commented on #1195
@rohitjain00 ideally this orange box should wrap the entire think, preferably the html should be:
[code]
for each carousel item

[2019-03-26 01:06] jdlrobson commented on #1961
No need to apologise! I brought down the entire wikipedia site for 5 minutes once! 🤣
Part of being a developer is breaking stuff and usually when stuff breaks it's due to badly organised code not an individual. We are working with some very fragile frontend code so this kind of thing is unfortunately going to be common until we put more checks in place.

[2019-03-26 03:21] cdrini commented on #1195
I just checked the HTML and it's got that structure. The anchor element needs to be `display:block`, which it currently isn't.

[2019-03-26 08:34] seabelis opened #2008 "Deleting list from edition page also deletes button above"
**Description**

New as of this morning. When one deletes a list from an edition page. The "Want to read" button also disappears. Can be fixed by refreshing the page.

**Evidence / Screenshot (if possible)**
![Fullscreen capture 3262019 92622 AM bmp](https://user-images.githubusercontent.com/17739465/54982025-13660b00-4faa-11e9-809f-7194c745e685.jpg)

**Relevant url?**

**Expectation**

The list s

[2019-03-26 11:44] Ifeanyijasper commented on #686
I have installed Open Library dev environment setup using docker successfully and I want to work on this issue https://github.com/internetarchive/openlibrary/issues/1986 but I don't know how to go about it. That is to reproduce the error on my local machine and getting the source code.

[2019-03-26 14:59] mekarpeles commented on #1961
@rohitjain00 you're doing great. :+1:

[2019-03-26 17:10] mekarpeles commented on #1986
@Saichethan I believe this is still open and you're welcome to work on it.

@Ifeanyijasper had also expressed interest in looking into it -- send me an email mek@archive.org and I'll make sure you receive an invite, we'll can help you with next steps or help you find other issues

[2019-03-26 19:26] cdrini opened #2009 "This Work displays really weird due to invalid wikitext markup with unclosed code block"
**Relevant url?**
https://openlibrary.org/works/OL16427W/Poems

**Description**
I'm not sure why, but this specific work has a lot of random whitespace. I think it's because the description has an unclosed code block (the <code>``</code> if you view the description). This looks like it's causing the rest of the page to displayed with `whitespace: pre`.

**Evidence / Screenshot (if possible)**
![im

[2019-03-26 19:54] cdrini opened #2010 "Use HTML comments in issue templates"
Use HTML comments instead of block quotes in GitHub's issue templates. People are forgetting to remove them, and then the whole text is grey and difficult to read.

[2019-03-26 20:29] koderjoker opened #2011 "Re evaluating our search results page"
Our users are facing the following issues with the search results page!
**Url:** https://openlibrary.org/search?q=hello&mode=ebooks&m=edit&m=edit&has_fulltext=true

- **Issue1:** In order to reach the search facet one must tab through all the search results on the page. This effects keyboard users/screen readers.
**Solution:** To place the search facet before search results in the DOM and give a u

[2019-03-26 20:48] koderjoker opened #2012 "Search menu doesn't close after tabbing through it"
**Description**
Tabbing through the page opens up the search menu, which doesn't close up on its own and blocks the pageview. Occurs whenever you tab through the search bar and it has a query in it.

**Evidence / Screenshot (if possible)**
![Screen Shot 2019-03-27 at 1 50 44 AM](https://user-images.githubusercontent.com/30471843/55030622-c9753780-5032-11e9-8796-0865f7ff83c0.png)

**Relevant url?**

[2019-03-26 23:45] mekarpeles commented on #2001
I can reproduce. This happens when `has_fulltext=true`

https://openlibrary.org/search?q=manga&has_fulltext=true

A stack trace is available at:
https://openlibrary.org/search?q=manga&has_fulltext=true&debug=true

This issue is occurring because in some case, the `availability` of a work is turning up as `None`

Namely:
[code]

if `availability` is `None`, we should be defaulting to something like

[2019-03-27 17:13] mekarpeles commented on #2011
Can someone from the community help @koderjoker turn these 3 sub-issues into their own issues (and link to this parent issue) so members of the community can start working on them? In its current form, this issue will be hard to close as we make incremental progress.

[2019-03-27 17:48] shreyansh23 opened #2013 "Unable to reach search facet using the keyboard"
Child issue of #2011
Sibling issues #2013, #2013, #2014

**Description**
In order to reach the search facet one must tab through all the search results on the page. This effects keyboard users/screen readers.

**Relevant url?**
https://openlibrary.org/search?q=hello&mode=ebooks&m=edit&m=edit&has_fulltext=true

**Expectation**
The user should not need to tab through all the search results.

**Propo

[2019-03-27 17:49] shreyansh23 opened #2014 "Unable to reach pagination numbers using the keyboard"
Child issue of #2011
Sibling issues: #2013, #2015

**Description**
Even though visually the pagination is placed below the search results (screens >=960px), one can reach the page numbers only after tabbing through all the search results and search facet. This effects keyboard users/screen readers.

**Relevant url?**
https://openlibrary.org/search?q=hello&mode=ebooks&m=edit&m=edit&has_fulltext=tru

[2019-03-27 17:49] shreyansh23 opened #2015 "Pagination appears below facets on mobile device, not obvious multiple pages exist"
Child issue of #2011
Sibling issues:  #2013, #2014

**Description**
Our mobile users expect an infinite scroll/page buttons to move on to the next page. However, users are unable to realise the existence of page buttons because the search facet appears after the search results, instead of pagination (< 960px). Also, the placement of the search facet after search results deprives users the option t

[2019-03-27 22:41] mekarpeles opened #2016 "A Reading Log option for "Stopped Reading""
**Is your feature request related to a problem? Please describe.**

https://twitter.com/lethargilistic/status/1110707502495105025

**Describe the solution you'd like**

Reading Log drop-down could have an extra option for "Stopped Reading"

**Proposal & Constraints**

It would behave pretty much in the same way as "Finished Reading"

[2019-03-28 01:36] jdlrobson commented on #2016
I actually have a special list just for this.

[2019-03-28 10:01] seabelis opened #2017 "Make ISBN visible on edition list"
**Is your feature request related to a problem? Please describe.**

The current search makes it difficult to locate a specific ISBN unless that ISBN belongs to a single record only. This is frequently not the case; either due to duplicates or ISBN re-use, but in the end this means one must click into each individual record when searching for a specific ISBN.

**Describe the solution you'd like**

[2019-03-28 15:41] LeadSongDog commented on #853
@ayushshivani
There are several things that could play into this. It doesn`t need to be perfect to be an improvement, but here`s some things I`d suggest from a librarian-user perspective:

The manual editing interface presently allows the user to paste or drag/drop generic html links to these sources. Such links should be automatically recognized and stripped down, to store just the identifier.

I

[2019-03-29 14:19] cdrini commented on #853
@LeadSongDog This ticket has a slightly smaller focus (renamed accordingly). The error checking would be useful, but I think this is just for the first step of adding a UI.

Currently, when you edit an edition, you get the option to add identifiers to other sites:

![image](https://user-images.githubusercontent.com/6251786/55238824-cbdeb980-520b-11e9-92ac-ebee18d76639.png)

This scope of this tick

[2019-03-29 14:27] cdrini opened #2019 "Edit page no longer displays with columns"
**Description**
Anything that used to show up in 'columns' now shows up un-columned. Possibly related to some of the recent mobile site improvements.

**Evidence / Screenshot (if possible)**
![image](https://user-images.githubusercontent.com/6251786/55239268-b1591000-520c-11e9-89e3-efb27a48474a.png)
![image](https://user-images.githubusercontent.com/6251786/55239278-bae27800-520c-11e9-8141-52418cb

[2019-03-29 15:04] LeadSongDog commented on #853
There is an edit interface for author links:
![authlinks](https://user-images.githubusercontent.com/11435431/55241643-df8d1e80-5211-11e9-9fd2-a776a31ccce5.jpg)

But the identifiers (as opposed to full urls) don't always show up there:
![author](https://user-images.githubusercontent.com/11435431/55241635-d9973d80-5211-11e9-91b9-21331cdf4003.jpg)

In the link box, I can copypaste the URL for an ISNI

[2019-03-29 16:20] jdlrobson commented on #2019
Could you explain what you mean by columned? An old screenshot perhaps? Also why were "columns" important? (Important to note as table based layouts - which columns hint might be at play here - will not work on mobile)

Just to check - this is the case on all resolutions? Is the form usable on mobile?

[2019-03-29 16:44] cdrini commented on #2019
I can't seem to find an old screenshot of an edit page; here are some I concocted:

![image](https://user-images.githubusercontent.com/6251786/55248472-3f8ac180-5220-11e9-8c5d-0e02f324b7bc.png)

Basically anywhere you see the right half of the screen entirely empty, the content used to flow through 2 columns (ex: the book weight/dimensions fields should appear in the right half of the screen).

Th

[2019-03-29 16:51] cdrini commented on #2019
(Renamed; broken is too ambiguous a word)

[2019-03-29 16:59] cdrini commented on #2019
Oh, forgot to address your question. This is important mainly because this is a regression; the UI is clearly meant to have columns. The input fields' widths are such that they leave enough room for the second column (ex: the book cover should be to the right of the stunted "title" input). There's still clearly CSS for columns left in here; it looks like they were removed unintentionally. The CSS

[2019-03-29 22:12] mekarpeles commented on #727
@JeffKaplan

[2019-03-30 05:23] cdrini commented on #975
I agree with @jdlrobson that this probably pretty far down the road, but before I forget, I'd like to cast a vote for Vue.js . In my experience, it's MUCH easier to learn than react, and the documentation is spectacular. I think it would be better suited for a project like openlibrary that has a small group of developers with not a lot of time :P Although more research is necessary.

[2019-03-30 05:50] jdlrobson commented on #2008
Hmm, I can't seem to replicate this locally, but can in production.. it's a bit of a mystery to ,me.
The problem is an inline style on the .dropit element but I can't see any code that's adding that:
[code]
The only reference to visibility is in openlibrary/plugins/openlibrary/js/lazy.js but that doesn't seem related so a bit stumped about this. What code commit is deployed? Maybe this can be repl

[2019-03-30 05:57] jdlrobson commented on #2009
I fixed the problem with an edit, so it looks like a problem with the HTML produced by the wiki markup ``  syntax was not getting closed. Is this something we want editors to fix (I just did this now?) or protect against (can we protect against it?)

Since I've fixed it, here's the broken version:
https://openlibrary.org/works/OL16427W/Poems?v=18

[2019-03-30 06:00] jdlrobson commented on #2009
Looks like an issue in infogami to me - infogami/utils/markdown/markdown.py

[2019-03-31 15:17] mekarpeles opened #2021 "Missing captcha causes Edit changes to not save!"
Whenever patron tries to edit, website complains about captcha (which doesn't seem to exist)

[2019-03-31 17:49] mekarpeles commented on #975
Just for the sake of discussion -- polymer?

[2019-03-31 17:54] mekarpeles commented on #2008
It looks like by default the component has an inline style of `visibility: visible;` and then the `dropit` component is having its style cleared

In `openlibrary/plugins/openlibrary/js/ol.js`:
[code]

[2019-03-31 18:03] jdlrobson commented on #2008
Ahh i guess i didn't pull from upstream
😑🔨

[2019-03-31 19:05] bitnapper commented on #2021
Hi, I‘ve experienced the same problem but it seems to be limited to Firefox and Firefox Mobile. I could not reproduce the Problem in Safari.

It seem the captcha is blocked by the activity tracking blocker which is not very surprising. After turning it off completely the captcha will appear. But that does not solve the problem. One can check the box and press the save button but it still reports „

[2019-03-31 19:35] mekarpeles commented on #1886
related to #1891?

[2019-03-31 19:35] mekarpeles commented on #2021
Wondering if there are any similarities between #613, related to #1886 #1891

[2019-04-01 05:14] mekarpeles commented on #1197
The admin user is defined within infogami repo in `infogami/utils/delegate.py` within `admin_login` and the `admin_password` is specified within `openlibrary/config/openlibrary.yml` within this repo.

The hypothesis is, use attempts to login with an email. The email and password don't match. The user `openlibrary` is deemed to already exist. Numbers are added onto the username. The username is cre

[2019-04-01 07:14] #2008 closed

[2019-04-01 07:15] #2019 closed

[2019-04-01 16:18] JordanDysart commented on #1955
This looks like it may have been an issue with the index page. Your screenshot says that there are 3 works posted in History and has 3 previews.

It may have already been an issue that has been dealt with since you posted this issue.

<img width="1072" alt="Screen Shot 2019-04-01 at 11 12 34 AM" src="https://user-images.githubusercontent.com/32860050/55342962-a05c0900-546f-11e9-908b-8e1e052c8690.p

[2019-04-01 17:04] bitnapper commented on #2021
The second bug does also occur on Safari on IOS and MacOS and Chrome on MacOS.

[2019-04-02 14:09] #318 closed

[2019-04-02 14:10] #2 closed

[2019-04-02 14:11] #3 closed

[2019-04-02 14:12] mekarpeles commented on #44
@hornc can this be closed?

[2019-04-02 14:14] #55 closed

[2019-04-02 14:16] #87 closed

[2019-04-02 14:16] #222 closed

[2019-04-02 14:23] mekarpeles commented on #190
6 years later, I think this issue can be retired, not a priority.

[2019-04-02 14:23] #190 closed

[2019-04-02 14:30] mekarpeles commented on #111
@george08, @EdwardBetts, @nibrahim -- what's Work Finder? Is there documentation on this anywhere?

[2019-04-02 14:35] #61 closed

[2019-04-02 14:37] #123 closed

[2019-04-02 19:00] mekarpeles commented on #869
I think @hornc finished this!

[2019-04-02 19:00] #869 closed

[2019-04-02 19:04] #1591 closed

[2019-04-02 20:10] mekarpeles commented on #621
@salman-bhai no -- if available, we should be pulling their reading history from archive.org and displaying on openlibrary (or at very least including a link to archive.org where the user can view their history, which probably makes more sense)

cc stakeholders: @jimbonator, @bfalling

[2019-04-02 20:35] #1322 closed

[2019-04-02 20:38] mekarpeles commented on #1927
Anyone else think we should be autoplaying carousels? I think it's probably distracting. Closing for now unless there's more interest

[2019-04-02 20:38] #1927 closed

[2019-04-02 20:40] mekarpeles commented on #1834
resolved in readme

[2019-04-02 20:40] #1834 closed

[2019-04-02 20:44] mekarpeles commented on #1449
Would rather just exclude scripts from our check

[2019-04-02 20:45] mekarpeles commented on #1296
@jdlrobson can this be closed? How do we know when it can be closed?

[2019-04-02 20:51] mekarpeles commented on #1264
Closing as duplicate of #1553

[2019-04-02 20:51] #1264 closed

[2019-04-02 20:54] mekarpeles commented on #1129
I think this can now be closed

[2019-04-02 20:54] #1129 closed

[2019-04-02 20:56] #1065 closed

[2019-04-03 02:53] jdlrobson commented on #1296
Probably. It's a bit too broad in scope to be actionable right now.

[2019-04-03 02:53] #1296 closed

[2019-04-03 02:55] jdlrobson commented on #1927
I think we should be moving away from carousels. I don't like them and I'm not alone. I'd much prefer a wall of covers

https://twitter.com/SaraSoueidan/status/1111937665484623872?s=19

[2019-04-03 04:11] hornc commented on #44
@mekarpeles This is a data clean up task, I have actually run a long running task to identify affected works from WorkBot's history, and there are still some more to process. I had put this on hold as there was more pressing work on orphans to finish, but I'd like to revisit this to not lose the work in progress.

TL;DR: Let's keep it open and assigned to me as a data clean up task.

[2019-04-03 08:31] seabelis opened #2026 "Identifiers are sometimes lost on save"
**Description**

I have noticed that identifiers I've added are sometimes lost after saving an edited record.

1. `copydocs.py /books/OL23278082M?v=18 -r`
2. Edit the book as follows:
  a. Add google: `fo4rzdaHDAwC`
  b. Remove goodreads
  c. Add goodreads: `44415839`
3. Save

**Relevant url?**
https://openlibrary.org/books/OL23278082M/Harry_Potter_and_the_Sorcerer's_Stone?b=19&a=18&_compare=Compa

[2019-04-03 11:19] #1670 closed

[2019-04-03 11:30] seabelis opened #2027 "On edition detail page: Group edition-specific fields prior to work-specific fields."
### Is your feature request related to a problem? Please describe.

On an edition's detail view page, the edition details are split by the work details.

### Proposal & Constraints

When looking at an edition, edition-specific details should appear first on the page, followed by work-specific details. As of now you see:
- Edition title, date, publisher, author (belong's to the work details, but no

[2019-04-03 16:04] #1594 closed

[2019-04-03 16:08] seabelis commented on #1817
I will close this as the specific work in question is resolved. Re-open if necessary.

[2019-04-03 16:08] #1817 closed

[2019-04-03 17:12] tabshaikh commented on #659
Hi, @LeadSongDog @mekarpeles @jdlrobson @hornc I am trying to make a timeline for books sponsorship program which includes the components and approx. the time it would take to implement them, would love your feedback on this if any of this would take more time.

1. Roles & Permissions for “Book Sponsor” - Done
2. Database of Book Sponsorships on Open Library (Which user has donated which books?)
D

[2019-04-03 21:28] brad2014 opened #2028 "Issue triage and relabeling issues"
I'm intending to work with individual team members to deal with the large number of open issues, do a full-sweep triage.

In the process, I'll reorganize how bugs are labeled to make it easier to do ongoing triage.

I'm creating this issue as a place to make notes and comments.

[2019-04-03 21:29] brad2014 commented on #2028
An initial draft of the documentation on triage and labeling is in the wiki:

https://github.com/internetarchive/openlibrary/wiki/GitHub-Issues---Triage-and-Maintenance

[2019-04-03 21:47] mekarpeles commented on #1197
@hornc can you please update this task w/ the cache clearing fix?

[2019-04-04 05:15] hornc commented on #1197
Here are the steps to clear cookies and re-enable admin login if you get stuck with a non-admin user:

1) `docker-compose down`
2)  completely clear all localhost / 0.0.0.0 / 127.0.0.1 cookies from your browser
3)  `docker-compose up`
4) then login with `openlibrary@example.com` pw: `admin123`   (It's possible there are acceptible variations on those credentials, but those should definitely work)

[2019-04-04 05:22] tabshaikh commented on #1197
https://github.com/internetarchive/openlibrary/issues/1197#issuecomment-479752932 @charles should we add this in the FAQ too

[2019-04-04 12:04] seabelis opened #2029 "Importbot imports duplicate tags"
**Description**
Importbot imports duplicate tags. This is an issue with the categorized tags (people, etc.) being imported as subjects as well as certain formats where parentheses are used.

**Evidence / Screenshot (if possible)**
![Fullscreen capture 442019 15813 PM bmp](https://user-images.githubusercontent.com/17739465/55553984-f801ab00-56e1-11e9-8931-d4b4e2fd4edb.jpg)

![Fullscreen capture 442

[2019-04-04 16:29] mekarpeles commented on #659
I notice `Archive.org Book Donation Page` doesn't have a time associated with it. Maybe @bfalling @pezvi @iisa can offer an estimate based on the https://archive.org/~mek/donate/sponsor-a-book/index.php concept

[2019-04-04 16:46] mekarpeles commented on #977
@hornc is this fixed / can this be closed?

[2019-04-04 17:03] LeadSongDog commented on #659
@tabshaikh
On the fundraising side, I see three ways users will want to participate: "I want to read this"; "I loved this and want others to read it"; or "I just want to help expand the library". The above components seem mostly fitted to the first of these three. If the fund-select-acquire-scan-mount pipeline takes too long then the waiting sponsor, thinking like a buyer, may become unhappy with

[2019-04-04 22:00] mekarpeles commented on #900
This actually may not be needed given `solr` is already keeping track of many of the required fields.

A book has one of four `access_classes`: `public`, `lendable`, `print-disabled`, or `unavailable`.
Related to: #1929

These fields are indexed as follows within: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/solr/update_work.py#L638-L649

- `q=ia_collection_s:*inlibrary*`

[2019-04-05 02:09] hornc commented on #1197
@tabshaikh Good idea, but I think there is a bug that needs to be fixed first -- I have added a description to clarify the action I think needs to be taken to make the fix. Hopefully that will make the workaround unnecessary, but it needs some investigation and testing.

[2019-04-05 14:50] LeadSongDog commented on #659
Looking at the IA site for info on the scanning centers/centres, I'm left with the impression that they don't really want people to know much about it. Most of the information is years old. They're proud of the Scribe systems, but to get the details on where the scanning centres are, or how to get involved, one is expected to cold email one of eight (hopefully still-involved) people. There`s nothi

[2019-04-05 16:20] mekarpeles commented on #1886
@seabelis is there a url you can direct us to? I don't have enough info to verify so I'm going to close for now until you update. Thank you!

[2019-04-05 16:20] #1886 closed

[2019-04-05 16:29] mekarpeles commented on #172
Agreed & Supplanted by #900

[2019-04-05 16:29] #172 closed

[2019-04-05 16:32] #95 closed

[2019-04-05 16:36] mekarpeles opened #2030 "Webpack broken on docker"
@tabshaikh can you please provide screenshots here of the error you're hitting so we can help you debug?

@cdrini I'm assigning to you as deputy of docker / dev; feel free to ask on #openlibrary-g if anyone can help debug and re-assign
cc: @hornc. Our job is to make sure this issue gets assigned to someone (if not @cdrini).

[2019-04-05 16:50] mekarpeles commented on #2030
@Batey96 is there any chance you would be willing to help us + @tabshaikh with this docker + webpack issue and see if you can reproduce?

The request is to build the latest Open Library docker (https://github.com/internetarchive/openlibrary/tree/master/docker), see if you hit any errors, and if so, document it here (with your summary or a screenshot)

This would be a huge help!

[2019-04-06 09:18] seabelis commented on #1886
Stopped happening at some point.

[2019-04-07 23:09] hornc commented on #2030
@tabshaikh @mekarpeles I suspect this may be caused by running `make js` as the incorrect user -- it should be run as `openlibrary` rather than root. I am trying to confirm and will provide the correct command here.

[2019-04-08 00:00] hornc commented on #2029
Looks like the first book is: https://openlibrary.org/works/OL81628W/The_Gunslinger   and the bot is doing case sensitive matches on subjects, which is why it added 'Fantasy' and 'Fantastic fiction' when 'fantasy' and 'fantastic fiction' were already there.

[2019-04-08 00:21] hornc commented on #2030
I have been able to reproduce this -- the images build correctly and use webpack, but trying to run `make js` manually in the running container fails with
[code]
regardless of running as `root` or `openlibrary`.

I think the problem is that we are using a persistent volume to store `node_modules`, and this is not being updated when `olbase` is being updated.   The reason for having this volume in

[2019-04-08 00:34] hornc commented on #2030
**UPDATE** You shouldn't need to rebuild the images:
`docker volume rm openlibrary_ol-nodemodules`
then
`docker-compose up`
should have the same effect since the correct node modules are already in the images.

[2019-04-08 01:46] hornc commented on #2030
found by @cdrini : https://jdlm.info/articles/2016/03/06/lessons-building-node-app-docker.html   a guide on how this problem was handled in 2016 on another project. They use the same kind of volume mount trick, but using non-named / non-persistent volumes.  I will investigate whether moving back to non-named volumes will guarantee they are created fresh every `docker-compose up` with the correct a

[2019-04-08 02:35] hornc commented on #1985
The source records are all from archive.org items that had the `<>.` title in their source MARC records. This title was propagated to the archive.org items, and hence to openlibrary. The archive.org items generally had correct alt-title fields populated from the MARC data so I used these with a bit of tidy up in some cases to fix the source titles. I'll pull the updated titles into the OL works an

[2019-04-08 03:01] hornc commented on #1985
All of these works + their editions have titles now and can be viewed properly.

[2019-04-08 03:01] #1985 closed

[2019-04-08 03:05] mekarpeles commented on #2029
Should we to lowercase everything and removes slashes + normalize the data? Or at least compare subjects as lowercase

[2019-04-08 03:19] tabshaikh commented on #2030
@hornc Thanks, the commands work perfectly

[2019-04-08 05:37] tfmorris commented on #2029
Yes, subject names should be normalized, but they really need to become first class objects so that they can a) have aliases and b) have labels in different languages. This would also allow them to be merged, have descriptions, etc.

The normalization / merging process isn't as simple as just fixing case. For example, https://openlibrary.org/search/subjects?q=marian+anderson&mode=everything return

[2019-04-08 10:33] seabelis commented on #2029
That reminds me of another question I brought up previously, maybe requires a separate issue? The view page displays "subjects"; the edit form says add "tags" these are not necessarily the same thing. A subject is specifically what a work is about; a tag is far more general and invites tags for genres, and looser associations. Those tags are useful, but what a work is is different from what it's a

[2019-04-08 21:12] #2030 closed

[2019-04-08 21:15] mekarpeles opened #2032 "Fix updates to node_modules path in docker using anonymous volumes"
followup to #2030:
found by @cdrini : https://jdlm.info/articles/2016/03/06/lessons-building-node-app-docker.html   a guide on how this problem was handled in 2016 on another project. They use the same kind of volume mount trick, but using non-named / non-persistent volumes.  I will investigate whether moving back to non-named volumes will guarantee they are created fresh every `docker-compose up`

[2019-04-08 21:19] mekarpeles commented on #2032
more info here: https://github.com/internetarchive/openlibrary/issues/2030#issuecomment-480646428

[2019-04-09 14:30] seabelis opened #2033 "Edit button on works with single edition opens edit page for edition"
**Description**

When clicking the edit button from a work page with one edition the edit form for the edition opens instead of the edit form for the work.

**Expectation**

When clicking the edit button from the work page, it should always open the work details form regardless of edition count.

**Details**

Logged in: Y
Browser: Chrome Version 73.0.3683.86 (Official Build) (64-bit)
Operating sys

[2019-04-09 18:52] hornc opened #2034 "2021 Q1 Continuous Modern Book Import Pipeline"
This is an epic issue (repurposed by @mekarpeles) for 2021 hands-free, continuous modern import pipeline.

Closing #2204 #4151 as duplicate and combining here

Important pieces:
- [x] #5131  Add cron job to run BWB imports automatically to ol-home0

## Import quality books 2010 - present

This is a graph showing how many editions by publication year are catalogued by Open Library from the July 201

[2019-04-09 19:06] jdlrobson commented on #2021
I think first thing we need here is replication steps to understand what is going wrong!

[2019-04-09 19:13] hornc commented on #688
Specific task for ISBN sources using the existing import API: #2034

[2019-04-09 19:32] nimbus98 commented on #2021
I agree with @jdlrobson , I'm not able to reproduce this issue as of now.

[2019-04-09 19:47] hornc commented on #1046
Some of the archive.org items in the original query are not book items, eg:
https://archive.org/search.php?query=openlibrary%3A%2A+AND+%21openlibrary_edition%3A%2A&and[]=mediatype%3A%22data%22

These have valid MARC records associated with them, and appear to be real books on Open Library side, but should not have the BWB_ data items as an ocaid.
Fix by finding the correct archive.org items and re

[2019-04-09 20:09] #1968 closed

[2019-04-09 20:16] #688 closed

[2019-04-09 20:18] mekarpeles commented on #2034
Followup of #688

[2019-04-09 20:22] mekarpeles commented on #2011
This issue is supplanted by #2013, #2014, and #2015 -- thank you!

[2019-04-09 20:22] #2011 closed

[2019-04-09 20:25] mekarpeles commented on #2034
Amazon affiliate new releases API doesn't really have the volume we need:
https://docs.aws.amazon.com/AWSECommerceService/latest/DG/NewReleases.html
~5 new releases per node, whereas there are ~70k new book additions / month

[2019-04-09 20:28] mekarpeles commented on #2034
Goodreads' API (https://www.goodreads.com/api) doesn't seem to have an obvious way to learn of new books as they are published. The API `Goodreads.getWorkIdByBookId` may allow lookup by goodreads id, but we need ISBN for the openlibrary.org/isbn/xxx lookup.

https://www.goodreads.com/siteindex.book.xml provides a list of book indexes

Their sitemap is likely all goodreads IDs

Do please prove me w

[2019-04-09 21:13] mekarpeles opened #2035 "Fix error message: if account not verified and login w/ valid email (pending verification)"
**Description**

Users are registering for an account, not finding their activation email, and attempting to login on openlibrary.org (is this right @JeffKaplan?) and instead of saying, "check your email to activate your account" they are seeing, something like "incorrect email".

**Evidence / Screenshot (if possible)**

**Relevant url?**

**Expectation**

**Details**

**Proposal & Constraints**

[2019-04-09 21:35] hornc commented on #323
The specific item's issues have been fixed, and the item looks to be correctly indexed now. I think this was originally caused by the various Solr indexing gaps we have struggled with for some time. Since @cdrini and I have made improvements to the solr code, hopefully this is no longer an issue. Let's monitor recent ongoing  imports and look for current examples of gaps. There is a known ~15 min

[2019-04-09 21:35] #323 closed

[2019-04-09 21:59] hornc commented on #915
These look like a job for @JeffKaplan to correct the archive.org items?

[2019-04-09 22:10] mekarpeles opened #2036 "Migrate all production VMs to xenial (end of 2019)"
Related to #703 (see aspirational #680)

## Requirements
The Trusty 14.04 release of the Ubuntu operating system will reach end of life for LTS (long-term support) at the end of 2019. After this time, our VMs may no longer receive necessary security updates. Therefore, before 2020, we are required to re-provision all our ~11 production Open Library VMs to run Xenail.

## Current Production Archite

[2019-04-09 22:15] hornc commented on #1046
**UPDATE** for April 2019:
now there are 29,005 archive.org texts in this category.
https://archive.org/search.php?query=openlibrary%3A%2A%20AND%20%21openlibrary_edition%3A%2A%20AND%20mediatype%3Atexts

I will run another pass over these to sync the stated OL record with the archive.org item. I know some will not make any changes because there are multiple scans of the same edition book on archive

[2019-04-09 23:11] hornc commented on #81
covered by #1045

[2019-04-10 00:16] hornc commented on #1045
Commands to get full list of OCAIDs from Open Library monthly edition dump:
`sed -n 's/^.*"ocaid": "\([^"]*\)".*$/\1/p' /storage/openlibrary/ol_dump_editions_2019-03-31.txt | sort > all-ocaids-2019-03-31.lst`

Total for March 2019: 2925159

Count the duplicates:
`uniq -d all-ocaids-2019-03-31.lst | wc -l`
65803

Some commands for identifying bad OCAIDs from the dumps:

[code]

[code]

Some items h

[2019-04-10 00:33] hornc opened #2037 "Extend isbn lookup to work with ASIN"
### Is your feature request related to a problem? Please describe.
Pre-isbn books should be importable by asin.

[2019-04-10 00:45] hornc commented on #2037
Amazon API library being used: https://github.com/yoavaviram/python-amazon-simple-product-api

[2019-04-10 02:34] hornc commented on #1045
some remaining ol items have multiple source ia records, which seems valid: e.g.
https://openlibrary.org/books/OL4947315M.json

Unfortunately the single `ocaid` is for a non-borrowable copy. Next step, do an audit of ol items with multiple ia source records and ensure the 'best' copy is linked from the item.

[2019-04-10 08:23] seabelis commented on #889
I think this also affects imports. Translations seem to be added as new works when imported rather than added to the existing edition. Would allowing aliases for work titles be 1) possible and 2) fix or improve the situation?

[2019-04-10 08:35] seabelis commented on #1891
I've been maintaining a list of broken records: https://openlibrary.org/people/seabelis/lists/OL129155L/broken. I will sometimes revisit and try to move editions to their corresponding works. Sometimes this is successful, but the trouble is that when they fail they create a new orphaned work. Sometimes these resolve after an author merge; not always.

[2019-04-10 09:06] seabelis commented on #2037
Does this have the potential to cause duplication? Third party sellers use ASINs for non-ISBN books and ISBN books that vary from amazon's catalog. Digital items use only ASINs; will the import identify the corresponding e and audiobook records if they exist?

[2019-04-10 12:01] seabelis commented on #961
The issue now seems to be a new work-less edition is created which is then un-editable as in https://github.com/internetarchive/openlibrary/issues/1891.

[2019-04-10 14:55] mekarpeles commented on #2015
**Steps to reproduce:**
1) search for a query with more than 100 results (e.g. moby dick: http://openlibrary.org/search?q=moby%20dick)
2) scroll past the first 100 results, you will see the facets (but no pagination)
3) scroll **past** the facets and you will finally see pagination

**Recommendation:**
On mobile, show pagination before facets with flex-order and a mediaquery

[2019-04-10 14:58] mekarpeles commented on #2021
@bitnapper can you please help provide instructions on how we can reproduce? I think @nimbus98 is blocked on working on this until we have more specific feedback on reproducing.

[2019-04-10 16:37] LeadSongDog commented on #1553
For clarity, will that "entire" homepage cache include at least the first screenful of cover images? As for @tfmorris , I too am mystified why the design for the homepage of openlibrary.org forces fetching from archive.org: it just begs to be misinterpreted as malware.

[2019-04-10 17:15] mekarpeles opened #2039 "Standardizing Publication Date format"
**Description**

Relates to #806 #1440

Dates are stored in a variety of different formats, causing sorting to break. There have been a few discussions about date storage (e.g. archive.org, wikidata) and I think we should choose one format and enforce + encode it canonically moving forward
**Stakeholders**
@seabelis, @hornc, @cdrini, @tfmorris, @leadsongdog, @JeffKaplan

[2019-04-10 17:18] mekarpeles commented on #889
Relates to #1816

[2019-04-10 17:21] mekarpeles commented on #680
This is a subtask of #2036

[2019-04-10 17:28] mekarpeles commented on #2039
Alexis Rossi (archive.org) has suggestions here:
https://docs.google.com/spreadsheets/d/18sYxYd5ZY-gKv55HkUg37fYGHVdPjMQ4RnBOogRk910/edit#gid=0

[2019-04-10 19:42] mekarpeles commented on #1553
@LeadSongDog because we're missing a ton of covers in our coverstore, we haven't had the resources to fix coverstore and add them, and rather than show blank covers, we fall back to archive.org's cover API when that is the only cover available.

[2019-04-10 20:08] LeadSongDog commented on #1553
@mekarpeles If that's the only reason, it would seem simpler to either avoid putting those editions on the home page or simply put the placeholder thumbnail there (which will be preferred anyhow for low-graphic users).

[2019-04-10 23:50] mekarpeles commented on #680
@abezella — [this old ansible playbook](https://github.com/internetarchive/olsystem/commit/982aeb76e9aa8d7ad20b57c856aa2c9c9b002829) that @anandology had in `olsystem` back in 2014 (which has since been overwritten of some unknown reason?) seems to have useful ansible logic for setting more appropriate memory limits than the 64mb default. It also replaced `127.0.0.1` with a `0.0.0.0` broadcast whi

[2019-04-11 01:22] mekarpeles commented on #680
@hornc and I finally got our 1st VM provisioned as xenial with @abezella's help -- `ol-mem4` -- and added to our memcached pool

1. Andy provisioned the machine w/ a new ansible playbook in `olsystem`
2. We manually (for now) updated `/etc/memcached.conf` to change the local address to `0.0.0.0` instead of `127.0.0.1` so that it broadcasts to all machines in our cluster and also the memory from 64

[2019-04-11 02:12] mekarpeles commented on #2036
This task needs a checklist:

- [x] Prove provisioning a `generic` minimal xenail VM (e.g. of the `ol-mem` flavor) and add it to the `ol` cluster (e.g. as `ol-mem4`)
- [ ] Codify the `ol-mem` approach using Ansible @abezella -- following https://github.com/internetarchive/openlibrary/issues/680#issuecomment-481929471
- [ ] Prove provisioning of an `openlibrary-specific` xenial VM (e.g. `ol-web3`)

[2019-04-11 07:52] seabelis opened #2040 "WIKI EDITS ARE BROKEN!! Users being shown & editing OUTDATED cached versions of documents"
**Description**

All changes: edits to editions or works, list creation, cover changes...are lost on save.

**Relevant url?**

all

**Expectation**

Changes should be saved.

**Details**
No error message, and all functionality seems to work at the time, but changes are lost on refresh.

Logged In
Crome Version 73.0.3683.86 (Official Build) (64-bit)
Win 7 Pro

[2019-04-11 13:57] tfmorris commented on #741
Isn't this subsumed / blocked by @cdrini's rework of the Solr indexing?

[2019-04-11 14:40] tfmorris commented on #1134
I've fixed the remaining wiki pages, but the [Testing](https://github.com/internetarchive/openlibrary/wiki/Testing) page seems pretty out of date with our current setup (and assumes things like access to private OL machines), so probably needs more work.

[2019-04-11 15:24] mekarpeles commented on #1134
Thanks @tfmorris!

[2019-04-11 15:25] mekarpeles opened #2041 "Updating "Testing Procedures" Wiki Documentation"
@tfmorris reports that the [Testing](https://github.com/internetarchive/openlibrary/wiki/Testing) page seems pretty out of date with our current setup (and assumes things like access to private OL machines)

_Originally posted by @tfmorris in https://github.com/internetarchive/openlibrary/issues/1134#issuecomment-482142442_

[2019-04-11 15:31] mekarpeles commented on #741
@tfmorris partially -- but they are not mutually exclusive. This task isn't to re-index solr, it's to make sure we're not missing any wiki updates that are in our db but not in solr.

I think this task should be thus be updated to:
"Add Cron-Job to Run Full Solr-Updater on Monthly Basis (to Index Missed Changes)"

[2019-04-11 16:43] cdrini commented on #1134
There are still some files in the repo that need updating.

[2019-04-11 17:07] seabelis commented on #2040
For some reason I have been able to make changes to this record alone. https://openlibrary.org/books/OL4723885M/Bunnicula

[2019-04-11 17:36] tfmorris commented on #2040
I had a quick look at this and for the author page that I edited, the edits were saved, but not rendered in the HTML, even after a hard refresh, so it seems likely that this is some kind of caching issue.

[2019-04-11 17:42] tfmorris commented on #2040
For the record that @seabelis edited (https://openlibrary.org/books/OL4723885M/Bunnicula) the new cover, subtitle, etc are rendered correctly, but none of the edits are listed in the edit history at the bottom of the page, although they are listed when you click through to the detailed history.

For the record I edited (https://openlibrary.org/books/OL4723885M/Bunnicula), the bad AKA remains and t

[2019-04-11 17:48] tfmorris commented on #1134
@cdrini Thanks for reopening
@mekarpeles I'll close when the work is complete.

[2019-04-11 18:25] LeadSongDog commented on #2039
Sorting should obviously not care what format the date is stored in.  All input string formats should be rendered to one consistent stored form _for sorting purposes_. That said, the _stored and displayed_ form should not create falsely precise dates, and should handle real uncertainty in or absence of source dates. Source catalogue records for old books in some cases may not clearly establish eve

[2019-04-11 19:00] seabelis commented on #2040
And I was not able to add to a list, but was able to add to my reading log.

[2019-04-11 19:20] tfmorris commented on #2039
I would strongly recommend against attempting to invent a new date standard. If ISO 8601-2004 isn't powerful enough, there's [EDTF](http://www.loc.gov/standards/datetime/edtf.html) which is going into the next revision (ISO 8601-2019) and which has a Python [package](https://pypi.org/project/edtf/) supporting it.

The idea of separate display and sort dates seems attractive on the surface, but one

[2019-04-11 21:24] tfmorris commented on #727
This is a duplicate of #333 from @bfalling 2 1/2 years ago.

re @jdlrobson's question:

Yes, I believe it should. That would be a quick fix to the 404s while we work on a more long term solution.

[2019-04-11 21:30] tfmorris commented on #730
Reopening per @LeadSongDog's request.

[2019-04-11 21:48] cdrini commented on #2039
Wow, EDTF looks awesome! It supports just about everything I can think of (except different calendar models (e.g. Gregorian), but eh). Here's how it compares:

Class | Draft proposal | EDTF
-- | -- | --
Date and Time | 2017-07-11T18:24:23+00:00 | 2017-07-11T18:24:23Z
Year, Month and Day | 2017-07-11 | 2017-07-11
Year and Month | 2017-07 | 2017-07
Year | 2017 | 2017
BCE dates | 32 BCE | -0032
**App

[2019-04-11 22:55] LeadSongDog commented on #2039
EDTF certainly looks to be well considered, with the latest adaptations suited for librarianship purposes. The  repos at https://github.com/search?l=Python&q=edtf&type=Repositories and https://pypi.org/search/?q=edtf seem not to have caught up yet, but they're already a vast improvement over the current chaos. How hard would it be to adopt?

[2019-04-12 00:03] hornc commented on #26
I'm not convinced undeleting authors is a safe step to do automatically. I have had to resolve many 'please see' authors names and also many 'DELETE' author names, some of which have had many different original authors and erroneous entries merged into one item, so untangling the correct original individual is not always straightforward, or even possible.  Ideally we should not delete real individ

[2019-04-12 02:48] mekarpeles commented on #2040
I'm unable to reproduce -- I just edited https://openlibrary.org/books/OL4723885M/Bunnicula/edit and added an illustrator Alan Daniel and it shows up correctly on the html and in the history.

Is this still an issue?

[2019-04-12 03:14] mekarpeles commented on #890
@cclauss with your permission, can I request your message above be updated now that the title has been changed and the checklist has been updated?

Other than Infogami, and additional followup steps you can recommend would be extremely appreciated :bowing_man:

Thank you for being such a driving force in making this happen!

[2019-04-12 05:24] cclauss commented on #890
Feel free to make the edits that make sense to you.  Let’s focus on getting Infogami to a point where it no longer blocks the Travis test.  My focus has been elsewhere but hopefully I can reengage in the weeks to come.

[2019-04-12 06:32] brad2014 commented on #1875
@jdlrobson this bug is labeled "blocker" - do you mean it blocks the fixing of something else, or that it is high priority?  If the latter, do you have room on your plate to fix it?

[2019-04-12 07:29] seabelis commented on #2040
Yes, still an issue. That example was the one record I have been able to edit. All others I've tried, for this and other works, are still editable.

[2019-04-12 09:30] stefanauss commented on #2040
I'm also experiencing this. One example of a record i've been unable to save edit to is https://openlibrary.org/books/OL12320650M/LAN_Switching_and_Wireless_CCNA_Exploration_Companion_Guide_(2nd_Edition)_(Companion_Guide). This is also the case for the work it is linked to.

The thing is the edits do appear in the history but not rendered at all. Also when showing history, the radio button to sele

[2019-04-12 11:28] seabelis commented on #2040
Adding new editions is possible. Data added to the edit form beyond what is collected on the "Add new" form is saved and displayed as usual. Subsequent edits after that initial save are lost but shown in the detailed edit log.

[2019-04-12 11:32] seabelis commented on #2040
But I see edition count for the work is not updated nor is the new edition displayed on the edition list. This is the edition I added. https://openlibrary.org/books/OL26846444M/Educated

[2019-04-12 12:17] mekarpeles commented on #2040
I'm wondering if this is database or solr updater related

[2019-04-12 12:22] seabelis commented on #2040
I take it back. The subsequent edits to show and the edition now shows on the list of editions. Edition count is still incorrect.

[2019-04-12 13:01] tfmorris commented on #2040
It looks to me like it's rendering old versions. When I look at @stefanauss' example, after editing it, it's unchanged, but if I click on my edit in the history and view https://openlibrary.org/books/OL12320650M/LAN_Switching_and_Wireless_CCNA_Exploration_Companion_Guide_(2nd_Edition)_(Companion_Guide)?v=11 it includes my edits.

A perhaps related weirdness is when I click through to the detailed

[2019-04-12 15:26] LeadSongDog commented on #1875
It was @tfmorris who added that label, but you raise a good question. So far as I've seen, these labels are not defined anywhere. Perhaps a glossary in the wiki would be in order?

[2019-04-12 16:21] mekarpeles commented on #2039
+1 for EDTF

[2019-04-12 16:47] cdrini commented on #2040
Since this is a break of previous functionality, let's see what changed recently.

- We had a deploy on April 9th (2 days before this issue): https://github.com/internetarchive/openlibrary/releases/tag/deploy-2019-04-09
But judging by the diff, that seems unlikely to have caused this issue.

- we also had progress on #2036:

Could this be related, @mek ? Maybe ol-mem is misbehaving and serving out

[2019-04-12 17:04] tfmorris commented on #2040
That's an interesting hypothesis. It also makes me wonder if the new ol-mem pool member could be related to the recent bursts of 5xx errors.

[2019-04-12 17:31] mekarpeles commented on #2040
@tfmorris that I don't feel super confident about as it feels like the problem as occurring before introducing ol-mem4

[2019-04-12 17:36] cdrini commented on #2040
Ok, we were discussing on slack, and @mekarpeles just closed the memcache in question. We want to bring it back in ~10min (because it slows the site); is anyone available now to confirm if it worked? https://openlibrary.org/books/OL12320650M/LAN_Switching_and_Wireless_CCNA_Exploration_Companion_Guide_(2nd_Edition)_(Companion_Guide) seems to be displaying correctly, but I forgot to check how it loo

[2019-04-12 17:41] mekarpeles commented on #1875
Related: #662

[2019-04-12 17:44] stefanauss commented on #2040
Hi, I just checked. The title seems to reflect the last edit I did on this
edition, so It seems to be actually working.

Unfortunately I'm AFK and cannot check further.

Il ven 12 apr 2019, 19:36 Drini Cami <notifications@github.com> ha scritto:

[2019-04-12 17:52] cdrini commented on #2040
Thanks @stefanauss ! Ok, we need some harder proof that this is the true culprit, because this would be quite an annoying bug to fix. We're reinstating the memcache now. Please post links to any works/editions you see not updating properly! We'll do another takedown test later and use those to determine if that's what's causing the problem (assuming I actually remember to check them this time 😛).

[2019-04-12 18:05] seabelis commented on #2040
It looks like the edits I made earlier have caught up, but new edits are lost on this edition. https://openlibrary.org/books/OL26336755M/Bunnicula
The only one I've tried so far.

[2019-04-12 18:07] seabelis commented on #2040
Lost on this also. https://openlibrary.org/books/OL7729374M/Bunnicula

[2019-04-12 20:07] bitnapper commented on #2021
I’m sorry, I can’t. I don’t know whats more. I have this problem whenever I want to edit a book.

[2019-04-12 20:08] cdrini commented on #2040
Thanks! Ok, here are 3 easy test cases:

Link | Should...
--|--
https://openlibrary.org/books/OL4536655M/Surgeon_to_Washington_Dr._John_Cochran_1730-1807 | Should say "Hardcover"
https://openlibrary.org/books/OL26336755M/Bunnicula | Should say "Published in 1997 **09**"
https://openlibrary.org/books/OL25671368M/Run_to_me_a_novel | Should say "Ballantine Books"

[2019-04-12 20:15] cdrini commented on #2040
No luck! We just tried shutting it down, and those examples still show the outdated version :/

[2019-04-12 20:18] stefanauss commented on #2040
One thing that I can add about this is that I've been experiencing this issue since 2019-04-02, that's when I first started editing new additions to our library and there were some records that weren't saving any changes.

[2019-04-12 20:32] cdrini commented on #2040
Ok, the _problem_ has been figured out: We tried manually removing *Surgeon to Washington* from memcache, and it then displayed the updated version. So the problem _is_ that memcache is not invalidating its copy after an edit occurs. We also have a few new issues:
- ALL the test cases now display as up-to-date; possibly because of the manual delete, possible because ... ???
- Why is memcache not i

[2019-04-12 20:38] cdrini commented on #2040
More examples now that all my previous ones have been exhausted:

Link | Status
--|--
https://openlibrary.org/works/OL5960676W/Ethics_(and_other_liabilities)?m=history | wrong revision
https://openlibrary.org/books/OL3489849M/Little_sister?m=history | wrong revision
https://openlibrary.org/books/OL3026549M/Giacometti_a_biography?m=history | wrong revision

[2019-04-12 20:42] cdrini commented on #2040
Ahhh, thank you @stefanauss ! (Sorry for the lag; GitHub didn't show me your comment :P) That helps a ton; we can search a bit further back for what might have caused this issue.

[2019-04-12 21:02] mekarpeles commented on #1754
@tfmorris acknowledged. I think we may be changing this to an actionable "sponsor" button in the near future. In the meantime, for better or worse, closing this issue as having been implemented

[2019-04-12 21:02] #1754 closed

[2019-04-12 23:43] jdlrobson commented on #2021
![Screenshot_20190413-074054_Firefox](https://user-images.githubusercontent.com/148752/56071221-94e9d580-5dbf-11e9-9ea3-896ab3f250ce.jpg)
![Screenshot_20190413-074037_Firefox](https://user-images.githubusercontent.com/148752/56071224-974c2f80-5dbf-11e9-8425-5948c3d5cc40.jpg)

My guess is that the captcha is not loading. @bitnapper are you seeing a big gap like in the screenshot where the captcha s

[2019-04-13 01:53] tfmorris opened #2042 "Multiple redundant memcached updates"
In the logs for memcached, I'm seeing four identical update commands of the following form:

`set home.ia_carousel_books--{"_type":"authors","limit":42,"query":null,"sorts":null,"work_id":"/works/OL53924W","subject":null} 0 0 22`

when editing / fetching and edition page `/books/OL24197475M`.

There are also four gets for

`get /books/OL5917026M /books/OL24237305M /books/OL4443330M /books/OL136334

[2019-04-13 06:17] tfmorris commented on #1754
Presumably there should be a PR or commit linked here so that we know the offending commit to revert.

On a more meta level, how did we get from a cosmetic bug report being filed to a significant behavior change being implemented in under two weeks with zero discussion when we have so many other things which have been universally acknowledged as problems for many years?

Did the "stakeholders" who

[2019-04-13 07:38] seabelis commented on #2040
That's funny. I updated the title of https://openlibrary.org/works/OL15102237W/Bon%C3%ADcula and it is not reflected on the work record itself but the new title is shown on the list view:
![Fullscreen capture 4132019 93547 AM bmp](https://user-images.githubusercontent.com/17739465/56076308-cff40500-5dcf-11e9-8407-c37df27576f2.jpg)

[2019-04-13 08:20] jdlrobson commented on #2015
I think long term, we really need some design input on how to handle facets on a mobile device.
Can you share any details on what users are complaining about?

My worry about putting the facets above the search results is that it will push down search results. If we were able to collapse them that might be a good compromise but I don't feel like the code is in a place where doing that is comfortab

[2019-04-13 08:24] jdlrobson commented on #1553
Could we maintain a local cached proxy to archive.org ?

[2019-04-13 09:48] jdlrobson opened #2043 "Add test coverage for openlibrary/plugins/openlibrary/js/subjects.js"
**Description**
The openlibrary/plugins/openlibrary/js/subjects.js file contains a lot of code that can likely be refactored - for instance slice and rendertag - however without tests this comes with risk.

Write tests for the functions in this page with an aim for at least 70% coverage to describe how this file behaves.

[2019-04-13 09:49] jdlrobson commented on #2043
Cc @koderjoker

[2019-04-13 09:59] seabelis commented on #1754
I agree with @tfmorris that it does look more cluttered. I'm not sure I have the big picture, however. If there was some indication that users were confused and this has improved the situation, than perhaps the change was beneficial overall.

[2019-04-13 18:37] bitnapper commented on #2021
No, when I deactivate the activity tracker in firefox, the captcha link is there. But still I get an error: https://twitter.com/Bitnapper/status/1112430470971707393/photo/1

[2019-04-14 01:28] jdlrobson commented on #2043
While I'm traveling (until 23rd), here's a few pointers that might cause problems and may help you!

1)  jQuery is not available in the test framework right now. We use $.log, $.getJSON and $.extend in the file so make sure you define a mock jquery with these methods within the test before running. The easiest way to do this would be inside the [setup/teardown functions](https://jestjs.io/docs/en/

[2019-04-14 03:46] cdrini commented on #2040
Status update:

- This issue is reproducible on our local dev environment; this should make finding the commit that caused it easier
- It's unrelated to the xenial changes
- This file describes how memcache invalidates/updates when an infobase edit occurs: [openlibrary/olbase/events.py](https://github.com/internetarchive/openlibrary/blob/630386df5b7b6d980697ccb1ef856df6a828c3f0/openlibrary/olbase/

[2019-04-15 01:54] cdrini opened #2046 "Make postgres quieter during docker build"
Some of the postgres commands in [/docker/Dockerfile.oldev](https://github.com/internetarchive/openlibrary/blob/master/docker/Dockerfile.oldev) are outputting a lot of noise during docker builds. We should find a way to make it only show errors.

[code]

[2019-04-15 02:46] cdrini commented on #2040
@seabelis You edit pretty regularly, what was the earliest date you noticed this issue?

[2019-04-15 02:52] cdrini opened #2047 "Move as many config files as possible to /conf"
Our root directory is getting a little noisy; let's try to move as many of config files as possible to `/conf`. A lot of the tools that use them offer options for custom locations for the config files.

[2019-04-15 04:05] cdrini commented on #2040
Alright, I've been testing backwards trying to find a commit where the error doesn't occur (so I could do a git bisect), and I've been able to find it all the way back to Dec 3, 2018 before stopping :/ I think that's _too_ far back, so that makes me think my method is wrong. Here's my detailed methodology: https://gist.github.com/cdrini/9ee2c78da213b38262b02bbd9e35b1b4 ; @hornc does that look corr

[2019-04-15 07:19] seabelis commented on #2040
I reported it immediately. Prior to that edits were generally working as expected. The only thing I did notice, and maybe this is unrelated, is that for about the two days prior the system was taking a bit longer to process changes at the work level. I don't mean that the edits were not immediately seen on the records themselves, but that the tags took a long time to (???: I have no word for this:

[2019-04-15 08:13] hari-govind commented on #2010
Hi,
I would like to work on this issue if that's alright :)

[2019-04-15 12:52] mekarpeles commented on #2010
Go for it!

[2019-04-15 14:58] mekarpeles commented on #624
I think this is now fixed

[2019-04-15 14:58] #624 closed

[2019-04-15 16:14] LeadSongDog commented on #2040
Further example, edit on an author page today:
https://openlibrary.org/authors/OL5867300A/Thom_McGuire?b=2&a=1&_compare=Compare&m=diff
is not reflected:
![auth unchanged](https://user-images.githubusercontent.com/11435431/56147932-3f582900-5f77-11e9-975e-db42a0e75fa8.jpg)

A similar edit on 10 April had no such problem:
https://openlibrary.org/authors/OL439448A?m=diff&b=2
and is properly shown at:

[2019-04-15 16:46] seabelis commented on #2040
@cdrini Most editions I've made significant changes to are on this list. It seems like edits through the 10 April were fine. https://openlibrary.org/people/seabelis/lists/OL125878L/verified I'd estimate the slow-down of work tags/subjects populating that I mentioned above started approximately 5-8 April.

[2019-04-15 17:34] LeadSongDog commented on #2040
Hmm, https://openlibrary.org/authors/OL5867300A.json?v=2 shows the edits, but https://openlibrary.org/authors/OL5867300A.json does not. What's going wrong here?

[2019-04-15 19:31] mekarpeles commented on #1754
This features was driven by an internal request from @JeffKaplan who was frequently responding to emails about patrons who were confused about the difference between readable and non-readable catalog efforts and was discussed w/ @bfalling, Alexis Rossi
. Broadly related to our prep work for #684 which attempts to address confusion between our works and editions page (topic of several community cal

[2019-04-15 21:00] mekarpeles commented on #147
closing for now

[2019-04-15 21:00] #147 closed

[2019-04-15 21:03] mekarpeles commented on #1197
Closing this issue as resolved. Updated the #2049 guide to reflect. We should probably open a new issue for solving the root of the problem (which requires better documentation) --

Fix login on dev instance to fail if incorrect admin credentials
If user on dev enters wrong admin email + password and spoofs login, unable to login as admin. The flow should be fixed

[2019-04-15 21:03] #1197 closed

[2019-04-15 21:05] mekarpeles opened #2050 "Fix dev instance login to fail if incorrect admin credentials"
If user on dev enters wrong admin email + password and spoofs login, unable to login as admin. The flow should be fixed

_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/issues/1197#issuecomment-483417983_

= Notes from @jdlrobson
A workaround exists while this problem remains in https://github.com/internetarchive/openlibrary/issues/1197#issuecomment-479752932

[2019-04-16 00:58] cdrini commented on #2040
The (temp) fix is on dev, if folks want to help with testing!

[2019-04-16 14:58] seabelis commented on #2040
@cdrini Covers still seem to be an issue.

[2019-04-16 15:15] seabelis commented on #2040
Edits to edition data is working normally. Cannot add to lists.

[2019-04-16 15:33] mekarpeles opened #2053 "Extend API to Support Real-time Form Validation for Account Registration Page"
Dependency to `epic` #1433

## Description
Extend `account_create` Account Registration backend API Endpoint to support Real-Time Validation

## Proposed Approach
Update existing `account_create` (`/account/create`) GET backend API endpoint in https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/upstream/account.py#L210 to accept a `validate` GET query parameters, e.g. `/

[2019-04-16 15:50] mekarpeles opened #2054 "Typo in error messages"
Typo of `atleast` => `at least` in https://github.com/internetarchive/openlibrary/blob/c0b92e60050abe84574ae73c03086b4e66ebf514/openlibrary/plugins/openlibrary/i18n/account/register/strings.en#L5

[2019-04-16 15:57] mekarpeles commented on #1433
@schalkneethling I'm **deeply** sorry for dropping the ball and missing your last message -- we've been making it a priority to better delegate the various facets of the Open Library code-base and user experience (including User Registration) to have clearer leads so we're better equipped to deal with the volume of enthusiasm from the community :) this one is on me and my sincere apologies for lea

[2019-04-16 16:24] mekarpeles opened #2055 "Add Real-Time Validation to Account Registration Form"
Dependency to `epic` #7694

# Considerations
UX side note: don't show negative feedback while a user is typing (don’t debounce during typing, instead show after e.g. tab out / defocus)

# Requirements
- [x] #9189
  - PR: #9190
- [x] #9165
  - PR: #9215
- [x] #7080
  - PR: #9223

### Is your feature request related to a problem? Please describe.

Add real-time, client-side validation for email, use

[2019-04-16 16:33] mekarpeles commented on #1846
@jdlrobson can you please review to see if this can be closed?

[2019-04-16 16:42] mekarpeles commented on #1075
@seabelis has a list of orphaned works in a list -- https://openlibrary.org/people/seabelis/lists/OL129155L

https://openlibrary.org/books/OL24652731M/Room is an orphaned edition (as of today)

[2019-04-16 16:44] mekarpeles commented on #839
See WIP - #1966

Related to #857 and #1964

[2019-04-16 16:53] mekarpeles commented on #839
Supplanted by #739, #857, and #1964

[2019-04-16 16:53] #839 closed

[2019-04-16 16:54] mekarpeles commented on #739
cc: reidun76 -- conversation will be continued here (#839 closed as duplicate)

[2019-04-16 18:04] seabelis commented on #2040
Edition edits appear in the work edits log. This was not the case before.

[2019-04-16 19:10] jeyadosstimothy commented on #2054
Hi, can I work on this issue?

[2019-04-16 19:20] hornc commented on #2054
sure @jeyadosstimothy please do!

[2019-04-16 19:59] mekarpeles commented on #2040
@hornc believes this issue has been resolved by reverting openlibrary.yml and infobase.yml on production to a state before ol-mem4 was added.

It's hypothesized perhaps `infobase` needed to be restarted on `ol-home` via `supervisorctl` after deploy (prior to restarting `ol-web3` and `ol-web4`) in addition to restarting `ol-mem*`.

I'm very tentatively marking this as resolved and hoping doing so w

[2019-04-16 19:59] #2040 closed

[2019-04-16 20:00] mekarpeles opened #2057 "Audit/Inventory Bad Edits Caused by Cache Issues (Followup to #2040)"
@hornc believes this issue has been resolved by reverting openlibrary.yml and infobase.yml on production to a state before ol-mem4 was added.

It's hypothesized perhaps `infobase` needed to be restarted on `ol-home` via `supervisorctl` after deploy (prior to restarting `ol-web3` and `ol-web4`) in addition to restarting `ol-mem*`.

I'm very tentatively marking this as resolved and hoping doing so w

[2019-04-16 20:03] #2054 closed

[2019-04-16 21:23] jdlrobson commented on #1846
The database dump is still outdated.
If someone can provide guidance on how to update the initial database data I will happily work on this task.

[2019-04-16 21:35] mekarpeles opened #2058 "Allow Patrons to Enable "Public" Reading Log at Account Creation"
Followup on #740 and #826

### Is your feature request related to a problem? Please describe.

Right now, most users don't know that they can make their reading log public. In general, other than borrow history, nearly everything on Open Library (e.g. existing Lists) is public. We'd like to give users the opportunity to make their `reading log` lists public to support the ability to follow patrons

[2019-04-16 21:37] mekarpeles commented on #850
@rohitjain00 do you have any interest in being our Deputy of Registration and be our lead on features and issues facing https://github.com/internetarchive/openlibrary/labels/registration?

[2019-04-16 21:45] mekarpeles commented on #851
Closing on account of there just not being enough resources, not because it's a bad idea. It's a large effort, lists are not used that heavily that they are currently posing a risk (given their current flawed implementation of re-saving in the data table every time an item is added / removed -- if anything, this is perhaps the issue which we should fix).

[2019-04-16 21:45] #851 closed

[2019-04-16 21:47] mekarpeles opened #2059 "Enhancements for Reading Log"
- [ ] #2016 "Stopped Reading"
- [ ] Add "Finished-Reading" Date
- [ ] Add "Notes" field
- [ ] Add bookmark/page to "Currently Reading" or "stopped reading"

[2019-04-16 23:40] abezella commented on #680
@mekarpeles  - i've redeployed `ol-mem4` using the geerlingguy.memcached role from ansible galaxy (https://galaxy.ansible.com/geerlingguy/memcached).  this allows easy changes to the memory based on host (although currently set for one-size-fits-all in the memcached group) and also the listening addr change.  so that addresses 1) and 2).  for 4) i added a `ferm` template.

`/opt/openlibrary` has n

[2019-04-17 00:42] hornc opened #2060 "Load and link Phillip's MARC data into Open Library"
Source data: https://archive.org/details/marc_openlibraries_phillipsacademy

- [x] create Phillips /type/local_id
- [x] confirm local ids can be extracted from MARC
- [x] import / link up data

[2019-04-17 00:45] hornc opened #2061 "Load and link SFPL MARC data into Open Library"
Source data: https://archive.org/details/marc_openlibraries_sanfranciscopubliclibrary

- [x] confirm the above item has the latest suitable data for import
- [x] create SFPL /type/local_id https://openlibrary.org/local_ids
- [x] confirm local ids can be extracted from MARC
  - barcodes for SFPL are in 945$i
- [x] import / link up data, initial pass
- [x] Investigate failed imports (= issues with r

[2019-04-17 00:49] hornc commented on #788
@mekarpeles This process is verified -- we may want to move the documentation, a fleshed out version of your 1,2,3 steps above to the wiki.

My very basic endpoint documentation (which I refer to as needed) is here: https://github.com/internetarchive/openlibrary/wiki/Endpoints#importing

[2019-04-17 00:53] hornc commented on #1565
**TODO**

- [ ] test reimport and see what happens (I expect it will locate this record and make no changes, but good to confirm)
- [ ] use this MARC record for a unit test to verify that the expected fields are read and used in the current import.

[2019-04-17 01:08] hornc commented on #2061
make sure documentation is up-to-date  see, https://github.com/internetarchive/openlibrary/wiki/Data-Importing#Bulk-MARC-Import and https://github.com/internetarchive/openlibrary/issues/788

[2019-04-17 01:14] hornc commented on #26
Multiple defined un-delete authors in the code:
https://github.com/internetarchive/openlibrary/search?q=%22undelete+author%22&unscoped_q=%22undelete+author%22

[2019-04-17 01:59] #2010 closed

[2019-04-17 02:11] #657 closed

[2019-04-17 02:13] mekarpeles commented on #2037
https://github.com/internetarchive/openlibrary/blob/781791fe16096857b52ea757a38c205b1019483c/openlibrary/plugins/upstream/code.py#L86

The code used to be `product = amazon_api.lookup(ItemId=isbn)` which accepted `asin` v. now where the code is specific to `isbn`: `product = lending.amazon_api.lookup(ItemId=isbn, IdType="ISBN", SearchIndex="Books")`

[2019-04-17 02:37] hornc commented on #811
@salman-bhai the instructions for importing data are on the wiki at https://github.com/internetarchive/openlibrary/wiki/Getting-Started#importing-test-data

to get this item into the dev environment, the following one-liner can be run from the host:

`docker-compose exec web scripts/copydocs.py /books/OL2388827M --recursive`

I have verified this works in the latest dev environment. It woudl be gr

[2019-04-17 02:48] mekarpeles commented on #788
Also, our import docs video can be found here https://archive.org/embed/openlibrary-developer-docs/openlibrary-imports.mp4

[2019-04-17 02:48] #788 closed

[2019-04-17 03:11] hornc opened #2062 "Synchronize prod's edition.json with repo's config_edition.page"
Follows up from #881

The production edition.json config at https://openlibrary.org/config/edition.json is behind what's committed on master:
https://raw.githubusercontent.com/internetarchive/openlibrary/master/openlibrary/plugins/openlibrary/pages/config_edition.page

The live config_edition.page likely needs to be edited wiki-style (as admin) to ensure it is not behind what's committed.

## Chal

[2019-04-17 03:16] hornc commented on #163
This is still an issue. Probably a larger issue around standardising html across all pages and moving to HTML5. Bumping for discussion and looking for volunteers.

[2019-04-17 04:02] mekarpeles commented on #163
@jdlrobson do you have thoughts on this re: priority? @koderjoker expressed interest in being point on this or finding someone to lead this. Would love your thoughts if there are other front-end tasks you think should be taking priority

[2019-04-17 04:23] hornc commented on #811
Ok, I have figured this out -- the notes on the closed PR #840 were correct that PR #881 would fix the problem, it just needed to be applied in production, which is why I opened #2062 .  I have just made a production edit to just add the Wikidata entry, which resolves _this_ issue.   #2062 needs to be looked at carefully to get the rest of the changes.

[2019-04-17 04:23] #811 closed

[2019-04-17 13:37] jdlrobson commented on #163
Yes. Let's switch to html5 doctype and fix these errors. Invalid HTML can be a huge nuisance (ui regressions, failing js, unreadable content.. even security problems).

They should also be straightforward to fix so if we know about problems lets resolve them with high priority.

[2019-04-17 15:59] mekarpeles commented on #680
@abezella I think I see this here? https://github.com/internetarchive/olsystem/blob/master/playbooks/site.yml

[2019-04-17 16:06] #361 closed

[2019-04-17 16:08] mekarpeles commented on #342
In general, our search results should be more sensitive to matching the correct edition. For this specific issue, the query provided now does resolve to an edition via the openlibrary.org/isbn/xxx api

[2019-04-17 16:08] #342 closed

[2019-04-17 16:12] mekarpeles commented on #621
For now as a stop-gap, I think we should be linking to their archive.org account borrow history page, e.g.:

https://archive.org/details/@mekarpeles&tab=loans#loans-history

[2019-04-17 16:23] #681 closed

[2019-04-17 16:54] mekarpeles commented on #858
When a patrons registers for an Open Library account, they are also registering for an Archive.org account and so we want to give the patron the ability to sign up for Internet Archive's mailing list at time of registration.

This involves a front-end and back-end component. First, we need to update our call to the `xauthn` API to specify/reflect whether the patron wishes to subscribe. Second, we

[2019-04-17 17:07] seabelis commented on #342
@mekarpeles Only when there is only one edition with the ISBN. When there are more, you get the work in results. ISBN should not be considered a unique identifier; they are frequently reused by publishers for later editions of the same work, sometimes recycled for entirely different works, sometimes printed by mistake (but once in a book, people will use that to search - mistake or not), and the l

[2019-04-17 17:10] mekarpeles commented on #342
@seabelis I agree; I think it will benefit us to have a new `epic` issue which outlines a strategy of having edition matches in our search results

[2019-04-17 17:12] mekarpeles opened #2064 "Should be able to search at the edition level"
i.e. don't just show a matching work, show the edition which caused the work to be a match.
e.g. goodreads and google books

## Stakeholders
cc: @seabelis, @leadsongdog, @tfmorris, @cdrini, @hornc

## Related
#448, #643, and was also discussed in #684
_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/issues/342#issuecomment-484179607_

[2019-04-17 17:40] mekarpeles commented on #2062
@hornc can we POST to `https://openlibrary.org/config/edition.json`? Why can't we remove the `json` suffix and edit the https://openlibrary.org/config/edition page?

[2019-04-17 19:47] abezella commented on #680
yep!  also some other supplemental files dropped in:
https://github.com/internetarchive/olsystem/commit/dde66442de0064ca85cf3826daf4689167f34449#diff-7a2684d343bed66d1c59ec37a49e55c6
`ol-mem4` should be ready to go, then...

[2019-04-17 22:40] tfmorris commented on #858
@mekarpeles Can you provide a link to the archives for some of these mailing lists? I can't find any examples.

To be clear, the reason that OpenLibrary subscribers end up with archive.org accounts is because we force them to, having disabled all the openlibrary.org accounts. They're not choosing to get archive.org accounts.

[2019-04-17 23:17] tfmorris commented on #2064
This is closely related to #448, #643, and was also discussed in #684.

[2019-04-17 23:42] waldenn commented on #1754
Can someone comment on why the Search API returns books with "has_fulltext: true" but which are not readable online? The "ebook_count_i" value also does not indicate read access.

How can the user of the search API make sure a book is directly readable? Thanks!

[2019-04-18 01:29] mekarpeles commented on #1754
@waldenn I'm forking your comment to a new issue which reflects your question (so we can address it)

[2019-04-18 01:29] mekarpeles opened #2065 "Search API - How to Determine Which Books are Unrestricted?"
@waldenn asks:

_Originally posted by @waldenn in https://github.com/internetarchive/openlibrary/issues/1754#issuecomment-484301534_

[2019-04-18 01:51] mekarpeles opened #2066 "Improve Effectiveness of Help & Support Flow: Reduce Unnecessary Support Emails"
Currently, we receive a lot of emails for the same types of problems. We do have FAQ but the /contact page highlights sending emails. This document proposes and intermediary page without an email form to help reduce common questions and to more quickly route question askers to the right places.

Here's what this new intermediary page might look like:

## How can we help you?

### I'm having troubl

[2019-04-18 02:42] mekarpeles commented on #858
https://github.com/internetarchive/openlibrary/issues/858#issuecomment-484287808
@tfmorris I understand this point well and have 0 authority on this point, it was a decision by Brewster himself and I expressed my opinion.

@tfmorris I'm not sure that there is an archive of Archive.org's mailing list, I'll have to check.

[2019-04-18 02:52] cdrini commented on #2062
Yaml is a superset of Json, so you should be able to paste it in.

[2019-04-18 03:27] hornc commented on #2062
@mekarpeles the Edit button looks like it is meant to do something sensible, but I don't see any values I can work with when I click on it, it just prompts for an edit summary. The YAML editor looks like the familiar admin only editor I sometimes use for editing books.

POSTing to the json might work -- will need to test locally first to avoid breaking things, but that would be a nice simple way o

[2019-04-18 04:38] tfmorris commented on #1754
@waldenn Probably implied, but to make it explicit, don't co-opt unrelated issues, particularly ones which are closed, if you want a meaningful response.

[2019-04-18 11:04] waldenn commented on #2065
I now see there is another API endpoint ["Books"](https://openlibrary.org/dev/docs/api/read) which gives more book info and a field of "preview" and "preview_url". This solves the issue. I see you can call the API with multiple IDs. Thanks!

[2019-04-18 14:25] mekarpeles commented on #2065
Sounds like you found a work-around. Also, you may be able to specify `&jscmd=data` on the endpoint and get the additional info you need.

IN http://openlibrary.org/search.json?q=lord%20of%20the%20rings&jdcmd=data the `public_scan_b` field tells you that the work has a public / unrestricted edition.

Note that search results return a **work** and not an edition, so this `public_scan_b` will only t

[2019-04-18 14:25] #2065 closed

[2019-04-18 14:43] waldenn commented on #2065
Thats great, thanks for the help.

[2019-04-18 17:21] LeadSongDog commented on #2061
Please, Please, Please, do not open these floodgates without first ensuring that there is correct (or at least tolerably incorrect) handling of ambiguous author strings in the imported records. A search for author John Smith (https://openlibrary.org/search/authors?q=john+smith&mode=everything) finds 625 author records as of today. Consider the impact of dumping works upon the wrong author record.

[2019-04-18 17:30] mekarpeles commented on #2061
@LeadSongDog point well taken, even though there are actually more like ~100 (not 625) https://openlibrary.org/search/authors?q=name%3A%22John+Smith%22. We'll make sure authors are handled sanely.

As background reference, this issue blocks Internet Archive from digitizing SFPL's books and so from that perspective, we need to move as quickly as our scanning center needs to. Just fyi

[2019-04-18 17:40] mekarpeles commented on #1553
If I understand correctly, I'm not sure we can beyond what caching we're doing (we rely on them for availability, bookcovers, etc)

[2019-04-18 18:02] LeadSongDog commented on #628
A year on from my above, https://openlibrary.org/books/OL9761061M.json still shows the old OL1422909A even though the also-linked work OL5805701W shows OL5207025A.

[2019-04-18 18:20] LeadSongDog commented on #2061
@mekarpeles  Ok, so incorrect reporting of the search totals is a known issue #628, but the point stands.  We don't seem to be getting anywhere much on #352 #357 #512 #756 #977 #1571 despite what seems to be broad agreement that it needs doing.

I also think your #513 was closed prematurely: the add-a-book work-edit, and edition-edit pages' author dropdown certainly only offers up ten "John Smith"

[2019-04-18 19:12] LeadSongDog commented on #858
For the forum posts (vice mailing lists) at IA there's:
https://help.archive.org/hc/en-us/articles/360018126292-Forums-A-Basic-Guide

[2019-04-18 20:01] mekarpeles opened #2068 "Add "Listen 🎧" Call-to-Action Button which launches BookReader in Text-To-Speech Mode"
## Is your feature request related to a problem? Please describe.

Most readers don't know all of our readable/borrowable books are available in audio/text-to-speech format through our BookReader. This issue proposes a `[Listen 🎧]` button which allows users to jump directly from Open Library into a text-to-speech audiobook experience.

## Sub-Tasks
- [ ] Create a `Audiobook` user-group for a pilot

[2019-04-18 21:44] mekarpeles opened #2069 "Make homepage carousels lazy-loading"
We're almost done (#1982) implementing lazy-loading carousels for our subjects pages to resolve #1871. The same opportunity exists for us to reduce the number of books we fetch up-front for all our carousels, including the homepage, by lazy-loading additional pages of books (per carousel) as the client requests them.

Requires #2070
Related to #602

[2019-04-18 21:47] mekarpeles opened #2070 "Create a /browse.json API to fetch Open Library books using Archive.org ElasticSearch"
This code is prerequisite for #2069 (lazy-loading homepage) and #602 (creating a /browse view for renders archive.org ES results on Open Library)

The work in #1982 preps us for this outcome:
https://github.com/internetarchive/openlibrary/blob/a53a380d4a55aa0299cc16caddf4060e2db0c00c/openlibrary/core/lending.py#L120-L127
The above code fetches available items from Archive.org's ElasticSearch and r

[2019-04-19 01:30] mekarpeles commented on #1754
@tfmorris I think I can appreciate the misunderstanding in this case -- especially for someone new to the code base, this issue title seems to address the question (it isn't super unclear that this issue isn't about the search API and availability). Thanks for keeping our issues focused! Glad we were able to resolve the issue on #2065 :)

[2019-04-19 14:55] #2070 closed

[2019-04-19 15:23] mekarpeles opened #2072 "Redesign /subjects Page to Promote Better Browsing"
## What problem does this feature solve?

The current subjects page fails at providing an introductory browse experience that is useful for the average user.

![Screen Shot 2019-04-19 at 08 10 21AMPDT](https://user-images.githubusercontent.com/978325/56430253-abd66f00-627a-11e9-8a03-2216d956e160.png)

Compare to Amazon + Goodreads' book pages:
![Screen Shot 2019-04-19 at 08 13 25AMPDT](https://use

[2019-04-19 21:43] JeffKaplan opened #2073 "Error editing Edition: Unable to add author"
Tried to add the author "Harry F. Olson" to https://openlibrary.org/books/OL24239544M/Elements_of_acoustical_engineering/edit and received error"expected /type/author, found /type/delete":

[2019-04-19 21:43] JeffKaplan opened #2074 ""More" in search facets not working"
## Description
After searching, click "more" under, say, authors. Just adds a bullet after the word "more" and does not expand list.

## Evidence / Screenshot (if possible)
![tmp](https://user-images.githubusercontent.com/6251786/56463876-171f5e80-63ab-11e9-975b-0f5d5172e9ac.gif)

## Relevant url?
https://openlibrary.org/search?q=title%3A+%22the+art+of+war%22&mode=everything

## Expectation
Should

[2019-04-19 22:22] tfmorris commented on #2073
That's due to a stale search index which is returning a deleted record. Try Harry Ferdinand Olson.

[2019-04-20 03:03] hornc commented on #2073
I tried to reproduce this and ended up with the author that @tfmorris suggested, so it worked. I look at the number of works listed by each author in the drop down and choose the one with the most.

I think the error was occurring when https://openlibrary.org/authors/OL7017081A.json was selected, which is a delete type.

This is one reason redirects are better than deletes, but I think the error m

[2019-04-20 10:23] tabshaikh commented on #1871
@mekarpeles maybe we can close this issue as the title is lazy-load more carousel items on subjects page which is accomplished :)

[2019-04-20 16:07] #1871 closed

[2019-04-21 00:09] cdrini opened #2075 "Remove "New feature" banner"
## Description
The new feature banner is pretty outdated; embeds were introduced ~1 year ago. We should make sure the feature is documented somewhere on Open Library.

## Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/56463714-5a77ce00-63a7-11e9-9b3c-050ae75222c0.png)

## Stakeholders
@mekarpeles

[2019-04-21 00:33] cdrini commented on #2074
Can reproduce; expanded issue

[2019-04-21 00:34] cdrini commented on #2074
No errors are logged to the JS console on click.

[2019-04-21 06:45] jdlrobson commented on #2074
Likely another jquery live migration problem based on symptoms :(

[2019-04-21 07:14] jdlrobson commented on #2074
The more function is defined in openlibrary/templates/work_search.html and uses slideDown on an element that has the class .hidden however .hidden uses !important and means always hide this thing.

Two ways to solve this and changes in 2 files necessary: openlibrary/templates/work_search.html
openlibrary/plugins/search/templates/advanced_search.html

1) Replace the class hidden with style="display

[2019-04-21 21:50] cdrini opened #2076 "Allow debugging of local docker Open Library site"
## Is your feature request related to a problem? Please describe.
There's currently no way to do breakpoint/line-by-line debugging when using the docker container.

## Describe the solution you'd like
breakpoint/line-by-line debugging

## Proposal & Constraints
Proposing creating the necessary hooks for using VS Code's remote python debugger. PyCharm's community edition doesn't support remote debu

[2019-04-21 21:59] cdrini opened #2077 "Delete unused/merged branches"
## Description
There are currently 144 branches. There should only really be <10. A good place to start would be deleting merged branches. This is a problem because accidentally calling `git pull upstream` instead of `git pull upstream master` will pull down ALL the branches.

## Relevant url?
https://github.com/internetarchive/openlibrary/branches

## Expectation
There should probably only be <10

[2019-04-22 00:31] hornc commented on #1047
similar to #732 , but this is for non-inlibrary items

[2019-04-22 00:41] hornc commented on #1047
IA client commands and OL datadump checking:
[code]

[2019-04-22 00:45] hornc commented on #81
closing in favour of #1045

[2019-04-22 00:45] #81 closed

[2019-04-22 00:50] hornc commented on #751
@mekarpeles is this an exact duplicate of #1047 or is there some other work required for this issue?

[2019-04-22 01:43] hornc commented on #1933
relates to #2062

[2019-04-22 02:02] mekarpeles commented on #2077
Down to 54 branches -- feel empowered to delete your own merged/closed branches, folks! Thanks @cdrini

[2019-04-22 02:13] cdrini commented on #2046
@rohitjain00 from slack:

[2019-04-22 02:13] cdrini commented on #2046
That sounds good! Do you have the time to try it? This seems like it has some info as well: https://stackoverflow.com/questions/3530767/disable-notices-in-psql-output

[2019-04-22 02:42] cdrini commented on #1896
@mekarpeles ran another query on prod's solr, and found that there are 1514068 items now (compared to 1510685 in Feb); that's a 3383 item increase, so something is definitely getting indexed somewhere, but I'm not sure how or when.

[2019-04-22 03:06] hornc commented on #1381
I don't believe this is a blocker, it's just a UI display issue affecting the History template, which is misleading. The underlying metadata stored on the item is correct, and the specific history diffs at every stage are correct.

I believe  https://openlibrary.org/books/OL26354767M/How_to_Be_a_Stoic is a valid example of the problem as the history template summary states: "Created by <username>

[2019-04-22 03:16] hornc commented on #2060
example first show_marc record (not yet imported): https://openlibrary.org/show-records/marc_openlibraries_phillipsacademy/PHILLIPS_MARC_RECORDS_IA.mrc:0:1302

eventual location of local_id type:
https://openlibrary.org/local_ids/phillips

[2019-04-22 03:29] hornc commented on #2061
example first MARC record (as yet un-imported): https://openlibrary.org/show-records/marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run01.mrc:0:1983

[2019-04-22 04:21] tfmorris commented on #2073
@hornc What did you use for your search/autocomplete string?

I *was* able to reproduce Jeff's problem, which I should have stated up front, using his search string (ie with just the middle initial) and only a single choice was offered. Since then I merged a couple of the other author records and that apparently had the side effect of indexing the "Harry F." aka, so that it now is the top autocomp

[2019-04-22 15:47] #2069 closed

[2019-04-22 22:28] cdrini opened #2081 "Update Node version in local env"
The current LTS version is now 10.15.3; we have 8.?. Since we don't use node to host a server or anything, do you think we could use the full latest version, or should we stick to LTS, @jdlrobson @hornc ? Would this cause any issues with having to update the prod environment, @mekarpeles ?

Can probably copy the appropriate instructions here https://github.com/nodesource/distributions/blob/master/

[2019-04-22 23:58] jdlrobson commented on #2015
Given this is urgent, I'd appreciate some input on https://github.com/internetarchive/openlibrary/issues/2015#issuecomment-482788346 to help fix this. Would an anchor link suffice?

[2019-04-23 00:01] #2074 closed

[2019-04-23 00:09] #1553 closed

[2019-04-23 01:37] cdrini opened #2083 "Separate frontend into separate docker-compose service"
Separate node and npm packages into separate `frontend` docker service.

Subtask of #1071

[2019-04-23 02:12] mekarpeles opened #2084 "Add book titles to carousels"
## Is your feature request related to a problem? Please describe.

Should we add titles beneath our carousels? Especially when a book has a non-descript bookcover, it's difficult to tell what the book is.

UPDATE:
The results of the vote suggest adding titles may be a worth-while change (especially for books in carousels without covers)

## Examples
![overdrive-carousel-titles](https://user-images

[2019-04-23 03:00] jdlrobson commented on #2084
How will we deal with long titles/authors? I expect this will need some kind of fixed height to work. e.g. `...`

[2019-04-23 03:03] jdlrobson commented on #2050
Where is the workaround for users that have accidentally entered wrong email? I can't find the link an y more :(

[2019-04-23 03:04] cdrini commented on #2050
https://github.com/internetarchive/openlibrary/issues/1197#issuecomment-479752932

[2019-04-23 03:13] jdlrobson opened #2085 "Consistency: JavaScript quotes"
We use a mix of quoting style in our codebase. Sometimes we use `"` and sometimes we use `'` with single quotes being most prevalent. We should use single quotes, and [prefer template](https://eslint.org/docs/rules/prefer-template) where possible.  Let's apply some  [eslint  rules](https://eslint.org/docs/rules/) and fix these.

[Eslint](https://eslint.org/) can be run by using `npm install && npm

[2019-04-23 03:17] jdlrobson opened #2086 "Consistency: Variables at top"
We define variables all over the place. Let's apply some  [eslint  rules](https://eslint.org/docs/rules/) to get some consistency by enforcing that they must be at the top of a function.

[Eslint](https://eslint.org/) can be run by using `npm install && npm run lint:js`

### Checklist
- [ ] Update .eslintrc.json to make sure [vars are always defined on top](https://eslint.org/docs/rules/vars-on-to

[2019-04-23 03:22] jdlrobson opened #2087 "Consistency: Spacing"
Our spacing is inconsistent. Let's apply some  [eslint  rules](https://eslint.org/docs/rules/) and fix these.

[Eslint](https://eslint.org/) can be run by using `npm install && npm run lint:js`

[code]
At time of writing there are  ✖ 13 problems (13 errors, 0 warnings)

### Checklist
- [ ] Update .eslintrc.json with the correct definition
- [ ] fix any offenders detected via `npm run lint:js` (or

[2019-04-23 05:57] tfmorris commented on #2081
I would stick with LTS unless it fails to provide something that we critically need.

[2019-04-23 06:01] tfmorris commented on #2085
That's a very large change with limited value add. Let's make sure that it's well isolated from any functional changes so that we don't pollute the revision history.

[2019-04-23 07:05] jdlrobson commented on #2085
It's a low risk change. The linter can autofix all these issues.

[2019-04-23 07:09] jdlrobson commented on #2085
In terms of importance, single quotes are usually better to make it easier to detect escaping problems when using html templating. Having a common language also helps us focus code review on code content by making it easier to read. I don't consider that limited value.

[2019-04-23 14:05] jdlrobson opened #2088 "Reflow on homepage when carousel loads"
## Description
When the homepage loads on mobile there is a visible slight repaint/reflow as the arrows appear pushing the image to the left.
## Evidence / Screenshot (if possible)
![Screenshot_20190423-220241_Chrome](https://user-images.githubusercontent.com/148752/56587195-b0e94480-6613-11e9-8b2c-45895c7e1c5b.jpg)
![Screenshot_20190423-220250_Chrome](https://user-images.githubusercontent.com/148

[2019-04-23 14:06] jdlrobson commented on #2088
Note the read button and thumbnail width in screenshot one. The thumbnail shrinks in width

[2019-04-23 15:38] mekarpeles opened #2089 "Move ctx.setdefaults('bodyid', ...) out templates, into controller"
Open Library CSS style sheets (which are named according to the `page-*` convention) may be on a per-template basis by specifying a `bodyid`. Unless specified otherwise, a template will default to a `user` value for `bodyid` which results in the loading of `page-user.css`.

Many templates which require custom style sheets instead of `user` declare this `bodyid` (i.e. the filename suffix they need)

[2019-04-23 18:33] LeadSongDog commented on #2084
@jdlrobson Can't the alt text be set to the full title and author, and then rendered by a browser as hovertext or read aloud?

[2019-04-23 20:04] mekarpeles commented on #2084
@LeadSongDog I don't think this is a viable option for mobile users.

@jdlrobson not sure yet, one proposal was removing the read buttons to make room for title / author.

[2019-04-23 23:59] jdlrobson commented on #2089
Ideally this would have its own method that is called prior to template rendering but i seem to remember there were issues with infogami that made this impossible for ingogami provided routes

[2019-04-24 03:18] jdlrobson commented on #2084
The read buttons are a little repetitive. This would reduce visual clutter
but we'd still need to truncate or shrink longer titles to retain the fixed
card format.

On Wed, Apr 24, 2019, 4:04 AM Michael E. Karpeles <notifications@github.com>
wrote:

[2019-04-24 04:28] hornc opened #2090 "Edition edit ID number validation messages are no longer showing"
## Description

Example edit page:
https://openlibrary.org/books/OL9246553M/Kissing_the_Witch/edit

In the "ID Numbers" section "Do you know any identifiers for this edition?"

If you enter an ISBN that does not have 10 or 13 characters it will not save (by design) as there is validation js to prevent this. There should be a warning message to indicate what needs to be changed. Some of the other i

[2019-04-24 04:29] hornc commented on #1075
I'd vote for not adding UI to support orphans here and simply fix the data.

[2019-04-24 04:40] hornc commented on #1891
Another example: https://openlibrary.org/books/OL25430105M/Drumul?m=history

The Change Work field actually _created_ an orphan after I reverted it to the old duplicate work. My edit just reproduced @seabelis 's edit.

The issue with the error messaging needs to be fixed as I can't tell if there is some other specific problem with the data that is causing it to lose the new Work id, or whether it

[2019-04-24 13:47] LeadSongDog commented on #2084
@mekarpeles Agree it only helps accessibility on desktops and screenreaders, but it does not degrade the mobile rendering either.

[2019-04-24 14:16] #1195 closed

[2019-04-24 15:23] seabelis opened #2094 "Mobile zoom stops working after home page loads"
## Description
When using a mobile device, it is not possible to zoom on home page once it has loaded completely. It will work as the page is loading and on works pages.

This might be what @JeffKaplan was referring to during yesterday's call when he mentioned folks were having difficulty enlarging the text on mobile.

## Evidence / Screenshot (if possible)

## Relevant url?
https://openlibrary.or

[2019-04-24 16:24] seabelis commented on #2084
I'd try to keep titles to one line; maybe have a character count limit followed by ... when exceeded? Perhaps the year is not necessary.

[2019-04-24 22:14] LeadSongDog opened #2095 "Decimal values now broken on physical dimensions and weight"
## Description

When editing an edition record, existing decimal values under height, width, depth, and weight are sometimes being rejected with the balloon message “Enter a valid value”. I don’t find that string in searching the code base. Further, the up/down arrow widgets to adjust the value are not always visible, and the edit cannot be saved.

## Evidence / Screenshot (if possible)

<img src=

[2019-04-25 02:03] cdrini commented on #1891
Using the debugger I'm going to introduce soon (shameless plug),

![image](https://user-images.githubusercontent.com/6251786/56704717-39cbb300-66dc-11e9-9507-2f14902fc3be.png)
![image](https://user-images.githubusercontent.com/6251786/56704740-4ea84680-66dc-11e9-8551-a6370956dc31.png)

Which makes this errors, where it's saying the edition's work's key is not found make sense (since
![image](https

[2019-04-25 07:31] jdlrobson commented on #2094
I understand the problem here but mobile zoom is working, it's just when the slick carousels are in the viewport,  slick which adds events for touch gestures appears to prevent zoom from working. When I scroll to the bottom of the homepage zooming works.

This is definitely problematic from an accessibility viewpoint.

Hopefully these can be disabled in slick and should be investigated. Otherwise

[2019-04-25 07:54] seabelis commented on #1891
I've encountered plenty of editable orphans, but I've since associated them with their respective work records. I believe this was one of them prior to my migrating it: https://openlibrary.org/books/OL7432665M/Dear_Mr._Henshaw_(rpkg)_(HarperClassics)

[2019-04-25 10:02] mercy254 commented on #686
Hi
I would like to join your slack channel my email is **muthonimercy054@gmail.com**

[2019-04-25 10:07] seabelis commented on #1891
Actually, I think that's a bad example. I only moved it; didn't edit it.

This list has orphans that I was previously able to edit, but unable to move. What would happen is when edited, they would create a work, but when trying to move them, they would go back to being an orphaned edition. I think that is no longer the case as what happens now is the editions cannot be moved or saved. https://open

[2019-04-26 18:28] waldenn opened #2099 "Allow for searching (and linking to) an OCLC ID"
## Is your feature request related to a problem? Please describe.

I would like to link/search for an OCLC book ID via openlibrary, eg for "OCLC:1744006":

  https://openlibrary.org/search?q=OCLC:1744006

This is already possible for ISBNs:

  https://openlibrary.org/search?q=ISBN:9780394404288

Some Wikipedia articles use OCLC ID's instead of ISBNs. For now I am using a link to WorldCat ([example

[2019-04-26 19:51] waldenn commented on #2099
I just realized that this might be a data licensing issue. If that is the case I will close the issue.

Is searching with "OCLC:<ID>" possible if that data is available in OpenLibrary?

[2019-04-26 20:34] LeadSongDog commented on #1891
https://openlibrary.org/books/OL8586641M/The_Art_of_War_by_Baron_De_Jomini?b=10&a=9&_compare=Compare&m=diff was supposed to correct dimensions on the edition record and link it under OL15202586W but it deleted the old work ID _without_ replacing it. This created an orphan which now will not permit correction.

[2019-04-26 21:51] LeadSongDog opened #2100 "Inconsistent resizing of edit windows"
## Description

Cosmetic:
In the edition edit, the "Table of Contents" window behaves differently than the "Any notes about this specific edition?" and the "Description of this edition" windows. The first can only be resized vertically, while the other two can resize horizontally too. It's also pretty wierd that the grey background under "This Edition" scales horizontally independent of the rest o

[2019-04-26 23:55] LeadSongDog commented on #2099
Shouldn’t be a problem. Check the license out.

[2019-04-27 02:47] LeadSongDog commented on #2099
See https://www.oclc.org/research/themes/data-science/fast/odcby.html

[2019-04-27 10:22] brad2014 commented on #14
Old bug.  Just checked to make sure the given title check-out/check-in works.  Reopen if still an issue.

[2019-04-27 10:23] #14 closed

[2019-04-27 13:14] #2075 closed

[2019-04-27 14:01] LeadSongDog commented on #2099
In the absence of an oclcn, it is also feasible to link by title: http so://worldcat.org/title/hitchhikers-guide-to-the-galaxy

[2019-04-27 16:02] waldenn commented on #2099
I already have a working link... I do what Wikipedia also does, which is [link to](https://en.m.wikipedia.org/wiki/The_Prophet_(book)] WorldCat. However, I want to link to OpenLibrary (without too much data processing). This is a reasonable feature for OpenLibrary I think (link by OCLC or some other commercial ID like ASINs). Even if the OpenLirbary search for such an ID fails, it could point / re

[2019-04-27 19:00] tfmorris commented on #2099
The correct syntax is https://openlibrary.org/search?oclc=28464329

Of course it only works if the particular OCLC ID that the wikis picked is one of the ones that we catalog. If the OCLC ID represents an edition rather than a work, I don't see what value it is adding over a more universally recognized ISBN.

Of course, Wikipedia could store the OpenLibrary work ID directly (since it's usually the

[2019-04-27 19:00] #2099 closed

[2019-04-27 19:05] waldenn commented on #2099
Ok great thanks!

Where was this search attribute documented? I did not see it in the advanced search-form. Maybe some more documentation is needed here, and link it to the advanced search page.

Also, it would be nice if the same syntax "ISBN:" could also work for other ID-forms, but this indeed solve this issue.

[2019-04-27 19:31] tfmorris commented on #2099
Wikidata had an OL ID, but it was for an edition, not the work. I've corrected it. https://www.wikidata.org/wiki/Q1196302

For some reason this ID isn't included in the Authority Control section at the bottom of https://en.wikipedia.org/wiki/The_Prophet_(book) but it is available from Wikidata.

I'm not sure whether/where it is documented, but I'd look in the developer API docs, not the end user d

[2019-04-27 19:47] LeadSongDog commented on #2099
@tfmorris There are many older editions that have no isbn, so for those an OCLCno is a good substitute. There are also many editions with multiple isbns (often from multiple publishers or distributors in different countries).

[2019-04-27 19:59] brad2014 commented on #26
@hornc - Is there any additional feedback you want to solicit before closing this?  When you're ready, please label it "Close: will not fix" and close it.

[2019-04-27 20:07] brad2014 commented on #27
@mek: I suggest we close this bug.  If there is interest in moving isbn handling onto pyisbn or isbntools, let's open that as a separate feature request (which we can backlog and schedule).

[2019-04-27 20:44] tfmorris commented on #27
@brad2014 Stories are typically about user facing features, not implementation details.

Having said that, this feature request was mostly complete in Nov 2011 and finished up in Mar 2012, so this issue can be safely closed.

The items mentioned by @LeadSongDog in Apr 2016 (not all ISBNs imported from MARC 020  and cosmetic issue of multiple WorldCat URLs) can be made into separate tickets if they