[2020-03-20 07:35] tabshaikh opened #3221 "Preload key requests"
Google PageSpeed and Lighthouse Audit reveal that Open Library isn't prioritizing fetching resources that are currently requested later in page load causing to significantly increase the load time.

**Pages:**

- [ ] Homepage

### Evidence / Screenshot (if possible)

#### Home Page delay:
![Screenshot from 2020-03-20 12-59-28](https://user-images.githubusercontent.com/31198893/77143951-aa28b300-6a

[2020-03-20 07:40] tabshaikh opened #3222 "Serve images in next-gen formats"
Image formats like JPEG 2000, JPEG XR, and WebP often provide better compression than PNG or JPEG, which means faster downloads and less data consumption. Current .png and .jpg extensions in open library slow the loading of the site significantly almost 1.8s and there is an opportunity here to improve the page load speed.

### Evidence / Screenshot (if possible)
![Screenshot from 2020-03-20 13-07-

[2020-03-20 08:22] supercontracts opened #3223 "Properly size images"
Ideally, your page should never serve images that are larger than the version that's rendered on the user's screen. Anything larger than that just results in wasted bytes and slows down page load time.

**Pages:**

- [ ] Homepage

### Evidence / Screenshot (if possible)

#### Home Page delay:
![Screenshot from 2020-03-20 13-50-44](https://user-images.githubusercontent.com/31198893/77146760-d693fd8

[2020-03-20 09:41] tabshaikh opened #3224 "Preconnect to required origins"
Establishing connections often involves significant time in slow networks, particularly when it comes to secure connections, as it may involve DNS lookups, redirects, and several round trips to the final server that handles the user's request.
Taking care of all this ahead of time can make your application feel much snappier to the user without negatively affecting the use of bandwidth. Most of th

[2020-03-20 12:25] ScarlettRed opened #3225 "Alignment Error between the buttons"
This alignment of buttons doesn't look good in this present state. It should be customized somewhat for a better look.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/45791528/77162841-e1ab5580-6ad2-11ea-8a0b-d88e8a9ab67d.png)

### Relevant url?
https://openlibrary.org/account/loans

### Steps to Reproduce

1. Log In to Open Library account and go to my

[2020-03-20 13:44] tabshaikh opened #3226 "Avoid flash of invisible text"
Fonts are often large files that take awhile to load. Some browsers hide text until the font loads, causing a flash of invisible text (FOIT).

**Pages:**

- [ ] Homepage

### Evidence / Screenshot (if possible)
#### Home Page delay:
![Screenshot from 2020-03-20 19-13-33](https://user-images.githubusercontent.com/31198893/77169118-f7bf1300-6ade-11ea-86a9-9d6e85de6636.png)

### Proposal & Constraint

[2020-03-20 14:20] #3219 closed

[2020-03-20 15:00] tabshaikh opened #3227 "More Issues Related to Performance seen during lighthouse audit"
- [ ] Ensure text remains visible during webfont load
- [ ] Minimize main-thread work
- [ ] Avoid an excessive DOM size
- [ ] Serve static assets with an efficient cache policy
- [ ] Reduce JavaScript execution time
- [ ] Avoid chaining critical requests
- [ ] Keep request counts low and transfer sizes small

### Evidence / Screenshot (if possible)
![Screenshot from 2020-03-20 20-20-57](https://us

[2020-03-20 18:38] Aj-KamaL commented on #1861
@mekarpeles: Does #3197 seem like a good fit for the [issue](https://github.com/internetarchive/openlibrary/issues/1861#issuecomment-564855084) or the problem still persists?

[2020-03-20 19:06] BrittanyBunk commented on #2385
@mekarpeles I'm still having this issue. It might be on your account that it works on, but it's still an issue on my account.

[2020-03-20 19:39] ApalloAltoBluck opened #3228 "openlibrary book clubs"
In order to widen "openlibrary's" spread across hobbyist book readers, would a book club page fit at all into the scope of the program? The idea would be for people to create book clubs revolving around similar themes/authors and provide a platform for people to check in about these books.

An example could be:
- Anthony Burgess novels
- 19th century fantasy novels
etc

[2020-03-20 20:28] mekarpeles opened #3229 "Borrow Count homepage graph should redirect to /stats"
@scarlettred would you be willing to open a PR to fix this?

_Originally posted by @ScarlettRed in https://github.com/internetarchive/openlibrary/pull/3217#issuecomment-601560658_

[2020-03-21 05:33] ScarlettRed commented on #3229
@mekarpeles sure thing! I will open a PR to fix this issue.

[2020-03-21 05:51] tabshaikh opened #3231 "Schema.org tags for authors"
When we search for **books by \<name\>**  [https://www.google.com/search?q=books+by+mark+twain+openlibrary&oq=books+by+mark+twain+openlibrary](https://www.google.com/search?q=books+by+mark+twain+openlibrary&oq=books+by+mark+twain+openlibrary) we are shown a search result as shown below but the author does not have schema markup so my proposal is to add `person` schema.org tag to the author.

***Op

[2020-03-21 05:59] ScarlettRed opened #3232 "E-Book borrow graph redirecting to wrong page"
The e-book burrow stats graph on the home page is redirecting some irrelevant page.

### Relevant url?
https://openlibrary.org/subjects/in_library#ebooks=true

### Steps to Reproduce

1. By clicking on the link with e-book borrow graph on the home page

* Actual: redirected page is an irrelevant one.
* Expected: page showing e-books borrowed list page

### Details

- **Logged in (Y/N)?** Y
- **Bro

[2020-03-21 16:09] mekarpeles opened #3233 "Ability for Librarians to remove subjects"
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-03-21 16:31] BrittanyBunk commented on #2783
I guess this is a continuation of issue #1607

[2020-03-21 16:46] BrittanyBunk commented on #3012
I actually like it the way it is and wouldn't like to see it the way it's suggested here.

[2020-03-21 16:51] tfmorris commented on #3233
Subjects are not first class objects, so there's no record to remove. They are managed implicitly as part of the search indexing of works. When no edition/work references a subject, it should automatically disappear (when subject indexing is not broken as described in #1896). When we have implemented #2819, we'll likely have the full range of merge, edit, delete, etc operations as we do for other

[2020-03-21 16:55] BrittanyBunk commented on #1896
I do notice a lot of errors in the subject results, like this glitch:
![image](https://user-images.githubusercontent.com/55302685/77231656-aacc5280-6b59-11ea-8b33-c682e12503cf.png)

And lags between what the subject results show and the subject pages themselves. I've seen too many books:
![image](https://user-images.githubusercontent.com/55302685/77231624-76589680-6b59-11ea-99ce-cd89b83e886d.png)

[2020-03-21 17:40] #1861 closed

[2020-03-21 17:43] tfmorris commented on #3231
As @seabelis pointed out on Slack, not all authors are people, but we can probably safely tag anyone with a birth or death date. In addition to Person.birthDate and Person.deathDate, other markup which could be added includes Thing.alternateName for each of the AKAs, Thing.sameAs to link to Wikidata.

The works on the page are already tagged as schema.org Books, but they could additionally be deco

[2020-03-21 18:32] tabshaikh opened #3234 "/home missing meta `description` for keywords"
Along with Brittany, I carried out a keyword search audit for various search engines and one key finding was that /home is missing meta description for keywords

https://docs.google.com/spreadsheets/d/1THNPyFpJ2uxwBOAmRNrQQrzfQxMpk37HwA3ohM6u0oM/edit#gid=367130090

### Proposal & Constraints

Adding relevant meta descriptions tags according to priority keywords in the spreadsheet

### Stakeholders

[2020-03-21 18:32] tabshaikh commented on #3234
@cdrini @hornc @tfmorris If you would like to add something to this issue would be helpful :)

[2020-03-21 18:33] BrittanyBunk commented on #2398
@guyjeangilles @ScarlettRed https://openlibrary.org/stats it's already here - so that's not an issue. As the duplicates go down, the totals will reflect that. I think it's ok to add it in because of it not being an issue (we could always put a disclaimer in if it's truly an issue).

[2020-03-21 18:37] BrittanyBunk commented on #3228
@ApalloAltoBluck You could see if it fits looking at the 2020 roadmap (I think it definitely does). It would be similar to lists, but with the addition of a calendar/forum/member type: so it shows the people in it, when the new books are posted, the list of books read/discussed so far, and the discussion on each book. I think people like book clubs - not many - but among those who don't like parti

[2020-03-21 18:39] BrittanyBunk commented on #3233
@mekarpeles Idk why this is an issue - as librarians can remove subject tags so that if all the books are removed, the subject no longer exists. Maybe this should say 'subject pages', as it's possible for them to already do this in a way through tags.

[2020-03-21 18:40] BrittanyBunk commented on #3233
I think what's better is for a way for librarians to organize subject pages better where on a subject page, librarians can list books that fit under the category and then those books would then get a subject tag automatically added to them once a librarian adds the book in a subject.

[2020-03-21 18:44] BrittanyBunk commented on #3231
I do understand that people do like to add schema with SEO - but I feel sometimes it creates clutter. To me - it's just too much to read. It already has the novel in the description and people will click the link to see the rest. I don't see a need to add it to the search results (a place where it needs to be quick reading/action to get to where one needs to be).

[2020-03-21 18:46] BrittanyBunk commented on #3223
@tabshaikh as long as people can see the full image in a new tab, I'm ok with it. Too often I see where the image when I click on it pops up larger than my screen - so smaller and time saving is a great way to go! Nice thought.

[2020-03-21 18:48] BrittanyBunk commented on #3222
This doesn't offer much compression, but I wish that I could upload images in BMP and TIFF formats too (I kind of don't like TIFF, so maybe just BMP) - but that might slow the website down.

What if you write that people can upload with a number of file formats, but it's preferable to use the ones you specified to make the site run faster?

[2020-03-21 19:08] tfmorris commented on #3231
Clutter? All schema.org markup is invisible.

[2020-03-21 19:19] tfmorris commented on #3222
@tabshaikh It would be good to note whether your stats are for Desktop or Mobile, since they have different performance profiles.

This should be a secondary (or tertiary) task after deferring download of offscreen images (#1), reducing size of downloaded images to match rendered size, and fixing cache TTLs (the current 10 min for cover images is crazy short).

[2020-03-21 19:52] tabshaikh opened #3237 "Adding Table of Contents text for every book where we already have it into OpenLibrary.org book pages"
When searching for a book and landing on the books page, the books page does not the table of content of the book in `About the Book` even if the book has a table of contents. eg https://openlibrary.org/books/OL10295090M/Search_Engine_Optimization

Therefore there is an opportunity here to improve our website and content by Adding Table of Contents(we have ~500k) text for every book where we alrea

[2020-03-21 20:01] tabshaikh commented on #3222
@tfmorris sure I will update that on all the issues. @tfmorris If you could have a look at this issue here https://github.com/internetarchive/openlibrary/issues/3227 which is an `epic` for all related performance problems there is a list of task seen from the audit and the audit for desktop and mobile is also linked in the description. It would be helpful if you could help me arrange these tasks

[2020-03-21 20:04] tabshaikh commented on #3231
@BrittanyBunk are you referring to clutter in terms of UI changes it will bring to the search results>

[2020-03-21 20:30] mekarpeles commented on #3231
@BrittanyBunk please make sure you really understand the issue before weighing in and providing feedback. In this case, the schema tags only appear in the underlying markup and are not visible ot users (other than how google decides to augment their experience).

Feel free to ask a clarifying question.

[2020-03-21 23:18] #3194 closed

[2020-03-21 23:32] mekarpeles opened #3239 "Use SVG/CSS alternative instead of "slick" carousel font"
Slick carousel font still seems pretty gratuitous to @jdlrobson since all it does is provide 2 icons. He would prefer we drop it altogether. We could use an SVG as an alternative.

Have you considered using SVG/CSS and dropping this CSS as an alternative? :
[code]

_Originally posted by @jdlrobson in https://github.com/internetarchive/openlibrary/pull/3218_

[2020-03-22 02:12] BrittanyBunk commented on #3231
@tabshaikh yes! It just is showing too much of what's already there. I think one book's ok, but it shouldn't say 'books by _author". That line is also inessential, as we already know the author on the title of the link.

@mekarpeles I've seen schema used on a back-end before (I think?), and it's a lot and some of it doesn't get used, but is there just in case - so even if it's cluttering on the ba

[2020-03-22 02:46] BrittanyBunk commented on #3237
@tabshaikh so you're saying you already have the table of contents info in that file, but it's not on the OL site yet - like it's not automated to be added in? Interesting.

[2020-03-22 03:02] BrittanyBunk commented on #3232
I did not know this was an issue! That's smart - pointing to the 'borrow' books subject page instead of 'read' ones - or are you talking about stats - like how many books are available to borrow with a list to make that possible?

[2020-03-22 03:36] ScarlettRed commented on #3232
i think  as the graph on the home page is showing the stats for the e-books burrowed in the past day...so the redirecting page should provide information about burrowed e-books like we have recent activity page(showing users activity w.r.t. time, but right now recent activity page doesn't show details about burrowed and returned books). So, i think a new page should be made for showing these detai

[2020-03-22 03:39] guyjeangilles commented on #2550
There's a bandaid in the works for this at [the bits repo](github.com/internetarchive/openlibrary-bots/pull/38)

[2020-03-22 03:41] guyjeangilles commented on #2651
@hornc is there a way to add an `ocaid` to an edition? The openlibrary-client has an `add-id` method but `ocaid` is not a valid identifier, which seems wrong.

[2020-03-22 04:09] BrittanyBunk commented on #3232
I see it - the last graph on the home page: https://openlibrary.org/. By recent activity page, it's https://openlibrary.org/recentchanges, right? You're right - it's not on there. I checked - I didn't see it anywhere on the site really.

I kind of have an idea - it might be a little messy though: 1) let's not have usernames and times associated with books that they borrow, 2) it would look similar

[2020-03-22 04:11] BrittanyBunk commented on #2550
@guyjeangilles says page not found - is this an admin-only page?

[2020-03-22 04:48] manav014 commented on #2550
Hi. I am looking for projects to participate in for the GSoC. Based on listening to others, looking at the effort on this Github issue, and seeing no one assigned to this yet, After adding some more features, I decided this is a great project to be assigned to (as I can work alongside others that are currently focusing on this too). Would it be ok for me to be assigned to this project for the GSoC

[2020-03-22 11:47] jspizziri opened #3240 "Add project_gutenberg id as bibkey for Books API"
### Question

Hello, I'd like to query the Open Library API for book data based on the `project_gutenberg` id (I'm seeing in the [documentation](https://openlibrary.org/dev/docs/api/books) that you store that as an identifier). Is there a way to query your API by the PG id, or more generically by the `identifiers`? I tried a couple of things with no success.

If it's not possible, is this somethin

[2020-03-22 13:41] tabshaikh commented on #3237
Yes there is already table of contents info(as the book reader reads this text) but it is not being automated to show up on the site

[2020-03-22 14:09] guyjeangilles commented on #2550
@brittanybunk the url is https://github.com/internetarchive/openlibrary-bots/pull/38

@manav014 feel free to make a pull request with a proposed solution

[2020-03-22 15:46] BrittanyBunk commented on #2550
@guyjeangilles Mind if I add some descriptors to these files? It's really difficult for me to know what's going on just by the file title alone. Like I would put something into the readme so I could follow along better.

[2020-03-22 16:38] ApalloAltoBluck commented on #3228
I agree!

In terms of aggregating books, what do you think will be most effective for Open Library? Because there may be a risk of books not being available in certain quantities, there would have to be an effective way for people to find books for their book clubs. I wrote a couple of thoughts on the first comment, but I'm curious as to what you think.

As for GSOC, if you know at all, do you kno

[2020-03-22 19:58] guyjeangilles commented on #2550
@BrittanyBunk feel free to comment on the PR. The script is still just a draft.

[2020-03-22 20:07] guyjeangilles commented on #3200
@BrittanyBunk Would moving the "You might also like" section satisfy this issue?
![ol_3200](https://user-images.githubusercontent.com/7256157/77259365-caa66800-6c78-11ea-8d02-0246c3f34124.png)

[2020-03-22 20:11] guyjeangilles commented on #3202
I can't recall finding a waitlisted book in a carousel. @BrittanyBunk can you provide a screenshot?

[2020-03-22 20:32] guyjeangilles commented on #3222
@tabshaikh I'm assuming the plan is to do this for more than just the homepage?

[2020-03-22 21:14] guyjeangilles commented on #3232
I want to make sure I understand this issue correctly. The problem is that the "EBooks Borrowed" link at the bottom of the homepage redirects to https://openlibrary.org/subjects/in_library#ebooks=true, which isn't related to "EBooks Borrowed?"
![3232_ol](https://user-images.githubusercontent.com/7256157/77260774-e6623c00-6c81-11ea-826d-ff1011ddd6ca.png)

@BrittanyBunk this sounds different than th

[2020-03-22 21:16] guyjeangilles commented on #3228
@ApalloAltoBluck thank you for the suggestion. When making an issue, please use the provided issue templates. This specific proposal should've used the `Feature` issue template

[2020-03-22 21:21] guyjeangilles commented on #3237
@tabshaikh Can you elaborate on

Specifically *where* is the table of contents stored for the link provided in the original issue description.

[2020-03-22 21:30] tfmorris commented on #3227
I'm getting very different times, perhaps because of network speed differences. We need to find a way to test this reproducibly so that we're not chasing our tails.

We should use HTTPS for all URLs to avoid the initial redirect.
The home page is critical, but other page types are important too, so we should test Author, Work, & Edition.

Here are mobile and desktop scores for various URLs at my h

[2020-03-22 21:33] guyjeangilles commented on #3240
@jspizziri From the documentation, the acceptable identifiers to query with are

`project_gutenberg` ids can be returned but not queried with, unfortunately.

@hornc @cdrini @mekarpeles can answer how feasible it is to add this as a query-able bibkey. I'm changing the title of this issue to reflect the change in context.

[2020-03-22 22:17] ApalloAltoBluck commented on #3228
@guyjeangilles apologies!

[2020-03-22 23:38] tfmorris commented on #3232
The immediate issue is that the subject `in_library` is no longer used as a way to indicate that a volume is (potentially) available, so, at a minimum, that obsolete link should be updated.

Possible options include:
1. Update the link to the current equivalent showing all available eBooks
2. Link to equivalent of the Recently Returned Books carousel on the home page
3. Link to trending Most Wante

[2020-03-23 00:31] tfmorris commented on #3237
The various forms of IA data are available from https://archive.org/download/searchengineopti00kris and the TOC can be derived from https://archive.org/download/searchengineopti00kris/searchengineopti00kris_scandata.xml
(although there's also a likely looking https://archive.org/download/searchengineopti00kris/searchengineopti00kris_toc.xml which is protected, perhaps because this is a copyrighted

[2020-03-23 01:46] tfmorris commented on #3202
I would be very surprised at this and it would indicate something fundamental broken since all of the queries include an explicit `AND loans__status__status:AVAILABLE`. Of course there's always a race window where you and another user both get shown the same volume and they decide to borrow it before you do.

[2020-03-23 01:55] BrittanyBunk commented on #3232
Maybe if we just have a # of how many books are borrowed in one day (instead of what they are), that could work. Then instead of books that are actually borrowed, it could be books recently returned instead - so people could check them out. That would kind of require reverse engineering the stats on the home page to have 'books returned' instead of 'books borrowed' (even though that is a better st

[2020-03-23 02:06] BrittanyBunk opened #3246 "Better subject results/page consistency"
subjects results page says 'books' and the subject pages show 'works'. This should be more consistent.
![image](https://user-images.githubusercontent.com/55302685/77276002-d8f38480-6c76-11ea-85aa-89111975e2ca.png)

[2020-03-23 02:39] tfmorris opened #3247 "Delete ~400 spammy subjects from production Solr"
Because subjects are not being indexed (#1896), spammy subjects continue to exist even if the works that caused them to be created have been deleted.

I've curated a list of 398 candidates that we can manually delete using the Solr console, after review. They include ones which were specifically the subject of customer complaints to @seabelis

### Relevant url?
https://openlibrary.org/search/subje

[2020-03-23 02:56] BrittanyBunk commented on #3202
@guyjeangilles Yes - I do see them. They're in the subject carousels, not the front page - which is why you might've not seen them - they're hidden. I mean, it's ok to have them there - it just shouldn't be the first ones that are visible

[2020-03-23 03:07] #3202 closed

[2020-03-23 03:07] BrittanyBunk commented on #3202
couldn't replicate

[2020-03-23 03:14] BrittanyBunk opened #3248 "Prioritize availability of books on subject carousels."
Right now, there's a mix of the availability of a book:
![image](https://user-images.githubusercontent.com/55302685/77277009-3be61b00-6c79-11ea-863c-8a4e8efb1cd5.png)
I propose to have a better order, so that people don't scroll through as much to get to what they need (from most needed to least):
1) read
2) borrow
3) join waitlist (if that does appear)
4) no ebook available
Example of the image r

[2020-03-23 03:15] BrittanyBunk commented on #3202
New issue is shown https://github.com/internetarchive/openlibrary/issues/3248

[2020-03-23 03:26] BrittanyBunk commented on #3228
I heard @mekarpeles is a mentor, and also @cdrini assisting too. So they're good to talk to.

True - first you'd need to get books that everyone can read - it'll say 'read' on them, as 'borrow' books would only let one person at a time read it. I think a list-like format in a book club would display what everyone is reading and underneath it the ones from past months. That's my thought so far.

[2020-03-23 03:31] BrittanyBunk commented on #3200
Maybe we don't have to move it. Maybe when someone clicks on the 'join waiting list' button, they're automatically added to the list and then redirected to that carousel (I mean, the webpage scrolls to that instead of moving that up - as it's in a nice place and sounds like easier work).

That way, people don't have to choose between joining a waitlist or finding another book, but can do both.

[2020-03-23 05:14] mekarpeles commented on #3231
@BrittanyBunk schema.org tags are not displayed visibly on a web page to the end-user. They are specifically used to provide context and semantics to **search engines**.

Please take a look at this video: https://www.youtube.com/watch?v=9HvMv_1zG2s

An important way that Google knows one of our pages is about a "book" or about an "author" is if we **tell** Google. And this is done by adding specif

[2020-03-23 05:41] mekarpeles commented on #3248
Closing because this will be resolved by #2375 and #2984 (which are in-flight).

[2020-03-23 05:41] #3248 closed

[2020-03-23 05:42] mekarpeles commented on #3246
https://github.com/internetarchive/openlibrary/issues/3248#issuecomment-602397102

[2020-03-23 05:42] #3246 closed

[2020-03-23 05:44] mekarpeles commented on #3237
Thanks @tfmorris this is right on.
Related: #683 and #2384

[2020-03-23 05:49] mekarpeles commented on #3232
I think @tfmorris is right on. Let's please link to (4) https://openlibrary.org/stats/stats#Borrows for now. Bringing the patron to the stats page which shows more info on books borrowed when they click on the "# borrowed books" stats graph seems like the right decision to me.

@ScarlettRed I'm assigning you if you're up for the challenge :tada: :)

[2020-03-23 06:01] mekarpeles opened #3249 "Add "Do We Want It" eligibility results by Edition to Solr Works for searching"
### Describe the problem that you'd like solved

Right now we're doing expensive /sponsorship/eligibility lookups and we have no way to show which books are sponsorable in search results (only at a per-edition level).

Cacheing sponsorship eligibility results in solr will enable us to augment search results at a work and an edition level and give patrons greater discoverability, flexibility, and c

[2020-03-23 06:07] mekarpeles commented on #3214
This issue is advocating for too many things:
1. A link on the homepage to /stats
2. A complete redesign of the /stats page.

We're already addressing part of this issue through #3229. Clicking those charts should just go to the stats page.

Closing as a duplicate -- important for historical records as there are some good ideas above by @BrittanyBunk about how our /stats page could be more useful.

[2020-03-23 06:07] #3214 closed

[2020-03-23 06:07] mekarpeles commented on #3213
Related to #3214

[2020-03-23 06:08] #3210 closed

[2020-03-23 06:09] mekarpeles commented on #3210
**Thank you** @the-nine-tail :)

[2020-03-23 06:13] mekarpeles commented on #3200
Folks, please see the #684. We are in the middle of re-designing our books page so there is **only** 1 page (not works v. editions). As a result, patrons will **always** see every available copy of the book. And we **already** show a carousel of related book on both the editions and works page.

Closing this issue as a duplicate.

It is a requirement of `canonical books page` to make it obvious wh

[2020-03-23 06:13] #3200 closed

[2020-03-23 06:14] mekarpeles commented on #3200
P.S. as per @guyjeangilles's comment, @bfalling also has voted for us to move up our book page carousels

[2020-03-23 06:19] mekarpeles commented on #2456
no plan to implement

[2020-03-23 06:19] #2456 closed

[2020-03-23 06:19] tfmorris commented on #3237
One significant complication which I meant to mention, but left out, is that converting raw page text into structured TOC data, in the syntax used by Open Library, is a substantially non-trivial task. Using the raw text and letting the humans do the parsing cerebrally would be much easier.

[2020-03-23 06:33] ScarlettRed commented on #3232
As the initial problem and proposed solution was to introduce a new page showing some stats about ebooks borrowed, but I totally agree with @tfmorris as showing info about ebooks borrowed currently won't be allowed due to users privacy. So, instead of this, we could redirect to some page showing some more stats as @tfmorris described.
Thank you @mekarpeles for assigning me. I will do it Step by st

[2020-03-23 06:37] ScarlettRed commented on #3232
I think for the first step, the link should be updated showing all available e-books that can be borrowed. Then we will replace it by **most_wanted** ones.

[2020-03-23 07:04] the-nine-tail opened #3250 "Improved book category carousel"
Current book category carousel is very simple, the carousel UI should be improved for better user interaction and design.

Before:
![before](https://user-images.githubusercontent.com/62152426/77290269-d5f1a600-6d01-11ea-9084-70bb672baf12.png)

After:
![after](https://user-images.githubusercontent.com/62152426/77290279-dab65a00-6d01-11ea-9f4b-b20898439526.png)

OnClick:
![click](https://user-images

[2020-03-23 11:42] cognitive137 commented on #3239
Hello, I would like to work on this.
Can you please give me the link to how it looks now?

[2020-03-23 17:32] tabshaikh commented on #3237
@tfmorris Thank you so much for providing the elaboration, I updated the issue to reflect your comments :)

[2020-03-23 17:40] tabshaikh commented on #3231
Thanks @mekarpeles @tfmorris for the feedback, updated the issue accordingly :)

[2020-03-23 17:50] tabshaikh commented on #3227
@tfmorris Yes maybe due to different locations and network speeds the audit would show different results, these issues I created for keeping homepage in mind but I would audit the author and editions page too and update all the issues for author and edition's page too :) Thanks for your feedback

[2020-03-23 17:52] tabshaikh commented on #3222
@guyjeangilles yes will update all the issues for the author and edition pages too :)

[2020-03-23 19:31] mekarpeles opened #3252 "Error using /addbook to add a new edition"
It looks like general `Add Book` and `add another edition` is failing for works like
https://openlibrary.org/works/OL4104767W/The_Moon_Pool. I tried to add another edition with `ocaid` `moonpool00merrgoog`
and it failed w/ the attached error.

### Evidence / Screenshot (if possible)

![2020-03-23-121836_1600x900_scrot](https://user-images.githubusercontent.com/978325/77355467-b9556e00-6d01-11ea-80

[2020-03-23 19:43] tfmorris commented on #3252
When I try it, I get a 503 from Solr:

http://ol-solr2:8983/solr/select?q=publisher%3A%22G.P.+Putnam%27s+sons%22+AND+publish_date%3A%221919%22+AND+key%3A%22OL4104767W%22&start=0&wt=json&q.op=AND

If it's not a configuration error, perhaps rebooting it would help.

[2020-03-24 03:17] #2081 closed

[2020-03-24 05:57] the-nine-tail commented on #3210
@mekarpeles sir can I get your personal email address because I have some doubt to clear.

[2020-03-24 06:49] tabshaikh opened #3255 "2021 Q1 Twitter @borrowbot Pilot"
## Borrow Bot

Today we have a twitter Open Library `@borrowbot` that lives here:
https://github.com/internetarchive/openlibrary-bots/tree/master/twitter-borrowbot

## How it works

https://github.com/internetarchive/openlibrary-bots/tree/master/twitter-borrowbot#usage

Here's an example of how you'd use `@borrowbot` https://twitter.com/intent/tweet?text=@borrowbot%200393310728 and here's an examp

[2020-03-24 11:11] tabshaikh opened #3256 "Improving Signup Process"
Improving the Signup Process should be done in 2 parts to improve the conversion of people who visit OL first time -> use it regularly. The first part which is on Openlibrary is too remove the bugs in the signup process ie. we have seen a shocking 1/5 of users (i.e. 500 a day) are hitting issues when creating an account (either email or username taken, or captcha broken). The issues related to tha

[2020-03-24 19:45] vidhi-mody opened #3259 "Ability to add reviews and other additional features"
### Problem description

- Requesting a short review/ thoughts on a book from existing users. While selecting which book to read next, readers might face difficulties in deciding if a particular book is the right fit for them. Reviews can help in the decision making process.
- To improve user experience an option to change modes (light/dark) should be considered.
- To gain funds to add books that

[2020-03-24 22:25] BrittanyBunk opened #3260 "Have an Open Library specific donate page"
Right now the donate page redirects to https://archive.org/donate/?platform=ol. However, various organizations outside of the Open Library (MIT is an example) tend to allow for donating to a specific cause within them. So it would be beneficial for the donate page to donate to an Open Library specific fund pool of the Internet Archive, because the Open Library is a project of the IA and is growing

[2020-03-24 22:41] BrittanyBunk opened #3261 "Have recordings of community meetings"
A lot of people don't or can't attend community meetings, yet a lot of critical notes are said during then that are good to reference later that would provide context for the notes. So having a record of meetings in an archive would help to document what is said there for people who need to work with it or for reference years later (maybe to catch someone up in the organization's happenings). It s

[2020-03-25 00:10] cdrini opened #3262 "Update Pillow in production environment to 6.2.2"
Currently our version on prod is 5.3.0. I was planning to do this as part of https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-03-24 , but didn't realize it was a major version bump, so creating a separate issue to do this. I believe this is only used in ol-covers1, but is likely installed everywhere.

[2020-03-25 10:40] mightysood commented on #2754
Hi @cdrini
This issue is only reproduced in the IE browser.
Works fine in Chrome, Firefox, and Microsoft Edge.
There are 5 elements in the header tag of which logo-component, search-component, navigation-component and account-component are shown in Web UI.
If we give logo-component a width of 20%, it prevents logo overlapping in IE and doesn't distort the logo in other browsers.

[2020-03-25 11:56] Raunakk02 opened #3263 "The menu button on the webpage can be improved"
### The Issue
The menu button on the webpage can be improved. Currently, it opens the menu when clicked for once but doesn't close the menu when clicked again and we need to explicitly click on the empty space on the webpage to close the menu.

### Webpage url
https://openlibrary.org/

### Steps to Reproduce

1. Go to the webpage.
2. Click on the menu button(The 3 horizontal lines on the top-left

[2020-03-25 14:47] ScarlettRed opened #3264 "Bad UI of /home/lists page"
In addition to #3070
As shown in the screenshot the /home/lists page has many spacing alignment errors. The page should be able to project a clean list of various *LISTS* created by users.

### Evidence / Screenshot (if possible)
![lists page](https://user-images.githubusercontent.com/45791528/77547690-882c9780-6ed3-11ea-90bf-cd3123abde80.png)

![lists page 2](https://user-images.githubusercontent

[2020-03-25 20:38] guyjeangilles commented on #3250
@the-nine-tail mind being assign of this issue, since you proposed a PR?

[2020-03-25 20:45] guyjeangilles commented on #3259
ec4c81a37e57fe98a97e28c60b63ebff72ef410c introduced book reviews (based on the code it looked like external and internal review). #1830 removed the code because apparently, the feature was never put into place. Based on the PR comment thread, the review feature could back.

[2020-03-25 20:47] guyjeangilles commented on #3260
I'm not sure if one can donate to the Open Library directly. @mekarpeles can you provide insight.

[2020-03-25 21:06] tfmorris commented on #3250
I'm not sure I consider making everything a button an improvement. If they are going to be wrapped in visible buttons, they need more room/margin at the bottom.

[2020-03-25 21:08] tfmorris commented on #3260
Yes, that would be a better way of doing things, which we've discussed in the past, but it's never gone anywhere. You are donating to Open Library. You're donating to Internet Archive and they spend the money however they want -- mostly not on Open Library.

[2020-03-25 21:11] guyjeangilles commented on #3261
Archive is on [the Wiki](https://github.com/internetarchive/openlibrary/wiki/Open-Library-Community-Call-Minutes), specifically in a [Google Doc](https://docs.google.com/document/d/16eAABOSLrmCbOkRbwVXzis2x4dz2gEQWJsXK-crDCqg/edit#)

[2020-03-25 21:11] #3261 closed

[2020-03-25 21:17] guyjeangilles commented on #3263
I can duplicate this on mobile, but not on desktop (currently you just have to hover over the menu's on/off desktop menus to open and close them).

[2020-03-25 21:24] tfmorris commented on #3261
Real-time synchronous meetings aren't scalable for a global volunteer organization anyway. We should strive to do as little as possible that way and instead focus on using the asynchronous collaboration tools that are available through Github, Google Docs, etc.

[2020-03-25 21:52] tfmorris commented on #3176
`openlibrary/plugins/search/stopword.py`

[2020-03-25 21:57] guyjeangilles commented on #2651
I wrote a script to identify the malformed editions. @hornc please review

https://github.com/internetarchive/openlibrary-bots/pull/39

[2020-03-25 22:48] tfmorris commented on #2657
Apologies! It looks like this fell through the cracks in our triaging processing, but all three example ISBNs above now return valid results from the API.

We've changed several related things recently including the version of Amazon API, handling of ISBN normalization and 10/13 conversion, etc, so it was probably fixed as a side effect of one of those.

Please feel free to reopen if you find ther

[2020-03-25 22:58] tfmorris commented on #3170
@mekarpeles said on Slack that he agreed with the analysis, but I'm unsure who's working on fixing it.

Although there are a number of problems with #3118, fixing this particular performance issue is probably just a couple of line patch.

[2020-03-26 00:45] tfmorris commented on #3208
The PR addressing this hasn't been merged, so this shouldn't be closed yet.

[2020-03-26 01:49] tfmorris commented on #3249
Given all the problems that we have with Solr indexing lag, it doesn't seem wise to add to this burden. Solr isn't intended to be used as a cache. Additionally, changing the schema will require a complete reindex.

Caching the API results sounds like a separate problem which could be handled locally in the API client.

[2020-03-26 02:02] tfmorris commented on #3239
@cognitive137 I'm not sure why this got labelled a good first issue, but "Slick carousel" is this: https://github.com/kenwheeler/slick/ and you can see them in action on the Open Library home page. The font is used for the right and left arrows as well as a couple of other glyphs (I think 4 in all).

[2020-03-26 02:22] jdlrobson commented on #3239
This is not a good first issue :)

[2020-03-26 02:27] tfmorris commented on #3256
I'm all for improving the signup process, but we should set some realistic goals for metrics. Not all unique visitors are conversion candidates. Also you're quoting 28 day numbers, not daily numbers, and I bet the 28 day "unique" visitor counts is wildly overstated since the recent daily counts are ~600K (I suspect it's sum(counts), not count(union(ip addresses))).

Using recent daily counts (Mar

[2020-03-26 02:41] tfmorris commented on #2651
Here's a 1-liner that will filter the dump according to the given criteria:

`time zgrep ^/type/edition ol_dump_2020-01-31.txt.gz | grep -v '"ocaid":' | grep -E '("ia_loaded_id|"ia:)' | gzip > ol_dump_2020-01-31-olid-missing.tsv.gz`

and generate a 16 MB 50K line subset for further processing.

@hornc Is a HEAD request checking for 404s sufficient to screen out the items that have been removed fro

[2020-03-26 03:03] manav014 commented on #2550
@mekarpeles  @guyjeangilles  Please review this proposal for GSoC 2020 which will not only solve the above problem but even have many other proposed ideas.
[💻 GSoC Proposal - Internet Archive [Open Library].docx](https://github.com/internetarchive/openlibrary/files/4384784/GSoC.Proposal.-.Internet.Archive.Open.Library.docx)

[2020-03-26 04:11] the-nine-tail commented on #3250
Not a problem

[2020-03-26 05:29] vidhi-mody commented on #3259
So has the code already been implemented and is just left to be integrated? Sorry got a little confused here!

[2020-03-26 06:21] devarshigoswami commented on #2144
Can I have a go at this?

[2020-03-26 07:11] vidhi-mody commented on #3259
Also, an addition to this feature can be a chat bot which recommends books of a particular genre/category based on user ratings

[2020-03-26 09:20] Raunakk02 commented on #3263
I found this when i trying out the webpage on my phone's(android) chrome browser

[2020-03-26 09:21] Raunakk02 commented on #3263
I hope this helps!

[2020-03-26 14:48] tabshaikh commented on #3256
Okay, I did not suspect that it sum(counts) maybe we can ask @mekarpeles about it?

[2020-03-26 16:37] BrittanyBunk opened #3270 "better spacing on /stats page"
![image](https://user-images.githubusercontent.com/55302685/77671841-63710800-6f45-11ea-90cc-88c49fbf805e.png)
where the red line is

[2020-03-26 16:47] BrittanyBunk commented on #3256
Just posting the before, as I don't sign up for my account anymore, so idk what the site looks like:
![image](https://user-images.githubusercontent.com/55302685/77672940-c0b98900-6f46-11ea-978c-442b3489333a.png)

[2020-03-26 16:50] BrittanyBunk commented on #3256
There are obvious pros/cons to this:
pros
- more users
- better integration with one's other accounts for easy signing in and remembering which websites they're on (so they don't need to bookmark as much)
cons
- privacy (but if people worry about privacy, then they have options to avoid that)
- takes effort to add it in
- is a lot of stuff on one page, that people might get confused (by which one

[2020-03-26 16:54] BrittanyBunk commented on #3259
I would not like a carousel, but would prefer it to be like most other review pages, where someone sees the average rating of a book and when clicked on, it shows all the reviews there. A carousel would be too much to look at.

[2020-03-26 16:55] BrittanyBunk commented on #3259
I would say that the donation banner should be with the sponsor book banner - as it's already becoming too much at the top - asking for money when it's a 'free' site - so if I see too many banners and not enough material, it would make me hesitant to proceed with it.

[2020-03-26 16:58] BrittanyBunk commented on #3259
Light/dark mode is cool and a necessity, but I worry about what happens when they visit a book to read and the glare from that hurts one's eyes. If there's a 'dark' mode, then the books should be placed in dark mode too. If it's not, then it'd be good to warn those in dark mode that the books they're going to may have a lot of glare because it's not able to be converted. I think epub does well on

[2020-03-26 16:58] BrittanyBunk commented on #3259
Other than that, the stars for ratings looks good, as well as the donation page formatting.

[2020-03-26 19:00] mekarpeles opened #3271 "ol-www1 issues, website unavailable, load balancing suspected"
### Summary

- **What is wrong?**

Website unusable. Open Library 503'ing, pages not loading, haproxy looked fine.

- **What caused it?**

Unknown. Increased usage and congestion in haproxy.

- **What fixed it?**

Restarted ol-web3 and ol-web4 to make sure there were no hanging processes. ol-web4 was not happy at all (possibly part of the problem). Restarted the machine and it took **far** longer

[2020-03-26 19:00] mekarpeles commented on #3271
Tweeted here:
https://twitter.com/openlibrary/status/1243249557728661504

[2020-03-26 19:01] #3271 closed

[2020-03-26 19:11] tfmorris commented on #3271
I noticed two different failure modes when this was happening: 1) raw 503s all the way back to my browser and 2) the "Open Library is offline for maintenance" page. More of 1 than 2.

BTW, HA Proxy needs to be added to https://github.com/internetarchive/openlibrary/wiki/Production-Service-Architecture

[2020-03-26 21:16] tfmorris commented on #3256
Sure, if you want, but I don't see any way that 450K average daily visitors is going to add up to 12M visitors for the month. Perhaps 1M or 1.5M uniques for the month, but it's implausible to think that an entirely different cohort visits each day.

[2020-03-26 22:31] vidhi-mody commented on #3259
So you suggest that when clicked on the rating reviews of all the people who gave that particular rating are displayed?
If that's the case then where the reviews will be displayed need to be figured out. A list below the book description may not look that great

[2020-03-27 04:11] BrittanyBunk commented on #3259
![image](https://user-images.githubusercontent.com/55302685/77720821-3f91de80-6fa6-11ea-8857-3b86a266fdef.png)
is what I'm talking about. When a person clicks on the number of reviews, then they're taken to a page, to the carousel pops out. I personally don't like viewing everyone's rating of a book, as it conflicts with my thoughts of what the book's like - which really takes away from me viewing

[2020-03-27 06:32] ScarlettRed opened #3274 "Unrelatable and confusing UI of 'catalog edits' and 'new members' graphs, redirecting to same page 'recent changes'"
The stats graphs --- 'catalog edits' and 'new members' are redirecting to same page 'Recent changes' which is not relatable

### Evidence / Screenshot (if possible)
![recent](https://user-images.githubusercontent.com/45791528/77728108-d059d000-7021-11ea-9ef8-b7bbdb4c205e.PNG)
![changes](https://user-images.githubusercontent.com/45791528/77728114-d354c080-7021-11ea-8299-a0ca7124df0e.PNG)

### Relev

[2020-03-27 08:06] rain20021 commented on #2490
update

[2020-03-27 09:07] ScarlettRed opened #3275 "Incorrect recommendations on Sponsorship page"
I tried to sponsor the books recommended on the sponsorship page, out of the first 6 books- 4 are not available for sponsorship. I know as a sponsor I would like to sponsor that book which I would like to read or sponsor, but this is a bug w.r.t. UI.

### Evidence / Screenshot (if possible)
![sponsorship](https://user-images.githubusercontent.com/45791528/77739268-37ce4a80-7037-11ea-9908-1d5286a90

[2020-03-27 20:40] metabr commented on #2046
Created pull request incorporating proposed change with using `--quiet` option. While output includes still something except for errors, it is much cleaner. See #3276 for details.

[2020-03-27 21:10] tfmorris commented on #3252
I was able to add this edition: https://openlibrary.org/books/OL27932769M/The_Moon_Pool
so it seems that this was an intermittent problem, but the error reporting could definitely be improved.

[2020-03-27 21:14] tfmorris commented on #3252
Here's the stack trace from when it did fail a few days ago:

![Screen Shot 2020-03-27 at 5 13 36 PM](https://user-images.githubusercontent.com/82178/77801032-6b689f00-704e-11ea-9f98-9b733de5ce42.png)

[2020-03-27 21:50] nemobis commented on #3096
It's impossible to tell what makes Google index such pages or not. A website like openlibrary is liable to fall prey of the deduplication and other inscrutable processes, because many other websites are going to host facially similar pages about the same books/works.

I usually get much better results searching OpenLibrary.org from DuckDuckGo...

[2020-03-28 00:39] BrittanyBunk opened #3277 "Better coordination of roles and help"
There's a bottleneck in the workflow where the "[OL Team](https://openlibrary.org/about/people)" has too many issues to work on and everyone else not enough. This causes an imbalance that has a solution.

### Describe the problem that you'd like solved
Solving the imbalance in work levels due to a lack of communication and connection. Also, help more people be on the same page to work together bet

[2020-03-28 17:17] BrittanyBunk commented on #2144
This is similar to another issue I posted (if someone wants to find it) in how when a picture is uploaded, it won't be full-sized, and that might contribute to fuzziness - at least on an editor's side.

[2020-03-28 17:27] jdlrobson commented on #2144
Update here. Doesn't look like this should be a problem any more.

@devarshigoswami please go ahead and try fixing this using the srcset method outlined above: https://github.com/internetarchive/openlibrary/issues/2144#issuecomment-531953106

[2020-03-28 17:33] jdlrobson commented on #3274
Yeh that's a weird experience but I'm not sure what a better experience would be. Ideas that come to mind
1) Change those links to filter. For example clicking on "new members" would filter the list to only show new sign ups.
2) Change the links to point to wiki pages that explain how Open library is made and why you would want to sign up to be a user. e.g. "Users help build the library as well as

[2020-03-28 17:38] jdlrobson commented on #3250
I don't think we should do this. While I'm also not sure I consider this an approvement, this code should be considered frozen.

We will likely need to move away from the slick code in future given #2809

In general our frontend is extremely unstable right now and what would be helpful is fixing bugs and removing code not adding things.

[2020-03-28 20:00] devarshigoswami commented on #2144
@jdlrobson I'm looking into it.

[2020-03-28 23:37] #3225 closed

[2020-03-29 16:26] jdlrobson commented on #3239
@mekarpeles to expand on the above about this not being a good first issue, I'm not 100% sure if SVG would be preferable to the font. It's a hunch but not 100% certain. Whoever works on this should be familiar with how to measure performance impacts of changes.

It might help if we decide up front if we are planning to go with a CSS only solution or a SVG assets. If the latter we should provide th

[2020-03-29 16:29] jdlrobson commented on #3263
Duplicate of https://github.com/internetarchive/openlibrary/issues/1708

[2020-03-29 16:29] #3263 closed

[2020-03-29 18:28] #2610 closed

[2020-03-29 19:53] BrittanyBunk opened #3282 "Suggested UI layout for /borrow#stats"
@ScarlettRed and I put this together as a collaborative effort this UI layout for the borrow stats page: https://xd.adobe.com/view/c44286cb-6190-461e-7aee-8357af397550-b273/. This is a work in progress and open for adjustments. Related to #3232 and #3229.

[2020-03-30 00:50] tfmorris commented on #3274
Two easy possibilities:
1. link to https://openlibrary.org/recentchanges/new-account which has the detail (but seems very slow to render)
1. link to https://openlibrary.org/stats which shows stats for longer timeframes

[2020-03-30 01:01] tfmorris commented on #3282
I think perhaps you misunderstand what a Pull Request is. It's used to submit a set of code changes for review and approval. The code could be HTML, CSS, Javascript, or Python, but a mockup/wireframe isn't the same thing.

You can read more about the Github model here: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests

[2020-03-30 01:04] BrittanyBunk commented on #3282
@tfmorris that's what I was kind of thinking, but you're right. Thanks for laying it out. So it's good how it looks then?

[2020-03-30 05:00] ScarlettRed commented on #3274
@tfmorris I am getting the error while loading  https://openlibrary.org/recentchanges/new-account this.
while instead of https://openlibrary.org/stats I guess https://openlibrary.org/recentchanges/new-account this should do for new members link, but we have to filter for the catalog edits

[2020-03-30 05:04] ScarlettRed commented on #3282
@tfmorris this issue was created for you all to review the suggested page that was required to be made in accordance with #3232
@BrittanyBunk I think we should post this link on the slack channel as well.

[2020-03-30 13:21] BrittanyBunk commented on #3274
@tfmorris I was going to suggest the /stats page. That's the one I would go with.

[2020-03-30 13:25] BrittanyBunk commented on #3282
@ScarlettRed it sounds cool, but it's not big enough of an issue to do that. Instead it'll be better to post the link of your design on there, so people could look at it :)

[2020-03-30 18:54] Loquen commented on #2616
@BrittanyBunk I'm trying to understand the issue here, what is the expected result of clicking 'read'? Should we change the wording to something other than 'read' or does the button need to redirect to another page?

[2020-03-30 19:49] BrittanyBunk commented on #2616
@Loquen I apologize. I reworded it. Check out what I wrote :)

[2020-03-30 20:14] cdrini commented on #1067
Monitoring is going well; next month will do another re-index + deploy. There are hints that there might be some perf issues, need to add more graphite logging to check. This issue is done though. More issues need to be created for those other things.

[2020-03-30 20:14] #1067 closed

[2020-03-30 21:05] tfmorris commented on #1067
@cdrini Could you describe what "monitoring" means in this context and how the new index was validated to be correct and complete.

I've got to say that I'm finding this whole process quite opaque.

[2020-03-31 03:29] guyjeangilles commented on #2651
Between 2020-01-31 and 2020-02-29 8,000+ editions were created/edited that have an Internet Archive in it's metadata but no `ocaid` attribute.

@hornc Is 8k editions a reasonable number or should this trigger some root cause analysis?

[2020-03-31 06:24] ritwikchakraborty123 commented on #3270
can you please help me to find the particular page or the path of file where we have to make change.

[2020-03-31 11:27] cdrini opened #3283 "Add more graphite metrics"
We've been noticing a huge increase in internal-errors with the increase in load, and our graphite stats as-is are not enough to quickly get information about what's causing these errors or where they're coming from.

### Describe the problem that you'd like solved
- Add any sort of exception stats; we currently only log internal-errors
- Add bucketed time for request
- Add HTTP response status co

[2020-03-31 12:22] cdrini opened #3285 "Search bar autocomplete tries hit /search/inside"
Noticed while testing #3283 that every time a character is typed when "Text" is selected, that a _very slow and expensive_ request is made to /search/inside.json. This has no perceivable effect on UX, but the call to IA's FTS is expensive and should not be hit so frequently. The actual perf hit of this is likely small since I imagine a very small fraction of our userbase has the search dropdown se

[2020-03-31 14:06] BrittanyBunk commented on #3270
@ritwikchakraborty123 https://openlibrary.org/stats the spacing doesn't look like an issue today, but that's because the numbers are smaller than in this picture. The numbers could be better spaced out.

[2020-03-31 15:14] devarshigoswami commented on #2390
Can I take this up?

[2020-03-31 15:16] devarshigoswami commented on #3231
Hello There! can I be assigned this task?

[2020-03-31 15:17] devarshigoswami commented on #1920
Hey there! can I take this up?

[2020-03-31 15:19] devarshigoswami commented on #266
If no one is working on this, can I try??

[2020-03-31 16:16] jdlrobson commented on #1920
Yes please @devarshigoswami
We have a class client-js on the body tag that only shows up with JS enabled that you can use to control its state. let me know if you have any other questions!

[2020-03-31 16:22] #3285 closed

[2020-03-31 17:19] tfmorris commented on #1920
The page isn't functional without Javascript. Does it matter what it looks like? Neither the red X nor the "Add another author" work without Javascript.

[2020-03-31 17:48] BrittanyBunk commented on #2390
I'm not working on this any further, so whoever wants to is fine by me.

[2020-03-31 17:57] jdlrobson commented on #1920
This page should be functional without JavaScript. If there is a JS error or a connection problem and JS doesn't load I'd like this page to be resilient enough to still be somewhat useable. This is a small step in that direction - bits of UI that don't work should only be added in JS or at least hidden.

[2020-03-31 18:12] cdrini opened #3287 "Display /subjects page in columns"
The subjects page was meant to be displayed in columns, but

### Steps to Reproduce

1. Go to https://openlibrary.org/subjects

| Expected | Actual |
| --- | --- |
| Something like this: ![image](https://user-images.githubusercontent.com/6251786/78060210-26e44880-7359-11ea-879e-3fe086a16516.png) | ![image](https://user-images.githubusercontent.com/6251786/78060246-319edd80-7359-11ea-8b56-b21c1db90

[2020-03-31 18:49] tfmorris opened #3288 "Permanently disable auto full text search fallback"
This has been "temporarily" fixed in #3273, but we should make the fix permanent. The previous behavior was a UX nightmare. When an "All" search returned no results, the system would, without warning or asking the user, automatically kick off a very expensive and slow full text search operation which couldn't be cancelled and would take a minimum of 5-10 seconds to return.

The two most common cas

[2020-03-31 19:15] tabshaikh commented on #3231
@devarshigoswami sure you can go ahead if you need any help you can ping me :)

[2020-03-31 20:36] BrittanyBunk commented on #3282
@tfmorris @guyjeangilles should I start creating a mockup/wireframe code to make a pull request for putting together the page, now that the UI in put together?

[2020-03-31 20:51] tfmorris commented on #3282
You should coordinate with @mekarpeles

[2020-04-01 00:51] jdlrobson commented on #1920
Most people with older browsers can do very little about that. No javscript doesn't mean somebody has knowingly disabled it.  They may be encountering a JS bug in our code or the download of the script may have failed due to a poor connection.

The link you share is consistent with what I'm suggesting which is to hide it.
Specifically "when there is no way that an end user will EVER have access to

[2020-04-01 00:53] jdlrobson commented on #1920
To be clear we are only hiding the x and add another author here. Editing author will still be possible. In future we should explore proper fallbacks for these 2 functions. You should be able to everything relating to editing regardless of your web browser.

[2020-04-01 02:36] cdrini opened #3290 "Add LCC and Dewey decimal numbers to solr in April solr reindex"
As discussed in the community call this past Tu, we would like to try implementing some sort of beta interface that lets users explore the LoC classification (or maybe dewey decimal) in openlibrary. See https://www.loc.gov/catdir/cpso/lcco/ . The first step of this would be to store the data into solr (which it currently isn't; e.g http://server.openjournal.foundation:8984/solr/select/?q=key%3A%2F

[2020-04-01 02:40] cdrini commented on #3290
Sample data as stored in OL:

Key | dewey_decimal_class | | Key | lc_classifications
-- | -- | -- | -- | --
[OL1000071M](https://openlibrary.org/books/OL1000071M) | 303.6/9 | | [OL1025841M](https://openlibrary.org/books/OL1025841M) | HB1951 .R64 1995
[OL1000602M](https://openlibrary.org/books/OL1000602M) | 820.9/9287/0966 | | [OL1025966M](https://openlibrary.org/books/OL1025966M) | DP402.C8 O46 19

[2020-04-01 04:18] BrittanyBunk commented on #3290
Just for referencing:
- [lexicographical sorting](https://youtu.be/goUlyp4rwiU?t=39)
- [Tuesday meeting (3-31-20) notes](https://docs.google.com/document/d/1FEG-bdOTsi8Q3IHgFboL_LZImN18Q4wsWWWtlV8RgKk/edit#)

I notice some of these have [Fic] or [E]. Because of this being less reliable (like there are [multiple E's](https://www.questionpoint.org/crs/html/help/en/ask/ask_map_lcctoddc.html)), I'm as

[2020-04-01 04:36] BrittanyBunk commented on #3287
Is there a way to make it an array or table?

I'm no expert, but this is what my thoughts are:
I did look at the homepage - and it really is a confusion of sorts - has a mix of javascript, css, and of course some stuff (like the bots) are written in python.
From building websites, usually the CSS is built separately from the HTML, but kind of 'inserted in' so the html code reads it.
The OL homepag

[2020-04-01 15:13] BrittanyBunk commented on #3277
Being able to provide greater permissions to volunteers to fit their role (based on their skills and what they want to do) is something that's still being discussed. To facilitate the discussion more, I created a Google doc **that anyone could edit** to help with understanding which permissions which roles need: https://docs.google.com/spreadsheets/d/17A_sk5o6WRmS37RcxgTEhotUxSA71H4W5Gec-o-cU3M/ed

[2020-04-01 16:45] mekarpeles opened #3296 "Show 10 authors on /authors search page"
If one goes to https://openlibrary.org/authors without a search result, it is a ghost town.

After the search box and above all the "merge" text (which should probably be moved **off** this page **into** our librarian docs, cc: @seabelis) let's see if we can show a few example authors.

### Describe the problem that you'd like solved

Make our authors page more useful and friendly.

### Proposal &

[2020-04-01 16:56] mekarpeles commented on #3232
@ScarlettRed this ticket can be fixed with a single line...

https://github.com/internetarchive/openlibrary/blob/cc94dcd822d85f1c2afdf4773abdeeb120ab9f5b/openlibrary/templates/home/stats.html#L38

This url just needs to be changed from /borrow to /stats.

[2020-04-01 17:29] devarshigoswami commented on #2390
@BrittanyBunk @mekarpeles  what I can do is add a small script right inside `templates/covers/add.html` that validates the size of the locally selected file that will `alert` if filesize exceeds 30mb.
But the **upload image using URL from the web** confuses me a little. no matter what image URL i post, this comes up

**Sorry. There seems to be a problem with what you were just looking at.

We've n

[2020-04-01 17:57] tfmorris commented on #3290
This seems super low priority. I assume that they MANY other Solr bug fixes and feature requests will be waaayyy ahead of this.

[2020-04-01 18:29] tfmorris commented on #3296
Given that you only want a handful, it seems like the easiest approach would be to curate a short, appropriately multicultural list of classic authors, e.g. Plato, Dostoevsky, etc.

If you wanted to include more modern authors, but likely with a Western bias, you could use something like https://en.wikipedia.org/wiki/List_of_most_translated_individual_authors
which is based on http://www.unesco.or

[2020-04-01 19:18] BrittanyBunk commented on #3290
@tfmorris Here's my assumption of it: this first step is small, but what comes next is important when genres/sub-genres could be attached to editions.

[2020-04-01 19:22] BrittanyBunk commented on #2390
@devarshigoswami that sounds like a different issue.

For this issue:
1) an alert is a good idea, but is complementary to the starting point
2) The starting point is putting in the [instructions](https://openlibrary.org/help/faq/editing#picture) about how images over 30MB won't upload. The alert will complement that.

I'm not sure you'll be able to edit the instructions, so I really like your idea

[2020-04-01 19:29] BrittanyBunk commented on #3296
Well the [subjects page](https://openlibrary.org/subjects) has 12 genres, and I was thinking the top author (as in most books) in each one.

[2020-04-01 21:23] devarshigoswami commented on #1920
@jdlrobson forgive me for being a tad daft. I've found the class client-js rules referenced in three separate places.
1.css/base/helpers-common.less where its a child of  `.hidden--nojs `
2.css/components/carousel.less where its a parent of `.carousel`
3.css/components/header-bar.less where its a parent of `.search-facet`
Where exactly do the rules need to be added?

[2020-04-01 22:13] jdlrobson commented on #1920
Not daft @devarshigoswami - you're hitting the fact our frontend is a bit of a mess right now.

I'd forgotten about `hidden--nojs` - I think you should be able to add that class to the 'x' element and that's the task done.

[2020-04-02 04:31] ishank-dev commented on #3234
I can help add the required keywords, it would be great if someone could direct me to the right header file in templates.

[2020-04-02 05:33] tabshaikh commented on #3234
Thanks for helping out in this :) if you open a pr I would be happy to get it reviewed and merged

[2020-04-02 07:27] tabshaikh commented on #3239
The pr https://github.com/internetarchive/openlibrary/pull/3218/files which aims at preloading custom fonts is not working as expected. The performance audit still shows slick.woff is not preloading. @mekarpeles @jdlrobson
![Screenshot from 2020-04-02 12-48-55](https://user-images.githubusercontent.com/31198893/78221156-7f921d80-74e0-11ea-84f4-5e686004cf83.png)
![Screenshot from 2020-04-02 12-55-5

[2020-04-02 08:47] devarshigoswami commented on #2390
@BrittanyBunk Is the FAQ page maintained somewhere outside the sourcecode repo? because It's not showing if I open a local instance of Openlibrary on my PC using docker.

[2020-04-02 09:21] cclauss commented on #3290
@finnless suggested that I look at https://github.com/thisismattmiller/lcc-pdf-to-json which made it easy for me to create a lc_classifier function:
[code]
The output could be `Information resources (General): Information superhighway` instead.

[2020-04-02 09:31] ishank-dev commented on #3221
So are we supposed to just add  ``<link rel=preload>`` in all the relevant anchor tags?

[2020-04-02 10:12] devarshigoswami commented on #3231
@tabshaikh  I understand Openlibrary is using **microdata** schema. Do I need to add it specefically
Also ,

[2020-04-02 10:42] cclauss commented on #3290
lc_classification | clean | lc_subjects
-- | -- | --
HB1951 .R64 1995 | HB1951 | ['Economic theory.    Demography', 'Demography.    Population.    Vital events']
DP402.C8 O46 1995 | DP402 | ['History of Spain', 'Local history and description', 'Other cities, towns, etc., A-Z']
CS879 .R3 1995 | CS879 | ['Genealogy', 'By region or country']
NC248.S22 A4 1992 | NC248 | ['Drawing.    Design.    Illust

[2020-04-02 11:28] tabshaikh commented on #3221
@ishank-dev Not all we need to find the links which are a bottleneck in performance and then preload those.

[2020-04-02 13:03] seabelis commented on #2390
@devarshigoswami FAQ page is https://openlibrary.org/help/faq/editing#picture. It's been updated with the size limit.

[2020-04-02 16:48] ishank-dev commented on #3221
How do we know whether they are a bottleneck in performance?
These are the following files which contains  ``<link>`` tag
[code]

[2020-04-02 17:10] devarshigoswami commented on #2390
Awesome! @seabelis can I open a new issue for validation of that 30mb limit via a script?

[2020-04-02 17:13] tfmorris commented on #2390
@devarshigoswami There is already #3208 (and associated PR)

[2020-04-02 17:21] devarshigoswami commented on #1920
@jdlrobson I've initialized the PR

[2020-04-02 17:35] Loquen commented on #2616
@BrittanyBunk Much clearer! Thanks for clarifying. So the solution seems to be if a book has a borrowable edition display it instead of the editions not in the library. If a book has only issues that are not in the library we can change the wording of the button to 'Not In Library' or something while still directing users to the books detail page.

[2020-04-02 19:20] BrittanyBunk opened #3301 "Remove the publisher date requirement when adding a new book"
There are multiple issues with the publish date in the data dump (called "publish_date" there), but one of them is in #2039. The other issue is when fake publisher dates are added due to a lack of knowledge of what they are (like putting in all 0's, or 1234 to fill it in when it's unknown):

![image](https://user-images.githubusercontent.com/55302685/78292348-bb76b400-74db-11ea-9c6e-54a0112188a9.p

[2020-04-02 19:50] cdrini commented on #1920
In my experience, the only people I've seen using Open Library without JS are people who have made the choice of disabling their JS, usually for privacy. (Although sample size is small, that is a total of 1 person :P). Do you have any stats on what this might be? Also, I don't believe author editing _does_ work without JS; the author selection field won't populate with an OL author id if there is

[2020-04-02 20:01] cdrini commented on #1920
Also: Even if the user has not purposefully disabled their JS, they would understand that they might need to (1) switch to their phone, or (2) get access to a new computer (maybe at a public library) to complete the action, because they would be _used_ to things not working correctly. That's also why (3) is the best UX, because then, even if they _weren't_ used to it, they could learn why it wasn'

[2020-04-02 23:09] jdlrobson commented on #1920
@cdrini i wish  you'd trust me and my judgement here. I feel like I'm having to justify what I see as a trivial iterative improvement to the codebase. I have limited energy as a volunteer and while I think it's great that you push back on a lot of my more crazy changes such as loading jquery ui this - a low priority bug - doesn't seem like something worth of such a detailed discussion.

I'd recomm

[2020-04-02 23:23] cdrini commented on #3290
@cclauss That looks awesome! Hmmm, we should display these on pages we have an LCC; maybe something like this?

![image](https://user-images.githubusercontent.com/6251786/78308767-5c369500-7517-11ea-915e-67a7c1a9d934.png)

Then once these are in solr, we can make each level clickable, leading to search page 😍

[2020-04-02 23:41] cdrini commented on #1067
The correctness of the new index was tested mostly here: https://github.com/internetarchive/openlibrary/issues/2222 ; and it was connected to 1 of our web nodes for ~3 weeks. The biggest risk of error at this point is mostly performance (which is what led to https://github.com/internetarchive/openlibrary/pull/1843/commits/c702875f7343de527ea2bcd569df330118150ee1, and I _did_ notice some more pecul

[2020-04-02 23:43] cdrini commented on #3290
@tfmorris After all the work that went into #1067 , which largely blocked most modification to solr until completion (and even now it's still stuck in PR -_-). I wanted to work on something small and scoped that takes advantage of our new super power (full reindexing!).

[2020-04-03 01:02] cdrini commented on #3249
The main problem isn't performance, but searching; @mekarpeles regularly gets messages from people asking why there are only <30 books that are sponsorable in that carousel. Updating title/desc accordingly.

[2020-04-03 01:04] cdrini commented on #3249
Although I think we will need to be careful to monitor performance here w.r.t solr index lag. We shouldn't need a full reindex because solr provides a number of dynamic fields we can use.

[2020-04-03 01:31] guyjeangilles commented on #3275
@mekarpeles could this be the fix to #2789 regressing?

[2020-04-03 01:55] guyjeangilles commented on #3277
I agree, but I don't think the steps outlined in this issue description are the best way to solve this. I honestly think the meat of the problem comes from:
1. A large user base and a significant amount of technical debt
2. A small dev team

I actually disagree. Sending an email is a much lower barrier of entry for patron than making a Github account and reporting an issue.

Aren't we doing this a

[2020-04-03 01:57] guyjeangilles commented on #3282
@cdrini Is into design as well

[2020-04-03 02:12] cdrini commented on #3249
I think this schema should work:

[code]

This will enable us to:
- search for sponsorable books, and perform intersections with our other solr data such as subjects, etc.
- sort books by price
- facet books into buckets by price
- expire data stored in solr in some time frame

Notes:
- Any edits to a page will clear out this data; I consider this good.

[2020-04-03 02:13] guyjeangilles commented on #3301
If we make a standard input format for publisher's date we'll likely have to take into account localization. @tfmorris chime in if I'm missing anything.

[2020-04-03 02:27] guyjeangilles opened #3303 "Give CoverBot bot privledges"
This bot will fix #2550

### Additional context

https://github.com/internetarchive/openlibrary-bots/pull/38

### Stakeholders

@mekarpeles @cdrini @hornc

[2020-04-03 02:34] xayhewalo opened #3304 "Give OcaidBot bot privileges"
This bot will resolve #2651

### Additional context

The code exists at https://github.com/internetarchive/openlibrary-bots/pull/39

### Stakeholders

@hornc

[2020-04-03 02:38] guyjeangilles opened #3305 "Give WikidataBot2 bot privledges"
This bot will resolves items enumerated in #710, which includes import works, awards, subjects, photos, descriptions, etc.

This will implicitly help resolve #2332

### Stakeholders

@hornc

edit: typos, clarity

[2020-04-03 03:24] BrittanyBunk commented on #2390
Awesome. Thanks everyone for helping out with this. I'll close it now!

[2020-04-03 03:25] #2390 closed

[2020-04-03 03:28] BrittanyBunk commented on #2390
@devarshigoswami I agree, #3208 is where you'd place your proposal I believe.

[2020-04-03 03:33] BrittanyBunk commented on #2616
I think you're referring more to another issue I created: #3248. You're specifying though - as what are in carousels are mostly works, so it should redirect to the most available edition - that is a good thought! What I'm referring to here is if a book is in a carousel, then its availability would need to match, no matter what it is. No ebook -> no ebook, read -> read, borrow -> borrow, etc.

[2020-04-03 03:46] BrittanyBunk commented on #3290
@cdrini I had kind of a new idea/way of thinking about it. We could do both my idea and your format, that's fine. I just want to say mine and how it'll look like with yours:
Since not every LC classification led to a corresponding class in @cclauss's example, to make it be able to have every one have a corresponding class with it, here's my process:
Use only the 1st 2 letters to generate genres: t

[2020-04-03 03:57] BrittanyBunk commented on #3277
@guyjeangilles Thank you for this breakdown - it helps to see things clearly and I think we're in agreement on some parts and others you do have more experience than me about it.

What benefit would this provide which isn't provided by the Wiki?
- There isn't a volunteer table there.

I think I might've miscommunicated the last one. What you say is true - I think I was referring to people coming f

[2020-04-03 04:07] BrittanyBunk commented on #3282
@guyjeangilles didn't know that!

I really would like to have a game plan and some setup of what the code looks like before bringing anyone else in, as that part's my responsibility.

I looked at the elements of https://openlibrary.org/stats and figured a lot of the stats come from graphite. So I'll check out where the borrow stats are there and proceed from there - as the uppermost graphs on that

[2020-04-03 04:11] BrittanyBunk commented on #3301
@guyjeangilles true. Outside of the US, most countries put the date first. I just think each site would have its consistency so that it's readable for each locality - like the US OL would be different than the Polish version worked on, for instance: https://en.wikipedia.org/wiki/Date_format_by_country

[2020-04-03 05:01] cclauss commented on #3290
@BrittanyBunk and I slacked on this 12 hours ago and she proposed the same two-letter thing. The letters A, D, and J threw me because that table does not provide single-letter meanings but she provided them to me.  So I will propose a PR that shows us how to get the first _three_ classifications so we see how it looks and then we can choose wether use just the two letter or letters plus numbers.

[2020-04-03 05:52] guyjeangilles commented on #3277
'- There isn't a volunteer table there.

https://github.com/internetarchive/openlibrary/wiki#meet-the-team is a list of team leads, many of which are volunteer. I dont think we should get more granular than that.

The last point sounds like distribution/marketinf? Am I understanding you right?

[2020-04-03 06:11] BrittanyBunk commented on #3290
@cclauss ok. I see why you're coming into issues. The site you showed me: https://www.questionpoint.org/crs/html/help/en/ask/ask_map_lcctoddc.html is incomplete (as it's used for dewey dec conversions, and dewey dec is not as robust as the LoC). https://www.loc.gov/catdir/cpso/lcco/ is the official one to use. It's complete. I found https://en.wikipedia.org/wiki/Library_of_Congress_Classification.

[2020-04-03 06:21] BrittanyBunk commented on #3277
I believe so. I found https://docs.google.com/document/d/1RUsUnIJM78gTr5ycewUJNwYHERBQdg_Tv-X-OZpwtRY/edit#heading=h.h7rzk0v4rwic, which does show distribution ideas. It shows the users, but it misses the info about what type of person they are (like user, volunteer, admin/dev, etc.) based on their permissions, time, and what they do. I mean, it's editable by anyone, but I just don't want to add a

[2020-04-03 09:07] seabelis commented on #3301
This seems like a duplicate of https://github.com/internetarchive/openlibrary/issues/2039

[2020-04-03 09:27] seabelis commented on #3296
I've added the text to the editing FAQs. I've removed this line,

because it does not seem to make much sense.

[2020-04-03 11:18] cclauss commented on #3290
`AC` --> `General Works: Collections. Series. Collected works`
`AE` --> `General Works: Encyclopedias`

Long keys: [DAW, DJK, KBM, KBP, KBR, KBS, KBT, KBU, KD/KDK, KDZ, KJ-KKZ, KL-KWX, KU/KUQ]

That parses to 230 records:
[code]

[2020-04-03 16:01] dcapillae commented on #3301
I usually use only the year, sometimes adding the month, rarely I use the complete date (although some editions include it).

I propose to use the same date format that is suggested by Open Library to enter the date of birth or date of death of an author (e.g. 21 May 2000). Likewise I recommend using only the year if the full date (day or month) of an edition is irrelevant or unknown.

If we want

[2020-04-03 16:31] BrittanyBunk commented on #3290
Cool! So now that we have that, we could use this for the DDC too! I tried to create an excel with LCC -> DDC and vice versa, but didn't get far enough. Maybe it could be coded, but here's the start: https://drive.google.com/file/d/1Yu-srlXD_FcUUTRV9lwseXrR7qEsNQ9a/view?usp=sharing

[2020-04-03 16:58] seabelis commented on #3301
@dcapillae

See #2039. This is the format that should be used. Year only is fine.

[2020-04-03 16:58] BrittanyBunk commented on #3301
@dcapillae @seabelis it'll be possible to fill out only one of the boxes if needed. The data dump will be difficult to sort with lettering (as numbers are easier to work with), and it takes up too much space - as the editions file is at 5.7GB. Removing the lettering helps a lot!

[2020-04-03 16:59] BrittanyBunk commented on #3301
@seabelis true, part of this is a duplicate. I will condense it to the other 1/2 of this issue then.

[2020-04-03 17:02] BrittanyBunk commented on #3301
@seabelis I will address your thoughts on the date format in the github issue you were talking about.

[2020-04-03 17:07] BrittanyBunk commented on #2039
I'm going to be coming from a data dump perspective:

To condense the space in the data dump (as the editions are approaching almost 6GB), I propose:
1) No lettering. So let's not write out months.
2) not have punctuation, like slashes (/) or hyphens (-).

Removing the punctuation also makes it easier to sort in the data dump too (as those wouldn't need to be removed to work on the data - the numb

[2020-04-03 17:20] BrittanyBunk commented on #2902
Row would isolate desired words or phrases
Column would isolate the desired fields

[2020-04-03 17:36] LeadSongDog commented on #2039
@BrittanyBunk Let’s not start down the rabbit hole of role-your-own date formats. Wiki folk battled years over details of date formats. Just adopt an existing EDTF code base being used by librarians elsewhere.

[2020-04-03 17:47] tfmorris commented on #2039
@BrittanyBunk If you're going to attempt to overrule the previous consensus (EDTF), you're going to need a **LOT** stronger justification than saving a few bytes in the data dump.

[2020-04-03 17:51] BrittanyBunk commented on #2039
@tfmorris I also mentioned sorting.

[2020-04-03 18:01] BrittanyBunk commented on #2039
I wouldn't say I'm overriding it. I was talking about a UI for it. I think I made a mistake though, as @seabelis was saying what I wrote in another issue was a duplicate, but I think I'm starting to realize this is a different issue, as I'm talking more about the UI that'd go with filling out the editing form for editions, so that it'll appear like the EDTF in the data dump (as right now it doesn'

[2020-04-03 18:09] BrittanyBunk commented on #2039
There is one thing on the table I noticed:

No known date | n.d. | ??? Not sure if this can be represented

I would say that it should be left blank if the date's unknown - as there's no need to fill in what's unknown.

[2020-04-03 18:10] tfmorris commented on #2711
https://github.com/internetarchive/openlibrary-librarians/issues/1 contains some other examples of bad `008` dates where the given date is `9999` and the `260$c` field contains the correct date. The value `9999` appears to be reserved for use with serials, so these MARC records are incorrectly coded, but we should still handle them better.

[2020-04-03 18:11] tfmorris commented on #3301
@guyjeangilles Yes, we'll need to localize date handling. Most user friendly would be a parser which accepted text in the user's local format and converted it to our internal EDTF / ISO 8601 format.

An option to consider would be to restrict this instead to just publication **year**. That would be much simpler to do data validation on and easier for users to get right.

The pieces to this include

[2020-04-03 18:11] tfmorris commented on #3301
BTW, since this was all triggered by a small handful of records with `9999` dates, that is actually the result of an importer bug combined with bad MARC records https://github.com/internetarchive/openlibrary/issues/2711#issuecomment-608585653

[2020-04-03 18:20] BrittanyBunk opened #3308 "Create a UI to match the proposed EDTF"
Note; there was some confusion in both #2039 and #3301, so this is clarification. This also is going to be different that what will be shown in the OL UI.

### Problem:
Right now, I don't believe people follow the proposed EDTF mentioned in #2039 when writing in the date. This causes issues in the data dump where the formatting is inconsistent (this is just one section of the data dump):
![image](

[2020-04-03 18:56] tfmorris commented on #3301
I just realized that this issue got changed to be about something completely different. I was commenting on the original issue (as was pretty much everyone else), so the comments make no sense in the context of the completely revised issue.

Making the publication date optional is fine, but it should be accompanied by tighter data validation.

[2020-04-03 19:45] LeadSongDog commented on #2039
See the level 1 portion of https://github.com/ixc/python-edtf for discussion of how approximate, undefined, or partly undefined dates are represented.

[2020-04-03 20:14] BrittanyBunk commented on #2902
@tfmorris I apologize for miscommunicating. This is supposed to be for pre-downloading. I edited my original comment that goes with the title.

[2020-04-03 20:16] BrittanyBunk commented on #3308
@tfmorris What someone inputs gets converted to the EDTF from what I see - like the table Drini created in #2039. People will enter in values - that's column 2. What it gets converted to, the EDTF, is column 3.

[2020-04-03 20:18] BrittanyBunk commented on #3301
@tfmorris I'm sorry - I put my idea in the wrong place, as I thought it was the same idea.

True!

[2020-04-03 23:58] #3283 closed

[2020-04-04 00:00] #3195 closed

[2020-04-04 09:45] rcastellotti opened #3312 "API to add a Book"
### Question
Is it possible to add books via API? I see you are using RECAPTCHA which makes me doubt, but adding via api would be very interesting( I could add a section to add books to openlibrary.org in my mobile application which allows you to scan a Book's barcode and save it somewhere)

Thanks in advance
RC

[2020-04-04 10:23] cclauss commented on #3312
A different but related repo:
* https://github.com/internetarchive/openlibrary-client
* https://github.com/internetarchive/openlibrary-client#usage

[2020-04-04 10:25] rcastellotti commented on #3312
That might be the answer

[2020-04-04 14:52] ScarlettRed commented on #3274
I was thinking of a detailed list, but I guess /stats will also do. I will post a pull request with the necessary changes

[2020-04-04 14:55] ScarlettRed commented on #3232
@mekarpeles I have also designed a whole different page of Ebook borrow stats graph. here is the link to the design.
https://xd.adobe.com/view/c44286cb-6190-461e-7aee-8357af397550-b273/

[2020-04-04 18:14] jdlrobson commented on #3239
@tabshaikh I can confirm. It looks like the preload tag is shown on https://openlibrary.org/books/OL6179353M/Slide_rule but not on the home page. I did see it on the home page but after refreshing it disappeared so I think this has something to do with caching.

[2020-04-04 18:25] tfmorris commented on #3312
Yes, but write access to the API requires a whitelisted account. We don't have a good way to enable this for general usage.

As for openlibrary-client, that has an aggressively viral license, so can't be used by any non open source apps. I tried unsuccessfully to get that changed. It's really just a convenience library though and doesn't grant any special powers that aren't available through the r

[2020-04-04 18:36] tabshaikh commented on #3239
Thanks for confirming @jdlrobson I will look into caching where it might be creating the problem

[2020-04-04 20:26] #3234 closed

[2020-04-05 08:32] ishank-dev opened #3313 "download ePub format fails in some cases"
Clicking on download ePub books results in an error message

### Evidence / Screenshot (if possible)
![Screenshot_20200405_135127](https://user-images.githubusercontent.com/45262592/78470169-db5ce080-7744-11ea-8199-5a89b4974ba2.png)
#### Error Message<br>
 ![Screenshot_20200405_135408](https://user-images.githubusercontent.com/45262592/78470176-f3346480-7744-11ea-91d2-a906270d27cc.png)
### Relevan

[2020-04-05 11:56] srosalia commented on #3296
Hi @mekarpeles, I wanted to confirm by what you meant by this...

Is it
1.) user clicks the Search button without specifying a search keyword
or
2.) user specifies a keyword with 0 search result ?

P.S. I'm a newbie (already set up my local openlibrary instance) and is looking for a "good first issue" to investigate.

[2020-04-05 15:29] cclauss commented on #3290
# New testing instructions:
[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/cclauss/library-of-congress-classifier-hack/master)

Binder will take about a minute to boot up.  Once that completes, open the __lcc_classifier.ipynb__ file.

[2020-04-05 17:48] BrittanyBunk commented on #2863
I am going to list my bot opportunity ideas to keep in place here.
- https://github.com/internetarchive/openlibrary-librarians/issues/10

[2020-04-06 15:32] cdrini commented on #3249
This looks like it's impossible with our version of solr. Here was my approach: https://github.com/cdrini/openlibrary/commit/8cca1f299c2fc9fe1f593accfb390df10f2703c2 . The problem is that we can't "update" a solr record without fully reindexing that record. I was thinking we could get the record for a work, and add the sponsorhsip data on pageview, but no luck. Since solr supports `stored=false` f

[2020-04-06 21:41] cdrini commented on #1048
@hornc Would you be able to attach a csv of editions with conflated isbns? That might let someone else take the torch if they're interested.

[2020-04-06 22:04] mekarpeles commented on #3260
I don't think we want process funds on openlibrary.org.

[2020-04-06 22:04] #3260 closed

[2020-04-06 22:10] cdrini commented on #3275
This should be fixed now; we believe it was the result of a temporary outage with our connection to Better World Books. Thanks for the report, @ScarlettRed !

[2020-04-06 22:10] #3275 closed

[2020-04-06 23:05] cdrini opened #3317 "Update to Solr 8 (Latest)"
With the reindex flow largely complete (#1843), we can start looking at the next step, which is updating solr to the latest version. This is largely implemented in #2246 , but needs the last push to get it to production and to be up-to-date with #1843. This will allow:

- Near Real Time updating! New solr lets edits appear in virtually real time, since softCommits allow for data to become searchab

[2020-04-06 23:08] cdrini opened #3318 "Create document for Open Library October Yearly Review"
Similar to what @mekarpeles has created in the past at the yearly/bi-yearly interval.

E.g.
- What did we get done?
- look at merged PRs https://github.com/internetarchive/openlibrary/pulls?q=is%3Apr+is%3Amerged+merged%3A2020-01-01..2020-04-01+-sort%3Amerged+
- Librarian contributions
- GSoC candidates?
- New contributors over the quarter
- Maybe tally of how many PRs each person created?
- Platfo

[2020-04-06 23:15] cdrini opened #3319 "Add method to get most viewed authors from GA"
Want a way to get most viewed authors in the past e.g. week from google analytics.

### Describe the problem that you'd like solved
Having a way to query google analytics from openlibrary repo would be _super_ useful in letting us show "trending" data. As a basic first step, let's get trending authors.

### Proposal & Constraints
- [ ] Cache aggressively; like maybe daily? Maybe weekly?
- [ ] Will

[2020-04-06 23:18] cdrini commented on #3069
Bumping in priority; adding this now feels like a good way to help local bookstores which might be struggling right now.

[2020-04-06 23:30] cdrini opened #3320 "Import BWB ids for pre-isbn books"
I added a `better_world_books` field for ID numbers: E.g. https://openlibrary.org/books/OL27291054M/Dwellers_in_the_Mirage . We should import BWB IDs for pre-isbn books so that the price shows up and so that these can be sponsorable.

### Proposal & Constraints

### Additional context

### Stakeholders
@hornc @mekarpeles

[2020-04-06 23:37] cdrini opened #3321 "Display sub-subjects at top of search in desktop"
Once #2984 is merged, the subjects page will look identical to search results. It's likely that people using this page will want to "dive deeper" by looking into sub-subjects, so we should bring this to the top (at least on desktop where it doesn't take up too much space; maybe also on mobile?). Thoughts?

### Proposal & Constraints
![image](https://user-images.githubusercontent.com/6251786/786152

[2020-04-06 23:41] cdrini commented on #3290
UI-wise, let's start with just `classes` for now; I think having subjects, classes, genre, and sub-genre might be a little too much/confusing. I think the classes might be better since it also displays full granularity (so folks can dive in at any point they wish).

[2020-04-06 23:47] cclauss commented on #3290
Agreed.  Let’s also get LC classes working smoothly/ consistently before also doing DDC.  The .pdf you added is great but highlights the complexity of getting it right.

[2020-04-06 23:52] cdrini commented on #3290
Baby steps :) To quote one of my new favourite laws (thanks @LeadSongDog !)

A complex system that works is invariably found to have evolved from a simple system that worked. A complex system designed from scratch never works and cannot be patched up to make it work. You have to start over, beginning with a working simple system.

[2020-04-07 00:23] #3080 closed

[2020-04-07 00:27] #3176 closed

[2020-04-07 00:49] BrittanyBunk commented on #3290
@cdrini Just so we're all on the same page, you mean what's on https://www.loc.gov/catdir/cpso/lcco/ only right? Like https://openlibrary.org/books/OL103608M/Johann_Wolfgang_Goethe_Faust-Dichtungen. would show "Language and Literature"?

[2020-04-07 00:51] cdrini commented on #3290
I mean the classes section displayed here: https://github.com/internetarchive/openlibrary/issues/3290#issuecomment-608143138

[2020-04-07 00:54] BrittanyBunk commented on #3290
I'm wondering if instead of separating out genre and sub-genre like I did, it could be added what's in the image to show the full path. Thoughts?

[2020-04-07 01:03] BrittanyBunk commented on #3290
@cdrini cool! So something like this then (I completed the full path) (*Ignore the fonts - just a mockup):
![image](https://user-images.githubusercontent.com/55302685/78619006-e9882b00-7830-11ea-9e42-2e55be12c27d.png)

[2020-04-07 01:05] cdrini commented on #3290
Ahhh, I see what you mean. Yes, exactly :+1:

[2020-04-07 01:17] #2998 closed

[2020-04-07 01:35] BrittanyBunk commented on #3290
@cdrini  I'm not an expert and will defer to them, from my research, LCC seems like the term to use, as the outline is for the LCCs.

[2020-04-07 01:49] BrittanyBunk commented on #3290
I'm thinking LCC titles, because we're listing the titles of the LCC letters and numbers, but will defer to expert opinion if there is a name for this.

[2020-04-07 04:03] guyjeangilles commented on #3320
@cdrini I'd like to tackle this.

I presume the first step would be filtering the most recent data dump for editions with no ISBN using `grep`.

After that I'm not sure what's the best way to know if an edition has a BWB id

[2020-04-07 05:02] guyjeangilles commented on #3308
I don't think user input should be restricted to just date, not datetime. If we're trying to make the date easier to comply with EDTF, we should eliminate free forn text entry

[2020-04-07 05:04] guyjeangilles commented on #3312
Gonna close this since the question is basically answered.

[2020-04-07 05:04] #3312 closed

[2020-04-07 07:51] seabelis commented on #3290
Outline is the title of that specific page because the contents of the page is an outline of the LC Classification system.

Let's make the heading what it is "Library of Congress Classification" or "LC Classification." Would be nice to include the call number itself, similar to what is displayed on the LC catalog record as 'browse by shelf order" with the added functionality of the class names the

[2020-04-07 11:56] hornc commented on #3301
I think removing the requirement for a publication date is a bad idea and goes against the data model. Without a specific date of publication a book record is at the 'work' level which is an abstract entity. Open Library's data model for a page per book is targeting book Editions. An edition record without enough data to identify which edition it is isn't much use. A subsequent editor won't have e

[2020-04-07 15:12] BrittanyBunk commented on #3290
@seabelis thanks for helping me out.
- ok. I think LC Classification could work, I'd say even better is just LCC, but either way.
- I think if it's grouped together, it could go under the Classification section of the OL, just we'd need to change the call number to a different name, so they're not both the same:
https://openlibrary.org/books/OL103608M/Johann_Wolfgang_Goethe_Faust-Dichtungen.
![ima

[2020-04-07 15:23] seabelis commented on #3290
You are showing this at the edition level. I understood this was going to be used at the work-level.

[2020-04-07 15:26] BrittanyBunk commented on #3290
I didn't see it being there unless we're calling it a 'genre'. However, since it's a classification based on a classification number of a book, that seems to be a better place. I will double check on this right now.

[2020-04-07 15:29] seabelis commented on #3290
Why? This is not a genre. This is a classification.

[2020-04-07 15:32] BrittanyBunk commented on #3290
Exactly! That's why it goes underneath the classification tab. Each edition has a different call number and even though most are in the same category as each other, it's just in case they aren't:
https://openlibrary.org/books/OL24172776M/Hamlet and https://openlibrary.org/books/OL24614660M/Der_erste_deutsche_B%C3%BChnen-Hamlet - different editions, different call numbers. They're the same category

[2020-04-07 15:44] BrittanyBunk commented on #3290
I can't find one right now, so I wouldn't know where would be better - the works page or under Classifications. However, it seems that the Classifications would be a better place, as that's where the rest of the LoC classifications are.

[2020-04-07 16:15] BrittanyBunk commented on #3301
I don't believe that's true, as book record does stay at the edition level without a publication date. Because a publish date is not required overall, it gets deleted anyway, leaving this:
![image](https://user-images.githubusercontent.com/55302685/78692186-5e4d7a80-78ae-11ea-912a-f065e25cccf3.png)

I feel just feel having an incorrect date is just as useless as having no date at all. What separat

[2020-04-07 16:16] MaorDayanOfficial opened #3323 "XSS in all Audio/Videos/Books/Software/Images archives"
### Evidence / Screenshot (if possible)
https://i.imgur.com/NxzSyk4.png

### Relevant url?
https://archive.org/details/movies?and[]=--><svG onLoad=alert('Maor_Security_Check')>&sin=on
https://archive.org/details/audio?and[]=--><svG onLoad=alert('Maor_Security_Check')>&sin=on
https://archive.org/details/books?and[]=--><svG onLoad=alert('Maor_Security_Check')>&sin=on
https://archive.org/details/soft

[2020-04-07 16:21] seabelis commented on #3301
How is a cover image a classification?

[2020-04-07 16:24] BrittanyBunk commented on #3308
@guyjeangilles I agree. I don't think time should be required. I put in free form, due to the extra parts in the EDTF, like:
- Approximate date | 1973? | 1973?
- Year range, both years known | 2014-2017 | 2014/2017
I'm thinking about adding in 'approximate', as that's the only thing missing. Along with your idea, this is what it'd look like:
![image](https://user-images.githubusercontent.com/55302

[2020-04-07 16:25] seabelis commented on #3301
A date should be populated when a person adds an edition. Even if this is xxxx to positively identify that there is no date. The classification has nothing at all to do with the date requirement.

[2020-04-07 16:26] cdrini commented on #3290
Yes, it is a little awkward since the LCC is stored on the edition (and can vary!). But I think we should display it on the work near the subjects section, because I think that will make it easier to find for non-librarian users. I chose the word "classes" instead of "Classifications" or "LCC" also hoping that might be easier for non-librarian users. When DDC are eventually added, they can also ap

[2020-04-07 16:45] BrittanyBunk commented on #3290
@cdrini Having it on the works page should be fine, as the LCC should be the same for all the editions - they all should be of the same topic.

I'm going to defer to consensus and expert opinion on this, but I didn't use 'classes' as it's a combination of classes and subclasses, but I see what you mean.

[2020-04-07 16:52] BrittanyBunk commented on #3301
@seabelis I see what you mean, but that just addresses one part (where the date is unknown). However, publisher dates are still left blank on the example I listed (as they might be deleted after the 'add book' page or a bot just doesn't add it in where there's no difference in publisher date and title.

[2020-04-07 17:03] tfmorris commented on #2943
The current order is effectively random (internal hash order) which is clearly not useful at all. I see a few different possibilities for improving this:

1. Most recently used, or
1. Alphabetical, or
1. Alphabetical with cursor on the most recently modified list
1.  Some hybrid that does first N (1? 3?) most recent, followed by alpha, or alpha if list is greater than a certain size, or ...

We've

[2020-04-07 17:13] cdrini commented on #3320
Sounds good to me! We might be able to get a dump from BWB with that data; @hornc do you by any chance have that or know how we can get it?

[2020-04-07 18:07] seabelis commented on #3301
It doesn't work, but the field can be adjusted to allow the xxxx format.

[2020-04-07 18:19] tfmorris commented on #3290
@cdrini There are 48 open Solr bugs, some over a decade old. Do none of them meet your criteria?

If you want help choosing, I'll suggest #178 which is small, self-contained, HUGELY impactful, and just over a decade old, having been first reported March 13, 2010. By simply changing the definition of a single field, the author's name, users will now be able to find this [record](https://openlibrary

[2020-04-07 20:22] tfmorris commented on #865
I've updated French and German with the proposed stopgap here: https://openlibrary.org/languages

If this looks good to folks as an interim, any librarian/admin can complete the work using the list here: https://www.omniglot.com/language/names.htm

[2020-04-07 20:35] tfmorris commented on #865
@mekarpeles Are you happy with the stop gap?

@seabelis Are you willing to take the interim updates on as a librarian task? I can create a separate issue for that so that we can use this issue to track the full solution.

[2020-04-07 20:44] tfmorris commented on #872
@mekarpeles @hornc Did you guys figure out what to do for this 2 year old issue? I'd like to close out the initial round of internationalization issues.

[2020-04-07 20:53] tfmorris commented on #988
This is a low visibility page (not sure if it's linked from anywhere), but should be internationalized unless it's admin-only (don't think it is).

The relevant template is in openlibrary/templates/stats/readinglog.html

[2020-04-07 20:59] tfmorris commented on #2353
We've done a few passes at this and I think the current instructions are a good starting point. I'm sure they'll continue to evolve over time.

[2020-04-07 20:59] #2353 closed

[2020-04-07 21:11] tfmorris commented on #2906
Having the carousels hardwired to English-only definitely shows a huge amount of cultural tone deafness, but the queries are so baroque that I'm not sure whether we should try to fix them.

- Who decided that those 5 authors, and they alone, should represent an entire genre of fiction?
- Why aren't we using OpenLibrary subjects to filter things?
- Why is "Books to Sponsor" the only carousel above

[2020-04-07 21:41] tfmorris commented on #2815
I've added additional detail to the issue to describe what needs to be done.

[2020-04-07 21:56] tfmorris commented on #2814
This can't be done mechanically at page render time without data from Wikidata, because the list of available language Wikipedia articles can, and does, change over time. We don't want to query in real-time, for a number of reasons, so we'd need to refresh our cache of Wikipedia articles periodically.

[2020-04-07 21:57] tfmorris commented on #2906
This is largely a duplicate of #2655

[2020-04-07 22:00] tfmorris commented on #2607
Do we need to do more than just say "No user visible text in Javascript"?

If so, @jdlrobson @cdrini what do we need to do to close this (or at least make progress)?

[2020-04-07 22:34] tfmorris opened #3324 "Update German / Deutsch translation"
Now that we've finished the bulk of the internationalization of strings used in OpenLibrary (#2442 #2998), the original German translation (#2818), contributed by @justcomplaining, should be completed/updated.

The message file is `openlibrary/i18n/de/messages.po`
The translation guidelines are here: https://github.com/internetarchive/openlibrary/wiki/Frontend-Guide#internationalization-i18n---for

[2020-04-07 22:36] tfmorris opened #3325 "Update Czech translation"
Now that we've finished the bulk of the internationalization of strings used in OpenLibrary (#2442 #2998), the original Czech contributed by @Clonewayx , should be completed/updated.

The message file is `openlibrary/i18n/cs/messages.po`
The translation guidelines are here: https://github.com/internetarchive/openlibrary/wiki/Frontend-Guide#internationalization-i18n---for-translators

[2020-04-07 22:46] tfmorris opened #3326 "Update Telugu translation"
Now that we've finished the bulk of the internationalization of strings used in OpenLibrary (#2442 #2998), the original Telegu translation contributed by @jnanadattasingaraju , should be completed/updated.

The message file is `openlibrary/i18n/te/messages.po`
The translation guidelines are here: https://github.com/internetarchive/openlibrary/wiki/Frontend-Guide#internationalization-i18n---for-tra

[2020-04-07 23:15] tfmorris opened #3328 "Select and implement a continuous translation service"
### Describe the problem that you'd like solved

There are a number of web-based crowdsourced translation services available which offer free translation to open source projects. We should evaluate the various alternatives, select one and set up OpenLibrary as a project on the platform to receive ongoing translations as the UI is changed.

### Possibilities

Some possible candidates include:
- [ ]

[2020-04-08 04:36] BrittanyBunk commented on #3301
That's all I'm asking - to remove the requirement for a year. I even proposed: https://github.com/internetarchive/openlibrary/issues/3308 and this could accommodate x's and -'s for what's unknown. This could even be on the 'add book' page. I'll add my thoughts to #3308 to account for what we discussed.

[2020-04-08 04:45] BrittanyBunk commented on #3308
As [per discussion](https://github.com/internetarchive/openlibrary/issues/3301#issuecomment-610538724) with @seabelis, here's an adjustment to the proposed layout:
![image](https://user-images.githubusercontent.com/55302685/78745462-1a438f80-7919-11ea-8e06-8c8a5672e94b.png)

[2020-04-08 04:50] BrittanyBunk commented on #2815
@tfmorris where? I would like to read it.

[2020-04-08 06:06] BrittanyBunk commented on #3290
@tfmorris I don't like getting involved in other people's discussions, but some things are important to say. This github issue that @cdrini's working on is something that's been going on for a while and requires a lot of people's help and right now's the moment that the resources are here. Also, doing this helps with future developments. It's an infrastructure that will make books easier to find -

[2020-04-08 07:13] seabelis commented on #3301
I'm not saying remove the requirement. I'm saying modify the input restriction for that field to allow x.

[2020-04-08 07:16] seabelis commented on #865
Agree with @tfmorris .

Yes, I can work on this.

[2020-04-08 13:01] justcomplaining commented on #2815
@BrittanyBunk He edited my original description.

[2020-04-08 15:02] BrittanyBunk commented on #3301
@seabelis we're kind of talking about the same thing - right now it requires a year, and so that should be removed in some format, be it removing the ability to add a date or taking it out of the 'add book' page. The issue with your idea is that people can still take out the xxxx's.

I would rather have it that a person doesn't face an 'add book' page, but goes directly to the edit page, and if th

[2020-04-08 23:55] cclauss opened #3333 "Tasks remaining to get to Python 3"
[Planning Doc](https://docs.google.com/document/d/1VoSiTzsO3r2Qlhs5OoRFfbZR_u1ft8uR-72g_Mz175Y/edit#heading=h.ax5uutuo9m7l)

* [x] Fix tests for sort order differences in Python 3 #3330
* [x] Coverstore/warc.py py3 again #3331
* [x] The cmp argument again #3332
* [x] Prevent PRs from breaking Python 3 tests #3345
* [x] Deterministic dicthash() regardless of key order #3348 (or #3347)
* [x] lending

[2020-04-09 00:21] bluedaze commented on #3296
There was an idea floating around that we should create a carousel with the most popular authors this month. Perhaps this would be a good place to have such a carousel

[2020-04-09 01:39] guyjeangilles commented on #3305
An existing WikidataBot with a Wikidata account exists here: https://github.com/cdrini/openlibrary-wikidata-bot. Development will occur there for the time being.

[2020-04-09 01:39] #3305 closed

[2020-04-09 02:17] BrittanyBunk commented on #3333
One of the issues on the [testing page](https://github.com/internetarchive/openlibrary/wiki/Testing) is that it says "Python", but it's not specific as to which one - 2 or 3. So it seems you're going to make it compatible with both. It's just good to know for the beta test page.

[2020-04-09 02:20] BrittanyBunk commented on #3326
@tfmorris is there a running list (outside of the github issues) somewhere of all the languages to be worked on, processing, and complete?

[2020-04-09 02:22] BrittanyBunk commented on #3328
Would Google Translate be a possibility?

[2020-04-09 02:23] BrittanyBunk commented on #3328
I would say Google Translate is open source and to have people contribute there, but it seems that you want a company with translators to translate specific writing.

[2020-04-09 02:28] BrittanyBunk commented on #3321
This doesn't say where the subjects part is right now, but it's too much at the top. When I search, the first thing I want to see is the book results (as I'm trying to get a book) and seeing anything else would be confusing. I'm not sure how much space there is, but maybe a 2nd filtering column would be easier to work with. If not, expand/collapse filter categories would work to make the subjects

[2020-04-09 02:58] BrittanyBunk commented on #3290
Sorry @cdrini for continuing after you said to you wanted to focus on getting the indexing right, but since the labeling was discussed in the meeting, I just wanted to give another input on this: I realize that 'LCC titles' might be more appropriate than 'Library of Congress Classification'. The reason is that the call number is already called that on the OL and the LCCO page says that it's letter

[2020-04-09 03:25] BrittanyBunk commented on #3319
I would assume it's when the user goes to the site: "Determines how many milliseconds elapsed between the user navigating to the page and the current time" ([1](https://archive.org/includes/analytics.js?v=0c15bbe)) using maybe a [timestamp](https://developer.mozilla.org/en-US/docs/Web/API/Performance_API).

I think people use jquery, but I'm really not sure - as I haven't done this before or use p

[2020-04-09 03:31] BrittanyBunk commented on #2387
ISBN 13 can be used to find an ISBN 10, but not vice versa. So people should only enter ISBN 13 for it to auto-generate an ISBN on the OL site to use and search with. That will make the data dump more complete and easy to work with instead of using software to find it.

[2020-04-09 04:08] BrittanyBunk commented on #3277
I'm going to try to resolve some of this through creating an "Enthusiast and Beta Tester" (EBT) page to help these volunteers find their starting point, because everything for them will be like looking at new tasks like a newcomer to them, and there needs to be a place to plug into where they need to be to get started quickly when called for help on tasks. Right now, documentation is specific to i

[2020-04-09 13:18] justcomplaining commented on #3324
I am trying to follow the translation guidelines but running scripts/i18n-messages gives me the following error and sadly I have no understanding of code whatsoever, so help would be appreciated :laughing:

`Traceback (most recent call last):
  File "./i18n-messages", line 9, in <module>
    from openlibrary import i18n
  File "/home/steven/openlibrary/openlibrary/i18n/__init__.py", line 2, in <mo

[2020-04-09 13:39] BrittanyBunk commented on #3296
@srosalia my impression is that when people go on that page without any idea of what to search in mind, there's only a description. There's no list of authors to browse.

[2020-04-09 13:43] BrittanyBunk commented on #3296
@bluedaze it depends on what format is consistent with which webpage. So:
https://openlibrary.org/authors - is fine to have a carousel (although a list may also work)
https://openlibrary.org/search/authors (from clicking the word 'find') - a list would be better
https://openlibrary.org/search/authors?q= (from clicking the search button) - list format preferred

[2020-04-09 18:03] tfmorris commented on #2387
That's not true.

[2020-04-09 18:04] tfmorris commented on #3326
No.

[2020-04-09 18:06] BrittanyBunk commented on #2387
@tfmorris I'll delete then. That's what I figured.

[2020-04-09 18:07] tfmorris commented on #3333
It seems like Infogami is going to be our biggest hurdle. Do we have a strategy for dealing with that?

[2020-04-09 18:10] tfmorris commented on #3328
Google Translate is a commercial Machine Translation (MT) service and most definitely not open source. We want a service powered by native speakers, not a MT service (although some of the human powered platforms use MT assist or first pass).

[2020-04-09 18:12] BrittanyBunk commented on #3328
@tfmorris I edit it all the time and there's a section where it feeds a person a line and they translate it. That's fine. Maybe there's a way to get volunteers in various languages too, idk.

[2020-04-09 19:47] cclauss commented on #3333
Today Infogami appears to be our biggest hurdle but just a few months ago it was not.

Last year I was able to [land many modernizations on Infogami](https://github.com/internetarchive/infogami/pulls?q=is%3Apr+author%3Acclauss+is%3Aclosed) so I have a fair understanding of that codebase.  There are no miracles here so it will require effort but given the state of web.py (about to drop support for

[2020-04-10 12:02] drupol opened #3340 "Unable to add book when similar work exists"
Hi,

I discover your service today and I wanted to add a couple of books from my bookshelf.
It has worked without any trouble for some, but I'm unable to add the following one:

Title: The First Six Books of the Elements of Euclid
Author: Oliver Byrne (_there are duplicates, it should be merged, but I select the first one_)
Publisher: Taschen
When: 2013
ISBN 10: 3836544717

### Evidence / Screensh

[2020-04-10 15:07] cdrini opened #3341 "Canonical URLs should not include version url param"
The first result on google when searching for [how to borrow openlibrary](https://www.google.com/search?client=firefox-b-d&q=how+to+borrow+openlibrary) links to https://openlibrary.org/help/faq?v=102 ; which is ~7 years older than the current page!

### Steps to Reproduce

1. Go to https://openlibrary.org/help/faq?v=102 and inspect the source

* Actual: `<link rel="canonical" href="https://openlib

[2020-04-10 15:20] cdrini opened #3342 "Add FAQ microdata to FAQ pages"
SEO's support displaying rich snippets for FAQ pages; we should add the necessary microdata to our FAQ pages.

### Proposal & Constraints
- Sample from docs site:
<img src="https://user-images.githubusercontent.com/6251786/79001764-154f2d80-7b1d-11ea-8145-d243b3666abd.png" width="300"/>
- It's not as simple as adding the microdata to the wiki page; those attributes are stripped out. Will need a wa

[2020-04-10 16:38] cdrini commented on #3340
Ah, it looks like the bug happens when a similar book exists. Are you able to create the record using this url? https://openlibrary.org/books/add?work=/works/OL15677131W

[2020-04-10 18:09] tfmorris commented on #3341
This is addressed by the pending canonical URL PR.

[2020-04-10 18:10] #3232 closed

[2020-04-10 18:36] drupol commented on #3340
Thanks! I succeeded to add the new edition: https://openlibrary.org/books/OL27936588M/The_First_Six_Books_of_the_Elements_of_Euclid

[2020-04-10 19:27] cdrini commented on #3340
Sweet! I'm going to leave this issue open since the code still needs to get fixed 👍

[2020-04-10 21:45] mekarpeles opened #3343 "Author merging does not update edition references"
Author merging does not update edition references (because the `"authors": key` appears to be wrong, likely should be `"authors": {"author": {"key": key}},` as shown below

_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/pull/3081/review_comment/create_

[2020-04-10 22:02] #967 closed

[2020-04-10 22:11] mekarpeles opened #3344 ""Show Ebooks Only" on Authors page no longer working"
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2020-04-10 22:12] #2962 closed

[2020-04-11 07:12] ishank-dev commented on #3328
Have you tried[ Yandex Translation APIs](https://translate.yandex.com/?lang=en-emj), they are free to use if used through [rapidAPI](https://rapidapi.com/zakutynsky/api/YandexTranslate) platform. But again if you are looking for human translation services then I don't think such services would be freely available.

[2020-04-11 17:52] LeadSongDog commented on #3320
Quick screen: pre 1966 can’t have an SBN. 1966-1970 ISBN-10 starts with 0 if any
1970 onward most will have one.

[2020-04-12 15:42] BrittanyBunk commented on #3277
I don't think this could be resolved by documentation. The issue is that there's a pathway to form issues (like on github) and discuss solutions until they come about (on github), but there's no real ability for people to form teams and/or implement solutions on the website. Either there's an excuse, like 'not enough developers' or it requires special permissions - and this is where ideas get stuc

[2020-04-14 21:47] #3274 closed

[2020-04-15 00:43] guyjeangilles commented on #3323
@mekarpeles This seems like an IA problem not an OLproblem. Should this issue be transferred?

[2020-04-15 00:52] guyjeangilles commented on #3340
I've changed the title to better reflect the reason the issue has remained open

[2020-04-15 00:54] guyjeangilles commented on #3341
The specific PR is #3306

[2020-04-15 05:40] devarshigoswami commented on #1920
Has the community come to a consensus regarding what should be done for this error?? @cdrini @jdlrobson ??

[2020-04-15 05:41] devarshigoswami commented on #3231
@tabshaikh , please respond..

[2020-04-15 13:15] cdrini commented on #1920
I think we're still at an impasse on this one, sorry @devarshigoswami ! I'm going to remove this as a good first issue.

[2020-04-15 13:53] #2144 closed

[2020-04-15 14:37] jdlrobson commented on #2144
Nice job @devarshigoswami  you are on a roll with your pull requests! 👍

[2020-04-15 14:48] devarshigoswami commented on #2144
@jdlrobson sir, Thanks a bunch, but you know It was a really small issue and It could be solved only because of the community's insightful suggestions...keeping that aside, I would really like to know what you have to think about issue #3231 and how I can tackle it

[2020-04-15 15:08] jdlrobson commented on #3231
Templates in general.

[2020-04-15 15:09] tabshaikh commented on #3231
templates in general I would say

[2020-04-15 16:38] BrittanyBunk opened #3355 "Split the Open Mic and Meeting notes from each other"
### Problem
On the [2020 Open Library Community Call document](https://docs.google.com/document/d/1FEG-bdOTsi8Q3IHgFboL_LZImN18Q4wsWWWtlV8RgKk/edit?usp=sharing), the meeting notes are combined into the Open Mic topics. That makes it really difficult to read and separate who brought up a topic and what was discussed.

### Solution
Have a 'notes' section that's above the 'Open Mic' section to separa

[2020-04-15 16:43] cdrini commented on #3323
I pinged the right folks :+1:

[2020-04-15 16:43] #3323 closed

[2020-04-15 17:44] mekarpeles opened #3356 "Importing high-signal Archive.org subject tags onto Open Library Works"
### Describe the problem that you'd like solved

There are hundreds of useful subject tags for the `inlibrary` collection on Archive.org for books which are also in Open Library but missing these subjects. We may want to consider strategically importing some of these timely subject tags into/onto Open Library to improve discovery.

## Example

Here's an example which (given we've chosen a subject

[2020-04-15 18:41] tabshaikh opened #3357 "Identify Book Page Types from fulltext (e.g. "Chapter page")"
Write a program to identify page types [Cover, Table of Contents, Chapter Pages, etc] from Internet Archive djvu.xml files.
#### Goal / Opportunity:
The Internet Archive Bookreader Preview is able to show front-matter (such as table of contents, copyright page, cover, etc) if these pages are “asserted” (i.e. marked) in our metadata. This means we can possibly make hundreds of thousands of book pag

[2020-04-15 18:44] tabshaikh commented on #3357
@devarshigoswami @ishank-dev This would be an interesting scoped project with a huge impact if you are interested :)

[2020-04-15 23:17] cdrini opened #3359 "Noticing an increase in errors from borrow.py"
![image](https://user-images.githubusercontent.com/6251786/79367194-757a1100-7f1b-11ea-9232-53bbdb9a86cf.png)

Seems linked to last week's deploy https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-04-14

Here's one error I found from today's logs that mentioned borrow.py:

### Evidence / Screenshot (if possible)
[code]

### Details

- **Logged in (Y/N)?**
- **Browser type/vers

[2020-04-15 23:29] tfmorris commented on #3357
There's considerable variability in the information that's already available. Some volumes have the page types in the scandata.xml file (this volume only has the title page marked) and others have it in the ABBYY OCR file. Those should all be checked before resorting to guessing.

Don't forget that "Copyright" and "Table of Contents" are spelled differently in different languages.

This sounds lik

[2020-04-15 23:34] #3359 closed

[2020-04-16 05:38] ishank-dev commented on #3357
I cannot really say how much time I would be able to spend on this as I am busy with another project ATM.
But I can help write small scripts that will allow fetching and iterating over the XML files and look for the keywords that you mentioned.

[2020-04-16 06:45] ishank-dev commented on #3356
@mekarpeles  Does one need to be very familiar with the OL python library to work on this?
And how will we ensure that the right subject tag is assigned to the right book?

[2020-04-16 07:27] drupol opened #3362 "When using the API, some covers are not available"
Hello,

I'm trying to get the cover of a book using its isbn-13 and no cover is found despite the fact that there is a cover for that book.

Book link: https://openlibrary.org/books/OL23175425M/Why_does_e_mc2

API images links:
* https://covers.openlibrary.org/b/isbn/OL23175425M-M.jpg
* https://covers.openlibrary.org/b/isbn/9780306817588-M.jpg

Using curl:

[code]

[2020-04-16 15:03] brierjon commented on #2657
@tfmorris still seeing valid ISBNs reporting as invalid in response. May need a few more lookup endpoints for improved handling.

https://openlibrary.org/sponsorship/eligibility/9789535111887
Tried also with dev and debug=true, but nothing but {"status": "error", "reason": "Invalid ISBN 13"} was returned.

Not Found on:
- Better World Books - **not** found: https://www.betterworldbooks.com/search/

[2020-04-16 18:34] BrittanyBunk commented on #2616
I found the reason why!
The button (read, borrow, etc.) link to a book in the IA, while the book covers connect to the Work page of the OL edition webpage of the button.

[2020-04-16 18:37] BrittanyBunk commented on #3356
You don't mean putting these subject tags on the subjects page when you say 'creating' right?

[2020-04-16 19:09] mekarpeles commented on #1920
Without changing code, can we please just show "Author editing requires javascript" and set the author as not content editable?

If there's contention on this issue (e.g. how it factors into accessibility) and if authors field won't work either way w/o js, let's just make it easier on ourselves and provide messaging rather than adding other js.

@jdlrobson we agree this is a small good scoped issu

[2020-04-16 19:20] BrittanyBunk commented on #2072
I forgot to mention, but can there be a subject called 'all books'.

Also, some pages were sorted by 'read', 'borrow', etc. These would be good too.

[2020-04-16 19:28] BrittanyBunk commented on #3356
I found: https://github.com/internetarchive/openlibrary/blob/refactor/everything/openlibrary/templates/subjects/index.html. Are we talking about this?

[2020-04-17 04:32] devarshigoswami commented on #1920
@mekarpeles Thank you ,sir..I'll be on it asap.

[2020-04-17 22:40] jdlrobson commented on #2247
I was a little confused by the context for reopening. After investigating this some more I assume this relates to the slack conversation between @mekarpeles and Brittany. For those who missed it, apparently this fix is not applying to:
https://openlibrary.org/subjects/in_library#ebooks=true&sort=edition_count
when you click right arrow.

The carousel item is rendered on the server side so this is

[2020-04-18 06:05] cclauss opened #3365 "Audit/cleanup the 48 open Solr bugs, some over a decade old"
There are 48 open Solr bugs, some over a decade old.
https://github.com/internetarchive/openlibrary/issues?q=label%3A%22Module%3A+Solr%22+

Is there something that we should be doing to reduce this number and especially where changes would streamline librarian workflows?

### Evidence / Screenshot (if possible)

### Relevant url?
https://github.com/internetarchive/openlibrary/issues/3290#issuecomm

[2020-04-18 14:29] BrittanyBunk opened #3366 "Add Open Library (OL) Team to Footer"
Cleanup of footer - part 1

Reference pages:
https://openlibrary.org/about/people
Footer of https://openlibrary.org/

### Problem
It's difficult to find the OL team without searching for it. It would be better if it's in the footer.

Before:
![image](https://user-images.githubusercontent.com/55302685/79640275-8d34dd80-8145-11ea-976d-189f8a88d27b.png)

### Solution
![image](https://user-images.gith

[2020-04-18 14:34] BrittanyBunk opened #3367 "Move Return to Top to the bottom middle"
Footer Cleanup - part 2

### Problem
Some links do not belong in the columns of the footer, but the bottom instead. Proposal to move them to the bottom center instead

Before:
![image](https://user-images.githubusercontent.com/55302685/79640558-113b9500-8147-11ea-9d03-5da018c5baa8.png)

### Solution
![image](https://user-images.githubusercontent.com/55302685/79640539-f6692080-8146-11ea-8698-9cd4b4

[2020-04-18 14:39] BrittanyBunk opened #3368 "Remove 'Home' from footer"
Footer change - part 3

### Problems
- The 'Home' button isn't necessary, as a person who clicks 'return to top' and clicks the OL icon can return to home.
- The 'home' page really isn't a 'discovery'. The 'discovery' section should really be a directory for what can't be easily found - because then you're truly 'discovering' something
- there are more important links to add there.

Before:
![imag

[2020-04-18 14:45] BrittanyBunk opened #3369 "Move Terms of Service to bottom"
Footer cleanup - part 4

### Problems
- The Terms of Service normally goes at the bottom of pages, so that it's clear where to find them. Right now, it's too difficult to find and moving it to the bottom will help out with that.
- The space in the OL column should be able to make room for better links

Before:
![image](https://user-images.githubusercontent.com/55302685/79640804-6d52e900-8148-11ea-

[2020-04-18 14:57] BrittanyBunk opened #3370 "Change 'donate' in footer"
Footer change part 5

### Problems
- The reason is if someone wants to donate to the Internet Archive (IA), they should do it on the IA website, not the OL
- the Sponsorship page https://openlibrary.org/sponsorship is kind of the OL's version of a donate page.
- it's too difficult to find the sponsorship page not to have it at the bottom

Before:
![image](https://user-images.githubusercontent.com/

[2020-04-18 15:03] BrittanyBunk opened #3371 "Add K12 link in footer"
Footer change - pt 6

### Problem
- it's going to be difficult to find the K12 button after it gets removed from the banner

Before:
![image](https://user-images.githubusercontent.com/55302685/79640983-aa6bab00-8149-11ea-9100-e1b6ca36d540.png)

### Solution
After (disregard font):
![image](https://user-images.githubusercontent.com/55302685/79641239-169ade80-814b-11ea-8eb3-836377be45fd.png)

[2020-04-18 15:09] BrittanyBunk opened #3372 "Suggestion: Add statistics page to footer"
Footer change - part 7

Use: https://openlibrary.org/stats

### Problems
- No statistics section except on the front page (but might want to be seen outside of that)
- front page statistics has multiple links, which'll be difficult for a visitor to know which one to refer to for the OL one

Before:
![image](https://user-images.githubusercontent.com/55302685/79640983-aa6bab00-8149-11ea-9100-e1b6ca3

[2020-04-18 15:23] BrittanyBunk opened #3373 "Change 'books' link in footer"
Change footer: part 8

### Problems
- There's already a 'search' button - it's the advanced search, so why do we have 2 search buttons, when we only need one?
- there's a lack of a 'browse' button - as that should be under 'discovery' - so people can find it
- the 'books' button shouldn't be where I use it like google - only able to find a book if I know what I'm looking for, but more of like a re

[2020-04-18 15:34] BrittanyBunk opened #3374 "Add 'community discussion' option for new github issue"
### Referring to:
https://github.com/internetarchive/openlibrary/issues/new/choose
![image](https://user-images.githubusercontent.com/55302685/79641952-93c85280-814f-11ea-9f33-c0a885fc2852.png)

### Problem
There are only options for extremes. Either: 1) put in a request for something to get done or 2) ask a question to get an answer. There's no middle. If there's a middle, where people can put a

[2020-04-18 16:20] BrittanyBunk opened #3375 "Expand the OL Team top description"
### Reference
https://openlibrary.org/about/people
![image](https://user-images.githubusercontent.com/55302685/79642289-8f049e00-8151-11ea-9676-920b7fb2fa3e.png)

### Problems
- It's great in showing who's on the team, but not if people want to be a part of it. So I'm thinking if people want to get involved, point them to where they need to go.
- This doesn't explain that the OL team is part of th

[2020-04-18 16:33] BrittanyBunk commented on #3365
Thank you for bringing this up @cclauss. This is going to require me thinking about something effective, as I haven't done anything on Solr before.

I could think of ineffective methods only (like making it more prominent (set the status higher, tag people, etc.), add the [Solr wiki page](https://github.com/internetarchive/openlibrary/wiki/Solr) to each issue, create a whole github group dedicated

[2020-04-18 17:29] devarshigoswami commented on #1920
@mekarpeles @jdlrobson
done with the <noscript> part ..and I'm trying to disable the <input> while JS is disabled by using `disabled` attribute...
my approach is keeping disabled =true as default and using  `document.getElementById('author-$i').disabled = false;` in the scripts portion in `author-autocomplete.html` ..
but when I do so, the input field disappears... Could you please tell me where I

[2020-04-18 17:43] ishank-dev commented on #3313
This bug is caused when the ePub or Kindle format is not available for the particular book. It would be great if we could show the available formats when the user clicks on download. If @cdrini or @mekarpeles could suggest some approach to make it possible, I can work on this issue.

[2020-04-18 19:06] mekarpeles commented on #2481
This looks like our problem:
[code]

[2020-04-18 19:59] mekarpeles commented on #3369
We recently redesigned the footer and decided to put the Terms of Service where it is.

[2020-04-18 19:59] #3369 closed

[2020-04-18 20:01] jdlrobson commented on #1920
Could you share the code either by pushing the changes you have so far or uploading a patch/code to gist.github.com ? Happy to help you debug. :)

[2020-04-18 20:02] mekarpeles commented on #3371
We're going to be adding this to the Nav bar (there's a PR which will be going on this weekend or Monday). I don't want to overload the footer with links. We should add links carefully and thoughtfully based on data we've collected from google analytics.

[2020-04-18 20:02] #3371 closed

[2020-04-18 20:28] mekarpeles commented on #3365
@BrittanyBunk can you please not speak authoritatively as to our roadmap. @cdrini is the lead for Solr. He makes the calls.

[2020-04-18 20:43] #3367 closed

[2020-04-18 20:43] mekarpeles commented on #3355
This is a ticket for slack, not for the openlibrary code base

[2020-04-18 20:43] #3355 closed

[2020-04-18 20:49] mekarpeles commented on #3277
Hi, I think this conversation needs to happen on a community call and not on the tracker; this is turning into a large discussion over something which is a pretty scoped communication.

[2020-04-18 20:49] #3277 closed

[2020-04-18 20:56] mekarpeles opened #3376 "Proposed updates to footer"
The following were proposed by @BrittanyBunk, to be discussed during our next community call.

#3366
#3367
#3368
#3369
#3370
#3371
#3372
#3373

### Describe the problem that you'd like solved

### Proposal & Constraints

@tabshaikh which of these changes (if any) do you feel strongly for / against? Let's help scope these changes and then you and Brit can bring this to a community call for feedback

[2020-04-18 20:57] #3366 closed

[2020-04-18 20:57] #3368 closed

[2020-04-18 20:57] #3370 closed

[2020-04-18 20:57] #3372 closed

[2020-04-18 20:57] #3373 closed

[2020-04-18 21:00] mekarpeles commented on #3374
Question is currently playing the role of Community Discussion. I believe we had a community call where we discussed this point, and instead of making 2 new types, we went with Question.

[2020-04-18 21:00] mekarpeles commented on #3374
Let's bring this up as a discussion point on Tuesday

[2020-04-19 00:29] BrittanyBunk commented on #2066
Mek said that there's been talks about having questions autogenerate on github from questions people ask in the intermediary page (as people would be able to ask questions from it - I'm assuming).

[2020-04-19 00:34] BrittanyBunk commented on #2066
If the bot account can route the emails that might be received when people ask a question to a place that is not on github to prevent privacy issues, then that will help.

[2020-04-19 00:54] BrittanyBunk commented on #3355
@mekarpeles If that is true, as I assumed internetarchive/openlibrary meant all Open Library issues, not just developer ones, then why is this not explained in https://github.com/internetarchive/openlibrary/wiki/Interacting-with-GitHub-Issues? Also, if that is true, then there should be a place on Github that separates the non-developer issues from the actual ones - I mean a simple label is fine o

[2020-04-19 00:59] BrittanyBunk commented on #3277
@mekarpeles I understand that community discussion issues are going to be long, but there needs to be a place for them to appear. A community call hour won't be enough time and most definitely wouldn't be beneficial - as it'll take away from more important matters. This is what I was referring to in terms of a more decentralized place to work on matters with the community in detail. If I made some

[2020-04-19 01:01] BrittanyBunk commented on #3376
Thanks for putting them in one place! I will definitely not mind discussing it during the next community call for sure.

[2020-04-19 02:40] BrittanyBunk opened #3377 "test!"
### Question

### Additional context

### Stakeholders

[2020-04-19 02:40] #3377 closed

[2020-04-19 04:34] devarshigoswami commented on #1920
I've submitted a PR, please help me decode what is going wrong

[2020-04-20 13:34] cdrini commented on #3365
Hey! So I did a full audit of all the "Module: Solr" & "Theme: Search" issues a while back here: https://coda.io/d/Search-Planning-Notes_dO8sGM90quA/Epics-in-Progress_su1I2#_luBNR . This is linked to on the wiki and project board (although I haven't updated the project board in a while). The two most impactful improvements to solr are (1) create a re-indexable solr (completed this past month); and

[2020-04-20 14:12] cdrini commented on #3290
@BrittanyBunk Thanks Brittany! Reindexing is one of the blockers for allowing us to _work_ on #718 ; it unfortunately doesn't impact the issue itself; that must've been a typo in the notes.

@tfmorris Yep; I'm aware of that issue. I believe updating to solr 8 (#3317) is more important (which is why I've also taken _that_ up in my milestone for this month). Trying to fix #178 before #3317 would req

[2020-04-20 14:15] cdrini commented on #3290
I'm happy to accept #599 as a temporary patch until we get ICUFolding with solr 8; does that seem reasonable? I can include that in the May 1 solr reindex.

[2020-04-20 15:31] BrittanyBunk commented on #3365
@cdrini That's what I was thinking. It needs to switch over to do everything else - no need to try to make everything work on an outdated Solr - as that won't accomplish much. I mean, you said you'll get to it - and I believe that would be done once the transition is complete - so it made sense to me.

Question: are you the only person that can work on the solr bugs? Just so I know to avoid them i

[2020-04-20 15:34] BrittanyBunk commented on #3365
I'm just referring (or 'echoing' if that's a preferable word - not being the decision-maker - I didn't say I would work on them specifically) to what @cdrini and others mentioned before in what would be work on - that yes - some of these do need to be worked on. So I'm really confused by this.

[2020-04-20 15:53] BrittanyBunk commented on #3290
@cdrini probably. I guess it was confusing. Maybe the notes can be fixed. Also, how come your trying to work on a closed issue: #718? I don't even see how it relates, but I guess I'm confused is all. I mean, I would like to setup an enthusiast and beta tester's (EBT) documentation wiki, but it's difficult navigating everything to make it possible lol. Maybe you're right and I should also wait unti

[2020-04-20 16:09] mekarpeles commented on #3365
This issue within itself doesn't prescribe an actionable, closing and leaving to @cdrini to create the appropriate solr project board or `epic`

[2020-04-20 16:42] cdrini commented on #3365
Updated the title to make actionable + added to board :+1:

[2020-04-20 16:42] cdrini commented on #3365
@BrittanyBunk Nope! The only thing that was explicitly dependent on me was the solr-reindexing flow. Now that we're using docker, anyone should be able to work on anything. I've taken up solr 8 upgrade because I think it's important and requires a decent chunk of time which volunteers might not be able to commit to.

[2020-04-20 16:45] cdrini commented on #3290
Ahhh, I meant #178 :P Fixed. I'll fix the notes :+1:

[2020-04-20 18:39] eshnil opened #3382 "Add LearnAwesome.org to ID Numbers list"
I work on https://learnawesome.org which is an open-source repository of learning resources. For books, it links out to the corresponding OpenLibrary page. But LearnAwesome.org also maintains links to related multimedia content (author's podcasts, TED talks, summaries written by others). See https://learnawesome.org/items/5c731d15-6a53-432e-82e4-a4de9fecb2d1-the-first-20-hours for example.

### De

[2020-04-20 18:41] tabshaikh commented on #3382
tagging @mekarpeles and @seabelis for triaging :)

[2020-04-20 20:43] #3036 closed

[2020-04-20 20:58] #607 closed

[2020-04-20 20:59] cdrini opened #3385 "Index lists in Solr"
Blocked by: #2609

---

### Describe the problem that you'd like solved
Want to do things like:
- Search for lists using partial title matches
- Sort books by most lists
- Show other lists containing a title
- Maybe more?

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-04-20 21:03] cdrini commented on #382
Will be solved by https://github.com/internetarchive/openlibrary/issues/2609

[2020-04-20 21:03] #382 closed

[2020-04-20 21:11] cdrini commented on #3252
See related PR: https://github.com/internetarchive/openlibrary/pull/2924
And related user-reported issue: #3340

[2020-04-20 21:19] mekarpeles opened #3386 "Covers DB not backed up since 2012"
### Evidence / Screenshot (if possible)
On ol-covers1, we can see that a backup to archive.org/details/ol_data has not been done since 2016 by (I believe) @anandology. We'd be in some trouble if the cover store disks failed. Maybe @abezella can help us take a snapshot of this disk as a failsafe.

Running covers backup should have a script in /scripts and I believe there's a manual process for doin

[2020-04-20 21:25] tfmorris commented on #2657
Reopening per OP's request (not sure why you don't have permission to do it yourself @brierjon).

Having said that, the team may just end up closing it again since you appear to be attempting to use an internal API which is undocumented for external use (and a very unreliable on at that, as you've discovered).

What are you trying to do? Do none of the documented APIs support your use case? If you

[2020-04-20 22:52] #2481 closed

[2020-04-20 22:57] #2943 closed

[2020-04-20 23:23] tfmorris commented on #2943
Apparently @seabelis provided feedback on chat, not here, but I think she agreed the MRU was going to be almost as bad for large lists. My personal preference order is 3, 4, 2, 1. The solution in #3310 is only marginally better than random.

[2020-04-20 23:27] #3069 closed

[2020-04-21 00:37] anandology commented on #3386
I guess we archive every 10000 covers and move it to the archive storage.
There should be a script for doing that automatically.

On Tue, Apr 21, 2020 at 2:49 AM Michael E. Karpeles <
notifications@github.com> wrote:

[2020-04-21 00:43] anandology commented on #3386
I guess you need to run this:

https://github.com/internetarchive/olsystem/blob/master/bin/archive-covers.sh

On Tue, Apr 21, 2020 at 6:07 AM Anand Chitipothu <anandology@gmail.com>
wrote:

[2020-04-21 00:53] anandology commented on #3386
On Tue, Apr 21, 2020 at 2:49 AM Michael E. Karpeles <
notifications@github.com> wrote:

The last backup was in 2012, not 2016.

https://archive.org/details/l_covers_0006

I guess so. Happy to check if I still have access to the server.  @abezella?

[2020-04-21 03:04] #2046 closed

[2020-04-21 03:19] LeadSongDog commented on #3357
#2156 Relates

[2020-04-21 04:41] BrittanyBunk commented on #3290
@cdrini Wow! Clear. I agree - it does make sense to move forward in order to address what's in the back to keep up. That's how I've done it in my life, so it works - I think you got a great plan and look forward to the changes :) Thanks for helping with the corrections.

[2020-04-21 04:49] BrittanyBunk commented on #3365
@cdrini smart! Thanks. Awesome. I can't run docker, due to not having Windows 10 (I have 8.1). Is there a workaround for it, or is it all docker?

PS - I wish the docker documentation on the OL said both: 1) requirements to install, 2) what it's used for. Mek didn't want too much info that developers don't need it - because they created the software. That's not going to be good for newcomers who m

[2020-04-21 04:50] BrittanyBunk commented on #3365
@mekarpeles where's the 'board'?

[2020-04-21 05:04] cclauss commented on #3365
Docker will install on Windows 8.1 as discussed at https://docs.docker.com/toolbox/toolbox_install_windows

[2020-04-21 05:33] BrittanyBunk commented on #3365
It didn't work, because the virtualization is disabled. Thanks :)

[2020-04-21 07:11] brierjon commented on #2657
Thanks for opening, this issue may need a better title as it is for ongoing work on a graceful handling of valid ISBNs in the sponsorship query related to #3168 and the graceful handling process and the comment on [2517](https://github.com/internetarchive/openlibrary/issues/2517#issuecomment-600097626). The same core issue is present as the response is not correct for valid ISBN values.

My usecas

[2020-04-21 08:42] cclauss commented on #3262
What is the next step?

[2020-04-21 15:10] cclauss opened #3390 "MarcBinary(data): Should the data parameter be bytes or str?"
### Question

marc_binary = [MarcBinary(bytes_or_str)](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/marc/marc_binary.py#L106-L112) ?

[code]
Some of our code is passing in bytes and other parts are passing in str.  On Python 2, we can get away with that because bytes = str but on Python 3 bytes != str so we need to be clear.  I had assumed str (six.string_types) i

[2020-04-21 15:48] BrittanyBunk commented on #2657
@brierjon The book you are looking for is not in the [OL catalog](https://openlibrary.org/search/inside?q=Anopheles+mosquitoes+-+New+insights+into+malaria+vectors). I don't believe the book will be available for sponsorship unless it's there, because I see that the bot only takes up books once they're in the catalog. If you want it to be available for sponsorship, you'll need to add the book in.

[2020-04-21 16:45] BrittanyBunk opened #3391 "Prevent invalid/future dates in 'first_publish_date' field"
### reference
related to #3308 and /openlibrary-librarians/issues/1

### Problem
The dates for the publish date are not correct. Anything past 2020 shouldn't be correct right now, because a book can't be published in the future. However, maybe a book is going to be published in the future - so it's possible to allow for up to 5 years from the current date to be added in.

### solution
In the form

[2020-04-21 16:49] BrittanyBunk commented on #3382
I'm looking at this - I'm not the decision-maker here, but what benefit would adding this website be to the OL? I looked at your website and didn't see much on it, so I'm asking for more info on that.

[2020-04-21 18:41] seabelis commented on #3382
@eshnil Since the corresponding pages are not edition-specific, it would be appropriate to link from work-level links rather than the editions. Otherwise you'd have to add the links to each edition rather than one time to the work.

[2020-04-21 18:49] tabshaikh commented on #3366
@BrittanyBunk where would the team link lead

[2020-04-21 19:29] tfmorris commented on #3390
I'd guess bytes, but the spec is here: https://www.loc.gov/marc/specifications/

[2020-04-21 19:49] brierjon commented on #2657
@BrittanyBunk it is correct that not all books with valid ISBN are in OL, but the issues is mainly that the API needs to respond with an accurate error statement not generic error. The invalid ISBN 13 is not accurate, but could not locate ISBN 13 is accurate. Even better would be could not locate ISBN 13 the book is not yet found in open library or an open library partner 1. xyz, 2. zzz, etc.

[2020-04-21 20:02] eshnil commented on #3382
@seabelis Completely agree. Could you please guide me on what change I should make in my PR for this?

@BrittanyBunk I was actually motivated by GoodReads being supported here which is a non-FOSS, for-profit sites and feels much more like an advertisement and seems directly in conflict with OpenLibrary unlike LearnAwesome which is open-source and has a different goal. I am actually perplexed by [y

[2020-04-21 20:51] eshnil commented on #3382
I realized I didn't directly address your question :-)

It can help OL users to _use_ a given book effectively in their _learning_ projects. For eg, the users can discover related works - which are not just books - such as author's TED Talk, links to summaries and critiques of this book by other experts, create a personalized learning path and find a community of learners interested in the same to

[2020-04-21 22:31] #3344 closed

[2020-04-22 00:10] #3042 closed

[2020-04-22 00:33] mekarpeles commented on #89
@seabelis , @cdrini is this still a problem? If not, feel free to close.

[2020-04-22 00:34] mekarpeles commented on #96
Closing, subject pages are going to use the search UI

[2020-04-22 00:34] #96 closed

[2020-04-22 00:41] mekarpeles commented on #163
@koderjoker this issue is currently marked as Work In Progress, how would you like us to label this issue?

[2020-04-22 00:44] mekarpeles commented on #183
Does anyone feel very strongly about this? This mostly `Affects: Librarians`. Maybe this should only show a message if someone `is` a librarian?

[2020-04-22 00:45] BrittanyBunk commented on #2657
@brierjon I see. Maybe you could give a before and after picture so that people understand what you mean, it's really difficult to go from the title to what you're saying now.

[2020-04-22 00:45] mekarpeles commented on #341
I'm going to assume this is resolved, cc: @bfalling. Closing.

[2020-04-22 00:45] #341 closed

[2020-04-22 00:53] #524 closed

[2020-04-22 00:57] BrittanyBunk commented on #3382
What you're saying really truly makes sense. If there's a place to say 'LearnAwesome.org' is a non-commercial, multi-media, educational open-source catalog for a person's learning ventures (or projects, any wording you choose is fine).

So what you were saying about the conflicts of commercial sites on the OL does make sense - and I thought of a new issue/solution because of it: because there are

[2020-04-22 00:58] #685 closed

[2020-04-22 02:52] mekarpeles commented on #687
We're doing increasingly more newsletters via Internet Archive, punting for now and sending to backlog

[2020-04-22 02:52] #687 closed

[2020-04-22 03:04] #691 closed

[2020-04-22 04:49] jdlrobson commented on #2836
Still an issue.
The images in question are pointing to URIs such as
//covers.openlibrary.org/b/id/undefined-M.jpg

This is because a cover id is not defined in https://openlibrary.org/publishers/John_Bartholomew_&_Son.json?limit=12&offset=12

Not sure if this is the client side handling or the API itself.

[2020-04-22 04:55] jdlrobson opened #3393 "Data integrity: Internet Archive ID is 't' generating bad thumbnails in carousels"
This relates to the slack conversation between @mekarpeles and Brittany. For those who missed it, apparently this fix is not applying to:
https://openlibrary.org/subjects/in_library#ebooks=true&sort=edition_count
when you click right arrow.

The carousel item is rendered on the server side so this is likely an issue in the template.

The template uses the following code
If an Internet Archive ID i

[2020-04-22 04:55] jdlrobson commented on #2247
After some investigation @mekarpeles this bug has nothing to do with the new issue. I've raised #3393 to describe it better.

[2020-04-22 04:55] #2247 closed

[2020-04-22 05:15] jdlrobson commented on #1920
@mekarpeles I think the noscript is a great idea, but I want to point that I find it really bizarre we are not hiding the X on no js pages as well/ Especially given we hide the X button for books with only one author (so as not to end up with a book without an author)!

Just for comparison here are the two experiences as they currently are on production.

# With JS enabled
<img width="1002" alt="S

[2020-04-22 07:11] seabelis commented on #89
No. I've not observed this.

[2020-04-22 07:11] #89 closed

[2020-04-22 08:04] seabelis commented on #3382
@eshnil @cdrini is assigned (and far better qualified than I) to review your PR. What I will note is that the links at work-level are not based on identifiers, so there wouldn't be a modification needed to the input form. To add the links programatically would require a script/bot (@cdrini correct me if I'm wrong). You would already be able to add them manually via the edit form.

[2020-04-22 14:40] seabelis opened #3395 "Regression - Cover change of work requires refresh to view"
Possible regression of PR #3353  . New cover is not displayed after update until page is refreshed.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to https://openlibrary.org/works/...
2. Do change cover of work (cover does change, but old cover still displayed)
3. Refresh. New cover can now be seen.

* Actual: Old cover is displayed.
* Expected: New cove

[2020-04-22 15:56] jessamynwest commented on #183
Yeah I think a message is necessary if you're going to address this but could be only for librarians if they are the only people who see it.

[2020-04-22 16:44] BrittanyBunk commented on #3308
@seabelis your thoughts?

[2020-04-22 19:26] seabelis commented on #3308
The overwhelming majority of editions have just a year or year and month. This seems to overcomplicate matters. If there has to be an input form like this, then maybe it's possible to show just the year and month fields (maybe day) with an option to extend to an 'advanced' form with the date range and BCE.

I'd really prefer to just put additional instructions on the form asking folks to use the y

[2020-04-22 21:31] BrittanyBunk commented on #3308
This follows the EDTF format, which it's why it's this way. You're referring to the last image I posted right? A year range I feel is relevant, but it's up to you on that.

[2020-04-23 04:35] bluedaze commented on #3390
Honestly I'm a little miffed about this entire function to begin with. I spent hours today pouring over documentation trying to figure out why it was so hard to convert test_get_subjects.py to python3. I know way more about encoding today that I ever thought I would learn (which was very enlightening! Fun, actually!) but I still have no idea what this function is expecting.

I know that marc21 rec

[2020-04-23 05:54] cclauss commented on #3390
Wow!  It is wonderful to hear that you find encoding fun.  I am really no good at it despite numerous attempts at gearing up on the topic.  I am remarkably slow at finding solutions to this class of problem so it is great that you are digging in.

If you are so inclined, you might look into our dependency [pymarc](https://gitlab.com/pymarc/pymarc/-/blob/master/README.md) as the answers might be lu

[2020-04-23 15:25] cdrini opened #3396 "Method to convert LCCs to LCC class names"
LCCs can be displayed as a ~path down the classification tree. These provide useful information which we want to display to the user. In order to do that, we need to be able to decode the LCC into classes. (This issue split off from #3290)

### Describe the problem that you'd like solved
Want to be able to programmatically get the data on the right:

| Sample LCC from a real book | Expected Result

[2020-04-23 15:28] cdrini commented on #3290
I created a new issue for getting the LCC class names from the LCC, since this issue is going to be closed soon :) See #3396

[2020-04-23 15:34] BrittanyBunk commented on #3396
@cdrini There are two outlines, the LCCO and the schedule outlines. @cclauss was using the schedule outlines: https://www.loc.gov/aba/cataloging/classification/. Should we use the LCCO if @cclauss's work is based on the schedules?

[2020-04-23 15:39] BrittanyBunk commented on #3396
Although incomplete, the LCCO is much easier to work with, because the schedules will have subclasses where the indentation is both forward and backward and idk how to visualize or program that in a way that makes to viewers and coders. The LCCO only indents forward, so the classes always come after each other (not both before and after each other).

An example would be when it looks like this in

[2020-04-23 15:49] mekarpeles commented on #2940
Given we do have xauthn graphite stats, tempted to close;
@cdrini?

[2020-04-23 15:52] mekarpeles commented on #2396
Sure, @nsudarsanam we'd appreciate your help with this one if you're interested :)

[2020-04-23 15:56] cdrini commented on #3396
I believe @cclauss is using the dumps from https://github.com/thisismattmiller/lcc-pdf-to-json . I think using those seems best, because we can get something working and experiment with it to see how it "feels" :+1: Whatever we choose is not set in stone. We can always adjust it to handle more complexity if we find we need to :)

[2020-04-23 15:58] mekarpeles commented on #2380
hey @tmcw, is this still an issue of interest?

[2020-04-23 16:01] BrittanyBunk commented on #3396
@cdrini agreed. Let's go with what's already being used before taking on more :)

[2020-04-23 16:14] mekarpeles commented on #3357
There's existing code here already for doing similar processing on Archive.org books:
https://github.com/Open-Book-Genome-Project/sequencer

This is a guide on downloading and using Archive.org files (e.g. djvu.xml):
https://docs.google.com/document/u/1/d/1eybbw_qZ3EE9CJg868BhPuq5z_36Wq2G0Ki3Lkde9v8/edit?ts=5e4516a6#heading=h.u35u6r32vmeh

There's plenty of background information here:
https://boo

[2020-04-23 16:18] mekarpeles commented on #3357
**Next Steps**
Let's start with identifying `Copyright` pages (this seems like an easier one). The code we currently have: https://github.com/Open-Book-Genome-Project/sequencer/blob/master/bgp/runner.py currently works off of the djvu.txt because the word-frequency modules we're currently running do not require us knowing page numbers. However, identifying page types will require page numbers, so

[2020-04-23 16:24] cdrini commented on #3396
Next step is once @cclauss has a method he thinks is ready, he or I can add it to the UI :) Does that seem correct @cclauss ?

[2020-04-23 18:37] bluedaze commented on #3390
Without working on this project though I would have never approached any sort of programming regarding this subject. But learning lower level stuff like this has always been sort of fascinating to me. However, when trying to some up with a solution to a problem it's frustratingly dense, and I am having trouble with it. This is the sort of problem that I would hope I can document so that the next d

[2020-04-23 18:39] tfmorris commented on #3390
PyMARC is a red herring. It does Unicode decoding by default and would take care of all this nastiness internally, but it is being used only in a most minimal fashion by the bastardized homegrown OL MARC parser.

It might not be what you want to hear, but at last some consideration should be given to whether it would be less work to switch to pymarc entirely rather than fixing the homegrown parser

[2020-04-23 18:41] #2330 closed

[2020-04-23 18:53] tfmorris commented on #3390
BTW I've suggested PyMARC before to @hornc https://github.com/internetarchive/openlibrary/issues/713#issuecomment-355185495

[2020-04-24 07:27] ScarlettRed opened #3398 "adding a default cover template"
### Describe the problem that you'd like solved
Sometimes while going through OL and book carousels, it's very difficult to know about a book that doesn't have a cover or a blank cover sometimes. We have to hover over the book icon for a couple of seconds to know about the name of the book, which is very frustrating at times because without a name one can never know about the book in the book caro

[2020-04-24 08:27] tabshaikh commented on #3357
A heuristic to detect a chapter would be the word `chapter` would mostly be the first word on the chapter page and pages with less than 10 words which contains the word `chapter` would be great candidates as chapter pages.

[2020-04-24 10:23] seabelis commented on #3398
Related to https://github.com/internetarchive/openlibrary/issues/2084

[2020-04-24 13:22] LeadSongDog commented on #352
@mekarpeles I’ve never understood the point of a Needs:Help tag that doesn’t identify the help needed.  That said, what’s the sticking point?

[2020-04-24 16:30] EoinHo commented on #452
I may be able to help with this issue. What is the process to move this forward?

[2020-04-24 16:45] kaaniboy commented on #329
Unfortunately, it seems like the CORS issue still persists for the Covers API. Is there any way this endpoint can be adjusted as well?

[2020-04-24 16:50] kaaniboy opened #3399 "Address CORS issues with Covers API"
A continuation of #329. It seems like the Open Library Covers API endpoint still has CORS issues, meaning that we cannot make requests to the endpoint from within the browser.

### Describe the problem that you'd like solved

The Covers API endpoint should be adjusted to allow requests directly from browsers.

### Proposal & Constraints
This can be done by adjusting the `Access-Control-Allow-Origi

[2020-04-24 16:53] LeadSongDog commented on #3357
Copyright pages in any language generally can be expected to have:
-a placement near the start of the volume
-one or more 4-digit numbers, less than <scandate>+2;
-far fewer words than typical pages; and
-one or more place names.
They are normally found verso to (and following) the Title page, which can be expected to:
-state the long title (Duh!)
-state at least one author name (though often not

[2020-04-24 17:57] LeadSongDog opened #3400 "IA authors not imported to OL"
A work, OL17095543W, imported from and linked from an apparently good IA record, ldp_10924185_001, did not import the identified author. This might (or might not) be related to the presence of diacritics in the author’s name.

### Evidence
![9D040934-C446-451C-8B39-864EF28CD87F](https://user-images.githubusercontent.com/11435431/80240624-2d03d700-8630-11ea-9741-59c61058bfce.jpeg)

### Relevant url

[2020-04-24 18:16] LeadSongDog commented on #3400
Further example:
https://openlibrary.org/authors/OL1905495A was not imported with
https://openlibrary.org/works/OL17264686W/Pegāmbar_aso_Zarathostanā_janmārāno_ahvāl
from
https://archive.org/details/ldpd_8960439_000/page/5/mode/2up

[2020-04-24 21:51] cdrini opened #3401 "Getting 504s / crazy slow downs when borrowing from open library"
### Summary

- **What is wrong?**

- **What caused it?**

- **What fixed it?**

- **Followup actions:**

### Steps to close

1. [ ] Assignment: Is someone assinged to this issue? (notetaker, responder)
2. [ ] Labels: Is there an `Affects:` label applied?
3. [ ] Diagnosis: Add a description and scope of the issue
4. [ ] Updates: As events unfold, is noteable **provenance** documented in issue comme

[2020-04-24 21:52] cdrini commented on #3401
Sample error:

[code]

[2020-04-24 22:16] cdrini commented on #3401
More error

[code]

[2020-04-24 22:28] cdrini commented on #3401
This call was slow https://github.com/internetarchive/openlibrary/blob/c5bbfd7c7381ea1986835465dd5c7c738f0938a1/openlibrary/core/waitinglist.py#L266

[2020-04-24 23:27] tfmorris commented on #890
The final Python 2 release has been made: https://stackoverflow.blog/2020/04/23/the-final-python-2-release-marks-the-end-of-an-era/ and it will receive no more updates of any kind, including critical security bugs.

Every day from now on (since a few months ago really) makes for increased exposure to unpatched vulnerabilities compromising OpenLibrary production systems.

[2020-04-24 23:44] #3401 closed

[2020-04-25 00:02] mekarpeles opened #3403 "Remove calls to sync update_waitinglist"
This is a cleanup for #3402, it is tentatively determined that loan_sync from openlibrary.php within petabox is not required on borrow and the right logic should get called anyway when the join/leave waitlist logic is invoked within petabox lending internals.

[2020-04-25 00:39] cdrini opened #3404 "Sitemap returning 404"
The sitemap looks like it's no longer available

### Evidence / Screenshot (if possible)
Google Search Console:
![image](https://user-images.githubusercontent.com/6251786/80266730-77ef1000-866b-11ea-825b-fe8c1d492ec6.png)

### Relevant url?
- https://openlibrary.org/static/sitemaps/siteindex.xml.gz

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF75
- **Operating system?** Win1

[2020-04-26 03:59] the-nine-tail commented on #3404
Hello @cdrini by checking the sitemap I came to know that there might be an issue with "http header content-type" it should be application/xml instead of text/html

[2020-04-26 11:56] comzeradd commented on #2203
So, no answer to that? Is this something that a PR contribution would be welcome or would it be a waste of time?

[2020-04-26 13:56] koderjoker commented on #163
Paused working on it for the meantime, please remove the Work in Progress label

[2020-04-26 15:03] LeadSongDog commented on #2203
@mekarpeles Could you please provide the reasoning for this closure?

[2020-04-27 20:28] cdrini commented on #2396
This page 404s now; I believe it was deleted already.

[2020-04-27 20:28] #2396 closed

[2020-04-27 20:30] cdrini commented on #3170
P2 for now since prices currently disabled

[2020-04-27 20:34] cdrini commented on #557
This looks like it's working; w print-disabled ticked, print disabled renders: https://openlibrary.org/search?q=surely+you%27re+joking+mr.+feynman&subject_facet=Protected+DAISY&mode=printdisabled . Let's create another issue for improving the UX for print-disabled users.

[2020-04-27 20:34] #557 closed

[2020-04-28 17:25] cdrini opened #3412 "Add test-cafe tests"
Right now, we don't have _any_ tests that actually run the service (i.e. `docker-compose up -d`). Test-cafe seems like a good way to get this, as well as some more in depth front-end tests :+1:

### Describe the problem that you'd like solved
- Travis should error if `docker-compose up -d` would error
- A framework for adding e2e tests that gets run every time we push to Travis

### Proposal & Con

[2020-04-28 17:33] cdrini opened #3413 "Most authors cannot be deleted because of dangling references on editions which cannot be changed"
Editions hold a copy of the author OLID, which falls out of sync with the work, and cannot be edited via the UI.

- The root cause of this is #2625
- Related: #3343

### Steps to Reproduce

1. Go to https://openlibrary.org/authors/OL3099625A/Delete_duplicate
2. Press "Delete record"

* Actual: `This Author page cannot be deleted as 1 record(s) still reference this id. Please remove or reassign bef

[2020-04-29 13:47] cdrini commented on #3290
Closed by the PRs mentioned here. Unfortunately it's still living on dev.openlibrary.org , but here's a nice little demo:

* Library of Congress: https://dev.openlibrary.org/people/ScarTissue/lcc-list
* Dewey Decimal: https://dev.openlibrary.org/people/ScarTissue/ddc-list

[2020-04-29 13:47] #3290 closed

[2020-04-29 13:51] cdrini commented on #2913
@LeadSongDog  I'm going to leave this open as it's still stuck in dev.openlibrary.org, but searching by classifications works on dev.openlibrary.org (e.g. `lcc:QA135*`, `lcc:[PT5001 TO PT5980]`, or `ddc:6*`)

Here are some demos:

- Library of Congress: https://dev.openlibrary.org/people/ScarTissue/lcc-list
- Dewey Decimal: https://dev.openlibrary.org/people/ScarTissue/ddc-list

@BrittanyBunk #267

[2020-04-29 21:26] MatthiasWinkelmann opened #3414 "Edit Diffs fail to note changes to Links on Works"
Changes to the URL or anchor text of links on works are not detected by the diff algorithm. As a result, the diff view is sometimes just empty, or displays the erroneous (and grammatically slightly off) message "Both the revisions are identical.".

Steps to reproduce:

1. Edit some version with existing external links
2. change a link's URL and text
3. save and view the diff for this change

* Act

[2020-04-30 10:49] seabelis commented on #1808
Here is a list of test works that can be used for series feature development. https://openlibrary.org/people/seabelis/lists/OL153631L/series

[2020-04-30 15:24] BrittanyBunk commented on #1808
@seabelis You really didn't need to do that. I already generated a list of all 65,000 series on the OL. I gave it to @cdrini who is going to work on it, but to help you not waste time on generating lists like that (unless you really want to), here it is: https://github.com/BrittanyBunk/My-OL-files/tree/master/series

[2020-04-30 18:47] cdrini opened #3416 "Get a Python 3 powered staging.openlibrary.org"
We need a way to test python 3 more readily.

Has these parts:

- [x] #3417 Get Python 3 installed in the docker images
- [x] #3418 Create a flag (or something) to run the service inside docker using only Python 3
    - Depends on #3417
- [x] #3419 Create dev1.openlibrary.org which fully uses docker and a dummy database
- [x] Make dev1.openlibrary.org use python 3
    - Depends on #3418, #3419

##

[2020-04-30 18:53] cdrini opened #3417 "Get Python 3 installed in the docker images"
Subtask of #3416

### Summary of Requirements

- [x] Should be able to run `python3.8 -m pytest` inside a docker image
- [x] The regular service should run using python 2
- [x] The infogami submodule should still be python 2 compatible
    - Idea: Maybe need 2 infogami submodules pinned to different versions?
- [ ] The tests _DO NOT_ need to all pass; but they need to give the same results as Trav

[2020-04-30 18:59] cdrini opened #3418 "Create flag to run docker image using only python 3"
- Subtask of: #3416
- Depends on: #3417

An environment variable might be a good way to do this; those can be used from the docker-compose file to execute special paths.

### Summary of Requirements

- [x] Way for a developer to `docker-compose up` and get an environment that uses exclusively Python 3 to run everything (infogami, coverstore, solr-updater, etc)
- [x] Way for a developer to `docker-

[2020-04-30 19:12] cdrini opened #3419 "Create docker-based dev1.openlibrary.org"
Subtask of: #3416

### Summary of Requirements

- [x] dev1.openlibrary.org should be running
- [x] `docker-compose up -d` should fully start the service
- [x] It should not be linked to any production data

### Stakeholders

@mekarpeles @paulproteus

[2020-04-30 19:24] mekarpeles opened #3420 "Removing WARCDisk dead code + tests"
This is a followup to #3389; instead of merging this PR by @cclauss, @paulproteus and I decided to remove the dead code which the tests test and then add a link to the old scripts/ code for provenance sake.

### Proposal & Constraints

### Related files

openlibrary/coverstore/disk.py
openlibrary/coverstore/warc.py
scripts/test-py3.sh

### Stakeholders

@cclauss, @cdrini, @paulproteus

[2020-04-30 19:45] cclauss commented on #3417
Which of these tasks is not already done in #3411 ?

[2020-04-30 21:09] hornc commented on #3390
@cclauss It should only accept bytes, it does seem some of the code is using this inconstantly. Refactoring to make everything use bytes consistently may fix some bugs.
https://github.com/internetarchive/openlibrary/blob/952de9580fd99caebf5d89575591ef261671c5d2/openlibrary/catalog/marc/tests/test_get_subjects.py#L118-L120
and
https://github.com/internetarchive/openlibrary/blob/0db6c85da66f8a10bcdb

[2020-04-30 21:25] tfmorris commented on #1567
Merged with #715 since it's basically the same problem.

[2020-04-30 21:25] #1567 closed

[2020-04-30 21:34] tfmorris commented on #178
The fix for this is in https://github.com/tfmorris/openlibrary/commit/c7026ff67680e8848cd14130fb32b37fe6be08a0 and is straightforward, but it requires a Solr config change by OL staff which is unlikely to ever happen so unassigning myself.

[2020-04-30 21:41] tfmorris commented on #2270
Abandoning my branch. The fix is here: https://github.com/tfmorris/openlibrary/commit/33844d57843942a5ac0d49a7074c29851123cda6

[2020-04-30 21:55] tfmorris commented on #1040
@mekarpeles Not sure why you added my name to this, but please don't.

[2020-04-30 22:31] cdrini commented on #3417
I need to test locally, to see if `pytest` works from the docker image. When I was playing around with that I think `pytest` needs infogami master to run, but need to test to make sure.

[2020-05-01 00:45] tfmorris opened #3421 "Uneditable bad date field in author record"
The author record at the URL below has a `date` key containing the string "(Dmitriĭ Nikolaevich)" which is rendered for display under the author's name, but not editable anywhere.

### Relevant url?
https://openlibrary.org/authors/OL1285518A
https://openlibrary.org/authors/OL1285518A.json

### Steps to Reproduce
1. Click the URL
2. Click the "Modifier" button

* Actual: The field isn't available

[2020-05-01 01:14] tfmorris commented on #183
It sounds like a very useful, but not necessarily high priority, feature to me.

The whole goal of OpenLibrary is that, like Wikipedia, ***everyone*** is a librarian, right? That would imply that it should behave the same way for everyone.

[2020-05-01 01:24] tfmorris commented on #3042
It would be helpful to have an explanation as to why this got closed.

The drag-to-select functionality was broken as part of the front end "refactoring". I believe it used to not only change the displayed count for the selected date range, but also use that as a facet/filter.

Related issues are #2483, #2519, #2520

[2020-05-01 04:59] cclauss commented on #3417
Infogami master is brought in on [line 76](https://github.com/internetarchive/openlibrary/blob/20a84a92142d94d2ba664e8d426ac1413e21d482/docker/Dockerfile.olbase#L76).

[2020-05-01 15:05] manumazu opened #3424 "Applying for a bot account"
### Question
Hello, could you add my account as bot in order to use the https://openlibrary.org/api/books ressource ?
My user on openlibrary.org is "bibliobot".
Here are IPs of server allowed to request your api :
78.40.125.148
82.245.203.17

### Additional context
I am working on an application for people who want indexing and share there bookshelf.
This question is for @mekarpeles or @hornc

Tha

[2020-05-01 15:09] BrittanyBunk commented on #3247
@seabelis maybe this can be moved to the librarians repository?

[2020-05-01 15:15] seabelis commented on #3247
I think only admins have access to the Solr console, so no it should not be moved.

[2020-05-01 15:16] BrittanyBunk opened #3425 "Shorten work/edition URLs"
### problem
URLs are too long and the tail end of them are not necessary, as they change whenever the book title gets changed. So removing it might let the site run faster and be easier to copy/paste/type in. Shortened versions do work in the same way as the current lengthier ones, so no need to have what's unnecessary around.

### solution - examples
- Work:
now: https://openlibrary.org/works/OL2

[2020-05-01 15:22] BrittanyBunk opened #3426 "Create instructions for handling GitHub issues better"
### problem
not every issue on GitHub is a priority for the OL to handle. However, it looks like they all are currently. This causes people to work on all issues assuming that they're a part of the OL when they're not, leading to both a waste of time and confusion of what the OL is about.

### solution
Make the GitHub page more professional by adding in instructions at the top of the issues page t

[2020-05-01 17:59] cdrini opened #3428 "Lending logging resulting in large logs on ol-webX (100G)"
upstart.log is ~103G

- loan_sync being logged a lot
- lending logging a lot

### Proposal & Constraints
- Maybe add a ballast file

### Related files
- upstart.log

### Stakeholders
@mekarpeles

[2020-05-01 20:34] cdrini opened #3429 "Investigate core.lending exceptions"
Core.lending seems to be erroring a lot. It definitely shouldn't be loading quite so many. Now that we have logs in place (thanks to @cclauss !), let's investigate!

Here's a dump from production of the sort of logs we're seeing:

[code]
Output: [core lending errors.txt](https://github.com/internetarchive/openlibrary/files/4566189/core.lending.errors.txt)

### Stakeholders
@cclauss @paulproteus @m

[2020-05-01 20:41] cdrini commented on #3429
Here's an aggregate of error types:

[code]

`get_availability` might be a good target!

[2020-05-01 21:04] cdrini opened #3430 "Add UI for adding work IDs"
Currently we have no way to store identifiers on a work. Loads of identifier (Wikidata IDs, GoodReads work IDs, LibraryThing IDs) apply only to works, and not editions.

### Summary of Requirements
- [x] Should follow the same JSON schema as identifier on editions (e.g. `"identifiers": {"goodreads": ["6675490"], "wikidata": ["Q91804864"], "librarything": ["9387249"]}`)
- [x] Should re-use the same

[2020-05-01 21:10] cdrini commented on #3382
Yeah, this should live on the work, but we currently don't support IDs on the work (created issue #3430 ). I think I'm ok adding this in as is though; we already have links on editions that should be on works (e.g. LibraryThing). We can migrate them over once the option exists.

The reason Barnes & Nobles was rejected as an identifier was because it seemed like they _only_ supported ISBN. Amazon/B

[2020-05-01 21:11] #3382 closed

[2020-05-01 21:43] cdrini commented on #1449
Re-opening this as a low priority thing for us to work on later. Here's a processed grep of all such scripts in `olsystem`. Not a _guarantee_ of what's being used on prod, but not a bad measuring stick.

[code]

[2020-05-01 21:45] cdrini commented on #1449
Actually, this might be a blocker for python 3 migration; we need to know which of these scripts are actively being used...

[2020-05-01 22:05] cdrini commented on #3417
Ah, I think I was finding that the infogami master was causing errors on python2 😬 That's what the 3rd point is there. Let me test and see what happens :+1:

[2020-05-01 22:14] cdrini commented on #3417
Oh, misread. Infogami needs to be `master` in order for pytest to run with python 3...

[2020-05-01 22:19] cclauss commented on #3417
Yes.  #2947

[2020-05-01 22:24] cdrini commented on #3417
Ok, let's punt the infogami requirements to #3418 . I think getting a working python 3 is good enough for this step :+1:

[2020-05-01 22:27] cdrini commented on #3417
Or wait! I have an idea. We can create the python 3 flag now, and then run something like `PYTHON=3 docker-compose up -d` to launch the container with infogami pinned to master instead of what it currently is. That way we can run pytest locally using python 3, and then seamlessly switch to running the site with python2!

[2020-05-01 23:01] cclauss commented on #3417
Please no.  We want to be able to run the same mods on both Python 2 and Python 3 ___without rebooting___.  I can do this on my Mac (and I am sure that you can too) so why do we not want to support that in our proposed development environment?  I have not used Docker on this project because it is useless for A/B test which we really need now.

On Travis CI we have been doing `pushd vendor/infogami

[2020-05-01 23:11] cdrini commented on #3417
Rebooting the docker container takes like 1s on my machine; I do it like 1000 times a day. Note you don't have to _rebuild_ the image to run in python 3, just restart it. So here's the dev flow this would allow:

[code]

And honestly, I couldn't think of way to make it happen inside docker without make the flow kind of awkward/requireing inside the docker image a bunch.

Can you give me an example

[2020-05-01 23:27] cclauss commented on #3417
[code]

[2020-05-01 23:36] cdrini commented on #3417
Well you can still do that:

[code]
(Note because the vendors directory persists between docker runs, you'll always have to run `make git` first to ensure it's using the prod version of infogami).

The `PYTHON3` flag is for launching the site with python 3. We will need such a flag for #3418 regardless, because the site is started automatically on `docker-compose up`. For quick a/b testing of the

[2020-05-02 00:29] tfmorris opened #3431 "VIAF & Wikidata IDs being added to redirect records"
Months after a [bad merge](https://openlibrary.org/authors/OL42906A?_compare=Comparer&b=5&a=4&m=diff) by Jeff Kaplan, `Cleanup Bot` added VIAF and Wikidata IDs to the remaining stub redirect record.

Not sure how widespread this problem is.

### Relevant url?
https://openlibrary.org/authors/OL42906A?_compare=Comparer&b=6&a=5&m=diff

### Expected Behavior

1. If bots use offline data from a batch p

[2020-05-02 10:41] seabelis commented on #3425
The urls with ID only already work. Having the titles in the url is better for SEO.

[2020-05-02 10:52] seabelis opened #3432 "Stop importing records with "bad authors" from Amazon"
Many imports from amazon have invalid authors. These records should be blocked from import.

### Evidence / Screenshot (if possible)

- [ ] A
- [ ] B
- [ ] C
- [ ] D
- [ ] E
- [ ] F
- [ ] G
- [ ] H
- [ ] I
- [ ] J
- [ ] K
- [ ] L
- [ ] M
- [ ] N
- [ ] O
- [ ] P
- [ ] Q
- [ ] R
- [ ] S
- [ ] T
- [ ] U
- [ ] V
- [ ] W
- [ ] X
- [ ] Y
- [ ] Z

- [ ] Large
- [ ] Xlarge
- [ ] XLarge

- [ ] Imagesoft So

[2020-05-02 14:58] BrittanyBunk commented on #3425
@seabelis that's what I said - it just redirects to a lengthier one, which is time-consuming and also longer to read. However, having the URL lengthier does have the purpose of validating that a person is in the correct spot.

I didn't know that and don't see how, but if there's a purpose, then that's good. However, is there a way to improve the SEO to move away from this if the direction to short

[2020-05-02 15:24] BrittanyBunk opened #3433 "Add more separation in the UI for editing books"
### problem
When editing an edition, some edits appear at the work level. People can't tell while editing the edition that this will happen.

### solution
Separate work and editions changes from each other very clearly and distinctly so people understand what changes will impact works and which will impact editions.
https://openlibrary.org/books/OL7209142M/Comedies_with_an_introd._by_G.S._Street/e

[2020-05-02 15:26] BrittanyBunk commented on #3430
Blocks: #3433. Until the UI for works and editions are separated out, it'll be too difficult and confusing for members to add work IDs when editing.

[2020-05-02 15:33] BrittanyBunk commented on #3432
I am worried that if you block those, then books that only are there and nowhere else won't be added in. However, idk how this process works. Would that happen if these get blocked?

Also, since this is a list that might keep growing, shouldn't we have a location on the librarians repository for it? Like a file or something?

[2020-05-02 17:04] mekarpeles commented on #3426
The `Needs: Help` is being used to denote which issues we would like community help with.

[2020-05-02 17:04] #3426 closed

[2020-05-02 17:05] mekarpeles commented on #3425
No, the url being verbose and human readable is very important.

[2020-05-02 17:05] #3425 closed

[2020-05-02 17:14] BrittanyBunk commented on #3426
@mekarpeles mind writing that somewhere? I didn't know about that.

[2020-05-02 17:24] mekarpeles commented on #3424
Hi @manumazu, the books API shouldn't require a bot account -- only if you're writing values back to OpenLibrary. How many requests do you imagine you'll be making per day?

Open Library also has bookshelves + lists and an API (and the ability to share) is there a reason these aren't sufficient for you?

 are you on our slack? Have

[2020-05-02 17:28] #3420 closed

[2020-05-02 17:31] mekarpeles commented on #3395
@devarshigoswami any chance you can look into this one?

[2020-05-03 03:37] devarshigoswami commented on #3395
@mekarpeles Absolutely ,sir! let me look into it.. @seabelis, sorry I couldn't reply in time, joined my first job outta college and things have been a tad hectic

[2020-05-03 08:58] seabelis commented on #3430
Goodreads IDs are edition specific. These should remain at the edition-level.

[2020-05-03 09:00] seabelis commented on #3432
Blocking must happen at the import level so this issue is in the appropriate place. There are already issues for cleanup of the already-imported content.

[2020-05-03 09:03] seabelis commented on #3395
@devarshigoswami No worries. It's not a blocker; new covers can still be added. It just may be a little confusing for some users of the site.

[2020-05-03 19:16] tfmorris commented on #787
Here's a work with the same issue [?: The Question Book](https://openlibrary.org/works/OL2919929W).

The slug generation code needs to be fixed to generate valid URLs. Bonus points for getting rid of the wasteful redirect altogether.

[2020-05-03 21:44] hornc commented on #3421
@tfmorris , thanks for noticing this. I was able to edit the .yml and correct the invalid date field and linked to Wikidata etc while I was there.

The `date` field is documented as existing for authors in the JSON schema https://github.com/internetarchive/openlibrary-client/blob/1ee0fdf9a229d10f6a7605ea7774b2db834336da/olclient/schemata/author.schema.json#L36  I'm not sure exactly what it's for -

[2020-05-03 22:45] guyjeangilles commented on #3428
@cdrini is this actually a bug or is this a consequence of increased traffic?

[2020-05-03 22:53] guyjeangilles commented on #3433
"Links" for specifics can still be useful. I.e special audiobooks links.

[2020-05-04 05:38] BrittanyBunk commented on #3433
@guyjeangilles I never said it wasn't. These columns shouldn't be available when editing an edition, because they show up on the works page

[2020-05-04 12:59] LongJohn-Silver opened #3434 "Add an option to follow authors and add books to lists instead"
Currently, you can add authors to lists (which doesn't work good to me anyway) and the only thing you can do with books is tag them but as something global which remains only on the web page of that book.  In my opinion, it would be better if you could follow authors - and get some kind of notification when there's a new work - and add books to certain lists.  Imagine you add an author who's gener

[2020-05-04 14:46] cdrini opened #3435 "New Solr unable to handle production traffic"
The new solr instance on ol-solr0 seems to be able to handle the traffic from one web node ok (although there is an increase in internal errors), but collapses when connected to both web nodes.

### Steps to Reproduce
1. Update ol-web3 and ol-web4 to use ol-solr0 instead of ol-solr2

* Actual: Big spike in internal errors, search generally results in `None` errors
* Expected: Everything ok

### St

[2020-05-04 14:50] cdrini commented on #3435
While investigating `htop` output during an experiment, @mekarpeles and I noticed that ol-solr2 (the current production solr) also had an haproxy running with this config:

[code]

Version of haproxy:

[code]

Possible solution to this might be adding haproxy to ol-solr0.

[2020-05-04 14:58] cdrini commented on #3435
Here's a screenshot of the haproxy UI

![image](https://user-images.githubusercontent.com/6251786/80980085-39d5b700-8df6-11ea-83f2-f307a64122fb.png)

[2020-05-04 15:03] cdrini commented on #3421
As of the Mar31 dump, there are 15,981 author records with that field. Here's a sample:

Key | `date`
-- | --
https://openlibrary.org/authors/OL1004101A | 4th cent
https://openlibrary.org/authors/OL1095882A | ca.
https://openlibrary.org/authors/OL1254270A | 1922
https://openlibrary.org/authors/OL1564104A | fl. 1619
https://openlibrary.org/authors/OL1801919A | fl. 1911-1913
https://openlibrary.org/

[2020-05-05 00:36] mekarpeles commented on #3429
[code]

[2020-05-05 05:12] paulproteus commented on #3429
It looks to me like `get_loan()` is assuming someone is logged-in (i.e., `account` is non-`None`), but no one is logged in?

[2020-05-05 09:13] waldenn opened #3439 "search-inside result-links should add the original query-term to the Archive-URL-hash for readable items"
Currently when following the inside-results for readable books on Archive.org, the original query is not appended to the Archive.org URL hash. This causes the inside results to now show up. I think this is a bug, as this is the point of inside search. This feature can save a lot of time.

### Evidence / Screenshot (if possible)

https://openlibrary.org/search/inside?q=%22Gobiidae%22&language=eng

[2020-05-05 16:21] LeadSongDog commented on #3068
@tfmorris For me, that search now returns “no results found“. Can this issue be closed?

[2020-05-05 17:12] LeadSongDog opened #3442 "IA imports did not happen for 581k DTIC works"
Only a tiny fraction of the DTIC works in IA have been imported to OL

### Relevant url?
Compare:
https://archive.org/search.php?query=%22Defense%20Technical%20Information%20Center%22
to
https://openlibrary.org/search?q=Defense+Technical+Information+Center&mode=everything

[2020-05-05 20:41] cdrini opened #3443 "Switch Continuous Integration to use Docker"
~Fixed in #4242~

Using docker in ~Travis~ GitHub Actions would save time by catching errors that will break the build environment, as well as by being a stepping stone to allowing us to use ~Travis~ GitHub Actions + testcafe for UI testing (#3412).

~See https://docs.travis-ci.com/user/docker/~

### Stakeholder
@cclauss

[2020-05-05 20:59] cclauss commented on #3412
https://devexpress.github.io/testcafe/documentation/continuous-integration/travis.html Why do we need Docker?

[2020-05-05 21:03] cclauss commented on #3443
I have always found mixing Docker and Travis to be limiting but I am OK with it as long as:
1. There is one DockerThat supports both Python 2 and Python 3, and
2. Travis continues to run both Py2 and Py3 tests on all PRs.

[2020-05-05 21:33] tfmorris commented on #2187
This is not the only place this happens. I constantly see this getting reset incorrectly and it's hugely annoying. I'm always startled to see a search to come up with zero results only to realize on  closer inspection that it's because an extra unwanted filter has been added.

The fact that the filter is on by default for new users is also a significant usability stumbling block.

[2020-05-06 02:33] cdrini opened #3444 "Cannot PUT json data with unicode characters"
### Steps to Reproduce
Run the following in your local image
[code]

* Actual: The save 500s
* Expected: The save gets completed

![image](https://user-images.githubusercontent.com/6251786/81129589-d1c8c300-8f12-11ea-8bc6-50b8c3ca1315.png)

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Technical

fwiw the `/api

[2020-05-06 10:52] seabelis opened #3445 "Add To Staff Picks button not working for librarians"
The toolbar at the top of the edit view for editions displays Add to Staff Picks, but throws Permission Denied error if one is logged in as a librarian.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. As a librarian, go to any edition with IA ID
2. Do click Add to Staff Picks

* Actual: Permission Denied
* Expected: Added successfully

### Details

- **Logge

[2020-05-06 16:48] mekarpeles commented on #3223
We may be able to do something similar to #3353

[2020-05-06 17:45] dcapillae commented on #3445
Is the "Add to Staff Picks" button for us librarians? I tried to use it once and got the same result (Permission denied).

[2020-05-06 19:01] mekarpeles opened #3446 "Add a search bar to individual author pages"
### Describe the problem that you'd like solved

Some authors have hundreds of books. Let's add a search bar (similar to how https://openlibrary.org/collections/Marley-Dias-1000BlackGirlBooks-Library has a pre-populated search box) to enable patrons to better filter author work results.

### Proposal & Constraints

### Related Files
- Authors page template: https://github.com/internetarchive/openl

[2020-05-06 20:17] seabelis commented on #3445
At first I thought not, but as it turns out, it is supposed to work for us.

[2020-05-06 21:50] dcapillae commented on #3445
What happens if a book is added to the staff picks? Should I follow any specific criteria? I guess the selection depends on the experience and criteria of the librarians, doesn't it?

[2020-05-07 00:10] tfmorris commented on #3421
This appears to have been editable until at least 2010 and was a target for spammers, e.g. https://openlibrary.org/authors/OL583169A/Jacques_Fossey?v=13. The field appears to only get rendered if both the birth and death date are missing.

But the vast majority seem to be dates that were imported from MARC records which weren't considered parseable into a birth date and/or death date, including bo

[2020-05-07 08:36] seabelis commented on #3445
@dcapillae It will add it to the hope page carousel called books we love. As far as criteria goes, @mekarpeles needs to answer that.

[2020-05-07 13:52] LongJohn-Silver opened #3448 "Lists not working"
I can only add something to a list when I create one, after that I click on "add to list" but nothing happens. I tried this on my daily browser, Firefox v.76 (which quite a few extensions and is hardened for privacy on the regular settings plus some extra tweaks on the about:config), since my setup may be interfering with it, I tried some other browsers (Waterfox v.2020.04 and Chromium V.80.0.3987

[2020-05-07 19:31] LongJohn-Silver opened #3449 "Being able to follow other users"
I would like to be able to follow other users.

### Describe the problem that you'd like solved
Being able to follow users.

### Proposal & Constraints
Adding a button to follow X or Y user.

### Additional context

### Stakeholders

[2020-05-07 19:58] mekarpeles commented on #3320
I don't want to be too contentious, but I might even suggest us closing this one. There may be ~1M books they've seen with either No-ID or pre-isbn. The metadata will likely be sparse. Often times there is no just ID evident on the book (e.g. no barcode, etc); it's not that it's pre-isbn. @LeadSongDog's comment is well informed. I don't know that this direction has the ROI to merit this specific v

[2020-05-08 21:01] rafaelalvessa opened #3451 "Q: How to perform database migrations?"
### Question
How to do a database migration?

### Additional context
I've made a change to the DB that requires a DB migration.  I followed the [Wiki page](https://github.com/internetarchive/openlibrary/wiki/Getting-Started#database-migrations) and took these steps:

[code]

Once inside the Docker container (I suppose `ol-db1` is the correct DB):

[code]

I then get this error:

[code]

I also tri

[2020-05-09 19:20] #3287 closed

[2020-05-10 08:08] jsparmani commented on #3446
@mekarpeles I would like to work on the issue!

[2020-05-11 15:37] jdlrobson commented on #1920
For documentation of how this now looks.. I still think the x and add another author should be hidden but I'll let someone else push for this in future. This is clearly an improvement in current form.

<img width="1062" alt="Screen Shot 2020-05-11 at 8 34 19 AM" src="https://user-images.githubusercontent.com/148752/81580384-372d1180-9362-11ea-99ef-d1505808e540.png">

[2020-05-11 15:37] #1920 closed

[2020-05-11 16:22] cdrini commented on #3404
@the-nine-tail Would you mind creating a new issue for that?

[2020-05-11 16:24] cdrini commented on #3404
Ah, it looks like the rsync from ol-home (where the sitemaps are generated) to ol-www1 failed: `rsync -av --delete rsync://ol-home/var_1/tmp/sitemaps/sitemaps /1/var/lib/openlibrary/sitemaps/`.

Re-running it fixed it :+1: We're not entirely sure what caused it to fail in the first place, but it might've been a fluke network error perhaps? I re-added it to google search console as well:

![image](

[2020-05-11 16:24] #3404 closed

[2020-05-11 19:00] cdrini commented on #3430
👍 The majority should remain on the edition. But note that there are GoodReads work-specific IDs, they're just hard to find (e.g. https://www.goodreads.com/work/editions/2776383-the-driver-s-seat <- this url contains the work id). We might have to have some warning to avoid this being used incorrectly though, since I imagine it would be confusing.

[2020-05-11 19:41] mekarpeles commented on #3449
We do have a feature in progress for following patrons: #1966. We'd love help on this (though we'll want to scope out the next steps together, if possible). There is a sql model already (on production even) to support this feature. See the PR associated w/ 1966.

[2020-05-11 19:43] mekarpeles commented on #739
#3449 duplicates this issue; closing #3449.

[2020-05-11 19:43] mekarpeles commented on #3449
@LongJohn-Silver, can we please continue this discussion on #739? Closing this issue as a duplicate.

[2020-05-11 19:43] #3449 closed

[2020-05-11 19:48] mekarpeles commented on #3448
We tried with https://openlibrary.org/authors/OL34184A/Roald_Dahl on an existing list and by creating a new list and both seemed to work form the authors page. However, there was some funky javascript i18n errors with the display / count which fixed after refresh.

Can you record a short video clip / screen share of what you're trying and what the outcome looks like? Thank you!

[2020-05-11 19:54] tfmorris commented on #739
If implemented, this should include the ability to block people from following as well.

[2020-05-11 20:01] mekarpeles commented on #787
We confirmed that for "?: The Question Book", the "?" is causing infinite redirects.

The logic entry-point is here:
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/processors/readableurls.py#L43

[2020-05-11 20:06] mekarpeles commented on #3439
"See All" results looks like it is accurately appending the search and the hash. Can you please double check and possibly include a very short video / screen share of what's happening in your browser? Or is there a different link you're talking about? e.g. the "Read" button? Thank you!

[2020-05-11 20:22] mekarpeles commented on #628
@cdrini mentions this should be fixed by solr 8 -- #3317

[2020-05-11 20:38] tfmorris opened #3456 "Support private lists"
### Describe the problem that you'd like solved

Currently OpenLibrary supports two different kinds of lists (cf #851):
1.  three standard "Reading Log" lists which contain only books, and
2. an unlimited number of user created lists which can include works, editions, authors, & subjects

The first class of lists is private by default and can be made public if the user desires. For the second clas

[2020-05-11 20:40] tfmorris commented on #2609
Private lists (#3456) and reading logs should **NOT** be included in the dump.

[2020-05-11 20:52] tfmorris commented on #628
That seems to contradict his July 2019 https://github.com/internetarchive/openlibrary/issues/628#issuecomment-513260438 "Although note the root cause as to why these aren't getting updating during the normal flow will not be fixed by that," which I find more believable.

I don't think root cause for the solr updater errors was ever found and we know the logging needs to be improved to even start i

[2020-05-11 21:39] waldenn commented on #3439
Ah yes, I did not even notice the "See All Results" link. Sorry. Good to see the feature is already there.

However IMHO, there should just be the read button in this "inside search". It would clean up the list of book rows (without those repetitive links), and not surprise others as it did for me. I expected to see the results when clicking on that  button AFTER using the "searching inside" inter

[2020-05-11 22:25] LeadSongDog commented on #628
Well, it’s now TWO years on, and the edition still contains the stale link to the wrong author record.  Surely it is clear that an edition which links to a work should not also contain a link to an author except for secondary attributions.

[2020-05-12 03:24] guyjeangilles commented on #3439
Gonna close for now, we can open a new UX issue if need be

[2020-05-12 03:24] #3439 closed

[2020-05-12 03:26] guyjeangilles commented on #3444
Is this specifically with PUT and not POST? If this is true, how severe a problem is this?

[2020-05-12 03:29] guyjeangilles commented on #3446
@jsparmani Awesome! Feel free to make a pull request with your solution

[2020-05-12 03:35] guyjeangilles commented on #3448
I was able to add https://openlibrary.org/authors/OL7350596A/Nnedi_Okorafor to an existing list as well. I'm gonna close this for now. Will reopen if @LongJohn-Silver provides some more evidence

[2020-05-12 03:35] #3448 closed

[2020-05-12 06:44] seabelis commented on #3430
Good point. I hadn't considered that as you have to get there via an edition. But it's subject to change. Because of the way the GR combination and separation works, it's possible if this gets combined incorrectly with a work that has an edition that has more "shelvings" than other editions, the work will then become that other work and the work with fewer editions will then have to be separated o

[2020-05-12 07:46] tabshaikh commented on #3221
slick.woff are now loading as they should with preload, therefore, closing this issue
![Screenshot from 2020-05-12 13-16-18](https://user-images.githubusercontent.com/31198893/81653789-ca457480-9452-11ea-98ed-aac45e14ab28.png)