[2021-01-13 13:31] seabelis commented on #4408
LGTM. Thank you.

[2021-01-13 13:45] Yashs911 commented on #4408
@seabelis Added "Libraries near you:" text
![Capture](https://user-images.githubusercontent.com/64412143/104459949-7be50880-55d3-11eb-93e4-89eb11baabc5.JPG)

[2021-01-13 14:44] Yashs911 commented on #2006
@jdlrobson I would like to work on this issue.
Currently only  `Download for print-disabled` is present and in another issue, I have added `Worldcat` link.
So in this issue, I just have to reduce the **Borrow** button width?

[2021-01-13 15:23] Yashs911 opened #4411 "Add Popular or Featured Lists section on the Lists Page"
### Describe the problem that you'd like solved

I think we should add a featured/popular list section on the Lists Page.
We should also make lists for book series, for example (Harry Potter Series, )

### Additional context

For Ref:
https://www.goodreads.com/list?ref=nav_brws_lists
https://www.goodreads.com/list/tag/series
### Stakeholders

[2021-01-13 16:10] tfmorris commented on #4343
I don't think LeadSongDog was suggesting that the lookup actually be done, but before calling things "ridiculous," it would probably be worth weighing the benefit vs the cost. If an invalid ISBN could be flagged in 100 msec, that'd be totally worth the wait.

This whole thing seems to have gone very far astray though. Dashes are actually **good** not only because they allow for cut-and-paste of re

[2021-01-13 16:19] cclauss commented on #4343
Agreed.

Who would you recommend?

[2021-01-13 16:36] Yashs911 commented on #1963
@jdlrobson I guess we can close this issue.
In current version:
Tabbing order is same as visual order.
We can tab "Not in Library" button.
![image](https://user-images.githubusercontent.com/64412143/104481276-9a56fe00-55eb-11eb-9626-fc74e3bd82a8.png)

[2021-01-13 17:09] tfmorris commented on #4343
@seabelis understands ISBNs. I'm not sure who you'd look to for search, but 95% of what you need is in my 2017 comment https://github.com/internetarchive/openlibrary/issues/609#issuecomment-354509114

Between the [ol-tech](http://mail.archive.org/cgi-bin/mailman/private/ol-tech/) mailing list, [Github issues](https://github.com/internetarchive/openlibrary/search?q=isbn+normalization&type=issues),

[2021-01-13 20:43] tmcw opened #4414 "Fresh install according to README hits Python 3 bug"
### Evidence / Screenshot (if possible)

[code]

### Steps to Reproduce

1. Follow the [Docker README instructions](https://github.com/internetarchive/openlibrary/tree/master/docker)
2. Once you run `docker-compose up`, the above error message is produced

### Details

- **Logged in (Y/N)?**  N/A
- **Browser type/version?** N/A
- **Operating system?** macOS
- **Environment (prod/dev/local)?** dev

[2021-01-13 20:49] tmcw commented on #4414
💥  I had pruned all the images, but there were still some volumes hanging around from 2 years ago, which were apparently getting reused when I tried this 'clean' install. Removing those volumes too clears up the issue.

[2021-01-13 20:49] #4414 closed

[2021-01-13 20:59] LeadSongDog commented on #4343
@tfmorris There are several reasonable options for external validation of ISBNs. It may be worth comparing response times. Possibilities include Google, Baidu, and other generic search engine giants, but we should consider more specific options too:
https://isbnsearch.org/isbn/9788400047252
https://www.worldcat.org/search?q=bn%3A9788400047252

[2021-01-13 21:20] #3992 closed

[2021-01-13 22:40] #4340 closed

[2021-01-13 22:56] #4234 closed

[2021-01-13 23:58] BrittanyBunk commented on #4343
@tfmorris I think there's some confusion, but I'm referring to the end-product, that the dashes don't appear in the data sets (unrelated to the website). I didn't bring up everything (as I don't want to derail, as I could, but I won't), but what I said can be problematic making everyone aware of every angle while working on this helps us stay on track.

[2021-01-14 01:52] #3264 closed

[2021-01-14 02:06] jdlrobson commented on #2006
This is mostly fixed.

Help fixing the size of the buttons on https://openlibrary.org/works/OL15203543W/Meistersinger_von_N%C3%BCrnberg here to be the width of the label is all that's needed to resolve this now:

<img width="431" alt="Screen Shot 2021-01-13 at 6 04 34 PM" src="https://user-images.githubusercontent.com/148752/104534798-cd889580-55c9-11eb-86dd-259f1eb5cdc5.png">

Help fixing that ap

[2021-01-14 02:40] jdlrobson commented on #1963
I will let @mekarpeles confirm whether this is resolved.

[2021-01-14 02:49] Yashs911 opened #4415 "Bad UI of Recent Changes Page"
For tablet and mobile viewpoint:
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/64412143/104537658-635f0780-5640-11eb-8753-05442ddab21d.png)

### Relevant url?

https://openlibrary.org/recentchanges

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** Chrome
- **Operating system?** Windows 10
- **Environment (prod/dev/local)?** prod

### Pr

[2021-01-14 02:51] jdlrobson commented on #2370
The bulk of this task is about auditing the code and understanding how the styles are being used.

Once the audit of everything using it is done,  write a report with recommendations on this issue and help us agree an approach.

This analysis would at a minimum:
* Explain the implications of removing legacy-wmd.less: what regress in the UI? What pages?
* Make recommendations for avoiding those reg

[2021-01-14 02:54] jdlrobson commented on #1514
The height is not a problem. 7 items should easily fit into most modern smartphones. Wikipedia has 7 in its mobile web and does just fine.

Yeh, but if a menu disappears it hints that its contents have moved elsewhere. If both menus remain and the items move i will look like a bug.. My preference is to remove the "My books" menu.

[2021-01-14 02:56] jdlrobson commented on #4415
Without data on who's using these pages on a mobile phone I'm going to guess that not many are and this is low priority. Adding a width and some horizontal scrolling is probably an okay solution for now.

[2021-01-14 02:57] Yashs911 commented on #1514
@jdlrobson Okay, For both desktop and mobile viewpoint we need to remove my books? Or only for mobile viewpoint?

[2021-01-14 03:17] Yashs911 commented on #1514
@jdlrobson ??

[2021-01-14 05:11] jdlrobson commented on #1514
The footer is off topic. This is about the "my books" and user avatar menu, and nothing else.

This applies to both mobile and desktop, anons and logged in. When logged out the "my books" menu is redundant as it just provides 4 links to login.

[2021-01-14 05:55] Yashs911 commented on #3881
@jdlrobson I would like to work on this issue.

[2021-01-14 08:58] seabelis commented on #4343
Strongly agree with @tfmorris  "warn on, but don't disallow (since they're sometimes printed wrong), ISBNs with invalid check digits".

[2021-01-14 09:01] seabelis commented on #4408
Yes, that indicates it's not part of the print-disabled link.

[2021-01-14 12:37] MayankVir commented on #3797
Hi there, is this issue available to work upon? I am new to Open Source.

[2021-01-14 15:30] Yashs911 commented on #4023
@cclauss I cannot reproduce this error. I guess we can close this issue.

[2021-01-14 15:56] Yashs911 commented on #3499
@MaorDayanOfficial @xayhewalo  I guess we can close this issue.
![image](https://user-images.githubusercontent.com/64412143/104615314-23833900-56af-11eb-9449-41c8e822f1ad.png)

[2021-01-14 16:25] Yashs911 commented on #2959
@cdrini, I think we can close this issue. Any idea why category title and book to sponsor are not translated?
![tempsnip](https://user-images.githubusercontent.com/64412143/104618651-fcc70180-56b2-11eb-878a-bbf856d83f8a.png)

[2021-01-14 16:45] cdrini commented on #2959
Oh wonderful! I wonder if it got fixed with the python 3 migration.

Books to Sponsor looks like it might just be missing? Although our i18n flow right now is a bit confusing; I'm not entirely sure how to generate up-to-date .po files without introducing issues :/

Can't recall why the subject names are not being translated, but I think there was a reason :P Investigating the code my reveal why.

[2021-01-14 16:45] #2959 closed

[2021-01-14 18:19] Yashs911 commented on #1708
@jdlrobson we can apply #4405 to "Browse" and "user menu"

[2021-01-14 19:09] seabelis opened #4420 "Error prevents cover deletion"
As of deploy on 14 January, it is not possible to remove a book cover image. In the console an error displays: “TypeError: $(...).sortable is not a function”

### Evidence / Screenshot (if possible)

“TypeError: $(...).sortable is not a function”
### Relevant url?

https://openlibrary.org/books/...

### Steps to Reproduce

1. Go to any book page, i.e. https://openlibrary.org/books/OL24091253M/Worl

[2021-01-14 20:24] dherbst opened #4422 "Refactor openlibrary.core.cache get function"
In https://github.com/internetarchive/openlibrary/pull/4296#discussion_r557523924

@cclauss says:

I suggested opening this issue instead of solving this refactor in that pull request because the memcache get function is used in quite a few places and changing the return value needs to be well tested.

#### Stakeholders
@cclauss @dherbst

[2021-01-14 21:27] mekarpeles opened #4423 "2021 Q1 Provisioning & Deployment Plan"
This is a planning epic (and doesn't require direct attention -- to be closed when underlying issues are resolved)

- [ ] automated deploys (4h -> 15min)
- [ ] solr updater (prod)
- [ ] rm volume mounts (for deloys)
- [ ] import bot
- [ ] cron jobs will live in a service on ol-home0 (testing) @clauss
- [ ] ol-www1 `epic` (edge cases: logs, ssl-termination, sitemaps) @cdrini
- [ ] need ol-www0
- [

[2021-01-14 22:40] #4420 closed

[2021-01-14 22:53] mekarpeles opened #4424 "Migrate ol-www1 to ol-www0"
### Describe the problem that you'd like solved

- [x] @mekarpeles to ask for an replacement server to be provisioned for `ol-www1` called `ol-www0`
- [x] #4725 Create a Dockerfile for `ol-www1` which includes services for `nginx`
     - [x] Switch covers to use the IA-specific nginx
- [x] @cdrini Add www0 to deploy.sh/friends
- [ ] Do a deploy 2021-12-09 so openlibrary/olbase is updated to latest

[2021-01-14 23:55] mekarpeles commented on #4424
Duplicate of #4252

[2021-01-15 02:53] Yashs911 commented on #3881
@jdlrobson so according to this we can't change this using git.

[2021-01-15 03:26] jdlrobson commented on #3881
Sorry @Yashs911 i'm not following you.

The HTML of http://localhost:8080/subjects can be generated just fine but you need to import it.

$ python scripts/copydocs.py "/subjects"

The HTML for that page can be piped into https://validator.w3.org/#validate_by_input

The reviewer (likely me) can verify the HTML is valid by the same approach and verify there are not UI regressions on the page locally

[2021-01-15 06:20] Yashs911 commented on #3881
@jdlrobson https://github.com/internetarchive/openlibrary/pull/3878#issue-497163886 according to the 4th point in the description

Should I ignore this error?
And how should I send the HTML file?

[2021-01-15 06:42] Yashs911 commented on #3881
@jdlrobson I have uploaded the HTML code here https://codepen.io/yashs911/pen/dypQBVM

[2021-01-15 11:22] cclauss commented on #4382
Closing in favor of #4423 because we have too many tracking issues.

[2021-01-15 11:22] #4382 closed

[2021-01-15 11:37] cclauss commented on #4318
Closing in favor of #4423 because we have too many tracking issues.

[2021-01-15 11:37] #4318 closed

[2021-01-15 16:17] cdrini opened #4426 "Investigate if we can remove stats_solr"
Subtask of #4060

There is a solr instance running on ol-home called stats_solr. We're not sure if this is still in use, how its being used, or if we might be able to deprecate it in favour of a something else.

Note: At the very least there is historical value to the data there, so we need to make sure to create a data dump if we do find it's no longer being used in production.

- [x] Identify wh

[2021-01-15 16:59] arnab15 commented on #4415
I'm new to opensource I have knowledge of HTML,CSS,JS,Nodejs,Reactjs ,Mongodb,I want to contribute here how should I start.I'm unable to setup the dev environment.is anyone help me to setup dev env?

[2021-01-15 17:21] Yashs911 commented on #4415
Hi, @arnab15 To set up the dev environment, follow these steps:
1) Fork and Clone Openlibrary repo, set up an upstream link
2) Download and Install Docker
3) After that, follow [Docker Instructions]( https://github.com/internetarchive/openlibrary/blob/master/docker/README.md) to set up the development environment.

and regarding this issue, I want to work on this.😄
You can find other good first is

[2021-01-15 17:25] arnab15 commented on #4415
thank you @Yashs91  .It's very difficult to set up on windows 10😥.I

[2021-01-15 17:27] Yashs911 commented on #4415
@arnab15 No its not. I am also using windows 10 home edition

[2021-01-15 17:29] arnab15 commented on #4415
@Yashs911 How much disk space it consumes in your pc?

[2021-01-15 17:31] Yashs911 commented on #4415
@arnab15 15-20 GB. because of that my C drive was almost full so today I shifted the image location to D Drive

[2021-01-15 17:33] Yashs911 commented on #4415
@arnab15, did you install docker?

[2021-01-15 17:54] arnab15 commented on #4415
yes I have docker install on my laptop but after building the project it consumes lot of disk space then it's not working on port 8080 aftrer runing docker compose up.I removed all containers and everything now i have to clone repo by setting up ssh key with github.

[2021-01-15 18:00] seabelis opened #4427 "Memcache issue on staging overwrites newer data with old when using works merge tool"
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/works/OL1914022W/The_Pillars_of_the_Earth?m=history
See v28/29

### Steps to Reproduce

1. Edit a work record on prod.
2. Go to http://staging.openlibrary.org/works/merge?records=OL...W,OL...W
3. Confirm merge.
4. See that last edit is reverted.

* Actual: Edits on production are lost.
* Expected: Merge tool is supp

[2021-01-15 19:23] jdlrobson commented on #3881
Can you share the wikitext code so I can paste it into http://localhost:8080/subjects?m=edit ?

[2021-01-15 19:39] arnab15 commented on #4415
![error](https://user-images.githubusercontent.com/45819720/104770851-40933700-5797-11eb-8890-7f243228188a.png)

I don't know why these containers are not running.Is this project had any communication Chanel to seek help for setup?

[2021-01-15 23:04] jdlrobson commented on #3881
Update: applied this change to the subject page.

https://validator.w3.org/nu/?doc=https%3A%2F%2Fopenlibrary.org%2Fsubjects

2 errors remain - those will need changes in the codebase. THanks @Yashs911 for sorting this out!

[2021-01-16 05:37] #4200 closed

[2021-01-16 10:07] bitnapper commented on #3713
Thans, looks good.

[2021-01-16 12:41] shrey27tri01 opened #4428 "Allow page rotation while reading books that may have horizontal content"
For books that may have horizontal content (an example screenshot is attached), users should be able rotate the page to better view it. This may not be necessary for mobile/tablet or even laptop users, but it may be necessary for desktop users.

### Describe the problem that you'd like solved

A rotation option should be present in the bottom navbar to rotate the book by 90 degrees, either clockwi

[2021-01-16 12:47] Yashs911 commented on #4428
@shrey27tri01 I guess you should open this issue on bookreader repo

[2021-01-16 15:30] Yashs911 commented on #4415
@arnab15 https://github.com/internetarchive/openlibrary/blob/master/docker/README.md#fully-resetting-your-environment
you can ask your doubt on https://gitter.im/theopenlibrary/Lobby

[2021-01-17 05:49] Zorlin commented on #686
@mekarpeles I'd like to be invited to the Slack. Cheers.

[2021-01-17 13:55] arnab15 commented on #4415
Thank you @Yashs911

[2021-01-17 19:34] jdlrobson opened #4429 "Subjects page (page-subject.less) loads unnecessary CSS - should be simplified."
### Evidence / Screenshot (if possible)

According to static/build/page-subject.css the subjects page loads 8KB of CSS. This is 2kb more than the home page, despite being a very simple page.

It looks like we never simplified the CSS when redesigning the subject page.

A casual glance at static/css/page-subject.less shows we still import components/dropper.less for example, despite not ever showin

[2021-01-18 05:09] Yashs911 commented on #4429
@jdlrobson I would like to work on this. Should we use the following PurifyCSS, PurgeCSS, UnCSS to remove unused CSS?

[2021-01-18 14:35] Itachi8374 commented on #686
@mekarpeles Please add me to slack channel. I have set up development environment.

[2021-01-18 14:47] cclauss commented on #2308
@dherbst Awesome work!  Only nine Python files mentioning simplejson remaining in openlibrary:
[code]

Remove the scripts/20xx files:
[code]

[2021-01-18 18:08] arnab15 commented on #4429
@Yashs911  are you working on it? @jdlrobson  if it's not assigned to anyone I can work on it if you guide me a little bit on how I can perform optimization to solve the issue?

[2021-01-18 18:42] jdlrobson commented on #4429
The file is meant to act as an inventory of features on the page, so it should be easily done manually without tools by checking the styles added (in particular their parent selector) and whether they relate to the html on the page.

There is a lot of unused css in the site, but that's not the priority here.

[2021-01-19 06:24] #4408 closed

[2021-01-19 09:11] Yashs911 commented on #4429
@jdlrobson I went thrrough all the imports and here what I found:
[code]
All these imports are not used in https://openlibrary.org/subjects **but are used in** https://openlibrary.org/subjects/sciencemathematics .

![tempsnip](https://user-images.githubusercontent.com/64412143/105012580-4e311100-5a64-11eb-8097-58ba72e225fd.png)

Following are the links to the design wiki:
https://github.com/intern

[2021-01-19 17:26] #4358 closed

[2021-01-19 17:27] #3952 closed

[2021-01-19 17:28] mekarpeles commented on #3952
https://docs.google.com/document/d/1AfgtFGAufNKtxl7wllBEXBO2lo0O_I2uPxYQ-HLvWz4/edit

[2021-01-19 18:15] jdlrobson commented on #4429
Good point! I overlooked the subjects pages themselves. While we could create a new entry point for this page, I don't think there's much value in doing that.

Thanks for investigating so thoroughly!

[2021-01-19 18:15] #4429 closed

[2021-01-19 18:56] mekarpeles commented on #3795
I think we can agree to this direction: i.e. master/slave should be replaced with something. Let's try to importantly be consistent.

@bitnapper if you can point out where we may be using this terminology (outside of e.g. git branch names) please do point it out in separate targeted issues.

Going to mark this specific issue as resolved / agreed.

[2021-01-19 18:56] #3795 closed

[2021-01-19 18:58] mekarpeles commented on #3374
I think we should stick with the existing "Question"; we have a label for community discussion.

"Questions & Community Discussion" also sounds find to me -- happy to review a PR which proposes this change.
Marking this issue as resolved

[2021-01-19 18:58] #3374 closed

[2021-01-19 19:00] mekarpeles commented on #2821
Marking as resolved as @finnless is currently driving some of these changes from https://github.com/Open-Book-Genome-Project/sequencer

https://github.com/Open-Book-Genome-Project/sequencer/issues/1

[2021-01-19 19:00] #2821 closed

[2021-01-19 19:09] mekarpeles commented on #4282
I think we arrived at some basic Lead responsibilities which include:

1. Triaging issues which are marked `Lead: @you` and `Needs: Triage` -- i.e. adding labels, removing the `Needs: Triage` label, and adding a `Priority:` tag according to the [priority descriptions](https://github.com/internetarchive/openlibrary/wiki/Using-Managed-Labels-to-Track-Issues)
2. Adding a section to https://openlibrar

[2021-01-19 19:09] #4282 closed

[2021-01-19 19:20] mekarpeles commented on #4428
Closing and crossposting to bookreader

[2021-01-19 19:20] #4428 closed

[2021-01-19 19:24] mekarpeles commented on #4411
We don't exactly have a metric for calculating popularity, however we've discussed adding [up]votes/likes to Lists, and this feature would be more possible once the List title + number of items + votes were in Solr search index

[2021-01-19 21:37] cdrini opened #4437 "Fix IA_BASE_URL not being read from openlibrary.yml"
IA_BASE_URL is read in a few places before `config` is initialized! We can't easily test OL hooked to IA review apps

https://github.com/internetarchive/openlibrary/blob/b3541fd0e16e97aa5f0fe4c75749e75d98b38dca/openlibrary/core/ia.py#L19-L21

## Stakeholders
@cclauss @dherbst

[2021-01-20 02:18] jdlrobson commented on #3881
One more error has snuck in relating to the new hamburger menu:

[code]

[2021-01-20 02:24] jdlrobson opened #4438 "Fix validation issues on the view subject pages"
Incorrect HTML can lead to rendering issues and bugs.

### Evidence / Screenshot (if possible)
The validator tool flags errors on https://validator.w3.org/nu/?doc=https%3A%2F%2Fopenlibrary.org%2Fsubjects%2Fmagic

### Steps to Reproduce

1. Run `docker-compose exec web bash`
2. Run `python ./scripts/copydocs.py "/subjects/magic"
3. Use the validator tools direct input feature to flag errors
4. fix

[2021-01-20 02:24] jdlrobson opened #4439 "Fix validation issues on the author page"
Incorrect HTML can lead to rendering issues and bugs.

### Evidence / Screenshot (if possible)
The validator tool flags errors on author pages

e.g. https://validator.w3.org/nu/?doc=https%3A%2F%2Fopenlibrary.org%2Fauthors%2FOL18319A%2FMark_Twain

### Steps to Reproduce
1. Run `docker-compose exec web bash`
2. Run `python ./scripts/copydocs.py "/authors/OL18319A/Mark_Twain"
3. Use the validator too

[2021-01-20 02:26] jdlrobson opened #4440 "Fix HTML validator issues on books page"
Incorrect HTML can lead to rendering issues and bugs.

### Evidence / Screenshot (if possible)
The validator tool flags errors on https://validator.w3.org/nu/?doc=https%3A%2F%2Fopenlibrary.org%2Fbooks%2FOL28775995M%2FDer_Todeskanal/Der_Todeskanal

### Steps to Reproduce

1. Run `docker-compose exec web bash`
2. Run `python ./scripts/copydocs.py "/books/OL28775995M"
3. Use the validator tools direc

[2021-01-20 02:29] jdlrobson opened #4441 "Fix validation issues on the home page"
Incorrect HTML can lead to rendering issues and bugs.

### Evidence / Screenshot (if possible)
The validator tool flags errors on the home page

e.g. https://validator.w3.org/nu/?doc=https%3A%2F%2Fopenlibrary.org%2F

### Steps to Reproduce
1. Run `docker-compose exec web bash`
2. Use the validator tools direct input feature to flag errors on the home page
3. fix errors in the associated templates

[2021-01-20 02:29] jdlrobson commented on #2798
This issue is a bit too broad for me and I find big tasks don't lend well to volunteers and many of those templates are used on multiple pages. Would be better to create issues for every single page, as we encounter them. Also, some of these pages are more often used than others. For example, fixing stats would be a super low priority.

Going through the list of pages using those templates I've cr

[2021-01-20 02:29] #2798 closed

[2021-01-20 02:31] jamesachamp opened #4442 "Send S3 keys when POSTing observations to TheBestBookOn.com"
### Describe the problem that you'd like solved

In order to improve authentication at The Best Book On, S3 keys should be sent when patrons make observations about books.

### Proposal & Constraints

### Additional context

[Related TBBO issue](https://github.com/Open-Book-Genome-Project/TheBestBookOn.com/issues/45)
https://github.com/Open-Book-Genome-Project/TheBestBookOn.com/issues/45

### Stak

[2021-01-20 02:33] Yashs911 commented on #4441
@jdlrobson I would like to work on this issue.

[2021-01-20 02:41] Yashs911 commented on #4441
@jdlrobson
![image](https://user-images.githubusercontent.com/64412143/105119629-baf4eb80-5af6-11eb-9938-1184c35f33d4.png)
How should I fix the src error should I write src="" or something else?
How should I fix the duplicate id error?

[2021-01-20 02:50] Yashs911 commented on #4440
@jdlrobson I would like to work on this issue.
![image](https://user-images.githubusercontent.com/64412143/105120438-3c994900-5af8-11eb-8aaf-58a5bbf6d4e3.png)
I think in the URL, you have added Der_Todeskanal two times

[2021-01-20 03:03] Yashs911 commented on #4440
@jdlrobson
![image](https://user-images.githubusercontent.com/64412143/105121293-da414800-5af9-11eb-9cda-d2fe1428122b.png)
1st error: replacing space with %20 (encoding the URL) will solve this error
2nd error: I don't think we can do anything about it? Or can we?
3rd error: Already Fixed

[2021-01-20 03:27] alexpareto commented on #3399
Does OpenLibrary proxy the requests for the covers API? It seems that a proxy with the correct headers seems to resolve the issues... perhaps adding the header only on the OpenLibrary side would work?

[2021-01-20 03:43] shrey27tri01 opened #4444 "Mobile Nav Menus fail to close"
Clicking the account component and other menus in the header after opening them in mobile view doesn't close them.

This issue is an extension to #4200. Re-clicking the account component and the _My Books_ and _Browse_ menus in the header, after opening them, doesn't close them. Ideally they should be closed after re-clicking them.

### Relevant url?

https://openlibrary.org/

### Steps to Reprodu

[2021-01-20 04:00] jdlrobson commented on #4440
Sure. All I ask is just to pick one task at a time so that others don't get alienated from contributing.

This should be an attribute `data-workid`, which will require potentially other changes in JS/CSS

[2021-01-20 04:55] ArunTeltia commented on #2798
@jdlrobson i was working in this last month then I got covid so I was not able to work on it, will get start with this by next week
It will be my first priority sorry for the delay

[2021-01-20 05:32] Yashs911 commented on #4440
@jdlrobson, I have fixed all the errors. Can you please guide me on how to fix `Duplicate ID read_ebook. (4)` the same error is also there on the homepage.

[2021-01-20 06:03] jdlrobson commented on #2798
No problem and no rush. I think it makes more sense to focus on pages rather than templates. The goal is still the same.

Hope you are feeling a lot better now!

[2021-01-20 10:57] nynaalekhya commented on #4438
Hi @jdlrobson ,
Can I work on this issue?

[2021-01-20 10:58] nynaalekhya commented on #4439
Hi @jdlrobson,
Can I work on this issue?

[2021-01-20 14:15] navneetsaluja opened #4447 "Converting read_ebook and borrow_ebook ids to classes"
Currently, all the 'Read' and the 'Borrow' buttons use an `id` of `read_ebook` and `borrow_ebook` respectively. Since it is used almost everywhere on the site, I believe we should convert them to classes instead since `id`s are meant to uniquely identify an element. This will be a big refactor and may involve backend as well.

### Relevant url?
Any page with the blue Read/Borrow buttons, example:

[2021-01-20 14:15] navneetsaluja commented on #4447
If this is an actual issue that needs to be resolved, I'd like to work on it.

[2021-01-20 16:01] nynaalekhya commented on #4439
Thank you, @jdlrobson.

[2021-01-20 17:17] mekarpeles commented on #3259
This issue has a lot of valuable pieces, thank you for investing the time and energy and sorry it's taken so look to give it a careful review!

The feature requests, as I can tell, are:
1. Book Reviews -- we're piloting this on thebestbookon.com: https://github.com/Open-Book-Genome-Project/TheBestBookOn.com/pull/67 (a place where patrons can use their Open Library accounts to safely make reviews w

[2021-01-20 17:17] #3259 closed

[2021-01-20 17:22] mekarpeles opened #4448 "Dark Mode"
Originally proposed by @vidhi-mody in #3259 -- this is a community requested feature which is not on the 2021 staff roadmap, but we imagine folks will be happy about this change, so we're happy to guide the community to implement this feature (lower priority)

![image](https://user-images.githubusercontent.com/978325/105211044-aa497300-5b00-11eb-8f0f-284ff0c0024a.png)

[2021-01-20 17:27] mekarpeles opened #4449 "HTML Validation Epic"
This issue is an Epic issue-tracker for HTML Validation. We'd love community help making sure our HTML is valid!

- [x] #3881
- [x] #4438
- [x] #4439
- [x] #4440
- [x] #4441
- [x] #4472
- [x] #4473

[2021-01-20 17:39] mekarpeles commented on #4366
https://github.com/internetarchive/openlibrary-bots is where most community projects go. I imagine most folks will want their own repos fro their own projects.

I have no problem with you using https://github.com/BrittanyBunk/OL-and-IA-community-files :)
:+1: marking issue as resolved since your repo exists

[2021-01-20 17:39] #4366 closed

[2021-01-20 20:47] cdrini commented on #3399
@jamesachamp Could you try adding it to the OL resources? I think that would cover a majority of requests. I'm pinging some of the folks at IA to see if there are any options for the IA ones.

[2021-01-20 21:15] mekarpeles opened #4451 "2021 Q1 Book Genome Project Plan"
Issues for the Book Genome Project will live at https://github.com/Open-Book-Genome-Project/sequencer/issues and the `epic` will be managed here on Open Library by @finnless

[2021-01-20 23:12] #4442 closed

[2021-01-20 23:52] mekarpeles opened #4453 "2021 Q1 Community Book Notes"
This is the `epic` and roadmap for Open Library's Community Book Notes project, inspired by [Storygraph](https://www.thestorygraph.com):

**Issues:**
https://docs.google.com/document/d/19rEj3Dy2yIzlZQBPPf9R-99N1htGwOrBOltJhH2tdh4/edit#heading=h.t2y0k830qbxu

**Proposal:**
https://docs.google.com/document/d/13Qrxfnd7BbSoMyRIAMM1wekr78sOVbaZpaOfH03tHe0/edit#

## Subtasks

- [x] https://github.com/in

[2021-01-21 19:06] cdrini opened #4459 "ImportBot Archive.org Imports Failing (403)"
ImportBot's logs show a bunch of errors, and it seems like it's not successfully import/syncing new IA records.

### Evidence / Screenshot (if possible)
[code]

### Proposal & Constraints

### Related files

### Stakeholders
@mekarpeles

[2021-01-21 19:28] cclauss commented on #4459
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/api.py#L199
[code]

[2021-01-22 02:17] mekarpeles commented on #3288
Closing this issue; at some point w _do_ want to incorporate fulltext results into the search experience and remove dead-ends (the results are fairly slow and so we'll need a better strategy)

[2021-01-22 02:17] #3288 closed

[2021-01-22 02:22] mekarpeles commented on #3321
I like the idea of us improving search to show e.g. subjects, fulltext, authors, etc. I think this PR should be closed and the solution reassessed w/ the scope of the 2021 goal

[2021-01-22 02:22] #3321 closed

[2021-01-22 02:26] mekarpeles commented on #714
Seems to work now! :tada:

[2021-01-22 02:26] mekarpeles commented on #714
This may be a separate issue worth opening? @LeadSongDog

[2021-01-22 02:30] #322 closed

[2021-01-22 03:36] BrittanyBunk commented on #3374
@mekarpeles Questions & Community Discussion is good for me

[2021-01-22 06:11] tfmorris commented on #3288
@mekarpeles Perhaps your rationale for closing could address some of the comments in the original issue -- which were supported by Internet Archive staff member @cdrini. Since it's principally a  UX issue, maybe someone with user experience like @jdlrobson or @seabelis should be polled for their opinions.

Others, like @LeadSongDog, may raise the issue of OpenLibrary sending patrons' search querie

[2021-01-22 06:16] tfmorris commented on #714
Works in what way? I didn't go through all the examples, but https://openlibrary.org/search/authors?q=Ka%CC%84lida%CC%84sa&mode=everything returns zero results.

Since nothing has been done with SOLR, I wouldn't expect the results to have changed. @mekarpeles Can you cite the commit that you believe fixed this issue?

[2021-01-22 06:20] tfmorris commented on #322
The last comment by @xayhewalo (sic) says that #2246 will fix this, but that is unmerged (and abandoned).

@mekarpeles Could you please provide some rationale for to help followers understand why this is being closed? Since @bfalling has been waiting over 4 years for this, I'm sure he'd appreciate it as well.

[2021-01-22 17:25] LeadSongDog commented on #714
@tfmorris That search returned nothing in Chrome on iPadOS but 28 hits in Safari on iPadOS. Meanwhile even on the latter, merging as below returns an “Internal server error”:
![0EC4C85B-BBC6-4B78-AD2E-9E6D2C7487A2](https://user-images.githubusercontent.com/11435431/105523766-d0137b00-5cac-11eb-919a-64365b6a3302.png)

[2021-01-22 18:34] tfmorris commented on #714
@LeadSongDog Remember that if you merge/edit the entry, you stand a good chance of changing the behavior in a way that makes the bug unreproducible, requiring the developers to search for another test case.

[2021-01-22 18:56] LeadSongDog commented on #714
Right. That’s why I didn’t try to merge more than one of the many.

[2021-01-22 20:10] LeadSongDog commented on #3288
@tfmorris To be clear, I see no real problem with sending the query on to IA, just to redirecting the user’s browser there, while a very slow search runs. If OL provides an IA proxy for the response, it should work just fine.

[2021-01-22 21:43] mekarpeles opened #4465 "Affiliate API: Supplement/import missing data & failed search results"
Continuation of #1322

1. [ ] When Affiliate Server pulls data, if that data is not in OL (e.g. a missing cover), let's make sure to back-fill and improve over time
2. [ ] Let's see if we can extend our usage of the affiliate APIs so if our search result returns no hits, we may still show / perhaps import results.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Ad

[2021-01-22 21:48] #68 closed

[2021-01-22 21:52] mekarpeles commented on #686
Howdy all, from here on out, please use https://openlibrary.org/volunteer!

Rules above still apply :)

[2021-01-22 21:52] #686 closed

[2021-01-23 04:36] cclauss commented on #4229
Given that it is easier to do edit-on-the-fly debugging without Docker, should two dev servers be configured as:
1. Open Library running on Python 3 on bare metal
2. Open Library running on Python 3 in Docker containers

[2021-01-23 07:06] mekarpeles opened #4466 "#4454 Followup: "More" vendors dropdown"
See https://github.com/internetarchive/openlibrary/pull/4454

BK has asked to avoid a large list of vendors overwhelming the page. Suggestion is to consolidate as is mentioned in this PR.

Option to add a e.g. "other vendors" dropdown like goodreads
![image](https://user-images.githubusercontent.com/978325/105571560-b18d9e00-5d05-11eb-9691-f22b41197dc1.png)
which shows more options.

We could do s

[2021-01-23 07:14] mekarpeles commented on #3357
Closing -- to be owned by @finnless on BGP

[2021-01-23 07:14] #3357 closed

[2021-01-23 07:27] mekarpeles commented on #830
We have an MVP for this at https://openlibrary.org/account/import

[2021-01-23 07:27] #830 closed

[2021-01-23 07:44] mekarpeles commented on #487
Appears to be resolved!

[2021-01-23 07:44] #487 closed

[2021-01-23 08:06] mekarpeles commented on #608
Thank you for the offer @aalmazan! I think since activation is now handled by Archive.org as of #526, this can be closed

[2021-01-23 08:06] #608 closed

[2021-01-23 08:10] mekarpeles commented on #787
Still potential issues in the readableurls logic, but the cases are now better known (documented in this thread) and the mentioned records have been fixed accordingly.

[2021-01-23 08:10] #787 closed

[2021-01-23 08:29] #4459 closed

[2021-01-23 08:34] mekarpeles commented on #662
@cclauss can you possibly check to see if we're still seeing this issue in Sentry and if not, close? thank you!

[2021-01-23 08:44] mekarpeles commented on #448
Ideally, if a search is done in a language:
1. A Work should have a list of available [i.e. has `ocaid`] Editions (each with a language) in `solr`
2. When one clicks the work, we should note ?language in the work redirect so we can choose the correct language
3. We should use [1] to show preferably show the matching Edition + title information on the search works page

[2021-01-23 09:01] mekarpeles commented on #2332
Closing as duplicate of #2034

[2021-01-23 09:01] #2332 closed

[2021-01-23 09:18] mekarpeles commented on #4379
@LeadSongDog it looks like the bulk availability API for this item is returning `private`
https://archive.org/services/availability?identifier=traduction00arna_0

[code]

Whereas the ground truth Loan endpoint reports `readable`:
https://archive.org/services/loans/loan/?&action=availability&identifier=traduction00arna_0
[code]

[2021-01-23 09:20] mekarpeles commented on #4379
@bfalling any idea what some items may be showing up as `private` which are `readable`? Is this something we can fix now that @judec's new metadata is in ElasticSearch?

[2021-01-23 10:53] #4398 closed

[2021-01-23 11:06] mekarpeles commented on #2317
Going to move to @cclauss to equalize our `Lead` load and lowering the priority

[2021-01-23 11:10] mekarpeles commented on #2317
https://github.com/internetarchive/openlibrary/issues/2317#issuecomment-545270829

not every issue needs an assignee, but it makes sense in our new world #4282 for every issue to have a Lead (a point capable of prioritizing, reviewing, answering questions + fielding comments on issues, finding others to help out, and helping them get setup / find the right files).

[2021-01-23 11:21] mekarpeles commented on #474
Pretty sure this is no longer an issue :tada:

[2021-01-23 11:21] #474 closed

[2021-01-23 11:24] mekarpeles commented on #357
Can this be closed? Added to next proposed milestone as a reminder for us to evaluate. Should be solved by Librarian Merge tools? cc: @seabelis

[2021-01-23 11:34] mekarpeles commented on #153
@hornc got this number down to ~2M orphans and most of the egregious cases have been dealt with:
https://github.com/internetarchive/openlibrary/wiki/Orphaned-Editions-Planning.

As it stands, whenever an orphaned edition is edited, a work is created for it.

Going to close this issue as things should become eventually consistent. If someone wants to create an https://github.com/internetarchive/ope

[2021-01-23 11:34] #153 closed

[2021-01-23 11:52] Yashs911 commented on #2317
@cclauss I would like to work on this issue. Any starting point?

[2021-01-23 12:07] cclauss commented on #2317
Was this issue closed in #2318 er what?

[2021-01-23 12:11] cclauss commented on #2317
@Yashs911 perhaps search on each of the five keywords and see if there is any cruft lying around in our codebase.  If so, separate PRs for each keyword found please.

[2021-01-23 12:11] Yashs911 commented on #2317
@cclauss Yes, so we can close this issue, and if you are free, I can work on #3483

[2021-01-23 12:13] Yashs911 commented on #2317
@cclauss I just found some old comments and few keyword
![image](https://user-images.githubusercontent.com/64412143/105577877-53fb5f00-5da2-11eb-96bf-3ed307653135.png)
![image](https://user-images.githubusercontent.com/64412143/105577898-742b1e00-5da2-11eb-9c6b-aaca44086edc.png)

[2021-01-23 12:17] cclauss commented on #2317
Cool.  Let’s keep the separate from #3483 because I think we can land these mods quickly whereas the “unnecessary imports” require careful review because of import side effects which flake8 can not detect.

[2021-01-23 12:19] Yashs911 commented on #2317
@cclauss Okay, So should I create a PR and remove all these comments and references?

[2021-01-23 12:22] cclauss commented on #2317
On PR for each keyword (copyright, scod, heartbeat, theme, mobile) found.

[2021-01-23 12:33] Yashs911 commented on #2317
@cclauss Should I remove this folder: https://github.com/internetarchive/openlibrary/tree/master/scripts/2009/01/scod_stats

[2021-01-23 12:39] mekarpeles commented on #3987
reviewed barcode scanner + literacy post, final steps + publishing w/ Nick later this and next week respectively.

[2021-01-23 12:39] #3987 closed

[2021-01-23 12:48] mekarpeles commented on #3365
Closing this issue as we have

1. #2728 for tracking progress in 2021
2. this tracking doc https://coda.io/d/Search-Planning-Notes_dO8sGM90quA/Epics-in-Progress_su1I2#_luBNR
3. new `Module: Solr`  and `Theme: Search` managed labels added

https://github.com/internetarchive/openlibrary/labels/Module%3A%20Solr
https://github.com/internetarchive/openlibrary/labels/Theme%3A%20Search

[2021-01-23 12:48] #3365 closed

[2021-01-23 12:52] mekarpeles commented on #2977
If there are documentation changes, we should try to start with small actionable changes per team lead. In the last year a lot of our FAQs and documentation have been improved both for engineering and also by the librarian teams. Closing until there's a specific reason to re-open.

[2021-01-23 12:52] #2977 closed

[2021-01-23 12:54] mekarpeles commented on #2936
I think we now have the basics of polish translation! Thank you!!

[2021-01-23 12:54] #2936 closed

[2021-01-23 12:57] mekarpeles commented on #2902
I agree with @tfmorris's comment that there are a lot of strategies for processing the data dumps after download.

I haven't heard demand / requests from partners asking for more specific data dumps or complaints about the size.

Marking it as `Will Not Fix`, however the community is more than welcome to create derivative dumps from what we offer!

[2021-01-23 12:57] #2902 closed

[2021-01-23 13:01] mekarpeles commented on #2629
See: #153 (duplicate)

https://github.com/internetarchive/openlibrary/issues/153#issuecomment-765909500

[2021-01-23 13:01] #2629 closed

[2021-01-23 13:11] mekarpeles commented on #1929
Not sure how to assess / solve problem (other than show previewable books under ebooks toggle?) Closing for now, please re-open if there's more details about how the correct solution should look

[2021-01-23 13:11] #1929 closed

[2021-01-23 13:14] mekarpeles commented on #621
Can we add a link to their https://openlibrary.org/account/loans page which goes to:
https://archive.org/account/?tab=loans#loans-history ?

[2021-01-23 13:25] mekarpeles commented on #1215
I think this has since been resolved

[2021-01-23 13:25] #1215 closed

[2021-01-23 13:25] mekarpeles commented on #1064
This is pretty old... Going to close for now; the historical record exists for us to re-open should we need it.

[2021-01-23 13:25] #1064 closed

[2021-01-23 13:28] mekarpeles commented on #1054
I agree this is a valid means for an issue, but it's telling that it hasn't been closed by resolution.

I think @xayhewalo has the right idea. We should try to start smaller + show some/any of the exact files where these hacks are so someone can solve a specific case. Going to close this issue and invite a more specific issue towards this goal (or a re-opening of this issue with clear next steps t

[2021-01-23 13:28] #1054 closed

[2021-01-23 13:32] mekarpeles commented on #1040
@nirabpudasaini do you remember where we left off with these translations? I think a minimum Nepali example could help a lot of people :)

[2021-01-23 13:36] mekarpeles commented on #978
I think the idea of adding facets to the author page is reasonable as a feature request, but I just don't think we have the bandwidth to take this one on. I am going to tentative close as `Will Not Fix` though am glad for anyone who really cares passionately about this issue to revive, re-open and champion. I have a hunch this is actually quite a bit of work and our time may be better spent choosi

[2021-01-23 13:36] #978 closed

[2021-01-23 13:49] mekarpeles commented on #2333
Closing as duplicate of #2034

[2021-01-23 13:49] #2333 closed

[2021-01-23 13:57] mekarpeles commented on #3375
Updated https://openlibrary.org/about/people.en
+ added https://openlibrary.org/volunteer

[2021-01-23 13:57] #3375 closed

[2021-01-23 14:05] #4292 closed

[2021-01-23 14:40] nemobis commented on #1929
Mek, 23/01/21 15:11:

Yes, that's one solution (you mean what I called "Always show the
digitised edition even if I can't borrow it", if I understand
correctly). It might be a bit too noisy when there are many search results.

Otherwise, it should "only" be a matter of fixing the facets, so that
they only count things I can actually see. I've not looked at the code
(or I forgot), but I suppose you

[2021-01-23 15:29] BrittanyBunk commented on #3375
@mekarpeles thanks. There's just one part missing - and that's in the librarian part. It doesn't say how anyone from anywhere can just edit any information on the Open Library, as that's what it's all about. Where's the average editor that isn't a part of a team on the OL, but just gets edits done independently? How about "Independent Librarian"? I mean, there are those at libraries - the ones tha

[2021-01-23 15:31] BrittanyBunk commented on #2902
who are these 'partners'?

[2021-01-23 15:34] BrittanyBunk commented on #2977
@mekarpeles if the documentation has been improved, where is it then?

[2021-01-23 15:39] BrittanyBunk commented on #4379
@mekarpeles what would proof look like to you to reopen 2616?

[2021-01-23 15:42] BrittanyBunk commented on #4379
@mekarpeles the problem still exists - and yes, this issue is the same as mine. Because the available edition is not showing up in the list, it's not showing up in the carousels.

[2021-01-23 17:17] #4440 closed

[2021-01-23 17:19] #621 closed

[2021-01-23 17:31] LeadSongDog commented on #662
Still seeing it on dev and prod:
![D70AD678-6219-4761-990F-C8E3877A061A](https://user-images.githubusercontent.com/11435431/105609218-c43fbb80-5d75-11eb-8d81-31cf1536654e.png)

[2021-01-23 17:33] jdlrobson opened #4472 "Lists page has duplicate lists id"
When using the validator tool on https://validator.w3.org/nu/?doc=https%3A%2F%2Fopenlibrary.org%2Flists you'll notice that one of the complaints is that #list is used twice.

* Ideally remove the id on the body tag, or at least rename it to "page-lists"
* Confirm the validator passes for this page.

### Evidence / Screenshot (if possible)

<img width="1349" alt="Screen Shot 2021-01-23 at 9 32 08 A

[2021-01-23 17:36] jdlrobson opened #4473 "Fix validation issues on user list page"
Incorrect HTML can lead to rendering issues and bugs.

### Evidence / Screenshot (if possible)
The validator tool flags errors on user lists page

e.g. https://validator.w3.org/nu/?doc=https%3A%2F%2Fopenlibrary.org%2Fpeople%2Frobothugs%2Flists%2FOL192872L%2FCycle_2_Books

### Steps to Reproduce
1. Run `docker-compose exec web bash`
2. Import lists into site using `python ./scripts/copydocs.py`
3.

[2021-01-23 17:36] jdlrobson commented on #3881
Closing as  #4447 tracks remaining issue

[2021-01-23 17:36] #3881 closed

[2021-01-23 17:38] Yashs911 commented on #4472
@jdlrobson I would like to work on this issue

[2021-01-23 17:39] jdlrobson commented on #4441
I'd recommend using a base64 1x1 png for this
You can get the base64 via https://png-pixel.com/
and make it a data uri in the src attribute per https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs

Make sure to use a constant so that URL doesn't make the template unreadable!

[2021-01-23 18:18] jdlrobson opened #4474 "EPIC: Remove inline JS across all python templates"
NOTE: This will enable OpenLibrary's JavaScript to be async and non-render blocking. When transitioning to async JavaScript it's vitally important we review the DOMContentLoaded event inside ol.analytics to make sure it is still firing.

Various templates across openlibrary add inline JavaScript files making it really hard to make changes to HTML or JS that is built in webpack without the potentia

[2021-01-23 19:25] tfmorris commented on #787
Wait, the code is still broken, it's super easy to fix (as documented by the "Good First Issue" tag), but the issue is being closed? What am I missing?

[2021-01-23 20:44] tfmorris commented on #4379
The metadata for that IA edition is messed up in other ways too. The [IA entry](https://archive.org/details/traduction00arna_0) links to OCLC, but **not** OpenLibrary. It has two different "authors" which differ only be a single period following the death date. Etc.

[2021-01-23 20:51] BrittanyBunk commented on #4379
@tfmorris how does that cause the mess-ups seen here? Does it have to do with the dual author problem and redirecting? It's a little tricky to understand.

[2021-01-23 20:55] tfmorris commented on #4379
Just more evidence of messed up metadata for the investigation. Until there's a root cause analysis, it won't be known if all the metadata problems with this edition are related or not. If they turn out to be separate bugs, they can be split into multiple tickets.

[2021-01-24 00:36] mekarpeles commented on #4379
Proposed solution is on petabox:

Call the function that generates those values directly from within `AvailabilityService.inc`:
`Lending\LendingFacets::get_search_doc_fields()`
https://git.archive.org/ia/petabox/-/blob/master/www/common/Lending/LendingFacets/LendingFacets.php#L214

Accepts a full_item_metadata object to pass along to get_status to avoid making a metadata API. Create your own array

[2021-01-24 04:18] f20190104 commented on #29
Hey, Can I work on this issue?

[2021-01-24 04:59] #4447 closed

[2021-01-24 05:22] jdlrobson opened #4480 "UI for adding a page to a list is unintuitive, could be improved"
The list UI is not great. It's not clear that clicking list names will add the current book to the list, and it becomes even more confusing when those same links link to the lists themselves.

### Evidence / Screenshot (if possible)

### Relevant url?
Any book page. e.g. https://openlibrary.org/works/OL194006W/Diary

### Steps to Reproduce

I was playing around with the list feature today, and ope

[2021-01-24 05:49] nynaalekhya commented on #4473
@jdlrobson ,
Can I work on this issue?

[2021-01-24 06:09] nynaalekhya commented on #4474
Hi @jdlrobson ,
Can I work on books folder?

[2021-01-24 09:55] Yashs911 commented on #4472
@jdlrobson, the body id is actually generated and is interconnected in some way. Changing the id breaks the page.
[code]
Can we instead change the `<div is="lists" >` to  "list" or something else because testing body id change might be difficult.

[2021-01-24 10:03] Yashs911 commented on #4480
@jdlrobson UI on local host:
![image](https://user-images.githubusercontent.com/64412143/105626907-3b9a4b80-5e59-11eb-8842-db0a900d7e24.png)

[2021-01-24 16:32] LeadSongDog commented on #4379
See https://openlibrary.org/show-records/ia:traduction00arna_0
Note the old ia: identifier. Also note that the character set mangled "Romanæ" to "Roman©Œ" and "intitulé" to "intitule ".

[2021-01-24 20:00] jzacsh opened #4483 "malformed genre entries (example for scifi), break search cta from homepage"
470~ works incorrectly listed in a nonsense genre `Fiction, science fiction, space opera` (those are three different genres) - see here: https://openlibrary.org/subjects/fiction_science_fiction_space_opera

### Evidence / Screenshot (if possible)

![Screenshot 2021-01-24 at 13 57 38](https://user-images.githubusercontent.com/156228/105641930-3256b200-5e4c-11eb-85a7-959b50e04b72.png)

### Relevant

[2021-01-24 21:26] navneetsaluja commented on #4474
May I work on /lib, looks fun :D

[2021-01-24 21:54] jdlrobson commented on #4480
This is how it will look when #4369 lands, yes. However, I think this amplifies the problem, as it  the "my reading lists" section is no longer related to the dropper component. It looks like a shortcut to reading lists links.

At least the link "Personal List" should read "Add to **Personal List**" and "My Reading Lists" should be changed to "Add the book to a list:"

"Create a new list" should a

[2021-01-24 23:13] jdlrobson commented on #4474
Perhaps  openlibrary/templates/books/edit/ - hopefully that will only equate to the edit interface for books.

lib/analytics runs on every page, so should be relatively straightforward to test so perhaps start there?

[2021-01-25 03:41] #4439 closed

[2021-01-25 14:39] mekarpeles commented on #2726
Closed by #4398

[2021-01-25 14:39] #2726 closed

[2021-01-25 14:51] mekarpeles opened #4485 "Site Performance"
Epic to supplant #3793 w/ actionable subtasks

See Game Plan: https://docs.google.com/document/d/1UVpfdt-1W7OimAEa1gHGF-xTqaQVuimzUPL6tQaSeCU/edit

Before starting this epic (or specific issues), we should collect baseline metrics so we know if/how we're improving.

## Approved

* All Pages
    * [x] #7714
    * [ ] #7710
    * [x] #7450
    * [x] #7453
    * [x] #7591
* Lending
    * [ ] #7726
*

[2021-01-25 14:52] mekarpeles commented on #3793
Performance has actionable steps on our roadmap for this year, close this in favor of a new issue # turning this into a performance Epic

[2021-01-25 14:52] #3793 closed

[2021-01-25 14:54] mekarpeles commented on #3812
@cclauss can you investigate this one at your leisure next time you're on your local env?

[2021-01-25 15:27] mekarpeles commented on #2657
I do think this issue has been resolved now, I'm not seeing cases in Sentry. Let's please re-open if it happens again.

[2021-01-25 15:27] #2657 closed

[2021-01-25 15:30] mekarpeles commented on #4023
I agree, I think this has been resolved?

[2021-01-25 15:30] #4023 closed

[2021-01-25 15:33] mekarpeles commented on #3887
This can be closed now that #4398 is merged. There's a PR on petabox side that can also be merged.

[2021-01-25 15:33] #3887 closed

[2021-01-25 15:41] LeadSongDog commented on #864
LoC maintains both the MARC and the ISO language codes at https://www.loc.gov/standards/codelists/languages.xml

While it would be great to see this “just work”, a reasonable alternative would be to provide an agreed place to capture any known but unsupported language name, such as spelling it out in the edition details.

[2021-01-25 15:47] mekarpeles commented on #130
Based on the fact that:
1. this has been open for 8 years
2. I'm not aware of any other issues from patrons / developers citing the underlying issue
3. limited availability of expertise on how it may be implemented
4. presumed expense of implementation v. the perceived benefit (see: 2)
I'm going to close this issue.

@bencomp has done a lot of meaningful outlining here, so if someone does have the

[2021-01-25 15:47] #130 closed

[2021-01-25 16:03] mekarpeles commented on #2940
Closing as we do have # linked accounts + account creation info in stats

[2021-01-25 16:03] #2940 closed

[2021-01-25 18:04] mekarpeles opened #4486 "Random Hamburger checkbox visible in narrow / mobile viewpoint"
### Evidence / Screenshot (if possible)

![openlibrary org_ (9)](https://user-images.githubusercontent.com/978325/105746609-84531280-5ef4-11eb-9ff7-47754fff3314.png)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal

[2021-01-25 19:52] nynaalekhya commented on #4486
@jdlrobson ,
The visibilty of checkbox could be set to hidden.

[2021-01-25 20:53] jdlrobson commented on #4486
@mekarpeles this is a caching issue I noted in the review. Please clear the caching on that page to fix.

[2021-01-25 20:55] jdlrobson commented on #4486
Where are you seeing it?

[2021-01-25 21:57] mekarpeles opened #4490 "Print Disabled Access"
Resolves: #2406
Relates to #733 #2829, #751, #721,

Special button for Print Disabled Access.

On login, xauth will pass print-disability status to Open Library and set `pd=1` in the cookie

Add a new / special macros.LoanStatus button which always shows up for books which have print-disabled options.

![dev openlibrary org_search_q=lord+of+the+rings mode=everything](https://user-images.githubuser

[2021-01-26 03:11] Yashs911 commented on #4486
@jdlrobson opacity: 0; is applied to the input but I it will be better if we use display: none;
![image](https://user-images.githubusercontent.com/64412143/105794853-dc9c1a00-5fb1-11eb-89e7-f906d512e6d3.png)
![image](https://user-images.githubusercontent.com/64412143/105794919-fa697f00-5fb1-11eb-9fd0-0ceff1ed115d.png)

[2021-01-26 03:15] jdlrobson commented on #4486
Opacity 0 is necessary. Checkbox hack doesnt work with display none.

This shouldn't be a problem I just need to understand from @mekarpeles where we are seeing this (production? Dev? ) before suggesting an issue.

[2021-01-26 03:28] Yashs911 commented on #4486
@jdlrobson I am able to use display: none; and I also didn't notice the checkbox in mobile viewpoints.

https://user-images.githubusercontent.com/64412143/105796169-474e5500-5fb4-11eb-95c6-2003a6073270.mp4

[2021-01-26 04:44] jdlrobson commented on #4485
I think the best place to start here would be to set some benchmarks and set a goal e.g. "Site renders in under 3 seconds and fully loads in under 15 seconds on a 3G connection"

I'm actually attending a workshop around performance first week of February as a refresher, so if this can hold out until then, I can go through that with this in mind.

[2021-01-26 04:58] jdlrobson opened #4492 "Image covers should never appear stretched."
Book covers sometimes look stretched
e.g.
Winnie the Pooh on https://openlibrary.org/subjects/in_library#ebooks=true&sort=edition_count
<img width="969" alt="Screen Shot 2021-01-25 at 8 54 52 PM" src="https://user-images.githubusercontent.com/148752/105802222-944c1000-5f4f-11eb-8712-e08884c468e5.png">

CSS has an `object-fit: contains` rule which will make this long much nicer:
<img width="930" al

[2021-01-26 05:06] jdlrobson commented on #2043
this was partially fixed in #2225. Our coverage is currently 40% of lines. Tests for lines 47,57,89-216  are still needed.

Does anybody want to work on this?

[2021-01-26 05:06] #3250 closed

[2021-01-26 05:09] jdlrobson commented on #4444
@shrey27tri01 any updates on this one?

[2021-01-26 05:17] jdlrobson commented on #4257
@mekarpeles I'll be honest with you - this sounds overly ambitious for 2021 IMO and very risky for future maintenance.

FWIW we have been trying to do this on Wikipedia since 2016 where we suffer from similar legacy issues with our frontend and backend and are nowhere near there with many more staff and contributors.

If you are using service workers your frontend really should be solid and we are

[2021-01-26 06:22] shrey27tri01 commented on #4444
Sorry, couldn't get time due to college work :sweat_smile:
Though I have started working on it now. Will raise a PR soon :)

[2021-01-26 06:47] Yashs911 commented on #4474
@jdlrobson I would like to give this a shot.
Can I work on `openlibrary/templates/subjects.html`

[2021-01-26 19:00] Atheriz-46 commented on #3483
Hey, is this issue still open?? I can take it up.

[2021-01-26 19:06] Atheriz-46 commented on #2380
Hey, I would like to work on this issue if it's available. @tmcw

[2021-01-26 19:06] seabelis opened #4493 "Can collection carousel display be sorted by # of editions or availability?"
### Question
Can collection carousel display be sorted by # of editions or availability?

### Additional context
For example, if the results of a query include public domain, lending library, and print-disabled, the ability to sort or filter on the type best suited for the collection would be helpful. See https://openlibrary.org/collections/happy-new-year-2021 where many 'not in library' results a

[2021-01-26 19:07] cclauss commented on #3483
It is still open but as mentioned above, we have a fair number of imports that have side-effects.  This means that [flake8 F401](https://github.com/internetarchive/openlibrary/issues/3483#issuecomment-648125806) might say that an import is not needed but removing it will create a crash/bug/etc.  We are super-close to [removing Python 2](https://github.com/internetarchive/openlibrary/projects/25#ca

[2021-01-26 19:24] cdrini opened #4494 "olbase build failing with py 2.7.6"
Causing the docker hub image to fail building as well. This is going to be blocking deploys.

[code]

[2021-01-26 19:38] bitnapper opened #4495 "Minor CSS issue with lists in the edition specific description"
Ordered and unordered lists in the edition description are not poperly aligned with the text. Instead of beeing indented to the right they are indented to the left overlapping with other elements.

### Evidence / Screenshot (if possible)
![grafik](https://user-images.githubusercontent.com/2772669/105895164-7812a680-6015-11eb-8e38-e97fc417c26e.png)

### Relevant url?

You can see the probelm in the

[2021-01-26 20:25] tmcw commented on #2380
Anyone's welcome to work on this issue if they want to and the folks reviewing PRs don't see any potential conflicts.

[2021-01-27 03:57] Yashs911 commented on #4495
Duplicate of #3611?

[2021-01-27 04:34] Yashs911 commented on #4438
@jdlrobson #4481 will fix this issue.
![image](https://user-images.githubusercontent.com/64412143/105943303-02472300-6087-11eb-908f-098d28a04479.png)

[2021-01-27 04:39] Yashs911 commented on #4495
@bitnapper I would like to work on this issue

[2021-01-27 05:52] Yashs911 commented on #4379
@mekarpeles @LeadSongDog Might be related to this issue.
![image](https://user-images.githubusercontent.com/64412143/105948733-7e466880-6091-11eb-9fe8-682d6cb59a62.png)

[2021-01-27 09:12] cclauss commented on #4494
pyenv/pyenv#1793

[2021-01-27 15:14] Yashs911 commented on #4269
@jamesachamp, as we have removed `Check Availability` and `1 hour Borrow` buttons. Should we still increase, the main container width? or We can close this issue.

[2021-01-27 15:28] BrittanyBunk commented on #4379
@LeadSongDog I did bring up issues with not using a consistent language for book titles, so we just have to work through it if we decide to stay with inconsistency. Like would it be ok if those who are looking at book titles see "original title in original language (translation)" <- then have an identifier that can use the translation if the original's not the same language?

Or would you like to

[2021-01-27 16:57] LeadSongDog commented on #4379
@BrittanyBunk That’s a whole different issue. This was the result an old bug that mangled the import of MARC records by confusing different code sets. It has been fixed for newly acquired MARC files, but there’s a lot of bad old metadata still in play.

[2021-01-27 17:21] cclauss commented on #4494
Fixed by us in pyenv/pyenv#1793
[code]

[2021-01-27 17:21] #4494 closed

[2021-01-27 17:55] LeadSongDog commented on #412
@cdrini Please either reopen this issue or respond the the discussion above since you closed. I for one don’t grok the closure.

[2021-01-27 19:51] mekarpeles commented on #3088
I think it makes sense to prioritize our existing `borrowbot` #3255 before moving on to other projects. This thread has good ideas, however going to close it for pending how #3255 peforms

[2021-01-27 19:51] #3088 closed

[2021-01-27 20:00] jamesachamp commented on #4269
@Yashs911 This should probably be a group decision.  I've added the "Needs: Community Discussion" label, and will bring it up during our next community meeting on Tuesday.

[2021-01-28 03:46] Yashs911 commented on #2701
@cdrini I would like to work on this issue.
Currently, the class is located here:
https://github.com/internetarchive/openlibrary/blob/492f40215c5ff06df03ca82a9c25739d747d2c5b/openlibrary/plugins/upstream/tests/test_account.py#L165-L166

[2021-01-28 05:04] Yashs911 commented on #2084
@mekarpeles I would like to work on this issue.
![image](https://user-images.githubusercontent.com/64412143/106092472-5ec44400-6154-11eb-916a-035a4660f95a.png)

[2021-01-28 05:16] BrittanyBunk commented on #2084
@Yashs911 I don't get the picture if you don't mind helping me out here. Is this your vision?

@mekarpeles I do not like this idea. My idea of putting the titles in the empty boxes really was great enough - I'm 100% super happy that that was made possible. For me, I only look at the cover - the title would mislead me and I'll get lost. It's too much clutter and could make it harder to load. The re

[2021-01-28 05:22] Yashs911 commented on #2084
@BrittanyBunk, by default, the title appears when we hover over the book cover due to the title attribute added to the image.
![image](https://user-images.githubusercontent.com/64412143/106093729-d2675080-6156-11eb-95da-0e71faac801c.png)

[2021-01-28 06:10] Yashs911 commented on #2084
@mekarpeles @BrittanyBunk Will this work? Ignore the color scheme :)

https://user-images.githubusercontent.com/64412143/106097561-853aad00-615d-11eb-8e8e-197546397df1.mp4

[2021-01-28 08:44] seabelis commented on #412
I've changed my position slightly since my last comment. I have run into situations where the 'translated from' title and language differ from the original work. In some cases works are translated from the English (or some other) translation rather than the original language. I guess the question in these cases are do we use the 'translation of' or 'translated from' information. The latter is usua

[2021-01-28 17:49] Arnab11917676 commented on #4486
hello @jdlrobson, can I work on this issue...

[2021-01-28 18:27] cclauss opened #4497 "Loanstats cron job crashing"
Fixed in internetarchive/infogami#134
Subtask of #4383
Python 2: /openlibrary/core/loanstats.py", line 10, in <module> `from urllib.parse import urlencode`
Python 3: if _is_illegal_header_value(values[i]): TypeError: expected string or bytes-like object

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

-

[2021-01-28 19:22] cdrini commented on #4252
Note: Might need GeoMind on this :/

[2021-01-28 20:15] jdlrobson commented on #4486
I checked in with @mekarpeles and he cannot reproduce. This is a caching problem like I suspected.

[2021-01-28 20:15] #4486 closed

[2021-01-29 02:09] #4441 closed

[2021-01-29 02:42] #4473 closed

[2021-01-29 03:05] BrittanyBunk commented on #412
@seabelis I would say both. I mean, if say something starts in Russian, but is translated to English, that's a 'translation of', but if it goes from the English translation to Spanish, it's a 'translation from'.

I'm thinking to keep it straight would be 'translation from' if we're referring to editions, as we could say it got translated from Russian's writing to English and from English to Spanis

[2021-01-29 03:08] BrittanyBunk commented on #2084
@Yashs911 yesssssss! I like the first - as it matches the color scheme better (imo).

[2021-01-29 04:31] #4472 closed

[2021-01-29 20:19] LeadSongDog commented on #412
@BrittanyBunk Very few translations specify the precise edition they are translated from. In those few cases it could be shown in the edition notes field, but we should not depend on information that can rarely be had.

[2021-01-29 20:25] BrittanyBunk commented on #412
@LeadSongDog it's not hard to look at each book and see and sometimes the author says which - I opt for accuracy - what do you prefer?

[2021-01-29 20:27] LeadSongDog commented on #412
@BrittanyBunk ”sometimes” is the problem: we can’t build a system that depends on those exceptional cases

[2021-01-30 00:17] hkgnp opened #4500 "Returned JSON is incomplete"
### Evidence
When searching for a book using the API, the returned JSON results are incomplete, and are missing closing parentheses and closing brackets.

### Relevant url?
https://openlibrary.org/dev/docs/api/search

### Steps to Reproduce

1. Go to https://openlibrary.org/dev/docs/api/search and consume the API.
2. Retrieve the returned JSON results.
3. Scroll to the end of the list, and the clo

[2021-01-30 00:18] #4500 closed

[2021-01-30 03:01] Yashs911 commented on #4438
@jdlrobson I think we can close this issue.

[2021-01-30 05:00] shrey27tri01 commented on #4444
@jdlrobson I've created a PR [here](https://github.com/internetarchive/openlibrary/pull/4501). Do check it out :)

[2021-01-30 08:14] mekarpeles commented on #4359
Duplicate of #4359

[2021-01-30 08:14] #4359 closed

[2021-01-30 14:54] BrittanyBunk commented on #412
@LeadSongDog yes, you can - you have different options for different circumstances. It's like sometimes I have an ISBN 10 - and we have that - so yes, we can.

[2021-01-30 22:51] #4497 closed

[2021-01-31 19:15] BrittanyBunk opened #4502 "Uploading cover images failing intermittently"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/55302685/106395168-8f56e880-63b5-11eb-9eb0-57d3da58d12b.png)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

[2021-01-31 19:16] BrittanyBunk commented on #4448
What can anyone do? I think I might've brought this up too somewhere

[2021-01-31 21:21] tfmorris commented on #4225
Fails merging the 1st & 3rd authors here: https://openlibrary.org/authors/merge?key=OL619897A&key=OL2908580A&key=OL5551708A&key=OL6373539A&key=OL7507879A&key=OL485083A

[2021-01-31 21:49] LeadSongDog commented on #4225
Again note the different encodings of ü in his name as seen at
https://openlibrary.org/authors/OL619897A.json
and at
https://openlibrary.org/authors/OL5551708A.json

[2021-02-01 03:49] BrittanyBunk commented on #4493
@seabelis I brought this issue up in #4379, but you put them into words, so kudos

[2021-02-01 03:53] BrittanyBunk opened #4503 "Show most available on carousel thumbnails"
Problem
Many books in a carousel will show an edition's not available, which is true. However, the other editions can very well be.

Solution
I propose for the thumbnail of a work to show the most available edition. So instead of saying 'not in library', when there's 'borrow' and 'read' editions, put up the 'read' edition in the thumbnail instead. If that's not available, do 'borrow', etc.

[2021-02-01 06:37] hornc commented on #4185
Existing test data test this, and appears to pass -https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/marc/tests/test_data/xml_expect/0descriptionofta1682unit_marc.xml

Confirm this is validating the
[code]
expectation, and if so, figure out what is different about the https://openlibrary.org/show-records/marc_loc_2016/BooksAll.2016.part27.utf8:186046004:1709 example ab

[2021-02-01 07:37] hornc commented on #2877
https://github.com/hornc/marcia/blob/master/fixindex.py has code to "fix" the indexes of a single binary MARC record. Modifying that to work with a MARC collection will hopefully resolve the issues.

Example, where it currently only works on fixing the first record:

[code]

compared to original:
[code]

[2021-02-01 12:02] hornc commented on #4204
The problem looks like it could be coming from this code, if this script is active for ImportBot: https://github.com/internetarchive/openlibrary-bots/blob/master/BWBImportBot/import-ol.py#L42

[2021-02-01 14:43] cclauss commented on #2852
grep urlopen **/*.py > files.txt

with open("files.txt") as in_file:
    files = {line.split(":")[0] for line in in_file}

print("\n".join(sorted(files)))

[code]

[2021-02-01 14:46] BrittanyBunk commented on #4493
duplicate of #3248

[2021-02-01 14:50] BrittanyBunk commented on #3200
What if when people see the 'join waitlist' and 'preview' buttons, there can be a 'related' button there that can bring people to the carousel below? The issue is that when I go, I don't really see an alternative to waitlisted books, and that's the issue.

However, after the IA changed the borrow to be 1 hour or 14 day options, I don't see waitlists anymore, so I don't see this as an issue luckily

[2021-02-01 14:51] BrittanyBunk commented on #3202
Due to the availability of books now, I don't see waitlisted books anymore. Yay!

[2021-02-01 14:59] BrittanyBunk commented on #2388
This issue is getting solved where libraries now can post the books they have in their libraries on the IA. There is a vision to what I was talking about here, but it's a little hard to describe, but is in the works:
- instead of saying 'sponsor', an option is in the works to be written in 'donate' if someone has the book, so the IA doesn't have to buy the book if it already exists. This is really

[2021-02-01 15:14] BrittanyBunk commented on #4453
Really cool idea, the book notes.

[2021-02-01 15:18] BrittanyBunk commented on #4480
it would be nice to have checkboxes next to the lists, so people can check and uncheck them. I have this issue a lot, but I just haven't brought it up, because so many other issues have popped up for me.

[2021-02-01 15:20] BrittanyBunk commented on #2641
This issue is still present. https://openlibrary.org/people/EshrektOgre/lists/OL104809L/Textbooks click on https://openlibrary.org/works/OL1027511W/Understanding_international_conflicts and you'll see the difference between what it looks like in the list to what it actually is.

[2021-02-01 15:25] BrittanyBunk commented on #4263
this sounds like a really difficult problem. Maybe going through a publisher can help, but then what about independent publishers? Idk how to really do this except manually, which is obviously not what's ultimately desired - something automated is. I mean, they may need a driver's license or proof and then be manually approved. There's just no easy way I see of doing so.

What would be nice is if

[2021-02-01 15:26] BrittanyBunk commented on #4320
what does this even look like? I don't get it - however, it's not a priority for me to understand, as I"m not going to be working on it.

[2021-02-01 15:29] BrittanyBunk commented on #4451
This is a good start. This project's really big and is going to take many people and a lot of work to get going, due to the intricacies of it. I also am not sure where the priorities are in terms of purpose. I think if there's something clear somewhere on the direction/purpose of these tasks, it's going to be easier/streamlined (at least for me).

Hope that helps, but idk my role in this yet.

[2021-02-01 15:35] BrittanyBunk commented on #4465
I do like the idea of bringing to attention what's missing in the OL so that it can be filled out more. That is probably the # 1 issue on the OL and so I understand the need to fix it.

So what you're saying is for some (I forgot the term) automated moderator will look for missing info on the OL and when an item's pulled and try to fill in what's missing. Cool (if I'm understanding right) - I mean

[2021-02-01 15:37] BrittanyBunk commented on #3249
@tfmorris the issue with your logic is that this is a self-correcting issue - the more books that get sponsored, the fewer that would need to be pulled from

[2021-02-01 15:41] BrittanyBunk opened #4516 "Put 2021 roadmap on wiki"
Problem:
the 2021 roadmap is always referenced, but is not easy to find.

Solution:
I found the link. If we can put https://docs.google.com/document/d/1U2zolE0q_H4ydO4ss4RvD9Tv-DJpNMs4T9k8Qxef20A/edit#heading=h.n0o9aed9lyeh right above (or under, preferably above) the 'how we communicate' section, that'd help people find it, so we're all onboard with the same priorities/ideas

[2021-02-01 15:46] BrittanyBunk commented on #2084
I really do like this idea. It's much better to have the actual cover - so people are matching what they know to what they see, than me manually attaching the name to the cover that doesn't have it in reality. Much nicer looking and a lot less work on my (and likely others') parts :). I mean, some covers, no matter what I do - it won't be possible to read a title on it anyway, so this is great.

O

[2021-02-01 18:57] Sabreen-Parveen opened #4517 "Incorrect item count displayed when a user deletes an item"
Whenever a patron deletes an item from a list, the total item count is not updated. It gets updated after refreshing  the page .
### Evidence / Screenshot (if possible)
![list](https://user-images.githubusercontent.com/53360510/106503898-3d64ae80-64ec-11eb-8e50-88a7dd434b1e.png)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y

[2021-02-01 22:27] #2317 closed

[2021-02-01 22:37] #3421 closed

[2021-02-02 00:07] CliftonMcCallum commented on #4492
@jdlrobson and @mekarpeles , my team and I would love to contribute to this one as our first issue.

I've started poking around the components within the CSS folder. We may need some guidance from a lead on this one. Please let us know how to proceed. Thank you!

[2021-02-02 00:12] hornc commented on #4204
@mekarpeles I see there has been a change to the bots repo code from what I wrote originally in the `parse-biblio.py` script:

![image](https://user-images.githubusercontent.com/905545/106533406-fcee4a80-6556-11eb-8530-ed69681ab578.png)

`pagination` is the correct OL desitination field to use when copying that data. The committed version in openlibrary-bots looks like a WIP straddling python 2 an

[2021-02-02 03:01] jdlrobson commented on #4492
The CSS for the carousel shown on homepage is contained in https://github.com/internetarchive/openlibrary/blob/master/static/css/components/carousel.less so that would be the place to start.

I'm happy to answer any more specific questions

[2021-02-02 03:18] CliftonMcCallum commented on #4492
@jdlrobson , thank you for the speedy reply! We will put our shoulders to the wheel, and we'll reach out with any questions. Thanks again!

[2021-02-02 05:09] bpmcneilly opened #4521 "Test Images for Accessibility"
Help us make sure all of the Open Library images are accessible to our users!

For this task, we want you to take a look through the images on Open Library & make sure they have appropriate alternatives for screen reader users.

### Steps

1. Go through each of the pages under the 'Pages to Test' heading
    1. If you can't take on every page, no worries! Just add a comment here & let us know what

[2021-02-02 05:11] bpmcneilly opened #4522 "Test Open Library's Color Contrast"
For this task, we want you to take a look through all of the Open Library content & make sure the text has sufficient color contrast.

### Steps

1. Go through each of the pages under the 'Pages to Test' heading
    1. If you can't take on every page, no worries! Just add a comment here & let us know what pages you're reviewing ☺️
2. Using a color contrast tool of your choosing (see the "Resources

[2021-02-02 06:24] hornc commented on #4107
TODO: when Solr catches up, reimport these MARC records (removed from the librarians usergroup)
- [ ] marc:marc_loc_2016/BooksAll.2016.part40.utf8:26540428:1227
- [ ] marc:marc_loc_2016/BooksAll.2016.part14.utf8:44969185:748

https://openlibrary.org/show-records/marc_loc_2016/BooksAll.2016.part40.utf8:26540428:1227
https://openlibrary.org/show-records/marc_loc_2016/BooksAll.2016.part14.utf8:449691

[2021-02-02 06:36] Yashs911 opened #4523 "Home Page Color Contrast"
EPIC: #4522
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/64412143/106560463-112d4a00-654d-11eb-9f76-98589e36bb3e.png)

### Relevant url?

[Home](https://openlibrary.org/)
### Steps to Reproduce

1. Go to https://wave.webaim.org/report#/https://openlibrary.org/

### Proposal & Constraints

Currently the contrast ratio is **2.84:1** for background color

[2021-02-02 07:12] cclauss commented on #4204
@hornc Given your understanding of this code, can you please create a pull request that fixes this issue?

[2021-02-02 09:32] seabelis commented on #4480
Related to #3561

[2021-02-02 09:34] seabelis commented on #3607
There's also no way to tell if a list belongs to the work or edition.

[2021-02-02 09:37] seabelis opened #4524 "TypeError on openlibrary/templates/type/work/view.html"
Some works throw the following error:
`/openlibrary/openlibrary/templates/type/work/view.html: error in processing template: TypeError: expected string or bytes-like object (falling back to default template)
`
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/works/OL17364096W/Hikayat_Iskandar_Zulkarnain?debug=true&edition=

### Steps to Reproduce

1. Go to ... htt

[2021-02-02 13:27] dherbst commented on #2852
I don't think this script works any more `scripts/z3950_view.py` because PyZ3950 in not installed in the requirements any more.  I can't find PyZ3950 on pypi.org.  I cannot find reference to z3950_view in the codebase.  Given this, should we remove z3950_view.py?

[2021-02-02 13:48] cclauss commented on #2852
Last released in 2004 https://pypi.org/project/PyZ3950 --> http://www.panix.com/~asl2/software/PyZ3950 --> https://github.com/asl2/PyZ3950 which is far from Python 3 compatible.

[2021-02-02 15:47] cclauss commented on #4524
The code is trying to do a `re.match()` on the `author.name` but in this case the `author.name` is `None` so the `re.match()` raises a TypeError.  The empty string would be a safer value for a str than `None`.

https://openlibrary.org/authors/OL7292325A

[2021-02-02 17:41] BrittanyBunk commented on #4523
not quite sure I follow - it looks fine.

[2021-02-02 17:44] BrittanyBunk commented on #686
It would make sense if we can go through that website to be able to get invited to slack, but the button just redirects here. This should be opened back up!

[2021-02-02 17:46] cdrini commented on #4502
Tried uploading by URL and by cover image, and seems to be working? @seabelis says its intermittent.

[2021-02-02 17:51] BrittanyBunk opened #4528 "How come the community calls wait on a host to join in?"
Problem:
it's too difficult to join the community meetings, because of the need for host approval. It causes me to miss the meetings. Last year, the meetings were completely open.

Solution:
open the meetings to where people don't need a host approval, just like how it was before.

[2021-02-02 18:14] BrittanyBunk commented on #2641
will create new issue for lists, as this is carousels

[2021-02-02 18:14] #2641 closed

[2021-02-02 18:15] BrittanyBunk opened #4529 "same as #2641 but with lists"
Reference #2641.

https://openlibrary.org/people/EshrektOgre/lists/OL104809L/Textbooks click on https://openlibrary.org/works/OL1027511W/Understanding_international_conflicts and you'll see the difference between what it looks like in the list to what it actually is for the cover image.

[2021-02-02 18:26] BrittanyBunk commented on #4492
the solution is not good, as there's cutoffs on it. It should show the full image, but should have an expanded thumbnail size

[2021-02-02 18:32] jdlrobson commented on #4492
I understand the solution is not perfect, but I'd argue that the problem there is the original cover uploads not meeting a specific resolution.

We could make sure the thumbnail is contained in the rectangle, but that would not be so visually appealing but perhaps with a background color it might not be so bad like so:
<img width="1021" alt="Screen Shot 2021-02-02 at 10 31 57 AM" src="https://user

[2021-02-02 19:05] BrittanyBunk opened #4530 "create a data dump for images"
There isn't one and it might help to have one

[2021-02-02 19:26] bpmcneilly commented on #4523
Thank you for reporting @Yashs911! - Out of curiosity, have you tested other potential color contrast issues on the homepage, or are you interested in helping more with our accessibility efforts? If so, please feel free to reach out to me!

[2021-02-02 19:50] BrittanyBunk commented on #4492
@jdlrobson that looks like a workable solution - you're right, not perfect, a little hard to read. However, if the boxes need to be equally sized, it would work.

However, if the boxes can be of different sizes, the one I suggested is the one I prefer (not sure about anyone else).

[2021-02-02 22:11] #3660 closed

[2021-02-02 23:54] cclauss commented on #2308
Closing.  Awesome work @dherbst!  Once we have remove simplejson from Infogami, we can also remove it from our requirements*.txt files.

[2021-02-02 23:54] #2308 closed

[2021-02-03 04:07] Yashs911 commented on #4523
@bpmcneilly I only found 2 color contrast issues on the homepage (both due to the 2 `Not in Library` buttons).
![image](https://user-images.githubusercontent.com/64412143/106696733-5744e500-6603-11eb-97bc-28a6d2faafbc.png)

And Yes, I would like to solve other issues as well, one page at a time.
Should I create a PR with the above solution?

[2021-02-03 04:08] Sabreen-Parveen commented on #4521
@bpmcneilly I would like to work on this issue.

[2021-02-03 05:29] mekarpeles commented on #2388
Resolving as the sponsorship and donation paths are already available, as are edit options.

[2021-02-03 05:29] #2388 closed

[2021-02-03 09:09] nynaalekhya commented on #4521
@bpmcneilly  Can I work on this issue

[2021-02-03 09:56] Sabreen-Parveen commented on #4521
@nynaalekhya I have started working on this issue, If you don't mind I would like to continue working on it, I would appreciate it if you find a different issue for you :)

[2021-02-03 10:03] Yashs911 commented on #4521
@bpmcneilly I would like to work on [Lists](https://openlibrary.org/lists) Page

@Sabreen-Parveen This particular issue involves many pages you can select one page at a time and start working on that particular page. Other contributors can also do the same. :)

[2021-02-03 10:03] Yashs911 commented on #4521
@bpmcneilly I would like to work on [Lists](https://openlibrary.org/lists) Page

@Sabreen-Parveen This particular issue involves many pages you can select one page at a time and start working on that particular page. Other contributors can also do the same. :)

[2021-02-03 10:19] Sabreen-Parveen commented on #4521
I have noticed that the footer Internet Archive logo, has an alt attribute but it's not given any value, Should I change it to IA-logo?
![image](https://user-images.githubusercontent.com/53360510/106732818-2a122a00-6637-11eb-827a-b102034fe8cc.png)

[2021-02-03 11:07] Sabreen-Parveen commented on #4521
I have checked the `login page`, we do not need to make any changes in it.

[2021-02-03 12:02] nynaalekhya commented on #4521
@bpmcneilly I would like to work on Book page and  Search Results page
@Sabreen-Parveen You should choose pages from the list and could work on them .

[2021-02-03 18:39] bpmcneilly commented on #4521
@Yashs911 Let me know when the lists page is done!
@Sabreen-Parveen Thanks for those two confirmations on the login & subjects page! Let me know if there are any others you plan on taking a look at.
Regarding the footer, I think this is an instance where a null attribute is appropriate - the logo is there, but without the logo we get all the same information because the text after reads "Open Libr

[2021-02-03 18:42] bpmcneilly commented on #4523
@Yashs911 - if you feel comfortable making the edits, please do. The color change, from an accessibility perspective, looks perfect to me!

[2021-02-03 20:43] cdrini opened #4536 "Add February carousel to top of homepage"
@seabelis has created a collection for February! Let's add it to the top of the home page as "Books for February". We want:

- [ ] A search query that summarizes the collection so that books appear on the homepage (here's the literal aggregate of all the carousels: https://openlibrary.org/search?mode=everything&q=subject%3A%22february%22+OR++subject%3A%22groundhog+day%22+OR++subject%3A%22valentine

[2021-02-03 20:46] cdrini commented on #4536
@Sabreen-Parveen would you be interested in giving this one a shot? Might be a _bit_ tricky, though :)

(Pre-emptive: the homepage is cached, so if you make changes to it's template, they won't show up automatically in your local environment. You can change this function to call `get_homepage` instead of `get_cached_homepage` to make it skip caching: https://github.com/internetarchive/openlibrary/

[2021-02-03 20:51] Sabreen-Parveen commented on #4536
Sure @cdrini, I would like to work on it and will ask you wherever I get stuck :)

[2021-02-03 21:06] Sabreen-Parveen commented on #4521
@bpmcneilly currently I am working on the `Home Page`, but what should we do for the book covers, should it be left or given `alt='Book Cover'` or `alt='Book Cover for .....'` ?

[2021-02-03 22:04] cdrini commented on #4502
Re-opening so we can monitor for a bit. Happened again for a spell.

@seabelis : It seems to happen around the same time each day. Maybe there is a process running that interferes?

[2021-02-04 04:22] CliftonMcCallum commented on #4449
@mekarpeles , I think these have all been closed except for issue #4438, which @Yashs911 said could be closed. Does that mean we can check off all of those checkboxes? If that's the case, then congratulations are in order!

When it comes to this Epic, should we leave it open to add other issues to the list as they arise?

[2021-02-04 06:16] jdlrobson opened #4537 "Linters are not running"
It looks like during the introduction of Vue (or some other event) we stopped applying the Open Library stylelint configuration file. This leads to inconsistent, hard to read code and adds unnecessary friction during the code review process.

Running
[code]
triggers various errors.

### Proposal & Constraints
- [x] Make sure the  .stylelintrc.json is applied in the existing lint rules.
- [x] Run n

[2021-02-04 06:27] jdlrobson commented on #4438
yep all good! thanks!

[2021-02-04 06:27] #4438 closed

[2021-02-04 13:13] dherbst commented on #2852
I don't think this file `openlibrary/catalog/marc/download.py` is used any more.  Because it tries to use `web.run` which is no longer in the version of web.py installed.  Also it tries to call http://wiki-beta.us.archive.org:9090 which is not able to be accessed.

Should `openlibrary/catalog/marc/download.py` be deleted?

[2021-02-04 15:13] drakene opened #4540 "Possible outdated Docker command to update JS and CSS"
The command below doesn't work on my Windows build for remaking CSS/JS assets. The "Home" container, in fact, shuts down after a short while of executing "docker-compose up."

![possible_old_docker_command](https://user-images.githubusercontent.com/46735016/106904988-d00e7480-66c9-11eb-8b0b-ae53d44ec0df.png)

However, on [Gitter](https://gitter.im/theopenlibrary/Lobby) Yash Saravgi @Yashs911 said

[2021-02-04 17:42] cdrini commented on #4537
Is it the missing config? https://github.com/internetarchive/openlibrary/blob/master/package.json#L13

[2021-02-04 17:53] cdrini commented on #4540
Ah, thanks @drakene ! Yeah, that's outdated. It should be `run --rm` instead of `exec`. I opened a PR #4541. Can you test the instructions and confirm they now work?

[2021-02-04 19:04] prakashaditya369 commented on #2599
I would like to work on this issue.
It would be really helpful if we can tell people what they can do at open-library and help them explore.

[2021-02-04 19:14] jdlrobson commented on #4537
No `npm run lint` does not work. I've not checked to see why it's not loading .stylelintrc.json

I agree it's odd per https://stylelint.io/user-guide/configure but perhaps for now we should explicitly pass it while we work that out.

[2021-02-04 19:17] jdlrobson commented on #4537
I think the issue here might be `static/css/components/.stylelintrc.json` which doesn't /extend/ the parent configuration.

[2021-02-04 19:20] jdlrobson commented on #4537
Yep, that looks like the culprit here!

[2021-02-04 20:01] cdrini opened #4542 "process_stats.py erroring for some loans"
### Evidence / Screenshot (if possible)
[code]

### Steps to Reproduce

1. `python $SCRIPTS/openlibrary-server /olsystem/etc/openlibrary.yml runmain openlibrary.solr.process_stats --load-from-db`

* Actual: Error
* Expected: No error

### Details
NA

### Proposal & Constraints

### Related files

### Stakeholders
@cclauss

[2021-02-04 20:03] drakene commented on #4540
Using the branch you created, the instructions appear to work!

[2021-02-04 21:26] #4517 closed

[2021-02-04 21:31] #4540 closed

[2021-02-05 00:15] navneetsaluja commented on #4537
@jdlrobson May I work on this? Since you've already figured out the problem in the first sub-issue, the solution would just be to [extend the parent configuration](https://stylelint.io/user-guide/configure#extends). Will also look at the other 2 sub-issues.

[2021-02-05 10:05] Yashs911 commented on #4480
@jdlrobson Currently the UI looks like this:
![image](https://user-images.githubusercontent.com/64412143/107016059-7f7b4200-67c3-11eb-8b7e-cb7a69f99a1a.png)
But when I click **Use this Work** checkbox
I see the **Personal List** option as well but this book is already added to the Personal List.
![image](https://user-images.githubusercontent.com/64412143/107019364-9459d480-67c7-11eb-96d4-1d7752ffb

[2021-02-05 10:18] hgcl opened #4543 "Getting a 403 Forbidden response"
Hi!

I have been using the Books API (in read mode only) to fetch the book info for [my personal bookshelf](clarale.com/books) — [code here if needed](https://github.com/hgcl/clara-website/blob/main/lib/getAllBooks.js). Everything was working fine until a few days ago, when I began to receive `403 Forbidden` responses.

### Evidence / Screenshot (if possible)

As a test, this is the URL I am tryin

[2021-02-05 13:01] dherbst commented on #4542
The issue is the `.decode` on py3 str does not exist.

[2021-02-05 17:25] cdrini commented on #2553
Useful queries (as run on OJF dump)

Find redirects. All occurrences of `"Key"` in the db will need to be replaced with the second `"Location"`
[code]

Sample output:

Key | Location
-- | --
/authors/OL1015899A | /authors/OL281117A
/authors/OL102364A | /authors/OL6048760A
/authors/OL1065799A | /authors/OL524120A
/authors/OL1115140A | /authors/OL105507A
/authors/OL1149754A | /authors/OL129416A
/aut

[2021-02-05 17:54] cdrini commented on #2553
Query to get all references of a document:

[code]

[2021-02-05 18:07] cdrini commented on #2553
And then some joining. We want the list of document we have to edit, and the find/replace we have to do. i.e. we want a table with columns `Key | ReferenceToReplace | ToReplaceWith`.

That'll look something like (untested; still waiting for previous)

[code]

[2021-02-05 18:26] cdrini commented on #4543
Hi @hgcl ! Thanks for the bug report.

Hmmmm :/ We deployed a change to some of our CORS headers yesterday, but I tested this URL and it's got the right headers when hit from the browsers. I tried hitting it from node and got the error:

[code]

Confusingly enough, our staging server seems not to give the error :/

[code]

Ok, let me see if the CORS headers are correct. Another possibility is HTTP

[2021-02-05 18:30] cdrini commented on #4543
@mekarpeles Also did some fiddling with our nginx version recently (timeline unknown); could that have affected it?

[2021-02-05 18:31] cdrini commented on #4543
Note it seems like all our APIs are affected :(

[code]

[2021-02-05 18:34] cdrini commented on #4543
Although note this is working for `curl` and for `python`, so seems like something related to node

[code]

[2021-02-05 18:34] jdlrobson commented on #4537
Go ahead! Quicker we get this addressed the better. For now this should be our top priority.

[2021-02-05 18:41] cdrini commented on #4543
@hgcl To clarify, the code [here](https://github.com/hgcl/clara-website/blob/main/lib/getAllBooks.js), is it running in the browser, or in node?

[2021-02-05 18:42] cdrini commented on #4543
Also: As a temporary fix while we figure this out, you can switch to making a request to `http://staging.openlibrary.org`.

[2021-02-05 18:48] cdrini commented on #4543
Also, if you have an idea of exactly when you first noticed this issue, that would help us a lot in pinning down what might have caused it :)

[2021-02-05 18:52] cdrini commented on #4543
Also tried using node's `http`; that seems to work (although doesn't support https):

[code]

[2021-02-05 19:05] cdrini opened #4546 "Rename "bodyid" to "cssfile""
The `bodyid` was removed from its primary purpose in yesterday's deploy: https://github.com/internetarchive/openlibrary/compare/deploy-2021-01-25...deploy-2021-02-04#diff-5c48cb9056d50894674eef9b1074b2fd410dd462d90122050aa7cf26dafebcf5L8 , but there are still lots of places that _set_ the `bodyid`. Since this is no longer being used as the `bodyid`, let's rename it to something more appropriate. N

[2021-02-05 19:33] jdlrobson commented on #4546
Not sure I'm understanding the problem here and what's unused. From what I can see these are used to define the stylesheet that is added to a page?

[2021-02-05 23:56] mekarpeles commented on #4543
Hi all, this is intentional and my doing. We're getting hit by aws DDOS'ers and doing our best to ensure quality of service for patrons visiting the website, as well as re-enabling access to endpoints as we're able to responsibly able to. @hgcl your use case should now be unblocked, thank you for helping us tune this and apologies that you experienced this (APIs are core to what we do so it's with

[2021-02-06 00:18] grantsaylor commented on #4543
Hi, when trying to access something like: https://openlibrary.org/isbn/9781250178602.json, you get a 404. Will this service be restored? This is essential to my application functionality. Thanks.

[2021-02-06 02:44] atsmith14 commented on #4543
I'm having the same issue as @grantsaylor and this route is essential to my applications functionality as well.

[2021-02-06 04:03] cdrini commented on #4546
Ahh, forgot about that. Then we need to rename it. This variable `bodyid` was called that because it would set the `id` of the `body`. It's no longer doing that. Let's rename it to... `cssfile`.

[2021-02-06 04:04] Yashs911 commented on #4546
@cdrini I would like to work on this issue.

[2021-02-06 11:41] bitnapper opened #4548 "Stripping ISBN of unwanted characters instead of giving an error"
ISBNs can be inserted in two locations. One is when adding a book, the other is when editing a book. The desired format is int(10) and int(13) for ISBN-10 and ISBN-13.

When adding an ISBN from https://openlibrary.org/books/add there is a limited plausibility check and unwanted characters can be added.

When adding an ISBN from /edit there is a limited check for the format int(10) and int(13). Sin

[2021-02-06 12:02] mekarpeles commented on #4543
@grantsaylor + @atsmith14 can you help us understand what your apps may be doing and what IPs may be making this call so we can help white-label your services?

[2021-02-06 12:07] mekarpeles commented on #4537
Thank you @navneetsaluja  + @jdlrobson

[2021-02-06 12:19] mekarpeles opened #4549 "List widget appears always expanded on Books page"
A regression (perhaps caused by a recent style, js, or markup change) is resulting in the List widget being always rendered as expended.

### Evidence / Screenshot (if possible)
![openlibrary org_books_OL26741076M_Dark_Matter](https://user-images.githubusercontent.com/978325/107117714-15998180-6831-11eb-9824-d33fe36d3fd3.png)

### Relevant url?

### Steps to Reproduce

1. Go to ... https://openlib

[2021-02-06 12:20] mekarpeles commented on #4546
Is this possibly related?
https://github.com/internetarchive/openlibrary/issues/4549

[2021-02-06 12:26] #4523 closed

[2021-02-06 13:36] Yashs911 commented on #4546
No, #4549 is related to https://github.com/internetarchive/openlibrary/pull/4369

[2021-02-06 13:43] Yashs911 commented on #4549
@mek related to #4480

[2021-02-06 14:03] Yashs911 commented on #4549
We can make a separate dropdown for Add to Existing List just like Want to Read.
or
something like this:
![image](https://user-images.githubusercontent.com/64412143/107120199-3524be80-68b2-11eb-9583-20494a25640a.png)

[2021-02-06 14:41] grantsaylor commented on #4543
My app uses google vision to scan ISBN numbers and then calls the API to return the JSON file so we can get data like book cover, author, title, pub date (it's a little library style app)

[2021-02-06 15:27] jdlrobson commented on #4549
@mek this is because of the recently resolved #3630.

Was that not wanted?

There was a pull request for several weeks.

[2021-02-06 19:20] hgcl commented on #4543
Thank you so much for the explanation @mekarpeles! I haven't had time to try it out again, but really appreciate you looking into it so quickly 🙏

[2021-02-07 01:59] mekarpeles commented on #3630
It used to be the case that below the lists widget was a section of your lists which contained this book.

We don't want the list widget expanded; these are two different components.

[2021-02-07 03:13] jdlrobson commented on #3630
What is"the list widget" in respect to [our DPL](https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library) ?
Seems like we need to get a shared vocabulary on this one before revisiting this task.

I think if there is a problem with the current implementation the best course of action is to revert the patch.

[2021-02-07 08:23] prakashaditya369 commented on #3630
I think I got it wrong. Instead of bringing all the lists out. It should display the lists, in which book is already added, beneath the `Want To Read` button. Am I right?

[2021-02-07 13:02] mekarpeles commented on #3630
@prakashaditya369 no problem, we're working through it and learning together. :)

Everyone's efforts have been in good faith and are appreciated. We have time to iron them out.

Your updated interpretation is more correct --

**and** also it should only show the logged in patron's lists.

## Background

Our Books pages used to look like this, where there was a List button and then a list of **all*

[2021-02-07 13:17] mekarpeles commented on #4549
Should get resolved by #4552 which reverts #3630 as recommended in https://github.com/internetarchive/openlibrary/issues/3630#issuecomment-774583282

The reasoning (mostly miscommunication on my part) is described here:
https://github.com/internetarchive/openlibrary/issues/3630#issuecomment-774670797

[2021-02-07 13:19] #4549 closed

[2021-02-07 14:33] mekarpeles commented on #2406
This is now resolved by #4490

[2021-02-07 14:33] #2406 closed

[2021-02-07 15:04] mekarpeles commented on #4543
@grantsaylor very happy to make sure you're on the access list, is there any chance you can share the IP with me and we can make sure you get setup? mek@archive.org

[2021-02-07 15:30] Yashs911 commented on #3630
@mekarpeles
We also need to add padding to `My Reading lists:`, `Use this Work`, and `Create a new list`
![image](https://user-images.githubusercontent.com/64412143/107151151-19d7b300-6987-11eb-9037-57d07e4dc1e2.png)

[2021-02-07 15:42] jdlrobson commented on #3630
Perhaps #4480 could be merged into the requirements here before taking this on.

Can we use Vue for this new component?

[2021-02-07 21:05] ayust opened #4553 ""Random Book" option isn't"
The "random book" feature on the openlibrary.org site appears to not function as originally intended, and instead is only returning one of a small number of results for books with "available" or "lending" in their textual metadata (title, description, etc).

### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/344766/107159376-68b02900-6944-11eb-9821-de30501f

[2021-02-07 22:13] #4537 closed

[2021-02-07 22:13] jdlrobson commented on #4537
🎉🎉🎉

[2021-02-08 06:43] pixeljava commented on #4553
Hi... Just browsing around looking for a first good issue.
I'm not a python dev, but after taking a peek under the hood it looks like line 211 might hold some answers:
`               "+AND+(lending___available_to_borrow OR lending___available_to_browse)"`
Is it possible that these are being interpreted as the actual query string, causing the key words "lending", "available" "borrow" and "browse"

[2021-02-08 08:58] seabelis opened #4555 "/openlibrary/openlibrary/templates/lists/widget.html: error in processing template: TypeError: Object of type Nothing is not JSON serializable (falling back to default template)"
Patron is reporting the following error:
`/openlibrary/openlibrary/templates/lists/widget.html: error in processing template: TypeError: Object of type Nothing is not JSON serializable (falling back to default template)`

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/works/OL24171550W/Kelebihan_Amalan_Bulan_Rejab_Sya%E2%80%99ban_Ramadhan

### Steps to Reproduce

[2021-02-08 09:11] Yashs911 commented on #4524
@seabelis I guess this issue was fixed but....
![image](https://user-images.githubusercontent.com/64412143/107198697-771d4400-6a1b-11eb-9981-ac9b28a61ab0.png)

[2021-02-08 09:12] Yashs911 commented on #4555
Unable to reproduce this issue on dev: https://dev.openlibrary.org/works/OL24171550W/Kelebihan_Amalan_Bulan_Rejab_Sya%E2%80%99ban_Ramadhan

[2021-02-08 09:34] cclauss commented on #4524
Yes.  The `author is None` issue was fixed via another repo.

My sense was that `LoanStatus` would always raise an error on an Edition that is `Not in Library`
* https://openlibrary.org/works/OL19545135W/The_Moon_Is_a_Harsh_Mistress?debug=true?edition=

[2021-02-08 09:49] Yashs911 commented on #4524
I didn't notice the `?debug=true` 😄
We can close this issue.

[2021-02-08 11:45] seabelis commented on #4524
Thank you.

[2021-02-08 11:45] #4524 closed

[2021-02-08 11:48] seabelis commented on #4427
I think this has been solved.

[2021-02-08 11:49] seabelis commented on #2245
Resolved with new books page.

[2021-02-08 11:49] #2245 closed

[2021-02-08 12:00] cclauss commented on #4555
https://dev.openlibrary.org/status shows that it is running legacy Python 2.7.6
https://openlibrary.org/status shows that it is running Python 3.8.6

[2021-02-08 12:29] mekarpeles commented on #4553
@ayust thank you for submitting this issue, you're right, there appears to be an issue!

@pixeljava thanks for looking into this! I'm not sure that's the problem in this case, but we can modify the actual archive.org query to see if changes result in the correct behavior -- please do try! <3

Removing Open Library from the equation, there does indeed appear to be something strange / problematic wi

[2021-02-08 12:33] mekarpeles commented on #4553
@pixeljava you're totally right, I believe in the query, we need to update the call to:

https://archive.org/advancedsearch.php?q=_exists_:openlibrary_work+AND+(lending___available_to_borrow:true%20OR%20lending___available_to_browse:true)&fl=identifier,openlibrary_edition&output=json&rows=1&sort[]=random

namely adding `:true` after `lending___available_to_browse` and `lending___available_to_borro

[2021-02-08 15:03] cclauss commented on #3796
[This seems to be occurring again.](https://internetarchive.slack.com/archives/C0ETZV72L/p1612791843104800)

[2021-02-08 15:06] Yashs911 commented on #3796
I would like to work on this

[2021-02-08 15:07] cclauss commented on #4555
Start up a local instance
[code]

[2021-02-08 16:55] drakene commented on #4474
I can give the /covers folder a try if you'd like @jdlrobson. Let me know if there's any particular file I would want to start with!

[2021-02-08 17:04] Yashs911 commented on #4522
0 Contrast Errors on [Subjects](https://openlibrary.org/subjects) Page. https://wave.webaim.org/report#/https://openlibrary.org/subjects

[2021-02-08 17:09] Yashs911 commented on #4522
4 Contrast Errors on Individual Subject Page.

Contrast ratio due to `#738C35` is **3.79:1**
Changing it to `#687E30` will make the ratio **4.54:1**

![image](https://user-images.githubusercontent.com/64412143/107255237-195e1b80-6a5e-11eb-989f-60124b61f4ca.png)

[2021-02-08 17:20] veloffs commented on #4548
Hey! I'm new to this project and would like to tackle this as my first issue.

[2021-02-08 17:21] mekarpeles commented on #4252
@cclauss please check-in with @cdrini first to coordinate but I see this as a potential opportunity for you to help out with the initial step of provisioning ol-www0 like we we have some of the other VMs (e.g. to get Docker installed, etc)

[2021-02-08 17:34] mekarpeles commented on #4091
It looks like most of these have since been resolved, we updated sentry to re-alert us if any of these occur more than 100 times. Closing for now w/ @cclauss's consent

[2021-02-08 17:34] #4091 closed

[2021-02-08 17:42] drakene commented on #3413
Came across this issue looking for ways to contribute... is the project still having this problem? If it is, would a viable solution be to sync edition authors with work authors except for orphaned editions?

[2021-02-08 17:50] jdlrobson commented on #4474
I think manage would be a good place to start.

[2021-02-08 17:51] Yashs911 commented on #4522
4 Contrast Errors on Individual List Page.

Contrast ratio due to `#738C35` is 3.79:1
Changing it to `#647c36` will make the ratio 4.68:1

![image](https://user-images.githubusercontent.com/64412143/107260407-1534fc80-6a64-11eb-9ba9-2ba47c593f54.png)

[2021-02-09 11:19] Sabreen-Parveen commented on #4522
@bpmcneilly and @Yashs911 I have checked `login` and `Help` page, there are no color contrasts in them.
https://wave.webaim.org/report#/https://openlibrary.org/help/faq/about
https://wave.webaim.org/report#/https://openlibrary.org/account/login

[2021-02-09 12:15] Sabreen-Parveen commented on #4521
`Want to read` , `Report a problem` pages are good to go, found no issues on them.

[2021-02-09 13:02] awebdeveloper commented on #4269
On larger monitors it looks small. From large I mean a 15' MacBook. which these days is the standard size

[2021-02-09 14:36] seabelis opened #4559 "Fields missing from author edit form"
Side effect of #4258.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to openlibrary.org/authors/OL18319A/Mark_Twain/edit
2. Notice missing field for other names.

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related

[2021-02-09 16:02] #4559 closed

[2021-02-09 18:46] jamesachamp commented on #4269
We can go ahead and try a max-width of 1200px for larger screen sizes.

[2021-02-09 18:49] seabelis opened #4562 "Data loss following author merge"
GLBW reported that data was lost on author profile following merge.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/authors/OL733721A/Willi_Mu%CC%88nzenberg?_compare=Vergleichen&b=6&a=5&m=diff

### Steps to Reproduce

Uncertain if this was a one-off situation as this is the first report of it.

* Actual: After author merge, urls, bio, alternate names were lost f

[2021-02-09 19:03] seabelis commented on #4536
It's a strange thing. Individually subject:"groundhog day" OR  subject:"valentines day" do not include "Laws", "Alice's Adventures in Wonderland", or "Hamlet" in results. In combination they do.

[2021-02-09 19:23] cdrini opened #4563 "Lists should follow redirects when rendering"
### Evidence

![image](https://user-images.githubusercontent.com/6251786/107540363-f9c90f00-6b93-11eb-9250-bc181effe536.png)

### Relevant url?
e.g. https://openlibrary.org/people/seabelis/lists/OL140479L/Duplicate_Work?page=16 (at the bottom)

* Actual: Redirects appear broken
* Expected: Redirects should be followed, and appear as normal books

### Details

- **Logged in (Y/N)?** Y
- **Browser t

[2021-02-09 20:39] tfmorris commented on #4536
Nah, that just results in a bad query, but it's silently ignoring it instead of giving you an error message. Try `subject:("groundhog day" OR "valentines day")`

Having said that, Groundhog Day seems pretty culture-specific. Is this going to be geo-restricted to patrons from the U.S.?

[2021-02-09 21:35] cdrini opened #4564 "Flesh out H1 Search improvments issue"
Update/organize #2728

[2021-02-09 21:36] mekarpeles opened #4565 "Plan + Breakdown Import tasks for #2034 (2021 Q1 Continuous Modern Book Import Pipeline)"
Task is a `Breakdown` for https://github.com/internetarchive/openlibrary/issues/2034

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-02-10 05:16] LeadSongDog commented on #4379
Just to be clear, these buttons should be the same:

![66F48476-7B61-47D3-9F92-61189E05A532](https://user-images.githubusercontent.com/11435431/107467965-1d10a180-6b35-11eb-9d02-f3663ba64a58.jpeg)

[2021-02-10 05:59] LeadSongDog commented on #3413
AFAICT yes it would. Author records should only be linked via work records, never directly from edition records.

[2021-02-10 11:07] cclauss commented on #4252
- [x] Install Docker and create `docker` group w/ `nagios,cclauss,drini,mek` as members  (run `scripts/setup_olserver.sh`)

ol-www0% `docker version`
[code]
ol-www0% `cat /etc/group | grep docker`
[code]

[2021-02-10 11:14] cclauss commented on #4252
Q: Which repos (olsystem, openlibrary, infogami, etc.) need to be installed on `ol-www0`?  I assume we want a minimal set.

[2021-02-10 12:14] seabelis commented on #4536
@tfmorris Yes, that query works better. No, this will not be geo-restricted, but those two subjects were an example, not the entire query.

[2021-02-10 12:15] seabelis commented on #4536
So I believe some of the strange results are due to "open library staff picks" as a subject. This pulls them in for the "library" subject search even though that's not a subject of the materials.

[2021-02-10 12:27] seabelis commented on #4536
subject:("february" OR  "groundhog day" OR  "valentines day" OR  "heart" OR  "black history" OR "lgbt history" OR "canned food" OR "friendship" OR "pie" OR "baking" OR "bird feeding" OR "cat health" OR "cherries" OR "children's dental health" OR "embroidery" OR "grapefruit" OR "hot breakfast" OR "snack food" OR "youth leadership" OR "teen dating violence")

works better. It's a shame to leave "lib

[2021-02-10 16:07] Yashs911 opened #4568 "Wrong Year of Publication"
### Evidence / Screenshot (if possible)
Many works have wrong year of publication (Like 9999, 2049, 2040....)

![image](https://user-images.githubusercontent.com/64412143/107536659-06775280-6be8-11eb-8991-3b1a81c6589c.png)

### Relevant url?

https://openlibrary.org/search?q=mark&mode=everything&sort=new
https://openlibrary.org/works/OL21132031W/Classical_Music_Picture_Book?edition=
https://openli

[2021-02-10 17:02] cdrini commented on #4536
Yeah, still a bit of noise with those classic books sneaking in. I think your idea to use work keys directly might be better. I created a little JS snippet that pulls them off of the collection page. This chooses a random 100 books on the page and generates a query.

[code]

I ran it a few times (each time generates a new query, since it randomly selects), and this one seemed good: https://openlib

[2021-02-10 23:53] cdrini opened #4570 "Carousels missing from homepage"
Most of the homepage carousels disappeared!

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/107588044-ed16dc00-6bd0-11eb-8d18-1a92d8a1d684.png)

### Relevant url?
https://openlibrary.org/

* Actual: 3 carousels
* Expected: ~8 carousels

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF85
- **Operating system?** Win10
- **Enviro

[2021-02-10 23:54] cdrini commented on #4570
Turns out `loans__status__last_loan_date` has been deprecated and not updating since Sept! The new fields are `lending___last_browse` and `lending___last_borrow`.

[2021-02-11 05:39] #3796 closed

[2021-02-11 07:31] seabelis commented on #4536
Many of those classics are valid. "Friendship" is pretty broad and does include Twain, Carroll, etc. But I think I like your approach better.

[2021-02-11 08:51] seabelis commented on #905
I've gotten several patron requests for this as well.

[2021-02-11 11:41] #4570 closed

[2021-02-11 12:07] cclauss opened #4572 "Do we still use akismet spam protection or can it be removed?"
### Question

https://github.com/internetarchive/openlibrary/search?q=akismet
https://akismet.com/

### Additional context

### Issue resolution criteria

### Stakeholders

[2021-02-11 17:01] mekarpeles commented on #732
Almost 700,000 items need to be synced. Success & re-closing looks like an import run (https://openlibrary.org/admin/imports) over these IDs.
https://archive.org/search.php?query=collection%3Ainlibrary%20AND%20%21openlibrary_work%3A%2A

[2021-02-11 18:26] dwaipayan05 commented on #4553
Can I follow the above given instructions and open up a PR ?

[2021-02-11 20:41] pixeljava commented on #4553
Yes, please do. I'm not a Python developer and I'd feel bad changing something without being able to thoroughly test it first.

[2021-02-11 21:15] mekarpeles opened #4575 "Book page: Editions Table "Listen" roll-over glitch"
increased width of "special access" text causes noticeable glitches in "Listen" roll-over in editions table

### Evidence / Screenshot (if possible)
![editions-glitch-20210211T130916](https://user-images.githubusercontent.com/978325/107699820-77138300-6c6b-11eb-8cf2-7c449d237e29.gif)

### Relevant url?

https://dev.openlibrary.org/books/OL1722731M/Influence

### Steps to Reproduce

1. Go to ... ht

[2021-02-12 03:28] Yashs911 commented on #4575
@mekarpeles I would like to work on this issue.

[2021-02-12 05:04] dwaipayan05 opened #4578 "Add Instagram/Whatsapp for Sharing"
Among the other Social Media links for sharing, can WhatsApp/Instagram be added as the crowd over there consists of a good number of book lovers.

### Describe the problem that you'd like solved

A Social Media Icon of Instagram/WhatsApp to be added in SocialShare.html which would allow the user to share the book through these. The image below is what the current social share window looks like.

!

[2021-02-12 07:07] #4553 closed

[2021-02-12 08:28] #3403 closed

[2021-02-12 08:31] #4495 closed

[2021-02-12 08:31] #4575 closed

[2021-02-12 08:45] mekarpeles commented on #2084
As mentioned in @Yashs911's PR #4498, I'd like to close this issue for now until such a time as we have a designed available to help us rethink how we want to present our carousels. Right now given the other efforts fighting for our attention, this doesn't seem like the biggest priority/opportunity. Thanks all for compiling these perspectives so we can return to this research in the future.

[2021-02-12 08:45] #2084 closed

[2021-02-12 08:58] mekarpeles commented on #2798
@ArunTeltia I hope you are feeling better :frowning_face:

[2021-02-12 09:04] cclauss commented on #4225
Notes on how to replicate/test this issue
[code]

[2021-02-12 10:12] Yashs911 opened #4581 "Admin Only feature visible on Edit Profile Page"
An Admin-only feature is visible to users  on the Edit profile page
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/64412143/107755215-874d6000-6d48-11eb-85a8-3d584b15aa69.png)

### Relevant url?

https://openlibrary.org/people/{username}?m=edit
### Steps to Reproduce

1. Go to My profile
2. Click Edit

### Details

- **Logged in (Y/N)?** Y
- **Browser ty

[2021-02-12 10:30] ArunTeltia commented on #2798
Yes sir I am thank you, will start the work real soon ☺️

[2021-02-12 10:45] #4490 closed

[2021-02-12 11:14] cclauss commented on #4542
Closed by @dherbst in #4545

[2021-02-12 11:14] #4542 closed

[2021-02-12 11:30] cclauss commented on #4383
Reopening until we can land internetarchive/olsystem#118

[2021-02-12 13:17] dwaipayan05 opened #4583 "Adding a Section for Academic Journals/Paper"
### Describe the problem that you'd like solved

This is not a problem, however a feature enhancement which could work towards increasing the outreach of open library. I'd like to invite community discussion towards this topic.

### Proposal & Constraints

The OpenLibrary has almost all kinds of books onboarded. However, we haven't yet looked into academic journals/papers. These form a huge sectio

[2021-02-12 13:46] dwaipayan05 commented on #4269
So, its basically increasing max-width test-body-mobile in v2.less and header-bar in header-bar.less to 1200px ?
Should I send a PR for this ?

[2021-02-12 13:58] #4583 closed

[2021-02-12 14:16] dwaipayan05 commented on #4047
It's part of the sprint, we need to get this done. Can anyone guide in how to go through this, all I know is that its about a missing Cover ID of size M.

[2021-02-12 16:13] dwaipayan05 opened #4584 "Missing Alt Value for Footer Archive Logo Img"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/53687927/107791986-9b11ba00-6d7a-11eb-8e6c-3d9ffa332344.png)

### Relevant url?

### Steps to Reproduce

1. Go to Footer of openlibrary.org
2. Check the alt value of footer using Inspect Element Feature

* Actual: alt = ""
* Expected: Some Alt Value

### Details

- **Logged in (Y/N)?**  N
- **Browser type/ve

[2021-02-12 16:51] Yashs911 commented on #4584
Hi @dwaipayan05 this issue is a duplicate of https://github.com/internetarchive/openlibrary/issues/4521#issuecomment-772398033
And according to the discussion https://github.com/internetarchive/openlibrary/issues/4521#issuecomment-772730099 `alt=""` is appropriate for the Archive logo.

[2021-02-12 16:52] Yashs911 commented on #4584
If you are interested in solving issues related to Image Accessibility. Go to https://github.com/internetarchive/openlibrary/issues/4521 and pick one file.

[2021-02-12 16:54] dwaipayan05 commented on #4584
Thanks mate.

[2021-02-12 17:01] dwaipayan05 commented on #4521
I'd be reviewing [Recent Changes](https://openlibrary.org/recentchanges)

[2021-02-12 17:41] #4584 closed

[2021-02-12 18:09] seabelis opened #4586 "Adding to lists broken"
Adding an item to a list no longer works as of 12-02-2021.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...an edition, etc.
2. Do ...add item to list.

* Actual: List link loads list page.
* Expected: Item should be added to list.

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** Chrome Version 88.0.4324.150 (Official Build) (x86_64

[2021-02-12 18:12] seabelis opened #4587 "Author and language not saved after edit"
Edits to edition language or work authors fail to save.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...any edition, for example https://openlibrary.org/books/OL31954710M/The_Treaty_with_China
2. Do ...add a language from the dropdown, add an author to work.

* Actual: After save, the changes to author and edition should be retained.
* Expected: Lan

[2021-02-12 18:47] seabelis opened #4588 "/openlibrary/openlibrary/templates/type/edition/view.html: error in processing template: MemcachedKeyCharacterError: Control/space characters not allowed (key=b'gt-availability-"Les Aventures de Tom Sawyer"') (falling back to default template)"
Error message after saving new edition:
/openlibrary/openlibrary/templates/type/edition/view.html: error in processing template: MemcachedKeyCharacterError: Control/space characters not allowed (key=b'gt-availability-"Les Aventures de Tom Sawyer"') (falling back to default template)

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/books/OL31954808M/Les_Aventures_

[2021-02-12 20:43] cdrini commented on #4587
Likely caused by #2734

[2021-02-12 20:46] cdrini commented on #4587
Repro'd the autocomplete bug on staging; I'm going to open a revert PR and put it on staging to see if that fixes it

[2021-02-12 21:09] #4587 closed

[2021-02-12 21:12] cdrini commented on #4587
It did! Will deploy shortly.

[2021-02-12 21:15] cdrini commented on #4586
Seeing this error in the console:

![image](https://user-images.githubusercontent.com/6251786/107823265-7e12c200-6d4d-11eb-904a-1f516f7e6227.png)

[2021-02-12 21:53] #4586 closed

[2021-02-12 22:00] cdrini commented on #4586
The issue was we were using `json_encode` inside lists/widget.html on an empty list `[]`. The code change caused `json_encode([])` to return `{}`, breaking the JS code.

[2021-02-13 00:14] cdrini opened #4592 "Related books carousels never stop loading"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/107835119-6bf14d80-6d66-11eb-81fd-0f46892841a1.png)

### Relevant url?
e.g. https://openlibrary.org/works/OL9489809W/The_Mysterious_Uni-verse?edition=

### Steps to Reproduce

* Actual: Loading indicator always there
* Expected: Carousels should appear at some point

### Details

- **Logged in (Y/N)?

[2021-02-13 06:08] dwaipayan05 commented on #4592
I wanted to get an idea about something in this issue, Over here in openlibrary/openlibrary/plugins/openlibrary/js/carousels_partials.js /

`data: {
                workid: $('.RelatedWorksCarousel').data('workId'),
                _component: 'RelatedWorkCarousel'
            },`
 What does the _component refer to actually ?

[2021-02-13 08:03] Bhavna777 commented on #2777
I would like to work on this issue.

[2021-02-13 08:06] Bhavna777 commented on #4568
I would like to work on this issue.

[2021-02-13 08:08] Bhavna777 commented on #4568
Can I start ?

[2021-02-13 08:09] Yashs911 commented on #4568
Okay, but it would be better if you choose one issue at a time and after filing a PR for that issue you can start working on it.

[2021-02-13 08:10] Bhavna777 commented on #4568
Ok Thank You

[2021-02-13 16:56] jdlrobson opened #4595 "Migrate Colorbox code to jQuery UI dialog"
Per #1732 we would like to update from jQuery 1 to jQuery 3. One of the big blockers to doing this is our use of the [jQuery colorbox library](https://github.com/jackmoore/colorbox).

The library is used in the following templates:
openlibrary/templates/lists/widget.html
openlibrary/templates/books/edit/addfield.html
openlibrary/plugins/openlibrary/js/add_new_field.js
openlibrary/plugins/openlibra

[2021-02-14 03:16] iwtga commented on #2608
Hey, can I take up this issue? :)

[2021-02-14 06:26] dwaipayan05 commented on #4595
The line `\$.fn.colorbox.resize();` in addfield.html is dead code and thus removed. Can this be done and sent through a standalone PR ?

[2021-02-14 19:21] veloffs commented on #4548
@bitnapper thank you! I've ran the grep -rl ISBN to list the directories of which include the word ISBN in it. I just do not know exactly which directory to look at to start implementing a potential solution
[whereisisbn (1).txt](https://github.com/internetarchive/openlibrary/files/5978328/whereisisbn.1.txt)

[2021-02-15 05:38] bitnapper commented on #4548
I think its these forms: [openlibrary/openlibrary/templates/books/add.html](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/books/add.html) and [openlibrary/openlibrary/templates/books/edit.html](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/books/edit.html)

[2021-02-15 05:51] jdlrobson commented on #4595
It could, but to be honest I don't think it would be a valuable use of time (for you or the reviewer) unless you are planning to take on the entirety of the issue here.

[2021-02-15 08:48] cclauss commented on #2036
% `cat ./ubuntu_versions.sh`
[code]
* [x] ol-covers0.us.archive.org VERSION="20.04.2 LTS (Focal Fossa)"
* [ ] ol-dev0.us.archive.org VERSION="14.04.5 LTS, Trusty Tahr"
* [ ] ol-dev1.us.archive.org VERSION="16.04.7 LTS (Xenial Xerus)"
* [ ] ol-home.us.archive.org VERSION="14.04.1 LTS, Trusty Tahr"
* [x] ol-home0.us.archive.org VERSION="20.04.2 LTS (Focal Fossa)"
* [ ] ol-mem3.us.archive.org VERSION

[2021-02-15 11:02] dotMavriQ opened #4602 "[My Library] List items under creator does not properly capitalize Unicode characters"
![https://i.imgur.com/TiC5CCh.png](https://i.imgur.com/TiC5CCh.png)
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Create a list item that uses Unicode characters such as ÅÄÖ
2. View it from "My Uploads" when logged in as a user.

* Actual: The letters that are not in the ASCII character set are capitalized where they should not be.
* Expected: I expected ca

[2021-02-15 11:15] DivyanshSareen commented on #4492
Hello @jdlrobson, I was wondering if I can work on this issue.

[2021-02-15 12:20] seabelis opened #4603 "TypeError: '>' not supported between instances of 'Nothing' and 'int' (falling back to default template)"
/openlibrary/openlibrary/templates/type/edition/view.html: error in processing template: TypeError: '>' not supported between instances of 'Nothing' and 'int' (falling back to default template)

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/books/OL4902724M/The_adventures_of_Tom_Sawyer_Tom_Sawyer_abroad
https://openlibrary.org/books/OL965969M/The_complete_Tom_S

[2021-02-15 13:08] dwaipayan05 opened #4606 "stats: Unique Visitors & Borrow Graphs Not Loading"
The Graphs of Unique Visitors & Borrows Graph are not Loading

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/53687927/107950262-7dcc2e00-6fbc-11eb-85d6-619725e7b7f6.png)

### Relevant url?
https://openlibrary.org/stats

### Steps to Reproduce

1. Go to https://openlibrary.org/stats
2. Check the Graphs

* Actual: Graph Not Displaying
* Expected: Should D

[2021-02-15 16:57] Yashs911 commented on #1825
@mekarpeles I would like to work on this issue.
![image](https://user-images.githubusercontent.com/64412143/107974056-08705580-6fdc-11eb-9229-16a19117304e.png)
I would suggest something like this or we add read more.

[2021-02-15 17:41] CliftonMcCallum commented on #4492
Hi @jdlrobson , you can assign @DivyanshSareen. I have had trouble navigating the architecture to locate the CSS for this issue. Thanks!

[2021-02-15 17:44] #2608 closed

[2021-02-15 17:53] cdrini commented on #4536
Update my js to only consider fetch in library books:

[code]

Ended up with this: https://openlibrary.org/search?q=key%3A(%2Fworks%2FOL18181363W%20OR%20%2Fworks%2FOL3481095W%20OR%20%2Fworks%2FOL4360244W%20OR%20%2Fworks%2FOL20017931W%20OR%20%2Fworks%2FOL20615204W%20OR%20%2Fworks%2FOL2363176W%20OR%20%2Fworks%2FOL17869588W%20OR%20%2Fworks%2FOL17784026W%20OR%20%2Fworks%2FOL21179764W%20OR%20%2Fworks%2

[2021-02-15 18:38] #4536 closed

[2021-02-15 19:12] cdrini commented on #4536
Interesting side note for future reference: I just added the option sort by "Random" to staging, and that makes the results from your query much better, @seabelis : http://staging.openlibrary.org/search?q=subject%3A(%22february%22+OR++%22groundhog+day%22+OR++%22valentines+day%22+OR++%22heart%22+OR++%22black+history%22+OR+%22lgbt+history%22+OR+%22canned+food%22+OR+%22friendship%22+OR+%22pie%22+OR+%

[2021-02-15 19:38] jdlrobson commented on #4492
Sorry about that. Our frontend is a bit all over the place right now and it's my priority to fix that. Our CSS is inside static/css for now.

[2021-02-15 21:39] jamesachamp opened #4611 "Cache The Best Book On aspects"
### Describe the problem that you'd like solved

Every time the book notes modal is opened on a book page, a call to The Best Book On is made to fetch a list of aspects that populate the form.  These aspects will not often change, so it makes sense to cache them instead of fetching the same data each time a patron opens the modal.

[2021-02-16 03:16] jamesachamp commented on #4269
@dwaipayan05 Yes, I think that should do it.  Before opening a PR, ensure that the site still looks good on smaller screens.

[2021-02-16 05:23] iwtga commented on #2718
Hey, can I take up this issue?
If I'm wrong we have to find anchor tags which have **TITLE** attribute same as the text contents of the anchor and then delete the title attribute right?

[2021-02-16 13:50] CliftonMcCallum commented on #4492
No problem! It's a big project. :)

[2021-02-16 14:00] veloffs commented on #4548
@bitnapper thank you! I'll get started on it. Other than removing leading and tailing spaces, would it be safe to have ISBN's / eISBN's in a format of just numbers?

[2021-02-17 03:04] navneetsaluja commented on #4595
Might as well learn something new. Working on this.

[2021-02-17 04:32] jdlrobson commented on #4595
Neat! I'm happy to help out with any challenges you hit here. Definitely will be a good learning opportunity :)

https://www.jacklmoore.com/colorbox/ does a good job of documenting the library we're currently using  and https://api.jqueryui.com/dialog/ is what we can hopefully migrate to. I'd suggest playing around with both the libraries and understanding how they work as a first step and how we

[2021-02-17 04:34] #2864 closed

[2021-02-17 05:54] Yashs911 commented on #4603
@seabelis I would like to work on this issue.

[2021-02-17 06:29] Yashs911 commented on #4603
![image](https://user-images.githubusercontent.com/64412143/108164663-3908da00-7117-11eb-96a6-bb3518a038bf.png)

on https://dev.openlibrary.org/books/OL4902724M/The_adventures_of_Tom_Sawyer_Tom_Sawyer_abroad it shows No data available and when I try to add another edition I am getting this error:

![image](https://user-images.githubusercontent.com/64412143/108164753-6f465980-7117-11eb-9848-44fa633

[2021-02-17 11:46] ArunTeltia opened #4619 "siteSearch is id but being continuously used in the same page"
Problem : Making code refined,
There are many files where i found id siteSearch, I want to report a file which have more that one instance of it

/openlibrary/templates/stats/readinglog.html

so I want to know if its better to change the id to class or better to create a new class for the readinglog.html file

There are many files with id siteSearch and many files with class siteSearch

I think it

[2021-02-17 16:13] cclauss commented on #4603
To reproduce locally...
[code]

[2021-02-17 17:33] Yashs911 commented on #4592
@jamesachamp Is this issue related to https://github.com/internetarchive/openlibrary/pull/4007 ?

[2021-02-17 19:41] mekarpeles commented on #4530
Closing as a duplicate of #3386

[2021-02-17 19:41] #4530 closed

[2021-02-17 19:41] mekarpeles commented on #4548
Thank you @veloffs ! Let me know if you have any questions

[2021-02-17 19:43] mekarpeles commented on #4606
Thank you! Duplicate of #3924

[2021-02-17 19:43] #4606 closed

[2021-02-17 19:46] mekarpeles commented on #4529
Not planning on fixing this one; we don't have a good consensus on what would what would be better than what we're doing.

[2021-02-17 19:46] #4529 closed

[2021-02-17 19:53] mekarpeles commented on #4578
@dwaipayan05 we'd be open to Facebook, Twitter, and then a More icon which uses the `details` tag (see the Vendors "more") to list additional share options

[2021-02-17 19:55] jdlrobson commented on #4619
I would suggest removing the ID `#siteSearch` and replacing any instances  styling the #siteSearch selector with .list-books. Best to leave `.siteSearch` as is for now.

[2021-02-17 19:58] mekarpeles commented on #4528
We'd need to create a new zoom link, we usually set multiple hosts so this shouldn't be too big of a problem. There isn't an option to set this on our existing room (we've tried).

[2021-02-17 19:58] #4528 closed

[2021-02-17 20:01] ArunTeltia commented on #4619
Working on the pr

[2021-02-17 20:02] mekarpeles commented on #4503
This is a technical limitation, not by design. Our solr roadmap for 2021 should resolve this issue because in the future we should reliably know which editions are e.g. inlibrary, language, etc.

[2021-02-17 20:02] #4503 closed

[2021-02-17 20:18] mekarpeles opened #4621 "2021-01 datadumps smaller than expected (missing data?)"
Related to #4671, #4723

Looks like archives for January 31 2021 are much smaller than usually comparing to months past. Is it possible to re-upload them with missing data?

https://archive.org/download/ol_dump_2021-01-31

Past months which is what the sizes are typically:

https://archive.org/download/ol_dump_2020-12-31
https://archive.org/download/ol_dump_2020-11-30

- [ ] Compare 2020 dumps vs.

[2021-02-17 20:41] cclauss opened #4622 "Need to get oldump cron job running in Docker"
### Evidence / Screenshot (if possible)
Subtask of #4383
Fixed by ~#4627~ + internetarchive/olsystem#118

### Stakeholders
@cdrini

[2021-02-17 22:24] cclauss commented on #4603
Fixed by @cdrini magic.  He will need to explain how he did it!

[2021-02-17 22:24] #4603 closed

[2021-02-17 23:00] cdrini commented on #4603
:D So basically, we looked at the .json of the _work_, and saw this weirdness:

[code]

If you missed it, _it's a redirect!_; but for some reason it has a bunch of work fields like author/subject :/ Looking at the history:

![image](https://user-images.githubusercontent.com/6251786/108278874-b3525200-7149-11eb-8095-45116b79fee2.png)

It looks like this was caused by ImportBot :/ Not sure if this i

[2021-02-18 00:01] jamesachamp commented on #4592
@Yashs911 Not really.  Please refer to my comments in #4623 for the root cause.

[2021-02-18 03:19] Yashs911 opened #4625 ""Less" facet not visible on Search Result page"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/64412143/108300236-fd791900-71c5-11eb-8ac0-7266136e67a4.png)
### Relevant url?

https://openlibrary.org/search?q=Mark&mode=ebooks&has_fulltext=true
### Steps to Reproduce

1. Go to https://openlibrary.org/search?q=Mark&mode=ebooks&has_fulltext=true
2. Click "more"

* Actual: less not visible
* Expected: both

[2021-02-18 04:22] dwaipayan05 commented on #4625
It's visible on my Windows Machine, can someone confirm the reproducibility of this issue ?

[2021-02-18 04:25] Yashs911 commented on #4625
@dwaipayan05 Currently, it's visible, but when we merge https://github.com/internetarchive/openlibrary/pull/4623, it won't be.

[2021-02-18 09:14] seabelis commented on #4563
Is this a duplicate of https://github.com/internetarchive/openlibrary/issues/501 ?

[2021-02-18 09:28] seabelis commented on #4603
More examples:

- [ ] https://openlibrary.org/works/OL490919W/untitled?debug=true

[2021-02-18 09:40] seabelis commented on #4603
Possible this is caused by works being merged when they have associated editions?

I ran into this situation when I was cleaning up Shakespeare. I did not get an error at that time, but I would go to an edition and it would appear to be associated with an incorrect work. But the work did not actually appear to have the edition as its child. When I gained the ability to revert merges, I reverted ma

[2021-02-18 15:37] BrittanyBunk commented on #3386
@mekarpeles can archive.org/details/ol_data be linked to the data dump page on OL?

[2021-02-18 18:02] CliftonMcCallum commented on #4474
@jdlrobson , may I work on this issue? I would like to help clean up the inline JS for openlibrary/templates/books/check.html.

[2021-02-19 06:11] Bhavna777 commented on #4568
@Yashs911  Can you please help me to solve this issue
Actually I'm newbie to Open Library, That's why I could not find the file where I should change 😁

[2021-02-19 07:55] Yashs911 commented on #4568
@Bhavna777 Actually, I don't know the root cause, so I don't know where we should start. As per https://github.com/internetarchive/openlibrary-librarians/issues/1 and some other issues linked to this. I will suggest that we hide the publication year >= 2021 for the time being.

[2021-02-19 15:54] Yashs911 commented on #4522
@bpmcneilly I think we have checked all the mentioned pages 🎉

[2021-02-19 16:29] bpmcneilly commented on #4522
@Yashs911 - Thanks to you and @Sabreen-Parveen for all your work on this! I'm reviewing now. I'm going to add a few new accessibility issues soon & may also format things differently to make tracking a little easier. Be on the lookout 😄

[2021-02-19 16:53] #4294 closed

[2021-02-19 17:05] Yashs911 commented on #4521
@bpmcneilly I went through the list page and I noticed that the cover image for a list is a book cover of the book present in that list but the alt attribute is `alt="Cover of: integrity books(list name)"` which is technically wrong.

[2021-02-19 17:27] bpmcneilly opened #4630 "Test Home Page Images For Accessibility"
# Page to Test:

Home page - https://openlibrary.org/

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close this issue

[2021-02-19 17:28] bpmcneilly opened #4631 "Testing Subjects Page Images for Accessibility"
# Page to Test:

Subjects - https://openlibrary.org/subjects/

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close th

[2021-02-19 17:29] bpmcneilly commented on #4631
@Sabreen-Parveen has tested already!

[2021-02-19 17:29] #4631 closed

[2021-02-19 17:31] bpmcneilly opened #4632 "Testing Individual Subject Page Images for Accessibility"
# Page to Test:

Subjects - https://openlibrary.org/subjects/architecture

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are fou

[2021-02-19 17:32] bpmcneilly opened #4633 "Testing Lists Page Images for Accessibility"
# Page to Test:

Home page - https://openlibrary.org/lists

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close this

[2021-02-19 17:38] bpmcneilly commented on #4633
@Yashs911 - to keep the large 'Super Task' issues clear, I'm creating individual issues for each page. Just saw your comment about this page there, let's discuss here! 😃

In this instance, the alt text needs to inform users where they will go if they activate the link (See [Example 3 on this page about alt text](https://webaim.org/techniques/alttext/).

In this instance, I think making the alt jus

[2021-02-19 18:49] bpmcneilly opened #4634 "Testing Individual List Images for Accessibility"
# Page to Test:

Individual List - https://openlibrary.org/people/mekBot/lists/OL103955L/Childhood_Favorites

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page

[2021-02-19 18:50] bpmcneilly opened #4635 "Testing Advanced Search Page Images for Accessibility"
# Page to Test:

Advanced Search - https://openlibrary.org/advancedsearch

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are fou

[2021-02-19 18:51] bpmcneilly opened #4636 "Testing Search Results Page Images for Accessibility"
# Page to Test:

Search Results - https://openlibrary.org/search?q=The+Crucible&mode=ebooks&has_fulltext=true

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the pag

[2021-02-19 18:52] bpmcneilly commented on #4636
@nynaalekhya - I think you expressed interest in testing this page, how's it going?

[2021-02-19 18:53] bpmcneilly opened #4637 "Testing Search Inside Results Page Images for Accessibility"
# Page to Test:

Search Inside Results - https://openlibrary.org/search/inside?q=The+Crucible&mode=ebooks&has_fulltext=true

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

[2021-02-19 18:54] bpmcneilly opened #4638 "Testing Book Page Images for Accessibility"
# Page to Test:

Book Page - https://openlibrary.org/works/OL66347W/The_Crucible

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs

[2021-02-19 18:55] bpmcneilly commented on #4638
@nynaalekhya - I believe this is the other page you'd expressed interest in helping out with! Let me know how everything's going or if I can help in any way!

[2021-02-19 18:56] bpmcneilly opened #4639 "Testing Help Page Images for Accessibility"
# Page to Test:

Help Page - https://openlibrary.org/help/faq/about

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, cl

[2021-02-19 19:01] bpmcneilly opened #4640 "Testing Library Explorer Images for Accessibility"
# Page to Test:

Library Explorer - https://openlibrary.org/explore

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, cl

[2021-02-19 19:03] bpmcneilly opened #4641 "Testing Log In Page Images for Accessibility"
# Page to Test:

Log In - https://openlibrary.org/account/login

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close

[2021-02-19 19:03] bpmcneilly commented on #4641
@Sabreen-Parveen has reviewed & we're good!

[2021-02-19 19:03] #4641 closed

[2021-02-19 19:04] bpmcneilly opened #4642 "Testing Loans Page Images for Accessibility"
# Page to Test:

Loans - https://openlibrary.org/account/loans

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close t

[2021-02-19 19:06] bpmcneilly opened #4643 "Testing Want To Read Page Images for Accessibility"
# Page to Test:

Want To Read - https://openlibrary.org/people/mekBot/books/want-to-read

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & a

[2021-02-19 19:06] bpmcneilly commented on #4643
@Sabreen-Parveen has reviewed!

[2021-02-19 19:06] #4643 closed

[2021-02-19 19:06] bpmcneilly opened #4644 "Testing Want To Read Stats Page Images for Accessibility"
# Page to Test:

Want To Read - https://openlibrary.org/people/mekBot/books/want-to-read/stats

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been test

[2021-02-19 19:07] bpmcneilly opened #4645 "Testing Privacy Settings Page Images for Accessibility"
# Page to Test:

Privacy Settings - https://openlibrary.org/account/privacy

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are f

[2021-02-19 19:09] bpmcneilly opened #4646 "Testing Edit Profile Page Images for Accessibility"
# Page to Test:

Edit Profile - https://openlibrary.org/people/bpmcneilly?m=edit

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs

[2021-02-19 19:10] bpmcneilly opened #4647 "Testing Add A Book Page Images for Accessibility"
# Page to Test:

Add a Book - https://openlibrary.org/books/add

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found, close

[2021-02-19 19:11] bpmcneilly opened #4648 "Testing Report a Problem Page Images for Accessibility"
# Page to Test:

Report a Problem - https://openlibrary.org/contact?path=/people/bpmcneilly

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested

[2021-02-19 19:11] bpmcneilly commented on #4648
@Sabreen-Parveen has tested & we are done!

[2021-02-19 19:11] #4648 closed

[2021-02-19 19:13] bpmcneilly opened #4649 "Testing Recent Changes Page Images for Accessibility"
# Page to Test:

Recent Changes - https://openlibrary.org/recentchanges

# Steps

Steps for this task are outlined in #4521

# Expectations

Test the specified page according to the steps outlined in the parent issue. Create individual bugs with steps to reproduce for any found violations on this page. Reference those bugs on this tracking issue.

Once the page has been tested & all bugs are found

[2021-02-19 19:13] bpmcneilly commented on #4649
@dwaipayan05 has tested & we should be good!

[2021-02-19 19:13] #4649 closed

[2021-02-19 19:16] bpmcneilly commented on #4521
Hey everyone, I converted the list to a series of tasks so we can keep discussions relevant to only a single page there, rather than clutter this larger issue. Feel free to assign yourselves to any of the other pages you're currently testing, and any questions you have have!

[2021-02-19 22:56] cclauss commented on #4572
@mekarpeles Drini was unsure if we use akismet spam protection.  Do you know?

[2021-02-20 04:57] Yashs911 commented on #4633
@bpmcneilly when the user activates the link (by clicking the image or the Title) it will open that particular list. In the above case list name is "Body" and the alt attribute is `alt="Cover of: Body"` so should I only change is to `alt="Body"` or `alt="List: Body"`

[2021-02-20 07:12] Yashs911 commented on #4632
@bpmcneilly I would like to work on this.

[2021-02-20 07:15] Yashs911 commented on #4632
@bpmcneilly There is no alt attribute for book covers on this page as well as all other pages.
alt for lists present in `widget-lists-wrapper` is broken
![image](https://user-images.githubusercontent.com/64412143/108587438-884e4500-7379-11eb-9988-60f1602a7988.png)

[2021-02-20 08:05] Yashs911 commented on #4647
@bpmcneilly No images present on this page. We can close this issue.

[2021-02-20 08:10] Yashs911 commented on #4646
@bpmcneilly Both images are added through background property
![image](https://user-images.githubusercontent.com/64412143/108588807-27c30600-7381-11eb-89a3-23f22dd115dc.png)

[2021-02-20 08:12] Yashs911 commented on #4645
@bpmcneilly No images found. We can close this issue.

[2021-02-20 09:48] infern018 commented on #4602
I would like to work on this issue, can you tell me where can I find this search by creator section , or the relevant URL where this issue is showing up?

[2021-02-20 09:50] infern018 commented on #4581
@Yashs911  I would like to work on this issue, can you assign it to me?

[2021-02-20 10:02] Yashs911 commented on #4581
@infern018  Only Collaborators can assign issues, but you can go ahead and submit a PR.
Ping me if you need any help.

[2021-02-20 11:03] Sabreen-Parveen commented on #4642
@bpmcneilly, this page is good to go, I have checkeg it.

[2021-02-20 11:12] infern018 commented on #4581
@Yashs911  i am encountering some problem in setting up the project, does openlib has any slack or other channel for basic discussiosns

[2021-02-20 11:23] Sabreen-Parveen commented on #4639
This page is good to go, no issues found.

[2021-02-20 13:56] Sabreen-Parveen commented on #4630
@bpmcneilly for the home page, books in the carousel do not have an alt atribute. I think #4651 will fix this too.

[2021-02-20 16:22] dotMavriQ commented on #4602
https://archive.org/details/@dotmavriq

I can find it here in an entry I have myself made containing the letter `å` under Creator.

`<h5><button data-toggle="collapse" data-target=".facet_creator" aria-expanded="false" role="button" aria-controls="facet_creator" class="collapsed">Creator</button><span class="hidden-xs">Creator</span><a href="/details/@dotmavriq&amp;morf=-creator" class="js-more-fa

[2021-02-20 16:27] #4647 closed

[2021-02-20 16:27] #4645 closed

[2021-02-20 16:28] #4639 closed

[2021-02-20 16:48] Yashs911 commented on #4637
@bpmcneilly All the book covers present on this page have alt attr so we can close this issue.

[2021-02-20 16:50] Yashs911 commented on #4635
@bpmcneilly No images present on this page. We can close this issue.

[2021-02-20 16:57] Yashs911 commented on #4634
@bpmcneilly Book Cover present on this page have empty alt attr, but instead, it should have a meaning full alt attr.
![image](https://user-images.githubusercontent.com/64412143/108602856-7ea0fd80-73ca-11eb-9b63-e210e7c89207.png)

I also wanted to know what should be an ideal alt attribute for book covers cause it's pretty inconsistent across different pages. Some don't have an alt attr; some have

[2021-02-20 17:08] Sabreen-Parveen commented on #4644
@bpmcneilly this page has no image, you can close this issue.

[2021-02-20 17:22] infern018 commented on #4602
where can I find the code for archive.org profile section, I know about "openlibrary.org" site code, but was not able to figure out for the first one

[2021-02-21 03:59] Yashs911 commented on #2050
@mekarpeles any update on this cause I am unable to login as admin even after clearing my cookies

[2021-02-21 12:23] sukhpreet-singh1 commented on #4492
can you please assign me this, i will be able to solve this issue.

[2021-02-21 12:25] sukhpreet-singh1 commented on #4492
i guess image is expanding so two solution possible
1.we can change size of cover image
2.we can change size of cover

[2021-02-22 10:21] b-thebest commented on #2584
Hello sir,
I am new to open source projects. Can I start working on this issue.

Thank you

[2021-02-22 20:23] mekarpeles commented on #4062
All three of core staff are now on nagios alerts + our nagios alerts have been updated so we're hoping this somewhat alleviates the issue (and will result in faster detection time)

[2021-02-22 20:23] #4062 closed

[2021-02-22 20:45] cdrini commented on #4400
This is solr being laggy :) It should update after a bit. You can try running `docker-compose exec make reindex-solr`. Let me know if that works!

[2021-02-22 20:45] #4400 closed

[2021-02-22 20:53] cdrini opened #4657 "2020 IA Performance Reviews"
We should have received self-review forms from BZ; and then we need to sync and peer-review one another.

[2021-02-22 21:09] #4637 closed

[2021-02-22 21:09] #4635 closed

[2021-02-22 21:10] #4644 closed

[2021-02-22 21:19] bpmcneilly commented on #4633
@Yashs911 in this instance, I think what makes the most sense would be to simply combine the links for the image & the title of the list. Something like this:
[code]

Ultimately, I think this link just adds more click areas, but doesn't add any unique content on this page. With the proposed code we've now trimmed one tab stop off of the page by reducing the number of links, & preserved the covers

[2021-02-22 21:24] bpmcneilly commented on #4632
@Yashs911 I think the solution for the list images here will be similar to what we were discussing in #4633 - though it looks like the CSS might be slightly more challenging here.

for the carousels, it looks like we're gonna need the `title` attributes to become `alt`.

[2021-02-22 21:29] bpmcneilly commented on #4646
@Yashs911 - I think we may need to check in with @mekarpeles about this.

Taking a quick look, there are definitely going to be a few issues we find with [WMD](https://github.com/internetarchive/wmd). But, I don't know if those are technically within scope of our Open Library review and/or if they should be flagged & managed directly within that repo.

[2021-02-22 21:54] cdrini commented on #4364
Hi @kylewill ! Cool app :) Hmmm, if you're looking to upload a cover on their behalf (i.e. using _their_ Open Library account), that's currently not possible--we don't currently have something like OAuth for enabling that flow. If you're looking to upload covers programmatically using an account that _you_ own, then you can [create/register for a bot account](https://openlibrary.org/dev/docs/bots)

[2021-02-22 21:58] #4364 closed

[2021-02-22 22:00] cdrini commented on #4364
(You can also take a look at the python openlibrary-client to see the sort of requests it makes to e.g. upload a cover:)

https://github.com/internetarchive/openlibrary-client/blob/afd46d73daa85a64c2cd048bf91d3a50b68c8c43/olclient/openlibrary.py#L245-L252

[2021-02-22 22:06] cdrini commented on #2231
I can no longer reproduce this logged in or logged out.

[2021-02-22 22:06] #2231 closed

[2021-02-22 22:07] cdrini commented on #2231
@dcapillae I was able to edit the record you mentioned as well.

[2021-02-22 22:08] cdrini commented on #4364
( This blog post does cheekily claim that it takes like "~10min" to setup, but I'm skeptical :smile: https://www.ory.sh/run-oauth2-server-open-source-api-security/ )

[2021-02-22 22:11] kylewill commented on #4364
thank you! The goal is to contribute book covers in general vs. on behalf of an author.

The use case is a user of my app searches for books to put on a virtual background. If there's not a book, I'd love to contribute the covers to OL.

One thing I've noticed, I added a book over a month ago and it still doesn't show up in the book cover API (or on the OL site).

will file a separate issue for th

[2021-02-22 22:22] dcapillae commented on #2231
Thanks, @cdrini. I think these issues (or some of them) were resolved by some changes that were made regarding the use of special characters in languages different than English (I don't remember the date of these changes). Now it works fine for me too.

In the case of my edition, the issue was related to the author's name, "José María" (with two accents). I have tested and now it works correctly e

[2021-02-22 22:36] cdrini commented on #4311
@SouthGoingZax Is this still an issue? A number of our utf8 issues were fixed in the last few months during the py2/3 migration. If the issue is still there, upgrading gunicorn to see if that fixes it seems reasonable :+1:

[2021-02-22 22:39] cdrini commented on #4311
@cclauss This issue seems vaguely familiar; was there another issue very similar to this? I thought we might've already tried updating gunicorn.

[2021-02-22 22:57] cclauss commented on #4311
Like #4225 Internal Server Error attempting to merge authors with Unicode names which we were to discuss on today's call.

[2021-02-22 22:58] #3574 closed

[2021-02-22 23:07] khabdrick commented on #2815
Hello @mekarpeles is this issue still open

[2021-02-22 23:36] #4592 closed

[2021-02-23 00:59] jdlrobson commented on #4492
@DivyanshSareen just checking in -  are you working on this? if so I'll reassign you. If not I'll assign to @sukhpreet-singh1 .

[2021-02-23 01:15] bpmcneilly commented on #4634
Hey @Yashs911, I think this instance is similar to what I mentioned earlier in #4633 about restructuring links. In most cases, I think generally the Book (or list) name without "Cover of:" would be the best `alt` value if the `img` is by itself.

 However, if we do merge the `img` into another `a` element, like in #4633, then the `alt` can be null as the book's name will already be a part of the l

[2021-02-23 01:17] #2718 closed

[2021-02-23 02:41] #4642 closed

[2021-02-23 02:50] jdlrobson opened #4659 "[performance] Images on reading list should have width and height attributes."
### Relevant url?
https://openlibrary.org/people/jdlrobson/books/want-to-read

### Steps to Reproduce
On https://openlibrary.org/people/jdlrobson/books/want-to-read because the cover images have no width and height associated, there is an unnecessary re-render of the page.

Expected:  Space for covers is allocated and does not shift once the images are loaded.

### Details

- **Logged in (Y/N)?**

[2021-02-23 02:56] #4619 closed

[2021-02-23 08:21] Enigma04 commented on #3483
if this issue is still open I would like to take it up

[2021-02-23 12:30] DivyanshSareen commented on #4492
@jdlrobson you can assign it to @sukhpreet-singh1. I will be back after working on my basics :).

[2021-02-23 12:33] sukhpreet-singh1 commented on #4492
@jdlrobson can you please tell me which solution to do change the cover size or cover image size

[2021-02-23 12:43] cclauss commented on #3483
The issue is open but we have not removed the Python 2 code so let's hold off on attacking this one a little bit longer.

[2021-02-23 13:37] cdrini commented on #3170
Load times seem to be good now (better than good; quite good! perhaps py3 related?)

![image](https://user-images.githubusercontent.com/6251786/108851361-5673f300-75b2-11eb-8fb8-326a62729b8d.png)

[2021-02-23 13:37] #3170 closed

[2021-02-23 14:28] cdrini commented on #4107
Looks like it's also editing /type pages? https://openlibrary.org/type/edition?m=history (added to list)

[2021-02-23 15:08] cdrini opened #4662 "DRY Sort options on search/authors page"
The sort options on the search and authors page are duplicated (and out of sync!)

- https://openlibrary.org/search?q=hello&mode=everything
- https://openlibrary.org/authors/OL123779A/Ernest_Hello

## Summary of Requirements
- [ ] Create a new template (in an appropriate location): Maybe `sort_options.html`. **Use the code in `work_search.html`**
- [ ] Replace the sorting code in `work_search.html

[2021-02-23 15:40] #4546 closed

[2021-02-23 16:01] jdlrobson commented on #4492
@sukhpreet-singh1 please read the entire thread above carefully. I've explained how this can be done in the description of the issue and https://github.com/internetarchive/openlibrary/issues/4492#issuecomment-771872381

[2021-02-23 17:14] sukhpreet-singh1 commented on #4492
ok please assign me i will do the required changes

[2021-02-23 18:39] cclauss commented on #4311
We are running current gunicorn https://github.com/internetarchive/openlibrary/blob/8203f8c262b01250e52cf386c9fdc5fe2e3b7e1e/requirements_common.txt#L11 vs. https://pypi.org/project/gunicorn

[2021-02-23 18:52] seabelis commented on #3137
This is resolved.

[2021-02-23 18:57] seabelis opened #4664 "Project Gutenberg (+ Standard Ebooks) integration"
Project Gutenberg texts are not presented as 'readable' from Open Library.

### Describe the problem that you'd like solved
Clear indication that Project Gutenberg, Librivox items are available to all users.

### Proposal & Constraints

From meeting notes:
- We likely need a need field for custom authoritative link (instead of / or as IA content)
- Read button checks privileged fields (IA, project

[2021-02-23 19:14] cdrini commented on #905
Bumping up in priority due to demand.

[2021-02-23 19:39] cdrini opened #4665 "IA Toolbar gone missing!"
### Evidence / Screenshot (if possible)
Where did it go?
![image](https://user-images.githubusercontent.com/6251786/108897981-a9669e00-75e4-11eb-9715-ca3a9a73246e.png)

### Relevant url?
https://openlibrary.org

### Details

- **Logged in (Y/N)?** N
- **Browser type/version?** FF85
- **Operating system?** Win10
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

[2021-02-23 19:59] tfmorris commented on #3137
Can you expand on what the resolution was? If anything, it looks worse to me. The "Read" button is still there and it's been joined by a "Search inside" box, plus the screen is inconsistent saying "Not in the library" in one place and "Read" in another. It's offering "Print Disabled" when there's no Daisy file and, lastly, if you click the "Read" button the spinner never goes away.

(Ignore the mi

[2021-02-23 20:03] jdlrobson commented on #4665
Which toolbar are you referring to? Are you referring to the "view book on archive.org" in the screenshot or something else?

Is the HTML for this toolbar in the DOM and hidden via CSS or missing entirely?

Did you do a git blame to confirm this, or is this a guess based on recent changes?
I'm not sure how a change to the covers HTML could impact anything on the given Relevant url (homepage)

I sh

[2021-02-23 20:10] LeadSongDog commented on #3137
This overlaps #4379. I can’t really understand why there are two buttons at all. Let’s just have one that works correctly.

[2021-02-23 20:12] jdlrobson commented on #4665
I'm guessing this is what you mean?:

<img width="914" alt="Screen Shot 2021-02-23 at 12 08 12 PM" src="https://user-images.githubusercontent.com/148752/108901510-ce9ce180-75cf-11eb-8678-fe3dfc67f02e.png">

Running a git bisect now to see when this happened...

[2021-02-23 20:13] tfmorris commented on #4665
I like the new look. Much cleaner than having two different "top" bars.

[2021-02-23 20:15] cdrini commented on #4665
Yep that's the one. I added a temporary shim to production until we get a proper fix.

[code]

[2021-02-23 20:17] jdlrobson commented on #4665
Yep can confirm that 55a6a3974b6f5ee6efa2e498dee69ef33bb46303 is the problem here (with git bisect)

The line here is the problem:
https://github.com/internetarchive/openlibrary/commit/55a6a3974b6f5ee6efa2e498dee69ef33bb46303

[2021-02-23 20:22] jdlrobson commented on #4665
Pushed fix. The line is no longer needed so yay to identifying and getting rid of more unnecessary cruft.

[2021-02-23 20:35] #4665 closed

[2021-02-24 00:45] cdrini commented on #4261
Fixed :+1:

[2021-02-24 00:45] #4261 closed

[2021-02-24 00:58] cdrini commented on #699
I think @hornc is correct, solr-updater was likely broken at the time these authors were created, and they were never re-indexed. All the example here now work, because we've done a few full re-indexes over last year.

[2021-02-24 00:58] #699 closed

[2021-02-24 01:05] cdrini commented on #2309
Closing as no longer an issue; Docker Toolbox is no longer the only option for Windows users now that Windows has WSL.

[2021-02-24 01:05] #2309 closed

[2021-02-24 01:33] rmtobin opened #4671 "2021-01-31 combined data dump missing data/out of date data"
I recently pulled down the combined data dump located here: https://archive.org/details/ol_cdump_2021-01-31 and have found a few different instances where data is missing or out of date, based on last modified timestamps.

### Evidence / Screenshot (if possible)
For example, take this edition: https://openlibrary.org/books/OL25618096M/The_color_of_magic.

It is present in the data dump under the k

[2021-02-24 01:34] rmtobin commented on #4671
This may be a duplicate of https://github.com/internetarchive/openlibrary/issues/4621, but I opened a new issue just in case since I have some additional details.

[2021-02-24 08:50] seabelis commented on #3137
@tfmorris Yes, you're right. The Read button is still beneath the cover, just not on the editions list. Reopening.

[2021-02-24 08:51] seabelis commented on #4664
Related to #3137

[2021-02-24 15:40] cdrini commented on #3399
This should no work for most `-S.jpg` or `-M.jpg` images! Larger quality images might get routed to IA, which won't the CORS headers, so best bet is to stick to `-S.jpg` or `-M.jpg` images.

[2021-02-24 16:03] cdrini opened #4672 "covers.openlibrary.org should hit archive.org/download"
Subtask of #3399
Closes #3399

We can pretty decently simplify our covers.openlibrary.org code, as well remove 1 network request to IA for each cover image, by using the archive.org/download endpoint instead of the server-specific url.

This code:

https://github.com/internetarchive/openlibrary/blob/ba0b052a64dc3e20d4014743778741bb6ecea874/openlibrary/coverstore/code.py#L191-L196

Makes a request

[2021-02-24 16:04] cdrini commented on #3399
From Hank at IA:

can covers.openlibrary.org be updated to use view_archive.php directly rather than zipview.php—or even better, as it would probably let you drop from covers.openlibrary.org whatever code is being used to determine the actual location of the olcovers259 item, a /download/ URL instead: https://archive.org/download/olcovers259/olcovers259.zip/2598178.jpg? the /download/ redirect wil

[2021-02-24 16:05] cdrini commented on #4672
Would you be interested in trying this one, @jamesachamp ? Should have a decent impact on performance!

[2021-02-24 16:22] jamesachamp commented on #4672
I'll take it up.

[2021-02-25 08:58] seabelis commented on #4379
Patrons also ask about this.

[2021-02-25 10:16] lephemere opened #4673 "Work search - Sort by first published displays work with no publication date first"
When searching for a work and sorting by `First Published`, if some works match the search and have no first publication date, they appear first.
I expected to see works with known first published year first and not pages later.

### Evidence / Screenshot (if possible)
n/a

### Relevant url?

For example: https://openlibrary.org/search?q=calamity&mode=everything&sort=old

### Steps to Reproduce

1

[2021-02-25 13:53] montorodiaz opened #4674 "internal server error"
Hello:

We are recently having trouble with the OpenLibrary covers on our website.

We use the cover calls in an img tag:

`<img src="https://covers.openlibrary.org/b/isbn/8435005836-M.jpg" />`

If we do:

- requests with correct ISBN but not in openLibrary
- requests with incorrect ISBN

The response from the server is:

"internal server error"

Previously, in the case of non-existent covers, the

[2021-02-25 14:29] cdrini opened #4675 "Translate /subjects to Spanish"
Subtask of: #4677

We can translate these pages to other language thanks to `/type/i18n_page`! Just go to https://openlibrary.org/subjects.es?m=edit . If you don't have permissions, please comment with your OL username, and I'll see what I can do :)

NOTE: This is kind of annoying in that ideally we'd want to #2819 , which would give us the ability to store translated titles on the subject itself.

[2021-02-25 14:30] cdrini opened #4676 "Translate /subjects to French"
Subtask of: #4677

We can translate these pages to other language thanks to `/type/i18n_page`! Just go to https://openlibrary.org/subjects.fr?m=edit . If you don't have permissions, please comment with your OL username, and I'll see what I can do :)

NOTE: This is kind of annoying in that ideally we'd want to #2819 , which would give us the ability to store translated titles on the subject itself.

[2021-02-25 14:35] cdrini opened #4677 "Translate /subjects into more languages"
Creating sub-issues for languages where we've had recent contributions. If folks want to translate into other languages, please comment! And I'll add to the list :)

- [x] English
- [x] #4675 Spanish (@dcapillae ) https://openlibrary.org/subjects.es
- [x] #4676 French (@lephemere ) https://openlibrary.org/subjects.fr
- [x] #4678 German (@bitnapper ) https://openlibrary.org/subjects.de
- [x] #4679

[2021-02-25 14:37] cdrini opened #4678 "Translate /subjects to German"
Subtask of: #4677

We can translate these pages to other language thanks to `/type/i18n_page`! Just go to https://openlibrary.org/subjects.de?m=edit . If you don't have permissions, please comment with your OL username, and I'll see what I can do :)

NOTE: This is kind of annoying in that ideally we'd want to #2819 , which would give us the ability to store translated titles on the subject itself.

[2021-02-25 14:41] cdrini opened #4679 "Translate /subjects to Croatian"
Subtask of: #4677

We can translate these pages to other language thanks to `/type/i18n_page`! Just go to https://openlibrary.org/subjects.hr?m=edit . If you don't have permissions, please comment with your OL username, and I'll see what I can do :)

NOTE: This is kind of annoying in that ideally we'd want to #2819 , which would give us the ability to store translated titles on the subject itself.

[2021-02-25 17:17] bitnapper commented on #4678
Done. ;-)

[2021-02-25 20:00] mekarpeles opened #4680 "Coverserver internal server error"
### Evidence / Screenshot (if possible)
https://covers.openlibrary.org/b/isbn/9780660209135-M.jpg

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2021-02-25 20:13] #4362 closed

[2021-02-25 20:18] #2445 closed

[2021-02-25 21:50] dcapillae commented on #4675
Great! Thanks, @cdrini.

Spanish translation in progress...

[2021-02-26 11:44] lephemere commented on #4676
I got a permission denied. My OL username is `lephemere`.

[2021-02-26 15:12] lephemere commented on #4662
How do we deal with the `Relevance` sorting options for the author's list of works? What makes a work more relevant than an other one?

[2021-02-26 15:37] cdrini commented on #4662
Good question! Let's add some options to the template; so for example we could do `$:render_template("sort_options.html", exclude=('relevance'), selected='editions')` on the authors pages.

[2021-02-26 15:45] cdrini commented on #4676
@lephemere Ok! You should have perms now :+1:

[2021-02-26 15:56] lephemere commented on #4676
@cdrini It works! I'll start with the translation.

[2021-02-26 16:26] cdrini commented on #4678
On _fire_! Wonderful, thank you @bitnapper !

[2021-02-26 16:26] #4678 closed

[2021-02-26 16:36] cdrini commented on #4680
That isbn doesn't exist in our catalog: https://openlibrary.org/isbn/9780660209135

[2021-02-26 18:01] cdrini commented on #4225
[code]

/authors/merge?key=OL619897A&key=OL2908580A&key=OL5551708A&key=OL6373539A&key=OL7507879A&key=OL485083A

[2021-02-26 18:12] cclauss commented on #4225
The hypothesis is that [web.seeother()](https://github.com/webpy/webpy/blob/master/web/webapi.py#L156-L163) is having troubles with URLs that contain Unicode characters.

[2021-02-26 19:34] tfmorris commented on #4225
That sounds like a reasonable hypothesis. Yet another bug due to the use of gratuitous "slugs" in the URLs.

I've stopped reporting cases, but I run into this constantly. I'm surprised that @seabelis and her librarians haven't been complaining about this vociferously since it's been 3 months.

[2021-02-26 21:49] cclauss commented on #4225
What is the recommendation for these cases?
1. Remove the slugs?
    * https://openlibrary.org/authors/OL619897A/Gu%CC%88nter_Kahle --> https://openlibrary.org/authors/OL619897A
2. Ensure that `web.seeother()` does proper encoding/docoding?
3. Other?

[2021-02-26 23:51] lephemere commented on #4676
I have published the french translation.

[2021-02-27 01:54] dcapillae commented on #4675
A first [Spanish translation](https://openlibrary.org/subjects.es?v=3) is now available.

[2021-02-27 02:59] contributorpw commented on #4677
Please add Russian. My OL user is oshliaer

[2021-02-27 07:13] jayantchaudhary002 commented on #4492
@jdlrobson I would like to work on this issue if @sukhpreet-singh1 is no longer working on it.

[2021-02-27 10:02] vatsal-cmd commented on #3483
I want to be a participant  in solving this issue, i am a beginner can anyone tell me from where to start and till now what is the progress for this issue?

[2021-02-27 10:24] cclauss commented on #3483
let's hold off on attacking this one a little bit longer.

[2021-02-27 11:44] cdrini commented on #4225
`web.seeother` definitely needs to be fixed; that's going to only cause more issues as we move on.

[2021-02-27 12:03] cdrini commented on #4675
Wonderful, thank you @dcapillae !

[2021-02-27 12:03] #4675 closed

[2021-02-27 12:04] cdrini commented on #4676
Awesome, thank you @lephemere !

[2021-02-27 12:04] #4676 closed

[2021-02-27 12:06] cdrini opened #4682 "Translate /subjects to Russian"
Subtask of: #4677

We can translate these pages to other language thanks to `/type/i18n_page`! Just go to https://openlibrary.org/subjects.ru?m=edit . If you don't have permissions, please comment with your OL username, and I'll see what I can do :)

NOTE: This is kind of annoying in that ideally we'd want to #2819 , which would give us the ability to store translated titles on the subject itself.

[2021-02-27 12:11] cdrini commented on #4677
Awesome, thank you @contributorpw ! I created a separate issue: #4682 , and you should now have access to edit here: https://openlibrary.org/subjects.ru?m=edit

[2021-02-27 12:19] cdrini commented on #3971
Status: Investigating what appears to be a memory leak in solrbuilder :( OJF had stupid amounts of RAM (~90GB?), so it didn't seem to be an issue there? But on our more modest ~12GB ol-solr1, it's hitting a cap and causing the process to crash.

[2021-02-27 12:20] cdrini commented on #3971
Most of the work towards this is in the draft PR here: https://github.com/internetarchive/openlibrary/pull/4337 .

[2021-02-27 12:23] cdrini commented on #201
Side note: I tried to expose the existing `title` field for sorting, but it looks like it has too many transforms to be used for sorting. An approach like the one here seems reasonable, but would need some more investigation. Regardless adding a new field to solr requires a full reindex of our db, the for which is kinda blocked by #3971 at the moment.

[2021-02-27 12:26] cdrini commented on #3971
Here's the long memory output at the end of the script.

[code]

[2021-02-27 12:34] Yashs911 commented on #4662
@cdrini I will create a PR as soon as I am done with my exams (by the end of next week) :)

[2021-02-27 12:35] cdrini commented on #2906
I usually prefer to keep the older issue, but in this case I'm going to close #2655 since this has more context both in the issue and in comments.

[2021-02-27 12:35] cdrini commented on #2655
I usually prefer to keep the older issue, but in this case I'm going to close in favour of #2906 since it has more context both in the issue and in comments.

[2021-02-27 12:35] #2655 closed

[2021-02-27 12:36] Yashs911 commented on #4633
@bpmcneilly Sorry for the delay. I will create a PR as soon as I am done with my exams (by the end of next week) :)

[2021-02-27 15:07] lephemere commented on #791
Regarding internationalization, I quickly went through OL main pages and identified the ones which could greatly improve non-english speaking user experience.

- [Subjects](https://openlibrary.org/subjects) => Editable page. See #4677.
- [Authors](https://openlibrary.org/authors) => Not i18n friendly (templates/authors/index.html).
- [Help](https://openlibrary.org/help) => Editable page.
- [How ca

[2021-02-27 17:16] LeadSongDog commented on #4677
Q: Is the plan to use romanized spelling or vernacular?

[2021-02-27 19:50] tfmorris commented on #2906
That's standard practice for all projects. This was flagged as a duplicate 11 months ago.

[2021-02-27 19:57] tfmorris commented on #2655
My April 2020 comment on the duplicate was apparently part of the justification for closing this, so copying it here for more detail:

Since creating the issue 15 months ago, I've become less equivocal about carousels. They are space inefficient and poorly designed. They should be replaced with a design that is more user focused instead of just shovelling random drek.

[2021-02-27 20:56] LeadSongDog commented on #201
Q: Any other fields that should also be exposed at the same time?

[2021-02-27 22:18] klcarlton commented on #3399
I can confirm that the issue is fixed for -S.jpg and -M.jpg images. Thanks a bunch everyone!

[2021-02-27 23:03] #4449 closed

[2021-02-27 23:05] jdlrobson commented on #4449
I don't think it's useful to have an orphaned epic. Let's create new tickets for any pages which fail the validator from now on.

I'll notice that because of the hot fix for the internet archive bar (which added an inline style tag with a rule for #topNotice) that all pages are currently failing the validator. This should be fixed is next deploy cc @cdrini

[2021-02-27 23:44] #4444 closed

[2021-02-27 23:45] jdlrobson opened #4685 "Header z-index create usability problems on mobile"
When viewing openlibrary on a mobile device menus cannot be used properly due to issues with z-index.

### Evidence / Screenshot (if possible)

<img width="448" alt="Screen Shot 2021-02-27 at 3 34 19 PM" src="https://user-images.githubusercontent.com/148752/109403307-442ae980-7911-11eb-8ccb-b31bc3293c91.png">

### Relevant url?
https://openlibrary.org/

### Steps to Reproduce
1. Go to https://open

[2021-02-27 23:57] jdlrobson opened #4686 "Multiple menus can be open in the header at the same time"
@mekarpeles apologies for missing this in code review. Should probably be fixed prior to next deploy. With the recent changes to improve our menus for non-JavaScript users we introduced a new usability feature for JS users.

Luckily this can  be rectified with a few lines of JS.

### Evidence / Screenshot (if possible)
<img width="946" alt="Screen Shot 2021-02-27 at 3 49 01 PM" src="https://user-i

[2021-02-28 05:01] contributorpw commented on #4682
`openlibrary.org/subjects.ru` is done

[2021-02-28 05:07] contributorpw commented on #791
@lephemere

* Around the Library (bottom of main content of the start page)
* Footer (it is verbose)

<details>
<summary>Details</summary>

![1614488702614](https://user-images.githubusercontent.com/5027939/109408562-eee7ea00-799b-11eb-8678-e48ceb933a3a.png)

</details>

[2021-02-28 10:11] lephemere commented on #791
@contributorpw
I've checked the templates associated to these parts and they are all i18n friendly.
We need to update the i18n message template and translate for each language.

[2021-02-28 19:43] jamesachamp commented on #4680
It should return `empty.gif` if no image is found:
https://github.com/internetarchive/openlibrary/blob/fd5dbb02937f7db80a1f90ef898c2f7edc35c83a/conf/coverstore.yml#L9

If the above configuration is missing, the API call will return a `404` error.  If there is no `empty.gif`, a `500` error is returned and there will be `FileNotFoundError`s in the covers server logs.

[2021-02-28 20:33] cclauss commented on #4423
[code]

[2021-03-01 02:36] tfmorris opened #4690 "Changes not showing up in autocomplete & search contexts"
Search indexing of changes used to be quite slow, but reasonably reliable. Now it seems to be somewhat faster, if it happens, but increasingly unreliable. Search is the glue that holds the system together because it's used not only to power user searches, but also to dynamically construct many different types of pages. It *must* become a priority and be made reliable.

### Evidence / Screenshot (i

[2021-03-01 02:39] tfmorris opened #4691 "Author autocomplete results show "broken" thumbnails"
The autocomplete listing for authors shows the broken link icon for the vast majority of author thumbnails.

### Evidence / Screenshot (if possible)

![Screen Shot 2021-02-28 at 9 36 07 PM](https://user-images.githubusercontent.com/82178/109445303-48d4c800-7a0d-11eb-8e57-4b81e14d68c9.png)

### Relevant url?
https://openlibrary.org/

### Steps to Reproduce

1. Go to openlibrary.org
2. Do ... type "

[2021-03-01 10:57] cclauss commented on #4622
This now runs end-to-end on Python 3 in a Docker container on ol-home0 but it takes 19 hours!

Task | Time in minutes
--- | ---
dumping the data table | 100
generating ol_cdump_2021-02-26.txt.gz | 518
generated ol_dump_2021-02-26.txt.gz | 490
splitting the dump | 7
generating sitemaps |

% `python3 -c "print((100 + 518 + 490 + 7 + 30) / 60)" ` # --> 19.08 hours

[2021-03-01 11:08] cclauss commented on #4622
Still need to land internetarchive/olsystem#118

[2021-03-01 12:59] cdrini commented on #4682
Awesome, thank you @contributorpw ! (

[2021-03-01 12:59] #4682 closed

[2021-03-01 13:00] cdrini commented on #4677
Vernacular :) I don't thing e.g. Russian users would benefit from having the UI be in romanized Russian.

[2021-03-01 14:21] cclauss commented on #2316
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/imports.py#L92-L93

[2021-03-01 14:45] cdrini commented on #4680
Ahhh, I think we had the wrong path here after our py3/docker migration. Opened a PR in olsystem to fix.

[2021-03-01 16:01] cdrini opened #4704 "Add March collection to homepage"
We have a March collection! And it's March :) Let's add it to the homepage

- [ ] Use the JS snippet from https://github.com/internetarchive/openlibrary/issues/4536#issuecomment-779374187 to generate a random 100 book selection for https://openlibrary.org/collections/march
- [ ] Add it to home/index.html
- [ ] Try setting `sort='random.hourly` in the carousel; that should have the books shuffle ~e

[2021-03-01 16:01] cdrini commented on #4704
Would you be interested in taking this one, @Sabreen-Parveen ?

[2021-03-01 16:08] Sabreen-Parveen commented on #4704
Yeah, sure :)

[2021-03-01 16:20] cdrini commented on #927
I believe this is also causing multiple edits to a work in a short time frame to be ignored :/ Bumping in priority.

[2021-03-01 19:44] mekarpeles opened #4706 "Open Library Increased Errors + 503s"
### Summary

- **What is wrong?**

openlibrary.org became slugish w/ increased 503s. We noticed infobase down on ol-home0. We restarted ol-www1's nginx and haproxy as sometimes these become saturated. We checked ol-mem* to check our memory usage (in case of swapping).

- **What caused it?**

Postmortem: @cdrini noticed infobase down on ol-home0, further investigation yielded that docker was having

[2021-03-01 19:44] #4706 closed

[2021-03-01 19:48] #4622 closed

[2021-03-01 19:50] cdrini opened #4707 "cron-jobs service stuck in restart loop"
Running `docker container ls` on `ol-home0` reveals that the cron-jobs service is stuck in a restart loop. Note docker containers need their `command` to be long-running, so maybe the cron docker service is only _starting_ the cron service, but not "hanging" on it?

[2021-03-01 20:07] mekarpeles commented on #363
I think this is working? This always has seemed on and off to me (some edge case when one of our services restarted, people get logged out)

[2021-03-01 20:07] #363 closed

[2021-03-01 20:09] mekarpeles commented on #4047
We believed this is resolved by #4667

[2021-03-01 20:09] #4047 closed

[2021-03-01 20:16] cdrini opened #4708 "Barcodescanner should default to single scan"
Barcodescanner should have a checkbox to toggle scan many vs scan and jump to book page. Maybe something like "[ ] Scan Multiple Books" at the bottom. It should default to being unchecked.

For the single-scan option, how it should work is:
* if 2 consecutive scans result in the same ISBN...
* check the isbn on Open Library and see if it exists
* If so, use js to redirect patron to this book page

[2021-03-01 20:19] cdrini commented on #4252
Here's @traceypooh nginx binary: https://archive.org/serve/nginx

[2021-03-01 20:24] mekarpeles commented on #4516
Updated on wiki

[2021-03-01 20:24] #4516 closed

[2021-03-01 20:33] cdrini commented on #4555
Note sure how many records this is affecting? Seems not super prevalent, setting to p3.

[2021-03-01 20:38] cdrini commented on #4686
:+1: Thanks @jdlrobson I'll try out the PR, and if it's not working I'll do a revert so we can deploy tomorrow :+1: (double heads up, cc @cclauss :) )

[2021-03-01 21:47] cclauss commented on #4707
In #4387 we used [`command: cron -f`](https://github.com/internetarchive/openlibrary/blob/master/docker-compose.production.yml#L64) to run `cron` in the foreground to make it a long-running process but perhaps we need to do more.
* https://stackoverflow.com/search?q=cron+jobs+in+docker+container
* https://medium.com/@jonbaldie/how-to-run-cron-jobs-inside-docker-containers-26964315b582
* https://yp

[2021-03-01 22:28] cdrini commented on #4707
Hmm :/ Do the logs reveal anything useful?

[2021-03-02 03:10] Romi-776 opened #4711 "Book title ("link") and Cover name missing"
The name of the book which is also a link to that book is missing and the cover is also not giving information about the name of the book.

### Evidence / Screenshot (if possible)
![Screenshot from 2021-03-02 08-14-47](https://user-images.githubusercontent.com/53464933/109588902-7f0a6880-7b2f-11eb-9547-02ff326dcc52.png)

### Relevant url?

https://openlibrary.org/works/OL5735360W/Catching_Fire_%28

[2021-03-02 03:12] Romi-776 commented on #4711
@mekarpeles , @cdrini Can anyone point me in the right direction in order to fix this?

[2021-03-02 12:27] #3812 closed

[2021-03-02 12:38] khabdrick commented on #3239
Hello is this issue still open?

[2021-03-02 13:41] cdrini commented on #4680
Fixed, and patch deployed for testing. Working now! Here's the diff

[code]

[2021-03-02 13:41] #4680 closed

[2021-03-02 13:48] #4691 closed

[2021-03-02 13:52] cdrini commented on #4711
Strange! It looks like someone had edited the record and removed its title :P I just edited it now and added it back. https://openlibrary.org/books/OL23614051M/Catching_Fire?_compare=Comparer&b=19&a=18&m=diff

[2021-03-02 13:52] #4711 closed

[2021-03-02 16:02] cclauss commented on #4657
### Employee input completed:
* [x] @cclauss
* [ ] @cdrini
* [ ] @mekarpeles
### Performance Review completed:
* [ ] @cclauss
* [ ] @cdrini
* [ ] @mekarpeles

[2021-03-02 17:33] cclauss commented on #4707
[code]

[2021-03-02 18:23] seabelis commented on #4225
Still failing https://openlibrary.org/authors/merge?key=OL48458A&key=OL2816393A&key=OL6399631A&key=OL7924924A&key=OL8248718A&key=OL5777954A
and https://openlibrary.org/authors/merge?key=OL2510571A&key=OL7041385A&key=OL985781A

[2021-03-02 18:32] jamesachamp commented on #4674
This may be a duplicate of #4680 (or vice versa).  If so, it should be fixed after the next deployment.

[2021-03-02 18:35] #4225 closed

[2021-03-02 19:03] seabelis commented on #4493
Documented here. https://github.com/internetarchive/openlibrary/blob/85bc3e69150f4e19edd8e3e6c8720169dd4dcb7b/openlibrary/macros/QueryCarousel.html#L1

[2021-03-02 19:03] #4493 closed

[2021-03-02 19:10] cdrini commented on #4225
Should be fixed once we deploy in 1h-2d :)

[2021-03-02 19:48] seabelis commented on #4568
Added to librarians repo for manual correction. https://github.com/internetarchive/openlibrary-librarians/issues/53

[2021-03-02 20:42] LeadSongDog commented on #4225
@cclauss Slugs, if you ask me. The slugs are a blight, putting a useless double hit on performance and exposing titles in browser history: we’d do well to be done with them.

[2021-03-02 22:09] cclauss commented on #4707
1. Try `user: root` in `docker-compose.production.yml`
[code]

[2021-03-02 23:02] finnless opened #4715 "Enable Search Inside for borrowable books"
Freely readable books like [The complete works of Mark Twain.](https://openlibrary.org/books/OL24197475M/The_complete_works_of_Mark_Twain.) have a Search Inside box while borrow-only books like [The Giver](https://openlibrary.org/books/OL7829676M/The_Giver) do not.

### Describe the problem that you'd like solved
The search inside feature is already possible for borrow-only books. You can just go

[2021-03-03 01:32] jamesachamp commented on #4453
I've updated the sub-tasks to better reflect the proposed features.  I'll update the new tasks with links to the issues as I open them.

[2021-03-03 03:22] Romi-776 commented on #4630
@bpmcneilly, @Sabreen-Parveen is right.
All the cover images of the books shown on the home page doesn't have any alt attribute.
Also, the dropdown arrow images which are with browse and more button have an alt tag but doesn't assigned any value not even an empty string. Same thing is done with the archive logo in the footer of the page.

[2021-03-03 03:59] Sabreen-Parveen commented on #4630
@Romi-776 thanks for investigating this, but the alt="" justifies the footer logo acoording to comment https://github.com/internetarchive/openlibrary/issues/4521#issuecomment-772730099
and so is true for the dropdown arrow

[2021-03-03 08:25] montorodiaz commented on #4674
Hello:

Yes, it appears to be a duplicate of https://github.com/internetarchive/openlibrary/issues/4680, which is now resolved.

We will wait for the next deployment to check it.

Greetings and thank you.

[2021-03-03 08:30] #4674 closed

[2021-03-03 08:30] montorodiaz commented on #4674
Duplicate of https://github.com/internetarchive/openlibrary/issues/4680, which is now resolved.

[2021-03-03 08:31] cclauss commented on #4674
Cool @montorodiaz I should do the next [deployment](https://github.com/internetarchive/openlibrary/releases) today so please recheck this in ~24 hours

[2021-03-03 10:18] Yashs911 commented on #4568
@seabelis Actually this issue is not just related to https://openlibrary.org/search?q=mark&mode=everything&sort=new but many books on OL have the wrong publication date so I was wondering if it was possible to hide publications date > 2021

[2021-03-03 10:26] Yashs911 commented on #3239
As per https://github.com/internetarchive/openlibrary/issues/3239#issuecomment-604190280 This issue is not a Good First Issue. Maybe you should look for some other [Good First Issue](https://github.com/internetarchive/openlibrary/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22)

[2021-03-03 10:30] cclauss commented on #4602
% python3
[code]

[2021-03-03 12:25] mekarpeles commented on #4602
We've passed this on to @bfalling who runs the Archive.org team -- since this isn't a bug on OpenLibrary.org, we're going to close the issue here. Thank you for reporting!

[2021-03-03 12:25] #4602 closed

[2021-03-03 12:49] Bhavna777 commented on #4568
But it will create problem in the upcoming years.

[2021-03-03 12:56] Yashs911 commented on #4568
By 2021 I meant we can use Current Year function

[2021-03-03 17:31] awebdeveloper opened #4718 "CSS zindex issue on mobile with top menu"
Notice in the image the header menu is coming over search thus u can't click on the 1st item without jymnastics.

![Screenshot_2021-03-03-22-57-54-578_com android chrome](https://user-images.githubusercontent.com/1593429/109846362-209ad280-7c74-11eb-90ea-7709f29943ca.jpg)

[2021-03-03 17:39] Yashs911 commented on #4718
@awebdeveloper Even on the books page "Want to Read" is overlapping with the search result.
![image](https://user-images.githubusercontent.com/64412143/109847187-ec73e180-7c74-11eb-8f1e-5603634da57c.png)

There is an active PR https://github.com/internetarchive/openlibrary/pull/4687 by @jdlrobson. I think it will fix this issue if not then the fix for this issue can also be added in that PR :)

[2021-03-03 20:42] seabelis opened #4720 "Unexpected token b in JSON at position 0"
Error message: Unexpected token b in JSON at position 0

### Evidence / Screenshot (if possible)

### Relevant url?
http://staging.openlibrary.org/works/merge?records=OL15235105W,OL15524485W,OL88547W

### Steps to Reproduce

1. Go to ...http://staging.openlibrary.org/works/merge?records=OL15235105W,OL15524485W,OL88547W
2. Do ...merge

* Actual: Error message: Unexpected token b in JSON at position

[2021-03-03 21:52] #4707 closed

[2021-03-04 03:53] Romi-776 commented on #4638
@bpmcneilly this are the things that I found on this page.

**1. There's an image hidden inside a div which is related to donation doesn't have an alt attribute.**
![Screenshot from 2021-03-04 08-26-18](https://user-images.githubusercontent.com/53464933/109905331-9e86ca00-7cc4-11eb-9fab-45281f533545.png)

**2. In the "view edition's of this book" section the atl attribute's value is sometimes same

[2021-03-04 09:35] b-thebest commented on #2283
Can I work on this issue

[2021-03-04 09:36] b-thebest commented on #439
Can I work on this issue

[2021-03-04 09:36] b-thebest commented on #2777
Can I work on this issue

[2021-03-04 12:23] seabelis commented on #4568
I'm not the person to decide, but I'd prefer to delete the incorrect data than to hide it.

[2021-03-04 14:15] #4563 closed

[2021-03-04 15:09] #4686 closed

[2021-03-04 15:41] #4718 closed

[2021-03-04 16:20] #4672 closed

[2021-03-04 16:25] cdrini commented on #4720
Can you try again, @seabelis ? We had some temporary outages yesterday, and it looks like this might have been during then.

[2021-03-04 16:29] cdrini opened #4722 "Delete editions_merge directory (dead code)"
### Summary of Requirements

- [ ] Delete said directory
- [ ] Look for any references to `editions_merge` and delete those references (or bring them up for discussion)

### Stakeholders

@ArunTeltia @jdlrobson

[2021-03-04 16:29] cdrini commented on #4722
Would you be interested in taking this one, @ArunTeltia ?

[2021-03-04 17:03] mekarpeles commented on #4706
The issue was that we were updating `/etc/ferm/ferm.conf` rules even though these were auto-generated daily. We should have been putting them in `/etc/ferm/input/` as is described in @abezella's guide:
https://docs.google.com/document/d/1W4DtLPlzCUszovOj1yA6uy5Ws8GY_cpjlxu5VOo2aQo/edit#heading=h.3dy6vkm

The second issue is, restarting `ferm` via `sudo service ferm reload` causes Docker iptables t

[2021-03-04 17:04] mekarpeles opened #4723 "ol-home0 provisioning needs rsync ferm/input"
The issue was that we were updating `/etc/ferm/ferm.conf` rules even though these were auto-generated daily. We should have been putting them in `/etc/ferm/input/` as is described in @abezella's guide:
https://docs.google.com/document/d/1W4DtLPlzCUszovOj1yA6uy5Ws8GY_cpjlxu5VOo2aQo/edit#heading=h.3dy6vkm

The second issue is, restarting `ferm` via `sudo service ferm reload` causes Docker iptables t

[2021-03-04 17:55] mekarpeles opened #4724 "Automate Deploy Notes"
### Describe the problem that you'd like solved

Presently we semi-manually tag and annotate releases. @cdrini has a js API call to cut release notes. There's also a python API called `gren` https://github.com/github-tools/github-release-notes which handles a lot of the basics for you/us in python-land.

This task calls for migrating @cdrini's js script to our deployment script (to automatically t

[2021-03-04 18:17] ArunTeltia commented on #4722
Yes sir I am working on it

[2021-03-04 18:49] seabelis commented on #4720
Yes. Worked.

[2021-03-04 18:49] #4720 closed

[2021-03-05 02:28] finnless commented on #4708
If in bulk scan mode there should be an option to append all scanned books to a book list. This would significantly speed up the scanning process for batches.