[2019-08-15 16:17] cdrini commented on #1048
@seabelis Created a new issue for that: https://github.com/internetarchive/openlibrary/issues/1048

[2019-08-15 16:17] cdrini commented on #2304
@seabelis Feel free to add any other examples you find.

[2019-08-15 16:18] tfmorris commented on #1620
@cdrini Yes, perfect.

To quote:

So, this code:

https://github.com/internetarchive/openlibrary/blob/9655f1d0fd21777465e6ed60de5257d32ffc416c/scripts/manage-imports.py#L136

with the `import-all` subcommand.

[2019-08-15 16:20] seabelis commented on #1048
I think it's #2304 .

[2019-08-15 16:23] LeadSongDog commented on #667
@tfmorris
Be that as it may, when both the title spellings and author spellings are very similar between an existing work record and a newly added edition, the default behaviour should _not_ be to autocreate a new work record, nor a new author record. If we can't get it automated correctly, then check with a human!

[2019-08-15 16:40] cdrini commented on #1694
Added some next steps to issue.

@cclauss Is this a blocker for python3?

@tfmorris @hornc any clues as to where it might be used?

[2019-08-15 16:41] cdrini commented on #1694
Here's the diff of OL-GeoIP (downloaded src from pypi) and upstream at same version (https://github.com/jlopez/maxmind-geoip/commit/4ec7259b2cc2c8902919947a5e2db5ac09586c73 ):
[code]

Only notable change was adding `/opt/local/lib` to `library_dirs` and `/opt/local/include` to `include_dirs`. My python-package-fu is not very strong; what does this mean?

[2019-08-15 16:52] cdrini commented on #1048
Whoops! :P Fixed.

[2019-08-15 17:00] cclauss commented on #1694
I am unsure if this is a blocker but __Latest commit 7206da2 on Dec 7, 2011__ should be a cause of concern.

[2019-08-15 17:09] cdrini commented on #1451
:P Ok, let's backlog this until after we get Python 3. JSON is used _extensively_ throughout OL, and I don't want to deal with potential perf issues for some number of months. There's plenty of other stuff to do in the mean time. :)

[2019-08-15 17:18] cdrini opened #2308 "Remove simplejson dependency"
Subtask of #2852
See ~#4296, #4297, #4298, #4299~

`simplejson` is no longer needed since the `json` module was added to Python. There are some concerns with performance on Python 2, so let's wait until we finish our Python 3 migration, and then drop this dependency.

### Additional context
- https://github.com/internetarchive/openlibrary/issues/1451 : Discussion of whether we want to abandon `sim

[2019-08-15 17:18] cdrini commented on #1451
Created issue here now that we've decided: #2308

[2019-08-15 17:18] #1451 closed

[2019-08-15 18:08] cdrini opened #2309 "Webpack Watch doesn't work for docker toolbox"
### Description
`webpack --watch` won't work for developers using Docker Toolbox since you can't listen to file changes through virtualbox.

Right now, `npm run-script watch` builds only once and then stops.

Workaround: Docker toolbox users should run `npx webpack --watch --watch-poll=1000 --progress --mode=development`

### Evidence / Screenshot (if possible)

### Relevant url?
- https://www.jav

[2019-08-15 18:48] cdrini commented on #1694
- It was added in this commit to requirements: 3948c39581d55f78953d0cc955fa0214dae66aa0 (14 Dec 2011)
- Before that it was added to `setup.py` by @nibrahim e5ef75c6dc05f2992107b923e48c4471f4041ae8 on 11 Oct 2011 (same day as release on pypi)

[2019-08-15 19:05] cdrini commented on #1694
It exports at least `GeoIP`; this is used in https://github.com/internetarchive/openlibrary/blob/2b2895fb849aea8344d5aab77e883faae547dc00/openlibrary/core/geo_ip.py .

Note this line:
https://github.com/internetarchive/openlibrary/blob/2b2895fb849aea8344d5aab77e883faae547dc00/openlibrary/core/geo_ip.py#L9

Every method in this file requires this database. `geoip_database` does not exist locally; d

[2019-08-15 20:05] seabelis commented on #2233
Weirdness. This https://archive.org/details/works0000melv_j5b0 links to https://openlibrary.org/books/OL5886401M/White_Jacket which links to https://archive.org/details/works0000melv_q2c8/page/n5. They are not the same work, just the same series.

[2019-08-15 21:03] LeadSongDog commented on #2303
So your "copy" would be approximately equivalent to frbr:item where "edition" is approximately frbr:manifestation ?  Bringing something of the sort into use would be helpful. It would be useful to determine the referent level for each common identifer type: does it pertain to a single item/copy, or to all similar items/copies (the manifestation).

[2019-08-15 23:16] cclauss commented on #2308
Why close one issue to create another on the same topic?

[2019-08-16 01:31] tfmorris commented on #2304
Probably?

The MARC record is [here](https://openlibrary.org/show-records/marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run02.mrc:57025904:1594) (why isn't it properly linked like the Scriblio MARC record?)

I can't see anything in the data that hints at how "Clean up Bot" (doing imports, not cleanups), got quite so far afield.

[2019-08-16 01:51] tfmorris commented on #1694
As I mentioned Jan. 4, https://github.com/internetarchive/openlibrary/issues/1694#issuecomment-451362505 unless this has changed recently, I believe it is used to identify the lending library.

https://github.com/internetarchive/openlibrary/blob/75452cf6f0e3c23e1030395c93e232686ebaa417/openlibrary/core/inlibrary.py#L110

I don't see any reason to support an obsolete private fork though. We should

[2019-08-16 02:26] hornc commented on #2304
The source MARC record has the same LCCN as the original record, so they were matched by OL's internal data matching, OL did the matching not the bot, just to be clear.

https://openlibrary.org/show-records/marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run02.mrc:57025904:1594

Shows 010$a of 67002735 , which the original edition also has: LC Control Number: 67002735

So that's w

[2019-08-16 02:29] hornc opened #2311 "Non-MARC import needs to handle subtitles correctly"
68% of seen BWB published in 2019 have subtitles denoted by colons in the title, currently subtitles are one of the areas not handled very well when it comes to identifying existing items.

MARC import has the facility to split out Title into title + subtitle.

Non-MARC import does not appear to do this. Recent example: https://openlibrary.org/books/OL27268600M/Whisper_Network_A_Novel  A Novel loo

[2019-08-16 02:30] hornc opened #2312 "Only add ASIN identifier if it is not the ISBN"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Proposal & Constraints

### Additional context

[2019-08-16 02:50] tapaswenipathak commented on #2268
Hey folks: I think I won't be adding a PR. Please feel free adding work and exploring. I will mostly be writing a blog post say. The discussion is over my head if I should create a PR. Thanks for the time and patience.

[2019-08-16 02:50] #2268 closed

[2019-08-16 05:41] cclauss commented on #2268
I look forward to reading your work.  I believe that there is a lot of opportunity for creating software that auto-fixes software.  I am always impressed with the way that [python-future](https://python-future.org/futurize.html) and [python-modernize](https://github.com/python-modernize/python-modernize) can successfully apply a large number of _fixers_ to a Python codebase.

[2019-08-16 16:54] jdlrobson commented on #2282
@hornc lemme know if there's anything left to do on this (Please reassign me if so) or if this can be closed!

[2019-08-16 18:03] jdlrobson opened #2314 "Remove unused libraries"
### Description
Follow up from #2282

The following libraries are not used and should be removed:

- [ ]  hoverIntent  - to be used a call to $.hoverIntent is needed - but this is only referenced in one place - scripts/2009/01/olpc/src/index.html which is never loaded.
- [ ] jquery-sparkline - to use a call to `$(selector).sparkline` is needed - but sparkline is not called anywhere in the codebase

[2019-08-16 18:13] jdlrobson opened #2315 "Don't load $.dataTable on all pages"
### Description
The dataTable library  that is currently pulled in for all users is only inside only one template - templates/type/work/editions_dataTable yet the CSS and JS is loaded for all pages that use it. We pull this off the critical path into a conditional loading module. This will reduce the initial JS we ship improving site performance  as well as isolate this code to only the pages that

[2019-08-16 18:13] jdlrobson commented on #1742
Closing this in favour of #2314 and  #2315

[2019-08-16 18:13] #1742 closed

[2019-08-16 19:10] jdlrobson commented on #2247
To achieve
https://openlibrary.org/books/OL22368042M/Employment_relations_in_industrial_society

This would be an exercise in breaking down the Book cover component:
https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library#book
static/css/components/book.less

and consolidating with the undocumented illustration component with:
static/css/components/illustration.less

I'd hope an

[2019-08-16 19:12] jdlrobson commented on #1003
How can we make progress on this?
Is there a tool we can build that will programatically check this?
I think cleaning up this would make a huge difference to the frontend modernization efforts but I am worrying this will stagnate without a plan.

Could we delete templates we think are unused, stress test dev.openlibrary.org and check the logs for example to identify any mistakes?

[2019-08-16 19:32] jdlrobson commented on #1123
The following would give us CSS files inside JS files. e.g. static/build/page-admin.js
It might be possible to use  https://github.com/webpack-contrib/mini-css-extract-plugin to pull out the CSS into separate files. Haven't explored that yet. Using one tool for asset generation seems a plus to me.

[code]

[2019-08-16 21:23] jdlrobson opened #2316 "/admin/imports fails to load locally"
### Description
Follow up on conversation between myself, @cdrini and @hornc
https://internetarchive.slack.com/archives/C0ETZV72L/p1565797192464100

When visiting http://localhost:8080/admin/imports I am unable to render the page.

debug=true shows the following stack trace:
[code]

Questions:
1) Does https://openlibrary.org/admin/imports work?
2) Is the page still relevant
3) How can we get the p

[2019-08-16 21:30] jdlrobson commented on #2316
Is it possible we just need to create a database table import_items ?

[2019-08-16 22:00] cdrini commented on #1003
I'm hoping continuing work on this spreadsheet would help; I don't think there's really an automatic way to do it :/ Note the sheet is outdated and needs some updating.

https://docs.google.com/spreadsheets/d/1pBB0MrcGamn8HqCdnkUd7Mj9VAaVQZ3JQj_osqf3QG0/edit#gid=0

[2019-08-17 17:19] jdlrobson opened #2317 "Remove unused plugins: copyright, scod, heartbeat, theme and mobile"
### Description
https://github.com/internetarchive/openlibrary/tree/master/openlibrary/plugins

While combing through the frontend I came across some plugins (and TEMPLATES) that do not seem to be enabled anywhere. Those are: copyright,heartbeat, scod, theme and mobile (there may be others but these ones i can confirm). I wasted a lot of time trying to cleanup the frontend in these files. I'd rath

[2019-08-17 17:50] cclauss commented on #2317
Highly supportive.  There are no bugs in code that does not exist.  ;-)

[2019-08-17 23:32] cdrini commented on #2308
The initial ticket was to decide whether we want to remove `simplejson` as a dependency. This one is to _actually_ remove it. The person who takes on this issue doesn't have to spend time reading the discussion in the previous issue, or doing research about whether to remove it; then can just start editing the code. I'm trying to make life easier for the people that come after us (which might also

[2019-08-17 23:38] cdrini commented on #1694
Can you expand on your previous comment, @tfmorris ? I don't think I know the feature you're referring to. What was it? Why might've it used GeoIP? When was it killed?

@jdlrobson Do you have any context on this? Asking cause I noticed you made this change a while back:
https://github.com/internetarchive/openlibrary/commit/2c9274d46e508ae4060fb9e9e28ecacc429556d4#diff-bee60bee0cf02815ad9385b15edc8

[2019-08-17 23:41] cdrini commented on #2312
I'm not sure of the context here, but I think it might better if the ASIN duplicates the ISBN. Otherwise the case where `asin=None` becomes ambiguous; does it mean the book doesn't have an ASIN? Or does it mean the ASIN is the ISBN?

[2019-08-18 06:43] cclauss commented on #2308
My approach would be to change the title but preserve the context.

[2019-08-18 10:40] tabshaikh commented on #2165
@mekarpeles After adding tracking on our button what would be the next step in this issue?

[2019-08-18 12:05] tapaswenipathak opened #2319 "Adding Contributor Covenant Code of Conduct"
### Is your feature request related to a problem? Please describe.

Suggestion.

### Describe the solution you'd like
Hey folks: can the project has https://github.com/internetarchive/iaux/blob/master/CODE_OF_CONDUCT.md added in the most contributed repository of internetarchive GitHub org?

### Proposal & Constraints
https://github.com/internetarchive/iaux/blob/master/CODE_OF_CONDUCT.md

### Addi

[2019-08-19 14:47] LeadSongDog commented on #2304
Looking closely at https://openlibrary.org/show-records/marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run02.mrc:57025904:1594
it appears than OL was the knock-on victim of an error (since corrected) in WorldCat

[2019-08-19 14:56] cdrini commented on #2308
The makes the context _required_ reading for a future dev. The context is still preserved, but now it's just optional.

[2019-08-19 15:12] LeadSongDog commented on #1904
Here's another instance:

https://openlibrary.org/books/OL26419305M/A_testament_of_revolution
duplicated an existing edition (and work) long present at:
https://openlibrary.org/books/OL8816701M/A_Testament_of_Revolution?v=6
then Clean Up Bot applied the same ocaid to the older edition record:
https://openlibrary.org/books/OL8816701M/A_Testament_of_Revolution?b=7&a=6&_compare=Compare&m=diff

[2019-08-19 15:16] tfmorris commented on #2304
Strong identifiers should carry a lot of weight, but they shouldn't outweigh everything else in scoring. Matching identifiers plus titles with no words in common is not a match.

Where in the code does this matching occur? Where in CleanUp bot is it called from?

[2019-08-19 15:21] tfmorris commented on #2308
I think we can move on. Hopefully you heard the message that both @cclauss and I disagree with this approach.

[2019-08-19 15:47] cdrini opened #2321 "Remove jquery.showPassword.js"
### Description
This exports the JQuery function `showPassword`, but searching the repo for `showPassword` shows that this is only used in `vendor/js/jquery-showpassword`, so it can be removed.

### Stakeholders
@jdlrobson

[2019-08-19 16:41] cdrini opened #2323 "Consistency: eslint quote-props as-needed"
### Description
Let's enforce `{x: 3}` over `{'x': 3}`.

1. Add eslint rule `quote-props = as-needed`
2. fix any offenders detected via npm run lint:js (or eslint openlibrary/plugins/openlibrary/js/ --fix)

See: https://eslint.org/docs/rules/quote-props

### Additional context
- Brought up in https://github.com/internetarchive/openlibrary/pull/2285/files#r313670981

### Stakeholders
@jdlrobson

[2019-08-19 16:47] jdlrobson commented on #2321
Agreed. Can't see any usages. Burn it! 💃

[2019-08-19 18:24] cdrini commented on #2319
Related resource: https://opensource.guide/code-of-conduct/

[2019-08-20 14:34] LeadSongDog commented on #2312
@cdrini
It's already ambiguous: asin=None could mean it has never been populated (so is undefined), or that amz never listed it (so it is nonexistent), or that there is an invalid ISBN that has promulgated (so it should not be used except to redirect). By far the most common situation is that an asin has been issued for a nonexistent book (usually based on prepublication data that did not pan out)

[2019-08-20 15:04] cdrini commented on #2312
Yes, that's true, good catch! I'm thinking `ASIN=1234; ISBN=1234` is unambiguous, and `ASIN=None; ISBN=1234` is. The latter has 2 possible states: 1) ASIN exists but we don't know what it is, 2) this book does not have an ASIN. The former has only 1: This is the ASIN and this is the ISBN.

So when it has the same value as the isbn, the useful information it adds is _guaranteeing_ the existence of

[2019-08-20 18:24] darkbluewalrus commented on #686
Hello! I would also like to join the slack channel and contribute @mekarpeles. Thanks!

[2019-08-20 18:36] LeadSongDog commented on #2312
I suppose there could be valid ISBNs for which no corresponding ASIN would exist: such might arise for competing retailers' private-label books. Similarly, valid ASINs exist for many books without ISBNs, particularly kindle ebooks and old (pre-ISBN) used books. Likewise, invalid ASINs exist, as do invalid ISBNs. However, so long as amz responds to queries on an ASIN we have no way of distinguishin

[2019-08-20 19:47] cdrini commented on #2312
Yep! :P Unfortunately I don't think there's a way around that when dealing with a private company's identifiers. :/

[2019-08-20 20:27] cdrini commented on #2319
Just a note; as we talked about in the call, this would require some work from the maintainers' side to make sure we have processes to enforce a Code of Conduct. @brad2014 Also said that it would need approval from Internet Archive's HR team. That being said, I think this is a terrific a great idea :)

[2019-08-20 21:15] brad2014 commented on #2319
Other resources: https://www.contributor-covenant.org/
A large list of projects and their coc's: https://opensourceconduct.com/projects.html
and on enforcement: https://medium.com/mozilla-open-innovation/how-were-making-code-of-conduct-enforcement-real-and-scaling-it-3e382cf94415

[2019-08-21 05:22] mekarpeles commented on #2194
This is merged -- the book sponsorship eligibility 3rd party library needs to be pip installed manually on the production servers.

It also still needs to be wired up from archive.org against `/sponsorship/eligibility/{isbn}` which is where this API now lives

cc: @tabshaikh

[2019-08-21 05:22] #2194 closed

[2019-08-21 06:55] seabelis opened #2329 "Allow Librarians to edit Internet Archive IDs"
### Description
Sometimes Internet Archive IDs are entered incorrectly. Some the Internet Archive IDs exist on multiple records. As of now, this can only be corrected by admins.

### Evidence / Screenshot (if possible)

### Relevant url?

### Expectation
Librarians should be able to remove IA IDs from OL records.

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system

[2019-08-21 06:57] seabelis commented on #2329
Related to https://github.com/internetarchive/openlibrary/issues/2233.
Possible conflict with https://github.com/internetarchive/openlibrary/issues/125?

[2019-08-21 07:05] tabshaikh commented on #2194
did you replace the parameter with / ?

[2019-08-21 08:22] seabelis commented on #2233
Not completely incorrect, but not correct either. The original record on open library is meant to represent the series of 9 volumes. The IA ID for one of the 9 volumes. A record for the one volume should be associated with the IA copy. https://openlibrary.org/books/OL18274985M/Gesammelte_Werke

This is a common issue. Volumes with individual ISBNs should have individual records as they are not equ

[2019-08-21 16:08] bnewbold commented on #853
For what it's worth, I just spoke with some editors at Wikimania (a Wikipedia/Wikimedia event) who are interested in contributing corrections to VIAF and Wikidata identifier linkages on Open Library.

[2019-08-21 16:49] LeadSongDog commented on #2233
@seabelis
I'm sure you are aware that this is a long-standing defect in the OL way of doing things. Here's a workaround. There should be no OCAID associated with the series ISBN. Rather we should show that series ISBN on an OL edition record, wherein the TOC had links to each of the nine single-volume OLIDs. Then the links from each of the IA scans could be direct to their specific volume's OLID e

[2019-08-21 18:22] mekarpeles opened #2330 "Correctly pluralize edition number on Works page"
### Description

On works page which only have 1 edition, the grammar is wrong and says, "1 editions" instead of 1 edition

### Evidence/Screenshot
![image](https://user-images.githubusercontent.com/6251786/63542240-ed5b7d00-c4ed-11e9-8f8a-742cfc3dd0ed.png)

### Relevant url?
All works, but e.g. https://openlibrary.org/works/OL8048917W/Adiamante

### Proposal & Constraints

See:
https://github.com

[2019-08-21 18:31] tfmorris commented on #853
@LeadSongDog That's a good goal, but not the focus of this ticket. Let's avoid scope creep.

This ticket is about an identifier edit interface for 3 new author identifiers: Wikidata, VIAF, & ISNI.

Other possible, related, future tickets include:
* enhancing the edit link functionality to recognize links which should be converted to identifiers
* a data cleanup task to convert all existing links w

[2019-08-21 18:40] tfmorris commented on #2330
Neither implementation will internationalize correctly.

p.s. I updated the original with permalinks so the code gets rendered in-line.

[2019-08-21 18:44] mekarpeles commented on #2330
Thanks @tfmorris, do you have a recommendation around internationalization? Does it need to be wrapped in `$_()`?

[2019-08-21 19:45] mekarpeles commented on #1592
I'm updating the title to generalize this ticket to adding a "Preview" feature.
We have millions of books which are also previewable through Archive.org which we don't surface to patrons on Open Library.

An idea Preview feature would provide as many integrated options as possible (especially where an Internet Archive copy is unavailable).

I'll create a branch to mock something up.

[2019-08-22 20:03] cdrini commented on #2316
@hornc could you add a picture of what this page looks like on prod?

[2019-08-23 01:47] hornc opened #2332 "Import quality books 2010 - present"
This is a graph showing how many editions by publication year are catalogued by Open Library from the July 2019 data dump.

![Graph of edition counts by publication year (at June 2019)](https://docs.google.com/spreadsheets/d/e/2PACX-1vRXTYkmE6wRV82Z-zJaCsPAJ91SBIEWOyCaPCK1U89c379_Ing4RReHsnTX_0JiShyDnySLgjd5ejKN/pubchart?oid=723822477&format=image)

There is a drop off in recent years. This epic i

[2019-08-23 01:50] hornc commented on #2204
closing in favour of #2332

[2019-08-23 01:50] #2204 closed

[2019-08-23 02:05] hornc commented on #977
Current [import APIs](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/importapi/code.py) use `catalog.add_book` https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/add_book/__init__.py

which checks whether an edition is already in the system, and will add it, and a Work and Author if they do not already exist.

Currently the UI add book us

[2019-08-23 02:19] hornc commented on #2247
@jdlrobson I'm pretty sure this is a regression, I'm not sure when it was introduced though.

[2019-08-23 02:28] hornc commented on #2316
@cdrini
![image](https://user-images.githubusercontent.com/905545/63562591-50164c80-c5b2-11e9-9fff-e61b5b21e2c4.png)

[2019-08-23 02:30] cdrini commented on #2316
Thanks! Added to the desc.

[2019-08-23 02:38] hornc opened #2333 "Ongoing process to identify recent good books for import"
As part of the epic #2332 , Investigate an ongoing source of current / modern / popular books to feed into the non-MARC modern book pipeline [`modern-import-bot`](https://github.com/internetarchive/openlibrary-bots/tree/master/modern-import-bot)

### Describe the solution you'd like

* An automated bot to identify suitable import candidates by ISBN on an ongoing basis
#### Outputs from this task:

[2019-08-23 02:54] cdrini commented on #2247
I think this was introduced when we switched to slick for our carousels.

[2019-08-23 03:05] hornc opened #2334 "Amazon API results give overspecific (made up) day and month for older books"
### Is your feature request related to a problem? Please describe.

Older books sourced from Amazon metadata may have over specific dates from earlier than a particular year.

Needs investigation, but Amazon sourced dates have a particular format, with day, month, year, Beyond a certain point, the API seems to use the current day and month because their record does not actually have one -- I'll ne

[2019-08-23 03:12] hornc commented on #2137
This seems to have been closed by mistake.
I recently noticed a `clonebook` endpoint in the code:

https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/code.py#L240

Perhaps this can be used for this feature -- needs investigation

[2019-08-23 05:01] hornc opened #2335 "Process non-MARC book titles"
### Is your feature request related to a problem? Please describe.

Example book title with Series and volume information in the title.
https://openlibrary.org/books/OL27276278M/Ill-considered_Expeditions_(Short_Sharp_Shocks)_(Volume_3)  imported by ImportBot by ISBN (non-MARC)

Import should strip and ideally put this metadata in appropriate fields

Related #2220

### Describe the solution you'd

[2019-08-23 06:00] tfmorris commented on #2332
Is the presumption that the BWB data meets the `quality books` metric, or is that still TBD?

[2019-08-23 06:02] tfmorris commented on #2247
I agree that it's a regression, but don't have any insight into what front-end change it's correlated with.

[2019-08-23 12:17] hornc commented on #2335
current code location where this might go: `clean_amazon_metadata_for_load()` in https://github.com/internetarchive/openlibrary/blob/fa95544d2ac7639ed8c8d6a397502523b050e887/openlibrary/core/vendors.py#L73

[2019-08-23 12:20] tapaswenipathak commented on #2319
Hi folks: How are things w/ the document? I would love reading the final document.

[2019-08-23 12:25] hornc commented on #2332
To be clarified, agreed upon, and documented. The current bar is pretty low according to https://openlibrary.org/books/add  I think we should be able to do a bit better for our automated imports, but there aren't any good guidelines written down anywhere to evaluate how the current import system is doing, or to give us something to aim towards.

[2019-08-23 12:39] hornc commented on #2335
looks like there is existing code that might handle some of these cases already: https://github.com/YBthebest/openlibrary/blob/73e10e2db9c962cd43f239855df0fb1bb45dbba3/openlibrary/catalog/merge/names.py#L63

[2019-08-23 23:57] jdlrobson opened #2340 "[GOAL] Reduce JavaScript loaded on critical path to approx 50kb. (from 110kb)"
### Description
A big chunk of our JavaScript payload deliver jQuery.UI (i'm talking about 50%). We should aim to remove this from our codebase. In the mean time, we will restrict it to pages it is being used.
These are where one of the following is called:

#### Tabs functionality
Used on http://localhost:8080/books/OL24755423M/Odyssey_book_iv, http://localhost:8080/authors/OL2622837A/Dr._Seuss
[

[2019-08-25 04:22] mekarpeles commented on #1592
![preview](https://user-images.githubusercontent.com/978325/63645534-37db2600-c6b5-11e9-824c-59ec1564b030.png)
![preview-modal](https://user-images.githubusercontent.com/978325/63645535-3873bc80-c6b5-11e9-9b3e-b66ca9f3b322.png)

[2019-08-26 23:28] hornc commented on #2334
Confirmed the issue -- for an Amazon API response for this book http://amazon.com/dp/B001PDNXXC

The direct API response has:
`<PublicationDate>1947</PublicationDate>`

and the converted JSON we use in our import is
`publish_date: "Aug 26, 1947"`

Current Open Library server date when I performed this lookup is Aug 26.

The source of this problem is in the simple Amazon API tool we use: https://gi

[2019-08-27 05:44] hornc commented on #2333
@rahul-kumi feel free to make a start on this, and ask if you have any questions!

[2019-08-27 14:25] Camillo-Pellizzari commented on #2248
Another case of failure: https://openlibrary.org/authors/merge?key=OL134502A&key=OL4675154A&key=OL6002146A

[2019-08-27 15:36] Camillo-Pellizzari commented on #2248
Another case: https://openlibrary.org/authors/merge?key=OL17370A&key=OL2677210A

[2019-08-28 01:12] tapaswenipathak commented on #2319
Hi folks: How are things w/ the document? I would love reading the final document?

[2019-08-28 07:15] seabelis opened #2346 "'No Ebook Available' confusing users"
### Is your feature request related to a problem? Please describe.
Some users are confused about the difference between an ebook on OL and an ebook format in general. I think the term ebook has been used on OL from the start to designate the items in the library, so I'm not sure changing this is the right action to take. I'm posting this to start a discussion on the topic.

### Describe the soluti

[2019-08-29 15:49] cdrini commented on #2247
I think your proposed fix sounds reasonable. Consolidate the templates and use the same logic as on the work's page (if it has a cover, display it; if it doesn't, display the title/author).

Note the wayback link shows the case from _broken_ image links; the discussion here is for when the book simply doesn't have an associated cover.

[2019-08-29 15:50] cdrini commented on #2247
(Note this is what I'm seeing on that wbm link:)
![image](https://user-images.githubusercontent.com/6251786/63955765-3e6df280-ca53-11e9-98a2-9d5488d1156c.png)

[2019-08-29 18:59] mekarpeles opened #2347 "Accounts made before Reading Log have issues w/ their profile pages"
### Description

https://openlibrary.org/people/breity?debug=true

We need to check that `settings` exist and default `settings.get('public_readlog', 'no')`
[code]

### Evidence / Screenshot (if possible)

### Relevant url?

### Expectation

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**

### Proposal & Constraints

### Stakeholders

[2019-08-29 21:11] ralvessa commented on #2059
I'd really like to be able to set the started and finished reading dates for books on my reading log.

[2019-08-29 21:28] tfmorris commented on #2059
@ralvessa We already had a "Add 'Finished-Reading' date" on the enhancement list, but I've extended it to include started reading as well. I suspect we might have this date stored internally, but we don't expose it. It also might be desirable to allow the user to set it independently from the implicit date of when it was added to the "Currently Reading" list.

[2019-08-30 07:57] seabelis opened #2352 "Reading Log: Dates started and finished"
### Is your feature request related to a problem? Please describe.
Received a user request to add dates started and finished to reading log.

### Describe the solution you'd like

### Proposal & Constraints
That a book can be read more than once should be taken into account.

### Additional context

[2019-08-30 07:59] seabelis commented on #2352
This is a duplicate.

[2019-08-30 07:59] #2352 closed

[2019-08-30 09:47] ralvessa commented on #2059
I agree that the user should be able to manually edit the started reading date regardless of whether it is set automatically or not. It could, however, default to the date the book is added to the 'Currently Reading' log.

[2019-08-31 17:49] tfmorris opened #2353 "Internationalization Requirements missing from Front End Guide"
### Description

Most recent additions to the Web UI are not internationalizable and, in addition to having hardcoded strings, also have I18N anti-patterns such as pluralization by appending an "s".

### Evidence / Screenshot (if possible)

Look at any HTML source module or any rendered page with a non-English language selected.

### Relevant url?

### Expectation
https://github.com/internetarchiv

[2019-09-03 13:37] cdrini commented on #2353
@tfmorris Do we have any existing docs on how to do i18n in the template files? i.e. the `$_()` and whatnot?

[2019-09-03 13:47] cdrini commented on #2132
@koderjoker If you're looking for an issue, this would be a good quick one :)

Turns out the email was about something else, but putting this to Priority: Normal because it's got a relatively easy fix and is kind of frustrating.

[2019-09-03 13:50] cdrini commented on #2319
Hey! This is still stationary; we've got a few other things on our plate right now before we work to set this up, but will get to it when we get the chance! Note this is more complicated than copying a file over; I think it's important to get this right:

— Ada Initiative

[2019-09-03 13:52] cdrini commented on #2286
This is outside my scope. I'll leave it to you @tfmorris or @hornc to organize this and #871 as you see most effective.

[2019-09-03 16:14] LeadSongDog commented on #2248
That example has a single work incorrectly attributed to the OL2677210A Carl Jung: "The Workbook" is a 3 volume commercial art directory, of which "Portfolio" is volume 2.  It's a good thing the author merge errored, though how that happened is (too) obscure.

[2019-09-03 23:56] bnewbold commented on #853
@tfmorris ah, interesting. The way I had envisioned "wikidata as central source of identifier truth" working was that openlibrary entities would have a wikidata QID tag, and then an openlibrary bot/script would use that to do lookups (by wikidata QID), fetch identifiers (and other metadata), then update openlibrary. In this case the onus would be on openlibrary to maintain mappings to wikidata. Bu

[2019-09-04 01:09] tapaswenipathak commented on #2319
On Tue, 3 Sep 2019, 19:21 Drini Cami, <notifications@github.com> wrote:

Hey! I agree. Feel free doing when time permits.

[2019-09-04 06:44] hornc commented on #2353
@tfmorris I just looked at openlibrary/templates/lib/nav_foot.html as part of #2354 , the href titles are wrapped in i18n replacement code, but the link text itself isn't, which seems odd. The messages.pot file hasn't been updated with the latest strings either. https://github.com/internetarchive/openlibrary/tree/master/openlibrary/i18n/messages.pot

I was tempted to make some improvements, but it

[2019-09-04 13:29] cdrini commented on #2353
@tfmorris I think basically just combine any pertinent info from these pages and add a section to the Front-end guide:
- http://webpy.org/cookbook/i18n_support_in_template_file
- https://github.com/internetarchive/openlibrary/tree/master/openlibrary/i18n#introduction (Thanks Charles!)

Note I don't think that's the place for e.g. ID generation/etc, but only for saying when/how to use `$_()`.

[2019-09-04 18:39] LeadSongDog commented on #927
@hornc
Here's another ugly one post author-merge:
https://openlibrary.org/search/authors?q=Neil+Gaiman&mode=everything
All the book counts shown are wrong.
Only the first one shown ( https://openlibrary.org/authors/OL53305A ) is reachable. It should show "302 books".
The other authors, if shown at all, should display "0 books".

[2019-09-05 07:43] seabelis commented on #1808
Related to https://github.com/internetarchive/openlibrary/issues/412

[2019-09-05 08:10] seabelis commented on #1808
Some relationships are simple, i.e. adaptations or books about another book (i.e. Cliff's notes). Collections and anthologies are more difficult. These books usually have vague titles, identical or similar titles as other collections, different titles between editions of identical collections. Any given book should be searchable by a given contained work, specific edition title, series title (i.e.

[2019-09-05 08:24] seabelis commented on #2227
The difference between translations and adaptations, in short, is essentially that a translator is usually trying to remain as true to the original as possible where as an adaptation has been changed according to the adapter's individual objective.

[2019-09-05 13:33] cdrini commented on #2227
I agree with that definition; I think it's a good compromise. I like to think of it as: reading an edition of a work should approximately imply you've read _all_ editions of that work. They might differ in language/paratexts, but they should be essentially the same. E.g. I want the Fr/En editions of _The Count of Monte Cristo_ to be one work, but I don't want the Great Illustrated Classics edition

[2019-09-05 13:40] seabelis commented on #2227
I think the original author should be credited at the work level rather than the edition level as the credit would apply to all editions, but does this risk improper merges?

[2019-09-05 13:42] cdrini commented on #2227
I'm not sure I follow; can you give a concrete example?

[2019-09-05 14:09] seabelis opened #2355 "Subtitle excluded from title search"
### Description
Searching for a work using only its subtitle produces no results.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/search?q=title%3A+%22Le+Grand+Livre+des+cr%C3%A9atures%22&mode=everything should include https://openlibrary.org/works/OL17605693W/Harry_Potter in results.
### Expectation

Sometimes the subtitle is the most important part of the titl

[2019-09-05 14:16] #2315 closed

[2019-09-05 17:21] seabelis commented on #2227
How likely is https://openlibrary.org/works/OL16042299W/Winnie-the-Pooh to be merged with https://openlibrary.org/works/OL476641W/Winnie-the-Pooh?

[2019-09-05 17:26] cdrini commented on #2227
I don't think they should be merged (the disney one looks like it's only one story); I do think it's likely someone will accidentally merge them because they have the same title, thought :/

[2019-09-05 17:28] seabelis commented on #2227
No, they are not the same. I mean how likely is a bot to come along and merge them?

[2019-09-05 17:29] seabelis commented on #2227
The Disney one is based on the film, so twice removed in a way.

[2019-09-05 17:30] cdrini commented on #2227
Oh, I don't think there are any bots currently merging works; @hornc ?

[2019-09-05 21:57] cdrini opened #2362 "Replace slick copy with npm version"
### Description
We're currently storing a copy of slick 1.6.0 in `vendor/js` folder. Let's replace it by adding it to package.json https://www.npmjs.com/package/slick-carousel/v/1.6.0

### Stakeholders
@jdlrobson

[2019-09-06 02:37] tfmorris commented on #2355
The five title related fields are:
* title
* subtitle
* alternative_title
* alternative_subtitle
* title_suggest (a copy of title with different indexing)

The first four should probably all be included in title searches.

[2019-09-06 02:39] jdlrobson commented on #2362
Cool you are right. I think I was looking at a different slick library on npm :) I think we should just go ahead and pull the npm one (but make sure we check the contents of it match the one we currently ship.

[2019-09-06 03:19] jdlrobson commented on #2247
While doing some code archaeology, I've found some dead (brittle) code that probably relates to this. I'll see if I can restore it at some point in the future. Seems if a cover was absent we'd hide the cover via JS and reveal a hidden blank cover element instead. Since we've moved to Slick none of these templates are active.

[code]

[code]

[2019-09-06 13:05] seabelis commented on #2355
The last three are not accessible via the form?

[2019-09-06 13:23] cdrini commented on #2355
The fields stored on solr are slightly different from the fields accessible from the form; the fields available from the form aren't publicly defined anywhere (I don't think).

[2019-09-06 13:29] tfmorris commented on #2355
There would still only be a single user visible form field for entry (ie "Title"), but internally it would search all four relevant fields for matches.

[2019-09-06 14:16] seabelis commented on #2355
So can each edition title be an alternative title at the work level?

[2019-09-06 14:17] seabelis commented on #2355
Or better yet [edition_title: edition_subtitle].

[2019-09-06 14:17] cdrini commented on #2355
I think that's what the field was created for, but whether it does that is an open question :P

[2019-09-06 14:18] seabelis commented on #2355
I think it doesn't since search by title only sees the work's title.

[2019-09-06 23:48] jdlrobson commented on #1003
Regarding an automatic method - I would suggest adding a counter, that keeps track of all templates being used. Enable that in production for a week, and delete any templates which had no hits.

[2019-09-07 02:05] #1592 closed

[2019-09-07 07:50] viragumathe5 commented on #2222
Can I work on this issue

[2019-09-07 08:18] tabshaikh commented on #2222
@cdrini could guide you for any help in the subtasks :)

[2019-09-07 20:09] viragumathe5 commented on #2222
So @cdrini can I collaborate with you ??

[2019-09-08 12:55] neilt opened #2369 "Downloaded Database Dump JSON data format conversion failures"
### Description
First, I am not sure this is the correct place to report this.  If not, please provide some guidance.

1. I downloaded the open library data full OL dump from the web page [https://openlibrary.org/developers/dumps](https://openlibrary.org/developers/dumps). Note this is NOT the complete dump.

2. Then I imported the data into a PostgreSQL database version 11.05. The JSON field was

[2019-09-08 18:19] jdlrobson opened #2370 "Review legacy-wmd.less"
### Description
legacy-wmd.less is loaded in legacy.less on all pages in the style tag at the top of the page, but it likely only ever used on  pages where you can edit this content. Much of it is can likely be loaded via JavaScript (buttons for example wmd-help-button are good candidates).

We should review this file, and pull out it's parts into a component associated with markdown textareas.

#

[2019-09-08 22:28] neilt commented on #2369
Here is an example:
[code]

[2019-09-08 22:32] hornc commented on #2334
ugh, github seems to have interpreted 'not fix #' as 'fix #'  This still needs to be done.

[2019-09-09 05:15] hornc commented on #2369
Hi @neilt , thanks for looking at our Open Library data and for reporting the problem you found. Especially for the examples!

Answering your specific questions from above:

A. This is not a known issue. Our JSON in those fields _should_ be valid standard JSON for all records. If it's not, we'll need to make changes!

B. This is the correct place to report issues with data and code. Github makes i

[2019-09-09 05:54] tfmorris commented on #2369
You don't say what dump you tried, but I've successfully loaded both the 2019-08-31 and 2019-007-31 dumps into PostgreSQL as JSONB. The only thing which needed to be filtered (on a very tiny fraction of records) is embedded NULs (ie \u0000).

[2019-09-09 13:36] cdrini commented on #2369
I've been able to successfully load the full dump for 2019-08-31 (i.e. https://openlibrary.org/data/ol_dump_latest.txt.gz ) into postgres as JSONB as well. Here's the code I used:

https://github.com/cdrini/openlibrary/blob/1401cc47c1e080ffd6047a9ef1e0a902b38af13a/scripts/solr_builder/psql-import-chunk.sh#L7-L11

and here's the table schema:

https://github.com/cdrini/openlibrary/blob/1401cc47c1e0

[2019-09-09 13:41] cdrini commented on #2370
Parts of that file look like they were copied from https://github.com/internetarchive/wmd/blob/55904c7aa0ec75981713ef0813e2c85530755574/wmd.css . It would be best to try to remove our copy of it and use that file directly.

[2019-09-09 13:49] cdrini commented on #2222
Hey @viragumathe5 ! Unfortunately this task is already underway (adding the WIP label!). There's already a pretty long backlog of related changes enqueued (#1843, #2246), so I can't think of a way to add you to this task :(

What type of things are you interested in? I'm sure we can find a good issue for you work on :)

[2019-09-09 14:36] viragumathe5 commented on #2222
No problem at all I just ask for the collaboration if required

I would like to contribute in any way like Documentation, CodeBase, etc
unable to do designing stuff :)
I feel lucky to work for Internet Archives
Thank You

[2019-09-09 14:55] cdrini opened #2373 "Manage Bookcovers popup gets cut off"
### Description
Select the book cover popup is cut off

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/64541518-fd49ce00-d2ef-11e9-81c4-c6f6ac45b6ce.png)

### Relevant url?
1. go to e.g. https://openlibrary.org/works/OL16313124W/Harry_Potter_and_the_Chamber_of_Secrets
2. Hover over the cover
3. click "Manage covers"

### Expectation
Should not be

[2019-09-09 16:06] LeadSongDog commented on #2373
This dialog has quite different behavior between FF and Chrome. Looking at the frame source,
Chrome sees the book carousel__item filled with medium-sized book-cover images in 100px fixed-width versions.  It shows three of up to 100 items in a single scrolling row.
FF sees portlets with small-sized book cover images in 60px fixed-height versions. It shows just 10 items in two rows (one of six items

[2019-09-09 16:17] cdrini commented on #2373
@LeadSongDog Can you provide a screenshot? I'm seeing the same on Chrome 76:
![image](https://user-images.githubusercontent.com/6251786/64547993-c5488800-d2fb-11e9-8749-284eafac03b8.png)

[2019-09-09 18:06] cdrini commented on #1995
Are there plugins we can use to make Less or webpack do this automatically?

[2019-09-09 18:08] cdrini commented on #1560
@tabshaikh I'm going to close this, since we now have an issue template, and #2319 is tracking adding a code of conduct.

[2019-09-09 18:08] #1560 closed

[2019-09-09 18:11] cdrini commented on #2222
If you'd like a small task, these would be good:
- https://github.com/internetarchive/openlibrary/issues/2330 (just have to edit a string)
- https://github.com/internetarchive/openlibrary/issues/2239 (edit our issue/pr templates)
- https://github.com/internetarchive/openlibrary/issues/2279 (small html change)

If you want something larger, this would be good:
- https://github.com/internetarchive/o

[2019-09-09 18:46] neilt commented on #2369
I originally tried to load directly into a PostgreSQL jsonb field and it failed. That is the reason I tried loading the json data into a text field.  I loaded the data using PgAdmin 4 import, but I am sure PgAdmin 4 did not use the options that were shown by cdrini above. I should have known better as I don't trust anything else PgAdmin 4 does.

I used the same table schema shown by cdrini above w

[2019-09-09 18:51] cdrini commented on #2369
😄

Let use know if it works :)

[2019-09-09 19:20] tfmorris commented on #2369
If you use `wget --trust-server-names` or equivalent, you'll get the actual filename that was downloaded, which is always useful information.

[2019-09-09 20:53] neilt commented on #2369
Well I downloaded [ol_dump_2019-08-31.txt.gz](ol_dump_2019-08-31.txt.gz) and it imported into a jsonb column just fine using `psql`.  Sorry for the noise.

Apparently the problem was PgAdmin 4 mangling the data.

For others, here is the macOS command used to import the data into Postgres. `sed` was a little different and there were more columns in the table, otherwise just as cdrini suggested.
[co

[2019-09-09 20:58] tfmorris commented on #2369
Glad you got it sorted out.

[2019-09-09 20:58] #2369 closed

[2019-09-09 20:58] neilt commented on #2369
No reason to keep this open now, so closing.

[2019-09-09 23:48] mekarpeles opened #2375 "Subject pages should behave like /search?"
This is related to and may be solved by #10760 and #10512

One of our patrons says:

I really enjoy poking around in subjects just to see what's available, and I've looked for some setting or link to allow me to browse in list form, but--am I just overlooking it somewhere?

In the future we'd like to use carousels for the subject home page (https://openlibrary.org/subjects) which currently could u

[2019-09-09 23:56] jdlrobson commented on #2160
Other interesting data point > #2375

[2019-09-09 23:57] cdrini commented on #2375
Give this to the person: https://openlibrary.org/search?q=subject%3ADiaries&mode=everything

[2019-09-09 23:58] cdrini commented on #2375
The search page also lets you filter/sort, which is nice :)

[2019-09-10 01:26] tfmorris commented on #2375
I agree that the carousel display paradigm is painful for this, but the search that feeds it is also broken / underperforming, which is what is causing the long delays that the user is seeing. In the example I just played with it took from 12 seconds for https://openlibrary.org/subjects/space_flight.json?limit=12&offset=12 to complete to a couple of seconds for most of the subsequent pages (which

[2019-09-10 15:40] LeadSongDog commented on #2312
I suppose we could start by ignoring ASINs that have nothing but the most basic information.  If a "currently unavailable" ASIN is not an ISBN and shows an author that cannot be matched elsewhere to the title, it is usually a bogus book, or at least the metadata is crap that we should not be propagating.  For instance, B009UDUY86 on the surface looks to be just another print-on-demand version of a

[2019-09-10 16:20] seabelis commented on #2227
Also relevant for imported records.

[2019-09-10 16:22] seabelis commented on #2375
Yes, please. The ability to filter on additional subjects within results would also be handy.

[2019-09-10 17:02] LeadSongDog commented on #2373
Sure. Below only have placeholder covers (the firewall here blocks archive.org).
All on Win7 Pro.
Chrome 76, zoomed 50%
![chrome76zoom50](https://user-images.githubusercontent.com/11435431/64630772-ccd36400-d3c3-11e9-8895-6b7f28510754.jpg)

Chrome 76, zoomed 33% (this is the one that shows the problem)
![chrome76zoom33](https://user-images.githubusercontent.com/11435431/64630796-d6f56280-d3c3-11e9

[2019-09-10 17:46] LeadSongDog commented on #2227
If those roles are removed from the dropdown, the balancing change could be to provide a way to link the derivative work or edition as *Based on* one (or more) work or edition identifier. This would be useful for linking workbooks to corresponding textbooks; translations, condensations, adaptations etc to originals; collections, compilations, and twofers to individual works; scans, ocrs, eprints a

[2019-09-10 20:56] #2334 closed

[2019-09-11 15:59] seabelis commented on #2227
Agreed. I have a larger issue regarding relationships. https://github.com/internetarchive/openlibrary/issues/1808

[2019-09-11 16:06] seabelis opened #2379 "Discussion: Questions of attribution"
### Description
How should works with uncertain authorship be entered? For example, the play Sir Thomas More. It has been attributed to a few different playwrights. VIAF has no author associated with it. https://viaf.org/viaf/188331879/#Sir_Thomas_More_(Drama)

### Proposal & Constraints
Should the author be "Unattributed", "Unknown", or perhaps all of the possible authors?

### Stakeholders

[2019-09-11 16:10] tfmorris commented on #2227
Enhancing the metadata model is a much bigger task than fine tuning the contributor roles. If we think pruning or editing the list of contributor roles will add significant value for our patrons, let's focus on what those edits should be. Otherwise, let's close this.

[2019-09-13 14:38] LeadSongDog commented on #2379
@seabelis
http://id.loc.gov/authorities/names/n50075223.html provides some hints.  Another option is simply to create an author record for "Author of [work]", then in the biography section, provide links to the academic bibliographic publications discussing attribution of [work].

[2019-09-13 22:34] tmcw opened #2380 "Visually improve 'last 28 days' charts"
### Is your feature request related to a problem? Please describe.

I'd like the charts for the 'last 28 days' metrics to be clean and crisp.

### Describe the solution you'd like

The current look is

![image](https://user-images.githubusercontent.com/32314/64898334-9c95fa80-d63b-11e9-8ad1-dfbc856183f0.png)

I don't propose any significant visual overhaul: only to

- [ ] Render the chart canvas e

[2019-09-14 00:21] BrittanyBunk opened #2382 "Don't show work description if edition description present"
### Is your feature request related to a problem? Please describe.
Only the edition's description should show up if it's different than the book's general description. Otherwise, it's too cluttered.

### Describe the solution you'd like
Don't show work description if edition description present

### Additional context
e.g. https://openlibrary.org/books/OL27305087M/Home. For this book (and I would

[2019-09-14 00:24] BrittanyBunk opened #2383 "Being able to add new types of contributors and have the list alphabetized"
There are so many types of contributors not on the list that should be there, but it's really hard to add in. It would be easier to add them from the drop-down menu. Also, it's so hard to find the title, so if it's alphabetized, it'd be much easier.

[2019-09-14 00:25] BrittanyBunk opened #2384 "Table-style for creating Table of Contents"
It's difficult to format the table of contents, so if people could just add a row or column that they need to and then fill in the cells, that would make it much easier to fill in and have it look nice.

[2019-09-14 00:26] BrittanyBunk opened #2385 "Have the full size of a cover's upload"
Right now, the book covers, when uploaded, shrink. However, if a bot upload's it from the INternet Archive's books, that doesn't happen. If when a person uploads a cover, it's the size that they upload it, then it'll be better.

[2019-09-14 01:36] BrittanyBunk opened #2386 "Automatically show changes made with edits"
Instead of editors manually adding it in. It's helpful in easy oversight and correcting mistakes,

[2019-09-14 01:39] BrittanyBunk opened #2387 "Bot suggestions"
From the Internet Archive:
- Table of Contents
- Description

From Book Finder (BF):
- If there's only an ISBN 10, add the ISBN 13 from BF and vice versa

[2019-09-14 01:43] BrittanyBunk opened #2388 "Open more opportunities to expand OL info"
Yes, there's the 'Internet Archive Wishlist', but there should be something better than that, where the website has a default that any book that has an expired copyright have a button on its page (where the 'no ebook available' button is now) to click to upload the book to the Internet Archive.

[2019-09-14 06:29] seabelis commented on #2382
Related to https://github.com/internetarchive/openlibrary/issues/2245 and https://github.com/internetarchive/openlibrary/issues/2241

[2019-09-14 06:31] seabelis commented on #2383
Related to https://github.com/internetarchive/openlibrary/issues/2241

[2019-09-14 06:35] seabelis commented on #2386
@BrittanyBunk Are you referring to the edit log?

[2019-09-14 13:01] BrittanyBunk opened #2390 "Show the size limit for cover image uploads"
It's 30 MB

[2019-09-14 13:05] BrittanyBunk commented on #2382
True, especially for the 2nd one. This is a little different though, where 2 book descriptions show up for an edition, when only one should. With book titles, the edition's one shows up only, so the same should happen for the descriptions too.

[2019-09-14 13:08] BrittanyBunk commented on #2383
this doesn't relate to editions. It's the list that editors choose the contributor's title for. It's a drop down menu. It's out of order and is possible to add more (like assistant designer, etc.), but it's a large hassle. Since people have to manually add them in, the list doesn't get alphabetized.

[2019-09-14 13:09] BrittanyBunk commented on #2386
yes

[2019-09-14 22:34] BrittanyBunk opened #2391 "Add a 'printed by' section under 'publisher'"
It's found in many books to be different than the publisher. Also, the location of where it's printed (as it's different from the publisher location) would help too.

[2019-09-15 14:23] seabelis commented on #2386
You can see the specific changes made if you look at the history and compare two versions. For example, https://openlibrary.org/works/OL929829W/Nathan_der_Weise?m=history. The edit log comment is if you want to explain your edit.

[2019-09-15 14:27] BrittanyBunk commented on #2386
Unfortunately some of them say 'edited without comment' and I bet my profile has a lot of that - because I don't add the changes I make. It would be nice to have the website track a person's changes, so they show up :)

[2019-09-15 15:25] seabelis commented on #2227
I think the list does need to be pruned a bit. There are also contributor roles in other languages, which should probably be handled differently as well. I will not be able to revisit this thoroughly until end of November.

[2019-09-15 15:56] seabelis commented on #2386
If you compare the latest version with the previous version, you can see exactly what was changed. The two latest are automatically selected, so you can click the compare button at the bottom to see the changes.

[2019-09-15 16:06] BrittanyBunk opened #2392 "Remove "When was it published?""
It's not in books and the copyright date (which is there) is sufficient enough.

[2019-09-15 16:19] BrittanyBunk opened #2393 "Editions show "No matching records found" after revisions"
One example is https://openlibrary.org/works/OL4467823W/The_Macmillan_College_Handbook. It has 2 editions, but they don't show up. This happens frequently when something didn't save fully for some reason.

[2019-09-15 16:25] BrittanyBunk opened #2394 "Add 'google books preview' link as part of the other links on the book page"
Under:
Buy this book
Amazon
Better World Books

place 'google books', so that people can preview the book there and possibly buy it. That way, if there's no ebook available, at least people may be able to still see a little of it.

[2019-09-15 16:30] #2392 closed

[2019-09-15 16:30] BrittanyBunk commented on #2392
Nevermind

[2019-09-15 17:04] #2394 closed

[2019-09-15 17:04] BrittanyBunk commented on #2394
the google identifier is sufficient

[2019-09-15 17:06] BrittanyBunk opened #2395 "Add a "Barnes and Noble" Identifier"
Barnes and Noble is a top seller and is surprising to not be one of the options to select to identify books

[2019-09-15 19:06] #2362 closed

[2019-09-15 20:15] jdlrobson opened #2396 "https://openlibrary.org/fullsearch errors with unable to render"
### Description
The page https://openlibrary.org/fullsearch is broken. I don't think it is linked to anywhere.
I see one reference in openlibrary/macros/Search.html but I don't think that macro is active either.

Can this code be deleted?

### Evidence / Screenshot (if possible)
https://openlibrary.org/fullsearch

### Relevant url?
https://openlibrary.org/fullsearch

### Expectation
iF it's suppos

[2019-09-15 20:45] #2393 closed

[2019-09-15 20:45] BrittanyBunk commented on #2393
appears but then disappears

[2019-09-15 20:46] BrittanyBunk commented on #2396
is it different than https://openlibrary.org/advancedsearch?

[2019-09-15 20:49] BrittanyBunk opened #2398 "Add 'how many books are currently in the Open library' as part of the 'Around the Library' stats"
It would be nice to see how many books exist in history, and this would be a great starting point. It would get updated, like how the other stats change too.

[2019-09-15 20:51] BrittanyBunk commented on #2333
I would use https://www.bookfinder.com/ to look at open library books that only have one isbn # and fill in the missing one (like add an isbn 13 to a book with only an isbn 10 and vice versa).

[2019-09-15 20:52] BrittanyBunk commented on #2170
I don't get this

[2019-09-16 14:45] LeadSongDog commented on #2241
How about "What copyright date is shown, if any?"

[2019-09-16 14:53] LeadSongDog commented on #2382
I agree that the work and edition information should be disentangled: it should be clear to the reader which each one is, and when editing one, the other should be grayed out.
I do not agree that only one should be shown. Editions records are often for translations or part-works. Both descriptions convey distinct, useful information to the reader. The problem we see is that all too often a work de

[2019-09-16 15:18] majkaz opened #2400 ""My loans" error when using Chrome or Edge"
### Description
When logged in, opening "My loans" from openlibrary.org results in error message if the browser is Chrome or Edge. Firefox displays the correct page.

### Evidence / Screenshot (if possible)
![2019-09-16_163940](https://user-images.githubusercontent.com/23097386/64969613-89399800-d8a4-11e9-8d20-14f652f291c1.png)

### Relevant url?
https://openlibrary.org/account/loans

### Expectat

[2019-09-16 15:26] BrittanyBunk opened #2401 "Add favorites as a tab to a user's profile in the Internet Archive"
### Is your feature request related to a problem? Please describe.
Instead of having to click on the profile name and going to the drop down menu to do so. Makes for easier switching between pages.

### Describe the solution you'd like
A tab on the profile page (e.g. https://archive.org/details/@{USERNAME} ) linking to favourites

![image](https://user-images.githubusercontent.com/6251786/65526353

[2019-09-16 15:38] BrittanyBunk commented on #2386
Very cool. It doesn't quite resolve everything, but is good to know. I'm not sure if this is also possible in a person's profile (where it's tricky to see exact changes).

[2019-09-16 15:43] BrittanyBunk commented on #2382
So here's an example: https://openlibrary.org/books/OL27305087M/Home. For this book (and I would add more edition-specific descriptions if they don't end up looking like this), one could see that the book's description pops up first. The issue is that it's not the description of the book, but another book. The edition's description should pop up first and be the only one there to prevent this conf

[2019-09-16 16:28] cdrini commented on #2384
Hey @BrittanyBunk ! Thanks for the feedback. Please do try to follow the issue templates; it saves a lot of back and forth and makes issues easier to read for the maintainers, since they all look consistent.

If I'm following correctly, you're suggesting that the editing user interface include an editable table format? Like having an "Add a row" button, which will have the necessary columns, and w

[2019-09-16 16:40] cdrini commented on #2385
Hey, could you give an example? Note that e.g. https://covers.openlibrary.org/b/id/8596368-L.jpg does not store the highest quality version; you have to remove the `-L`, e.g. https://covers.openlibrary.org/b/id/8596368.jpg

[2019-09-16 16:56] cdrini commented on #2380
:+1: This sounds good to me! I think rendering at 2x all the time is ok. The line should be easy to remove. @jdlrobson 's been working on a big refactor of this code in progress (#2360). @jdlrobson how hard do you think upscaling will be? Should this wait on that PR or can it go ahead?

[2019-09-16 16:58] cdrini commented on #2387
@hornc @mekarpeles Should we create issues for these on the bot repo, or is here ok?

[2019-09-16 17:43] jdlrobson commented on #2380
I think waiting on #2360 would be better.

[2019-09-16 17:55] jdlrobson commented on #2396
Yup. I don't know much about the history of this page. Maybe @hornc or @mekarpeles know..

[2019-09-16 17:59] cdrini commented on #2388
One project which is in progress is adding a "sponsor" button to such books. The user would donate a book's physical/scanning/etc price and then track its progress as it makes its way to available to borrow. Does this solve the problem?

[2019-09-16 18:03] seabelis commented on #1799
Reopening since two other users reported experiencing this yesterday.

[2019-09-16 18:29] cdrini commented on #2390
:+1: Sounds good to me; @mekarpeles is the max 30mb? Where is that defined?

[2019-09-16 18:39] cdrini commented on #2383
I think an autocompleting search box with the option to add a new item might be the best UX. I think adding a new option used to be possible, but was disabled at some point (for some reason).

[2019-09-16 18:40] cdrini commented on #2391
Could you provide a concrete example? I've always been confused by what exactly applied to what with respect to publisher/location/printer

[2019-09-16 18:47] cdrini commented on #2393
This is related to solr (our search engine) missing edits or just being generally slow to update :( There is work in progress on improving these.

[2019-09-16 18:51] cdrini commented on #2400
Thanks for the bug report, @majkaz ! Could you visit the page with the debug parameter? `https://openlibrary.org/account/loans?debug=true` ? Then save the page `ctrl+s` and upload it here. That would help a lot!

[2019-09-16 20:11] cdrini commented on #2401
Sorry, which list is this? Are you talking about the menu here (below)? Or is this a favorites list somewhere on archive.org?
![image](https://user-images.githubusercontent.com/6251786/64989881-8a66c700-d89c-11e9-9ad4-33545b3f8475.png)

[2019-09-16 20:13] cdrini commented on #2386
If I'm following, you want the edit comment (this thing; see below) to automatically come up with a comment based on what sort of edits the user made?
![image](https://user-images.githubusercontent.com/6251786/64990005-dade2480-d89c-11e9-8adb-1447402219fc.png)

[2019-09-16 20:31] cdrini commented on #2382
A quick note about the lingo we use here at openlibrary:
- **work** (e.g. https://openlibrary.org/works/OL8943958W/Home ) - Logs information that's relevant to _all_ editions. I like to say that if you've read an edition of a work, you've read _any_ edition of the work. It might be a different language or differ in introduction/small details like that, but they should be essentially interchangeabl

[2019-09-16 20:36] cdrini commented on #2396
I would say the html template and the corresponding python class (in search/code.py) should be deleted (if code is also unused).

These commits seem relevant:
- https://github.com/internetarchive/openlibrary/commit/8517e10dbb46fb0fb89d0e1c40e30177ea6fa41e - introduced the code
- https://github.com/internetarchive/openlibrary/commit/06b4df861f8c30c48db93093dbea8d56cbe3a84c - made mods to the python

[2019-09-16 20:37] cdrini commented on #2396
Whatever it was this was introduced for, this endpoint has effectively replaced it https://openlibrary.org/search/inside?q=a+rose+by+any+other+name&mode=everything

[2019-09-16 20:51] cdrini commented on #2144
I think `srcset` is a better solution because it loads them as necessary. E.g. if you _zoom in_ on a page, `srcset` allows for the image to be _automatically_ replaced with higher quality versions (even if you're not using a high-res display). That way we could have 3x, 4x, or even 5x images. It also means smaller files transferred to non high-res displays, which is nice. I think trying to make OL

[2019-09-16 20:58] cdrini commented on #2380
(If you're interested in other HTML/JS changes, these might be down your alley (in ~order of difficulty):
- #2373 : small fix to cutoff iframe
- #2132 : show visual indicator when changing cover
- #2144 : use `srcset` to avoid covers being blurry on highres displays )

I'll take a look at that PR shortly to help move it along as well :+1:

[2019-09-16 21:20] jdlrobson commented on #2144
+1 to srcset. Be careful not to ship too large an image however as retina displays will load 2 images for every image you give it.

[2019-09-16 21:24] cdrini commented on #2144
Oooh! I haven't heard of that. How can we avoid that?

[2019-09-17 00:30] cdrini commented on #2400
Actually, nevermind; that file might contain sensitive information about your account (e.g. IP address).

[2019-09-17 03:53] jdlrobson commented on #2144
I recall it's browser specific. I'm not sure if it's still a problem with modern browsers but I've encountered that problem before. Solutions might be as simple as making sure srcset attribute comes before src. Just something to look out for during code review.

[2019-09-17 07:51] majkaz commented on #2400
I have overwritten the IP addresses, these are probably of no real interest in the error log. The remaining info shouldn't be that sensitive besides what is already visible in the screenshots and links above...
[Debug, older Chrome portable](https://github.com/internetarchive/openlibrary/files/3619859/errorlog.zip)

[2019-09-17 11:13] seabelis commented on #2248
Cannot merge these:
https://openlibrary.org/authors/OL134502A/Gaius
https://openlibrary.org/authors/OL4675154A/Gaius

[2019-09-17 11:31] seabelis commented on #2391
Due to changes in the industry, older editions will frequently show a printer and not a publisher. In these cases the printer should be used for the publisher. Modern editions (from 19th century) that have a publisher will sometimes include printing information. So the significance varies by edition.

[2019-09-17 13:46] seabelis commented on #2391
Examples,
1. https://archive.org/stream/hamletprinceofde00shak_1?ref=ol#page/n6/mode/2up
2. https://archive.org/details/hamlet0000shak/page/n5

In the first example, the printer and printer's city are essential pieces of information. In the second, the publisher and city are more important than the fact that it was printed in Singapore.

If printer fields are added, would we want cases as in the f

[2019-09-17 14:04] LeadSongDog commented on #2248
@seabelis
Ouch! That's 59 work records and two author records for one multivolume work with various editions, commentaries, and translations.

[2019-09-17 15:44] LeadSongDog commented on #2387
Wherever the issue is done, the bot should also verify there's a real, published edition, not just a number. That means checking for availability in stores and/or libraries.

[2019-09-17 17:30] seabelis commented on #2248
Thanks for doing that. A user submitted this, so I did had not even noticed that about the works.

[2019-09-17 17:41] cdrini opened #2402 "Error when trying to upload a book cover"
### Description
A user reported an error when trying to upload a book cover. The displayed error is just the generic "error recorded" error.

### Evidence / Screenshot (if possible)
The direct error:
![image](https://user-images.githubusercontent.com/6251786/65065618-c3f90a00-d950-11e9-9878-46bcfb6833f5.png)

The closest error in "our" code
![image](https://user-images.githubusercontent.com/625178

[2019-09-17 17:56] seabelis commented on #2402
He said it happens with all editions he tries to edit. This is one he sent as an example. https://openlibrary.org/works/OL20071945W/Bletchley_Park_Souvenir_Guidebook

[2019-09-17 18:15] cdrini commented on #2402
Hmmm :/ Could you ask them for the image file he was trying to upload? Or if he was trying to upload a link; that way we can try to reproduce the error to see if its an error with the specific account, or with the file, or with something else.

[2019-09-17 18:42] seabelis commented on #2402
From the email: The Book Cover popup doesn't allow me to select an existing cover, so I have to upload covers twice, once for the edition and once for the work. I am using Firefox 68.0.1 (32-bit) on Windows 7.

[2019-09-17 22:20] tfmorris commented on #2248
I've merged the two Gaius author records together, but there's a third that should be merged as well, I think, but is erroring on the merge: https://openlibrary.org/authors/OL6002146A/Gaius

[2019-09-18 00:22] cdrini commented on #1808
Results of comm. discussion:
- @cdrini has concerns about our current redirect system; these should be investigated before moving forward. We want to make having properties whose values are Things as generic as possible.

[2019-09-18 00:42] #2321 closed

[2019-09-18 02:33] hornc opened #2404 "Exclude dvds from non MARC imports"
### Description

Part of #2220

A trial import picked up these items which are DVDs with isbns, and have junk author names. These should have been immediately discarded because of their `physical_format: "dvd"` data
The items _do_ have ISBNs, and appear under `product_group: "Book"`, but should be excluded.

Edition | Work | Author
-- | -- | --
OL27268594M | OL20088565W | OL7619837A
OL27268595M |

[2019-09-18 16:37] BrittanyBunk commented on #2387
I'm not sure that's possible for the bot to do. I mean, I bet the bot can do 90% of the groundwork and people can double check in stores/libraries for the other 10%

[2019-09-18 16:53] BrittanyBunk commented on #2391
Good questions. Here's my example in the Open Library: https://openlibrary.org/books/OL27305075M/All_of_Science. I had no place to put 'printed', so I just had to put it alongside the publisher. That creates confusion. The reasons I would say we would need to add the printer, in addition to the publisher is:
1. People could get confused when looking at the copyright section of a book as to who's t

[2019-09-18 16:57] BrittanyBunk commented on #2382
ok, but would we be able to make the change to where if the edition has a unique description, then just have that?

[2019-09-18 16:58] BrittanyBunk commented on #2386
yes

[2019-09-18 17:02] BrittanyBunk commented on #2401
Ok. Here's what I mean:
![Untitled](https://user-images.githubusercontent.com/55302685/65169451-65d53100-d9fb-11e9-8097-8c90159a0306.png)

[2019-09-18 17:03] BrittanyBunk commented on #2383
Great!

[2019-09-18 17:08] BrittanyBunk commented on #2388
I think that's a different issue. What I'm talking about is a section, similar to the ones on the Open Library home page that would show books that have 'no ebook available', but have expired copyrights and need a book. Now if that book's in the Internet Archive, it just needs to be linked and the book removed from the list. However, if it's not, then it's in the queue until it's scanned in.

[2019-09-18 17:08] BrittanyBunk commented on #2388
![Untitled](https://user-images.githubusercontent.com/55302685/65169817-396de480-d9fc-11e9-92d3-db1668692977.png)

[2019-09-18 17:10] BrittanyBunk commented on #2388
![Untitled](https://user-images.githubusercontent.com/55302685/65169849-4ab6f100-d9fc-11e9-9f5a-84a308787660.png) like this, but a carousel called 'books we need'. This doesn't need money, as people could scan for free.

What you may be talking about is if a book doesn't have an expired copyright, in which people donate the value of the book to an author and then when people borrow the book, the a

[2019-09-18 17:24] BrittanyBunk commented on #2384
Yes, like a spreadsheet. It's difficult right now, because the formatting goes awry when I try to follow the directions. Also, it's tricky to copy/paste and have it come out right if I need to add the | <- just a hassle. Also, after adding it all in, I find that there's extra |'s added, and some of the ones I add get removed. So it just doesn't work and I just abandon it.

[2019-09-18 17:26] seabelis commented on #2391
Turns out there is a printer in the contributors list, so in most cases it can go there.

In the case of printer only, I think it's appropriate to use the publisher's field.

Self-published books vary; sometimes it's just the author's name. If it has something listed at the bottom of the title page in the publisher area, you should use that. Sometimes the copyright page will say "published by" and

[2019-09-18 17:32] seabelis commented on #2387
Agreed with @LeadSongDog . We don't want to import phantom editions; same as has been discussed with Amazon imports.

[2019-09-18 17:34] BrittanyBunk commented on #2391
It's good that there's that option, but publisher is also there too, yet we have a separate box for that. So that's not quite a reason for me.

It's confusing, but it's not my call.

Ok, but it shouldn't be a requirement when adding a book if none are present in some books - especially if it's an edition - as it's likely to have the same publisher.

Some reprints are not another edition though, as

[2019-09-18 17:35] seabelis commented on #2382
I can make an argument for both cases. It's nice to have access to the information without opening a new page but it does get lengthy. Perhaps an expandable container?

[2019-09-18 17:38] BrittanyBunk commented on #2387
Idk what a phantom edition is.

[2019-09-18 17:40] BrittanyBunk commented on #2382
That was already suggested and yes, that would help. I just feel that having a 'book' description and an 'edition' description makes it confusing - like this edition has both descriptions in the book? <- is what a visitor's likely thinking - which isn't true. At the very least, could the positions of the 2 switch? Like the edition's description comes up first? That way, you don't need to make an e

[2019-09-18 17:44] cdrini commented on #2385
I tried downloading the cover from https://openlibrary.org/books/OL17047098M/Bel-ami and uploading it again, and it didn't shrink it.
To see the highest quality image stored, right click on the cover, and click "view image" or "Open image". For https://openlibrary.org/books/OL6061943M/The_Peabody_Sisters_of_Salem , that should open a page like this: https://covers.openlibrary.org/b/id/8784090-M.jp

[2019-09-18 17:50] BrittanyBunk commented on #2385
I was just thinking that as I read what you said. That's genius! Thanks. I'll close this now.

[2019-09-18 17:51] BrittanyBunk commented on #2385
It didn't work.

[2019-09-18 17:54] cdrini commented on #2385
What didn't work?

[2019-09-18 17:56] seabelis commented on #2386
An auto-generated list of fields modified would be fine, but the ability to comment should not be removed.

[2019-09-18 17:58] BrittanyBunk commented on #2386
I guess if the auto-generated list missing something, ok.

[2019-09-18 17:59] BrittanyBunk commented on #2385
I followed your steps on the https://openlibrary.org/books/OL6061943M/The_Peabody_Sisters_of_Salem. I'll try it again and see if it helps.

[2019-09-18 18:00] BrittanyBunk commented on #2385
Your link didn't work either. You could see the cover didn't change its size on that book.

[2019-09-18 21:17] LeadSongDog commented on #2248
Even after moving all the works from OL6002146A to OL134502A, https://openlibrary.org/authors/OL134502A/Gaius?merge=true&duplicates=OL6002146A still errors, and the redirect is not created. Bizarre....

[2019-09-18 21:23] LeadSongDog commented on #2404
I don`t think I've ever seen them, but theoretically an ebook or audiobook could be on a DVD or DVD-R medium as easily as on CD or CD-R.

[2019-09-18 21:37] LeadSongDog commented on #2387
@BrittanyBunk prospective publishers don't get individual ISBNs, they buy whole blocks of them (100, 1000, 10 000, etc.) from national registrars such as Bowker. Before they start to market a book they assign it an ISBN from their block. They'll at some point submit bibliographic data for cataloguing under that number and set a nominal publication date.  If for some reason the book never actually

[2019-09-19 12:55] seabelis commented on #2404
The only DVD items I've encountered so far have been movies. Perhaps a policy of don't import but allow users to add them would work here.

[2019-09-19 13:38] tfmorris commented on #2404
I think we've used the author name pattern to delete some of these in the past, so there may be some regexes lying around to help with the task.

Found the relevant issues: #152 #896

There are currently 16 "xxx ddwd 99999 xxx" authors (mostly from 2008): https://openlibrary.org/search/authors?q=ddwd

[2019-09-19 14:30] LeadSongDog commented on #2404
Here's a couple of examples:
https://www.worldcat.org/title/national-geographic-life-british-english-pre-intermediate-students-book/oclc/769545852
https://www.worldcat.org/search?q=9783803229427&qt=owc_search
I actuallly own a copy of the latter set.

[2019-09-19 17:09] seabelis commented on #2227
Publisher should probably go as well, unless there's a specific reason it's in the contributors list. Perhaps to list an actual person's name? This information is sometimes included on an edition, but infrequently. Having it listed in the dropdown menu may be confusing for some as there is a field specifically for the publisher.

[2019-09-20 14:46] BrittanyBunk commented on #2387
I get it now. I think it'll be ok to use bookfinder to find the missing complementary isbn for books that already exist on Open Library and then have it double check afterwards on the wikipedia site you brought up.

[2019-09-20 18:48] cdrini opened #2405 "Show star ratings in search results"
### Is your feature request related to a problem? Please describe.
We have ratings now; we should show them on the search results improve our SEO.

### Describe the solution you'd like
Ratings appear alongside openlibrary search results.

### Proposal & Constraints
Google has documentation about how to do stuff like this: https://developers.google.com/search/docs/data-types/review-snippet

### Add

[2019-09-22 00:18] ralvessa commented on #2059
We should also consider adding multiple pairs of started-finished dates, as users might re-read the same book. I've started looking into the codebase to see if I can help with this one.

[2019-09-22 02:47] hunterji commented on #2405
Google pulls these from schemas for each item defined by schema.org.  In GoodRead's case they are using [schema.org/Book](https://schema.org/Book) which makes sense.

How Google does what it does is a black box, but it looks like they want you to pull reviews from your own site (as opposed to an external site). You can't guarantee yourself the stars, but if you put in the schema it should take a w

[2019-09-22 14:59] Camillo-Pellizzari commented on #2248
Cannot merge https://openlibrary.org/authors/OL735423A/Michel_Jean_Sedaine with https://openlibrary.org/authors/OL6011794A/Sedaine

[2019-09-23 02:03] BrittanyBunk opened #2406 "Show when a book's restricted in the 'no ebook available' area"
The reason is that people don't go searching for the book when it's not there and also people don't upload the book when they shouldn't.

[2019-09-23 18:27] cclauss commented on #890
Updated our task list above to celebrate 100 days until Python 2 end of life.

[2019-09-24 15:28] cdrini commented on #2405
Here's google's documentation: https://developers.google.com/search/docs/data-types/review-snippet ( added to issue ). The displayed rating on e.g. https://openlibrary.org/books/OL383855M/Harry_Potter_and_the_Chamber_of_Secrets is the average of all ratings; we don't have a feature to display individual reviews.

[2019-09-24 15:30] cdrini commented on #2401
Ohhh, I understand now; thanks for the clarification!

[2019-09-24 16:35] cdrini commented on #2401
(Issue opened on the Archive.org team's JIRA (private) https://webarchive.jira.com/browse/WEBDEV-2673 )

[2019-09-24 18:52] BrittanyBunk commented on #2401
@cdrini thanks. I think it'll really help

[2019-09-24 18:54] BrittanyBunk opened #2409 "Somehow connect what comes with a book to the book"
If a book has a DVD or some other component that comes with a book, idk how, but maybe it could be uploaded alongside the book and connected to it?

[2019-09-24 23:49] hornc commented on #2395
Do have an example Barnes and Noble id, or information about their ids? From a quick glance it looks like they use ISBNs to identify a specific product (hardcover / softcover books) example: https://www.barnesandnoble.com/w/?ean=9780143110439

[2019-09-25 04:41] hornc opened #2410 "Inconsistent title processing by `catalog.merge.merge_marc.build_titles()`"
`openlibrary.catalog.merge.merge_marc.build_titles()` inconsistent results:

The final period reduces the number of results and combinations. Expected result: the period should be stripped, and the title combinations should be effectively the same for matching purposes.

Also, the duplicate titles in B (version without final period) should be removed.

[code]

[2019-09-25 19:13] mekarpeles opened #2411 "Hacktoberfest 2019 Planning"
Hacktoberfest Project Board
https://github.com/internetarchive/openlibrary/projects/18

- [x] Tag all `first good issues` issues with `Hacktoberfest` label https://github.com/internetarchive/openlibrary/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22
- [x] Write a small blog post describing where to find issues, what Hacktoberfest is, and where to register
- [x] Tweet out blog post
-

[2019-09-25 20:21] mekarpeles opened #2412 "Setup Continuous Book Import Cron"
Related to #2333  and #2034 -- setup/integrate Cron on `ol-home` to pull new records from Better World Books (low volume, until other import issues have been resolved)

[2019-09-25 21:23] hornc commented on #2412
Now running on `ol-home`, using https://github.com/internetarchive/openlibrary-bots/tree/master/modern-import-bot  first fully automated results ran early this morning, logged results:

[code]

It is looking for 3 (currently random, via their API) 'new' books by ISBN, and trying an import, and logging the outcome to file.

 In future I will change it to make some effort to exclude titles we alread

[2019-09-25 21:23] #2412 closed

[2019-09-25 21:29] hornc opened #2413 "When a new book is imported and we find an existing match, covers should be added if not already present"
### Is your feature request related to a problem? Please describe.

Example of a recent new-book import that found a match (created from a MARC record)
https://openlibrary.org/books/OL25308832M/Number_the_stars

https://dev.openlibrary.org/books/OL27179699M/Red_notice

imported again by the cron task at #2412
`9780547577098: FOUND AS https://dev.openlibrary.org/books/OL25308832M/Number_th`

### De

[2019-09-26 16:47] BrittanyBunk opened #2414 "Better filtering capabilities for Internet Archive books in Open Library"
Right now, it's not possible to sort by newspaper or magazine. One day, far into the future, I would love to see these 3 categories to choose from: books, newspaper, and magazine. With the newspaper category, it could be further sorted by publisher and year. Maybe it could even be called periodicals. Same goes for magazines. It's easier to go through them that way. It's good that books are sorted

[2019-09-27 06:50] hornc commented on #2311
complex parens not handled 100%: https://dev.openlibrary.org/books/OL27322545M/Last_Days_at_Hot_Slit

[2019-09-27 13:54] cdrini commented on #2311
Hmmm, I'm not sure we should be stripping out the parens. It might contain useful information. I think I'd rather editors decide what to do with it.

Otherwise, this regex should do the trick: `replace('\(.*\)', '')` https://regexr.com/4lqvm

[2019-09-27 14:22] LeadSongDog commented on #2413
There's a more basic problem. That edition was not matched to https://openlibrary.org/works/OL1846157W
so instead a new work record was created at
https://openlibrary.org/works/OL16628422W/Number_the_stars

https://openlibrary.org/books/OL25308832M.json looked like this:
`{"lc_classifications": ["PZ7.L9673 Nu 2011"], "latest_revision": 2, "source_records": ["marc:marc_loc_updates/v40.i19.records.u

[2019-09-27 15:52] cclauss commented on #2293
@cdrini Could you please go at this again?  We could really use this now.

[2019-09-27 19:11] cdrini commented on #2293
@cclauss Could you summarize the next steps on this? (Note our docker is using xenial, not bionic)

[2019-09-27 19:23] cdrini opened #2417 "Remove databari18n.html"
This doesn't look like it's used; let's remove it and any corresponding CSS.

## Stakeholders
@jdlrobson

[2019-09-27 19:41] BrittanyBunk opened #2418 "Let authors have a separate category for editions"
Right now, authors have to be the same for all editions, but authors vary by edition. Having this extra category would help

[2019-09-27 19:45] cclauss commented on #2293
I believe that your original problem description at the top of this issue is still the case.  Which distro is not super important for this issue.  What is important is that a contributor can try to run OL on Py3 on their local machine.

[2019-09-27 20:17] jdlrobson opened #2419 "Remove `focusin` and `focusout` polyfill from vendor/ jquery-validate"
### Description
Inside vendor/js/jquery-validate/jquery.validate.js is some code  that "provides cross-browser focusin and focusout events"

Support for these events is pretty good now, so this code is no longer necessary

### Evidence / Screenshot (if possible)
https://developer.mozilla.org/en-US/docs/Web/API/Element/focusin_event

### Expectation
- Everything continues to work the same as before

[2019-09-27 20:46] cdrini commented on #2400
Ah, this seems to _specifically_ happen when you have 1 item in your waiting list, and are looking at the site in Czech :/ Opening a new issue accordingly.

[2019-09-27 20:51] cdrini opened #2420 "My Loans page errors when 1 book in waiting list, and UI in Czech"
### Description
As @tfmorris notes, it looks like the Czech translation is missing `%d`. Just need to edit the translation file to fix it ( https://github.com/internetarchive/openlibrary/blob/7b04f8d9f765f048c384121d48fa6f520fa7254e/openlibrary/i18n/cs/messages.po#L298 )
Error: "Not all arguments converted during string formatting" . This might occur for other languages as well?

### Evidence / Sc

[2019-09-27 20:52] cdrini commented on #2420
@tfmorris Any ideas what might be causing this?

[2019-09-27 20:52] cdrini commented on #2400
Created a new issue now that we know what's causing it; monitor it here: https://github.com/internetarchive/openlibrary/issues/2420

[2019-09-27 20:52] #2400 closed

[2019-09-27 22:07] hornc commented on #2311
@cdrini if you look at the notes field of that example you'll see I am adding the full original title in the edition notes field for that purpose.

From these sources, the parens are generally not part of the title, so keeping them there breaks any title matching. I'm trying to clean titles, but retain 'other' info in notes.

From what I've seen the parens text is usually a series name, and / or v

[2019-09-27 22:12] hornc commented on #2311
Checking your regex, I was deliberatly trying to make sure I removed every group in parens, but didn't strip text between. I have seen titles with sequential parens, but I don't recall one that did have title text between them. I'll see if I can find examples.

I think I'd prefer a regex that can cleanly remove nested parens, but that may be overkill.

[2019-09-27 22:39] mekarpeles opened #2422 "Create canonical method to get ASIN from Edition model"
_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/pull/2367/review_comment/create_

[2019-09-28 01:03] jdlrobson commented on #2417
Eek another!

[2019-09-28 01:29] tfmorris commented on #2420
Doesn't happen for French (see screenshot below). This is a symptom of translated text which doesn't have a placeholder for a replacement values. I don't read check, but `kniha` appears to be `book` in Czech. The translated text should probably be something like `%d kniha` which would then get expanded to `1 kniha` and similarly for the plural version.

Without looking into it in detail, it is pos

[2019-09-28 01:33] tfmorris commented on #2400
This appears to be a duplicate of #2420. Isn't standard practice to keep the earliest of a set of duplicates rather than the latest?

[2019-09-28 01:40] tfmorris commented on #2311
The Amazon [page](https://www.amazon.com/gp/product/1635900808) explicitly lists the series for the first book as the string in the (outer) parens, so we definitely want to strip that (and most/all other parenthetical expressions in a title).

[2019-09-28 17:40] Camillo-Pellizzari opened #2426 "Make VIAF and Wikidata IDs on author pages editable"
### Is your feature request related to a problem? Please describe.
On author pages VIAF and Wikidata IDs aren't editable

### Describe the solution you'd like
It should be possible for users, or at least for librarians, to edit VIAF and Wikidata IDs on author pages

### Proposal & Constraints

### Additional context
Additional suggestion: maybe, if VIAF is absent, OL could try reading it from Wiki

[2019-09-28 23:30] #2323 closed

[2019-09-29 03:40] BrittanyBunk opened #2429 "Just like how the Open Library links to the Internet Archive book, the reverse should exist"
When viewing a book in the Internet Archive, it would help to have a link saying 'see details in the Open Library' or something. That will help to know which books are not linked to the Open Library when they should.

[2019-09-29 04:01] BrittanyBunk opened #2430 "Show the language availability of a book when clicked on or have a translator"
If a book's written in multiple languages, when a person clicks on a book to read, a place that shows 'other translations' with other languages to bring a reader to a language translation they would like to read it in would help. Another idea is just to have a book, but to make it readable in any language. Like people could click a language at the top and the book converts to a translated version.

[2019-09-29 16:24] tfmorris commented on #2429
These links exists. See Openlibrary_edition and Openlibrary_work on  https://archive.org/details/cuairtoilthirich00buny for example.

There use to be a more obvious "This work has an editable catalog page at OpenLibrary" or something similar. I'm not sure whether it was removed from all pages or just missing from this page.

[2019-09-29 16:26] tfmorris commented on #2430
We don't have good metadata about translations, but we do have the language of each edition (mostly), so we could provide a facet/ which selected one or more languages to filter the editions by.

[2019-09-29 16:29] tfmorris commented on #2418
Editions have the ability to add various types of contributors including translators, illustrators, foreword authors, etc. The core author(s) of a work shouldn't change between editions.

[2019-09-29 16:58] aalmazan commented on #608
Is this still something that can be worked on? Mind if I take a crack at it?

[2019-09-29 17:38] seabelis commented on #2418
There are some exceptions, usually serials such as travel guides, where the main author does sometimes change across editions. I have so far handled this by treating it as a new work once the main author changes.

[2019-09-29 17:43] seabelis commented on #2311
I'm not sure about bwb, but there's a lot of title stuffing on amazon. Would prefer to strip it out, at least from their data, if possible. Proper subtitles are usually included after a colon.

[2019-09-29 21:21] BrittanyBunk commented on #2429
@tfmorris you're right, it is there, but I wouldn't notice unless I asked. It really would be nice under the title or something to put it back to the way it was before.

[2019-09-29 21:23] BrittanyBunk commented on #2430
It's too bad. Maybe there's a way to put it through Google Translations or have that overlayed on the Archive site one day.

[2019-09-29 21:24] BrittanyBunk commented on #2418
I've edited many books that have different authors per edition. I would say this is a necessity.

[2019-09-29 22:38] hornc commented on #2426
This is a dupe of #853 which has some technical details of how the ids are stored.

[2019-09-29 23:07] hornc opened #2434 "Non-MARC import not finding work matches"
### Description

From various small sample runs, not a single import item found an existing work match. Here are two examples that should have, but didn't:

Amazon Link | Edit Link | Edit ID | OLM | OLW |   | 1 | Dupe? |   |   | Title | Author |   | Notes | Question?
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
https://amazon.com/dp/125007181X | https://openlibrary.org/

[2019-09-29 23:25] hornc commented on #2434
From looking at the code so far it seems that unfortunately MARC imports may not be handled properly in all cases too, although I have seen MARC imports find work matches at least sometime. The Non-MARC imports seem to miss them every time.

[2019-09-29 23:49] hornc opened #2435 "When importing records, look up required ISO_639-3 code by language name"
### Is your feature request related to a problem? Please describe.

In https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/add_book/load_book.py
`build_query(rec)`

languages are expected to be the 3 letter codes ISO_639-3_language_codes
There should be a facility to look up the the code by using language name by querying https://openlibrary.org/languages to get the code

[2019-09-30 01:27] hornc opened #2436 "Test infobase query for works by author"
Confirm this query does the right thing:

https://github.com/internetarchive/openlibrary/blob/f30611af14d5acc48e19cb216bbfafac37ec4ce4/openlibrary/catalog/add_book/__init__.py#L134-L138

where `a['key']` is an author key like `/authors/OL29493A`

[2019-09-30 01:42] hornc commented on #2436
It looks like it should be queried like this:

https://github.com/internetarchive/openlibrary/blob/cf14f6a0cdf1623b9bf6bd7d07b43cf01191e8e1/openlibrary/catalog/works/find_works.py#L262-L268

[2019-09-30 02:08] hornc commented on #2436
and similarly here:
https://github.com/internetarchive/openlibrary/blob/dabd7b8c0c42e3ac2700779da9f303a6344073f6/openlibrary/plugins/openlibrary/api.py#L228

[2019-09-30 05:40] hornc commented on #2436
relates to #2434

[2019-09-30 06:15] hornc commented on #2434
Another example that seems to have failed to find a match even after the fixes in #2437

https://dev.openlibrary.org/works/OL20146009W/Bloody_Times  was added

but did not find a match with the existing: https://dev.openlibrary.org/works/OL15598198W/Bloody_Times

Is it subtitles not being handled correctly at this work check point?

[2019-09-30 06:45] hornc commented on #2434
This also failed to find a match, but presumably on failing to establish an author -- this should be a separate issue.

https://dev.openlibrary.org/books/OL27325720M/Krazy

https://dev.openlibrary.org/works/OL20045828W/Krazy

[2019-09-30 06:54] hornc commented on #2434
Yay, at least one success:  https://dev.openlibrary.org/books/OL27325722M/Speak_No_Evil

imported as non MARC -- clearly found an existing work: https://dev.openlibrary.org/works/OL19742343W/Speak_no_evil
for this import.

Unfortunately there are already dupes of that work, imported recently, but because this import match above shows works are matched, at least in some cases. I still can't find a

[2019-09-30 07:00] hornc opened #2438 "Not all non-MARC import items have covers"
### Is your feature request related to a problem? Please describe.

e.g. https://dev.openlibrary.org/books/OL27325724M/Unti_on_Broderick_Murder_Case

https://www.betterworldbooks.com/product/detail/Unti-on-Broderick-Murder-Case-9780061432613

suggest not importing these until we can get a better source of metadata.

### Describe the solution you'd like

### Proposal & Constraints

### Additional c

[2019-09-30 07:04] hornc commented on #2434
Another successful work match import: https://dev.openlibrary.org/books/OL27325726M/Nelson_Mandela

[2019-09-30 07:12] hornc commented on #2434
One that failed to match:
new https://dev.openlibrary.org/books/OL27325731M/Stray_City
existing https://dev.openlibrary.org/works/OL19351488W/Stray_City_A_Novel

Looks like this is because the existing did not have subtitle pre-separated.

[2019-09-30 13:53] #2426 closed

[2019-09-30 14:11] tfmorris commented on #2438
I'm not sure whether just a missing cover should be enough, but this also has no author, and doesn't exist in WorldCat or Library.lnk. We should definitely have a minimum quantity/quality of metadata to bother importing something. I don't think a UPC code and a title meets that minimum.

[2019-09-30 14:43] cdrini commented on #2380
#2360 has been merged :+1:

[2019-09-30 15:07] cdrini commented on #2311
That's actually not possible with most implementations of regex. (See http://rachbelaid.com/recursive-regular-experession/ ). I'd be content with removing parenthetical information _if it's at the end of the title (or subtitle)_.

[2019-09-30 15:22] cdrini commented on #2400
All the information on this issue was useful for me finding out what the true cause of the bug was. But this information is no longer useful, so there's no point in keeping it around.

[2019-09-30 15:30] cdrini commented on #2402
I'm having trouble reproducing this

[2019-09-30 15:32] cdrini commented on #2417
(this one also has a good chunk of dead css that will go with it! 😍 )

[2019-09-30 15:51] cdrini opened #2439 "Refactor `get_isbn` methods"
There are likely many ways that an isbn is taken from an `Edition`. There is a method, `Edition:get_identifiers` which looks like it's meant to handle this, but it doesn't appear to do any isbn cleanup or isbn13 to isbn10 transformation. The method seems a little convoluted to me (and it's only used in one other file). It might be best to remove it.

### Summary of requirements
- [ ] Method on `Ed

[2019-09-30 15:55] cdrini commented on #2422
Closing in favor of #2439

[2019-09-30 15:55] #2422 closed

[2019-09-30 16:38] cdrini commented on #2435
Oh! I just had to do a bunch of language code nonsense for bookreader :P https://github.com/internetarchive/bookreader/pull/150

I think it needs to be in ISO 639-2/B (see https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes ). Proof: https://openlibrary.org/languages/fre ; the ISO 639-3 would be `fra`). Although looking at the list of MARC languages you posted, it looks like they follow their ow

[2019-09-30 17:03] tfmorris commented on #2311
I don't think we need any fancy recursion - just removing everything between the first left paren and the last right paren should be fine.

[2019-09-30 21:36] tfmorris commented on #2435
MARC languages are definitely different. They are defined here: https://www.loc.gov/marc/languages/

Regarding the relationship between the two, they say:

[2019-09-30 21:48] tfmorris commented on #2380
You'll need to force refresh your browser to get these graphs to render again after the new code update.

[2019-10-01 02:21] hornc commented on #2311
I've looked for some pathological examples and come up with these:

* Secrets of Adobe(r) Acrobat(r) 7. 150 Best Practices and Tips (Russian Edition)
* "The Aeneid Of Virgil, Translated Into English Verse: By J(ohn) M(yers) King. In 2 Vol; Volume 1"
* Sophronime (- (quatre) Dialogue(s) Par Fénelon)... (French Edition)
* M(y) R(easons) E(xplanations): Crash Course in Contemporary Sociology: An Urba

[2019-10-01 13:45] cdrini commented on #2418
@BrittanyBunk Can you provide some specific examples? That makes it easier for us to understand the use case.

[2019-10-01 13:48] cdrini commented on #2429
The see also section might be a good spot:
![image](https://user-images.githubusercontent.com/6251786/65967992-8b692e00-e430-11e9-8087-a784e3b95679.png)

[2019-10-01 19:52] BrittanyBunk commented on #2418
I don't think I can, as when I put them in, I didn't add separate authors, but added all the authors to the top when they didn't belong. I didn't check, but it might be in some of these links: https://openlibrary.org/books/OL27323726M/untitled , https://openlibrary.org/books/OL27305075M/All_of_Science, https://openlibrary.org/books/OL27305128M/Home, https://openlibrary.org/works/OL18161339W/Gardne

[2019-10-01 19:53] BrittanyBunk commented on #2429
@cdrini that seems a little hidden, but I believe we'll find a good spot

[2019-10-01 21:36] tfmorris opened #2443 "Subject search doesn't return JSON"
### Description

Currently there's no way to get subject search to return JSON.

While https://openlibrary.org/search/authors.json?q=teen
correctly returns results in JSON format,
the corresponding subjects search https://openlibrary.org/search/subjects.json?q=teen
always returns HTML.

### Expectation
Subject search should return JSON the same as all the other search endpoints.

[2019-10-01 21:50] tfmorris commented on #2418
OK, let me modify my statement

to say that the authors rarely change between editions. Text books, travel guides, year books, etc which get revised on a regular basis are an exception to that rule.

Our metadata scheme actually does support per-edition authors, but the editing capability is hidden because of the discrepancies it introduces when the editions and works drift unintentionally (e.g. a

[2019-10-01 23:20] #2311 closed

[2019-10-01 23:40] hornc opened #2444 "Get non-author contributors from amazon API"
### Is your feature request related to a problem? Please describe.

Test import https://dev.openlibrary.org/books/OL27326660M  missed the 'author' field as it is listed as a contributor `editor` on the source record.

The prices response excludes the other contributor info:
https://dev.openlibrary.org/prices?asin=0708322298
The data appears to be available from the api, we are just not asking for

[2019-10-02 00:18] hornc commented on #2444
Another example with 2 editors: https://dev.openlibrary.org/books/OL27326668M/Bellamy_Child

[2019-10-02 01:00] hornc opened #2445 "Unable to add recently created author to existing record"
### Description

I was trying to add an recently imported author https://openlibrary.org/authors/OL7631871A/Snorri_Bros.

to an existing work + edition which had no author:
https://openlibrary.org/works/OL16460446W/Barflies

And even though I pasted the author id OL7631871A into the author field, it didn't find the author (I'm guessing because it was not yet indexed in solr), but when I clicked sa

[2019-10-02 01:28] tfmorris commented on #2445
The no-change edit on author error has been reported before, relatively recently.

I agree that OL IDs should be detected and handled directly with a regex (optionally a full OL URL too), but that won't help users entering multiple books for a new author (which is how we get lots of duplicate authors). Indexing needs to be [near real-time](https://lucene.apache.org/solr/guide/6_6/near-real-time-se

[2019-10-02 01:32] tfmorris commented on #2445
#2128 was the issue I was thinking of, but it's not exactly the same -- just another way that an author-less work can be created.

[2019-10-02 03:34] #947 closed

[2019-10-02 03:34] #1621 closed

[2019-10-02 03:34] #2434 closed

[2019-10-02 03:34] #2436 closed

[2019-10-02 05:03] hornc commented on #2438
Agreed. Missing covers seem to be an indicator that the other metadata is less good also, so I was thinking of using it as a heuristic. No author with minimal other details should also be a red flag.

From a little more investigation I am finding the no covers and poor metadata issues drop away when I get a little more selective on which ISBNs are imported. I'm working on using ISBNs which appear

[2019-10-02 05:07] hornc commented on #2335
resolved by #2433

[2019-10-02 05:07] #2335 closed

[2019-10-02 07:12] Hyperion101010 commented on #2169
If Tabish you aren't working on this one, I will be able to offer some help. A hackerone style leaderboard will look cool here :) https://hackerone.com/leaderboard/invites.
Also if we could keep scrolling in there!

[2019-10-02 09:21] hornc commented on #2274
The other side of this issue appears to be that the import process will not match an existing author with dates if the import data does not have dates,

example new author created: https://openlibrary.org/authors/OL7631978A/Joe_Dever
when it ideally should have matched the existing and dated: https://openlibrary.org/authors/OL760963A/Joe_Dever

on this import https://dev.openlibrary.org/books/OL27

[2019-10-02 10:44] BrittanyBunk commented on #2418
I'll modify what I say too - the core authors added don't fit the books at times. I guess I could remove them, but then I might be removing them from another book. I guess you're right in that I could use the edition area to add them.

[2019-10-02 10:44] #2418 closed

[2019-10-02 10:48] BrittanyBunk opened #2447 "Works w/ Missing Covers Should Fallback to Available Edition Cover"
When looking through the books on the main page, many of them have no cover. However, one edition is likely to have a cover. So I need to go through each and every book to add the cover that's on one edition to the book's home page. It would be nice to have a cover automatically posted to the book's main page the second a cover on even one of the editions is posted.

[2019-10-02 15:10] LeadSongDog commented on #1048
@hornc @cdrini
Can someone explain why
https://openlibrary.org/books/OL7318605M/Understanding_Power?m=history
and
https://openlibrary.org/books/OL9273260M/Understanding_Power?m=history
still both exist?
As far as I can tell, the only difference is that one shows "The physical object" size and weight whilst the other does not. Both were created by the same sequence of bots, making six edits on clos

[2019-10-02 17:14] cdrini commented on #2420
For comparison, here's what the `fr` one has:

https://github.com/internetarchive/openlibrary/blob/7b04f8d9f765f048c384121d48fa6f520fa7254e/openlibrary/i18n/fr/messages.po#L302-L307

and the `cs` one:

https://github.com/internetarchive/openlibrary/blob/7b04f8d9f765f048c384121d48fa6f520fa7254e/openlibrary/i18n/cs/messages.po#L294-L299

[2019-10-02 17:41] tfmorris commented on #1048
The bug was creating the 2nd [OL record ](https://openlibrary.org/books/OL9273260M.json?v=1) from the same Amazon record, but that was back in 2008. I wouldn't expect any of the other bots to clean it up unless they were specifically looking for items to merge. That's a separate task from other types of cleanups.

[2019-10-02 17:46] tfmorris commented on #2274
I think the right approach is to use a scoring algorithm with positive and negative weights for various elements matching / missing / not matching. The resulting score can then be compared to a threshold which determines whether it's a good enough match. This allows us to tune both the weights and the threshold to achieve the behavior that we want.

[2019-10-02 19:22] BrittanyBunk opened #2448 "Make the first Internet Archive ID changeable"
Right now, if I add the wrong Internet Archive ID, I can't change it, which creates issues where it shows up as an error for the wrong url, while the correct one won't post.

[2019-10-02 19:28] BrittanyBunk commented on #2448
I can't even add the right one, as it just deletes it the moment I press save in the open library.

[2019-10-02 19:36] BrittanyBunk opened #2449 "Can't fully delete an upload"
I uploaded an item twice, but would like to delete one. I don't see how. Is it possible to?

[2019-10-02 19:57] cdrini commented on #2449
What is "item" here? A book cover on openlibrary?

[2019-10-02 19:58] cdrini commented on #2449
Or an upload to archive.org?

[2019-10-02 21:00] cbolgiano commented on #2347
I'd be happy to work on this one.

[2019-10-02 23:28] BrittanyBunk commented on #2449
right, it's an upload to archive.org

[2019-10-03 00:40] cbolgiano commented on #2347
It seems that the default for `public_readlog` is already no based on what I see here: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/models.py#L540

I can still add the check to make sure `settings` is populated before the call to `get` though.

[2019-10-03 00:54] cbolgiano commented on #2347
I see what you mean now by checking for `settings.get('public_readlog', 'no')` now.  We want to check for `settings.get('public_readlog', 'no') == 'yes'` instead of `settings.get('public_readlog') == "yes"`.  Will make that change and have a PR out soon.  If this is not the case please let me know.

[2019-10-03 01:51] cbolgiano commented on #2287
I can take a look into this one.

[2019-10-03 13:24] Camillo-Pellizzari commented on #2248
Cannot merge https://openlibrary.org/authors/merge?key=OL4789371A&key=OL6011897A

[2019-10-03 16:03] BrittanyBunk opened #2451 "Formatting update for book titles/subtitles in edition list"
![Untitled](https://user-images.githubusercontent.com/55302685/66143600-4a9e2000-e5bc-11e9-8a15-b724735fc701.png)

The subtitle takes up too much space in the edition list. Instead, if the edition title's the same as the book itself, then only the subtitle should appear - to be clicked on. Right now, if there's nothing in the edition's title, no subtitle appears. If the edition and book titles are

[2019-10-03 16:26] BrittanyBunk opened #2452 "Box to enter volume/part"
Just like how there's a place to write 'name of edition' - like 1st edition, there should be a box to say 'name of volume or part' to say volume 1, or part 5 or something.

[2019-10-03 16:44] BrittanyBunk opened #2453 "Subtitles for books"
Right now, books (not talking about the editions) don't have a box to add their subtitle and it would benefit from having one.

[2019-10-03 16:51] BrittanyBunk opened #2454 "Add Pagination help text instructing how to add lowest page number"
Right now, it only shows highest number, but a useful bit of info are the lowest numbers to, to know where a book starts at.

[2019-10-03 17:15] LeadSongDog commented on #2453
@BrittanyBunk
I think you mean "works", not "books".

Directly above the unnamed "Title" field, the work edit interface instructs:
"**Title** Use _**Title: Subtitle**_ to add a subtitle. *Required field"
This is indeed different from and arguably inferior to the interface at the edition level which has separate edit boxes, one for **Title** and another for **Subtitle**

[2019-10-03 17:22] LeadSongDog commented on #2453
@BrittanyBunk
I think you mean to say "works", not "books". The latter term is so ambiguous that it should be avoided here.

See for instance https://openlibrary.org/books/OL1238676M/On_the_way_home/edit

Directly above the unnamed "Title" field, the work edit interface instructs:
"**Title** Use _**Title: Subtitle**_ to add a subtitle. *Required field"
This is indeed different from and arguably in

[2019-10-03 17:30] LeadSongDog commented on #2448
This would be covered by #2281

[2019-10-03 17:39] LeadSongDog commented on #2452
It is not just a box that's needed: the schema has no data fields to support identification of  sequential elements (such as issues and numbers of a serial, volumes of a multivolume edition, or books of a multi-book work). This is a huge, ugly gap that has been with us for many years. Perhaps as it becomes possible to consider schema changes this could be treated as one of the more important ones

[2019-10-03 19:14] mekarpeles commented on #701
@hornc Is this actually a Good First Issue??

[2019-10-03 19:15] mekarpeles commented on #2449
This board is specifically for openlibrary.org :) info@archive.org can answer Archive.org related questions.

[2019-10-03 19:15] #2449 closed

[2019-10-03 19:16] mekarpeles commented on #2454
Hi @BrittanyBunk thanks for this issue! When you say highest number -- highest number of what? Editions? Date?

[2019-10-03 19:17] mekarpeles commented on #2452
@LeadSongDog do we have an `epic` (overarching) issue for this? If so, would you be able/willing to post it here? I'm happy to add the `epic` label to it so we can keep volume/serial related efforts connected.

[2019-10-03 19:18] mekarpeles commented on #2448
@BrittanyBunk thanks, this is a valid issue! Closing it only because there's another existing issue open which addresses the technical problem. (this issue will remain linked, since @LeadSongDog tagged #2281 from here)

[2019-10-03 19:18] #2448 closed

[2019-10-03 19:27] mekarpeles commented on #2414
Newspapers and magazines are currently better explored on Archive.org. That would increase OpenLibrary.org's scope pretty substantially. It's likely going to be a few years before we have books figured out. This also means finding solutions to challenges like multi-volume works and series. Feedback noted, closing the issue was not something we intend to solve before 2020. We can use the `State: Ba

[2019-10-03 19:27] #2414 closed

[2019-10-03 19:54] tfmorris commented on #701
I've updated @hornc's code reference to a permalink. The relevant MARC documentation is:

which is formatted for OpenLibrary as $a[ : $b][ : $p]. I propose that we extend this to  $a[ : $b][ : $n][ : $p] since MARC subfields tend to be named in the logical order of presentation.

The MARC records in the original issue description (e.g. https://openlibrary.org/show-records/talis_openlibrary_contrib

[2019-10-03 20:34] LeadSongDog commented on #2452
@mekarpeles
#561 addressed much of it, perhaps that should be tagged epic?

[2019-10-03 21:20] BrittanyBunk commented on #2453
right, but that should be for the Internet Archive, as the Open Library uses the word 'books', so it's to not get confused. Otherwise, shouldn't the Open Library be changed to that too?

[2019-10-03 21:21] #2453 closed

[2019-10-03 21:22] BrittanyBunk commented on #2449
How come there's no board for the archive?

[2019-10-03 21:24] BrittanyBunk commented on #2454
Highest number pages. Like the lowest number might start at page 3, not 1.

[2019-10-03 21:26] BrittanyBunk commented on #2452
what if it's volume/series/part?

[2019-10-04 01:45] #2347 closed

[2019-10-04 02:57] BrittanyBunk opened #2455 "Have the ability for links to be attached by edition"
Right now, the links added in only go under a work, but it'd be great to have edition-specific links be able to go with the editions they belong with.

[2019-10-04 03:06] BrittanyBunk opened #2456 "Be able to privately message/forum for members"
The issue is that sometimes I feel there's a lack of coordination with edits among users. So to have some ability to chat with others, to be able to have cohesive efforts in making the Archive efficient and productive, would be awesome.

[2019-10-04 06:09] cdrini commented on #2287
Go for it! This one is a bit confusing (since I'm not entirely sure what the problem is :P ), but a good approach would be to try to find the code that renders the subjects pages (e.g. https://openlibrary.org/subjects/art ), which correctly display an "infinite" carousel, and then see how the publisher code differs.

[2019-10-04 06:39] imnotjames commented on #2443
Same issue applies to `lists` search and `edition_search`

[2019-10-04 15:22] luxorv commented on #2443
I can take this! :)

[2019-10-04 16:09] #2239 closed

[2019-10-04 16:13] imnotjames commented on #2239
@cdrini since you submitted - just want to make sure that you're happy with the changes :)

[2019-10-04 17:34] imnotjames commented on #2443
It seems like the test environment doesn't index subjects correctly?

[2019-10-04 18:56] imnotjames commented on #2443
I'm going to open a few more PRs to handle `lists` and `edition` search JSON formats as well.

[2019-10-04 19:20] cdrini commented on #2443
Thanks @imnotjames ! You're correct, subject search doesn't work on the local env (as a side-effect of #1896 ); we can test that for your :+1:

Lists sound good. Which endpoint are you talking about when you say `edition` search?

[2019-10-04 19:22] imnotjames commented on #2443
`/search/editions` and `/search/lists`

[2019-10-04 19:25] cdrini commented on #2443
`/search/lists` should work, but `/search/editions` is dead code; there are only 36 books searchable through that endpoint :P Let me double check

[2019-10-04 19:26] imnotjames commented on #2443
Bizarre.  Ok, perhaps it should be removed.

[2019-10-04 19:26] cdrini commented on #2443
Yep! Looks dead. This is an old codebase :) Creating an issue to remove it now.

[2019-10-04 19:31] cdrini opened #2460 "Remove dead `/search/editions` endpoint"
This endpoint https://openlibrary.org/search/editions.json?q=the is dead. There are only 36 books which this can search for. Double check to make sure they're unused, and then let's remove the class (located in `worksearch/code.p`) it's template (`search/editions.html`), and any other related files (maybe CSS). It looks like this commit introduced this code; looking at nearby commits might reveal

[2019-10-04 19:32] cdrini commented on #2443
#2460

[2019-10-04 21:17] MatsLanGoH commented on #2460
Hi, I'd like to give this a shot - haven't had a good look at the codebase yet, so this looks like a neat way in :)

Asking for confirmation: With "they" do you mean the 36 books? Or the editions endpoint?

[2019-10-04 21:45] jdlrobson opened #2463 "Flickr badge is deprecated and broken"
https://openlibrary.org/about has a script pointing to http://www.flickr.com/badge_code_v2.gne?count=3&display=random&size=t&layout=v&source=user&user=41108298%40N06

Looking at the script it is deprecated

![Screenshot 2019-10-04 at 2 44 09 PM](https://user-images.githubusercontent.com/148752/66242047-82d55980-e6b5-11e9-8732-d3e25b9b7f68.png)

### Evidence / Screenshot (if possible)

### Relevant

[2019-10-05 00:33] jdlrobson opened #2468 "Move JavaScript for list feature into webpack"
Inline script tags in the following templates relating to "list" feature need to be moved to webpack
- [x] openlibrary/templates/type/user/view.html (#5096)
- [x] openlibrary/templates/type/list/embed.html (#2495)
- [x] openlibrary/templates/type/work/view.html
- [x] openlibrary/templates/lists/widget.html (#6159)
- [ ] openlibrary/templates/type/list/view_body.html
- [ ] openlibrary/templates/lis

[2019-10-05 02:59] cbolgiano commented on #2287
Thank you for the pointer and also for the willingness to answer questions.

It looks like the default number of covers that can be rendered per page is 12.  This default seems to create an undesirable experience with the UI, at least in my experience using the docker dev environment.

Page 1 of the publisher that I added 16 works too that has the default 12 rendered for the carousal:
![page1](htt

[2019-10-05 03:15] cbolgiano commented on #2287
The last thing I needed to check was the `$_('published between')` in `Publisher - 16 works / 0 ebooks $_('published between') 2010 & 2019.` that you see here:
![variable](https://user-images.githubusercontent.com/7445503/66249068-424cfe80-e6fc-11e9-90d3-06b1cacafb97.png)

I was able to recreate this by escaping the `$` on line 329 of `/templates/publishers/view.html` as seen here:
![escape](https

[2019-10-05 03:59] cbolgiano commented on #2287
It looks like I was working on a super old fork. Going to re-clone and update the PR shortly.

[2019-10-05 04:14] cbolgiano commented on #2287
Reassessing after syncing fork with the main line.

[2019-10-05 13:09] imskr commented on #2463
Can I work on this issue?

[2019-10-05 13:50] cbolgiano commented on #2287
It looks like the page.work_count is correct but len(page.works) is not.  Not sure why this is the case yet.  Looking to find out why next.

[2019-10-05 16:30] cdrini commented on #2460
Go for it, @MatsLanGoH ! I mean the class/endpoint 👍

[2019-10-05 18:52] imnotjames commented on #686
Hi there.  I'm interested in helping with the project and would be interested in listening to the discussions that happen around the OpenLibrary project.

[2019-10-05 20:31] MatsLanGoH commented on #2460
Thanks for the response!
Apparently @imnotjames has already started working on this in #2470, so I'll keep my eyes open for something else!

[2019-10-05 20:34] imnotjames commented on #2460
Ah, sorry!  I hadn't sent your update here.  ): I'm still digging into any extras that aren't needed of this is removed.

[2019-10-05 22:18] cbolgiano commented on #2287
New pull request is out.  My apologies for the additional noise on this ticket.

[2019-10-05 22:29] cbolgiano commented on #2419
I'd be happy to take a look at this one.

[2019-10-06 01:20] cbolgiano commented on #2419
I updated jquery-validation to 1.19.1 and the warning went away.

A pull request has been opened.

[2019-10-06 09:33] seabelis opened #2473 "Invalid isbns causing isbn10/13 issues in AffiliateLinks"
This is a patron issue sent by email. "I believe this may of happened because I attempted to find further information about the book and when my edited work came up in search, I clicked on it .... rcvd the message below, then. I completed my file and clicked Send .... and once more, the same message popped out. "

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/b

[2019-10-06 10:05] qawbecrdteyf commented on #1588
Just tested what @jdlrobson had suggested and it seems that it should work. Created a pull request to therefore solve this issue. internetarchive#2474

[2019-10-06 15:05] tfmorris commented on #2463
I agree that removing Flickr is the right call. Nothing has been uploaded since 2011. Not sure what, if anything, to replace it with.

[2019-10-06 17:13] seabelis commented on #2454
You can format the pagination like this if you'd like to include the lowest page number, [3]-357 p.

[2019-10-06 18:09] #1588 closed

[2019-10-06 18:36] jdlrobson commented on #2463
@imskr I think that's fine but please sync with @mekarpeles if he's okay to remove it and the blank space associated with it thT removing it will leave.

[2019-10-06 18:38] jdlrobson commented on #1588
Thank you @qawbecrdteyf for the patch

[2019-10-06 20:12] Camillo-Pellizzari commented on #2248
Again: cannot merge https://openlibrary.org/authors/merge?key=OL357738A&key=OL5999368A

[2019-10-06 20:18] Camillo-Pellizzari commented on #2248
Again: cannot merge https://openlibrary.org/authors/merge?key=OL4277168A&key=OL6039003A

[2019-10-06 21:33] Camillo-Pellizzari commented on #2248
Again: cannot merge https://openlibrary.org/authors/merge?key=OL2557977A&key=OL5998002A

[2019-10-07 03:10] #2419 closed

[2019-10-07 09:30] Camillo-Pellizzari commented on #2248
Again: cannot merge https://openlibrary.org/authors/merge?key=OL1271659A&key=OL5996409A

[2019-10-07 16:32] BrittanyBunk commented on #2454
it would be good to add it to the instructions, as it says 'max' right now

[2019-10-07 19:21] LeadSongDog commented on #2248
Hmm, the problem author records seem to all have been created by Import Bot on 27 Oct 2008. Other oddities that might be hints: They include an obsolete "id=" field that is removed by any direct edit to that author record, but still can't be merged, so that isn't the problem. The trailing space after the author name might be an issue, or the "personal name=" field seen in some cases.

[2019-10-08 00:07] #2473 closed

[2019-10-08 17:39] #2443 closed

[2019-10-09 15:24] cdrini commented on #2287
Nice! No worries; the more comments the better :) Sorry for the low response rate, it's been a little busy. I'm afraid the solution you've provided won't _quite_ work; the subjects engine _should_ load only 1 page of content from the python; the other pages should be loaded from the JS. Now it's going to try to load _all_ works; this will cause performance issues since some subjects/publishers hav

[2019-10-09 15:42] cdrini commented on #2449
It's just the way their team is organized.

[2019-10-09 17:23] cdrini opened #2481 "Unique visitors graph levelled off"
The unique visitors seems like it's down to 0 for some reason since ~Oct 2. (date determined by looking at "view source" and searching for `graph-json-visitors`.)

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/66503246-e506d380-ea94-11e9-937e-1bede7e7f238.png)

### Relevant url?
https://openlibrary.org/

### Details

- **Logged in (Y/N)?** Y
- *

[2019-10-10 02:10] cbolgiano commented on #2287
No worries.  My apologies for submitting not an optimal solution.  Looking at this again.

[2019-10-10 04:50] cbolgiano commented on #2287
Created another PR as my 2nd attempt.  If I don't get it this time I might need some help. =)

[2019-10-10 10:29] Double-A-92 commented on #2202
This is also a server configuration issue.

Even with the correctly escaped url (e.g.  https://openlibrary.org/publishers/10%2F18 ) the server interprets the encoded slash as a real slash.

With an Apache server (I don't know what OpenLibrary uses) there is the directive _AllowEncodedSlashes_ that maybe can be used to fix this. Not exactly sure how though.

[2019-10-10 10:55] Double-A-92 opened #2483 "String placeholder visible when publisher has 0 ebooks"
On the publisher view, if there are 0 published ebooks, the date placeholder text is not rendered / replaced correctly.

### Evidence / Screenshot (if possible)
Examples:
- Publisher - 1 work / 0 ebooks $_('published in') 2009
- Publisher - 2 works / 0 ebooks $_('published between') 1997 & 2003.

![grafik](https://user-images.githubusercontent.com/2192982/66562772-9de41580-eb5c-11e9-86ac-c1a9722cc

[2019-10-10 16:21] cdrini commented on #2483
Good find! The `$_('blah')` syntax (which is used for internationalization) only works inside the html template files; not the JS. So either:
1) Long term solution: find a way to put that text in the html.
2) Short term solution: remove the `$_`. This won't i18n correctly though.

Looks like there's another usages of `$_` inside this file for tooltips. I don't think there is, but do you by any cha

[2019-10-10 20:16] jdlrobson commented on #2483
Not yet. Blocked on getting the code out of html and tracked in #2353

[2019-10-11 01:41] BrittanyBunk opened #2484 "Have a 'see all' link when looking at a subject"
Difficult to know what's in the library if it's a google search style where you need to know what to type in in order to find a book

[2019-10-11 03:00] BrittanyBunk commented on #2413
In addition, the edition cover should be added to the title's cover if there's nothing there.

[2019-10-11 03:02] BrittanyBunk opened #2486 "Avoid showing blank covers (if book readable)"
Also related: #2447 #2132

- A lot of book covers have nothing on it, which make it difficult to know what the book's about in the carousels. It would be good to have a bot that finds these covers and then adds one that has a description on it - which would be through the preview 99% of the time.
- Many works have no covers, yet have one edition with a book cover. It would be great to have an auto

[2019-10-11 04:54] cdrini commented on #2202
This class/file are likely related. Everything after `/publishers/` should be in the `key` argument; but it's not getting decoded when querying; that's probably why 10%2F18 doesn't work.
https://github.com/internetarchive/openlibrary/blob/e1b826761942b02d315055e4323724e7b094bb56/openlibrary/plugins/worksearch/publishers.py

[2019-10-11 05:01] cdrini commented on #2202
And the other piece of the puzzle is this line, which is not encoding the key (but just replacing `_` with ` `).

https://github.com/internetarchive/openlibrary/blob/e1b826761942b02d315055e4323724e7b094bb56/openlibrary/plugins/worksearch/publishers.py#L84

There's a LOT of duplicate code here; this normalization code should be centralized somewhere and DRYed up.

[2019-10-11 07:44] Double-A-92 commented on #2483
I just noticed that what I described is not the main problem there... The "Publishing History" plot completely fails to even load whenever there is more than 0 ebooks. That's why the wrong strings were hidden so well, because the script that prints them fails to load in the normal case.

Also I've researched a bit about the i18n and there doesn't seem to be any straight forward way to deal with JS

[2019-10-11 09:22] Double-A-92 commented on #2202
It doesn't seem to go into that route tough.
If I try https://openlibrary.org/publishers/10_%2F18 I would expect it to replace the _ with a space and go to the publisher not found page. Instead it goes to the generic 404 page and displays the unchanged key "publishers/10_/18".

[2019-10-11 16:25] cdrini opened #2487 ""All" search not working"
The `All` search throws errors when used locally

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/66667789-cf72e480-ec21-11e9-81df-3037a2012cdf.png)

![image](https://user-images.githubusercontent.com/6251786/66667854-f92c0b80-ec21-11e9-97c3-43ceddcaa10c.png)

### Relevant url?
http://localhost:8080/search?q=search&mode=everything&debug=true

###

[2019-10-11 16:29] guyjeangilles commented on #2487
+1 can reproduce on Ubuntu 16.04 on FF69

[2019-10-11 16:42] LeadSongDog commented on #2084
Related: #496 #837 #841 #1005 #2368
Discussions on these issues identified several problems ancillary to their main thrust that never got their own issues.
@mekarpeles  I like your idea of showing a title below the cover. It is a useful way to make alt-text more normalized, not requiring a hover action to display it.  It is also good for low-bandwidth usage where images are expensive or blocked. F

[2019-10-11 20:09] jdlrobson opened #2490 "Drop jquery.autocomplete plugin and use jquery ui"
The version of jquery.autocomplete we use is outdated, and is available in jQuery UI. It is blocking us upgrading jQuery.

jQuery autocomplete is imported inside index.js
[code]
We also include jQuery UI which has autocomplete functionality using:
[code]

- [ ] Drop jQuery autocomplete vendor import
- [ ] Update existing usages of the autocomplete function inside openlibrary/plugins/openlibrary/js

[2019-10-11 20:27] jdlrobson opened #2491 "Search editions page creates broken links to books"
I think this page is no longer used:
https://openlibrary.org/search/editions?q=a

It doesn't seem to be accessible from anywhere in the UI.
I think it should be removed given /search is the canonical method of searching
https://openlibrary.org/search?q=title%3A+%22B%22&mode=everything

- [ ] https://openlibrary.org/search/editions should 404
- [ ] All templates removed

### Evidence / Screenshot (

[2019-10-11 20:29] jdlrobson commented on #2463
@imskr are you planning on working on this?

[2019-10-11 20:53] jdlrobson commented on #2087
@musayann will you send a pull request? I can review.

[2019-10-11 21:20] jdlrobson commented on #2247
Let's fix this as part of #2084

[2019-10-11 22:00] jdlrobson commented on #2481
Confirmed. Not an issue on the client though. When I view source the data feeding those graphs is clearly saying 0.

[2019-10-11 22:06] jdlrobson commented on #2445
I agree with @tfmorris that the solr indexing needs to be near-real-time.

Is it possible that the search endpoint could hit the database directly in the case of a query matching ol<number> ?

https://openlibrary.org/authors/_autocomplete?q=ol7631871a&limit=11&timestamp=1570831533113

[2019-10-11 22:08] jdlrobson commented on #2491
Duplicate of #2460

[2019-10-11 22:08] #2491 closed

[2019-10-11 22:20] guyjeangilles commented on #333
I believe this will fix the issue
[code]

However, there are no books with "/" in their subjects in my docker instance and I can't find any to add to my local instance because all the links go to 404... I'm not sure how to go about testing the above code: can someone make a suggestion?

[2019-10-12 10:50] Camillo-Pellizzari opened #2500 "Add possibility of linking contributors at the edition level to author profiles"
Contributors at the edition level (e.g. editors of the edition of a book, translators etc.) are coded as plain text, but it is not possible to link them to author profiles

### Describe the solution you'd like
The coding of contributors at the edition level should be done using author profiles

### Proposal & Constraints

### Additional context

[2019-10-12 16:32] jdlrobson opened #2501 "Slick carousels do not cache requests when loading new items"
The slick carousel makes multiple requests to the same URI and continues to do so when the right button is clicked even if it has exhausted all available.

### Evidence / Screenshot (if possible)

For example visit https://openlibrary.org/subjects/bacon
Click the right arrow. Notice how the right arrow always triggers an HTTP request.
Click the left  arrow and click the right arrow again - you'll

[2019-10-12 16:33] #2287 closed

[2019-10-12 17:36] #2460 closed

[2019-10-12 18:23] cdrini opened #2502 "Possibly remove /templates/account/{email, password}.html"
It looks like these files are unused since we use archive.org for change email / change password. https://openlibrary.org/account 's "update email address" and "change password" now link to archive.org . Also http://openlibrary.org/account/email 405s ( http://openlibrary.org/account/password doesn't, but probably should). (Found on #2494 )

## Stakeholders
@jdlrobson

[2019-10-12 19:07] cdrini commented on #333
Edit a work on your local dev env and add a subject like `10/18`. The link on the work's page to the subject will 404; a regular subject would display something like https://openlibrary.org/subjects/foobar .

There are 2 parts to this problem:
1) Anywhere a subjects or publishers link is displayed, it should be URL encoded; i.e. spaces replaced with `_`, and then a regular encoding (e.g. `encodeUR

[2019-10-12 19:08] cdrini commented on #2202
This line needs to be modified to fix that:
https://github.com/internetarchive/openlibrary/blob/e1b826761942b02d315055e4323724e7b094bb56/openlibrary/plugins/worksearch/publishers.py#L19

Although it looks like subjects have the same issue; there might be a way to fix this in one of the super classes (see #333)

[2019-10-12 19:09] cdrini commented on #333
Also note it looks like publishers have a similar issue; there might be a way to fix this in one of the super class and have it fix both of these issues (see #2202 ).

[2019-10-12 19:15] cdrini commented on #333
My apologies @Himanshu-Garg ! I missed your previous message. Are you still interested in working on it? I think @guyjeangilles has already gotten some headway on it.

[2019-10-12 19:19] cdrini commented on #2445
I like the idea, but might not be entirely possible. We'd have to coerce the response from the database to have the same "shape" as the response from solr. Not sure how difficult that would be. (e.g. for authors, `subjects` is a field that exists only on solr; not on the record itself).

I think working towards improving solr might be better then a temporary patch.

[2019-10-12 19:25] cdrini commented on #2247
I think this should be solved separately regardless of the decision on #2084 ; displaying "blank" covers isn't useful. (I'm also personally not completely sold on the proposal on #2084 as it stands.)

[2019-10-12 19:31] cdrini commented on #2463
I think that would be a good place for a twitter feed (which is active); but let's just remove flickr as part of this.

Related code: https://github.com/internetarchive/openlibrary/blob/630386df5b7b6d980697ccb1ef856df6a828c3f0/openlibrary/templates/type/about/view.html#L35

But also check for other CSS/JS which might be dead.

[2019-10-12 19:34] cdrini commented on #2483
:P Go for it!

[2019-10-12 19:36] cdrini commented on #2483
😬 Oh wow, you're right! Would you mind opening another issue for that? This is a sample publisher: https://openlibrary.org/publishers/Tor

[2019-10-12 19:39] cdrini commented on #2483
Yeah; adding i18n to the JS will be a _much_ bigger issue. So I would actually prefer option 2 :P

[2019-10-12 19:43] cdrini commented on #2486
- For your first point, does this solve the issue? https://github.com/internetarchive/openlibrary/issues/2247
- For your second, you're suggesting that there be a way for the work to automatically display an edition's cover if one exists, correct?

[2019-10-12 19:46] cdrini commented on #2484
Is this the sort of view you would like? https://openlibrary.org/search?q=subject%3Atravel&mode=everything

[2019-10-12 19:53] cdrini commented on #2248
Sigh, that list is getting long :( Thanks @Camillo-Pellizzari ; add to the list.

[2019-10-12 21:31] Camillo-Pellizzari commented on #2248
This also fails: https://openlibrary.org/authors/merge?key=OL80534A&key=OL2693344A

[2019-10-12 22:10] BrittanyBunk commented on #2486
Idk if they're related, as that one seems to be a glitch. Mine looks like
![Opera Snapshot_2019-10-12_150824_openlibrary org](https://user-images.githubusercontent.com/55302685/66708236-45e71380-ed02-11e9-99b2-d69383b5f03c.png)
![Untitled](https://user-images.githubusercontent.com/55302685/66708237-45e71380-ed02-11e9-8d9e-e2c3b3b3a124.png).

The second point's to automatically add a cover to a wor

[2019-10-12 22:15] BrittanyBunk commented on #2484
Yes, but it would be for the subjects: https://openlibrary.org/subjects/science. The picture is a rough draft, but that's how it should show.
![Untitled](https://user-images.githubusercontent.com/55302685/66708294-108ef580-ed03-11e9-878e-7a34d32c3b56.png)

[2019-10-12 22:28] BrittanyBunk opened #2504 "Clean up of the UI of the Subjects page"
https://openlibrary.org/subjects should not look like https://imgur.com/a/DWnYhA2. Instead, it would benefit from looking like https://imgur.com/a/FqazntY. The page could be a very nice directory then. Everything else on the page now can go underneath the re-imagined picture.

[2019-10-13 09:22] Camillo-Pellizzari commented on #2248
Again: https://openlibrary.org/authors/merge?key=OL17370A&key=OL2677210A

[2019-10-14 02:04] tfmorris commented on #2500
There's a tradeoff here. The only type of "person" that OpenLibrary knows about is an "author" so this would involve promoting every minor editor, foreword writer, illustrator, etc to author status, greatly expanding the size of the "author" database.

Not necessarily the wrong thing to do (or at least direction to head), but something to consider in planning.

[2019-10-14 02:19] tfmorris commented on #2504
The current page includes:

- separate listings for four different types of subjects (people, places,...)
- hand picked examples for each subject type
- textual listings without pictographic icons

Which are you proposing changing? Or all of the above?

[2019-10-14 10:03] Camillo-Pellizzari commented on #2248
+: https://openlibrary.org/authors/merge?key=OL125439A&key=OL2628479A

[2019-10-14 15:09] BrittanyBunk commented on #2504
I'm not proposing changing those - just to push those down the page and add in the layout in the picture to it. I mean, that part could be improved, but idk how right now.

[2019-10-14 17:03] mekarpeles commented on #2504
I have a demo redesign of https://github.com/internetarchive/openlibrary/tree/refactor/everything and will followup on this post October

[2019-10-14 17:04] mekarpeles commented on #65
related #188

[2019-10-14 17:58] hari-govind commented on #2490
Hi,
I would like to try on this issue if that is okay.

[2019-10-14 21:23] jdlrobson commented on #2490
Please do! Feel free to bug me if you have any questions or problems with doing this!

[2019-10-14 21:58] mekarpeles commented on #2072
I have a demo redesign of https://github.com/internetarchive/openlibrary/tree/refactor/everything and will followup on this post October

cc: @BrittanyBunk

[2019-10-14 21:59] mekarpeles commented on #2504
Merging as duplicate of #2072

[2019-10-14 21:59] #2504 closed

[2019-10-14 22:58] tfmorris commented on #2072
Using the most frequent subjects won't provide a very satisfying user experience because it includes not only the junk subjects:
- Accessible book
- In library
- Internet Archive Wishlist
- Protected DAISY

but also subjects so generic as to be meaningless:
- History (well, perhaps that's an exception that's both popular and potentially useful)
- Fiction
- General
- Biography (another exception?)

[2019-10-14 23:24] guyjeangilles commented on #333
Update:

I swapped this line
https://github.com/internetarchive/openlibrary/blob/e0d2de10683b676593b4bfc6e53bbf6e433a404a/openlibrary/templates/search/subjects.html#L46

with this line.
[code]

 I opted not to use python's url enconding because I didn't think it made sense to import the encoder for every search. The above worked...kinda
![subject_search](https://user-images.githubusercontent.com/7

[2019-10-15 05:14] imskr commented on #2463
@cdrini should I just remove that h3?

[2019-10-15 14:34] BrittanyBunk commented on #2278
Good someone mentioned it. This does keep happening. Like this book appears: https://openlibrary.org/books/OL26571069M/Critical_studies_in_the_Cynewulf_group._-/resolve. It shoudn't be in the carousel.

[2019-10-15 14:35] cdrini commented on #2463
@imskr You can probably remove the entire ` <div class="contentQuarter">` containing that h3. Also do a search in the code base for any IDs or classes that appear in that HTML, to see if it's referenced in other spots. We might be able to also remove related JS/CSS.

[2019-10-15 14:50] cdrini commented on #333
Nice, @guyjeangilles ! You're close. The subjects are stored in the work record unencoded; like `/subjects/test/test`. When we render them in the works page, we need to encode them (like `/subjects/test%2Ftest`); your code change is doing this. The last step is that when visiting `/subjects/test%2Ftest`, the code needs to _decode_ the subject key to `/subjects/test/test` so it can match what's bee

[2019-10-15 14:54] cdrini commented on #333
Also, we should use full python url encoding/decoding; I don't think the performance hit will be that large. We can always adjust if we discover it is (premature optimization is the root of all evil :)). The benefits of using a full url encoding/decoding library is that we handle _all_ the cases at once. Not just `/`, but also `é`, or `?`, or `#`; most of which would break the URLs. It's best prac

[2019-10-15 14:59] LeadSongDog commented on #2278
That edition was named https://openlibrary.org/books/OL26571069M/Critical_studies_in_the_Cynewulf_group._-
I assume searching for fails to resolve because something in the trailing “. _-“ invalidates the url

[2019-10-15 15:16] jdlrobson commented on #2463
For completeness after removing the contentQuarter element the element besides it will want to change from contentQuarter to contentHalf class.

[2019-10-15 16:38] hari-govind commented on #2490
Thanks! I stumbled into a problem. I've setup the development environment(docker) as per the [instructions](https://github.com/internetarchive/openlibrary/blob/master/docker/README.md). I've made no changes to the code but the auto complete isn't working for me. It works when "title" or "author" is chosen as the field but it is showing nothing when other fields are selected. When searching for som

[2019-10-15 18:30] cdrini opened #2506 "Editions in carousels sometimes 404"
Sometimes, editions that appear in carousels are suffixed with the `/resolve` path, which should only be added to works. This causing these books to 404 when clicked.

### Evidence / Screenshot (if possible)

### Relevant url?
1. Go to https://openlibrary.org/books/OL26571069M/Critical_studies_in_the_Cynewulf_group
2. Click on the "You might also like" without a cover ( https://openlibrary.org/boo

[2019-10-15 18:30] cdrini commented on #2278
Ah; the issue is the link is being formed incorrectly. Created an issue here: https://github.com/internetarchive/openlibrary/issues/2506

[2019-10-15 18:31] cdrini commented on #2278
(That's different from this issue; this issue applies only to the environment that developers use, not to the public, production website).

[2019-10-15 20:04] tfmorris commented on #2435
The edition edit form already knows how to autocomplete languages and convert them to their associated codes. Have you looked at whatever API powers that? It seems like it should be possible to reuse it.

Note also that the codes have changed over time, so probably also need to be able to handle historical codes which were in use at the time that the catalog record was created.

[2019-10-15 23:22] newdarma opened #2508 "Remove CC copyright of the material"

[2019-10-15 23:25] #2508 closed

[2019-10-16 00:41] guyjeangilles commented on #333
As @cdrini pointed out to me, I believe updating the following class will provide the most robust solution

https://github.com/internetarchive/openlibrary/blob/e0d2de10683b676593b4bfc6e53bbf6e433a404a/openlibrary/plugins/worksearch/subjects.py#L52

Specifically I think the following line is the step in the right direction:
[code]

Unfortunately following the steps [in the Wiki](https://github.com/

[2019-10-16 03:19] jdlrobson commented on #2490
Hm.. that's annoying. I haven't seen that before and I'm sorry to hear youre hitting this problem. It's likely you'll need to populate the local instance with some more data.

Provided you can get autocomplete working on author I can test the other fields - in theory they should work more or less the same.

[2019-10-16 06:11] mariarosu95 commented on #2242
Hi, is it ok if I work on this issue?

[2019-10-16 07:49] mekarpeles opened #2510 "Book Sponsorship Reading Log wrong book count"
book count may be incorrect for patron's Reading Log page (for sponsorships tab)

_Originally posted by @cdrini in https://github.com/internetarchive/openlibrary/diffs_

[2019-10-16 14:49] BrittanyBunk commented on #2506
I think you asked where I see it. I see them after clicking on a book - it shows a list of related or books by the author. Want me to start forming a list here of links that I see?

[2019-10-16 16:25] imskr commented on #2463
@cdrini I have made the PR. Please review.

[2019-10-16 16:50] cdrini commented on #2510
@mekarpeles I fixed this here: https://github.com/internetarchive/openlibrary/pull/2507/commits/54a659581107af316d0516c611732ee975528ddb#diff-b826113089762d07fdb19427b2f9c731R34 ; does that look good, or have you observed this error on prod?

[2019-10-16 16:54] cdrini commented on #2506
@BrittanyBunk If you could find 2 or 3 books that have this issue in their related books section, that would be great. The only one I've found so far is this one: https://openlibrary.org/books/OL26571069M/Critical_studies_in_the_Cynewulf_group

[2019-10-16 16:56] cdrini opened #2512 "Current edition appears in "You might also like" carousel"
The currently open edition appears in the "You might also like" and "More by {author}" carousels of that edition.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/books/OL26571069M/Critical_studies_in_the_Cynewulf_group

### Expectation
It shouldn't show the current book.

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF69
- **Operating system

[2019-10-16 16:57] LeadSongDog commented on #2242
@cdrini Was there some rationale for choosing Imperial as the default? Even in the US, repository libraries principally use SI units for new records, while still supporting older records using Imperial. Other things being equal, it would seem to make sense to prefer units understood by the whole world, rather than just a fractional area.

AMZ sites use the units customary to current business in a

[2019-10-16 18:01] seabelis commented on #2242
I'd favour metric, but would mostly favour consistency.

[2019-10-16 23:06] BrittanyBunk opened #2514 "Work covers not appearing in carousel, even though they have an image"
Adding onto #2486
https://openlibrary.org/books/OL2527509M/PX_a_computational_logic is one example of the many in the Authors Alliance & MIT Press with no cover in the carousel, but they have a cover already and it should appear.

[2019-10-17 01:30] BrittanyBunk commented on #2506
When I find them, I'll post here. I saw a lot of them today, but I might not get the chance to do more research, as I pretty much added covers to books that needed them (which is how I found them) and now there's not many left.

[2019-10-17 01:44] BrittanyBunk commented on #2506
https://openlibrary.org/books/OL26535495M/Mansfield_Park/resolve https://openlibrary.org/books/OL26562070M/Letters_to_her_sister_Cassandra_and_others/resolve. I mean, there's more, but it would take a lot of time for me to look through.

[2019-10-17 06:27] mekarpeles opened #2517 "Eligibility API errors when invalid isbn"
Relates to #2194

This is unrelated to these changes, but if eligibility API given bad isbn, fails ungracefully:
https://dev.openlibrary.org/sponsorship/eligibility/97802992042042?debug=true

### Evidence / Screenshot (if possible)

[code]
### Relevant url?

https://dev.openlibrary.org/sponsorship/eligibility/97802992042042?debug=true

### Expectation

Should check `if edition` and gracefully erro

[2019-10-17 10:58] sbvkrishna commented on #2517
I would like to work on this.

[2019-10-17 21:36] samuelpetroline commented on #2514
Do you have a screenshot or something that could clarify this error?

[2019-10-17 21:37] samuelpetroline commented on #2514
Also, https://openlibrary.org/publishers/MIT_Press doesn't seem to be working properly, though.

[2019-10-17 21:48] samuelpetroline opened #2518 "Bad author page is linked to existing author"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/22039767/67050293-93062380-f10e-11e9-8496-63e518eb2fe0.png)

### Relevant url?

https://openlibrary.org/authors/OL5631454A/James_Tyler_Kent?page=5

### Expectation

There should be only books related to James Tyler Kent

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**

[2019-10-17 22:03] BrittanyBunk commented on #1808
On the Open Library edit page for a work would have one box for type (series, anthology, collection, parts). That would be a drop down menu. Next to it would be a fill in box. Then there could be multiple rows that can be added. The issue would then be to work that into the infrastructure of the rest of the website, as when a collection's clicked on, the rest of the books show up. I would say this

[2019-10-17 22:04] tfmorris commented on #1808
Freebase had a much more sophisticated schema. It wasn't perfect, but it's worth reviewing for ideas. https://github.com/freebase-schema/freebase/wiki/book-book

[2019-10-17 22:07] BrittanyBunk commented on #2514
@samuelpetroline it's not the grey box within a box, but it looks like an off-white box with nothing in it.

[2019-10-17 22:08] BrittanyBunk commented on #1808
@tfmorris it's a good starting point.

[2019-10-17 22:49] cdrini commented on #2506
@BrittanyBunk could you provide the page where the carousel was? All those links are correct (if you remove the `/resolve` at the end); but it's unclear why the carousel is adding `/resolve` at the end, so the links to the pages with the carousels would be useful :)

[2019-10-17 22:56] samuelpetroline commented on #2405
This would require implementing [microdata ](https://developer.mozilla.org/en-US/docs/Web/HTML/Microdata) across many UI components.

However, I think maybe #163 has some impediments over this?

[2019-10-17 23:13] tfmorris commented on #2518
Thanks for the report. It looks like a user repurposed ["No name"]( https://openlibrary.org/authors/OL5631454A/?b=5&a=3&_compare=Compare&m=diff) author record

You can find the actual James Tyler Kent record here: https://openlibrary.org/authors/OL2746340A

[2019-10-17 23:13] #2518 closed

[2019-10-17 23:35] tfmorris commented on #2514
A screenshot would be much better than words for describing a visual problem and an actual URL for the carousel is needed as well.

[2019-10-17 23:42] tfmorris opened #2519 "Publishing History graph doesn't load - missing graph data"
The publishing history graph never loads, instead displaying the spinning barber pole icon.

The error message in the Javascript console is:

[code]

### Relevant url?
https://openlibrary.org/publishers/MIT_Press

### Details

Google Chrome Version 77.0.3865.120 (Official Build) (64-bit)

### Stakeholders
@jdlrobson

[2019-10-17 23:43] tfmorris commented on #2514
@samuelpetroline You don't describe how the page isn't working properly, but I just filed #2519 which likely affects all publisher pages.

[2019-10-17 23:56] jdlrobson commented on #2519
The relevant error is
Error: No data associated with ebooks - make sure a script tag with type text/json and id "graph-json-ebooks" is present on the page

The data for the graph is not being added to the html.

[2019-10-18 00:06] tfmorris commented on #2506
@cdrini It looks to me like it's happening in the "You might also like" and "More by <author name>" carousels at the bottom of book editions pages like https://openlibrary.org/books/OL26571069M when there's no cover image.

[2019-10-18 00:18] tfmorris commented on #2519
There's an element:

`<script type="text/json+graph" id="graph-json-chartPubHistory">[[1485, 1], ...]</script>`

which looks pretty close. Not sure whether it's the type or id (or both) that it's unhappy about.

[2019-10-18 00:24] tfmorris commented on #2519
@mekarpeles @jdlrobson #2360 https://github.com/internetarchive/openlibrary/commit/01a260e25f9ff89a87224530447fa71d4557a1d7#diff-283bc0ed7283cd22eecfd541b629cd77 looks like a likely suspect.

[2019-10-18 01:21] BrittanyBunk commented on #2514
![Untitled](https://user-images.githubusercontent.com/55302685/67058726-f1310780-f10a-11e9-8d13-47c71774d4ea.png)
I didn't really know what to take a screenshot of, but maybe this helps.

[2019-10-18 01:22] BrittanyBunk commented on #2514
@tfmorris thanks for working on the bug

[2019-10-18 01:24] BrittanyBunk commented on #2506
@cdrini there's too many to list. Even if I gave the few that I know - I mean the last 2 are from the Louisa May Alcott author carousel, that wouldn't resolve the issue.

[2019-10-18 01:24] jdlrobson commented on #2519
If one graph fails to not be found the ones that follow will also fail.

I think what's happening here is the id ebooks is being used for two purposes:

class="ebookcount"><span id="ebooks">2,909 ebooks</span>

Fix should be changing this id or the id of the ebooks graph and associated json wherever it is.

[2019-10-18 19:10] #2463 closed

[2019-10-18 19:28] #2087 closed

[2019-10-18 22:00] guyjeangilles commented on #832
@mekarpeles Is this still any issue? The reference issue is closed but obviously this one isn't. It's a high priority so it should be scheduled if it isn't already.

[2019-10-18 22:14] guyjeangilles commented on #2028
I'm continuing a project in the same vein of this issue here: https://github.com/internetarchive/openlibrary/projects/13. Do goal is to properly label all open issues by end of 2019.

[2019-10-18 22:21] guyjeangilles commented on #2021
@nimbus98 Are you still working on this issue? It seems rather complex. I've labeled it as backlogged for the time being. Considering it's a high priority issue we should devise a plan to move foreward.

@mekarpeles @tfmorris @jdlrobson @bitnapper @brad2014 Do you have anything to add?

[2019-10-18 22:33] guyjeangilles commented on #2061
@hornc I changed the state of this issue from Work In Progress since that's the category it's in in the Continuous Import Pipeline project.  I also changed the priority since a backlogged, high priority issue seems counter intuitive.

Let me know if you agree or disagree

[2019-10-18 22:42] guyjeangilles commented on #967
@seabelis @LeadSongDog @mekarpeles I can not duplicate this bug. I'm marking it for proposed closure. Let me know if you agree or disagree.

[2019-10-18 22:48] guyjeangilles commented on #1045
Was the purpose of this issue to determine a way to find duplicate ocaids or a way to _remove_ ocaids? If it's the former, I'm proposing we close this issue. @mekarpeles @hornc @tfmorris Let me know if you agree or disagree.

[2019-10-18 22:53] guyjeangilles commented on #153
This issue feels fairly critical to the mission of Open Library, so I'm labeling with a high priority. @hornc Let me know if you agree or disagree

[2019-10-19 23:59] guyjeangilles commented on #835
@mekarpeles This was slated for a *2018 Q2* milestone. I'm labeling it as backlogged. Are there any plans to proceed with the aforementioned script?

[2019-10-20 00:08] guyjeangilles commented on #684
@mekarpeles I'm labeling this issue backlogged since it looks like it's deadline has been punted a few times. Let me know if you agree or disagree.

[2019-10-20 00:12] guyjeangilles commented on #1716
@jdlrobson @tfmorris @LeadSongDog @seabelis Labeling this as backlogged and needing assessment since it's a high priority issue with no assignee. I'm assuming it would be @seabelis because she's the Lead Community Librarian, but chime in with your opinions.

[2019-10-20 00:15] guyjeangilles commented on #1935
@hornc I'm labeling this as backlogged since it doesn't seem like much progress is happening. Let me know your thoughts.

[2019-10-20 00:22] guyjeangilles commented on #2073
@hornc There hasn't been progress on this in 4 months so I'm labeling it as backlogged. Let me know your thoughts.

@tapaswenipathak Feel free to fork and take a stab at solving this issue and reporting back in this thread.

[2019-10-20 00:28] guyjeangilles commented on #1215
Giving this a work in progress label. @mekarpeles @brad2014 Let me know if you agree or disagree

[2019-10-20 00:34] guyjeangilles commented on #2317
@mekarpeles @hornc I'm not sure who should be assignee to this issue, but I assumed it would be one of you two. Let me know if your thoughts.

[2019-10-20 00:39] guyjeangilles commented on #2308
Even though this issue is blocked, it needs an assignee. I'd recommend @cclauss or @salman-bhai since they're team leads for Python3. Let me know if your thoughts

[2019-10-20 00:41] guyjeangilles commented on #2329
I agree with @seabelis that #125 conflicts with this issue. I think someone (likely @mekarpeles ) needs to make a decision about Librarian's rights to edit. Let me know your thoughts.

[2019-10-20 00:47] guyjeangilles commented on #977
@hornc I added backlogged and refactor labels to this issue based on the thread. Let me know your thoughts

[2019-10-20 00:49] guyjeangilles commented on #2340
@jdlrobson I'm adding a work in progress label based on this thread. Let me know if you agree or disagree.

[2019-10-20 00:54] guyjeangilles commented on #1003
It looks like this issues is stalled. I'm adding a backlogged and needs assessment label. Let me know if you agree or disagree @cdrini @jdlrobson

[2019-10-20 01:01] guyjeangilles commented on #890
From the chatter here and the slack, I'm labeling this as a work in progress. However, there is no assignee. I'm assuming @cclauss and @salman-bhai would be the best candidates as they are the team leads for Python3.

[2019-10-20 01:07] guyjeangilles commented on #1123
@jdlrobson Adding feature and work in progress labels per this thread. Let me know if you agree or disagree.

[2019-10-20 01:09] guyjeangilles commented on #2417
This issue needs an assignee. I'm assuming it would be @jdlrobson. Let me know if you agree or disagree. Also, adding a work in progress label.

[2019-10-20 01:12] guyjeangilles commented on #2274
@hornc Labeling as backlogged per it's category in the Continuous Import Pipeline project

[2019-10-20 01:17] guyjeangilles commented on #557
@mekarpeles Labeling this as backlogged. It also seems counter productive to leave a high priority issue to hacktoberfiest. Let me know your thoughts.

[2019-10-20 01:23] guyjeangilles commented on #2468
@jdlrobson Labeling this a work in progress. Let me know your thoughts

[2019-10-20 01:31] guyjeangilles commented on #2519
It looks like @jdlrobson is working on a PR to fix this issue. I recommend he be assigned to this issue. Let me know if you agree or disagree.

[2019-10-20 03:26] cclauss commented on #2308
I actually don’t believe that this is blocked and I have not seen any modern benchmarks that say that simplejson is faster than the current Standard Library json.

[2019-10-20 13:57] seabelis commented on #1935
This actually seems fixed. Not sure when that happened, but I just tried it on the work originally posted and it worked as it should.

[2019-10-20 13:57] #1935 closed

[2019-10-20 14:01] seabelis commented on #967
Still an issue. See this example, https://openlibrary.org/books/OL26414568M/Farbenblind. This is the German edition and does not have a subtitle. The subtitle from the work is appearing below the German edition title.

[2019-10-20 14:06] seabelis commented on #1716
If it's assigned to me does that mean I need to solve it? I'm still in bootcamp, lol!

[2019-10-20 14:17] seabelis commented on #2073
Related or duplicate of https://github.com/internetarchive/openlibrary/issues/1445?

[2019-10-20 16:46] tfmorris commented on #2128
Is this supposed to have two assignees? ( @mekarpeles & @cdrini )

[2019-10-20 17:43] hari-govind commented on #2490
Hi, I've a doubt. I removed the `import '../../../../vendor/js/jquery-autocomplete/jquery.autocomplete-modified.js';`  from `index.js` and without modifying the `autocomplete.js` file, built the js and css using `docker-compose exec web make css js` (and cleared browser cache)but the autocomplete still works. Is it normal that the autocomplete works even if `jquery.autocomplete-modified.js` is not

[2019-10-20 18:10] tfmorris commented on #1045
I'll defer to @mekarpeles since it was his issue. As literally stated, it's probably complete, but I think we create a ticket to fix the bad ids before closing this, if this ticket isn't going to cover that part.

[2019-10-20 18:24] tfmorris commented on #2028
I've updated Brad's note with the correct username for mek. @mekarpeles wasn't pinged before when @brad2014 wrote his question.

[2019-10-20 18:29] jdlrobson commented on #2490
I recommend doing
docker exec web bash

and checking the content of static/build/all.js matches what you are getting in your browser.

If so.. maybe this code is being replaced by the jquery ui one and that's all that's needed here.

Writing a unit test for autocomplete.js may also help you here

Maybe you could add console.logs to confirm if the new file is being compiled?

[2019-10-20 18:32] tfmorris commented on #2317
I don't know anything about these plugins, but it seems like if there were a PR per plugin that removed it, they could be reviewed individually and cleaned up. ie make this a series of PRs instead of an issue.

[2019-10-20 19:28] mekarpeles opened #2531 "Improve mobile CTA on Editions pages"
Read/borrow button appears far below the fold on mobile UI for editions page

### Screenshot

<img alt="openlibrary org_books_OL25930651M_The_Three-Body_Problem(Pixel 2)" src="https://user-images.githubusercontent.com/978325/67164980-ca561980-f334-11e9-9188-62c47e5ee829.png" width="300">

### Relevant url?

https://openlibrary.org/books/OL25930651M/The_Three-Body_Problem

### Expectation

Show CTA

[2019-10-20 20:17] tfmorris commented on #2308
[This](https://stackoverflow.com/a/16131316/167425) SO answer claims that simplejson is faster than Python 2.7 json for loading, but I'm not sure it's significant for the amount of JSON we deal with.

Given that we're only a couple of months from the retirement of Python 2.7 and we don't want to have to do all the work on Dec. 31, I'm happy to consider this unblocked.

[2019-10-20 21:53] cecyc commented on #2531
I can work on this! 🙋

[2019-10-21 00:10] guyjeangilles commented on #1045
Perhaps we rename the ticket to specifically remove these duplicate ocaids to keep the context.

[2019-10-21 00:22] guyjeangilles commented on #1716
@seabelis Not necessarily. In short, the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do so,

From the Managed Labels Wiki

[2019-10-21 00:35] guyjeangilles commented on #2073
They both seem to be related to /type/redirect/ but I don't see mention of /type/direct in #1445 so perhaps they are different issues. I'm not too sure though

[2019-10-21 00:42] guyjeangilles commented on #2317
@jdlrobson Since it sounds like you tested removing these unused plugins would you like to be assignee for this issue?

Note: being assignee doesn't necessarily mean you are responsible for doing the work. From the Managed Label Wiki:

[2019-10-21 00:50] guyjeangilles commented on #2308
Blocked state removed. @cclauss Are you willing to be assignee for this issue? Note, being assignee does not necessarily mean you are responsible for doing the work for this issue, just responsible for gathering pertinent information to start the work.  From the Managed Label Wiki:

[2019-10-21 00:56] guyjeangilles commented on #2531
@cecyc Since you volunteered to work on this project, I am making you assignee and changing the state of this project to work in progress.

[2019-10-21 01:00] guyjeangilles commented on #2055
Labeling this backlogged since it doesn't look like it's been worked on since May. Let me know your thoughts @mekarpeles

[2019-10-21 01:02] guyjeangilles commented on #931
Labeling this as backlogged since there's been no updates since May. @mekarpeles @LeadSongDog @tabshaikh Does there need to be more investigation into what is the cause of this issue?

[2019-10-21 01:05] guyjeangilles commented on #1414
Labeling as backlogged since there's been no activity since May. @mekarpeles @hornc Is there a programmatic way to see how many and which covers are affected. Also, do we know which areas of the code base would be responsible?

[2019-10-21 01:09] guyjeangilles commented on #2066
@mekarpeles @JeffKaplan Labeling as backlogged since there hasn't been activity since may. I'm guessing either one of you have the knowledge to breakdown this Epic, is it simply a matter of carving out the time to do so?

[2019-10-21 01:12] ManishAradwad commented on #2279
Which HTML files am i supposed to edit for this?? Also how can i generate the webpage, is there a command like `make html` or should i just add the button in html file and submit a pr??

[2019-10-21 01:15] guyjeangilles commented on #2205
Labeling as backlogged per it's category in the Continuous Import Pipeline project. Let me know your thoughts @hornc

[2019-10-21 01:27] guyjeangilles commented on #2177
I think the Bug label is the most applicable for this issue but let me know if y'all disagree.

[2019-10-21 01:29] guyjeangilles commented on #900
I added the Search theme and the Feature type (I was split between Feature and Refactor for the latter). Let me know your thoughts.

[2019-10-21 01:35] jdlrobson commented on #2317
It would be better to assign this to someone who knows how the Python plugins system works and that's not me.

[2019-10-21 01:49] guyjeangilles commented on #890
@cclauss Is that emoticon a yes to being assignee? It looks like you and @hornc are responsible for nearly all the PRs in the breakdown of tasks.

[2019-10-21 03:39] cclauss commented on #890
Yes I am OK to be

[2019-10-21 07:18] hari-govind commented on #2490
Hi, thanks for the reply!
I've made sure that the file is being compiled by adding console.log to `index.js` and I can see the new log in my browser.

That means no changes are to be made to `autocomplete.js`?

Since it is certain that `index.js` is indeed being compiled, the next step is to write a unit test for `autocomplete.js`?

[2019-10-21 15:40] seabelis commented on #1716
You can assign it to me but it may not get my full attention at least until December.

[2019-10-21 18:20] seabelis commented on #2084
Would it be possible to do something like this, not auto-scrolling (and not circles), but displaying a central image with details and borrow link? We shouldn't rely on covers to provide the title as plenty of legit covers don't have one, but I think it may look cluttered to show so much information all at once. http://demo7.dnngo.net/20047/en-us/sliders/contentslider.aspx
Or maybe some kind of mou

[2019-10-21 19:25] seabelis opened #2539 "Discussion: In which cases should illustrators be considered work-level authors?"
In general, illustrators should be added at the edition-level. However, there are cases where it may be appropriate to list the illustrator at the work-level.

One fairly obvious case would be works that are graphic-only. But how about children's picture books where the illustrator gets top billing on the cover? Many adapted classics do not list the author responsible for the adapted text but list

[2019-10-21 20:38] seabelis commented on #2177
Duplicate of https://github.com/internetarchive/openlibrary/issues/2251?

[2019-10-21 23:07] guyjeangilles commented on #2177
I agree with @seabelis. @mekarpeles I propose closing #2251 as a duplicate.

[2019-10-21 23:09] guyjeangilles commented on #2251
@mekarpeles I'm proposing to close this issue since it appears to be a duplicate of #2177

[2019-10-21 23:11] guyjeangilles commented on #2539
Adding a work in progress label per the [Managed label wiki](https://github.com/internetarchive/openlibrary/wiki/Using-Managed-Labels-to-Track-Issues)

[2019-10-21 23:16] guyjeangilles commented on #1069
@cdrini I'm adding a `Backlogged`, `Refector/clean-up`, and `Needs Assessment` labels. Let me know your thoughts.

[2019-10-21 23:23] guyjeangilles commented on #151
@hornc Since you added one of your labels I'm assuming you are willing to be assignee for this issue?
Note: being assignee doesn't necessarily mean you are the one doing the work for the issue but responsible for collecting information needed to devise a solution. From the wiki:

I've added labels based on the issues age and context. Let me know your thoughts.

[2019-10-21 23:30] guyjeangilles commented on #157
@bencomp Can you provide an example url that showcases this issue?

@hornc This seems like an issue in your purview. Can you confirm that this is still the case? Also are you willing to be assignee for this issue?

Note: being assignee doesn't necessarily mean you are the one doing the work for the issue but responsible for collecting information needed to devise a solution. From the wiki:

I've a

[2019-10-21 23:30] jdlrobson commented on #2251
Duplicate. Retaining the older ticket.

[2019-10-21 23:30] #2251 closed

[2019-10-21 23:35] jdlrobson commented on #2177
When I visit https://openlibrary.org/authors/OL35524A/R._L._Stine
I see an XHR request for https://openlibrary.org/authors/OL35524A/R._L._Stine
with the following response:
[code]

The headers gives the issue:
[code]
I see two issues here
* the client JavaScript needs to handle errors better
* it should send the correct ids. e.g. {ids: ["OL15095146W?", .. not "?edition=best"

[2019-10-21 23:35] guyjeangilles commented on #192
@mekarpeles Is this still an issue? I didn't the above functions in the support.py file in the directory.

If this is still an issue, are you willing to be assignee?

[2019-10-21 23:40] guyjeangilles commented on #199
@hornc This issue seems to be something you'd handle. Are you willing to be assignee?
Note: being assignee doesn't necessarily mean you are the one doing the work for the issue but responsible for collecting information needed to devise a solution. From the wiki:

Also, @seabelis I think your input would be valuable in this thread as well.

I've added labels given the context of this thread.

[2019-10-21 23:54] guyjeangilles commented on #213
Closing this issue as it seems fictfact.com is defunct [source 1](https://community.qvc.com/t5/Book-Club/FICT-FACT-IS-NOW-CLOSED/td-p/5471560) [source 2](https://the-digital-reader.com/2019/05/21/fictfact-is-shutting-down/).

@briankirsten It appears you're a team member of FictFact. The social media accounts still seem active. Are there plans to make a similar service?

[2019-10-21 23:54] #213 closed

[2019-10-22 00:00] guyjeangilles commented on #339
@hornc This looks like an issue you'd tackle. Are you willing to be assignee? Note: being assignee doesn't necessarily mean you are the one doing the work for the issue but responsible for collecting information needed to devise a solution. From the wiki:

I've added labels per the issue's context. Let me know if you agree or disagree.

[2019-10-22 00:03] guyjeangilles commented on #383
@mekarpeles @jessamynwest Is this still an issue? If so, @mekarpeles are you willing to be assignee for this issue?

I've added labels given the issue's context. Let me know if your thoughts.

[2019-10-22 00:06] guyjeangilles commented on #395
@mekarpeles Is this still an issue? If so, are you willing to be assignee? Note: being assignee doesn't necessarily mean you are the one doing the work for the issue but responsible for collecting information needed to devise a solution. From the wiki:

[2019-10-22 00:11] guyjeangilles commented on #422
@skylerbunny @mekarpeles The WorldCat link for the edition in the issue properly redirects to this OCLC url: https://www.worldcat.org/title/phoebe-and-her-unicorn/oclc/952649184. I'm proposing we close this issue. Let me know your thoughts.

[2019-10-22 00:14] jdlrobson commented on #2490
It looks like jQuery UI includes $.autocomplete so yeh it sounds like we can just remove the file.
Once you've tested it locally submit the patch. No need to write a unit test (in fact the existing code might not lend itself very well to one). Please update the package.json bundlesizes (after running `npx bundlesize` to show the bytes saving you've helped us win! :-)

[2019-10-22 00:34] guyjeangilles commented on #425
@skylerbunny While there's no notice that I've encountered while editing, I haven't encountered the delayed indexing, so I'm proposing to close this issue. @mekarpeles I'm not sure who should be assignee so I'm defaulting to you. Note: being assignee doesn't necessarily mean you are the one doing the work for the issue but responsible for collecting information needed to devise a solution. From th

[2019-10-22 00:39] guyjeangilles commented on #359
There still seems to be no bookmark functionatliy. @cdrini I believe this is your area of expertise. Are you willing to be assignee for this issue? Note: being assignee doesn't necessarily mean you are the one doing the work for the issue but responsible for collecting information needed to devise a solution. From the wiki:

I've added labels per the issue's context.  Let me know your thoughts.

[2019-10-22 00:43] guyjeangilles commented on #369
Considering this only affects the 1st gen iPad and that the 1st gen iPad is technically not supported by Apple anymore, I propose we close this issue and leave this device unsupported.

[2019-10-22 00:47] BrittanyBunk opened #2542 "Add a box for copyright company name"
It's different than the publisher and I feel it would help to have - to prevent confusion.

[2019-10-22 00:52] guyjeangilles commented on #404
@mekarpeles I'm not sure who should be assignee for this issue, so I'm defaulting to you/your suggestion. Note: being assignee doesn't necessarily mean you are the one doing the work for the issue but responsible for collecting information needed to devise a solution. From the wiki:

I've added labels per the issue's context. Let me know your thoughts.

[2019-10-22 01:11] jessamynwest commented on #383
I no longer have access to the admin interface,sorry to not be able to help.

[2019-10-22 01:12] jessamynwest commented on #369
I concur.

[2019-10-22 02:06] LeadSongDog commented on #425
@guyjeangilles I don’t agree. When adding the first work by an author, one creates a new author record. It gets a new olid. Until indexed, that new record is only accessible via that olid URL, meaning that author record cannot be added to other works. This is a real problem because it leads to the creation of duplicate author records. It needs fixing, or at a bare minimum an explanation to users.

[2019-10-22 07:40] bencomp commented on #157
I get 58,000+ results when I search for books published by "distributed by": <https://openlibrary.org/search?q=publisher%3A%22distributed+by%22&mode=everything&m=edit>

To get to an edition, I have to click through some pages and find an edition in the list, like:

- https://openlibrary.org/books/OL23245240M/Pride_and_prejudice
- https://openlibrary.org/books/OL1449213M/Pride_and_Prejudice

These

[2019-10-22 14:00] hari-govind commented on #2490
I deleted the `vendor/js/jquery-autocomplete/jquery.autocomplete-modified.js` and the search seems working fine.
I get this after running `npx bundlesize`:
[code]
So in package.json, I replace the old maxSize with the new size shown in the output(left side of `<` symbol)?

[2019-10-22 14:13] LeadSongDog commented on #2539
Opinion: this should hinge on the question “Is the original work graphic or textual?” Captions don’t make a photo narrative into a storybook. An “illustrator” bases their graphics on existing text without changing that text. If the publisher of the first edition identifies an “illustrator”, it should be clear.

[2019-10-22 21:20] LeadSongDog commented on #157
@bencomp
The top six entries account for ca. 21k of those 58k results, that might be addressed en bloc:

Turtleback Books Distributed by Demco Media 8,824
Tandem Library 3,176
Distributed by Random House 2,848
Knopf 2,323
Distributed by Publishers Group West 1,724
Manchester University Press 1,580
Distributed by Crown Publishers 1,203
Sold and distributed in the U.S.A. and Canada by Kluwer Academi

[2019-10-22 22:10] guyjeangilles commented on #425
Now that I've specifically added the first work to an author, I can see how a user would repeatedly add authors until one of them indexed. I agree with you @LeadSongDog

[2019-10-22 22:29] guyjeangilles commented on #282
The API still behaves like this. It also looks like there wasn't consensus on what the approach moving forward should be.

@hornc This looks like something in your purview. Are you willing to be assignee? Note: the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do so,

From the Managed Labels Wiki

I've added labels

[2019-10-22 22:33] guyjeangilles commented on #382
@mekarpeles I'm not sure who would be best assignee for this issue so I'm defaulting to ask you. Note: the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do so,

From the Managed Labels Wiki

I've added labels per context: let me know your thoughts.

[2019-10-22 22:37] guyjeangilles commented on #472
@higagan It's been two years, was a solution ever worked out?

I've added labels per context: let me know your thoughts.

[2019-10-22 22:42] guyjeangilles commented on #474
@mekarpeles Is this still a problem? The link in the issue directs to a book with a waitlist. Also, are you willing to be assignee for this issue? Note: the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do so,

From the Managed Labels Wiki

I've added labels per context: let me know your thoughts

[2019-10-22 22:46] guyjeangilles commented on #503
The goodread's link still isn't working properly. @hornc Are you willing to be assignee for this issue? Note: the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do so,

From the Managed Labels Wiki

I've added labels per context: let me know your thoughts.

[2019-10-22 22:53] guyjeangilles commented on #504
The UI seems a little different now than when this issue was made. Specifically, the borrow button becomes "Join Wait list"
![join_waitlist](https://user-images.githubusercontent.com/7256157/67341155-9f2f1e00-f51e-11e9-825b-e53768cb15a6.png)

@bfalling Are you still seeing this issue? If not, I propose closing this issue

[2019-10-22 22:59] guyjeangilles commented on #523
Several things:

#524 is referenced as a subtasked of this issue, so I'm tagging this issue as Epic and #524 as Sub-Epic.

@hornc I think it makes more sense to discuss proposals to this standard format in github issues to better solicit input from the community.

Also, if this is actually done and #524 as well, I propose closing this issue. If both this issue and #524 are not done, are you willin

[2019-10-22 23:02] guyjeangilles commented on #2317
@cclauss @salman-bhai Since you are the Python3 leads, are either one of you willing to be assignee for this issue/make PRs for each plugin per @tfmorris suggestion?

[2019-10-22 23:05] guyjeangilles commented on #524
More details at the parent epic issue: https://github.com/internetarchive/openlibrary/issues/523#issuecomment-545191150

I've added labels per the context

[2019-10-22 23:12] guyjeangilles commented on #562
https://openlibrary.org/accounts/loans shows the books I've checked out. I propose closing this issue.

[2019-10-22 23:15] guyjeangilles commented on #563
@mekarpeles @JeffKaplan Is this still an issue? If so, I'd expect @mekarpeles or @hornc being assignee for this issue. Are either of you willing? Note: the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do so,

From the Managed Labels Wiki

I've added labels based on context: let me know your thoughts

[2019-10-22 23:20] guyjeangilles commented on #566
The specific link in the original issue doesn't have a "-1" coverid but it still looks like the manage.html file still can create -1 coverid's.

@cdrini Are you willing to be assignee for this issue? Note: the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do so,

From the Managed Labels Wiki

I've added labels base

[2019-10-22 23:28] guyjeangilles commented on #556
@jdlrobson Even though #2541 is meant to resolve #2177 , you may be able to kill two birds with one stone and address this issue too.

If you agree, are you willing to be assignee for this issue?

[2019-10-22 23:41] guyjeangilles commented on #607
@mekarpeles If I remember correctly, authentication was all moved over to archive.org and thus this problem doesn't exist anymore. Thus I propose to close this issue. Let me know your thoughts.

[2019-10-22 23:44] guyjeangilles commented on #341
@bfalling Is this still a problem? If so, @mekarpeles I'm defaulting to asking you to be assignee. Note: the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do so,

From the Managed Labels Wiki

I've added labels based on context: let me know your thoughts

[2019-10-22 23:49] guyjeangilles commented on #290
The specific ISBN links in the this thread seem to be working minus the one mentioned by @LeadSongDog. @hornc Has there been any progress on the different search methods on the site and the API?

Also, @hornc are you willing to be assignee for this issue? Note: the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do s

[2019-10-22 23:55] guyjeangilles commented on #614
@LeadSongDog Can you provide a URL showcasing poor representation of DDC?

Also, @seabelis I think your input would be valuable for this issue. Are you willing to be assignee? Note: the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do so,

From the Managed Labels Wiki

I've added labels based on context: let me kno

[2019-10-22 23:59] guyjeangilles commented on #512
I agree with @LeadSongDog. This appears to be a duplicate of the older issue #352. I propose closing this issue.

[2019-10-23 00:09] guyjeangilles commented on #623
I think this relates to #2177 and #556

Also, @mekarpeles It looks like you've thought about how to implement a solution to this issue, are you willing to be assignee? Note: the assignee in the triage stage is the person gathering information so that the eventual person who does the work is best enabled to do so,

From the Managed Labels Wiki

I've added labels based on context: let me know your t

[2019-10-23 00:12] guyjeangilles commented on #2177
Per [this comment](https://github.com/internetarchive/openlibrary/issues/623#issuecomment-340624629) on #623, it seems the availability API maxes at 1000 works. I know @cdrini screenshot shows 330 works, but maybe this API limitation is related?

[2019-10-23 00:23] guyjeangilles commented on #584
@cdrini @tfmorris I don't think there is a autocomplete function in OL currently. I believe we wanted to implement something like [Freebase](https://developers.google.com/freebase/v1/search-widget).

@eloquence I believe the OL team has deprioritized search for the time being, but if you are willing develop a solution, are you willing to be assignee for this issue? if not @cdrini @tfmorris, are on

[2019-10-23 00:26] #369 closed

[2019-10-23 01:06] cclauss commented on #2317
Not me, sorry!  We have 70 days until Python 2 EOL and the time that I can dedicate to web.py, Infogami, and Open Library will be focused on compatibility with Python 3.  I am supportive of this effort but will not directly engage.

[2019-10-23 01:21] LeadSongDog commented on #614
@guyjeangiles
Example at https://openlibrary.org/books/OL2589429M/The_crown_of_wild_olive
Other editions mostly omit DDC while at least one has a different DDC entirely.

[2019-10-23 05:13] tfmorris commented on #614
We don't use this field for anything currently, so this is purely a cosmetic (and thus low priority) issue.

What should the normalized format for an imported MARC 082 field look like?

[2019-10-23 05:17] tfmorris commented on #2317
I'm not sure why ever issue needs an assignee. We have way more issues than people to work on them all the employees are being tasked to work on things just for show, so they're not even available.

I think we should adjust the guidelines to acknowledge that there are some things which are important, but not assigned to anyone.

[2019-10-23 05:40] tfmorris commented on #512
Agreed. Let's be bold and just make it so...

[2019-10-23 05:40] #512 closed

[2019-10-23 05:47] tfmorris commented on #584
First, congrats to @eloquence for figuring out how to hack the API in an undocumented way to get (kinda) what he wants, but clearly doubling the search load (ie two calls for every autocomplete) isn't sustainable for a production system.

Engineering autocomplete APIs is a well known science. We should just follow one of the existing patterns (and that my break this hacky homebrew solution).

[2019-10-23 08:41] seabelis commented on #614
@guyjeangilles Yes, you can assign to me.

[2019-10-23 13:33] seabelis commented on #2138
Related to https://github.com/internetarchive/openlibrary/issues/352?

[2019-10-23 15:47] jdlrobson opened #2547 "Book sponsorship carousel is not optimised for mobile"
### Evidence / Screenshot (if possible)
<img src="https://user-images.githubusercontent.com/148752/67410897-a0d60180-f571-11e9-9776-660ecb3a9152.jpg" width="300px">

This is likely due to this issue further down the page
<img src="https://user-images.githubusercontent.com/148752/67411147-032f0200-f572-11e9-82a6-cc385fdb36b5.jpg" width="300px">

### Relevant url?

https://openlibrary.org/sponsorshi

[2019-10-23 18:39] BrittanyBunk opened #2549 "return button for books in 'loans' tab"
My suggestion
![Untitled](https://user-images.githubusercontent.com/55302685/67423810-c66f0500-f589-11e9-8e52-aca3f2c4c7ba.png)

[2019-10-23 20:32] LeadSongDog commented on #2138
@seabelis
Well, peripherally related, but when an orphan edition record exists, an author OLID also exists already and should be referenced in that edition record. Creating a work record should remove the reference to the author OLID from the extant edition at the same time it adds a linked work OLID. Normally this should happen when someone hits the "add another" [edition] link.

[2019-10-23 23:20] guyjeangilles commented on #2317
@tfmorris

This issue isn't the best place to hold this discussion, so I'll respond to your comment on #2028

[2019-10-23 23:41] guyjeangilles commented on #2028
on #2317 @tfmorris commented:

A few things:

The comment suggests that the assignee is doing the work to resolve the issue. This is not necessarily true.  In short, the assignee will be the person responsible for gathering/providing the info needed to resolve the issue. [More details on the Wiki](https://github.com/internetarchive/openlibrary/wiki/Using-Managed-Labels-to-Track-Issues). It often m

[2019-10-24 00:03] guyjeangilles commented on #620
I can duplicate this bug.

@cdrini @mekarpeles I'm not sure we want to leave this issue to a hackathon volunteer. Do either one of you want to be assignee? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-24 00:07] guyjeangilles commented on #627
@cdrini @tfmorris This seems like your area of expertise. Are either one of you willing to be assignee? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added tags per the issue's context: let me know your thoughts.

[2019-10-24 00:13] guyjeangilles commented on #201
@hornc since you've done some work on this already, are you willing to be assignee? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

Also, it seems like the PR process has been streamlined since this issue was made. I'm assuming merging changes would be a lot easier n

[2019-10-24 00:37] guyjeangilles commented on #640
I've been able to upload images with `"` in the name, but it still looks like search doesn't properly encode curly quotes. I think this may tangentially related to #333

@mekarpeles I'm defaulting to asking you to be assignee. Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the

[2019-10-24 00:41] guyjeangilles commented on #670
@mekarpeles Can you describe what ACS status is? That will make it easier for a volunteer to potentially contribute to this issue

I've added labels per issue context: let me know your thoughts

[2019-10-24 00:45] guyjeangilles commented on #672
@tfmorris @mekarpeles Is this still a problem?

[2019-10-24 00:52] guyjeangilles commented on #682
There still seems to be now "Read by" role. @hornc, this seems like something you'd handle. Are you willing to be assignee for this issue? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-24 11:22] seabelis commented on #2539
For example, in this work I would argue the illustrator should be top-level even though the text is Shakespeare's. Any arguments against in such cases? https://openlibrary.org/books/OL8065444M/Shakespeare's_Garden

[2019-10-24 14:16] mekarpeles opened #2550 "Borrowable works should always have bookcover (fallback to IA)"
On the search page, we have a lot of books on Open Library that are borrowable and don't have (work) bookcovers. In these cases, if we are seeing the borrow button, it's because we've identified an `ocaid` (i.e. archive.org identifier) for a book which is available. We should fallback to this archive.org item's cover URL if no work cover exists.

`https://archive.org/download/%s/page/cover_w%s_h%s

[2019-10-24 15:43] #2549 closed

[2019-10-24 15:48] BrittanyBunk commented on #2550
Why not let the bot use the preview feature you implemented to do so? Or, when a book's uploaded, it could ask the uploader to match it with the Open Library page and add a book cover. That way, the uploader can set it up rather than relying on a bot to do so - as they don't get it right a lot of the time.

[2019-10-24 15:49] LeadSongDog commented on #412
Perhaps the solution to this is to make this behave like the "What work is this an edition of" field: allow entry of _either_ the work ID or the work's vernacular title, then look up the work ID's associated title. It should store, index, and display both the ID and the vernacular title.

[2019-10-24 17:50] cdrini commented on #670
This is pretty old and doesn't have enough info; let's close. Mek can reopen if it's still an issue.

[2019-10-24 17:50] #670 closed

[2019-10-24 18:13] cdrini commented on #2549
Added it to their private repo :+1:

[2019-10-24 18:21] #422 closed

[2019-10-24 18:21] cdrini commented on #422
Yep; looks like it's fixed

[2019-10-24 22:38] Ignatiusdork commented on #2550
Hi, am new to the oss, and i would like to be assigned to this issue, some pointers will be helpful alot @mekarpeles .Thanks

[2019-10-24 23:43] guyjeangilles commented on #715
This still is a problem. @tfmorris @cdrini Are either one of you willing to assignee for this project? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-24 23:45] guyjeangilles commented on #1567
This too is still an issue. @tfmorris @cdrini Are one of you willing to be assignee for this issue? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-24 23:48] guyjeangilles commented on #716
I'm not seeing the donor begging in the links in the original issue. I propose closing this issue.

[2019-10-24 23:55] guyjeangilles commented on #707
@hornc This issue seems related to your work. Are you willing to be assignee. Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-25 00:02] guyjeangilles commented on #367
@LeadSongDog Was this issue ever migrated? If so, I propose closing this issue.

[2019-10-25 00:09] guyjeangilles commented on #705
@hornc Another issue that I think you should be assignee for this issue. Are you willing? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-25 00:13] guyjeangilles commented on #357
@mekarpeles Defaulting to asking you to be assignee. Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-25 00:19] guyjeangilles commented on #738
@mekarpeles Was this ever made? If not, I'm defaulting to asking you to be assignee. Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-25 00:24] guyjeangilles commented on #497
This still appears to be a problem. @hornc Are you willing to be assignee for this issue? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-25 00:29] guyjeangilles commented on #759
This still appears to be an issue. @jdlrobson Front-end seems to be your realm. Are you willing to be assignee for this issue? Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts

[2019-10-25 00:32] tfmorris commented on #715
This are two problems which need fixing here:
- Turn off English stemming on indexing for author names, since stemming is in appropriate for proper names (in addition to being English only)
- Use approximate search queries to find terms within a certain edit distance range - https://stackoverflow.com/a/20893636/167425

[2019-10-25 00:34] guyjeangilles commented on #452
@LeadSongDog Do you know what the current state of wikimedia QR project?

@mekarpeles I'm defaulting to asking you to be assignee. Note, being the assignee doesn't necessarily mean you are responsible for doing the work, just responsible for gathering/providing information to address the issue. From the Wiki.

I've added labels per context: let me know your thoughts