[2021-05-31 16:41] jdlrobson commented on #5153
If this is a browser upstream bug I would suggest filing a ticket against Firefox and moving on.

[2021-05-31 17:48] RayBB opened #5247 "Reporting a problem leads to blank page when not logged in"
Reporting a problem leads to blank page when not logged in.

### Evidence / Screenshot (if possible)
<img width="1236" alt="image" src="https://user-images.githubusercontent.com/921217/120227042-2442e480-c1e4-11eb-9a68-f23ba2ae8748.png">

### Relevant url?

https://openlibrary.org/contact

### Steps to Reproduce

1. Go to https://openlibrary.org/contact (while not logged in)
2. Report a problem
3.

[2021-05-31 21:38] RayBB commented on #4474
`openlibrary/templates/publishers/view.html` can be marked as done via  #5188

[2021-05-31 22:01] bpmcneilly opened #5248 "Componentize Header Dropdowns"
The current dropdowns that are being implemented in the header (#5181) are very similar to other dropdowns we've implemented elsewhere on the site (e.g. the language dropdown in #5087).

Both of these PRs were first envisioned as an accessibility-related solution to dropdowns, but making them componentized would allow us to consistently reproduce these elements, with less code overall. This would,

[2021-06-01 07:18] seabelis commented on #5218
This is also related to which edition is "best" and the one that patrons land on by default without any known preferred sort choice, language, etc. This may also determine which availability is displayed on carousels, but I'm not certain.

[2021-06-01 07:20] seabelis commented on #5218
I appreciate the fix, but I'm not sure moving the subtitle to the series field is a perfect solution. The subtitle probably shouldn't take precedence over availability in determining the default edition.

[2021-06-01 07:25] seabelis commented on #2954
I'll close this. I think it may have been solved with . #3310

[2021-06-01 07:25] #2954 closed

[2021-06-01 12:20] LeadSongDog commented on #5218
You’re right. The series should be Bunnicula. "A Vegetable Adventure" was ahead of title on just that edition, so I stated that in the edition notes.

[2021-06-01 12:47] LeadSongDog commented on #2303
Multiple scans of a single physical copy also represent a way to reduce OCR errors, but that’s an IA process, not OL.

[2021-06-01 14:31] Yashs911 commented on #4253
@jdlrobson current version `"css-loader": "5.2.4",`. So I guess we can close this issue.

[2021-06-01 14:48] #4253 closed

[2021-06-01 17:42] seabelis opened #5254 "Allow xxxx in date field when adding new edition"
If an edition has no date, Xs may be used as placeholders according to our documentation regarding publication dates. However, when adding a new edition, only numbers are allowed.

### Evidence / Screenshot (if possible)
<img width="864" alt="Screenshot 2021-06-01 at 19 40 04" src="https://user-images.githubusercontent.com/17739465/120367454-2ce50900-c311-11eb-9e19-672e7f8b5feb.png">
### Relevant

[2021-06-01 19:17] mekarpeles commented on #4989
@Evazisouli would you like to help us solve this one? And I'll make @jamesachamp point for now

[2021-06-01 19:34] mekarpeles commented on #5206
@BharatKalluri this may be a good one for us to investigate together w/ @cdrini

[2021-06-01 19:35] mekarpeles commented on #5215
We can see the error by going directly to this url (w/ `debug=true`)
https://openlibrary.org/people/dcapillae/lists/OL197248L/Rif_War/export?format=json&debug=true

[2021-06-01 19:38] mekarpeles commented on #5215
@dherbst this was possibly an accidental regression based on changes to `plugins/openlibrary/list.py` -- do you mind taking a look?

[2021-06-01 19:39] mekarpeles commented on #5243
Does the admin UI fail to unmerge these?

[2021-06-01 19:40] mekarpeles commented on #5218
@cdrini mentioned (I think, correctly) that `printdisabled-only` books might throw these off (and we don't exactly have this information cleanly within solr...

[2021-06-01 19:48] mekarpeles commented on #5217
@seabelis -- @cdrini + @jamesachamp and I went through triage and thought this was a P3 because it's "work-aroundable" (non-blocking). If this is wrong and should be P2 or higher, please let @jamesachamp know.

[2021-06-01 19:53] cdrini opened #5255 "Google Analytics pageviews stopped on Mar 28"
For some reason all the analytics stopped (~0) on the 28th :/

https://analytics.google.com/analytics/web/?authuser=1#/report/content-pages/a50678244w115826759p121108584/_u.date00=20210301&_u.date01=20210531/

### Proposal & Constraints

### Related files

### Stakeholders
@jdlrobson  (perhaps related to some JS changes?)

[2021-06-01 19:54] jamesachamp opened #5256 "Login, log out, and account creation broken on development instance"
I am unable to log out on my local instance.  Account creation and login pages also throw errors when loaded.

### Evidence / Screenshot (if possible)

### Relevant url?

The following pages display error messages:
http://localhost:8080/account/login
http://localhost:8080/account/create

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?** Both

[2021-06-01 23:21] jdlrobson commented on #5217
Looks fine for me right now. Did this get fixed? Or maybe this was a problem relating to cached assets?
https://openlibrary.org/works/OL1841317W/Star_Wars_-_New_Jedi_Order_-_The_Final_Prophecy/add-cover

[2021-06-01 23:37] jamesachamp commented on #4989
Adding the missing keys to the mocked CiviCRM API response should solve this issue.  Mocked response is found in `account.py`: https://github.com/internetarchive/openlibrary/blob/76f28b83eec379945fff6e2d66a6138adfad180c/openlibrary/plugins/upstream/account.py#L842-L861

[2021-06-01 23:39] jdlrobson commented on #5256
Yuck! his is why I hate inline Javascript :) thanks for catching!

The changes you've proposed fix this for me locally so I dont think we need to roll back. Is there anyway to apply them post-merge or does somebody need to create a pull request with those changes?

[2021-06-01 23:45] #5256 closed

[2021-06-02 01:01] cdrini commented on #5215
Specifically I think it was this one: f9de97d . Actually this looks super quick to fix :P I'll open an issue.

[2021-06-02 03:00] Yashs911 commented on #5217
For me:

https://user-images.githubusercontent.com/64412143/120416206-66059380-c37a-11eb-8015-37216b6e58d1.mp4

[2021-06-02 05:05] seabelis commented on #5243
@mekarpeles Yes.

[2021-06-02 05:31] jdlrobson commented on #4474
We are getting very close to our goal!
@lephemere is looking at openlibrary/templates/books/edit/addfield.html and openlibrary/templates/type/author/view.html

 I'm looking for help with the remaining tasks here.

Beginner/good first tasks:

*  openlibrary/macros/LoanStatus.html (move code into index.js verbatim)
* openlibrary/macros/TypeChanger.html (move global into index.js along with the thing

[2021-06-02 12:10] dherbst commented on #5215
Thanks @cdrini.  Sorry I missed that one.

[2021-06-02 14:42] Yashs911 commented on #4474
It basically selects two latest revision radio inputs (a10 and b11) and if only one revision is present then it selects (a1, b1)
![image](https://user-images.githubusercontent.com/64412143/120500914-d1814c80-c3de-11eb-8638-3603ac89d912.png)

[2021-06-02 19:45] cdrini commented on #5108
This is likely also causing a dip in the performance of this page. This is the PR that introduced it: #4597

[2021-06-02 19:48] cdrini opened #5263 "Last deploy broke cron jobs"
More investigation needed

### Proposal & Constraints

### Related files

### Stakeholders
@mekarpeles

[2021-06-02 19:54] cdrini commented on #5135
Proposed solution: Exclude "Internet Archive" from drop downs on https://openlibrary.org/books/add and edit book page for non-admin, non-librarian users. Not bullet proof, but sufficient.

Longer term we might want the OCAIDs to be added in some way, but the interface should only show the availability button if it meets a certain set of criteria.

Blocks mass IA imports, because the books we want

[2021-06-02 20:07] #5215 closed

[2021-06-02 20:17] cdrini commented on #628
@LeadSongDog I believe the issue you're describing is documented here:  #2625 . It's not related to solr indexing.

[2021-06-02 20:23] cdrini commented on #870
I investigated during a full reindex and pinned down / fixed a number of the issues. See #4337 . The one causing subsequent edits to be ignored is handled in #5234  . With solr 8 and #5234 , our solr admin https://openlibrary.org/admin/solr can be used to _actually_ force a document to be reindexed. Closing, since main actionables are in different issues.

[2021-06-02 20:23] #870 closed

[2021-06-02 20:48] cdrini commented on #5212
Sounds perfect! The last thing I think that needs doing is making the default sort order "Random" ; that'll make the shelves have different books on a regular basis, which would be nice.

[2021-06-02 20:57] LeadSongDog commented on #2500
Seems to be effectively blocked by #352, as there is still no way to create an author record except via edits to a work page’s author entry. Unless that issue gains some priority this one is going nowhere.

[2021-06-03 00:24] cdrini commented on #3989
Plan is to dump the reading log table, and extract data with the following columns:

| WorkId | EditionId? | Date | Shelf
| --- | --- | --- | --- |
| OL151997W | NULL | 2020-08-10 | Want To Read

Similarly for ratings

| WorkId | EditionId? | Date | Rating |
| --- | --- | --- | --- |

This format will allow temporal analysis, which is nice, and is also easier to export.

[2021-06-03 15:15] LeadSongDog commented on #2625
@cdrini To answer your OP: no (except for orphan editions and perhaps imports-in-process), and no (which is a problem in need of an issue).

[2021-06-03 16:49] LeadSongDog opened #5265 "UI lacks a way to delete incorrect author links from edition records"
The UI permits author link corrections on work records only. Correcting those links fails to correct the corresponding link on editions, so those editions remain nonsensically linked to the wrong author record and appear as such in solr indexing. This makes author disambiguation fruitless.

### Evidence / Screenshot (if possible)
Discussed at #2625

Changing Austin to Jon W Austin here:
https://op

[2021-06-03 17:28] mekarpeles commented on #4252
What we learned today...

## Log Rotation

In order for **anonymized** log rotation and backups to occur, we rely on a petabox script called `/opt/petabox/sw/bin//archive-weblogs.py`.

Some notes, (yikes):
1. ol-www1's version of petabox is from 2014 and not version controlled
2. `archive-weblogs.py` has since been migrated to python3 in petabox
3.`ol-www0` will need this script **and** `ol-www1`'

[2021-06-03 17:57] anandology commented on #5014
Renaming a users will break the existing links to their profile. It is also important to add a redirection to the new URL, just like how github does when a repo is renamed.

[2021-06-03 18:01] anandology commented on #5014
There are some function to do some reindexing. I think both `store_index` and `data` tables can be repopulated by calling the appropriate code after updating the `store` and `thing` tables respectively.

IIRC, the keys are  cached in memory/redis as infogami is built with the assumption that the key will never change. The change may have to be invalidated as well.

[2021-06-03 20:30] RayBB commented on #5254
@seabelis would it be preferable to allow it to be blank on the website and then on the server side add the xxxx automatically?

[2021-06-03 20:34] RayBB opened #5266 "many timeouts today"
Today I've gotten several timeouts with the following error:
[code]

### Relevant url?
It happened on urls like https://openlibrary.org/authors/OL2670930A/Rick_Kazman but it doesn't happen consistently.

### Steps to Reproduce
Not clear

* Actual: error message
* Expected: no error message

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF
- **Operating system?** Mac
- **Environ

[2021-06-03 21:26] cdrini commented on #5266
Yep! This looks as a result of the #3317 testing. Last time it stabilized after an hour or so, but it seems like it's still kicking around. My current hypotheses:

(1) Our solr-updater triggers a solr `<commit/>` every minute; this seems to cause a noticeable dip in performance. With solr8, we should be making use of automatic soft commits, and not explicitly calling commit. That will require some

[2021-06-03 21:26] cdrini commented on #5266
Here is the current average load time for search pages. I switched both web heads to hit solr8 ~19:00 (UTC)

![image](https://user-images.githubusercontent.com/6251786/120714190-e4ecf000-c490-11eb-89e9-02e1f8b9c52a.png)

[2021-06-03 21:38] cdrini commented on #5266
It went down a little, but not enough. Another hypothesis is that I need to run an optimize step. I had to run this on the old Solr, but wasn't sure if this need it. Going to give that a go, and switch production back to the old solr in the mean time :+1:

[2021-06-03 21:56] RayBB opened #5267 "harry potter is the first book in the computer science section of library explorer"
I see that harry potter is the first book in the computer science section of library explorer. Not sure how it works but it seems like that is the wrong place.

I reported it as an issue to the librarians and they said:

### Evidence / Screenshot (if possible)
<img width="1074" alt="image" src="https://user-images.githubusercontent.com/921217/120716943-73964880-c462-11eb-9d13-5d098ecb2cf2.png">

#

[2021-06-03 22:52] cdrini commented on #3317
Ok, perf issues! Here are my potential suspects

(1) Our solr-updater triggers a solr `<commit/>` every minute; this seems to cause a noticeable dip in performance. With solr8, we should be making use of automatic soft commits, and not explicitly calling commit. That will require some testing.
   - Still happening after stopped solr-updater...

(2) ~Confirm this server is using an SSD; can't recal

[2021-06-03 23:58] cdrini commented on #3317
Optimize complete; down to 1 segment (took 50min). Hooking it all back up again!

[2021-06-04 03:37] mekarpeles commented on #4379
Updating this thread, the problem seems very explicitly to be with this API and the underlying metadata coming from Archive.org behind the scenes:

https://archive.org/services/availability?identifier=traduction00arna_0

On Open Library @jamesachamp & I used the admin interface to `sync` the OL book w/ the IA book (which likely performs some sort of Archive.org Catalog-level `Book Op`) and 10 minu

[2021-06-04 14:26] seabelis commented on #5254
I don't think so. That would populate all blank years with xxxx rather than those specific items without a date. Blank just means it hasn't been filled in, not that the item is undated.

[2021-06-04 15:03] cdrini commented on #5267
This specific case was mostly just bad data, so fixed the record here: https://openlibrary.org/books/OL22596889M/Harry_Potter_and_the_Chamber_of_Secrets?m=diff&b=17 .

Also made the normalizer more robust to ignore situations like these: https://github.com/internetarchive/openlibrary/pull/5270/files#diff-ceef924335890bf09d5545b6745a4a68242405eb40a0a77480d6560b9ba3d920R68

[2021-06-04 17:13] cdrini commented on #3317
Things I've tried:

- [x] Starting solr8-update with `--no-commit`. It doesn't need to commit, since it's using the `commitWithin` flag set to 60s :/
    - Confirmed edits still going through ~every minute
- [x] Disabled replication in the UI - nothing changed as far as I can tell?
- [x] Confirmed SSD

Going to try adding an haproxy layer.

[2021-06-04 17:53] cdrini commented on #3317
Ok, solr (behind haproxy) hooked to production! Let's see how that does.

Also I've been monitoring the number of segments, and it's stabilized ~5-8 now? Before the optimize it was 26. So the optimize seems like a good thing to keep after the full reindex.

[2021-06-04 18:01] #5219 closed

[2021-06-04 18:07] #927 closed

[2021-06-04 19:47] mekarpeles commented on #5255
Something was changed such that the initAnalytics method was not being called in time to track anonymous page loads.

@samuel-archive helped @cdrini and I discover this by checking our chome network requests:

[code]

...and seeing that the analytics event was being fired with the wrong parameters (e.g. the default `service=ao_2` instead of `=ol`)

@cdrini hotfixed by side-stepping async js race c

[2021-06-04 19:49] cdrini commented on #3317
Woohoo! Performance seems to be peachy now :) Although `--no-commit` seems a little suspicious; it feels like `commitWithin` isn't always being respected? Will leave it on for a while...

[2021-06-04 20:01] cdrini commented on #3317
Ok, that made things immediately worse :/ Taking back off.

[2021-06-04 20:01] RayBB commented on #5254
In that case, what would you think about adding a checkbox for "undated"?
That may be a bit easier for folks without having to read docs to learn about the xxxx.

[2021-06-04 20:14] jdlrobson commented on #5255
We need to move away from the inline script as part of the changes I am leading, so would be great to understand what's happening here.

Can't this be done at the end of the index.js file? If not do we know why not?

[2021-06-05 02:42] #5108 closed

[2021-06-05 03:05] #4933 closed

[2021-06-05 09:04] STAMATIOSL commented on #2937
@jdlrobson Could you please give me some guidelines?

[2021-06-05 20:25] mekarpeles commented on #2599
@Sabreen-Parveen do you mind commenting on this thread so I may add you as the assignee?

[2021-06-05 20:28] Sabreen-Parveen commented on #2599
@mekarpeles I would like to work on this issue :D

[2021-06-06 14:45] jdlrobson opened #5274 "Docker takes up 34gb on my computer due to OpenLibrary"
The top left square of my hard drive is Docker relating to OpenLibrary  (34.1GB)
<img width="647" alt="Screen Shot 2021-06-06 at 7 42 11 AM" src="https://user-images.githubusercontent.com/148752/120928722-b5a9cf00-c69a-11eb-97fe-ca330b60a28b.png">

My concern is that this  requirement of disk space excludes a lot of would-be-contributors, particularly ones who cannot afford powerful machines.

Is

[2021-06-06 15:02] Yashs911 commented on #5274
+inf, and on windows, the default storage location of docker images is C drive, so when I started contributing, it was a huge problem,  but after days of research, I was finally able to shift it to D drive :)

[2021-06-06 15:47] Yashs911 commented on #5241
I updated the jest to the latest version (27.0.4) and ran the `npm run test` but I didn't get any errors.
![image](https://user-images.githubusercontent.com/64412143/120930819-8cc22200-c70c-11eb-852b-f357b86deda4.png)

[2021-06-06 18:02] FinixFighter opened #5275 "Adding two new identifiers"
Hi! I found two databases which are very useful and contain a lot of information about comic books. These two are the Grand Comics Database https://www.comics.org/ and I.N.D.U.C.K.S https://inducks.org/.

I think it would be good to add them to the list of identifiers, so that we can also add the respective ID numbers other than ISBN, Google, Amazon, etc...
These two database (INDUCKS in particula

[2021-06-07 05:49] RayBB commented on #5275
For anyone looking to do this you'll probably have to edit the config as mentioned here https://github.com/internetarchive/openlibrary/pull/5093#issuecomment-832196948

[2021-06-07 13:28] seabelis commented on #5254
Such a checkbox would be fine, but allowing Xs in the field should also be possible for those who have read the documentation. Or for situations where date is approximate, 19xx, for example. Ultimately, the formats used on the edition form should not be different from the "add a book" form.

[2021-06-07 19:10] cdrini commented on #5275
Sounds good! Easy to add; I need information in this format. Is there a pattern to the URLs? That way we can correctly link to them in the UI :)

[code]

[2021-06-07 19:12] mekarpeles commented on #5266
@cdrini has taken actions to monitor and we think this is resolved, closing for now, if this is noticed again, let's please re-open

[2021-06-07 19:12] #5266 closed

[2021-06-07 19:19] mekarpeles commented on #5255
We're testing this solution: #5277, which doesn't require the aforementioned hotfix

[2021-06-07 19:23] mekarpeles opened #5278 "CI breaking on ubuntu dependencies"
https://github.com/internetarchive/openlibrary/runs/2751909274

### Stakeholders

[2021-06-07 23:21] cdrini commented on #5278
@dhruvmanila @cclauss Do you by any chance have any ideas what might be causing this? 😬

[code]

[2021-06-07 23:25] #4876 closed

[2021-06-08 03:08] #5278 closed

[2021-06-08 05:52] FinixFighter commented on #5275
For Grand Comics Database the url is `url: https://www.comics.org/issue/@@@ `
Example: https://www.comics.org/issue/1642084/

For INDUCKS it is: `https://inducks.org/issue.php?c=@@@`
Examples:
-https://inducks.org/issue.php?c=br%2FPDCL++++1
-https://inducks.org/issue.php?c=it%2FTL+3412
-https://inducks.org/issue.php?c=cn%2FMC2001-19

[2021-06-08 09:21] jimman2003 opened #5282 "Update to Node 16"
Update Node to latest version, Node 16. This isn't LTS yet, but will be in October.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

@cdrini , @jamesachamp

[2021-06-08 15:30] cdrini commented on #5275
Ok! Should be there now :) Let me know if they're not working as expected!

[2021-06-08 15:30] #5275 closed

[2021-06-08 15:34] cdrini opened #5284 "Update author "Links" rendering code to use /config/author"
Currently, new identifiers added to /config/author won't appear in the "Links" section.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/121214689-58a24a80-c84d-11eb-918b-ac60705a1f81.png)

### Relevant url?
eg https://openlibrary.org/authors/OL18319A/Mark_Twain

### Steps to Reproduce
1. Go to https://openlibrary.org/authors/OL18319A/Mark_Twain
2

[2021-06-08 17:39] RayBB commented on #5274
Not sure if it's the same exact issue, but I've faced similar issues with Docker generally in relation to Docker reserving too much space with docker.raw https://github.com/docker/for-mac/issues/2297

If anyone is currently facing this issue I'd recommend trying out codespaces. It has worked quite well for me in developing open library https://github.com/features/codespaces

[2021-06-08 18:15] FinixFighter commented on #5275
It works! Thank you very much!
Here's an example: https://openlibrary.org/books/OL32014771M/Zio_Paperone_Co_La_Dinastia_dei_Paperi
Have a nice day! :)

[2021-06-09 01:03] cdrini commented on #5274
Hmm, could folks having this issue list the specific directories which are taking up space? As specific as possible would be nice, but don't go to too much trouble.

Also, can I get the results of:

`docker container ls -a`

`docker image ls`

`docker volume ls`

[2021-06-09 03:11] jdlrobson commented on #5274
`docker image ls` seems to give a clue. I had multiple openlibrary/olbase images.
A prune got rid of a bunch of them, but not sure how I ended up in this state!

[code]

After some pruning still 2 gb olbase's... are both needed?:

[code]

[2021-06-09 12:29] #4262 closed

[2021-06-09 20:26] #4322 closed

[2021-06-09 20:26] #5267 closed

[2021-06-09 20:40] jamesachamp commented on #5217
I think that this can be solved by capping the number of books shown be the carousel to 3 or 4.  Right now it seems that the carousel is allocating enough space to display 6 images at once, which is the default.

I see that we are able to set these values on Carousel initialization, but I'm unclear on how to change the values that are being passed for the add covers modal (or even *what* is being

[2021-06-10 00:10] #5255 closed

[2021-06-10 00:42] #4929 closed

[2021-06-10 18:09] omentic opened #5294 "Improve choosing of default edition for works"
### Describe the problem that you'd like solved

Currently, the default book version (what shows up when navigating to a book from the search) is seemingly random - and can vary across languages, even when those languages weren't the originally published language. Here's The Fellowship of the Ring, for example: https://openlibrary.org/books/OL28255957M/

(this also can vary within a series - like

[2021-06-10 18:09] j-james opened #5295 "Allow setting a default language"
### Describe the problem that you'd like solved
The Open Library catalogs books in every language they've ever been published in, which is fantastic, but currently that also means that when I open, say, the books in the Harry Potter series, half of them are in a different language.

### Proposal & Constraints
It would be great if users could set a default language (or country), and be treated with

[2021-06-11 07:31] jimman2003 commented on #2036
Some of the PPAs might have been deleted the xenial debs so the Ci is failng.. So we should bump this up?

[2021-06-11 08:11] mekarpeles commented on #2036
https://github.com/internetarchive/openlibrary/issues/2036#issuecomment-859350115

@dhruvmanila, @cclauss, or @BharatKalluri -- is this one you may have a few minutes to quickly investigate? If it seems like it may be a pain, @cdrini and I can prioritize or next week. @cdrini is currently PTO and I'm getting my 2nd covid shot tomorrow and will likely be out of commission for at least some of the w

[2021-06-11 08:27] mekarpeles commented on #5274
6GB better than 34GB!

[2021-06-11 10:07] cclauss commented on #2036
It would be important to look as upgrading both:
1. https://github.com/internetarchive/openlibrary/blob/master/docker/Dockerfile.olbase#L1
2. https://github.com/internetarchive/openlibrary/blob/master/.github/workflows/python_tests.yml#L13

[2021-06-12 17:54] jdlrobson commented on #2937
Hi @STAMATIOSL sorry for the delayed reply. This task is not a priority for me right now, as I'm trying to clear out all the priority 2 issues first. If you can help with any of those that would be great: https://github.com/internetarchive/openlibrary/issues?q=is%3Aopen+label%3A%22Priority%3A+2%22+label%3A%22Lead%3A+%40jdlrobson%22+

[2021-06-12 17:56] jdlrobson opened #5307 "eslint: prefer-const"
A lot of our legacy code uses "var". Using const and let will make it clearer where it is expected for our variables to be modified.

https://eslint.org/docs/rules/prefer-const

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce
- [] Add  the new rule to .eslintrc.json, making it error
- [] Fix offenders

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
-

[2021-06-13 01:31] xuyuji9000 opened #5308 "Met "Internal Server Error" when trying to add a new book in Chinese characters"
I was trying to to add a Chinese book on [Open Library](https://openlibrary.org)
Met "Internal Server Error" error.

### Evidence / Screenshot (if possible)
<img width="816" alt="Screen Shot 2021-06-13 at 9 23 26 AM" src="https://user-images.githubusercontent.com/4877346/121792550-0a17f600-cc29-11eb-9559-1565852ab113.png">
<img width="818" alt="Screen Shot 2021-06-13 at 9 21 56 AM" src="https://us

[2021-06-13 18:18] tfmorris opened #5310 "Search fails to find authors w/ accents in name"
Historically search has required exact spelling for any "foreign" words, but now it's gotten worse and even exact matches don't work. The three searches below fail to find the author records with exact word matches.

### Relevant url?
https://openlibrary.org/search/authors?q=Pe%CC%81tur
https://openlibrary.org/authors/OL263940A/Pe%CC%81tur_Gunnarsson.

https://openlibrary.org/search/authors?q=O%CC

[2021-06-14 04:25] Yashs911 commented on #5310
Advanced Search works fine:
https://openlibrary.org/search?author=P%C3%A9tur

https://openlibrary.org/search?author=%C3%93lafur+J%C3%B3hann

[2021-06-14 05:34] tfmorris commented on #5310
@Yashs911 I'm slightly confused. Are you saying that I used the wrong search and that I shouldn't have used the Author search to search for author's names? Was this an error on my part as opposed to a bug in the OpenLibrary search software?

[2021-06-14 05:49] mekarpeles opened #5312 "Actions for Open Library Outage: Tuesday, June 15, 2021 @ ~8:30am PT"
# Situation
Our Internet Archive operations team alerts us:

An `<energy provider>` Planned Outage Coordinator alerts us:
- a burned electrical pole in front of the `<redacted>` datacenter is being replaced on Tuesday
- this will require deenergizing the feed line and we will lose power at `<redacted>` for the duration of the event.  This duration is highly dependent on the specifics of how the jo

[2021-06-14 05:53] Yashs911 commented on #5310
@tfmorris  No not at all, I mean the author search can be configured in the same as advanced search.

[2021-06-14 14:49] cdrini opened #5314 "Add row of available languages for /type/i18n_page"
We make use of the `/type/i18n_page` for a few things now: https://openlibrary.org/subjects , https://openlibrary.org/help/faq/editing , etc. Editors should be aware that pages are i18n-pages, so as to help keep them in sync.

### Proposal & Constraints
A bar at the top of an i18n page that lists the languages; eg:

(current language being bold)

### Additional context

### Stakeholders
@dcapillae

[2021-06-14 16:19] jimman2003 commented on #2036
also: https://github.com/internetarchive/openlibrary/blob/95f1234f81c664d186e7c5413436d4ccb5b936b8/docker/Dockerfile.olsolr#L1

[2021-06-14 18:38] davidscotson opened #5316 "Dicken's Oliver Twist listed as "not in library""
If you visit the page for Charles Dickens then, unlike his other works, Oliver Twist is listed as "not in library" because the first edition in the list has that status. I'm assuming this is some kind of data glitch, which is promoting one of the non-available editions over the rest.

### Evidence / Screenshot (if possible)

![Uploading Screenshot 2021-06-14 at 19.33.44.png…]()

### Relevant url?

[2021-06-14 18:41] davidscotson commented on #5316
https://openlibrary.org/authors/OL24638A/Charles_Dickens

Might be a better link to see this:

<img width="614" alt="Screenshot 2021-06-14 at 19 33 23" src="https://user-images.githubusercontent.com/7288187/121942474-6e7da700-cd48-11eb-9452-fef38b8e7451.png">

[2021-06-14 19:01] cdrini commented on #3317
Status update; running on prod healthily! Will clean up/split the PR one last time, and then on track for merging :)

[2021-06-14 19:18] cdrini commented on #5316
Here is the page with debug: https://openlibrary.org/works/OL8193478W/Oliver_Twist?edition=storyofolivertwi00dick&debug=true ; @mekarpeles notes that this is using the availability api instead of the ground truth, which is, and I quote, "just shocking".

[2021-06-14 19:25] cdrini commented on #5308
Sorry for the trouble, this is a really annoying one :( Can you paste the book information here, and we'll add it manually for you (somehow). The actual underlying issue is #4311.

[2021-06-14 19:28] cdrini commented on #4311
@dhruvmanila  would you by any chance be able to help out with this one? It's causing a lot of our non-English users grip :( If you have the time, would love to jump on a call to explain this.

[2021-06-14 19:33] cdrini commented on #5294
Note: We might want to choose the best edition considering: (1) the user's language; (2) is it borrowable/readable, (3) the record with the most information (largest JSON).

[2021-06-14 19:59] cdrini commented on #4252
Note: not uploaded to https://archive.org/download/ia_webserverlogs_20210609/openlibrary/ :/

[2021-06-14 23:46] jamesachamp commented on #5316
I'm seeing that the main button for /works pages is using `get_availability`, while /books pages use `get_groundtruth_availability`.  The ground truth API requires an OCAID, but the /works pages that I've checked do not have this as a field.

https://openlibrary.org/works/OL8193478W.json

That said, I do see the OCAID in the debug output for this work.  However, both work and edition OLIDs are mis

[2021-06-15 13:01] davidscotson commented on #5316
Orwells' Animal Farm seems to have a similar thing going on:

https://openlibrary.org/works/OL1168007W/Animal_Farm

[2021-06-15 19:16] davidscotson opened #5319 "Expand (or document) the import to handle more than goodreads"
I recently tried to import some books via a list of ISBNs that I manually compiled from a few different services that held my data in different formats.

There is a functional, but slightly hidden, import option, but currently it expects a goodreads export file and fails if it gets a slightly unexpected format.

If there was documentation of the minimum .csv file needed for this, I could probably

[2021-06-15 20:48] mekarpeles commented on #2716
This feature request issue (Favorite item directly from search result tile view) was originally for Archive.org though it is being repurposed as it is one we've also thought about for Open Library: i.e. add the "Want to Read" button to search results page.

[2021-06-17 16:39] jdlrobson commented on #5241
Do you want to push up a patch?

[2021-06-17 22:20] libjenner commented on #5316
This behavior is also visible in carousels on the collection pages. I think it's the same issue.

For example, in the [Newbery Medal Winners](https://openlibrary.org/collections/newbery-medal) collection, _The Graveyard Book_ in the 2010s carousel and _Bridge to Terabithia_ in the 1970s carousel are both listed as "Not in Library" but clicking through to the works page shows each work has an editi

[2021-06-18 14:30] #5248 closed

[2021-06-19 09:18] Sabreen-Parveen opened #5328 "Home Page card: Read Free Library eBooks"
This card will be a part of homepage carousel
Epic #850 & #2599

# Requirements

## v1: A single card which goes to documentation (v1)
- [ ] Graphic
- [x] Caption & subtitle - A description  of what will happen when we click the card
  - Read Free Library Books Online
  - Click and borrow millions of books
- [ ] Document/url where we point patrons
  - https://openlibrary.org/help/faq/borrow
  - ht

[2021-06-19 09:18] Sabreen-Parveen opened #5329 "Home Page card: Keep Track of your Favorite Books"
This card will be a part of homepage carousel
Epic #850 & #2599

# Requirements

## v1: A single card which goes to documentation (v1)
- [x] Graphic
- [x] Caption & subtitle - A description  of what will happen when we click the card
- [x] Document/url where we point patrons
- [x] Community call present ideas + ask for graphics

## v2: Inner-cards (v2)
- [x] Modal Infrastructure (v2) #5345
- [x] I

[2021-06-19 09:21] Sabreen-Parveen opened #5330 "Home Page card: Try the virtual Library Explorer"
This card will be a part of homepage carousel
Epic #850 & #2599

# Requirements:
- [ ] Graphic
- [ ] Caption
- [ ] Subtitle - A description  of what will happen when we click the card
- [ ] Link to -- [Library Explorer
](https://openlibrary.org/explore)

# Ideas:
When this card will be clicked, a person will be redirected to Library Explorer page
[https://openlibrary.org/explore
](https://openlibr

[2021-06-19 09:24] Sabreen-Parveen opened #5331 "Home Page card: Become an Open Librarian"
This card will be a part of homepage carousel
Epic #850 & #2599

# Requirements:
- [ ] Graphic
- [ ] Caption
- [ ] Subtitle - A description  of what will happen when we click the card
- [ ] Link to -- [Librarians Portal
](https://openlibrary.org/librarians)

# Ideas:
When this card will be clicked, a person will be redirected to [Librarians Portal](https://openlibrary.org/librarians)

[2021-06-19 21:18] davidscotson opened #5333 "Incorrect Publish Dates imported from Amazon"
Not 100% sure if this is the right place to be reporting data issues, but since it seems systemic and potentially fixable by a script:

There are a number of books that have very old release dates (17th, 18th Century) for modern novels that have been imported via Amazon.com where the incorrect data appears to have originated and is still displayed.

I'd guess you'd be able to list them by looking

[2021-06-20 18:47] mekarpeles commented on #5312
EOL

[2021-06-20 18:47] #5312 closed

[2021-06-21 17:30] jamesachamp opened #5339 "Reading log counts in sidebar do not update when a book's status changes"
After updating the status of a book in the reading log view, the log counts in the sidebar do not change.

### Evidence / Screenshot (if possible)
![log-counts-not-updating](https://user-images.githubusercontent.com/28732543/122800241-b3499680-d290-11eb-886f-bb535baa5ca7.png)
*Count is "1" after removing the last book from the "Currently Reading" log*
### Relevant url?

https://openlibrary.org/acc

[2021-06-21 17:53] jimchamp opened #5340 "Reading log drop-down statuses displaying incorrect values on page refresh"
On the reading log page, some book statuses are incorrect when the page is refreshed after modifying the statuses of other books in the list.

The incorrect statuses are based on order.  If the status of the first item on the list is modified, the first item of the list will be incorrect when the page is reloaded.  If the second item is modified, the second item will be incorrect etc.

Incorrect s

[2021-06-21 20:03] #5217 closed

[2021-06-21 23:38] mekarpeles commented on #5316
there are 3 problems in this issue, conflated into 1:

1. When an edition references an invalid Archive.org ID `ocaid` it may be painted as `read` -able
2. Print-disabled editions should show a preview button, not just "Not In Library"
3. The choose-edition algorithm #5294 should choose a better default edition depending based on e.g. `collection` strings and other metadata which is available thro

[2021-06-21 23:38] #5316 closed

[2021-06-22 00:34] mekarpeles commented on #4379
We've confirmed it's a data issue on Archive.org. The bulk availability API needs to again be updated, this time so the default value is not `private`. We have an option to add additional handling to treat specific collections (e.g. ones Open Library can't easily vouch for) as private. On the other hand, certain collections like `American Library` or `Library of Congress` may likely be blessable.

[2021-06-22 04:19] RayBB opened #5341 "Description on lists page should probably be truncated"
### Evidence / Screenshot (if possible)
![Screen Shot 2021-06-21 at 18 18 23-fullpage](https://user-images.githubusercontent.com/921217/122862671-341e8780-d2bd-11eb-96ad-775d12eb5544.png)

### Relevant url?
https://openlibrary.org/lists

### Steps to Reproduce

1. See screenshot

* Actual: Very long descriptions lead to a very long page
* Expected: descriptions are eventually truncated

### Detail

[2021-06-22 13:35] davidscotson commented on #5294
I think the order is currently based on "Availability" of the edition, I'm not sure how that is calculated, but if you click the Availability heading on the list, the one that by default is at the top goes to the bottom, and then comes back again when you sort again. Assuming that "available" is either yes/no, a secondary sort by the language(s) set for the user's browser would probably be a good

[2021-06-22 13:52] cdrini opened #5343 "Occasional 503s/slowdowns; likely solr 8 related"
Getting reports of 503s/slow down on site; seems solr related. Have noticed that a solr restart seems to fix the issue. Might want to set up a docker-compose healthcheck/auto restart?

![image](https://user-images.githubusercontent.com/6251786/122936725-5fe25180-d33f-11eb-8be5-5428e50dd8be.png)

- [x] Create an automatic solr-restarter
- [x] Commit solr-restarter code to openlibrary repo?

### Pro

[2021-06-22 15:31] cdrini commented on #5308
@xuyuji9000 Actually, it looks like the book actually _was_ created! The page just errored. You can go to your profile page to see it in your "Recent edits" section. Let me know if that's not the case!

[2021-06-22 15:31] #5308 closed

[2021-06-22 15:31] cdrini commented on #5308
(Also @dhruvmanila and I just worked on getting a fix to the root cause, so this should be permanently fixed soon :) )

[2021-06-22 15:57] jimman2003 commented on #5267
Another occurance:
![image](https://user-images.githubusercontent.com/58356745/122958818-9e056280-d38b-11eb-96af-cff965b973a3.png)
Maybe the normalizer needs checking once more?

[2021-06-22 16:47] Sabreen-Parveen opened #5345 "Onboarding Carousel Popup"

[2021-06-22 17:18] mekarpeles opened #5346 "Ability to link/anchor to a specific Book Carousel"
custom_carousel file within templates/books/custom_carousel.html + macros/QueryCarousel have a mechanism which may be updated which can let us add an `anchor` name so that we'll be able to link to the header of Book Carousels.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

@mekarpeles @libjenner

[2021-06-22 19:26] mekarpeles opened #5348 "Update Open Library Archive.org Data Dumps to create torrents on derive"
### Describe the problem that you'd like solved

@JeffKaplan says there's a

When we create our monthly data dumps, we should try to run this book op so there's a torrent version available for our monthly data dumps.

There's also a great guide here on how to make our data dumps useful which I think we should link to in our data dumps page:
https://github.com/LibrariesHacked/openlibrary-search

##

[2021-06-23 00:36] xuyuji9000 commented on #5308
Sorry for the late response.

Thanks for notification of this information.

[2021-06-23 22:21] RayBB commented on #5022
Looks like graph is broken again as of June 23

<img width="934" alt="image" src="https://user-images.githubusercontent.com/921217/123175467-8a0a4100-d41d-11eb-91b3-0e7f0792c804.png">

[2021-06-23 22:36] mekarpeles commented on #5022
This is cached fortunately cached, if you add ?lang=something to the end of the url, it should show that as of yesterday or so, our crons are back operational

[2021-06-23 22:52] cdrini commented on #5343
Happened once more today:

Unlike usual, the cpu usage DROPPED during the slow down:

![image](https://user-images.githubusercontent.com/6251786/123177602-96a98c00-d453-11eb-85d3-3b1cd1c2bd33.png)

I tried hitting the solr ping endpoint (to see if I could use it as a docker-compose healthcheck), but it worked fine. Snappy. Same with the solr dashboard.

We checked haproxy:

![image](https://user-i

[2021-06-23 22:54] mekarpeles commented on #5022
just restarted memcached on prod and confirmed data is coming in.

[2021-06-23 22:54] #5022 closed

[2021-06-23 22:57] cdrini commented on #5343
Other curious thing: the "Last" column is at 6m, which is about the length of the service interruption. Comparing to OL, this looks a little out of the ordinary:

![image](https://user-images.githubusercontent.com/6251786/123178304-eb013b80-d454-11eb-8e48-213036f37a35.png)

[2021-06-23 23:12] libjenner opened #5349 "Font size of lists is larger than surrounding paragraph text"
On editable pages, the list items are a larger font size than the other paragraph text, but they ought to be the same font size as paragraph text.

### Evidence / Screenshot (if possible)

![list-font](https://user-images.githubusercontent.com/85025703/123179116-8686b200-d43d-11eb-907a-f8b8b1627978.png)

### Relevant url?

The screenshot is from a very in-progress help doc [about collections](http

[2021-06-25 03:49] #4889 closed

[2021-06-25 04:49] jdlrobson commented on #4474
Does anybody have bandwidth to look at openlibrary/templates/account/readinglog_stats.html  or  openlibrary/templates/type/i18n/edit.html and  openlibrary/templates/type/i18n/view.html ?

[2021-06-25 05:26] #5241 closed

[2021-06-25 16:31] Yashs911 commented on #5307
It will only change the let to const if its never reassigned. Is this the goal for this issue?
or
we should also include https://eslint.org/docs/rules/no-var?

[2021-06-25 16:46] jdlrobson commented on #5307
Yes. If a variable is never reassigned it's helpful to point that out at declaration.

Yeh that also sounds like a useful addition going forward, but perhaps a bit more work?

[2021-06-25 21:45] #5131 closed

[2021-06-25 23:41] #4795 closed

[2021-06-25 23:41] #4987 closed

[2021-06-26 00:38] cdrini commented on #628
Calling this one closed (after all this time!); we've been on solr8 for ~2 weeks now, and (1) the caching issue was fixed in a PR, and (2) solr latency has gone from ~15min -> ~1min ! If anyone notices other issues of this nature, where they're edits are not reflected in search, please do create a new issue for it!

[2021-06-26 00:38] #628 closed

[2021-06-26 00:42] cdrini commented on #3317
Status update; first of final two PRs merged (#5320 ), the big ol' #4337 !

[2021-06-26 00:47] #4311 closed

[2021-06-27 05:14] finnless opened #5355 "Get book plaintext from IA #37"

[2021-06-27 05:14] finnless opened #5356 "Add basic profiling and timing #32"

[2021-06-27 05:14] finnless opened #5357 "Update Open Library Volunteer Page with OBGP Contribution Information #39"

[2021-06-27 05:14] finnless opened #5358 "Update README Usage with working example #40"

[2021-06-27 05:14] finnless opened #5359 "Handle unavailable books and append failures to log #38"

[2021-06-27 05:17] finnless commented on #5356
Mistake

[2021-06-27 05:17] #5356 closed

[2021-06-27 05:18] finnless commented on #5355
Opened in error

[2021-06-27 05:18] #5355 closed

[2021-06-27 05:18] finnless commented on #5357
Opened in error

[2021-06-27 05:18] #5357 closed

[2021-06-27 05:18] finnless commented on #5358
Opened in error

[2021-06-27 05:18] #5358 closed

[2021-06-27 05:19] finnless commented on #5359
Opened in error

[2021-06-27 05:19] #5359 closed

[2021-06-27 17:59] mekarpeles commented on #5263
Fixed by #5131 and https://github.com/internetarchive/olsystem/pull/128

[2021-06-27 17:59] #5263 closed

[2021-06-28 07:23] #4267 closed

[2021-06-28 21:44] #5284 closed

[2021-06-28 21:46] cdrini commented on #5308
This should now be fixed on openlibrary.org! Please let us know if you're still having issues.

[2021-06-28 21:47] cdrini commented on #4311
@dector This should now be fixed on openlibrary.org ! Please let us know if you're still having issues :+1:

[2021-06-28 21:51] cdrini commented on #4679
@milotype Ok! You know have permissions to edit :+1: https://openlibrary.org/subjects.hr?m=edit You have to translate the bits in between the tags; eg:

`<h3>Arts</h3>` -> `<h3>ARTS_IN_HR</h3>`, or

`<li> <a href="/subjects/history_of_art__art__design_styles">Art History</a> </li>` -> `<li> <a href="/subjects/history_of_art__art__design_styles">ART_HISTORY_IN_HR</a> </li>`.

Let me know if you hav

[2021-06-29 02:10] xuyuji9000 commented on #5308
@cdrini
Thanks for the reminding.

Just had a try of the updated feature.

<img width="1230" alt="Screen Shot 2021-06-29 at 10 07 56 AM" src="https://user-images.githubusercontent.com/4877346/123726149-08edf680-d8c2-11eb-9980-42ead7d2313f.png">

I put in the title "品质国家战略" in Chinese, but the end result is in English.
Is it suppose to be like this?

[2021-06-29 09:11] milotype commented on #4679
@cdrini Hmmm ... nope, it doesn't work. I get a "Permission denied to edit /subjects.hr." :-(

[2021-06-29 12:08] dcapillae opened #5365 "Book page does not display correctly at standard zoom level"
The book page does not display correctly at standard zoom level (100%) after the [last deploy](https://github.com/internetarchive/openlibrary/releases/tag/deploy-2021-06-28). It is displayed in a single left-aligned column (this happens between ~960px to ~1050px width). Displayed correctly if zoomed in or out, but at the standard level it behaves strangely.

### Evidence / Screenshot
![screenshot]

[2021-06-29 12:24] seabelis opened #5366 "All links at the top of the author profile page opens author image"
After merging an author, a "refresh the page" link appears. If one clicks on this, it opens the author photo.
### Evidence / Screenshot (if possible)
<img width="768" alt="Screenshot 2021-06-29 at 14 20 43" src="https://user-images.githubusercontent.com/17739465/123796351-57f95300-d8e5-11eb-84ff-72d34f24bf06.png">

### Relevant url?

### Steps to Reproduce

1. Go to ...a search that produces dupli

[2021-06-29 19:00] seabelis commented on #5366
This is also affecting the author search/filter box. If the box is populated, it cannot be re-selected as doing so opens the author image.

[2021-06-29 20:25] cdrini commented on #4679
Ooops! My bad; I missed a piece. Can you try again?

[2021-06-29 21:47] cdrini commented on #5365
Fix deployed; thanks to @Yashs911 for the fix! Please re-open if you're still seeing the issue, @dcapillae :+1:

[2021-06-29 21:47] #5365 closed

[2021-06-30 05:59] Yashs911 opened #5369 "Remove tap-highlight-color for better Mobile UI"
### Describe the problem that you'd like solved

The default behavior is that any element (or containing element) that has `cursor: pointer` explicitly set and is clicked will flash blue momentarily. (Only for mobile devices)
### Proposal & Constraints

But in order to improve the UI keeping in mind, the PWA should we remove the default and set it to `-webkit-tap-highlight-color: transparent;`

Ac

[2021-06-30 08:11] seabelis commented on #5366
From a patron:
I keep trying to add a new book to the page of the author Vera Strange

https://openlibrary.org/authors/OL8328767A/Vera_Strange

because a of a new one that's come out with all the necessary info. But everytime I try to add a new book, for some reason my pointer thinks I'm referring to changing the author's image.

[2021-06-30 15:22] milotype commented on #4679
Yes, it works now! Thank you.

[2021-06-30 15:26] LeadSongDog commented on #4708
@nynaalekhya
Q: when there are multiple scans of a single EAN-13 barcode, do you screen out those with invalid checksums before looking for consistency of result?

[2021-06-30 21:11] cdrini commented on #4679
Woohoo! That looks great :) Closing this issue :+1: Thanks @milotype !

[2021-06-30 21:11] #4679 closed

[2021-06-30 21:12] cdrini commented on #4677
6 languages complete! 🎉

[2021-06-30 21:12] #4677 closed

[2021-06-30 22:23] jamesachamp commented on #5366
Closed by #5370

Details about the root cause can be found here: https://github.com/internetarchive/openlibrary/pull/5269#issuecomment-871752956

[2021-06-30 22:23] #5366 closed

[2021-07-01 19:28] dcapillae commented on #5365
@cdrini I have checked that the same (or similar) issue occurs on author pages. The right column with the author's photo, subjects, places and so on, is displayed below and aligned to the left instead of above and to the right at the standard zoom level. Should I open a new issue?

The works pages are now displayed correctly :+1:.

[2021-07-01 19:51] jamesachamp commented on #5247
This happens whenever the form is submitted with an empty email field.  In these cases, the `/contact` POST controller returns an empty string, and the support email is not generated and sent.

Making the email input field required and explicitly setting its type to `email` will largely prevent this from happening.  The text next to the input should also be updated, as it implies that the email is

[2021-07-01 20:15] jamesachamp commented on #4708
We're using [quaggaJS](https://serratus.github.io/quaggaJS/#tipsandtricks) to scan and decode barcodes.  All checksum validation is handled by this library.

[2021-07-02 10:15] milotype commented on #4679
@cdrini Now the next step would be to use the translated strings on the homepage as well ;-)
See screenshot

![Subject](https://user-images.githubusercontent.com/43657314/124259736-2378d780-db2f-11eb-9157-2abb85fedac3.png)

[2021-07-02 21:07] cdrini commented on #5267
:+1: The changes to the normalizer will unfortunately not be visible until we do a full solr reindex; that'll be in ~ a week or so.

[2021-07-03 00:14] cdrini commented on #5369
Ah, it looks like we've set `cursor: pointer` on the whole thing; can we set it just on the `<summary>` tag?

[2021-07-03 01:09] cdrini commented on #5365
@dcapillae is that a new issue? Since this week's deploy?

[2021-07-03 01:26] dcapillae commented on #5365
@cdrini It happens after the last deploy. It did not happen before.

I guess it must be a related issue because it is very similar in behavior to the one just fixed. The content of the author pages is aligned in a single column to the left at the standard zoom level (the author's photo, for example, should appear at the top right, but it appears at the bottom left). A similar behavior to what happ

[2021-07-03 04:05] Yashs911 commented on #5365
Between 960px to 1020px `contentOnethird` shifts down.
![image](https://user-images.githubusercontent.com/64412143/124342427-83c85180-dbe1-11eb-98c1-428a64235e63.png)
Before the deploy max-width of the test-body was 960px and css media queries also changes at 960px.

[2021-07-04 20:30] tonytamsf commented on #5247
I've submitted a simple fix for this to validate the email address field as a valid email as well as not blank.

https://github.com/internetarchive/openlibrary/pull/5384

[2021-07-05 08:53] n-eq opened #5386 "TypeError on openlibrary/templates/work_search.html"
Searching "Magellan" in "Biographies" search bar throws the following error: `/openlibrary/openlibrary/templates/work_search.html: error in processing template: TypeError: expected string or bytes-like object (falling back to default template)`, cf. below screenshot.

### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/16545838/124444596-0fc3b000-dd7f-11eb-8

[2021-07-05 23:33] cdrini opened #5393 "Enable stopword detection for solr"
Had to remove stopword detection because it wasn't being handled correctly during solr8 query time. See https://github.com/internetarchive/openlibrary/issues/3317#issuecomment-837506502 . Investigate other approaches to see if we can re-enable it. The code change would basically just need to reverse https://github.com/internetarchive/openlibrary/pull/4337/commits/7f6be51f9a0d00024fe790a12493159733

[2021-07-05 23:35] cdrini opened #5394 "Delete old solr configs/etc."
Now that we've been stably on solr 8 for a while, remove all the old solr 3 configs/etc. ~Blocked by #4337~

[2021-07-06 17:27] libjenner commented on #5346
I'll take a swing at this. Linking the two links @mekarpeles suggested above, so I can find them easily:

- [templates/books/custom_carousel.html](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/books/custom_carousel.html)
- [macros/QueryCarousel](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/macros/QueryCarousel.html)

[2021-07-06 17:43] mekarpeles commented on #5346
This may have relevant examples: https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/home/index.html

[2021-07-06 19:10] mekarpeles commented on #4111
It's unclear what needs to be done to close this issue as a proposal has not been put forth by @cdrini so I am considering this a P3 (i.e. not on this milestone / month)

[2021-07-06 19:15] mekarpeles commented on #4162
Do we know how/where this is impacting the patron experience? Is this happening during specific searches?

[2021-07-06 19:17] mekarpeles commented on #4162
This was last seen 3 months ago? Possibly resolved? Going to close and re-open if we see a resurgence. I know this is a lazy approach, sorry :(

[2021-07-06 19:17] #4162 closed

[2021-07-06 19:18] mekarpeles commented on #4325
@seabelis when you're able, can you let us know how often this (or related issues of the same cause) are coming up so we know how to triage? i.e. please add a `Priorty` tag for us, thank you!

[2021-07-06 19:20] mekarpeles commented on #4328
@smoqadam we don't currently have an API for this, unfortunately there is no current plan to create one (though it hasn't changed in ~4 years). Closing

[2021-07-06 19:20] #4328 closed

[2021-07-06 19:45] cdrini commented on #3989
@BharatKalluri Would you be interested in taking this one? The general idea is to add a dump script to OL that dumps the reading log postgres table.

[2021-07-06 19:47] cdrini commented on #4361
@mekarpeles Says this one looks closed! 🎉

[2021-07-06 19:47] #4361 closed

[2021-07-06 19:50] cdrini commented on #4379
Although ideally this would be fixed at the source, it seems like that's aways away. So let's try a shim. Note: Andrea to choose which collection to filter through; @mekarpeles to work with @bfalling to get the code through.

[2021-07-06 19:58] cdrini commented on #3826
@seabelis Did #3621 help with the spam? Are we getting enough that you think we should recaptcha all unregistered users?

[2021-07-06 20:00] cdrini commented on #3255
@mekarpeles says this is done! He's going to review the blog post today :+1:

[2021-07-06 20:00] #3255 closed

[2021-07-06 20:20] cdrini commented on #5274
Sweet! You can also remove any `openlibrary/olbase` that has `<none>` in its label field. Not sure why those don't get auto-deleted :P Only the `openlibrary/olbase` is needed; you can remove the `olbase` (that's a residue of an older flow). Closing this issue as I think that helps resolve it. What was the final size after the pruning?

[2021-07-06 20:20] #5274 closed

[2021-07-06 20:42] cdrini commented on #4111
This can be closed; with solr8, we tweaked some of the weights here and now solr8 shows up at the top! The search now better prefers books with high priority. See https://docs.google.com/spreadsheets/d/1BN5I7-OkTPaoTr2Es6jQ4O9ICWFmH0q9CP6kEgolCgg/edit#gid=0.

[2021-07-06 20:42] #4111 closed

[2021-07-07 03:31] BharatKalluri commented on #3989
Sure, I would need some help in setting up because I only setup and worked on OL client up until now. I would love to work on this! 👍🏽

[2021-07-07 13:01] seabelis opened #5398 "Replace "pokmon" with "Pokémon""
The following records all have Pokémon misspelled as pokmon. https://openlibrary.org/search?q=pokmon&mode=everything

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/search?q=pokmon&mode=everything

### Proposal & Constraints
"pokmon" should be replaced with "Pokémon".

### Stakeholders

@RayBB

[2021-07-07 16:42] tfmorris commented on #4328
I interpret this as a request for such an API, which seems like a perfectly reasonable request.

@dherbst even contributed a PR which provided such an API, but abandoned the PR when it was ignored by reviewers for a month.

[2021-07-07 17:44] dherbst commented on #4328
FWIW if someone else wants to run with it - the PR went like this:

[code]

[2021-07-08 06:59] GitWonder commented on #3612
Looking at the first element of the REST return
"ISBN:9781741795226":

It looks like it is actually a bug that has omitted the quote marks round the : which has turned a the label into part of the object and made it ungeneric

[2021-07-08 07:28] ashdwilson commented on #5135
Changes were made in templates to remove OCAID for users who are not administrators or librarians.

We should consider follow-up work for sanitizing input based on user role, in the endpoint itself. Either silently sanitize or respond with a 401 for unauthorized updates.

[2021-07-08 08:15] seabelis commented on #5398
Thank you!

[2021-07-08 08:15] #5398 closed

[2021-07-08 08:25] BharatKalluri commented on #3989
Hi @cdrini , As far as I understand, master dump is generated from bash (https://github.com/internetarchive/openlibrary/wiki/Generating-Data-Dumps)

Here are the commands for generating dumps , let me know if they work as expected

### Queries

**Reading log query**

[code]

**Ratings query**

[code]

### `psql` reading log dump command

[code]

### `psql` ratings dump command

[code]

Let me know

[2021-07-08 17:56] libjenner commented on #5218
+1

For now, we curators of collections are adding language to the collections pages to the effect of _If a book says it is "not in library" or "checked out," a copy might still be available! Click on the book's cover to see if you can borrow one of the other editions._ But, of course, some library visitors & potential patrons skip right down to the carousels and might not realize a book is actual

[2021-07-08 18:43] cdrini opened #5402 "Data Dumps not auto-generating"
Despite #5263 being resolved, it looks like the data dumps weren't uploaded on July 1st :/

### Relevant URL?
* https://github.com/internetarchive/openlibrary/wiki/Generating-Data-Dumps
* https://archive.org/details/ol_exports?sort=-publicdate

Related issues and pull requests:
* #3989
* #4621
* #4671
* #4723
* #5546
* #5673
* #5719
* #5892 - Worth reading!
* #6158
* #6163

Related files:
* [`dock

[2021-07-08 18:48] cdrini commented on #5402
It looks like they were generated, but the file names look off; there's no date. And the `--archive` flag which is used to... you know upload the data dumps, somehow made it into the filename. So I imagine the upload never happened.

[code]

[code]
^ Although the file sizes definitely don't look correct here.

[2021-07-08 18:48] cdrini commented on #5402
Going to follow the steps here to generate a new dump: https://github.com/internetarchive/openlibrary/issues/4621#issuecomment-819780964

[2021-07-08 20:20] jamesachamp commented on #4005
I am not able to reproduce these errors.

Lists are not displayed beneath the "Active Lists" header unless they contain more than four books.

[2021-07-08 20:20] #4005 closed

[2021-07-09 14:14] LeadSongDog commented on #5343
@cdrini
Now getting 503s several times per hour, noticably when revising works’ authors: type-ahead ceases to happen. Seen with both Safari/iPadOS and Chrome/iPadOS.

[2021-07-09 18:54] cdrini opened #5403 "staging/testing appearing in Google search!"
These developer-only endpoints should not be appearing in Google! They likely cause SEO issues or just send our users to the wrong place.

### Evidence / Screenshot (if possible)

### Relevant url?
- Staging: https://www.google.com/search?q=site%3Astaging.openlibrary.org (1760 results)
- Testing: https://www.google.com/search?q=site%3Atesting.openlibrary.org (2100 results)

### Proposal & Constrai

[2021-07-09 19:00] cdrini commented on #5402
New dump created :+1:

[2021-07-09 19:25] cdrini opened #5404 "Orphaned editions throw IndexError: string index out of range"
### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/6251786/125126910-cb5f4980-e0c9-11eb-9df4-a55552922426.png)

### Relevant url?
https://openlibrary.org/books/OL19506912M/FORTRAN-10_programmer's_reference_manual.?debug=true

* Actual: Errors
* Expected: Not errors

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF89
- **Operating system?

[2021-07-09 19:25] cdrini commented on #4051
Created a separate issue for this, since the cause of the error is very different this time :+1: #5404

[2021-07-09 19:25] #4051 closed

[2021-07-09 19:29] cdrini commented on #5404
Note it looks like the page works fine in incognito (logged out).

[2021-07-09 19:45] cdrini commented on #5343
Today's been especially bad :/ There have also been some unrelated sporadic Internet Archive networking issues causing the same problem.

[2021-07-09 20:15] jamesachamp commented on #5404
I think that this is only an issue for members of the `beta-testers` group at the moment (luckily).

**Root cause:** Before rendering the reader observations component, all reader observations are fetched using the work key.  The numeric work ID is extracted from the work key.  In the case of orphaned editions, the work key is an empty string.  This was causing `extract_numeric_id_from_olid` to fa

[2021-07-09 21:04] #5404 closed

[2021-07-09 21:06] cdrini commented on #5403
Dropping to P2 now that the main piece has been done.

[2021-07-09 21:17] jimchamp opened #5407 "Refactor Carousel.js CTA buttons"
### Describe the problem that you'd like solved

As patrons scroll through our book carousels, new items are lazy-loaded.  The newly loaded books' CTA buttons are generated in Carousel.js, and can have different styling and behavior than the CTA buttons found elsewhere in the site.

Most notably, "Preview" buttons should open a small modal that displays a preview of a book.  The preview buttons ge

[2021-07-09 22:22] seabelis opened #5409 "Adding an edition opens to Work form instead of Edition form"
When adding a new edition to an existing work, the edition is added successfully, but the edit page opens on the Work edit form rather than the Edition edit form.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...any Work
2. Do ...add new edition

* Actual: After saving the initial edition details, the Work edit form loads
* Expected: After saving the

[2021-07-10 22:30] RayBB opened #5410 "Excerpts has an extra ) parenthesis"
I added an excerpt to the book as seen below and noticed that there is an extra parenthesis after the contributors name. There is no related opening parenthesis.

### Evidence / Screenshot (if possible)
<img width="759" alt="image" src="https://user-images.githubusercontent.com/921217/125177737-015c0680-e17a-11eb-88ba-f4f1eb556485.png">

### Relevant url?

https://openlibrary.org/works/OL24695783W

[2021-07-11 07:08] Sabreen-Parveen opened #5411 "Add google analytics to onboarding carousel"
Subtask of #2599

Let's measure our success using google analytics to track each click on our onboading carousel.

[2021-07-12 04:27] cdrini commented on #5410
Ah; I believe there's an extra `)` at the end of the line you referenced 😛 This takes me back to writing racket :)

[2021-07-12 16:07] LeadSongDog commented on #4874
#5265 relates

[2021-07-12 16:47] jimchamp opened #5415 ""`Nothing` type not JSON serializable" errors occurring when fetching list data from `/seeds.json`"
When a list containing Infogami's `Nothing` type is fetched using `/seeds.json`, a TypeError is thrown because `Nothing` is not JSON serializable.

### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/people/tmanarl/lists/OL197952L/seeds.json?debug=true

### Steps to Reproduce

1. Navigate to the link listed above.

* Actual: An error page is displayed.
* Expected: A

[2021-07-12 17:43] LeadSongDog commented on #790
Most of this seems to work on prod now (woohoo), but the 26 Mar 2018 @cdrini entry still has some echos. https://openlibrary.org/search/authors?q=name%3A%28Crichton-Browne%29 and https://openlibrary.org/search/authors?q=name%3A%28Crichton+Browne%29 give different, overlapping results.

[2021-07-12 18:03] cdrini commented on #3989
Wonderful! I think running this from postgres directly seems good :+1: I'll give it a go on prod to see how it works!

[2021-07-12 18:04] cdrini commented on #3989
Could you open a PR adding these as .sh files? I think theres scripts/dumps dir? If not, maybe create scripts/dump-ratings.sh .

[2021-07-12 18:54] cdrini commented on #3989
I tested as follows on prod:

[code]

[code]

That looks reasonable; a seq scan on `bookshelves_books` would usually be a problem for a query, but since we're dumping the table, that's necessary :)

As a sanity check, ran:

[code]

[code]

Looks good! Two things:

- can we use postgres to modify `work_id` and `edition_id` and convert them to `/works/OL...W` style strings? That would make it more c

[2021-07-12 19:12] LeadSongDog commented on #5206
So https://openlibrary.org/works/OL20890W.json returns a result, but https://openlibrary.org/works/OL20890W gives the above error. I note the json shows no hint of a title.

[2021-07-12 19:29] LeadSongDog commented on #4065
@hornc the bot is still doing this, please stop it. We should not have to clean up crap like: https://openlibrary.org/recentchanges/2021/07/12/add-book/83586306
or https://openlibrary.org/books/OL32785034M/Kalligrafie
with bogus authors

[2021-07-12 20:54] cdrini commented on #5134
The CLI changes we want for the `i18n-messages` command is probably like:

[code]

[2021-07-12 21:37] #5247 closed

[2021-07-12 22:19] jimchamp opened #5416 "Refactor i18n update command to specify a language"
### Describe the problem that you'd like solved

When `./scripts/i18n-messages update` is executed, it updates the `.po` files for all languages.  Each updated files should be reviewed for unwanted changes (particularly changes flagged with the `fuzzy` keyword).  Most translators will be working with a single `.po` file, and it's a bit unreasonable for them to review unrelated files.

### Proposal

[2021-07-12 22:26] #5410 closed

[2021-07-12 22:28] RayBB opened #5417 "Edition Search Bar overflows on mobile causing horizontal scrolling"
Edition Search Bar overflows on mobile causing horizontal scrolling

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/921217/125350022-eadcb900-e2f9-11eb-9954-7ab76abfa827.png)

### Relevant url?
https://openlibrary.org/works/OL8230636W/The_natural_physician%27s_healing_therapies?edition=naturalphysician00mark_0

### Steps to Reproduce

1. Go to the page

[2021-07-13 00:54] jimchamp opened #5418 "Upgrade to HTTP/2"
### Describe the problem that you'd like solved

While page load times have improved over the past year, they could still be faster.

### Proposal & Constraints

Upgrade our web and covers servers to use HTTP/2.  Doing so will greatly limit the amount of TCP connections needed to serve a page to a patron.  Server push may also be utilized to further improve performance.

- [x] Update ol-www1 (old

[2021-07-13 01:22] jimchamp opened #5419 "Replace `availability.js` with server-side LoanStatus button calls for lists and reading logs"
### Describe the problem that you'd like solved

`availability.js` is used to fetch books' loan availability and generate loan status buttons for lists and reading logs.  The logic used in this file to generate the loan status buttons is somewhat questionable, and the buttons may behave differently than the standard loan status buttons found in other components.

### Proposal & Constraints

Replac

[2021-07-13 16:45] seabelis commented on #5409
I've also noticed that occasionally editing from an edition URL goes to the work edit form. It seems random. I tested several times on the same edition and it went 2x to the work and 1x to the edition. This only happens on occasion.

[2021-07-13 17:40] jimman2003 commented on #4955
npm run-script build-assets in essence call make js,css,component so both command are same

[2021-07-13 17:58] jimman2003 commented on #4955
Will experiment with webpack to help with the css..

[2021-07-13 18:45] cdrini opened #5423 "Redesign Mobile Header Bar"
With @Yashs911 working towards creating a PWA, we want to make the header bar feel more like a native app's header.

### Designs
Here's the SVG: https://www.dropbox.com/s/6ewocoycrbkykd8/ol%20header.svg?dl=0

#### Logged out users
![image](https://user-images.githubusercontent.com/6251786/125507458-7679a2ea-7930-41d0-a162-ab49de707d6e.png)

#### Logged in users
![image](https://user-images.githubu

[2021-07-13 18:53] cdrini commented on #5423
@Yashs911 Can you comment on this one? That'll let me assign it to you :P

[2021-07-13 20:18] jimchamp opened #5425 "Create `i18n-messages validate` script to check for presence of fuzzy flags"
### Describe the problem that you'd like solved

When `i18n-messages update` is executed, some translations in `.po` files will have a `fuzzy` annotation.  This means that the translation may not be completely accurate, and should be manually approved by a translator.  The last step of the `i18n-messages update` flow compiles all `.po` files into `.mo` files, regardless of the presence of fuzzy tr

[2021-07-14 04:00] Yashs911 commented on #5423
@cdrini I would like to work on this issue.

[2021-07-14 04:13] Yashs911 commented on #5423
Now as the hamburger will contain both the "Browse" and "More/Other" Menu options. I think it will be better to remove the Browse and More Dropdown from Mobile View.
Related issue: https://github.com/internetarchive/openlibrary/issues/4788

[2021-07-14 07:47] lakshya-dhariwal commented on #2874
Hey guys is somebody working on this?

[2021-07-15 00:38] hornc commented on #4065
@mekarpeles , this is one for you.
@LeadSongDog unfortunately I do not control the behaviour of import bot and it's over-reliance on Amazon data. I have been able to import the latest publicly available LOC MARC records into OL, and other MARC records, but the Amazon imports are a separate process.

[2021-07-15 12:53] LeadSongDog commented on #4065
@hornc Thank you for clarifying that. @mekarpeles The FirstLaw of Holes pertains.

[2021-07-15 17:03] libjenner opened #5431 "How do carousel analytics work?"
This issue comes out of a question raised in a community call. It's not high priority and there's no rush, but I'd like to keep it on our radar.

### Questions

Some more explanation and understanding of seeing analytics data would be fantastic. I see that carousels have a parameter for a unique key (`key=`) which we are now using for both an in-page link anchor and for analytics.

1. How can we a

[2021-07-16 01:08] jamesachamp opened #5432 "Patrons not able to login with newly created accounts"
When a new account is created in either Open Library or Internet Archive, attempting to log into Open Library with the new account results in an "account not found" error.  This has resulted in a major reduction of new accounts created today (~60 new accounts today compared to ~1600 yesterday).

I created three accounts to troubleshoot this today.  After several hours, I was able to log into OL wi

[2021-07-16 02:05] jamesachamp commented on #5432
This appears to have been resolved.  The root cause was due to a recent change to xauthn.  A fix has been deployed, and new account creation has increased drastically.

[2021-07-16 02:05] #5432 closed

[2021-07-16 18:12] mekarpeles opened #5434 "Unify "My Books" Experience (Reading Log, Lists, Loans)"
### Describe the problem that you'd like solved

Too many different UI's to maintain for "My Books" (Reading Log, Lists, Loans) and no great way to navigate between these views and see summaries of each one at a bird's eye view. Use the http://openlibrary.org/account/books UI as the default, uniform experience for these three views, where the lists and loans may be rendered as inner pages.

### Pr

[2021-07-16 20:53] jimchamp opened #5435 "Add Open Library author IDs to author pages"
### Describe the problem that you'd like solved

Open Library author IDs are needed when creating a Wikidata entry for an author.  An author ID can be copied from the URL of the author's page, but this can be cumbersome (especially for mobile users).

### Proposal & Constraints

Add the author OLID to the body of the author's page.  The sidebar may be a good location for this.

### Additional cont

[2021-07-16 21:12] RayBB opened #5436 "Link to author identifier docs from author edit page"
### Describe the problem that you'd like solved
Would like to link to the author identifier docs here from the author edit page.
This will make it easy for folks to learn more about identifiers.

Page to link to: https://openlibrary.org/help/faq/editing.en#author-identifiers-purpose

### Proposal & Constraints
<img width="552" alt="image" src="https://user-images.githubusercontent.com/921217/12600

[2021-07-16 21:18] RayBB opened #5437 "Link to author identifier docs from reading stats page"
### Describe the problem that you'd like solved
We should link to docs about author identifiers on the reading stats page.
This is because reading stats are powered by author identifiers (particularly wikidata)

### Proposal & Constraints
Add the info here:
<img width="643" alt="image" src="https://user-images.githubusercontent.com/921217/126009239-6821a6c7-0cd9-43e8-b284-9b4bfa8fa3be.png">

I pro

[2021-07-16 21:50] RayBB opened #5438 "Can't open books when developing on GitHub codespaces"
I started experimenting with [GitHub Codespaces](https://github.com/codespaces) for development b/c my internet is so slow. It's quite nice so I'd recommend you try it while it is free. Basically GitHub codespaces lets you do dev on a remote machine quite easily.

Anyway, my problem is that when I try to open a link to a work when using codespaces I get redirected to localhost. However, this doesn

[2021-07-16 22:16] RayBB opened #5439 "Edit button is running away due to long username"
Edit button seems to be going far to the side when there are long usernames.

### Evidence / Screenshot (if possible)
<img width="1161" alt="image" src="https://user-images.githubusercontent.com/921217/126013449-558be23a-7cb2-4f11-a4d1-e8faeeff2abc.png">
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/921217/126013474-cc8637b2-6e6e-4a5e-8436-fba978b6ae67.png">

### Rel

[2021-07-17 15:35] cdrini commented on #5438
My guess would be that redirect (the raise web.redirect line)  is where the problem is happening. As shown in your video @Ray Berger, the redirect response lists a Location header telling the browser where to go (in this case redirecting from /works/OL1W to /works/OL1W/book_title). Perhaps that Location has to be an absolute path? Looking at the code for web.redirect: https://github.com/webpy/webp

[2021-07-17 16:15] cdrini commented on #5434
I think that's a great idea to explore! But we 100% need a mockup before diving into code changes. There is a risk of over simplification here which could result in reduced discoverability. Mockups would help reveal that. Specifically, we'd need: (1) mockups of what options would be in menus; (2) mockups of what the new joint page would look like. Specifically the "Loans" section might need some e

[2021-07-18 05:25] RayBB opened #5440 "Autofill username and password for local development"
One big pain point I had when first doing local development was relating to logging in. There's a ticket around here somewhere explaining the issue but basically if you enter the wrong/name password your env gets borked and many people have trouble with this.

The correct name and password are listed [here](https://github.com/internetarchive/openlibrary/blob/6a62da27ab490a32b9d5d492e779fb4f1d43e30

[2021-07-18 05:56] RayBB commented on #5438
@cdrini looks like your hunch is right. When running in codespaces and going to the url you listed with debug it shows `home` as `https://localhost`.

<details>
  <summary>Big screenshot of debug screen</summary>

 ![image](https://user-images.githubusercontent.com/921217/126056912-2279e85d-c684-4250-8d28-82f664f16903.png)

</details>

I've poked around a bit more and have been thinking about it b

[2021-07-18 15:17] Atharva-Shinde commented on #5436
I would like to work on this issue, I read the document link above, would you guide me a bit??

[2021-07-18 23:27] RayBB commented on #5437
@Atharva-Shinde I'd recommend staring with this ticket instead since it's a little bit less ambiguous.

The file you need to change is here: https://github.com/internetarchive/openlibrary/blob/6e18fcd514ac872157d6986f55e97e499b2a5bb7/openlibrary/templates/account/readinglog_stats.html#L121

The local setup with docker is pretty well documented. As soon as you change this file it should be live in

[2021-07-19 02:56] RayBB opened #5442 "Remove extra fields from works in database"
Long story short, I've been working on a way to turn our works dump into a sql database so people can easily query it with a familiar language.
Anyway, in doing so I noticed many extra columns dues to fields that are only in a very limited number of works jsons.
Can we delete these? (I know the dump won't be updated again for a month but this would be nice in prep)

work | field | value
- [ ] OL16

[2021-07-19 03:44] RayBB opened #5443 "external links without protocol broken for works"
If someone adds a link that does not start with `http://` or `https://` to the "links" field of a work it will not be clickable.

### Evidence / Screenshot (if possible)
<img width="677" alt="image" src="https://user-images.githubusercontent.com/921217/126099720-4d16602d-8fee-4c6e-8f00-0d014201e838.png">

csv of works with non-http links
[non-http-links.csv](https://github.com/internetarchive/open

[2021-07-19 04:09] RayBB opened #5444 "Add amazon.in to the works identifiers"
Some books are not available on amazon.com (or the other offerings listed) such as https://openlibrary.org/books/OL26992093M/Samrat_Ashok_-_History_of_Samrat_Ashoka/

It would be nice to be able to add the amazon.in ID instead of having it in the links section.

### Describe the problem that you'd like solved
Ability to add amazon.in

### Proposal & Constraints
I don't see why not. Amazon.in is pr

[2021-07-19 06:55] Atharva-Shinde commented on #5437
ok I am onto it :)

[2021-07-19 17:35] #3317 closed

[2021-07-19 20:39] Atharva-Shinde commented on #5437
can you please verify the changes

[2021-07-19 23:03] tfmorris commented on #5437
Those [instructions](https://openlibrary.org/help/faq/editing.en#author-identifiers-purpose) are redundant. There's no reason for a user to add things twice when computers are much better at keeping things in sync. Entering the OL ID in Wikidata should be sufficient (after merging all the duplicate OL author records). I never enter IDs anywhere but in Wikidata.

The instructions should also descri

[2021-07-20 02:19] RayBB commented on #5437
@tfmorris I agree that we should not have to add it twice. The instructions describe the current process. This ticket is only to add a link to the instructions. The link will be relevant even if instructions change.

1. I think it would be great to open a ticket so that IDs only have to be added in once place if there isn't already one.
2. Please also open an issue with copy that you'd like to hav

[2021-07-20 11:49] Yashs911 commented on #5212
https://github.com/internetarchive/openlibrary/pull/5430 will add Library Explorer to the Browse Menu

[2021-07-20 13:55] mekarpeles commented on #54
We're in the process of creating a `Partner Data Import Container` #5130 (similar to `openlibrary_importbot` on `ol-home0` for running import bot services as a pipeline.

It would be great to get NYT Bestseller Bot running as one of these import services.

**Account:**
https://openlibrary.org/people/nyt_bestsellers_bot

**Code:**
https://github.com/internetarchive/openlibrary-bots/tree/master/NY-T

[2021-07-20 17:27] #5346 closed

[2021-07-20 17:45] #5437 closed

[2021-07-20 23:27] jamesachamp commented on #5434
I think that the menu options can stay the same.  They would just link to the "My Books" page with the correct view displayed (Reading log, loans, book notes, etc.).

I will include a link to some mock-ups here, once they are completed.

[2021-07-21 09:42] Atharva-Shinde commented on #5437
I haven't got any email @RayBB,  when should I expect the email or could you please share the link to join the slack ..

[2021-07-21 17:41] ma8642 opened #5448 "Add Information About Donating to BetterWorldBooks"
I am pretty sure I heard in an Open Library zoom presentation that one could send books to that BetterWorldBooks as a way to donate to Open Library.  I cannot find information about this on the Open Library website.

### Describe the problem that you'd like solved
Information about how donating to BetterWorldBooks is linked to Open Library is hard to find / does not exist on the Open Library websi

[2021-07-21 18:52] mekarpeles opened #5449 "Minimal JS include widget which automatically adds Open Library "Borrow" and or "Preview" buttons to partner websites"
A script like `<script src="https://openlibrary.org/static/scripts/openlibrary-loader.js"></script>` which partners can easily drop into and configure for their website which automatically adds Open Library `borrow` buttons to relevant books.

This could also be a chrome extension (like Library Extension - https://www.libraryextension.com).

Here's an example of such a script which works for https

[2021-07-21 23:47] mekarpeles opened #5450 "Homepage should contain "My Loans" table"
### Describe the problem that you'd like solved

`/openlibrary/plugins/upstream/account.py`
`return borrow.get_loans(self.user)`

![www coinbase com_dashboard](https://user-images.githubusercontent.com/978325/126573382-44a1d4e5-db5a-4177-b90c-b1b221ded698.png)

### Proposal & Constraints

When the screen resolution is small, it should take 100% of the homepage width. However, when the screen size

[2021-07-22 16:14] adamcee commented on #4955
[Came here from the Hacker News post : )](https://news.ycombinator.com/item?id=27916228)

If I can I'll look into a webpack-first fix but just sort of bodging together stuff with nodemon might work. Two possible approaches:

1. [Looks like someone on SO resolved a similar-sounding issue](https://stackoverflow.com/a/61815057) by using [nodemon](https://nodemon.io/), which has been around awhile and

[2021-07-22 16:44] RayBB commented on #4955
@adamcee thanks for posting these detailed thoughts! I'm also looking at the PR that is currently open.

I don't have a final say on what route gets merged but as I've looked into it more due to the PR that's open I get the sense that:
1. This is something the probably _should_ be solved by webpack to make for a more seamless dev experience. However, it's unclear to me why the current webpack conf

[2021-07-22 17:19] jimman2003 commented on #4955
Maybe we misconfigured less loader?

[2021-07-22 23:16] zidingz opened #5456 "Trying to get in touch regarding a security issue"
Hi there,

I couldn't find a `SECURITY.md` in your repository and am not sure how to best contact you privately to disclose a security issue.

Can you add a `SECURITY.md` file with an e-mail to your repository, so that our system can send you the vulnerability details? GitHub suggests that a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your

[2021-07-23 00:49] #5135 closed

[2021-07-23 00:52] mekarpeles commented on #5456
https://github.com/internetarchive/openlibrary/commit/b8ae04bcf4fe8c24435de64c39acfe5d8ae2c5cc

Looking forward to your email, thank you for helping us stay on top of security concerns.

[2021-07-23 00:52] #5456 closed

[2021-07-23 01:22] LeadSongDog commented on #5444
Afaict all AMZ sites list the same offerings, except perhaps where local censorship laws intervene. Just the TLD and the currency changes.

[2021-07-23 01:30] RayBB commented on #5444
@LeadSongDog when someone clicks the Amazon link to the book listed in the ticket it goes to a 404 on Amazon.com however, the book is on amazon.in https://www.amazon.in/dp/8193699785/?tag=internetarchi-20

Any recommendations on how we could improve the UX around this?

[2021-07-23 01:51] LeadSongDog commented on #5444
Weird. That one works on .ca and .in but not .com nor .co.uk nor .de  I haven’t seen this behaviour before.

[2021-07-23 09:27] dcapillae opened #5457 "Notification system for wiki documentation pages"
It would be interesting to have a notification system to know when the documentation pages in Open Library site are changed in order to keep the translations up to date.

### Describe the problem that you'd like solved
The translation work is quite arduous at the beginning, when no translation is yet available. It is time-consuming and labour-intensive. Then it becomes easier, simply by adding the

[2021-07-23 09:38] muster-mark commented on #4928
There seems to be a wider issue here in that the HTTP status code is 200 even though there is an error.

[2021-07-23 10:47] rubinim95 opened #5458 "Q: Open Library API to fetch all data (books, authors, subjects) through single api?"
is there any api in open library to fetch all data through single api includes books ,authors ,subjects,edition,prices etc..?

[2021-07-23 10:50] jimman2003 commented on #5458
no.. maybe a monthly dump will serve you better?

[2021-07-24 11:54] BharatKalluri opened #5460 "Instructions on how to import books from goodreads"
### Describe the problem that you'd like solved

Currently we let users upload goodreads exported data, but do not clearly explain how to download the csv from goodreads.

### Proposal & Constraints

It would be helpful if we link the [goodreads import/export page](https://www.goodreads.com/review/import) next to the "Import from goodreads" section.
<img width="1163" alt="Screenshot 2021-07-24 at

[2021-07-24 13:18] the-halfbloodprince commented on #5439
Hi, I would be willing to try to fix this, please assign me this issue?

[2021-07-24 16:45] RayBB commented on #5439
@the-halfbloodprince awesome feel free to start👍

@jamesachamp can you assign?

[2021-07-25 13:10] LeadSongDog commented on #5443
This begs for malicious spam. We should never transparently forward to an outside link. At the very least the patron should be made aware of which external site the link goes to.

[2021-07-26 11:42] zidingz commented on #5456
Thank you for your swift action!

[2021-07-26 15:58] cdrini opened #5462 "Fix Deploys: Docker Hub disabling auto-builds July 26"
Getting emails that docker hub will disable auto-builds from their free tier. This is fine; we just need to add the build to our current deploy setup, and then push the resulting docker image into docker hub. This is blocking the next deploy (ergo P0). See https://docs.docker.com/docker-hub/builds/ .

Options:

1) Add an olbase build step to our deploy
    - Also need to add a `docker push` so tha

[2021-07-26 20:23] cdrini commented on #5462
Potential alternation to Option 1: Maybe GitHub Actions?

[2021-07-26 20:23] cdrini commented on #5462
We're leaning towards option 1.

[2021-07-28 11:52] #5462 closed

[2021-07-28 15:08] #5169 closed

[2021-07-28 16:58] #4868 closed

[2021-07-28 21:06] mekarpeles commented on #5458
The `search` API is likely the closest if you are only making a single API call. Otherwise, the monthly data dumps are a good choice.

[2021-07-28 21:06] #5458 closed

[2021-07-29 00:08] mekarpeles commented on #4379
Anyone have more examples of when Bulk Availability is showing the wrong availability listing in the Editions List? (i.e. when it disagrees w/ the value under the book)

The fix needs to go right here (internal code):
https://git.archive.org/ia/petabox/-/blob/master/www/common/AvailabilityService.inc#L150

[2021-07-29 02:06] LeadSongDog commented on #4379
#4379 looks to be related: traduction00arna_0 vs traduction00arna

[2021-07-29 08:29] MridulaKamath opened #5472 "Sample Dumps"
Is it possible to get small dump of works, e.g. 10k records? I am working on a demo application for my project, and while I need this type of data, I don't need 2.2G of it.

[2021-07-29 12:16] cdrini commented on #5472
If you're comfortable with the terminal, this command will download the first 10k rows of the works dump, and save them in the file `sample_ol_works.txt`

[code]

Does that help?

[2021-07-29 12:19] cdrini commented on #5458
@rubinim95 Can you give an example of what request you're trying to make? That would help a lot :)

If you're looking for getting info about a specific book, the search APIs include things like author name, etc. Eg https://openlibrary.org/search.json?q=harry+potter

[2021-07-29 12:34] MridulaKamath commented on #5472
Yes! Thank you so much!

[2021-07-29 12:36] #5472 closed

[2021-07-29 17:08] jimchamp opened #5473 "Database not populating when initially starting the application after a Docker build"
Our database population scripts may not be running properly after Docker images are built.  Books are not properly loaded and accessible on local Open Library instances until Docker is restarted at least once (and sometimes more than once).

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Build the Docker images.
2. Run `docker-compose up`
3. Watch for any er

[2021-07-29 18:48] mekarpeles commented on #4379
protodonation and promise items should also be excluded from the availability API because these are essentially "promises" for a book rather than ones we have in our inventory.

[2021-07-29 20:39] mekarpeles opened #5474 "Fix /isbn to retry Affiliate API up to 3 times (w/ 1 sec timeout)"
Should be fixed in #6332

Right now if one goes to a page like https://openlibrary.org/isbn/9781797210285 and the book isn't in OL, we enqueue a request for it in the Affiliate Server.

However, after enqueued, Open Library will return a Not Found page (and import the book behind the scenes).

What we should do is if one hits the /isbn endpoint directly, that we should assume they're willing for t

[2021-07-30 04:37] RayBB commented on #5474
Not sure about what level of overhead this may require but it could be nice to perhaps return a status like "pending" or "failed" when you call that endpoint. Something that could just be stored in memory and only kept around for an hour or something. That's perhaps a nicer approach for many tools than just having much longer response times.

[2021-07-30 14:09] jtboing commented on #5436
Hello. I'd like to help with this issue, if I may.

[2021-07-30 14:36] RayBB commented on #5436
@jtboing go for it :)

[2021-07-30 14:59] jtboing commented on #5436
Thanks! I'll get started. Is it okay if I am put as assignee? So that this is shown on my issues tab.

[2021-07-30 17:29] RayBB commented on #5436
@jimchamp can you assign the issue?

[2021-07-30 19:30] jimman2003 opened #5480 "Timeouts when searching queries with a lot of results"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/58356745/127702840-841b6dc3-ebbd-4024-b5e2-83fefae1b8fe.png)
### Relevant url?

https://openlibrary.org/search?q=Works&mode=everything
### Steps to Reproduce

1. Go to the above link
2. Do ...

* Actual: Timeout on Search
* Expected: Show results

### Details

- **Logged in (Y/N)?**
- **Browser type/version?

[2021-07-31 05:52] Yashs911 opened #5482 "blog.openlibrary.org is not responsive on mobile"
blog.openlibrary.org is not responsive on mobile screens.
### Evidence / Screenshot (if possible)
![blog](https://user-images.githubusercontent.com/64412143/127730246-69880142-754a-48bd-be48-9b997a8621f3.png)

### Relevant url?

https://blog.openlibrary.org/
### Steps to Reproduce

1. Go to https://blog.openlibrary.org/ on a mobile device or open developer tools --> toggle the mobile view on a des

[2021-08-02 03:02] RayBB opened #5488 "https://openlibrary.org/authors/OL41A/works.json retuns a non json response when author not found"
As I've been learning the API and working with it. I found that when looking at author works it returns an html page instead of json error when an author is not found.

### Evidence / Screenshot (if possible)
<img width="794" alt="image" src="https://user-images.githubusercontent.com/921217/127798810-d9eda606-3fbc-4894-9ddb-b017ac2ead05.png">

### Relevant url?

https://openlibrary.org/authors/OL4

[2021-08-02 05:34] #5307 closed

[2021-08-02 12:52] cdrini opened #5492 "i18n pages should have SEO links to other language versions"
`i18n_page`s like https://openlibrary.org/subjects should include HTML headers for different languages. Eg.

[code]

And so on.

### Describe the problem that you'd like solved
Improve SEO by following Google's best practices

### Additional context
- Google's SEO docs: https://developers.google.com/search/docs/advanced/crawling/localized-versions

### Stakeholders

[2021-08-02 14:32] cdrini opened #5493 "Move production solr from solr1 to solr0"
solr1 has more storage space, and is better suited for reindexing. Now that solr v8 looks healthy/stable, we should move it over to solr0 since don't need the solr v3 anymore.

Steps:
- [x] Cleanup solr0
    - [x] Stop solrupdater for v3 (solr0) on ol-home0 `docker stop openlibrary_solr-updater_1`
    - [x] Stop solr on solr0: `docker stop openlibrary_solr_1`
    - [x] Make sure nothing's broken a

[2021-08-02 15:04] cdrini commented on #5343
Created an alert for this in our grafana instance; we should now get a slack notification if avg search page time is slow for >3min.

Mostly need this to help diagnose the issue. Next time it happens, I'll see if I can:
- find a pattern for CPU usage which I can use to auto-restart when a CPU threshold is passed
- find a request that returns a failing message that I can use to auto-restart things

[2021-08-02 15:08] cdrini commented on #5343
Also as a baseline:

/solr/admin/cores?action=STATUS&core=openlibrary

[code]

[2021-08-02 15:11] cdrini commented on #5343
Also as a baseline:

/solr/admin/metrics?group=core&prefix=QUERY./select

[code]

[2021-08-02 16:48] agmckee commented on #756
Not sure if this issue is being actively worked on, I came across it because I found an example of the second described issue from the OP (It performs a simple text comparison and will conflate different authors under the same ID) and I was researching how it might have happened.

As a software developer myself I know that good cases are useful in debugging so here's the MARC record:

https://open

[2021-08-02 19:04] #5369 closed

[2021-08-02 19:27] mekarpeles commented on #5473
@jimman2003 have you noticed this and do we possibly know of a good solution? Would love your feedback

[2021-08-02 19:42] cdrini opened #5497 "Temporary Planned Email outage: OL Activiations Will Be Down (~6h)"
We'll want an announcement bar which shows "email info@archive.org to activate email".

Preferably the ops team e.g. @jimbonator may be able to help us activate a batch of emails in bulk given a list of emails?

[2021-08-02 19:45] cdrini commented on #5407
@mekarpeles Says maybe there's a branch with some useful code from a big IA search refactor.

[2021-08-02 19:51] cdrini commented on #3989
Re-opening until I add this to the monthly dump cron job

[2021-08-02 20:01] mekarpeles opened #5498 "Partner Book /Preview Endpoint"
/preview endpoint added on to works, editions, /isbn with iframe to book preview for partner iframes

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Relat

[2021-08-02 20:05] cdrini commented on #5133
Closing in favour of #3990 ; that one is more scoped.

[2021-08-02 20:05] #5133 closed

[2021-08-02 20:12] cdrini opened #5499 "Jim Champ onboarding"
- [x] @mekarpeles Make sure @jimchamp has ol-dev1
- [x] @cdrini Access to olsystem
- [ ] @cdrini Create an ol-jim on ol-dev1 for Jim

[2021-08-02 20:16] cdrini opened #5500 "Create art for onboarding tiles on homepage"
Subtask of #2599 .

Description: TODO

Also: @charstarstars

[2021-08-02 21:01] jimbonator commented on #5497
Do you mean take a list of user's email addresses and activate their account as though they had clicked the confirmation link in the email we send them on sign-up?  (Since they won't receive the confirmation email during the outage.)

[2021-08-02 21:48] agmckee commented on #756
@LeadSongDog thanks for cleaning up the Gail Johnson records however I could have done that myself, I thought it was more advisable to determine why ImportBot had got it wrong first.

[2021-08-02 22:23] jimman2003 commented on #5473
No...unfortunatly not

[2021-08-02 22:29] jimman2003 commented on #5473
In the past, it help me to remove the solr volumes and rebuild... maybe try this?

[2021-08-02 22:33] jimchamp opened #5501 "Add books to "Want to Read" list from search results page."
### Describe the problem that you'd like solved

While searching for books in Open Library, a patron may find several books that they would like to read in the search results.  In order to add all of these books to their "Want to Read" list, a patron would have to open each book's page, click the reading log button, navigate back to the search results, and repeat.

### Proposal & Constraints

Add

[2021-08-03 02:16] LeadSongDog commented on #756
Not much mystery. The bot used low-fidelity info from AMZ without checking elsewhere. AMZ doesn’t even try to distinguish similarly-named authors. For some reason the bot is still being allowed to do this.

[2021-08-03 14:27] cdrini opened #5502 "Do a full solr reindex with 2021-10 dump"
~Blocked by #5493 .~

We're making some change to our solr schema, so want to do a full reindex this month. This will also "deploy" some of the fixes we've made, like #5267

PRs part of this full reindex:
- #5270
- #5568
- #5600
-  ~#3990~ ->> Punting to next one
- [x] Update solr 8.8 -> 8.10

Process
- [x] Run full reindex, fixing any issues
- [x] Start next solr updater to catch-up
- [x] Finish

[2021-08-03 22:28] RayBB opened #5504 "Manage covers modal is doubled"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/921217/128094357-f1acfa4d-c456-44db-a83f-33ff03e95669.png)

### Relevant url?
Any work
https://openlibrary.org/works/OL3801795W/Tristan

### Steps to Reproduce

1. Go to any work page
2. Click "manage covers"

* Actual: shows double of everything
* Expected: shows one

### Details

- **Logged in (Y/N)?** Y
-

[2021-08-04 10:26] seabelis opened #5506 "/openlibrary/openlibrary/templates/recentchanges/merge-authors/view.html: error in processing template: AttributeError: 'NoneType' object has no attribute 'key' (falling back to default template)"
When trying to view some merge-authors error is thrown.
`/openlibrary/openlibrary/templates/recentchanges/merge-authors/view.html: error in processing template: AttributeError: 'NoneType' object has no attribute 'key' (falling back to default template)
`
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/recentchanges/2010/06/03/merge-authors/39673431

### Steps to

[2021-08-04 10:29] seabelis opened #5507 "Author merge may have affected IA records"
The following incorrect author merge, https://openlibrary.org/recentchanges/2011/06/28/merge-authors/43659788 , appears to have written the data back to associated IA records causing IA to display incorrect authors for books.
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/recentchanges/2011/06/28/merge-authors/43659788

### Steps to Reproduce

1. Go to ...
2. Do

[2021-08-04 10:29] seabelis commented on #5507
Merge has been reversed on OL and the data corrected on IA. It's unclear why the IA data was affected.

[2021-08-04 10:29] #5507 closed

[2021-08-04 14:16] #5504 closed

[2021-08-04 14:51] muster-mark commented on #566
Original link no longer exhibits the problem - here is an example which does (HP and the Deathly Hallows): https://openlibrary.org/books/OL27277917M.json

[2021-08-04 20:23] #5416 closed

[2021-08-04 21:34] RayBB commented on #5439
@mek @jimchamp maybe a small bump in priority with this since NYT bot may touch 10,000s of popular books soon
<img width="1123" alt="image" src="https://user-images.githubusercontent.com/921217/128258059-1ce8a834-3c42-4b7a-bc2f-517a217be37f.png">

[2021-08-05 04:52] seabelis commented on #5180
Resolved with https://colab.research.google.com/drive/1bLbWs6YlvxXuP0Q--N6Os83ZmNLn0i8m?usp=sharing

[2021-08-05 04:52] #5180 closed

[2021-08-05 12:49] RayBB opened #5513 "Books api doesn't return 404 when isbn not found"
Going to https://openlibrary.org/api/books.json?bibkeys=isbn:9781935869008 you will get a 200 and a blank response.

Pretty sure we should return a 404 status code when there is no result

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/api/books.json?bibkeys=isbn:9781935869008

### Steps to Reproduce

1. Go to the url

* Actual: 200 status code
* Expected: 404 s

[2021-08-05 21:00] RayBB commented on #5438
GitHub fixed the bug! Codespaces now works fine if you have access to it!

[2021-08-05 21:00] #5438 closed

[2021-08-05 21:05] jimchamp commented on #5473
It seems that the database is being properly populated when a fresh Docker build is first started.  The classic books carousel will not appear on the homepage in development environments if that page is opened too early after starting Docker.  Since this page is cached, the carousel will still not appear after the page is refreshed.

I've found that the carousel will be present if I wait until `ho

[2021-08-05 21:26] jimchamp opened #5517 "DB startup scripts attempt to create some tables twice"
When first starting OL after a fresh Docker build, our DB scripts attempt to create the following tables twice:
- ratings
- bookshelves
- bookshelves_books
- bookshelves_votes

This doesn't seem to cause any issues, but several error messages are displayed in the `db_1` logs.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Rebuild Docker
2. Run `docker-compo

[2021-08-06 17:58] #5212 closed

[2021-08-06 17:58] #5423 closed

[2021-08-06 18:02] cdrini opened #5520 "Apple devices showing default <details> tag markers"
Not sure if these was a recent regression or always a problem.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/128552756-826f86fa-8bd9-42a3-a471-4a6e9cc47787.png)

### Relevant url?
- https://openlibrary.org/

### Steps to Reproduce

1. Go to https://openlibrary.org/

* Actual: Browser default `<details>` markers are visible
* Expected: Browser d

[2021-08-06 18:03] cdrini commented on #5520
Confirmed also happening on Macs:
![image](https://user-images.githubusercontent.com/6251786/128553110-ee2e0ac7-4c52-4527-8650-50739e805ed5.png)

[2021-08-06 18:15] #5439 closed

[2021-08-06 18:18] cdrini commented on #5520
This seems to do the trick! https://stackoverflow.com/questions/6195329/how-can-you-hide-the-arrow-that-is-displayed-by-default-on-the-html5-details-e

[code]

[2021-08-06 18:43] #5520 closed

[2021-08-07 05:46] #5411 closed

[2021-08-07 16:45] LeadSongDog commented on #667
As @tfmorris points out, handling of case, diacritics, and normalization forms still needs improvement.

Æsop, Aesop, Äsop, Esop, and Αἴσωπος etc. should all match the same author record without resort to locally creating a manually curated a.k.a. list. That is what the curated ISNI is for. Our various multinational source catalogues could have used any or all of the 65 spellings found there, and

[2021-08-09 05:05] hornc commented on #5206
@seabelis I had a look at one of the results from @cdrini 's query above

https://openlibrary.org/works/OL15336690W (this page errors because of something in `/booklending_utils/booklending_utils/openlibrary.py in is_exclusion` with debug mode on)

The history can be viewed here:
https://openlibrary.org/works/OL15336690W.json?m=history

The import API uses the search index to find edition matches

[2021-08-09 18:12] LeadSongDog commented on #5206
It is not helpful to have multiple author records for Sir Walter Scott. It is even worse to have edition records explicitly linking to the wrong author record, different from the one given in the work record. This is a well known issue. Edition records should not show author links unless they can stay in sync with the work records.

[2021-08-09 19:48] mekarpeles commented on #2599
This has been merged :tada:

[2021-08-09 19:48] #2599 closed

[2021-08-09 20:30] mekarpeles commented on #5497
Tentatively planning to have a banner up on Friday Aug 20 @ 1pm

[2021-08-10 08:00] amammad opened #5525 "Is your Email up?"
Hello sir.
can you just tell me that the following email still working or not?
openlibrary@archive.org
and if it is working now, do you receive any email from huntr.dev team?

[2021-08-10 08:04] seabelis commented on #5206
@hornc The merge script only migrates 50 editions. In cases where there are more than 50, I usually use a separate script to first migrate the editions before running the merge; looks like maybe I missed this one. I've seen this before with some older merges by bots and was able to reverse them by rolling back to an earlier version of the work, but that does not seem possible in this case. Related

[2021-08-10 08:44] seabelis commented on #5206
Was able to revert https://openlibrary.org/works/OL15336690W by editing the .yml

[2021-08-10 09:20] seabelis commented on #5206
This merge happened way back in 2010. https://openlibrary.org/works/OL10614095W/Lone_Eagle?m=history

[2021-08-10 09:26] seabelis commented on #5206
And now trying to re-merge I get an error, `Unexpected token U in JSON at position 0`
This work did not have 50 editions, or if it did, they did not migrate, so it's unclear why this merge still left editions remaining on the dupe.

[2021-08-10 09:27] seabelis commented on #5206
And as @LeadSongDog points out, all of these seem to be missing titles.

[2021-08-10 09:36] seabelis commented on #5206
And again, this one was merged back in 2011, but with remaining editions. Same error when trying to merge now. https://openlibrary.org/works/OL10614091W/untitled

[2021-08-10 09:42] seabelis commented on #5206
Also, none of those in @cdrini 's list are actually redirecting until they are reverted and re-merged. So something is going wrong there.

[2021-08-10 10:05] seabelis commented on #5206
So I think these can all be reverted by changing the .yml from type/redirect to type/work and removing the location. This can be done in bulk?
@hornc @cdrini @BharatKalluri

[2021-08-10 10:44] jimman2003 commented on #5206
Probably with a python script..

[2021-08-10 11:41] grubeli opened #5526 "No module named infogami"
### Evidence / Screenshot (if possible)
openlibrary solr updater - container keeps restarting due to error: "No module named `infogami`"
![image](https://user-images.githubusercontent.com/74614193/128860758-c129e894-1761-4fe0-afaa-7ae6444add90.png)

### Steps to Reproduce
* docker-compose up

* Actual: restarting
* Expected: access web page

[2021-08-10 11:57] jimman2003 commented on #5526
Try git submodule init in openlibrary folder and rebuild the container

[2021-08-10 12:17] grubeli opened #5527 "My own instance"
### Question
Can I use this project to setup my own instance with my own books?

### Additional context
I have some books I want to share or access when I'm abroad, can I use this project for that?
Something like my own library

[2021-08-10 13:32] grubeli commented on #5526
Doesn't help

[2021-08-10 16:41] cdrini commented on #3989
Ran manual dump with:

[code]

Waiting...

[2021-08-10 16:41] cdrini commented on #5402
Kicked off manual dump; see https://github.com/internetarchive/openlibrary/issues/3989#issuecomment-896138264

[2021-08-10 19:06] #5103 closed

[2021-08-11 02:23] #5394 closed

[2021-08-11 09:15] soham4abc commented on #3483
Can anyone please have a look at my PR It has been open for a while with no reviews! @cclauss @cdrini

[2021-08-11 13:20] jimman2003 opened #5535 "Merged authors appearing as separate entries in search/subjects"
### Evidence / Screenshot (if possible)
<img alt="Screenshot_2021-08-11-11-55-50-744_com.kiwibrowser.browser.jpg" src="https://user-images.githubusercontent.com/58356745/129035488-dd437beb-b824-4c47-a90b-426b8b4dffbf.jpg" width="300" >
^ Note the 2 "UNICEF"s; these have been merged.

### Relevant url?

Old id: https://openlibrary.org/search?q=author_key%3AOL214662A&mode=everything
Category: https:

[2021-08-11 18:07] cdrini commented on #3989
Grr it errored with `error waiting for container` :/

[2021-08-11 18:38] cdrini commented on #3989
Darn, ol-home0 docker daemon restarted for some reason ~13 hours ago. Restarting from scratch :(

[2021-08-11 18:47] cdrini commented on #5402
Errored; restarted. See https://github.com/internetarchive/openlibrary/issues/3989#issuecomment-897039442

[2021-08-11 19:07] #5449 closed

[2021-08-11 19:59] cdrini commented on #3989
Stopped to try to get the automatic cron job working with @mekarpeles ; we think we got it!

[2021-08-11 21:01] LeadSongDog commented on #5185
Also seen at
https://openlibrary.org/books/OL20417038M/Lone_eagle/edit
https://openlibrary.org/books/OL21881506M/Lone_eagle./edit
https://openlibrary.org/books/OL19462841M/Lone_eagle./edit
Seen moving from OL10614095W to OL19726W or simply revising content.

[2021-08-12 02:43] RayBB opened #5537 "Join Waitlist null when book checked out"
The join waitlist button has a "null" text added to it. It is unclear why.

### Evidence / Screenshot (if possible)
<img width="852" alt="image" src="https://user-images.githubusercontent.com/921217/129130177-6055a837-4a2b-49f0-975e-8740c5322929.png">

<img width="854" alt="image" src="https://user-images.githubusercontent.com/921217/129130229-e59a4b13-3d7b-46d2-9bab-647a77d4122f.png">

### Releva

[2021-08-12 04:55] amammad commented on #5525
can you just give me any feedback?

[2021-08-12 11:18] Zaidtech commented on #5513
Can i work on this issue

[2021-08-12 11:22] RayBB commented on #5513
@Zaidtech nobody else is working on it so I don't see why not.
@mekarpeles can assign the ticket to you. He may also be able to give some pointers on how to get started because I don't know where to even begin looking.

[2021-08-12 11:25] Zaidtech commented on #5513
Thanks, @RayBB
Exactly, I was also looking, where to begin with and needed some clues.

[2021-08-12 13:17] RayBB commented on #5535
Same thing happening here with `Danielle Steel`
https://openlibrary.org/subjects/new_york_times_bestseller

[2021-08-12 14:58] RayBB commented on #5403
As of Aug 12, 2021:
Staging went from 1760 to 1160
Testing went from 2100 to 1090

[2021-08-12 18:34] #5493 closed

[2021-08-12 18:58] shanamatthews opened #5539 "Author pages are broken on dev site"
As of some new commit today (may be PR #5534), author pages don't load on the dev site.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/3520671/129252409-44c129f4-30d9-49a1-8a71-a753eb5ed87a.png)

![image](https://user-images.githubusercontent.com/3520671/129252421-1d1166cb-d37d-4dfb-97ba-ee34611375e0.png)

### Relevant url?
e.g. http://0.0.0.0:8080/auth

[2021-08-12 20:33] cdrini commented on #5539
That looks to be the error! Opening a PR now to unblock folks

[2021-08-12 20:45] #5539 closed

[2021-08-12 20:50] cdrini commented on #3989
It randomly failed again :( Kicking it off one more time outside of cron

[2021-08-12 21:49] jimman2003 commented on #667
ISNI can be also found throgh wikidata sometimes

[2021-08-13 12:52] LeadSongDog commented on #5185
The message is an exception handled here:
https://github.com/infogami/infogami/blob/3e9357c0184cd51921e198762c9f7d03b4589cf1/infogami/infobase/client.py#L156

Would it be more helpful if the message included some information, perhaps the path parameter?

[2021-08-13 13:04] LeadSongDog commented on #5535
I suspect that work records still exist showing the redirect-from author ID and the searched-for subject. Is there a way to find what-links-here for the devalued author ID?

[2021-08-13 14:35] ashishgits commented on #5435
is OL included in the id?

[2021-08-13 14:35] ashishgits commented on #5435
or just the numbers?

[2021-08-13 14:39] ashishgits commented on #5435
i want to solve this issue

[2021-08-13 18:27] RayBB commented on #5435
@ashishgits it will include OL plus the number plus A

[2021-08-13 19:14] shanamatthews commented on #5435
Whoops - sorry @ashishgits I was already working on this and just put out a PR. I should have commented to say so, my bad!

[2021-08-13 21:44] cdrini commented on #3990
What could we want to use this for:

- Ratings
    - Display aggregate graphs like this:
    ![image](https://user-images.githubusercontent.com/6251786/129408410-54a4d802-68e3-4eaf-aa15-63cc331111bd.png)
    - Sort books by highest rated
    - Filter books by rating (only show my sci fi books with a rating > 3)
- Reading log
    - Find me the most want-to-read sci fi book
    - Find me the most re

[2021-08-16 16:47] cdrini commented on #5343
Forgot to look at the other things in my panic :(

[2021-08-16 19:14] mekarpeles commented on #5527
In general, Open Library is forkable under AGPL3 :) personal library seems like a great usage, good luck and ask q's if you have any!

[2021-08-16 19:14] #5527 closed

[2021-08-16 19:48] mekarpeles commented on #3990
Trending
`reading_log_total`
`reading_log_monthly`
`reading_log_weekly`

These will get overwritten each re-index

e.g. Show me all results filtered by things that are trending w/ activity this month

[2021-08-16 19:49] cdrini commented on #3990
Going to try add a hook before new data is written to the DB to write to solr, so that the numbers keep updating.

[2021-08-16 22:03] mheiman opened #5551 "Reading log entry shows blank title/author if the logged work has been merged into another work"
### Evidence / Screenshot (if possible)
<img width="823" alt="Screen Shot 2021-08-16 at 4 26 39 PM" src="https://user-images.githubusercontent.com/886889/129631687-9fdea28d-1be0-4f08-a137-54354f9ea798.png">

### Relevant url?

### Steps to Reproduce

1. Add a work to your reading log
2. Merge the work you added into another work so that the original work becomes a redirect
3. View the reading log

[2021-08-17 09:08] #5435 closed

[2021-08-17 14:47] seabelis opened #5554 "Make all IA IDs available to librarians or admins"
It is difficult to check for duplicate IA IDs when some IA IDs are not visible.

### Describe the problem that you'd like solved

Make IA IDs visible for librarians (or admins).

### Proposal & Constraints

### Additional context

https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/type/edition/view.html#L440-L445
`$ no_index = edition.get_ia_meta_fields().get('noindex

[2021-08-17 17:34] jimman2003 commented on #5554
There is already a user.is_librarian https://github.com/internetarchive/openlibrary/blob/12d5741f88baa6902f74972cad47608bf5c515ea/openlibrary/plugins/upstream/code.py

[2021-08-17 17:42] jimman2003 commented on #5526
Also try pulling the new commits , there was a bug iirc

[2021-08-17 18:28] cdrini commented on #5403
Now at:
- staging: 770
- testing: 835

[2021-08-17 20:07] #3989 closed

[2021-08-18 06:22] HaripraveenS commented on #3797
Hi @mekarpeles  , I am a beginner to open source and would love to work on this. Can I try?

[2021-08-18 17:45] LeadSongDog opened #5562 "Put "translation of" in the right place when importing marc 546 field"
### Evidence / Screenshot (if possible)

https://openlibrary.org/show-records/talis_openlibrary_contribution/talis-openlibrary-contribution.mrc:1024308948:447

https://openlibrary.org/books/OL16012969M.json

### Relevant url?

https://openlibrary.org/books/OL16012969M/Un_amore_cosi_raro

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual: imported edition note shows "notes": "Translation of:

[2021-08-19 17:44] #5425 closed

[2021-08-20 08:33] TimFromPhx opened #5571 "Does anyone know where I can find field definitions for the openlibrary book database tables?"
### Question

Does anyone know where I can find field definitions for the openlibrary book database tables?

### Additional context

I'm using the  RESTful APIs to look up books but I am having a hard time finding field definitions for the book tables. I am getting the data just fine but I don't know exactly what the fields mean.
Thanks for any help you can give.

### Issue resolution criteria

##

[2021-08-20 09:23] jimman2003 commented on #5571
One source I know of is https://github.com/RayBB/openlibrary-to-sqlite(the column names in the script)

[2021-08-20 10:18] wolfrain696 opened #5572 "strange "books""
books that don't exist

![image](https://user-images.githubusercontent.com/66623494/130219045-ab48e9c0-c59d-453b-8b85-c3675ce10615.png)

[2021-08-20 18:56] #3296 closed

[2021-08-20 19:21] jimchamp commented on #5572
@wolfrain696 it looks like you may have posted this issue in the wrong repository.  Closing this issue for now.  Please reopen and add more details if this is an Open Library issue.

[2021-08-20 19:21] #5572 closed

[2021-08-20 22:35] TimFromPhx commented on #5571
Thanks for your help but when I went to that page you recommended I got a 404 Page not found error. Might you have any other suggestions?

Thanks again for your help.

From: jimman2003 ***@***.***>
Sent: Friday, August 20, 2021 2:23 AM
To: internetarchive/openlibrary ***@***.***>
Cc: TimFromPhx ***@***.***>; Author ***@***.***>
Subject: Re: [internetarchive/openlibrary] Does anyone know where I ca

[2021-08-20 23:10] hornc commented on #5571
I'm not sure if this helps as it doesn't describe database tables, but it does document the JSON API for authors, editions, and works:

https://github.com/internetarchive/openlibrary-client/tree/master/olclient/schemata

It has formats, and some descriptions and examples.

[2021-08-21 02:33] TimFromPhx commented on #5571
Charles,

It doesn't show field definitions but does have enough data of different types that I can easily tell what the field definition should be.

Thank you very much for your help,

Tim Anderson

From: Charles Horn ***@***.***>
Sent: Friday, August 20, 2021 4:11 PM
To: internetarchive/openlibrary ***@***.***>
Cc: TimFromPhx ***@***.***>; Author ***@***.***>
Subject: Re: [internetarchive/openli

[2021-08-21 06:21] jimman2003 commented on #5571
Try clicking my link on github, I correctted the link ;)

[2021-08-22 02:39] TimFromPhx commented on #5571
Thanks for the help. I am not sure how to close the question. Can you tell where to go to close my question or you can close it if that is easier. I am new to github. I have coded for a long time but have always used other types of source control.

Thanks again for your help,

Tim Anderson

From: jimman2003 ***@***.***>
Sent: Friday, August 20, 2021 11:21 PM
To: internetarchive/openlibrary ***@***

[2021-08-22 08:30] hornc commented on #5562
MARC 5xx fields are various notes fields, 546 is the 'Language Note' and it's not always about translations, and is not a structured notes field, so extracting this info becomes a natural language processing task. Currently OL places any and all of these notes fields in the one general notes field, which I think works because there is usually enough context in the note to make it clear what is bei

[2021-08-23 03:21] #5537 closed

[2021-08-23 19:07] cdrini commented on #5571
It's the button at the bottom here :)
![image](https://user-images.githubusercontent.com/6251786/130503665-4aacee1c-a0f0-4b10-9dce-d1d545ac6518.png)

But I can close for you :+1:

[2021-08-23 19:07] #5571 closed

[2021-08-23 19:09] #5497 closed

[2021-08-23 19:10] cdrini commented on #4453
Woohoo! https://blog.openlibrary.org/2021/08/20/introducing-community-reviews/

[2021-08-23 19:10] #4453 closed

[2021-08-23 21:34] mekarpeles opened #5577 "Add OpenStax catalog + add `openstax` ID"
Issue needs spec @mekarpeles

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2021-08-25 07:20] seabelis opened #5581 "/openlibrary/openlibrary/templates/type/work/view.html: error in processing template: IndexError: list index out of range (falling back to default template)"
I'm seeing the following error` /openlibrary/openlibrary/templates/type/work/view.html: error in processing template: IndexError: list index out of range (falling back to default template)`

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/works/OL50231W/The_Invention_of_Hugo_Cabret?edition=?debug=true

### Steps to Reproduce

1. Go to ...https://openlibrary.org/w

[2021-08-25 09:39] seabelis commented on #5581
Another example. https://openlibrary.org/books/OL26759687M/The_Boys_from_Brazil

[2021-08-25 16:01] LeadSongDog commented on #5562
It would seem that recognizing a fairly small set of equivalent terms would go a long way to reducing the shambolism we currently see for translated works: "Original text" and "Translation of" in a handful of our major languages would mark the edition’s work title claim. Searching for that claimed original title against that author’s work record titles will find the lion’s share. It helps that mos

[2021-08-26 08:10] seabelis opened #5585 "Add book form does not have disclaimer."
The add book form does not present the following disclaimer: "By saving a change to this wiki, you agree that your contribution is given freely to the world under CC0. Yippee!"

By the time the patron sees this they have reached the end of the edit form AFTER the initial record has been created.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/books/add

### Step

[2021-08-27 04:39] mekarpeles opened #5586 "Switch partnerLib to use OL search instead of IA availability"
Switching #5479 such that https://openlibrary.org/static/build/partnerLib.js uses openlibrary.org/search.json?fields=*,availability&q="(isbn:... OR key:...)" would enable us to support lookup by ISBN & olids.

The button copy should also be responsive to the availability

[2021-08-27 20:09] LeadSongDog opened #5587 "Bulk MARC files are very stale"
In the years since 2008 many improvements have been made in partners' source catalogues, but we are still using outdated snapshots warts and all. It's long past time for a refresh.

### Evidence / Screenshot (if possible)
Compare, for example, the new:
https://librarysearch.library.utoronto.ca/discovery/sourceRecord?vid=01UTORONTO_INST:UTORONTO&docId=alma991106329368606196&recordOwner=01UTORONTO_I

[2021-08-28 09:21] seabelis opened #5589 "Facebook preview shows edition date + "edition""
When posting an edition link on Facebook, preview shows the edition's date + "edition". If the edition information is what is intended, this should come from the edition field. However, in this context, it might be better to show the author as the specific edition is less relevant.

### Evidence / Screenshot (if possible)
<img width="553" alt="Screenshot 2021-08-28 at 11 17 00" src="https://user-i

[2021-08-29 09:16] bennypowers opened #5590 "OpenAPI Schema"
I propose adding OpenAPI v3 schema to the API. This would provide many benefits:
- generating up-to-date docs pages
- generating tests
- generating a matching GraphQL API via [GraphQL Mesh](https://graphql-mesh.com)

### Describe the problem that you'd like solved
API docs may be out of date, and a GraphQL API would be nice to have.

### Proposal & Constraints
Writing (or generating) an OpenAPI sc

[2021-08-29 18:25] goyaldhara commented on #5436
Hi, I would like to work on this issue.

[2021-08-29 21:47] sarathsajan commented on #5585
Hey I want to contribute. So is the edit location inside this file [https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/login.html]. Where should I add the sentence in the webpage.

I coming to this issue from Good First Issue, so pardon for any beginner mistakes from me.
Thanks.

[2021-08-29 21:48] sarathsajan commented on #5585
Hey I want to contribute. So is the edit location inside this file [Link to the file](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/login.html) Where should I add the sentence in the webpage.

I coming to this issue from Good First Issue, so pardon for any beginner mistakes from me.
Thanks.

[2021-08-30 03:28] arimanyus commented on #5046
Hey @STAMATIOSL, are you looking into this?

[2021-08-30 07:37] jimman2003 commented on #5506
Located the issue:
https://github.com/internetarchive/openlibrary/blob/839271fdb367c05bfd9f9b8fa0ca9b1e06f79466/openlibrary/templates/recentchanges/merge-authors/view.html#L21

[2021-08-30 10:58] STAMATIOSL commented on #5046
@arimanyus No, you can go for it!

[2021-08-30 16:03] tfmorris commented on #714
@mekarpeles You never replied to my request for clarification https://github.com/internetarchive/openlibrary/issues/714#issuecomment-765160179

I just retested and neither of the searches from my January 2018 comment work on openlibrary.org https://github.com/internetarchive/openlibrary/issues/714#issuecomment-354715235

I'm still interested in:
* a pointer to the commit / PR that's claimed to fix

[2021-08-30 16:14] tfmorris opened #5594 "Author merge fails"
I know there was an issue about failing author merges, but I can't find it.
### Evidence / Screenshot (if possible)

![Screen Shot 2021-08-30 at 12 06 24 PM](https://user-images.githubusercontent.com/82178/131369876-172fcff4-a413-46f1-845d-5ac19755219d.png)

### Relevant url?
https://openlibrary.org/authors/OL6736985A/Lucy_Leffingwell_Cable_Bikl%C3%A9?merge=true&duplicates=OL2225567A,OL5767240A,OL

[2021-08-30 16:24] tfmorris opened #5595 "Strange error on simple author search"
When I search for the author "lucy bikle", I get an (untranslated) error message saying "Error parsing empty search engine response" which doesn't really make any sense. I know that there are authors matching this search pattern, so I'm not sure why the search engine response is empty or what I should do about it.

### Evidence / Screenshot (if possible)

![Screen Shot 2021-08-30 at 12 16 50 PM](h

[2021-08-30 16:44] jimchamp commented on #5577
Should we use the digital ISBN when importing these?

![Screenshot from 2021-08-30 12-38-00](https://user-images.githubusercontent.com/28732543/131374288-157d06c1-778e-4ce9-ae40-b79de27ae905.png)

[2021-08-30 17:42] sadn1ck commented on #5238
Hey @jdlrobson, came across this issue while searching for good first issues, saw this wasn't being worked on, so I did the changes in a branch [here](https://github.com/sadn1ck/openlibrary/commits/5238/bug/eslint-eqeqeq-rule).

I ran the tests mentioned in the CONTRIBUTING doc as well (they passed). Let me know if any changes are required and if I should make a PR.

Thanks!

[2021-08-30 17:55] sadn1ck commented on #5595
I'm unable to reproduce on Chome Version 92.0.4515.159

![image](https://user-images.githubusercontent.com/16396161/131382710-979c0e8c-32b2-4703-8b5b-718bae4f25c4.png)

[2021-08-30 19:59] cdrini opened #5596 "Send IA Swag packs to OL fellows"

[2021-08-30 20:00] cdrini opened #5597 "Organize/spec October presentation"
Lil' OL jam to present what we've done this year

- [x] Coordinate speakers
- [x] Create slide deck
- [x] Blog posts about OL review/etc

[2021-08-30 20:21] cdrini commented on #5434
So idea is to make this page more like a master-details interface.

- [ ] Add "My Loans (2)" just above "My Reading Log" in left side bar
- [ ] Clicking my loans displays loans in the right "details" section
- [ ] Clicking a list in the left displays right "details" section
     - [ ] Open Question: List export options? List metadata
- [ ] Clicking "My Lists" brings up https://openlibrary.org/peop

[2021-08-30 21:06] cdrini commented on #5595
I think this is the result of #5343 ; during a typical "episode" the solr server won't respond, and OL displays an error.

[2021-08-31 01:44] jimchamp commented on #4989
Closed by #5353.

[2021-08-31 01:44] #4989 closed

[2021-08-31 16:23] cdrini commented on #714
I'm guessing he tested the searches in the description, which do work now, and didn't see that there were more cases below. The changes that likely fixed those are the (1) full solr reindex; there is some NFC normalizing code in update_work: https://github.com/internetarchive/openlibrary/blob/14a6b5b67854b9b6b6e10593bba8be2d04913526/openlibrary/solr/update_work.py#L153 ; but a full solr reindex wo

[2021-08-31 16:59] seabelis commented on #5585
@sarathsajan Placement should probably go at the bottom near the submit button.

[2021-08-31 18:02] sarathsajan commented on #5585
Thanks for assigning this issue to me

* I have made the necessary change to _replicate the disclaimer from "edit book" form to "add book" form_.
* I also did a pull request after making the changes --> #5593
* Please help me if I am _missing_ any standard procedure for contribution.

Thanks.

[2021-08-31 18:05] jimman2003 opened #5603 "Matrix to Slack bridge"
Currently the community is split between two chat platforms
### Describe the problem that you'd like solved

Connect those two sub-communities
### Proposal & Constraints

Join Slack and Matrix though a bridge

### Additional context

Step to enable the bridge:
![info from the matrix side](https://user-images.githubusercontent.com/58356745/131553935-71d0e836-2d99-4428-aed9-b08153a0c581.png)
![scrol

[2021-08-31 18:16] cdrini commented on #5403
Now at:
- staging: 909
- testing: 608

[2021-08-31 18:45] cdrini commented on #5403
Apparently I can submit bulk removal requests from Google Search Console! Sent those out for staging/testing. Waiting...

[2021-08-31 23:43] LeadSongDog commented on #714
Perhaps overtaken by events, but observe that https://openlibrary.org/search/authors?q=Ā*+Basu finds four author records while https://openlibrary.org/search/authors?q=A*+Basu finds none.

[2021-09-01 13:51] seabelis opened #5613 "Hyphenated user names in url breaks list functionality"
I've had two instances of hyphenated user names potentially causing an issue with lists. It is possible to create lists, but not possible to add or make any further modifications once created.
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/people/agent-lisa

### Steps to Reproduce

1. Create user account with a hyphenated name.
2. Create a list.
3. Add more to t

[2021-09-01 16:23] jimchamp commented on #5613
Maybe we should percent encode all special characters in our URLs.  There's a similar issue for publishers with special characters in their names (#2202).

[2021-09-01 21:27] cdrini commented on #5403
It worked! Now the norobots PR should be good to go :+1:

[2021-09-02 05:40] LeadSongDog commented on #5595
Diacritic search symptoms here too. Compare https://openlibrary.org/search/authors?q=Lucy+leffingwell

[2021-09-02 05:50] LeadSongDog commented on #5613
Also seen with slashes in subject urls.

[2021-09-02 08:13] seabelis opened #5618 "Search Inside results do not display when result is only one item"
Search inside finds one result and displays that count, but not the result itself.

### Evidence / Screenshot (if possible)
<img width="913" alt="Screenshot 2021-09-02 at 10 10 20" src="https://user-images.githubusercontent.com/17739465/131807575-d69d9960-974a-42b9-89f2-f2083971aea5.png">

### Relevant url?
https://openlibrary.org/search/inside?q=The+Unparalleled+Adventure+of+One+Hans+Pfaall+The+B

[2021-09-02 14:22] LeadSongDog opened #5619 ""Unable to connect to infobase server""
### Evidence / Screenshot (if possible)
![B857C8A0-8FCB-491A-8A9D-189EBBA251E6](https://user-images.githubusercontent.com/11435431/131859452-d20d2219-f8cf-4618-b59e-a15b4d47b07b.jpeg)

### Relevant url?

### Steps to Reproduce

1. Go to https://openlibrary.org/works/OL10614096W?edition=
2. Edit anything, then try to save

* Actual: yellow error banner flashes "Unable to connect to infobase server"

[2021-09-02 14:28] LeadSongDog commented on #5619
Dupe of #5185

[2021-09-02 14:28] #5619 closed

[2021-09-02 18:22] #5585 closed

[2021-09-02 20:14] chrich2118 commented on #5501
I'd like to see this feature added as well.
Charlie

[2021-09-03 14:48] pranjii commented on #5436
I would like to work on this issue

[2021-09-03 14:50] RayBB commented on #5436
@pranjii this issue already has an open PR by @goyaldhara so I'd recommend working on something else.
If you know some CSS this may be a good issue to try https://github.com/internetarchive/openlibrary/issues/5153

[2021-09-03 14:52] pranjii commented on #452
Can I get this issue?

[2021-09-03 15:04] sarathsajan commented on #5585
Hey, much thanks for your time and helping me out to navigate through the codebase and provide a useful contribution to the project.

[2021-09-03 15:36] pranjii commented on #5046
Can I do this??

[2021-09-03 15:42] pranjii commented on #498
Can I get this?

[2021-09-03 18:39] pranjii commented on #5132
Can I get this job?

[2021-09-03 19:05] jimman2003 commented on #5132
this should be at https://github.com/internetarchive/openlibrary-librarians ..

[2021-09-03 22:47] #5238 closed

[2021-09-04 14:10] RayBB opened #5625 "Can't add book by Stan Tekiela"
When I try to add this book is fails
First I tried openlibrary.org/isbn/9781647550912 but that didn't work

So then I tried adding the book manually and that fails too with
[code]
OR (if debug true)
[code]
### Evidence / Screenshot (if possible)

<details>
  <summary>Inputs</summary>

<img width="1087" alt="image" src="https://user-images.githubusercontent.com/921217/132097308-099b6fd9-239c-44b2-9

[2021-09-05 16:10] jlariza opened #5626 "Public API is down"
When using the public API, a 500 error status code is being raised.

### Evidence / Screenshot (if possible)
<img width="1224" alt="Screen Shot 2021-09-05 at 11 19 26 AM" src="https://user-images.githubusercontent.com/16421045/132133951-f8532794-bea9-4599-a969-9312178f3c55.png">

### Relevant url?
https://openlibrary.org/search.json?q=the+lord+of+the+rings

### Steps to Reproduce

1. Go to https:/

[2021-09-05 21:58] hornc opened #5627 "Some non-Latin title MARC imports result in unviewable "title": "<>" records."
* for some reason these `<>` titles result in a redirect loop which makes diagnosing and manually fixing the problem title through the UI impossible. There is generally enough other good metadata on the entry to do so, but users are unable to view it. Fixing whatever prevents the records from display would help librarians.
* Potentially improving the MARC 245 / 880 (Alternate Graphic Representatio

[2021-09-05 22:29] hornc commented on #5627
The redirect loop appears to be between a trailing slash URL and and the non-trailing slash version:

https://openlibrary.org/books/OL28413624M
and
https://openlibrary.org/books/OL28413624M/

[2021-09-06 02:32] #2622 closed

[2021-09-06 05:17] hornc commented on #5627
The local_id bibkeys api request works for these items, but it's not celar if the returned URL is usuable:
e.g.
https://openlibrary.org/api/books.json?bibkeys=local_id:urn:cst:10017056368

for https://openlibrary.org/books/OL28413044M.json
Unless a .json is appended the result is a redirect loop.

[2021-09-06 07:02] jimman2003 commented on #5626
it is working for me now on brave,try again ?

[2021-09-06 07:24] amammad commented on #5525
Hello dears,
can I ask you to Respect me a little and give me just a feedback ?
Best regards.

[2021-09-06 11:33] jimman2003 commented on #5626
can you close the issue?, if this is solved

[2021-09-06 12:12] jlariza commented on #5626
It is working now. Thank you

[2021-09-06 12:12] #5626 closed

[2021-09-06 17:03] jimman2003 opened #5629 "API returns different works from solr"
In the Web UI/Solr Edgar Allan Poe solr return all of his normal works
in the API a single work is returned , unrelated to him
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/58356745/132247264-0fc3c6c5-c03f-4f79-9471-92d846023e1b.png)
vs
```{"covers": [8091919], "birth_date": "19 January 1809", "remote_ids": {"viaf": "60351476", "isni": "0000000121354025

[2021-09-06 22:29] hornc commented on #2620
Bad data in DVD record.
`700 1  $6 880-03 $i Wen, Rui'an. $t Si da ming bu.`
`$i` should be `$a`, which would not have triggered this error. Closing.

[2021-09-06 22:29] #2620 closed

[2021-09-07 15:03] RayBB opened #5630 "List of authors should probably be truncated when very long"
In search results, and author pages, books with a lot of authors look terrible.

### Evidence / Screenshot (if possible)
<details>
  <summary>Author Page</summary>

![image](https://user-images.githubusercontent.com/921217/132367218-97a4bbce-510d-4d75-9a7e-e645bcfcb370.png)

</details>

<details>
  <summary>Search page</summary>

![image](https://user-images.githubusercontent.com/921217/132367336-

[2021-09-07 19:05] mekarpeles commented on #5603
Other context https://matrix.org/docs/projects/bridge/matrix-appservice-slack

[2021-09-07 19:33] mekarpeles commented on #5134
@jimchamp can we please create an issue for the parts that you already completed so we can close on the milestone -- we can move the issues from this description to that one... And add [ ] documentation to the list.

Then we can update this issue, to replace that sublist w/ the single closed issue :)

[2021-09-07 19:33] mekarpeles commented on #5596
done and done!

[2021-09-07 19:33] #5596 closed

[2021-09-07 20:39] jimchamp opened #5632 "Strengthen i18n validations and add i18n tests to makefile"
### Describe the problem that you'd like solved

`i18n-messages validate` currently only validates a single locale.  The script would be more useful if any number of locales could be passed as arguments.

The script only validates translations based on the absence of a message-level `fuzzy` flag (See #5425 for details).  String format and plural validations could be added to find other translation

[2021-09-07 20:40] #5632 closed

[2021-09-07 20:57] jimchamp opened #5633 "Review and update `/openlibrary/i18n/README.md`"
### Describe the problem that you'd like solved

Several changes have been made to our `i18n-messages` scripts recently.  Some of the instructions in the README may not be accurate now.

### Proposal & Constraints

Review `/openlibrary/i18n/README.md`, updating any sections that have outdated information.  Add details and instructions for the `i18n-messages validate` script, which was newly added.

[2021-09-07 21:01] jimchamp commented on #5134
Created an issue for the completed parts, and another for the pending documentation updates.  Added both to the milestone, while removing this issue.  Linked to the new issues in the checklist above.

[2021-09-08 12:46] LeadSongDog commented on #5613
This keeps coming up, but somehow is never fixed: #333, #727, #2202, #2302, #2932, #5613 all relate to the same thing. Need to urlencode (or strip) the breaking characters in subject and publisher urls. Of course none of this would be necessary if we were to stop treating publishers and subjects as free text.

[2021-09-08 16:37] seabelis opened #5637 "Image uploader does not recognise uploaded file"
As of today (8-09-2021) the image uploader does not recognise that an image has been selected and uploaded. Instead, it displays "Please provide an image URL" after hitting submit.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...any edition
2. Do ...upload an image as a cover and submit.

* Actual: "Please provide an image URL"
* Expected: Image sho

[2021-09-08 16:46] RayBB opened #5638 "Works page is deformed (overflowing div and rating stars doubled)"
It'll be clear from the screenshot but text is going over the side of the page, also the rating stars are doubled.

### Evidence / Screenshot (if possible)
<details>
  <summary>Spoiler</summary>

![openlibrary org_works_OL17805397W_Cracking_the_Coding_Interview_edition=](https://user-images.githubusercontent.com/921217/132550381-1ddb489c-22af-493e-9d38-211fede429fe.png)

</details>

### Relevant u

[2021-09-09 12:57] rgrupesh commented on #5638
Hello @RayBB

I would like to work on this issue. I look around and I didn't find other pages with the above issue. So, I'm guessing I need to work on that specific page only. And, by rating doubled, you meant the size of the stars, right?

Is there anything I should know of?

[2021-09-09 13:33] RayBB commented on #5638
@rgrupesh unfortunately, I am not in a position to guide you as I don't fully understand the issue myself.

However, since it is labeled as a P0 I believe that some of the staff members will fix this since it is urgent.

However, if you know CSS this may be a good first issue to try https://github.com/internetarchive/openlibrary/issues/5153

[2021-09-09 13:43] RayBB opened #5640 "Add documentation about first sentence to the work/edition edit pages"
Some people get confused about what "first sentence" should be. The first sentence of first chapter? of the foreword? Of the acknowledgements?

Here is the original question

After reading about this, I have a doubt: If the edition includes an introduction, prologue, or whatever, should I write as the first sentence the first sentence that appears in the book or the first sentence of the main part

[2021-09-09 17:04] rgrupesh commented on #5153
@RayBB

I will work on this issue. Please, assign me.

[2021-09-09 17:29] mekarpeles commented on #2034
Other considerations noted w/ @BharatKalluri

1. Our import_items table is going to explode in size. We should have a identifier_type and an identifier and the unique constraint is on both. When/after an item is imported (status is set and no error, we delete its ephemeral data.
2. We want it to be impossible for people to overload the actual import procedure. Thus, our queue should be underneath

[2021-09-10 14:13] jimchamp opened #5643 "Set up a GitHub page for Open Library's Storybook"
### Describe the problem that you'd like solved

Now that we have Storybook set up, it would be nice to publish our Storybook on a GitHub page.  This could replace our [design pattern library](https://github.com/internetarchive/openlibrary/wiki/Design-Pattern-Library) once we have stories for all of our components.

### Proposal & Constraints

Create a GitHub page for this repository.  Set up an a

[2021-09-10 17:35] mekarpeles commented on #5638
The issue is that the Work + Edition descriptions contain formatting such as `<code>` which are causing their content divs to overflow.

Either the work description and edition description sections need to somehow be restricted or an overflow-auto needs to be added to that component (e.g. `work-description code { overflow: auto }` -- NB: this is pseudo-code)

[2021-09-10 19:27] jimchamp opened #5646 "Submission feedback missing from Book Tags modal"
When a book tag is selected or removed, a message is sent to the server and the change is persisted.  Although this is happening, it is not clear to patrons that their selections are being saved.

Previous iterations of the Book Tags modal displayed toast messages on submission success or failure.  This should still be happening today, but is not.

### Evidence / Screenshot (if possible)

### Rele

[2021-09-10 23:12] #5419 closed

[2021-09-11 02:43] #5633 closed

[2021-09-11 02:44] #5637 closed

[2021-09-11 11:47] rgrupesh commented on #5638
@jimchamp

Any pointers to get started?

[2021-09-11 22:35] ma8642 opened #5649 "Not Able to Upload Cover Image"
Not able to upload cover images.  I tried this twice with 2 different books.

### Evidence / Screenshot (if possible)
https://www.loom.com/share/183e628d6ae848e4a96775c283ae607d

### Relevant url?
1. https://openlibrary.org/books/OL25346052M/Around_Windham
![20210911_131855](https://user-images.githubusercontent.com/13713037/132963173-d1665279-e06b-4633-b0ea-649431247c79.jpg)

2. https://openlibra

[2021-09-12 01:48] ma8642 commented on #5649
I have found that this is a duplicate of this closed issue:  https://github.com/internetarchive/openlibrary/issues/5637

Perhaps it has been fixed and the fix just isn't deployed to prod yet?  Happy to close if so.

[2021-09-12 15:07] seabelis commented on #5132
There is a script to handle individual cases https://colab.research.google.com/drive/1bLbWs6YlvxXuP0Q--N6Os83ZmNLn0i8m#scrollTo=d1CSHaTZWVMu&line=1&uniqifier=1. This requires a bot account. I've been processing them as I find them.

[2021-09-12 15:07] #5132 closed

[2021-09-12 15:13] seabelis commented on #2355
This appears to be resolved.

[2021-09-13 02:50] RayBB opened #5650 "ImportBot adding multiple instances of same author when author has multiple roles on amazon"
The problem is related to  #756 but different because we aren't talking about creating new authors. Just adding the same author twice.

I believe this happens with author is also the illustrator or similar
<img width="260" alt="image" src="https://user-images.githubusercontent.com/921217/133016372-6e14f2ad-b2df-4731-96da-95f0d831e5f7.png">

There are ~25,000 works with the same authorID is added t

[2021-09-13 14:24] jimchamp commented on #5649
This is correct.  The fix should be deployed to prod later this week.  In the meantime, you can upload images using our testing site: https://testing.openlibrary.org

[2021-09-13 14:24] #5649 closed

[2021-09-13 15:19] jimchamp commented on #5638
Sure.  Like @mekarpeles explained, there is a `<code>` block that is causing the main content area to overflow.  This `<code>` element is located in the work description of the [page](https://openlibrary.org/works/OL17805397W/Cracking_the_Coding_Interview?edition=).  We can tell that this is causing an issue by observing the main content's width change when the `<code>` element is deleted:
![Peek

[2021-09-13 19:58] cdrini opened #5653 "Ensure TLS on v1.3 on www"
- [ ] Update olsystem https://github.com/internetarchive/olsystem/pull/136
- [ ] Update openlibrary repo #5676
- [x] Update www0 PR - actually not needed
- [x] Update prod www0

[2021-09-13 20:09] cdrini opened #5654 "Board Report for IA Yearly board meeting"

[2021-09-13 20:19] cdrini commented on #5134
1. we'll run the extract step
2. Create an Epic issue for updating everything with check list
     a. Create issues for every (?) language
3. Then close this issue.

This mirrors the #4677

[2021-09-14 00:51] jimchamp commented on #5643
I've got everything up and running on my fork: https://jimchamp.github.io/openlibrary/

I'd like to include this as a part of our CI flow.  Once I've sorted that out, I'll open a PR.

[2021-09-14 06:46] jimman2003 commented on #5402
The dump is still not up :)

[2021-09-14 17:56] cdrini commented on #5402
Ooops! Auto-closed by a PR

[2021-09-14 19:20] #5153 closed

[2021-09-15 04:59] #5403 closed

[2021-09-15 05:00] #178 closed

[2021-09-15 05:00] #714 closed

[2021-09-15 13:48] seabelis opened #5658 "Strange visual effect when hovering over cover image"
This was previously as a Firefox issue and now in Chrome as well. When hovering over the cover image on a work or edition page the image stretches across the screen. I noticed this in Chrome after upgrading to Version 93.0.4577.63 (Official Build) (x86_64).

### Evidence / Screenshot (if possible)
https://internetarchive.slack.com/files/U0235436KAR/F02DF09E24A/the_big_game__november_1__1993_editio

[2021-09-15 17:12] jimchamp opened #5661 "GitHub actions ending support for Ubuntu 16.04"
GitHub is ending support for Ubuntu 16.04 on 20 September 2021 (Monday).  If we do not upgrade our Ubuntu image in our GitHub actions, our Python tests will always fails.

### Evidence / Screenshot (if possible)
Here is a link to GitHub's announcement: https://github.com/actions/virtual-environments/issues/3287

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expecte

[2021-09-15 17:48] mekarpeles commented on #4252
re: sitemaps, be warned, ol-www1 is still (to this day) trying to pull from **ol-home** in allnodes and so I wouldn't be surprised if this is completely borked and we have no sitemaps rolling through. This code should almost certainly be pulling from ol-home0 and also, be added to ol-www0's cron (accordingly)

[code]

[2021-09-15 19:07] jimman2003 opened #5662 "Excessive speed throttling when downloading data dump"
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/developers/dumps/
### Steps to Reproduce

1. Go to https://openlibrary.org/developers/dumps/
2. Download any dump from there

* Actual:  download speeds start 1mb/s and then get throttled to 100 kb/s
* Expected:  download speeds 1mb/s all the way

### Details

- **Logged in (Y/N)?** y
- **Browser type/version?** Ch

[2021-09-15 19:54] #5661 closed

[2021-09-16 09:15] seabelis opened #5664 "Undo bad author merge"
A bad author merge cannot be reversed and is subsequently preventing the reversal of bad work/edition edits.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/recentchanges/2014/04/04/merge-authors/47986246

### Steps to Reproduce

1. Go to ...https://openlibrary.org/recentchanges/2014/04/04/merge-authors/47986246
2. Do ...Undo All

* Actual: Sorry. There seems to

[2021-09-16 21:26] RayBB commented on #5662
It is a pain that I too would like to see fixed.
However, in the meantime I recommend downloading via the torrent. You can even use aria2c if you're inclined to use CLI.
It is still throttled from OL server but when I downloaded there were other peers seeding that sped it up quite a bit.

Also as a hack I started downloading it from several machines and then it went much faster.

[2021-09-17 04:25] jdlrobson commented on #5643
Nice!

[2021-09-17 04:30] rgrupesh commented on #5638
@jimchamp I'm working on applying some rules to those specific `.less` files. BTW, how do I get full functional instance of site on my local machine? I cannot find some pages and books on my local instance. Any back-end specific tools that I need to install?

[2021-09-17 06:55] jimman2003 commented on #5662
Yeah, but the torrsnt creation is not automated , so everytime I have to bug the staff

[2021-09-17 17:19] RayBB opened #5665 "Why won't book work 9789400404588 import using the isbn endpoint?"
Wondering why this book won't import when using the isbn endpoint.
It has an Amazon product page on the US website.

Is there something missing?

### Relevant url?
https://openlibrary.org/isbn/9789400404588
https://www.amazon.com/gp/product/9400404581/

### Steps to Reproduce

1. Go to https://openlibrary.org/isbn/9789400404588
2. See that it isn't imported

### Proposal & Constraints
Not sure how

[2021-09-17 20:56] RayBB commented on #5665
Going to drop some additional links here that aren't importing:
https://openlibrary.org/isbn/9798451851142
https://openlibrary.org/isbn/9798477298242
https://openlibrary.org/isbn/9798478416973
https://openlibrary.org/isbn/9798473603255
https://openlibrary.org/isbn/9798542548203
https://openlibrary.org/isbn/9798458396417
https://openlibrary.org/isbn/9798475879832
https://openlibrary.org/isbn/979870

[2021-09-18 02:06] jimchamp commented on #5638
Here are some ways that you can import data onto your local environment: https://github.com/internetarchive/openlibrary/wiki/Getting-Started#importing-test-data

I executed the following to import the book used as an example earlier:
[code]
After the script successfully imports the book, you can view the page locally here: http://localhost:8080/works/OL17805397W/Cracking_the_Coding_Interview?editi

[2021-09-18 05:25] RayBB commented on #5638
The issue is likely related to https://github.com/internetarchive/openlibrary/issues/5473#issue-956042886

[2021-09-18 05:27] RayBB commented on #5473
Since this came up again I did some research.
This page has info related to what we want to do: https://docs.docker.com/compose/startup-order/

In short, we'll probably need to have a bash scrip that waits until home_1 exits and then starts the service on port 8080.

Seems doable. I may look into it more tomorrow

[2021-09-18 11:33] jimchamp commented on #5638
@RayBB are you referring to the lack of data on @rgrupesh's local instance?

@rgrupesh when you visit your local instance's homepage, is the classic works carousel populated? Your homepage should look something like this:
![Screenshot from 2021-09-18 07-08-12](https://user-images.githubusercontent.com/28732543/133887072-06ddec76-5817-4e34-a307-303de85c2003.png)

If you don't see any books in the c

[2021-09-18 20:47] RayBB commented on #5473
Upon closer examination the issue is a bit more complicated than expected.
The ideal situation would be that `web` isn't available to the user until `home` exits.
However, it looks like `home` depends on `web` to be up since it calls it several times.

On my computer it takes about 30 seconds for `update_work.py` to run for works (which is hat `home` runs).
Within `update_work.py` `update_keys` ta

[2021-09-19 05:01] rgrupesh commented on #5638
@jimchamp This is what I have on my local instance. I see some books.

![Screenshot from 2021-09-19 09-59-04](https://user-images.githubusercontent.com/54068868/133915258-0c4741dd-0f8a-48ab-9336-94e14d57ed8b.png)

And regarding the issue, adding `overflow: auto` to the `<code>` solves the issue but it deforms other part of the webpage.

![Screenshot from 2021-09-19 10-11-46](https://user-images.gi

[2021-09-19 23:24] hornc opened #5671 "ISBN only imports have empty string Library of congress classification set"
Example:
https://openlibrary.org/books/OL28864152M/Emerging_Issues_in_Life-Cycle_Management

In the edition JSON:
[code]
UI has an empty
**Classifications**
Library of Congress

section.

**Expectation:**
If there is no Library of Congress classification date, the field will not exist, and there will be no **Classifications** section on the UI.

[2021-09-20 20:24] cdrini commented on #5595
@LeadSongDog I believe that's unrelated to this specific issue.

Closing in favour of #5343

[2021-09-20 20:24] #5595 closed

[2021-09-20 20:32] cdrini commented on #5662
I think we need to confirm that this is just a redirect to IA. If it is, then this is IA's problem ?

[2021-09-20 20:35] cdrini commented on #5665
@mekarpeles suggests looking at openlibrary/core/vendors.py, and triggered that code manually from the production affiliate container

[2021-09-20 20:37] cdrini commented on #5664
The debug log:

![image](https://user-images.githubusercontent.com/6251786/134072121-31056b4d-1ffd-47c5-bc38-c28d8f13f5ee.png)

[2021-09-20 20:37] cdrini commented on #5664
So might be related to #5185 ?

[2021-09-20 20:38] jimman2003 commented on #5662
IIRC from the archive of ia it has the same symptoms

[2021-09-20 20:39] cdrini commented on #5658
@seabelis Can you download / re-upload the mp4 here? The slack link won't work for everyone.

[2021-09-20 20:50] cdrini opened #5673 "Manually kick off a data dump for this month"
Follow the instructions on https://github.com/internetarchive/openlibrary/issues/5402#issuecomment-876665336 ; temporary shim for #5402 .

Going to do right before I kick off the solr reindex

Instructions updated for oldump.sh's new home

[code]

[2021-09-20 21:05] cdrini opened #5674 "Sitemaps not being auto-generated"
Two problems:
1. The sitemap is generated by the data dumps script (for some reason), so because of #5402 , sitemaps are also not auto-generating.
2. Previously, the generated sitemaps were rsynced onto ol-www1 (from where they are served) by cron on our old, py2 ol-home. That cron job was never ported over to our new py3 ol-home; I think there was a reason, but we might be able to just re-enable

[2021-09-20 23:19] cdrini opened #5675 "Update production postgres from 9.3 -> 18"
# Current State

Postgres is currently at 9.3 which is ancient. This has performance ramifications, support ramifications, and complicated moving off trusty on our remaining legacy machines.

See also (internal):
https://docs.google.com/document/d/1ZOFi8EIOUTsFJwz9xpee9RG7jael1qX_J4E1CZbGiBc/edit?tab=t.0

# Next Steps

See breakdown here: https://docs.google.com/document/d/1ZOFi8EIOUTsFJwz9xpee9RG

[2021-09-21 00:56] cdrini commented on #5653
Working! in firefox network dev tools, security tab
![image](https://user-images.githubusercontent.com/6251786/134096497-5530341b-0401-4a99-a8d5-33e94440a2bf.png)

[2021-09-21 02:13] jimchamp commented on #5638
Your homepage look good!

It looks like you will have to add `.work-description` to `work.less`.  Something like this would probably work:
[code]

[2021-09-21 02:26] jimchamp commented on #5658
Here's an example of the problem:

![image_glitch](https://user-images.githubusercontent.com/28732543/134102444-a23e58e8-d0e5-4172-879d-cad4d923e198.gif)

[2021-09-21 07:29] jimman2003 commented on #5675
can we get the psql dump? currently expementing with postgres

[2021-09-21 16:23] #5658 closed

[2021-09-21 16:50] seabelis opened #5684 "Borrow buttons should indicate loan duration"
The borrow button displays the same for items that can be borrowed for 1 hour and items that can be borrowed for 14 days. Patrons have to click each available copy to find the loan type they want.

### Proposal & Constraints
Buttons should read "1 Hour Loan" and "14 Day Loan" or something similar to indicate the loan duration at a glance.

### Related files

### Stakeholders

@mekarpeles

[2021-09-21 18:35] cdrini opened #5685 "Increase in internal errors since ~Sep 9"
Cause of increase unknown. Potentially related to some of the import work? This is causing our alerts to become very noisy.

![image](https://user-images.githubusercontent.com/6251786/134227797-1708f980-1284-40ae-ae32-5608cbfce7fb.png)

### Stakeholders
@mekarpeles

[2021-09-21 19:01] #5653 closed

[2021-09-21 19:37] jimman2003 opened #5686 "Try updating local environment to postgres 13 or 16"
1st hurdle: After starting the cluster locally I get  `db_1            | 2021-09-21 19:23:50.123 UTC [1] FATAL:  database files are incompatible with server
db_1            | 2021-09-21 19:23:50.123 UTC [1] DETAIL:  The data directory was initialized by PostgreSQL version 9.3, which is not compatible with this version 13.4 (Debian 13.4-1.pgdg100+1).` ...

I see two ways to fix this ^:
1. recreate

[2021-09-21 23:25] cdrini commented on #5686
That's odd ; this file: https://github.com/internetarchive/openlibrary/blob/0d15279d99bb3c2c7bc1559c01c59f0e15bd1aa0/docker/ol-db-init.sh is the file that writes data into the db. But the data is not persisted between docker down/ups.

How did you update? If you update the postgres version in `docker-compose.override.yml` and down/up, that should do it :+1:

[2021-09-22 04:02] #5638 closed

[2021-09-22 04:35] #5440 closed

[2021-09-22 05:02] jimman2003 commented on #5686
I did that and also I rebuild for good measure

[2021-09-22 05:04] jimman2003 commented on #5686
The pg_dump might be the problem, might need to generate a new one as outlined by the OP

[2021-09-22 06:36] jimman2003 commented on #5686
Change 1: comment last line in db init (as a test) , got rid of the OP error
Change 2: pass env variables to the db to set password and (ignore it)(for now) required by the new images
with the above changes , the db stays up \o/
need a new dev db dump now :)

[2021-09-22 07:32] seabelis commented on #3247
Please include these as subjects to remove/block.
https://openlibrary.org/subjects/sale_books
https://openlibrary.org/subjects/non-classifiable
https://openlibrary.org/subjects/bargain_books

[2021-09-22 19:56] jimman2003 commented on #5686
https://github.com/internetarchive/openlibrary/pull/5689

[2021-09-22 19:59] jimman2003 commented on #5686
it turns out that adding a explicit user solved hurdle 1 for some reason :)
so no new dev db dump required

[2021-09-23 01:52] RayBB commented on #5618
@seabelis is this an intermittent issue? Or perhaps it is fixed? Now I see results

<img width="1107" alt="image" src="https://user-images.githubusercontent.com/921217/134443921-94857013-9d78-4a4c-a51e-ad41b2182d12.png">

[2021-09-23 03:27] RayBB commented on #4992
@mekarpeles I'm interested in working on this. Can you assign to me?
Any context on why this wasn't added before or complexities that may come up?

[2021-09-23 03:31] RayBB commented on #5474
Possibly related to #2205

[2021-09-23 13:18] seabelis opened #5693 "Error on OL when IA item removed or invalid"
`/openlibrary/openlibrary/templates/type/work/view.html: error in processing template: TypeError: 'NoneType' object does not support item assignment (falling back to default template)` displays if the default Open Library edition record for a work links to an IA item that has been removed or is invalid.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to .

[2021-09-23 21:01] #5130 closed

[2021-09-23 23:37] cdrini commented on #5673
Kicked off; should be done ~1d

[2021-09-24 22:39] mekarpeles opened #5695 "Fix Open Library "Update Email" process"
Background is:
When you change your email on archive.org, this does not sync to Open Library. Open Library reference email in at least 2 db locations:
1. `store` /account/username`
2. `store` /key='account-email/email@blah.com'

What should happen is, when a patron changes their email on Archive.org, we should somehow update it on Open Library **when they login** (so that it becomes eventually con

[2021-09-24 23:01] cdrini commented on #5673
All done!

[2021-09-24 23:01] #5673 closed

[2021-09-25 06:52] seabelis commented on #5618
Yes, appears to be working as it should now.

[2021-09-25 06:52] #5618 closed

[2021-09-25 07:36] ujjwaltwitx commented on #2777
I am new to open source contribution and I would love to work on this issue if it can be assigned to me.

[2021-09-27 08:02] seabelis opened #5696 "ISNI field does not strip whitespace from values"
From a patron:
_the ISNI field does not strip whitespace from values so the url generation is not enforced for valid links - example: http://www.isni.org/0000%200001%202130%209873 was generated due to the ISNI field contained - "0000 200001 202130 209873" if the field removed whitespace to be "0000200001202130209873" the url correctly will format._

### Evidence / Screenshot (if possible)

### Rel

[2021-09-27 19:55] mekarpeles commented on #2034
1. Performance has to be vetted because we've had performance issues proximal to running at higher volume
2. After deduplication, next months imports may be much more performant (fewer records)
3. Error reporting for importbot insufficient / not hooked up to sentry (?)
4. Add logging to any unicode exceptions so we know what's up
5. @mekarpeles needs to actually turn importbot back on and verify i

[2021-09-27 20:35] lephemere opened #5698 "I18n of welcome carousel"
### Question

Nice work on the welcome carousel, looks neat. One question though, is there any plans to i18nalize this part?
Same as the subjects page?

### Additional context

### Issue resolution criteria

### Stakeholders

#791, @cdrini

[2021-09-27 21:57] cdrini opened #5700 "Bot edits should be analyzed by solrupdater"
When we were on solr3, a big import batch would cause solrupdater to fall woefully behind, and cause user edits to take days to be reflected in solr. As a perf optimization, we disabled solrupdater for bot edits at that time. Time to revisit and re-enabled. Options are:

1) Simply re-enable it for bot edits. This works, but needs careful testing to make sure we don't cause the new solr perf issues

[2021-09-28 03:35] jimchamp commented on #2777
@ujjwaltwitx welcome!  Let me know if you need any help getting started.

[2021-09-28 07:23] mekarpeles commented on #2034
json import API is not especially robust to data validation errors. https://github.com/internetarchive/openlibrary/blob/master/scripts/partner_batch_imports.py script accidentally made `lc_classifications` a str in https://github.com/internetarchive/openlibrary/commit/a0c0be8cf9a2200781ba50d98e32273612f1de44 / https://github.com/internetarchive/openlibrary/commit/7a0d96b72e4758998828bc0e8c1b624af3

[2021-09-29 17:04] #5643 closed

[2021-09-29 18:11] mekarpeles commented on #2034
It's now running :)

[2021-09-29 18:11] #2034 closed

[2021-09-29 20:14] mekarpeles commented on #732
**Problem(s):**
* IA metadata can sometimes be wrong (e.g. valid but mismatched MARC record)
* OpenLibrary availability buttons are significantly incorrect in our current model
* There may be significant drift / mis-sync between IA<->OL records

**Proposal:**
Can we once a month:
* export a set of OpenLibrary.org's ocaid, work_key, edition_key , isbn, title from the dump
* export Archive.org's inl

[2021-09-30 22:37] jimchamp opened #5707 "List `/embed` and `/export` URLs do not work if list title slug is missing"
The paths for embedding and exporting lists are generally defined as follows:
Exports: `/people/{username}/lists/{list_olid}/export`
Embed: `/people/{username}/lists/{list_olid}/embed`

Navigating to either of these URLs redirects to the list page, with `export` or `embed` being replaced with the list's name (URL encoded).

The links work correctly if the encoded list name is included in the URL:

[2021-10-02 15:45] LeadSongDog commented on #4379
@mekarpeles Here’s another:
https://openlibrary.org/search/inside?q=Schofield+family+tree finds
https://openlibrary.org/books/OL15443993M/England%27s_thousand_best_houses?edition=englandsthousand00jenk_0
which can be borrowed but shows "Not in library" on the search results page

[2021-10-03 04:08] ShaileshKumar007 opened #5715 "Dark Theme for the Website"
### Describe the problem that you'd like solved

I think It's good to have a dark mode option on the website.

### Proposal & Constraints

As we all know that most of the websites and apps in today's world are using the dark theme, even big companies like google also using this so why can't we.

One way to do this is to run a script that will toggle the theme when someone clicked on the Switch but

[2021-10-03 04:30] Yashs911 commented on #5715
Duplicate https://github.com/internetarchive/openlibrary/issues/4448

[2021-10-04 18:01] cdrini opened #5718 "/widget endpoint should have `canonical` url for SEO"
Apparently google is trying to index pages like https://openlibrary.org/books/OL24139556M/The_recruiting_officer/widget ! Looking at the YouTube embed endpoint (eg https://www.youtube.com/embed/jpA6UtQt880 ), it looks like the usey a canonical url, pointing to the main page. Eg `<link rel="canonical" href="https://www.youtube.com/watch?v=jpA6UtQt880">`. So we'd want `<link rel="canonical" href="ht

[2021-10-04 19:09] mekarpeles commented on #5715
Thank you all, glad these issues are now linked, closing as duplicate. Thank you for giving us this suggestion
@ShaileshKumar007!

[2021-10-04 19:09] #5715 closed

[2021-10-04 19:12] mekarpeles commented on #5698
The strings should be primed already for i18n, we just need to rerun our translations and get volunteers to fill in the missing translations :)

@lephemere -- @jimchamp will let you know when we've recompiled the translations and we'd love your help if you're willing :)

[2021-10-04 19:46] cdrini commented on #850
There are a few issues around, but this work has been done, thanks to @Sabreen-Parveen @RayBB and @mekarpeles :)

[2021-10-04 19:47] cdrini commented on #3593
This is not likely to be a 2021 goal

[2021-10-04 19:49] cdrini commented on #791
This overlaps with #5134 😬 Need to untangle at some point.

[2021-10-04 19:56] cdrini opened #5719 "Kick off manual data dump"
See instructions on https://github.com/internetarchive/openlibrary/issues/5673

[2021-10-04 19:59] cdrini opened #5720 "Manually copy sitemaps from ol-home0 to ol-www1"
Fixed in internetarchive/olsystem#143

Temporary shim while #5674 is not working.

No instructions for this! Investigate the cron file.

[2021-10-04 20:09] cdrini opened #5721 "Create permission group for work merge"
Create permission group for work merge so we can deploy work merge UI.

The Work Merge UI is a little no fences on the edge of cliffs, so we don't want to open it up to all librarians. That's one of the blockers for merging the pr (#3408 ). If we can

- [ ] Add permission group to prod
- [ ] Add @seabelis @libjenner GLBW @mekarpeles @cdrini @jimchamp  to the new group
- [ ] Add permission group to

[2021-10-04 20:18] cdrini opened #5722 "Organizing presentation for 2021 review"

[2021-10-04 20:19] cdrini opened #5723 "Organize 2022 planning"

[2021-10-04 20:19] cdrini opened #5724 "Distill 5-year community planning"

[2021-10-04 20:24] mekarpeles opened #5725 "OBGP - Adding book urls to wayback (w/ Teo)"
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-10-04 20:30] libjenner commented on #5721
We do have a candidate group of a few existing librarians who are consistent, detail-oriented, conscientious, asking when they're unsure, and who are also currently overwhelming us (me) with merge requests. I feel like a blocker for the great work they could do. Are the steps in this issue also going to accommodate giving them these powers in the very near future?

[2021-10-05 03:27] LeadSongDog commented on #5721
For those users not in the permitted group, there should be some easy means for proposing the work mergers they may not do themselves.

[2021-10-05 14:35] libjenner opened #5728 "Lazily make carousel queries when a patron encounters a carousel"
This issue is not about lazy loading the items inside each carousel. We already do that, as each carousel limits the number of results from its search query to a default of 20. Patrons can click an arrow to "load more," which works great.

However, the collections pages still load extremely slowly. For example, the [LGBTQ collection](https://openlibrary.org/collections/LGBTQ) contains 34 carousels

[2021-10-05 15:17] libjenner opened #5729 "Carousels don't follow merged work redirects"
When QueryCarousels are set by a list of explicit ids, the carousel macro will silently drop a work that has been merged.

### Evidence / Screenshot (if possible)

Here's an [example collection page with the single carousel showing the problem](https://openlibrary.org/collections/test-follow-merged-works), which might be helpful for testing.

The carousel on that page should contain four works cal

[2021-10-05 15:17] libjenner opened #5730 "Is there a way to force a refresh or reindex of a work's cover image?"
### Question

I can often force a refresh of a work, edition, author, or subject by using the solr admin page. That works great. Is there a way to force a refresh of the cover image to reflect a recently changed cover?

### Additional context

You can see the problem [on this page](https://openlibrary.org/collections/test-follow-merged-works).

There are two works that are showing the same cover,

[2021-10-05 15:32] libjenner opened #5731 "Works showing up twice in a QueryCarousel calling a subject tag"
In the [LGBTQ collection](https://openlibrary.org/collections/LGBTQ), we're using QueryCarousels searching by subject. Sometimes a work will show up twice in the results. This has happened more than once in different, unrelated carousels.

### Evidence / Screenshot (if possible)

![spirit](https://user-images.githubusercontent.com/85025703/136054502-5a0e7a75-10ba-4f2b-8855-da73ea7f78ab.png)

### R

[2021-10-05 15:42] ghost opened #5732 "Two books in a carousel are showing "Not in Library" when borrowable editions exist"
In the [Newbery Medal Winners](https://openlibrary.org/collections/newbery-medal) collection, two books in the 1970s carousel show "Not in Library" but both works have multiple borrowable editions.

### Evidence / Screenshot (if possible)

![1970s-newbery](https://user-images.githubusercontent.com/85025703/136055278-a7fa0e5f-68c6-4f37-b433-d8bee4e75e45.png)

### Relevant url?

https://openlibrary.

[2021-10-05 16:19] libjenner opened #5733 "Add a collections field that only curators, librarians, and admin can edit"
Collection are composed of pages with lots of carousels made using either a ListCarousel or a QueryCarousel.

We need a way to call a specific set of work identifiers in a carousel macro, but there are downsides to both (a) using ListCarousel to call a list, and (b) giving a set of works a specific subject and calling that subject with QueryCarousel.

### Downsides of ListCarousel

Making a list f

[2021-10-05 16:40] seabelis commented on #5730
https://openlibrary.org/works/OL19650750W/Dinotopia/manage-covers
https://openlibrary.org/works/OL19650750W/Dinotopia/add-cover

[2021-10-05 16:42] libjenner commented on #5730
It never even occurred to me that you could get to the work directly --- thank you @seabelis! If this isn't in docs, I'll add it. I think that's all I needed.

[2021-10-05 16:42] #5730 closed

[2021-10-05 16:46] libjenner commented on #5730
This is related to #4992

[2021-10-05 16:52] libjenner commented on #5732
@mekarpeles said in chat, _carousels are powered by solr. Solr indexes works. It has a list of archive.org ids associated with that work. It checks the first in the list._

Is there a way we can check the first borrowable in the list?

[2021-10-05 17:06] dcapillae commented on #5729
The same applies to the reading log: the merged works are displayed without title, author and cover.

[2021-10-05 17:26] LeadSongDog commented on #5134
@cdrini We could learn some lessons from the successes of Wikipedia i18n and translation efforts. See for instance https://en.wikipedia.org/wiki/Wikipedia:Translation for some of their methods. To work well, it helps to define a way to identify volunteer translators, particularly prioritizing widely-used languages (Chinese, Arabic, Hindi, etc).

[2021-10-05 20:42] jimman2003 opened #5734 "RDF data dumps"
normal json  doesn't lend itself to making graphs
### Describe the problem that you'd like solved

The data dumps of OpenLibrary are only json at the moment
### Proposal & Constraints

make a RDF-compatable datadump

many formats can be used r.g:
- rdf-xml
- ntriples
- json-ld (I think the most easy to currently implement)

### Additional context

https://json-ld.org/ is a  great resource for json

[2021-10-06 04:35] soham4abc commented on #5718
I would like to work on this issue if possible pls assign!

[2021-10-06 17:53] libjenner opened #5739 "Create some kind of interface for author renaming"
Author renaming is really tedious when you have a name that needs to be split into several names. For example, a bad import might create an author with the name `John Smith Jane Doe Roger Anderson` which should have been three separate author records, one each for `John Smith`, `Jane Doe`, and `Roger Anderson`.

### Current Process

Sometimes this author only has one associated work, which makes a

[2021-10-07 17:37] RayBB opened #5742 "Add author config to local instance automatically"
### Describe the problem that you'd like solved

When developing the authoridentifiers Vue component locally it doesn't work until you add a yml. `https://openlibrary.org/config/author.yml` is not added to the local instance so you have to add it manually. It took me a while to figure this out just now and I'm the one who made the feature.

### Proposal & Constraints

I would like to make it so th

[2021-10-07 19:09] LeadSongDog commented on #5739
I like the idea, but of course care is needed. That could easily have been John Anderson; Jane Smith; Roger Doe.
Also, where should the author record redirect be targeted? Perhaps a list of soft redirects would be more advisable.

[2021-10-07 20:20] RayBB commented on #5742
Your command didn't work (an issue connecting to db) but I was able to get it with this:
`pg_dump -U $OL_USER openlibrary --host db > ./scripts/dev-instance/dev_db.pg_dump`

[2021-10-07 20:51] #5742 closed

[2021-10-08 07:15] Richb987 opened #5745 "Books and covers API different results"
I am using the Books API - searching by ISBN. I have noticed that sometimes the response has no cover image urls, but then if I use the covers URL directly - I do get an image.

e.g. ISBN: 9780006547136

the books url: https://openlibrary.org/api/books - does not return cover image urls, but when I call, e.g. https://covers.openlibrary.org/b/isbn/9780006547136-L.jpg - I do get an image

[2021-10-10 16:19] linzinha commented on #5745
It looks like there's not a cover for this edition:
https://openlibrary.org/books/OL22643573M/Fuzzy_thinking

What calls are you running to get the different results?

[2021-10-11 19:35] mekarpeles opened #5748 "Open Library login issue after visiting google"
If http referer, Logging in erroneously redirects away from OpenLibrary

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2021-10-12 14:17] jimchamp commented on #5748
Data point:  I could not reproduce this in Firefox.  Was able to in Chrome, though.

[2021-10-12 17:05] seabelis opened #5753 "Cannot reverse deleted or merged works"
When trying to reverse some merged works, an error is thrown.
[code]
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/works/OL14918267W?v=2&m=revert
https://openlibrary.org/works/OL23224294W?v=2

### Steps to Reproduce

1. Go to ...a deleted work
2. Do ...roll back to an earlier version

* Actual: see error above
* Expected:  previous version should be restored

#

[2021-10-12 17:34] dcapillae opened #5754 "Lending button text is cut off in other languages"
The text of the lending buttons appears cut off in the translated versions of the site. The error is repeated systematically in several places (edition pages, author pages, searches, lists, etc.).

### Evidence / Screenshot
Only some examples:

1. Home page carousels: Should read "No en la biblioteca", but only reads "No en la bibliote".
![1_boton-no-en-la-biblioteca-aparece-cortado-en-carruseles_

[2021-10-13 16:18] jimchamp commented on #5185
These all look like orphaned editions.  Are you able to edit any orphaned editions at all?

[2021-10-15 03:13] RayBB opened #5756 "Add a hover effect to the donate button"
As @cdrini mentioned in https://github.com/internetarchive/openlibrary/pull/5708#issuecomment-935040084 it would be fun to have a hover effect for the donate button.

Could be a good first issue for someone.

### Describe the problem that you'd like solved
A hover effect for the donate button to add some charm to the website.

### Proposal & Constraints
I don't know what exactly drini had in mind

[2021-10-15 03:58] ma8642 commented on #5756
I'd like to try having the button do a heartbeat animation on hover!  Will create a PR when it's ready.

[2021-10-15 12:10] cclauss opened #5757 "Provisioning & Deployment Plan"
Like #4423
### Todo:
* [x] #5402 Again!
    * [x] Fixed in #6163
* [x] #3386
* [x] #5474
* [x] #6000
* [x] #5843
* [ ] #5910
* [ ] #4275
---
### Done
1. #5418 `covers_nginx` and `web_nginx`
    * [x] internetarchive/olsystem#137
    * [x] Not needed... #5840
    * [x] ~#5789~ --> #5854
    * [x] #4725
    * [x] Replace ~internetarchive/olsystem#139~ which __was reverted__.
2. #2036 for mem0, mem1,

[2021-10-15 15:20] cclauss commented on #5720
Related to #5674

[2021-10-15 20:11] jimchamp opened #5758 "`http` protocol used at some point during human-readable slug redirects in lower environments"
At some point during the URL rewriting process for works, redirects use `http` instead of `https` in both testing and staging environments.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/28732543/137547180-4cefdb66-430b-457c-9d46-af236f309794.png)

_Note the "Location" in the response headers._

### Relevant url?

Compare the redirects for the following

[2021-10-18 09:47] shaneriley commented on #5754
Buttons have a default CSS property value to prevent text wrapping to multiple lines, which is causing this issue. It can be removed in favor of wrapping the text to multiple lines, but I'd like to get a core team member to make the final decision on this as it will undoubtedly lead to rows of buttons being varying heights.

Code in question: https://github.com/internetarchive/openlibrary/blob/mas

[2021-10-18 10:25] shaneriley opened #5761 "scripts/copydocs.py fails when the received content is too large"
When the copydocs script is used to copy a work that contains data that exceeds a character count of 4094, an error is thrown and the work is not copied.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Run the copydocs script in your web container (`docker-compose run web bash`, `./scripts/copydocs.py`) using [this work](https://openlibrary.org/works/OL16060

[2021-10-18 18:05] mekarpeles commented on #5418
I think ol-www[0,1,] which is both docker and not docker, and covers are the two relevant hosts. Top priority would be ol-www1 which is not dockerized

[2021-10-18 19:14] mekarpeles opened #5764 "2021 i18n blog post"
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-10-18 19:36] cdrini commented on #5343
Set up an auto-restarter which has largely removed this as a big problem. Sluggishness now lasts <3min, and happens rather infrequently.

[2021-10-18 19:36] #5722 closed

[2021-10-18 19:37] cdrini commented on #5722
@mekarpeles presented this at last call; ^^ Those are the notes

[2021-10-18 19:39] cdrini commented on #3982
@mekarpeles : Main challenge is determine it adds the identifiers correctly during import.

[2021-10-18 19:57] dcapillae commented on #5754
Yes, I think we could use shorter strings. For example:

1. "No en la biblioteca" (Not in Library) could be "No en biblioteca".
2. "Devolver libro electrónico" (Return eBook) could be "Devolver libro".
3. "Unirse a la lista de espera" (Join Waitlist) could be "Unirse a la lista".

(1) is OK, it means the same thing; (2) and (3) mean something similar, "Return Book" and "Join List". They are not ex

[2021-10-18 22:32] dcapillae commented on #5754
I have checked out [eBiblio](https://madrid.ebiblio.es/resources/5fcfb8b76af9f80289310deb), a book lending website that operates in Spain operated by public libraries. They use "Reservar" (Reserve) to mean "Join Waitlist". Sounds like a good solution, and a very short one!

![ebiblio-screenshot](https://user-images.githubusercontent.com/7125952/137815335-e3ca96ee-7248-40a9-bf52-a99a32d4db27.png)

[2021-10-18 22:53] cdrini commented on #5754
That seems good to me! What do you think @mekarpeles ?

Any chance "Reservar" could conflate with something else on OL?

[2021-10-18 23:04] jimchamp opened #5766 ""Browse" and "More" header bar items have a tiny font size on reading log stats pages"
"Browse" and "More" headers have a smaller font size on reading log stats pages than other pages.

### Evidence / Screenshot (if possible)
![Screenshot from 2021-10-18 18-56-29](https://user-images.githubusercontent.com/28732543/137817674-17d89de6-9f7c-4d98-b3bb-eeee476c5753.png)

### Relevant url?

### Steps to Reproduce

1. Go to a reading log stats page.
2. Observe the size of the header items.

[2021-10-18 23:37] cdrini commented on #5418
@cclauss and I had a quick call this morning, and the plan is to get HTTP2 working locally with `covers_nginx`, and then merge that up. That'll then go out into prod for www when we do the www0 migration. That makes it safer to trial/error (since we can run things locally), and avoids wasting time doing work on www1, when we're so close to killing it.

[2021-10-19 16:24] jimchamp opened #5767 "Update all translations"
### Describe the problem that you'd like solved

Much untranslated copy has been added to Open Library recently.  Our translations have not been updated to reflect the new changes.

### Proposal & Constraints

All of our translations should be updated with the new copy.

- [x] @dcapillae Update Spanish translation (`/openlibrary/i18n/es/messages.po`)
- [ ] Update Czech translation (`/openlibrary/i

[2021-10-19 16:35] seabelis opened #5768 "404 - Page Not Found /works/OL...W/daisy does not exist"
Links to Daisy from Work pages are broken.
### Evidence / Screenshot (if possible)

### Relevant url?
1. Go to ...https://openlibrary.org/works/OL4648179W/Recursive_Methods_in_Economic_Dynamics/daisy

### Steps to Reproduce

1. Go to ...https://openlibrary.org/works/OL4648179W/Recursive_Methods_in_Economic_Dynamics/daisy
2. Do ...

* Actual: 404 - Page Not Found /works/OL4648179W/daisy does not ex

[2021-10-19 16:38] jimchamp commented on #5766
Sure!  Let me know if you have any questions, @b2pacific.

[2021-10-19 17:12] mekarpeles opened #5769 "Staff: Refresh Help Wanted Issues"
Update the “Help Wanted” page!

Update our github issues so we have a clear list or page where contributors can find important / skill-appropriate issues to work on
@mek to ask → leads for top 3 things they’d like community help on (exiting issues)

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Lo

[2021-10-19 17:45] b2pacific commented on #5766
Hey @jimchamp I have fixed the issue and have created a PR. Do review it!

[2021-10-20 23:12] #5434 closed

[2021-10-21 09:00] seabelis opened #5776 "Error when reverting merge"
In trying to revert a succession of bad author and work merges, I've enountered this which needs to be reverted to v.1 but throwns an error. https://openlibrary.org/works/OL36791W?v=1

Works by EL James is not a duplicate of The Three Musketeers by Dumas, so this must be reverted.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/works/OL36791W?v=1

### Steps to R

[2021-10-21 16:41] cclauss commented on #2036
sudo apt-get memcache install
* do we need to git pull ol-system and openlibrary?
* Web 1 and Web 2 will need access to which memcache servers to use.
* Is there a "performance config"
* Coverstore yam, ansible hosts, ansible
* ol-system -- grep ol-system and openlibrary for the config
*
https://github.com/internetarchive/olsystem/search?q=memcache
`ol-mem`

[2021-10-21 19:37] dcapillae opened #5779 "Translatable Book Reviews"
The book review options should be translatable into other languages.

### Evidence / Screenshot
![my-book-review](https://user-images.githubusercontent.com/7125952/138343706-a8959bba-c13b-4d9c-baba-609d4f10a2a3.png)

### Additional context

A possible solution was previously discussed in the Slack group with @cdrini. This issue is created at his request.
A PR will then be created to start implemen

[2021-10-22 08:39] seabelis opened #5782 "Inaccurate availability presented in search results"
From a patron:
There is a bug in the search results.

They don't show books that can be borrowed correctly.

Example.

Search for this "hugh cook warlords".

You will get 4 results. But none are ebooks right? "Not In Library"

Open the top result. It's an ebook and you can borrow it.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/search?q=hugh+cook+warlords&mod

[2021-10-23 15:08] LeadSongDog opened #5784 "Reversion: author searches with wildcards fail"
Wildcard asterisk fails in author name search, but works in "All" search. This used to work.
### Evidence / Screenshot (if possible)
![A097E003-93BE-454E-8696-6BD66A64068D](https://user-images.githubusercontent.com/11435431/138561672-765afb2c-3f70-4db6-840e-d4e6f4c97ffb.png)
![22BF5133-458D-463E-B26B-DB2B43E9519C](https://user-images.githubusercontent.com/11435431/138561674-16449abc-5473-4c9c-aed4

[2021-10-25 14:02] brierjon opened #5788 "Authority ID Number duplicate indicator in UI, API, and as an Authority Duplicate Report"
Some Author OL IDs have a duplicate ID Number from an authority applied across multiple OL IDs. The UI doesn't notify users when they add an Authority ID that an exact match for the authority exists on another OL ID thus hiding a possible merge or need for additional cleanup by the recent editor.

In particular I noticed this for Wikidata Q's. OL ID pointed to Wikidata, but Wikidata pointed to a d

[2021-10-25 14:41] miguelmaiquez opened #5790 "Wrong link for “Depósito Legal. Biblioteca Nacional de España” ID"
The link generated for the "Depósito Legal. Biblioteca Nacional de España" ID doesn't work.

### Evidence / Screenshot
![ol nbe issue](https://user-images.githubusercontent.com/5161774/138714359-91897bd2-22da-4a6e-ba2a-976676e59fad.png)

### Steps to Reproduce

1. Edit » Do you know any identifiers for this edition?
2. Select Identifier » Depósito Legal. Biblioteca Nacional de España
3. Write ID.

[2021-10-26 15:53] cdrini opened #5792 "Trusted Book Providers"
- [x] #5271 Add basic flow for book providers
- [ ] Project Gutenberg
    - Titles in catalogue: [~65,000](https://en.wikipedia.org/wiki/Project_Gutenberg)
    - Editions in Open Library: [873](http://openlibrary.org/query.json?type=/type/edition&publishers=Project%20Gutenberg&limit=5000)
    - Records in IA: [59,105](https://archive.org/details/gutenberg)
    - Works in Open Library: [535](https:

[2021-10-26 16:05] cdrini opened #5793 "Covers not appearing in search when they should"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/138917632-5ae38204-fc77-496d-bf98-7a8d9a62871b.png)

### Relevant url?
https://openlibrary.org/search?q=openstax+microbiology&mode=everything

### Steps to Reproduce
1. Go to https://openlibrary.org/search?q=openstax+microbiology&mode=everything

* Actual: Cover should be there
* Expected: Cover is n

[2021-10-26 21:53] jimchamp opened #5796 "Solr Builder failing after Docker rebuild"
After rebuilding Docker today, I am unable to start my local Open Library instance without error.  When starting the instance, `home_1` crashes during the `reindex-solr` task.  Here are the `home_1` logs:

[code]

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Rebuild Docker, using [these instructions](https://github.com/internetarchive/openlibrary/tree/mast

[2021-10-27 01:06] #5796 closed, assigned to nobody

[2021-10-27 16:28] jimchamp opened #5799 "Page banner not rendering in mobile views"
The banner in which we display important, time-sensitive messages to patrons is not rendering on smaller screen sizes.

### Evidence / Screenshot (if possible)
![mobile_banner_missing](https://user-images.githubusercontent.com/28732543/139106813-fec3e620-6684-45c7-bc71-51c500f707ad.gif)

### Relevant url?

### Steps to Reproduce

1. Add an announcement to your local branch ([example code](https://

[2021-10-27 17:33] #5793 closed, assigned to cdrini

[2021-10-27 23:00] jimchamp opened #5801 "Decouple OpenLibrary from Civi CRM"
### Describe the problem that you'd like solved

Open Library should not be calling Civi directly.  The application team reports an unexpectedly high volume of traffic to Civi, which is likely due to recent changes to the "My Books" page.  Civi calls are used to find patron's sponsorships, of which a count is displayed in the sidebar.

### Proposal & Constraints

Either remove code related to the

[2021-10-28 01:55] cdrini opened #5802 "Books no longer selecting a readable default edition"
Previously, going to a work url would select a readable edition, and the url would get a `?edition=` parameter. Now it does not.

Likely introduced as part of #5271 , in the most recent deploy.

### Relevant url?
- eg https://openlibrary.org/works/OL102584W
- eg https://openlibrary.org/works/OL13537898W/Tales_of_Mystery_and_Imagination

### Steps to Reproduce
1. Go to https://openlibrary.org/works

[2021-10-28 04:10] cdrini opened #5803 "Remove client-side availability checking availability.js, switch to server-side"
This old JS file has been replaced in most places, but still needs to be removed from lists pages and https://openlibrary.org/stats/readinglog .

- [ ] Change lists pages to use LoanStatus
- [ ] Change https://openlibrary.org/stats/readinglog to use loan status
- [ ] Confirm availability.js isn't used by carousel "loadMore" rendering
- [ ] Delete availability.js

### Stakeholders
@mekarpeles

[2021-10-28 18:36] #5766 closed, assigned to b2pacific

[2021-10-28 23:09] cdrini opened #5806 "Covers for Not In Library books not appearing in reading log"
Caused by the #5271 PR.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/139348431-6421da8a-e44b-4265-aa88-61b0f8d1d108.png)

### Relevant url?
eg https://openlibrary.org/people/ScarTissue/books/want-to-read

### Steps to Reproduce

1. Go to https://openlibrary.org/people/ScarTissue/books/want-to-read

* Actual: Delicacy missing a cover, despite h

[2021-10-28 23:10] jimchamp opened #5807 "Improve Open Library's HTTP Observatory score"
### Describe the problem that you'd like solved

Open Library is failing its HTTP Observatory scan, which is used to determine areas in which our HTTP traffic can be more secure.  Results can be found here: https://observatory.mozilla.org/analyze/openlibrary.org

### Proposal & Constraints

We can pass our tests by ensuring that the following items are properly implemented:

- [ ] Implement Conten

[2021-10-29 16:41] #5799 closed, assigned to nobody

[2021-10-29 20:52] lephemere opened #5809 "Japanese characters not displayed correctly"
While looking for books in japanese language, came accross some books with unicode characters not displayed correctly.

### Evidence / Screenshot (if possible)
![ol-issue-02](https://user-images.githubusercontent.com/73437497/139498752-201492b8-5f46-42b8-9e51-ee215325effd.jpg)

### Relevant url?
Works:
 - https://openlibrary.org/works/OL22249633W/12431_12383_12375_12399_12362_12363_12354_12373_124

[2021-10-29 20:57] lephemere opened #5810 "Book result box spans "indefinitely""
While looking for books in japanese language, discovered book result boxes spanning beyond the standard page width due to too long book titles.

### Evidence / Screenshot (if possible)
![ol-issue-01](https://user-images.githubusercontent.com/73437497/139498739-dc52f228-6d68-47d0-8d66-c8d2a0f52a56.jpg)
![ol-issue-02](https://user-images.githubusercontent.com/73437497/139498752-201492b8-5f46-42b8-9e

[2021-10-29 22:55] cdrini commented on #5810
Setting `min-width: 0` on `div#searchResults, div#searchResults ul` should fix it

[2021-10-30 05:38] b2pacific commented on #5761
@jimchamp can you assign this to me?

[2021-10-30 14:08] lephemere commented on #5767
Hi, I'm working on the french translation.

[2021-10-30 16:16] #5630 closed

[2021-10-30 18:07] tfmorris commented on #5739
@seabelis Of course **valid** author records should never be deleted, but a record which names three different people (or a record that has a single name, but includes works by many different authors sharing that name) isn't valid. These records should never have existed in the first place, so deleting them is absolutely the correct thing to do, in my opinion.

A good test is "Could this record ha

[2021-10-30 18:16] tfmorris commented on #5734
There are many non-RDF graph databases which can be loaded from the current JSON (as can SQL databases, even though a SQL dump isn't provided) and creating RDF is a lot more involved that just a new dump format. The entire data model would first need to mapped to a (set of) RDF-compatible vocabulary(ies).

[2021-10-30 18:20] tfmorris commented on #5721
I see a bunch of people gave "thumbs up" to @LeadSongDog request. Does anyone have the link to the relevant issue?

[2021-10-30 18:28] tfmorris commented on #5809
This is just bad data from BetterWorldBooks. Booksellers are notorious for crappy data. Amazon is much worse than library data. BetterWorldBooks is at least as bad as Amazon.

Many people have suggested that OpenLibrary stop importing bad data from booksellers, but it doesn't seem to make any impression on the decision makers.

[2021-10-30 18:39] jimman2003 commented on #5734
I think this is achievable , because we already generate rdf for individual records

[2021-10-30 18:39] jimman2003 commented on #5734
So we reuse that vocabulary ;)

[2021-10-30 18:50] tfmorris commented on #561
@seabelis Is the metadata associated with collections pages included in the data dump? If not, that's a significant disadvantage to that approach (at least for an "open data" site).

@Catipaw this proposal seems to implicitly be about works series as opposed to edition series. Is that correct? If so, it might be worth stating explicitly. Although you mention publishers, in my experience, many (mos

[2021-11-01 07:35] seabelis commented on #561
@tfmorris , the collections pages are not included in data dumps. The collection pages are populated by search query or list of specific work IDs.

One of the things I appreciate about how Wikidata is set up is that there are relationships between entities rather than a parent-child structure. It's far more correct to say an edition contains this/these works than have it be a child of one particul