[2021-11-01 07:45] seabelis commented on #561
I would not want to have a situation where Hamlet, for example, belongs to hundreds of series when it's a stand-alone work. Including publishers' series at the work level will have this effect. Signet Classics, Oxford World's Classics, Penguin Classics, Penguin Plays, Puffin Classics, Works of..., Plays of... . With over 1K editions we would end up with nearly an equal number of publisher series.

[2021-11-01 08:09] seabelis commented on #5739
@tfmorris These conflated authors are typically imported with a single work. So the import process should have split the author into individual profiles, but for whatever reason did not. The primary author of work A is author A. The rest is extra information that should be removed from that profile. Ideally, if the other names are valid authors at the work level, they should be added to the work i

[2021-11-01 08:56] seabelis opened #5812 "Trigger spam detector only when restricted phrases are added to a record"
Some words and phrases have been identified as spam and throw errors when added to a page. However, these words sometimes exist legitimately on a record. When someone tries to edit one of those records, i.e. change author or language, they will also see an error and be prevented from making any edit to the record.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/

[2021-11-01 13:37] LeadSongDog commented on #561
@seabelis notes a useful distinction: a publisher’s series membership is almost always an edition-level property whereas a literary series membership is normally a work-level property that may be shared across multiple publishers, formats, and languages. Storing them accordingly means we need say only once that Asimov’s Foundation and Empire is book two of his Foundation series to have all edition

[2021-11-01 13:46] LeadSongDog commented on #3200
Before joining the waitlist, other editions of the same work should be offered in preference to similar works. However we get there, situations like this should never arise:
![440931EC-E5E2-4543-B2F6-0F7C3401274B](https://user-images.githubusercontent.com/11435431/139681024-4a37072d-b095-4573-af4d-6a41e3c5068e.jpeg)

[2021-11-01 16:13] BrittanyBunk commented on #3200
@LeadSongDog that's exactly why I wrote this issue - because it's really sad to see a waitlist of 80 people for the same book while they're missing out on all reading and all the others.

yes, but more than that. The preference order should be:
1) different versions of the same one (editions, translations, different authors, etc.)
2) a review, sparknotes-like version, parody, etc. (so they get to

[2021-11-01 17:26] BharatKalluri opened #5815 "Unable to login using ia credentials"
OL client uses the IA login method to log in and retrieve the session. It makes a call to `/account/login` with a `access` and a `secret` in the JSON body. These are sourced from `ia.configure()`. I think this used to work before since a lot of scripts were logging in and doing admin ops. But looks like now, the API endpoint now throws a 400 with a response body that says `username`.

Timeline lin

[2021-11-01 19:16] cdrini commented on #5810
@shaneriley would you be interested in taking a look at this one? We can help you with any environment issues you're having :)

[2021-11-01 21:26] shaneriley commented on #5810
Sure, I can prevent it from happening, though it does look like the real issue here is that HTML entities are double-encoded. If the initial ampersand to denote an HTML entity for each character was left as-is, this would render as far fewer characters, and would not cause this overflow. I am still having the issue locally, so I'll post a message in Slack in an attempt to get that resolved. In the

[2021-11-01 23:39] cdrini commented on #5782
This was a case of solr being outdated, like as the result of a `Bot` import. I force reindexed that results on that page and it became borrowable again. Closing this in favour of #5700 . Note this will also be fixed by the next full reindex #5502 .

[2021-11-01 23:39] #5782 closed

[2021-11-02 03:25] #5815 closed

[2021-11-02 03:41] cdrini commented on #5790
Removed the link :( If someone finds a way to get a proper link, let me know. I hunted around the site for a while and couldn't find anything.

[2021-11-02 03:41] #5790 closed

[2021-11-02 04:00] cdrini commented on #5502
Up on testing at testing.openlibrary.org! Would love to get some eyes on it, if folks can confirm the issues above are fixed on testing.openlibrary.org .

Issues addressed:
- #5267
- #4322
- #178
- #714

CC @LeadSongDog @RayBB @ksze @tfmorris

[2021-11-02 04:01] cdrini commented on #5502
Stats changes

Type | Postgres | Prod Solr | New Solr | PSQL Diff | Solr Diff
-- | -- | -- | -- | -- | --
Works | 23736989 | 22224414 | 23736954 | -35 | 1512540
Orphans | 2270861 | 2304061 | 2270854 | -7 | -33207
Authors | 9052252 | 8483628 | 9052192 | -60 | 568564
Subjects | 0 | 2957272 | 3026213 | 3026213 | 68941

[2021-11-02 07:26] jimman2003 commented on #5502
Can confirm that 1st issue is fixed

[2021-11-02 08:25] ksze commented on #5502
I think 2nd issue looks much better now.
However, some subshelves consistently fail to load for some reason (e.g. 00X):
![image](https://user-images.githubusercontent.com/381556/139811001-8e0957d5-cf8c-4abf-b459-98fbf3cf66c0.png)

But clicking the "View all" link in the subshelves gives me a different page that *does* have books in it:
https://testing.openlibrary.org/search?q=ddc%3A00*+has_fulltex

[2021-11-02 14:00] LeadSongDog commented on #5502
Testing some of the examples is somewhat frustrated by #5784, which has arisen in the mean time.

[2021-11-02 16:25] cdrini commented on #5502
@ksze Ah, I think the optimization step silently failed, causing search to be slow + sometimes fail (and Library Explorer is likely caching the failed result).

Switching testing back to the other solr while I fix :+1:

[2021-11-02 16:41] jimchamp commented on #5761
@b2pacific what is your plan for fixing this issue?  I suspect that we will have to make a configuration change (either nginx or gunicorn) to address this issue, but I may be wrong.

[2021-11-02 16:53] jimchamp commented on #5761
It's a gunicorn configuration.  @b2pacific, you can update our web GUNICORN_OPTS in `docker-compose.yml` to fix this, here: https://github.com/internetarchive/openlibrary/blob/c713c09e4e09f7521f8e7cd89678a5a2a4ad150c/docker-compose.yml#L8

Here is the setting to use: https://docs.gunicorn.org/en/stable/settings.html#limit-request-line

[2021-11-02 16:53] brierjon commented on #5662
Along the Cloudflare CDN route, maybe looking at IPFS pinning of the dumps? - [https://developers.cloudflare.com/distributed-web/ipfs-gateway](https://developers.cloudflare.com/distributed-web/ipfs-gateway)

There may be possible funding to pursue if further work is needed - [https://github.com/ipfs/devgrants](https://github.com/ipfs/devgrants)

[2021-11-02 17:23] b2pacific commented on #5761
Yeah, it is because of gunicorn error :)
https://serverfault.com/questions/564464/nginx-request-line-too-large

[2021-11-02 18:11] lephemere commented on #5810
Shouldn't the title be continued on the next line below like shown below?

![image](https://user-images.githubusercontent.com/73437497/139921488-a8cd3f55-fad8-4b3c-a84a-4955bcc777ab.png)

[2021-11-02 22:31] jimchamp commented on #5810
@lephemere normally, that would happen.  This issue occurs specifically if the title has no spaces.

[2021-11-02 23:28] cdrini commented on #5502
Ok, optimized and back on testing.openlibrary.org :+1:

[2021-11-02 23:40] cdrini commented on #5810
@shaneriley The underlying data issue is reported here: #5809 ; these were imported like this, I'm afraid!

[2021-11-03 07:56] ksze commented on #5502
Much better. I believe it has solved #4322.

[2021-11-03 14:31] cdrini opened #5820 "Improvements + Fixes to work /delete endpoint"
In preparation of some bulk notebook deletes, need some fixes to the delete API!

- [ ] Expand access to also include bot accounts
- [ ] Deleting the works only deletes the first 20 editions! ❗

### Stakeholders

@cdrini

[2021-11-03 15:51] cdrini commented on #5502
Awesome! Ok, I've connected production to the new solr, so the changes should no be live on openlibrary.org ! I'm monitoring for perf issues before "cementing" the change and making it permanent.

[2021-11-03 18:40] mekarpeles opened #5822 "Overflowing Cover Image Alt-Text"
long title overrun on cover image placeholder

### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/978325/140172390-eaf677d7-6f63-4eb4-961d-8b7ff63e3dce.png)

### Relevant url?

https://openlibrary.org/books/OL35205414M/Carlos_Chagas_Um_Cientista_Do_Brasil_Carlos_Chagas_Scientist_of_Brazil

### Stakeholders

@JeffKaplan @mekarpeles

[2021-11-04 09:09] dcapillae commented on #5754
If you give me the OK, in a next update of the site translations I could change the text of the buttons to reduce the length of the string.

[2021-11-04 14:41] shashwat73 commented on #5756
Changed the text to red. I can work on an animation, like a fade or something if you'd like. I thought it'd be a little too much.

https://github.com/internetarchive/openlibrary/compare/master...shashwat73:patch-1

[2021-11-04 15:36] RayBB commented on #5788
I think this is an awesome idea!

One thing we'd need to figure out is how can we lookup authors by wikidata (or other) identifier? afaik there isn't api for it right now and it would likely need solr changes. @cdrini do you know?

[2021-11-04 21:14] LeadSongDog commented on #756
@cclauss
Who is it that runs Import Bot? Clearly nothing has been done to fix this.

Just now, https://openlibrary.org/recentchanges/2021/11/04/add-book/88210045 created yet another duplicate author. Simply checking the world at entry for this isbn finds the book, with the first name rather than just the initial.

Had this been checked, the bot would not have needed to create https://openlibrary.o

[2021-11-05 16:51] mekarpeles commented on #5764
https://blog.openlibrary.org/2021/11/05/open-library-in-every-language/

[2021-11-05 16:51] #5764 closed

[2021-11-05 16:54] mekarpeles commented on #5597
https://blog.openlibrary.org/2021/10/20/2021-end-of-year-community-updates/ is our end of year blog post, and we're uploading 2021-10-26-OpenLibrary-Community-Celebration.mp4 to openlibrary-tour-2020

[2021-11-05 17:00] #5597 closed

[2021-11-05 17:06] mekarpeles commented on #5723
2022 community planning done this Tuesday

[2021-11-05 17:06] #5723 closed

[2021-11-05 17:11] mekarpeles commented on #3982
What we know is StandardEbooks has a XML/opds syndication feed of books, any of which may be updated at any time.

1. First, we want to perform a `HEAD` check to see if the results have changed (compare to some state-file/historical data on disk)
2. If the results have changed, do a `GET` for the catalog and save the data
3. Loop over book catalog entries and find book records whose `update` time

[2021-11-05 17:21] mekarpeles commented on #5724
done!
https://docs.google.com/document/d/1q_jAcdEc705H3gsZv_Yt_08c8YFmefdSvMbiljc2O8g/edit#

[2021-11-05 17:21] #5724 closed

[2021-11-05 17:22] mekarpeles commented on #5769
Technically I have this internally and I think this resolves the issue for me
https://docs.google.com/document/d/1r0dACn76nyI2OfuDIARPZeE5CVC90Aa07hb5gST2CUg/edit

[2021-11-05 17:22] #5769 closed

[2021-11-05 17:24] mekarpeles commented on #4379
I think @bfalling is taking this one over because there are 3 pieces which require updating:

1. Adding Preview Status: denoting an `is_previewable` boolean status
2. Excluding Promise Items: Excluding mediatype:data results (which causes false-matches against promise items isbn lists)
3. Fixing Fallbacks: There are books the API erroneously reports as `private` because they have no `lending___sta

[2021-11-05 17:27] mekarpeles commented on #5646
Let's please adjust this so it says, "Your changes are automatically saved" in green, **unless** there is some error, but this can be a separate issue.

[2021-11-05 18:36] bnewbold commented on #5418
You may already know and have checked any relevant code, but just in case, something I ran in to with HTTP/2 is that HTTP headers are all lower-cased by default. As opposed to the norm of having Capitalized headers for most HTTP/1.1 headers. This is usually transparent, unless there is any code that parses headers and does not automatically handle case insensitivity.

Might be worth a quick scan o

[2021-11-05 22:22] mekarpeles commented on #5801
we can a query of this flavor
https://archive.org/search.php?query=donor%3A%22%40mekarpeles%22%20collection%3Aopenlibraryscanningteam

[2021-11-07 22:15] #1449 closed

[2021-11-08 20:15] cdrini commented on #5700
Punting to next month; planning on doing _yet another_ full reindex this month, so this will be less of a problem at the moment.

[2021-11-08 20:17] cdrini opened #5827 "Do a full solr reindex"
~Blocked by #5502 .~

PRs part of this full reindex:
- PUNT: #3990
- PUNT: #6264 Update Solr 8.10 → 8.11
- PUNT: #6697
- [x] #6021
- [x] #6260
- [x] #6068
- [x] #6422
    - [x] #889
    - [x] #2355

Cleanup:
- [x] Open PR removing refs to solr-next where applicable #6894
- [x] Create issue for punted things #6895

Follow process from #5502

[2021-11-08 20:18] cdrini commented on #5343
This is looking stable; need to move the auto-restarter somewhere better 😬

[2021-11-08 20:19] cdrini commented on #5343
Ideally we'd be using `docker swarm` or something, that can handle auto-restarts things, instead of programming our own.

[2021-11-08 20:27] cdrini opened #5828 "Release Public PWA/TWA"
The TWA on Google Play is ready to go into the next phase of release; anyone should be able to install it; not just the people we explicitly include.

https://docs.google.com/document/d/1grAAE5hUyoXe1AV6Bb3Xv4mn0L6SKewI8gBNaeUvFPE/edit

[2021-11-08 20:29] cdrini opened #5829 "Blog post for TWA/PWA"
Work with @Yashs911 to create a blog post about his fellowship and the TWA!

[2021-11-08 20:38] cdrini commented on #5418
I think we can optimistically progress as if this won't cause an issue -- openlibrary.org has been on HTTP/2 for ~2.5 weeks, so I think we're good :+1:

[2021-11-08 20:48] cdrini opened #5830 "BookTrails.us / TheBestBookOn MVP"
See also: https://docs.google.com/document/u/1/d/1Ddeg-fWWZ0iCFzVtZR0yGY_vCPttIUrd4tCIWwvYj6g/edit

Outstanding tasks required for The Best Book On MVP:
- [ ] Implement new data models for recommendations and book graph
- [ ] Seed DB with Open Syllabus data
- [ ] Ensure that SQLAlchemy Queue Pool limit errors have been resolved
- [ ] Decorate recommendations with Open Library's book tag data (opti

[2021-11-08 20:57] cdrini opened #5831 "Unified "Read" Button Dropper"
We have a lot of read-y actions a user can perform; designing these as a dropdown would allow us to expose these options in more places; eg search results, carousels; without taking up a bunch of space.

## Options

Borrow / Read, Listen, Search Inside, Download, Locate (meaning check nearby libraries)

## Description, Patron Story
- What is the design change?

Turns the read button into a drop-do

[2021-11-08 21:12] cdrini opened #5832 "Get more detailed book page performance metrics"
We currently have perf metrics on grafana, but that only gives us average load times. We want to avoid implementing anything too intricate, and would rather use an off-the-shelf solution.

Possible options:

- Work with @mmcnl to hook up Open Library to IA's elastic cluster, which provides core web vital tracking amongst other things
- Add hooks for Sentry perf monitoring: https://docs.sentry.io/p

[2021-11-08 22:31] cdrini opened #5833 "Import API should validate input"
Want the import api to validate provided JSON, and reject any invalid documents.

### Plan
One of the issues: currently the only json schema we have for this API resides in openlibrary-client: https://github.com/internetarchive/openlibrary-client/blob/99e600136f033a034690f947e3f09d930455c2c9/olclient/schemata/import.schema.json . We would like to avoid duplicating this if possible. Not longer term

[2021-11-08 23:50] #143 closed

[2021-11-08 23:53] cdrini opened #5834 "Gitpod not displaying covers"
Gitpod is rendering pages with `<img src="http://localhost:7075/...">` . These will not work, and should reflect the container url (somehow). This path is specified in `openlibrary.yml` as the covers public url.

### Steps to Reproduce

1. Go to a search results page ; eg /search?q=the

* Actual: Covers all broken
* Expected: covers working, can upload as well.

### Details

- **Logged in (Y/N)?**

[2021-11-09 00:04] #5822 closed

[2021-11-09 01:35] #5820 closed

[2021-11-09 01:38] cdrini opened #5835 "Run pyupgrade -- Removes Python 2 refs in the codebase"
Subtask of #4776 .

[2021-11-09 01:42] cdrini opened #5836 "Run auto-formatter on codebase -- ignoring imports"
Subtask of #4776 .

There is a lot of magic with the way imports work in openlibrary ; we can't comfortably change them all. But we can change all the other stuff. Can we run black excluding any imports changes it would make?

[2021-11-09 01:50] cdrini opened #5837 "Trusted Book Providers blog post"
- [x] @mekarpeles First draft
- [x] @cdrini Second draft
- [x] @cdrini Get proofread by IA folks
- [x] @cdrini Publish! https://blog.openlibrary.org/2021/12/20/introducing-trusted-book-providers/
- [x] @mek Advertise on Twitter
- [x] @cdrini Sync with Chris Freeland to include in email newsletter

[2021-11-09 12:55] jimman2003 commented on #5835
#5338 :)

[2021-11-09 14:02] jimman2003 commented on #5836
#5338

[2021-11-09 17:35] RayBB commented on #5834
@cdrini as far as I can tell, when developing on my local machine the cover images served from local do not work properly. The only covers that load are the ones hosted on archive.org

For example, [alice in wonderland search ](http://localhost:8080/search?q=alice+in+wonderland&mode=everything) doesn't show a cover and links to [this cover](http://localhost:7075/b/olid/OL13517105M-M.jpg) (which is

[2021-11-09 18:24] mheiman commented on #2122
This isn't resolved, but there's a workaround: Log in as admin while multiple workers are running, then restart with only one worker.

[2021-11-09 19:49] cdrini opened #5843 "Improve the state of Python linting"
Python linting is currently a problem. Everyone is _constantly_ being hit with linting issues, creating new commits to fix linting issues, either wasting manual time to fix issues or using automatic commands that make changes to loads of unrelated places. And it makes our git history a mess, and diffs/PRs hard to read.

I think the end goal we want is: Easy way to automatically apply linting _befo

[2021-11-09 21:55] RayBB commented on #5650
Script to find duplicate authors ids:
[code]

List of works with duplicate authorids
[works_with_duplicate_authors.txt](https://github.com/internetarchive/openlibrary/files/7508210/works_with_duplicate_authors.txt)

[2021-11-09 22:10] RayBB commented on #5625
Seems to have been added by import bot a few weeks later

[2021-11-10 01:13] #5803 closed

[2021-11-10 01:13] #5806 closed

[2021-11-10 15:38] cclauss commented on #5834
Is there a write-up on how to use gitpod with this repo?

[2021-11-10 15:39] RayBB commented on #5834
@cclauss all you need to do is click gitpod button in readme and then sign up for an account

[2021-11-10 17:22] cdrini commented on #5834
@cclauss For a pull request, prefix the PR url with `gitpod.io/#` eg https://gitpod.io/#https://github.com/internetarchive/openlibrary/pull/5851

[2021-11-10 17:23] cclauss commented on #5834
WOW!!! Supercool!

[2021-11-10 17:46] RayBB opened #5852 "reindex-solr is failing"
reindex-solr is failing and this causes no books to show up in dev environment

### Steps to Reproduce

1. Open master branch and run `docker-compose run --rm home make reindex-solr`

* Actual: failure
* Expected: success

Error message:
[code]

### Details

- **Logged in (Y/N)?** N
- **Browser type/version?** FF
- **Operating system?** Mac
- **Environment (prod/dev/local)?** local

### Proposal &

[2021-11-10 18:09] #5852 closed

[2021-11-10 23:53] #5341 closed

[2021-11-11 07:48] seabelis opened #5857 "Support sorting for list carousels"
Sorting [list carousels ](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/macros/ListCarousel.html) is not currently possible.

### Describe the problem that you'd like solved
Add support similar to what is possible with [query-based carousels.](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/macros/QueryCarousel.html). Sorting by editions, scans is hi

[2021-11-11 08:22] seabelis opened #5858 "Edition-aware Carousels"
Currently creating collection carousels only displays works. This can be limiting for folks who want to create collections in languages other than English (in most cases) or who want to feature specific covers, i.e. movie-tie ins, specific publisher collections (i.e. Penguin Classics)...
### Describe the problem that you'd like solved

Support edition IDs in query and list carousels.
### Proposal

[2021-11-11 16:34] seabelis opened #5861 "Loading message displays on list carousel when nothing left to load"
Loading... displays on list carousel even when there are no remaining works to load.
### Evidence / Screenshot (if possible)
<img width="1148" alt="Screenshot 2021-11-11 at 17 32 02" src="https://user-images.githubusercontent.com/17739465/141334073-e1fb8d45-6fd1-45fe-9aa0-096b8cd711b4.png">
### Relevant url?
https://openlibrary.org/collections/challenged-goddard-school-district
<img width="1148" a

[2021-11-11 19:18] tmanarl opened #5862 "Carousel search query pulling incorrect data."
I'm building collection carousels using search queries.  I have one carousel that is pulling in two different subject tags.
`QueryCarousel('subject:"collectionID:DS9#"', search=False, has_fulltext_only=False, sort='old', title="Numbered novels (1993–2000)", limit=150) `is also pulling in works with subject tag `collectionID:DS9nov`.

### Evidence / Screenshot (if possible)
[Screenshot](https://dri

[2021-11-11 21:20] cclauss commented on #5402
* creating clean directories
* dumping reading log table
real    0m12.712s
user    0m8.430s
sys     0m0.973s

* dumping ratings table
real    0m1.029s
user    0m0.769s
sys     0m0.069s

* dumping the data table
real    110m38.907s
user    106m17.061s
sys     15m48.968s

* generating ol_cdump_2021-11-10.txt.gz
Traceback (most recent call last):
  ...
    import web
ImportError: No module named web

[2021-11-11 23:18] cdrini commented on #5418
Here are some lighthouse stats; not the most scientific, since it it only runs things once, but things got greener!

![image](https://user-images.githubusercontent.com/6251786/141382421-3ca02af2-0fae-4808-b1ef-4e8cdfa330cd.png)

I got slightly mixed signals when I did some of my own testing just refreshing the homepage in incognito in FF , but attributing that to a fluke?

![image](https://user-im

[2021-11-12 14:40] seabelis opened #5865 "Sporadic SSL error"
`/openlibrary/openlibrary/templates/type/edition/view.html: error in processing template: SSLError: HTTPSConnectionPool(host='archive.org', port=443): Max retries exceeded with url: /services/openlibrary.php (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1123)'))) (falling back to default t

[2021-11-12 16:28] cdrini commented on #5756
Definitely looking for something a bit more playful/creative! Here's one possibility for inspiration:

![heart donate](https://user-images.githubusercontent.com/6251786/141500459-17a66934-2837-4712-a5ce-52d227c9d609.gif)

[code]

[2021-11-13 16:36] mekarpeles commented on #2728
This issue from 2019 is priory 3 & needs breakdown, and doesn't have clear success/close criteria. Is this still a useful issue?

[2021-11-13 18:21] cclauss commented on #5402
Two key learnings about `openlibrary/data/dump.py`:
1.  I might have made bad changes in #4627
2. In Python 3 we need to use `sys.stdin.buffer` to read as ___binary___ a .gz file piped into stdin.

[2021-11-13 23:28] RayBB commented on #5834
We should reopen this one as it wasn't actually fixed by the PR above (I should have been more clear).

[2021-11-14 14:06] dcapillae opened #5868 "The export list option does not include the works, only the editions"
The export list option doesn't work when the list include works only. If the list include works and editions, it exports editions only. If the list only includes works, it does not export anything.

### Evidence
This [list](https://openlibrary.org/people/dcapillae/lists/OL202672L) includes works only.  Try to export it in any format. The results are null.

### Steps to Reproduce
1. Go to any list

[2021-11-14 17:45] #5835 closed

[2021-11-14 17:45] #5836 closed

[2021-11-15 16:23] jimchamp commented on #5862
As I mentioned in Slack, I highly recommend avoiding the use of special characters in subject names.  In this particular case, I've found that `9#` is being treated like a wildcard in this query, and all books with a subject starting with `collectionID:DS` are being returned.  This only seems to happen when a digit proceeds the `#` character; queries for `'subject:"collectionID:ST#"'` return subje

[2021-11-15 20:37] cdrini commented on #5857
@Sabreen-Parveen Would you be able to take a look at this one? I believe all we need to do is forward a `sort` parameter between two templates, or something along those lines :)

[2021-11-15 20:41] cdrini commented on #5754
Ok! @mekarpeles and I chatted over it, and those seem good! To clarify:

1. "No en la biblioteca" (Not in Library) → "No en biblioteca".
2. "Devolver libro electrónico" (Return eBook) → "Devolver libro".
3. "Unirse a la lista de espera" (Join Waitlist) → "Reservar".

[2021-11-15 20:44] cdrini opened #5875 "Import pipeline erroring/failing recently"
TODO @mekarpeles

Some sort of unicode issue is preventing the importer from opening the dump file -- something something character encoding.

[2021-11-15 23:30] cdrini opened #5876 "iPad mini users reporting new My Books page sidebar filling screen"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/141867893-dce6e1bf-082b-47c3-9a47-8e1f26cefacb.png)

### Relevant url?
https://openlibrary.org/account/loans

### Steps to Reproduce

1. Go to https://openlibrary.org/account/loans on an iPad mini in portrait

* Actual: The menu takes up the whole screen
* Expected: Books/main view should appear at t

[2021-11-15 23:31] cdrini commented on #5876
DAAAARN. I was able to repro on firefox, by setting the width _exactly_ to 768 😒 A pixel more/less fixes the problem.

![image](https://user-images.githubusercontent.com/6251786/141869077-e9b7ef2a-88ed-459c-8899-d15d382749c8.png)

[2021-11-16 00:43] cdrini opened #5877 "Automate steps to move solr from solrbuilder server to production server"
This process is annoying and finnicky; getting automated would save a good chunk of time and reduce risk.

- [x] Run steps manually (done in #5493 )
- [x] Write out as bash, and run each step-by-step (done in #5502)
    - [ ] Open draft PR
- [ ] Try running the entire script! Do as part of #5827

[2021-11-16 03:16] RayBB opened #5879 "Error when adding book: `/openlibrary/openlibrary/templates/books/check.html: error in processing template: AttributeError: ‘author_key’ (falling back to default template)`"
Getting an error when adding this book:

Title: Beyond Habitat
Author: Moshe Safdie
ISBN: 9780262368049

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/921217/141889214-26d0bbf5-3eef-4356-b0ea-d038ce1982a7.png)

![image](https://user-images.githubusercontent.com/921217/141889236-04c1d650-1467-4bb6-a840-7c6033edbacb.png)

Debug error page (download and re

[2021-11-16 09:17] cclauss commented on #5879
With https://openlibrary.org/books/add?debug=true the output will be something like:
![Screenshot 2021-11-16 at 10 12 52](https://user-images.githubusercontent.com/3709715/141957277-e633a1eb-bee4-4870-82d0-7a35d7dffbd9.png)

[2021-11-16 15:42] seabelis commented on #5594
- [ ] https://openlibrary.org/authors/OL9361307A/Edgar_Allan_Poe_%28duplicate%29

[2021-11-16 16:23] #5862 closed

[2021-11-16 17:09] dcapillae opened #5887 "Covers of works with "print-disabled" editions are not updated"
It is not possible to update the covers of works that have an edition in Internet Archive accessible only for "print-disabled".

When trying to update the cover of the work, the process is successful, but then there is no change in Open Library. The work continues to use the default cover determined by item in the Internet Archive accessible only for "print-disabled".

### Evidence / Screenshot
Ev

[2021-11-16 18:28] RayBB opened #5888 "Make reindex-solr not working"
reindex-solr is failing which causes no books to show up in search for local dev

### Evidence / Screenshot (if possible)
[code]

### Steps to Reproduce

1. Go to https://gitpod.io/#https://github.com/internetarchive/openlibrary/
2. See the reindex-solr step fail

* Actual: Failed
* Expected: Success

### Details

- **Logged in (Y/N)?** N
- **Browser type/version?** FF
- **Operating system?** Mac

[2021-11-16 19:36] cdrini commented on #5888
This will break solr-updater if it goes into production ; taking a look

[2021-11-17 23:03] jimchamp commented on #5888
Some notes about this:
When `annotations` contains a list of strings, `self.type_to_argparse(annotations[arg])` is called with `'list[str]'` as the argument (note that this is a string, not a type).  This is causing type_to_argparse incorrectly evaluate the types of lists.

[2021-11-17 23:25] #5888 closed

[2021-11-17 23:26] #5502 closed

[2021-11-18 00:50] #5876 closed

[2021-11-18 17:14] #5674 closed

[2021-11-18 17:15] cclauss opened #5893 "Add TESTING flag for scripts/oldumps.sh given the long runtimes"
### Describe the problem that you'd like solved

See review feedback on #5892
Fixed in #5909

### Proposal & Constraints

### Additional context

### Stakeholders

[2021-11-19 09:45] seabelis commented on #5594
- [ ] https://openlibrary.org/authors/merge?key=OL26680A&key=OL3014177A&key=OL7104908A

[2021-11-19 14:19] seabelis opened #5894 "Sudden disappearance of items from lists"
Items have disappeared from lists without being deleted. It's suspected that editing a list on testing.openlibrary.org may cause the issue.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...https://openlibrary.org/people/agent-lisa/lists/OL202512L?_compare=Compare&b=870&a=869&m=diff
2. Do ...Notice the difference in items.

* Actual: Items removed fro

[2021-11-20 08:35] cclauss commented on #5720
Currently, the sitemaps file on ol-www1 are 264 days old.
[code]

[2021-11-20 14:24] dcapillae commented on #5894
Maybe related to adding new books to the list from testing.openlibrary.org.

[2021-11-21 17:26] yuvy6376 commented on #5436
Hello, Yuvraj this side I would like to contribute with this issue or any other under your guidance !!!

[2021-11-22 00:32] RayBB commented on #5436
@yuvy6376 go for it

[2021-11-22 19:43] RayBB commented on #5650
https://openlibrary.org/people/whitespacebot is working on it! Thanks @jimman2003

[2021-11-23 14:53] homewardgamer commented on #3797
Hello maintainers, if possible I would love to work on this Issue.

[2021-11-23 14:54] homewardgamer commented on #5861
I would like to work on this Issue, kindly assign it to me.

[2021-11-23 14:55] homewardgamer commented on #5810
I would like to work on this issue, of it's still unresolved.

[2021-11-23 15:06] homewardgamer opened #5903 "First card in the list of publications is shorter than the rest"
### Evidence / Screenshot (if possible)
<img width="1438" alt="Screenshot 2021-11-23 at 8 28 54 PM" src="https://user-images.githubusercontent.com/73935799/143048195-4b993ab3-9fdf-4d67-b146-cdc6a4c58bc9.png">

### Relevant url?

https://openlibrary.org/people/dcapillae/lists/OL202672L/Origami_Collection

### Steps to Reproduce

1. Go to the above URL
2. If you are using chrome open the dev tools a

[2021-11-23 15:06] homewardgamer commented on #5903
I would like to work on this Issue.

[2021-11-23 18:21] HimanshuKamdi commented on #3797
Hello. I'd like to help with this issue, if I may.
I am new in open source development but have knowledge about python and django.

[2021-11-23 21:37] jimchamp commented on #5903
@homewardgamer you can work on this.  I'm not sure what element's width you are intending to modify, but I would advise against it. Many components on this page are used in different views, and changing the width may adversely affect those views.

The main issue for this particular list page is the image's `align` attribute, which has been set to `align="right"`.  This is effectively the same as `

[2021-11-24 02:43] #5761 closed

[2021-11-24 02:47] homewardgamer commented on #5903
Thanks for the insights! @jimchamp, I will surely modify the files and do the changes needed.

[2021-11-24 22:21] #5802 closed

[2021-11-25 14:44] #5903 closed

[2021-11-26 14:05] b2pacific commented on #5807
@jimchamp I would like to work on this issue. Can you assign it to me?

[2021-11-26 21:38] dcapillae commented on #5594
- [ ] https://openlibrary.org/authors/merge?key=OL215610A&key=OL7349088A

[2021-11-27 06:41] tuba-mouqeem commented on #5436
@yuvy6376 are you working on it?

[2021-11-27 08:57] yuvy6376 commented on #5436
No

[2021-11-27 08:58] yuvy6376 commented on #5436
Due to medical reasons I can't do it!!!

[2021-11-28 04:18] homewardgamer opened #5911 "Navbar `More` drop-down menu overlaps with the search bar"
### Evidence / Screenshot (if possible)
<img width="1440" alt="Screenshot 2021-11-28 at 9 45 15 AM" src="https://user-images.githubusercontent.com/73935799/143729342-fde57b10-4a91-4a80-87ff-a5accec88a56.png">

### Relevant url?
https://openlibrary.org/

### Steps to Reproduce

1. Go to ... https://openlibrary.og/
2. Do ...     open up the More drop-down menu
3.  See if it overlaps with the Seach b

[2021-11-28 07:19] pulkit-30 commented on #5911
Hey @homewardgamer ,
Can I work on this issue?

[2021-11-28 18:33] dcapillae opened #5912 "Automatic synchronization of works in Internet Archive after each merge"
It is somewhat time-consuming and laborious to manually synchronize edition by edition after each merging of works.

### Describe the problem that you'd like solved
When merging works, the editions with a copy in the Internet Archive are out of sync, i.e. the "openlibrary_work" is not updated if any of the works merged into other works have editions available in Internet Archive (something relativ

[2021-11-28 19:19] Iizuki commented on #5625
I'm getting the same _AttributeError: 'author_key'_ error while trying to add a book (Night Flights) for Philip Reeve.

[2021-11-28 23:04] cclauss opened #5914 "Run Swagger UI so visitors can explore our APIs"
Many people would like to have better, more interactive documentation on Open Library APIs.
* https://openlibrary.org/developers/api
*  https://github.com/internetarchive/openlibrary/wiki/Endpoints

### Describe the problem that you'd like solved

Run https://github.com/swagger-api/swagger-ui on an Open Library server so that visitors can better understand and try out our APIs.  #5898 could genera

[2021-11-29 17:12] cdrini commented on #5625
It looks like a separate issue was opened for this here: #5879 . Opting to keep #5879 , since it's more general, whereas this issue is about a specific book.

[2021-11-29 17:12] #5625 closed

[2021-11-29 17:15] cdrini commented on #5894
The leading hypothesis is that this is related to adding books to a list via testing.openlibrary.org ; this is a known bug with testing.openlibrary.org and staging.openlibrary.org . In a nutshell, if you make an edit to a list on production openlibrary.org , then try to add another book via testing, because testing.openlibrary.org has its own cache, it will have an outdated copy of the list, and a

[2021-11-29 17:19] cdrini commented on #5861
Thanks @homewardgamer ! The code for this is here: https://github.com/internetarchive/openlibrary/blob/3240d52564adbf1035c13534010a52d6f9b6bd36/openlibrary/plugins/openlibrary/js/carousel/Carousel.js .

[2021-11-29 17:48] cdrini commented on #5809
As far as I can tell, none of this is bad data ; the books look to be valid books, just in Japanese. It seems like perhaps the importer should be doing html entity -> unicode ?

[2021-11-29 17:51] cdrini commented on #5809
@lephemere I wrote a quick script to fix some of these , but it relies on having a search query with a high match. I fixed about ~40 (See https://openlibrary.org/people/drinibot ). Let me know if you can find a search query with more, and I'll run it against those!

[2021-11-29 18:00] cdrini commented on #5776
Hmm, when I run the repro steps, I actually get a "Hmm..." error, which hides an "Unable to connect to infobase server". Can you confirm this is what you see, @seabelis ?

[2021-11-29 18:02] cdrini commented on #5758
Marking as low priority ; don't consider this a blocker for #5741 , we can test locally to a sufficient degree of confidence.

[2021-11-29 18:11] cdrini commented on #3444
This appears to no longer be an issue! The above snippet now runs 🎉

[2021-11-29 18:11] #3444 closed

[2021-11-29 18:13] cdrini commented on #5535
These examples have all been fixed as a result of the latest re-index, but I believe the underlying issue is still present.

[2021-11-29 18:16] cdrini commented on #5386
Thanks for the report @n-eq ! This error appears kind of randomly when our search engine, solr, is having trouble. A more friendly error here would be useful!

[2021-11-29 18:30] cdrini commented on #5205
This is a by-product of #5206 again :( I was able to fix the first book, but the second is giving me `Unable to connect to infobase server` errors.

[2021-11-29 18:36] MignonBelongie opened #5915 "Some carousels not displaying correctly"
Some carousels don't have scroll arrows and are displaying narrower images than they should be.

### Evidence / Screenshot (if possible)
![retro-bug](https://user-images.githubusercontent.com/1554660/143922886-86a38ab7-9749-410b-9b71-c2a39cd7ce21.png)

### Relevant url?
https://openlibrary.org/collections/hugo-awards

### Steps to Reproduce

1. Go to above URL and scroll to the bottom.
2. Look at

[2021-11-29 18:38] jimchamp commented on #5768
Did this work at some point in the past?  I would expect Daisy links to be edition-level.

All of the daisy links on the work page (https://openlibrary.org/works/OL4648179W/Recursive_Methods_in_Economic_Dynamics) link to the best-fit edition's daisy page (https://openlibrary.org/books/OL2058563M/-/daisy).  Were these links broken when this issue was opened?

[2021-11-29 18:56] jimchamp commented on #5832
We would like to have better metrics for the following book page components:
- [ ] Vendor/affiliate bar
- [ ] Lists (carousel + dropdown) --- dropdown is being initialized multiple times (some details can be found [here])(https://github.com/internetarchive/openlibrary/pull/5264#issuecomment-855004899)
- [ ] Editions table
- [ ] Read status CTA button
- [ ] Fetching work from Infogami
- [ ] Communi

[2021-11-29 20:08] mekarpeles commented on #5912
I think what is being suggested is that librarians have the ability to click a "sync" button on an **edition** to write back the `openlibrary_work` and `openlibrary_edition` IDs to Archive.org items. But after a work is merged, a librarian needs to manually still go through each edition and click this `sync` button.

The desired behavior is, when a merge occurs (of works) for the sync to be automa

[2021-11-29 20:13] mekarpeles commented on #5875
#5885 addresses this

[2021-11-29 20:16] mekarpeles commented on #5879
I feel like this should be a P2, though I notice @cdrini has made it a P1 so I'm assuming we're hitting this often and there may be a few different examples we can use to reproduce + identify the root cause? @jimchamp to take lead for now.

[2021-11-29 20:47] cdrini commented on #5654
Mek: https://docs.google.com/document/d/1grbxz0PtzV9u63Y0F32yuNa-MIzrPk7TCRfzFfTWGOA

[2021-11-29 20:47] #5654 closed

[2021-11-29 20:58] cdrini opened #5916 "Board Presentation Dec 3th"
Presenting the board report (#5654 ) to the... board!

[2021-11-29 21:12] cdrini opened #5917 "Speed up ground-truth LoanStatus button"
This button takes ~1-1.5s on every book page! We want to speed this up somehow.

### Proposal & Constraints
- Maybe request client-side when JS enabled? And use faster, bulk api for server-side.

### Related files

### Stakeholders

[2021-11-29 21:13] cdrini commented on #5832
Ideal world is have pages load <1s .

Anecdotally, we believe the big bottlenecks are:
- LoanStatus button takes 1-1.5s per page, uncached!
- Editions table seems like it has the most outsized impact for more popular / older books.

[2021-11-29 21:15] cdrini opened #5918 "Improve rendering time of editions table for big works"
Works with many editions can take north of ~5s to load and render, because of the hundreds of editions they have to process.

## Proposal
- Maybe toss it in an iframe? That'll reduce browser rendering time, but a good chunk of time is also spent server-side on this. More analysis needed.
- Use datatables pagination options ; they support some sort of async fetching of pages of data.

[2021-11-29 21:17] MignonBelongie commented on #5915
@cdrini I don't see that error in my js console.

I edited the collection a little (it now has three retro-hugo carousels, all broken, followed by a non-retro-hugo carousel, which displays correctly) just to rule out the possibility that a single item is somehow breaking the carousels.

[2021-11-29 21:18] mekarpeles opened #5919 "Prevent ListWidget from triple-firing"
See #5832

1. [ ] investigate whether this is a performance issue when cached
2. [ ] if it is, propose solution

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

[2021-11-29 21:18] cdrini commented on #5832
Closing this now that we have downstream issues.

[2021-11-29 21:18] #5832 closed

[2021-11-29 21:21] cdrini commented on #3986
This set was meant to be used as a dummy test ; OBGP was tested on an other set, so this is no longer necessary.

See related #5725

[2021-11-29 21:21] #3986 closed

[2021-11-29 21:30] cdrini commented on #5310
Fixed by the latest solr reindex thanks to #5600

[2021-11-29 21:30] #5310 closed

[2021-11-29 21:37] cdrini opened #5920 "Create Roadmap for 2022"

[2021-11-29 21:38] cdrini opened #5921 "Create OL priorities document for IA for 2022"

[2021-11-29 22:29] lephemere commented on #5809
Nice.

For high match we should go for characters with the highest appearance frequency in Japanese:

| Char | HTML | Hits |
|---|---|---|
| の | \&#12398; | ~220 |
| た | \&#12383; | ~90 |

Source: [Chikamatsu, N., Yokoyama, S., Nozaki, H. et al. A Japanese logographic character frequency list for cognitive science research. Behavior Research Methods, Instruments, & Computers 32, 482–500 (2000).](h

[2021-11-29 23:28] tfmorris commented on #5809
The reason I claimed bad data is because on the BWB site itself, the title renders as all ?s.
https://www.betterworldbooks.com/product/detail/9781912704354

![Screen Shot 2021-11-29 at 6 25 25 PM](https://user-images.githubusercontent.com/82178/143958638-0a22473e-1dbf-4ce6-9666-ff9bf4271c12.png)

[2021-11-30 01:25] cdrini commented on #5809
@lephemere Ran it over your queries, and they were all fixed! Also I love the research-based approach on that 😊

@tfmorris Ah, gotcha; I thought you meant they looked like notebooks or something.

[2021-11-30 02:06] LeadSongDog commented on #5594
Some large merges now work that previously did not. Danielle Steel just did. Then, some are direction-particular:
https://openlibrary.org/authors/merge?key=OL235327A&key=OL6890242A
failed but not
https://openlibrary.org/authors/merge?key=OL6890242A&key=OL235327A

[2021-11-30 02:14] cdrini commented on #5784
Ahhh, I think this broke in this commit: 694355826d9528629aa29f9eb403abb952afc888 when I enabled `dismax` for queries ; should be an easy fix!

[2021-11-30 03:15] homewardgamer commented on #5861
Thanks, I will start right away!

[2021-11-30 04:32] homewardgamer commented on #5861
Hey, @cdrini, I just completed setting up my local environment, but I seem to have some trouble reproducing the bug in my local environment, could you please guide me on how to proceed on that?

[2021-11-30 04:48] LeadSongDog commented on #4151
@cdrini Would you mind clarifying this? Delaying because it “Needs community discussion” of what, exactly? Is there anyone saying that these records might be good to have, or is it a question of clarifying the criteria for accepting or rejecting new records as useful?

[2021-11-30 08:49] seabelis commented on #5594
- [ ] https://openlibrary.org/authors/merge?key=OL934457A&key=OL2762549A

[2021-11-30 15:30] cdrini commented on #4151
@mekarpeles wants an explicit list of checks he can use with importbot to exclude books. E.g. a bulleted list of agreed upon exclusions. There's a lot of discussion here, but I think he wants it distilled into a list. Plan is to bring it up as a discussion point with @seabelis today during the community call.

[2021-12-01 13:24] patricianicolentan commented on #4630
Hi, I've submitted a pull request for adding alt text to the Open Library logo in the footer (following the header logo format) and the 'Around the Library' charts. The book cover images already had alt text. No other image accessibility violations on the home page.

[2021-12-01 18:40] mekarpeles commented on #5501
One thing @jimchamp and I noticed during our call today is that we actually **do** have "Want to Read" button implemented for a List view already on the My Reading Log page.

It's worth noting that this version of the "Want to Read" button only covers the Reading Log and not a patron's Lists.

I'm proposing we have 2 separate buttons:
1. The green **Want to Read Button** which combines lists & rea

[2021-12-01 18:41] mekarpeles commented on #5501
@Sabreen-Parveen let us know if you have interest + time in this one, now that we have a fairly easy approach, otherwise, there may be another member of the community who may wish to give it a try. Thank you all!

[2021-12-01 18:56] cclauss commented on #5914
@RayBB @jimman2003 Would one of you be willing to lead this effort?

[2021-12-01 21:58] mekarpeles opened #5926 "Freshly forked repo: python3.9 errors"
@khabdrick reports [here](https://gitter.im/theopenlibrary/Lobby?at=619f7a26c2cc0e5343cb780a) that he, "just forked the Open library and Infogami repos and some jobs are already failing":

### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/978325/144320658-b6bf1f81-ade5-491f-a02f-c9f1cb0ef6de.png)
![image](https://user-images.githubusercontent.com/978325/14

[2021-12-01 22:23] cclauss commented on #5926
@khabdrick [codespell](https://pypi.org/project/codespell) is a spell checker for code. It found those two typos in Infogami and they were fixed in https://github.com/internetarchive/infogami/pull/186/files

[2021-12-01 22:38] jimchamp commented on #5926
Can attest that the Storybook workflow will not cause any issues.  Fairly certain that this workflow is failing because it's looking for GitHub secrets that the contributor has not set.

Will look into how to disable the Storybook workflow when secrets are missing (or maybe for all forks).  Contributors can also disable actions in their repo's settings.  This should not cause any issues.

I suspec

[2021-12-01 23:23] RayBB commented on #5914
@cclauss what exactly needs to be checked here?

[2021-12-02 02:19] cdrini commented on #4151
Oh, to close the loop, with the work done here #64 being codified into the spreadsheet here: https://docs.google.com/spreadsheets/d/1mG8Tn-sx73fdcHNAvFCJ-2p_-ULT_5QH90y5LLMpbtY , we'll likely try to convert some of the queries in the spreadsheet to checks that import bot uses to avoid importing matching books so that they don't have to later get bulk deleted!

[2021-12-02 02:41] cdrini commented on #5926
Oh how frustrating! I can't believe GitHub actions are enabled by default on fork 😡 That's so wasteful and environmentally unfriendly 😞  -1 GitHub.

It seems like the GHA can be disabled on the fork: https://github.community/t/stop-github-actions-running-on-a-fork/17965

This shouldn't cause the user any issues in their development cycle, so dropping priority down.

[2021-12-02 02:42] cdrini commented on #5926
It's the same nonsense they did with dependabot running on forks :(

[2021-12-02 14:18] cclauss commented on #5720
Tried from __ol-home0:__ `rsync -r -v --progress /1/var/tmp/sitemaps ol-www1:/1/var/lib/openlibrary` both with `sudo` and without and got permissions errors both ways.

[2021-12-02 14:48] cclauss commented on #5926
We need to resync [vendor/infogami](https://github.com/internetarchive/openlibrary/tree/master/vendor) which has not been synced since April 16th -- Changes: https://github.com/internetarchive/infogami/commits/master

[2021-12-03 05:23] hornc commented on #4185
* The test above covers newly created authors having `entity_type: org` set on creation if the record has a `710` field.  ✔️
* The import in question _didn't_ create the author.  https://openlibrary.org/books/OL31458875M/Ishikawa-ken_no_jink%C5%8D happened 30 Nov 2020, and the author was created from a different MARC record, which presumably did not have a 710, on 12 Sep 2020.  It's difficult to d

[2021-12-03 05:23] #4185 closed

[2021-12-03 09:05] cclauss opened #5930 "Transfer monthly dumps using IA client"
I am always frustrated when ol-dumps succeed but the transfer to https://archive.org/details/ol_exports?sort=-publicdate fails.

### TODO: Switch to ia client tool. This will only work in production 'til then
From `scripts/oldump.sh` in #5909
[code]

### Describe the problem that you'd like solved

Replace the calls to [`/olsystem/bin/uploaditem.py`](https://github.com/internetarchive/olsystem/blo

[2021-12-03 11:48] jimman2003 commented on #5930
working on this ... pr incoming

[2021-12-03 12:08] sahilsaini110 commented on #5436
@RayBB is this issue still active??

[2021-12-03 12:13] Sabreen-Parveen commented on #5501
Yes @mekarpeles I want to work on this issue

[2021-12-03 14:20] b2pacific commented on #5807
@jimchamp

[2021-12-03 18:00] #5893 closed

[2021-12-03 18:46] sagnik2001 commented on #5046
Can I work on this ?

[2021-12-03 20:12] ItsApex commented on #3483
Hey @cclauss Is this issue still open I would like to contribute

[2021-12-04 15:31] LeadSongDog commented on #4151
We might start with excluding any editions with isbn:979* to catch most notebooks, diaries, ruled pads, etc.

[2021-12-04 18:05] lephemere commented on #5810
Same issue happens on the diff view:

![image](https://user-images.githubusercontent.com/73437497/144719887-6b82f23d-2df3-4fb4-bf3c-7e44bcd7e195.png)

See [here](https://openlibrary.org/books/OL34342826M/%E9%9B%91%E8%A8%98%E5%B8%B3_Notebook%E3%80%82_%E4%BB%95%E4%BA%8B%E3%81%A8%E5%AD%A6%E6%A0%A1%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E3%83%8E%E3%83%BC%E3%83%88%E3%80%82_%E3%82%AF%E3%83%A9%E3%82%B7%E3%8

[2021-12-04 19:00] lephemere commented on #5754
Same issue on the french part:

| EN | FR (current) | FR (proposed) |
|--|--|--|
| Not in Library | Pas dans la bibliothèque | Indisponible |
| Return eBook | Rendre le livre électronique | Rendre le livre |
| Join Waitlist | Rejoindre la liste d'attente | Réserver |
| Search Inside | Rechercher à l'intérieur | Recherche plein texte |

As I'm currently working on the french translation, I'll updat

[2021-12-04 19:21] lephemere opened #5932 "Homepage books carousel shows english text after loading"
When not on the English version of the homepage, when displaying the next books via the right arrow on a carousel, the text switch back to English at some point.

### Evidence / Screenshot (if possible)
First three book set looks fine:

![image](https://user-images.githubusercontent.com/73437497/144721765-a0954a9b-a5ed-4955-9b0e-5f8103f97959.png)

On the fourth however:

![image](https://user-imag

[2021-12-05 02:34] cclauss commented on #5143
Why is macOS Control Center listening on ports 5000 and 7000? https://developer.apple.com/forums/thread/682332

I expect Apple to switch to less controversial ports in the future but just in case other macOS users bump into this.

[2021-12-05 14:07] tmanarl opened #5937 "Add a suggestion box to collections"
I would like a suggestion box added to each collection page that would allow patrons to submit potential books to add to said collection.

### Describe the problem that you'd like solved
Currently there is no easy way for an Open Library patron to communicate with curators.  I am proposing a simple suggestion box feature that would allow users to submit a works ID of a book they think should be ad

[2021-12-05 21:33] hornc commented on #4151
I don't think filtering on 979* is a good idea -- 979* is a perfectly valid ISBN range. There are plenty of real books published with those ISBNs, and plenty of notebooks published in the 978* range.

Chronicle Books LLC publishes childrens books in the 979* range.
KONG & PARK, Incorporated publishes Korean textbooks (in English) in the 979* e.g. https://www.kongnpark.com/books/view/9791186293485

[2021-12-06 04:39] RayBB commented on #5650
Just got the latest dump and checked for works with duplicate authors. These were the only ones I found:

@jimman2003 if you wouldn't mind running your bot over these last few that would be great!

[2021-12-06 04:39] #5650 closed

[2021-12-06 07:34] LeadSongDog commented on #4151
@hornc
I stand corrected. I see now that the 979 series has included some book ISBNs since 2008.

[2021-12-06 08:13] seabelis commented on #5185
https://testing.openlibrary.org/works/merge?records=OL151074W,OL8984228W,OL8984251W,OL19907154W,OL20943143W,OL151075W,OL19003767W,OL3543886W,OL11360583W,OL3543900W,OL11360554W,OL11360575W

[2021-12-06 08:18] seabelis commented on #5185
https://testing.openlibrary.org/works/merge?records=OL151056W,OL8984230W

[2021-12-06 11:18] #4572 closed

[2021-12-06 11:33] hornc commented on #333
@cdrini relating to my PR #5940 and your comment above:

My PR skips any decoding of %2F to 'match what's been stored on the record' -- I'm not convinced the slash has to be matched to a record , it has to match how it was indexed, but that is in Solr.

This example shows a slash is magically returned without any slash in the URL:
https://openlibrary.org/subjects/business__economics__general
page

[2021-12-06 18:16] mekarpeles commented on #5921
https://docs.google.com/document/d/1edU3lCTHAjFr1mXUilh8l1_rNek33pRTzFHltBU--fM/edit

[2021-12-06 19:53] jimchamp commented on #5932
Data point: By default, we load 18 books when carousel is created.  In the above example, it seems like the first eighteen books' buttons have the correct text, but newly loaded books default to English.  This may be worth looking into.

The English "Loading..." text is generated in Javascript ([here](https://github.com/internetarchive/openlibrary/blob/4ba715b31eedc12444757f245c922a380f2c3159/open

[2021-12-06 20:08] mekarpeles commented on #5937
@jimchamp +1's this idea. This could allow us to do something like community lists.

sql table
`suggestions`
`key` (which could be a list page), `edition`, `note/reason`, `submitter`, `date`, `moderator`

could be a good table for this, and then on a certain page (i.e. `key`) one can see the suggested book additions

[2021-12-06 20:12] mekarpeles commented on #5916
Done!
https://docs.google.com/presentation/u/1/d/1m6elKHj7JO0hvTypFtoV5TUvw9q4UASAjCaosMbtCLQ/edit#slide=id.g103c1fdfac0_0_26

[2021-12-06 20:12] #5916 closed

[2021-12-06 20:17] #333 closed

[2021-12-06 20:19] mekarpeles opened #5941 "Re-enable Jenkins Instance on ol-dev1 (for handling PR deploy -> testing.openlibrary.org)"
As a replacement for OJF

[2021-12-06 20:23] #5784 closed

[2021-12-06 20:26] #2777 closed

[2021-12-06 20:33] #4630 closed

[2021-12-06 20:51] #5646 closed

[2021-12-06 20:58] #5517 closed

[2021-12-06 22:45] mekarpeles commented on #1032
@jimchamp + I tested on testhing.openlibrary.org

(1) it currently POSTs and redirects to the /account/books page but doesn't save the GET ?page= so if one is on page=2 then they get brought back to default/page=1 after star ratings. @jimchamp mentions this may not be so bad if we're doing the call to star ratings w/ ajax but still, it seems like GET params should be preserved in the call (for non

[2021-12-06 23:25] jimman2003 commented on #5650
I fixed almost all of them , except OL26292656W , weird error https://gist.github.com/jimman2003/3117fb8913c4858dc09e4dd01e9d6e23

[2021-12-07 02:32] homewardgamer opened #5942 "Books that are `Not in library` have bigger height than the rest of the books card."
### Evidence / Screenshot (if possible)

<img width="1438" alt="Screenshot 2021-12-07 at 7 59 30 AM" src="https://user-images.githubusercontent.com/73935799/144955174-fdc1455e-266b-4676-b023-9804086bb1dc.png">
### Relevant url?

### Steps to Reproduce
Open https://openlibrary.org/ and check for books that are `Not in the library`.You will find that they have a bigger height in terms of card size t

[2021-12-07 11:26] #5720 closed

[2021-12-07 17:26] jimchamp commented on #5942
I've noticed that "Not in Library" buttons are direct children of `div`s with class `book-cta`, while other buttons are nested within a `div` with class `cta-button-group`.  Nesting "Not in Library" books within a `cta-button-group` `div` solves the layout issue.

[2021-12-07 19:24] jimchamp opened #5944 "Sticky menu bar on Books page is no longer sticky"
The menu bar found above the editions table on books pages no longer sticks to the top of the screen when I scroll down the page.
This makes it difficult to navigate to specific parts of the page when the editions table is large.

### Evidence / Screenshot (if possible)
![sticky_screen_capture](https://user-images.githubusercontent.com/28732543/145091631-f84b06f6-33a0-4553-b1ee-9fbf275c70c7.gif)

[2021-12-08 01:38] #5944 closed

[2021-12-08 02:28] homewardgamer commented on #5942
Could you also mention the concerned files that have to be changed? @jimchamp

[2021-12-08 02:55] homewardgamer commented on #5942
I have made the PR kindly review it @jimchamp

[2021-12-08 14:06] khabdrick commented on #5926
Things are working properly now, thanks for your help.

[2021-12-08 14:09] #5926 closed

[2021-12-08 15:55] #1032 closed

[2021-12-08 18:11] jimman2003 opened #5949 "Work deletion api cannot delete works with >1000 editions"
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/works/OL24314717W/College_Ruled_Line_Paper
https://openlibrary.org/works/OL25960344W/Cat_Notebook

### Steps to Reproduce

1. On an account with api/bot perms, run eg `await fetch('https://openlibrary.org/works/OL24314717W/College_Ruled_Line_Paper/delete.json', {method: 'POST'})`

* Actual: Error thrown
* Expected:

[2021-12-08 18:48] jimchamp commented on #5911
Closing as this is a duplicate of #5194

[2021-12-08 18:48] #5911 closed

[2021-12-08 21:25] #5418 closed

[2021-12-08 21:56] cclauss commented on #5757
8 dec 2021 -- Action Items:
- [ ] Drini: Ping network magicians for our nginx config -- We had to remove some things from our `public` nginx conf ; confirm with Tracey, Mek, Andy.
    - Why is nginx complaining?!?
    - Is having the public_nginx.conf setup kosher?
    - How do we have two services on 80?
- [ ] Drini: Add www0 to deploy.sh
- [ ] Kick off deploy with new olbase image
- [ ] Chris: S

[2021-12-08 22:17] cdrini commented on #4424
Ooops, was updating the wrong issue ; moved all data over to https://github.com/internetarchive/openlibrary/issues/4252

[2021-12-08 22:17] #4424 closed

[2021-12-08 23:42] agmckee opened #5955 "Publication range feature on publishers page not filtering as described"
On a publisher page e.g. https://openlibrary.org/publishers/MIT_Press clicking or dragging a range across the graph does not result in the works being filtered as described.

I searched the issues but couldn't find anything that looked like a report of this issue.

### Evidence / Screenshot (if possible)
![openlibrary-filter-date-range](https://user-images.githubusercontent.com/722096/145307963-9a

[2021-12-09 05:23] #5942 closed

[2021-12-09 17:55] cclauss commented on #4723
Rsync works between ol-home0 and ol-www0.  We will reopen this if we run into rsync issues.

[2021-12-09 17:55] #4723 closed

[2021-12-09 18:05] jimchamp opened #5959 "List delete icon disappears on hover"
While hovering over the delete icon for lists, the icon disappears.  This icon is present in list items on the following views:
1. Individual lists --- used to delete books from a list.
2. List of all lists --- used to delete a list.

### Evidence / Screenshot (if possible)
![vanishing_bin](https://user-images.githubusercontent.com/28732543/145447964-14ff1cb6-74eb-4176-b509-67be71bf2666.gif)

###

[2021-12-09 18:43] agmckee commented on #5955
Here's how it used to work: h
ttps://web.archive.org/web/20120510154805/http://openlibrary.org/publishers/A_Book_Apart

[2021-12-09 19:19] sulogna2001 commented on #5959
can i work on this issue?

[2021-12-09 20:11] jimchamp commented on #5768
I'm seeing that the daisy links found in search results lead to 404 pages.  Work page daisy links seem fine.

[2021-12-09 23:27] jimchamp commented on #5768
URLs for Daisy links in search results always reference the work.  All `/work` Daisy links seem to be failing.

[2021-12-10 09:59] hornc opened #5963 "Some ISBN searches error"
### Evidence / Screenshot (if possible)

Example:
**Errors:**
https://openlibrary.org/search?debug=true&isbn=1234567890

[code]

**Expected example, gives no results:**
https://openlibrary.org/search?debug=true&isbn=12345

Looks like if an ISBN is sufficiently "ISBN like" (10 or 13 digits), but isn't a real ISBN, there is the possibility of an unhandled exceptions.

### Relevant url?

### Steps to

[2021-12-10 13:51] agmckee commented on #5963
The error is actually being raised by the dependency, [isbnlib](https://github.com/xlcnd/isbnlib). Looks like updating openlibrary/core/models.py to validate the ISBN, using e.g. isbnlib is_isbn10 before calling to_isbn_13 would pick up the issue with the invalid ISBN and prevent this.

[2021-12-10 13:54] seabelis opened #5965 "Sync Archive.org ID throws error"
As of 10 Dec, when using the "Sync Archive.org ID" an error message is thrown.
`eligibility_check() `error
[code]
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/type/edition/view.html

### Evidence / Screenshot (if possible)

### Relevant url?
Any edition url with an associated IA item, for example, https://openlibrary.org/books/OL31902456M/Le_meurtre_de_Roger_Ack

[2021-12-10 16:52] tuminzee commented on #5959
Hello @jimchamp sorry I did see that the issue was already assigned.
I made a PR which resolves this issue.
my sincere apologies @sulogna2001

[2021-12-10 20:03] mekarpeles opened #5969 "Load Open Syllabus Project (OSP) IDs & curriculum counts into Open Library Solr"
This would allow us to:

1. showcase Open Syllabus Carousels
2. boost ranks for books
3. Give OSP an API to query/resolve against
4. Include links back to OSP
5. Show curriculum data (courtesy of OSP) on TBBO (thebestbookon.com)

### Describe the problem that you'd like solved

At minimum, a new field in solr called `osp_assignments` with the total number of times (int) a work has been cited in ma

[2021-12-10 21:41] tuminzee commented on #5046
Hello @arimanyus are you still working on the issue?

[2021-12-13 02:44] homewardgamer opened #5974 "Remove console warnings and logs"
While loading the main page there are many console warnings and unnecessary information displayed on it. It would seem a good idea in Development mode but the website is in production mode so it makes no sense since these errors can be exploited later.

### Evidence / Screenshot (if possible)
<img width="1439" alt="Screenshot 2021-12-13 at 8 13 32 AM" src="https://user-images.githubusercontent.com

[2021-12-13 06:01] Dnouv commented on #5914
@cclauss I would like to contribute to this issue, please let me know if it's still available or not?

[2021-12-13 07:26] #5963 closed

[2021-12-13 08:57] tuminzee commented on #5861
@homewardgamer I faced the same issue. I was not able to import the collection.
I tried creating a collection myself but I failed.
Let me know if you need any help otherwise I would like to help

[2021-12-13 11:56] tuminzee commented on #5756
@cdrini Take a look at this
I thought of adding a subtle heartbeat animation
What do you think?
![CPT2112131725-182x72](https://user-images.githubusercontent.com/58180803/145808034-48487a29-0909-4ee8-8774-e9fbcb369332.gif)

[2021-12-13 15:36] Dnouv commented on #5914
Thank you! I will go through the FastAPI docs.

[2021-12-13 20:38] mekarpeles commented on #3982
Right now, importbot (the general json case) does not import covers, this should be a separate issue (to add cover url to schema)

[2021-12-13 20:44] mekarpeles commented on #5828
for next 1:1!

[2021-12-13 20:49] mekarpeles commented on #5833
https://github.com/internetarchive/openlibrary-client/pull/272

[2021-12-13 23:39] agmckee commented on #5955
I found that the code that handled the `plotselected` and `plotclick` events was removed seemingly when the code was moved into the graph module from its original location in the views. However the original functions won't work with the current carousel functions.

I was able to restore the functionality in my development branch by adding new `plotselected` and `plotclick` event handlers that hand

[2021-12-14 04:14] MignonBelongie commented on #5915
This bug turns out to be due to having two carousels with the same key, which can happen either due to specifying the same key in two carousels, or, as in my case, not specifying keys, and having two carousels with the same query (since keys are generated from a hash of the query when no key is specified). Note that the problem doesn't affect the "duplicate" carousels, but rather breaks any subseq

[2021-12-14 08:18] tuminzee opened #5976 "Book cover title out of bounds"
Book cover title is too big, that it goes out of its boundary.

### Evidence / Screenshot (if possible)

![06](https://user-images.githubusercontent.com/58180803/145956423-43f2ccb4-5fa2-48b9-84eb-fdce29b8d254.png)

### Relevant url?

https://openlibrary.org/books/OL34650330M/%C2%98Die%C2%9C_Hauptaufgaben_des_Volkswirtschaftsplanes_%C2%981974_%C2%9C_neunzehnhundertvierundsiebzig_und_der_Weg_zu_

##

[2021-12-14 16:03] mekarpeles commented on #4071
Also, @RayBB's tool is a great compliment to the Librarian Merge Queue
https://raybb.github.io/onepagers/sites/ol-author-similarity

[2021-12-14 22:03] jimman2003 commented on #4071
+1 on the proposal,but I believe the queue should be accesible by all librarians not in training

[2021-12-15 00:02] jimchamp commented on #5974
The error printed in the console was coming from the donation banner, which is generated by external Internet Archive code.  The bug that was causing this error has been corrected, AFAIK.

The `ServiceWorker` log statements are found in `/openlibrary/templates/site/footer.html`, and can be removed: https://github.com/internetarchive/openlibrary/blob/ff6e878151bd8b80c1d2d458fdf30a6d02b88370/openlib

[2021-12-15 03:38] tuminzee commented on #5974
@jimchamp I would like to work on this issue.

[2021-12-15 08:25] homewardgamer commented on #5974
Made a PR for the same kindly review.

[2021-12-15 16:13] cdrini opened #5978 "Find way to manage incoming volunteer emails"
We get a decent number of emails from volunteers via pages like https://openlibrary.org/volunteer ; and we haven't been doing a great job of responding to them in a timely fashion.

Ideas:
- Maybe use zendesk? Nope, requires an individual license for each person :/
- Try using GitHub somehow ; can we create a private repo with issues maybe?
- @seabelis : Maybe a google form + spreadsheet would do

[2021-12-15 21:12] MignonBelongie commented on #5915
@seabelis made the suggested documentation change. @mekarpeles I'm OK with closing this.

[2021-12-15 23:27] jimchamp opened #5979 "My Loans Page: Show useful content if no loans"
### Describe the problem that you'd like solved

When a patron has no loans and visits their `/account/loans` page, they are presented with a mostly blank page:

![Screenshot from 2021-12-15 16-44-40](https://user-images.githubusercontent.com/28732543/146270215-94f38c4f-a7fd-4fe4-9c3a-da80587fa3ba.png)

This blank page is an opportunity to help patrons find their next book to borrow.

### Proposal

[2021-12-15 23:30] jimchamp commented on #5979
@tuminzee I'm going to assign this to you.  Feel free to unassign yourself if this is something that you're not interested in.

[2021-12-16 00:47] #5959 closed

[2021-12-16 03:11] homewardgamer commented on #5979
If the Issue is open for assigning then I can work on this issue. @jimchamp

[2021-12-16 03:18] tuminzee commented on #5979
I will start working on it.
I will update asap

[2021-12-16 03:22] tuminzee commented on #5979
Hi @homewardgamer I am working on this issue. But when I'm stuck, i will ask for your help.
Have a good day 😄

[2021-12-16 03:24] homewardgamer commented on #5979
Great! I would love to help in any way possible!😁

[2021-12-16 03:35] homewardgamer opened #5981 "More padding to the Log In Button"
The login button looks a little weird when compared to the sign in button.There is no left or right padding in the `Log in` Button.

### Evidence / Screenshot (if possible)
<img width="1426" alt="Screenshot 2021-12-16 at 9 03 39 AM" src="https://user-images.githubusercontent.com/73935799/146303463-2c4473cc-2881-4482-9e47-827e846428aa.png">

### Relevant url?

### Steps to Reproduce

1. Open https:

[2021-12-16 09:41] tuminzee commented on #5981
@homewardgamer you have a good eye. I didn't even notice it!

[2021-12-16 09:52] tuminzee commented on #2143
This is a good idea. I like the demo

[2021-12-16 12:13] Hitansh-Shah commented on #5981
Hey! I would like to contribute to this. I have set up my docker environment and I am able to reproduce the issue. Can I work on this?

[2021-12-16 12:28] tuminzee commented on #5981
@Hitansh-Shah I am pretty sure @homewardgamer has resolved this issue in his local env

[2021-12-16 12:38] Hitansh-Shah commented on #5981
@tuminzee Fine no problem🙌

[2021-12-16 16:35] tmanarl commented on #5594
https://openlibrary.org/authors/merge?key=OL656172A&key=OL7552034A

[2021-12-16 16:49] #5930 closed

[2021-12-16 17:21] mekarpeles commented on #3386
It looks like back in the day ~2009 we had an [`--archive`](https://github.com/internetarchive/openlibrary/blob/425e1df1e20a7b5d3210f1f9aa8abd6c20fb72cd/openlibrary/coverstore/server.py#L18-L19) cli option for covers which lived in this file separate file:
https://github.com/internetarchive/openlibrary/blob/425e1df1e20a7b5d3210f1f9aa8abd6c20fb72cd/openlibrary/coverstore/archive.py

It would find/t

[2021-12-16 18:55] jimchamp opened #5982 "Logout link in header drop-down behaves differently than other drop-down links"
### Evidence / Screenshot (if possible)
The logout link in the account drop-down header component behaves differently than other links in the drop-down:
1. The cursor does not change when hovering over the logout link.
2. The clickable area of the logout link is less wide than other drop-down links.

![logout](https://user-images.githubusercontent.com/28732543/146430004-7eb965f3-b110-48af-af61-50b

[2021-12-16 18:58] jimchamp commented on #5981
@Hitansh-Shah if you are interested, #5982 should be a good first issue related to CSS.

[2021-12-16 19:21] #5974 closed

[2021-12-16 20:38] BrittanyBunk commented on #3386
@mekarpeles it would be nice if covers are in the data dump location on the open library's website, to prevent such confusion.

Also the website you listed  https://archive.org/details/warc_covers_0000 only has a few covers - 100. Is that supposed to be like that?

[2021-12-16 21:56] jimchamp commented on #4581
@homewardgamer is this an issue that you would be interested in?  I think that it's a pretty good first issue, and I'm happy to answer any questions that you may have.

[2021-12-17 02:08] homewardgamer commented on #4581
Yeah I will surely work on this Isssue! Thanks for assigning it to me @jimchamp .

[2021-12-17 03:55] homewardgamer commented on #5981
Should I work on this Issue @jimchamp ?

[2021-12-17 06:45] Hitansh-Shah commented on #5981
Thanks for suggesting this. But I think someone has already linked a pull request for that issue.
Also I am proficient in MERN stack so I think I would also be able to solve intermediate frontend issues. So you can suggest me if you have some in mind which are unattended.

[2021-12-17 09:56] Hitansh-Shah opened #5985 "Overlapping of profile icon and hamburger icon in mobile view"
I am seeing a overlapping of profile icon and hamburger icon in mobile view
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/76250591/146525489-1b20c0bb-d2a0-4558-a653-5dd806a373d6.png)

### Relevant url?
https://openlibrary.org/

### Steps to Reproduce

1. Go to https://openlibrary.org/
2. Open mobile view

* Actual:
* Expected:

### Details

- **Logged i

[2021-12-17 09:58] Hitansh-Shah commented on #5985
If this is to be considered and solved then I would like to give it a try.

[2021-12-17 18:57] LeadSongDog commented on #5594
The reverse merge seems to work on testing: https://testing.openlibrary.org/authors/OL656172A/James_Oliver_Curwood?_compare=Compare&b=11&a=10&m=diff

the complete record is at https://testing.openlibrary.org/authors/OL7552034A/James_Oliver_Curwood

while no works show at https://testing.openlibrary.org/authors/OL656172A/James_Oliver_Curwood

[2021-12-17 22:09] tuminzee opened #5986 "Match color of page-banner and footer-icons"
The color of top page banner and footer icons should match

### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/58180803/146613358-b84c2cf0-1c6b-4c52-aee0-f4d4a557b62b.png)
![image](https://user-images.githubusercontent.com/58180803/146613399-cd89b310-5335-4b03-bd7e-9be332a49c9b.png)

### Relevant url?

https://openlibrary.org/*

### Steps to Reproduce

1. G

[2021-12-17 22:19] tuminzee opened #5987 "Make welcome carousel responsive"
welcome carousel behavior is not consistent for certain responsive breakpoints

### Evidence / Screenshot (if possible)
![gfi1](https://user-images.githubusercontent.com/58180803/146613884-616e7bef-a7d3-4ee4-a68d-a53c09b65d0c.png)
![gfi2](https://user-images.githubusercontent.com/58180803/146613890-21f62a91-7205-4cd0-a37e-95239713221f.png)

### Relevant url?

### Steps to Reproduce

1. Go to https

[2021-12-18 01:21] jimchamp commented on #5981
Yes, if you'd like.  Let me know if you have any questions.

[2021-12-18 01:57] #5754 closed

[2021-12-18 02:08] homewardgamer commented on #4581
I have made the PR, Kindly review @jimchamp

[2021-12-18 02:15] #5042 closed

[2021-12-18 21:36] Azazel5 commented on #5982
@jimchamp Hey I added a pull request for this issue a couple days ago and just wanted to make sure that the steps I did were acceptable. This is my first time contributing to open source, so please let me know if I need to change something or follow other steps to get this merged :)

[2021-12-18 22:10] ejgonzalez17 commented on #5046
Hi , I would like to work in this Issue .

[2021-12-18 22:10] ejgonzalez17 commented on #5986
Hi, I would like to work in this Issue .

[2021-12-19 06:27] tuminzee commented on #5986
hi @ejgonzalez17 I have solved this issue. How about you try #5987

[2021-12-19 07:09] ejgonzalez17 commented on #5987
Oh okay,thanks for the prompt reply =)

[2021-12-19 07:09] ejgonzalez17 commented on #5986
I would like to collaborate and solve this issue.

[2021-12-19 07:18] Dnouv commented on #5914
@cclauss, I'm trying to access the API page on the development version, but it returns 404, so where and how can I access the API page on the dev version or, more specifically, the route of `/developer/API page in the repo? Could you please help me out with this?
Thank you!

[2021-12-19 07:20] tuminzee commented on #5986
@ejgonzalez17 but this issue do you mean #5987 ?

[2021-12-19 07:24] tuminzee commented on #5987
@ejgonzalez17 Happy Collaborating!

[2021-12-19 12:42] Hitansh-Shah commented on #5987
Hi, I would like to solve this issue. Can you assign it to me?

[2021-12-19 12:56] tuminzee commented on #5987
@Hitansh-Shah
@ejgonzalez17 is already working on this issue

How about you look at #5976

[2021-12-19 13:00] Hitansh-Shah commented on #5976
@tuminzee thanks for mentioning this issue. I will give this issue a go.

[2021-12-19 15:07] cclauss commented on #5914
https://openlibrary.org/developers -- log in and click the `Edit` button in the upper right of the page.
https://openlibrary.org/developers/api  -- log in and click the `Edit` button in the upper right of the page.

[2021-12-20 14:57] Hitansh-Shah commented on #5976
@tuminzee In the development version when I am searching for this book (`Die Hauptaufgaben des Volkswirtschaftsplanes 1974 [neunzehnhundertvierundsiebzig] und der Weg zu seiner Verwirklichung (1974)`
), I am not able find any results. However in the production version the book shows up.

[2021-12-20 16:24] tuminzee commented on #5976
You'll have to import test data locally.

Here's some info about copydocs this will help:  https://github.com/internetarchive/openlibrary/wiki/Getting-Started#importing-test-data

[2021-12-20 17:20] ejgonzalez17 commented on #5986
Yes, that's right, sorry, the tabs in Chrome got confused

[2021-12-20 17:20] ejgonzalez17 commented on #5987
I'll be working on this issue.

[2021-12-20 18:07] Dnouv commented on #5914
Thank you so much for clearing my questions. So, if I got it correct, there is no template defined for the `/developers/api` page, and we need to create one template that integrates the Swagger-UI; please correct me if I missed something.

[2021-12-20 18:59] b2pacific commented on #5753
Hey @jimchamp , I would like to work on this issue. Can you assign it to me?

[2021-12-20 21:04] cclauss commented on #5914
You will need to work with @jimchamp or @cdrini or others on that because I know Python but not all that JS/CSS stuff.

[2021-12-20 22:38] mekarpeles commented on #5837
https://twitter.com/mekarpeles/status/1473060001207914496

[2021-12-20 22:38] #5837 closed

[2021-12-20 23:51] cdrini opened #5991 "Expose `id_*` fields to search"
Subtask of #5792

Currently you cannot do searches like like `id_project_goodreads:2431` or `id_librivox:254`, or `id_librivox:*`. This data is in solr though! So we just need to expose the fields.

This will allow us to more reliably find books by a given trusted book provider, and also let us find books which are missing IDs (e.g. `publisher:librivox AND NOT id_librivox:*`).

### Summary of Requ

[2021-12-20 23:59] #4581 closed

[2021-12-20 23:59] cdrini opened #5992 "Add option to prefer a provider in a search carousel"
Subtask of #5792

Currently, carousels on collection pages (e.g. https://openlibrary.org/collections/hugo-awards  ) cannot specify a preferred book provider (e.g. prefer librivox audiobooks). This will let us do that! Note we can already use the `providerPref` url parameter in a search; e.g. https://openlibrary.org/search?q=publisher%3Alibrivox&mode=everything&providerPref=librivox ; we just need

[2021-12-21 00:11] cdrini opened #5993 "Add support for specifying cover urls to import API"
A lot of the auto-importers we want to set up for Trusted Book Providers also have covers. We don't want to have to create custom scripts to just add the covers after importing has run ; let's just make it possible to import!

### Describe the problem that you'd like solved
- Modify the import schema to support eg `cover_url: "https://....jpg"` field

### Proposal & Constraints

### Additional con

[2021-12-21 00:52] #3982 closed

[2021-12-21 01:44] hornc commented on #5993
@cdrini doesn't this feature already exist?

https://github.com/internetarchive/openlibrary/blob/bea487ca1576bdfda8a67d4ab89040f4f65bb390/openlibrary/catalog/add_book/__init__.py#L600-L603

The import format accepts `cover: <url>` and uploads it to coverstore and converts it to an id.

[2021-12-21 01:47] cdrini commented on #5993
Beat me to it! Yeah, just discovered it as well. Woohoo! Nothing to implement!

I tested this on my local instance:

[code]

[2021-12-21 01:47] #5993 closed

[2021-12-21 01:48] cdrini commented on #5993
CC @jimchamp

[2021-12-21 01:51] cdrini opened #5994 "Add covers to standard ebooks script"
Subtask of #5792

We discovered in #5993 (Thank you @hornc !) that our import endpoint already supports covers! We just need `cover: "http://foo..."` in the json.

Now we just need to update the standard ebooks importer to include the cover in the import request.

### Related files

https://github.com/internetarchive/openlibrary/blob/master/scripts/import_standard_ebooks.py

[2021-12-21 01:53] cdrini commented on #5994
Marking as P1 since it'll unblock us being able to run this thing, and get standard ebooks read links working!

[2021-12-21 09:48] Hitansh-Shah commented on #5976
Got it👍️. Thanks a lot

[2021-12-21 11:18] Hitansh-Shah commented on #5976
I went through the codebase and managed to find the html template and css file involved in the issue. I added a property in css file and I got the following results. Please check the result and let me know if I should open a PR. Thanks
![image](https://user-images.githubusercontent.com/76250591/146921342-77541ae6-973d-4bd3-b0d8-4beff68b8fbd.png)

[2021-12-21 13:05] tuminzee commented on #5976
If you are happy with it. Go for it.
I'll tag @jimchamp here. He is the lead, he will review the PR.
If you need my help with anything. I will be here.
Have a good day!

[2021-12-21 13:27] Hitansh-Shah commented on #5976
@tuminzee Thanks for guiding throughout this issue. I will open a PR.

[2021-12-21 13:28] tuminzee commented on #5976
I am learning myself. I'm happy that it helped ☺️

[2021-12-21 17:12] cdrini opened #5997 "Add ISO 639-1 language codes to OL language records"
Any work we want to do in the future to help display books to users in their language would require us to have a mapping between the language codes stored on our books, ISO 639-2/B (e.g. `fre`) to ISO 639-1 (e.g. `fr`), which is what's used by browsers/etc.

### Proposal

- [ ] Add a new field to our language records: `iso_639_1` (e.g. https://openlibrary.org/languages/fre.json )
- [ ] Create a sc

[2021-12-21 17:58] tuminzee commented on #5992
I would like to work on this issue

[2021-12-21 19:22] cdrini commented on #5992
Awesome! Let me know if have any questions :)

[2021-12-21 19:23] cdrini commented on #5992
I think all the changes that need to be made should be in the `QueryCarousel.html` file :+1:

[2021-12-21 19:27] tuminzee commented on #5992
I will try to finish this before holidays.
Thank you for your help, and prompt reply 🕺

[2021-12-21 20:55] #5994 closed

[2021-12-21 21:57] cdrini commented on #5992
Ooooh, heads up I _think_ this might actually be quite a bit more complicated 😅 it might need changes to a few different spots. Be warned ; if it looks like it's getting complicated, bring it up :+1:

[2021-12-21 21:58] tuminzee commented on #5992
Perfect, I'll try my best 🕺👨‍💻

[2021-12-22 00:28] cdrini opened #5999 "Resolve Redirects: Endpoint for updating a single work of /type/redirect"
Subtask of #2553

Create an endpoint... say `openlibrary.org/works/merge/finalize.json?records=OL123W,OL145W` (this follows the pattern of the works/merge urls). The endpoint will:

1) Ensure the user is an admin. Limit to only admins for now.
2) Ensure all but one of the provided OLIDs are `/type/redirect`. If not, error.
3) Update reading log table and ratings table (See #5421)
4) Update observa

[2021-12-22 00:36] #5976 closed

[2021-12-22 00:51] #5981 closed

[2021-12-22 07:52] Hitansh-Shah commented on #5985
@cdrini Should I be working on this issue? Also what icon to remove, profile or hamburger?

[2021-12-22 08:12] Hitansh-Shah commented on #5985
I have a couple of suggestions. In the overlapping state the sidebar also displays "browse" and "more" contents along with the "My open library" but separate dropdowns for both of them are already there. I am suggesting to remove them from sidebar and replacing the overlapping icon with "profile" icon.
![bm](https://user-images.githubusercontent.com/76250591/147058473-2c17f29c-29c1-4e8f-911e-ba93c

[2021-12-22 16:55] cdrini opened #6000 "Make ol-www0 production-ready"
Subtask of #4252

- [x] @cdrini + @cclauss Do a deploy 2021-12-09 so openlibrary/olbase is updated to latest configs
- [x] #7544
- [x] #7566
- [x] #7582
- [ ] Confirm only nginx port is publicly available

Not blocker:
- #7580
  - Not blocker because these haven't been generating since June (See #7581 ) . So when that problem is resolved, we can figure out the flow.
- Make it possible to run Sam's

[2021-12-22 16:55] cdrini opened #6001 "Retire ol-www1 for ol-www0"
Fixes: #4252

- [x] Update DNS for openlibrary to point to new server
- [x] Remove www1 docs in Deployment Guide (no longer needed!)
- [x] Update to ol-www0 in olsystem, nagios, etc.
    - [x] #7781
    - [x] internetarchive/olsystem#170
    - [x] Opened a pull request on our Nagios server -- https://git.archive.org/ia/nagios/-/merge_requests/16 (merged)
- [x] Confirm there are no files in /1/ we

[2021-12-22 17:44] tuminzee opened #6003 "More padding to the Submit Button"
Similar to #5981
Add more padding to the submit button on the collections page search box

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/58180803/147133278-0ea1c0d5-dda5-48b8-bad7-fc264f607ff6.png)

### Relevant url?

Any collections page with page-search box. (e.g. https://openlibrary.org/collections/hugo-awards)

### Steps to Reproduce

1. Go to any c

[2021-12-22 17:52] mekarpeles commented on #5685
stale; likely relevant, but lots changed in how we're running the pipeline in the past year

[2021-12-22 17:52] #5685 closed

[2021-12-22 17:53] mekarpeles commented on #4869
@cclauss noted this as a dupe of #4311 which has been closed

[2021-12-22 17:53] #4869 closed

[2021-12-22 17:55] mekarpeles commented on #5128
I think we're now on 3.9.4? Closing for now

[2021-12-22 17:55] #5128 closed

[2021-12-22 20:34] mekarpeles opened #6004 "Homepage Featured Collections"
How to make the homepage + collections more useful: How might we better integrate our special collections into our home page? What if we had a carousel for our top special collections? What collections would go in the carousel? What might it look like?

e.g.... (a) This Month [themes: automatically shows the right month], (b) Award winners [brings you to a page where you get to choose from e.g. ne

[2021-12-22 20:41] mekarpeles commented on #5979
A good first step may look something like:

[code]

But **note** that the css styles of these components overflow the page and need to be fixed **without** breaking the homepage :) !

[2021-12-22 20:48] jimchamp commented on #5919
Closing this, as I realized today that this is not an issue.  There are actually 3 ListWidgets on book pages: One beneath the CTA button in the sidebar, and two at the bottom of the page.

Instead of a single widget triple-firing, all three widgets are firing once.

[2021-12-22 20:48] #5919 closed

[2021-12-22 20:49] tuminzee commented on #5979
Thank you @mekarpeles for saying that 🕺🏼
Also thank you @homewardgamer, I managed to solve the issue. But I am looking forward to collaborating with you

[2021-12-22 20:49] mekarpeles commented on #2283
Hi @b2pacific and @b-thebest, I apologize for not replying sooner!

@b-thebest since you asked first, I'm adding you as the assignee. If you may no longer have the availability, let us know so I can offer @b2pacific a chance :)

thank you both!

[2021-12-22 22:23] #5965 closed

[2021-12-22 23:47] #5875 closed

[2021-12-23 01:19] mekarpeles commented on #5979
related #5450

[2021-12-23 06:28] homewardgamer commented on #6004
I would love to work on this Issue @mekarpeles!

[2021-12-23 06:33] homewardgamer opened #6007 "More padding to the some buttons"
There are many buttons that have no left and right padding, through this Issue I intent that we solve all of them, instead of taking them one by one.
For example we can solve #6003 also in this Issue.
### Evidence / Screenshot (if possible)
<img width="1439" alt="Screenshot 2021-12-23 at 12 01 41 PM" src="https://user-images.githubusercontent.com/73935799/147198450-019622d8-c6e0-45bb-85e8-b893b475

[2021-12-23 06:35] homewardgamer commented on #5991
I can work on this Issue @cdrini .

[2021-12-23 17:48] Dnouv commented on #5914
@cdrini or @jimchamp, could you please help me with a few questions.
Thank you!

[2021-12-23 18:40] BrittanyBunk commented on #5920
is there a location for all these to access - from the past to present? It's just a little difficult trying to figure all this out.

[2021-12-23 19:11] BrittanyBunk opened #6008 "Archive/Updates of Open Library progress"
**Right now:**

- The Open Library's great in their blog at sharing their milestones.

**Issue:**

- The records of the Open Library's progress is really hard to find - on github, there's a lot of issues opened, and a project list - it's hard to know the relation to these to the OL's overall progress (like the roadmap). This causes volunteers to go in one direction when the OL is going in another

[2021-12-23 20:15] #5979 closed

[2021-12-23 20:21] BrittanyBunk opened #6009 "add warning to merging IA-attached works"
**Background:**
In the Internet Archive, books are scanned and then attached a work in the Open Library. Some books are the same work, but different editions, yet are made into different works.

**Problem:**
If someone goes in to merge the two works, there's nothing explaining about how the Internet Archive book that it's attached to is assigned a work. The work ID doesn't change on the IA's side.

[2021-12-23 20:43] BrittanyBunk opened #6010 "Move editions to new works"
### Problem
Right now, the only option to modify works pages for editions is either by:

- creating a new book
- merging existing works together

None of these solutions apply to an edition in an already-existing work that needs to move to a work that doesn't exist.

### Solution
Allow to be able to create a new work from the edit page
![image](https://user-images.githubusercontent.com/55302685/14

[2021-12-23 20:53] jimman2003 commented on #6010
I think this is already available, not sure why not visible in that screenshot

[2021-12-23 21:07] BrittanyBunk commented on #6010
It's not in the screenshot, because it doesn't pop up. try it out to see if it does or doesn't.

[2021-12-23 21:50] BrittanyBunk commented on #6004
I'll address a few points before the redesign:

- the meta-collections (if I'm guessing it right) goes along with creating meta levels: universe -> series -> work -> edition. I sent you an email on this a few moments ago. So this idea's coming in a little early, but I'll try to work with it.
- trying to squeeze so much into the homepage will lead its redesign be for a different purpose: focusing o

[2021-12-23 21:51] BrittanyBunk commented on #6004
I'm looking at this and realize that there's two designs needing to come into effect for this:

1. homepage
2. meta collections

I'll work on sketchups, so you'll have them to-go. It's been a long time since I've designed the homepage, so give me time to think about this.

[2021-12-23 21:55] BrittanyBunk commented on #6004
I'd like to ask a question: since the carousels already exist https://openlibrary.org/explore , could we have icons instead of carousels to connect to the correct shelf, or should the carousels stay on the homepage with the design?

[2021-12-23 23:22] BrittanyBunk commented on #6004
carousel redesign
![image](https://user-images.githubusercontent.com/55302685/147299061-8d960cf2-6ff9-4be7-9a89-34c7eb813e9b.png)

[2021-12-24 03:45] homewardgamer opened #6011 "Input text fields have different widths in Sign Up page"
The `email-address` and `Choose a screen name` input elements are narrower in width than the other two input tags.

### Evidence / Screenshot (if possible)
<img width="1440" alt="Screenshot 2021-12-24 at 9 11 57 AM" src="https://user-images.githubusercontent.com/73935799/147313629-ce81b5cc-0194-41b2-896e-dc1e0a04a5e0.png">

### Relevant url?

https://openlibrary.org/account/create

### Steps to Re

[2021-12-24 08:13] Hitansh-Shah commented on #686
I created a PR #5996 and was successfully merged. I filled the google form provided at https://openlibrary.org/volunteer but I have not received any response and it has been 3 days. @mekarpeles please add me to your slack channel, I would love to contribute more and I am also looking forward to GSOC'22 in Open Library.

[2021-12-24 08:30] Hitansh-Shah opened #6012 "Remove "browse" and "more" menu from sidebar in mobile view"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/76250591/147334595-68612f62-ddc7-4e29-8bbb-9506d665ffc6.png)
![image](https://user-images.githubusercontent.com/76250591/147334609-a7c8f5ef-59be-4c2d-a5d8-92abbee34f44.png)

### Relevant url?

https://openlibrary.org/.

### Steps to Reproduce

1. Go to https://openlibrary.org/.
2. open mobile view

* Actual:

[2021-12-24 14:19] TheBestPessimist commented on #4869
@mekarpeles  what about the 2 suggestions besides the bug?

[2021-12-25 09:39] adarsh-kishore786 commented on #6004
Hi, so I'm interested in working on this, but I would appreciate a little more detail/breakdown of the task (this is my first time contributing to Open Source :)
![image](https://user-images.githubusercontent.com/76656932/147382257-f0f11b15-fbf6-4d43-9406-c6ed2affd3bc.png)

So do you want a new section like in this image? Like each card would lead to its own section?

[2021-12-25 15:56] BrittanyBunk commented on #6004
I forgot - yes, each section says how much is in their collection. By own section, it would be to their shelf on https://openlibrary.org/explore . Maybe you're right - the format could match the IA a little more, but I feel that can be a little confusing, as the OL is different. I think there should be more discussion on that - should it look like the IA or be its own?

[2021-12-25 16:07] adarsh-kishore786 commented on #6004
Umm, might be a stupid question, but bear with me 😅
What is IA and OL?

[2021-12-26 20:08] tmanarl commented on #5594
https://openlibrary.org/authors/merge?key=OL2632751A&key=OL2195639A

[2021-12-26 20:38] BrittanyBunk commented on #6004
no worries - I try to talk fast. IA = internet archive. OL = open library

[2021-12-26 20:45] BrittanyBunk commented on #6004
any other questions, or have we figured out what to do or do next?

[2021-12-26 20:49] BrittanyBunk commented on #6012
I also notice that the person icon should be moved out more to see the 3 bars better too.

[2021-12-26 21:03] BrittanyBunk commented on #5978
- I like the google spreadsheet idea, because then if people ask the same question, there can be a copy/paste answer for the reply right there
- if there's difficulties in creating such a reply list, then there would be a public repository where the generic (no details from the email) question is there, and other volunteers try to answer it.
- Maybe volunteers can be directed to the github to ask

[2021-12-26 21:08] BrittanyBunk commented on #5969
This sounds cool. I have many syllabi on my computer from numerous courses and know where these syllabi are located on the internet:
- university pages
- There's also OCW (open courseware) and MOOCs (massively open online courses) where showing the syllabi and where people can get course content for free would help them find the textbook they need too when the course comes around.

I really know n

[2021-12-26 21:11] BrittanyBunk commented on #5937
I was going to suggest that people can suggest lists.

This idea made me think of something else:
- what if people can make suggestions to lists - like if someone created a list and someone else thought of something that could be added to it, then they can make suggestions that the public could see. It could help those who made the list find books they didn't think about, but might've been looking

[2021-12-26 21:13] BrittanyBunk commented on #5937
I actually think a better solution is going to go the series pages route. Then, people can just write in the series that a book is in, which'll lead to the formation of collections. Anyone who thinks that a book goes there will add the series name and it'll automatically show up in the collection. That way, no one has to wait on suggestions for it to go through collections - it's automatically the

[2021-12-27 01:59] adarsh-kishore786 commented on #6004
![image](https://user-images.githubusercontent.com/76656932/147426630-5b645e0b-c3fc-4c66-a57e-1b740c0894e8.png)
So if I'm correct, this is what you want. There is a section "Browse by subject" and then icons leading to their own sections. I presume you want similar sections for "Browse by month, award winners" etc

And also, these sections they lead to would need to be designed also, right? Do you

[2021-12-27 10:48] Hitansh-Shah commented on #5937
@jimchamp I would like to work on this feature. This feature has quite a few subtasks so it will be a good mini project for getting familiar with both backend and frontend along with their connection. I may get stuck in some areas of backend or even frontend but I'll ask the doubts for the same. I think I will be able to finish this in a couple of weeks. Can you assign it to me please?

[2021-12-27 13:47] tmanarl commented on #5937
I do think it is still important for the collection curator to play a role in accepting/denying suggestions and then placing said suggestion in the appropriate carousel.  The Star Trek collection for example has 72 separate carousels, and a suggestion added automatically is unlikely to populate in the correct place.

[2021-12-27 16:57] BrittanyBunk commented on #6004
@adarsh-kishore786 this looks a lot different than my original concept and how you picture it is different too.

I know the OL team wants carousels. I personally don't like carousels, especially for the home page. They take longer to load, plus make everything hidden behind the arrow, so you don't know what's there - it causes unnecessary worry that something that is there appears not to be. Plus,

[2021-12-27 17:02] BrittanyBunk commented on #6004
I'd like to update that at the bottom of the page, there should be a link that says 'More Collections...' <- this should link to the collections page. The reason is because these are only featured collections, so I agree - only featured collections should be on teh homepage. The archived and other collections would be on the collections page, and that should be accessible from the homepage.

That

[2021-12-27 17:04] adarsh-kishore786 commented on #6004
Thank you @BrittanyBunk for your suggestion, i also feel that having no carousal would be easier from the implementation point of view.

Who should i contact from the OL team? Should I do it on their mailing list or just tag someone here?

[2021-12-27 17:07] BrittanyBunk commented on #6004
@adarsh-kishore786 Thanks. I too agree that it's nicer on mobile, because the arrows get in the way, especially when you're holding the phone in profile (you have to switch to landscape and that's too much). To me, a constant scroll is easier, faster to load, and less to code.

I would tag them here. However, I don't think it'll be feasible to coordinate here, as I feel a lot of info gets lost in

[2021-12-27 17:38] adarsh-kishore786 commented on #6004
When is community meet tomorrow? It would be nice if you can tell in IST, but otherwise also it's fine, i can convert to IST

[2021-12-27 19:18] xplosionmind opened #6015 "Synchronization with other platforms"
### Describe the problem that you'd like solved

Adding a book to Open Library (or editing its status) should automatically synchronize with other platforms. Ideally, this could be implemented vice-versa: any change occurred on other platforms, could be pinged and changed in Open Library, too.

<br>

### Proposal & Constraints

As of right now, there are many issues that request the option of impo

[2021-12-27 22:41] mekarpeles commented on #5920
@BrittanyBunk yes there is:
https://docs.google.com/document/d/1KJr3A81Gew7nfuyo9PnCLCjNBDs5c7iR4loOGm1Pafs/edit#

[2021-12-27 22:43] mekarpeles commented on #5921
In final draft, marking as closed, to be ratified next Tuesday, January 4

[2021-12-27 22:43] #5921 closed

[2021-12-27 22:44] mekarpeles commented on #5920
[2022 Community Roadmap Plan](https://docs.google.com/document/d/1szK5X2RPJl1hZ2cYiv9zw7QOn1I_QSJkCHckHi6Ue2c/edit#heading=h.pp7afpf26wws)

[2021-12-27 22:44] #5920 closed

[2021-12-28 00:12] tfmorris opened #6016 "Autocomplete failure for ʻAbduʼl-Bahá"
When attempting to fix a [bad work record](https://openlibrary.org/books/OL27504584M/Some_Answered_Questions) that referenced a [conflated author record](https://openlibrary.org/authors/OL7694471A), the primary author's name, as cut & paste from WorldCat ("ʻAbduʼl-Bahá"), returns zero autocomplete results.

After several attempts, the string that finally returned non-zero results was "Abdul Baha"

[2021-12-28 00:17] tfmorris opened #6017 "Edition revisions with zero changes being created"
The edit referenced in bug report #6016 caused an edition revision with no changes to be created unnecessarily. This confuses the provenance and edit history when someone is listed as having modified the record when they didn't.

### Evidence / Screenshot (if possible)
<img width="1036" alt="Screen Shot 2021-12-27 at 7 13 16 PM" src="https://user-images.githubusercontent.com/82178/147515075-162e85

[2021-12-28 03:14] homewardgamer commented on #6011
@jimchamp  Should I start working on this Issue?

[2021-12-28 03:15] homewardgamer commented on #6007
@jimchamp  should i start working on this Issue?

[2021-12-28 06:39] mekarpeles commented on #5154
Bumping to `Priority: 1` because it breaks often and has been open for more than 6 months

![github com_internetarchive_openlibrary_issues_5154](https://user-images.githubusercontent.com/978325/147536093-a85832f4-2e2c-4c80-93d9-bb62e16fc140.png)

[2021-12-28 10:27] Dnouv commented on #5914
@cclauss cdrini and jimchamp were busy, so I went ahead and used [Unpkg](https://unpkg.com/) in place of js files or npm module, I tried integrating the Swagger UI with the `openapi.json`, provided in the task list above; here is a pic of the page,

<img width="824" alt="image" src="https://user-images.githubusercontent.com/61188295/147540638-55559822-137c-49a5-bf59-24a3880ef9ac.png">

Feedbacks a

[2021-12-28 10:35] Dnouv commented on #5914
@cclauss, I'm trying to commit the changes, but there is an unknown error, could you please help me out with this
[code]

[2021-12-28 10:38] jimman2003 commented on #5914
Hey, so openlibrary uses pre-commit , a python program to run some checks over the code, please install it through the pip package installer with: pip install pre-commit

[2021-12-28 10:46] Dnouv commented on #5914
Thank you so much for the help @jimman2003, I tried installing pre-commit but there was a new error
[code]

[2021-12-28 10:51] jimman2003 commented on #5914
let me test also through gitpod :)

[2021-12-28 10:57] Dnouv commented on #5914
@jimman2003, thank you for your help! I resolved the issue.

[2021-12-28 11:07] jimman2003 commented on #5914
Out of curiosity, how @Dnouv ?

[2021-12-28 11:13] Dnouv commented on #5914
I got it fixed after a few installations,
[code]
And the changes got committed.
Once again, thank you!

[2021-12-28 13:30] Yashs911 commented on #5985
Hi, @Hitansh-Shah overlapping was done intentionally, and it was decided to A/B test both overlapping version and profile icon version.

Regarding the browse and more menu it was decided to keep them as it is.

[2021-12-28 16:35] Yashs911 commented on #6004
@adarsh-kishore786 The Open Library hosts a video Community Call every Tuesday @ 10:00am PT (**10:30PM IST**), request an invite to join us! https://openlibrary.org/volunteer

[2021-12-28 16:41] adarsh-kishore786 commented on #6004
Sure thanks.

I filled the GForm, will i get some email with the link?

[2021-12-28 16:46] Yashs911 commented on #6004
@adarsh-kishore786 Actually, I am not aware of the process. I think you will get a slack invite link and from there you can join the zoom meet. I think you should first set up the environment locally and start with minor good first issues, which will help you understand the codebase a little better.

[2021-12-28 16:51] Yashs911 commented on #6004
@adarsh-kishore786 PM me on Gitter I will share the meet link https://gitter.im/theopenlibrary/Lobby

[2021-12-28 22:08] #5801 closed

[2021-12-29 01:47] jimchamp commented on #5833
In order to consider this issue closed, the following must be true:

1. If our import process fails for any reason, the team should be notified within an hour.
2. If any item fails to be imported, the actual reason needs to be logged somewhere (maybe sentry?) and a more precise error message should be included in the `/admin/imports` table.

Even if Pydantic is giving us validation error messages

[2021-12-29 11:06] Hitansh-Shah commented on #5985
Oh I see. Thank you for the update :)

[2021-12-29 12:41] HamsterDeveloper opened #6020 "Stale data in search results and author's page after merging"
### Evidence / Screenshot (if possible)

![Screenshot_2021-12-29 Search Open Library for Kerstin gier Open Library](https://user-images.githubusercontent.com/33803304/147661991-a647c03d-535c-4010-b0bc-0add90c82ef7.png)
![Screenshot_2021-12-29 Kerstin Gier Open Library](https://user-images.githubusercontent.com/33803304/147661899-1cdfd03a-0c95-43ba-8094-978262ab938a.png)

### Relevant url?
[Example

[2021-12-29 13:06] HamsterDeveloper opened #6021 "Date format isn't correctly read off edition."
### Evidence / Screenshot (if possible)
![Screenshot_2021-12-29 Kerstin Gier Open Library](https://user-images.githubusercontent.com/33803304/147663665-59810ef6-d97a-4fb4-bedd-5847039916c2.png)

### Relevant url?

[Affected work](https://openlibrary.org/works/OL26745647W)

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

when adding the publication date to editio

[2021-12-29 13:12] jimman2003 commented on #6020
also noticed this, I strongly believe it is related to #639

[2021-12-29 13:15] jimman2003 commented on #6020
Reindexing of works,authors in solr also help, this action is essentially the same as the steps described

[2021-12-29 20:25] jimchamp commented on #5879
@RayBB I've deployed a solution to our testing environment.  You should be able to add this book there.

[2021-12-30 08:12] omduragkar commented on #5982
Hey @jimchamp can I start working on it.  Seriously I would love to work on this issue

[2021-12-30 08:19] omduragkar commented on #6003
Can i work on this issue please since it's my first open source work would love to work on
Thanks,
Om

[2021-12-30 08:30] tuminzee commented on #6003
Sure why not!
It's good to see you here.
You should coordinate with @homewardgamer
He referenced this issue on one of his issues.

Happy contributing!

[2021-12-30 08:34] omduragkar commented on #6003
@tuminzee  @homewardgamer  Please do check the PR #6023 i have done the changes with screenshot for verification.
for any issue just comment down I will work on it ASAP
Thanks,
Om

[2021-12-30 08:36] omduragkar commented on #6007
@homewardgamer can I work on this. I really want to work on this issue.
Thanks,
Om

[2021-12-30 08:37] omduragkar commented on #6003
Thanks @tuminzee for allowing me

[2021-12-30 08:40] homewardgamer commented on #6003
I think before you make a PR for any Issue, the Issue needs to be approved by the maintainers that's why these Issues have the tag `Needs: Lead` and are not yet solved. Nevertheless, the maintainers will look into the PR and check it!

[2021-12-30 08:50] tuminzee commented on #6003
On point!

[2021-12-30 11:38] bicolino34 opened #6024 "Labels when pointing on rating"
Open Library uses 5-star rating, and I think it might be a good idea to add labels to each star. For example, something like on Goodreads: when you point at 1-star it will show — did not like it, 5-star — it was amazing, or something like that.

[2021-12-30 12:17] omduragkar commented on #6003
I am so sorry I'm new to this didn't know the process properly thanks for telling me this will surely not do this next time.
Sorry once again

[2021-12-31 08:21] Yashs911 opened #6025 "IA Bar visible on mobile view breaks the App drawer experience"
I noticed that the IA bar is also visible on mobile view. So is this intentional?
Because it seems to break the app drawer experience, maybe I can fix that if it's intentional, or else I will remove the IA bar from mobile view.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/64412143/147811794-93024e56-8dea-443b-a774-67cbb2ed1e93.png)

### Relevant url?

[2021-12-31 22:56] tmanarl commented on #5594
https://openlibrary.org/authors/merge?key=OL446457A&key=OL2763758A

[2022-01-01 15:27] tmanarl commented on #5594
https://openlibrary.org/authors/merge?key=OL28257A&key=OL5949173A

[2022-01-02 07:41] LeadSongDog commented on #5594
That last merge will likely work now after this: https://openlibrary.org/works/OL46876W/The_Lost_World?_compare=Compare&b=55&a=49&m=diff

That work record had both author records linked, which seems a common factor in these. It somehow took several edit attempts to change that double linkage.

[2022-01-02 14:28] Al-0 commented on #5868
Hi, I will take a shot at solving this!

[2022-01-02 18:27] dcapillae commented on #5868
Related to this issue, maybe it could also consider solving the export of lists that include authors. Open library offers the possibility to add authors to lists, but the export option does not work correctly with this type of items. ([example](https://openlibrary.org/people/dcapillae/lists/OL202608L): this list only includes authors, but the export options offer a strange mix of results.)

[2022-01-03 11:41] Panfilomaria opened #6030 "Timeline with suggestions about books for each day"
to build a Timeline with suggestions about books for each day

### Describe the problem that you'd like solved

I want to put on the timeline short lists of books (not more than 5 books) for each day.

### Proposal & Constraints

I know that there's a free tool Histropedia js, can it be used?

The covers of books have to appear, perhaps a short phrase to explain the list

### Additional context

#

[2022-01-04 09:59] seabelis opened #6031 "Anomalous Imports for Enid Blyton "ebe""
Data for author Enid Blyton has been imported incorrectly.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/authors/OL9289025A/Enid_Blyton

### Steps to Reproduce

1. Go to ...https://openlibrary.org/authors/OL9289025A/Enid_Blyton
2. Do ...view data

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- *

[2022-01-04 19:52] BrittanyBunk opened #6032 "Internationalization of original book titles"
**Problems:**
- original books might be in a different language than the native language of someone coming onto the Open Library to view it. This leads to problems, where they can't find the book title, because it won't come up in the search. Even if it does, it won't be possible to read, because it's in a different language.
- google translate can't be used for multiple languages, so it won't be

[2022-01-04 19:55] BrittanyBunk commented on #6031
@seabelis are we putting librarian issues into the openlibrary repository now? I'm a little confused - I thought we have these in the librarian one

[2022-01-04 20:01] BrittanyBunk commented on #6030
this would go along with #6004 where there's a button that gives some recommendations for the day.

It can even be the same for everyone, so that everyone that visits the Open Library will be reading the same book and it's something to connect and bond over.

It can also be tailored to a person's profile for recommendations for themselves.

I think this is a cool idea, because it is like an online

[2022-01-04 20:05] BrittanyBunk commented on #6004
@adarsh-kishore786 you don't need an invite to join the weekly community calls - as long as you have zoom on your device, you can enter in the meeting number to join in.

I talked to Mek about it at today's community meeting, so he's aware of it. I'm really not sure what he'll do about it, because I got no response yet - I just gave him the link. It's up to him what comes next.

[2022-01-04 20:29] mekarpeles commented on #6030
@Panfilomaria is this similar to what is described in #6014?

[2022-01-04 20:34] mekarpeles commented on #6021
@HamsterDeveloper one consideration worth clarifying is that on the Author page, we're actually seeing a list of Works and not Editions.

This happens to be the result of technical limitations, not a our decision about the experience. This list is populated by our search engine with indexes works (not editions). This is something we have scheduled to work on in the 1st half of this year.

@cdrini

[2022-01-04 20:43] HamsterDeveloper commented on #6021
it's really only about the format of the source data though, because the relevant information is already being taken from the edition and displayed correctly if another date format is used.

[2022-01-04 20:48] mekarpeles commented on #6003
Thanks @omduragkar for your willingness to contribute and thank you @tuminzee for proposing this issue!

Typically, our triage process is:
* Every issue on Open Library is assigned a `Lead` and a `Priority` label by a member of staff
* A `Lead` is someone who has been appointed by staff because of their experience to help manage a specific aspect of Open Library
* The `Lead` is responsible for:

[2022-01-04 22:15] Panfilomaria commented on #6030
@mekarpeles The concept can be similar, but the timeline that I have though is a tool to show the lists, that are created by librarians. In this case the lists have to be shorter, even only a book for each day, 30 books for a months. So the time to display them is faster and the books are always choose by a librarian. Than we can add even the book club mentioned by Brittany Bunk.

[2022-01-04 22:17] Panfilomaria commented on #6030
@BrittanyBunk I think that this idea is wonderful and it is diffferent, additional at my idea of a timeline with suggested books and even of the first idea about collections in home page.
Yes, could be a botton with only a book and create for each month a book club about it  via Zoom or even readers could select with voting a book from the suggestions in the timeline  and than, the month after (at

[2022-01-04 22:53] BrittanyBunk commented on #6030
@Panfilomaria
- the book club idea was already mentioned and discussed before at community meetings. It's on issue #3228 (https://github.com/internetarchive/openlibrary/issues/3228). I thought it was not meaningful to do anything with in the beginning, but like all ideas I discount in the beginning, it takes me time to figure out where things go and should be placed. Your idea really ties it all i

[2022-01-05 00:00] Panfilomaria commented on #6030
@BrittanyBunk The image of a jigsaw puzzle fits very good.
A place where share and discuss own reading, a book club so organized without an actual person is better and even free. The daily suggested book can be the starting point to discuss about the author, other works, that he/she has written and to remember other books, authors. At the beginnin I'was frightened of the daily discussion about the

[2022-01-05 00:14] mekarpeles commented on #2617
Sponsorship program is currently on hiatus

[2022-01-05 00:14] #2617 closed

[2022-01-05 00:29] mekarpeles commented on #6008
This document is a great entry point and index into Open Library:
https://docs.google.com/document/d/1KJr3A81Gew7nfuyo9PnCLCjNBDs5c7iR4loOGm1Pafs/edit

1. Details: It links to a document describing how we do project management
2. Archive: It has a breakdown of every year (for the past 5 or so years)
3. Roadmap: It links to our current roadmap + priorities documents
4. Projects: It lists project do

[2022-01-05 00:29] #6008 closed

[2022-01-05 00:30] mekarpeles commented on #2755
@cdrini confirmed, still an issue in 2022. Adding @cclauss as a lead for the sake of organizing ops-related issues

[2022-01-05 00:43] mekarpeles commented on #6010
I believe @BharatKalluri and @cdrini may have been working on code related to this, adding @BharatKalluri as the `Lead` and cc'ing @seabelis as a stakeholder

[2022-01-05 00:49] mekarpeles commented on #6015
I'd love it if all these systems used the same decentralized catalog and provided various front-ends, but (a) Open Library can't make this decision for other platforms like Goodreads and (b) maintaining `n` integrations is a stretch, especially for bookwyrm, inventaire, and open library which have very limited resources.

Open Library **is** committed to offering APIs and making its (non-identifia

[2022-01-05 00:55] mekarpeles commented on #6009
This issue will be broadly solved by #732 (and is broadly similar to #5912 & #2552). This issue offers useful context for #732 but should be closed as an underlying issue is Archive.org's data becoming out of sync with Open Library IDs after Open Library records are merged.

[2022-01-05 00:55] #6009 closed

[2022-01-05 00:59] mekarpeles commented on #6031
@seabelis I do remember us talking about this one; I think this may require a bit more investigation.

I recall @hornc is currently on vacation, though at some point Charles I'd appreciate your thoughts on why so many editions may be getting created for this author

![openlibrary org_authors_OL9289025A_Enid_Blyton](https://user-images.githubusercontent.com/978325/148144102-18364ce3-0f24-41e6-b22c-

[2022-01-05 01:02] mekarpeles commented on #6017
@tfmorris do you have any suggestions on what the characteristics of a solution might look like which closes this issue?

Should it be that edits should be rejected which make no change?

[2022-01-05 01:07] mekarpeles commented on #501
I think this related to #2552 & #2553 which is slated for 2022 H1

[2022-01-05 01:07] #501 closed

[2022-01-05 01:11] mekarpeles commented on #2233
I think this thread is important but it's unclear to me how much of it is fuzzy/bad data. I'm not sure how to act on it or what the proposed fix is and so I'm closing for now

[2022-01-05 01:11] #2233 closed

[2022-01-05 01:28] hornc commented on #6031
@mekarpeles I don't know what all the publisher: Taylor & Francis Group and publication date 2039 records are. Is importbot logging the source data for these? The logged ISBNs don't appear to link to anything, and the ISBNs don't match any books anywhere else either. It looks like bad data in, possibly from a particular publisher. Without knowing what data importbot used to generate these, it's ha

[2022-01-05 01:55] BrittanyBunk commented on #6008
@mekarpeles I didn't think about the github closed issues as being milestones - you're totally right.

**I do have suggestions:**
- can you label the executive index as 2018-2022?
- I don't actually see the roadmaps in the executive index. It would be desirable to place them in - unless I missed it - in which you can tell me where it is. That'll be awesome, because then the link in the github wiki

[2022-01-05 02:34] BrittanyBunk commented on #6031
@hornc I've been having issues with some of the bots myself where some bots would place numerous ISBNs for only one book - I don't know why they're not being stopped, because books should only have 1 ISBN 10 and 1 ISBN 13 - so there's definitely issues with bots and ISBNs. Check out https://openlibrary.org/books/OL24381235M/Mathematics - this one is also by importbot. This bot gives me a lot of tr

[2022-01-05 02:40] BrittanyBunk commented on #6008
I feel like this should be opened back up, because there are so many improvements that can be made.

I found another idea: there's a lot of repositories that're by the Open Library, like the bots, clients, and librarian ones. These are super hard to find. Can't we have a section on the wiki in the right hand column listing all the repositories associated with the OL online, so that we can find the

[2022-01-05 03:46] tfmorris commented on #6017
I should have made it clearer that the original edit was a *work* edit and it created an empty *edition* revision.

The general fix is for "edits" which don't change anything to not create a new revision. The API might return a 304 Not Modified and the UI might display a warning to the user (since they presumably didn't intend this).

The specific fix is to not shoot yourself in the foot by creati

[2022-01-05 13:12] seabelis commented on #6031
@BrittanyBunk This is an import issue, not a librarian issue.

[2022-01-05 13:14] seabelis commented on #6010
This exists. It may be a librarian feature.

[2022-01-05 14:56] Ayush01729 commented on #6011
@jimchamp @mekarpeles, Is anyone working on this issue, or could you please assign this to me??

[2022-01-05 17:24] #5982 closed

[2022-01-05 18:34] omduragkar commented on #6003
Thanks @mekarpeles for sending me the guidelines. I have Thoroughly read the readme and now I can understand how wrong it was to direct do PR. I will remember it next time since it was my first time please do accept my apology.
Also @tuminzee can you Please check out any issue in the above PR made and just ping me I be love to resolve ASAP.
Thanks,
Regards,
Om

[2022-01-05 19:47] #5986 closed

[2022-01-05 23:36] #5955 closed

[2022-01-06 00:13] #29 closed

[2022-01-06 00:56] LeadSongDog commented on #6032
@BrittanyBunk
To be clear, are you suggesting that we find teams of humans to manually translate e.g. all the Serbian titles to Balinese? That seems a rather intractable approach in several regards. You’d also eventually need to index hundreds of translations for each work title, all for the sake of those few Balinese users who are interested in knowing about a Serbian work that has never been tra

[2022-01-06 06:44] ejgonzalez17 commented on #5997
Hi ! , I will try to solve this issue

[2022-01-06 07:06] ejgonzalez17 commented on #5997
I just uploaded the Pull Request , I await for your comments.

[2022-01-06 10:27] dcapillae commented on #5185
The following records are also blocked for editing by this error:
- [ ] _Here's to You, America!:_ https://openlibrary.org/books/OL9329974M
- [ ] _Be My Valentine, Charlie Brown_: https://openlibrary.org/works/OL25755W
- [ ] _Chariots for Hire_:  https://openlibrary.org/works/OL25895W

[2022-01-06 16:46] cclauss commented on #5402
Reopening because the Jan 1 dump did not happen.  Investigating...

[2022-01-06 20:10] agmckee commented on #6021
When the date is entered into an edition in ISO 8601 format the SOLR document attribute "first_publish_year" doesn't get created for the indexed edition. This is the data that ultimately gets used by the SearchResultsWork macro and also the worksearch module. The reason it doesn't get indexed are lines 597-600 in update_work.py:

[code]
re_year is a regular expression that matches 4-digit years bu

[2022-01-07 16:11] tuminzee commented on #6003
sure @omduragkar, but PR review is done by the stack holder

[2022-01-07 17:41] omduragkar commented on #6003
ohh ok anything I can do more so that my PR request gets approved?

[2022-01-07 17:51] omduragkar commented on #6012
Hey @mekarpeles  @Hitansh-Shah  @cdrini I think i can solve this thing out. Also would love too can you please assign me this ?
Thanks,
Om

[2022-01-07 19:24] tuminzee commented on #6003
you have to understand that a stockholders would get more than dozens of PR reviews, and issues on a daily basis.
you have to wait and communicate with them. a stockholder would have more than a dozen tasks a day, on top of that add timezone difference.
Just wait you'll get a feedback soon 😄

[2022-01-07 19:37] mekarpeles commented on #5080
**Implementation**
One possible way to do this is to:
1. take the search query...
2. get a list of all books on a patron's want to read list (careful, this could be 10k+ books!)
3. Fetch the work ids from infobase in bulk for the search query (perhaps, if < 1k titles -- this would serve most people, and if there are more than e.g. 1k titles, don't show the search form for now :( -- I know... the p

[2022-01-07 19:58] BrittanyBunk commented on #6010
@seabelis where? If it does, then no one has to work on the cody.

[2022-01-07 20:20] BrittanyBunk commented on #6032
@LeadSongDog I think there's a lot of assumptions, misunderstandings, and a lack of depth of ideas. So I'll address them.

No - I never mentioned finding 'teams of humans' anywhere. It's just an extra field form when editing a work page. It'll be no more people than those that already exist to work on editing pages of books right now. People (unless bots take up this job) will manually add in a tr

[2022-01-07 22:49] #4673 closed

[2022-01-08 05:07] jimchamp opened #6040 "Editions table on book pages contains link to the current page"
One primary function of the editions table is to present other editions of the book that a patron is currently viewing.  Today, the first item in the editions table references the page that the table is on (more clearly: clicking on the first link in the table reloads the current book page).  Aside from a slight color difference, there is nothing that indicates that the first item in the table is

[2022-01-08 05:20] jimchamp commented on #6040
@Hitansh-Shah I don't think that I am able to assign this to you until you comment on this issue.  If you're still interested in working on this, please comment and I will assign you.  Thanks!

[2022-01-08 06:15] Hitansh-Shah commented on #6040
Yup I will work on this issue :)

[2022-01-08 10:50] Hitansh-Shah commented on #6040
@jimchamp For local environment I imported test data locally according to this [guide](https://github.com/internetarchive/openlibrary/wiki/Getting-Started#importing-test-data). However it imports only one edition. I also followed [this](https://github.com/internetarchive/openlibrary/wiki/Getting-Started#:~:text=To%20import%20a%20work%27s%20editions) but it gave `404` error. So how do I import all

[2022-01-08 13:02] agmckee commented on #6040
_Three Cups of Tea_ (ISBN: 9780142414125) in the sample data has multiple editions and I was also able to import additional editions using that snippet of JS and the resulting copydocs snippet.

[2022-01-08 14:12] Hitansh-Shah commented on #6040
It worked😇! Thanks a lot. However do you have any idea why it is not working for _Where_the_Red_Fern_Grows_(OL7824010M) ?

[2022-01-08 14:46] agmckee commented on #6040
I don't know, sorry. Might be worth collecting some information on that and reporting it as a new issue, as I believe it should work for any work. Glad my suggestion worked out for you though and hopefully allows you to get started on this issue.

[2022-01-08 15:43] Hitansh-Shah commented on #6040
Ok got it 👍️. Thanks a lot for guiding 😄

[2022-01-09 13:25] kdepoel opened #6041 "Searching translated titles - mixed results"
Searching a translated title is not always possible or straightforward.

(I've read some heated debates about in what language the Work should be and whether or not English should be the default language. I don't want to bring that up here. I'm fine with the current situation. I just want to identify the work/edition, when searching for a translated title).

### Evidence / Screenshot (if possible)

[2022-01-09 14:02] tuminzee commented on #6024
I like the idea @bicolino34; I'd like to give my idea after some testing.

[2022-01-10 12:54] agmckee commented on #6041
Regarding _The Three-Body Problem_ searching specifically on title doesn't work because the title that is indexed is the Work title, which for this particular Work is _三体_. Searching using the "All" filter does bring up this Work when searching using the query "the three body problem". Your query, specifying the title field, doesn't work because the title field in the SOLR index doesn't match. The

[2022-01-10 15:59] kdepoel commented on #6041
Thanks for explaining, Alex. I can find "the three-body problem" when searching for all, and through the q-endpoint. I'd thought I thoroughly went over each step to be sure before posting, so either something changed, or I messed up. I'm putting my money on the latter.

It would be nice to have the title-endpoint to search for alternative titles as well, though. I mean, the translated title is sti

[2022-01-10 21:36] #5343 closed

[2022-01-11 20:09] onnotasler commented on #4548
The ISBN-10 is treated differently on the "add book" page and the "edit?mode=add-work" page.

In the "add book" page, I can enter an ISBN-10 with a Hyphen. In the "edit?mode=add-work" page, the very same ISBN-10 is denied (error message: ISBN-10 must consist of 10 numbers or the letter X).

3-85535-059-0 <- ISBN-10 with hyphen, which can be used on the "add book" page.

3855350590 <- On the "edit

[2022-01-13 12:01] seabelis commented on #5831
Related request from a patron:
"Hi! Please add "Want to read" button to search resulta view so that results don't have to opened separately."

[2022-01-14 13:05] bicolino34 opened #6050 "Add autocomplete to subject + people + places"
I would like to have list of prompts when typing info for books. Preferably, with number of usage of this certain subject.

Example from Russian fan fiction site ficbook.net (search for users).
![image](https://user-images.githubusercontent.com/58372007/149519467-511df2d7-25b2-4343-86e7-7ffac01eca9f.png)

[2022-01-14 15:30] LeadSongDog commented on #810
Now down to 32,600 so some progress is apparently being made.
Weirdly though, further restricting the query to
"carcfully scannod" site:archive.org "Full text of"
actually reports more hits, so perhaps the count reported by the Goog should be taken with a grain of salt.

[2022-01-14 18:16] riteshsoni123 commented on #6011
@mekarpeles I would like to work on this issue. Can you please assign this to me?

[2022-01-15 12:15] kristofvarszegi commented on #6011
Hi! I'm new to the project. Looks like the "padding" property in the "required" CSS class collides with "padding" in [this selector](https://github.com/internetarchive/openlibrary/blob/master/static/css/components/form.olform.less#L36) (same LESS file). I suspect that the "required" class gets applied later to the password fields than to the username and email fields, but I couldn't find where yet

[2022-01-16 08:57] cclauss opened #6052 "Replace psycopg2 with asyncpg to accelerate database performance 3x"
I'm always frustrated when Open Library takes too long to respond

### Describe the problem that you'd like solved

Replace [psycopg2](https://pypi.org/project/psycopg2) with [asyncpg](https://pypi.org/project/asyncpg) to leverage Python asyncio to accelerate database performance 3x.
* http://magic.io/blog/asyncpg-1m-rows-from-postgres-to-python
* https://github.com/magicstack/asyncpg
* https://le

[2022-01-16 11:06] mekarpeles commented on #6040
@mheiman is a stakeholder in this one who suggested the feature. Assuming we go in this direction, the code is broadly right.

There are some edge cases / open questions @jimchamp

1, What about book pages with only 1 edition? i.e. What do we do if there are no other editions?
2. We may want to change the nav bar to say e.g. "(n-1) Other Editions" rather than View 4 Editions

[2022-01-16 14:30] LeadSongDog commented on #4548
@veloffs
Thank you for tackling this. A few things to consider, not all per this issue:
1. All places accepting an isbn should act the same per DRY. That includes the two user pages above, but also any bots importing MARC records
2. The needed parser behaviour is to tolerate variations of user choice so long as the result is an unambiguous identifier stored and indexed in a consistent way.
3. Chec

[2022-01-16 20:47] BrittanyBunk commented on #1594
I wish there was a specific box on an author's page for their pseudonym. On the author field of a book, there should be a place for aliases.

[2022-01-16 20:48] BrittanyBunk commented on #1594
@LeadSongDog by statement wouldn't work - that's something else

[2022-01-17 00:07] mekarpeles opened #6054 "Better Share Preview for Lists & Reading Log (e.g. Twitter Social Card)"
This is a create "social card" view of a book list (from fivebooks). Would be great if Open Library lists generated this type of preview :slightly_smiling_face:

see: https://twitter.com/jabuppartyon/status/1482812981591347206

![twitter com_tommycollison_status_1482812483337277442](https://user-images.githubusercontent.com/978325/149683625-487f1e78-ab3b-4574-8bfa-cfaeec3eed08.png)

Here's the met

[2022-01-17 01:25] LeadSongDog commented on #1594
“By Samuel Clemens, writing as Mark Twain" would seem quite an appropriate use, what am I missing?.

[2022-01-17 04:14] miguelmaiquez commented on #5790
Hi, @cdrini

I found out that Biblioteca Nacional de España (BNE) has a [new data catalog site](https://datos.bne.es/inicio.html) where is actually possible to direct the Depósito Legal (DL) link.

It works through the search option, by writing the DL just the way it is written on the info of the book (letter – space – number – dash - year)

In the following examples, please note that the only cha

[2022-01-17 06:34] Hitansh-Shah commented on #6040
Question 2 sounds reasonable to me. For question 1 we can display something like "there are no other editions for this book" type statement to help readers know. In addition to that we can also add a section for the case where there is another edition but we are not able to show for some reason. Therefore in that section we can provide users a way to tell us about this.

[2022-01-17 10:14] Udai1931 commented on #6054
Hi @mekarpeles, I like to work on this.

[2022-01-17 11:07] bicolino34 opened #6055 "Possibility to add more photos to author page"
I would like to have possibility to add more than one photo to author page.

[2022-01-17 14:20] onnotasler commented on #3523
There is, for example with textbooks that run over several decades with constantly revised editions. They may be started by one author, who is later supported by a second author, or the author dies and is replaced by a former student / assistant. In those cases, you may have a 12th edition of a book that was started by Author A, and is now written by Author G, with several changes in between.

[2022-01-17 17:44] seabelis commented on #3434
From a patron: “Is there any way to determine when new entries have been added to books by authors? For instance I am a Mary MacLane scholar and I would like to find out when new entries for Mary MacLAne have been added. Thank You”

[2022-01-17 23:44] #5282 closed

[2022-01-18 01:14] miguelmaiquez opened #6057 "New options for linking to Depósito Legal. Biblioteca Nacional de España"
@cdrini Please see new coment on closed issue #5790 whenever you have a chance.
Thank you.

[2022-01-18 03:31] BrittanyBunk commented on #1594
@LeadSongDog a by statement and a psudonym are two different things. Unfortunately when I went to google what a by-statement is, ironically it gave me the webpage to issue #777 in the Open Library Github.

I don't have a definition from the internet, but my understanding is a by statement is usually a note or dedication, like 'for my sister' or something. A by-statement has too many variations, so

[2022-01-18 19:13] mekarpeles opened #6058 "Decorate Availability API Requests to pass x-client-id"
### Describe the problem that you'd like solved

When we hit archive.org ES directly from Open Library, we lookup the client-id and pass along w/ our request. We **don't** do this when we make requests for Bulk Availability to `http://archive.org/services/availability?identifier=`. This issue aims to address that by setting a `x-client-id` so ES can throttle Bulk Availability API where/when needed

[2022-01-18 20:41] Dnouv commented on #5914
@cclauss, could you please let me know the further tasks? I've opened a PR integrating Swagger UI and am still awaiting a review.
Feel free to comment. Thank you!

[2022-01-19 15:58] tuminzee commented on #6052
I would like to work on this issue

[2022-01-19 20:02] MignonBelongie opened #6059 "Search for exact title with different encoding fails"
If the title of a work has characters with diacritics, searching for it with a string that corresponds to exactly the same title but with a different unicode representation fails.

### Evidence / Screenshot (if possible)
This is very hard to demo, because it involves strings which appear identical, and whose encoding can be (and often is) changed by browsers, editors, etc. Therefore, I have create

[2022-01-19 20:25] LeadSongDog commented on #3523
Agree we need to handle sequential responsibility better, but the work still has its origin with the first author. Additional authors or editors over subsequent editions might better be listed as contributors on their specific editions rather than changing the work record.

[2022-01-21 09:28] Labheshm11 commented on #6011
@mekarpeles @jimchamp
I would like to work on this issue. Can you please assign this to me?

[2022-01-21 17:52] HamsterDeveloper opened #6062 "Faroese available twice in language selection"
When choosing the language of an edition, Faroese apppears twice.

### Evidence / Screenshot (if possible)

![Slack Image (2022-01-21_06-43-35-640)](https://user-images.githubusercontent.com/33803304/150575806-29964053-2b5b-4786-997d-8c6b4a4bf67f.jpg)

[2022-01-21 21:47] MignonBelongie opened #6063 "add API endpoint and/or olclient method for adding a new author"
I would like to be able to edit a work, using olclient or the API, in order to assign an author to it, even if the author doesn't already exist. Since I can already do this for authors that do exist, being able to create a new author would solve my problem.

Of course, it's already possible to add a new author when editing a work through the website. That apparently works by setting the author key

[2022-01-21 23:50] jimchamp opened #6064 "Improve merge workflow for duplicate works"
### Describe the problem that you'd like solved

Today, and most likely always, Open Library will have duplicate records for works. Often, duplicates contain very little information about the book in question.  This can lead to a poor experience for patrons who have navigated to a duplicate work page in hopes of finding information about the book.

There is a manual process to merge duplicate reco

[2022-01-21 23:53] jimchamp opened #6065 "Fetch ground-truth availability asynchronously for book page borrow buttons"
### Describe the problem that you'd like solved

Today, Open Library has two ways to fetch loan availability for an edition: a bulk availability call, and a ground-truth availability call.  Multiple editions' availability can be fetched quickly with a single bulk availability call, but the results may be stale and inaccurate.  On our book pages, we use the bulk availability API to set borrow butto

[2022-01-21 23:55] jimchamp opened #6066 "Improve Book Page Mobile Header Section"
### Describe the problem that you'd like solved

Improve the header to show author, title, subtitle, ratings above fold for mobile view (mediaqueries).

Today, visiting a book page on a mobile device is not a good experience.  If one comes to a book page searching for a book's title or description, they have to scroll well below the fold to find what they are looking for.  These problems are exace

[2022-01-22 17:09] tuminzee commented on #6066
I would like to work on this

[2022-01-22 17:25] tuminzee commented on #6024
Stars | Interpretation
-- | --
⭐️ | I didn’t like it.
⭐️⭐️ | It was a one-time read.
⭐️⭐️⭐️ | I enjoyed reading it.
⭐️⭐️⭐️⭐️ | I enjoyed reading it and I recommend it to others.
⭐️⭐️⭐️⭐️⭐️ | I enjoyed reading it, I recommend it to others, and I would also like to re-read it.

[2022-01-22 19:25] tfmorris commented on #6059
To save others having to go and read Python code, the two URLs are:

    https://openlibrary.org/search.json?title=Des+filles+bien+élevées (single accented character)
    https://openlibrary.org/search.json?title=Des+filles+bien+élevées (non-spacing combining accent)

but even worse

    https://openlibrary.org/search.json?title=Des+filles+bien+elevees

returns 0 results.

This is a long standin

[2022-01-22 19:31] tfmorris commented on #6063
OpenLibrary already has hundreds of thousands of duplicate author records. Anything that makes it easier to create additional duplicates should be strongly discouraged.

[2022-01-22 20:11] MignonBelongie commented on #6063
This might be crazy, but what if the API required a parameter that demonstrated that you checked for an existing record for the author? E.g. `/addauthor?name=Jane+Doe&numMatchesFound=<n>`, where `n` is the number of results when doing an author search with that name.

[2022-01-23 01:13] tmanarl commented on #5594
https://openlibrary.org/authors/merge?key=OL6835818A&key=OL6766129A

[2022-01-23 11:15] Hitansh-Shah commented on #6064
Hey @jimchamp . I could give this a try. Can I work on this?

[2022-01-23 18:21] jimman2003 commented on #6063
I think , this won't work because:
1. A script can also fetch that number , making the throttling meaningless
2. You can create similiar named author, no problem, perpetuating the duplicate author problem

[2022-01-23 18:54] MignonBelongie commented on #6063
My intention was to prevent accidental duplicates, not deliberate ones.

[2022-01-24 10:42] bicolino34 commented on #5460
@mekarpeles This issue seems to be completed. Close it, please.

[2022-01-24 15:47] LeadSongDog commented on #5594
@tmanarl That last is another that worked in the other direction.

[2022-01-24 15:49] gilab-co commented on #3096
I also have a Gilab site that published several articles about it almost two months ago
Unfortunately, Google does not index them
I even indexed Xenol search, but the problem was not solved
Like articles in the following categories

https://gilab.co/category/mag/

[2022-01-24 15:50] bicolino34 commented on #5525
@mekarpeles @seabelis give an answer to the person, and finally close the issue.

[2022-01-24 18:19] #5525 closed

[2022-01-24 20:45] jimchamp commented on #6055
Both books and authors can be linked to multiple images, but today the interface only shows one. Are you asking for the UI to show more than one image?

[2022-01-24 20:45] cdrini commented on #6062
Faroese appears twice here: https://openlibrary.org/languages , under https://openlibrary.org/languages/far and https://openlibrary.org/languages/fao . We likely want to merge these two, and then update all records? This isn't something we've hit with languages before.

[2022-01-24 21:01] jimchamp commented on #2438
@mekarpeles says that we should reject imports missing critical fields, but missing book covers is insufficient.

[2022-01-24 21:01] #2438 closed

[2022-01-24 21:53] cdrini opened #6067 "Update sponsorship page copy"
Need to update the markup on this page based on feedback

[2022-01-24 22:35] mekarpeles commented on #5917
This plan is to load the Bulk Availability data initially (since get_sorted_editions already gives this to us). Furthermore, we have to change the `edition = page` assignment in the type/editions/view.html page so that the Bulk availability gets added to `page` which otherwise won't have it.

@mekarpeles has a diff on ol-dev1/ol-mek which has a working example

The final step is to async load the

[2022-01-24 22:35] #5917 closed

[2022-01-24 22:35] mekarpeles commented on #6065
This plan is to load the Bulk Availability data initially (since get_sorted_editions already gives this to us). Furthermore, we have to change the `edition = page` assignment in the type/editions/view.html page so that the Bulk availability gets added to `page` which otherwise won't have it.

@mekarpeles has a diff on ol-dev1/ol-mek which has a working example

The final step is to async load the

[2022-01-24 22:41] mekarpeles opened #6068 "During Solr-reindex, sort `ia` fields by most likely readable"
There's a video @cdrini recorded on adding new fields to solr which touched on where fields are set and how. In this case the `ia` field is already in the manifest/fields, the algorithm for determining the order of `ia` values in the list need to be better informed by the fields and values available through our request to ia metadata / ia search: see solr/update_work.py.

The algorithm itself need

[2022-01-24 22:45] mekarpeles opened #6069 "Manually run 2022-01 for Partner Imports, Monthly Dumps, IA Imports"
1. [ ] During 1:1 on Wednesday, @jimchamp + @mekarpeles will run these three + investigate if cron is not running at all (and create followup issue re: what we learn).
2. [ ] Mek will record the call so others know how to manually run these crons in the future

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Det

[2022-01-24 22:56] cdrini opened #6070 "Kick off standard ebooks import job"
@jimchamp has completed the code for standard ebooks imports, now we just need to run it!

[2022-01-24 22:56] mekarpeles opened #6071 "Add openstax to Trusted Book Providers"
Subtask of #5792

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2022-01-25 00:09] mekarpeles commented on #6069
Related to #5402, #5674, #5892

See: https://github.com/internetarchive/openlibrary/wiki/Cron-Jobs

[2022-01-25 02:07] tmanarl commented on #5594
What do you mean by reverse merge?

Travis Pollan

Sent from my iPhone

[2022-01-25 04:11] LeadSongDog commented on #5594
Merges default to merging into the most-populated author as primary. Sometimes switching to the least-populated as primary will work when the default fails, as for:

![D19F19EB-962C-44B1-AB70-9EA990408240](https://user-images.githubusercontent.com/11435431/150909269-dbcf8e8d-793f-41f1-a7b2-518aae108478.jpeg)

[2022-01-25 04:20] #5460 closed

[2022-01-25 04:37] cdrini commented on #6063
Hunting around, it looks like this _is_ possible! Not sure what perms it needs. Search for `class new` to find the code.

[code]

[2022-01-25 04:37] #6063 closed

[2022-01-25 07:33] bicolino34 commented on #6055
@jimchamp Yes, I would like to have UI. I didn't know that multiple images can be linked

[2022-01-25 07:36] bicolino34 commented on #6024
@jimchamp delete label "Needs: Community Discussion"

[2022-01-25 08:19] dcapillae commented on #5594
@LeadSongDog  It is not possible choose the main record arbitrarily according to the librarians' guidelines. The main record is always the oldest one.

[2022-01-25 10:55] mekarpeles commented on #6069
1. ol-home0 had very old code
2. there were 2 bugs in https://github.com/internetarchive/openlibrary/pull/5885/commits/e90d81bdcd2ee490316f236c3dbc29eee3388bb7 w/ FnToCli
3. The Import Bot Daemon was not running
4. Because we're now in 2022, a new archival item needed to be created for partner data. But the specified user ia.ini did not have permissions to create a new collection (so I added permi

[2022-01-25 10:57] mekarpeles opened #6072 "Admin Sponsorship Dashboard broken: civi related?"
Divide by zero issue (likely failing to fetch sponsorship data) at https://openlibrary.org/admin/sponsorship

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

#

[2022-01-25 12:32] tmanarl commented on #5594
My thoughts exactly. Merging an older record into a newer one defeats the purpose of trying to keep the oldest as main. Those errors have been the ones I’ve been posting here.

Travis Pollan

Sent from my iPhone

[2022-01-25 13:52] LeadSongDog commented on #5594
Possible but not desirable. I’m not suggesting it is good practice, rather noting that the choice of primary may have a bearing on diagnosing the failure. I strongly suspect the root problem is that one or mor editions have direct linkage to the  wrong author record, a situation which can’t be corrected by regular users.

[2022-01-25 17:53] tuminzee commented on #6050
I would like to work on this issue

[2022-01-25 17:58] tuminzee commented on #6055
![image](https://user-images.githubusercontent.com/58180803/151032660-4f93fd04-332e-4f87-90f4-29d27fd02b81.png)
may be something like a carousel on the author images?

[2022-01-25 19:22] bicolino34 commented on #6055
@tuminzee cool idea!

[2022-01-25 19:31] bicolino34 opened #6074 "Expand subjects/people/place field to fit all typed values"
It would be easier if I could see all typed subjects at once. Now it's just an endless string and it's a little inconvenient to edit subjects list when there is a lot of them

### Additional context
Example from site ficbook.net (translated with Google Translate)
![image](https://user-images.githubusercontent.com/58372007/151045749-4ca2435b-a037-49f1-bb4d-2a183507c8f9.png)
When there are subjects

[2022-01-25 20:34] BrittanyBunk opened #6075 "Lack of 2022 community notes in the github Wiki"
If someone can add them to there, that'd be great - as right now, it's up to 2021 there.

[2022-01-25 21:00] BrittanyBunk commented on #6075
I posted it

[2022-01-25 21:00] #6075 closed

[2022-01-25 21:01] BrittanyBunk commented on #6004
I already wrote a lot about this topic in 3-10-20 of the community meetings https://docs.google.com/spreadsheets/d/1fJQS8TgZXYlcVqw5AC-jDQtxkOq1ELs_0lhflH8KUxc/edit#gid=631700505 is even one of the documents I wrote on this.

[2022-01-25 21:16] BrittanyBunk commented on #6074
To show what this is being compared to, this is the before:
![image](https://user-images.githubusercontent.com/55302685/151054090-09b8619e-8873-4c9e-b0a9-49d138360fb5.png)

The issue is the commas, which having each one individually separated and shown all at once would allow for commas in individual keyword.

------------------

The issues surrounding the keywords was a hot topic at a community m

[2022-01-25 21:18] BrittanyBunk commented on #6074
thanks for posting. Even though I might downplay the need for the issue, it's really creative of a thought and the issue needed to be said :) Keep up the great work on finding these problems to fix.

[2022-01-25 21:32] BrittanyBunk opened #6076 "github issue overhaul"
**Warnings:**
- I'm putting this issue here for documentation purposes, as it's a common issue among multiple members. It's not a complaint or blaming of anyone, but a hope for better - which is why this is a community discussion.
- this issue is a much lower priority than other issues, so this should get less focus on than others.
- I might've already posted this before, but this one's slightly d

[2022-01-25 22:17] BrittanyBunk commented on #6041
relates to #6032 and #2601

I know you don't want to get into heated discussions, but the discussions you don't want to continue are ones you are continuing and are directly relevant to your issue. I'm not here to make it heated, but instead help out. I feel there's misunderstandings of the original discussion, so it's important to work them out, so that issues can be solved - as foreign languages

[2022-01-25 22:26] BrittanyBunk commented on #6032
As seen in #6041 , there's definitely an issue where titles are getting transcribed by bots.

In addition to translation and transliteration, there should be a field for transcription. I'm going to call this TTT from now on

There actually not only should be an ability to TTT to other languages, but it might need to be done for the language the title's in - so that each could be looked up. For ins

[2022-01-25 22:56] BrittanyBunk commented on #6050
This actually, as I discussed in #6074 was also discussed at the same meeting - we all talked about which keywords should be pulled out of books.

We thought about how the most common words can be pulled out, but we realize that those would not be representative of the book itself, as you'd get issues like having the word 'the' or 'a', prepositions, etc. popping up. Then we thought about having th

[2022-01-25 23:19] BrittanyBunk opened #6077 "Access denied on public OL documents"
Problem:
2020: Priorities - Open Library
and other documents deny access to seeing them on the executive index: https://docs.google.com/document/d/1KJr3A81Gew7nfuyo9PnCLCjNBDs5c7iR4loOGm1Pafs/edit#

There's actually the same issue with many documents in the roadmap page of the wiki: https://github.com/internetarchive/openlibrary/wiki/Roadmap

Solution:
make all of the ones that should be publicly

[2022-01-25 23:25] BrittanyBunk commented on #6050
this is related to #4027 , because the issue is keywords aren't the same as what the book's about itself.

[2022-01-25 23:29] BrittanyBunk commented on #6050
I think I found the reason for this problem here: #584

[2022-01-25 23:55] PrerakMathur20 commented on #6011
@mekarpeles @jimchamp
If this issue is still up, I'd like to work on this. I think I can fix this issue in no time.

[2022-01-26 07:49] kdepoel commented on #6041
1. the search engine can't handle diacritics, which has been mentioned quite a few times here on github. Let's call it a bug.
2. ideally the edition titles are indexed (besided the work title) when searching for a title. What the default work title is, is then irrelevant.

that's about it for this issue.

[2022-01-26 11:44] bicolino34 commented on #6076
@BrittanyBunk as far as I know, there is no better platform for programming than GitHub

What do you mean by properly? It works perfect for me. It sends me message about new comments on issues I'm participating in or about mentions in issues. You can easily change settings to receive e-mail about every single new comment in this repo.

[2022-01-26 14:42] mekarpeles commented on #6024
I think we may do a disservice trying to impose strict criteria around the star ratings. I'm not exactly sure what problem that we're trying to solve here. I wouldn't presume people are going to change how they rate books based on a description that we offer, nor am I sure we should try to achieve that. For instance why does a four star book mean that I would recommend it? If they wish to communic

[2022-01-26 17:34] BrittanyBunk commented on #6041
@kdepoel yes - the first reason is exactly why I brought up #2601 to begin with - the diacritics are problematic on the website for searching. It's nothing to do with cultural appropriation or hate - it's because it's a logistical problem/issue.

However, we can't call it a bug, because the issue doesn't stem from the search engine itself. The reason is because the search function on the Open Libr

[2022-01-26 17:51] BrittanyBunk commented on #6076
@bicolino34 I think there's a misunderstanding. I agree - github is the best for sharing computer programs, but to me, sharing and solving problems is where it's not seamless like sharing code is on here. Even though github does fall short for even sharing computer code (sometimes that's why jupyter notebooks and other platforms are experimented with - to document code in a journal-like format - w

[2022-01-26 18:01] tuminzee commented on #6024
@mekarpeles, I will bring this in the community call, also I really like how Daniel Capilla expressed his views on this one

[2022-01-26 21:42] lephemere commented on #6062
far language code for Faroese was deprecated in MARC 21 (https://www.loc.gov/marc/languages/language_code.html). [far](https://iso639-3.sil.org/code/far) is however a valid ISO 639-3 language code for the Fataleka language.

[2022-01-27 09:45] kdepoel commented on #6041
I've read your texts, but you haven't convinced me. I'll refer to my previous [statement ](https://github.com/internetarchive/openlibrary/issues/6041#issuecomment-1021946228)
Before you pour another massive amount of (the same) arguments in here. I'm not the one you need to convince. You mentioned the related issues in which you argue for your case, let's keep it to those.

[2022-01-27 12:08] bicolino34 opened #6079 "Book isn't shown correctly in reading log"
I was scrolling through my want to read list and found a book without cover, title and instead of author there was Unknown author. When I click on it, it sends me to Eldest by Christopher Paolini (OL3396812M). It was imported from Goodreads.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/58372007/151355492-a915c829-0c74-482f-84f5-e0777530172b.png)
leads

[2022-01-27 14:22] KhanFiza896 commented on #6011
I would like to take this issue

[2022-01-27 18:01] BrittanyBunk opened #6080 "post-informational community meetings"
Question:
I notice that the problems being worked on with the Open Library are getting more and more. This is a good thing. However, the community meetings are just too small to go over each one in depth. This leads to people like me not understanding fully the details of each issue and makes me not able to help out as much as I'd like to. This also has an issue on the opposite end, where issues m

[2022-01-27 18:05] BrittanyBunk commented on #6079
I feel like this is a known issue that has to do with solr indexing, as it's actually a site-wide issue that goes beyond a reading list. It's also an issue when you create a list or when you click on a book to read. @cdrini discussed this at the community meetings to me and explained that he's reindexing to prevent these issues from happening.

I don't believe this has much to do with goodreads, b

[2022-01-27 18:48] BrittanyBunk commented on #1283
I wrote my thoughts on funding this for volunteers here: https://docs.google.com/document/d/1edU3lCTHAjFr1mXUilh8l1_rNek33pRTzFHltBU--fM/edit#

Me personally, as a volunteer - I have so many volunteer shirts at home, I don't have enough room for more. I would be ok with being given a digital design as a momento on my computer.

[2022-01-27 18:51] BrittanyBunk commented on #6074
I wrote in this issue here https://docs.google.com/document/d/1IKeC5rxw_iJYe2VhIjCqIg3NQ8I-q4K0wZZCqV0GvAI/edit# so it can be looked into

[2022-01-27 19:25] lephemere commented on #6062
There are actually more duplicate language names with different MARC codes:

| Language Name | MARC Code | Discontinued MARC Code |
|---|---|---|
| Croatian | [hrv](https://openlibrary.org/languages/hrv) | [scr](https://openlibrary.org/languages/scr) |
| Esperanto | [epo](https://openlibrary.org/languages/epo) | [esp](https://openlibrary.org/languages/esp) |
| Ethiopic | [gez](https://openlibrary.

[2022-01-28 00:54] cdrini opened #6083 "Deploy & Investigate whether olsystem deploys are correctly working"
@mekarpeles noticed the ol-web1 had an outdated etc/openlibrary.yml . This should have included the Dec 7th changes that update the ol-mem servers but didn't. What went wrong?

[2022-01-28 01:32] LeadSongDog commented on #1594
A by statement is OLspeak for a "Statement of Responsibility". Anywhere else, it reflects at least the work’s author(s) as shown in MARC 245$c, and possibly contributors to a particular manifestation (at the cataloguer’s discretion).

As Tom noted, OL takes a nonstandard approach to pseudonyms, combining all identities of a person into one, irrespective of the one used on a particular work.

[2022-01-28 03:55] BrittanyBunk commented on #6055
if you do this idea, it would be wise to label dates on them, at least by year. I personally feel it might be a little confusing, both from a logistical and use standpoint, but don't let me get in the way of your ideas. I like having only one photo, as I can associate only that, but I know it's easier to recognize authors by different pictures they may have of themselves.

[2022-01-28 04:07] BrittanyBunk commented on #1594
@LeadSongDog As I see it, it seems that the by statement is the location of pseudonyms according to @seabelis in #2654. To quote: "The byline is useful as the author's name on the edition is not always the same as on the work." This is a really inappropriate location. Simply because it's not labeled as such.

I don't mind that all the identities of a person be lumped as one. That's fine - that's w

[2022-01-28 21:49] BrittanyBunk commented on #6080
I have an idea - if a volunteer repository's created, then volunteers can have their own weekly meetings on top of the ones by the staff, so that volunteers can offload the work and explain info to each other.

This is especially great for those who speak in foreign languages, as then people can explain to each other in other languages, so everyone's on board. The issue with regular community meet

[2022-01-28 21:53] BrittanyBunk commented on #5978
related to #4366.

I believe a volunteer github would be a great way to offload issues onto volunteers. The main repository should only be for staff. That's why there's so much confusion and issues - people are in the crossfires of each other's work.

If there's a volunteer repository, you won't need to look at so many emails - only the ones you'll need.

[2022-01-28 22:03] BrittanyBunk opened #6084 "volunteer github repository"
### Problem:
- there's a major issue of the openlibrary github on both sides - the staff and volunteers. Staff get either too many notifications or don't get notified
- Issues aren't being worked on, because there's an overload on staff
- volunteers are in waiting on their ideas and proposals
- volunteers can't communicate with each other in a way to get what they need done, so they either get los

[2022-01-28 22:04] BrittanyBunk commented on #6084
expansion of #4366

[2022-01-29 18:13] tfmorris commented on #5594
This is off the topic of this issue, but

@dcapillae If that's the guideline, which seems like a reasonable one for **most** cases, the software should support/enforce it. Human nature is to accept the system provided default and the system chooses the author record with the most works, not the oldest. The only way one can find the old record is by hovering over the links and squinting at the auth

[2022-01-29 22:11] tmanarl commented on #5594
I open each author record in a new tab, scroll to the bottom to see which one has the oldest creation date and then attempt to merge into the oldest record. Those merges that fail I post here. You are correct in that the top entry is not always the oldest record.

Travis Pollan

Sent from my iPhone

[2022-01-30 00:45] LeadSongDog commented on #1594
Can’t agree. The source records statement of responsibility captures the attributions on t.p. or verso. We should preserve that as a key characteristic of the edition, if for no more reason than to determine which records are redundant. That’s why I raised #777 four years ago after the unfortunate introduction of the so-called canonical page form.

The pseuds sometimes used are a side issue.

[2022-01-30 03:26] BrittanyBunk commented on #1594
@LeadSongDog we can agree to disagree on the by statement's status on the website, but at the very least we continue to improve the handling of pseudonyms, as we both a agree - the by statement is a tangential issue to it.

[2022-01-30 03:28] BrittanyBunk commented on #6054
I see what you mean. I think it's a genius idea to treat lists like a tumble page where you see the book cover and browse through that than look at them one at a time. I wonder if that'll improve loading times too? At the very least it lets people view more to have to click around less.

[2022-01-30 19:30] LeadSongDog commented on #5265
Before fixing a wrong author on an edition, it will be necessary to *know* it is wrong. Right now those edition author IDs are buried in the json, not exposed to a user’s awareness. It would help if author IDs for an edition that differ from those for the work could be highlighted in the UI. Then we can talk about tools for fixing them.

[2022-01-31 01:16] HamsterDeveloper opened #6088 "No results for authors with a hyphen in their name"
Hyphens seem to break the search of the author field when adding a new book.

1. Go to [Add a Book](https://openlibrary.org/books/add)
2. Enter a name with hyphens into the author field (example: Agnieszka Lingas-Łoniewska)

* Actual: No results; only "create a new record for ..." is offered.
* Expected: Listing existing author entries to choose from.

[2022-01-31 19:48] cdrini commented on #5700
Experimenting with enabling solr-updater for all edits--including ImportBot and Clean Up Bot (which tend to make lots of bulk edits). Hopefully solr 8 can handle the traffic! Please let me know if you noticing any search sluggishness, or delay in edits being reflected in search results.

[2022-01-31 21:32] cdrini opened #6089 "ImportBot importing non-covers"
Sometimes ImportBot imports placeholder covers. Can we check the url before importing the cover? These likely are all the same url.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/151876429-c108301b-7f9e-4851-b4c0-ddc5aa0e5bfa.png)

### Relevant url?
https://openlibrary.org/works/OL27276169W/The_Modern_Presidency

### Proposal & Constraints

###

[2022-02-01 08:30] seabelis commented on #5912
The one issue I see here is that IDs are not always linked from IA to OL correctly and/or there's more than one record linked to an item or vice versa. An auto-sync could overwrite a correct relationship with an incorrect one.

[2022-02-01 18:25] tuminzee commented on #6055
@BrittanyBunk I agree to that; how we ask the community if they want this. if yes, I'd be happy to prepare a demo for it.

[2022-02-01 19:35] tuminzee commented on #1283
@BrittanyBunk
My thoughts are different that yours here. For me a physical item holds a bigger value.
(for eg a badge of contributions on dev.to is good, but a tshirt/physical items adds a whole attachment)

[2022-02-01 19:55] tuminzee commented on #6077
List of the documents which deny access along with the links:

- [2018 Roadmap](https://docs.google.com/document/d/1wpa4f-r8jBimam-36CAZGQ_QjApegm10XfH85eG7KAE/edit)
- [2018 Q2](https://docs.google.com/document/d/1yLWc335qsLyMPbWULMj25VGBX-ruJrcBH0JpfLzxy0Y/edit)
- [2022: Open Library - Planning](https://docs.google.com/document/d/1szK5X2RPJl1hZ2cYiv9zw7QOn1I_QSJkCHckHi6Ue2c/edit)
- [Project Kicko

[2022-02-01 20:10] mekarpeles commented on #6089
The relevant code should be here:
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/vendors.py#L244

It seems like the image came from:
https://www.amazon.com/Modern-Presidency-Debates-Define-Institution/dp/0231206666

The url seems like it may change?
We're seeing: https://images-na.ssl-images-amazon.com/images/I/01RmK+J4pJL._BO1,204,203,200_.gif

We can remove the size

[2022-02-01 20:15] mekarpeles commented on #6077
I've updated the documents which should be open -- 2018 docs are good to link (i.e. know they exist) on the index, but were intended for staff and thus will remain with their current permissions. ABC is a staff planning doc.

[2022-02-01 20:15] #6077 closed

[2022-02-01 20:34] mekarpeles commented on #6084
1. This is a volunteer repository
2. We do want there to be an approval process for contributing
3. gitter and slack are appropriate ways for members of the community to ask questions

There **is** definitely a problem with being updated when people ask questions + want to contribute on github +1

Right now, @tuminzee has volunteered to help us solve this problem by tagging us when volunteers expr

[2022-02-01 20:46] mekarpeles commented on #6084
we created:
1. a way to check for issues which needs responses: https://github.com/internetarchive/openlibrary/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+comments%3A%3E1
2. A new tag called `Needs: Responses`
3. Added this process to our weekly ABC call

[2022-02-01 20:46] #6084 closed

[2022-02-01 20:52] mekarpeles commented on #6080
If there's a special topic which requires discussion, we're happy to help facilitate a meeting, but given the amount of work on staff's plate already, we feel that having a mtg w/o a specific agenda may subtract further from our time.

I appreciate there are many who would like to be more involved, however a separate volunteers repo doesn't seem like the way to go about it. Staff needs to be respo

[2022-02-01 20:52] #6080 closed

[2022-02-01 22:53] mekarpeles commented on #6011
Howdy folks, in the interest of setting a precedent here I'm adding @kristofvarszegi as the assignee because they have done what looks like the correct research into the problem.

Moving forward, our core team will be trying a new mechanism to make sure we don't miss these calls to help!

Thank you all for offering, we can't wait to work with you.

If you ever find that you're not getting a respon

[2022-02-01 22:55] mekarpeles commented on #6011
@homewardgamer in the future, if you think you have a good solution and it's a small amount of work, feel free to open a PR and I'll be happy to review. **Thank you** for investing the time to open this issue and for contributing!

Also, apologies to @riteshsoni123 who I sent me a message on slack and was hoping to work on this one -- I'm still happy to help you get started on an issue :)

[2022-02-01 23:05] mekarpeles commented on #6076
1. Emails are forwarded, the volume is too great and so notifications are muted. It would be great if there were more granular notification subscription options. If someone knows how to do this well, please do reply!
2. I don't want to entertain the idea of switching off of github, too many of our workflows are tied to it. There's lots we can do to augment our process.
3. As posted in #6084, we ha

[2022-02-01 23:05] #6076 closed

[2022-02-01 23:07] mekarpeles commented on #6079
Sorry, I don't believe this has to do with solr.

I think it's more likely that this was a work which was **merged** and the stale book is on the reading log.

We have an effort on our roadmap for this quarter to fix the underlying problem: #2553

Marking this issue as resolved because the source of the problem is known and an effort has been prioritized to address it.

Thank you for documenting a

[2022-02-01 23:07] #6079 closed

[2022-02-01 23:37] mekarpeles commented on #5937
What if instead of a suggestions box, we asked the question but then linked to https://openlibrary.org/contact?path=/help and added a Topic for "Suggestion" :)

[2022-02-01 23:39] mekarpeles commented on #6054
Thank you @Udai1931! If you have any questions, please let me know!

[2022-02-01 23:48] mekarpeles commented on #6024
Open to other ideas! Especially since on mobile there aren't hover states anyway, I think the existing star ratings as is are sufficiently intuitive. Closing for now. Thank you for putting the time into this proposal, I'm glad it is here for us to discuss

[2022-02-01 23:48] #6024 closed

[2022-02-01 23:58] mekarpeles commented on #6004
Hi @adarsh-kishore786! Thank you for the offer to help and thanks for being here! I just sent you an invite to slack.

This is an `epic` issue hasn't been fully spec'd yet by staff -- It's marked as Needs Breakdown and slated for Q3/Q4 (second half of the year) on our roadmap.

Thanks for your enthusiasm volunteering @BrittanyBunk! I think the first round of planning needs to be set by staff to ad

[2022-02-02 00:01] mekarpeles commented on #717
Super glad for the context in this thread, I'm not sure if there's an actionable here and it's be open since 2018 so opting to close unless there's something which needs to be done

[2022-02-02 00:01] #717 closed

[2022-02-02 00:06] mekarpeles commented on #756
I believe this is an issue at the core of our import process, not with e.g. amz. It's prioritized under next proposed milestone

[2022-02-02 00:08] mekarpeles commented on #6030
Also note, we do have a carousel on the homepage, books for e.g. February

[2022-02-02 00:10] mekarpeles commented on #2283
@b-thebest did you still wish to work on this one? Otherwise I'd like to give @b2pacific a chance

[2022-02-02 00:19] mekarpeles commented on #5046
The code for the widget is here
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/code.py#L242-L262

The html is here
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/widget.html

The step to fix this:
In https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/code.py#L246 after we have the

[2022-02-02 00:54] hornc commented on #756
This is an old issue, and obviously got lost in the pile. Since 2018, I have got a better idea of how author matching algorithm is supposed to work.

Possibly missing some of the detail, and I'd have to dig into the code again after a long while, but in general:

 An Author with dates in the source metadata will _never_ match an existing author without dates.

This appears to be a deliberate early

[2022-02-02 01:59] b-thebest commented on #2283
@mekarpeles I would like to work on this issue. I am starting to work on this.

Thanks

[2022-02-02 04:23] tuminzee commented on #6089
I would like to work on this one

[2022-02-02 04:29] BrittanyBunk commented on #6077
@mekarpeles if there're staff documents, it would be helpful to label them as such, as this is appears as a public document and it's mixed messages without signifying.

[2022-02-02 04:43] BrittanyBunk commented on #6084
@mekarpeles Thanks for the extra label. It means a lot that you're addressing a problem here.

Please don't let get in the way of this, so you can disregard the rest of what I say if we leave the situation there.

However, sooner or later you'll need to create a volunteer repository. The problem is going to keep arising, as dedicating a person for notifying is a band-aid. Because I see a future wi

[2022-02-02 04:53] BrittanyBunk commented on #6080
@mekarpeles I think there's some misunderstandings on my volunteer repository idea. The staff (along with volunteer help) would do the PRs - but the volunteers would work out the github issue to a solution with providing insights to others through communication. I guess it's hard, because I tried it on discord with limited success, but I'm not an organization - so it might be different, idk. Idk w

[2022-02-02 05:06] BrittanyBunk commented on #6076
@mekarpele thanks for appreciating the context and documentation purposes!

1) It's actually really easy! I get issues with email notifications and then I handle them, so currently I have none and I address everyone just fine.

Solutions I do:
1) filter notifications - you create 'rules' that filter out notifications by keyword. So if you get notifications that someone read a github post and that'

[2022-02-02 05:14] BrittanyBunk commented on #5937
@mekarpeles I think we're thinking up ideas and getting somewhere - I like this brainstorming!

I personally think that's overly complicating the matter and putting way too much work on admins. If @seabelis did 10,000 merges - adding suggestions on top sounds overwhelming - even for me. I can't even think about this anymore without inducing anxiety - I'm stopping now lol.

Also, a suggestion box w

[2022-02-02 05:22] BrittanyBunk commented on #6004
@mekarpeles Thanks! However, I don't like the picture painted about me. We worked on the idea together until they understood what my idea was. When they wanted to implement it, I explained to go to you. To say that I made them put in work and effort into working on a project that had no approval is severely unfair - I didn't do that. I did annotate it as a proposal and I also said I have no say in

[2022-02-02 05:33] BrittanyBunk commented on #6030
@mekarpeles that's for a month though. They want it per day

[2022-02-02 05:43] BrittanyBunk commented on #6030
There's actually a really huge problem I just noticed when it's by month or day: one or a few people check out one book, so then there's a large waitlist where not everyone can read the same book together. That's a problem with the OL, but could easily be solved here by offering book alternatives - other editions, etc. However, that would be the failure, no doubt, of a book club - too little can r

[2022-02-02 06:10] adarsh-kishore786 commented on #6004
I believe a miscommunication occurred, and if it is due to me then accept my apology. I am just a new contributor, so I am not very aware of the correct process to make a contribution. @BrittanyBunk was just helping me to get his idea right and then I could take it up with the higher authorities to see if it can be implemented.

[2022-02-02 06:11] adarsh-kishore786 commented on #6004
And thank you for inviting me to Slack @mekarpeles 😊

[2022-02-02 13:14] LeadSongDog commented on #717
@mekarpeles It appears that @hbromley has identified three cases or classes of problem records in the 3 Jan 2018 comment above. The next sensible action would be to create a way to identify the membership instances in each problem class. It strikes me that case B should be fairly straightforward to check. The others may need more subtlety, but let’s get the low hanging fruit first.

[2022-02-02 15:56] cdrini commented on #1041
Cannot find `number_of_editions` anywhere in the code. It is in the dev pg dump in some places though, but that's probably fine.

[2022-02-02 15:56] #1041 closed

[2022-02-02 20:07] #5700 closed

[2022-02-02 20:41] cdrini commented on #3990
Note converting this issue to be just for ratings; will create a separate issue for reading log, since it introduced some unique challenges, and don't want to hold this up.

[2022-02-03 00:50] jimchamp opened #6096 "Add "Lists" link to books page navbar"
### Describe the problem that you'd like solved

When visiting a books page, I have to scroll to nearly the bottom of the page to see the lists that contain the book.  It would be great if I could jump to that section by clicking a link on the navbar.

### Proposal & Constraints

Add a new link to the book page navbar that will jump to the "Lists containing this Book" section of the page.  A uniqu

[2022-02-03 00:50] jimchamp commented on #6096
@homewardgamer would you be interested in working on this?

[2022-02-03 01:20] jimchamp opened #6097 "Book Page Usability"
This is an epic for tracking issues in support of our Q1 book page usability improvements.  New issues will be added as decisions are made regarding this project.

### Tasks
- [x] Add "Lists" link to navbar (#6096)
- [x] Remove redundant edition description (#6107)
- [ ] Navbar additions and improvements (#6170)
- [x] Capture analytics on subject link clicks (#6106)
- [x] Make table of contents co

[2022-02-03 02:51] homewardgamer commented on #6096
Yes @jimchamp  I would love to work on this Issue! Thanks for considering me.

[2022-02-03 07:24] #5868 closed

[2022-02-03 07:25] #5586 closed

[2022-02-03 08:24] #6067 closed

[2022-02-03 08:58] #6072 closed

[2022-02-03 11:49] tmanarl commented on #5937
If it links to that page and a patron submits a suggestion to add to a collection, how would the curator receive said suggestion?

[2022-02-03 14:34] tuminzee commented on #6089
I was able to find one more product with no images
https://www.amazon.com/Family-Drama-Stories-Delhi-Season/dp/B09QV94P8H/ref=sr_1_52?crid=31A13RN06YRDK&keywords=shashi&qid=1643898630&s=books&sprefix=shashi%2Cstripbooks-intl-ship%2C276&sr=1-52

If we compare url's of both the images.
https://images-na.ssl-images-amazon.com/images/I/01RmK+J4pJL.gif
https://m.media-amazon.com/images/I/01RmK+J4pJL.gi

[2022-02-03 18:01] mekarpeles commented on #6089
Go ahead! Unless @jimchamp had someone in mind.

[2022-02-03 18:02] mekarpeles commented on #6089
@b2pacific would you like to take this one?

[2022-02-03 18:04] mekarpeles commented on #4992
@RayBB I know you've been busy w/ your new job! Would you like me to free the `assignee` for this one? :)

[2022-02-03 18:06] mekarpeles commented on #5513
@Zaidtech are you still interested in working on this one? If so, happy to add you as the assignee and answer any questions you may have :)

[2022-02-03 18:08] jimchamp commented on #6089
I was planning on giving this to @b2pacific (if they are interested).  They are looking for issues focused on the back-end.  My projects are mostly front-end, so I thought this would be a good one.

[2022-02-03 18:35] b2pacific commented on #6089
@jimchamp I'll take this one. Thanks!

[2022-02-03 19:08] LeadSongDog commented on #756
@hornc Are you referring literally to importing author records (as from Wikidata, ISNI or VIAF), or rather creating author records anew, linked from newly created (not imported) work records for newly imported editions? I expect the latter, which may be closer to the root of the problem. Creating author records without linkage to an established external identifier should always be the last resort.

[2022-02-03 22:54] jdlrobson commented on #4788
It looks great!

[2022-02-03 23:56] jimchamp opened #6106 "Capture book page subject clicks with Google Analytics"
### Describe the problem that you'd like solved

In order to help guide our book page redesign, we would like to understand how patrons are interacting with our book page subject links.  More specifically, we'd like to know how often the subject links in the overview are clicked vs. the subject links in the work component, which is located below the fold.

### Proposal & Constraints

Five new anal

[2022-02-04 01:39] jimchamp opened #6107 "Remove repeated edition description from book pages"
### Describe the problem that you'd like solved

If an edition has a description, we see this description twice on a book page: once above the fold, and again in the `#edition-details` component.  Displaying the same description twice on a single page offers little value to patrons.

### Proposal & Constraints

Remove the edition description from the `#edition-details` component.

### Additional c

[2022-02-04 01:59] jimchamp commented on #6089
Thanks @b2pacific!  I'm fairly certain that we need to add a check to the cover URL in `load_data`, here: https://github.com/internetarchive/openlibrary/blob/177417cd6136abfef885a998255ee7c5df30f688/openlibrary/catalog/add_book/__init__.py#L578

Before `cover_id` is set in that function, we should ensure that the cover URL does not contain this string: `RmK+J4pJL`.

[2022-02-04 03:08] hornc commented on #756
@LeadSongDog Authors are only created when new book editions are imported. When I talk about 'author imports' I mean the author creation that occurs on those imports. The code for adding new editions, works, and authors is here https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/add_book/__init__.py  , and the main endpoint which uses this code is the /api/import endpoin

[2022-02-04 06:25] LeadSongDog commented on #756
@hornc Yes, that’s as I thought. You do understand why it’s wrong to let the tail wag the dog? This is the very reason we have such an obscene duplication of records on authors. We can’t rationally expect that every catalogued edition MARC record imported will choose to spell an author’s name consistently and distinctly. That is why ISNI and VIAF exist: to provide curated metadata.

[2022-02-04 12:38] seabelis commented on #5554
This was solved at some point.

[2022-02-04 12:38] #5554 closed

[2022-02-04 12:47] seabelis opened #6108 "Duplicate identifiers on edit form"
Duplicate identifiers exist for the French National Library (Bibliotheque Nationale du France, BNF) and "Cornell University ecommons".

### Evidence / Screenshot (if possible)
<img width="577" alt="Screenshot 2022-02-04 at 13 44 29" src="https://user-images.githubusercontent.com/17739465/152531368-b1bc1d27-43cf-4e31-ba3b-535bd84f3957.png">
<img width="525" alt="Screenshot 2022-02-04 at 13 44 23" s

[2022-02-04 18:26] tuminzee commented on #5937
Hello @Hitansh-Shah this issue does not have `label:"Needs: Help"` that is why you cannot be directly assigned to this issue.
Still I will ask @mekarpeles and @jimchamp for details for this issue.

If you are looking for some good issues you can find it [here](https://github.com/internetarchive/openlibrary/issues?q=is%3Aissue+is%3Aopen+label%3A%22Needs%3A+Help%22)

I would also recommend discussin

[2022-02-04 18:26] #6096 closed

[2022-02-04 18:33] BrittanyBunk commented on #5937
@tmanarl you bring up a really great point - if admin have difficulties being overloaded with notifications to where they stop looking at them, how will they receive any notifications if this gets overwhelming too?

[2022-02-04 18:41] BrittanyBunk commented on #6004
@adarsh-kishore786 the issue isn't you. If @mekarpeles didn't want my help, he should've said that instead of putting me down in a show of superiority. He keeps doing that and I hope he stops - it's unwelcome and unappreciated. I honestly apologize for putting you in a situation where you have to face that, as no one should.

This github issue should be closed, because the help isn't needed here a

[2022-02-04 19:19] tuminzee commented on #6107
Thank you assigning the issue. I will finish it soon.

[2022-02-04 21:00] Tar-Calion commented on #2001
The last examples from above still dosn't work:
https://openlibrary.org/search?q=title%3A+%22beyblade%22&mode=everything&debug=true
https://openlibrary.org/books/OL25446139M/Beyblade_Volume_13

I also get the same error if I click almost every author of https://openlibrary.org/works/OL2688199W
like https://openlibrary.org/authors/OL2891212A/The_Editors_of_World_Almanac?debug=true
as well as title

[2022-02-04 21:36] mekarpeles commented on #5937
I agree with @BrittanyBunk that for v1, collection maintainers could be allowed to change the permission of their collection to be public. Any time a community member makes a change, our wiki already has version control which shows the specific changes and lets the admin roll the changes back. If anyone wants their collection to be editable, I can help.

This avoids having to build a notification

[2022-02-04 21:36] #5937 closed

[2022-02-04 21:58] mekarpeles opened #6111 "Proposal for Recommending Books to Patrons/Lists"
Please note that this is a **proposal** and staff has not approved this feature.

This issue is in response to #5937.

## Problem

The problem, generalized, is that there exists either lists or collections of items and the community is expressing interest in letting others **recommend** a book to this data structure.

## Risks & Reservations

1. **Usage & Usefulness**. How many people will actuall

[2022-02-04 21:59] mekarpeles commented on #5937
@tmanarl + @BrittanyBunk + @Hitansh-Shah please see #6111 regarding why this issue may be harder than it seems & why we're uncertain about whether it should be worked on.

[2022-02-04 22:36] tuminzee commented on #4027
I am sure you solved this issue, but I am still want to know. Did it solve your issue?

[2022-02-04 22:39] tuminzee commented on #4027
Sorry @BrittanyBunk it took me some time to reply to this, but I really like the early references which you have tagged here

[2022-02-04 22:39] tuminzee commented on #6050
Sorry @BrittanyBunk it took me some time to reply to this, but I really like the early references which you have tagged here

[2022-02-04 22:46] tuminzee commented on #6106
I would like to work on this issue

[2022-02-05 01:32] tmanarl commented on #5937
Really and truly, this blew up way more than I was expecting and turned into something I DO NOT want to happen.  I do not want collections to be publicly editable; that was not my intention when I proposed this suggestion, nor would I want to see it implemented.  Please do not consider that as a possibility.

[2022-02-05 01:36] BrittanyBunk commented on #4027
@bwright8 thank you so much for working on this!

[2022-02-05 01:46] tmanarl commented on #6111
Thank you for taking the time to open this proposal.
I agree that this is a low priority, and we really do not know the amount of patrons that would utilize this proposed feature.  There is a very small number of curators who this would benefit as well, namely myself, and I don't believe the cost/benefit of the man-hours required is worth dedicating to at this time.   As the temporary collections-

[2022-02-05 06:11] mekarpeles commented on #4379
I provisionally think this should be fixed now, once the next PI goes out for archive.org

[2022-02-05 06:11] #4379 closed

[2022-02-06 00:30] HamsterDeveloper commented on #6108
on a similiar note: the identifier Deutsche National Bibliothek should actually be spelled Deutsche Nationalbibliothek

[2022-02-06 17:44] saieswar13 commented on #6011
Can I work on this issue?

[2022-02-06 17:57] saieswar13 commented on #6054
Is this still open issue? Can I work on it?

[2022-02-06 23:04] jollypolly123 commented on #6074
Would changing the field to a textarea work?

[2022-02-07 16:13] #6107 closed

[2022-02-07 16:18] jimchamp commented on #6106
I want to see if @homewardgamer wants this one.  If not, I'll assign it to you, @tuminzee.

[2022-02-07 16:34] tuminzee commented on #6106
sure thing 🕺🏼

[2022-02-07 17:19] cdrini opened #6118 "CI failing due to JS testing requirements. Drop testing thresholds."
Our master branch CI is failing :/ https://github.com/internetarchive/openlibrary/runs/5096157730?check_suite_focus=true#step:11:85

Not sure how this passed PR CI or what changed here, but need this passing. Dip the numbers down to the nearest integer to unbreak CI.

[2022-02-07 17:48] lephemere opened #6120 "Google Analytics and EU GDPR"
### Question

The Austrian DPA (Data Protection Authority) has stated in January that the use of Google Analytics violates the EU GDPR (General Data Protection Regulation). This decision may eventually be taken by other european countries in the future.

See this article for further detail: [Austrian DPA’s Google Analytics decision could have 'far-reaching implications'](https://iapp.org/news/a/fa

[2022-02-07 18:13] #6118 closed

[2022-02-07 18:18] lephemere opened #6122 "Duplicate list on subject pages"
When logged in, if user has one subject in one or more lists, the list appears twice in the `Lists` section of the subject. Once in the user list of associated lists and once in the general list of associated lists. However, nothing separates them visually.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/73437497/152846704-d9b91b8d-25e7-4b06-a363-3a683a2

[2022-02-07 20:17] mekarpeles commented on #6050
@tuminzee if you still would like to work on this issue, would you like to propose a small technical plan + design and bring to an upcoming community call for discussion?

[2022-02-07 20:21] mekarpeles commented on #6120
As a non-profit, the rules vary so it's not as clear cut. However, this is being addressed organizationally as Archive.org & OpenLibrary.org share policies around anonymized collection of stats.

It should be noted (and the reason I am closing this issue) is that all google analytics are pipes through anonymization so that no identifiable patron information goes with it. Securing patron privacy is

[2022-02-07 20:21] #6120 closed

[2022-02-07 20:30] cdrini commented on #2623
This appears to work now! Note `isbn:978*` fails as a result of search sometimes erroring if there are tooo many results (there's an issue I can't find...)

[2022-02-07 20:30] #2623 closed

[2022-02-07 20:46] #5415 closed

[2022-02-07 20:50] mekarpeles opened #6123 "Add Homepage Onboarding Card: Fulltext Search"
Find a consistent graphic (e.g. thenounproject + create card in onboarding carousel which links to fulltext search endpoint https://openlibrary.org/search/inside (or to a page which has docs on fulltext search e.g. https://blog.openlibrary.org/2018/07/14/search-full-text-within-4m-books/)

Please post a screenshot or notes of your idea if you'd like to take this issue on on @tuminzee can help make

[2022-02-07 21:09] mekarpeles opened #6124 "Switch Bookshelves Privacy to db record field (instead of account-level)"
Right now there isn't a great way to query bookshelves_books based on a patron's privacy settings (e.g. public v. private) this issue proposes using a new `private` table field to `bookshelves_books` so patrons can tailor which books are private v. public.

Maybe the settings isn't a retroactive fix, it just sets a mode for what value will be applied by default.

For the trending view, we could do

[2022-02-07 21:47] cdrini commented on #4223
It seems like solr is doing processing on the title field that strips out some of those characters. This query with `title_suggest` returns the correct results: https://openlibrary.org/search?q=title_suggest%3A+%22%C2%A9%E2%99%AD%22&mode=everything

It seems like it's stripped out by solr's WordDelimeterGraphFilter? Seems unlikely to cause user's issues, and it's possible to find the works of inte

[2022-02-07 21:47] #4223 closed

[2022-02-07 21:53] #6089 closed

[2022-02-07 22:27] LeadSongDog commented on #2623
Well, it sort of works now, but these queries should get the same results (and don’t):
https://openlibrary.org/search?q=isbn%3A978-02*&mode=everything
https://openlibrary.org/search?q=isbn%3A97802*&mode=everything

[2022-02-08 02:32] homewardgamer commented on #6106
I would love to work on this Issue @jimchamp . In case I am struck I will surely ask for @tuminzee  help.

[2022-02-08 03:10] tuminzee commented on #6106
Yes @homewardgamer go ahead😊

[2022-02-08 03:13] tuminzee commented on #6050
@mekarpeles yes I will do that :)

[2022-02-08 11:01] roversch opened #6126 "AttributeError: 'str' object has no attribute 'get' in Want to Read list"
### Evidence / Screenshot (if possible)

![image](https://user-images.githubusercontent.com/1436556/152973912-818d4fea-b71f-40f5-a5bf-a9f88a327d9c.png)

### Relevant url?

https://openlibrary.org/people/josbos2817/books/want-to-read

### Steps to Reproduce

1. Go to [my 'Want to Read' list](https://openlibrary.org/people/josbos2817/books/want-to-read)

* Actual:  Page doesn't render correctly
* Ex

[2022-02-08 14:43] MdSahil-oss commented on #6123
@[mekarpeles](https://github.com/mekarpeles), would you like each searching result be:->

[Book Name](https://) by Author
["Toggle switch to show the few fulltext searching results of the Book on the same page"](http://)
-------if Toggle switch is clicked then:
------------few fulltext searching results
------------["another Link to see all fulltext results of the Book on another page"](http://)

[2022-02-08 17:56] seabelis opened #6127 "Wysiwyg editor is partly broken"
The wysiwyg editor for content pages does not work properly.

- [ ] The toolbar displays, but is inactive.
- [ ] The preview does not accurately display what the published content will look like once saved.
- [ ] Neither markdown or HTML work consistently.

### Evidence / Screenshot (if possible)

### Relevant url?
Edit any content page. For example, https://openlibrary.org/help/faq/editing.en?m=e

[2022-02-08 22:12] onnotasler commented on #6108
As a slight addition: Only one of the two entries for the BNF actually works.

At Bibliothèque Nationale de France, you can enter any number and it will be shown.
At Bibliothèque national de France (BnF), you cannot enter anything. Whatever you enter will simply vanish after clicking "add".

(The same problem occurs with the Amazon links too, by the way: I can only add amazon.com links, the other

[2022-02-09 10:54] seabelis opened #6130 "List carousel does not work with Work IDs"
Creating a collection using the list carousel method does not work if the list contains Works.
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/collections/banned-challenged-in-schools?v=7

### Steps to Reproduce

1. Create a list carousel using a list containing Works, for example, https://openlibrary.org/people/agent-lisa/lists/OL205302L
2. Do ...notice error

*

[2022-02-09 15:21] tuminzee commented on #6123
@MdSahil-oss how about you also post some graphics related to this one?

[2022-02-09 18:35] tuminzee commented on #6074
what do you mean by that @jollypolly123 ?

[2022-02-09 18:40] tuminzee commented on #6054
Hi @saieswar13, @Udai1931 is working on the issue,
How about you take a look [here ](https://github.com/internetarchive/openlibrary/issues?q=is%3Aopen+is%3Aissue+label%3A%22Needs%3A+Help%22). I am sure you will find something interesting
Happy Contributing 😄
Thank you for your interests in Open Library 🕺🏼

Let me know if you are stuck, I would love to help.

[2022-02-09 18:42] tuminzee commented on #5506
@jimman2003 would you like to work on this issue?

[2022-02-09 18:54] jimman2003 commented on #5506
Yes.. As I said , probably a easy fix

[2022-02-09 18:55] tuminzee commented on #5506
@jimman2003 I have assigned you the issue.
Happy contributing 😄

[2022-02-09 19:26] bicolino34 commented on #6074
Here is it https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea if I understand correctly.
@jollypolly123 I think it would work

[2022-02-09 20:09] mekarpeles commented on #6083
Deploy went out yesterday and it looks like the import pipeline is still working. We'll see whether the partner bot runs on the ~15th and will re-open if it breaks.

[2022-02-09 20:09] #6083 closed

[2022-02-09 22:08] mekarpeles commented on #6130
Right now we're using editions instead of filtering seeds:
https://github.com/internetarchive/openlibrary/blob/a8e46e3af041ba824c32833165815c9af7cc35c4/openlibrary/plugins/openlibrary/lists.py#L330

[2022-02-09 22:44] mekarpeles commented on #6074
@jollypolly123 this seems like a reasonable solution to me. Since @cdrini is the lead of this issue, you may want to check with him on the approach.

If you don't think the change will be a lot of work, it seems worthwhile to try it out and see? @cdrini can give us guidance if there's a better way, I'm happy to assign you in the meantime :)

[2022-02-09 23:00] mekarpeles commented on #6054
@Udai1931 are you still planning on working on this one? And if so, did you have any questions about getting started?

[2022-02-09 23:06] mekarpeles commented on #6123
I think the issue may need to be clarified. On the homepage, there is an Onboarding Carousel which looks like this:
![openlibrary org_ (18)](https://user-images.githubusercontent.com/978325/153305334-ab2940df-09ed-4032-a607-900332265142.png)

The solution is to add a new entry to the carousel, perhaps it could look like this:
![openlibrary org_ (19)](https://user-images.githubusercontent.com/97832