[2020-01-07 21:01] guyjeangilles opened #2827 "Issue templates are not rendering labels"
No labels are populated on the issue templates
### Evidence / Screenshot (if possible)
![no_labele](https://user-images.githubusercontent.com/7256157/71928340-42dbb200-318f-11ea-83a9-f6949fcf8d75.png)

### Steps to Reproduce

1. Click any of the issue templates
2. The labels on the right hand side will say `None yet`

* Actual: No labels are applied
* Expected: Relevant labels should be applied

#

[2020-01-07 21:34] LeadSongDog commented on #2740
There are many records that show just "p. cm." which is clearly worse than showing nothing.

[2020-01-07 21:47] mekarpeles opened #2829 ""Preview Only" Button: Supporting Print-Disabled Previews"
Open Library's UI should reflect upstream changes affecting preview support for print-disabled material.

### Describe the problem that you'd like solved

Currently, in (1) work search results -- including authors works, (2) works edition tables, (3) lists, and (4) editions pages show "Not in Library" when a book is unavailable or print-disabled. For books which are print-disabled only, the primar

[2020-01-07 23:48] tfmorris commented on #2707
This was introduced in #2067 and appears to only affect the home page.

[2020-01-08 00:22] tfmorris opened #2831 "Conditionally fetch blog RSS feed - performance improvement"
Currently we unconditionally fetch and XML parse the RSS feed. We do cache the result, but only for 5 minutes and the feed changes on the scale of months, not minutes. We should use one of HTTP's conditional GET mechanisms to only fetch the payload when it's changed.

### Describe the problem that you'd like solved

The payload includes

[code]
which could be used to tailor the polling period, but

[2020-01-08 01:20] hornc commented on #2409
closing as per comments, notes field (and or external links) currently provides this functionality.

[2020-01-08 01:20] #2409 closed

[2020-01-08 01:23] hornc commented on #2391
I agree with @seabelis on this, and @guyjeangilles 's summary,
* Printer is available as a dropdown in the Contributor menu
* In the case where there is no Publisher the Printer is used in the Publisher field (in line with standard bibliographic practice)

[2020-01-08 01:23] #2391 closed

[2020-01-08 03:24] hornc commented on #2621
Digging into this further I have found the following in the `ol-home` infobase logs:

[code]

[code]

And from importing a few of these I can see that OL is indeed sending `"covers": [null]`

The obvious fix is to ensure `covers` is dropped if there are no values, but I will investigate why the scanned archive.org cover is not being found.

The example in this case was: https://archive.org/details

[2020-01-08 03:39] hornc commented on #2621
Appears to relate to #2147 -- the code is looking for `title.jpg` , but not trying `cover.jpg` if it doesn't exist.  #2147 did not come to a conclusion whether `title` or `cover` is better (seems to be dependant on the particular scan), but we should at least try the other if the first one does not exist to avoid these errors.

[2020-01-08 04:18] BrittanyBunk commented on #2695
@seabelis Sorry to go back to this, I think you might've gotten me at a bad time or something, but I spoke a little too soon without looking into all the details - as it's really hard to go on what 'profit/loss' annual reports you refer to - as I haven't seen them in the OL before - so I really can't judge on that until I see it.

Let's add one in: http://www.rtlgroup.com/files/pdf2/rtl_group_annu

[2020-01-08 04:21] BrittanyBunk commented on #2695
@seabelis it has been discussed, but it's still in the works (creating a document section). Due to pushback on development of it, there's not much to say right now.

[2020-01-08 04:28] BrittanyBunk commented on #2820
@tfmorris not every kids book is going to come from an award. That's why it's better to base it on a repository - like a bookseller - like Amazon or Barnes and Noble: https://www.barnesandnoble.com/b/books/kids/_/N-29Z8q8Ztu1 B&N even separates by age, which is even better - as it's aligned with the other github issue here that goes with it

[2020-01-08 04:34] BrittanyBunk commented on #2751
@seabelis that seems like a conversation for another github issue. Should we create one and add our concerns there - like where (and how) to put the catalog # in? I think we could do better than making it lost in the notes section (to me, it's more valuable than that), so creating a new github issue's a good way to go for me at least.

[2020-01-08 04:35] hornc commented on #2621
Also check [admin interface] https://openlibrary.org/admin/imports for other failures

[2020-01-08 04:39] BrittanyBunk commented on #2746
@LeadSongDog No, I was - by stating the options we have. Good thought. I will add onto that in that - while people don't need to see the lines of code a bot works by, it's good to have a list of what the bot itself does - and an ability for people to say if it's doing its job correctly, and what more bots we need (if the current ones aren't enough) - to be able to have better bots is all.

[2020-01-08 04:43] BrittanyBunk commented on #2391
@hornc That's true, but we should also mention that for all the other info, it does in the same box as the publisher's info for address and date printed and under edition info for number of times printed.

[2020-01-08 13:24] seabelis opened #2833 "Date field error when using non-numeric characters"
When using text in the 'When was it published? ' field an error is thrown. /opt/openlibrary/deploys/openlibrary/4ba4afd/openlibrary/templates/type/edition/view.html: error in processing template: ValueError: invalid literal for int() with base 10: ‘20XX’ (falling back to default template)
This is a new error. I have been able to use text in that field as well as the copyright field in the past.

#

[2020-01-08 23:40] #2820 closed

[2020-01-09 11:43] seabelis commented on #2833
Also throws error when using hyphens, https://openlibrary.org/books/OL27233549M/Defensive_Eating_with_Morrissey

[2020-01-09 14:19] BrittanyBunk commented on #2829
shouldn't these say 'print disabled preview', as it's not a preview for everyone?

[2020-01-09 14:21] BrittanyBunk commented on #2824
@guyjeangilles @seabelis how come it still has the 'needs submitter input' label then?

[2020-01-09 16:26] #2827 closed

[2020-01-09 18:14] #829 closed

[2020-01-09 21:09] tfmorris commented on #2824
Records should **NEVER** be repurposed with a different identity. This will cause all kinds of chaos for anyone who has stored the identifier and associated it with its original meaning.

If these works are duplicates of each other, then they should be merged together, consolidating all the editions on a single canonical work. This will have the effect of causing the old identifiers to redirect to

[2020-01-09 21:15] tfmorris commented on #2824
To save others having to transcribe URLs from the image, they are:

* Edition - https://openlibrary.org/books/OL25568921M/E-flat_Alto_Saxophone
* Work that had its identify changed - https://openlibrary.org/works/OL16989440W
* List - https://openlibrary.org/people/hawaiisunfun/lists/OL106255L/my_edited_books

[2020-01-09 21:41] #314 closed

[2020-01-09 21:52] cdrini opened #2836 "Books without covers not showing title/author in carousels on 3+ page"
Books which don't have covers should show title/author even if on 3+ page of carousel.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/72107543-8d7c3c00-32ff-11ea-8ebc-a1e2d8a2092b.png)

### Relevant url?
e.g. https://openlibrary.org/publishers/John_Bartholomew_&_Son

### Steps to Reproduce

1. Go to https://openlibrary.org/publishers/John_Bartho

[2020-01-09 22:55] tfmorris opened #2839 "Banner code should not load JS when no banner (Remove Stripe (stripe.com) tracking)"
Almost a dozen requests to stripe.com are being made on every page load, even if the page doesn't have any "Buy" buttons. This is both a performance suck and a privacy concern. There should be no reason to contact stripe.com at all for any page that doesn't have a Buy button.

### Evidence / Screenshot (if possible)
![OL-Stripe-Tracking](https://user-images.githubusercontent.com/82178/72111212-1db

[2020-01-09 23:35] tfmorris commented on #892
This newly imported author, Ran Walker, 2019 Indie Author of the Year: https://openlibrary.org/authors/OL7696192A/Ran_Walker
has 0 works listed in the search results, indicating that **none** of the 6 books imported in Oct/Nov 2019 caused the author to be reindexed.

![OL-author-not-indexed](https://user-images.githubusercontent.com/82178/72113320-1a2df680-330e-11ea-9ec7-eef167c639d6.png)

The imp

[2020-01-09 23:46] BrittanyBunk commented on #2836
@cdrini idk why, but it shows a blank cover instead of no cover at all. If that's removed, then the screen behind it (with the title and author) can show.

[2020-01-10 01:07] jdlrobson commented on #2839
Pretty sure this is the banner code. I complained about this in slack.

[2020-01-10 02:42] BrittanyBunk commented on #2824
@tfmorris they aren't duplicates, just different editions of the same work.

[2020-01-10 05:42] tfmorris commented on #1553
Did we ever do a comparison of before and after timings/performance? How much did things improve (or not)?

[2020-01-10 07:18] cdrini opened #2841 "Pages with preview button loading bookreader before clicked"
Pages with the preview button are loading 2.4MB of bookreader code/images on pageload instead of once the preview button is clicked.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/72133041-84ff2200-334e-11ea-8dde-51615302a156.png)

### Steps to Reproduce

1. Go to https://openlibrary.org/books/OL24203981M/A_Confederacy_of_Dunces
2. Open devtools

[2020-01-10 21:34] hornc commented on #162
Actionable:
For each source identify and validate format.

If the format is MARC21 (or can be neatly converted to MARC21 using yaz-marcdump): upload to an ol-data item to hook into the bulk-MARC import pipeline.

[2020-01-11 02:44] cdrini opened #2846 "/search.json doesn't set Content-Type: json"
/search.json doesn't set content type JSON.

### Steps to Reproduce

1. Open browser console
2. Go to https://openlibrary.org/search.json?q=isbn:9780062935045&mode=everything
3. Check networks tab

* Actual: No `Content-Type` specified
* Expected: `Content-Type: application/json`

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF72
- **Operating system?** Win10
- **Environment (

[2020-01-11 04:59] jdlrobson commented on #2839
this is definitely coming from https://archive.org/includes/donate.php (specifically donation-banner.min.js). It also loads another version of jquery. All the JS it loads is **render blocking** (no use of async attribute). We can do better than this!

Can I suggest we update get_donation_include to be configuration based (And disable it now as part of that) so it is not included in the page for ev

[2020-01-12 10:37] seabelis commented on #2785
@mekarpeles I was aware that it would be visible in the upload screen, but is this an issue?

[2020-01-12 15:30] Camillo-Pellizzari commented on #2248
+ https://openlibrary.org/authors/merge?key=OL6090558A&key=OL6002080A

[2020-01-12 18:04] nilshah98 commented on #2846
Hey, I would like to take this issue.

[2020-01-12 19:04] BrittanyBunk commented on #2786
the author page should have a field box for genres they are a part of too.

[2020-01-12 19:09] BrittanyBunk opened #2848 "Give series their own OL ID"
There are multiple reasons for this, but 1) they don't exist, 2) there are multiple works/volumes across series with no current way to connect them all, 3) differentiates series from catalogs - as there are multiple series in a catalog and the catalog numbers could go with the publishers books, 4) prevents excessive listing in work/edition descriptions, 5) helps with the organization of the site i

[2020-01-12 21:22] #2648 closed

[2020-01-12 23:02] hornc commented on #2674
@seabelis, there is an intent to import pre-ISBN physical books with AISN, e.g. https://www.amazon.com/Greek-studies-Gilbert-Murray/dp/B0007JAFEA

I have not been able to determine a way to tell the difference between an ebook and a pre-ISBN book (I don't think there is a way)

I think we _do_ want to import:
* Pre-ISBN books with ASINs
* Modern E-books with ASINs

but we do _not_ want to import s

[2020-01-13 02:50] hornc commented on #162
datahub.io looks to be stale. We already had data taken from these sources on archive.org.

The CERN and Harvard data did not have the binary MARC exposed suitable for bulk importing. I have put the .mrc files on the items:

https://archive.org/details/cern_marcxml
and
https://archive.org/details/harvard_bibliographic_metadata

[2020-01-13 02:50] #162 closed

[2020-01-13 08:37] seabelis commented on #2674
@hornc I think the issue with ASINs is they are just amazon catalog numbers; they don't indicate that something is a book or a unique book. What is the expectation for the imported Kindle and Audible items; will they be imported with their ISBNs? Even Goodreads has separate items for Kindle ( by ASIN) and their corresponding ebook records (by ISBN). I'm not sure if this is a marketing choice or be

[2020-01-13 16:51] LeadSongDog commented on #2674
A few seconds on Worldcat found that edition and numerous others including translations to Spanish and French.
https://www.worldcat.org/search?q=Greek+studies+1947+Gilbert+Murray

If an AMZ record has title, year, publisher, and author it should be straightforward to find the matching OCLC entry and get some more reliable catalogue data to work with, vastly improving the entry:
https://openlibrary

[2020-01-13 17:44] tfmorris commented on #2674
We already have that edition: https://openlibrary.org/books/OL26546996M/Greek_studies

Actually we have a 1948 printing of the 1947 reprint edition, but it's cataloged as being published in 1946.

What are the odds that Amazon will have a good quality catalog record for an item that exists nowhere else?

[2020-01-13 18:20] tfmorris opened #2851 "LCCN incorrectly imported when containing alpha characters"
Significant, non-numeric, characters are being dropped from LCCNs on import from MARC records. This is a long standing bug, so perhaps this is a duplicate report, but I can't find it in the current bug tracker. Perhaps it's in one of the previous trackers and didn't get transferred.

As an example, this MARC 010$a [field](https://openlibrary.org/show-records/OpenLibraries-Trent-MARCs/tier1.mrc:171

[2020-01-13 19:39] tfmorris commented on #162
Yes, datahub.io is very stale. Some of the data sets, like CERN, haven't changed in a decade, but others like Harvard's should probably be checked to see if there's a more current version before using. Bibliographic data is relatively stable, but they have hundreds of librarians improving their cataloging over the years.

[2020-01-13 20:00] hornc commented on #2851
Thanks for adding this issue @tfmorris -- I wasn't aware of this unfortunately, it shouldn't be broken and I want to fix it ASAP!

[2020-01-13 23:43] hornc opened #2852 "Replace all urllib / urllib2 imports and uses with `requests`"
`urllib2` is old, and a bit clunky -- I've found recently it can't do some of things I needed it to do, and it also causes problem for moving to Python3, and generally seems to make the code more complex.

Instead of re-using it, and adding new features that use the older mechanisms, can we consider refactoring to use `requests` instead?

My PR where I stripped out `urllib2` and `StringIO` etc to

[2020-01-14 00:00] hornc commented on #816
I think this relates to #2249 which was fixed by #2684 and caused by the ebook filtering being unintentionally added to the results

[2020-01-14 00:02] hornc commented on #816
possible example: https://openlibrary.org/subjects/museums.json

shows `"ebook_count": 5304` and `"work_count": 5304` which seems suspicious

[2020-01-14 00:05] cdrini commented on #2839
I've notified the UX team; if a quick-fix isn't possible on their side, I'll disable the banner on prod in our repo for this week's deploy. Note this is loading ~1.7+ MB, 1.2M from/to stripe.com .

It (I think) is the cause of poor load times in our SEO (banner went up ~start of dec)

![image](https://user-images.githubusercontent.com/6251786/72302277-7b6c0780-3637-11ea-9e96-ed352afa3a2d.png)

[2020-01-14 00:05] tfmorris commented on #2852
I'm strongly supportive of switching to requests since it has things like built-in (or easy to add) support for things like retries, timeouts, caching, etc.

Having said that, there's so much critical work pending that I'm not sure we can afford to being doing "nice to have" work on existing code that works. Refactoring modules as they get worked on seems fine though.

[2020-01-14 00:05] hornc commented on #915
Reporting these in the OL channel for them to be dealt with by Jeff is the current standard process. I can help out if there are issues at scale that need an automated data fix.

[2020-01-14 00:05] #915 closed

[2020-01-14 00:21] hornc commented on #2852
Agree.
Refactoring is why I wanted to publicise this as a common solution. When devs work on a module -- If they find themselves banging heads against `urllib2` for any reason, first thought should be to remove it and use requests instead. I just had this happen a couple of times in a row, and wanted to share it as a common time saving way forward, and perhaps we can standardise some of the retry

[2020-01-14 01:17] cdrini commented on #2149
Was this closed by accident?

[2020-01-14 01:22] mekarpeles opened #2853 "Re-enable donation banner import (once stripe import fixed)"
@iisa if you can give us a 👍 update here (once changes are complete on petabox) @cdrini may re-instate on our side.

Here's the issue #2855 causing it to close

[2020-01-14 01:22] cdrini commented on #2846
Go for it! Let us know if you have any questions :+1:

[2020-01-14 01:34] mekarpeles commented on #2833
Finished (in a different repo) -- it's on production!

[2020-01-14 01:34] #2833 closed

[2020-01-14 01:59] cdrini commented on #2853
I marked myself as a watcher on https://webarchive.jira.com/browse/WEBDEV-3040 , so I'll receive an email once it's fixed and then can be fixed here :+1:

[2020-01-14 02:43] cdrini commented on #2853
In the PR I put a super obvious notice that it's not working, so less likely to go unnoticed; so dropping to  P2

[2020-01-14 02:45] cdrini commented on #2839
UX team was aware and is on it! :+1: I've disabled on OL for now until their fix is deployed.

[2020-01-14 02:47] hornc commented on #1401
Oapen bulk MARC records are located at https://archive.org/download/marc_oapen ready to be imported using the /api/import/ia endpoint

[2020-01-14 03:05] mekarpeles opened #2856 "Add Import/Update logic into get_amazon_metadata function itself?"
Right now `get_amazon_metadata` is called when the /isbn endpoint is hit. However, we also call `get_amazon_metadata` **everytime** an editions page is hit (to fetch price and other data for the side menu). When we do this, we should take the opportunity to update that editions page w/ missing fields (e.g. bookcover, missing authors, etc):

https://github.com/internetarchive/openlibrary/blob/83604

[2020-01-14 03:12] mekarpeles opened #2857 "/isbn returns 404 no result, when really API timeout"
/isbn endpoint often fails to fetch metadata because of a suspected API timeout / rate limit. Instead of showing such an error, a 404 page not found is displayed to the user. The endpoint should fail/respond accurately (both in .json mode, as an API, and to users)

Similar to
https://github.com/internetarchive/openlibrary/issues/1807

[2020-01-14 03:16] #2839 closed

[2020-01-14 04:16] hornc commented on #2852
possibly unused `urllib` + `urllib2` in openlibrary/plugins/upstream/addbook.py ?

[2020-01-14 05:36] cdrini commented on #2852
PyCharm identifies them as unused (amongst other things)
![image](https://user-images.githubusercontent.com/6251786/72317004-e92f2800-3665-11ea-8a46-c1017550dc73.png)

[2020-01-14 05:47] nilshah98 commented on #2846
Sure thing, I will get started on it.
Can you maybe assign me and label it as in progress as well?

[2020-01-14 06:05] hornc commented on #2293
I have a working test image pushed to the branch https://github.com/internetarchive/openlibrary/tree/python3

It uses Python 3.5. A proper version should upgrade to Bionic as well.

Still working through the basic code issues though. Having a local image should speed up the process though!

[2020-01-14 06:19] cdrini commented on #2293
^ here's the diff: https://github.com/internetarchive/openlibrary/compare/master...python3

[2020-01-14 10:57] nilshah98 commented on #2846
Opened a PR resolving the same at - #2861
Please, review @cdrini

[2020-01-14 16:44] #2846 closed

[2020-01-14 17:17] #2739 closed

[2020-01-14 18:03] cdrini commented on #686
@mekarpeles Could you add @nilshah98 to the slack channel? They just completed their first PR :) #2861

[2020-01-14 19:20] nilshah98 commented on #686
Thanks a lot @cdrini .
I look ahead to get started and contribute to this community.

Specifically I am targeting GSOC 2020, and would like to know if there are any updates on the same.
Cheers, and thanks for having me again!

[2020-01-14 19:22] tfmorris commented on #1958
Any edit that results in an empty contributors list (ie removing the only two contributors) results in no change. It looks like the backend must be interpreting the empty payload as "no change" rather than "empty list"

[2020-01-14 20:15] iisa commented on #2853
@cdrini, @mek - just released the code on archive.org side.

[2020-01-14 21:20] guyjeangilles opened #2863 "Bot Opportunies"
### Preface
The old [Writing Bots Wiki](https://github.com/internetarchive/openlibrary/wiki/Writing-Bots) used to have a list of "Bot Opportunities" that have been migrated here. The list migrated from the wiki will likely need further breakdown.

Contributors can edit this issue to track all bot-related clean up
### Legend
   - A: Authors
   - E: Editions
   - W: Works

### Bot Clean up Opportuni

[2020-01-14 21:20] tfmorris opened #2864 "Canonical link should only include page and sort parameters"
Google search results include multiple copies of author pages because we're not setting the canonical link correctly. This is probably diluting the authority of the pages and hurting their search results placement.

### Evidence / Screenshot (if possible)

The search results for: https://www.google.com/search?q=%22the+art+of+nonfiction%22+openlibrary
include both: https://webcache.googleuserconten

[2020-01-14 21:28] tfmorris commented on #2864
The offending code is here: https://github.com/internetarchive/openlibrary/blob/2f1f2806c5bf3c0aeb65753a08614cab9086e874/openlibrary/plugins/upstream/utils.py#L730-L739

There may be some cases where we want to include the query parameters, both `sort=` definitely isn't one of them. I guess we could start by blacklisting it and then add more exceptions as we find them.

[2020-01-14 23:27] hornc commented on #2312
@cdrini I added the feature to add ASINs when imported recently #2218 and since then the value of these imports, and ASINs as a reliable identifier, have been brought into question, see #2674

Highlighting the ISBN10 as an ASIN seems now to be merely duplicating data, and the provenance, where is is relevant, is already captured by the `"source_records": "amazon:<id>"

Adding this identifier: amaz

[2020-01-15 05:11] jdlrobson commented on #2839
Thanks all!!

[2020-01-15 09:55] seabelis commented on #2064
Is this a duplicate of #889 ?

[2020-01-15 11:50] Camillo-Pellizzari opened #2870 "Subjects directly linking to authors"
I've noticed this problem: subjects like https://openlibrary.org/subjects/person:jean_genet_(1910-) and https://openlibrary.org/subjects/person:jean_genet_(1910-1986) should be merged (they both represent https://openlibrary.org/authors/OL129758A/Jean_Genet) and there is no simple way to do it semi-automatically.

My suggestion is linking subjects directly to author records, when an author is a su

[2020-01-15 16:23] BrittanyBunk commented on #2870
I think 'subjects' shouldn't exist for authors and that the info on these subject pages should be moved to the author pages, as the author pages are pretty blank for their info. The exception, of course, is if there's a specific use for subject pages (like consistency or something), I opt for merging the two together as one author page.

[2020-01-15 17:04] tfmorris commented on #2870
There is also https://openlibrary.org/subjects/person:jean_gen%C3%AAt_(1910-1986)

People as authors and people as subjects are two different concepts. The subject is intended for use with books like Jean-Paul Sartre's [_Saint Genet_](https://openlibrary.org/works/OL4489239W/Saint_Genet) which is about Genêt.

The issue with subject aliases is a known one, but can't really be addressed until we ha

[2020-01-15 17:15] tfmorris commented on #2819
No. My expectation is that we'll convert everything to structured form at once, but with perhaps imperfect resolution/merging of duplicates which will improve over time. ie we might have two different subjects with labels of "History" and "Histoire" but over time they'll get consolidated together into a single object (with redirects for the former merged subjects).

[2020-01-15 17:41] #2382 closed

[2020-01-15 18:23] mekarpeles commented on #967
I think I disagree with this issue. Especially given our goal is to have one page, considering the future that there will not be a fundamentally different Page between a work and edition. It seems like showing whatever information we have it's better than removing or hiding fields where our data is messy.

If anything I'd rather show the work title and subtitle I need action page and then show wha

[2020-01-15 18:31] cdrini commented on #967
The current implementation is broken as is, so this is fine. We can change it once we have a better plan. (See https://dev.openlibrary.org/books/OL26414568M/Farbenblind ). I don't see a reason to block the open PR on this. This isn't messy data; the data is entirely correct in this case.

[2020-01-15 18:31] cdrini commented on #967
Is there a typo here?

[2020-01-15 20:29] biblioarchy opened #2873 ""Extend /addbook to include easy import from partner services""
In addition to manual input, http://openlibrary.org/addbook should let the patron select a service (e.g. amazon, oclc, etc, bwb) and provide the unique ID for that service to automatically importI'd cc @hornc and @cdrini

[2020-01-15 21:35] tfmorris commented on #967
Independent of whether there's a single page style or two, editions and works will always be different types of things. Fusing data across multiple records, let alone multiple types of records is very tricky to get right.

Some cases to consider:
* work has subtitle (delimited as expected by ':'), edition is the same language, has title in title field and no subtitle
* edition as subtitle in title

[2020-01-15 21:41] tfmorris commented on #2382
I agree with @LeadSongDog that both descriptions have their place. The problem with the example given seems to be that the edition notes largely duplicate the work notes rather than focusing on things unique to that edition. When the work notes are dropped, a bunch of useful information will disappear.

[2020-01-16 01:14] BrittanyBunk opened #2874 "column for tags is too small in lists"
Extend the column to the end of the page - horizontally

![image](https://user-images.githubusercontent.com/55302685/72484825-7be0db80-37ba-11ea-8634-fc6f2800da62.png)

[2020-01-16 01:18] BrittanyBunk commented on #2382
@tfmorris the issue for me is not duplication but clutter and the fact that I usually want one place for each bit of info. So if I want to see the work's description, I'll go to the work page. That info shouldn't be everywhere.

If you want a better example:
https://openlibrary.org/books/OL7364600M/Art_Through_the_Ages

[2020-01-16 01:23] BrittanyBunk commented on #2870
@tfmorris I guess we could do that, but wouldn't it also be nice to have a link on the author's page to their subject, so people can see it from there? I didn't even know subject pages existed and it would be a great addition.

[2020-01-16 01:52] BrittanyBunk opened #2875 "Covers in lists with images show up blank"
example:
In list:
![image](https://user-images.githubusercontent.com/55302685/72486481-e0526980-37bf-11ea-923d-d052a7e476b4.png)
Edition: https://openlibrary.org/books/OL9462743M/Words_to_Own
Work: https://openlibrary.org/works/OL20410001W/Words_to_Own

This is one of other examples I've seen with this issue.

[2020-01-16 12:30] seabelis commented on #2694
I will write up guidelines based on these discussions.

[2020-01-16 12:30] #2694 closed

[2020-01-16 12:30] seabelis commented on #2666
I will write up guidelines based on these discussions.

[2020-01-16 12:30] #2666 closed

[2020-01-16 12:30] seabelis commented on #2664
I will write up guidelines based on these discussions.

[2020-01-16 12:30] #2664 closed

[2020-01-16 12:30] seabelis commented on #2662
I will write up guidelines based on these discussions.

[2020-01-16 12:30] #2662 closed

[2020-01-16 14:00] seabelis commented on #967
Only in cases where all editions of that language have the same subtitle and the title has never been changed. This is not always the case; [UK and US titles frequently vary](https://openlibrary.org/works/OL16654793W/Far_From_the_Tree); sometimes the publishers c[hange the title for later editions](https://openlibrary.org/works/OL5833520W/The_Flavor_Point_Diet) or drop the subtitle altogether (htt

[2020-01-16 15:59] LeadSongDog commented on #967
For the above translation example, comparing https://openlibrary.org/books/OL6929275M/The_French_impressionists?v=3 to https://openlibrary.org/books/OL6929275M/The_French_impressionists?v=4
note that the presence of an edition subtitle will override the display of a work subtitle. The work subtitle is only seen on the edition if there is no edition-specific subtitle.

[2020-01-16 18:45] tfmorris commented on #890
Looks like we got a few more months reprieve. At the end of December, the Python Software Foundation pushed the retirement date out (again!) to April 2020.

https://www.python.org/psf/press-release/pr20191220/

[2020-01-16 19:01] tfmorris commented on #2875
The list appears to be here: https://openlibrary.org/people/hawaiisunfun/lists/OL106255L/my_edited_books (please include all relevant details when reporting a problem)

The edition is what was added to the list and it doesn't have a cover on OpenLibrary, which is, I suspect, at least part of the problem. The OL edition page appears to be falling back to a cover from Internet Archive https://archiv

[2020-01-16 19:38] tfmorris commented on #2382
The "clutter" there was entirely introduced by a single user who [completely changed the identity](https://openlibrary.org/books/OL7364600M/Art_Through_the_Ages?b=17&a=6&_compare=Comparer&m=diff) of the record from an Elsevier Australia edition of 495 pages [for sale on Amazon](https://www.amazon.com/gp/product/0155037595) to an edition published in New York.

I understand that *you* want these se

[2020-01-16 21:15] BrittanyBunk commented on #796
I see issues with some FAQs sections that aren't detailed enough. Bit to add in is in []'s and if it has no words in it, the wording was removed.
1. I have an ebook that I'd like to donate to Open Library. How can I do that?
You can only donate books that you own the rights to yourself [or is in the public domain]
2. How can I contribute information to Open Library?
You can help build the Library.

[2020-01-16 23:18] BrittanyBunk commented on #2875
@tfmorris where's that edition?

[2020-01-16 23:19] cclauss commented on #890
Yes but this project is the last major project that I know of that has not yet already gotten over the line.

[2020-01-16 23:21] BrittanyBunk commented on #2382
@tfmorris I wasn't specific. I think 'clutter' just meant the works description everywhere in addition to the edition description, but whatever decision is made is what will show. I just gave my suggestion.

[2020-01-16 23:29] tfmorris commented on #2875
It's the same edition you posted the link to.

[2020-01-17 01:10] hornc opened #2876 "Bulk MARC import API does not handle invalid start positions gracefully"
Bulk MARC import API does not handle invalid start positions gracefully, returns a HTTP 500 error.

[code]
Return an appropriate HTTP error code, with JSON error message indicating the problem.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operat

[2020-01-17 01:54] hornc commented on #123
relates to #2875

[2020-01-17 02:20] hornc commented on #2304
Relates to #2865 although I'm not sure the PR changes anything with respect to this issue, unfortunately.

[2020-01-17 02:57] hornc opened #2877 "One bulk MARC record has off-by one errors in its index, causing IA and OL import problems"
This is a bit of a complicated one, @judec brought the symptoms to my attention from an archive.org side.

A recent example that shows all the aspects of this issue (will generally require admin access to view all of the logs -- sorry)

From https://openlibrary.org/admin/imports there was this recent error:
![image](https://user-images.githubusercontent.com/905545/72579641-9479fe80-393e-11ea-8eac-

[2020-01-17 08:16] hornc opened #2878 "dependabot -- disable python checking, but re-enable it once we move to Python3 properly"
dependabot -- disable python checking, but re-enable it once we move to Python3 properly

We know many of our dependencies are painfully out of date, the many PRs opened by dependabot for python muddy the waters, and we want to minimise complexity and risk of breaking behaviour while working towards moving to python3.

I suspect some of these "dependencies" are not used, and we should remove them

[2020-01-17 16:16] LeadSongDog commented on #2819
So then, what happens in the many cases where there's no structured form clearly equivalent to the old free-form? Do we have a catch-all?

[2020-01-17 18:07] tfmorris commented on #2819
There's no such case. See "everything" in my previous reply.

[2020-01-17 22:19] tfmorris opened #2879 "Don't mix urllib with Requests"
Spotted during the review of #2869, there are three modules which use a mix of `urllib` and `requests` which should never be needed (ie it's an anti-pattern).

This has a bug caused by the error handling not being updated when the module was switched to use Requests:

https://github.com/internetarchive/openlibrary/blob/970b31b69e36651a57a59ba8421d8420f1742236/openlibrary/core/vendors.py#L315-L336

[2020-01-18 17:38] tfmorris opened #2881 "Don't use internal action/state names in user interface"
Our internal action names and state names are always in English, so can't be used directly in the user interface (and such close coupling between implementation and appearance isn't a great idea even in a monolingual system).

There are a few places where this is done, but one that came up in #2442 is:

https://github.com/internetarchive/openlibrary/blob/63d80c064d71de4d7feab7848869ae58ecaafe00/op

[2020-01-20 08:47] cclauss opened #2889 "MutableMapping is not a 100% replacement for DictMixin"
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/upstream/utils.py#L6
https://github.com/infogami/infogami/issues/6
[code]
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/lo

[2020-01-20 10:39] cclauss commented on #2878
My preference would be that you close individual PRs which will cause dependant to ask you if it should stop notifying you about that dependancy.

[2020-01-20 17:08] tfmorris commented on #2864
Something I didn't consider when writing this up is pagination of multi-page results. In that case, the `sort` order changes not only the ordering of items on a page, but the contents of the page itself. The [SO answer](https://webmasters.stackexchange.com/a/114624) posted by @flankstaek on #2880 discusses the considerations of significant vs insignificant query parameters.

I'm not sure whether w

[2020-01-20 17:14] jdlrobson commented on #2864
Do we want search results showing up in search results?
I wonder if the canonical URI should be the URI minus the query string.

In fact is there any case where including the query string in the canonical URI makes sense?

[2020-01-20 17:35] tfmorris commented on #1486
Actually, the logger mentioned above is insignificant. The important line is https://github.com/internetarchive/openlibrary/blob/40f637b9c27cfb1225be9a101c628ea9dfc38ad9/openlibrary/core/stats.py#L17

The use of the client is super simple and there are just two methods used `timing` and `increment`, so should be straightforward to replace.

[2020-01-20 17:50] cdrini opened #2891 "Last deploy causing 503s on prod"
### Summary

- **What is wrong?** Observing Intermittent 503s on prod and sustained high memory usage resulting in ol-web3 becoming unresponsive.

- **What caused it?** #2838 in [deploy-2020-01-16](https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-01-16) ; exact issue in that PR yet-to-be-determined.
- **What fixed it?** Reverting the deploy until the PR in question was found

[2020-01-20 17:50] cdrini commented on #2891
We rolled back the deploy yesterday to resolve

[2020-01-20 17:52] cdrini commented on #2891
We were noticing high memory usage on ol-web[34] as well as high swap rates on ol-web4. This suggests a memory leak.

Committed memory on ol-web4 (web3 was similary)
![image](https://user-images.githubusercontent.com/6251786/72747763-9385de80-3b83-11ea-8c0f-ebd0ca0e3d09.png)

![image](https://user-images.githubusercontent.com/6251786/72747811-a8fb0880-3b83-11ea-8864-08f57bb164d3.png)

[2020-01-20 17:58] cdrini commented on #2891
Here's what went out on prod: https://github.com/internetarchive/openlibrary/compare/deploy-2020-01-09...deploy-2020-01-16?w=1

This 2 files seem like the largest changes:
- https://github.com/internetarchive/openlibrary/compare/deploy-2020-01-09...deploy-2020-01-16?w=1#diff-76be93633d51ef7465bfa65e0eb27536
- https://github.com/internetarchive/openlibrary/compare/deploy-2020-01-09...deploy-2020-01

[2020-01-20 18:13] tfmorris commented on #2891
I'm not sure what 2 files you're talking about since those three links all show the same contents, which looks like a list of commits.

[2020-01-20 18:15] cclauss commented on #1486
https://statsd.readthedocs.io looks like a reasonable replacement.

[2020-01-20 18:24] tfmorris commented on #1486
Yup, that's what I suggested as an alternative over a year ago. I've implemented the suggestion in #2892.

[2020-01-20 18:24] cdrini commented on #2891
Oh, that seems like a Github bug. Click on "files changed" tab, then press enter in the URL bar. Does that work? The hash should go to the right file in the diff

[2020-01-20 18:34] tfmorris commented on #2889
I'm struggling with the extreme brevity and the apparent mismatch between the issue title and the code.

Is the solution not the same as what was used for infogami?

[code]

and then use `Mapping` instead of `DictMixin` for the only reference?

[2020-01-20 19:24] tfmorris commented on #1694
@cdrini The addition of `/opt/local` actually happened in a commit from the main repo to support MacPorts https://github.com/jlopez/maxmind-geoip/commit/2fd74fb574416eb2ad0c47ddefcc5849e23c0f17

The only OL specific changes are supposedly to allow it to be uploaded to PyPI https://github.com/internetarchive/maxmind-geoip/commit/1e3237533d79f5914d8e76bdc1423ddd520dd486, but the official MaxMind pac

[2020-01-20 19:33] cclauss commented on #2889
You are correct.  `from six.moves.collections_abc import Mapping` seems to work at https://github.com/internetarchive/openlibrary/pull/2888/commits/c0ccae0d6b36a36684edeae283c4ef9070ef6978

Sorry.  I had thought that you had done something more complex to fix infogami/infogami#6

[2020-01-20 19:59] cdrini commented on #2707
@tfmorris is this by any chance something you'd be willing to tackle? It just involves editing the above line to include the user's lang (`web.ctx.lang` or something) in the key, and then testing to see if it works.

[2020-01-20 20:30] tfmorris commented on #2891
That doesn't work for me either. Do these files have names?

[2020-01-20 22:08] tfmorris commented on #2707
Sure, it's a 30 second change.

[2020-01-20 23:01] mekarpeles commented on #2891
We've reverted compress.py on `970b31b` on `ol-web3` and are waiting to see what happens with memory:

http://ol-web3.us.archive.org:8088/mrtg/committed.html

[2020-01-20 23:35] mekarpeles commented on #2891
compress.py revert did **not** do the trick, following plan to test get_metadata

Wondering if we may be memoizing more content?

We froze up on ol-web3 when testing our compress.py rollback and restarted here:
https://gnt-webmgr.us.archive.org/cluster/cluster1/ol-web3.us.archive.org#overview

[2020-01-21 00:15] cdrini commented on #2891
This is the reverse diff for the get_metadata PR:

[code]

[2020-01-21 00:52] tfmorris commented on #2852
#2894 shows some code smells which need to be avoid when doing any upgrade of this type.

If you still have an `import urllib2`, it's probably wrong.

[2020-01-21 00:56] hornc opened #2896 "Remove Iptools and GeoIP dependencies"
These dependencies appear to only be used by the deprecated `Libraries` class and endpoint.

Rather than concern ourselves about modern version numbers and compatibility of modules we are not using, let's remove them and their references.

relates to #1694
should replace #2893
and #2866

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeh

[2020-01-21 01:07] #2312 closed

[2020-01-21 03:43] hornc commented on #2896
@mekarpeles are you able to confirm whether this method for getting loan stats is fully deprecated?

https://github.com/internetarchive/openlibrary/blob/457e6d6cbd12d79d1b1ac1fad16d2dea0a857190/openlibrary/plugins/books/readlinks.py#L114-L141

I beleive the current used method which uses the latest API (not fake subjects) is here:
https://github.com/internetarchive/openlibrary/blob/836044c3db8d590

[2020-01-21 07:04] #2851 closed

[2020-01-21 17:24] flankstaek commented on #2864
An (attempted) exhaustive list of query parameters include: `results, offset, m, page, type, sort, mode`

I can see how page, results, sort, & offset all change the content of the page and might want to be included in search results. But I also see how it can crowd search results with similar pages, certainly when considering single page results.

I think the decision on whether to remove or retai

[2020-01-21 21:50] cdrini commented on #2891
We're going to try the above command now :+1:

[2020-01-21 23:04] cdrini commented on #2891
Yep; with the revert on web3 for ~1hr, we didn't see the spike, so it looks like the memory issue was introduced in #2838

![image](https://user-images.githubusercontent.com/6251786/72851020-826ac980-3c78-11ea-9c67-3732221baf79.png)

[2020-01-21 23:14] tfmorris commented on #2891
In addition to all the code reorganization, there's also a switch from urllib to Requests, which I consider fairly significant. I wouldn't expect it to cause an issue, but it's worth investigating.

[2020-01-21 23:22] tfmorris commented on #2891
Possible Requests based memory leak on Python 2.7 https://github.com/psf/requests/issues/4553

[2020-01-22 03:32] hornc opened #2901 "Remove Legacy Lending Code"
There are a number of places in the code where OL is looking for the legacy archive.org collection `lendinglibrary` https://github.com/internetarchive/openlibrary/search?q=lendinglibrary&unscoped_q=lendinglibrary to determine whether something is borrowable -- this should be removed. Hopefully no active code is using this. Marking deprecated methods the newly added `deprecated` module decorator co

[2020-01-22 04:00] BrittanyBunk opened #2902 "Allow field filters for data dumps"
https://openlibrary.org/developers/dumps
Right now - there's only 3 categories (editions, works, authors), which is really difficult to download, because they're too big and not all of the data there necessary. However, downloading is really important.
So I suggest if we could separate it by fields too (publication date, publisher, series name, 'about the __', contributors, etc.) by making a selec

[2020-01-22 04:02] BrittanyBunk commented on #2863
@guyjeangilles I haven't created bots before (I'll look into it more), but I wish there's some description of how bots are created (like what databases they use - do they use the bulk data dump or the API? Idk how to access the API - as the website doesn't say).

[2020-01-22 04:53] tfmorris commented on #2891
Is the "Steps to Close" a thing? If so, why is this closed?

With my teams, I'd also address:
- "What can we improve from a process standpoint to minimize the likelihood of this error or similar ones happen in the future?"
-- It seems like load testing of the dev/staging server might be one thing to consider.
-- Red/Green deploys so that we don't take out the whole site and can roll back easily mi

[2020-01-22 04:57] tfmorris commented on #2901
Note that `inlibrary` is an Internet Archive construct, **not** an OpenLibrary subject. The OpenLibrary search visible to users should be abstracted from the concrete backend implementation.

[2020-01-22 05:19] tfmorris commented on #2902
Can you expand on what use cases you are trying to enable? I usually download full authors+works+editions version of the dump and it takes me less than an hour on my residential connection to both download it and load it into a database. On a well connected cloud computer, this would take much, much less time.

I know that CommonCrawl publishes some datasets in Apache Parquet format. Would that me

[2020-01-22 05:36] hornc opened #2903 "Open Library / latest Infogami integration issue"
Running OL under the standard Python 2.7 but updating `vendor/infogami`  to the latest commit https://github.com/internetarchive/infogami @ b3dfccd577c42d79cec62d9c9002fd37fc869cc3
produces the following error trace in local docker when a work page is loaded:

URL: http://localhost:8080/works/OL61982W/Odyssey

[code]

from the HTML error log:

[code]

[2020-01-22 05:41] hornc commented on #2903
Unsure if it is related, but it demonstrates there is something different about the classes being returned, viewing the json of this work shows the following for `links`:

http://localhost:8080/works/OL61982W.json

[code]

[2020-01-22 05:55] hornc commented on #2903
https://github.com/internetarchive/infogami/blob/b3dfccd577c42d79cec62d9c9002fd37fc869cc3/infogami/infobase/server.py#L97-L100
is where the error is occurring, `d` is
[code]

[2020-01-22 06:48] tfmorris commented on #2903
This sounds like an infogami bug with the current HEAD. It should be reported here https://github.com/internetarchive/infogami/issues

When it's fixed upstream, we can retest.

Is there a failing test associated with this? If not, can we write one? That would allow us to both use `git bisect` to narrow commit that introduced the problem as well as confirm that it gets fixed correctly (and doesn't

[2020-01-22 06:49] tfmorris commented on #2903
p.s. guessing from the two examples, it could be something as simple as a missing `str()` wrapper on a return value someplace.

[2020-01-22 14:27] BrittanyBunk commented on #2902
@tfmorris it's not just for me, but for anyone. Extremely large files are difficult to open and take a long time to work with. I just can't open these in normal programs on my computer, and it'll only get more difficult as the OL's data gets bigger.

So downloading isn't a problem - as it's the same for me too the time. I don't know if it'll meet my needs. I just need only some data fields - like

[2020-01-22 20:06] cdrini commented on #858
Here's an example of a past newsletter email
[Newsletter - New Treasures at the Internet Archive.pdf](https://github.com/internetarchive/openlibrary/files/4099704/Newsletter.-.New.Treasures.at.the.Internet.Archive.pdf)

[2020-01-22 20:14] cdrini commented on #858
Email comes from archive.org:
![image](https://user-images.githubusercontent.com/6251786/72930406-dd102e00-3d29-11ea-8450-8fafc7238b0a.png)

[2020-01-22 20:17] cdrini commented on #858
After verifying email address, the welcome email also comes from IA :/
![image](https://user-images.githubusercontent.com/6251786/72930599-455f0f80-3d2a-11ea-93a1-e9d3534b9b83.png)

[2020-01-22 22:16] hornc commented on #2550
One of the effects of my https://github.com/internetarchive/openlibrary/pull/2838 work (which is not properly merged yet) is that books imported from archive.org are substantially more likely to have covers directly in coverstore. It plugs a loophole where fully scanned books would not save an image because the importer wasn't trying all the available options.

There is a potential re-import task

[2020-01-22 23:26] #2879 closed

[2020-01-22 23:32] #2707 closed

[2020-01-22 23:55] cdrini opened #2906 "Make homepage carousel books i18n aware"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/72944215-4dc54380-3d46-11ea-958b-6947d2f4c11c.png)

### Proposal & Constraints

- [x] #7252
- [x] #9043
- [x] #10562
- [ ] #10742
- [x] #10762

### Stakeholders
@tfmorris

[2020-01-23 00:38] mekarpeles opened #2908 "Upgrade required of Amazon Affiliate Product API"
We would like to inform you that all of your applications making calls to Amazon’s Product Advertising API version 4.0 (PA API 4.0) will need to upgrade to Amazon’s Product Advertising API version 5.0 (PA API 5.0) by March 9, 2020.

PA API 5.0 is a more simple, granular, and consistent API that enables you to quickly and easily link your content to Amazon.

Key Features & Changes
* Access informat

[2020-01-23 00:59] tfmorris commented on #2908
An upgrade window of less than two months? That's pretty obnoxious of Amazon.

The upgrade guide is here: https://webservices.amazon.com/paapi5/documentation/migration-guide/pa-api-40-to-50-mapping.html

[2020-01-23 01:40] tfmorris opened #2910 "Docker image build fails"
Building the `olweb` image no longer works and which blocks all development because it needs to be rebuilt to include the new `deprecated` dependency.

### Evidence / Screenshot (if possible)

[code]
This is related to: https://github.com/jaraco/zipp/issues/14

### Proposal & Constraints

I've confirmed that updating to pip=9 will fix the problem. (The version that we're using from xenial is 8 and

[2020-01-23 01:46] tfmorris commented on #2036
Our Xenial Docker-based development environment is producing dire warnings Node.js and the bundled version of pip doesn't work. I think we should upgrade our dev environment to Bionic ASAP in preparation for a production move to Bionic.

[2020-01-23 02:12] #2878 closed

[2020-01-23 14:38] cdrini commented on #2910
I didn't observe this when I ran `docker-compose build web` on my machine, but I think updating pip is good regardless, so :+1:

[2020-01-23 16:19] LeadSongDog commented on #486
@jdlrobson It seems there are multiple places where get_authors is defined, perhaps that is a problem in itself?:

https://github.com/internetarchive/openlibrary/blob/0aadc9d596671e48248cc6bcc2ba82020c0f0f4a/openlibrary/core/lists/engine.py#L38

https://github.com/internetarchive/openlibrary/blob/19f2062f519ff3189d36ce23d252f1f5a2d36c92/openlibrary/plugins/books/dynlinks.py#L164

https://github.co

[2020-01-23 18:41] hornc commented on #2910
Mentioned in another comment (possibly not gothub) that zipp is a dependency of mockcache , which only gets used if there is no memcache available: https://github.com/internetarchive/openlibrary/search?utf8=✓&q=mockcache&type=

Not sure the value of zipp, but updating pip is a good idea.

Suggestion (optional): there is a suppress version warnings flag set on pip in the Dockerfiles that can probab

[2020-01-23 19:45] LeadSongDog commented on #1946
Perhaps the more common issue would be that classifications and identifiers are not being found? There's no real reason for not looking.

[2020-01-23 21:54] LeadSongDog opened #2913 "Enable searching for a classification on prod"
Works on similar subjects normally are in similar-valued lc_classifications and/or dewey_decimal_class. It should be possible for clients to search on these fields to find such works.

### Describe the problem that you'd like solved

1. Ensure the above-mentioned classifications are put in the SOLR index, not just the edition json
2. Add "Classification" to the list of fields for Advanced search a

[2020-01-24 02:59] BrittanyBunk commented on #2863
I think this relates to #2902, because without data to be able to be easy to work with - it's going to be difficult to parse through to figure out that bots are needed and how to create bots to work with the data. Bots may also be able to work faster with less data too!

[2020-01-24 17:36] LeadSongDog commented on #1808
It seems that the one-work-per-edition constraint is encoded here: https://github.com/internetarchive/openlibrary-client/blob/acdbf03eed5151e4e9f2d88f54a559c174540abc/olclient/schemata/edition.schema.json#L160

[2020-01-25 18:26] Simran-bhardwaj commented on #2798
working on part of this issue under the guidance of @koderjoker

[2020-01-25 21:28] tfmorris commented on #2081
Node 11 was already unsupported when this was written. Odd numbered releases only have a six month lifetime, so aren't a good choice at all.

Node 8 became unsupported at the beginning of Jan 2020 as is introducing a 20 second delay in our build along with a big warning.

We can choose between Node 10 and Node 12. https://nodejs.org/en/about/releases/

Since production was already past Node 10, I

[2020-01-25 23:07] guyjeangilles commented on #2863
@BrittanyBunk The API documentation could be better but you can most of it here: https://openlibrary.org/developers/api

Also the [Bot Wiki](https://github.com/internetarchive/openlibrary/wiki/Writing-Bots) is a little outdated but it's a good place to start. @hornc is a good resource as well.

[2020-01-25 23:16] guyjeangilles commented on #2874
@BrittanyBunk Can you provide a url? I'm not seeing this UI when searching. Also is this on mobile on a desktop/laptop.

[2020-01-25 23:19] BrittanyBunk commented on #2913
@LeadSongDog I think this probably should be closed, as I already created that claim here: #2673. It'll be nice to write it there (unless this is different).

[2020-01-25 23:36] guyjeangilles commented on #2902
@BrittanyBunk I've changed the title to better reflect my interpretation of your issue. Let me know if I'm mistaken

[2020-01-26 01:26] BrittanyBunk commented on #2863
@guyjeangilles If that Bot Wiki could be added to the API documentation page on the OL, it would be an enormous help. I think that's the missing connection for explaining how to make bots! It's also nice that there's a new 'read' section too.

[2020-01-26 13:40] Ma-Sam commented on #686
Hello everyone, I have C ++ experience and would like to contribute to this community.

[2020-01-26 22:31] hornc commented on #2435
I keep being reminded of this. It's probably linked to from the other URLs above too, but here is the list of codes: http://www.loc.gov/marc/languages/language_code.html

[2020-01-26 22:47] tfmorris commented on #2435
The code list on this page has both the /B and /T forms, so is helpful for crosswalking the MARC or ISO 639-2/B `fre` to the ISO 639-2/T `fra` form which most other code systems use.
https://www.loc.gov/standards/iso639-2/php/code_list.php

Apparently the first is derived from the name of the language in English, while the second is derived from the name of the language in the language itself (ie

[2020-01-27 03:10] hornc opened #2915 "Production error when fetching covers caused by missing IA_BASE_URL in revert"
[code]

In
https://github.com/internetarchive/openlibrary/blob/2bc16b0ee1308e1c379a4cfd7d7d4991f22cbd6b/openlibrary/plugins/importapi/code.py#L318

Currently open PR #2909 should fix this issue.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Opera

[2020-01-27 03:11] hornc commented on #2915
This is preventing ongoing imports from archive.org

[2020-01-27 03:40] hornc opened #2916 "Import LC classification from MARC record if existing edition found"
Currently when we import a book from archive.org MARC records, if an existing match is found, the LC classifications (MARC `050`) are not added to the OL record.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-01-27 19:39] hornc commented on #2908
I wonder how much this will affect #2857 and #2444 which I was planning to work on soon (in the proposed next sprint milestone).

[2020-01-27 20:51] LeadSongDog opened #2919 "mk_norm is hard coded for English-only"
On imporrts, title normalization strips articles such as English "the " or "an "; but not French "le ", "la ", "les ", "un ", "une "; Spanish "el ", "la ", "los ", "una ", "uno "; Italian "il ", etc. This causes the creation of huge numbers of redundant work records for non-English works (even without considering translated popular works).

### Evidence / Screenshot (if possible)

### Relevant url

[2020-01-27 20:55] LeadSongDog opened #2920 "Provide title normalization for non-English work titles"
On imporrts, title normalization strips articles such as English "the " or "an "; but not French "le ", "la ", "les ", "un ", "une "; Spanish "el ", "la ", "los ", "una ", "uno "; Italian "il ", etc. This causes the creation of huge numbers of redundant work records for non-English works (even without considering translated popular works).

### Evidence / Screenshot (if possible)

### Relevant url

[2020-01-27 21:02] LeadSongDog commented on #2920
Finger trouble. Dupe of #2919

[2020-01-27 21:02] #2920 closed

[2020-01-27 21:11] cdrini commented on #2891
This is waiting for the "What caused it?" section, which will be determined once #2899 completed.

[2020-01-27 21:40] cdrini commented on #2908
Our amazon python library has an issue for this, but it doesn't look like it's had a ton of progress https://github.com/yoavaviram/python-amazon-simple-product-api/issues/162

[2020-01-27 21:41] cdrini commented on #2908
Here's another migration-y guide: https://webservices.amazon.com/paapi5/documentation/migration-guide.html?ref_=pe_3519780_470445350

[2020-01-27 21:44] mekarpeles commented on #2908
@mekarpeles responsible for issuing new keys in Feb

[2020-01-27 23:00] #2915 closed

[2020-01-28 01:12] #973 closed

[2020-01-28 03:58] tfmorris commented on #2919
This is also mentioned in https://github.com/internetarchive/openlibrary/issues/667#issuecomment-354506842

[2020-01-28 17:05] LeadSongDog commented on #2733
@seabelis Absolutely. Wanted lists should accommodate a) specific edition; b) any edition; c) any edition in a specific language.

Related, for sponsoring acquisitions: if we already have multiple copies in one language we shouldn't tell potential sponsors an unqualified "Not In Library" for other editions in that language.

[2020-01-28 17:52] cdrini commented on #1716
This bug looks like it was introduced in 34e338a26d3ce44bff0a4c9bba66677c9d6500e6 ; where the add page was switched to use the same author autocomplete as regular book editions, but it looks like the books/add endpoint wasn't expecting the fields that that code is supplying. So it looks like this has been an issue since Oct 2018 😬

[2020-01-28 17:57] cdrini commented on #2910
This is odd, I _am_ getting the zipp error when I try to run pytest in docker; why is zipp suddenly necessary?

[code]

[2020-01-28 17:58] cdrini commented on #2910
And the only way I can install `zipp` is to update pip first, because otherwise I get this error:

[code]

[2020-01-28 18:00] cdrini commented on #2910
So for anyone getting this error, the work around until a proper fix is implemented is to run inside docker:

[code]

[2020-01-28 18:49] seabelis commented on #1716
@cdrini I'm pretty sure it's been longer than that, but I can't swear by it.

[2020-01-28 19:23] tfmorris commented on #2910
I'm baffled that it's considered odd when I reported exactly this error a week ago and generated a PR to fix it. The odd part from my point of view is that my initial report wasn't believed.

Why not review and merge the PR instead of proposing workarounds? It includes the change you requested.

[2020-01-28 22:24] tfmorris commented on #2249
So https://openlibrary.org/publishers/John_Bartholomew_&_Son.json now shows an `ebook_count` of 127 which is the same as the `work_count`.

That doesn't seem right. Was that the desired outcome? Adding ?fulltext=false changes both counts to 1.

[2020-01-28 22:30] LeadSongDog commented on #715
Unwanted stemming is also a problem in titles. A search for "Eve" is swamped with "Every", "Even", "Evening", etc. There should be a way to ask for exact matches only.

[2020-01-28 23:16] tfmorris commented on #2487
The query is bad and returning a 400 status.

Here's a pared down one which works:

http://localhost:8983/solr/select?indent=on&version=2.2&fq=type:work&q.op=AND&start=0&rows=20&fl=key,author_name,author_key,title,subtitle,edition_count,ia,has_fulltext,first_publish_year,cover_i,cover_edition_key,public_scan_b,lending_edition_s,ia_collection_s&q=wit&spellcheck=true&spellcheck.count=3&facet=true&fa

[2020-01-28 23:22] tfmorris commented on #2487
A good place to start would be to make sure that the special characters `^()` are getting escaped correctly.

[2020-01-29 04:46] tfmorris opened #2925 ""My Loans" page rendering broken"
Per @JeffKaplan

[2020-01-29 15:42] #2925 closed

[2020-01-29 17:15] cclauss commented on #2916
While you are looking at this can you please explain the source of the `marc` dict in these locations?
[code]

[2020-01-29 20:02] LeadSongDog commented on #2249
I suspect the ampersand is mangling things:
https://openlibrary.org/publishers/John_Bartholomew
and
https://openlibrary.org/publishers/John_Bartholomew.json
agree on 23 works.

[2020-01-29 22:48] tfmorris commented on #2487
It was the caret("^") characters which were breaking things. This affects production systems as well as dev systems, although apparently the error reporting/handling is slightly different between the two(?). Increasing priority based on that.

This has obviously been broken for over 3 months, but looking at the commit history, I don't see any obvious recent changes that are likely to have broken i

[2020-01-30 01:36] #2910 closed

[2020-01-30 04:49] hornc opened #2932 "Subject pages with slashes are not linked correctly from search results page"
Searching subjects search result page gives non functioning links to subjects with slashes in them:

e.g. JUVENILE FICTION / Comics & Graphic Novels / General   16 books, subject

apparently has 16 books, but I can't access the subject URL to find out what they are.

### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/search/subjects?q=general+fiction&mode=everythin

[2020-01-30 05:23] hornc commented on #2249
@tfmorris this look like pre-existing code that sets the counts to the same value:

https://github.com/internetarchive/openlibrary/blob/457e6d6cbd12d79d1b1ac1fad16d2dea0a857190/openlibrary/plugins/worksearch/subjects.py#L132-L134

What uses `ebook_count`? I'd consider this to be a separate issue.

[2020-01-30 09:28] hornc commented on #2487
I cannot reproduce this issue at all, and production search seems to be working generally:
https://openlibrary.org/search?q=the+hobbit&mode=everything
https://openlibrary.org/search?q=proust&mode=everything

I know there have been reports that searching for 1984 gives unexpected results, but I'm now guessing that has something to do with how the search value is being interpreted as a number, not a

[2020-01-30 09:34] hornc commented on #2487
I also tested in Firefox, and after I noticed that the supposedly non-working SOLR link seems to have the carets in the URL encoded, I tried with curl using unquoted carets, and it also worked. Some browsers seem to do the encoding, although it doesn't seem to be required.

[2020-01-30 10:03] hornc commented on #2487
@tfmorris @cdrini I don't know why you see this error and I don't, but just from looking at the debug info Drini posted and the code it refers to, I can see a problem

https://github.com/internetarchive/openlibrary/blob/63549edb29235969372b62aa479c410b06acb21d/openlibrary/plugins/worksearch/code.py#L266-L287

Trace says `reply` is `None`,  if `not reply`, `is_bad` is set to `True`, if `is_bad` it

[2020-01-30 15:46] LeadSongDog commented on #2932
@cdrini Another dupe. Issue #333 covers the same thing in both subject and publisher.
Other dupes at #569, #2202 too.

[2020-01-30 16:29] LeadSongDog commented on #715
@tfmorris Going back to your original search, I notice that https://openlibrary.org/search?author=Mrs+Manley gives rather more precise results, while https://openlibrary.org/search?author=Mrs+Manly returned "No results found". This is a variation on the problem of needing a homophone matching option.

[2020-01-30 17:04] elizaLU opened #2936 "Add Polish translation"
Add Polish translation

### Describe the problem that you'd like solved
Polish translation does not exist

### Proposal & Constraints

### Additional context

### Stakeholders
@tfmorris

[2020-01-30 17:13] BrittanyBunk opened #2937 "Show # of loans in profile's drop down list"
I think the IA has a large issue of long waitlists. I have multiple ideas on how to fix this issue and this is one of them. One difficulty is that on the OL, I can't easily tell that I have any books on loans - because it's not outwardly visible to me. I need to click through and visit the loans page frequently to find out. This is why I'm proposing a method to create an 'outward' view of loans th

[2020-01-30 17:21] BrittanyBunk opened #2938 "Add wait time to loans page"
https://openlibrary.org/account/loans
![image](https://user-images.githubusercontent.com/55302685/73473420-9a5ddf80-4341-11ea-81ce-9d34319aa369.png)
This helps a person know how long they'll wait until a book is available, which is really valuable to know. Without this knowledge - people might unfortunately miss their waitlist spot - which means they may wait for nothing - which isn't good. Or, be

[2020-01-30 17:24] Abhir-24 commented on #2798
working on part of this issue under the guidance of @koderjoker

[2020-01-30 18:54] tfmorris commented on #2487
Hmmm, the problem was reproducible by three people which would seem to make your (@cdrini) installation the outlier, but then the fix doesn't work for @cdrini, so I'm not sure what to think.

That error handling is broken in other ways (as we've seen with broken page renders from other Solr errors), so perhaps I'll focus on improving the error handling so we get better information about what Solr

[2020-01-30 18:58] tfmorris commented on #2249
OK. Looks like that was added by @mekarpeles in 2ee4a7cf9a4d00055e97a95f68e6bb38a1db5eee. Perhaps he can explain the purpose. It seems misleading/wrong to me, but I'll close this.

[2020-01-30 18:58] #2249 closed

[2020-01-30 19:13] tfmorris commented on #2932
And #727.

@hornc your 27 works (not 16 because subject indexing is still broken) are here: https://openlibrary.org/subjects/juvenile_fiction__comics__graphic_novels__general

[2020-01-30 19:13] #2932 closed

[2020-01-30 19:16] tfmorris commented on #333
Are we leaving this as a permanently open "good first issue" or should I just restate my https://github.com/internetarchive/openlibrary/issues/333#issuecomment-489479606 in the form of a one line PR and be done with it?

[2020-01-30 19:19] tfmorris commented on #2938
I though users got email when the book was available for them.

What would the estimate be based on ?

[2020-01-30 19:36] guyjeangilles commented on #333
@tfmorris feel free to open a PR if you have the time. If my memory serves I had hurdles testing my solution because I couldn't create a subject or publisher with a special character in their name in the dev environment.

[2020-01-30 20:10] mekarpeles opened #2940 "Add account registration graphite stats"
We have xauth (linking OL/IA) stats but we're currently missing basic stats about account creation (at the highest level) e.g. in openlibrary/accounts/model.py

### Evidence / Screenshot (if possible)
N/A
### Relevant url?

https://openlibrary.org/account/create

### Related files

openlibrary/accounts/model.py see `stats` call for `xauth` linking

### Stakeholders

@cdrini

[2020-01-30 20:34] #858 closed

[2020-01-30 23:12] cdrini commented on #2487
Yep; tested again and can repro on mine; I haven't tested the fix on my machine yet Tom. I listened to the solr logs and got this:

[code]

Maybe this is a docer version issue? I'm running Docker Toolbox on Win 10 Home with `Docker version 18.03.0-ce, build 0520e24302`; What about y'all?

[2020-01-30 23:13] cdrini commented on #2487
Charles said he has `Docker version 19.03.5, build 633a0ea838` on Ubuntu

[2020-01-30 23:21] cdrini commented on #2487
Tested the direct url with the `^` and it looks like it did trigger that error!

[code]

[2020-01-30 23:25] cdrini commented on #2487
Why this is descrepant is still unclear; my xenial image was created (on ubuntu's side) 2 weeks ago:

[code]

[2020-01-30 23:25] cdrini commented on #2487
Charles confirmed he has the same version

[2020-01-30 23:30] cdrini commented on #2487
What version of docker do you have, @tfmorris ? I'm going to try updating mine just in case to see if it helps.

[2020-01-31 00:22] tfmorris commented on #2487
Docker Destop for Mac with

`Docker version 19.03.5, build 633a0ea`

[2020-01-31 00:22] cdrini commented on #2487
I updated but hit an issue with my build -\_- Unrelated to anything here

[2020-01-31 01:06] #2567 closed

[2020-01-31 03:26] BrittanyBunk commented on #2938
@tfmorris right. But the issue is that to know when the email pops up is uncertain without knowing when the wait time is up. If a person's not paying attention to their email at the right time, they might not get to it and then (idk exactly how this works) it could go to the next person.

It's based on how long people get books + where the person with the book has it. Example: 3 people on the wait

[2020-01-31 05:41] #2889 closed

[2020-01-31 11:06] seabelis opened #2943 "Sort lists dropdown in a useful way"
When adding an item to a list, the lists are displayed in order of creation. For users with a large number of lists, this becomes difficult to manage.

### Describe the problem that you'd like solved
Lists should be sorted either by most recently used at the top or in alpha order so that it is easy to locate on the dropdown.

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-01-31 19:58] aashimgarg commented on #2624
Hey @mekarpeles @tfmorris can i add this link  https://fs.blog/2013/11/taking-notes-while-reading/ .
As this link will help the users to write the notes about the book which they like.

[2020-01-31 20:37] tfmorris commented on #2624
@JordanDysart Sounds like you did some investigation. Are you preparing a fix or should @aashimgarg work on it?

[2020-01-31 22:12] tfmorris commented on #2896
I think @hornc said he was going to do this (any progress on this blocker?) so it should probably be assigned to him, not @cclauss.

[2020-01-31 22:56] tfmorris opened #2945 "Replace discontinued LEPL module"
This parser has been discontinued since 2012 and from the deprecation warnings that Python 3.8 is spitting out, it's going to stop working with Python 3.9.

http://www.acooke.org/lepl/discontinued.html
https://pypi.org/project/LEPL/

It looks like it's only used to parse email addresses, so it should be easy to get rid of:

[code]
The [validate_email](https://pypi.org/project/validate_email/) modu

[2020-02-01 12:46] hornc commented on #1694
closing as we have decided to remove, see #2896

[2020-02-01 12:46] #1694 closed

[2020-02-01 12:55] hornc commented on #2896
#2944 should remove iptool rather than update it.

[2020-02-01 12:56] hornc commented on #2896
If someone wants to help with removing these modules please feel free to begin.

[2020-02-01 18:46] JordanDysart commented on #2624
Hey @tfmorris, I hadn't heard anything back (_I also didn't follow up_), about how we would fix this. From what I found in the forked markdown editor code, is the child tag is not given a width or height so you can't click it. This button looks like it was always planned to open up the md help page, but it was just never tested.

I haven't put anything together to fix it, so @aashimgarg feel free

[2020-02-01 23:29] cclauss commented on #2896
#2953 demonstrates that I will not be able to resolve this one.  I still think that #2866 is a safe way for us to remove the roadblock.

[2020-02-02 09:43] seabelis opened #2954 "Not all lists displayed on add-to-list widget"
If a user has a lot of lists (not sure how many) not all lists are displayed. So one can make new lists, but cannot add anything to the lists from the widget.

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to any page that allows one to add item to list
2. Do ... keep making new lists. Eventually you will no longer see them on the dropdown even though th

[2020-02-03 05:15] hornc commented on #2621
This seems mostly fixed -- errors on https://openlibrary.org/admin/imports have dropped, and the ones that are there are failing for valid reasons, such as the item being a serial (although this is reported as 'internal-error' instead of the informative error returned by the API. e.g. foreststream821914newy)

I tested one of the items above: marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_20

[2020-02-03 05:18] hornc commented on #2621
How many editions have `null` covers?
`fgrep -c '"covers": [null]' ol_dump_editions_2019-12-31.txt`
75717

[2020-02-03 06:20] hornc opened #2957 "Recent UserDict.DictMixin with Mapping change has broken editions page"
Recent PR #2935 is causing errors on the edition page.

`/openlibrary/openlibrary/templates/type/edition/view.html: error in processing template: TypeError: Can't instantiate abstract class MultiDict with abstract methods __iter__, __len__ (falling back to default template)`

@tfmorris This looks familiar from the change that was made to Infogami -- I thought we had a solution to this problem. Can

[2020-02-03 07:23] nilshah98 commented on #2945
Hey, is this issue up for grabs?

[2020-02-03 17:27] tfmorris commented on #2945
@nilshah98 If you look just above, you'll see a linked PR that fixes this.

[2020-02-03 18:24] nilshah98 commented on #2945
My bad, should have looked at it harder.
Thanks!

[2020-02-03 18:38] cdrini opened #2959 "Homepage broken when setting ?lang url parameter"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/73680071-9e636780-4689-11ea-9208-0fb130292495.png)
![image](https://user-images.githubusercontent.com/6251786/73680199-da96c800-4689-11ea-8e89-3d826a5a46cc.png)

### Steps to Reproduce
1. Go to https://openlibrary.org/?lang=fr (or https://openlibrary.org/?lang=fr&debug=true for debug info)

[code]

h

[2020-02-03 18:40] cdrini commented on #2959
My guess is this is something weird with memcache, since it works fine on dev. Restarting memcache might help.

[2020-02-03 18:50] cdrini commented on #2959
Restarted all three memcaches (3-5)

[code]

[2020-02-03 18:53] cdrini commented on #2959
No change

[2020-02-03 18:55] cdrini commented on #2959
Related to #2895

[2020-02-03 19:49] cdrini opened #2962 "Document/light cleanup/add tests to merge authors files"
Purpose being to get a better understand of the environment

### Summary of Requirements
- [x] Investigate/document/test openlibrary/plugins/upstream/merge_authors.py
- [x] Investigate/document openlibrary/templates/recentchanges/merge-authors/view.html

### Relationships
- Part of #805

[2020-02-03 20:00] cdrini opened #2963 "Expose bookshelves as JSON API"
We need to be able to get how many bookshelves an item is on from the JS UI in order to be able to prevent merges for those items

### Summary of Requirements
- [ ] Publicly accessible endpoint `/works/OL1W/-/bookshelves.json` that returns count of books
- [ ] Response schema: `{ "counts": { [shelf_name]: number } }`

### Relationships
- Part of #805

[2020-02-03 20:08] cdrini opened #2964 "Provide beta UI for record merging"
### Summary of Requirements
- [x] GETing /libtools/merge?olids=OL1W,OL2W displays the beta merging UI
    - Used /works/merge instead
- [ ] UI will not merge works list backreferences (but allow the merge to continue for the other selected items)
- [ ] UI will not merge works if works are on reading logs (but will allow the merge to continue for the other selected items)
- [x] Should only be avail

[2020-02-03 20:22] cdrini opened #2965 "Create a rough plan / breakdown for Record Merging"
### Summary of Requirements
- [x] A planning meeting with community to get feedback on rough approach
   - Notes: https://coda.io/d/Record-Merge_dKeUQC9f-cz/Planning-Notes_suZY7#_luj9l
- [x] A more in depth planning of specific issues, organized into milestones
  - https://coda.io/d/Record-Merge_dKeUQC9f-cz/Tasks_suFWA#Tasks_tuwLY/r5
- [x] Update https://github.com/internetarchive/openlibrary/issu

[2020-02-03 20:25] cdrini commented on #2965
Note: Some big questions came up about how undoing might need some thought, or else it will be impossible/difficult to right in a maintainable way, so some of the future phases might change (see the notebook).

[2020-02-04 00:19] mekarpeles commented on #684
@mekarpeles to re-spec for this month

[2020-02-04 00:53] hornc opened #2966 "JSON import API documenting and testing"
Relates to the direct data upload import API at  `POST /api/import` https://github.com/internetarchive/openlibrary/wiki/Endpoints#importing

Recent import efforts have focused on bulk MARC imports from data hosted on archive.org, and importing via external APIs using ISBNs. This issue is to increase our confidence and ability to directly import bibliographic data in ongoing and bulk import batches

[2020-02-04 00:57] user404d commented on #906
Was looking into this one a little bit and ran into the same issue being addressed by #2958, so this one will probably need to wait until that change is wrapped up and merged.

[2020-02-04 03:33] hornc commented on #2293
This python3 branch enables devs to run Python3 locally https://github.com/internetarchive/openlibrary/tree/python3

The branch code is still in a state of flux, but @cclauss' PR #2860 demonstrates that the Python can be updated to 3.8

Devs working on Python should be able to use this Docker image to test both Open Library and Infogami interacting in a Python 3 environment.

It is not exactly sta

[2020-02-04 03:33] #2293 closed

[2020-02-04 04:01] hornc commented on #2062
From looking into what needs to be done for this issue, it looks like sane way to proceed is for the production config to take precedence over what is committed here.

The only purpose for this committed file would be to seed a new instance of Open Library, so it should be updated from production when deemed appropriate.

The production version of this file has diverged, but does seem to be missin

[2020-02-04 04:13] hornc commented on #2062
Commands to regenerate this file:
[code]

(the default of 2 spaces would be better, but messes up the diff on this test PR: #2967

[2020-02-04 04:14] cclauss commented on #2293
Nice progress here!  Thanks much.

[2020-02-04 04:31] guyjeangilles commented on #906
@user404d can you post a screenshot, traceback, and or the steps you took  to deduce that #2958 is related? This is valuable information to retain in the issue thread.

[2020-02-04 04:32] hornc commented on #2857
relevant code in https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/api.py  and https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/vendors.py

[2020-02-04 05:45] user404d commented on #906
I may be wrong in thinking that the other issue will hold up progress on this issue. Here's what made me think that it may still cause a problem:

Running locally with a personal recaptcha...

1. Navigate to the form to add a book while anonymous
![anonymous book addition](https://user-images.githubusercontent.com/6620882/73717111-76eaba00-46de-11ea-93a8-3f3819b25dd4.png)

2. Logs and page after s

[2020-02-04 05:46] user404d commented on #906
This was effectively a fresh instance and my browser was FF72

[2020-02-04 06:31] user404d commented on #906
I think that I am missing a lot of context related to this issue. Sorry for the confusion. I only just now realized that this might be behavior only seen when deployed in production or with some settings that I just may not have enabled locally.

[2020-02-04 07:37] user404d commented on #686
Hello~ Looking for an invite. I have experience with docker, python, and js (though I have not done much frontend work recently). Would love to see how I can contribute to the project.

[2020-02-04 09:14] seabelis commented on #2084
Overdrive's approach omits subtitles and if the title is longer than one line, uses ... .
<img width="818" alt="Screenshot 2020-02-04 at 10 08 50" src="https://user-images.githubusercontent.com/17739465/73730349-ea201a80-4736-11ea-8186-0145860673a3.png">
No significant difference on mobile; just fewer items displayed on carousel.

[2020-02-04 13:06] guyjeangilles commented on #906
Hmm, that seems like separate issue, or at least manifests differently on dev than production.

@user404d Can you make an issue with the information you provided above?

With #2293 came a python3 compatible branch. So if this error doesn't show up on that branch, we maybe able to avoid creating a fix.

[2020-02-04 14:11] BrittanyBunk commented on #2084
Although to me, there's too much added with Overdrive (which is why I tend not to use it much), they do use titles, which I do think is important. Plus, it has the 'borrow' button. One thing that is interesting and not really noticeable, but important in the picture is the bookmark icon. I think that's kind of cool.

[2020-02-04 16:29] cdrini commented on #2957
Bumping to P0 since it's blocking deploy

[2020-02-04 16:48] cdrini commented on #2959
Locally, here's what `s` should look like:

[code]

[2020-02-04 17:03] cdrini commented on #2959
It looks like the source is missing the `head`???? view-source:https://openlibrary.org/?lang=fr

[2020-02-04 17:08] cdrini commented on #2959
And it looks like this _is_ in memcache:

[code]

[2020-02-04 17:08] cdrini commented on #2959
Wait, https://openlibrary.org/?lang=en Also errors; is this some issue with the `?lang` parameter?!?

[2020-02-04 17:09] cdrini commented on #2959
Going to try setting my browser's `Accept-Language` to sim a real non-en user (via https://github.com/sorz/accept-language-per-site )

[2020-02-04 17:10] cdrini commented on #2959
Aaaaand it works -\_- Dropping this in priority

[2020-02-04 17:40] tfmorris commented on #906
Yes, #2958 should fix this. If you don't want to wait for it to be merged into master, you can merge it into your working branch.

[2020-02-04 18:35] #2957 closed

[2020-02-04 18:36] cdrini commented on #906
@user404d #2958 merged :+1:

[2020-02-04 19:03] user404d opened #2970 "Docker Desktop 2.2.0.0 Prevents Running Tests and Starting Services"
When using Docker Desktop 2.2.0.0 on Windows 10 Build 1903 and WSL (Debian) the project failed to run properly locally when using `docker-compose` and its configuration in `docker-compose.yml`. There were many different problems which all seem to be related to regressions in Docker Desktop introduced in 2.2.0.0 (see docker/for-win#5530, docker/for-win#5540).

### Evidence / Screenshot (if possible

[2020-02-04 19:08] user404d commented on #2970
I'm making this mostly to document for others to see. I don't think there is much to be done as far as this project is concerned.

[2020-02-04 19:14] mekarpeles opened #2972 "Read & Return Ebook buttons colliding"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/978325/73778176-9bc34980-473f-11ea-9da6-796f250d3d2e.png)

### Relevant url?

1. Search results
2. Work's editions table
3. Editions page (esp. on mobile)

[2020-02-04 19:22] tfmorris commented on #2963
Is a bookshelf the same as a List?

This feels like it might fit better as query/search on the List/bookshelf endpoint, not the works endpoint.

[2020-02-04 19:24] cdrini commented on #2963
Bookshelves are reading logs; the biggest difference is that they can be private, so we can't return a list of bookshelves, only aggregate info. Note there is a /works/OL1W/-/lists endpoint : https://openlibrary.org/works/OL19710804W/Less/lists

[2020-02-04 19:39] aashimgarg commented on #2972
Hey @mekarpeles i want to work on this issue!

[2020-02-04 20:01] aashimgarg commented on #2972
@mekarpeles any url?

[2020-02-04 20:02] mekarpeles commented on #2329
This comment is out of scope of this issue.

[2020-02-04 21:16] tfmorris commented on #2959
I can't tell if this is still a problem or not. It sounds like it's fixed, but the issue is still open.

[2020-02-04 21:17] cdrini commented on #2959
It's still a problem, but it's not as serious a problem as it was originally, since it only affects developers (who are using the ?lang= url param).

[2020-02-04 21:28] tfmorris commented on #906
The full text of the error message is:

That seems pretty similar to the requested:

Perhaps we just need to adjust the sentence order or wording?

[2020-02-04 21:32] cdrini opened #2973 "Editor name on work/ed pages shows bad link"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/73788876-cf1bcd80-476b-11ea-9501-d3f01468ab82.png)

### Relevant url?
e.g. https://openlibrary.org/books/OL24866855M/Appreciating_dance

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF72
- **Operating system?** Win10
- **Environment (prod/dev/local)?** prod

### Proposal & Constr

[2020-02-04 21:32] cdrini commented on #2973
I'll fix this one-liner now before deploying

[2020-02-04 21:48] tfmorris commented on #2959
I haven't investigated fully, but I suspect the import changes from f2554143.

We have the following identically named stats modules:

[code]
Seems like importing the wrong one could have an effect like this.

Do we have stats disabled on `dev`, causing this to be untested?

[2020-02-04 21:56] hornc opened #2974 "add barcode regex pattern to local_id type"
Library barcode formats are supposed to be unique -- provide a regex for each of the entries on https://openlibrary.org/local_ids  (i.e. modify the type to store and display this data)

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

These regexs already exist for the older entriesand are being used by scribe/petabox scanning code ... somewhere

[2020-02-04 22:07] hornc commented on #2974
Need a regex for SFPL ASAP for current scanning. (reminder to self)

[2020-02-04 23:00] mekarpeles opened #2976 "Deploy failed: Different version of `six` on docker + production"
### Summary

- **What is wrong?**

- **What caused it?**

- **What fixed it?**

- **Followup actions:**

### Steps to close

1. [ ] Assignment: Is someone assinged to this issue? (notetaker, responder)
2. [ ] Labels: Is there an `Affects:` label applied?
3. [ ] Diagnosis: Add a description and scope of the issue
4. [ ] Updates: As events unfold, is noteable **provenance** documented in issue comme

[2020-02-04 23:04] mekarpeles commented on #2976
Todo/idea: Add hash to deploy to deploy a specific release?

[2020-02-04 23:16] #2976 closed

[2020-02-04 23:17] cdrini commented on #2976
Thanks for updating the packages, @mek! Thanks for finding the root cause @charles :slightly_smiling_face: This was really wonderfully a team effort!

[2020-02-04 23:20] cdrini commented on #2976
This was the (useless) log from web3:

[code]

[2020-02-04 23:21] cdrini commented on #2976
Log output from solrupdater (but use Mek's command in the desc)

[code]

[2020-02-04 23:21] cdrini commented on #2976
Solr-updates was seen as red on NAGIOs, which is why it was investigated

[2020-02-04 23:36] hornc commented on #2974
SFPL: `^31223[0-9]{9}$`

[2020-02-04 23:52] BrittanyBunk opened #2977 "Lack of public folder directory."
Don't know where all the files are - because they're located in multiple places

### Describe the problem that you'd like solved
Public files are in multiple locations and it would be beneficial to keep them in one place for the public to easily view and access.

### Proposal & Constraints
_Proposal:_ Collect the locations of all the files and put the links in one place, along with the 'loose' doc

[2020-02-05 01:42] user404d commented on #906
I spent some more time investigating this issue and I am currently unable to change the permissions for editing `/books`, `/authors`, etc. via `admin/permissions` because the save of the permissions is failing. It appears that the lookup in `infogami` for `/books`, `/authors`, etc is failing. Or perhaps it is failing for the other set of things.

Response from infogami:
[code]

Contents of `query`

[2020-02-05 09:35] imskr commented on #2977
I would like to work on this issue @BrittanyBunk @mekarpeles

[2020-02-05 10:09] #1716 closed

[2020-02-05 10:12] #2973 closed

[2020-02-05 15:40] cdrini opened #2981 "Quote formatting for python"
### Question
Do we want to use single or double quotes? Let's decide on something and find a way to enforce it so we don't have to manually make changes like this.

### Additional context
See comments here: https://github.com/internetarchive/openlibrary/pull/2968 ; summary:
- @hornc python console print strings using single quotes
- @cdrini + @cclauss : Python Software Foundation is recommending [

[2020-02-05 15:43] cdrini commented on #2981
I think getting an automated tool like black to work for us would be really advantageous, since it's an easy "set it and forget it" deal. Anything else would require a bunch of configuration, which is what we currently have for our JS/CSS: https://github.com/internetarchive/openlibrary/blob/master/.eslintrc.json ; https://github.com/internetarchive/openlibrary/blob/master/.stylelintrc.json .

[2020-02-05 17:25] tfmorris commented on #1716
Were we able to improve the test coverage at all so that future refactorings don't break this again? It took us ~18 months to get to this regression.

[2020-02-05 19:29] tfmorris commented on #2981
No! That's backwards. `psf/black` [insists on double quotes](https://github.com/psf/black#strings) although it can be disabled with the (not recommended) `--skip-string-normalization` flag.

I've corrected the description (and fixed the link to `black`)

[2020-02-05 20:43] tfmorris commented on #2976
Is this documented someplace? If not, it seems like updating the deploy/test checklist/documentation should be a follow-up action.

Similarly the `Needs: Special Deploy` is referenced by the wrong name [here](https://github.com/internetarchive/openlibrary/blob/a0134039cd9413bb79e0a0f5b18c52768bc53bb7/CONTRIBUTING.md#L96) and doesn't include any description of when it should be used. I had been (mi

[2020-02-05 21:34] cdrini opened #2983 "Random book button goes to homepage when clicked from work page"
### Steps to Reproduce
1. Go to a works page; e.g. https://openlibrary.org/works/OL5848307W/Walt_Disney's_Mother_Goose
2. Click "More > Random Book"

* Actual: Goes to homepage
* Expected: Goes to a random book

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF72
- **Operating system?** Win10
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

[2020-02-05 21:38] cdrini commented on #2981
:+1: My bad! Typo'd

[2020-02-05 22:30] tfmorris commented on #2959
This works locally, so someone who has access to both needs to debug the config differences between `dev` and `prod`.  It looks like perhaps `stats.end()` isn't getting called, since that sets both the `end_time` and the `hit` boolean. Possibly `memcache.get()` is throwing an exception that isn't caught.

Some things to check:
- [ ] stats enabled on dev? (`true` for Docker, but see below)
- [ ] "s

[2020-02-06 01:19] user404d commented on #906
mek helped me out and showed me how to fix the missing meta data for permissions

1. Change `/permission` page to `type/permission`
2. Add child `/permission/loggedinusers` with type `type/permission`
3. Add read allowed usergroup `usergroup/everyone`

Then editing permissions via `/admin/permissions` began working.

[2020-02-06 16:39] cdrini opened #2985 "After confirming registration, users redirected to archive.org instead of openlibrary.org"
### Steps to Reproduce

1. Create an account on openlibrary.org; get sent confirmation email
2. Click the confirmation link in the email; get sent to archive.org
3. Click "Log in to continue"; get sent to openlibrary.org/account/login
4. Log in with new account

* Actual: Get sent to archive.org
* Expected: Get sent to openlibrary.org

### Details

- **Logged in (Y/N)?** N
- **Browser type/version

[2020-02-06 16:40] cdrini commented on #2985
Possibly related to the fact that referrer is set to archive.org when sent to openlibrary.org/account/login ; it might be redirecting back to the referrer, whatever the referrer is.

[2020-02-06 16:50] tfmorris commented on #2375
Changing the subject page layout is going to expose some data quality issues. The 1st and 3rd of the top "diary" authors are publishers of wall calendars.

[Abrams](https://openlibrary.org/search?q=subject%3ADiaries&author_key=OL2626615A&mode=everything)
[Wall](https://openlibrary.org/search?q=subject%3ADiaries&author_key=OL2627359A&mode=everything)

And other top "authors" include publishers of b

[2020-02-06 17:04] cdrini opened #2986 "Update Node to v. 12 on prod"
Related to #2081 , which acts on the local env.

### Summary of Requirements
- [x] Test the commands in trusty image first to make sure things go smoothly
  - Tested installing Node 8 on a trusty box, and then installing node 12
- [x] Update ol-home
- [x] Update ol-dev
- [x] ~Ensure node is not installed on ol-web3 and ol-web4~ It is
- [x] Update ol-web3
- [x] Update ol-web4
- [x] Check all other

[2020-02-06 17:18] cdrini commented on #2986
Commands used:

[code]

[2020-02-06 18:02] cdrini commented on #2986
Updated to node 12.15.0 / npm 6.13.4

[2020-02-06 18:02] #2986 closed

[2020-02-06 18:22] LeadSongDog commented on #2375
Excellent! Hidden problems don't get fixed.

[2020-02-06 20:30] #2963 closed

[2020-02-06 21:11] tfmorris opened #2987 "Editions missing from sitemap"
The current sitemap appears to only index works and authors which may cause editions to get missed unless they're organically crawled from the works page (and they have a corresponding work).

### Relevant url?

https://openlibrary.org/static/sitemaps/siteindex.xml.gz

### Proposal & Constraints

Editions should be included in the sitemap to highlight their visibility and insure that they aren't s

[2020-02-06 21:33] BrittanyBunk opened #2988 "List number of available editions on search page"
Right now, the search page is misleading with what it shows, but if there's a way for a work to show how many editions are available to read and borrow, as well as how many are on the waitlist (not shows in the picture below), it'd prevent readers from thinking an edition is not available, when it is.
![image](https://user-images.githubusercontent.com/55302685/73980438-0b266e00-48e5-11ea-9d6d-bc62

[2020-02-06 21:55] LeadSongDog commented on #153
More examples of malformed paths found among the listings
 under https://openlibrary.org/authors/OL858999A/David_Burnett_undifferentiated:

https://openlibrary.org/works/OL13350811M
https://openlibrary.org/works/OL13350814M
https://openlibrary.org/works/OL13350821M
https://openlibrary.org/works/OL13350834M
https://openlibrary.org/works/OL9208045M
https://openlibrary.org/works/OL9208042M
https://op

[2020-02-06 22:33] tfmorris opened #2989 "Figure out how localized pages should be served and how sitemap needs to change"
Google has [guidelines](https://support.google.com/webmasters/answer/189077) on how to include information in a sitemap regarding language and geography. e.g `hreflang` etc

We should figure out what versions of pages we want to serve to different languages and geos, how those pages are addressed, and how to represent that information in the sitemap to best serve our global audience.

### Describe

[2020-02-07 07:07] hornc commented on #2621
Currently blocked by #2956

[2020-02-07 17:46] aashimgarg opened #2995 "Showing the dropdown menu when the cursor is not over the respective option when the screen is minimized"
When the size of the window screen is minimized the books and browser options shows the dropdown menu even the cursor is not on these options!

the window screen should be less than 935px approx.

Relevant URL:-
https://openlibrary.org/

[2020-02-07 18:31] tfmorris commented on #2248
@seabelis Found this https://openlibrary.org/authors/merge?key=OL4586796A&key=OL3206959A

[2020-02-07 18:43] tfmorris commented on #2248
@seabelis Found another https://openlibrary.org/authors/merge?key=OL4586796A&key=OL3206959A

All of the editions list two authors, OL2629754A and OL3206959A, the first of which is a [redirect](https://openlibrary.org/authors/OL2629754A.json).

Of course, edition authors aren't editable, so this can't be fixed. I thought I could hack it by editing the YAML https://openlibrary.org/books/OL13263866M.

[2020-02-07 22:10] tfmorris opened #2998 "Clean up first pass internationalization"
Part of #791, followon to #2442

Now that we've done an initial pass of internationalization, we should review the results and clean up as much as possible before asking translators to invest in translations which will need to be revised.

Some specific issues to find/fix include

- [ ] Remove as much HTML markup as possible, especially things which are easy for a translator to mess up such as `hr

[2020-02-08 09:43] seabelis commented on #2248
I was able to remove the authors from the linked edition. https://openlibrary.org/books/OL13263866M/Relato_de_un_n%C3%A1ufrago?_compare=Compare&b=6&a=5&m=diff

I think I recall from a different conversation that removing authors from editions is not preferred. I thought I could just clear the authors from the edition and then reapply the valid author but this throws an error,
`AttributeError: 'str

[2020-02-08 10:02] dcapillae commented on #2998
Thank you, @tfmorris. I'll try to contribute in any way I can. My lack of knowledge and experience does not allow me to contribute as much as I'd like.

I found some strange strings while updating the Spanish translation. I got an error in the poedit editor at [this string](https://github.com/dcapillae/openlibrary/blob/master/openlibrary/i18n/messages.pot#L2519).

[Line 2519]

Should it be `This s

[2020-02-08 16:27] tfmorris commented on #2248
That's not my opinion. Since they can't be edited and aren't automatically kept in sync, I think they're more trouble than they're worth.

Were you able to do that through the web UI or did you use one of the APIs?

[2020-02-09 09:30] seabelis commented on #2248
@tfmorris openlibrary-client via the colaboratory notebook @cdrini helped me set up. I replaced the edition authors with an empty object; it's the same way I removed contributors previously when the UI wouldn't cooperate. I'm not sure this is the best way, but it allowed me to edit the work without the previous error.

[2020-02-09 22:58] hornc opened #3004 "Clean edition and work metadata where cover are -1 or null"
Data issue discovered in #2956 , these cover ids can cause problems when checking for whether an item has a real cover, and are not meaningful.  The `-1` case I believe was caused by a javascript error when saving, and I think has been fixed, but there are still some affected records in the database.

I am not sure how the `null` covers have been added. That should be investigated also.

### Evide

[2020-02-09 23:01] hornc commented on #3004
Once #2956 lands, a re-import of every effected item with an `ocaid` should remove the bad cover id and replace it with a new, correct cover image.

[2020-02-09 23:14] hornc commented on #2987
I agree. From specifying out what is required for import criteria the threshold data for a "book" is at the edition level, i.e. it must have a publisher and data. We do not import 'works'.

I'm in the process of writing up my import guidelines, but I'm taking Open Library's "One page for every book" to mean one page for every _edition_ in our model. The fact we do not index editions in Solr for se

[2020-02-10 01:22] BrittanyBunk commented on #2977
@imskr if you need my help with that, let me know

[2020-02-10 01:27] BrittanyBunk commented on #2902
Now that the title's changed a little, I would like to expand on this some more. @cdrini taught me about removing lines that don't have a word in it. Now that's cool for the rows, but there's also a need for column field filters too. So a way to have checkboxes for both rows and columns would be awesome.

[2020-02-10 01:28] BrittanyBunk commented on #2902
I can't personally create the categories myself as files, because they are automatically updated, but I could make a list of the row/column filters if that would help.

[2020-02-10 06:44] hornc commented on #2621
I'm fixing the above with a script, example edit:
https://openlibrary.org/books/OL26419710M/Shortie_like_mine?b=4&a=1&_compare=Compare&m=diff

It clears the covers if they are null, reimports a good cover from archive.org, and then reimports from the MARC record.

source:

[2020-02-10 07:01] hornc commented on #816
This seems to be resolved on the json API which respects ebook filtering correctly:

https://openlibrary.org/subjects/herpetology.json?has_fulltext=true&limit=100
shows 28 results
https://openlibrary.org/subjects/herpetology.json?has_fulltext=false&limit=100
shows 85

The front-end should be covered by #3002

[2020-02-10 07:01] #816 closed

[2020-02-10 07:32] hornc opened #3010 "undefined regex in Marc binary code"
`re_isbn` is not defined in this class. It is in the parent class, MARC base.

https://github.com/internetarchive/openlibrary/blob/f021a0a6e2cf5d9551d95a050318dfdae0d30a42/openlibrary/catalog/marc/marc_binary.py#L197

Triggered by:
marc_openlibraries_sanfranciscopubliclibrary/sfpl_chq_2018_12_24_run05.mrc:327534829:5
https://openlibrary.org/show-records/marc_openlibraries_sanfranciscopubliclibrary

[2020-02-10 07:35] hornc commented on #2621
All of these listed records have had their covers fixed and been imported with `sfpl` `local_id`
except for one facing a different issue, raised as #3010

[2020-02-10 07:35] #2621 closed

[2020-02-10 07:48] hornc commented on #2114
relates to / part of? #805

[2020-02-10 17:51] cclauss opened #3011 "Add stricter Travis tests only on a PR's modified files"
I am always frustrated when I see pull requests that modify files that contain:
1. ~Python 3 syntax errors~  Fixed in #3030
2. ~undefined names~
3. unused imports
4. unsorted imports

### Describe the problem that you'd like solved

If a pull request modifies files then we should try to fix as many issues as we can.

### Proposal & Constraints

Add a new Travis CI test run on Python 3.8 that does

[2020-02-10 19:54] Kaushl2208 commented on #983
If this issue is still open, Can I start working on it? @mekarpeles

[2020-02-10 19:59] cdrini commented on #3011
I think it would be a mistake to have Travis fail a PR because it edits a file which has possibly unrelated problems. When doing a code review, it's generally considered bad practice to ask some to "fix _ while you're here"; it's better to fix those issues separately. It would also cause PRs to become bloated, since people would be forced to not just make their primary change, but also to fix code

[2020-02-10 20:20] LeadSongDog opened #3012 "Subject pages should say they are about a subject"
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/subjects/libraries

### Steps to Reproduce

1. Go to https://openlibrary.org/subjects/libraries
2. Look for something that provides the context of the page being about works on the subject of libraries.

* Actual: Page shows "Libraries 10,048 works"
* Expected: Suggest "10,048 works on the subject: Libraries"

### D

[2020-02-10 20:32] cclauss commented on #3011
I understand that but...
We have had _undefined names_ (#1684) open for more than a year without much improvements and we have 400+ unused imports that are not getting fixed and new PRs are being opened with syntax errors that Travis is not catching and our import ordering is in shambles across tons of files.  If we do not tighten the screws somewhere then issues linger because there is no forcing

[2020-02-10 22:10] hornc commented on #2891
What caused it,
https://github.com/internetarchive/openlibrary/pull/2909#issuecomment-578580052

Existing code was double caching.
My first refactor must have enable one of the paths, that while it looked like it should have been used, clearly wasn't. Removing the duplication fixed the memory usage.

Fixed in #2909

[2020-02-10 22:10] #2891 closed

[2020-02-10 22:46] hornc opened #3013 "Deprecated MARC code used in MARC view page"
Noticed in logs on dev.openlibrary when viewing a MARC record page:

[code]

### Evidence / Screenshot (if possible)

### Relevant url?

https://dev.openlibrary.org/show-records/marc_records_scriblio_net/part15.dat:99595765:1063
### Steps to Reproduce

[2020-02-10 22:55] #2896 closed

[2020-02-11 01:03] mekarpeles commented on #2908
https://affiliate-program.amazon.com/assoc_credentials/home button necessary for migrating from AWS to Product API

[2020-02-11 02:56] guyjeangilles commented on #983
@kaushl2208 feel free to make a pull request if you have a fix

[2020-02-11 18:34] cdrini commented on #3011
What do you think of #2300 ? I think that's tightening the screws, without forcing all the devs to take on a lot of work they weren't intending to take, or making PRs explode in scope. It'll help with the syntax errors. Not so much with import ordering, but baby steps :) .

[2020-02-11 18:43] cclauss commented on #3011
I like that approach too.

[2020-02-11 19:13] mekarpeles commented on #2908
Breaking protocol and assigning 2 assignees to this issue (since some of the efforts require server-side changes and regen of keys). @hornc, I noticed you are assigned via @cdrini -- was this for migrating the actual python library / doing the 4.0 -> 5.0 migration part? If so, happy to tag team.

[2020-02-11 19:16] cdrini commented on #1684
@cclauss Regenerated the list here; it looks like there's been a decent amount of progress! There are only 43 undefined names left.

[2020-02-11 19:21] cclauss commented on #1684
Yes.  See the single file change in #2929

[2020-02-11 19:54] Kaushl2208 commented on #2656
Hey @guyjeangilles, It seems like a good fix. Can I work on it?

[2020-02-11 21:07] guyjeangilles commented on #2970
@user404d Since this isn't actionable as is, can you make a pull request updating the [Docker instructions](https://github.com/internetarchive/openlibrary/blob/master/docker/README.md) with the information in the issue description so we can close out this issue

[2020-02-11 21:16] guyjeangilles commented on #2983
I cannot duplicate this bug. I'm on Ubuntu 16.04 FF 72.0.2 (64-bit). I specifically was redirected to https://openlibrary.org/books/OL9817158M/The_Pullman_Strike_of_1894.

Can someone else try to duplicate this?

[2020-02-11 21:19] cdrini commented on #2983
Hmmm, I can't repro this anymore either :P Not sure what changed :/ Closing as not an issue for now.

[2020-02-11 21:19] #2983 closed

[2020-02-11 21:24] guyjeangilles commented on #2988
I think I remember the misleading 'Not in Library' message brought up in an issue somewhere but can't seem to find it.

[2020-02-11 21:30] guyjeangilles commented on #2995
@aashimgarg Can you post a screenshot, your OS, and web browser you're using? I cannot duplicate this bug on Ubuntu 16.04, FF 72.

![2995_ol](https://user-images.githubusercontent.com/7256157/74281063-a8363c00-4d15-11ea-93ef-c31018c28c87.png)

[2020-02-11 21:37] guyjeangilles commented on #3004
Is #2447 related?

[2020-02-11 21:42] guyjeangilles commented on #3011
@cdrini @cclauss What is the actionable step for this issue considering #2300 is still open?

[2020-02-11 23:14] mekarpeles commented on #2908
NB: @hornc, @cdrini
https://github.com/internetarchive/olsystem/pull/78#issuecomment-584905439

Keys are migrated and tested, next step is key merge + deploy

[2020-02-11 23:31] mekarpeles commented on #2908
Keys merged and deployed. Ready for code migration

[2020-02-11 23:51] cdrini opened #3021 "Remove solr/inside dead code"
At some point in the past, the search engine for letting you search inside books lived inside openlibrary. Now it lives in Internet Archive's code. The residual code left in the solr/inside directory is dead code and should be removed.

### Summary of Requirements
- [ ] Remove `solr/inside` directory
- [ ] Remove any code that references the code inside `solr/inside`

### Stakeholders
cc @cclauss

[2020-02-12 07:02] #983 closed

[2020-02-12 09:22] aashimgarg commented on #3012
Hey @LeadSongDog do we just have to change from this "Libraries 10,048 works" to "10,048 works on the subject: Libraries" .?

[2020-02-12 14:05] dcapillae opened #3025 "Reading log links are broken"
If you click on any reading log link, it doesn't work.

### Evidence / Screenshot (if possible)
![screenshot](https://user-images.githubusercontent.com/7125952/74341393-ed0ab300-4da7-11ea-9c08-9ad34725b52c.png)

### Steps to Reproduce

1. Go to "My Proflle" option in the menu;
2. Click on "currently reading", "have already read", and "want to read" link. (none of them work)

* Actual:

If you clic

[2020-02-12 14:07] LeadSongDog commented on #3012
That would be enough to convey to the reader that they are on a subject page IMHO. There are larger improvements possible, such as face tying, but baby steps...

[2020-02-12 15:59] tfmorris commented on #983
This seems to have drifted pretty far from the originally reported bug, which I interpret to be about ol_dump_editions_2020-01-31.txt.gz. @hornc fixed that (single record) problem with this edit: https://openlibrary.org/books/OL7254013M/Centennial_remembrance_100_years--and_counting?_compare=Compare&b=18&a=17&m=diff

The three files that @LeadSongDog stumbled across are, as far as I know, unused a

[2020-02-12 16:00] tfmorris commented on #983
#871 addresses removing the obsolete files.

[2020-02-12 17:11] seabelis commented on #2248
Another to add to the list. https://openlibrary.org/authors/merge?key=OL4435020A&key=OL7214197A&key=OL7622813A

[2020-02-12 18:29] cdrini opened #3028 "Borrow button no longer single-click borrows book"
### Steps to Reproduce

1. Go to e.g. https://openlibrary.org/books/OL5419329M/Zen_and_the_art_of_motorcycle_maintenance
2. Click "Borrow"

* Expected: Borrows book and goes to https://archive.org/stream/zenartofmotorcyc00pirsrich?ref=ol
* Actual: Goes to https://archive.org/stream/zenartofmotorcyc00pirsrich?ref=ol

### Details
- **Logged in (Y/N)?** Y
- **Browser type/version?** FF73
- **Operatin

[2020-02-12 19:12] aashimgarg commented on #2972
@mekarpeles ?

[2020-02-12 20:22] tfmorris commented on #871
Here's a summary of what I plan to do with the existing translations:

- es Spanish - drop. The current translation is much more comprehensive
- hi Hindi - 15 strings from 2009 used to seed i18n/hi/strings.hi.yml
- it Italian - 250 strings from git in i18n/it/strings-starting.it and 30 from infogami in i18n/it/strings.it.yml
- kn Kannada - 4 strings saved in i18n/kn/strings.kn.yml
- mr Marathi - 7

[2020-02-12 21:03] LeadSongDog commented on #2987
@hornc We should clearly explicate that multiple electronic images of the same block of words are _NOT_ distinct OL editions, though in FRBR-speak they are distinct manifestations.

[2020-02-12 21:49] mekarpeles commented on #2656
Go for it @Kaushl2208! :)

[2020-02-12 22:56] cdrini commented on #3011
#3024 was good; I think we can implement the proposal in #2300 first, and see how that goes, and then decide if we want to take the bigger step proposed in this issue.

[2020-02-13 05:37] hornc commented on #2107
Checking ol_dump_editions_2019-12-31.txt

- [ ] Lending library appears to be clear
- [ ] Internet Archive Wishlist 0, also clear

ol_dump_works_2019-12-31.txt
- [ ] Lending library 0
- [ ] Internet Archive Wishlist  - 382004 remaining
- [ ] In Library - 436321 remaining

[2020-02-13 12:29] aashimgarg commented on #686
Hello. I am looking for an invite in the slack channel. I recently made in 2 commits in the internet/openlibrary repository. I have experience in html,css,bootstrap,javascript frameworks.
would love to contribute to this project.

[2020-02-13 17:27] aashimgarg opened #3035 "Missing commands in Cheat sheets."
Some commands in GIT CHEAT SHEETS is missing.
For example instead of using git pull we can git fetch and git merge. This will help the user to understand more.

[2020-02-13 17:28] aashimgarg commented on #3035
@hornc @jdlrobson @cdrini Should i work on this?

[2020-02-13 18:53] cdrini opened #3036 "503s on prod"
### Summary

- **What is wrong?**

- **What caused it?**

- **What fixed it?**

- **Followup actions:**

### Steps to close

1. [ ] Assignment: Is someone assinged to this issue? (notetaker, responder)
2. [ ] Labels: Is there an `Affects:` label applied?
3. [ ] Diagnosis: Add a description and scope of the issue
4. [ ] Updates: As events unfold, is noteable **provenance** documented in issue comme

[2020-02-13 18:54] cdrini commented on #3036
ol-www1 warning in NAGIOS https://monitor.archive.org/cgi-bin/nagios3/status.cgi?hostgroup=24.openlibrary&style=detail&servicestatustypes=4&hoststatustypes=15

[2020-02-13 18:54] cdrini commented on #3036
`ol-www1` `OLSEARCH` now critical in nagios

[2020-02-13 18:56] cdrini commented on #3036
Drop in pageviews occurred at 17:30 UTC

[2020-02-13 18:59] cdrini commented on #3036
This lines up with when a search issue was observed on archive.org (PT; UTC - 8h)
![image](https://user-images.githubusercontent.com/6251786/74468522-f445c580-4e68-11ea-9bb6-1168aded0202.png)

[2020-02-13 19:00] cdrini commented on #3036
Ops restarted their indexer at ~13:50 ET ; `ol-www1` no longer in NAGIOS

[2020-02-13 19:40] cclauss commented on #3021
Closed by #3027

[2020-02-13 20:38] cdrini commented on #3028
Tried reverting the deploy on dev, and the problem went away, so definitely related to https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-02-11

[2020-02-13 22:06] #3021 closed

[2020-02-13 23:46] cdrini commented on #3035
Hi @aashimgarg ! Thank you for the suggestion; we want to avoid having a lot of unintentional `merge` commits in pull requests, as well as on your fork's master; so using `git pull` is preferable. Read the comments here for more info: https://gist.github.com/Chaser324/ce0505fbed06b947d962

[2020-02-13 23:46] #3035 closed

[2020-02-14 00:28] tfmorris commented on #3036
Why did Archive problems take down Open Library? I could see that it would cause problems with downloads of digital editions, but it shouldn't cause problems with page rendering.

[2020-02-14 01:14] hornc commented on #2107
Subjects search for quicker testing of current numbers:

- https://openlibrary.org/subjects/accessible_book
- https://openlibrary.org/subjects/protected_daisy
- https://openlibrary.org/subjects/in_library

[2020-02-14 09:21] cclauss opened #3038 "Modernizing our Python compound sorting"
The `cmp()` builtin and the `cmp=` parameter to `sorted()` were both removed in Python 3.
https://docs.python.org/3/howto/sorting.html
https://portingguide.readthedocs.io/en/latest/comparisons.html#the-cmp-argument

#3037 modernizes the easy cases of sorting but there remain other more complex, __compound sorting__ that I have not figured out how to solve...
https://github.com/internetarchive/open

[2020-02-14 13:55] cclauss opened #3041 "Undefined name: Which import_author() should we use in openlibrary/catalog/load.py?"
### Question

 Which of the [three versions of import_author()](https://github.com/internetarchive/openlibrary/search?q=import_author) should we import into [openlibrary/catalog/load.py](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/load.py#L46)?

[ ] from openlibrary.catalog.importer.load import [import_author](https://github.com/internetarchive/openlibrary/blob/m

[2020-02-14 14:48] LeadSongDog opened #3042 "Publishing history chart broken"
The chart can show counts for one year only and does so in the wrong place.

### Evidence / Screenshot (if possible)
![353EBCB8-A229-4F73-A1B2-8154556E4553](https://user-images.githubusercontent.com/11435431/74540551-f746c180-4f0d-11ea-9678-6fc67298ccde.png)
![C0DB8AAA-A3D8-459D-84CB-6E4AEFD2D1CC](https://user-images.githubusercontent.com/11435431/74540592-0e85af00-4f0e-11ea-9cac-39daa23c6b59.png)

[2020-02-14 20:00] #2300 closed

[2020-02-14 21:47] cclauss commented on #2903
How to overcome “datetime.datetime not JSON serializable”?

https://stackoverflow.com/questions/11875770/how-to-overcome-datetime-datetime-not-json-serializable/36142844#36142844

[2020-02-14 22:55] cdrini commented on #2222
Reindex complete; here are the numbers (using 2020-01-31 dump; and querying 02-14 solr for "before" values)

| Type        | # in postgres | # in old solr | # in new solr | psql diff   | solr diff |
| ----------| --------------- | ------------- | -------------- | ----------- | -------- |
| Works     |                       |   16934104   |  18891032    |                  |              |
| Orphans

[2020-02-14 23:34] #2072 closed

[2020-02-15 01:57] BrittanyBunk commented on #2072
@mekarpeles @cdrini idk how, but I just received a notification on this. Idk how to look at the demo redesign code (unless it's the page itself that was redesigned).

[2020-02-15 21:38] aashimgarg opened #3046 "Adding the line break for better UI on Recent Changes page"
![Screenshot from 2020-02-16 03-07-11](https://user-images.githubusercontent.com/55639487/74595600-74d31480-5069-11ea-8388-750bafad0029.png)

Add the line break for better UI between Recent changes and author merges.

[2020-02-16 23:29] hornc opened #3049 "Move standalone legacy catalog scripts out of Open Library main tree"
Quite a number of sub-directories under `openlibrary/catalog/` appear to contain standalone scripts and utilities that are were never intended to be part of the Open Library main codebase. Other parts _are_ used for importing, and MARC record processing and are very much part of Open Library.

Python 3 and absolute import work is revealing some of this legacy code, and it's unclear how to test, or

[2020-02-17 04:29] mekarpeles opened #3050 "Public Reading Log links broken on people Account page"
https://openlibrary.org/people/mekBot links to reading log pages are broken (possibly because of internationalization).

### Evidence / Screenshot (if possible)

Click on `already read` link on /people/mekBot and get navigated to:
`https://openlibrary.org/people/$(page.key)/books/already-read`

### Relevant url?

https://openlibrary.org/people/mekBot

### Related files

Somewhere around openlibrar

[2020-02-17 06:01] cclauss commented on #3049
My preference would be that we move these files to a separate new repo: https://github.com/internetarchive/openlibrary_unused so that we can grip and lint and run tests on the entire openlibrary repo without any exceptions or false positives from legacy directories.

[2020-02-17 11:34] hornc commented on #3049
I need to investigate why some solr code appears to be using catalog/get_ia

[2020-02-17 16:34] tfmorris commented on #3050
Yes, that's definitely internationalization. Also, the French translation has no links in it at all.

[2020-02-17 22:00] hornc opened #3055 "Remove acs4 shortcut and import it directly from vendor"
### Describe the problem that you'd like solved

When running the flake8 linter locally, `vendors/*` is excluded because we don't want to be testing and blocked on code we don't maintain, but the file `vendor/acs4_py/acs4.py` is symlinked from https://github.com/internetarchive/openlibrary/blob/75452cf6f0e3c23e1030395c93e232686ebaa417/openlibrary/plugins/upstream/acs4.py as if it is part of plugin

[2020-02-17 22:47] cdrini commented on #3050
Duplicate of #3025; closing and moving info to that

[2020-02-17 22:47] #3050 closed

[2020-02-17 22:59] hornc opened #3056 "Confirm whether solr/work_subject.py is actively used. Delete if not."
### Describe the problem that you'd like solved

https://github.com/internetarchive/openlibrary/blob/19f2062f519ff3189d36ce23d252f1f5a2d36c92/openlibrary/solr/work_subject.py

Has a dependency on legacy looking catalog code, and it's not clear whether or why this code is being used. I don't think Solr code should be parsing MARC records at all. Any subjects should be extracted and added to Open Li

[2020-02-17 23:23] hornc commented on #3041
Of the candidates `openlibrary.catalog.add_book` is the only module that is in active use.

I believe #3054 fixes this issue by deleting the various problematic files. (and archiving the legacy imported code to another repo https://github.com/internetarchive/openlibrary-bots/pull/37 )

[2020-02-17 23:43] hornc opened #3057 "MARC html view code needs to be updated to use non-deprecated methods"
https://github.com/internetarchive/openlibrary/blob/51d8af69899e4b2d36cbd410b9db98209d27f587/openlibrary/catalog/marc/html.py

is used to convert and display the MARC record information on pages like
https://openlibrary.org/show-records/CollingswoodLibraryMarcDump10-27-2008/Collingswood.out:33646004:794

Currently this code produces deprecation warnings in the logs

[code]

Remove dependency on `m

[2020-02-18 02:21] #3041 closed

[2020-02-18 06:19] hornc commented on #2062
To sync the committed file to production:
[code]

I'm not sure this is the best way to proceed, it is easier and makes more sense to edit the configuration in production, as designed. If needed, the raw json can be copied back to the repo, but I'm not sure where and how this `config_edition.page` is used by the code.

Also, the history diff for the page seems broken; it's not showing a sensible di

[2020-02-18 06:20] #2062 closed

[2020-02-18 06:21] hornc commented on #2062
Closing as DONE, see https://openlibrary.org/config/edition.json?v=571

[2020-02-18 06:44] hornc commented on #1048
Using the dump for 2020 Jan 31 there are only **7631** duplicate ISBNs of orphaned editions that can be matched to non-orphans. I'll run a pass that collects the work for each of the isbns, and associate the orphans.

[2020-02-18 11:02] cclauss opened #3064 "Resolving the undefined names in catalog/marc/html.py"
Related to #3057 which will require modifications to the same file.
* `html_subfields()` is an undefined name on [line 44](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/marc/html.py#L44)
* `html_line()` is an undefined name on [line 55](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/marc/html.py#L55)
[code]
In this file, both are __c

[2020-02-18 11:31] cclauss commented on #1684
#3054 makes a huge improvement and would drop us down to just [10 undefined names](https://travis-ci.org/internetarchive/openlibrary/jobs/651842223#L226) which are all covered in other single-file PRs or issues.

[2020-02-18 14:03] LeadSongDog commented on #1048
@hornc
Does that include a check for isbn10 on one vs isbn13 on the other, that is, just the 9 significant digits?

[2020-02-18 17:01] #3025 closed

[2020-02-18 20:46] tfmorris commented on #790
Another example: "Elaine N. Marieb" fails to autocomplete to "[Elaine Nicpon Marieb]( https://openlibrary.org/authors/OL24712A/Elaine_Nicpon_Marieb)" even though that exact name is listed in the AKAs.

[2020-02-18 22:32] tfmorris commented on #290
As @hornc reported in April 2016, this was an indexing failure which has since been fixed, so I think this can be closed. @cdrini do you agree? (since you're the current assignee)

As far as investigation and refactoring of search to reduce redundancy, I propose that that task gets a ticket of its own (if it's really important enough to pursue).

@LeadSongDog re:

Yes, the API is case sensitive.

[2020-02-18 22:32] tfmorris opened #3068 "Incorrect ISBN search result"
This search: https://openlibrary.org/search?isbn=02268162060226816214
brings up this edition: https://openlibrary.org/books/OL25433364M/La_conoscenza_come_bene_comune._Dalla_teoria_alla_pratica
with an ISBN of: 9788861591424

I expect invalid ISBNs to be rejected outright and ISBNs which aren't in the database to return zero matches, not some random edition.

The link is found on this page: https:

[2020-02-18 23:34] cdrini opened #3069 "Add Bookshop.org "Buy" link"
Bookshop.org looks like a morally-aligned company that helps people find books from local bookstores ( https://www.forbes.com/sites/joanverdon/2020/02/14/advocate-for-local-bookstores-takes-aim-against-amazon-with-new-website/ ). It would be nice to feature them in the "Buy" section of our edition pages; we help local bookstores, _and_ we get affiliate revenue!

### Proposal & Constraints
- Become

[2020-02-19 03:00] BrittanyBunk opened #3070 "Be able to create lists from Lists page"
I feel this would come in handy for making necessary lists quickly instead of having to go to the book's page for it to be created. I don't think people should be creating lists without books on it, but if they could add a minimum of one book when they create their list, it could come in handy. It's not the most important feature, but is here for when it could be worked on.

[2020-02-19 21:54] cdrini commented on #2908
@mekarpeles : It might be worth trying to for the python library to use 5.0 on dev to see what breaks?
@hornc : Could fork, fix the bits, and PR back into core repo
- Where are we using this API, since we're getting prices from BWB
@mekarpeles : Amazon import API and still being used for prices for amazon prices
@hornc : Should we not bother with updating and just use BWB?
@mekarpeles : We still n

[2020-02-20 19:23] hornc commented on #3010
Fixed by #3063

[2020-02-20 19:23] #3010 closed

[2020-02-20 19:27] #3064 closed

[2020-02-20 20:30] Shubhayu-Das commented on #1861
From what I understand, I have to remove
`#: widget.html:193
msgid "Add to List"
msgstr ""
` from `messages.pot` and the corresponding `div` from `widget.html` right?

In that case, I would like to claim this issue

[2020-02-21 01:50] guyjeangilles commented on #3036
@cdrini Is there anything else needed to close out this issue?

[2020-02-21 01:52] guyjeangilles commented on #3038
This feels like more of a refactor than a bug to me and I've labeled it as such

[2020-02-21 01:55] guyjeangilles commented on #3042
#158 may be related

[2020-02-21 02:00] guyjeangilles commented on #3046
@aashimgarg Please use the issue templates in the future when creating issues

I've also edited the title to make it more precise

[2020-02-21 02:05] guyjeangilles commented on #3049
@hornc Can an issue be both a feature and a refactor?

I've also added your `MARC records` label as MARC parsing uses some of this legacy code as stated in the original issue.

[2020-02-21 02:23] guyjeangilles commented on #3070
I suspect this would involve creating a form similar to creating a new work/author/edition, etc.

[2020-02-21 03:48] cclauss commented on #3038
The current code does not run on Python 3.  The proposed code runs on both Python 2 and 3.

I usually call code that does not run a bug.

[2020-02-21 13:47] cclauss commented on #1486
Can I please request that this issue be raised to a **priority one** because it fixes 21 of 25 of our currently failing Python 3 pytests?  (#3060 and #2942 fix the others)  We have three possible fixes...
1. #2892 is a great solution that I have review and approved
2. #3006 is an easier-to-review, less invasive alternative
3. https://github.com/sivy/pystatsd/pulls?q=is%3Apr+author%3Acclauss+is%3Ac

[2020-02-21 13:57] cdrini commented on #1486
Merged option 2, so I think we can leave the priority as is, but we should merge #2892 when possible.

[2020-02-21 15:16] BrittanyBunk commented on #3070
@guyjeangilles yup!

[2020-02-21 17:10] mekarpeles opened #3076 "Sharing Lists shows un-rendered i18n $_ in description (Nested quotes?)"
https://openlibrary.org/people/booklists/lists/OL146382L/David_Bowie_Top_100 @tfmorris @cdrini @tabshaikh  I think we have another i18n bug in our meta:

**Open Library**
David Bowie Top 100 | Lists | Open Library
$_(‘View the list on Open Library.’)

### Evidence / Screenshot (if possible)

This may be because of nested quotes:
`<meta content="$_(&#39;View the list on Open Library.&#39;)" propert

[2020-02-21 19:12] manav014 commented on #3046
https://github.com/internetarchive/openlibrary/pull/3078
Please check this PR for the same.

[2020-02-21 19:13] manav014 commented on #3046
![Screenshot from 2020-02-22 00-40-37](https://user-images.githubusercontent.com/51242628/75064137-56a76180-550c-11ea-9f08-a760acd0c2c6.png)

[2020-02-21 19:43] #2841 closed

[2020-02-21 22:12] mekarpeles commented on #3076
This class of bug seems to appear in several places, tracking them on this thread:

When a patron removes an item from a list:
“Yes, I&#39;m sure”

[2020-02-22 00:43] mekarpeles opened #3080 "XSS issues on books page"
XSS issues

### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/books/OL27912983M/'_script_alert(_Ultra_Security_)_script
https://twitter.com/BugsBun75181771/status/1228314510563385346

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### S

[2020-02-22 00:45] mekarpeles commented on #3080
https://openlibrary.org/people/darkscanner this is the corresponding patron who reported the XSS vectors

[2020-02-22 02:25] mekarpeles commented on #3028
The problem is `edition.in_borrowable_collection()` in `user_can_borrow_edition` in `plugins.upstream.borrow` which is occurring because:

https://github.com/internetarchive/openlibrary/pull/2955/files#r382877173

[2020-02-22 09:25] hornc commented on #3028
Under reproduction steps 2., the expected and actual URLs appear identical?

[2020-02-22 15:19] yash-gupta2000 commented on #686
I'm GSOC 2020 aspirant and am having problem in installing docker images. Error shown is
Sending build context to Docker daemon  14.85kB
Step 1/12 : FROM olbase
pull access denied for olbase, repository does not exist or may require 'docker login': denied: requested access to the resource is denied

I want to contribute to openlibrary but am stuck at this for past 3 hours. Help?

[2020-02-22 15:39] yash-gupta2000 commented on #3046
hello @aashimgarg , I would like to contribute on this. I'm having problem in installing docker images
Sending build context to Docker daemon 14.85kB
Step 1/12 : FROM olbase
pull access denied for olbase, repository does not exist or may require 'docker login': denied: requested access to the resource is denied
Stuck on this for last 3 hours. Help?

[2020-02-22 16:25] yash-gupta2000 commented on #3046
#3083
Please check PR.

[2020-02-22 16:51] yash-gupta2000 commented on #686
Hello, I'm GSOC 2020 aspirant looking to contribute to open library.
I made PR #3083 which is showing tick along with Travis CI build passed. I'm looking for invite in slack channel. I have hands-on experience in C/C++ , HTML, Bootstrap and JS and willing to contribute to this project.

[2020-02-22 16:58] jdlrobson commented on #1861
Yup after doing that we will also need to review the css of the page too and likely remove the feature's CSS from the subject page.

[2020-02-22 18:58] Shubhayu-Das commented on #1861
Ok, I'll work on this

[2020-02-22 20:29] yash-gupta2000 commented on #1834
I'm still facing same issue even after following all steps.
@mekarpeles

[2020-02-23 03:26] hornc opened #3084 "Make use of 'editor' as an author role"
### Describe the problem that you'd like solved

The existing type https://openlibrary.org/type/author_role provides for a `role` string, which could be used to designate editors of works without a single author. Currently many of these records have the editor as the sole author. Others omit any author (see #2444)

_TODO: provide some examples_

It appears the UI makes no use of this field?  The d

[2020-02-23 09:57] seabelis commented on #3084
I have included editors as authors in cases of collections. Useful because they are frequently the top-level author in cases of multi-author collections. And in cases of single-author collection they are useful to differentiate between "Works of X" when there may be several different collections with the same or similar titles.

[2020-02-23 18:25] cdrini opened #3085 "Importing a book with only isbn13 does not record that isbn"
### Steps to Reproduce
1. Go to openlibrary.org/isbn/9791186701140 (on a local env, since already imported on prod)

* Actual: Page created with ASIN, but no ISBN13 (e.g. https://openlibrary.org/books/OL27918569M/Talk_to_Me_in_Korean_Workbook_Level_5?v=1 )
* Expected: Page created with both ASIN and ISBN13

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF73
- **Operating system

[2020-02-24 07:13] tabshaikh opened #3088 "Twitter HighestRatedBot Pilot"
How do we reach more patrons/readers and help them discover opportunities on openlibrary.org?

### Proposal

"Trending” each month, we only consider books from that month and post the top 10 highest/most rated books on Twitter using a Twitter Bot.

The books we consider would be the ones that would have had the most engagement in that month.
- most times added to the Reading Log.
- The Books with

[2020-02-24 10:34] Shubhayu-Das commented on #2873
Considering how well updated GoodReads is, is it possible to add some sort of link from GoodReads as well? New to OL, so don't really know if that is a conflict of ideologies.

[2020-02-24 17:07] cYph3r1337 commented on #3080
Should I fix this issue or somebody is already working?

[2020-02-24 17:36] 0xrishabh opened #3089 "XSS on https://archive.org/account/signup endpoint"
POC URL:
https://archive.org/account/signup?status=verification_mail&email=%3Cimg%20src=x%20onerror=alert('Chill out.')%3E

[2020-02-24 17:39] cYph3r1337 commented on #3089
That Url is little wrong so here is the new one

https://bit.ly/38W9l4i

[2020-02-24 17:58] LeadSongDog commented on #2873
Related: #977 #1322

@mekarpeles
Even "Easy" is probably too hard. "Transparent" or "Background" should be the goal.

Propositions:
1. Whenever an OL search for a good external identifier comes up blank, there should automatically follow an external search for that identifier.
2. Whenever the subsequent external search finds a record that matches, an import from that record should follow, with the

[2020-02-24 18:37] #3028 closed

[2020-02-24 18:41] cdrini commented on #3046
@guyjeangilles @aashimgarg Where should there be a line break? Please provide more information, since I'm not sure where the problem is.

[2020-02-24 22:11] cdrini opened #3092 "Replace Amazon Price calls with BWB API on book page"
### Describe the problem that you'd like solved

Amazon prices don't include shipping costs and also are much slower to retrieve than BWB + rate limited. This uses BWB to fetch market prices where possible (to save a call and speed up book page load times)

### Proposal & Constraints

Fallback to amazon where needed

### Additional context

### Stakeholders
@mekarpeles

[2020-02-24 22:31] cdrini commented on #2908
From https://github.com/yoavaviram/python-amazon-simple-product-api/issues/162#issuecomment-585125300, here's a possible alternate library that works with PAAPI 5: https://pypi.org/project/python-amazon-paapi5/

[2020-02-24 23:12] guyjeangilles commented on #3046
@cdrini, I believe the line break should be between "Recent Changes / add cover" and "Author Merges | ..."

@aashimgarg correct me if I'm wrong

[2020-02-24 23:22] guyjeangilles commented on #706
Is there a code review process for bulk deletes?

I assumed this issue could be closed using the openlibrary-client  as follows: `ol.Delete('OL2982176A).save()`

[2020-02-25 11:53] seabelis commented on #1676
When  moving editions I've noticed only 50 can be moved at a time. If the migration is only run one time but the work redirected with remaining editions un-migrated, might this cause such an issue?

[2020-02-25 12:51] cclauss commented on #3011
What is left to do on this one?

[2020-02-25 13:28] cclauss commented on #3011
Also see #3093

[2020-02-25 17:35] cdrini commented on #1676
😬 Yep; the remaining editions will be left pointing to the old work. Not the end of the world, but not great either :P

[2020-02-25 17:43] manav014 commented on #686
Hello, I want to contribute to the open library for GSoC 2020. I have made a PR #3078 and have compiled the whole software with docker and even has set up the development environment for the same.  I would be glad if you may please allow me to join the slack channel so that I could make my journey of GSoC with open library the best.

[2020-02-25 18:55] mekarpeles commented on #2987
On `ol-home` sitemaps are being rsync'd to `/1/var/lib/openlibrary/sitemaps/` on `ol-www1` by our cron:

```0 20 1 * * openlibrary /olsystem/bin/verify-node.sh ol-www1 && mkdir -p /1/var/lib/openlibrary/sitemaps && rsync -av --delete rsync://ol-home/var_1/tmp/sitemaps/sitemaps /1/var/lib/openlibrary/sitemaps/```

We confirmed that on the 1st of February `sitemap_works_*` were being created in
`ol-

[2020-02-25 18:59] mekarpeles commented on #2987
Google Search Console reports that `https://openlibrary.org/static/sitemaps/siteindex.xml.gz` was indexed on Feb 24, 2020 with 26,139,082 urls discovered on Feb 18, 2020 (Success)

[2020-02-25 23:09] mekarpeles opened #3096 "Google not indexing 25M OpenLibrary.org Sitemap urls"
Google Search Console reports that https://openlibrary.org/static/sitemaps/siteindex.xml.gz was indexed on Feb 24, 2020 with 26,139,082 urls discovered on Feb 18, 2020 (Success)

However, the overall report reveals:
**20k errors, 34k valid w/ warning, 4.3M value, 25M.8M excluded**
https://support.google.com/webmasters/answer/7440203#discovered__unclear_status

### Related files & Evidence

On `ol-

[2020-02-26 00:23] hornc commented on #3096
Where is the report? Are the 25.8M excluded all related to the linked error?:

https://support.google.com/webmasters/answer/7440203#discovered__unclear_status

[2020-02-26 02:07] hornc commented on #3096
FWIW I just found the report on the Google Search Console, it's the 'Coverage' report. From looking at the 17.7K 'soft 404' errors , it seems that they are pages on the sitemap that have since been made into redirects to other works.

The errored https://openlibrary.org/works/OL2931428W/Het_Achterhuis is NOT in the Google index, but the correct result of the redirect IS: https://openlibrary.org/wo

[2020-02-26 05:51] BrittanyBunk commented on #2671
Yay, we finished this: https://github.com/internetarchive/openlibrary/issues/2671#issuecomment-560030797 here https://openlibrary.org/volunteer is a link at the bottom of the OL page and says 'volunteer'. Thanks @mekarpeles

[2020-02-26 16:53] cdrini commented on #3096
Here's the report; 23.4 M records are in our sitemap and "Excluded". NOTE: You might have to change `u/1` to `u/0` in the url if you're logged in with your archive.org account first.

https://search.google.com/u/1/search-console/index?resource_id=https%3A%2F%2Fopenlibrary.org%2F&pages=SITEMAP&sitemap=https%3A%2F%2Fopenlibrary.org%2Fstatic%2Fsitemaps%2Fsiteindex.xml.gz

Here's the break down:

| Ty

[2020-02-27 00:43] #871 closed

[2020-02-27 16:07] mjfneto opened #3101 "Use of the `text` property"
### Question
How can I use the `text` property received after doing a search request? Why is it an array with multiple id values? Are those pages?

[2020-02-27 18:42] cdrini commented on #3080
@cYph3r1337 Go for it! Let us know if you have any questions; https://github.com/internetarchive/openlibrary/wiki/Frontend-Guide has a good summary of how templates work on openlibrary. My guess would be that the template is using `$:` (which includes HTML tags) instead of `$` (which escapes them).

[2020-02-28 00:29] grravity opened #3103 "Community Features"
### Feature Suggestion
I am suggesting the implementation of a bit more community features, such as reviews, forums, and better lists/profiles.

### Suggestions To Implement, Possible Drawbacks, etc.
Goodreads is currently the mainstay for lists, and community driven aspects as far as a book site goes, but their site requires [lots of scripts to run](https://imgur.com/a/uqvCIsp), they are extremel

[2020-02-28 04:06] hornc opened #3104 "JSON import: Author name ordering"
Importing via the JSON import API `/api/import` with JSON data containing catalog style naming, e.g. `"authors": [{"name": "Naremore, James"}]`  does not automatically convert it to the OL required natural name order in the same way other import mechanisms do (MARC, and Amazon)

 `"authors": [{"name": "Naremore, James"}]` should convert to a name of `James Naremore`
Existing code that does this sh

[2020-02-28 04:08] hornc opened #3105 "JSON Import: Subtitle splitting"
This has been fixed for MARC and Amazon imports, but the json API currently appears to bypass this code. Correct subtitle splitting is necessary for the current system’s existing work matching algorithm. Inconsistently split titles create easily avoidable duplicate works and editions.

### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

After invest

[2020-02-28 04:19] hornc commented on #2220
@guyjeangilles no, this issue relates to imports from archive.org _without_ MARC records. That PR only applies to archive.org MARC items

[2020-02-28 04:24] hornc commented on #1620
I think the root of this problem was bad handling and conversion of MARC8 encoded MARC records on archive.org, which contributed to bad matching. I've fixed some big issues on how those are handled, so we should not be encountering more of these with new data imported from archive.org.

[2020-02-28 04:24] #1620 closed

[2020-02-28 04:36] hornc commented on #2303
I'm not sure this is an import issue, and not a bug. It looks like the importer did the correct thing here by associating a newly discovered scan with the correct OL record.

I don't think creating a new edition, or new class of thing, is correct. If anything, there is potentially a UI / UX change required as a new feature, but a supporting use-case would help.

From a metadata POV, this seems lik

[2020-02-28 04:52] hornc commented on #3096
Doesn't this just mean there are a lot of discovered URLs that are queued to be indexed?
The help messaging on Google about this category isn't very clear and implies it is some kind of error, but https://webmasters.stackexchange.com/questions/112227/what-can-cause-discovered-currently-not-indexed-in-the-new-gwt

Seems sensible

[2020-02-28 10:27] sonali623 opened #3107 "Implement Feature to add Chat Box"
Implement a ChatBox Feature for realtime solutions to user problems.

### Describe the problem that you'd like solved
Forms and Mails are the old way to solve user problems. Most of the user issues can be solved with the help of a realtime chatbox. This would also help overcome objections of users instantaneously that mails and forms.

[2020-02-28 14:04] lucasdondo commented on #579
I'm also having that issue in Linux and Android (Pretty much the same haha).
`/opt/openlibrary/deploys/openlibrary/933f53b/openlibrary/templates/books/check.html: error in processing template: AttributeError: 'author_key' (falling back to default template)`
It happens when trying to add a book

[2020-02-28 23:45] jdlrobson commented on #2132
Just to note there's a mergeable solution here > https://github.com/internetarchive/openlibrary/pull/2699

[2020-02-29 01:30] cdrini commented on #3096
I think the this is the key:

So we have to figure out why our pages are not being prioritized (likely because of lack of meaningful content), and see what steps we can take to reduce the number of excluded pages.

[2020-02-29 01:45] hornc commented on #3096
@cdrini well maybe there is something we could do better, but my main point was that it sounds like this excluded list is just what you see as the indexing is in progress. Indexing 25M pages isn't going to be instantaneous-- hence the question how long should we expect this to take? (And how long has it been running for now?)

[2020-02-29 03:37] cdrini commented on #3096
Ah, I see what you mean; you're saying that it might always be 25M excluded because those are the _next_ 25M to be indexed. I think the volume suggests something special is happening here; some googling says reindexing can take btwn 4 days to 4 weeks? Not sure. The number has been pretty steady over the past 2mo? I can't find info older than that.

![image](https://user-images.githubusercontent.co

[2020-03-02 01:14] #2857 closed

[2020-03-02 01:17] #2945 closed

[2020-03-02 01:21] #2129 closed

[2020-03-02 16:18] LeadSongDog commented on #3084
I have similarly used the editor's name in lieu of an author for the many cases where the principal attribution on t.p. or verso is to the editor rather than to individual part contributors. Our UI and schema should be made to provide a way of tracking that distinction. Just showing the role of editor is not sufficient, as editors may or may not be authors too. The UI and schema should handle both

[2020-03-02 19:51] mekarpeles commented on #706
@hornc -- including you on this post as it's possible you've worked with this logic more recently than I.

I don't see any logic on the Author class itself which would support/inform deletion.
https://github.com/internetarchive/openlibrary-client/blob/master/olclient/openlibrary.py#L624

I'm also not sure if deleting an author through the client also deletes works (if it works at all)

[2020-03-02 19:58] guyjeangilles commented on #3089
URL in question: `https://archive.org/account/signup?status=verification_mail&email=%3Cimg%20src=x%20onerror=alert(%22ChillOutBro%22)%3E`
![ol_#3089](https://user-images.githubusercontent.com/7256157/75712600-168c6f80-5cc0-11ea-8658-11fa04c677b3.png)

[2020-03-02 20:06] guyjeangilles commented on #3096
I'm trying to determine the actionable step for this issue. Is it to wait and see if the Google index change? Should we check a month after the sitemap changes? Or something else that I'm missing?

[2020-03-02 20:08] mekarpeles opened #3114 "Add scope:all to core.Sponsorship params to include noindex results"
Params for core sponsorship likely need to include {'scope': 'all'} to include noindex results

### Related files

https://github.com/internetarchive/openlibrary/blob/f2b94f1d90201fe230309e9f656f74e138471816/openlibrary/core/sponsorships.py#L187

[2020-03-02 20:10] guyjeangilles commented on #3101
@mjfneto I assume you're referring to the [Search API?](https://openlibrary.org/dev/docs/api/search) Correct me if I'm wrong.

The `text` seems to be random information for a short glance at `https://openlibrary.org/search.json?q=the+great+gatsby` @hornc can you shed some insight

[2020-03-02 20:15] mekarpeles opened #3115 "Allow '/people' in robots.txt"
We want to index /users and /people (lists + reading logs, as they become public)

### Related files

https://github.com/internetarchive/openlibrary/blob/75452cf6f0e3c23e1030395c93e232686ebaa417/static/robots.txt#L3-L4

### Stakeholders

[2020-03-02 20:28] guyjeangilles commented on #3103
@grravity as this issue stands it isn't very "actionable." The items I've parsed from the issue description were:
- a forum  (covered in #2456)
- reviews (#1830 removed the book review plugin, with comments that it was coming back. Not sure if that was for user reviews or external reviews)
- achievement system for contributing to the database
- friending (covered in #739)
- list handling ([there's

[2020-03-02 20:31] hornc commented on #706
@guyjeangilles @mekarpeles deleting the author does not automatically delete all the works, it will simply leave them hanging.

The UI prevents deleting a referenced record, but the raw API can do it.

This task is presumably about stepping through all items associated with the author and deleting them.

I don't think we can delete a publisher for subjective reasons, all these books have ISBNs and

[2020-03-02 20:48] guyjeangilles commented on #3107
I'd figure this would make the FAQ obsolete

[2020-03-02 21:14] guyjeangilles commented on #706
@hornc I'm guessing something like the following would suffice to remove the bad author?
[code]

Also is there a quick way to get *all* the works of an author with just one call of `works()`?
I tried `author_obj.works(limit=5000)` but got the following results
[code]

[2020-03-02 21:18] grravity commented on #3103
Ok, this is very understandable. It is a shame though imo, I think it has potential. The API is open though isn't it? Meaning anybody could theoretically make a site using OpenLibrary as the db. Maybe someone with the skills and interest would consider that to keep things a bit more seperate idk.

 As for lists though, I genuinely think that's the one thing that needs some work. The reading log se

[2020-03-02 21:29] guyjeangilles commented on #3103
@grravity A new issue for the list feature you recommended would be welcome. I'll close this issue for the time being.

Also, OpenLibrary is an AGPL project so anyone could build a GoodRead-like competitor. I think the project wlhas data integrity issues so I would encourage anyone with the skillset to make a GoodReads competitor to consider contributing to OpenLibrary's backend :grin:

[2020-03-02 21:30] #3103 closed

[2020-03-02 22:21] LeadSongDog commented on #706
A large proportion of these records include the actual author's name in the title field, as in:
"The words of the Lord Jesus. **By Rudolf Stier** ... Tr. from the 2d rev. and enl. German ed., by the Rev. William B. Pope"
or
"The poetical **works of Robert Southey**. With a memoir of the author .."
or
"The works of William Shakespeare. The text regulated by the folio of 1632; with readings from for

[2020-03-03 00:37] shrenikr235 opened #3116 "A search-as-you-type and a search-inside-content feature for Top Collections on the archive.org website"

[2020-03-03 00:52] #3116 closed

[2020-03-03 04:42] #1532 closed

[2020-03-03 04:42] #1684 closed

[2020-03-03 04:42] #3049 closed

[2020-03-03 04:42] #3056 closed

[2020-03-03 20:43] MayankVir commented on #3115
@mekarpeles I would like to work on this issue.

[2020-03-03 20:56] hornc opened #3119 "Does Open Library have a real dependency on acs4?"
### Question

#3055 exists to remove a symlink that is breaking the new Python code linting process from working in dev.

While trying to fix the symlink I noticed that of the two places acs4 is imported,

https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/lending.py#L17

Doesn't seem to use `asc4`

and

https://github.com/internetarchive/openlibrary/blob/d1c8dea74d1ca5170

[2020-03-04 01:25] cdrini commented on #2222
Reindex complete; here are the numbers (using 2020-02-29 dump; and querying 03-03 solr for "before" values)

Type | # in postgres | # in old solr | # in new solr | psql diff | solr diff
-- | -- | -- | -- | -- | --
Works | 18895253 | 16937045 | 18895021 | -232 | 1957976
Orphans |   | 2093378 | 3114527 | 3114527 | 1021149
Authors | 7248307 | 6983408 | 7248115 | -192 | 264707
Subjects | 0 | 1514064 |

[2020-03-04 01:30] grravity opened #3121 "HTTPError: HTTP Error 503: Service Unavailable (falling back to default template)"
20:30:50 EST, 3/3/2020

/opt/openlibrary/deploys/openlibrary/c5dfe5e/openlibrary/templates/type/edition/view.html: error in processing template: HTTPError: HTTP Error 503: Service Unavailable (falling back to default template)
Unable to render this page.

### Evidence / Screenshot (if possible)
https://b.catgirlsare.sexy/OwJV.png

### Relevant url?
https://openlibrary.org/books/OL7760799M/Home_Imp

[2020-03-04 01:48] cdrini commented on #3121
Thanks for the report, @grravity ! Could you provide the url you were visiting?

[2020-03-04 01:48] cdrini commented on #3121
Ah, found the url; you had placed it in the HTML comment. I updated the description

[2020-03-04 01:52] grravity commented on #3121
Yeah the link is in the issue :)

[2020-03-04 01:52] cdrini commented on #3121
Getting the same error on https://openlibrary.org/books/OL27820548M/Less . @mekarpeles @hornc , is this perhaps related to the PAAPI update?

[2020-03-04 02:07] #2222 closed

[2020-03-04 02:28] mekarpeles opened #3122 "Breaking changes to Amazon API 503"
### Summary
https://github.com/internetarchive/openlibrary/issues/3121

- **What is wrong?**

Certain pages w/ failing amazon calls were propagating up 503s and other errors instead of swallowing them (so they are not seen by patrons)
https://openlibrary.org/books/OL7760799M/Home_Improvement_1-2-3?debug=true

- **What caused it?**

https://github.com/internetarchive/openlibrary/pull/3005/files --

[2020-03-04 02:41] mekarpeles commented on #3121
Resolved on production; closing issue and will tag w/ the PR to the actual solution

[2020-03-04 02:41] #3121 closed

[2020-03-04 03:52] mekarpeles commented on #3122
resolved by #3123

[2020-03-04 03:52] #3122 closed

[2020-03-04 04:16] mekarpeles commented on #3119
I don't think we can remove acs4 dependencies. We tried doing this in the past and it didn't go well.

[2020-03-04 13:52] cclauss commented on #3011
@cdrini Most of the other stuff is done but should we still worry about:
* unused imports
* unsorted imports

[2020-03-04 21:34] tfmorris commented on #1067
This opinion is 9 months old, so hopefully it has changed, but I think a key factor which might be being overlooked is the testing cycle. Even the "minimal" reindex is a complete reboot which will require extensive human testing to confirm that things are working as expected. It's very likely that bug fixes will, themselves, require additional complete rebuilds. Given this, I think it makes sense

[2020-03-04 23:14] hornc commented on #3104
Investigation shows that for an author name to be flipped, `personal_name` must be provided (in addition to?) `name`. No other factor is taken into account.

I was going to make it flip `name` on `entity_type: person`, but it seems we need to guard against more complicated names with titles and place names e.g. variations of "Charles I, King of England"
I'm not sure how these names could enter the

[2020-03-04 23:29] hornc commented on #3104
The intent of the `name` field on import appears to be combining the MARC 100 field  $a $b $c := Personal Name + Numeration + Titles and words associated with a name

`personal_name` is just 100$a

https://github.com/internetarchive/openlibrary/blob/19f2062f519ff3189d36ce23d252f1f5a2d36c92/openlibrary/catalog/marc/parse.py#L276-L306

[2020-03-05 00:30] #3114 closed

[2020-03-05 00:58] hornc commented on #3105
Code exists to do this in vendors for Amazon titles:

https://github.com/internetarchive/openlibrary/blob/cf1d395a546dc18d318652ddd4b7a0ff9e72b4b9/openlibrary/core/vendors.py#L170-L186

Consider refactoring this into the general import path to apply to all non-MARC imports.

The MARC format splits title and subtitle out by default.

[2020-03-05 23:25] tfmorris opened #3137 "Digital audio editions shouldn't have a "Read" button"
Editions which can't be read shouldn't have a "Read" button next to the "Listen" button. The Read button is shown both on the works page, next to the edition, and the edition page.

### Relevant url?
https://openlibrary.org/books/OL26500501M/Pygmalion

[2020-03-06 00:01] hornc commented on #2966
Documentation complete with https://github.com/internetarchive/openlibrary-client/pull/147

[2020-03-06 00:01] #2966 closed

[2020-03-06 00:02] #3104 closed

[2020-03-06 04:16] hornc opened #3140 "i18n strings yml error messages in logs on startup"
When starting up the Docker image locally, early on in the log trace I see:

[code]

Will need some investigation to see why these are even being loaded or parsed.

These were moved in the fix for #871 -- I thought this was just for storage, nothing should be reading them.
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expect

[2020-03-06 04:36] hornc opened #3141 "MissingSchema(error) when starting up local docker"
I'm not sure exactly what the code is trying to do yet, but it looks like it calling out to archive.org and failing -- is this missing config?

The erroring code is line 34:

https://github.com/internetarchive/openlibrary/blob/61e2b24738a31773be96a199361e085f2499e79d/openlibrary/core/ia.py#L23-L42

Last commit looks like it could b e relevant: https://github.com/internetarchive/openlibrary/commit/

[2020-03-06 18:25] mord123321 commented on #3089
someone fixed it already?

[2020-03-06 22:23] tfmorris commented on #2908
I'm guessing this got closed by accident since the work is incomplete, untested, and not yet deployed.

[2020-03-06 22:46] mekarpeles commented on #3089
@mord123321 we connected @bfalling and the folks from Archive.org so they can assist (the code base for Archive.org is separate than Open Library). Please do consider helping on #3080!

[2020-03-06 22:56] mekarpeles commented on #3080
Yes please @cYph3r1337, we'd really appreciate your help. I'm happy to point you in the right direction.

Here's our getting started guide:
https://github.com/internetarchive/openlibrary/blob/master/CONTRIBUTING.md

Here's how to setup Open Library dev environment:
https://github.com/internetarchive/openlibrary/blob/master/docker/README.md

Here's a file to start in. The problem is likely (as @cdr

[2020-03-07 00:28] mekarpeles commented on #3137
Should this even be a book on Open Library?

[2020-03-07 00:30] mekarpeles commented on #3107
calling this out of scope for now and closing; we have support for the time being and don't have sufficient staff or prioritization to create an automatic chat bot or a staffed bot.

[2020-03-07 00:30] #3107 closed

[2020-03-07 00:43] mc2 commented on #3089
Thanks for finding this.

I don't think this URL can be created through the UI, we validate email address on client and server. But: the URL can be sent to someone and image src should be escaped. Will pursue.

[2020-03-07 07:29] #3092 closed

[2020-03-07 07:37] #2132 closed

[2020-03-07 07:48] #906 closed

[2020-03-07 08:22] #2329 closed

[2020-03-07 15:41] LeadSongDog commented on #3137
@mekarpeles Whyever not? It’s a human volunteer reading a particular PD text. More details are in the FAQ at https://forum.librivox.org/viewtopic.php?f=18&t=219

For some reason the link from the IA page to the Librivox page did not propagate to OL. That might’ve been because OL doesn’t yet support that identifier. I have linked it from edition notes in lieu.

[2020-03-07 18:55] #2653 closed

[2020-03-07 19:11] #2404 closed

[2020-03-07 19:58] mc2 commented on #3089
code review: https://git.archive.org/ia/petabox/merge_requests/1784

[2020-03-08 07:38] mord123321 commented on #3089
I can't login

‫בתאריך שבת, 7 במרץ 2020 ב-21:58 מאת ‪Mark Carranza‬‏ <‪
notifications@github.com‬‏>:‬

[2020-03-08 15:44] cYph3r1337 commented on #3080
I am trying to set up dev environment but getting this error

and i am already logged in so probably the repository does not exists

[2020-03-08 17:29] mord123321 commented on #3080
create an account for me and send me the user and password

‫בתאריך יום א׳, 8 במרץ 2020 ב-17:44 מאת ‪Cypher‬‏ <‪notifications@github.com
‬‏>:‬

[2020-03-09 02:50] hornc commented on #1091
unused code removed in https://github.com/internetarchive/openlibrary/pull/3054/commits/cd8daeda3c977308532c22a4191388ff3ad06685

[2020-03-09 02:50] #1091 closed

[2020-03-09 02:53] #792 closed

[2020-03-09 03:33] imskr commented on #3141
I would like to work on this. Assign me.

[2020-03-09 05:32] imskr commented on #3141
This is likely because `http` or `https` is missing @hornc

[2020-03-09 06:06] mekarpeles commented on #2908
@tfmorris this code had been tested and deployed (as of Friday). If there are followup tasks, let's make sure to create issues for them.

[2020-03-09 06:06] #2908 closed

[2020-03-09 06:08] #2985 closed

[2020-03-09 06:19] mekarpeles commented on #2829
@BrittanyBunk it will indeed be a preview for everyone, that's the point of the ticket.

[2020-03-09 11:41] imnotaqtpie commented on #3115
i would like to work on this issue if possible. thanks.

[2020-03-09 16:57] guyjeangilles commented on #3115
@mayankvir @imnotaqtpie PRs are welcome to solve this issue

[2020-03-09 19:09] SudarshanHV commented on #853
Is this issue open or is it allotted to somebody as of now?

[2020-03-09 19:16] SudarshanHV commented on #849
I have gone through this thread once. So, I needed help with what this means: " Remove markup from messages.pot".
The link redirects to a html page with a few variables set, which look like a couple of alert messages?
If there is any work to be done to close this issue, I could help

[2020-03-09 21:40] #702 closed

[2020-03-09 21:42] #3115 closed

[2020-03-09 21:47] imskr commented on #2940
Is this open to work? @mekarpeles

[2020-03-09 22:41] mekarpeles opened #3153 "i18n Strings broadcasting SyntaxError on Server Start (possible regression) #3067"
@tfmorris + @hornc -- seeing some i18n `SyntaxErrors` on server start (on `dev`) possibly related to this branch:
[code]

_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/pull/3067#issuecomment-596813132_

[2020-03-09 23:41] #2487 closed

[2020-03-10 00:13] mekarpeles opened #3154 "Add AGPL Licensing to JS for FSF (Due: 2020-03-13)"
### Describe the problem that you'd like solved

Brewster is giving a talk @ FSF so we want to get our js licenses up to grade :)

### Proposal & Constraints

### Additional context

### Stakeholders

@bfalling, @cdrini

[2020-03-10 01:05] Keepingshtum commented on #3012
Is the issue still around? Looks like something I can fix!

[2020-03-10 05:54] tfmorris commented on #3154
I'm confused. Do we have different licenses by language? I thought the whole repo was AGPL.

[2020-03-10 16:21] BrittanyBunk commented on #853
@SudarshanHV I accidentally created a duplicate of this issue - so this is still open and an issue. You could tell that it still exists, because the layout for author pages is still a work in progress from when I last checked. You could see the issue I brought up #2786 to find out more.

[2020-03-10 17:45] LeadSongDog commented on #2241
The simplest bit of this would seem to be to just change the two fieldset legends in openlibrary/templates/books/edit/edition.html
so that "This Edition"
https://github.com/internetarchive/openlibrary/blob/354b29683215d67fc1605277c4d2793683db17a6/openlibrary/templates/books/edit/edition.html#L174
(et seqalia) wraps around "Publishing Info"
https://github.com/internetarchive/openlibrary/blob/354b29

[2020-03-10 18:04] shaswa123 commented on #2512
Hey, can I work on this?

[2020-03-10 18:17] tabshaikh commented on #2512
@shaswa123 sure you can go ahead with it

[2020-03-10 19:49] guyjeangilles opened #3161 "Remove State: Backlogged label"
Remove `State: backlogged` as agreed upon at March 10th, 2020 community call.

### Describe the problem that you'd like solved

- [x] `State: backlogged` will be removed from the repo
- [x] Remove `State: backlogged` from issue templates #3162

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-03-10 21:22] cdrini commented on #3154
Useful links for context:
- https://www.gnu.org/software/librejs/free-your-javascript.html
- https://www.fsf.org/blogs/licensing/rel-jslicense

[2020-03-10 21:41] mord123321 commented on #3080
did you managed to fix it?

[2020-03-10 23:25] mord123321 commented on #3080
??

[2020-03-11 00:16] #2829 closed

[2020-03-11 00:20] #3154 closed

[2020-03-11 01:38] cdrini commented on #1067
This is deployed to prod ol-web3; monitoring for issues.

[2020-03-11 08:00] cYph3r1337 commented on #3080
No, I am still getting the error. Can someone help me set up this locally?

[2020-03-11 13:32] cdrini commented on #3080
Re-run this command from the README:

[code]

But _don't forget the dot at the end_! That's gotten a lot of us 😅

[2020-03-11 14:32] Abhishek856 commented on #2624
hello everyone , my self Abhishek mishra , i want to work on this issue . so can i work on this issue.

[2020-03-11 14:36] tabshaikh commented on #2624
@Abhishek856 ya sure go ahead

[2020-03-11 20:21] tfmorris commented on #3119
Since all lending is done by IA, not OL, I don't see why OpenLibrary would have a dependency on Adobe Content Server, which is used specifically for lending.

[2020-03-11 21:26] mord123321 commented on #3080
HEY alll goood ? </div> aaaaaaaa</textarea>bbbbbbbbbbb 'ddddddd"fffffffff*/wdwda/*ad

[2020-03-11 21:27] mord123321 commented on #3080
HEY alll goood ?  aaaaaaaabbbbbbbbbbb 'ddddddd"fffffffff*/wdwda/*ad

[2020-03-11 21:31] mord123321 commented on #3080
HEY alll goood ? <> aaaaaaaabbbbbbbbbbb 'ddddddd"fffffffff*/wdwda/*ad

[2020-03-11 21:37] mord123321 commented on #3080
fixed it?

[2020-03-11 21:38] mord123321 commented on #3080
hi

[2020-03-11 21:41] mord123321 commented on #3080
`<img src="test"></img>`

[2020-03-11 21:41] mord123321 commented on #3080
<img src="test"></img>

[2020-03-11 21:42] mord123321 commented on #3080
<img src="test.png" onload=alert(1)></img>

[2020-03-11 21:42] mord123321 commented on #3080
<img src="test.png" oonloadnloonloadad=alert(1)></img>

[2020-03-11 21:46] mord123321 commented on #3080
<img src="test.png" oonloadnloonloadad=alert(1)></img>

[2020-03-11 21:47] mord123321 commented on #3080
<HTML><BODY>
<?xml:namespace prefix="t" ns="urn:schemas-microsoft-com:time">
<?import namespace="t" implementation="#default#time2">
<t:set attributeName="innerHTML" to="XSS<SCRIPT DEFER>alert("XSS")</SCRIPT>
</BODY></HTML>

[2020-03-11 21:49] mord123321 commented on #3080
<img src=x onerror=alert(String.fromCharCode(88,83,83));>
<img src=x oneonerrorrror=alert(String.fromCharCode(88,83,83));>
<img src=x:alert(alt) onerror=eval(src) alt=xss>
"><img src=x onerror=alert('XSS');>
"><img src=x onerror=alert(String.fromCharCode(88,83,83));>

[2020-03-11 21:50] mord123321 commented on #3080
<body onload=alert(/XSS/.source)>
<input autofocus onfocus=alert(1)>
<select autofocus onfocus=alert(1)>
<textarea autofocus onfocus=alert(1)>
<keygen autofocus onfocus=alert(1)>
<video/poster/onerror=alert(1)>
<video><source onerror="javascript:alert(1)">
<video src=_ onloadstart="alert(1)">
<details/open/ontoggle="alert`1`">
<audio src onloadstart=alert(1)>
<marquee onstart=alert(1)>
<meter valu

[2020-03-11 21:53] mord123321 commented on #3080
%26%2397;lert(1)
&#97;&#108;&#101;&#114;&#116;

[2020-03-11 21:56] tomer6517 commented on #3080
[<script>alert(1)</script>](test)

[2020-03-11 22:03] #2141 closed

[2020-03-11 22:18] mord123321 commented on #3080
Global AppSec Dublin registration is open. Enjoy Early Bird Pricing until March 31st.

PROJECTSCHAPTERSEVENTSABOUT

Donate Join
XSS Filter Evasion Cheat Sheet
Introduction
This article is focused on providing application security testing professionals with a guide to assist in Cross Site Scripting testing. The initial contents of this article were donated to OWASP by RSnake, from his seminal XSS C

[2020-03-11 22:26] imskr commented on #3011
Can I work on this issue @cclauss

[2020-03-11 22:42] cclauss commented on #3011
Sure.  `flake8 --sélect=F401.` should find all the undefined names.

[2020-03-12 04:29] #3105 closed

[2020-03-12 07:17] cYph3r1337 commented on #3088
hey, I want to work on this. Should I?

[2020-03-12 07:20] tabshaikh commented on #3088
Hi, this issue is at hold for now as we are replanning our Distribution Plan for OL :)

[2020-03-12 09:31] mightysood commented on #2624
Hey @JordanDysart @tfmorris
This issue is still open and no one has looked into it!
Can I work on this issue?

[2020-03-12 17:59] tfmorris commented on #3153
This is purely a cosmetic issue. Apparently the infogami i18n code attempts to load any files which match 'strings*' instead of restricting by file extension as one might expect. I'll rename the .yml files so that they are out of the way.

[2020-03-12 18:19] tfmorris commented on #3140
Sorry, @mekarpeles must have missed this one when creating #3153 and I didn't notice it either when tied the fix to that issue. Closing as a duplicate.

[2020-03-12 18:19] #3140 closed

[2020-03-12 18:24] tfmorris commented on #3137
Yes, it definitely should according to our cataloging guidelines. I'm a little surprised it's even a question given past discussions about how important audio books are in today's marketplace. LibriVox books are much closer to "real" audio books read by voice talent than machine TTS of error-laden machine OCR. The Internet Archive staff also seemed very proud that they were hosting all the LibriVo

[2020-03-12 18:36] tfmorris commented on #3101
I've updated the Search API documentation with additional information on this field:
https://openlibrary.org/dev/docs/api/search?_compare=Comparer&b=3&a=2&m=diff

It is an array of a bunch of different strings which is used to power the "All" search mode. You can find specifics in the Solr schema which the documentation links to.

[2020-03-12 18:36] #3101 closed

[2020-03-12 18:40] tfmorris commented on #3088
Wouldn't it make more sense to first create a page (or section of the home page) that has these trending books on it? Then you have someplace for the bot to point people to.

[2020-03-12 18:44] tfmorris commented on #3084
The UI manifestation of these roles is on the edition page where they're listed as contributors.

While I think we could improve things slightly here, we need to face the reality that we're subject to the practices of the original catalogers who we have no control over. We should make the best use of the information if we get it, but often everyone will be lumped together as "authors."

[2020-03-12 18:44] tabshaikh commented on #3088
That sounds great too, in my mind I had like we upload a list of these books to Twitter with link to each

[2020-03-12 19:05] tfmorris commented on #1146
I'm closing this as a duplicate of #973. PR #2442 has the initial pass at internationalizing everything and we have issue #2998 to review and clean up the i18n.

[2020-03-12 19:05] #1146 closed

[2020-03-12 19:15] tfmorris commented on #2817
Closing as a duplicate since #2998 is a superset of this. I've added the specific phrase from the original issue to the list there.

[2020-03-12 19:15] #2817 closed

[2020-03-12 19:37] cdrini opened #3170 "Investigate jump in /books/* load times"
/books/* load time; the deploy is ~where the cursor is.
![image](https://user-images.githubusercontent.com/6251786/76560210-0cfcc780-6477-11ea-903d-b512e4975c1a.png)

### Stakeholders

@mekarpeles @tfmorris @hornc

[2020-03-12 19:39] cdrini commented on #3170
Likely related to the deploy: https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-03-10

Note that's not exactly what went out that day; here's what went out specifically that day:
- Commits: https://github.com/internetarchive/openlibrary/compare/deploy-2020-03-06...deploy-2020-03-10
- ~PRs: https://github.com/internetarchive/openlibrary/pulls?q=is%3Apr+is%3Amerged+merged%3A202

[2020-03-12 19:40] cdrini commented on #3170
We determined it's unlikely related to the new solr, since edition pages don't hit the new solr, and the /search and /authors load times (which definitely do hit solr) appear unaffected.

[2020-03-12 19:41] cdrini commented on #3170
Here's an example _profile link for analyzing what's taking a lot of time; although we might need to do an un-cached one to get a good profile: https://openlibrary.org/books/OL26923946M/Less?_profile=true

[2020-03-12 19:42] mekarpeles commented on #3170
Thank you for this @cdrini. Let's make sure this gets discussed also during our next community call as Open Mic. I'm adding it now to our mtg agenda

[2020-03-12 20:00] tfmorris commented on #3076
None the strings for the type `list` were extracted, so this whole section needs translating.

[2020-03-12 21:36] #2795 closed

[2020-03-13 05:05] tfmorris commented on #2998
@dcapillae Thanks for pointing out the two problems. For the first, yes, you need the parameter name, ie `%(count)s`. For the second, I think it worked the way it was, but it was confusing, so I fixed it. Thanks for pointing it out.

[2020-03-13 17:06] LeadSongDog commented on #3084
@tfmorris The problem is that current design makes it impossible to "make the best use of the information". Where the original cataloguer shows only an editor, we are forced to either treat that person as an author or leave the work's author field blank. Neither can be considered as best use. We need a way to capture the editor identity as an OL1A on the work record, while flagging that they were

[2020-03-13 18:25] cclauss opened #3176 "Remove use legacy ASCII only functions"
The legacy `isalpha()` and `isalnum()` functions should not be used any place where we expect freeform text because they are restricted to the ASCII character set.

There are two places that need to be cleaned up:

1. In the file [`openlibrary/plugins/upstream/models.py`](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/upstream/models.py#L622-L646), the functions `fi

[2020-03-13 21:44] tfmorris commented on #3176
The behavior of `isalpha()` and friends is actually Python version dependent. In Python 2 it is locale dependent, effectively making it ASCII only on our servers, but in Python 3 it includes all Unicode letters.

The `filter_problematic_subjects` method may be designed to work around inadequate escaping in https://github.com/internetarchive/openlibrary/blob/5f225827eb056da5051b3dab630d5721db85c960

[2020-03-13 23:03] mekarpeles commented on #2972
I believe this occurs in `macros/LoanStatus.html` or `macros.ReadButton` and then `openlibrary/static/css/components` -- possibly `buttonCta.less`?

[2020-03-13 23:06] mekarpeles commented on #2972
The way I would solve this issue (since the local environments do not support "borrowing") is to go on dev.openlibrary.org, find a book/edition like https://openlibrary.org/books/OL23292543M/The_giver, borrow the book, and then look at the buttons on that page (desktop and mobile). The mobile especially should appear to overlap.

Also, if you go to the `work` for this page, https://openlibrary.org

[2020-03-14 12:27] cclauss opened #3183 "Dependancy mockcache is not compatible with Python 3"
`openlibrary/core/cache.py` [uses mockcache](https://github.com/internetarchive/openlibrary/search?q=mockcache) which can not be installed on Python 3 as discussed at #1687.

python2 -m pytest openlibrary/tests/core/test_ia.py  # passes
python3 -m pytest openlibrary/tests/core/test_ia.py  # fails

### Question

### Additional context

### Stakeholders

[2020-03-14 17:34] cdrini commented on #2972
In general, you can usually find the right html file by searching the code base for a unique looking string; in this example "Return eBook" might be good. In VSCode or Pycharm, `ctrl-shift-f` will let you search the entire codebase.

Once you have the right file(s), just edit the file so that it always displays the return button. Then you can easily view it locally as you try to fix it 👍

[2020-03-14 20:13] ishank-dev opened #3186 "Loan Actions Button UI can be improved"
Loan actions buttons are not aligned properly and can be styled to enhance UI
### Evidence / Screenshot (if possible)
![Screenshot_20200315_011353](https://user-images.githubusercontent.com/45262592/76689374-42620a80-665b-11ea-896c-686d7eb10057.png)
### Relevant url?

https://openlibrary.org/account/loans
### Steps to Reproduce

1. Go to https://openlibrary.org/account/loans
2. You should have bor

[2020-03-14 20:20] #757 closed

[2020-03-14 21:52] cclauss commented on #3176
What files should be deleted?

[2020-03-14 21:54] tfmorris commented on #3154
To clarify, this doesn't add or change any licensing. It adds special markup to declare the license in a machine readable form for an obscure browser plugin. "Obscure" in this case means that when it was last available from the Mozilla store in Nov 2018, it had a grand total of 249 users during its 4 year lifetime.
https://web.archive.org/web/20190512112349/https://addons.mozilla.org/en-US/firefox

[2020-03-14 22:46] tfmorris commented on #2864
No, and we already blacklist /search in robots.txt

I think pagination may be one such case, unless we want the search results biased to an author's most popular works (which might be reasonable since works also have their own pages).

We definitely want to exclude `sort, mode, type, v, debug` or we could just whitelist `page` and drop everything else.

@mekarpeles Any opinions?

[2020-03-15 01:21] tfmorris commented on #2303
The example is a public domain scan, but this applies to copyrighted scans that Internet Archive is going to "lend" as well. If they've scanned multiple editions, users can join the wait list for any of them (actually they have to do it individually), but if the same edition is scanned twice, only one of the copies can be lent out through OpenLibrary.

@hornc Are you proposing that we just refuse

[2020-03-15 02:28] tfmorris commented on #579
@lucasdondo That sounds like a different issue. If it's reproducible, please create a separate issue. If you just need help setting up a development environment, please ask for help on Slack.

Going back to the original issue, the last List on the list of Lists (https://openlibrary.org/people/JPhippz/lists/OL60745L) has been deleted, but there's still a partial dangling reference to it associated

[2020-03-15 06:29] Keepingshtum commented on #3046
Hello all, read through this thread and the closed [PR](https://github.com/internetarchive/openlibrary/pull/3083)

From what I gather, we should add some padding as indicated in my screenshot (pardon the poor handwriting!)

![Screenshot (334)_LI](https://user-images.githubusercontent.com/20059269/76696632-97316f80-66b3-11ea-869a-17faa7473ebc.jpg)

@guyjeangilles @cdrini Correct me if I've got it w

[2020-03-15 12:37] cYph3r1337 commented on #3088
@tabshaikh I think your Idea will work fine
Highest engagement book --> Bot tweets them (with link to the book) --> Trending page also starts showing them.

[2020-03-15 19:50] mekarpeles commented on #3012
Closing this issue as we already have a PR open which will make it so that subject pages render as if they are standard search results pages:

See: https://github.com/internetarchive/openlibrary/pull/2984
cc: @LeadSongDog

[2020-03-15 19:50] #3012 closed

[2020-03-15 23:18] JordanDysart commented on #2624
Hey @mightysood, I would suggest putting your fix together and just submitting it. It's going to be a good experience regardless. I'm not currently working on it.

[2020-03-16 00:40] mekarpeles commented on #2373
appears resolved

[2020-03-16 00:40] #2373 closed

[2020-03-16 01:24] tfmorris commented on #706
Actually, I was proposing deleting them all. As with many such records that we've imported from Amazon over the years, they're too low quality and would take more trouble than their worth to repair.

Take for example this "[work](https://openlibrary.org/works/OL8765701W/Views_afoot_or_Europe_seen_with_knapsack_and_staff_by_Bayard_Taylor)". It's got two identical, incorrect copies of edition record

[2020-03-16 02:14] tfmorris commented on #2908
@mekarpeles I assume you will (or already have) create any necessary issues for the followup to finish this task (e.g. getting import working, fixing exception handling, etc). It would be good to reference them to this issue so that people can find them easily.

[2020-03-16 03:07] tfmorris commented on #849
@SudarshanHV Thank you for offering to look at this, but please choose another issue since this task was also included in #2998 as:

This specific example is fixed in 5956d601ad8e4216eeb0abfc3d95a495ed4094c5 and the rest of the messages have been reviewed and somewhat improved. For messages with embedded links, it's very difficult to both remove the HTML and also provide the translators with compl

[2020-03-16 03:07] #849 closed

[2020-03-16 10:14] the-nine-tail opened #3191 "How to modify sql query and save the changes"
I was trying to fix xss in openlibrary, so I wanted to modify the sql query which insert the record of books in database. Where can I find all the queries and also after modifying how to save the changes??

@openlibrary

[2020-03-16 20:16] mekarpeles commented on #2481
This is also now happening to our user borrow counts graph (which we temporarily disable on the homepage live on ol-web3, ol-web4)

[2020-03-16 20:16] mekarpeles opened #3194 "Borrow Graphs data stopped recording / generating for homepage"
This is also now happening to our user borrow counts graph (which we temporarily disable on the homepage live on ol-web3, ol-web4)

_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/issues/2481#issuecomment-599739110_

[2020-03-16 20:17] mekarpeles commented on #3194
Initial hunch is the cron may be failing due to AmazonAPI exception, but we tested commenting this code and still did not have success at recording / rendering data.

[2020-03-16 20:21] mekarpeles opened #3195 "/isbn endpoint fails import (no `product_type` set)"
### Evidence / Screenshot (if possible)

### Relevant url?

* Actual:
* Expected:

### Proposal & Constraints

### Related files

openlibrary/core/vendor.py within AmazonAPI `serialize`

[code]

### Stakeholders

[2020-03-16 21:59] #2517 closed

[2020-03-16 23:09] mekarpeles commented on #2972
@aj-kamal can we assign you to this issue?

[2020-03-16 23:15] #3153 closed

[2020-03-16 23:56] Aj-KamaL commented on #2972
Yes, sure.
Do let me know if #3187  resolves the issue or not.

[2020-03-17 00:15] #3076 closed

[2020-03-17 01:12] #3183 closed

[2020-03-17 01:39] #3161 closed

[2020-03-17 01:51] guyjeangilles commented on #3191
@the-nine-tail I don't know for sure, but I don't think there's a documented way to modify the OpenLibrary database directly with SQL, at least for non-staff. I think volunteers can only use Infogami, but I may be wrong.

[2020-03-17 01:55] cdrini commented on #3191
Hi @the-nine-tail ; [XSS](https://en.wikipedia.org/wiki/Cross-site_scripting) is unrelated to SQL; I believe you're thinking of [sql injection](https://en.wikipedia.org/wiki/SQL_injection), which isn't the problem here.

[2020-03-17 01:55] #3191 closed

[2020-03-17 02:07] guyjeangilles commented on #3195
related #3085

[2020-03-17 07:17] BrittanyBunk opened #3200 "Offer alternatives joining a waitlist"
The issue is that since more people are going to go to the OL in the future, preparing that would involve getting people to where they need. So if someone sees (or clicks on) the waitlist button, there are a list of similar books to choose from. This is just a 2nd option to joining the waitlist, as that option should still be available too, just not the only option.

That I believe would be what w

[2020-03-17 07:26] tabshaikh commented on #3200
@BrittanyBunk But if we are on the works page we can get a list of all the editions with their availability https://openlibrary.org/works/OL15203980W/Macbeth so the question could also be how can we do something similar if we are on a edition's page

[2020-03-17 07:37] BrittanyBunk commented on #3200
Not just the work's page, but other works if all those editions are taken. It's tough, but I would say if there's a way to go by a list (like I believe if I want say the 12th edition, the order would be 13th followed by 11th, then 14th, 10th, etc.). So there would be an order that a program would go by and it would suggest the next 3 books that one could take up.

[2020-03-17 07:46] BrittanyBunk commented on #3200
@tabshaikh I took the first example waitlist book I could find: https://openlibrary.org/books/OL3968892M/Marc_Chagall. Using the subject's page based on the words in the title: https://openlibrary.org/subjects/person:marc_chagall_(1887-), I generated a list of 'related' books that are just from the top 3 ones that say 'borrow' on them:
![image](https://user-images.githubusercontent.com/55302685/76

[2020-03-17 08:09] tabshaikh commented on #3200
How about a popup which shows related books and will reduce the clutter significantly

[2020-03-17 08:39] cYph3r1337 commented on #3080
hey, @cdrini I am still not able to set up this locally, I am getting this error(attached the screeshot).
![Screenshot from 2020-03-17 14-05-01](https://user-images.githubusercontent.com/38362547/76837592-d3ea9b80-6858-11ea-962a-b63a3f33afa4.png)

[2020-03-17 08:58] BrittanyBunk commented on #3200
@tabshaikh yes - that's what I was hoping to go for!

[2020-03-17 09:04] BrittanyBunk commented on #3200
while talking to Lisa, here's the list I created in order of priority (I bet it's incomplete, but a start). If one doesn't work (all the books are waitlisted or is unusable), go to the next:
1) duplicate book - just without a waitlist on it
2) collections - books with the book in it - same edition of course
3) other editions
4) subject pages based on the title
5) fuzzy attributions - base on subje

[2020-03-17 09:13] ScarlettRed opened #3201 "Unexpected ERROR : ITEM_WAITING_FOR_CLAIM"
I was getting this error while accessing a particular book with URL: https:www.archive.org/stream/chroniclesofnar00Iewi?ref=ol#page/n5

![tempsnip](https://user-images.githubusercontent.com/45791528/76839865-49a43680-685c-11ea-9ebf-040848b805d6.png)

however, later on upon some further digging up, I found out that this book is already loaned by someone. I think this must be considered as an issue

[2020-03-17 09:14] BrittanyBunk opened #3202 "Avoid showing waitlisted books in carousels"
If people are browsing, likely they want to see books that they want to read. Showing waitlisted books would take away from that. I mean, it's ok to have it there for general knowledge, but I don't think that's what people visit carousels for (then again, I'm really speaking for myself and have no knowledge of what other people use it for or if it does bother them).

I don't think it's a top prior

[2020-03-17 09:25] BrittanyBunk commented on #3200
slack continuation of the issue here: https://app.slack.com/client/T03ST9K7K/threads/thread/C0ETZV72L-1584261722.215000

[2020-03-17 11:05] the-nine-tail commented on #3194
@mekarpeles can you please show the steps to reproduce this bug and any more details.

[2020-03-17 11:22] the-nine-tail commented on #3085
Page created without even ISBN or ASIN
https://openlibrary.org/books/OL27927882M/Test_Book
@cdrini

[2020-03-17 12:32] Aj-KamaL commented on #2972
Yes, sure.
Do let me know if #3187 resolves the issue or not.

[2020-03-17 14:20] brierjon commented on #2517
@mekarpeles @tabshaikh
Great work, but the fail is not as graceful as could be useful.

Stating a valid ISBN number like 1138271861 for https://www.amazon.com/Community-Competition-Citizen-Science-Distributed/dp/1138271861/ and others listed above as not valid is misleading. The response for these would be more useful to state the book is not eligible for sponsorship and include the criteria check

[2020-03-17 17:03] mightysood commented on #2624
Hi @JordanDysart @tfmorris
I have root caused this issue. There is a library called wmd used with <textarea> tag to give it extra functionalities, Help button has <a> tag which has height and width of 0 X 0 so when we click the help button then anchor tag is not getting clicked.
If I add below CSS on the anchor tag, this issue is fixed. should I raise a PR?
{
    position: absolute;
    height: in

[2020-03-17 17:22] cdrini commented on #2624
Good find @mightysood ! Please do; then we can test it to make sure it's working :+1:

[2020-03-17 17:31] cdrini commented on #3080
Hmm, it looks like your docker images might not be accessing the internet correctly. Try running:

[code]

If that errors, try running:

[code]

One of those should hopefully work. Otherwise maybe one of the solution on this page might help? https://medium.com/@faithfulanere/solved-docker-build-could-not-resolve-archive-ubuntu-com-apt-get-fails-to-install-anything-9ea4dfdcdcf2

[2020-03-17 18:32] mightysood commented on #2624
Hi @cdrini @JordanDysart  @tfmorris
I have raised a PR. please look into it and revert back.

[2020-03-17 18:43] mightysood commented on #2624
Hi @cdrini @JordanDysart
I raised a PR and didn't change much code and I am not sure why Travis CI build failed.

[2020-03-17 20:07] tfmorris commented on #3170
What's the vertical axis scale on that graph? What does "95" at the cursor represent?

From a quick skim of the diff, I see a few candidates worth investigating:
1. Changes to affiliate link generation (with prices)
2. Added test user.is_librarian() on edition page
3. Showing book preview on more pages
4. Change from iteritems() to items() for Python 3. The assumption is that all lists on the page

[2020-03-17 20:09] cdrini commented on #3170
Here it is with axes:
![image](https://user-images.githubusercontent.com/6251786/76897189-a5c18780-6869-11ea-9e90-d6e7f410d2cb.png)

[2020-03-17 20:23] tfmorris commented on #3170
Thanks. So 95 msec typical, spiking to 750-1200 msec. That seems much lower than the 4250 msec that the profile is showing, but perhaps that's mostly profiling overhead.

The line that jumps out at me is:

`        4    2.172    0.543    2.653    0.663 vendors.py:97(get_products)`

That's 2.7 seconds of time wasted getting vendor info from Amazon and BWB!

The high SSL handshake times also make me

[2020-03-17 20:25] tfmorris commented on #3170
Are Amazon and BWB request times instrumented? They should be so that they can be tracked since they're a key external dependency.

[2020-03-17 20:29] cdrini commented on #3170
I don't believe there are any stats for them; adding some would be a great next step for this issue.

[2020-03-17 20:43] tfmorris commented on #3170
I think the most likely culprit is #3118 which was merged and deployed with with a large number of unresolved review comments from @hornc @cclauss and me, a clear case of "Not enough time to do it right, but enough to do it twice."

I addition to the confusing specification of the rate limiting, which I commented on, the implementation is also just plain wrong. With the default throttling of 0.9,

[2020-03-17 21:57] EbotFabien commented on #3201
I think you had to be sent to the waiting list or less users need to be notified when books are borrowed

[2020-03-17 23:16] manav014 commented on #2512
I think the issue is solved as when i opened the link and in the More by {author} section the same book was not mentioned.
![Screenshot at 2020-03-17 23-15-54](https://user-images.githubusercontent.com/51242628/76910198-4c774980-68a5-11ea-8598-d25173bd6928.png)

[2020-03-17 23:32] manav014 commented on #2242
I can handle the issue and set the default to metric. May I please get some code pointers.

[2020-03-18 03:38] Aj-KamaL opened #3208 "Unexpected Response :Uploading a cover image(>30MB or unknown extension)."
The "Add Cover Image" input form "Choose File" that takes an input image(File)  form the user does not handle corner cases,
1. [uploading an image>30 MB](https://github.com/internetarchive/openlibrary/issues/2390#issue-493620943),
2. uploading a non-image file(other than JPG, GIF or PNG).

### Evidence / Screenshot (if possible)
Following error page opens up in 1 and 2 cases respectively:
![image]

[2020-03-18 07:08] the-nine-tail opened #3210 "InternetArchive/OpenLibrary User Account Takeover"
Domain: https://archive.org
Vulnerability: CSRF
Severe: Medium-High
Risk: Complete User Account Takeover

Steps to reproduce:
A. Create a form ------>

[code]
B. As soon as user click on update their email id is changed.
C. Now attacker has the whole control he can reset password or change screen name and more.

The form can be customised as per need to make victim click.

- **Logged in (Y/N)?** Y

[2020-03-18 09:47] mightysood commented on #686
Hi @cdrini @mekarpeles
I have set up the project locally and recently made a PR #3205 and now working on more issues. It would be great if I could get an invite for the slack channel as it would help me contribute better.

[2020-03-18 10:47] tabshaikh commented on #3208
GIF book cover's should that too be allowed? Also are GIF book covers present for books on ol?

[2020-03-18 11:34] seabelis commented on #3208
Good question. I've never tried it. Surely we don't want animated gifs nor is there a need to support transparency. I don't check file types of covers so I can't really say if they are present or not.

[2020-03-18 12:35] guyjeangilles commented on #2512
Also cant duplicate

[2020-03-18 12:35] #2512 closed

[2020-03-18 21:01] BrittanyBunk commented on #3208
@tabshaikh I agree with @seabelis. I would say it's ok for there to be GIF's, just no animated ones. I uploaded one and then took it down. I see no reason why they weren't. I upload png's, but I take from websites and it's quite likely that those are in GIF.

Outside of that, I already wrote about this in #2390.

I just don't see why anyone would upload anything that's not an image file to a cover

[2020-03-18 23:25] manav014 commented on #3046
#feature
Added a line break for better ui
Made  a commit that can close this issue please check that out.

[2020-03-18 23:59] #2624 closed

[2020-03-19 01:21] #2972 closed

[2020-03-19 08:06] EbotFabien commented on #3200
Hi @BrittanyBunk,concerning the altenatives for waiting list i think a button labelled  ‘’ While Waiting ‘’ below can help reduce the clutter and later on trigger a module that gives a whole bunch of related books to the user and the user can choose a book at the same time entering the waiting list or else he doesn’t click on the while waiting button at all and decide to take the waiting list opti

[2020-03-19 09:59] Aj-KamaL commented on #3208
I agree with @BrittanyBunk and @seabelis. GIF is a very common file extension and even if the user attempts to upload an animation, the GIF changes to an image.
About upload transparency, ["Unrestricted File Upload forms are a Major Security Threat"](https://owasp.org/www-community/vulnerabilities/Unrestricted_File_Upload).
**Whitelisting File Content/type** and **Restricting File Size** are very

[2020-03-19 11:51] tabshaikh opened #3212 "Preview error's for Facebook and Reddit"
Pasting a link on Facebook to create a post shows multiple previews/ previews without image even if the book has a book cover.
Reddit previews don't show up.

### Evidence / Screenshot (if possible)
![Screenshot from 2020-03-19 17-15-05](https://user-images.githubusercontent.com/31198893/77064638-dc340980-6a05-11ea-893e-a0c167656f8e.png)
![Screenshot from 2020-03-19 17-09-20](https://user-images.g

[2020-03-19 16:50] BrittanyBunk commented on #3200
@EbotFabien yasss!!!! Such a great idea! I love it!

I was wondering, what if we just combine the join waitlist with the while waiting button, and just say 'join waitlist and while waiting' <- ok, that'll need to be condensed. Maybe 'join and read', idk. 'Join and find'? I got it: 'join and browse' - with a confirmation of what spot someone is on the waitlist for.

The next step, now that we figur

[2020-03-19 17:38] BrittanyBunk commented on #3208
@Aj-KamaL I just think this should be closed, because I already addressed this issue in the first part and you did for the 2nd part. So it's pretty finished from what I see.

[2020-03-19 18:02] BrittanyBunk opened #3213 "More user-friendly 'unique visitors' stats page"
Continuation of issue #2783, part 1 of split
https://openlibrary.org/ at the bottom of the page shows 'unique visitors'. When clicked on, it shows: https://archive.org/stats/
However, the information there is more for developers. What really is needed is a stats page that is for users. Something that shows up with a Google Analytics style (i.e. infographic style). My proposed metrics for 'unique v

[2020-03-19 18:14] BrittanyBunk opened #3214 "Add a button for viewing the statistics about the OL itself"
![image](https://user-images.githubusercontent.com/55302685/77099696-99583e80-69d1-11ea-86f3-eabb84a91c61.png)
When clicked on, it'll show the stats of the site itself and updates (which go first), so that people know about what they need to know for the site to stay informed
**Suggested layout:**
_updates:_
- news: maybe the Twitter feed
- bugs: glitches, crashes, site is back online, etc.
_site:

[2020-03-19 19:33] mc2 commented on #3210
Thanks! Fix in code review.

[2020-03-19 22:24] tfmorris opened #3215 "Remove msgbroker / eventer"
The `msgbroker` module is just a facade/shim for renaming `eventer` methods causing confusion / obscurity because uses have to be searched under both names.

[code]

The event mechanism is only used in a couple of places and always in a one-to-one fashion, so is of limited/no utility for its intended purpose of decoupling. The implementation is also synchronous, so there's no performance benefit.

[2020-03-20 01:26] mekarpeles commented on #3201
This is definitely an issue, thought it needs to be passed to Archive.org staff leadership --> @bfalling

[2020-03-20 01:26] #3201 closed

[2020-03-20 02:37] cdrini opened #3219 "Reading log stats appear too faint on editions page"
The counts of "Want to Read"/ etc. appear too faint on the editions page. They should be black.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/77131439-07cce900-6a32-11ea-943c-cd908e4dcc20.png)

### Relevant url?
e.g. https://openlibrary.org/books/OL26673217M/A_Mind_for_Numbers

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** F

[2020-03-20 05:14] ScarlettRed commented on #3201
so, now that you have passed on this issue @mekarpeles  we don't have to work on it anymore.

[2020-03-20 05:53] Aj-KamaL commented on #3219
@cdrini Does #3220 seem good enough?
Or we can also highlight the background of the text since the information seems important to the user? Let me know.

![image](https://user-images.githubusercontent.com/23471306/77139709-097fc680-6a9d-11ea-8208-57a29c06d223.png)