[2020-05-12 07:46] #3221 closed

[2020-05-12 19:12] LongJohn-Silver commented on #3449
Sure, thanks, and sorry that I created a duplicate, and search for a similar issue but nothing popped up or I didn't noticed it.

[2020-05-12 19:29] LongJohn-Silver commented on #3448
I created a gif, sorry if it's not the best thing in the world but I'm doing what I can. After I choose the list I want the book to be added, it just closes the new window and it doesn't do anything.

https://upload.vaa.red/4ef6N#c67aaab2a19faf1f30d7e3f65fa5bc8f

[2020-05-12 19:32] LongJohn-Silver commented on #739
Does Patrons mean any user or just people who donate in some way?
Is there any idea on when this will be live?

[2020-05-12 19:46] LongJohn-Silver commented on #1964
I messaged a lot of my contacts in GoodReads to see if they would switch to OL and most of them said that it lacks social features, I think that if that kind of things would be added more users would come, and sure, more spam and bots maybe, but also people willing to help with spam control and a better cataloguing and else. Regarding being a non-profit, I don't think that changes anything to beco

[2020-05-12 21:39] LeadSongDog commented on #739
All library users are "patrons". Still, I would hate to see the pursuit of antisocial media detract from actually building a better library. Let’s just focus on that.

[2020-05-12 22:32] #2550 closed

[2020-05-13 03:47] cdrini commented on #3303
✔️ Done!

[2020-05-13 03:47] #3303 closed

[2020-05-13 04:43] devarshigoswami commented on #3395
@seabelis @mekarpeles Hi, could anyone walk me through how to change the cover of work in https://openlibrary.org/works/ ? If I try the 'edit' option, it says permission denied.

[2020-05-13 19:34] mekarpeles commented on #3456
This month we plan on switching reading logs to public by default (which is how goodreads an many other platform operate), with the exception that we will emphatically continue to support a private setting for anyone who so chooses.

Lists, themselves, have public since their inception circa 2010: http://blog.openlibrary.org/2010/12/15/lists-are-here/ and http://blog.openlibrary.org/2010/09/07/lis

[2020-05-13 19:35] mekarpeles commented on #3456
Unless the community in large feels very strongly about private lists (feel free to still post on this thread), I am closing as 'will not fox'

[2020-05-13 19:35] #3456 closed

[2020-05-13 21:45] mekarpeles opened #3459 "Regression: Unable to add multiple authors to a work"
@seabelis reports https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-05-12 deploy broke ability to add additional authors to works.

Based on the log, we suspect #3378 cc: @jdlrobson, @devarshigoswami -- are you two able to help investigate?

### Relevant url?

### Proposal & Constraints

### Related files

### Stakeholders

[2020-05-13 21:56] jdlrobson commented on #3459
Have you ruled out cached javascript?

[2020-05-13 21:58] jdlrobson commented on #3459
![Screenshot_20200513-145705_Chrome](https://user-images.githubusercontent.com/148752/81870093-0ef00f00-952a-11ea-873a-3fcbf8e3fe60.jpg)
Are you referring to the additional author fields? It looks like those are being created as disabled by default. It's more obvious on mobile since we seem to be resetting default input styles on desktop.

If so fix should be a line of js removing the input disabl

[2020-05-13 22:11] tfmorris commented on #3459
Definitely not a caching thing. It's been broken all day (yay Wednesday!). The `disabled` was added by @devarshigoswami here:

https://github.com/internetarchive/openlibrary/pull/3378/files#diff-024668efbcad3d956b5fe3a3e49be190R36

Reverting that commit should fix it.

[2020-05-14 04:37] devarshigoswami commented on #3459
Hi @tfmorris @jdlrobson , can I do anything to help?

[2020-05-14 05:52] jdlrobson commented on #3459
If you are able to verify my suggested fix in https://github.com/jdlrobson/openlibrary/commit/7e6826c25391c880ed16a7e27125c4541f656b98  that would be helpful. If it doesnt work please feel free to submit one that does!

[2020-05-14 08:34] tabshaikh commented on #2058
We are moving forward in making the reading log public by default when creating a new account as Google Books and Goodreads by default makes the reading log of users public at the time of account creation and going public by default and giving the ability to go private is a responsible approach forward.
https://books.google.ca/books?uid=117464657237458903377
![Screenshot from 2020-05-13 23-50-06](

[2020-05-14 08:44] tabshaikh opened #3461 "Redirect /account/books to /people/our-username"
A good chunk of people try sharing their /account/books page. This will enable us to move in the direction of `following` readers when we try to do that, and also redirectly the users would get us into a sweet spot which enable us to move in a variety of directions.

### Describe the problem that you'd like solved

We should consider changing the URL /people/our-username to render your editable /a

[2020-05-14 10:20] tabshaikh opened #3463 "Fix image previews for works and edition pages on Facebook and twitter"
Followup for #3212

- Most of the previews were showing up but sometimes without an image

- If an image does not show up in a preview this may be due the image size not being sufficient.

- Facebook demands The URL of the image for your object. It should be at least 600×315 pixels, but 1200×630 or larger is preferred (up to 5MB). Stay close to a 1.91:1 aspect ratio to avoid cropping.

- Twitter d

[2020-05-14 15:17] seabelis commented on #3395
@devarshigoswami If you hover over a cover you should see "manage covers". Click on this and it will bring up the covers for all the editions associated with the work. Click one to select it and submit.

[2020-05-14 16:14] tfmorris commented on #2058
Except that they're not "recommendations," but rather a personal list of things I've read or want to read, for whatever reason. Perhaps more accurate copy would be something like "Make public everything I'm reading, have read, or want to read."

That's just an opinion, even though it's stated like it's a fact.

It's kind of like Goodreads saying "This access is granted in the spirit of openness wi

[2020-05-14 16:30] tabshaikh commented on #2058
@tfmorris Both the approaches were proposed as you stated and looking at a variety of sites it was agreed unanimously that we think moving in this direction would open us for more possibilities :) Screenshot below of the design
![Screenshot from 2020-05-13 23-06-28](https://user-images.githubusercontent.com/31198893/81959928-d6d1f480-962d-11ea-986c-99a20b4e19c7.png)

[2020-05-14 20:01] #3459 closed

[2020-05-15 17:04] seabelis opened #3467 "Searching Cyrillic text throws error if no results"
Searching for Cyrillic text throws error if no results.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/search?q=%D0%A7%D0%B5%D1%81%D1%82%D0%BD%D1%8B%D0%B9+%D0%B2%D0%BE%D1%80&mode=everything

### Steps to Reproduce

1. Search for some Cyrillic text that does not exist
2. Experience the error

* Actual: /opt/openlibrary/deploys/openlibrary/75fa095/openlibrary/tem

[2020-05-15 20:18] #3212 closed

[2020-05-16 16:56] #3224 closed

[2020-05-16 17:05] seabelis opened #3469 "Author merge UI selects first listed author by default"
By automatically selecting  the first listed author by default, the chances of accidental incorrect merges are high. To avoid merging the first listed author, one must double opt out by changing the merge target AND removing the selected check box.

### Evidence / Screenshot (if possible)
I searched Sandra Brown for merging. Janet Daily is selected by default.
<img width="776" alt="Screenshot 2020

[2020-05-16 20:14] LeadSongDog commented on #3469
#668 discussed this problem

[2020-05-16 20:21] demode-root opened #3470 "Add an option to add synonyms to publishers, authors and places"
A lot of publishers have different names throughout years, authors use different names and places have different names in different languages.

Good example of this is [Státní nakladatelství politické literatury](https://openlibrary.org/publishers/St%C3%A1tn%C3%AD_nakladatelstv%C3%AD_politick%C3%A9_literatury), that was later renamed to Svoboda, Nakladatelsví politické literatury (NPL), Libertas..

[2020-05-16 23:38] tfmorris commented on #3469
Yes, this is a duplicate of #668. See my comment from Feb. 2018 https://github.com/internetarchive/openlibrary/issues/668#issuecomment-369307926 for some proposed fixes.

[2020-05-16 23:50] tfmorris commented on #668
Part of @jdlrobson's object seemed to be that my proposed changes were in a comment, not the main body of the issue, so I've copied them there.

@seabelis please feel free to edit/update with your thoughts or material from #3469.

[2020-05-17 08:31] seabelis commented on #668
Thanks, @tfmorris and @LeadSongDog . I knew this issue existed somewhere but couldn't remember what it was called.

[2020-05-17 08:36] seabelis commented on #668
By automatically selecting  the first listed author by default, the chances of accidental incorrect merges are high. To avoid merging the first listed author, one must double opt out by changing the merge target AND removing the selected check box.

### Evidence / Screenshot (if possible)
I searched Sandra Brown for merging. Janet Daily is selected by default.
<img width="776" alt="Screenshot 2020

[2020-05-17 08:36] seabelis commented on #3469
Closing as this is a duplicate of #668.

[2020-05-17 08:36] #3469 closed

[2020-05-17 22:41] LeadSongDog commented on #668
Considering the havoc that could result if someone were to search on Smith or Jones this should perhaps be more than priority 3

[2020-05-18 15:13] LongJohn-Silver commented on #739
I am not a fan of social media, I do not use any of them, but I think that referring to them as antisocial is a bit of an exaggeration and your personal opinion without any facts. I still think that adding some more features that support social interaction would help to build a better library, I know some people who would switch from GoodReads into OL for these features and I'm sure they would con

[2020-05-18 17:04] LeadSongDog commented on #739
I can’t claim to have invented the term, but I should make a point of ensuring OL has some of the books on the subject. As far as facts go, just look up Cambridge Analytica to see the harm they do.

[2020-05-19 15:35] shucon commented on #2501
I would like to start working on this issue.

[2020-05-20 06:02] matiaslabra commented on #3399
I just faced this situation working with a canvas (`The canvas has been tainted by cross-origin data`). If someone else needs a quick workaround, I am appending the Open Library cover url into a public Google server (proxy).

[code]

[2020-05-20 17:01] #2058 closed

[2020-05-20 17:59] #1433 closed

[2020-05-20 18:29] mekarpeles commented on #3256
related tasks are complete

[2020-05-20 18:29] #3256 closed

[2020-05-20 21:50] manumazu commented on #3424
Hi @mekarpeles, using openlibrary for storing bookshelves could be a solution. I don't have any idea about volumetry. I'm working on a prototype. I keep you in touch if we need to register a bot on your API.
Regards

[2020-05-20 21:50] #3424 closed

[2020-05-21 00:08] #3445 closed

[2020-05-21 08:49] seabelis opened #3473 "Imports through ISBN searches create duplicate works"
When a user searches by ISBN and the edition is not already present in the catalog, the edition is imported. However, this frequently creates a new work when an appropriate work already exists.

### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/books/OL28122354M/The_Hound_of_the_Baskervilles (imported edition)
https://openlibrary.org/works/OL20779126W/The_Hound_of_

[2020-05-21 21:22] LeadSongDog commented on #3470
Re publishers: #200 #372 #2119 all relate. As yet we still do not use identifiers for publishers, we have just text strings.

Re authors: we already support a.k.a.

Re places and other subjects: #2819 relates, and it may eventually put an end to using text strings for subjects, but so far we still have to use them.

[2020-05-22 08:53] seabelis opened #3474 "Merged work IDs do not appear in edition histories"
When a work is merged and the edition is migrated, viewing previous versions of that edition does not show the previous work ID. Sometimes, in cases of incorrect merges it would be useful to see or restore the previous work. This is only possible if one knows the ID.

### Describe the problem that you'd like solved
When an edition is moved, it's history should display the work ID it was moved from

[2020-05-22 10:40] #2053 closed

[2020-05-24 17:22] LeadSongDog commented on #668
If I read it correctly (that’s a long shot) then the most important part of the problem lies at:
https://github.com/internetarchive/openlibrary/blob/12c05a664a0e0bb96a4d4594b2c5b1d708ebaf31/openlibrary/templates/merge/authors.html#L17

[2020-05-24 18:03] LeadSongDog commented on #3474
@seabelis When you say merged, was this a manual edit of the edition record to refer to a different work record, or was it something else?  I would think it should be possible to auto comment the edition history with old one new work ids, but they do show at https://openlibrary.org/books/OL27769174M/Through_the_Magic_Door?_compare=Compare&b=3&a=2&m=diff

[2020-05-25 01:11] tfmorris commented on #3474
@seabelis Both the new and old work IDs are show here: https://openlibrary.org/books/OL27769174M/Through_the_Magic_Door?_compare=Comparer&b=3&a=2&m=diff

You have to build the URL by hand, but if you go to the work history,
https://openlibrary.org/works/OL20344623W?m=history
you could navigate to an earlier version like https://openlibrary.org/works/OL20344623W?v=2 and restore it, then revert the

[2020-05-25 08:32] seabelis commented on #3474
@tfmorris @LeadSongDog Yes, that's actually what I need. I was looking at the actual record rather than the change, so https://openlibrary.org/books/OL27769174M/Through_the_Magic_Door?v=2 does not actually show the work ID if you hover over the "1 edition" link.

[2020-05-25 08:32] #3474 closed

[2020-05-26 13:13] LeadSongDog opened #3478 "Cleanup bot adding edition contributors as work authors"
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/works/OL15346397W/El_ingenioso_hidalgo_Don_Quijote_de_la_Mancha?_compare=Compare&b=75&a=74&m=diff

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual: edition contributors showed as work authors
* Expected: only the work author should show on the work record

### Details

- **Logged in (Y/N)?**
- **Browser ty

[2020-05-26 13:29] LeadSongDog commented on #3432
The author search suggested by @seabelis does not work, but see as one example https://openlibrary.org/authors/OL2754228A/RH_Value_Publishing

These bogus authors are a huge drag on cleanup efforts. If an author is seen only at one online bookseller then no edition can be independently confirmed to exist. We’ve taken their click bait and amplified it. Shame on them. Shame on us. Such crap should b

[2020-05-26 16:33] seabelis opened #3479 "Incorrect READ buttons on carousels"
User-generated carousels using Work IDs display READ buttons if print-disabled items are available.

### Evidence / Screenshot (if possible)
<img width="412" alt="Screenshot 2020-05-26 at 18 30 06" src="https://user-images.githubusercontent.com/17739465/82926065-ef6fd200-9f7e-11ea-9e22-571f0245c000.png">

### Relevant url?
https://openlibrary.org/collections/read-the-movie
The two works listed at

[2020-05-26 21:18] BrittanyBunk commented on #3432
I seriously would leave a note on the website for people to not waste their time on these authors.

[2020-05-26 23:28] mekarpeles commented on #2384
Also see: https://github.com/internetarchive/openlibrary/issues/683

[2020-05-27 17:29] tabshaikh commented on #3478
Cleanup Bot is @hornc personal bot so that problem might have been fixed since.

[2020-05-27 17:31] mekarpeles commented on #3473
@seabelis I think we need an example that remains unmerged :)

[2020-05-27 17:35] tabshaikh commented on #3428
Logs seem to be okay as merged with @cclauss pr, punting to next week

[2020-05-27 17:37] mekarpeles commented on #3428
Lending is logging ~1mb every 30 seconds.

[2020-05-27 17:43] cclauss commented on #3428
Are we logging all events or are we logging error situations?
If the latter then what error situation is being so chatty?

[2020-05-29 17:56] mekarpeles commented on #3229
I looks like this has been implemented #3307

[2020-05-29 17:56] #3229 closed

[2020-05-30 00:10] LongJohn-Silver commented on #3448
Any updates?

[2020-05-30 18:00] shucon commented on #3479
I'm starting to work on this.

[2020-05-30 18:59] mekarpeles opened #3480 "Create program to Use Open Library Lists to generate Archive.org resource guides"
### Describe the problem that you'd like solved

Generate an Archive.org resource guide from an OpenLibrary.org book List.

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-06-01 11:04] teymour-aldridge opened #3483 "Investigate Python Unused Imports"
There are [a lot](https://lgtm.com/query/7596990423930761565/) of unused imports which clutter things.

### Describe the problem that you'd like solved

Refactoring to remove all unused imports.

### Proposal & Constraints

Remove all ununsed imports. This will reduce technical debt, decluttering things to make them clearer.

### Additional context

UPDATE:
As per @cclauss's comments below, for de

[2020-06-01 19:41] #3461 closed

[2020-06-02 17:06] mekarpeles commented on #3483
@teymour-aldridge could you help us with this one?

[2020-06-02 17:13] tabshaikh commented on #3428
16 GB, 20Kb/sec approx of logging for now, therefore, closing this issue

[2020-06-02 18:49] imskr commented on #3483
Work is in Progress refer #3447

[2020-06-03 08:32] teymour-aldridge commented on #3483
I'd be happy to help. I'm a bit busy at the moment, but should have some time on the weekend.
To automatically catch these sort of errors it might be worth installing CodeClimate on the repository (which automatically reports code duplication, ununsed imports, overly complex functions, etc) as well as LGTM.com (which catches security bugs in open source). Both are free for open sorce software!

[2020-06-03 08:36] cclauss commented on #3483
`flake8` which we already run in our continuous integration can autodetect these issues.  Detection is not the problem.  The problem is that no one is reviewing PRs so they sit open for months at a time.  Let's ___not___ add code climate as it is full of uncontrollable false positives.

[2020-06-03 08:38] teymour-aldridge commented on #3483
Oh right. I may have jumped the gun a bit here. I'd be happy to work to try and help resolve some of these issues.

[2020-06-03 13:11] #2636 closed

[2020-06-03 15:04] tabshaikh opened #3490 "Improving Profile Page /people/user"
Moving on we would want the profile page to show 10 books what the user `is currently`, `want to read` and `has read` something like what Goodreads does so that it can promote better sharing and in the future we would like users to add `friends` or `follow` people

### Proposal & Constraints

https://www.goodreads.com/user/show/102159719

![future-profile](https://user-images.githubusercontent.com

[2020-06-03 20:40] drupol opened #3491 "Error when searching for a book title with french accent."
Link: https://openlibrary.org/search?q=M%C3%A9thodes+de+la+th%C3%A9orie+des+fonctions+d%27une+variable+complexe&mode=ebooks&has_fulltext=true

Error:

`/opt/openlibrary/deploys/openlibrary/1e724d8/openlibrary/templates/work_search.html: error in processing template: UnicodeEncodeError: 'ascii' codec can't encode character u'\xe9' in position 1: ordinal not in range(128) (falling back to default te

[2020-06-04 16:16] LeadSongDog commented on #3432
@BrittanyBunk Can you be a little more specific than “on the website” please?

[2020-06-05 03:04] Melonadev opened #3492 "Archiving url with Russian characters doesn't display PDF (Wayback Machine)"
### Evidence / Screenshot (if possible)

### Relevant urls

**Archived**:
https://web.archive.org/web/20200605023059/http://xn--b1aanbebkbbpfqcbebcaoyded7a1etm.xn--p1ai/tribuna/kachesov.pdf

**Current (original url)**:
http://xn--b1aanbebkbbpfqcbebcaoyded7a1etm.xn--p1ai/tribuna/kachesov.pdf
or
союзмосковскихкомпозиторов.рф/tribuna/kachesov.pdf

### Steps to Reproduce

1. Search the **original url*

[2020-06-06 10:19] seabelis commented on #1676
By reverting some merges, I've recovered the "lost" editions. It was indeed the case that the work was merged, but the editions were not migrated.

[2020-06-06 10:19] #1676 closed

[2020-06-09 15:46] tabshaikh opened #3493 "Mobile Sidebar"
Whenever we access OL on a mobile device a menu bar with a small number of options is currently presented and all the cool features we add is hidden and does not surface to the top.

### Proposal & Constraints

We would want to redesign the menu bar to open in form of a sliding side bar so that we can have a complete menu for our users

https://www.figma.com/proto/ExZAre2gj07FukhtWeqSyR/ol-sidebar

[2020-06-09 15:57] tabshaikh opened #3494 "Adding Google Book Actions to books pages"
Book actions make Google Search an entry point for discovering books and authors, enabling Search users to quickly buy the books that they find directly from Search results. As a provider of e-books, you can provide a feed of data to Google using the structured data schema below.

### Proposal & Constraints

Its is a limited access feature and needs to be implemented according to these guidelines

[2020-06-09 15:59] cdrini opened #3495 "Reading Log Statistics: Where are you getting your voices from?"
_"The reading of all good books is like conversation with the finest men of past centuries."_ - René Descartes

If a book is like a conversation, then where are you getting your voices from? In light of the recent spotlight on anti-Black racism in the world, I was trying to think of what would be a way to help anti-racism movements, given the capabilities of Open Library. @seabelis has done a grea

[2020-06-09 21:49] jdlrobson commented on #3493
If you go this route I'd recommend looking at what we do on Wikipedia mobile which uses a CSS only solution via the checkbox hack.

Also please make a decision with #1514 prior to this change.

[2020-06-09 21:51] jdlrobson commented on #3493
What items are missing from the menu on mobile? I have had a quick glance and I don't see anything missing..

[2020-06-10 18:42] Codain opened #3496 "Normalize syntax for dates"
### Describe the problem that you'd like solved
Using the API, dates (such as 'publish_date') are given without any common syntax, making it difficult to parse and display it in another language. Such fields would be much more usefull if filled with a fixed syntax.

### Proposal & Constraints
When creating/editing a book, use a date form which allows to set year, month+year or day+month+year. Wiki

[2020-06-13 12:12] MaorDayanOfficial opened #3499 "Stored XSS at https://openlibrary.org/authors/some-author-page in "Alternative names" section"
### Evidence / Screenshot (if possible)
https://i.imgur.com/6WgJglf.png
https://i.imgur.com/zUB8AtH.mp4

### Relevant url?

### Steps to Reproduce

1. Click edit in the author page
2. Write the payload in "Does this author go by any other names?" like:
`<svg onload=alert(document.domain)>`
and click "Save"

* Actual: Stored XSS has been executed
* Expected: Stored XSS has been executed

### Detail

[2020-06-14 13:53] Codain commented on #3496
@tfmorris not sure it is linked.

Meanwhile I found something related in the FAQ. An icon with a link next to the publication date field pointing to [Which date should I use as the "publication date"?](https://openlibrary.org/help/faq/editing#publication-date) can be helpfull in the Create book and Edit book forms.

[2020-06-14 14:25] Codain commented on #3496
And by the way if it can be harmonized with author birth and death dates (where there is a recommandation to use another format than publication dates) it would be much more consistant.

[2020-06-14 16:47] mekarpeles commented on #3296
Yes, though we likely want to show suggested results even before a search is made (e.g. on the https://openlibrary.org/authors and https://openlibrary.org/search/authors page(s))

[2020-06-14 19:00] tfmorris commented on #3496
@Codain Typo in the issue number. It's corrected now.

[2020-06-15 06:54] shaswa123 commented on #3479
Hey,
I just want to know if someone is still working on it or not.

[2020-06-15 06:56] shucon commented on #3479
Yes I'm working.

[2020-06-15 17:23] shaswa123 commented on #3446
Hey,
I would love to know if this issue is still being worked on or not

[2020-06-16 16:29] cdrini commented on #3492
Unrelated to Open Library; @mekarpeles can you notify the Way Back Machine folks?

[2020-06-16 16:29] #3492 closed

[2020-06-17 04:15] TimmyTheHelper opened #3508 "Contributing."
I want to contribute or volunteer But due to the COVID19 I can't visit but anyway can I still contribute if I don't live in america?

Please get back to me.

[2020-06-17 04:16] TimmyTheHelper commented on #3508
Never mind, I got it.

[2020-06-17 04:19] TimmyTheHelper commented on #3432
@LeadSongDog  He means Ignore it basically.

[2020-06-17 05:50] #3508 closed

[2020-06-17 06:50] LeadSongDog commented on #3432
@TimmyTheHelper No, I don’t mean ignore it, I mean that we need mechanisms that actively check for these deficient source records and remove their pollution from the pool. Amazon has not shown any interest in cleaning up their own mess.

[2020-06-17 13:29] WS64 opened #3509 "Unable to render this page."
Suddenly openlibrary.org stopped working for me completely, on three different browsers (Firefox, Chrome and Edge. Just tested my iphone, same error there.). It only shows "Unable to render this page"
![Bild1](https://user-images.githubusercontent.com/7792441/84903837-df936b80-b0ae-11ea-98d6-b14688e19ece.jpg)
Clicking on any of the links leads to the same page.
blog.openlibrary.org works though.
W

[2020-06-17 14:24] BrittanyBunk commented on #3432
@LeadSongDog I love that idea! That saves so much trouble.

[2020-06-19 09:57] tyah-code commented on #3509
Works for me. Are you still having the same result?

[2020-06-19 13:31] WS64 commented on #3509
One day ago it worked again. On iphone and on PC. It was for sure not my connection nor my devices, something was wrong on that site but is fixed now.

[2020-06-19 18:50] #3495 closed

[2020-06-21 12:02] Codain opened #3522 "Importing books from Amazon - Fill language property when available"
### Describe the problem that you'd like solved
When a book is imported (from Amazon in the example given), there is often this note on the edition `Source title: Xxxxxxx (French Edition)` but the language field of this edition is left empty.

### Proposal & Constraints
It seems OL is able to know the language of an edition when importing from at least Amazon. Proposal to fill also the language fi

[2020-06-21 12:48] Codain opened #3523 "Add an Edition in another language - Unable to set Edition title at creation time"
### Evidence / Screenshot (if possible)
Click on the following link.

### Relevant url?
https://openlibrary.org/books/add?work=/works/OL10510966W

### Steps to Reproduce
1. Go to one edition/book record, for instance https://openlibrary.org/books/OL1442776M/Don't_hassle_me_with_your_sighs_Chuck
2. Click to add a new edition of this work. This leads you to https://openlibrary.org/books/add?work=/wo

[2020-06-22 14:19] MayankVir commented on #3356
I would like to work on this feature update

[2020-06-22 14:21] MayankVir commented on #2940
Is this issue open to work now?

[2020-06-22 14:22] MayankVir commented on #3342
I am new to Open source and I would like to start from this issue.

[2020-06-22 14:23] MayankVir commented on #2777
I can work on this issue!!

[2020-06-22 14:36] tabshaikh commented on #3342
@MayankVir Sure go ahead with it🎉 and ping me if you have any doubts 🙂

[2020-06-23 06:49] TimmyTheHelper commented on #3432
@LeadSongDog  My bad.

[2020-06-23 12:32] ctorok commented on #3483
Happy to help; need some guidance. These are the steps I would take?
1. Clone the repository at https://github.com/internetarchive/openlibrary
2. Run the query and get the results, https://lgtm.com/query/7596990423930761565/
3. Remove offending import from file
4. Commit back to repo

[2020-06-23 12:53] cclauss commented on #3483
[`flake8 --select=F401`](https://flake8.pycqa.org/en/3.8.3/user/error-codes.html?highlight=unused%20import)

[2020-06-23 13:21] drupol commented on #3362
Any news on this so far ?

[2020-06-23 17:21] tfmorris commented on #3362
The Cover service doesn't include all the covers. Rather than fixing it, OpenLibrary added a workaround to the web client to fetch covers directly from IA. That's why you see different results in the web app. You're probably stuck using the same workaround.

[2020-06-25 07:32] SohilK03 commented on #3523
Please assign me this issue...I am new to this repository want to start contributing

[2020-06-25 12:12] drupol commented on #3362
I understand, but then there is a discrepancy between the OL frontend and OL API !

[2020-06-25 12:53] LeadSongDog commented on #3491
Related: #135 #667 #1808

[2020-06-25 15:52] tfmorris commented on #3491
@LeadSongDog I don't think any of those are actually related.

This is just a garden variety internationalization bug. It's trying to interpret UTF-8 as ASCII.

[2020-06-26 14:22] MayankVir commented on #3342
Thank you Sir

Please guide how to start with the issue

[2020-06-27 12:36] tabshaikh commented on #3342
@MayankVir This document is a great start point https://developers.google.com/search/docs/data-types/faqpage. So openlibrary has the faq page here https://openlibrary.org/help/faq and the data can be seen in the value field here  https://openlibrary.org/help/faq.json

[2020-06-27 15:25] MayankVir commented on #3342
Okay

[2020-06-27 16:54] waldenn opened #3532 "is there a JSON API for inside search results?"
### Question

Is there a JSON API URL for inside-search requests? I could not find it in the API documentation. Adding ".json" to the end of "inside" does not work here.

The HTML search URL is: [https://openlibrary.org/search/inside?q=%22stocked+with+wine-related+goods%22&mode=ebooks&has_fulltext=true](https://openlibrary.org/search/inside?q=%22stocked+with+wine-related+goods%22&mode=ebooks&has_f

[2020-06-27 18:59] tfmorris commented on #3532
It's just a wrapper for the Internet Archive search API, so you could use that.

[2020-06-27 19:05] waldenn commented on #3532
Are you sure about that?

Can you give me a link that returns the JSON results (including the text snippets) for the query "stocked+with+wine-related+goods"?

This [query](https://openlibrary.org/search.json?q=%22stocked+with+wine-related+goods%22) returns nothing.

[2020-06-27 21:20] Codain opened #3533 "Display list of collaborators for an author"
### Describe the problem that you'd like solved
I would like to know with who an author is frequently collaborating.

### Proposal & Constraints
On an author page, have a list of other authors who have written a book with this author, sorted by number of work written together decreasing.

List can be formatted like the author list on a subject page or like an author list in a search result page (m

[2020-06-27 21:42] laoshaw commented on #3259
some books are so dark and my eyes just can't read them, can we have different theme(light mode, night mode ,etc)

[2020-06-28 20:18] mekarpeles commented on #3479
I think this is now resolved with the refactors to `LoanStatus`.

[2020-06-28 20:19] #3479 closed

[2020-06-29 15:14] BrittanyBunk commented on #3259
@laoshaw have you tried to turn up the brightness on your computer?

[2020-07-04 23:18] BrittanyBunk commented on #3480
I don't get this, but was wondering if everything's alright @cdrini too - if any help was needed on anything?

[2020-07-05 03:51] #3467 closed

[2020-07-05 03:51] #3491 closed

[2020-07-05 17:04] mekarpeles opened #3554 "Certain /edit fields contain html which breaks Book Page design (e.g. italics)"
https://dev.openlibrary.org/books/OL8326468M/When_Workers_Decide

[2020-07-05 17:34] mekarpeles commented on #3554
EDIT: In this example, it was actually a missing author which was causing the issue with styling, related to #3553

[2020-07-05 17:37] guyjeangilles commented on #3509
Gonna close this as stale

[2020-07-05 17:37] #3509 closed

[2020-07-05 17:42] guyjeangilles commented on #3493
@tabshaikh Can you answer Jon's question?

[2020-07-06 06:14] karansinghgit commented on #3490
@tabshaikh Could you assign this to me?

[2020-07-06 07:19] tabshaikh commented on #3490
Sure you can go ahead :)

[2020-07-06 18:21] #3446 closed

[2020-07-06 19:45] mekarpeles commented on #3554
resolved by in latest #3553

[2020-07-06 19:45] #3554 closed

[2020-07-07 06:27] mekarpeles opened #3556 "Improve search results: include overview of available previews & languages"
Related to the release for #684 (solved by #3553)

### Describe the problem that you'd like solved

1. We should list which languages/editions are available for a work
2. We should show a sample of previews which are available (books w/ ocaids)
3. The bookcover + link should auto-select a previewable edition
4. Choose the appropriate cover matching the selected previewable edition

### Proposal &

[2020-07-07 12:58] #684 closed

[2020-07-07 12:58] #3556 closed

[2020-07-08 14:12] seabelis opened #3561 "Books Page Issues (following Canonical Books Launch)"
- [ ] (TODO) Issues relating to list (post Canonical Books Page launch) #3607

- [x] (TODO - remove the initial perspective ) trapezoid-shaped cover looks distorted
<img width="255" alt="Screenshot 2020-07-08 at 17 00 01" src="https://user-images.githubusercontent.com/17739465/86934965-9e85f880-c13c-11ea-9cfa-f3f798d8196c.png">

- [x] (TODO - place on new line) Edition subtitles and edition inform

[2020-07-08 16:15] aasifkhan7 opened #3562 "Docker build crashes on CentOS"
I tried building openlibrary by following the docker instructions on a MacOS Mojave 10.14.6. the build was success and I could access the application on localhost:8080. However when I replicate the process on a CentOS system, the build fails with user permissions errors, I suppose.

### Steps to Reproduce

1. git cloned https://github.com/internetarchive/openlibrary
2. ran `docker build -t olbase:

[2020-07-08 20:00] dcapillae commented on #3561
I found another bug:

- Lists are displayed in disorder when a book is included in several lists. Example: [OL8563887M](https://openlibrary.org/books/OL8563887M).

![screenshot](https://user-images.githubusercontent.com/7125952/86964095-d6edfc80-c165-11ea-950f-c67fc376c62c.jpg)

[2020-07-09 17:43] #2903 closed

[2020-07-10 02:51] LeadSongDog opened #3564 "Voided work page throws an error"
After moving the last edition to a different work, the voided work page throws an error

### Evidence / Screenshot (if possible)

### Relevant url?
* https://openlibrary.org/works/OL10667890W/Sofia_Petrovna and
* https://openlibrary.org/works/OL6570951W/Best_American_Short_Stories_1972?edition=bestamericanshor1972mart

[code]

### Evidence / Screenshot (if possible)
[code]

May be a redirect editi

[2020-07-10 10:04] seabelis commented on #3564
I've also documented this issue in #3561.

[2020-07-10 16:10] spamspambaconspam opened #3565 "exposed ASCII code on dialog"
This appeared when I removed an item from a list.

![sp20200710_083143_703](https://user-images.githubusercontent.com/9367321/87174887-d8264300-c2a5-11ea-9dcf-0dc889cf94cd.png)

[2020-07-10 16:34] #2501 closed

[2020-07-10 23:09] cdrini commented on #1850
This was fixed by #3117 ; closing.

[2020-07-10 23:09] #1850 closed

[2020-07-11 01:00] Himanshunitrr commented on #3483
Can I too work on this issue, sir?

[2020-07-11 05:04] cclauss commented on #3483
Please refer to #3447...  That must be reviewed and landed first.

[2020-07-11 17:03] dcapillae commented on #3564
I had noticed this bug too. It's a little annoying when you're working on moving editions to the main work and redirecting works. It could lead to some unwanted results, such as empty or misdirected work pages.

[2020-07-11 17:48] LeadSongDog commented on #3564
It’s not a perfect answer, but probably the work record should, at the time it is voided, be redirected to the work which is newly linked to the last edition

[2020-07-11 17:59] tfmorris commented on #3564
Only if the two works are equivalent/duplicates. If the newly emptied work was a conflation of multiple works, it should just be deleted.

[2020-07-11 18:17] LeadSongDog commented on #3564
So a user dialog is needed?

[2020-07-12 00:03] JordanDysart commented on #3523
Would it make more sense to add a new field for language translations of a book? Can we currently sort by languages?

One example that I found is The Little Prince_, it has other language entries [French](https://openlibrary.org/books/OL18316886M/Le_Petit_Prince) and [German](https://openlibrary.org/works/OL10279W/The_Little_Prince?edition=derkleineprinz00sain_0). The German book is listed under t

[2020-07-12 08:01] seabelis commented on #3564
If conflated because it contained volumes of a series, I will frequently leave links to the individual volumes. I think everyone is in agreement that it should not simply break.

[2020-07-12 17:26] guyjeangilles commented on #3561
I've added @dcapillae 's comment to the list of problems in the original issues description so it won't get lost.

[2020-07-12 17:44] guyjeangilles commented on #3565
I can duplicate this bug on mobile as well.

@spamspambaconspam Please use the issue templates in the future.

[2020-07-12 17:51] 12people commented on #2203
@mekarpeles It's been more than half a year and yet no response.
A closed issue doesn't make me very confident that this will ever get solved — if it's out of sight, it's out of mind. The lack of response here only seems to confirm my fears.

I encourage you to reopen this issue again, or at the very least to respond to the questions above.

[2020-07-12 17:52] 12people commented on #2203
And as for replacement suggestions, hCaptcha seems like a good fit: https://www.hcaptcha.com/

[2020-07-12 17:56] guyjeangilles opened #3568 "Give ISBNbot2 bot privledges"
Necessary to accomplish https://github.com/internetarchive/openlibrary-bots/pull/43

### Describe the problem that you'd like solved

ISBNbot will normalize ISBNs (remove hyphens and capitalize letters)

### Proposal & Constraints

### Additional context

### Stakeholders

@cdrini

[2020-07-13 01:47] hornc commented on #2974
see #2062 for ol client code for POSTing type json

[2020-07-13 02:22] LeadSongDog opened #3570 "Clean up bot merged work leaves unfixable work redirect on author page?"
### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/books/OL2410921M/The_splendid_outcast?_compare=Compare&a=8&b=7&m=diff
merged
https://openlibrary.org/works/OL15845272W
with
https://openlibrary.org/works/OL3471098W
but
both records still show under
https://openlibrary.org/authors/OL578569A/Beryl_Markham

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
*

[2020-07-13 05:01] #3301 closed

[2020-07-13 05:09] hornc commented on #1401
These records have links to online materials in field `856`
e.g.
`856 40 $uhttp://www.oapen.org/download?type=document&docid=1006695$zAccess full text online`
from https://openlibrary.org/show-records/marc_oapen/oapen.marc.mrc:3954:1260

[2020-07-13 06:38] hornc commented on #1401
10 test items imported:
[code]

[2020-07-13 13:23] cdrini commented on #2913
Blocked by #3435

[2020-07-13 13:31] cdrini opened #3574 "Searching should support sorting by classifications"
Although searches like https://dev.openlibrary.org/search?q=lcc%3AQA*&mode=everything are possible (on dev), it is currently not possible to view the results in "Shelf order".  This data lives in solr, but has just not been exposed to any of the OL search apis.

This would be essential for a "Sort by shelf order" feature.

### Summary of Requirements
- [ ] Add `&sort=lcc` parameter to /search and

[2020-07-13 13:53] cdrini opened #3575 "Mockups/Design explorations for Shelf Explorer"
Subtask of: #3576

Explore/try some different ways of representing classifications data to create a library- or bookstore-like experience.

## Stakeholders

@seabelis @LeadSongDog @mekarpeles

[2020-07-13 13:53] cdrini opened #3576 "Epic: Shelf explorer (aka /browse aka Classifications explorer)"
A way to explore the books in Open Library's catalogue in more serendipitous, library- or bookstore-like experience.

Most book-related platforms can only really show you manually curated content, or things like "what others are reading". Even our subjects are problematic in that you have to already know a certain subject exists (or know of some of its members books or neighbouring subjects) in or

[2020-07-13 13:54] cdrini commented on #3575
Here are some simple list based explorers (note: very slow):

- Dewey decimal: https://dev.openlibrary.org/people/ScarTissue/ddc-list
- Library of Congress: https://dev.openlibrary.org/people/ScarTissue/lcc-list

[2020-07-13 14:37] cdrini opened #3577 "Lazy Load RelatedWorks/QueryMacro carousels"
Investigation in #3410 revealed that one of the slowest parts of our pages is the Carousels (this makes sense, and is likely because not only does each carousel require a solr query (which is fast), they could also requires multiple IA queries to check availability).

Replacing that with a lazy loaded (i.e. rendered into the page via JS) could improve page performance a lot. Since these carousels

[2020-07-13 14:41] cdrini opened #3578 "Import books from BWB's July dump"
Subtask of #2332

[2020-07-13 14:58] LeadSongDog commented on #3576
The LC catalogue by way of comparison supports “Browse by shelf order” comme ça: https://catalog.loc.gov/vwebv/holdingsInfo?searchId=9465&recCount=25&recPointer=1&bibId=3920005

[2020-07-13 16:28] LeadSongDog commented on #3574
It strikes me that these sorts are not necessarily for browse-time. The classifications intrinsically need only to be considered when saving work records, a much less costly thing. A work could link to prev- and next-LCClass, prev- and next-DDC.

[2020-07-13 21:51] hornc commented on #3570
@LeadSongDog I think this is just a solr indexing problem, where a work now a redirect OL3471098W is left on the author's page. I added it to a manual reindex.

In my old merge OL15845272W was the master record and OL3471098W was the duplicate.

[2020-07-14 04:44] hornc commented on #1048
I recently resolved 8385 orphaned editions by ISBN from the following data file:
[orphans-resolved.txt](https://github.com/internetarchive/openlibrary/files/4916564/orphans-resolved.txt)

That should be the last of these. :crossed_fingers:

[2020-07-14 04:44] #1048 closed

[2020-07-14 16:45] #2974 closed

[2020-07-14 21:07] #3417 closed

[2020-07-14 21:07] #3418 closed

[2020-07-15 12:13] cclauss opened #3586 "How do we modernize pytest_funcarg__xyz() tests?"
https://github.com/internetarchive/openlibrary/blob/0c6084ac100a926afc1bd3a16702a00fd4cf478e/openlibrary/records/tests/conftest.py#L1

will raise an error on Python 3.  The pytest docs do not clearly describe how to modernize these tests.

https://docs.pytest.org/en/latest/funcarg_compare.html#no-pytest-funcarg-prefix-when-using-fixture-decorator

[2020-07-15 14:49] cdrini commented on #3568
You should be a bot now!

[2020-07-15 14:49] #3568 closed

[2020-07-15 15:11] tfmorris commented on #3586
My reading of the docs is that it would become:

[code]

but `compare_results()` isn't used, is it?

[2020-07-15 16:14] seabelis opened #3587 "Javascript error when removing cover"
Trying to delete the cover on an edition or empty work is unsuccessful. It is possible to upload a cover but the Finished button does not work.
### Evidence / Screenshot (if possible)

### Relevant url?
All edition and work urls.

### Steps to Reproduce

1. Go to any edition or work url.
2. Try to drag cover to trash. After uploading image try to click Finished.

* Actual: nothing
* Expected: Remo

[2020-07-16 02:48] hornc commented on #1401
Another issue:
[ ] : If an existing match is found on import, the available links are not added, e.g. https://openlibrary.org/books/OL28057410M/Disability_in_Industrial_Britain, in order to direct users to to open access works, the links should be added to existing items on import.

[2020-07-16 02:51] hornc commented on #1401
Also, the raw MARC binary data appears to have broken character sets and offsets in the source data we have. I have obtained MARC XML and converted it correctly to utf-8 and re-uploaded to the item as `oapen.marc.REPAIRED.mrc`

[2020-07-16 03:29] spamspambaconspam opened #3588 "z-index issue --- search results display UNDER work menu"
Search results display on a layer UNDER the work menu

### Evidence / Screenshot (if possible)

![z level](https://user-images.githubusercontent.com/9367321/87622363-f8646080-c6f0-11ea-8c7b-df2f10ff4a83.png)

### Relevant url?
Looks like its just the pages with the work menu (IOW, the work/book pages)

### Steps to Reproduce
1. On any work/book URL, type something in the search field but don't act

[2020-07-16 03:33] spamspambaconspam commented on #3565
Sure!  I must've sneezed at the exact moment I was creating an issue, because I don't recall seeing them (lol), but gotcha and will do!

[2020-07-16 17:07] tabshaikh commented on #835
Note-to-self: to remind to update the Nginx file size for increasing the time of uploads and also for logging in and downloading the files ...

[2020-07-16 17:55] mekarpeles opened #3592 "Certain Work pages breaking due to `url`"
https://openlibrary.org/works/OL6570951W/Best_American_Short_Stories_1972?edition=bestamericanshor1972mart

[code]

### Evidence / Screenshot (if possible)

```L: 195. $:_("This edition doesn't have a description yet. Can you <b><a href='%(url)s'>add one</a></b>?", url=edition.url('/edit')+"#about/about")```

May be a redirect edition?

### Steps to Reproduce

1. Go to ... https://openlibrary.org/

[2020-07-17 02:40] mekarpeles commented on #3564
I think my recent issue #3592 is a duplicate of this; going to close 3592 and copy its example here.

[2020-07-17 02:40] mekarpeles commented on #3592
Closing as duplicate of #3564

[2020-07-17 02:40] #3592 closed

[2020-07-17 03:06] LeadSongDog commented on #905
@guyjeangilles The UI only supports one way to delete a cover: drag and drop. Since that does not work on any iOS device, nor is it really accessible on other systems, a simpler alternative is still needed.

[2020-07-17 03:18] LeadSongDog commented on #3587
#905 relates

[2020-07-17 03:52] ForgottenProgramme commented on #3296
Hey, @mekarpeles !
How about displaying the 'most searched' authors by default even before a search is made?

[2020-07-17 04:37] ForgottenProgramme commented on #3395
Hey, @seabelis !
Is this issue still open? Can I please try resolving it?

[2020-07-17 06:56] seabelis commented on #3395
@ForgottenProgramme , it is still an issue. I'm not sure if @devarshigoswami is working on it though.

[2020-07-17 13:15] spamspambaconspam commented on #3564
I came here to open a ticket for this issue, but found this one is already open.
I had prepared an example of works that threw the error versus did not, so I'm adding it here, in case it helps.

https://openlibrary.org/works/OL6570950W
https://openlibrary.org/works/OL19612030W
https://openlibrary.org/works/OL6770962W

![image](https://user-images.githubusercontent.com/9367321/87789913-c5fc5580-c80

[2020-07-17 14:56] spamspambaconspam opened #3593 "Improving Lists"
The ability for a user to create lists isn't really helpful, as currently implemented.

Related to #2059 #7390

### Describe the problem that you'd like solved

- [x] Seeds API is broken: https://openlibrary.org/people/mekBot/lists/OL115530L/seeds.json

- [ ] Lists widget is unusably out of date and should have customizable embed options + styles: https://openlibrary.org/people/mekBot/lists/OL1155

[2020-07-18 20:22] dcapillae opened #3595 "Covers are not displayed on the carousel"
Some covers are not displayed on the carousel.

### Evidence / Screenshot
A custom carousel
![screenshot](https://user-images.githubusercontent.com/7125952/87861049-c9452d80-c942-11ea-8961-eb8fd56b927d.png)

Publisher's page
![screenshot](https://user-images.githubusercontent.com/7125952/87861529-686c2400-c947-11ea-9145-c11535460a2f.png)

### Relevant url?
A page with several carousels where the c

[2020-07-19 18:40] shucon commented on #3588
Can't reproduce the issue:
![Screenshot from 2020-07-20 00-09-51](https://user-images.githubusercontent.com/22860775/87882397-607eb380-ca1d-11ea-9bd2-24ea440e406b.png)

cc: @mekarpeles

[2020-07-19 19:39] spamspambaconspam commented on #3588
Using your exact parameters, I can reproduce it in prod.
I'm thinking it's likely caused by an issue that has been modified in dev and therefore won't be a problem in the next release. (she hopes! :))

I'd close this out, but I don't think it's my place to decide what to keep open or close out.  So, please feel free to close out, if you'd like to.

![image](https://user-images.githubusercontent.co

[2020-07-19 19:53] cclauss commented on #3141
Confirmed again today on both Python 2 and Python 3.

[2020-07-19 20:33] dcapillae commented on #2500
Maybe related to #3533.

[2020-07-19 22:40] spamspambaconspam opened #3599 "No reaction from dialog box when creating a new list"
When creating a new list:
After clicking the "OK" button (titled "Create new list" in this specific d-box), the d-box does not disappear.
However, the new list **_is_** created and works fine.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/9367321/87886725-59d84800-c9ed-11ea-8c50-1c97b7c099a3.png)

### Relevant url?
Any work or book screen.

### Steps t

[2020-07-20 01:38] meunierd opened #3600 "Add a webmanifest"
As a frequent visitor, I often want to add Open Library to my Android home screen as a Progressive Web App.

### Describe the problem that you'd like solved

Enable PWA support across most mobile browsers.

### Proposal & Constraints
As best I can tell this mostly amounts to providing a 192x192 icon and defining a manifest linked from the head tag.

Ref: https://developer.mozilla.org/en-US/docs/We

[2020-07-20 02:14] hornc commented on #3564
This relates to #2727 also. The current merged UI expects editions to exist, and fails with the reported error if not.

[2020-07-20 06:17] hornc commented on #1401
The MARC XML has less records, and the link format is not correct either, License URLs are inplace of the link descriptions, e.g.:

[code]

Both data files unfortunately will need further work to reapir / get them into a state for importing.

[2020-07-20 19:09] cclauss commented on #3141
@cdrini What should this value be?  https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/ia.py#L19

[2020-07-20 20:00] cdrini commented on #3595
That proposal looks spot on; nice work @dcapillae ! If you can open a PR (even through GH), I can put it on dev.openlibrary.org for testing.

[2020-07-20 20:10] cclauss commented on #3141
[__ia_base_url: https://archive.org__](https://github.com/internetarchive/openlibrary/blob/master/conf/openlibrary.yml#L174)

[2020-07-20 23:16] spamspambaconspam opened #3602 "Works are NOT included in exported lists, but editions are."
Exported lists do not include any works on that list, but editions ARE included.
I have tested JSON, HTML & BibTex - all three formats exhibit the same exact issue.

JSON "squeaks out" a short string. (see screenshot below)
HTML and BibTex return a blank screen.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/9367321/87994778-d0437b80-cabb-11ea-88bc-6da8

[2020-07-21 03:40] guyjeangilles commented on #3587
Is there a current work around to delete cover?

[2020-07-21 03:45] guyjeangilles commented on #3588
I can actually duplicate this on dev and prod now.
![ol_3588](https://user-images.githubusercontent.com/7256157/88010460-72875180-cb04-11ea-9e53-3c7d35326b7e.png)

[2020-07-21 03:58] guyjeangilles commented on #3595
Strangely, prod looks fixed, but dev is broken as the issue describes for the publisher. The custom carousel is broken for me on both prod and dev.
![dev_ol_3595](https://user-images.githubusercontent.com/7256157/88011126-0f96ba00-cb06-11ea-86cc-1f6a65803780.png)
![3595_ol_prod](https://user-images.githubusercontent.com/7256157/88011252-656b6200-cb06-11ea-8816-0a143c3fcee2.png)

[2020-07-21 04:02] guyjeangilles commented on #3599
Seems like some simple JS to close the box on click could fix this.

[2020-07-21 07:39] seabelis commented on #3587
@guyjeangilles  I tried using a script in client to replace the cover IDs array with an empty array on a work, but this did not have any effect. I did not try on an edition. It could be that an empty array is not correct either; maybe there's a different value that can be used?

[2020-07-21 07:43] seabelis commented on #3599
Related to https://github.com/internetarchive/openlibrary/issues/3561.

[2020-07-21 15:46] cdrini commented on #3570
I think @hornc is correct, this is likely a solr issue. I force re-indexed all the works on the author's page, and it's gone now :+1:

Since the merge happened in 2017, I'm closing this; I believe there used to be a bug where redirects wouldn't be handled by solr that was a fixed a few years ago.

[2020-07-21 15:46] #3570 closed

[2020-07-21 15:51] tabshaikh opened #3607 "Issues relating to list (post Canonical Books Page launch)"
Subtask of epic #3561

- [x] (TODO) No reaction from dialog box when creating a new list #3599

- [ ] (TODO - May show a button to refresh the page) It's necessary to refresh the page to see when user adds a list to a work or edition. A user must already know they have to refresh the page and that the lists are in the middle of the page in order to verify they've added an item successfully. When a

[2020-07-21 22:59] spamspambaconspam opened #3611 "Work Description allows text to extend beyond visual borders of field."
While entering data in the WORK DESCRIPTION field:

If lines are numbered, the numbering itself is set outside the border of the field, as if the string is left-aligned by the first alphanum char following the line numbering string.

I can play around with it and get it to stay within the borders, but ONLY if I add a trailing zero.

It seems to be hyper-responsive to typing the digit "1" and a per

[2020-07-22 01:43] guyjeangilles commented on #3595
This is still a bug on prod and dev
![ol_3595_2](https://user-images.githubusercontent.com/7256157/88124479-c7869e80-cbbc-11ea-889f-02fcd91f9bb1.png)

[2020-07-22 06:39] GitWonder opened #3612 "API responses is not a generic model"
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Call https://openlibrary.org/api/books?bibkeys=ISBN:9781741795226&jscmd=data&format=json
2. Read Response

* Actual:
The problem is that he response returns a highly specific object. In the example above the object returned is ISBN:9781741795226 with multiple also very specific objects encased within it. This cr

[2020-07-22 07:30] pabloab commented on #2877
I got those "`No separator at end of field`" errors while trying to generate an MRC from a TXT with fields bigger than [what ISO2709 allow](https://www.loc.gov/marc/specifications/specrecstruc.html). Truncating those lines solved the problem. On [Koha IRC](http://irc.koha-community.org/koha/2016-06-01) mention this may also happen if there is any dirty `\r` carrier return characters. HTH.

[2020-07-22 08:23] cclauss opened #3613 "Does run_solr_query() have a mutable default parameters problem?"
### Evidence / Screenshot (if possible)
[__run_solr_query(param = {}, ...)__](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/worksearch/code.py#L312) has a [___mutable default parameter___](https://docs.python-guide.org/writing/gotchas/) called `param`.  Is this a problem or is it done intentionally?

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

[2020-07-22 13:52] spamspambaconspam opened #3614 "Formatting some text as a quote causes odd line breaks in that quote."
I entered a block of text, and formatted a small chunk of that text as a quote.
The preview of the formatting looked perfect.
However, after "publishing" my edit, the quote-formatted text had unexpected line breaks.

Narrowing or widening the window had no affect on the line breaks.

Screenshots pretty much explain it all (better than me) :)

NOTE:
I experienced this while editing an **author** re

[2020-07-22 17:25] cdrini opened #3615 "Add docker image to docker hub"
I'm tired of having to debug docker build issues. If we upload these to docker hub, then all developers need to run to get their environment up is `docker-compose up -d`; and that will download all the correct things, no building necessary. Docker hub also has options to auto-rebuild the image when master is modified, so it'll always be up-to-date. Then the only people who need to build will be fo

[2020-07-22 17:45] cdrini commented on #3615
I tried this, but was getting issues with git submodules https://hub.docker.com/repository/registry-1.docker.io/cdrini/openlibrary-base/builds/749b2591-b4de-450c-934b-aea37e532366

[code]

[2020-07-22 22:02] cdrini commented on #3613
I would bet money that's not intentional 😅

[2020-07-23 17:30] cclauss commented on #2852
% `grep urlopen **/*.py`
* [ ] openlibrary/accounts/model.py:            f = urllib.request.urlopen(req)
* [ ] openlibrary/admin/numbers.py:        sqlite_contents = urllib.request.urlopen(url).read()
* [ ] openlibrary/api.py:            return urllib.request.urlopen(req)
* [ ] openlibrary/catalog/add_book/__init__.py:            res = urllib.request.urlopen(upload_url, urllib.parse.urlencode(para

[2020-07-24 09:10] cclauss commented on #3419
What is the status of this one?

[2020-07-25 01:08] spamspambaconspam opened #3626 "More capabilities for adding/editing authors requested."
Adding authors is a pain in the potato, because if I make just one ooops, I have to start **_ALL_** over again.

### Describe the problem that you'd like solved
I typically have to add at _least_ 20 authors for a single work.  They are entered and then displayed in the same order they appear in the work.   Almost as soon as I start adding the authors, I run into "housekeeping issues."

Usually ½ t

[2020-07-25 15:01] aasifkhan7 commented on #3615
@cdrini I got the same error.
[code]

[2020-07-25 15:41] #3599 closed

[2020-07-26 16:26] guyjeangilles commented on #3613
Doing the following should be simple fix without changing functionality.
[code]

[2020-07-26 16:32] cclauss commented on #3613
Yes.  [what-you-should-do-instead](https://docs.python-guide.org/writing/gotchas/#what-you-should-do-instead)

[2020-07-26 16:41] guyjeangilles commented on #3614
@spamspambaconspam Please post a screenshot of your entire screen. This may be an artifact of text wrapping.

[2020-07-26 16:47] guyjeangilles commented on #3626
Entering the ID is the most accurate way to add authors at this moment.  Duplicate records is a big problem that we all have to endure for the time being. Regardless, adding a "drag-to-reorder" functionality is a good idea.

@seabelis How often do works have >2-3 authors? I can only think of short story collections or anthologies that would have ~20.

[2020-07-26 17:02] seabelis commented on #3626
@guyjeangilles Collections are the relevant cases and are common.

[2020-07-27 14:25] tabshaikh opened #3630 "Add current user's lists underneath Want to Read"
We would want to show the user's lists beneath the Want to Read button and show all lists below the fold

### Stakeholders

@cdrini

[2020-07-28 04:02] spamspambaconspam commented on #3614
Hah!  Figured it out!!  STILL a possible issue, depending on what angle you look at it from :D

First, to address your request, the line breaks don't budge regardless of level of zoom, display width, etc.
I was going to take a screenshot for you when I stumbled across what's going on.

Apparently, there are TWO DIFFERENT blockquote styles you can create, and I happened to use control characters fr

[2020-07-28 05:26] guyjeangilles commented on #3614
Less of a bug and more markdown being markdown. Gonna close this for now.

[2020-07-28 05:26] #3614 closed

[2020-07-28 05:45] #835 closed

[2020-07-29 15:39] cclauss opened #3633 "Python 3: get_sorted_editions() is not working on books/OL42679M"
Fixed by internetarchive/infogami#107

Look at the editions of The wit and wisdom of Mark Twain on Python 3.  http://staging.openlibrary.org/books/OL42679M

I have put debug code all around [get_sorted_editions()](https://github.com/internetarchive/openlibrary/search?q=get_sorted_editions) but have not found the fault.

 When this URL is opened, [openlibrary/templates/type/edition/view.html](https

[2020-07-29 23:50] spamspambaconspam opened #3634 "Text formatting problems when certain fields are populated or not..."
I'm assuming (yeah, yeah I know...) this has something to do with inherited attributes.

Quite a few pages are displayed entirely in italics (except the title).

As luck would have it, I just happened to look at two pages that were for the same book, but one was formatted normally and one was all in italics.  Comparing the two, visually, I noticed that the "italics" page did not have an author, wh

[2020-07-30 06:54] seabelis commented on #2241
@tabshaikh As discussed on last community call.

[2020-07-30 07:11] seabelis commented on #2652
@tabshaikh I think the recent changes to the edit form resolve this as the excerpts are now part of the larger work edit form and the save button is not immediately below the excerpts section.

@tipkilby If you go to dev.openlibrary.org you can take a look at the changes.

[2020-07-30 07:22] tabshaikh commented on #2652
Thank you @seabelis for helping identify the relevant issues :)

[2020-07-30 17:19] FHARIS2019 opened #3639 "New"

[2020-07-30 17:32] FHARIS2019 opened #3640 "Given"
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2020-07-30 17:32] #3640 closed

[2020-07-30 17:43] imskr commented on #2852
Thanks, @cclauss for guiding. I'm on it!

[2020-07-30 20:50] mekarpeles commented on #3639
Closing as no description provided; please edit with meaningful description in order to re-open.

[2020-07-30 20:50] #3639 closed

[2020-07-30 20:55] cclauss opened #3641 "Python 3: web.ctx.lang is not getting populated"
Fixed in internetarchive/infogami#105

Python 3 only issue which raises `AttributeError: 'ThreadedDict' object has no attribute 'lang'` on.
1. ~#3635~ --> internetarchive/infogami#105
2. ~internetarchive/infogami#104~

___Update:___ [`i18n_loadhook()`](https://github.com/internetarchive/infogami/blob/master/infogami/utils/i18n.py#L114) is ___never___ getting run so `web.ctx.lang` is not initialize

[2020-07-31 01:58] JeeZeh commented on #3600
For Chrome it'll also require a Service Worker, just adding this as another great resource https://web.dev/progressive-web-apps/

[2020-08-02 07:13] cclauss opened #3653 "Simultaneous side-by-side testing of Python 2 and 3 on Docker"
I am frustrated when I want to compare Python 2 to Python 3 because I need to use Docker Compose to shut down the system and then reboot with `PYENV_VERSION=2.7.6` or `3.8.5`.  Would it be possible to launch two instances of `web`?
1. Web on Python 2 on http://localhost:8082
2. Web on Python 3 on http://localhost:8083

This would enable me to change the final digit of the port number on URLs to en

[2020-08-03 06:44] tabshaikh commented on #2241
I am thinking of adding a small note next to the `Add` button, something like `*You must add excerpts before saving`

[2020-08-03 06:52] tabshaikh commented on #2652
I am thinking of adding a small note next to the `Add` button, something like `*You must add excerpts before saving`

[2020-08-03 07:10] seabelis commented on #2652
I don't even think that would be necessary now. I think the confusion is that this section is in its own tab or "page" for some in terms of how it is displayed. That makes the SAVE button appear to belong to the excerpts, not to the whole record. The incorporation of this form section eliminates that presentation and I think will eliminate the problem.

[2020-08-03 08:59] cclauss opened #3654 "Python 3: get_sorted_editions() is not returning any editions"
On the URL http://localhost:8080/books/OL42679M/The_wit_and_wisdom_of_Mark_Twain?debug=true, Python 2 is returning editions but Python 3 is not.

I have put debug code all around [get_sorted_editions()](https://github.com/internetarchive/openlibrary/search?q=get_sorted_editions) but have not found the fault.

 When this URL is opened, [openlibrary/templates/type/edition/view.html](https://github.c

[2020-08-03 09:12] cclauss commented on #3654
Dup of  #3633

[2020-08-03 09:12] #3654 closed

[2020-08-03 18:08] bnewbold opened #3656 "Search inside with `title:` results in escaped HTML in empty results page."
### Evidence / Screenshot (if possible)

Text comes through as:

[code]
![image](https://user-images.githubusercontent.com/130077/89213214-9b362f00-d579-11ea-9cf1-e02c757b86b3.png)

### Relevant url?

https://openlibrary.org/search/inside?q=title%3A+%22People%E2%80%99s+History+of+Computing+in+the+United+States%22

### Steps to Reproduce

1. Searched in box: https://openlibrary.org/search?q=title%3

[2020-08-03 20:28] cclauss commented on #2316
@cdrini I can replicate on Python 3.  This looks like the database SELECT method is incorrect.

[2020-08-04 02:45] guyjeangilles commented on #3634
It seems like this bug occurs when an Edition has a subtitle and does _not_ have an author.

Well formatted example with no author and no subtitle: https://openlibrary.org/works/OL20125533W/1984

Mallformatted example with no author and a subtitle: https://openlibrary.org/books/OL14257464M/1984

[2020-08-04 02:46] guyjeangilles commented on #3634
Also may be related to #3561

[2020-08-04 02:57] guyjeangilles commented on #3656
Using `title:` with search inside seems counter intuitive to me, but this is a bug nonetheless.

[2020-08-04 10:34] hornc commented on #2727
The index hasn't quite caught up, but many classical authors had 100s or 1000s of extra (empty) works,
e.g Plutarch
![image](https://user-images.githubusercontent.com/905545/89284256-99b45600-d6a2-11ea-92e1-27915f3c6836.png)

Now has 892 works: https://openlibrary.org/authors/OL58120A/Plutarch

[2020-08-04 15:09] BrittanyBunk commented on #2727
So glad this is being worked on. It would take forever to do this manually.

[2020-08-04 17:35] cclauss opened #3660 "Is openlibrary/catalog/amazon/crawl_top_books.py used?"
### Question

[This file](../blob/master/openlibrary/catalog/amazon/crawl.py) makes a lot of assumptions about bytes vs. str.  Does it need to be ported to Python 3?

### Additional context

### Stakeholders

[2020-08-04 17:40] cdrini commented on #3653
You might be able to do it by git cloning a fresh copy of the OL repo, modifying the `docker-compose` file to export only port `8080` but at a different location, and then in that dir doing `PYENV_VERSION=2.7.6 docker-compose up -d`. That might work?

[2020-08-04 19:15] tabshaikh opened #3661 "Exporting Reading Log"
Export options for reading log for Open Library - 5 hrs 1 day and let's add another day for refining, reviewing and merging
Make an API call to get all the reading data - is the API available - which file to check. I probably think the /account/books which is the reading log of user … 2hrs
Format the data in CSV  - 2hrs
Add some frontend for being able to download the CSV - this will probably go i

[2020-08-05 07:37] cclauss commented on #3653
I gave that a try but it did not work because `PYENV_VERSION=2.7.6 docker-compose up -d` restarts solr and memcached.  I tried to put web Python 2 on 8082 and start it both before and after docker-composing up the main repo on Python 3.  No luck.

[2020-08-05 19:17] mekarpeles opened #3665 "Manage Covers broken"
subtask of #3632 -- seemingly jquery migrate issue preventing book covers from being removed

### Relevant url?

https://dev.openlibrary.org/books/OL20007507M/100_questions_answers_about_deep_vein_thrombosis_and_pulmonary_embolism/manage-covers

### Steps to Reproduce

1. Go to ...https://dev.openlibrary.org/books/OL20007507M/100_questions_answers_about_deep_vein_thrombosis_and_pulmonary_embolism/

[2020-08-06 11:11] cclauss commented on #3633
On Python 2 the debugger shows
* work.get_sorted_editions is a `<bound method Work.get_sorted_editions of <Work: u'/works/OL53924W'>>`
On Python 3, it is nothing.

[2020-08-06 14:55] mitchell-frost commented on #3600
Can I work on this issue?

[2020-08-06 16:14] aasifkhan7 commented on #3633
When I try to reproduce this, there are errors in infogami of print syntax after running `docker-compose up`.
[code]
I guess it's because infogami is also getting interpreted as Python3. how did you work around this? @cclauss

[2020-08-06 16:24] mekarpeles commented on #3633
from call 2020-08-06 check lazyloading

[2020-08-06 18:30] cclauss commented on #3633
Happens on Infogami master but disappears on internetarchive/infogami#104 `python3` branch.  Iy you have removed the # at the beginning of [this line](https://github.com/internetarchive/openlibrary/blob/master/docker-compose.yml#L31) and use this command to start up:
* docker-compose down ; INFOGAMI=local PYENV_VERSION=3.8.5 docker-compose up -d ; docker-compose logs -f --tail=10 web

[2020-08-06 18:50] cclauss commented on #3419
@mekarpeles @cdrini Based on today's discussion, let's use my `python3` branches
* internetarchive/infogami#104
* internetarchive/openlibrary#3637
* `docker-compose down ; INFOGAMI=local PYENV_VERSION=3.8.5 docker-compose up -d`

[2020-08-06 20:19] cclauss opened #3667 "Migrate from ptvsd to debugpy"
I am frustrated by the lack of a smooth launch of the VS Code debugger
* https://github.com/internetarchive/openlibrary/wiki/Debugging
* https://github.com/microsoft/ptvsd/pull/2125/files

### Describe the problem that you'd like solved

Modify [our usage of `ptvsd`](https://github.com/internetarchive/openlibrary/search?q=ptvsd) to instead use [https://github.com/microsoft/debugpy](https://github.

[2020-08-06 21:35] #2652 closed

[2020-08-07 02:55] aasifkhan7 commented on #3633
Thanks! was able to reproduce this @cclauss. will look into it.

[2020-08-07 07:16] aasifkhan7 commented on #3633
@cclauss I ran this through Postman http://127.0.0.1:8983/solr/select?wt=json&q=key%3A%22%2Fworks%2FOL42679M%22&start=0&fl=cover_edition_key%2Ccover_id%2Cedition_key%2Cfirst_publish_year%2Chas_fulltext%2Clending_edition_s%2Cchecked_out%2Cpublic_scan_b%2Cia as there must be a request to solr for the book `OL42679M`

it shows
[code]

[2020-08-07 08:12] cclauss commented on #3633
[code]
{'response': {'docs': [], 'numFound': 0, 'start': 0},
 'responseHeader': {'QTime': 0,
                    'params': {'fl': 'cover_edition_key,cover_id,edition_key,first_publish_year,has_fulltext,lending_edition_s,checked_out,public_scan_b,ia',
                               'q': 'key:"/works/OL42679M"',
                               'start': '0',
                               'wt': 'json'

[2020-08-07 08:18] aasifkhan7 commented on #3633
@cclauss so we are getting the same results on the request!

[2020-08-07 14:24] cclauss opened #3670 "Python 3: openlibrary/plugins/openlibrary/tests/test_home.py fails"
Why does `pytest --show-capture=all -v openlibrary/plugins/openlibrary/tests/test_home.py` always [fail on Python 3](https://travis-ci.org/github/internetarchive/openlibrary/jobs/715823624#L1800) but pass on Python 2.  This test is [run by Travis CI](https://github.com/internetarchive/openlibrary/blob/master/.travis.yml#L27) but consistently fails on Python 3 only.

@aasifkhan7 Would you be willin

[2020-08-07 14:40] LeadSongDog commented on #2727
@hornc Of those 892 work records, there are currently about 722 that have editions. Of course the ultimate number should be far lower as redundant works get merged.

[2020-08-07 15:49] aasifkhan7 commented on #3633
@cclauss I tried to follow the stacktrace.
I realised that `/openlibrary/openlibrary/templates/type/work/view.html` is not getting called at all in case of http://127.0.0.1:8080/books/OL42679M - so the problem is not of [get_sorted_editions()](https://github.com/internetarchive/openlibrary/search?q=get_sorted_editions)

[2020-08-07 16:14] aasifkhan7 commented on #3633
@cclauss logs in case of http://127.0.0.1:8080/books/OL42679M (somehow, the [get_sorted_editions()](https://github.com/internetarchive/openlibrary/search?q=get_sorted_editions) function is not even getting called !):
[code]

logs in case of http://127.0.0.1:8080/books/OL45310W :
[code]

[2020-08-07 17:13] cclauss commented on #3633
This is correct.  It never gets called in Py3.  In fact in view.html, if you do `$ func = work.get_sorted_editions` then `func` will be `<bound method Work.get_sorted_editions of <Work: u'/works/OL53924W'>>` on Python 2 but will be `nothing` on Python 3.

[2020-08-07 17:33] LeadSongDog commented on #2064
Certainly related. Per @tfmorris 27 Nov 2019, fixing this should also fix that.

[2020-08-07 19:26] #3641 closed

[2020-08-07 20:13] aasifkhan7 commented on #3670
@cclauss sure i'll have a look.

[2020-08-07 20:14] cclauss commented on #3670
Please rebase because there have been a lot of key changes landed on both OpenLibrary and Infogami.

[2020-08-07 20:34] aasifkhan7 commented on #3670
Yes definitely - thanks for the heads up.

[2020-08-09 18:49] #3661 closed

[2020-08-10 17:28] mackinder1915 commented on #686
test

[2020-08-10 20:38] cdrini commented on #3575
Here's the current exploration page: https://f1efv.csb.app/

[2020-08-10 22:21] cdrini commented on #3578
@mekarpeles  says this is running and almost done; 205K created so far.

[2020-08-10 22:29] cdrini commented on #3318
We didn't have the time for this :( Pushing to make a yearly review to be release in Oct.

[2020-08-10 22:33] cdrini commented on #3607
The thing we probably want is to add the user's lists to the sidebar under teh want to read button; that shouldn't be too hard from the template code.

[2020-08-10 23:15] #3613 closed

[2020-08-11 00:53] cdrini commented on #3419
http://staging.openlibrary.org/ is running of current master for both OL and infogami :+1:

[2020-08-11 00:53] #3419 closed

[2020-08-11 02:45] tfmorris commented on #348
@mekarpeles Any updates on this yet?

[2020-08-11 04:03] hornc commented on #1046
The remaining archive.org items with 'openlibrary' but not 'openlibrary_edition' 'openlibrary_work' are duplicate scans -- the referenced OL id in `openlibrary` is already synched with a different archive.org scan.

Remaining task on archive.org data:

- [ ] Iterate over all `openlibrary` only ids and copy to `openlibrary_edition`, and add the correct `openlibrary_work`

[2020-08-11 06:28] shrey27tri01 commented on #3600
@mitchell-frost are you working on this issue? :sweat_smile:

[2020-08-11 06:55] hornc commented on #2123
I have fixed the specific items mentioned above. Most seem to be MARC21 field separators which have been included in some fields from older bot imports (bypassing the built in imports). Any similar issues will be data clean up.

The refactoring required for #3584 and Python3 is going to introduce better bytes to Unicode conversion.

[2020-08-11 06:55] #2123 closed

[2020-08-11 08:17] cclauss commented on #3419
Is this running on Python 2 or 3?  Based on LoanStatus, I would say Python 2

Problem URLs...
* http://staging.openlibrary.org/books/OL24197475M/The_complete_works_of_Mark_Twain.?debug=true
* http://staging.openlibrary.org/books/OL42679M/The_wit_and_wisdom_of_Mark_Twain
* http://staging.openlibrary.org/contact
* http://staging.openlibrary.org/contact?path=/help&debug=true
* http://staging.openlibr

[2020-08-11 10:22] cclauss commented on #3416
Closed in #3419

[2020-08-11 10:23] #3416 closed

[2020-08-11 13:23] cclauss opened #3684 "Python 3: API call for a book is returning {}"
`curl 'localhost:8080/api/books?bibkeys=ISBN:0201558025,LCCN:93005405'` returns an empty dict: {}

### Evidence / Screenshot (if possible)

### Relevant url?

curl 'localhost:8080/api/books?bibkeys=ISBN:0201558025,LCCN:93005405?debug=true'

### Steps to Reproduce

1. curl 'localhost:8080/api/books?bibkeys=ISBN:0201558025,LCCN:93005405?debug=true'

* Actual: {}
* Expected: `var _OLBookInfo = {"LCCN

[2020-08-11 13:31] cclauss opened #3685 "Python 3: New account registration has no reCAPTCHA"
http://staging.openlibrary.org/account/create there is no place to say "I am not a robot." and attempt to create a new account hang.

### Evidence / Screenshot (if possible)

### Relevant url?

http://staging.openlibrary.org/account/create vs https://openlibrary.org/account/create

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browse

[2020-08-11 13:36] cclauss opened #3686 "Python 3: Create a new list hangs"
### Evidence / Screenshot (if possible)
1. http://staging.openlibrary.org/works/OL6037022W/Remix
2. Click on right side of Want to read button
2. Click Create a new list
3. Enter name of list
4. Click Create new list button ... Nothing

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Opera

[2020-08-11 13:40] cclauss opened #3687 "Python 3: Add Cover Image hangs"
### Evidence / Screenshot (if possible)
http://localhost:8080/works/OL6037022W/Remix?debug=true on Docker Python 3
* Or http://staging.openlibrary.org/works/OL6037022W/Remix?debug=true

Command to launch Open Library on Docker on Python 3:
[code]
### Relevant url?

1. http://localhost:8080/works/OL6037022W/Remix?debug=true
2. On the image, click Add Cover Image
3. Browse and select an appropriate

[2020-08-11 13:44] cclauss opened #3688 "Python 3: Want to Read fails"
### Evidence / Screenshot (if possible)
1. http://staging.openlibrary.org/works/OL6037022W/Remix
2. Click Want to Read
3. Internal Server Error

### Relevant url?

### Steps to Reproduce

1. http://staging.openlibrary.org/works/OL6037022W/Remix
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?

[2020-08-11 14:38] cclauss commented on #3684
Same results localhost is running on Python 2.

[2020-08-11 14:38] #3684 closed

[2020-08-11 14:45] cclauss commented on #3685
localhost has the same behavior when running on Python 2.

[2020-08-11 14:56] mitchell-frost commented on #3600
@shrey27tri01 I actually received no confirmation and hence, did not start working on it. I'll start working on it.

[2020-08-11 16:15] mitchell-frost commented on #3600
@shrey27tri01 I am facing a problem with my installation. I started the docker according to the instructions but after starting the server with "docker compose up", I can't open it in my browser as localhost doesn't seem to work. I need to get the docker machine IP which shows that there are no machines actually. How do I create a machine and make openlibrary work with a docker machine?

[2020-08-12 02:47] #3615 closed

[2020-08-12 09:38] cclauss opened #3690 "Docker-compose.yml: conditionally mount a volume"
I am frustrated when I want to test OpenLibrary on Python 3 that I always forget to create a new branch from master and then [remove that pesky volume comment](https://github.com/internetarchive/openlibrary/blob/master/docker-compose.yml#L31) for vendor/infogami in the docker-compose.yml file.

Would it be possible to conditionally mount that volume if and only if $PYENV_VERSION was 3.8.5?
https:/

[2020-08-12 15:11] cclauss commented on #3688
Fixed by internetarchive/infogami#107

[2020-08-12 16:09] cclauss commented on #3687
I am struggling with how to debug this on
http://localhost:8080/books/OL23703735M/Remix/add-cover?debug=true
1. The problem occurs but the debug=true does not provide the internal debugger.
2. The VS Code debugger is not stopping on the breakpoints that I have set.
3. If I use Python `breakpoint()` then `docker-compose up` fails.
4. Looking at the logs inside Docker `cat /var/log/openlibrary/ol-er

[2020-08-12 22:34] cdrini commented on #3633
Here's a useful snippet we can use for testing this (py2). Note it errored here :P But I think it did "work". Let me try it in on py3

[code]

[2020-08-12 22:45] cdrini commented on #3633
Yep; python3 isn't handling type conversions of lazy objects; see how the item is still a `Thing` at the bottom.

[code]

[2020-08-12 23:03] cdrini commented on #3633
I think this function might be the culprit:

https://github.com/internetarchive/infogami/blob/5f171aa4901c28ba89f6e38d97820440b8491ab4/infogami/infobase/client.py#L742-L749

[code]

[2020-08-12 23:05] cdrini commented on #3633
This comment here is what makes me think that might be the cause:

https://github.com/internetarchive/infogami/blob/5f171aa4901c28ba89f6e38d97820440b8491ab4/infogami/infobase/client.py#L823-L839

[code]

[2020-08-13 05:25] cdrini opened #3695 "This book fails to render"
### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/90097408-d2d47200-dd03-11ea-882c-fa63e8f6930c.png)

### Relevant url?
https://openlibrary.org/works/OL17364096W/Hikayat_Iskandar_Zulkarnain

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF79
- **Operating system?** Win10
- **Environment (prod/dev/local)?** prod

### Proposal & Co

[2020-08-13 06:13] cclauss commented on #3633
[`class Thing:`](https://github.com/internetarchive/infogami/blob/5f171aa4901c28ba89f6e38d97820440b8491ab4/infogami/infobase/client.py#L717) is an old style class in Python 2.  You can change it to a new style class in Python 2 with `class Thing(object):` and see what breaks.  Python 3 only has new style classes.

[2020-08-13 08:13] hornc commented on #2727
My bot made ~104108 redirects from works left without editions. The WorkBot history contained the work id to which the editions were moved, so the redirect targets contain the original editions.

The bot examined _all_ of Work Bot's history and used the available data on any edit with the comment `merge works` to resolve the editionless works. If there editionless works created by other means, the

[2020-08-13 08:13] #2727 closed

[2020-08-13 16:44] dcapillae commented on #2231
Hi. I receive a similar message in the following record when I try to edit it:

https://openlibrary.org/books/OL21550998M/La_guerra_de_Vietnam_entre_la_historia_y_el_cine

There are two identical editions of the same book, one of them added by me. I didn't realize it already existed in the Open Library. I tried to edit the newly created record to delete it, but it won't let me edit it either. I ca

[2020-08-13 17:46] cdrini commented on #3633
Hmm, I tried switching python 2 to `class Thing(object)`, and it didn't have the same issue; maybe it's something related to the thing registry? But not sure.

[code]

[2020-08-13 17:56] cdrini commented on #3633
I wonder if the `setup` functions are not being run! These should automagically run somehow.

https://github.com/internetarchive/openlibrary/blob/8c170ba788fd88d99f7006238a9b1fe698a2dfbb/openlibrary/plugins/upstream/models.py#L956-L974

[2020-08-13 18:06] LeadSongDog commented on #2231
This seemed to come up when editing editions by any author whose name contains ‘é’, ‘ü’ ‘ò’, and possibly many other non-ASCII characters. I verified this triggers the problem by removing the accents from OL73183A: the above editions were now editable. Merged them under OL9114439W. I left the accented spelling in the a.k.a. list, but that's obviously not the right long term answer.

[2020-08-13 21:34] hornc commented on #1046
I have completed the last task above, adding `openlibrary_edition` + `_work` to the archive.org items without them.

https://archive.org/search.php?query=mediatype%3Atexts+AND+openlibrary%3A%2A+AND+NOT+openlibrary_edition%3A%2A

query now shows only 49 results, and they appear to have the correct metadata, just lagging behind in search indexing.

Closing as DONE / RESOLVED.

[2020-08-13 21:34] #1046 closed

[2020-08-13 21:39] hornc commented on #3013
Duplicate (older -- the line numbers have changed of #3057

[2020-08-13 21:39] #3013 closed

[2020-08-13 21:43] hornc commented on #2916
@cclauss I have just review the code re. you comment above, the `marc` dict appeared in old and unsued code (part of an early standalone script?), it will have never been run in the context of the Open Library application. That code has since been removed to https://github.com/internetarchive/openlibrary-bots/pull/37

[2020-08-14 00:55] cdrini commented on #3653
I was able to get it work with this:

[code]

Let me know if that works!

[2020-08-14 00:56] cdrini commented on #3653
There might be some strange behaviour (they should both be using the same solr and memcache, I think)

[2020-08-14 02:41] cdrini opened #3703 "Move solrupdater from ol-dev0 to ol-home"
ol-dev0 doesn't have the same amount of RAM and it's resulting in a lot of swap.

[2020-08-14 08:02] bitnapper opened #3704 "Adding book page has problems with Unicode ÄÖÜäöü or ß"
Adding books containing a german ß in title oder ÄÖÜäöü or ß in the author name results in an error.

### Evidence / Screenshot (if possible)

` /opt/openlibrary/deploys/openlibrary/61096f2/openlibrary/templates/books/edit.html:` error in processing template: UnicodeEncodeError: 'ascii' codec can't encode character u'\xf6' in position 9: ordinal not in range(128) (falling back to default template)

[2020-08-14 08:50] Porges opened #3705 "Ability to sort/filter reading log by availability"
### Describe the problem that you'd like solved

I have over 700 books in my want-to-read list on my reading log and I'd like to be able to filter them or sort them by availability on OpenLibrary.

### Proposal & Constraints

Ideally I'd like to see books that are available immediately first, then those with a waitlist (by ascending waitlist length?), and then everything else.

### Additional cont

[2020-08-14 11:42] bitnapper commented on #3704
Trying to edit the book later, seems to produce the following error:

https://openlibrary.org/books/OL28738926M/Das_gro%C3%9Fe_Buch_der_Dinosaurier/edit

/opt/openlibrary/deploys/openlibrary/61096f2/openlibrary/templates/books/edit.html: error in processing template: UnicodeEncodeError: 'ascii' codec can't encode character u'\xf6' in position 23: ordinal not in range(128) (falling back to default

[2020-08-14 16:02] cdrini opened #3707 "Reverting a user's edits undoes their list deletions"
### Evidence / Screenshot (if possible)

### Relevant url?
See the history here: https://openlibrary.org/people/wandi21/lists/OL162619L?m=history

### Steps to Reproduce

1. Create a dummy account locally
2. Create a list
3. Delete the list
4. Log in as admin
5. Block/revert all edits of the dummy account

* Actual: The deleted list is now no longer deleted
* Expected: The list remains deleted

##

[2020-08-14 18:51] LeadSongDog commented on #3704
This is a recent Variation on an old problem, also discussed en passant at #2231. As a temporary workaround, the problematic correct spelling can be moved to the author’s a.k.a.s and the primary author name respelled  to use plain ASCII. This done, the editions and works become accessible.

[2020-08-14 19:56] bitnapper commented on #3704
@LeadSongDog This workaround helps with creating new books but OL28738926M can't be edited at all.

[2020-08-14 20:19] #3690 closed

[2020-08-14 20:34] cclauss commented on #3704
This kinda incompatibility should disappear in the coming months when we switch to Python 3 because all str are Unicode in current versions of Python.  It would be cool if someone could write some Python test cases that fail for this issue so that once they pass, we know we have made useful progress.  Even a list of URLs would help especalliy if we could gets some of those books loaded into dev /

[2020-08-14 22:45] cdrini commented on #3633
Nope; they're getting called; everything is getting called correctly. The retrieval of the class from the `thing_registry` is also succeeding. It's the assignment to `__class__` that's failing :(

[2020-08-15 01:50] cdrini commented on #3633
I dived in, and this is I _think_ the "correct" direction; but a ton of things break: https://github.com/internetarchive/infogami/pull/109 . Would love some feedback from y'all there (also @hornc !). The road does not look easy 😅

[2020-08-15 03:29] cclauss commented on #3633
What is the relationship between LazyObjects and Things?

LazyObject has [the right approach](https://github.com/internetarchive/infogami/blob/f4bf178b9b654df4f8bc3fd9f352ab1e9f8eac24/infogami/infobase/client.py#L206)... It you ask a shallow object for an attribute (e.g. .get_sorted_editions()) that it does not have then it becomes a deep object on-the-fly and returns the requested attribute.

[2020-08-15 07:50] cclauss commented on #2852
* [ ] Refactor .read() to use requests #3710
* [ ] Refactor to use requests json #3709
* [ ] refactor update_work and test_update_work to use requests #3696
* [ ] converted only simple GETs to requests #3694
* [ ] Requests refactor only query.py #3666
* [ ] use requests instead of stdlib #3658
* [ ] Fix portability and dependency issue #3559

[2020-08-15 20:14] mekarpeles opened #3712 "Books Page, Editions Table: "Remember" # Results to Display"
@jessamynwest writes:

<img width="470" alt="screen_shot_2020-08-15_at_15 52 50" src="https://user-images.githubusercontent.com/978325/90320756-a46bb800-def8-11ea-83f9-6e8a55aa307c.png">

### Describe the problem that you'd like solved

Books page editions table doesn't remember / honor how many books you'd like displayed by default by the table.

### Proposal & Constraints

Expand the LocalStorag

[2020-08-15 20:49] mekarpeles commented on #3607
@tabshaikh what epic issue is this a subtask of?

[2020-08-16 09:38] bitnapper opened #3713 "Use definition table for contributors on Books Page"
Just a small design request. In the editions #edition-details section, the details like id's, physical details... are styled with definition tables which produces a nicely structured view while the contributors section consists of list elements with lots of breaks which looks very cramped.

Just compare the sections in this example: [OL28775995M](https://openlibrary.org/books/OL28775995M/Der_Todes

[2020-08-16 12:50] bitnapper opened #3714 "Markdown processor seems confused when using links"
When mixing links and other **bold** or _italic_ text in the _Work Description_, the interpreter seems to omit some of the formatters as you can see in the following links.

### Evidence / Screenshot

- [Wenn die Sterne verlöschen](https://openlibrary.org/books/OL28812924M/)
- [Die Verschwender vom Mars](https://openlibrary.org/books/OL28818736M/)

### Details

- **Logged in (Y/N)?** not relevant

[2020-08-17 01:51] #3586 closed

[2020-08-17 03:20] aasifkhan7 commented on #3712
@mek Can you please assign me to this issue? (My apologies - I opened a PR without even getting assigned the issue.)

[2020-08-17 13:29] aasifkhan7 commented on #3695
@cdrini this book doesn't exist in my local OL instance - how can I import it in the local DB?

[2020-08-17 20:02] cdrini opened #3718 "JSON endpoint for lists does not work if list has been deleted"
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/people/balungankere/lists/OL163256L.json

### Steps to Reproduce
1. Go to https://openlibrary.org/people/balungankere/lists/OL163256L.json

* Actual: 404 page not found
* Expected: JSON output with `type: '/type/delete'`

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF79
- **Operating system?**

[2020-08-17 21:18] cdrini opened #3720 "Truncate solr service + tomcat7 logs"
The logs for solr can fill up the system; the appear to have no limit

### Proposal & Constraints
- Add some options to the docker-compose to limit them: https://stackoverflow.com/questions/42510002/how-to-clear-the-logs-properly-for-a-docker-container
- Figure out how to make tomcat7 less noisy

### Related files

### Stakeholders

[2020-08-18 00:54] guyjeangilles commented on #3705
@mek @cdrini This seems like a good idea. Is availability information accessible from a user's reading log? Would it be expensive to check availability for 700 books on one page?

[2020-08-18 01:08] guyjeangilles commented on #3714
@bitnapper please post a screenshot of the exact markdown used and the result of it's rendering.

[2020-08-18 05:47] bitnapper commented on #3714
![4837D872-A1C1-4469-9780-6B894BF735CD](https://user-images.githubusercontent.com/2772669/90474988-df533300-e126-11ea-951e-8c35e45767f7.jpeg)
Here‘s the Markdown

![61E22CA0-01F7-4D73-8F26-2876871D2037](https://user-images.githubusercontent.com/2772669/90474985-de220600-e126-11ea-9586-adfa22749323.jpeg)
Here‘s the result.

[2020-08-18 05:50] bitnapper commented on #3714
![2727DFB3-2AFC-4890-B1F4-83A26DB07268](https://user-images.githubusercontent.com/2772669/90475186-47097e00-e127-11ea-8909-7fc3017f1dd3.jpeg)

[2020-08-18 05:52] bitnapper commented on #3714
![4D12C25D-43D6-4503-9DBD-806BF1A076D6](https://user-images.githubusercontent.com/2772669/90475343-964fae80-e127-11ea-85ef-f19468bba505.jpeg)
Here in widescreen with the complete Markdown.

[2020-08-19 03:17] #3577 closed

[2020-08-19 04:22] hornc commented on #2107
The last `accessible book` subjects found in the ol_dump_works_2020-07-31.txt.gz have been processed and had these subjects removed.

[2020-08-19 04:22] #2107 closed

[2020-08-19 07:21] tabshaikh commented on #3595
@guyjeangilles The books which do not have a cover is due to the work not having a cover, should this issue be closed then?

[2020-08-19 12:37] dcapillae commented on #3595
@tabshaikh @guyjeangilles  I don't think so. I don't think it should be closed. The carousels still don't work. If a work doesn't have a cover, this point should be fixed. With the new UI, it's not possible to add covers to works, only to editions.

[2020-08-20 21:09] cclauss commented on #3685
This is a staging vs. production issue.

[2020-08-20 21:09] #3685 closed

[2020-08-20 22:13] #3633 closed

[2020-08-21 18:26] cdrini opened #3724 "My profile page slow to load, sometimes 504s"
### Evidence / Screenshot (if possible)

### Relevant url?
https://openlibrary.org/people/ScarTissue

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF79
- **Operating system?** Win10
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2020-08-22 06:15] cclauss opened #3727 "Python 3: self.document = doc # AttributeError: can't set attribute"
### Evidence / Screenshot (if possible)

Caused by an "optimization" of trying to overwrite a property with a value.

/openlibrary/openlibrary/templates/lists/widget.html: error in processing template: AttributeError: can't set attribute (falling back to default template)

web_1        | Traceback (most recent call last):
web_1        |   File "/openlibrary/infogami/utils/template.py", line 144, i

[2020-08-22 17:28] #3727 closed, assigned to nobody

[2020-08-24 04:16] hornc commented on #2413
This has been implemented -- new import adds edition covers to the work if they are not there already
https://github.com/internetarchive/openlibrary/blob/6d5056d7a761d92d6f86b03a3539cffb4a70242b/openlibrary/catalog/add_book/__init__.py#L588-L608

[2020-08-24 04:16] #2413 closed

[2020-08-25 15:15] cclauss commented on #3704
This also presents a problem on Python 3.8.5 because we are attempting `str.encode('ascii')` so I will try to fix in a way that work for both...
[code]

[2020-08-25 15:20] cdrini commented on #3724
Hmm; I think it's just taking a very long time to load; it took ~10s uncached, but didn't 504 anymore. Updating title.

[2020-08-25 18:13] LeadSongDog commented on #3704
@cclauss I got an internal server error on staging.openlibrary.org adding that:
![2B12909F-BB37-459E-80DE-1FAF654BF44E](https://user-images.githubusercontent.com/11435431/91211472-d17c4f80-e6dc-11ea-900a-40df622d4766.jpeg)

Changing to grosse instead worked:
![76F67567-E688-4F32-AAD8-D2B1972DA390](https://user-images.githubusercontent.com/11435431/91211600-0e484680-e6dd-11ea-86ca-df30a9762e29.png)

[2020-08-25 18:26] cclauss commented on #3704
Correct...  This is about Unicode characters vs. Ascii characters.  Any Unicode character (even an emoji) will cause a problem on either Py2 or Py3.

[2020-08-25 21:00] rodrigoescandon commented on #3704
Hi, I'm getting a similar error when I try to edit this book:

https://openlibrary.org/books/OL9174734M/Biblioteca_Vasconcelos_Library

The error:

`/opt/openlibrary/deploys/openlibrary/2b017b5/openlibrary/templates/books/edit.html: error in processing template: UnicodeEncodeError: 'ascii' codec can't encode character u'\xe0' in position 11: ordinal not in range(128) (falling back to default templ

[2020-08-26 06:40] hornc commented on #2651
With #1046 completed I'm not sure what else is left to do here. Are there more unlinked records?

[2020-08-26 18:03] mekarpeles opened #3740 "Fix web.delegate for lazy loading book page carousels"
Followup to #3697 fix web.delegate

threadeddict of web.ctx has difficulty being cached. The canonical pattern is

[code]

### Related files

https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/openlibrary/code.py#L819

### Stakeholders

[2020-08-26 18:45] #3055 closed

[2020-08-26 18:46] #3119 closed

[2020-08-26 20:15] #3740 closed

[2020-08-26 23:06] #23 closed

[2020-08-27 17:04] cdrini commented on #3653
Hey! I'm going to close this if that's ok :) If the above doesn't work and you still want this, feel free to re-open!

[2020-08-27 17:04] #3653 closed

[2020-08-27 17:34] cclauss commented on #3704
[class OLIndexer()](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/ol_infobase.py#L452) has a method [normalize_edition_title()](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/plugins/ol_infobase.py#L481) that seems to be converting Unicode titles into ASCII titles.  ;-(

[2020-08-27 20:13] #3435 closed

[2020-08-27 20:21] LeadSongDog opened #3746 "Wrong edition counts, earliest edition dates, and work titles shown"
Work title and edition count and earliest edition date should be consistent wherever shown, but they are not.

### Evidence / Screenshot (if possible)
![C55695FF-90C7-4148-BA1A-3A36F7E4EE3A](https://user-images.githubusercontent.com/11435431/91490648-c6622480-e880-11ea-9f8a-ce4802e2011a.jpeg)
![030DCB26-EC9C-48C6-810B-2C4C9BBF7FE8](https://user-images.githubusercontent.com/11435431/91490654-c79351

[2020-08-28 02:38] #1068 closed

[2020-08-28 02:38] #2115 closed

[2020-08-28 19:15] cclauss opened #3749 "Node.js v12 --> v14"
### Describe the problem that you'd like solved

In `docker/Dockerfile.olbase` and `.travis.yml` we currently install Node.js v12.
Should we consider upgrading to v14?  https://nodejs.org/en/about/releases

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-08-29 00:56] cdrini opened #3750 "Separate docker-compose service for misc scripts (like solr updater)"
Subtask of #1071

[2020-08-29 01:21] cdrini commented on #2083
Dropping this from #1071 , since `web` is now fully independent (only thing running on it is gunicorn). I'm hesitant to do this at all actually, because I think in the future we'll probably want node running on our web nodes in some fashion 😬

[2020-08-29 01:25] cdrini commented on #1071
This is now a part of python 3; we need the web nodes to be independent so that we can test deploying them connected to prod data

[2020-08-29 01:27] cdrini commented on #2083
Actually yeah, going to close as "won't fix" for now so as to avoid misleading folks. This is probably not the right direction (for now).

[2020-08-29 01:27] #2083 closed

[2020-08-29 15:17] miphilomath commented on #3724
Sometimes it is taking longer, sometimes not. It took 18s on an average to load the profile page for me, with fastest being 11s and longest 42s, compared to usual 1-2s to few other random profiles.

[2020-08-29 19:12] miphilomath commented on #3714
I would like to work on this issue if someone can guide me a little. I looked up the code base to understand which files are handling the markdown.

Found out, **openlibrary/core/olmarkdown.py** was importing following modules

[code]

But the module markdown was missing which were imported, that could be the root of the issue.

[2020-08-29 19:26] miphilomath commented on #3746
I found the issue in books with multiple editions. The year in the description suggests the year of first edition. IMO, we should update the sentence from "This edition is published in YYYY..." to "First edition published in YYYY and this edition is published in YYYY..." resolving the ambiguity.

[2020-08-29 22:54] LeadSongDog commented on #3746
Perhaps, but 1848 is just a wrong value. The first was 1836 as shown. Likewise 10 editions is wrong, 36 is right. Very stale data is being displayed.

[2020-08-29 23:23] mekarpeles opened #3755 "Selecting "currently reading" on Reading Log accidentally also clicks Star Ratings"
Clicking on the Reading Log dropdown and selecting "currently reading" bleeds through the UI component and frequently clicks on the StarRating component (resulting in an unintentional rating)

### Evidence / Screenshot (if possible)

![download](https://user-images.githubusercontent.com/978325/91647418-736aa780-ea0f-11ea-8b67-9ccbef53c692.gif)

### Relevant url?

any books page e.g. https://openli

[2020-08-29 23:28] mekarpeles commented on #3578
I'm going to call this resolved. The automatic import seems to be running.

[2020-08-29 23:28] #3578 closed

[2020-08-30 05:04] mekarpeles commented on #2616
Should be resolved now

[2020-08-30 05:04] #2616 closed

[2020-08-30 05:05] mekarpeles commented on #458
This appears to be resolved. Going to close and tagging @cclauss just in case I'm wrong

[2020-08-30 05:05] #458 closed

[2020-08-30 05:08] mekarpeles commented on #266
![openlibrary org_works_OL76837W_The_Da_Vinci_Code](https://user-images.githubusercontent.com/978325/91651649-16d5af80-ea44-11ea-8419-c9f740980915.png)
has since been resolved

[2020-08-30 05:08] #266 closed

[2020-08-30 05:58] jamesachamp commented on #3755
It looks like this can be solved by adding a `pointer-events: none` rule to the star component when the reading list dropdown menu is open, and removing the rule when the menu is closed.

If this approach is acceptable, I can submit a PR for this within a day.

[2020-08-31 17:01] #3564 closed

[2020-08-31 17:28] cdrini opened #3758 "Run full solr reindex with Aug dump"
There have been a large swathe of imports which are currently missing from our solr; run a full re-index to get them included. Also a good time to test (1) how the solr builder works with the py2/py3 changes, (2) the new to-production flow now that ol-solr0 is in use.

### Stakeholders
@mekarpeles

[2020-08-31 18:00] #2916 closed

[2020-09-01 11:49] rohitgeddam commented on #3755
I would like to work on this.

[2020-09-01 11:51] rohitgeddam commented on #3600
anyone working on this? Can i take this up?

[2020-09-01 16:26] mekarpeles commented on #3724
@miphilomath may I ask you to look into this?

If you have any questions about what files are related, I'd be happy to get you up to speed.

Some useful tips and tricks for this issue:
1. if you add `?_profile=true` to the url, you should get a breakdown of loadtime by component / call.
2. if you add `?debug=true` you can get stack traces and on some pages (like the books page) this causes a table

[2020-09-01 16:30] mekarpeles commented on #3746
@cdrini mentions this looks like a solr issue.

[2020-09-01 16:35] cdrini opened #3759 "Issue linking accounts"
@JeffKaplan Reporing that he's having some issues linking certain accounts; see https://internetarchive.slack.com/archives/C075DJ6G1/p1598905321019400

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/loc

[2020-09-01 17:41] mekarpeles commented on #3724
@miphilomath if you look at the openlibrary/templates/type/editions/view.html template, you should find code which gets run when ?debug=true is present:

https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/type/edition/view.html#L3
...
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/type/edition/view.html#L482-L499

We can implement thi

[2020-09-01 17:42] mekarpeles commented on #3724
Our guess is it's the list components
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/type/user/view.html#L8-L11
https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/type/user/view.html#L58-L75

[2020-09-01 19:07] cdrini opened #3760 "Orphaned editions error"
[code]

### Relevant url?
- https://openlibrary.org/books/OL9773440M/Muertos_Incomodos?v=1
- https://openlibrary.org/books/OL9773440M/Muertos_Incomodos?v=1&debug=true

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF79
- **Operating system?** Win10
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders
@mekarpeles

[2020-09-02 05:38] cclauss commented on #3262
@cdrini Is this closed at https://github.com/internetarchive/openlibrary/blob/master/requirements_common.txt#L10-L11

[2020-09-02 19:23] BrittanyBunk opened #3772 "Would 'report a problem' underneath each book work?"
How it works:
Without needing to have an account, if there's an issue with a book (any type) - then they can click on 'report a problem' for the book to create a request for it. That helps to add context as to where the issue is.

Pros:
- can refer to edits easily
- no need to log in
- easier for passerby to suggest an edit without having to make one

Cons:
- needs to be setup - lots of effort
- n

[2020-09-03 17:07] #1069 closed

[2020-09-03 17:08] #3750 closed

[2020-09-03 22:41] LeadSongDog commented on #3746
@cdrini Did you mean that in the sense that solr isn’t being told to update records, or that it is failing to do so when asked, or that the stale cached records are persisting some other way?

[2020-09-04 15:17] #1071 closed

[2020-09-04 15:49] BrittanyBunk opened #3777 "Can't delete book covers anymore."
I send them to the trash can, but they don't go there anymore.

[2020-09-04 17:35] #3712 closed

[2020-09-04 19:14] jamesachamp commented on #686
Please add me to your slack channel.  I've set up my local development environment, created PR [#3754](https://github.com/internetarchive/openlibrary/pull/3754), and intend to make additional contributions.  Thanks!

[2020-09-05 02:21] mekarpeles opened #3778 "ol-solr0 space filling up"
### Summary

- **What is wrong?**

Noticed NAGIOS complaining about storage being low on ol-solr0

- **What caused it?**

Docker logs on ol-solr0 have no limit. Also tomcat7 logs inside the docker container.

- **What fixed it?**

Clearing the docker images logs:

[code]

Note `d12b518475e1` is the id of the solr docker container and will change; run `docker container ls` to find the current one's

[2020-09-09 19:18] cdrini commented on #3778
Here are some more useful commands:

Check sizes (the docker ones are the ones that fill up):
[code]

Find the container id:
[code]

Truncate the logs (Or `sudo bash` to avoid `sudo`ing everywhere)

[code]

Check it worked:

[code]

[2020-09-09 20:03] cdrini opened #3782 "Graphite statsd volume too large for memcached"
`stats.ol.memcache.{hits,misses}` looks like it might be trigger too frequently. Maybe related to lazy loading related carousels (hitting memcache more freq)?

[code]

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environme

[2020-09-09 20:07] cdrini commented on #3318
Mek's WIP: https://docs.google.com/document/d/1c9biCMjgUl7xHHhV_vHVLfij30wJ80lhDX9Z8Ts7qqU

[2020-09-09 20:21] cdrini opened #3783 "Create ol-web1"
Fossa + docker (cc @samuel-archive )

[2020-09-09 20:25] cdrini opened #3784 "Update SSD for ol-db1 and ol-db2"
The vms are running out of room.

## Stakeholders
@abezella

[2020-09-09 20:39] mekarpeles opened #3785 "Fix EOY donation banners on dev + production"
1. Coordinate w/ product team to **not** load /include/donate.php assets if we're not in an active donation period
2. On prod: if not `dev-enabled`, we **should** load the banner from archive.org. This needs to be added/fixed. We should split this into a different/new option for toggling whether to show donation banner via olsystem openlibrary.cnf which should default to False on local.
3. We beli

[2020-09-09 20:51] cdrini commented on #3755
@jamesachamp That sounds perfect! Go for it :)

Thanks for offering, @rohitgeddam ! @jamesachamp got to this one first :) Maybe you might want to take a look at #3296 if you're looking for something to contribute to.

[2020-09-09 20:56] cdrini opened #3786 "Sync sponsored books upto Sep 1"

[2020-09-09 21:03] cdrini opened #3787 "Give @cclauss access to ol-dev0 (and friends)"

[2020-09-09 21:49] cdrini opened #3788 "Library Explorer integrated in openlibrary on dev.openlibrary.org"
Subtask of: #3576

Integrate code on https://f1efv.csb.app/ into dev.openlibrary.org

[2020-09-09 22:57] mekarpeles opened #3789 "Make sure ol-covers1 backup strategy"
### Summary

According to @abezella, `ol-covers1` **is** backed up at the vm-level, this includes /1 (where covers are stored) on a vm named `lvm-backup4`

```Current mirror: Thu Sep  3 01:49:49 2020```

[2020-09-09 22:58] mekarpeles commented on #3789
resolved -- this is for docs / informational

[2020-09-09 22:58] #3789 closed

[2020-09-09 23:48] jamesachamp commented on #3755
@cdrini Just submitted a PR for this.  I may be a bit slow to resolve any review comments, as I'm currently having some issues with my local setup...

[2020-09-10 18:02] tfmorris opened #3793 "Site performance is abysmal"
The site has been getting steadily slower over the last few months, but now has become completely unusable.

- autocomplete for author names takes several seconds which defeats the entire purpose of having autocomplete
- this URL 504'd after 60 seconds **twice** before finally loading in 40 seconds (ie response time of 160 seconds or 160000 msec to use a more common unit of measurement for latency

[2020-09-10 18:45] mekarpeles commented on #3782
notes:
https://statsd.readthedocs.io/en/v3.2.1/reference.html#incr
`StatsClient().incr(stat, count=1, rate=1)`

[2020-09-11 21:58] cdrini commented on #3778
It looks like it was also the tomcat logs, which were stored inside the docker image separately (need to find a way to disable those). ol-solr2 is only at 40G of 237G; ol-solr0 was at 230G of 237G!

I `du -sh *` deeper into `/var/lib/docker/overlay/3b16ff84.../merged` until I found the culprit: `/var/log/tomcat7` - `145G`

I cleared out any old files.

This brought it down to 90G of 237G.

There's

[2020-09-13 08:35] seabelis commented on #3777
Duplicate of #3665 .

[2020-09-13 08:35] #3777 closed

[2020-09-13 08:47] bitnapper opened #3794 "Improve books/add-form, for existing works title not editable"
When adding edition from an existing work, the title-field is locked. Especially for translations the titles differ from the original work so the should be editable. The can be changed in the next from though but in many cases the editor forgets to change it than. It would be much easier if the title could be set in the first form.

### Describe the problem that you'd like solved
Make the title-fi

[2020-09-13 09:20] bitnapper opened #3795 "Terminology Master/Slave etc."
### Describe the problem that you'd like solved

In technology some of the **vocabulary** is a bit problematic. In the Open Library the term **master** is used when objects are merged for the primary object a secondary object shall be merged into. I propose to **switch from the master/slave** terminology **to primary/secondary**.

I'm very sorry that I got a bit ahead of myself and already changed

[2020-09-13 11:39] bitnapper opened #3796 "Search result preview overlapping with other page elements"
Typing a search request with plenty of hits into the top search-field, waiting for the preview results. The result bar (could not figure out the id) is overlapped by `<ul class="work-menu sticky">`.

### Evidence / Screenshot (if possible)

![Screenshot_2020-09-13 The Girl, the Gold Watch and Everything (1962 edition) Open Library](https://user-images.githubusercontent.com/2772669/93017086-37feda0

[2020-09-14 04:28] jamesachamp commented on #3796
The search results are in `<div class="search-bar-component">`.  Both the search bar component and the work menu have the same z-index (`999`).  It looks like increasing the search bar component's z-index will correct this.

I'll raise a PR for this tomorrow, as it's a bit late here now.

[2020-09-14 12:47] tirkarthi opened #3797 "Deprecation warning due to invalid escape sequences"
### Steps to Reproduce

Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/ . I will raise a PR for this.

[code]

### Related files

[2020-09-14 12:49] tirkarthi opened #3798 "base64.decodestring was deprecated and removed in Python 3.9 in favor of decodebytes"
### Steps to Reproduce

It should be decodestring in python 2 and decodebytes in python 3.

[code]

[2020-09-14 16:09] cdrini commented on #3758
Reindex complete; here are the numbers (using 2020-08-31 dump; and querying 09-14 solr for "before" values)

Type        | # in postgres | # in prod solr | # in new solr | psql diff   | solr diff
----------| --------------- | ------------- | -------------- | ----------- | --------
Works     | | 22217079 | 22848656 |  | 631577
Orphans |  | 3069021 | 3035808|  | -33213
Authors  |  | 7452483| 7713532

[2020-09-14 16:39] bitnapper commented on #3704
The Problem also occours whent trying to edit an existing book where the authors name contains certain characters:

- https://openlibrary.org/books/OL26678902M/  or
- https://openlibrary.org/books/OL26690003M/

[2020-09-15 01:30] guyjeangilles commented on #3796
I recall seeing this bug before, but can't find the issue. If anyone has better memory than me mention the issue in this thread

[2020-09-15 01:31] guyjeangilles commented on #3795
parent/child is also used instead

[2020-09-15 01:42] guyjeangilles commented on #3758
Should this issue still be open?

[2020-09-15 02:05] cdrini commented on #3758
Nope! :)

[2020-09-15 02:05] #3758 closed

[2020-09-15 08:37] Abhirup-99 commented on #3798
Hello!
Can I start working on this issue, as it has a good first tag, and I am also new to open-source contributing and would like to fix this issue?

[2020-09-15 22:29] #3755 closed

[2020-09-15 22:46] #3778 closed

[2020-09-15 22:49] cdrini commented on #3746
Something somewhere there. The problem lives in solr (i.e. solr has the wrong info); how it got there is another question. It seems to be fixed now though. So my guess would be this is probably a variation of #628

[2020-09-15 22:51] cdrini commented on #3588
Closed by #3801

[2020-09-15 22:51] #3588 closed

[2020-09-15 23:11] mekarpeles commented on #3784
Resolved

[2020-09-15 23:11] #3784 closed

[2020-09-15 23:13] guyjeangilles commented on #3796
@cdrini I'm still seeing this bug why was this closed?

[2020-09-15 23:30] cdrini commented on #3796
Fixed on dev :) Deploying today

[2020-09-15 23:31] hornc opened #4978 "BWB import bot setting empty 'lc_classification' on many imports"
example:
https://openlibrary.org/books/OL30158135M.json

https://openlibrary.org/books/OL30158135M/Women_Who_Dared?m=history

[code]

Expectation: if there is no `lc_classification` in the source data, don't set any value.

[2020-09-16 15:50] LeadSongDog commented on #3746
@cdrini Would it be possible to give users a link or button to trigger refresh of problem records? At least on dev? There has to be a way to tear these solr unknowns apart. That said, we still have a problem with bad records such as
https://openlibrary.org/books/OL28666303M.json

There’s no reason to have author records linked from editions that have works linked, especially not when those are the

[2020-09-16 19:09] cdrini opened #3806 "Editing broken on prod"
Editing results in Internal Error

[code]

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/93381255-67b01b00-f82e-11ea-8a55-45ee47bcb896.png)

### Steps to Reproduce
Make any edit

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF80
- **Operating system?** Win10
- **Environment (prod/dev/local)?** prod

### Proposal & Constraint

[2020-09-16 19:32] mekarpeles opened #3808 "Addbooks Python3 Regression: Bytes & Strings /edit + addbook"
@cclauss this is a hotfix for /editing. @cdrini and I both notice these changes won't work on Python 3. Opening a separate issue to unblock prod

_Originally posted by @mekarpeles in https://github.com/internetarchive/openlibrary/pull/3807#issuecomment-693620518_

[2020-09-16 19:38] #3806 closed

[2020-09-16 20:38] cdrini commented on #2981
It seems like the consensus here is for double quotes:

- Double quotes: @cdrini @cclauss @mekarpeles
- Single quotes: @hornc

Any final comments/votes? (@tfmorris not sure which you're in support of)

[2020-09-16 20:38] mekarpeles commented on #2981
Thanks for driving this issue.

Noticing the feedback from the community (the vote seems pretty clear). My top priority is making sure we don't go back and forth on PRs (and get something solidified as lint/process).

In support of the vote, let's go with double quotes and follow psf/black.

[2020-09-16 20:47] cdrini commented on #2981
Ah, we posted at the same time :P Re-opening to see if there's any more feedback; otherwise let's merge in a few days.

[2020-09-16 21:04] mekarpeles commented on #2981
sgtm, apologies about that @tfmorris -- didn't mean to jump the gun and exclude your vote. This thread was re-cactylzed by a PR which @cclauss opened (which changed single to double quotes) and I was trying to drive for some decision to unblock the review. Happy w/ @cdrini's decision to keep this open and get more feedback. For now, asking @cclauss to separate the style/lint changes in their PR. P

[2020-09-17 01:18] tfmorris commented on #2981
Abstain

[2020-09-17 08:49] mekarpeles commented on #2981
Ok, thanks, re-closing the issue w/ the above resolution

[2020-09-17 08:49] #2981 closed

[2020-09-17 16:55] Abhirup-99 commented on #3798
I have pushed a commit, please do review. @tirkarthi

[2020-09-17 18:31] cdrini opened #3809 "Disable & reprovision ol-solr2"
ol-solr0 is now running production; we no longer need ol-solr2. Let's disable it (see if anything is secretly using it), and then we can use it as a "testing" server for our next solr plans, or as a sort of blue-green deploy server.

- [ ] Stop solrupdater on ol-home that's connected to ol-solr2
- [ ] Stop the server on ol-solr2
- [ ] Monitor to see if any services break
- [ ] Reprovision ol-solr2

[2020-09-18 11:07] jamesachamp opened #3810 "Typo in confirmation dialog box"
There is a typo in the dialog box that is displayed when a user attempts to remove the last book from a list.

### Evidence / Screenshot (if possible)
![dialog_typo](https://user-images.githubusercontent.com/28732543/93590180-1150f280-f97c-11ea-97b7-a54b0adffad3.png)

**Note:** Issue [#3565](https://github.com/internetarchive/openlibrary/issues/3565) addresses the encoded entity number in the conf

[2020-09-18 16:09] #3810 closed

[2020-09-18 17:03] jamesachamp opened #3812 "Running i18n scripts fails due to permissions error"
Running `docker-compose exec web make i18n` results in a permissions error, and `.mo` files are not generated.

### Evidence / Screenshot (if possible)
Stack trace is as follows:
[code]

### Relevant url?

### Steps to Reproduce

1. Run `docker-compose up` and wait until your local instance has started.
2. Run `docker-compose exec web make i18n`

* Actual: Permissions error is thrown, and `.mo` fi

[2020-09-18 18:28] jamesachamp opened #3813 "List removal dialog buttons not translated"
When deleting a list with language preference set as `fr` or `es`, the buttons in the confirmation dialog box are displayed in English.  The body of the dialog is, however, displayed in the correct language.

### Evidence / Screenshot (if possible)
Dialog with Spanish language preference set:
![es_i18n_issue](https://user-images.githubusercontent.com/28732543/93631270-4596d400-f9b9-11ea-89c3-f8bd7

[2020-09-18 18:48] DuncanDHall opened #3814 "Dead space under nav items makes dropdown menus unreliable"
When users roll over the nav items "Brows", "My Books", and "More", the dropdown menus that appear will disappear if the cursor is moved too slowly from the item down to the dropdown menu.

### Evidence / Screenshot (if possible)
[screencast demo](https://www.dropbox.com/s/yaxcz3m9h09t74t/ol_nav_bug_demo.mov?dl=0)

### Relevant url?
[https://openlibrary.org/](https://openlibrary.org/)

### Steps t

[2020-09-18 19:17] jamesachamp commented on #3565
I just submitted a PR that corrects this, but there is an opportunity to refactor to use the `confirmDialog` function for these dialogs.  Issue #3813 should probably be resolved first, though.

[2020-09-18 22:48] #3565 closed

[2020-09-21 18:00] mekarpeles opened #3818 "Rm cache option for Related Books Carousel & fix js trigger"
Related Books carousels spin forever. The function call itself may be consistently failing and then caching an empty value. Or we are not reponding to errors correctly.

### Evidence / Screenshot (if possible)
See spinner on live website on books page, e.g. ...

### Relevant url?

https://openlibrary.org/books/OL7829676M/The_Giver

### Steps to Reproduce

1. Go to ...
2. Do ...

Hit the endpoint d

[2020-09-21 20:05] cdrini commented on #3813
Heads up this is a part of a larger problem associated with the fact that we don't have i18n for our JS files (I believe an issue exists somewhere).

[2020-09-21 20:07] cdrini commented on #3814
Good find, @DuncanDHall ! PR welcome :)

[2020-09-22 08:39] Abhirup-99 commented on #3798
@tirkarthi I messed up the last pr due to some git issue. I have pushed a fresh pr, do take a look.

[2020-09-22 17:40] mekarpeles opened #3822 "Default sticky search facet should be "everything", not "ebooks""
Stub -- @mekarpeles to fill in

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2020-09-22 18:24] #3822 closed

[2020-09-22 20:20] cclauss opened #3824 "https://openlibrary.org/type/author raises a TypeError"
https://openlibrary.org/type/author raises /opt/openlibrary/deploys/openlibrary/4ed1ca3/openlibrary/templates/lib/history.html: error in processing template: TypeError: %d format: a number is required, not instance (falling back to default template)

### Evidence / Screenshot (if possible)

### Relevant url?

https://openlibrary.org/type/author
https://openlibrary.org/type/author?debug=True  # For

[2020-09-22 20:25] cdrini commented on #3824
Hmm, I'm not observing an error here.

![image](https://user-images.githubusercontent.com/6251786/93933808-346b0180-fcf0-11ea-825d-ab89e65c7caf.png)

[2020-09-22 22:02] cclauss commented on #3824
![Screenshot 2020-09-22 at 23 59 21](https://user-images.githubusercontent.com/3709715/93942054-f097ec80-fd2f-11ea-92e6-d24d0e3e7ed9.png)

![Screenshot 2020-09-22 at 23 59 47](https://user-images.githubusercontent.com/3709715/93942063-f7befa80-fd2f-11ea-8b69-6475e2081f6c.png)

[2020-09-22 23:16] Abhirup-99 commented on #3824
can I work on this issue?

[2020-09-22 23:41] #3665 closed

[2020-09-23 04:45] cclauss commented on #3824
@Abhirup-99 Can you replicate this issue?  In general, we follow the “many eyes make all bugs trivial” approach so if you see an issue that you want to try to fix then do not wait for permission — just go for it.  If two people submit a pull request to fix the same issue, it is usually a learning opportunity.

[2020-09-23 15:57] cdrini commented on #3824
Hmm, this looks like it might be an i18n issue. What language is your browser? Can you expand the first "Local vars" in the debug view?

[2020-09-23 16:36] LeadSongDog commented on #2445
@cdrini,
It’s great that work is being planned on someday updating solr, but that shouldn’t delay solving this issue. When I create a new author olid and record, it should be Immediately usable in editing work records, even if it takes forever for the name to be findable. We’ve been suffering with this for years with no evident reason. Example:

An hour after creation, an author record is findable

[2020-09-23 16:51] seabelis opened #3826 ""Report a Problem" form should require recaptcha for unauthenticated users"
A large volume of spam is submitted through [this form](https://openlibrary.org/contact?path=/). Requiring recaptcha from unauthenticated users could potentially reduce this without burdening patrons.

### Describe the problem that you'd like solved
Reduce spam.

### Proposal & Constraints

Update so that unauthenticated users _always_ see the recaptcha. Current solution only shows the recaptcha i

[2020-09-23 16:54] cclauss commented on #3824
![Screenshot 2020-09-23 at 18 52 41](https://user-images.githubusercontent.com/3709715/94044232-29869e80-fdce-11ea-8ac2-12fa4c8d5af3.png)

[2020-09-23 16:55] cclauss commented on #3824
`kw    {'count': }` looks suspect to me.

[2020-09-23 17:17] cdrini commented on #3824
How odd! It's showing up for me now :/
![image](https://user-images.githubusercontent.com/6251786/94046756-1d371d00-fd9f-11ea-94c5-23b6e90ba6b6.png)

[2020-09-23 17:19] cdrini commented on #3824
But in incognito it's fine:

![image](https://user-images.githubusercontent.com/6251786/94046944-58d1e700-fd9f-11ea-8725-e0434d645bcc.png)

[2020-09-23 17:20] cdrini opened #3827 "Unique visitors graph dropped to 0"
This graph dropped to 0 ~Aug 25, and hasn't quite recovered. There's a noticeable stop in a few things around this time.

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/6251786/94047038-84ed6800-fd9f-11ea-8e92-ec2b6a7c251e.png)

### Relevant url?
https://openlibrary.org/

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF80
- **Operatin

[2020-09-23 17:21] cdrini commented on #3827
Note it looks like this release happened on that day: https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-08-25

[2020-09-23 18:14] mekarpeles commented on #3587
I believe this is closed by @jamesachamp #3825

[2020-09-23 18:14] #3587 closed

[2020-09-23 18:20] mekarpeles commented on #3783
ol-web1 is provisioned (it may need to be re-provisioned with focal, but I say let's continue forward trying to get a production python3 version of `ol-dev1` (i.e. staging.openlibrary.org) as part of our haproxy pool.

This will require a change to `olsystem` in `/etc/postgres/hb_pga.conf` to add the IPs of ol-web1 (for our dbs) if the IP is not there already. And likely the `olsystem/etc/openlibr

[2020-09-24 15:14] cdrini commented on #3703
Done!

[2020-09-24 15:14] #3703 closed

[2020-09-24 15:15] cdrini commented on #3788
Done! https://dev.openlibrary.org/_dev/library_explorer . Obviously still needs work though :P

[2020-09-24 15:15] #3788 closed

[2020-09-24 15:25] cdrini opened #3830 "Sentry should include the url in its event log"
Currently, there's no way to see what URL a user was on when an error was thrown. Let's see if we can add that in.

### Proposal & Constraints
See the sentry docs.

### Additional context

### Stakeholders

[2020-09-25 00:00] jamesachamp commented on #3813
I'll start working on the second approach, then (overriding the dialog's button options).

[2020-09-25 12:11] Yashs911 commented on #2234
Hi @cdrini can I work on this? Do I just need to rename?
I am new to open source

[2020-09-25 19:22] VLADPOLUNIN opened #3832 "Vladislav Polunin"
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders

[2020-09-25 19:23] VLADPOLUNIN commented on #3832
http://williamwhitejr.com/. How are you doing today?

[2020-09-25 19:57] guyjeangilles commented on #2234
@Yashs19 feel free to make a pull request if you have a solution

[2020-09-25 20:01] guyjeangilles commented on #3832
Bot be gone

[2020-09-25 20:01] #3832 closed

[2020-09-25 21:23] cdrini opened #3833 "Switch donation form to use IA js/iframe"
The IA folks have created a donation form iframe (triggered by a script). We currently splice HTML/JS from IA into OL to achieve the same effect. It seems like they might want to deprecate the old PHP endpoint we're using in favor of this. Priority TBD.

The new code would be:

[code]

Pros:
- Don't inject HTML from IA (brittle dev dependency)
- Don't slow server response to fetch HTML/JS from IA;

[2020-09-26 10:16] Yashs911 commented on #2234
@guyjeangilles  Sorry for wasting your precious time but could you please guide me. Where do I need to make changes? I am new and I went through the codebase and found that the jquery repeat js file doesn't have {{index}} term.

[2020-09-27 04:39] Yashs911 commented on #2234
Hi, @cdrini can you please guide me in which files do I need to make the changes. I am new to open source.

[2020-09-27 14:15] navneetsaluja commented on #3814
Hello, since this has not been assigned to anyone yet and Duncan has not started a PR yet, may I be assigned to this? I have already rectified the problem on my local instance. Since this is my first time contributing to open source (even though this was a very small fix), here are the steps I took:

1. created a `branch 3814/refactor/removing-dead-space-under-nav-items`.
2. changed the css for `.

[2020-09-27 22:03] navneetsaluja opened #3835 "CONTRIBUTING file opens wrong video link for Quick Tour section"
In the Quick Tour section of CONTRIBUTING.md, it opens the link https://archive.org/embed/openlibrary-tour-2020 which goes to the internal-staff-deployment video. What it should open is the link https://archive.org/embed/openlibrary-tour-2020/openlibrary.ogv which is the quick tour.

I'll be creating a PR to fix this.
(since this is my first issue in any open source project, please let me know if

[2020-09-28 04:42] mekarpeles opened #3838 "Unique Visitors graph broken on production (possibly python3 related?)"
Unique visitors appears to be broken (possibly since last deploy?)

![openlibrary org_ (5)](https://user-images.githubusercontent.com/978325/94391458-51496f80-010a-11eb-8cae-6357613f79c7.png)

[2020-09-28 07:06] mekarpeles commented on #3787
completed

[2020-09-28 07:06] #3787 closed

[2020-09-28 07:06] mekarpeles commented on #3786
completed, though dev effort still required to combat exceptions being thrown at donation time

[2020-09-28 07:06] #3786 closed

[2020-09-28 07:09] mekarpeles commented on #3782
@tabshaikh this is likely from our RelatedWorkCarousels -- any updates / testing on this one?

[2020-09-28 19:14] mekarpeles commented on #3827
See: August 25th deploy. Merging this issue w/ #3838

[2020-09-28 19:14] mekarpeles commented on #3838
Closing this as a duplicate of #3827

[2020-09-28 19:14] #3838 closed

[2020-09-28 20:17] cdrini commented on #3826
(See also #2066)

[2020-09-28 20:40] #3835 closed

[2020-09-29 02:52] anushri20 commented on #3794
@bitnapper Can I work on this?

[2020-09-29 02:55] anushri20 commented on #3713
@bitnapper Can I work on this?

[2020-09-29 12:27] shubham00jain commented on #3797
Hi is this issue taken? I am new to opensource and would like to contribute in it.

[2020-09-29 12:31] diwanshu8850 commented on #3797
Hey, is this task already been assigned to someone?

[2020-09-29 16:56] JeffKaplan opened #3854 "ebook not appearing in search results"
search issue:
https://openlibrary.org/books/OL27928540M/Returning_To_The_Age_Of_Reason does not appear in results for ebooks.
https://openlibrary.org/search?q=title%3A+%22Returning+To+The+Age+Of+Reason%22&mode=ebooks&has_fulltext=true

[2020-09-29 19:20] mekarpeles commented on #668
Decision:
* Sticky primary
* When primary changes, un-select merge
* Highlight all rows in merge

[2020-09-29 19:26] NanaYawBotar commented on #686
Please add me to your slack channel

[2020-09-30 18:26] bitnapper commented on #3794
I don't think you have to ask me. I just reported the problem.

[2020-09-30 18:27] bitnapper commented on #3713
Also not in charge... but I think everyone would be very greatful, if you can do something about that.

[2020-09-30 18:48] Abhirup-99 opened #3856 "wsgiref is deprecated for python 3 onwards"
wsgiref is deprecated for python 3 onwards and is only available for python 2 only. This creates issues when installing open library in python 3 envs,
### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Install open library using the current requirements.txt in python 3 envs.
2. Do ...

* Actual:  It doesn't install all dependencies successfully.
* Expected: It s

[2020-09-30 23:46] jamesachamp commented on #668
Team, the current pull request has the undesired behavior of reordering the author list when a new primary is chosen.  Please review the following updated behavior and let me know if you have any notes:

![sticky_top](https://user-images.githubusercontent.com/28732543/94750736-cc9e6180-0354-11eb-9aff-c067d06d034f.gif)

If this is acceptable, I'll update the PR. Thanks!

[2020-10-01 04:28] anushri20 commented on #3794
@bitnapper oh okay.

[2020-10-01 04:44] bitnapper commented on #3794
@anushri20 are you in the Slack-Group? I think everyone would be very happy, if you want to help with that problem.

[2020-10-01 08:04] anushri20 commented on #3794
@bitnapper No, I am not. Please add me to the slack-Group. I would love to help you all in all possible ways.

[2020-10-01 11:27] cclauss opened #3859 "Do we need sudo for all steps in Docker-based deploys?"
### Question

https://github.com/internetarchive/openlibrary/wiki/Deployment-Guide#docker-based-deploys-alpha
Do we need `sudo` to proceed ___all___ commands in the Docker-based deploys?

It would be helpful if the last thing that `./scripts/make-integration-branch.sh` did was `git rev-parse --short HEAD` to print out the "software version" that we should expect to see on http://staging.openlibrar

[2020-10-01 12:17] #3856 closed

[2020-10-01 20:39] jamesachamp opened #3870 "Refactor JS Autocomplete Unit Tests"
Four autocomplete unit tests fail when Jest is upgraded to 26.3.0 and higher due to a stubbed `getJSON` method not being called when triggered.  Additionally, there are four other autocomplete tests that expect the method call count to be 0.  These pass, but have the potential to be false-positives if the autocomplete functionality *actually* breaks at some point.

Currently, `getJSON` is triggere

[2020-10-01 22:42] jamesachamp opened #3872 "Triggering autocomplete with certain search terms results in Solr exceptions"
Solr throws parsing exceptions when the certain search terms are typed into the search bar and autocomplete is triggered.

**Search Terms:**
`title:`
`author_name:`
`key:`

There may be other terms that will cause this.  To make matters worse, if one of the above terms are followed with a double quote character, autocomplete calls will continue to fail until a closing double quote character is typ

[2020-10-01 23:30] #3870 closed

[2020-10-02 15:03] #3814 closed

[2020-10-02 20:25] mekarpeles commented on #3794
Hi @anushri20, I'm mek, one of the maintainers on openlibrary.org

This issue may be slightly tougher than it looks, but let's try it! Please let me know all your questions and we can work together to help you be successful in solving this issue.

Thank you!

p.s. thanks @bitnapper for facilitating + opening this issue

[2020-10-02 20:26] eduardoltorres commented on #439
Hello! :wave:

I have been trying to play around with this issue before requesting if I can work on it, but I'm not sure how to recreate the borrowing behavior given that this is reserved to a certain staff group.

When I borrow with `AccountBot` I get logged out and when I borrow as admin I get redirected to archive.org. Any pointers?

[2020-10-02 20:48] eduardoltorres commented on #853
Hey @BrittanyBunk! :wave: do you need any help with this?

[2020-10-02 22:19] navneetsaluja opened #3877 "Fix HTML validator errors for landing page"
Putting HTML code of homepage in [W3C HTML validator](https://validator.w3.org/nu/?doc=https%3A%2F%2Fopenlibrary.org%2F) leads to errors. (Part of a bigger move to HTML 5)
### Evidence / Screenshot (if possible)
![Selection_001](https://user-images.githubusercontent.com/54721958/94973865-77b44400-052a-11eb-8487-ed0419b357b1.png)

[ignoring warnings for now]
### Relevant url?
https://openlibrary.or

[2020-10-03 08:18] anushri20 commented on #3794
@mekarpeles Thank you so much!! I will give it a try and I have any questions I'll definitely ask you.

[2020-10-03 09:14] eduardoltorres opened #3879 "404 on endpoints"
### Description

I went through the list of all routes listed on https://github.com/internetarchive/openlibrary/wiki/Endpoints#list-of-all-routes and hit some 404. Is this expected?

These are the relevant routes with a few comments:
[code]

### Steps to Reproduce

1. Go to `localhost:8080/<endpoint>`

* Actual: 404
* Expected: 200 OK

### Details

- **Logged in (Y/N)?** both
- **Browser type/vers

[2020-10-03 11:30] navneetsaluja commented on #3879
If I remember correctly, Mek did say in the [technical walkthrough video](https://archive.org/details/openlibrary-tour-2020/technical_overview.mp4) that this list of endpoints wasn't updated and you might find a few errors. Other than that, I'd asked Drini about the /subjects endpoint, apparently the code for it lives in the production databases (not in Git) and you can only test it by creating a

[2020-10-03 11:39] eduardoltorres commented on #3879
Yes, precisely. IIRC as well, he mentions that for those new to OL, it would be a good starting point to check the endpoints out and open an issue for potentially updating the page.

[2020-10-03 23:15] navneetsaluja opened #3881 "Fix HTML Validator issues on /subjects page"
Putting HTML code of /subjects endpoint in [W3C HTML validator](https://openlibrary.org/subjects) leads to errors. (Part of a bigger move to HTML 5)
### Evidence / Screenshot (if possible)
![Selection_004](https://user-images.githubusercontent.com/54721958/95003188-486d0800-05fa-11eb-95b9-84b3312b65be.png)

### Relevant url?
https://openlibrary.org/subjects

- **Environment (prod/dev/local)?** pro

[2020-10-04 10:42] bitnapper opened #3882 "Creating a new work from existing and orphaned edition fails"
I tried to create a new work from the existing [OL17874460M](https://openlibrary.org/books/OL17874460M/) by editing and selecting _move to a new work_.

### Evidence / Screenshot

![Screenshot_2020-10-04 Der Harz Open Library](https://user-images.githubusercontent.com/2772669/95013132-7aa05900-063e-11eb-9666-f8cf3fbac1a7.png)

### Relevant url?
Mayby any orphaned edition /edit

### Steps to Reprod

[2020-10-05 02:38] guyjeangilles commented on #3854
Looks fine to me. If someone can duplicate we can reopen.
![ol3854](https://user-images.githubusercontent.com/7256157/95035201-d9ec8080-06b3-11eb-803d-f6919a58131a.png)

[2020-10-05 02:38] #3854 closed

[2020-10-05 02:49] guyjeangilles commented on #3877
We should merge this issue with #2798 which focuses on all templates

[2020-10-05 02:53] guyjeangilles commented on #3881
Again, should be merged with #2798

[2020-10-05 02:55] guyjeangilles commented on #3882
@seabelis Have you ever had this problem?

[2020-10-05 03:00] navneetsaluja commented on #3877
I was going to initially create PRs on that #2798, but I consulted Drini and he told me to create separate issues for every page since its easier to review them and some of them can be used as good-first-issue's. I might have misunderstood him though, I'll start making PRs to #2798. Thank you for letting me know.

[2020-10-05 03:02] guyjeangilles commented on #3877
@navneetsaluja Making smaller issues isn't a problem. We call them "Sub-Epics" in this repo. #2798 would be the "Epic" that all the other sub-epics are under.

[2020-10-05 15:09] jamesachamp opened #3883 "String format TypeError prevents history table from rendering"
When users navigate to https://openlibrary.org/type/work a flash error message appears and the edit history is not rendered.

### Evidence / Screenshot (if possible)
![typeError](https://user-images.githubusercontent.com/28732543/95096440-44281400-06fa-11eb-91c3-45b53aefe47f.png)

### Relevant url?

https://openlibrary.org/type/work

### Steps to Reproduce

1. Navigate to https://openlibrary.org/t

[2020-10-05 15:18] nk4456542 commented on #3883
Hello, Can you assign me this issue, I am a beginner to Open-source in general. But I think I can solve it with a bit of help.

[2020-10-05 20:24] cdrini opened #3886 "Sync sponsored books upto Oct 1"

[2020-10-05 20:27] cdrini opened #3887 "Remove 1st borrow option from IA sponsorship & fix meta tags"
This is no  longer applicable.

[2020-10-05 20:29] cdrini opened #3888 "Finish BWB 2020-08 and 2020-09 Imports"

[2020-10-05 20:30] cdrini opened #3889 "Connect ol-web1 to ol web pool"
Blocked by #3783

[2020-10-05 20:33] mekarpeles opened #3890 "Updated IA metadata for titles purchased via 3rd party templates"
Also, verify each one is part of the program:
https://8882k.codesandbox.io

9780448089324
9780687453566
9780816516179
9780194317214
9781423159520
9781626252974
9789681905934
9780590877664

[2020-10-05 20:35] cdrini opened #3891 "Plan October Open Library Event"

[2020-10-05 20:37] cdrini commented on #3827
@cclauss Could you investigate this one?

[2020-10-05 20:43] cdrini opened #3892 "Full solr reindex of Oct 2020 dump"

[2020-10-05 20:47] cdrini opened #3893 "Demo Library Explorer for Oct 12 Library Leader's Forum"
Subtask #3576

[2020-10-06 04:04] mekarpeles opened #3896 "504 Timeouts occurring for Patrons w/ several large Lists"
e.g. https://openlibrary.org/people/Hermgirl/lists.json

See: https://twitter.com/TheKateFreeman/status/1313314985129377793

[2020-10-06 07:37] mekarpeles commented on #3883
You can see the stack-trace by going to https://openlibrary.org/type/work?debug=true (incognito)

![openlibrary org_type_work_debug=true](https://user-images.githubusercontent.com/978325/95172370-124f9580-076c-11eb-91dc-1f9d9e0c9ee2.png)

[2020-10-06 07:46] nk4456542 commented on #3883
Thanks for the help @mekarpeles, looking into it. Will try to solve and ask for help if needed.

[2020-10-06 16:41] nk4456542 commented on #3883
### Asking for help: If anyone is free, please go through this

### the history section is not being rendered to the following pages too: 'type/collection','type/place', 'type/scan_location', and some more. These are the pages that I could remember at the top of my head.

The error goes away when we replace %d placeholder with the %s placeholder in the following line:
Original line:
       `<li cl

[2020-10-07 00:02] mekarpeles commented on #3890
https://8882k.codesandbox.io/#isbns=9781612620244,9780374528379,9789681905934,9780590877664,9780448089324,9780687453566,9780816516179,9780194317214,9781423159520,9781626252974 these have been resolved for Eliza

[2020-10-07 00:25] mekarpeles opened #3898 "Archive.org/service/availability API required updates for new 1h schema"
`www/common/AvailabilityService.inc` i.e. https://archive.org/services/availability needs to be updated to support the new flags:

[code]

### Related files

`www/common/AvailabilityService.inc` in petabox

### Stakeholders

@bfalling, @judec

[2020-10-07 03:28] BrittanyBunk commented on #853
Yes - the author roles are not alphabetized. It would also be nice if they're categorized. It's also sad that we can't add anymore role names. Why do we need a drop-down menu?

If you could remove the drop-down menu and instead let people fill in whatever they need to - that would be ideal!

[2020-10-07 05:39] Yashs911 commented on #3483
Hi, @cclauss @imskr I would like to work on this issue.

[2020-10-07 06:54] psyphernetik commented on #610
I would like to know if this is still an issue? if not then I request that the issue is closed.

[2020-10-07 17:20] mekarpeles commented on #3888
both extracted and actively running on books-lists.

[2020-10-07 17:20] #3888 closed

[2020-10-08 00:43] cdrini opened #3902 "Deploy 2020-10-07 failed on covers.openlibrary.org"
### Summary

- **What is wrong?** https://covers.openlibrary.org 502s after deploying https://github.com/internetarchive/openlibrary/releases/tag/deploy-2020-10-07 .

(files: https://github.com/internetarchive/openlibrary/compare/deploy-2020-09-21...deploy-2020-10-07)

![image](https://user-images.githubusercontent.com/6251786/95402485-d9373280-08dd-11eb-8c5b-86cb947ea7be.png)

- **What caused it?

[2020-10-08 00:43] cdrini commented on #3902
Dropping to P1 since the temporary revert fixed it, but this is blocking deploys, so still a P1.

[2020-10-08 00:45] cdrini commented on #3902
Here's the pertinent error from the logs @mekarpeles :

[code]

[2020-10-08 00:46] cdrini commented on #3902
Fixed by reverting to previous deploy on ol-covers1, and restarting with:

[code]

and then restart both:

[code]

[2020-10-08 00:46] cdrini commented on #3902
@cclauss Any thoughts on what might've caused this one?

[2020-10-08 00:47] cdrini commented on #3902
We updated `six` on `ol-covers1` from 1.11 -> 1.15 (as listed in requirements_common), but the problem persisted.

[2020-10-08 00:56] cdrini opened #3903 "dev.openlibrary.org security certs expired"
### Summary

- **What is wrong?**  dev.openlibrary.org security certs expired

- **What caused it?**

- **What fixed it?**

- **Followup actions:**

### Steps to close

1. [ ] Assignment: Is someone assinged to this issue? (notetaker, responder)
2. [ ] Labels: Is there an `Affects:` label applied?
3. [ ] Diagnosis: Add a description and scope of the issue
4. [ ] Updates: As events unfold, is notea

[2020-10-08 00:56] cdrini commented on #3903
@mekarpeles Would you be able to fix this one and document how to fix it? This is well outside of what I'm good at dealing with :P

[2020-10-08 04:58] nk4456542 commented on #3824
#3883 issue and this issue are related, also this is occurring for 'type/collection', 'type/scan_location','type/place' etc.

[2020-10-08 07:26] jamesachamp opened #3904 "Manage photos component overlaps search results on author page"
When search autocomplete displays several results on an author's page, the manage author photos component can overlap the results and be selected.

### Evidence / Screenshot (if possible)
![manage_covers_zIndex](https://user-images.githubusercontent.com/28732543/95425441-4795e800-0912-11eb-8a2a-710efc85cb24.png)

### Relevant url?

### Steps to Reproduce

1. Log into Open Library.
2. Navigate to a

[2020-10-08 07:26] jamesachamp commented on #3904
I'll submit a PR for this shortly.

[2020-10-08 11:43] Yashs911 commented on #3898
Hi, @mekarpeles. I would like to work on this issue. Please guide me on what all changes do I need to make and in which file.

[2020-10-08 11:50] Yashs911 commented on #3483
@mekarpeles I started working on this issue, so I just want to know that is there a way to automatically remove unused imports or do I need to remove them manually.

[2020-10-08 12:06] cclauss commented on #3483
CAUTION: Some imports are done for side effects so linters like flake8 may say they are not needed but things will break without them.  Pleas do just a file or two per PR.

[2020-10-08 12:36] Yashs911 commented on #3483
@cclauss I have removed unused imports till .\openlibrary\plugins\openlibrary\utils.py so should I create a PR and commit them 2 at a time?

[2020-10-08 18:01] bitnapper commented on #3713
When somebody is looking into that, maybe the dt element could get a bit more space to avoid overlapping:

![image](https://user-images.githubusercontent.com/2772669/95496248-d2bdbf00-09a0-11eb-8c43-05f5e191790a.png)

[2020-10-08 18:49] eduardoltorres commented on #3038
@cclauss when or where is https://github.com/internetarchive/openlibrary/blob/master/openlibrary/catalog/edition_merge/merge_works.py#L143 exactly used?

I don't think I would have an issue "modernizing" it, but I am not sure where this function runs so I can check what's working and what's not. For exaple, line 144 from `merge_works.py`, where can I see this print?

[2020-10-10 13:38] seabelis commented on #3882
@guyjeangilles I don't believe I've seen this specific error.

[2020-10-10 13:42] seabelis commented on #3793
I'm not sure if this is related, but works and editions pages take 30+ seconds to load.

[2020-10-11 18:13] SouthGoingZax commented on #2191
Is this still an issue?  All of these seem to return the right thing:

https://openlibrary.org/search?q=grasscrown00mccu&mode=everything
https://openlibrary.org/search?q=kiterunne00hoss&mode=everything
 https://openlibrary.org/search?q=alicesadventures00carr_16&mode=everything&m=edit

[2020-10-11 21:09] mekarpeles commented on #3903
Certs in place thanks to Andy. Server needed a restart.

abezella  3 days ago
the services on ol-dev0 need  a restart to pick up the updated cert

abezella  3 days ago
for some reason the update wasn't pulled down, so i just put it in place now

abezella  3 days ago
we should really start getting ol off trusty/14.04 asap.  cfengine2 is showing its age

[2020-10-11 21:09] #3903 closed

[2020-10-12 07:19] seabelis commented on #2191
Thank you, @SouthGoingZax . It does seem to be working correctly now.

[2020-10-12 07:19] #2191 closed

[2020-10-12 18:40] JeffKaplan opened #3911 ""Unknown Author" causes page error"
unknown author causes error:
https://openlibrary.org/books/OL18689372M/Tangled_roots
https://openlibrary.org/books/OL8559610M/Tangled_roots
/opt/openlibrary/deploys/openlibrary/68474f6/openlibrary/templates/type/edition/view.html: error in processing template: IndexError: list index out of range (falling back to default template)

[2020-10-12 22:17] SouthGoingZax commented on #3883
It seems like the problem is somewhere in the `page.get_history_preview()` call in lib/history.html.  You can confirm that by deleting lines 3-5 in lib/history.html, and it even works without your %d -> %s change.  A different way to potentially approach the problem (and depending on what you find, maybe a bigger impact change to make) could be to dig into the history (no pun intended) of the hist

[2020-10-13 01:29] guyjeangilles commented on #3911
Note it looks like this bug is for the absence of an `authors` attribute. There is an author name "unknown" that can properly render it's book page: https://openlibrary.org/books/OL27688877M

[2020-10-13 03:19] nk4456542 commented on #3883
@SouthGoingZax, thank you for your feedback. I will try to solve these based on the above points.

[2020-10-13 07:22] ncorder opened #3913 "[Feature] State Books that are in the Internet Archive as in the OpenLibrary"
### Describe the problem that you'd like solved

Many books are listed on the Internet Archive but not in the OpenLibrary, including many books that are out of copyright of under Creative Commons.

Example:
OpenLibrary: https://openlibrary.org/books/OL30618142M/Plane_Geometry
Internet Archive: https://archive.org/details/euclid-elements-redux_201809/euclid-a4

### Proposal & Constraints

Both syst

[2020-10-13 07:24] ncorder opened #3914 "[Feature] Allow Users to list Book's Copyright"
### Describe the problem that you'd like solved

Many books listed on the Internet Archive are out of copyright or in the public domain.

### Proposal & Constraints

Allow users to list what copyright the books is under ( Creative Commons, All Rights Reserved, Public Domain, ect. )

### Additional context

### Stakeholders

[2020-10-13 10:36] cclauss commented on #3827
Related to #2481 ?

[2020-10-13 17:32] pawanrawat07 opened #3915 "Secret Key Expose in a Github Repo"
Hii
There I found something in a github repo and I want to share with you plz take a look.

Github Repo-
https://github.com/Dparmar006/OpenLib/blob/f09b2073124eaceee7316a4db4eb084901feb5a4/openLib/openLib/settings.py#L23

Secret key that I found-

SECRET_KEY = 'm(a#k1we_1$xlw395+l1auw6=grj3f@76ct3=ue7*qh#fgm1=@'

[2020-10-14 08:59] ArunTeltia opened #3916 "Button Text "Check Availability" overflows"
### Evidence / Screenshot (if possible)

### Relevant URL?
https://openlibrary.org
### Steps to Reproduce

1. Go to https://openlibrary.org
2. Try the website at the width of 1519px

here is the image
![check](https://user-images.githubusercontent.com/43555219/95966211-7cc99b00-0e28-11eb-96f0-d0044145af4b.JPG)

### Details

- **Logged in (Y/N)?** N
- **Browser type/version?** Microsoft Edge
- **Op

[2020-10-14 14:45] Yashs911 commented on #3916
@ArunTeltia before 1199px only 5 books are there in a row and after 1200px its 6 books per row so I guess changing the font-size might help in saving this issue.

[2020-10-14 15:00] Yashs911 opened #3917 "Few books webpage shows error in processing template"
Few books page shows error in processing template. UnboundLocalError: local variable 'val' referenced before assignment

### Evidence / Screenshot (if possible)
![erroropenlibrary](https://user-images.githubusercontent.com/64412143/96006855-8a4c4880-0e5b-11eb-9d3a-c91db4285f55.JPG)

### Relevant url?
https://openlibrary.org/books/OL26079956M/His_Dark_Bond
https://openlibrary.org/books/OL25671368M/

[2020-10-14 15:42] jamesachamp commented on #3917
It looks like this is being caused by a KeyError at https://github.com/internetarchive/openlibrary/blob/05b938d95899067457fab3353752fcf031354f21/openlibrary/plugins/openlibrary/stats.py#L85

These links are not throwing an error in dev.

[2020-10-14 15:48] Yashs911 commented on #3917
@jamesachamp I would like to solve this issue can you please guide me on what changes do I need to make

[2020-10-14 16:55] ArunTeltia commented on #3916
I think the same I want to work on the issue If it's not the problem with you after this get accepted :D
What I think is we have to set the min-width of the button and we can change the media query from 1200 to 1400px for 6 books
Or
we can increase the container width from 80% to 90% it will resolve the issue

[2020-10-14 17:02] jamesachamp commented on #3917
@Yashs911 Unfortunately, I don't know enough about the middleware to give you good advice about this.  You can append `?debug=true` to the end of one of the failing URLs to get information about the error:

https://openlibrary.org/books/OL7574952M/Under_The_Mistletoe?debug=true

[2020-10-14 17:13] Yashs911 commented on #3916
@ArunTeltia If you want you can work on this issue.

[2020-10-14 17:25] Yashs911 commented on #3917
@jamesachamp I guess the word "hit" should be replaced by key because "key" is the only key present in s.data dictionary

![sol](https://user-images.githubusercontent.com/64412143/96023581-4748a000-0e70-11eb-83c1-4038aeb05cc0.JPG)

[2020-10-14 17:37] Yashs911 commented on #3917
@jamesachamp can I create a PR with the proposed changes?

[2020-10-14 22:59] mekarpeles commented on #1283
Sorry for the delay here. Going to followup w/ staff to see how we can take this over the finish line

[2020-10-14 23:20] ArunTeltia opened #3919 "database not loading the data on running the openlibrary with docker"
when i am trying to launch localhost:8080 and In the home page i am getting this error

![error](https://user-images.githubusercontent.com/43555219/96055363-73c8e000-0ea1-11eb-822c-1c2da6754595.JPG)

Here are the logs that I get on opening localhost:8080
[code]
OS: Windows 10
Error at the development side

Stakeholder:
This is a docker issue so I guess
@cdrini

[2020-10-14 23:20] mekarpeles commented on #1283
We're working w/ admin team from Internet Archive to see if we can get the vectorized design into an online store like customink or teespring and then see about discount codes for contributors :)

[2020-10-14 23:41] SouthGoingZax commented on #1283
Sounds good.  What else is needed here?  Do you need a vectorized image with the minor adjustments you made: "(blue OPEN logo, book moved down a bit / little less crowded, and the entire graphic moved up along the chest)"?  What do you want to do for stickers (the places I'm familiar with usually have minimum order sizes that are probably too large for individuals)?

[2020-10-15 00:16] mekarpeles commented on #3883
Error can be experienced here (incognito):
https://dev.openlibrary.org/type/work?debug=true

Note: the problem doesn't occur when logged in as admin (as noted)

openlibrary/templates/lib/history.html is where the problem is occurring.

https://github.com/internetarchive/openlibrary/blob/master/openlibrary/core/models.py#L68-L105 is the definition for the `get_history_preview` function.

It appears

[2020-10-15 00:20] mekarpeles commented on #3883
@nk4456542 try out this solution; changing the top of history.html:

[code]

[2020-10-15 00:56] jamesachamp commented on #3917
I don't think that is going to fix the issue.  **'hit'** should always be set whenever the `stats.end` function is called is `openlibrary/core/cache.py`:

https://github.com/internetarchive/openlibrary/blob/3b34cf8b71d15f61e51da0e83382688bd1a7c37c/openlibrary/core/cache.py#L311-L316

Also, note that each of the failing entries have a start time (`t_start`), but are missing an end time (`t_end`).

[2020-10-15 02:55] ArunTeltia opened #3920 "wrong video link in installation section inREADME.md"
In the installation section of README.md, it opens the link https://archive.org/embed/openlibrary-developer-docs/zoom_0.mp4?autoplay=1&start=2 which is a dead link. What it should open is the link
https://archive.org/embed/openlibrary-developer-docs/

Suggestion: this video is old now, I can create a new video related to setting the development environment, as I recently set up the development env

[2020-10-15 03:08] ArunTeltia commented on #3915
@pawanrawat07  This is not the bug for InternetArchive/openlibrary try adding the issue to the affected [repository](https://github.com/Dparmar006/OpenLib/issues/new)

[2020-10-15 03:14] ArunTeltia commented on #3911
@guyjeangilles we can solve this issue by initializing the author name to be "The author is unknown", This will also resolve the issue

[2020-10-15 09:21] nk4456542 commented on #3883
Thank you for the help @mekarpeles, it is working now, I will submit a PR for this now.

[2020-10-15 13:20] Yashs911 opened #3923 "Category count number not fully visible"
Without padding some part of the count is cut and hence does not look nice.
### Evidence / Screenshot (if possible)
![openlibrary](https://user-images.githubusercontent.com/64412143/96131271-9812d400-0f16-11eb-974b-ab737a3d7fea.JPG)

### Relevant url?
https://openlibrary.org/

### Steps to Reproduce
1. Go to https://openlibrary.org/

### Details

- **Logged in (Y/N)?** N
- **Browser type/version?*

[2020-10-15 14:47] guyjeangilles commented on #3911
@ArunTeltia feel free to make a pull request

[2020-10-15 17:10] cclauss commented on #3827
@mekarpeles and I pair programmed on this one until we discovered and `import sentry` exception being raised on `ol-www1`.  We did a `python2 -m pip install sentry-sdk==0.18.0` on `ol-www1` and re-ran the command `sudo -uwww-data sh -c '/olsystem/bin/verify-node.sh ol-www1 && /olsystem/bin/olenv /opt/openlibrary/openlibrary/scripts/ipstats.py  /opt/openlibrary/olsystem/etc/openlibrary.yml'` to get

[2020-10-15 17:10] #3827 closed

[2020-10-16 01:43] perryjr opened #3924 "openlibrary.org/stats is serving insecure content from graphite.us.archive.org"
charts/graphs on openlibrary.org/stats are not displaying due to what appears to be a javascript error:

`jquery-migrate.js:1 Possible Unhandled Promise Rejection: ReferenceError: insertSteps is not defined
    at graphs.bcd36affe16d84907807.js:7
    at S (graphs.bcd36affe16d84907807.js:7)
    at new o (graphs.bcd36affe16d84907807.js:7)
    at Function.e.plot (graphs.bcd36affe16d84907807.js:7)

[2020-10-16 03:37] SouthGoingZax commented on #2853
Is there anything blocking this at this point?  Is this still a P2?

[2020-10-16 03:43] SouthGoingZax commented on #3089
Can this be closed?  The reported link doesn't alert for me when logged in or out.

[2020-10-16 03:46] #3089 closed

[2020-10-16 04:27] SouthGoingZax commented on #3374
Looking through the community call notes from April, there is just one line about this with (I assume) @guyjeangilles's name mentioned next to it.  Does anyone who attended recall how the discussion concluded?

[2020-10-16 05:22] mekarpeles commented on #3924
@perryjr -- this is very timely, I was talking to @jamesachamp about this issue today. **Thank you** for creating an issue and providing so much description.

I think you're right that we may be conflating 2 issues here -- because on the bottom of the homepage, I don't believe we're making any calls to graphite and yet the graphs at the bottom of the homepage seem not to render.

@jdlrobson is thi

[2020-10-16 05:24] mekarpeles commented on #3923
@Yashs911 are you willing to take this one on? :)

[2020-10-16 05:25] mekarpeles commented on #3919
@cclauss or @cdrini can you please decide who should own this issue and see if we can unblock @ArunTeltia? Thank you!

[2020-10-16 05:28] Yashs911 commented on #3923
@mekarpeles Yes, I guess adding padding-bottom: 1px; will fix the issue

[2020-10-16 05:29] #3920 closed

[2020-10-16 05:32] #988 closed

[2020-10-16 05:36] mekarpeles commented on #3913
Duplicate of #732 -- this issue needs to be more specific in terms of the scope of the problem (e.g. and Archive.org search query which produces all items which should be imported into OpenLibrary.org) and the desired solution (e.g .a bot running once a month?).

Otherwise, this issue is always going to be true (i.e. drift between archive.org / openlibrary.org) and the issue is unactionable.

@nco

[2020-10-16 05:36] #3913 closed

[2020-10-16 05:43] mekarpeles commented on #3917
@Yashs911 I think this issue has been solved on dev.openlibrary.org -- as @jamesachamp suggests:

https://dev.openlibrary.org/books/OL26079956M/His_Dark_Bond?debug=true

We should be able to close this after we do our next deploy (which is blocked by a fix by @cclauss)

[2020-10-16 05:45] mekarpeles commented on #3917
@jamesachamp I'm setting you as the lead (if that's okay) -- in the future, when we check the issues we're lead on, can you close this after following up w/ @cclauss next week to confirm the issue is resolved on production after we deploy? Thanks both of you!

[2020-10-16 05:47] mekarpeles commented on #3916
Thank you @ArunTeltia and @Yashs911 -- there are plenty of issue!

Since @ArunTeltia opened this one, I'd love to give them a chance to submit a PR for the solution. I'm noticing you commenting on other issues, @Yashs911 and am happy to help you find a good one and work with you to get a PR approved!

[2020-10-16 05:51] mekarpeles commented on #3916
@jamesachamp, @cdrini, @jdlrobson, & @koderjoker should all be able to offer feedback on the approach or PR :)

I'm tagging @jamesachamp as I believe they will be a great point-person / mentor for this issue.

Jim, if you decide you'd rather not be lead, please let me know and I'll be super happy to jump in :)

[2020-10-16 05:53] mekarpeles commented on #3915
Thank you @ArunTeltia!

I'm going to close this issue as it applies to a different project.

[2020-10-16 05:53] #3915 closed

[2020-10-16 06:06] mekarpeles commented on #3924
One thing we may want to test is changing these urls to `http` to see if that resolves some of our issues (or we can possibly proxy them through Open Library and request.get() them.

[2020-10-16 06:07] mekarpeles commented on #3919
@cclauss tagging you for now and making @cdrini the lead (in case he decides / or you need him to take over)

[2020-10-16 06:08] mekarpeles commented on #3893
Demo went great! There are still steps for Oct 27th, but considering this issue closed. We can touch on next steps during next Thu 1:1

[2020-10-16 06:08] #3893 closed

[2020-10-16 06:13] mekarpeles commented on #3887
Also, this issue is not complete until we also change the metadata on the archive.org items (in petabox) so they don't redrow.

[code]

@traceypooh saves the day...

https://git.archive.org/ia/petabox/-/blob/master/www/common/Donate/BookSponsorship.inc#L43-60 e.g. https://catalogd.archive.org/log/1942435731. Somehow contributor","value":["","Internet Archive"]} is an array?

(been awhile since i b

[2020-10-16 06:16] mekarpeles commented on #3575
Considering this done for now -- we could still use help on signage for Oct 27, but the aesthetic is good to move to production / beta on openlibrary.org/explore

[2020-10-16 06:16] #3575 closed

[2020-10-16 06:18] mekarpeles commented on #3886
This should be good.

[2020-10-16 06:18] #3886 closed

[2020-10-16 06:24] mekarpeles commented on #3890
There's a few amazon titles which may need to be included here:

* Gateway to the Gods (Everworld #7) , Applegate, Katherine $28.85
* The End of Ownership: Personal Property in the Digital Economy (Information Society Series) , Perzanowski, Aaron $14.12
* Lord Endicott's Appetite , Fairchild, Elisabeth $18.43
* Adiós muchachos: Una memoria de la revolucion sandinista (Spanish Edition) , Ramírez, S

[2020-10-16 06:29] mekarpeles commented on #3890
All seem to be accounted for other than "The End of Ownership". Closing. Hopefully all digitized in SF rather than sent to Cebu

[2020-10-16 06:29] #3890 closed

[2020-10-16 06:45] BrittanyBunk commented on #3374
It got unresolved, because I had to leave, already being late to something. They said that the questions section is already the community discussion. If I were to finish the discussion, I would've mentioned to just change 'ask a question' to 'questions/community discussion'. Problem solved.

[2020-10-16 07:10] Yashs911 commented on #3920
@ArunTeltia I am unable to set up the environment can you please help me. I have installed docker

[2020-10-16 07:21] ArunTeltia commented on #3920
@Yashs911 yes will be happy to help but there are some errors right now in setting up with docker
The database is showing error check this #3919
I have reported It for now

BTW tell me where are you stuck you can mail me at teltia.arun18@gmail.com
I will try my best to help :D

[2020-10-16 07:54] ArunTeltia commented on #3911
@guyjeangilles I try to find the Author model but I am getting some problems like where to find it, can you help me in locating the file

[2020-10-16 16:16] SouthGoingZax commented on #832
FWIW, I was able to reproduce this.

[2020-10-16 18:18] SouthGoingZax opened #3926 "'maximum recursion depth exceeded' on /people/304vn"
Fixed in internetarchive/infogami#189

https://openlibrary.org/people/304vn returns:

``/opt/openlibrary/deploys/openlibrary/68474f6/openlibrary/templates/type/user/view.html: error in processing template: RuntimeError: maximum recursion depth exceeded (falling back to default template)``

https://openlibrary.org/people/304vn?&debug=true returns:

``<type 'exceptions.RuntimeError'> at /people/304v

[2020-10-16 19:41] jamesachamp commented on #3916
I'm happy to help!

I think that changing the font size of the cta buttons will cause the visual style of some components to be inconsistent.  For example, if we lower the font size of all cta buttons, it makes the text in the dropper on a book page look a bit too large:
![all_font_change](https://user-images.githubusercontent.com/28732543/96301298-f72f2200-0fc4-11eb-8669-a6369e55a48e.png)

Changi

[2020-10-16 19:50] jamesachamp commented on #3917
@mekarpeles I'm fine with being a lead, but I'm don't think that I have the proper permissions to close issues (or maybe I just need a tutorial :smiley:).
More importantly, is memcache cleared on deployment?  If so, testing these URLs after deployment may lead to a false positive.

[2020-10-16 19:55] ArunTeltia commented on #3916
Yes that will be better we can make a media query for 1500px such that it will show 6 books in a row and for 1200px to 1500px 5 books will be suffice
I also gave an idea of making the container(test-body-mobile) bigger, I think that can also be considered

As shown in picture we can create a container this big
![container](https://user-images.githubusercontent.com/43555219/96303010-574eb400-1017-1

[2020-10-16 21:36] cclauss commented on #3919
I will try to Zoom with @ArunTeltia and see how this is set up.  `site is None` makes it difficult to do anything...

[2020-10-16 21:40] ArunTeltia commented on #3919
okay you can tell me when you want to do zoom meeting sir @cclauss

[2020-10-16 22:26] mekarpeles opened #3927 "Sponsorship Barcode Creator: Convert ISBN10 -> 13"
I don't believe our sponsorship barcode UI converts ISBN10 requests to ISBN13
https://8882k.codesandbox.io/#isbns=

Eliza frequently looks up books by barcode (and often times the barcode is the ISBN10.

The solution may be fairly easy -- presumably we just need to append `978` ~ Line 48 (`iaRecord` in `asyncComputed`) in https://codesandbox.io/s/8882k?file=/src/components/SponsorBookSlip.vue

[2020-10-16 22:27] cclauss opened #3928 "#3908 committed an update of vendor/infogami to master"
### Evidence / Screenshot (if possible)

This is important to revert.

https://github.com/internetarchive/openlibrary/pull/3908/files and scroll to the bottom.

I discovered this while investigating #3902 but I do not believe that the two are related.

#3642 and #3885 were my attempts to put a block in place to prevent this but they do seem to be a solution.

### Relevant url?

### Steps to Reprod

[2020-10-17 00:03] #3883 closed

[2020-10-17 00:52] ArunTeltia commented on #3826
we just need to add this piece of code to the HTML page
I simply copy-pasted this from the signup
[code]
Suggestion: We can create an element for ReCaptcha and can include in log in sign up and here
@cdrini  can you please give me suggestion I want to work on this issue

[2020-10-17 00:57] jamesachamp commented on #3927
The last digit is a checksum, and will likely be different between ISBN10 and ISBN13 numbers.

[2020-10-17 01:15] SouthGoingZax commented on #3883
Just to connect some dots, it looks like #40 is a long-standing bug about history_v2 and why it's not enabled yet.

[2020-10-17 07:24] ArunTeltia commented on #3919
@cclauss sir i rebased my forked repo now when I docker-compose build and docker-compose up
The log is showing this and the local environment is not setting up (not able to reach the page)
[code]

[2020-10-17 09:37] Yashs911 commented on #3923
@mekarpeles How can I change the docker image drive from C to D as I have less space on C drive? I am currently using Windows 10 Home.

[2020-10-17 13:43] seabelis opened #3930 "Edit to a work record is recorded on edition's history"
When a work is edited the change is saved to an edition's history. This can be confusing when viewing a record's history. Note, it seems to affect only one edition if there are multiple associated with the work.

### Evidence / Screenshot (if possible)

### Relevant url?
I changed the title of the work, not the edition, however it is displayed in the edition's history. https://openlibrary.org/book

[2020-10-17 15:48] tfmorris commented on #3930
I don't know about the general issue, but that specific example looks fine to me.

The edit comment is "Moved edition to primary work." and, indeed, the parent work on the edition record changed from `/works/OL679303W` to `/works/OL679304W`

[2020-10-17 23:29] SouthGoingZax commented on #3695
@aasifkhan7 you can import items by using the script outlined here:  https://github.com/internetarchive/openlibrary/wiki/Getting-Started#importing-test-data

It looks like the problem is that the author of the work, which you can find by looking at the json output for this work (https://openlibrary.org/works/OL17364096W.json), has no name.  You can see that by looking at the json output for the au

[2020-10-17 23:42] SouthGoingZax commented on #3695
It also looks like there is more code that assumes every author entity has a name.  For example, searching for this same book's title results in a broken search page:  https://openlibrary.org/search?q=title%3A+%22Hikayat+Iskandar+Zulkarnain%22&mode=everything&debug=true

And the edit template too:  https://openlibrary.org/works/OL17364096W/Hikayat_Iskandar_Zulkarnain/edit?debug=true

In addition t

[2020-10-18 01:23] jdlrobson commented on #3924
The mixed content is not why the graphs are not showing. There is a very obvious JS error inside the vendor JS which will not run in strict mode. ReferenceError: assignment to undeclared variable insertSteps. Looking at the code there is no variable declaration but the file hasn't been touched since 2011 so this has been broken for some time.

Did you recently merge a patch that started loaded `jq

[2020-10-18 01:26] jdlrobson commented on #3924
graphite.us.archive.org/ doesn't support https. That needs to be fixed first by installing the right certificates etc. You'll need to talk to someone in ops.

[2020-10-18 04:52] Yashs911 commented on #3923
@mekarpeles after building docker images when I run docker-compose up its shows this error and localhost:8080 says site can't be reached.
![erroropenlibrary](https://user-images.githubusercontent.com/64412143/96359038-a5ed7280-112b-11eb-9dda-da9f9739ff34.JPG)

[2020-10-18 05:01] ArunTeltia commented on #3923
@Yashs911 I will suggest you to join the Internet archive Gitter channel, here you can ask your queries
[Link to the gitter channel](https://gitter.im/theopenlibrary/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

[2020-10-18 06:48] cclauss commented on #3902
This exception is raised when pip is <= 1.3.0...
[code]

[2020-10-18 09:46] seabelis commented on #3930
Sorry, I made an additional edit after creating this issue and should have updated for clarity. Edit #12 "Restored original title on this record" was a change to the work that this edition was previously associated with. https://openlibrary.org/books/OL8645261M/Sandman?_compare=Compare&b=12&a=11&m=diff

[2020-10-18 16:49] ArunTeltia commented on #3919
@cclauss and i did a bit of pair programming and after rebuilding the docker container and docker-compose up it started without errors :D

[2020-10-18 16:49] #3919 closed

[2020-10-18 19:23] SouthGoingZax commented on #2649
I can't reproduce this.  I can set, change, and clear ratings in my dev environment.  @cdrini can you still reproduce this?

[2020-10-19 05:25] mekarpeles commented on #3818
It was determined (for the time being) that the cache should be disabled (since Internet Archive Elastic Search query logic is already cached on Open Library (we were double dipping). At very least, this should be lowered to something reasonable like 10 minutes instead of half a day (as cache was filling up ram).

A second problem (which we now know -- now that cache is eliminated as a problem --

[2020-10-19 05:28] mekarpeles commented on #3695
My thoughts:
I think it's both -- but I think it starts with the principle "no dead ends".
The system should not break if a field is missing. Next we should make sure the system can't create new edge cases. Finally, we should retroactively fix the data (preferably as/when other bot updates are occurring on the same record)

[2020-10-19 17:12] mekarpeles commented on #3902
Many changes in this PR use `requests` which I thought may be a smoking-gun. We attempted to (in virtualenv on ol-covers1) upgrade to the version pinned in requirements.txt and we got a message about `requests` upgrade resulting in `six` upgrades that may be incompatible with `sixpack-client`. So, we upgraded `sixpack-client` and then `requests`, updated our `openlibrary` symlinks and then restart

[2020-10-19 17:12] #3902 closed

[2020-10-19 18:27] mekarpeles commented on #3818
@shaneriley reports:

[2020-10-19 18:37] #3923 closed

[2020-10-19 18:46] #3904 closed

[2020-10-19 19:42] mekarpeles commented on #3818
[code]

This is the solution to the cache issue which needs to get merged today

[2020-10-19 20:03] mekarpeles commented on #3926
This specific user profile was filled with spam (we blocked the account + reverted)
https://openlibrary.org/people/304vn.json?v=2

We should keep this open, though and figure out why the recursion problem was happening
may be related to markdown

[2020-10-19 20:52] cdrini commented on #3924
Note: These images are full not-displaying on Chrome, but are displayed (with a little warning) on FF.

[2020-10-19 20:55] cdrini opened #3940 "Graphs not showing (JS error)"
The graphs on the homepage and /stats are not displayed; the numbers are in the HTML, but not showing up. Getting the JS error: `Possible Unhandled Promise Rejection: ReferenceError: assignment to undeclared variable insertSteps` in `https://openlibrary.org/static/build/graphs.bcd36affe16d84907807.js:7`

### Evidence / Screenshot (if possible)
![image](https://user-images.githubusercontent.com/625

[2020-10-19 20:57] cdrini opened #3941 "openlibrary.org/stats VERY slow"
The page takes ~1min to load!

### Relevant url?
- https://openlibrary.org/stats

### Details

- **Logged in (Y/N)?** Y
- **Browser type/version?** FF81
- **Operating system?** Win10
- **Environment (prod/dev/local)?** prod

### Proposal & Constraints

### Related files

### Stakeholders
@mekarpeles @cclauss

[2020-10-19 20:57] cdrini commented on #3941
@mekarpeles : "@cclauss and I ran several cron job tasks to get our stats + userviews up to day. I wonder if we accidentally imported e.g. stats from ol-home instead of ol-web1? Or something similar which could have exploded the stats table to be too large?"

[2020-10-19 20:59] cdrini commented on #3941
Here is the top of the profile log: (See the full one at https://openlibrary.org/stats?_profile=true (note: it's slow :) ))

[code]

[2020-10-19 21:11] #668 closed

[2020-10-19 21:26] #3877 closed

[2020-10-19 21:29] cdrini commented on #3928
It looks like this was already done by another PR! :)

[2020-10-19 21:29] #3928 closed

[2020-10-19 21:34] jdlrobson commented on #3924
Yes I noted this in https://github.com/internetarchive/openlibrary/pull/3933#issuecomment-711103143

It's arguably worse to load http over https but this is a security trade off.

[2020-10-19 21:43] cdrini commented on #3916
I agree with @jdlrobson that reducing the markup seems like a viable option; Changing it to "Check" sounds good to me :+1:

Make sure to do a search throughout the codebase for "Check Availability"; we'll have to make updates to the i18n files as well.

[2020-10-19 21:52] #3813 closed

[2020-10-19 22:21] jamesachamp commented on #3186
This can be closed.  Duplicate issue #3225 was opened about a week after this issue, and was closed by PR #3244. Subsequent improvements were made, and the buttons look like this today:

![updated_buttons](https://user-images.githubusercontent.com/28732543/96517995-e5a18080-1237-11eb-9c40-54dc8dfca233.png)

[2020-10-20 01:00] mekarpeles commented on #3782
I believe this should now be solved as we no longer are caching RelatedWorksCarousel.

[2020-10-20 01:45] jamesachamp commented on #3917
I can see that each of the pages listed in this issue are now rendering properly, so I'm assuming that this is now resolved.
@cclauss Could you confirm my assumption when you have the time?  Thanks so much!

[2020-10-20 02:11] mekarpeles commented on #3782
Re-opening, looks like the presumed fix didn't wokr

[2020-10-20 02:31] mekarpeles commented on #3782
I see `stats_hook` in `openlibrary/plugins/openlibrary/stats.py` which increments stats to memcache for hits and misses and `create_stats_client` which sets up the graphite connection using `pystatsd.Client`

[2020-10-20 02:32] mekarpeles commented on #3782
It looks like we can sample per event which is what we seem to want to do:
https://statsd.readthedocs.io/en/v3.2.1/types.html

From the docs:
`rate` is a float between 0 and 1:

[code]

[2020-10-20 09:01] cclauss opened #3945 "Python 3: TypeError: argument of type 'Redirect' is not iterable"
Fixed by https://github.com/internetarchive/infogami/pull/122

### Evidence / Screenshot (if possible)
[code]
https://github.com/internetarchive/infogami/blob/master/infogami/utils/delegate.py#L71

### Relevant url?

### Steps to Reproduce

1. Go to http://staging.openlibrary.org/?debug=true or http://localhost:8080/?debug=true
2. Click `Internet Archive` icon at the top left of the page
3. Click

[2020-10-20 18:29] mekarpeles commented on #791
Related issues:
#2190, #871 , #1855 , #1040, #865, #872 , #988 , #973 , #2353, #2417, #1146 , #2607 . #151 is tangentially related

[2020-10-20 21:58] cdrini commented on #3927
I'm using a JS library called `isbn3`; also using it in the Merge UI. Handles all those details :+1:

This should be good to go, @mekarpeles !

[2020-10-20 21:58] #3927 closed

[2020-10-20 23:58] #3046 closed

[2020-10-21 15:32] cclauss commented on #3808
Fixed in #3931

[2020-10-21 15:32] #3808 closed

[2020-10-21 17:42] cclauss opened #3948 "requests.exceptions.MissingSchema in core/lending.py"
### Evidence / Screenshot (if possible)

https://sentry.archive.org/sentry/ol-web/issues/5654/?query=is%3Aunresolved

web_1        | 2020-10-21 17:34:54 [134] [openlibrary.core.lending] [ERROR] compose_ia_url failed!
web_1        | 2020-10-21 17:34:54 [134] [openlibrary.core.lending] [ERROR] compose_ia_url failed!
web_1        | 2020-10-21 17:34:54 [134] [openlibrary.core.lending] [ERROR] get_avai

[2020-10-21 17:47] cclauss commented on #2819
Python 3:
[code]

[2020-10-22 05:28] anirbansaha782 commented on #3926
I want to take up this issue.
As I am new to this  contribution can to you guide me through where to look up for this issue. I am unable to locate the file markdown.py.
Thanks in advance

[2020-10-22 05:51] ArunTeltia commented on #3296
Is there an api/query for most searched authors or most popular authors this month so that we can get data of authors?
If not we can hardcode our suggestion under the search option with an option "Famous Authors" or "Popular Author" with a famous author of all the 12 genre
I am thinking of creating a card in which there will be data as follow

[code]

We can use a carousel as well but I think this

[2020-10-22 09:10] nk4456542 commented on #3231
@tabshaik, I would like to work on this, can you please tell me, Is `openlibrary/macros/SearchResultsWork.html` this the file where we need to add the Person schema

https://github.com/internetarchive/openlibrary/blob/1e31269adcc7118642e591e9dcfc04f400bdf658/openlibrary/macros/SearchResultsWork.html#L40

Can you please confirm If am moving in the right direction, is this the line where we need to

[2020-10-22 19:39] mekarpeles opened #3952 "2021 Roadmap"
We should meet on November ~9th~ 16th (after the November 1st milestone planning) to sync as staff about 2021 Open Library Roadmap objectives, metrics, etc.

- [x] Deliverable is a 1st draft of a 2021 roadmap: https://docs.google.com/document/d/1U2zolE0q_H4ydO4ss4RvD9Tv-DJpNMs4T9k8Qxef20A
- [ ] **Due Jan 15** Internal stakeholder version (for Brewster and friends): https://docs.google.com/document

[2020-10-22 20:09] SouthGoingZax commented on #3824
I think this was resolved by #3922 and can be closed.

[2020-10-22 20:31] SouthGoingZax commented on #3926
Take a look at the "Prerequisites & Troubleshooting" section of https://github.com/internetarchive/openlibrary/blob/master/docker/README.md.  It looks like markdown.py is in the Git submodule called infogami, which I guess you might not get if you git clone the repository via https.

[2020-10-22 22:00] jamesachamp commented on #3296
I think that the card idea may be best for now.  It's probably best to use the data that we can currently get for authors today for the card.  Be mindful that some attributes may not exist for an author.  You can look at the template for the [author search results](https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/search/authors.html) as an example of how this is han

[2020-10-23 10:55] ArunTeltia commented on #3296
Okay so i am starting creating a card and for now I will hardcode the information

[2020-10-23 12:15] ArunTeltia commented on #3296
@jamesachamp please check this

![authors](https://user-images.githubusercontent.com/43555219/97001721-7b9a1b80-1556-11eb-868c-252f3ff29660.JPG)

For now, I have hardcoded all the data
I was thinking of creating a JSON file in which there are 12 famous authors and by that JSON we can create the component
This can be a temporary add on till there is no API or query for most famous authors
What's yo

[2020-10-23 20:42] JeffKaplan opened #3954 "Provide way to specify the main edition displayed on the works page and the author page"
example:
https://openlibrary.org/authors/OL520133A/Ishwar_Sharan
1. would like to force the most recent edition that is available to read
2. The "Not in Library" button should be "Read"
<img width="604" alt="Screen Shot 2020-10-23 at 1 41 50 PM" src="https://user-images.githubusercontent.com/1075249/97052281-8db79200-1535-11eb-806c-7db2f2c906a0.png">

[2020-10-24 02:46] SouthGoingZax commented on #3940
Same error, file, and line as #3924, so this might be a dupe.

[2020-10-24 02:49] SouthGoingZax commented on #3941
@cdrini can you still reproduce this?  I just loaded it 6 times, and each time it loaded in under 1 second (not sure what might be cached).

[2020-10-24 03:02] SouthGoingZax commented on #3724
The performance here seems much better.  Fixed by solr -> SSD?

[2020-10-24 03:31] SouthGoingZax commented on #3376
It looks like all those issues are closed.  Can this be closed?

[2020-10-24 04:58] jamesachamp commented on #3296
I'm not sure how well this would work for authors that have longer names.  Also, the amount of data returned for any given author will vary greatly.  It may look odd if a card with a lot of details is next to a card with few details.  Maybe a single column of wide cards would be better?
I'm not quite sure what to tell you about where to source the data.  If it is hard-coded, I think that the list

[2020-10-24 05:12] ArunTeltia commented on #3296
For the details, we can show data up to 100 words and append "..." or "read more" and then make the card clickable that will lead to author profiles
and for the author name, we can make "font-size:100%" and 300 px width of one card(Right now in the image it is 200px)
And for the data, I was looking for creating an API yesterday and right now as well, I don't know if there is any query which tells

[2020-10-24 06:53] tabshaikh commented on #3231
Hi @nk4456542 Schema should be added in this file https://github.com/internetarchive/openlibrary/blob/master/openlibrary/templates/type/author/view.html
The schema tags mentioned in this message would suffice https://github.com/internetarchive/openlibrary/issues/3231#issuecomment-602078002 You could also propose additional schemas which are relevant to our content and you could use this site as yo

[2020-10-24 07:23] nk4456542 commented on #3231
Thank you @tabshaikh. Will start working on this

[2020-10-24 09:28] tabshaikh commented on #3376
Closing it Thank you as I do not feel strongly about any of the above-proposed changes

[2020-10-24 09:28] #3376 closed

[2020-10-24 14:20] SouthGoingZax commented on #3170
If by prices you are talking about the Amazon and BWB prices, then they are enabled now.  Is this still a problem?

[2020-10-24 17:36] #3945 closed

[2020-10-25 09:55] Yashs911 opened #3956 "Browse by Subject count missing and link not working"
Count for each subject is missing and when I click on them it throws an error
### Evidence / Screenshot (if possible)
![error2](https://user-images.githubusercontent.com/64412143/97103971-035a6400-16d6-11eb-897f-b8dd96342ad4.JPG)

![error](https://user-images.githubusercontent.com/64412143/97103973-08b7ae80-16d6-11eb-974a-648440812c7b.JPG)

### Relevant url?

https://openlibrary.org/
https://openl

[2020-10-25 10:05] PriyavKaneria commented on #796
I would like to work on this issue. Please assign this to me.

[2020-10-25 15:17] #3956 closed

[2020-10-25 16:40] SouthGoingZax commented on #1845
This looks like the same root cause that breaks several other things on the site (a few more are listed in #3695), which is an assumption that all author entities will have a 'name' field.  It seems like we should re-scope one of these issues to include a checklist of places where that assumption is made so someone can work through them all and then close the other issue as a dupe of the larger on

[2020-10-26 12:41] cclauss commented on #2798
Could we please get an update on this issue?

[2020-10-26 12:52] cclauss opened #3958 "Fix YAML Load Warnings in three files"
Current versions of [PyYAML](https://github.com/yaml/pyyaml) want to see a Loader parameter on calls to `yaml.load()`.  Please modify these files to ensure that pytest does not raise warnings.  Hint: Investigate `safe_load()`.  On the instances in `test_update_work.py`, it would be helpful if the file was closed when we were done reading it.

### Evidence / Screenshot (if possible)

pytest generat

[2020-10-26 14:21] Purhan commented on #3958
Hey, can I take up this issue? This would be my first time contributing to OpenLibrary.

[2020-10-26 14:34] cclauss commented on #3958
Go ahead and submit a PR.

[2020-10-26 16:31] mekarpeles opened #3959 "Anomalous outage 2020-10-26 (ol-www1, ol-web3, ol-web4)"
### Summary

Email alerts of outage for ol-web3, ol-web4, and then ol-www1 occurred ~8:30am.

Downtime lasted for around 45 minutes.

- **What is wrong?**

Site was down, Sorry page was displayed

- **What caused it?**

Unclear

- **What fixed it?**

Resolved itself. Last things we did were (1) restarted `ol-www1` which didn't seem to have an effect and then (2) ran the following to test ol-dev0 a

[2020-10-26 17:08] cdrini opened #3960 "Outage 2020-10-25"
### Summary

- **What is wrong?** Searching and other solr-related things not working. High error logs
- **What caused it?** A power outage at our servers, coupled with solr not auto-restarting
- **What fixed it?** Manually restarting solr on ol-solr0 and ol-solr1: `sudo ENV=prod docker-compose up -d --no-deps solr`
- **Followup actions:**
    - [ ] Add `restart: always` to `docker-compose.yml` fo

[2020-10-26 17:12] cdrini commented on #3960
Note the power outage was 2020-10-25 02:50 UTC - 2020-10-25 04:00 UTC (1h50); solr was down 2020-10-25 04:00 UTC - 2020-10-25 15:00 UTC (11h), for a total down time of ~13h.

![image](https://user-images.githubusercontent.com/6251786/97204539-95bd3f00-178c-11eb-80b4-b843624ebfcd.png)

[2020-10-26 17:15] #3960 closed

[2020-10-27 07:12] Yashs911 commented on #3483
@cclauss I would like to remove unused imports from other files as well. So should I first create a PR for unused Python standard library imports?

[2020-10-27 07:35] cclauss commented on #3483
I thought that #3909 was that PR.

[2020-10-27 07:41] Yashs911 commented on #3483
@cclauss I mean for other files (files after openlibrary/core/waitinglist.py).

[2020-10-27 08:59] cclauss commented on #3483
OK.  Please creating more PRs that only remove Python standard library imports.  Once those are all landed, we can look at PRs for other imports.

[2020-10-27 11:36] Yashs911 commented on #2234
@jdlrobson Can you please guide me regarding what all changes do I need to make.

[2020-10-27 23:07] perryjr commented on #3940
I have not yet done any extensive testing but, so far, it looks like upgrading flot to the latest version has resolved this error.  I can't yet confirm the upgrade didn't break a thousand other things ...  I'm new to the codebase and project in general so I'm really not sure what all pages might be affected by this change. Any tips there would be appreciated.

[2020-10-27 23:27] guyjeangilles commented on #2234
@Yashs911 I'm not sure where the file is. Ask on slack and if you're not in the channel ask on gitter.

[2020-10-28 14:58] SouthGoingZax commented on #3341
That PR is closed now.  This looks like a subset (and thus dupe) of #2864 (see the last comment for a larger set of parameters to exclude).

[2020-10-28 15:49] #3958 closed

[2020-10-28 16:04] cclauss opened #3967 "BookImportError: Too Many Requests on amazon.com/paapi5/getitems"
How can we avoid being rate limited on Amazon paapi5 requests?

#4220

httplib | POST https://webservices.amazon.com/paapi5/getitems [429]
-- | --
reason | Too Many Requests

### Evidence / Screenshot (if possible)

### Relevant url?

### Steps to Reproduce

1. Go to ...
2. Do ...

* Actual:
* Expected:

### Details

- **Logged in (Y/N)?**
- **Browser type/version?**
- **Operating system?**
- **En

[2020-10-28 18:08] Yashs911 commented on #3483
@cclauss As #3965 is merged should I remove other unused imports and commit them 2 files at a time?

[2020-10-29 02:19] jamesachamp commented on #3296
There may be some data issues with a query that returns authors with the most books published.  For example, I think that all works with unknown authors are attributed to an author named "Unknown".  I suspect that this would show up in the results, creating an undesirable experience for patrons.
I did just put together a function that will return a JSON string containing a given number of authors,

[2020-10-29 16:07] #3948 closed

[2020-10-29 16:24] cdrini commented on #3687
Let's try testing this on staging.openlibrary.org to see if it's a blocker for adding web1 to the cluster.

[2020-10-29 22:18] cdrini opened #3971 "Move solrbuilder from OJF onto own server"
OJF is getting bogged down, and since this is an essential openlibrary process, let's put it on our own infra.

## Stakeholders
@mekarpeles

[2020-10-30 10:39] codetochangeMinds commented on #686
I want to contribute to open library project and looking to be a part of this community. I have done a handful of projects using python and javascript. Till now I have gone through the readme, wiki page and done with the docker installation. I am interested to contribute and would like to join slack channel.

[2020-10-30 12:27] mahi0601 opened #3975 "modify the navbar in the homepage"
### Describe the problem that you'd like solved

### Proposal & Constraints

### Additional context

### Stakeholders

[2020-10-30 12:35] MatthiasWinkelmann commented on #3795
Thanks for investing the work!

The term is arguably just not very fitting in this case, anyway. As to alternatives: _canonical_ might fit if I understand it correctly, with maybe _duplicate_ on the other side? That, in turn, would suggest _original_, but the term implies a chronological ordering that may not always be true.

Parent/Child strikes me as slightly odd, because a merger happens with i

[2020-10-30 14:16] ArunTeltia commented on #3940
As perryjr said, I tried to upgrade jquery-migrate at /vendor/js/jquery-migrate in the folder, and the warning was removed from the development environment

[2020-10-30 16:55] cdrini commented on #3785
This was fixed (and is no longer really necessary since we're switching to the iframe).

[2020-10-30 16:55] #3785 closed

[2020-10-30 16:56] cdrini commented on #3892
Updating to Oct; there was a bug in solrbuilder that prevented the Sep one from happening.

[2020-10-30 16:57] cdrini opened #3978 "Solrbuilder workers failing partway"
Solrbuilder getting stuck partway during full reindex process.

### Details

NA

### Proposal & Constraints

### Related files

### Stakeholders

[2020-10-30 18:03] cdrini commented on #3318
See slides posted at #3891

[2020-10-30 18:03] #3318 closed

[2020-10-30 18:14] cdrini opened #3979 "Test donation flow"
Meet with Jenica and Jason.

Note: they're planning to test Nov 10th.

[2020-10-30 18:15] cdrini opened #3980 "Restarting BWB Imports through October"

[2020-10-30 18:17] cdrini opened #3981 "Purchasing sponsorship books through October"

[2020-10-30 18:19] cdrini opened #3982 "Index all StandardEbooks imports w/ link to read books"
Standardebooks folks want to import their collection into OL as editions with links that go to standardebooks. @mekarpeles is providing support.

Needs:
- [ ] Data set of all standard ebooks books.
- [ ] Import each as a new edition
- [ ] Way to detect which work to attach new edition to

[2020-10-30 18:31] cdrini commented on #2913
This was completed! You can now search for classifications on prod: https://openlibrary.org/search/howto#classifications

[2020-10-30 18:31] #2913 closed

[2020-10-30 18:33] cdrini opened #3983 "Release v1 Library Explorer to prod"

[2020-10-30 18:37] cdrini opened #3984 "Refresh volunteer menu"
Want: A document that lists different roles and different projects. Communicate with leads to find which tasks are "important" / which projects are currently in flight.

https://docs.google.com/document/u/1/d/1CgWXIsyn_kTZ_6n3n_zfSDuglj1yLUjVtg1EjL0Bf6E/edit#heading=h.gzsl3sqg0r51 used to be this, but is now out-of-date.

[2020-10-30 18:40] cdrini opened #3985 "MVP for thebestbookon"
_(note this is issue is mainly for keeping our milestone complete; not entirely related to OL folks)._

https://github.com/Open-Book-Genome-Project/TheBestBookOn.com is getting close to getting an MVP ready!

MVP means:
- [x] Can submit recommendations
- [x] Can view recommendations

[2020-10-30 18:42] cdrini opened #3986 "Book Genome Project: Run on "Staff Picks" collection"
_(note this is issue is mainly for keeping our milestone complete; not entirely related to OL folks)._

https://github.com/Open-Book-Genome-Project/sequencer

CC @finnless

[2020-10-30 18:44] cdrini opened #3987 "Blog posts (2): Literacy, Sponsorship"
Publish/review Nick's blog posts

[2020-10-30 18:45] cdrini opened #3988 "Library Explorer Blog Post"
Subtask of #3576

Review/publish Nick's blog post on Library Explorer.

See also: #3987